[2020-03-11 13:01] tirumaraiselvan commented on #2468
Just FYI, you can choose the JSONPath in the result by using the `path` argument as shown in the reference here: https://hasura.io/docs/1.0/graphql/manual/api-reference/graphql-api/query.html#simple-object

I am changing the title to reflect the feature request more precisely.

[2020-03-11 13:25] #1739 closed

[2020-03-11 14:01] beerose commented on #3748
Solved in this PR: https://github.com/hasura/graphql-engine/pull/3810

[2020-03-11 14:04] tirumaraiselvan commented on #3802
Using the `sample.sql.txt` attached in the first comment, I also tried to do a bulk track which also took a very long time.

This script generates a bulk query: [track.js.txt](https://github.com/hasura/graphql-engine/files/4318647/track.js.txt)

What I noticed was that Postgres was at max capacity for the entirety of the bulk query, it seemed odd because I would have expected about 100 queries (fo

[2020-03-11 16:09] indatawetrust commented on #2576
@marionschleifer @0x777 @emahuni @beepsoft

I think I found the cause of the error. In the same request, I see the following logs where I send "x-hasura-admin-secret" and "Authorization" together.

![img](https://i.imgur.com/u22X8xh.png)

and I get an error.

![Imgur](https://imgur.com/nU6tUqx.png)

I only see the following logs when I send "Authorization" value in the same request.

![Imgur](http

[2020-03-11 17:16] tirumaraiselvan commented on #4077
@mrmurphy Ah, got it. We will look into it.

I would also recommend to upgrade to latest stable if possible.

[2020-03-11 17:33] mrmurphy commented on #4077
Ah sorry, I forgot to mention that as well. As part of the debugging process we upgraded to 1.1.0 and had the same issue
On Mar 11, 2020, 11:16 AM -0600, Tirumarai Selvan <notifications@github.com>, wrote:

[2020-03-11 17:34] paf31 commented on #4015
Here's a brief summary of the points in that PR:

- We want to treat batched operations as if they are equivalent to the same set of operations run separately, and that is how we'll give meaning to batched queries.
- One question is, should we treat the separate operations as if they were run sequentially or in parallel? There can't be any dependencies between the operations (that is, operations c

[2020-03-11 18:17] tafelito commented on #2047
Awesome thanks @coco98!

what about returning a single row for custom functions, instead of an array? I tried to find a related issue but I couldn't find it

[2020-03-11 18:32] #3748 closed

[2020-03-11 19:21] fbrbovic commented on #3298
This would help greatly in reducing the number of calls back to Hasura server in my use case so got my vote for this :)

[2020-03-11 19:42] #4054 closed

[2020-03-11 21:08] pkvince commented on #1514
Thank you for sharing your solution @mnesarco ! I have been waiting for a solution like this to come up for a while... Trying this right away!

[2020-03-11 21:25] marionschleifer opened #4090 "Add style guide to docs contributing guide"
Add a style guide for OSS contributors on how to write docs with `.rst` files:
- Links (`:ref:`)
- Add an image / screenshot
- Headings
- Notes

[2020-03-12 02:04] matomesc opened #4091 "Custom errors for constraint violations"
postgres: 11.6
graphql-engine: v1.2.0-beta.1.cli-migrations
provider: docker

Currently if a constraint fails when inserting data the following graphql error is returned:

[code]

This makes error handling and user feedback a nightmare since the client needs to be aware of the database check constraints (not to mention leaking table & constraint name).

It would be better to support custom error f

[2020-03-12 02:12] lexi-lambda commented on #3802
I took a (very) brief look at the `replace_metadata` code just now, and it turns out my understanding of the way the code works was incorrect. I thought that it worked like this:

  1. Drop all the existing metadata from Postgres.

  2. Store the new metadata information into Postgres, without touching graphql-engine’s schema cache.

  3. Rebuild the schema cache.

It turns out that’s only *partia

[2020-03-12 02:16] wemersonrv opened #4092 "Issue: Actions in Hasura 1.2.0 not allow anonimous rules"
Hi.

Evaluating actions from Hasura 1.2.0 and found a issue.

Following the docs, created the `userLogin` action and when try to add permissions to `anonymous` not works. It asks for a valid token. As told in permissions documentations about `anonimous` or `public` role, i've try both names for unauthenticated access for this role... but not works!

[2020-03-12 04:21] nvcnvn commented on #678
@tirumaraiselvan sorry for the noise.
Do you have a draft technical spec somewhere already? Me and my team are willing to work on this (ofc with guidance, none of us know Haskell).

[2020-03-12 05:01] coco98 commented on #3802
Do we have a theoretical understanding on which one of these 2 would be faster based on their codepaths:
1. Bulk query to track 20 relationships
2. Replace metadata that has the 20 relationships

----------------

There are a few roadmap things to consider here.

1. The new Hasura CLI encourages replace_metadata
2. Do we want console to move towards a more replace_metadata style workflow too?

Lar

[2020-03-12 07:18] marionschleifer opened #4093 "Document actions vs. remote schemas"
This question has come up frequently in support channels (what is the difference between actions and remote schemas), e.g. here: https://discordapp.com/channels/407792526867693568/428469959530643466/687499845258444933.

[2020-03-12 10:37] tcaraccia opened #4094 "Hasura Console vs Apollo"
Im trying to do a simple mutation for a many to many rel, like article-tag.
My domain is
Policy == Article
Entity == Tag
When I do the insert over Policy using hasura console, everything works fine.
When I use apollo, i get a
`{
  "errors": [
    {
      "extensions": {
        "path": "$.selectionSet.insert_policy.selectionSet.returning",
        "code": "validation-failed"
      },
      "messag

[2020-03-12 10:47] #4094 closed

[2020-03-12 11:28] wemersonrv commented on #4092
I'm closing this issue. discover the reason in hasura discord channel discussion. I have not added the **HASURA_GRAPHQL_UNAUTHORIZED_ROLE** enve value. When add it, it works fine!

[2020-03-12 11:28] #4092 closed

[2020-03-12 11:48] franciscolourenco commented on #3742
@webdeb headers are no automatically made available as session variables. they need to be put in the access token, and therefore hard to change which each request.

https://github.com/hasura/graphql-engine/issues/2951

Or did I miss something?

[2020-03-12 12:31] wemersonrv commented on #4025
Same problem here. I found a lot of "tips" on google, on how to change the containers date and timezone, but nothing works...

Adding `TZ` env variable, run commands to change date... nope!!! nothing works!

[2020-03-12 13:23] flinz commented on #348
Still excitedly waiting for #2243 !

[2020-03-12 14:50] 0x777 commented on #4077
@mrmurphy

Sometimes queries could be multiple megabytes in size (a lot of events were in the write backlog)

Can you provide more details on the mutation?
- Is it a mutation on a single table or multiple tables through relationships?
- Are there permissions defined for the role with which the mutation goes through?
- Can you share the mutation and the schema of your database? This can help us rep

[2020-03-12 15:04] coco98 commented on #3742
@tirumaraiselvan I think @franciscolourenco would also be helped by #1601 that we were discussing today?

[2020-03-12 15:12] jflambert opened #4096 "Disable pre-release/update notifications through an environment variable"
I want to be able to immediately "opt-out" ([as it's called in 1.1.0](https://github.com/hasura/graphql-engine/releases/tag/v1.1.0)) from pre-release notifications, as well as any upgrade notification, through an environment variable similar to `HASURA_GRAPHQL_ENABLE_TELEMETRY`. Basically I don't want to see the popups in the console.

[I don't think one exists](https://hasura.io/docs/1.0/graphql/

[2020-03-12 15:44] ivan333m commented on #3846
We love this feature very much.
This will be extremely useful with regards to data privacy (GDPR, PPI), e.g. We will be able to decrypt privacy information for appropriate user.
It would be nice if you add this feature to the next release.

Thanks

[2020-03-12 16:01] jberryman commented on #2794
(Linking to #3388 which I've been using as the canonical memory leak issue, for referencing in PRs, etc.)

[2020-03-12 16:02] jberryman commented on #3161
(Linking to #3388 which I've been using as the canonical memory leak issue, for referencing in PRs, etc.)

[2020-03-12 19:05] jflambert opened #4098 "Support "TABLE" return type for Custom SQL functions"
According to documentation, only `SETOF <table-name>` is a valid return type for Hasura to be able to track custom functions. A helpful note recommends creating an empty table as a workaround. But this basically imposes a lot of extra development and schema management.

Would it be easy to support custom / on-the-fly table definitions? For example:

[code]

[2020-03-12 20:01] mattmast opened #4099 "hasura changes non nullable array fields to nullable for custom type"
Hasura turns this the field `servers: [String!]` into `servers: [String]!` for a custom type defined for actions.

[2020-03-12 21:59] jberryman commented on #3388
@woba-nwa @steelerc69 @makkus

Do you mind providing a bit more info to help us reproduce this?:
- are you doing mostly queries or mutations?
- are you using subscription queries?
- are you using the http or websockets transport?
- do you keep long running console sessions open?

Thanks!

[2020-03-13 00:01] shansmith01 opened #4100 "How to handle permissions serverless funtion"
Hi,

I am setting up a cron job to hit a nextjs api route which in turn triggers a mutation in hassura. I would like to put some sort of authentication on this, say via an API key.

My cron system can set headers, is it possible to say have an api key sent along in the header and having a permission set up say "Admin API" can make mutations

Sorry if that's no very clear. Just want to protect and

[2020-03-13 05:15] tirumaraiselvan commented on #3213
@Toub Hasura has a health check endpoint (described here: https://hasura.io/docs/1.0/graphql/manual/api-reference/health.html#health-api-reference)

Maybe, this would help in understanding the state of Hasura instance after you have applied the metadata?

[2020-03-13 05:18] Toub commented on #3213
Sure. Il will give it a try.

[2020-03-13 05:24] tirumaraiselvan commented on #4011
Similar request here: https://github.com/hasura/graphql-engine/issues/3846

[2020-03-13 07:46] Maxpain177 commented on #273
Would be cool to see CDN caching[ like in ApolloServer](https://blog.apollographql.com/automatic-persisted-queries-and-cdn-caching-with-apollo-server-2-0-bf42b3a313de)

[2020-03-13 08:06] tirumaraiselvan commented on #4061
@rakeshkky Can you determine an `e/` label for this?

[2020-03-13 08:13] Emachalan commented on #1883
i have some problem on React Native Hasura setup project. On Development stage nothing error, but on production stage there is no calling between hasura to app. please give me some guide

[2020-03-13 08:14] tirumaraiselvan opened #4101 "document when x-hasura-* headers are ignored"
1. When auth is enabled only `x-hasura-role` is respected, rest all are ignored.
2. Event Triggers / Remote Schemas / Actions cannot be configured with `x-hasura-*` header. See: https://github.com/hasura/graphql-engine/issues/3956
3. Issue to white-list certain x-hasura- headers: https://github.com/hasura/graphql-engine/issues/1601

[2020-03-13 08:14] tirumaraiselvan commented on #3956
I am closing this in favour of https://github.com/hasura/graphql-engine/issues/4101

[2020-03-13 08:14] #3956 closed

[2020-03-13 08:18] tirumaraiselvan commented on #3977
@rakeshkky Can you determine `e/` label for this?

[2020-03-13 08:21] tirumaraiselvan commented on #4101
From @ecthiender

If auth is enabled but if you send x-hasura-admin-secret, then x-hasura-* headers are respected.

[2020-03-13 08:50] tirumaraiselvan commented on #4043
Hey @gunar-gessner-qatalog , I am closing this issue - feel free to re-open it if you have further questions.

[2020-03-13 08:50] #4043 closed

[2020-03-13 08:52] tirumaraiselvan commented on #3994
Closing this as feature request is tracked in #348

[2020-03-13 08:52] #3994 closed

[2020-03-13 08:54] tirumaraiselvan commented on #4091
Related to https://github.com/hasura/graphql-engine/issues/3658

[2020-03-13 09:37] tirumaraiselvan commented on #3962
This is now documented in the note titled `Postgres support` here: https://hasura.io/docs/1.0/graphql/manual/actions/index.html

[2020-03-13 09:37] #3962 closed

[2020-03-13 10:41] dijam commented on #3459
Any update over this feature? It has been a while and it can be super useful for us to see this feature inside hasura rather using an external system to take care of it for us.

[2020-03-13 11:34] janat08 opened #4104 "Arangodb adapter"
Arangodb is graph/document store with sql like syntax. If you decide to provide additional databases, could it be arangodb plz?

[2020-03-13 12:02] arvi3411301 opened #4105 "link cli-ext with hasura cli"
Currently, `cli-ext` plugin manifest is placed under the plugins index repo which points to the latest version.

We need to link the `cli-ext` with the hasura cli version.

[2020-03-13 12:16] arvi3411301 commented on #4105
@shahidhk We can fix this by two possible ways:

1. By embedding the `cli-ext` manifest in the CLI as an internal index. CLI will always check the internal index first for installing a plugin before falling back to the index repo.

2. By changing the structure of the `plugins-index` repo to include versions as subdirectories. For this, we need to rewrite the plugin's codebase to handle the version

[2020-03-13 14:19] alex-w0 opened #4108 "Protect query/mutations against non authenticated users"
Hello, I'm trying to get started with hasura and can't figure out how I can do the following.
After I've connected hasura with my postgres instance, it'll generate automatically all standard queries for my tables (reservations, reservations_aggregate, reservations_by_pk...).
Additionaly I have two roles: admin and public
-> admin role: can use these queries
-> public role: should not be grant perm

[2020-03-13 16:21] wwwdepot commented on #4108
First thing, you need to set **HASURA_GRAPHQL_ADMIN_SECRET** (admin access key),
then choose your authentication methods: webhooks or JWT. See https://hasura.io/docs/1.0/graphql/manual/auth/authentication/index.html

[2020-03-13 16:35] alex-w0 commented on #4108
@wwwdepot I've already set **HASURA_GRAPHQL_ADMIN_SECRET** , but how can I protect then the autogenerated queries with the authentication method ? Both, the public and the admin users can perform an insert action on the table, but only the admin user should have access to the auto generated queries?

[2020-03-13 17:14] lexi-lambda commented on #3802
`replace_metadata` is, in my mind, unequivocally better than `bulk` from an efficient implementation point of view.

`bulk` is hard to make fast without a lot of work because its semantics is overspecified. It guarantees that everything is executed in order, top to bottom. That means that if a single `bulk` query tracks a table, then untracks that same table, we can’t easily optimize away the oper

[2020-03-13 17:28] macs91 commented on #1649
This would help a lot now

[2020-03-13 17:40] mrmurphy commented on #4077
Most queries were just inserting to a single table. Some queries (sent much less often) were doing an "on conflict do update". I wish I could dig deeper into that one for you now, but we've removed the infrastructure, and also those events.

The majority of traffic inserted into a table like this:

[code]

With some indexes on those columns. All indexes were btree. The ID column index was unique.

[2020-03-13 17:41] mrmurphy commented on #4077
And a similar table with only 9 columns. Both of those tables, which accounted for most of the traffic, just appended new rows to the end of the table.

[2020-03-13 18:08] mirzap commented on #3759
Still a problem in `v1.2.0-beta.2`
After adding a new value to the enum table, I reloaded enum values multiple times but still metadata wasn't updated. I get following err:

[code]
`fr` is a new value in enum table.

Restarting hasura server helped.

[2020-03-13 18:40] wwwdepot commented on #4108
@alex-w0 If you just want to test basic access control, you can set

[code]
now uncheck the `x-hasura-admin-secret` the Request Headers in the Hasura Console, queries will be protected from unauthenticated users. Make sure the `anonymous` role is added to the table's permission.

Finally **Allow-list** gives you more controls over what queries are available to users. https://hasura.io/docs/1.0/gra

[2020-03-13 19:32] alex-w0 commented on #4108
@wwwdepot Maybe I don't get it. Lets assume that we have three roles:
-> admin
-> user
-> public

and the following queries:
-> reservations (is generated by default from hasura)
-> reservations_by_pk (is generated by default from hasura)
-> reservations_aggregate (is generated by default from hasura)
-> reservation_by_token (comes from a remote schema)

- the role admin can have access to all 4 q

[2020-03-13 20:00] wwwdepot commented on #4100
1. If you feel comfortable using admin access key, use that.
2. You can create a table call `tokens`, and set a role `server` and perform a custom check against the token table.

Use custom headers sent to hasura. Forward other headers to hasura if you going to them for permission checks

[code]

row select permissions

[code]

[2020-03-13 20:27] coco98 commented on #3802
@lexi-lambda This is good news! Another quick question: if a bulk query was composed of a bunch of run_sqls and a final replace_metadata/patch_metadata at the end, that could still be optimised right?

@rikinsk and @wawhal  and @0x777 and i also had some thoughts that for the console to have the entire metadata available in local state which is modified by user actions and then sent to the server

[2020-03-13 20:48] lexi-lambda commented on #3802
Yes. The slowness is in the repeated, non-batched metadata queries, so as long as those queries are batched together, performance will be improved.

It’s worth noting that, theoretically, we could try and get these performance advantages with the current API. We could do some fancy analysis of a `bulk` query to find strings of consecutive metadata queries that we can be confident won’t conflict, a

[2020-03-13 21:00] wwwdepot commented on #4108
Someone did mentioned Role-base queries and allow-list feature in #2804.

Permissions for remote schemas is WIP, see #2461.

[2020-03-13 21:23] alex-w0 commented on #4108
@wwwdepot So that means that's not possible at the moment to make role based queries?

[2020-03-13 21:25] 9too commented on #3872
I was also looking into this for my permissions system.

For exemple, I have a case where a user may have many roles (x-hasura-allowed-roles), each of which may give access to different ressources of a reservation system. I would like to expose a custom function that takes the JWT claims as a parameter to return ressource specific access. This way I can easily retrieve and present to a user the in

[2020-03-13 21:35] wwwdepot commented on #4108
@alex-w0 yep, not possible at the moment.

[2020-03-13 21:43] alex-w0 commented on #4108
@wwwdepot Okay thanks. How do others solve this problem? i can well imagine that many people have these requirements

[2020-03-14 01:21] shansmith01 commented on #4100
Thanks for getting back to me.

I tried number 2, but It still seems to want me to use the admin secret or send a JWT along with and Authorization Header as I am in JWT mode

Any thoughts?

[2020-03-14 07:35] Maxpain177 opened #4112 "Current user subscription"
We have these tables:

`users (id, user_name)`
`user_stats (user_id, rating, matches_count, etc.)`

We want to make a subscription to the current user (with some relations, like `user_stats`) with this query:

[code]

So, we have two ways to do that:

#### 1.  Make a custom function, using `X-Hasura-User-Id` session variable.

**Pros**:
- We get right typename (`users`)
- We don't have to recreate

[2020-03-14 14:17] toton6868 opened #4113 "Get Max value on a distinct field in Hasura GraphQL"
Here is the SQL that is giving the perfect result in General SQL query But I am not able to convert it to Hasura GraphQL

`    select country, max(new_share) from stock_data where date_key > 297 and date_key < 384 group by country order by max(new_share) desc`

I am trying something like this

[code]

Unfortunately, It is returning only one value of each field

[code]

[2020-03-14 17:41] jberryman commented on #4077
@0x777 I wonder if it's possible hasura events were being generated and collected despite not being enabled/configured from user's point of view. I'll think about that and also take a close look at the mutations code path

[2020-03-14 20:37] ekifox commented on #1847
Update

[2020-03-15 00:36] adampotocki opened #4114 "mac docker run issue with connecting to postgres 12.2 running on mac localhost:5432"
this may be dumb, but i'm running postgres 12.2 on localhost:5432 on my mac...im trying to connect hasura to an empty db (hasura-test) by using the docker run instructions and my container keeps exiting...log show this:

[code]

The docker-run.sh file has the following command:
[code]

Anyone experience this and can point me in the right direction to get this going??

[2020-03-15 02:03] #4114 closed

[2020-03-15 02:03] adampotocki commented on #4114
ugh...wrong postgres version used!!! grr sorry!

[2020-03-15 15:06] shahidhk opened #4115 "add option to reload remote schema from inconsistent metadata page"
If Hasura cannot reach a remote schema when it starts up, that is marked as inconsistent metadata.

But, console does not provide an option to reload the remote schema on the inconsistent metadata page.

Was remote schema ever reloaded on the `reload_metadata` action?

If yes, this is a regression (see https://github.com/hasura/graphql-engine/issues/3983) and a fix needs to be applied immediately

[2020-03-15 16:12] matomesc commented on #4001
@lnikell I wrote the following apollo link to extract the serialized handler error and mutate the graphql error so I can just use one error handler:

[code]

[2020-03-15 16:32] browniefed commented on #4021
Is this going to be in the next release? It would be great if it was for my migration from remote schema to actions.

Thanks for filing and getting it fixed.

[2020-03-15 22:12] petecorreia-appital commented on #2836
This would be massively helpful. Is this stalled?

[2020-03-16 01:14] tirumaraiselvan commented on #4115
Yes, this is a console version for the API mentioned in #3792

[2020-03-16 07:50] tirumaraiselvan opened #4117 "reload_remote_schema does not work if remote schema is in inconsistent metadata"
### Description

`reload_remote_schema` does not work on remote schemas which are inconsistent (i.e. they were not available on startup). Considering prior discussions (see: #3792 ), this is actually a bug because even `reload_metadata` does not refresh remote schemas. There is no way to resolve an inconsistent remote schema without restarting Hasura.

### Repro:

1. Run hasura (any version > 1.0.

[2020-03-16 07:55] tirumaraiselvan commented on #4115
There is also a bug in `reload_remote_schema` which leads to much confusion: https://github.com/hasura/graphql-engine/issues/4117

[2020-03-16 08:00] tirumaraiselvan commented on #3983
@michaelhayman Turns out `reload_remote_schema` had a slightly more tricky behaviour and this indeed leads to a bug: https://github.com/hasura/graphql-engine/issues/4117

This bug wasn't present in v1.0.0 becaus `reload_metadata` would try to fix inconsistent metadata (but not refresh non-inconsistent remote schemas).

[2020-03-16 08:17] tirumaraiselvan commented on #4108
the role user should only have access to reservations_by_pk and reservation_by_token
the role public should only have access to reservation_by_token

I think the issue is that you want to hide certain fields which are auto-generated when you have given `select` permissions on a table. The RFC here let's you hide top-level fields like `reservations` and/or `reservations_by_pk` inside of select perm

[2020-03-16 10:35] gautambt opened #4119 "Permission builder UI: Inconsistency in specifying table name using the _exists operator"
![exists_table_name](https://user-images.githubusercontent.com/203972/76747855-bbec1c80-6771-11ea-8afd-2758684add47.png)

The key for mentioning table name in the json is "name" and in the json creator is "table"

[2020-03-16 12:06] alex-w0 commented on #4108
Hi @tirumaraiselvan , I don't want to hide the fields, but instead they should be protected against non authenticated roles. For example the admin role and user role has both the select permission on the table, but only the admin role should be able to perform the query reservations. Hope you can understand me what I wanna do.

[2020-03-16 12:11] andrewpmoore opened #4121 "Claims key: 'https://hasura.io/jwt/claims' not found when setting in firebase"
I'm trying to use firebase auth for hasura.

I've set HASURA_GRAPHQL_ADMIN_SECRET and also HASURA_GRAPHQL_JWT_SECRET using the generator and referencing my project id.

I then have this cloud function

`const functions = require('firebase-functions');
const admin = require('firebase-admin');

exports.addDefaultUserRole = functions.auth.user().onCreate((user) => {

    let uid = user.uid;
    //add

[2020-03-16 12:17] praveenweb commented on #4121
@andrewpmoore - Can you check content of the `$token`. You can use the JWT inspector on the Hasura console (it's available on the headers pane where you enter the Authorization token) or you can also use [https://jwt.io/#debugger-io](https://jwt.io/#debugger-io) to verify the contents of the token.

[2020-03-16 13:06] rikinsk commented on #4100
@shansmith01 There are 3 ways for you to get past the auth system
- use the admin secret - You can always pass the admin secret in the `x-hasura-admin-secret`  header and to get admin access on the the api. _(not recommended unless admin secret security can be managed)_
- use a JWT ( [docs](https://hasura.io/docs/1.0/graphql/manual/auth/authentication/jwt.html) ) - You can generate a JWT token for

[2020-03-16 13:14] andrewpmoore commented on #4121
Thanks @praveenweb
I see
`claims key: 'https://hasura.io/jwt/claims' not found`

Header:
`{
  "alg": "RS256",
  "kid": "82e6b1c921fa86770f3d50c12c15d6eaca8f0d35",
  "typ": "JWT"
}`

Data:
`{
  "iss": "https://securetoken.google.com/test_project_hasura",
  "aud": "test_project_hasura",
  "auth_time": 1584364173,
  "user_id": "yzNiCVEsPIVnh5BsgPiHQiAhBgj2",
  "sub": "yzNiCVEsPIVnh5BsgPiHQiAhBgj2",

[2020-03-16 13:33] rikinsk commented on #4112
@Maxpain177 Any reason you aren't setting the `{"id":{"_eq":"X-Hasura-User-Id"}}` check as a permission rule and then using subscriptions on the `users` table directly?

[2020-03-16 13:37] rikinsk commented on #4112
@0x777 any insights on the subscriptions bit?

[2020-03-16 13:52] rikinsk commented on #4113
@toton6868 Seems like you've used `distinct_on` in your query which will just return one result for each country.

The group_by operation isnt supported and it is recommended to use views to achieve them as demonstrated [here](https://hasura.io/docs/1.0/graphql/manual/schema/views.html#example-group-by-and-then-aggregate)

[2020-03-16 13:58] rikinsk opened #4123 "console: handle long column names during update event trigger creation"
![Screenshot from 2020-03-16 19-26-53](https://user-images.githubusercontent.com/54616969/76765347-3fcaf680-67bc-11ea-92ca-0c6d003ece56.png)

[2020-03-16 14:00] rikinsk commented on #4062
#4072 disables allowing edits to actions relationships. Rescoping this issue to allow editing actions realtionships

[2020-03-16 14:41] jberryman commented on #4077
(Linking to #3388 which I've been using as the canonical memory leak issue, for referencing in PRs, etc.)

[2020-03-16 14:45] Maxpain177 commented on #4112
@rikinsk Because we want to get not only current user from `users` table

[2020-03-16 15:19] kelly-ry4n commented on #4112
Can you get the user id from the JWT or otherwise from your auth server, and query users using that and 2 different subscriptions / queries?

[code]

[2020-03-16 22:41] lexi-lambda commented on #4112
I agree with @kelly-ry4n: why not just look up the current user’s id and create a subscription on `users` filtered by that id?

[2020-03-17 00:26] fogelfish commented on #625
This feature I would be a huge benefit for me.  What does it mean for the triage/2-rfc-candidate label to be removed and dsandip to be unassigned?

[2020-03-17 01:55] kevinrodriguez-io commented on #2326
@jjangga0214  It makes sense, that's expected behavior and Hasura needs some tweaks to work properly on Pay-as-you-go serverless environments

For this kind of scenario, we'll need two new options to be implemented:

1- Hasura sends the event trigger request and **waits** for its response before sending the mutation response to the client, handling the error as it already does.
2- Hasura sends the

[2020-03-17 03:59] coco98 opened #4125 "Reuse Hasura postgres scalars with actions"
Allow using Hasura postgres scalars for Actions, which otherwise leads to a lot of unnecessary type duplication on a codegen-ed client.

[2020-03-17 04:06] coco98 commented on #4031
Current suggestion:
1. Add a header called debug mode that is respected for the admin role only
2. Console should allow a convenient debug mode toggle

[2020-03-17 05:24] wawhal opened #4126 "cli: parse server errors before throwing to console (actions)"
Repro:
1. Run HGE in CLI mode
2. Try creating an action and define two object types, one being a field of another
3. It'll fail with a 500 from CLI. Console expects proper server errors in response.

This issue is important so that the server errors are propagated seamlessly to the client.

[2020-03-17 05:52] wawhal opened #4127 "capture actions telemetry on CLI and server"

[2020-03-17 07:18] subhrashisdas opened #4128 "Graphql delete_<table_name> mutation is deleting all rows when key is null."
**Issue**
Graphql **delete_<table_name>** mutation is deleting all rows when key is null.

**Table**
[code]

**Mutation**
[code]

**Response**
[code]
**Expected Behaviour**
As per the mutation, it should delete all rows whose testing_id is null.

**Current Behaviour**
Mutation is deleting all rows from the table.

**Postgres Version**
v11.6

**Hasura Version**
v1.1.0

[2020-03-17 07:42] Maxvien opened #4129 "cli: read env vars from .env file"
The scope of this issue has changed. See the comments below.
---
Hi there!

I don't want to load `endpoint` and `admin-secret` from `config.yaml`. I want to load them from `.env` so I created a `npm script` like this:

`"console": "env-cmd hasura --project app console --endpoint $HASURA_GRAPHQL_ENDPOINT",`

However it doesn't work without an empty `config.yaml`.

Even this command doesn't work.

`

[2020-03-17 08:00] 0x777 commented on #4112
@Maxpain177

Both the solutions you suggested work (with small changes)

### Using functions:

Subscriptions on functions which accept session variables as their arguments are multiplexed. The function should look something like this:

[code]

Console doesn't yet support tracking functions which require session variables so you'll need to manually hit `/v1/query` endpoint with this query:

[code]

[2020-03-17 09:19] tirumaraiselvan commented on #4021
@browniefed Yes. This will be in the next release.

[2020-03-17 09:21] tirumaraiselvan commented on #4127
@wawhal Can you suggest what needs to be tracked in server ?

Number of custom types, number of actions, number of action relationships?

[2020-03-17 09:57] tirumaraiselvan commented on #4128
@subhrashisdas This is actually the expected behaviour currently. The reason for this and efforts to solve this are discussed here: https://github.com/hasura/graphql-engine/issues/704

I am closing this in favour of #704. Please feel free to re-open if you have any other comments.

[2020-03-17 09:57] #4128 closed

[2020-03-17 09:58] tirumaraiselvan commented on #4128
Forgot to mention, you can use the `is_null` operator to delete rows which have `null` value: https://hasura.io/docs/1.0/graphql/manual/queries/query-filters.html#filter-or-check-for-null-values-is-null

[2020-03-17 10:08] rikinsk opened #4130 "console: actions relationships page update"
Show clearly that relationship is on output type
- `field -> table . column` -> `outputType . field -> table . column`
- `Add a relationship` -> `Add a relationship to the output type`

![Screenshot from 2020-03-17 15-34-38](https://user-images.githubusercontent.com/54616969/76845572-14e8ad00-6865-11ea-9fa8-bdb2c8e3845d.png)

[2020-03-17 13:17] Ugoline commented on #3721
Nice

[2020-03-17 15:06] tirumaraiselvan commented on #4009
@sf-vio What version of Postgres are you on? Is it hosted on Heroku?

Can you run the result of the following SQL:

[code]

[2020-03-17 15:58] wawhal commented on #4127
Yes @tirumaraiselvan. I want these fields to come in metrics:

[code]

[2020-03-17 18:20] itsarawutsiripak34 commented on #3867
Google Chrome

[2020-03-17 19:39] NicoleAnn926 commented on #3721
Huh?? I'm a middle aged woman, struggling to understand this new "language". I'll take the time to read the Git Handbook, but I don't know if programming is "my thing." I'm in no position to be of service to anyone at this point since I kinda need some help here. I'm clueless!

[2020-03-17 19:47] michielmulders opened #4132 "Using SQL where clause in Data tab throws error"
First of all, I want to thank you for creating a great product! :)

Today, I wanted to use an SQL statement in the data tab to update one field (I'm not using the GUI for editing a value as I wanted to do a batch of autogenerated SQL statements).

[code]

However, Hasura throws me the following error:
`postgres-error : column "abcde" does not exist`

Can someone point me out if this is a bug or wh

[2020-03-17 21:15] jberryman commented on #2794
Maybe related to https://github.com/hasura/graphql-engine/issues/3879

[2020-03-17 21:54] scribahti opened #4134 "Schema initialization failure/false start (v 1.1.0)"
I collapsed the migration files as instructed [here](https://hasura.io/blog/resetting-hasura-migrations/) to create a set of "init" migration files. (I also have a freshly updated metadata.yaml file.)

[code]

Next, I attempted applying this migration to a fresh Hasura deployment as follows:

[code]

On the first attempt, I received a FATA[0034] response as follows:

[code]

On a subsequent attemp

[2020-03-18 00:04] tejasmanohar commented on #2386
Is there an update here? What's the current latency like? Just curious

[2020-03-18 00:11] meldb1976 commented on #3721
I'm just trying to get the stalker ware my boyfriend put on my phone

[2020-03-18 01:31] #3937 closed

[2020-03-18 02:50] shahidhk commented on #4132
@michielmulders In SQL, single quotes (`'somevalue'`) should be used for values and double quotes (`"somecolumn"`) should be used for identifiers like table/column names.

Your statement should be:
[code]

[2020-03-18 02:50] #4132 closed

[2020-03-18 03:40] wlans commented on #2599
Having the same issue when I include "x-hasura-role" as header in dashboard I get

`{
  "errors": [
    {
      "extensions": {
        "path": "$",
        "code": "unexpected"
      },
      "message": "postgres query error"
    }
  ]
}`

[2020-03-18 06:44] tirumaraiselvan commented on #4031
Spec:

1. When `HASURA_GRAPHQL_LOG_LEVEL` is set to `debug`, then log the *response* of the action webhook call. The log-type of this should be `action` (similar to `event-trigger` log-type for event trigger responses). The request is already logged as `http-log` so we don't need to log the request again.

2. Watching the logs can be hard during dev, so we will read a header called `X-Hasura-Debug

[2020-03-18 06:55] Ugoline commented on #3721
Same as I,  am clueless about this whole thing

On Tue, 17 Mar 2020, 8:39 pm NicoleAnn926, <notifications@github.com> wrote:

[2020-03-18 09:56] beerose opened #4136 "console: design refactor"
As we have a design system library, the next step is to start integrating it with the console and replace existing components with the ones from the library.

The following list is prioritized by the impact (from smallest to biggest) as we want to introduce the design system starting from the least significant components.

1. No or small impact on the UI:
      - [x] Icon Component
      - [x] Spi

[2020-03-18 09:58] wawhal commented on #4136
@beerose should we scope the facilitation of the telemetry events in this PR too?

[2020-03-18 10:24] andrewpmoore commented on #4121
It seems the issue was that when I tried to get the token I wasn't waiting for it to update the claims on firebase so it still had the old token. Thanks

[2020-03-18 10:24] #4121 closed

[2020-03-18 11:07] tirumaraiselvan commented on #207
An RFC for hiding top-level fields is published here: https://github.com/0x777/graphql-engine/blob/select-permission-improvements/rfcs/disable-query-and-subscription-root-fields.md

Please feel free to give your comments here: https://github.com/hasura/graphql-engine/pull/4110/files

[2020-03-18 11:08] tirumaraiselvan commented on #696
An RFC for hiding top-level query fields (so they can only be accessed through relationships) is published here: https://github.com/0x777/graphql-engine/blob/select-permission-improvements/rfcs/disable-query-and-subscription-root-fields.md

Please feel free to give your comments here: https://github.com/hasura/graphql-engine/pull/4110/files

[2020-03-18 11:12] tirumaraiselvan commented on #3742
An RFC for hiding top-level query fields is published here: https://github.com/0x777/graphql-engine/blob/select-permission-improvements/rfcs/disable-query-and-subscription-root-fields.md

Please feel free to give your comments here: https://github.com/hasura/graphql-engine/pull/4110/files

[2020-03-18 11:17] coco98 commented on #4031
@tirumaraiselvan Why can't we just do the header debug mode, and not worry about the log-level for now?

[2020-03-18 11:35] tirumaraiselvan commented on #4031
Yes, we can do them independently. But I also *think* log-level bit is not hard at all. The infra is already present.

But we can prioritise `X-Hasura-Debug-Mode` first.

[2020-03-18 11:41] walokra opened #4138 "Console Allowed Queries shows only collections named allowed-queries"
Adding query collections to allow-list with using metadata APIs with [add_collection_to_allowlist
](https://hasura.io/docs/1.0/graphql/manual/api-reference/schema-metadata-api/query-collections.html#add-collection-to-allowlist) don't end up showing in Hasura console Allowed Queries list if the collection name is something other than "allowed-queries".

Now the only way to see your collections and

[2020-03-18 11:44] tirumaraiselvan commented on #3452
An RFC for hiding top-level query fields (so they can only be accessed through relationships) is published here: https://github.com/0x777/graphql-engine/blob/select-permission-improvements/rfcs/disable-query-and-subscription-root-fields.md

Please feel free to give your comments here: https://github.com/hasura/graphql-engine/pull/4110/files

I am also closing this issue as a dupe of #696

[2020-03-18 11:44] #3452 closed

[2020-03-18 11:46] tirumaraiselvan commented on #3742
Closing this issue in favour of #696

[2020-03-18 11:46] #3742 closed

[2020-03-18 11:48] tirumaraiselvan commented on #207
Closing this in favour of #696

[2020-03-18 11:48] #207 closed

[2020-03-18 12:42] beerose commented on #4136
@wawhal How is see it is a bunch of smaller PRs, rather than one covering all of the things above. Unless, of course, someone has time to take care of it all at once.

We can add more things to the scope of this issue, sure.  Could you also elaborate on what _facilitation of the telemetry events_ means?

[2020-03-18 13:41] wawhal opened #4140 "console: add a relationships tab in the custom types page"
Currently, the only way to create relationships between object types and tables is by creating it from the action's page (`/actions/manage/<action-name>/relationships`). This makes one feel that the `Relationship` is a property of an action whereas it is actually a property of that action's returning type.

At `/actions/types/manage`, we allow users to view their custom types at a single place. We

[2020-03-18 14:01] wawhal commented on #4140
@rikinsk @tirumaraiselvan does this make sense for v1.2?

[2020-03-18 14:03] wawhal commented on #4140
@rikinsk @tirumaraiselvan does this make sense for v1.2?

[2020-03-18 14:06] tirumaraiselvan commented on #4134
@scribahti `FATA[0034] apply failed: failed parsing json: invalid character '<' looking for beginning of value; response from API:`

You may note from the error response (which is in HTML) that Heroku is throwing an `Application Error` which happens when Hasura is not running. Logs of Hasura when this happens are worth checking.

Apart from this, `FATA[0003] apply failed: Version already applied i

[2020-03-18 14:57] #1772 closed

[2020-03-18 15:15] wawhal commented on #4136
@beerose The main idea is to improve our telemetry system by tying it with the user events. Currently redux actions are sent as telemetry events which causes a lot of noise in the database. Instead, if we gather data about the user events, it would make reading the analytics much cleaner and straight forward.

For example: every button can have an identifier. And onClick/onHover/onSomeAction, we c

[2020-03-18 15:56] tirumaraiselvan opened #4142 "console: incorporate filter and check for update permissions"
Filter and check for update permissions were introduced in #3804

[2020-03-18 17:08] flinz commented on #1681
I have exactly this use case ("Allow defining relationships to a udf") currently, where we keep a versioned history of entries, and I need to retrieve different subsets (where clauses) for an array-relationship.

The subsetting is done by a UDF, but now I can not define the relationship to this subset.

[2020-03-19 00:38] dvasdekis commented on #4076
Would you be able to share your working example stack? I am struggling with this same error `error":"Could not verify JWT: JWSError` while trying to get [Firebase](https://github.com/benwinding/react-admin-firebase) and [Hasura](https://github.com/Steams/ra-data-hasura-graphql) working in react-admin.

[2020-03-19 06:12] rakeshkky opened #4143 "validate remote schema requests"
Currently the graphql engine server just proxies the remote schema requests to remote server without validation and solely depends on the validation done there. The primary reason behind this is the server lacks the logic for validating interfaces and union types.

Implementing the remote schema permissions specified in #2461 is possible only if the server somehow validates the remote schema reque

[2020-03-19 07:14] rikinsk commented on #4115
Related Server PR: https://github.com/hasura/graphql-engine/pull/4141

Update API call on inconsistent metadata page to use the extra config to reload remote schemas if any remote schema is in inconsistent objects

[2020-03-19 09:18] marionschleifer commented on #2836
@petecorreia-appital no this is not stalled. We'll work on this in the next weeks and hope to publish soon 🙂

[2020-03-19 09:19] tirumaraiselvan commented on #4091
Copying this suggestion in #3658 and closing this one for easier tracking.

[2020-03-19 09:19] #4091 closed

[2020-03-19 09:20] tirumaraiselvan commented on #3658
Another suggestion by @matomesc in #4091 :

[BEGIN]

Currently if a constraint fails when inserting data the following graphql error is returned:

[code]

This makes error handling and user feedback a nightmare since the client needs to be aware of the database check constraints (not to mention leaking table & constraint name).

It would be better to support custom error for each constraint so tha

[2020-03-19 09:31] petecorreia-appital commented on #2836
@marionschleifer that's amazing! thank you all at hasura for the hard work and please remember to take it easy, all this can wait in light of the pandemic. stay safe!

[2020-03-19 11:02] ishan198 opened #4144 "@petecorreia-appital no this is not stalled. We'll work on this in the next weeks and hope to publish soon 🙂"
@petecorreia-appital no this is not stalled. We'll work on this in the next weeks and hope to publish soon 🙂

_Originally posted by @marionschleifer in https://github.com/hasura/graphql-engine/issues/2836#issuecomment-601072499_

[2020-03-19 11:45] barbalex commented on #4076
@dvasdekis

The project is here: https://github.com/barbalex/vermehrung

The backend is built with docker-compose and docker. You can see it here: https://github.com/barbalex/vermehrung/tree/master/backend

The backend:
-  listens on api.vermehrung.ch/add-hasura-claims/{uid} (https://github.com/barbalex/vermehrung/blob/master/backend/auth/server.js#L102).
-  It fetches the person with the passed f

[2020-03-19 12:42] reinvanimschoot commented on #3142
Is there any update on a better solution to this problem?

[2020-03-19 13:02] #4062 closed

[2020-03-19 13:03] rikinsk commented on #4130
closed via #4133

[2020-03-19 13:03] #4130 closed

[2020-03-19 14:57] scribahti commented on #4134
@tirumaraiselvan thanks for your note. I applied the migration to another fresh deployment with the same result. I need to review to review the logs & will comment here shortly.

[2020-03-19 14:59] jberryman commented on #4077
Played with inserts of the form above, and stared at the codepaths for a bit and still not able to reproduce this, unfortunately...

[2020-03-19 15:31] jberryman commented on #3802
I don't know this part of the codebase very well, but maybe I should look again at this: https://github.com/hasura/graphql-engine/issues/4039 . When I filed the ticket I thought I'd triaged and determined the issue was indeed with `replaceMetadataToOrdJSON`, but later it seemed the arbitrary instance was what was actually slow...

[2020-03-19 17:34] mblhaunted commented on #3670
This should be more than an "idea" - this seems like an anti-pattern in your product.

Example -- dumping/importing databases in multiple directions through say dev,stage,prod isn't fun.

For this reason we have to drop the tool. Engineering that process ourselves isn't worth it when you could simply configure your engine to use it's own DB.

[2020-03-19 17:53] filipjnc opened #4146 "Column preset restricts mutation access for configured role"
**Background:** The [docs ](https://hasura.io/docs/1.0/graphql/manual/schema/default-values/column-presets.html) say:

**Problem:** The client must make sure that, depending on the role and its permissions in hasura, the column with a preset defined must not be delivered with the mutation (not even as `undefined`). This makes the client tightly coupled to the hasura permissions schema.

**Idea:**

[2020-03-19 18:36] scribahti commented on #4134
These instances are deployed via Heroku, but I am unable to log in to the vm.

[code]

[2020-03-19 18:37] scribahti commented on #4134
@tirumaraiselvan how should I proceed to find logs?

[2020-03-19 21:38] langfors commented on #4112
@0x777 this is massively useful thank you - My team has followed these steps but cannot seem to get the manually created object relation working when using the "Using Views" approach above:

[code]

We are getting the following error:
[code]

We're using the docker image versioned: `hasura/graphql-engine:v1.2.0-beta.2.cli-migrations`.  This is very urgent for us as we're migrating a large project

[2020-03-20 01:40] arjunyel commented on #1367
At least for my use case I would happy to trade off subscription support to be able to run in a lambda :D

[2020-03-20 02:20] tirumaraiselvan commented on #4134
@scribahti You need not exec into the VM. You can get application logs via the `heroku logs` command: https://devcenter.heroku.com/articles/logging#view-logs

[2020-03-20 02:29] dazza-codes opened #4147 "API for CI/CD updates to actions"
When an action depends on an API handler, updates to anything on the handler need to be updated in the action.  The request/response contract could change and the graphQL types need to be updated.  The handler endpoint or authz headers might need to be updated.  For automation of such updates, is there an API on an hasura instance to target these updates for actions?

[2020-03-20 02:32] tirumaraiselvan commented on #3670
@mblhaunted For dev/stage/prod migrations, we encourage you to use any of the hasura migrations workflows described here: https://hasura.io/docs/1.0/graphql/manual/migrations/index.html

The basic idea is  that you can track the sql migrations (either using hasura or through any of your existing tooling) and generate a corresponding hasura metadata file. This is enough for you to reproduce hasura

[2020-03-20 06:28] dilame opened #4148 "anonymous/authorized roles problem"
If I have one query, let's pretend `query { feed { title } }` that should be available for both `anonymous` and `authorized` roles.  Turns out I need to create 2 similar permissions for both roles.
It's not a problem until you have one, but if you have tens or hundreds of such resources it becomes a problem.
It would be convenient if `anonymous` permission be applied when there is no permission fo

[2020-03-20 06:46] #3977 closed

[2020-03-20 06:46] #4021 closed

[2020-03-20 06:46] #4061 closed

[2020-03-20 10:19] karthikvt26 opened #4151 "Cheatsheet/tips to communicate with GraphQL Engine"
It would be good to have a cheatsheet/tips which can contain section by section steps to configure different components with HGE which will just work for environments such as mac/linux/windows :)

Few components I can think of are

1) Hasura to postgres
2) Hasura to remote schema
3) Hasura actions to action handler
4) Hasura to event triggers
5) Any External service (action handlers) -> Hasura

Id

[2020-03-20 11:02] eugenijusr commented on #3571
Alternatively you can also retrieve `graphQLErrors` from `ApolloError` via `networkError` property even when response code is not `200`.

[code]

[2020-03-20 11:35] maarekj opened #4153 "type info not found for: 'bigint'"
Hello,
On hasura 1.0.0, I have this error when I use a column of type **bigint** (or return type of function bigint) in my sql.

`{"errors":[{"extensions":{"path":"$","code":"unexpected"},"message":"type info not found for: 'bigint'"}]}`

[2020-03-20 13:16] 0x777 commented on #4153
@maarekj This has been fixed in `1.1.0`, can you try it out and let us know?

[2020-03-20 15:36] fbrbovic commented on #3759
I am experiencing the same problem, no matter how many times I reload it, new values don't show up.
Will try restarting the server.

[2020-03-20 17:14] maarekj commented on #4153
Maybe I try it next monday.
Thanks you.

On my local computer it is good with 1.1.0.
But on the server, it is version 1.0.0

[2020-03-20 17:57] Luifr commented on #3922
FATA[0014] apply update: rename new to exe: rename C:\Users...\Hasura\.hasura.new C:\Users\...\Hasura\hasura: Operation did not complete successfully because the file contains a virus or potentially unwanted software

[2020-03-20 23:15] dazza-codes commented on #4147
A related question:  is it possible to define an environment variable or something that can hold some generic elements of action handlers?  If many actions all need to use the same API endpoint and the same request headers, it would be convenient to define these in one place and refer to them in action definitions.  Is this possible?

[2020-03-21 04:03] nirvdrum commented on #3578
Is there anything I can do to help usher this one along? It's a major pain point using Hasura with a ReasonML-based client.

[2020-03-21 08:25] AntonBramsen commented on #1573
Looking very much forward to this getting implemented.

Until then, does an example showing how to currently update relations between to objects exist?

To give some context, this is what I would like to achieve:

[code]

[2020-03-21 09:45] pranshuchittora opened #4157 "Discussion: GraphQL Spec Compliance Tests"
**Edit**

##### Spec discussion  -> https://github.com/graphql/graphql-spec/issues/698
---
Hello Hasura.
As a part of research around the simplifying graphql spec tests across implementations, I've stumbled upon the specs written here for `hasura/graphql-engine`. I'd really appreciate if I can get an idea around how difficult it has been to maintain this test suite, and how often does it go out of

[2020-03-21 11:19] mklueh opened #4158 "Cannot rename table with manual relationship to another table"
I´ve created a table "user" and I do want to rename it into something else, as I´ve found out that "user" is a reserved by Postgres.

Trying to rename that leads to

[code]

According to the Hasura console, table "user" is tracked.

If user is reserved by Postgres and the reason for this issue, Hasura should not allow to create a table with that name.

[2020-03-21 11:34] mklueh commented on #4158
As a quick fix to not have to recreate every relation in the console I´ve created a backup migration and replaced

in up.sql all

public."user" with public."customer"

and in up.yaml all

- name: user with - name: customer

and restored my schema.

[2020-03-21 14:17] apnerve commented on #2553
I'm facing similar issue. This is my setup

- Hasura graphQL engine running on port 8080 in a container
- Nginx (listenin to 443, proxied to 8080), SSL by Letencrypt managed using certbot

When I use an https endpoint, hosted on zeit now, as webhook, it works. But when I use another https endpoint hosted on EC2 and SSL certificate by Letsencrypt, it gives "certificate has unknown CA" error

The we

[2020-03-21 20:51] rohanmuplara opened #4159 "Declarative Database Management"
I want to manage the database with a tool like https://lift.prisma.io/ or sqlalchemy, where the database schema is managed and declared in code. Furthermore, when I make changes to this code, I want easy ways to manage this migration. What is the best way to do this with hasura?

[2020-03-21 20:58] rohanmuplara opened #4160 "Authentication"
I am building a sass application. For each potential customer, I want them to them to have an admin and each admin to allow different roles for their customer. It seems like something like auth0 can not easily be integrated with hasura to have this functionality.  Additionally, I was wondering what the best way to integrate with something like https://workos.com/.

[2020-03-22 06:14] rohanmuplara commented on #4159
Another thing is that sometimes we have some hasura metadata that gets added and if I am using these external tools to manage the schema, how would that integrate with that metadata

[2020-03-22 06:38] tirumaraiselvan commented on #4108
@alex-w0 I am not sure I understand. If you don't want to allow "user" to perform queries on reservations, why give select permissions to "user" on this table in the first place?

Do you not want to allow query `reservations` but allow query `reservations_by_pk` ? In that case, the RFC I linked in my previous comment should be relevant.

[2020-03-22 07:17] mklueh opened #4161 "hasura.exe getting detected as Trojan:Win32/Zpevdo.A and removed by Windows Defender"
I´ve installed the Hasura CLI via **yarn global add hasura-cli** and the contained hasura.exe is frequently getting removed by Windows Defender and marked as Trojan:Win32/Zpevdo.A.

Why is it detected as a trojan and can you do something against it?

[2020-03-22 12:17] alex-w0 commented on #4108
@tirumaraiselvan At the moment I have two problems that I'm facing:

1) "**user**" can perform queries on reservations, but I need a hook or something where I can define that only the reservations should be returned where the "user" is related to, because the user should not have access to reservations from other users. (on the other hand the query reservations should return all reservations from

[2020-03-22 14:37] tirumaraiselvan commented on #4108
The permission system allows you to do this. You can give select permissions for "user" with the boolean check `{ "user_id": {"_eq": "X-Hasura-User-Id"}`. See https://hasura.io/docs/1.0/graphql/manual/auth/authorization/common-roles-auth-examples.html#logged-in-users

I am guessing "public" is an unauthorized role. This is also solvable using the permissions system. You can have an insert permissi

[2020-03-22 22:23] ARMATAV opened #4163 "Handle multiple constraint violations on upsert"
`graphql-engine: hasura/graphql-engine:v1.1.0.cli-migrations`

How can I go about handling multiple constraint violations?

Say I have two constraints, `[my_first_constraint, my_second_constraint]`

[code]

Works for `my_first_constraint` violations, but then errors out when `my_second_constraint` conflicts during an upsert.

I know Postgres doesn't handle multiple constraints, but is there a way

[2020-03-23 03:56] tejasmanohar commented on #2494
Is there an update on when remote joins will be released? I also want to be able to "return rich hasura-generated types" from my custom mutation

[2020-03-23 04:30] tirumaraiselvan commented on #2494
@tejasmanohar The new `Actions` feature allows you to create custom mutations and connect it with the rest of the graph. See https://hasura.io/docs/1.0/graphql/manual/actions/action-connect.html

[2020-03-23 04:44] 0x777 commented on #4163
Looks like this is [not straightforward](https://stackoverflow.com/questions/35888012/use-multiple-conflict-target-in-on-conflict-clause) in Postgres currently.

[2020-03-23 04:47] 0x777 commented on #4158
@mklueh Which version of graphql-engine are you using?

[2020-03-23 05:05] 0x777 commented on #4153
@maarekj I'm closing this for now, please feel free to re-open this if the issue persists.

[2020-03-23 05:05] #4153 closed

[2020-03-23 07:01] mklueh commented on #4158
@0x777 v1.1.0

[2020-03-23 09:14] rikinsk commented on #4158
I can confirm that this happens for any table with a manual relationship to another table. The keyword "user" is not related to the issue

[2020-03-23 10:32] rikinsk commented on #4161
Related #3922

[2020-03-23 10:36] rikinsk commented on #4148
Related to #611

[2020-03-23 10:41] dilame commented on #4148
Related, but not fully. I'm talking about unconditional inheritance, which is enabled always by default. #611 is about the roles hierarchy.  So it's a bit different.

[2020-03-23 10:52] rikinsk commented on #4148
@dilame Got it. Just linking similar issues for better planning.

Also related to #280

[2020-03-23 11:17] rikinsk commented on #4147
@dazza-codes
- It is possible to template the base url used for actions based on ENV vars as mentioned [here](https://hasura.io/docs/1.0/graphql/manual/actions/create.html#set-the-handler).

- It is also possible to use ENV vars to template headers across environments.

  ![Screenshot from 2020-03-23 16-29-33](https://user-images.githubusercontent.com/54616969/77310063-af446700-6d23-11ea-995e-202d

[2020-03-23 11:45] rikinsk commented on #4159
The [metadata management](https://hasura.io/docs/1.0/graphql/manual/migrations/manage-metadata.html) docs page might be of help.

You can use your tool of choice to manage the postgres schema migrations across environments. On the Hasura front you will only need to manage the Hasura metadata migrations.

In case you have made any changes to the underlying database, you just need to **reload the Ha

[2020-03-23 11:57] rikinsk opened #4165 "allow disabling all version update notifications on console"
From #4096.

[2020-03-23 11:58] rikinsk commented on #4096
This can be solved in 2 ways:

The **console** can allow users to opt-out of all notifications. The notification will be shown once after which it wont be shown again for that db instance.

The **server** can take an ENV variable as suggested here and pass it to the console. The notification will never be shown.

Leaving this issue open for the server based solution. Created #4165 for the console

[2020-03-23 12:00] HyperionART opened #4166 "Inheritance and foreign key"
_Originally posted by @marionschleifer in https://github.com/hasura/graphql-engine/issues/3453#issuecomment-561082649_

I'm currently setting up a schema on Hasura (I'm not the one who installed it) and I have this issue with inheritance :

I have these tables :

- node
- node_type
- node_content
- game (inherits node_content)

Node contain 2 foreign keys :
- one to node_type.id
- one to node_cont

[2020-03-23 12:36] wawhal commented on #4142
- We'll have a tabbed layout at the update permissions
- The conditions will  be called `pre-update` and `post-update
- While referring to these permissions while setting other permissions, it'll display (`same as pre-update` and `same as post-update`)

[2020-03-23 20:05] gerwim opened #4168 "Migration with same name as column mapping fails"
I've created the relation called "permissionLevel", for a field "permissionLevel" which maps to "PermissionLevel". This works fine, however the migration created can not run, with the error:

[code]

Migration in question:
[code]

Renaming the `name` to e.g. `permissionLevelTest` works and the migration continues:
[code]

Version info:
Hasura engine version: 1.2.0-beta.2
Postgres 12.2

[2020-03-23 21:29] fbrbovic commented on #1241
Need this as well, any updates on this?

[2020-03-23 22:45] scribahti commented on #4134
@tirumaraiselvan looks like a timeout.

[code]

[2020-03-23 22:47] scribahti commented on #4134
@tirumaraiselvan looks like a timeout.

[code]

[2020-03-24 00:08] alex-w0 commented on #4108
And when the role is an **admin** and doesn't match with the user_id from the reservation? Because the reservation is always referenced to a specific **user**.

Yes, public is an unauthorized role. In my case there doesn't exist a booking table, only the table "reservations" exists, which should be accessible in different ways for these roles. So can I define that the unauthorized role can select

[2020-03-24 01:45] lexi-lambda commented on #3759
It would be very helpful if you should share a schema that reproduces the issue! Otherwise it’s hard to know what’s going on.

[2020-03-24 03:04] tirumaraiselvan commented on #4108
@alex-w0

The role "admin" is a special role and has full access to everything.

Yes.

I would also recommend going through few access control examples in the docs: https://hasura.io/docs/1.0/graphql/manual/auth/authorization/common-roles-auth-examples.html

You can also use the community chat for discussing such questions: https://discordapp.com/invite/hasura

[2020-03-24 03:49] sgrove opened #4169 "In-place doc editing?"
We've been working with the Egghead folks on an in-page editor (not quite WYSIWYG, just real-time feedback) for their transcripts, which are backed by files on GitHub - very similar to Hasura docs! Submitting an edit to a doc requires a user to first authenticate with GitHub, then opens up a PR to the underlying project (graphql-engine) transparently.

Would it be useful to have something similar,

[2020-03-24 03:54] apnerve commented on #2553
Used certbot for SSL again and it works fine now. The issue wasn't at the hasura end but how the SSL cert were configured.

[2020-03-24 04:49] jcmoore0 commented on #3759
Hi @lexi-lambda -  'Reload enum values'  doesn't update schema.   It's not super urgent since there is a workaround by restarting the server.

I just ran a simple test and included migrations here:
https://github.com/jcmoore0/hasura_enum

Let me know if you need something else.

Best regards,

[2020-03-24 06:34] tirumaraiselvan opened #4170 "console: choosing `_has_any_keys` operator creates an array"
This is what happens:

![Screen Shot 2020-03-24 at 12 01 25 PM](https://user-images.githubusercontent.com/8663570/77395313-51695b00-6dc7-11ea-8dda-d9cfaaace36c.png)

What I really wanted was this ( I had to manually remove the array in the json ):

![Screen Shot 2020-03-24 at 12 02 52 PM](https://user-images.githubusercontent.com/8663570/77395435-91c8d900-6dc7-11ea-9320-407be8dc58f7.png)

[2020-03-24 07:42] tirumaraiselvan opened #4171 "logging action webhook calls"
If log-type is set to `debug`, then the webhook call should be logged.

[2020-03-24 07:44] 0x777 opened #4172 "support adding custom top-level queries through actions"
Currently we only support mutations but there is no technical reason that is limiting us from doing so.

[2020-03-24 09:22] wawhal opened #4173 "console: fix casing in "updating Permission" notification"
There's a casing issue in the notification:

![Screenshot from 2020-03-24 14-51-00](https://user-images.githubusercontent.com/27274869/77409325-0d825000-6ddf-11ea-9a76-281dd1086cff.png)

[2020-03-24 11:23] joni7777 commented on #2995
Any updates on when to expect this to be delivered? Really need this amazing feature!

Thanks

[2020-03-24 12:06] dsandip opened #4176 "document the `redeliver_event` metadata API"

[2020-03-24 12:18] rikinsk commented on #4170
@tirumaraiselvan You can convert the array to a string by clicking the `X-Hasura-Allowed-Ids` suggestion shown at the end of the array. By default `has_key_any` accepts an array of strings hence it is the default behaviour.

This is a UX thing. I am not sure how to make it more obvious. Ideas are welcome.

[2020-03-24 12:23] tirumaraiselvan commented on #4031
Spec:

1. The server accepts a startup env/flag `HASURA_GRAPHQL_DEBUG_MODE` which can be set to `true` (default: `false`).

2. When server runs with the above flag and a session variable `x-hasura-debug-mode: true` is given (irrespective of role), action response should have the following response:

(This is the same response as `admin` role but with extra keys `request` and `response`)

[code]

T

[2020-03-24 12:35] tirumaraiselvan commented on #4170
@rikinsk Ah!

It would be clearer if clicking `[X-Hasura-Allowed-Ids]` started the array builder and there was another suggestion like `X-Hasura-Allowed-Ids` which converts this into a concrete thing. So basically, 2 suggestions in green.

[2020-03-24 13:15] #4176 closed

[2020-03-24 15:48] madasebrof commented on #678
Plus one for support for CockroachDB! 😄

[2020-03-24 17:44] ozum commented on #2151
Any progress on this?

[2020-03-24 17:52] rohanmuplara commented on #4160
Any help here

[2020-03-24 18:51] sobrinho opened #4178 ""Remove all permissions" button not working"
Not sure what's going on, selecting one or many permissions.

![Screen Shot 2020-03-24 at 15 49 19](https://user-images.githubusercontent.com/26460/77465193-08290380-6de7-11ea-923b-105445da729e.png)

Browser: Safari
Hasura: v1.1.0

[2020-03-24 19:21] tspike commented on #2151
Looks like they've added rate limiting as a Pro-only feature 😞

https://youtu.be/JS6eMQ6H7eA

[2020-03-24 20:01] elmehalawi opened #4179 "Valid JWT but hasura still complains about "missing headers""
In the Hasura console, I added a valid JWT that seems to include the required fields:

![Screen Shot 2020-03-24 at 2 54 37 PM](https://user-images.githubusercontent.com/2058016/77471211-e24c3080-6ddf-11ea-91e3-109951b2fce4.png)

The JWT seems to include `x-hasura-user-id`. However, when I run a query, I get the following error:

[code]

I don't get this error when I copy and paste the `x-hasura-us

[2020-03-24 20:55] coco98 opened #4180 "RFC: Community library of data models, postgres functions and constraints for the console"
While setting up a database schema or doing data modelling in general, it would be immensely useful to be able to be able to use a best-practices reference schema to use as a starting point.

I imagine the experience to be something like this:
1. On the data tab on the console, I can browse a library of community contributed schemas
2. I can search for and import a schema into the console
3. This

[2020-03-24 20:59] coco98 opened #4181 "Open RFCs: Give us your input!"
The RFCs that are currently open for comments and feedback are listed below.

Each PR below contains a link the RFC that you can preview. We'd love to hear your input, feedback, questions and more. Add your notes to the RFC as comments to the PR!

- [#3868](https://github.com/hasura/graphql-engine/pull/3868): **Using multiple roles simultaneously**
- [#3852](https://github.com/hasura/graphql-engin

[2020-03-24 21:13] lexi-lambda commented on #3759
Thanks, that’s extremely helpful! I can’t promise that we’ll look into it immediately, but I’ll definitely make sure it gets looked at in the near future.

[2020-03-25 00:39] WJChai commented on #721
+1.. would be awesome if we can use relay + hasura

[2020-03-25 02:11] rektide commented on #3812
Good answers all. Thanks for the help. I'm happy letting this get closed? Is that the right path? Thanks thanks thanks, each & every one of ya!

[2020-03-25 02:32] leoalves commented on #4180
Why not have the data model and the remote_schema/action code, instead of only the data model.

Hasura could define a template on how a developer should structure their Github repo and use that in the console.

Let's say I want to add a Firebase Authentication to the marketplace. I could have a Github repository with the following structuture:
- migrations
   - up.sql
   - down.sql
   - schema.yml

[2020-03-25 04:39] JorgeCeja commented on #348
@0x777 Can `text[]` be accessed through the console?

[2020-03-25 05:13] tirumaraiselvan commented on #4160
@rohanmuplara This can be achieved at the authorization layer ( in hasura) rather than the authentication layer (in auth0). This means that you can model permissions in Hasura to allow for such capability.

For e.g. let's call the admin for each potential customer as "account manager". You can have a table called `account_managers` and create a relationship with `customers` table to get all potent

[2020-03-25 05:20] tirumaraiselvan commented on #3812
@rektide Thanks, closing this then. We can reopen and continue discussion here if you have further questions.

[2020-03-25 05:20] #3812 closed

[2020-03-25 05:22] ozum commented on #2151
From https://hasura.io/

@coco98 said:

...
We’ll be putting up the spec and raising the PR in a bit.

...and this:

https://youtu.be/JS6eMQ6H7eA

I agree with @tspike: 😞

[2020-03-25 05:22] tirumaraiselvan commented on #348
@JorgeCeja This issue is for server. Suppose for array types in console is here: https://github.com/hasura/graphql-engine/issues/2544

[2020-03-25 05:54] rhaksw commented on #574
I figured out how to convert GET requests to POST in order to cache idempotent GraphQL queries via CDN!

I'm writing this out because I've received a lot of help from Hasura devs and want to give something back. There may be a better way. This is what I did,

**Basic**

Send a GET to /graphql-get/ which proxies to a customized openresty version of nginx. Openresty converts GET to POST and then pro

[2020-03-25 06:05] tirumaraiselvan commented on #4166
I tried to repro this with the following schema:

[code]

I could perform all the insert mutations: insert_cities, insert_capitals, insert_states

Can you provide a sample schema and the exact mutation that you are trying to perform which throws this error?

[2020-03-25 08:03] beepsoft commented on #2151
Well, I got a thumb up from @coco98 for this question of mine, which means ... something.

[2020-03-25 09:08] ozum commented on #2151
@beepsoft I hoped as you thought. However this case has been open for a year and rate limiting seems already be available in "Pro" 🙄 version for months.

I'm not trying to be rude, but **IMHO** this sentence does not mean open source version gets rate-limiting. I think, it means we are using open source version and all PRs as a base for our closed version.

[2020-03-25 09:45] beepsoft commented on #2151
@ozum I would really like this feature too and although I would not be too happy if it was only available in the Pro version, I would much appreciate a clean statement from Tanmai or someone from Hasua regarding its availability.

So, @coco98, @marionschleifer will we have rate limiting in the OS version or will it be a Pro only feature?

And as always: thank you very much for your efforts!

[2020-03-25 09:47] #4099 closed

[2020-03-25 09:56] ecthiender commented on #4179
Hi @elmehalawi ,

Can you share a screenshot of -

1. all the request headers you are sending
2. the query you are making
3. the permissions on the relevant tables

That will help us to debug this

[2020-03-25 09:56] lastnamearya opened #4183 "console: spinner component integration"
Integrate <code>Spinner</code> component from the Design-System and replace all existing spinners.

reference ~ https://github.com/hasura/graphql-engine/issues/4136

[2020-03-25 10:02] lastnamearya opened #4184 "console: tooltip component integration"
Integrate <code>Tooltip</code> component from the Design-System and replace all existing tooltips.

reference https://github.com/hasura/graphql-engine/issues/4136

[2020-03-25 10:09] ecthiender commented on #574
@rhaksw you should consider writing a blog post about this :smile:

[2020-03-25 10:42] #4126 closed

[2020-03-25 10:52] lastnamearya opened #4187 "console: icon component integration"
Integrate <code>Icon</code> component from the Design-System and replace all existing icons.

reference https://github.com/hasura/graphql-engine/issues/4136

[2020-03-25 11:06] lastnamearya opened #4188 "console: heading component integration"
Integrate <code>Heading</code> component from the Design-System and refactor all existing headings.

reference https://github.com/hasura/graphql-engine/issues/4136

[2020-03-25 13:08] HyperionART commented on #4166
here is what I'm trying to do :
![Capture d’écran 2020-03-25 à 14 05 47](https://user-images.githubusercontent.com/37306161/77539528-d032c680-6ea1-11ea-9d5f-07a89f5e72d1.png)

The issues is that as soon as I want to make an insert in node via Hasura interface (Data > add row), it throw an fk constraint error (node_content_fk).
If I remove the inheritance, it works...

Maybe i did something wrong..

[2020-03-25 13:26] beerose opened #4189 "console: investigate and possibly update dependencies"
In the console, we have a lot of outdated dependencies, which may lead to some security vulnerabilities or issues with the library in the older version not being maintained anymore. From the TypeScript point of view, we may face problems like missing typings or not maintained typings for older versions.

Updating dependencies will also require an investigation and further discussion with the team,

[2020-03-25 13:38] tirumaraiselvan commented on #4166
@HyperionART Are you sure you have all the valid child references present in the child tables i.e. `node_content` and `node_type`  before inserting a row into table `node` with those references?

[2020-03-25 13:42] HyperionART commented on #4166
Yep.
I added a type, a node_content and then try to add a node by copy/paste the UUID of each (type and content)

[2020-03-25 13:43] tirumaraiselvan commented on #4166
@HyperionART I am not able to reproduce this at my end. Can you share a sample schema and input values?

[2020-03-25 13:54] tirumaraiselvan commented on #4166
Also, your original post shows that `game` inherits `node`. But your diagram shows `game` inherits `node_content`. Could you clarify?

[2020-03-25 13:56] HyperionART commented on #4166
oh it's a mistake from me... game inherits from node_content

[2020-03-25 14:01] gautambt opened #4190 "Guide to offline-first and realtime sync with Hasura"
We have a tutorial for building an offlinef first app with RxDB & Hasura at https://hasura.io/blog/building-an-offline-first-web-app-with-rxdb-hasura/

There is also a design guide at https://hasura.io/blog/p/1c5079be-d19e-4fd4-b700-2a6181f3fc40/

Demos:
Todo App: https://rxdb-hasura-demo.netlify.com/
Trello: https://trello-offline-first.netlify.com/

What else should we be looking at from an offl

[2020-03-25 14:03] HyperionART commented on #4166
https://dane2.herokuapp.com/console/data/schema/public/tables/node/insert
Feel free to check and tell me if I did a mistake (which is possible...)

[2020-03-25 14:10] rikinsk commented on #4178
@sobrinho Can you confirm if the role for which you were removing all permissions actually had some permissions set for that table?

[2020-03-25 14:57] brokercl opened #4192 "I try the hello query remote schema from glitch and now I cant deleted"
I try the hello query remote schema from glitch and now I cant deleted

[2020-03-25 15:06] pcmaffey commented on #2151
I believe this issue https://github.com/hasura/graphql-engine/issues/2269 is the only thing blocking the ability to setup rate limiting via authhook. If Hasura enabled the ability for an authhook to set and pass headers back to the client in response, we could use session cookies to manage rate limiting.

[2020-03-25 15:35] coco98 commented on #3578
@nirvdrum (I think we were chatting on the community call a few minutes ago?)

Do you have any ideas on the best way of doing this?

Maybe an optional field in the metadata / in the console to mark any primary key column as an ID type? Considering an ID type is really just a name and a string serialization any postgres PK should work.

[2020-03-25 15:41] nirvdrum commented on #3578
I inquired about this on today's community called and it was asked that I provide more data on what I think the solution could look like.

According to the latest published version of the [GraphQL Spec](https://spec.graphql.org/June2018/#sec-ID):

So, the spec not only permits UUIDs to be represented as the `ID` type, but it explicitly provides this use case as an example. And as far as I know, th

[2020-03-25 16:00] tirumaraiselvan commented on #4166
@HyperionART Thanks for the repro !

I repro'ed the problem and this is because you inserted into `game` table to get your `node_content`. If you directly insert into `node_content` then this doesn't happen.

This behaviour is because of caveats of inherited tables: https://www.postgresql.org/docs/10/ddl-inherit.html
From the above postgres docs:

This means that when you inserted into `game` tabl

[2020-03-25 16:38] sobrinho commented on #4178
@rikinsk there isn't, it is showing the role but without any permission set.

I will make a PR.

[2020-03-25 16:39] sobrinho commented on #4178
@rikinsk actually, what should happen here?

[2020-03-25 17:02] elmehalawi commented on #4179
Thanks for the reply, @ecthiender. Sure thing. Here are my headers:

![Screen Shot 2020-03-25 at 11 58 32 AM](https://user-images.githubusercontent.com/2058016/77563941-f51e3e00-6e8f-11ea-9cf3-16a5fe0e0154.png)

Here is the query I'm making:

[code]

Here are the permissions for the profile table:

![Screen Shot 2020-03-25 at 12 00 54 PM](https://user-images.githubusercontent.com/2058016/77564177-

[2020-03-25 18:11] alex-w0 commented on #4108
@tirumaraiselvan

And if I have another role that is a little bit lower than the admin, which is also not related to a specific user_id from the reservation?

I would also recommend going through few access control examples in the docs: https://hasura.io/docs/1.0/graphql/manual/auth/authorization/common-roles-auth-examples.html

Alright thanks, so I'll give it a try.

[2020-03-25 18:45] ekifox commented on #3353
up

[2020-03-25 19:04] tobiastornros opened #4194 "Migrations: create_insert_permission always include empty string key value for localPresents"
Hasura version: 1.1.0

create_insert_permission type migrations up.yaml always include following key value in the localPrests list.

[code]

Example of migration when creating permission for user on table:

[code]

And if I add the x-hasura-user-id localPresets it will look like this:

[code]

Is the empty key value really necessary?

[2020-03-25 19:05] tobiastornros commented on #4194
Find similar issue: #3976

Closing this issue.

[2020-03-25 19:05] #4194 closed

[2020-03-25 19:22] ecthiender commented on #4179
@elmehalawi thanks for the info.

So if you send the `x-hasura-admin-secret` header ,then the JWT is not considered and then it expects you to send other `x-hasura-*` headers directly (hence it complains, it expected `x-hasura-user-id` header as required by the permission).

You should uncheck the `x-hasura-admin-secret` header when sending the `Authorization` header and it should work!

[2020-03-25 19:38] elmehalawi commented on #4179
That did work. Can't believe I missed that in the docs. Thank you!

[2020-03-25 19:38] #4179 closed

[2020-03-25 22:13] coco98 commented on #3578
I think a Hasura metadata/console option that makes it easy to mark any UUID or Text column to an ID GraphQL type would work absolutely fine.

This should work well with the auto-generated resolvers and all the filter/sort options as well because Hasura can internally map the ID type back to UUID and text and all the operators will stay the same.

@0x777 @tirumaraiselvan Any thoughts? Any more inp

[2020-03-25 22:46] nirvdrum commented on #3578
@coco98 Thanks for the follow-up. An option in the console would be fine, too. I'd suggest maybe it should default to "on" in new tables if using the UUID PK "frequently used column" helper. I'd imagine this is something that'll come up as you consider Relay compatibility as well.

ReasonML is probably a niche use case, but I appreciate you considering it. Since ReasonML is statically typed, every

[2020-03-25 23:54] coco98 commented on #3578
Thanks for the context @nirvdrum. This is helpful! :)

[2020-03-26 03:09] shahidhk commented on #4127
reopening to track server PR

[2020-03-26 03:24] #4036 closed

[2020-03-26 04:13] shahidhk commented on #4161
closed as duplicate

[2020-03-26 04:13] #4161 closed

[2020-03-26 04:15] shahidhk commented on #3922
We're working on getting the binary whitelisted, and have submitted a detection dispute with https://www.mcafee.com/enterprise/en-us/threat-center/detection-dispute-form.html

[2020-03-26 05:18] shahidhk commented on #4105
I think we will not need multiple versions for plugins other than `cli-ext`. The reason or having multiple versions for `cli-ext` is to have a matching one for the CLI version since they both have a contract between them.

[2020-03-26 05:42] shahidhk opened #4197 "ci: add tests for cli-migrations image"
We need to add some tests for the CLI migrations image.

[2020-03-26 06:12] wawhal opened #4198 "docs: add docs for setting up the actions service for using codegen efficiently"
We provide starter-kti with some of the codegen frameworks and runtimes. It will be helpful to have a end to end guide where the user:
1. Starts from scratch and sets up the action service (using the starter-kit)
2. Creates an action
3. Sets up the action handler in the action service

[2020-03-26 06:15] tirumaraiselvan commented on #1681
This can now be achieved using `Table Computed Fields` : https://hasura.io/docs/1.0/graphql/manual/schema/computed-fields.html#table-computed-fields

Thank you all for your feedback !

[2020-03-26 06:15] #1681 closed

[2020-03-26 06:33] ozum commented on #2151
@pcmaffey #2269 is also important FR. On the other hand rate limiting is not only limiting number of request. A malicious user can DoS every public hasura system with single query deep enough. (Only exception is white listing queries, which I think is a nuclear option)

[2020-03-26 08:23] rikinsk commented on #4168
@gerwim Please correct me if I am wrong but as I understand your table `UserAccount` has a column `permissionLevel` and you are looking to create a relationship with the same name. This would would cause a conflict in the GraphQL schema and hence is not allowed. If this is not the case could you please clarify the column names in the respective tables.

I am also curious how you managed to create

[2020-03-26 08:30] #3969 closed

[2020-03-26 08:54] tirumaraiselvan commented on #1593
Related: https://github.com/hasura/graphql-engine/issues/248

[2020-03-26 09:55] cjonestcgsi commented on #2461
@tirumaraiselvan  Answering for a different company/use case.. In the case of an integration with Stripe - we would want to let a user see their own transactions and balance and certain status related details - such as the 'requirements' that Stripe may have for them, so we would want to query the remote schema using the stripe-customer-id, associated with the X-Hasura-User-Id, and to allow querie

[2020-03-26 10:11] dysrama opened #4199 "Can't write to table directly when event trigger is set up"
I have a number of schemas owned by a specific service and Hasura on top.
Each service connects to postgres with it's own user that only allows access to its specific schema.
My issue is, that even since setting up events in Hasura, the owner of the schema can't do writes to any tables with an event attached anymore.
The specific error is "pq: permission denied for schema hdb_catalog".

I've tried

[2020-03-26 11:07] rikinsk commented on #4178
@sobrinho Thanks for raising a PR to fix this! In place of hiding the checkbox completely, it would be nicer if we could disable it with a title "No permissions exist".

[2020-03-26 11:22] rikinsk commented on #4192
@brokercl Can you share some more details. What exactly are you not able to delete? Some steps to reproduce the issue will be of great help

[2020-03-26 11:52] #3792 closed

[2020-03-26 12:04] tirumaraiselvan commented on #4117
Fixed via https://github.com/hasura/graphql-engine/pull/4141

[2020-03-26 12:04] #4117 closed

[2020-03-26 13:39] tirumaraiselvan opened #4200 "run_sql should take a flag to skip schema cache building"
Currently, run_sql takes few flags: https://hasura.io/docs/1.0/graphql/manual/api-reference/schema-metadata-api/run-sql.html#run-sql-syntax

Only when `read_only` is `true` does it skip schema cache building but this only works for `SELECT` queries : https://github.com/hasura/graphql-engine/blob/b84db36ebb51acd5b51e1254c103f3097a7c2358/server/src-lib/Hasura/Server/Query.hs#L262

We should have a f

[2020-03-26 14:00] 0x777 commented on #2846
@litchfield Doesn't the `nodes` field in `<table>_aggregate` field serve the same purpose as `array_agg`?

[2020-03-26 14:11] sobrinho opened #4201 "JSONB fields aren't presented adequately"
JSON of Schrodinger:

![Screen Shot 2020-03-26 at 11 05 37](https://user-images.githubusercontent.com/26460/77656178-40008a00-6f52-11ea-8a6c-4bfab34ac00b.png)

One is a string (by mistake) and the other one is an object. Which one is the correct one?

![Screen Shot 2020-03-26 at 11 05 46](https://user-images.githubusercontent.com/26460/77656236-56a6e100-6f52-11ea-9c6b-17545558d111.png)

![Screen S

[2020-03-26 14:14] flinz opened #4202 "Bug: Hasura "analyze" not working for custom function with custom type not in search_path"
# Issue

"Analyze" on a query of a tracked custom function that has an input variable of a custom type fails, if the input type is not in the postgres role search_path.

# Test-case

## Error in UI

This query works as intended and can be analyzed
[code]

![image](https://user-images.githubusercontent.com/97735/77656407-1e17ff00-6f74-11ea-8da2-c696787c5388.png)

This query works as intended but ca

[2020-03-26 14:48] leoalves commented on #2461
@cjonestcgsi
I think the use case you explained will be solved with Remote Joins, when that gets released.
https://hasura.io/remote-joins

[2020-03-26 15:01] #3623 closed

[2020-03-26 15:43] #4178 closed

[2020-03-26 15:53] tirumaraiselvan commented on #4200
Now, that we have made `replace_metadata` super fast (https://github.com/hasura/graphql-engine/pull/4182), it would suck if we are bottlenecking badly on something that is not even required i.e. applying sql statements via run_sql and then doing a `replace_metadata`.

[2020-03-26 17:15] vhiairrassary opened #4203 "console: allow customising root fields of single row mutations"
First of all, thanks for Hasura ❤️

I am using Typescript and I would like to use camel case convention. As of 1.2.0-beta.2, I can set some `Custom GraphQL Root Fields` for a table but it seems the following are missing (screenshot attached):
- Delete By PK
- Insert One
- Update By PK

Also, I am currently using (abusing?) the `Custom GraphQL Root Fields` feature for camel case support. Would love

[2020-03-26 17:36] vhiairrassary commented on #4203
It seems there is also the same issue with `<relationship_name>_aggregate` field as well:
<img width="373" alt="Screenshot 2020-03-26 at 18 36 26" src="https://user-images.githubusercontent.com/6972399/77677944-bcb25900-6f90-11ea-8a12-b7ab5389646a.png">

[2020-03-26 18:52] wemersonrv opened #4206 "fail to connect no WebHook url endpoint in docker toolbox (windows)"
Hello, i would like to report an issue on version 1.1.0 when try to fire an Event Trigger.

Environment:

OS: Windows 10 64 Bits
Docker Environment: Docker Toolbox with Virtualbox
Hasura: v1.1.0
Webhook URL: http://host.docker.internal:8000/api/client-cache-reset

The webhook is working in OS host outsite docker containers... at:  http://127.0.0.1:8000 so i need to use internal network address (**

[2020-03-26 19:47] kzka90 commented on #3239
+1  Anyone working on this fix?

[2020-03-26 19:47] leonardoarroyo opened #4207 "Using column value _exists constraint"
I am looking for a way to use a value coming from an insert query inside a _exists constraint. Currently, my use case is allowing a user only to associate with a record that he owns.
Here's how my custom check is looking right now, unfortunately I can't find a way to use kind_id value in this situation.
Is this use case already handled by hasura?

[code]

[2020-03-26 19:51] lexi-lambda commented on #3239
PR #3344 fixes this, but it still needs a couple final touches before merging, which is why it has not been merged yet. I would very much like to make those final touches, but neither I nor anyone else on the team have been able to get to it yet.

It is on our backlog, so I assure we have not forgotten about it! But if anyone is interested in getting the fix in faster, by all means, feel free to p

[2020-03-26 19:58] leonardoarroyo commented on #4207
I was able to solve this with this check.
`{"_and":[{"kind":{"app_id":{"_eq":"X-Hasura-App-Pk"}}}]}`

Huge thanks for this piece of software.

[2020-03-26 19:58] #4207 closed

[2020-03-26 20:25] makkus commented on #3388
Hiya, sorry it took me a while. I still intend to create a small test setup to have better data, but didn't get around to it. Here's what I remember from when I had the problem:

Mostly mutations (about 15 people scanning barcodes at the same time), every scanned barcode is saved (seperately) into a postgres table via a python proxy webservice, which in turn talks to hasura. I reckon there was abo

[2020-03-26 20:42] #3940 closed

[2020-03-26 21:27] kawamataryo commented on #4123
Hi. I try it.

[2020-03-26 23:08] wemersonrv opened #4211 "updated_at Triggers: record \"_new\" has no field \"updated_at\"" with triggers created outside hasura"
**Environment:**
- OS: Windows 10 64 Bits
- Docker Environment: Docker Toolbox with Virtualbox
- Hasura: v1.1.0

Hello, we have a desktop app that uses Postgres. And plan to make a mobile app to connect it and hasura is a good idea to works as layer because we don't need make deepp refactor to make data compatible. So just configure hasura to use this database and voilá! Great!

Well 99% fine, we

[2020-03-27 01:46] tiagob commented on #4009
Same issue, this is what I see

postgres version
[code]

column_name | column_default
-- | --
id | NULL
event_id | NULL
status | NULL
request | NULL
response | NULL
created_at | now()

[2020-03-27 02:21] tirumaraiselvan commented on #4009
It appears that the column default is getting dropped. I am not sure how this happens.

The fix, till root cause is found, is to add the column default back:

`ALTER TABLE hdb_catalog.event_invocation_logs ALTER COLUMN id SET DEFAULT gen_random_uuid()`

[2020-03-27 02:44] tirumaraiselvan commented on #2461
@cjonestcgsi leoalves is right. Remote joins allows you to join tables with remote data. So if you have access to only `stripe-customer-id` (which is `x-hasura-user-id`) then you will get joined data corresponding to only that. The strip use-case is also presented here: https://hasura.io/blog/remote-joins-a-graphql-api-to-join-database-and-other-data-sources/

[2020-03-27 04:35] Maxvien commented on #4129
I think we should let hasura-cli read env variables from `.env` like docker-compose like this.

[code]

[2020-03-27 07:02] tiagob commented on #4009
Thank you @tirumaraiselvan ! That fixes it.

I see what happened. I ran

[code]

Then brought the container back up and the DEFAULT was gone. Is there a better way to wipe all the data? Is there a way to bring back these defaults after I've wiped the data like this? I'm concerned I may have missed something else.

Tested this with the latest docker image https://github.com/hasura/graphql-engine/tr

[2020-03-27 07:50] wawhal commented on #4203
Hey! Thanks for reporting :)
GraphQL Engine actually supports customising root fields for single row mutations as well. It is just not implemented on the console UI. We are working on it.

In the meanwhile, you can use this API as a workaround:

[code]

As for `relationship_aggregate` customisation, @rakeshkky can you look at this?

[2020-03-27 08:30] vhiairrassary commented on #3320
👍We are interested as well. Currently we rely on the `Custom GraphQL Root Fields` feature but it involves error-prone work. Also, some parts cannot be changed such as `on_conflict` & `update_columns` fields.

In the meantime we should soon have missing field available in console: https://github.com/hasura/graphql-engine/issues/4203.

[2020-03-27 09:03] vhiairrassary opened #4215 "console: suspicious migrations created after column edition"
I am pretty sure the console creates suspicious migrations. Here a the reproductible steps:
- Start with a fresh Hasura instance & a fresh database as well;
- Set up a project directory & Open the console from the CLI (as show in the [documentation](https://hasura.io/docs/1.0/graphql/manual/migrations/new-database.html#migrations-new-db));
- Create a table `test` with a `ts` column, selecting `Tim

[2020-03-27 09:31] #4035 closed

[2020-03-27 11:52] karthikvt26 commented on #4215
@vhiairrassary Is this `timestamp with time zone` vs `timestamptz` the problem? if not could you please explain why you think so?

[2020-03-27 12:03] 0x777 commented on #4215
@karthikvt26 I think @vhiairrassary's point is that this migration shouldn't even be generated because only the custom field name of the column is updated?

[2020-03-27 12:10] 0x777 commented on #4025
@ecthiender If we were to add a `clock_skew_tolerance_jwt` option server side option, can it be implemented by ourselves or do we need support from the underlying JWT library?

[2020-03-27 12:11] karthikvt26 commented on #4215
I agree and atleast with v1.2 and above this should just add an entry in `tables.yaml` inside `metadata`.

[2020-03-27 12:13] ecthiender commented on #4025
@0x777 , not sure about this. I will check and report on this thread.

On Fri, Mar 27, 2020 at 5:40 PM Vamshi Surabhi <notifications@github.com>
wrote:

[2020-03-27 12:21] karthikvt26 commented on #4215
Ok looks like a way forward is to identify any change to be either `metadata only` or `schema only` or `both`

[2020-03-27 12:24] ecthiender commented on #4025
Looks like its a simple setting on the library: https://hackage.haskell.org/package/jose-0.7.0.0/docs/Crypto-JWT.html#t:HasJWTValidationSettings

[2020-03-27 12:27] vhiairrassary commented on #4215
Exactly! For information, I am using version `1.2.0-beta.2`.

[2020-03-27 12:28] tirumaraiselvan opened #4217 "remove direct use of gen_random_uuid to avoid dropping column default"
Hasura installs pgcrypto during initialization. This provides the function `gen_random_uuid()` which is used in many `hdb_catalog` tables as column DEFAULT.

Now, pgcrypto components are installed in public schema (although extensions itself are db wide). The reason for this is mentioned here: https://github.com/hasura/graphql-engine/issues/3657#issuecomment-572043954

The problem is that people m

[2020-03-27 12:34] tirumaraiselvan commented on #4009
@tiagob If you run `DROP SCHEMA public` , it will throw errors that `gen_random_uuid()` (a function that comes from pgcrypto extension) is being used in `hdb_catalog` tables. With cascade, the dependencies are dropped and the columns have no default.

Maybe instead of dropping schema, you can just drop all tables (function, views, etc) : https://stackoverflow.com/a/3327326/1911889

Also, created t

[2020-03-27 13:13] Bwolfs2 opened #4218 "How can i simplify queries"
I have something like this:
products {
  name,
  price,
  brand {
    name
  }
}

Which produces this response:

{
  "data": {
    "products": [
      {
        "name": "Black Dress",
        "price": 520,
        "brand": {
          "name": "Coach"
        }
      }
    ]
  }
}

so, can this:
"brand": {
  "name": "Coach"
}

be simplified to this somehow?

"brandName": "Coach"

I find somthing us

[2020-03-27 13:19] lastnamearya commented on #4189
also while updating move <code>prettier</code> from dependencies to devDependencies.

[2020-03-27 13:53] rikinsk commented on #4215
This happens only with the timestamp column. there seems to be an inconsistency while comparing the type of a timestamp column during edit which causes console to believe the type of the column has changed and hence it generates an alter column type query

[2020-03-27 14:07] rikinsk commented on #4215
related #3345

[2020-03-27 16:07] dysrama commented on #4199
To reproduce (might also better explain the issue):
- add role X and role Hasura
- add a schema with owner X
- give role Hasura access to schema
- expose schema in Hasura and add an event trigger to update
- add some records
- use postgres to update a record directly to cause the "pq: permission denied for schema hdb_catalog" error

[2020-03-27 16:11] tirumaraiselvan commented on #4199
@dysrama Thanks for the instructions. I will try to repro this, there might be few other permissions required.

[2020-03-27 18:56] tiagob commented on #4009
Very helpful. Thank you @tirumaraiselvan ! I love this product

[2020-03-28 06:20] tirumaraiselvan commented on #4166
@HyperionART There is infact a workaround.

You can drop the actual foreign key constraint on `node`:

`
alter table node drop constraint node_node_content_fkey
`

And then you can create a manual relationship instead as `node.node_content -> node_content.id`. See https://hasura.io/docs/1.0/graphql/manual/schema/relationships/create.html#create-manual-relationships

This allows you to insert into

[2020-03-28 21:46] maxcan opened #4222 "hasura migrate create --from-server loses manual SQL migrations which breaks enum tables"
If you use that approach to squash migrations, you lose any manual `INSERT INTO` SQL migrations that you've run.

The main problem with this is that if you have any enum tables, they new migrations will break since enum tables must have at least one row.

At a minimum, this should be noted in the docs (happy to put in some copy if you want) but ideally the `--from-server` option should have an opt

[2020-03-28 22:04] dminkovsky commented on #2951
Access to HTTP headers in mutations would, indeed, be really nice. For example, how do I log a user's IP (`x-forwarded-ip`) or a request ID (`x-request-id`). This seems really basic/fundamental? Asked on SO today, too: https://stackoverflow.com/q/60725224/741970

[2020-03-28 22:10] leoalves commented on #2951
I think this issue is related to this other one
https://github.com/hasura/graphql-engine/issues/1601

[2020-03-29 08:00] mklueh opened #4225 "add a current version badge to readme"
Just a small request. Would it be possible to show the current build version the last docker image is based on somewhere? Because one always has to navigate through the documentation just to land on

https://github.com/hasura/graphql-engine/blob/master/install-manifests/docker-compose/docker-compose.yaml

to look it up in the yaml file.

[2020-03-29 08:40] Shadowigor opened #4226 "deleting a column with the edit primary key section open crashes the console"
Steps to reproduce:
- Create a table with a column `id` that is the primary key
- Save the table
- Modify the table and add a new column `id2`
- Set `id2` as the new primary key
- Delete the column `id`
- _Console crashes_
- Refreshing with F5 brings the console back, the operation was successful
- Rename the column `id2` to `id`

I did this cause I had to change the default value of `id`. Might n

[2020-03-29 13:02] anisjonischkeit opened #4227 "LOW PRIORITY: Adding remote schema fails when no tables exist"
Just started a fresh project and tried to immediately add a remote schema. Didn't work. Adding a table fixed it

[2020-03-29 13:53] arash16 opened #4228 "On batch http requests, auth errors are returned singular"
apollo-link-batch-http expects result to be an array. but when authorization fails, hasura returns a single object containing access-denied error. I'm using custom hooks to for authorization.

[2020-03-29 14:06] b3j0f opened #4229 "Hasura gql engine does not access to postgres instance in docker-compose env"
Hello.

After working few weeks with hasura, I just met a problem which seems to be between postgres (latest version) and hasura docker containers (same in versions 1.1.0 and 1.1.1).

Hasura success in initializing postgres tables such as hdb_table, hdb_version, etc. (checked from pgadmin where the "clustore" user is superuser)

Then, when I check http://localhost:8001/healtz in a browser (same wi

[2020-03-29 14:23] b3j0f commented on #4229
Sorry, I think the problem comes from my hasura auth webhook...

Thanks for developing hasura ^^'

[2020-03-29 14:31] b3j0f commented on #4229
I closed because I thought my problem came from HASURA_GRAPHQL_AUTH_HOOK but this last ok and returns always

[code]

[2020-03-29 14:37] shahidhk commented on #4225
@mklueh What about the releases page? https://github.com/hasura/graphql-engine/releases

[2020-03-29 14:46] Manubi commented on #4121
Where can I find the JWT inspector?

[2020-03-29 14:47] Manubi commented on #4121
Can you please expand a little bit on this? I've got the same problem...

[2020-03-29 14:51] andrewpmoore commented on #4121
So into hasura grapiql tab.
In the headers if you set authorisation and bearer <your token > at the side of where you paste it there should be a little inspector icon which when you click you'll see the data in your token and whether it's valid

[2020-03-29 15:59] Manubi commented on #4121
I found that already thanks. But I meant the other part where you were saying "It seems the issue was that when I tried to get the token I wasn't waiting for it to update the claims on firebase so it still had the old token. Thanks"

[2020-03-29 17:42] himat opened #4230 "Multiple OR relationships not working"
Hi, I want to connect a table with filters in my frontend to a graphql hasura query.

When I try the below, I get error: "There can only be one input field named _or"

But in my frontend I allow people to filter by both distance and weight columns, and if a field is null, I still want it to be returned, which is why I want to put _or's around both fields.

[code]

Is there any way to achieve what

[2020-03-29 18:15] himat opened #4231 "How to properly build filter queries"
Is there a good way to build filter queries?

I have a frontend table with search filters on each column. And when new text is typed in one of the filters, I want to send it to my backend to filter the data server-side (on Hasura)

Should I just use a base gql query string in my code, and then somehow insert new lines in the `where` clause every time a new filter gets added?

For example, I could

[2020-03-29 18:59] gradinarot commented on #4231
I dont know if I'm getting you right but you can try to use the include if directive. hope this helps

[2020-03-29 20:23] himat commented on #4231
@gradinarot  I think the directives only work for including fields to be return, you can't use them for including where clauses. So that wouldn't work here.

[2020-03-30 06:04] dostalradim opened #4233 "Hasura-cli downloading from github"
Hi, when I install hasura-cli with npm, the package is trying to download binary from github. But my servers are behind proxy, how can I tell the hasura-cli package to use my http/s proxy? I put proxy setting in npm config but it did not help.

Thank you

[2020-03-30 06:18] shahidhk commented on #4233
@dostalradim Please open the issue here: https://github.com/jjangga0214/hasura-cli

The npm package is maintained by community contributors :smile: They'll be able to help you.

[2020-03-30 06:18] #4233 closed

[2020-03-30 06:21] dostalradim commented on #4233
Oh, sorry

[2020-03-30 06:33] karthikvt26 commented on #4230
You can add multiple `_or` inside `_and`
[code]

The above roughly translates to
[code]

[2020-03-30 06:38] karthikvt26 commented on #4231
@himat You can configure `variables` in your `where` clause and send appropriate `variables` at query invocation site. You can also mark a particular variable as optional.

Take a look at this link for ref: https://hasura.io/docs/1.0/graphql/manual/queries/variables-aliases-fragments-directives.html#using-variables

[2020-03-30 06:48] alukos opened #4234 "Explorer:_or: square brackets are not generated"
graphql-engine v.1.1.1
When press in Explorer: when > _or:
expected: ```query MyQuery {
  users(where: {_or: [{}]})
}```
actually:```query MyQuery {
  users(where: {_or: {}})
}```

[2020-03-30 07:07] alukos opened #4235 "Calculated field is not present in Boolean expression schema"
graphql-engine v.1.1.1
After adding a calculated field, the field appears in the query schema, but not in the filter type
![screenshot_20200330_095851](https://user-images.githubusercontent.com/1665776/77884647-228f3100-726e-11ea-98bf-4f3a92b5abaf.png)
![screenshot_20200330_095912](https://user-images.githubusercontent.com/1665776/77884661-28851200-726e-11ea-96c3-1e2be20254e2.png)

[2020-03-30 07:08] tirumaraiselvan commented on #4199
@dysrama Event triggers work by inserting an event log into the `hdb_catalog.event_log` table.

For your role X, granting the following permissions should do the trick:

[code]

[2020-03-30 07:18] karthikvt26 commented on #4235
Closing this. Dupe of #3772

[2020-03-30 07:18] #4235 closed

[2020-03-30 07:32] 0x777 commented on #4077
@mrmurphy We've released `v1.1.1` which incorporates few fixes for space leaks (most likely cause of massive memory consumption in Haskell programs), can you please try it out and let us know?

[2020-03-30 07:34] 0x777 commented on #3388
@woba-nwa @makkus @steelerc69 We've released `v1.1.1` which should fix this, can you please try it out and let us know?

[2020-03-30 07:35] 0x777 commented on #2794
@TAnas0 @fmilkovic We've released v1.1.1 which should fix this, can you please try it out and let us know?

[2020-03-30 07:45] 0x777 commented on #4218
@Bwolfs2

This isn't standard GraphQL and we don't support it. If you want to flatten the fields, you can use views. Assuming you have a table called `product` and `brand`, create a view as follows:
[code]
From the console, track this view and then you can query it as follows:
[code]

[2020-03-30 07:53] asindl opened #4239 "Subscription "events within the last x minutes""
This is more a question than an issue (as of now).
I would like to setup a subscription to "events that have happened within the last x minutes".
As I am only aware of the syntax to specify a certain timestamp, I wanted to raise the question, if at all I can define a subscription like this and if yes, how the syntax would look like.

[2020-03-30 08:25] tirumaraiselvan commented on #4206
@wemersonrv This is a little off-topic but from https://docs.docker.com/toolbox/toolbox_install_windows/, it says

Regardless of the problem in hand, is it possible to use Docker Desktop for Windows?

[2020-03-30 08:26] rikinsk opened #4240 "docs: make docs render properly in safari reader mode"
e.g.
<img width="792" alt="Screenshot 2020-03-30 at 1 51 51 PM" src="https://user-images.githubusercontent.com/54616969/77891170-3185db80-728e-11ea-959f-01d195dc9764.png">

[2020-03-30 08:41] tirumaraiselvan commented on #4211
@wemersonrv Can you share the schema of `public.clients` table?

[2020-03-30 08:55] dysrama commented on #4199
@tirumaraiselvan
Thanks, that did the trick. I had given GRANT all to hdb_catalog, but apparently I was missing usage.
Thanks for the quick help :)

[2020-03-30 08:55] #4199 closed

[2020-03-30 09:15] mklueh commented on #4225
@shahidhk sure, but you could also just put a badge in your readme so everyone can see it immediately like:

![Current Hasura version](https://img.shields.io/github/v/release/hasura/graphql-engine?label=version&style=for-the-badge)

from

https://shields.io/category/version

[2020-03-30 09:17] tirumaraiselvan commented on #4229
@b3j0f The healthz endpoint is `http://localhost:8001/healthz` . There appears to be a typo in what you pasted here. Can you check if that is the issue?

[2020-03-30 09:30] shahidhk commented on #2817
Data in enum tables should be exported while exporting the migrations from server using cli

[2020-03-30 09:31] shahidhk commented on #4222
@maxcan We're aware of the issue and some discussions are going on at https://github.com/hasura/graphql-engine/issues/2817

Closing this issue in favour of the other one.

[2020-03-30 09:34] joshuarobs commented on #2817
@shahidhk Thanks for the update! I have a few questions regarding this:
1. What is the command or flags in the command line to make this work and/or to disable it?
2. I have some tables that are "enum-like", as in, they are essential static data, but consist of more than just two string fields of value and description. My server treats these tables similar to actual enums. Is there a way to have a

[2020-03-30 09:35] tirumaraiselvan commented on #4227
@anisjonischkeit Which version of Hasura are you on?

I am not able to repro this. I created a new Heroku instance and added this remote schema: https://glitch.com/edit/#!/amused-report

[2020-03-30 09:51] asindl commented on #4239
I saw this realtime chat example after a little more searching: [(https://hasura.io/blog/building-a-realtime-chat-app-with-graphql-subscriptions-d68cd33e73f/)]
Seems like the view as indicated for "Online users" and "Typing indicator" using the interval search would be the way to move on...

[2020-03-30 10:21] b3j0f commented on #4229
It was a typo in my issue, but not in my dev. I removed all my docker images and everything goes back to normal.

Maybe it was a conflict between downloaded docker images (I had all hasura/graphql-enginev1.(0|1).(0|1)[.cli-migrations])...

You can close this issue if you want, but as I told you, logs showed hasura can't access postgres while trying to do migration. But succeed at initialization ti

[2020-03-30 10:51] tirumaraiselvan commented on #4229
@b3j0f Yeah, I see the issue in the log and it points to `resource does not exist`. This could means that either the path is wrong or the server is not serving the APIs (more likely) : https://hasura.io/docs/1.0/graphql/manual/api-reference/config.html#disabling-config-api

I am closing this for now but feel free to reopen it if you face the problem again.

[2020-03-30 10:51] #4229 closed

[2020-03-30 11:17] anisjonischkeit commented on #4227
I can have another look tomorrow but a few things about my environment.

I was adding the schema through `hasura console`
Had run `hasura init` and so had an empty migrations folder and a config.yaml

[2020-03-30 11:19] anisjonischkeit commented on #4227
so may be to do with not having an initial migration?

[2020-03-30 11:44] tirumaraiselvan commented on #3518
The API can be similar to https://hasura.io/docs/1.0/graphql/manual/schema/custom-field-names.html#custom-field-names

[2020-03-30 13:32] rikinsk commented on #4234
@alukos Thanks for reporting this. This issue is already being tracked at #3322.

Closing this as a dup.

[2020-03-30 13:32] #4234 closed

[2020-03-30 13:33] mrmurphy commented on #4077
Thank you so much, Vamshi! Unfortunately we’ve already taken Hasura out of our infrastructure and won’t have the bandwidth to test out the new release. I’m sorry. I hope other users will be able to confirm the fixes for you.
On Mar 30, 2020, 1:32 AM -0600, Vamshi Surabhi <notifications@github.com>, wrote:

[2020-03-30 13:38] rikinsk commented on #4226
@Shadowigor Can you confirm the Hasura version you're using

[2020-03-30 14:01] rikinsk commented on #4226
@Shadowigor Can you confirm if this is happening to you consistently? I was unable to reproduce this error on my end following the steps you mentioned

[2020-03-30 14:07] rikinsk commented on #4226
Never mind again. Managed to reproduce the issue. This happens only when the edit primary key section is open when the column is deleted

[2020-03-30 14:38] #4123 closed

[2020-03-30 14:43] #4231 closed

[2020-03-30 15:14] barmaley443-sfdev commented on #3223
+1
now receiving "field \"computed\" not found in type: 'table_order_by'"

[2020-03-30 15:28] tirumaraiselvan commented on #3223
I think the first point of this issue was about permissions. Permissions for computed columns are derived based on the underlying permissions: https://hasura.io/docs/1.0/graphql/manual/schema/computed-fields.html#computed-fields-permissions

Scoping this issue to permissions and for filter i.e. where expressions over computed fields, it is being tracked here: https://github.com/hasura/graphql-engi

[2020-03-30 15:28] #3223 closed

[2020-03-30 15:31] #4201 closed

[2020-03-30 15:33] barmaley443-sfdev commented on #3772
+1
now receiving "field "computed" not found in type: 'table_order_by'" when trying to sort by computed field.
any chance to get this feature?

[2020-03-30 16:18] tirumaraiselvan opened #4243 "event triggers invocation log broken with `Cannot read property 'columns' of null`"
Repro app here: http://hasura-v1.herokuapp.com/console/events/manage/triggers/testtrigger/logs

![image](https://user-images.githubusercontent.com/8663570/77935979-d8d73280-72cf-11ea-8ce5-73037dfb2e62.png)

[2020-03-30 16:23] wawhal opened #4244 "console: search implementation in invocation logs of event triggers"
Currently, the search in event triggers is broken.
As we fix it, we should decide how the search must be implemented. Just providing the filter query like we do for other tables is good IMO, just there are a bunch of more clicks involved.

Ideas? @rikinsk @tirumaraiselvan

[2020-03-30 16:32] smunozp commented on #2208
Hello

There is any update in this? We have the same situation, we want to serve multitennant with the same server

[2020-03-30 16:33] paplco commented on #1749
Hi, wanting to perform an _inc on during an upsert if the row already exists, instead of running two separate database queries. Are there any updates on this feature request?

Thanks

[2020-03-30 18:09] himat opened #4247 "Possible to use fragments for where filters?"
I need to get an aggregate count in addition to the objects of my graphql query.
Is it possible to make a fragment for the `where` filter fields so that I can reuse those in both `loads_aggregate` and `loads` so that I don't have to duplicate all the `where` filters?

I tried to in the hasura graphiql editor, but was getting syntax errors.

[code]

[2020-03-30 18:32] dan-rxr opened #4248 "Can't connect Hasura server to existing docker container running Postgres"
I'm not sure why, but I'm running into an issue connecting to my Postgres instance that's also running in Docker at this local address: jdbc:postgresql://postgres:@localhost:5432/postgres
(yes - the db user is postgres and there is no password on it currently).

Editing the tutorial database url doesn't seem to be working for me... here's my docker-compose.yaml:

[code]
Here's the error I'm gettin

[2020-03-30 18:35] beerose commented on #4244
What about creating a new column that concatenates information from all other columns that we want to search by and filter only by this new column?

I wrote about this solution some time ago [here](https://www.aleksandra.codes/speed-up-query).

[2020-03-30 19:18] altitudems commented on #4190
I think this is great!

The more we can encourage offline-first the better. There is a real opportunity for Hasura to lead here for the GraphQL community.

It would be amazing to have a very barebones example as well without the dependency on RXDB.

Maybe modify the Todo app for other frameworks like Vue, Angular.

I know there was a mention of some example apps being created. Would be great to so

[2020-03-30 19:40] himat opened #4249 "Can you pass variables to order_by?"
Is it possible to pass a variable to use as a field name when sorting?

[code]

This is a pretty critical operation for me to allow my users to sort by whatever column they want in a table. So if this is not possible, this seems like a huge failing on the part of graphql?

[2020-03-30 23:57] #4230 closed

[2020-03-30 23:59] himat commented on #4249
Solved with help by nwylie

[code]

with variables:
[code]

[2020-03-30 23:59] #4249 closed

[2020-03-31 01:44] lexi-lambda commented on #3547
@0x777 Why is this reopened?

[2020-03-31 03:14] rmonteroarkus commented on #2200
Any clue on why the page is not longer available?

[2020-03-31 03:35] shahidhk commented on #3151
This is released with https://github.com/hasura/graphql-engine/releases/tag/v1.1.0-beta.1

[2020-03-31 03:35] #3151 closed

[2020-03-31 03:36] shahidhk commented on #1320
JSON formatter is enabled based on the TTY, added since https://github.com/hasura/graphql-engine/releases/tag/v1.1.0-beta.1

[2020-03-31 03:36] #1320 closed

[2020-03-31 08:19] mubaidr commented on #2836
Looking forward to it, especially the `3. tenant_id (shard column) type modelling`, this will add support for citus data: https://www.citusdata.com/use-cases/multi-tenant-apps

[2020-03-31 08:50] fmilkovic commented on #2794
Running new version for about an hour, looks like its fixed. Thank you.

[2020-03-31 08:54] karthikvt26 commented on #4248
@dan-rxr The above docker compose `config` would spin up two docker containers `postgres` and `Hasura GraphQL Engine (HGE)` and the default config would be connecting to the postgres instance spun by the `docker-compose`

If you would like to connect to your own postgres instance you needn't have `postgres` in the config.

In the scenario where you would like to connect to your postgres instance a

[2020-03-31 10:10] rikinsk commented on #4247
Fragments in arguments are not in the graphql spec. To get around this, you can form the entire where clause on the client and pass it as a variable and which you can use in both the queries.

[2020-03-31 10:23] THPubs commented on #3608
For me it's still happening. I can't even use `gq` to download the introspect to a file.

[2020-03-31 10:33] rikinsk commented on #3608
@THPubs Can you clarify what exactly you are attempting to do and what's not working?

[2020-03-31 10:37] rikinsk commented on #2200
@rmonteroarkus Multi column unique constraints can be created from the Create table and Modify table pages. Are you looking for something else?

[2020-03-31 10:44] beerose opened #4252 "console: pin dependencies in package.json and add dependabot"
Running `npm i` each time updates minor versions, which sometimes leads to bugs introduced by a new package version. That's why we want to pin all dependencies so that running `npm i` won't accidentally break things.

Adding `dependabot` as a monthly task will help with keeping dependencies up-to-date.

[2020-03-31 10:53] rikinsk commented on #2200
just realised the linked release page is broken. Updated the link now

[2020-03-31 12:05] HyperionART commented on #4166
Hello !

I took a bit of time to make my test and THANK YOU ! You saved me a lot of issues for my project !
This is exactly what I was looking to

[2020-03-31 13:40] tirumaraiselvan commented on #4166
No problem. I am closing this issue then :)

[2020-03-31 13:40] #4166 closed

[2020-03-31 13:41] #4203 closed

[2020-03-31 14:00] #3802 closed

[2020-03-31 14:03] eaubin opened #4256 "Delete button in History list"
It would be helpful to have a delete or remove button in the history list of the api explorer to clear away old queries.

[2020-03-31 14:45] ice0136 commented on #457
I'd like to upvote this feature.  Currently I have to use sequelize and APIs to accomodate this all-to-common need.
select * from table where column1 > column2;
... wish there was a way to do this in graphql where clause.

[2020-03-31 14:47] sobrinho opened #4257 "Can't rename a computed field after a permission is set"
Renaming raises an error.

![Screen Shot 2020-03-31 at 11 44 09](https://user-images.githubusercontent.com/26460/78040071-50937480-7345-11ea-8e3f-1663f3efe72b.png)

That's a bit more complicated to the other PRs I did before but I will give it a shot.

If someone has any ideas, please let me know.

[2020-03-31 14:47] sobrinho commented on #4257
It is saying drop but I tried to rename the computed field, probably Hasura drops and recreates the computed field, I don't know.

[2020-03-31 14:51] sobrinho commented on #4257
The workaround is to remove all the permissions of that field, rename it, and redo the permissions.

[2020-03-31 15:00] rakeshkky commented on #4032
By default `/v1/query` `create_action` API creates a custom action in mutation root. See [API reference](https://hasura.io/docs/1.0/graphql/manual/api-reference/schema-metadata-api/actions.html#id1). Update the API to create actions in query root. The `definition` will be same as mutation ones except the queries don't have the `kind` (synchronous or asynchronous). To differentiate the actions, int

[2020-03-31 15:50] jflambert commented on #4096
@rikinsk  I'd really prefer an env var ;) but thanks

[2020-03-31 16:15] sobrinho opened #4258 "Computed fields functions failing when specifying the arg type in argument"
Let say that I create a table named `people` with a computed field named `data` that the function is that:

[code]

If I try to perform an insert returning that field, the query will fail:

[code]

![Screen Shot 2020-03-31 at 12 21 28](https://user-images.githubusercontent.com/26460/78043881-4aec5d80-734a-11ea-8d94-d9e4bdb2ede3.png)

[2020-03-31 16:33] vhiairrassary commented on #4203
Thanks!

[2020-03-31 17:37] sobrinho commented on #4258
Although it works just fine for selects:

![Screen Shot 2020-03-31 at 14 37 13](https://user-images.githubusercontent.com/26460/78057439-1df57600-735d-11ea-9554-73247f5f5d32.png)

[2020-03-31 18:49] adamfeldman commented on #411
FYI for others who are waiting for this: CockroachDB might implement user-defined schemas sometime this year: https://github.com/cockroachdb/cockroach/pull/30916#issuecomment-600722261

[2020-03-31 20:26] GavinRay97 commented on #2836
I wrote a gist summarized from a conversation with @leoalves and another Discord member about how to do Organization-based/Multi-tenant permissions modeling without the use of `X-Hasura-Organization-Id` or other session variables that some may find useful:

https://gist.github.com/GavinRay97/d7b8805078a47e00001e58eb8b1027b9

[2020-03-31 20:27] beerose commented on #3793
What about using [count estimate](https://wiki.postgresql.org/wiki/Count_estimate)?
Table plus, for example, uses this instead of the exact count.

Here go some comparison:

Number of rows | count(*) | SELECT reltuples | Notes
-- | -- | -- | --
1 000 000 | 47ms | 1ms |  
2 000 000 | 66ms | 1ms |  
5 000 000 | 136ms | 1ms |  
10 000 000 | 316ms | 1ms | Estimated ~7 000 000, still fast in console
20

[2020-03-31 20:49] TAnas0 commented on #2794
@0x777 We have moved on from this setup for quite some time now
But I'll take @fmilkovic words for it

I must note that for me it took more than few hours before the droplet's CPU starts acting out.

Also the issue #3879 linked by @jberryman looks like the perfect suspect, because I remember using subscriptions heavily.

Will close for now, thanks all, and @fmilkovic feel free to reopen if you fac

[2020-03-31 20:49] #2794 closed

[2020-03-31 20:59] nunopato opened #4259 "change default value for num of retries for pg connect"
# Environment/Context

Postgres 12.0
graphql-engine 1.1.0.cli-migrations (same for 1.1.1)
provider docker

# Problem

Graphql-engine doesn't seem to retry connecting to Postgres when it fails on startup.

For reference here is the `docker-compose.yaml` used to start both services
[code]

## To demonstrate the problem statement, here are 2 different runs of the 2 services

1) When starting the 2 se

[2020-04-01 02:23] wemersonrv commented on #4206
Nope! No Docker Desktop!

I'm using Docker Toolbox just to not use HyperV. I use Genymotion for android emulation, so need Virtualbox and it not works fine when HyperV is enabled. So, the solition is to use Docker Toolbox.

[2020-04-01 04:42] hgiasac commented on #4259
@nunopato Can you try `--retries <int>` or `HASURA_GRAPHQL_NO_OF_RETRIES` variable?

[2020-04-01 07:21] beepsoft commented on #1433
Wouldn't it be possible to generate directives in the schema to define constraints of fields?

In case of input types we could have eg @required or similar to mark it as a required field.

There could also be directives for ranges, regexp validation strings, etc.

[2020-04-01 07:55] rikinsk commented on #3793
The ideal behaviour I would like is that for small tables the count is accurate but for larger tables we display an estimate.

Can we confirm how accurate the count estimate is for small tables (say less than 1,000,000 rows) and if there is a smart way to switch between the two queries. e.g. check if count is > a million and if so use the estimate query instead of exact count.

Also we will have t

[2020-04-01 07:59] tirumaraiselvan commented on #3793
Something that I felt was needed in our SQL APIs (and graphql APIs) was using `statement_timeout`: https://www.postgresql.org/docs/9.4/runtime-config-client.html

This way if an execution fail with timeout then you can retry it with cheaper query.

[2020-04-01 08:02] rakeshkky commented on #4258
@sobrinho The fix already merged to master via https://github.com/hasura/graphql-engine/pull/4080. Please test against the PR preview build image `hasura/graphql-engine:pull4080-11426891`. Closing the issue now. Feel free to open it again if still the issue persists. Thank you.

[2020-04-01 08:02] #4258 closed

[2020-04-01 08:04] tirumaraiselvan commented on #4258
This is also now released in `v1.2.0-beta.3`

[2020-04-01 08:55] wawhal opened #4261 "dx: derived actions should try to preserve the relationships of the table type"
This seems like an interesting idea: https://discordapp.com/channels/407792526867693568/428469959530643466/694739628158353429

In most cases, people will want the relationships of the table type.
Thoughts? @coco98 @rikinsk @tirumaraiselvan

[2020-04-01 08:59] wawhal opened #4262 "add sample apps for actions"
Before going stable with actions, there should be at  least one sample app that uses actions and demonstrates the problems that it solves.

[2020-04-01 09:20] karthikvt26 opened #4263 "show corresponding env vars for the flags in hasura console help command"
The current help text suggests the flags accepted.

[code]

Lets also add the corresponding env vars which can be used alternatively

@shahidhk @arvi3411301

[2020-04-01 09:50] andrewpmoore commented on #4121
Ok so I've basically got this in the cloud function

`exports.processSignUp = functions.auth.user().onCreate(async user => {

  let customClaims;
  return admin.auth().setCustomUserClaims(user.uid, {
        'https://hasura.io/jwt/claims': {
        'x-hasura-default-role': 'user',
        'x-hasura-allowed-roles': ['user'],
        'x-hasura-user-id': user.uid
}
      })
    .then(async () => {

[2020-04-01 09:55] #3683 closed

[2020-04-01 10:36] tirumaraiselvan commented on #4200
This can already be accomplished through `check_metadata_consistency` flag set to `false`.

[2020-04-01 10:36] #4200 closed

[2020-04-01 10:39] rikinsk commented on #4257
@sobrinho This is something that will get addressed when we close #1593. It should be picked up soon by the team.

[2020-04-01 10:51] rikinsk commented on #4257
ACtually this is a little more complicated than the scope of the above mentioned issue as the related permissions need to be recreated as well after recreation of the computed_field

[2020-04-01 11:37] rikinsk commented on #3332
A solution to this would be to add another radio button called "skip" which will not send the column in the insert

[2020-04-01 11:47] nunopato commented on #4259
@hgiasac that works, thank you. There is one corner case though where the behavior is incorrect, I guess. On a cold start, or a first run, while Postgres fills in the contents of `db_data`,  the `graphql-engine` retries connecting until it logs an `internal` event with `postgres-error` code (`could not connect to server: Connection refused`), after which it stops retrying before reaching the speci

[2020-04-01 13:56] tirumaraiselvan commented on #4127
server side closed via https://github.com/hasura/graphql-engine/pull/4139

[2020-04-01 13:56] #4127 closed

[2020-04-01 13:58] xiaoyu-tamu commented on #3320
I wrote a utility function for internal use to do the naming conversion. Fork it if you need more customization, such as generate permission/interfaces etc. (I remove permission part since it's business related)

https://github.com/xiaoyu-tamu/hasura-utilities

[2020-04-01 14:07] coco98 opened #4267 "Prepare codegen utilities for 1.2 release"
- Nodejs starter kits should be flat to prevent routing errors while setting up actions and make the copy pasta as intuitive as possible.
- Codegen builder kit and docs should be updated along with the utilities for java/typescript/go codegen (#4078)

[2020-04-01 14:13] tirumaraiselvan commented on #3232
I am closing this in favour of https://github.com/hasura/graphql-engine/issues/3757

[2020-04-01 14:13] #3232 closed

[2020-04-01 14:30] beepsoft commented on #3320
@xiaoyu-tamu I do something similar but based on Java JPA annotations + specific Hasura annotations (for permissions, for example)

https://github.com/beepsoft/hasuraconf

Just added support for the new Hasura 1.2 root fields insert_one, update_by_pk, delete_by_pk.

[2020-04-01 14:56] tirumaraiselvan commented on #4239
@asindl Hasura will accept Postgres timestamp literals like `now()` as valid values for timestamp(z) columns.

Though there is no easy way to combine an interval offset also to this, you can workaround this by creating a view with the interval offsetted. E.g. I can create a view like:

[code]

And, now you can run a query over this view to get all "events" created within the last 5 minutes.

[code

[2020-04-01 15:27] jamesmacaulay opened #4268 "Send results of a specified query to action handlers"
I propose an extension to actions that would allow you to specify a query that's run as part of its associated action, with the result of the query included in the request to the action handler.

The arguments passed to the action's mutation field would be converted to a JSON object and used as the variables for the query. This would allow, for example, an action handler to be passed relevant fiel

[2020-04-01 16:58] maxcan commented on #2817
Second what @Inch4Tk has said.  However, I do see one potential issue which is that sometimes the enum might grow overtime in a way that isn't desirable to include in squashed migrations.  I think making an addition flag on enum tables: "Include Data in Migrations" or something would be a good middle ground.

[2020-04-01 17:06] GavinRay97 commented on #2817
The ability to include data in migrations as a flag `--include-data` is present here in my PR:
https://github.com/hasura/graphql-engine/pull/3614

[2020-04-01 17:24] maxcan commented on #2817
@GavinRay97 thanks! it would be nice if `--include-data` could be restricted to only enum tables or just take a list of tables to include.  We dont necessarily want to include all the data we've put in during development.

[2020-04-02 05:27] #3597 closed

[2020-04-02 07:18] wawhal opened #4271 "console: persist a derived action mutation only after creating an action"
Currently it persists when the action is derived from GraphiQL, which is not ideal because users will almost always modify the action name.

[2020-04-02 07:52] tirumaraiselvan commented on #4259
A higher value of `HASURA_GRAPHQL_NO_OF_RETRIES` definitely makes sense. I am changing the title to reflect this feature request.

[2020-04-02 08:22] #3689 closed

[2020-04-02 10:22] coco98 commented on #4267
@wawhal Flattening the handlers into the main index.js file will also have the advantage that we don't have to worry about the difference between `module.exports =` and `export default handler`.

[2020-04-02 10:24] SurgeS commented on #3985
Cloning in general is generating down migrations that are impossible to run.

For example if I clone column permissions (same table, same role, different action), down migration with this content is created
[code]
The problem is that this is in wrong order so if I want to migrate down, it first tries to `create_select_permission` (the previous version of this permission) and then `drop_select_perm

[2020-04-02 10:57] wawhal opened #4274 "cli does not template assets path for unversioned builds"
Since codegen comes from assets, this makes it impossible to use console codegen in CLI mode for PR builds.

[2020-04-02 11:33] mrgusev commented on #1217
Any updates on this issue? I just got the same problem on the latest beta release.

[2020-04-02 13:38] piggylabs opened #4276 "Mutations not allowing null values for nullable columns"
Despite configuring a column to be nullable (character varying, if that matters), the engine doesn't allow mutations to insert null values, throwing out this error:

`Type String! is non-nullable and cannot be null.`

[2020-04-02 17:04] piggylabs commented on #4276
Sorry, the issue was in our statement. When declaring variables, we did `$variable: String!`. Removing that exclamation mark fixed it: `$variable: String`.

[2020-04-02 17:04] #4276 closed

[2020-04-02 19:53] GavinRay97 opened #4279 "add "identity" column ID + PK in frequently used columns list"
In Postgres 10, a feature called "identity columns" was released:
https://www.2ndquadrant.com/en/blog/postgresql-10-identity-columns

The difference is:
[code]

The issue with "serial", is that it's expanded into this:
[code]

Besides that it creates a lot of unnecessary overhead as a side-effect, the permissions on sequences need to be managed separately/individually, and it makes for a huge pain

[2020-04-02 19:56] nunopato commented on #4259
@tirumaraiselvan thank you. Let me know if you want me to open a PR.

[2020-04-02 23:01] BenoitRanque opened #4281 "Feature request: Query actions"
Curently, all actions are mutations.
Actions that are queries would also be very useful. An example is creating a wrapper for a rest api, which is currently only possible using a remote schema.

[2020-04-03 03:30] tirumaraiselvan commented on #4259
@nunopato That'd be great !

[2020-04-03 03:34] #4274 closed

[2020-04-03 05:54] tirumaraiselvan commented on #4281
This will be indeed be part of `v1.2.0` and it is being tracked https://github.com/hasura/graphql-engine/issues/4032

Closing this as dupe :)

[2020-04-03 05:54] #4281 closed

[2020-04-03 06:08] tirumaraiselvan commented on #4279
We should definitely have this as an option in frequently used list. But I am not sure of the effort involved in replacing this over `serial` as that would involve PG version >= 10 check.

Hasura supports PG >= 9.5

[2020-04-03 06:11] tirumaraiselvan commented on #4239
Ofcourse, you could also just create a view like

`create view posts_within_interval as select * from posts where created_at >= now() - interval '1 hour'`

and then subscribe to `posts_within_interval` field.

[2020-04-03 06:13] tirumaraiselvan commented on #4239
Closing this now. Pls feel free to open it if you have further questions related to this.

[2020-04-03 06:13] #4239 closed

[2020-04-03 06:18] tirumaraiselvan commented on #4218
Closing this now. Pls feel free to reopen if you have any followup questions regarding this.

[2020-04-03 06:18] #4218 closed

[2020-04-03 06:31] tirumaraiselvan commented on #4206
From a quick Google search, it doesn't seem easy to connect to host machine from inside the container on Docker Toolbox. `host.docker.internal` also appears to be a `Docker for Windows` thing.

You can look through the options here: https://forums.docker.com/t/accessing-host-machine-from-within-docker-container/14248/15

You can also ask for a suggestion from Docker support/community channels.

[2020-04-03 06:49] tirumaraiselvan commented on #4248
@dan-rxr Seems like you have a separate docker container running the postgres instance. Apart from the suggestion @karthikvt26 gave above, you can also choose to skip the docker-compose file (since it will setup postgres also) and run Hasura directly via docker:

https://github.com/hasura/graphql-engine/blob/master/install-manifests/docker-run/docker-run.sh

[2020-04-03 07:24] marionschleifer commented on #2648
This has been documented here: https://hasura.io/docs/1.0/graphql/manual/queries/query-filters.html#evaluation-of-null-values-in-comparision-expressions.

[2020-04-03 07:24] #2648 closed

[2020-04-03 08:08] rikinsk commented on #4261
This is similar to what we had earlier where we cloned the entire types. As it is a graph you'll never know when to stop creating related objects.

Actually what we can do is to automatically create a relationship with the object you derived from. That way all the relationships just get inherited.

e.g. if we derive from `insert_user_one` which returns a `user` object type, in the derived action w

[2020-04-03 09:09] #3985 closed

[2020-04-03 10:09] tirumaraiselvan opened #4288 "`table_find_one` field to return a single object"
Currently, the only generic api for fetching records is the `table` field which has a type of `[table]`. This is cumbersome to use if the API is supposed to return only one row (deterministically) as you need to peek into the array structure.

We can have a `table_find_one` field which takes the same arguments as the generic `table` field. The behaviour is as follows:

- If the query returns one r

[2020-04-03 10:19] macs91 commented on #4190
Just an idea, but I think It would be super cool if you build a data store (just like [Amplify Datastore](https://docs.amplify.aws/lib/datastore/getting-started?platform=js)) that works out of the box with Hasura.
The ideal DX would be like, I take care of changing data locally according to my business logic, and Hasura Datastore takes care of replication and conflict resolution

[2020-04-03 12:34] tirumaraiselvan commented on #4001
Currently for 4xx requests we expect a response like:

[code]
we can extend this to also expect an `extensions` key like:

[code]

I am changing the title to reflect this feature request.

[2020-04-03 12:42] pronevich commented on #2648
@marionschleifer but the issue still here - one day some broken code could return null / undefined to graphql expression and we will be in troubles

[2020-04-03 13:03] marionschleifer commented on #2648
@pronevich we are tracking this issue [here ](https://github.com/hasura/graphql-engine/issues/704).

[2020-04-03 14:05] 0x777 commented on #3547
@lexi-lambda Because @jberryman added the time taken to read the request body, but `request_time` as described in the issue is not implemented. Looks like this may not be possible with spock currently.

[2020-04-03 14:09] clementvp opened #4289 "Firefox Can't establish connection with ws adress"
I'm using Hasura with Caprover (A self Hosted Heroku like).

My app (create react app) use subscriptions with some tables.
I use Appolo Graphql (create connection with wslink)

Everythings works fine with Chrome or in the Hasura console (No error at all, loaded data, realtime data), but in Firefox (latest version), console says:  Firefox cant'establish a connection with the ws://<my-hasura-endpoin

[2020-04-03 14:46] tirumaraiselvan commented on #3459
@dijam We will take this up very soon. As a workaround, I can suggest using postgres triggers for the time being. You can access role information via the method described in this issue: https://github.com/hasura/graphql-engine/issues/1582

[2020-04-03 15:30] tirumaraiselvan commented on #535
Closing this in favour of this broader issue: https://github.com/hasura/graphql-engine/issues/2943

[2020-04-03 15:30] #535 closed

[2020-04-03 15:39] tirumaraiselvan commented on #3696
Fixed via https://github.com/hasura/graphql-engine/pull/3798 and https://github.com/hasura/graphql-engine/pull/4141

[2020-04-03 15:39] #3696 closed

[2020-04-03 15:44] tirumaraiselvan commented on #3572
This is fixed in https://github.com/hasura/graphql-engine/pull/3598

[2020-04-03 15:44] #3572 closed

[2020-04-03 15:48] clementvp commented on #992
Same issue with Hasura over Caprover (a self hosted PaaS like heroku).
For the subscription i can't connect with hasura over ws with firefox, but Chrome is ok.

I can configure the NGinx Config file, but none of yours work with Firefox. Everythings fine with Chrome but not firefox, that's very weird.

[2020-04-03 15:51] 0x777 commented on #3867
closed with #4196

[2020-04-03 16:00] tirumaraiselvan commented on #3380
Closing this as a dupe of https://github.com/hasura/graphql-engine/issues/1601

[2020-04-03 16:00] #3380 closed

[2020-04-03 16:03] tirumaraiselvan commented on #3345
This is a bug and should be fixed soon.

[2020-04-03 16:07] tirumaraiselvan commented on #2951
@leoalves Will #1601 work for you? Can I close this as it's dupe or do you think the differences are worth keeping this open?

[2020-04-03 16:09] tirumaraiselvan commented on #2908
The docs are here: https://hasura.io/docs/1.0/graphql/manual/auth/authorization/permission-rules.html#column-level-permissions

[2020-04-03 16:09] #2908 closed

[2020-04-03 16:18] tirumaraiselvan commented on #2764
Closing due to inactivity.

[2020-04-03 16:18] #2764 closed

[2020-04-03 16:24] tirumaraiselvan commented on #2415
Will this make sense in permissions instead?

[2020-04-03 16:26] #2294 closed

[2020-04-03 16:36] tirumaraiselvan commented on #1845
Tracking this here: https://github.com/hasura/graphql-engine/issues/3811

[2020-04-03 16:36] #1845 closed

[2020-04-03 16:41] tirumaraiselvan commented on #1774
@ceracera This should be possible with `INSTEAD OF` on the view. Can you give a repro where it doesn't work?

I created a view like

[code]

This is the trigger function:

[code]

And I can now insert on this view.

[2020-04-03 17:10] garlou opened #4291 "Problem querying bigint field"
Hi guys.
I'm having empty results on a query like this when there is valid instances on database:
[code]
If I change _eq to _gte it returns some values but _lte doesn't. I think the arguments must be suffering some internal conversion to a smaller number.
The only workaround for this I found is to change database fields from bigint to string.
I haven't found any duplicated issue.
Thanks

[2020-04-03 17:25] afreix opened #4292 "[Question] Using Column Presets during local development"
Hello,

I've configured a few tables to use column presets, which work great in production, because production uses HTTPS (and therefore the appropriate session headers are passed with each request).

During local development, where I run a docker container on localhost (HTTP), my code fails on certain mutations due to the lack of session headers. I could toggle the code to pass this additional in

[2020-04-03 17:40] afreix commented on #4292
I think I was misunderstanding the root of the problem. It's likely a problem with my JWT configuration for localhost

[2020-04-03 17:40] #4292 closed

[2020-04-03 17:56] mikyoengine opened #4293 "actions typescript codegen produces types with incorrect underscores"
Just trying out actions and liking it a lot so far! I am running a typescript/koa backend to serve the actions and noticed you have type definitions under `typescript-zeit` so decided to incorporate this! However it looks like the types are malformed with strange underscores that are not mirrored in the handler code.

initialize_team.ts
[code]

hasuraCustomTypes.ts
[code]

Notice the strange under

[2020-04-03 20:30] leoalves commented on #2951
Yeah. I will close this issue.
Thanks

[2020-04-03 20:30] #2951 closed

[2020-04-03 21:19] nunopato commented on #4259
@tirumaraiselvan will take care of this weekend.

[2020-04-03 23:20] himat opened #4295 "Possible to use cloudflare for SSL on hasura?"
I have my web frontend deployed on a server provided by render.com which only uses HTTPS, so I can't make requests to my hasura graphql server deployed on an ec2 instance since it only uses HTTP.

I tried setting up caddy to reroute HTTPS requests to hasura HTTP. But it's not working and I don't know why. I tried posting here, but didn't get a response https://caddy.community/t/tls-handshake-error

[2020-04-04 00:22] lexi-lambda commented on #3547
Got it, thank you! Maybe we need to add it at the WAI level, then?

[2020-04-04 00:32] #3867 closed

[2020-04-04 09:03] poul-kg opened #4296 "Squashing migrations which modify event's Retry Configuration creates new migration with missing details"
Repo with the issue and instructions on how to reproduce https://github.com/poul-kg/hasura-issue-4296

## Prerequisites:
* hasura cli 1.1.0
* also tested with v1.2.0-beta.3

* `git clone git@github.com:poul-kg/hasura-issue-4296.git`
* `cd hasura-issue-4296`
* `docker-compose up -d --build`
* `hasura migrate apply --admin-secret 12345 --endpoint http://localhost:8080`
* `hasura console --admin-secr

[2020-04-04 09:52] pnfcre commented on #3388
Hi there, I think I've seen a regression of this issue in `v1.2.0-beta.3`. Downgrading to `v1.1.1` solves this memory leak (which overloads my server until it crashes, or I finally get a SSH session running so that I can kill the Hasura Docker container).

[2020-04-04 10:06] poul-kg commented on #4296
I've updated issue, now it's ready to reproduce and check by developers.

[2020-04-04 11:02] pnfcre commented on #3388
Looks like my server just died again, even though I'm using `v1.1.1`.

[2020-04-04 11:35] pnfcre commented on #3388
My CPU usage still jumps up from 2% to 94.1% when starting Hasura and Postgres, even when using the `v1.1.1` release. Not sure if this is intentional behavior though.

[2020-04-04 13:00] pnfcre commented on #3388
My server just ran out of memory. Note: I'm using subscriptions heavily.

[2020-04-04 16:56] faboweb commented on #3518
Upvote namespacing of remote schemas. Makes linking staging and production instances way easier.

[2020-04-04 17:13] tcaraccia opened #4297 "Event Triggers Payload"
Is there any change I can do a join on an event trigger ?
Trigger is on payment update, and It has a relation to user.
Im using trigger to call a webhook and send an email to user.

[2020-04-04 17:38] fastengineer opened #4298 "Question: How to implement computed field by cpu?"
### Optimal Flow:
On Hasura-UI
- Collecting a form for each computed field by rest api, which gets external data.
### Use case:
For city images I have a table and file_name field in this table.
[code]

The file_name field has an example "Istanbul.jpg" value.
And these files storing in several s3 bucket.
I have replica buckets in different locations. And I also have bucket for testing and developme

[2020-04-04 20:20] himat commented on #4295
Figured out the caddy issue - I just hadn't updated my code to call the new subdomain.

[2020-04-04 20:20] #4295 closed

[2020-04-05 05:49] Californian commented on #1211
I'm not sure what I'm doing wrong, but at the very least it seems like your documentation is out of date so I figured I'd leave a comment here for that.

What I'm doing: trying to move a heroku-hosted hasura instance to my local machine for local development and to version control migrations/schema changes.

What I'm following: https://github.com/hasura/platform-docs/blob/master/platform/manual/gu

[2020-04-05 06:39] tirumaraiselvan opened #4299 "track functions that return a single row"
Currently, Hasura can track functions whose return type is `SETOF table_name` : https://hasura.io/docs/1.0/graphql/manual/schema/custom-functions.html#supported-sql-functions

We can extend this to functions that return just a row type `table_name`.

[2020-04-05 07:19] Californian commented on #1211
I'm not sure what I'm doing wrong, but at the very least it seems like your documentation is out of date so I figured I'd leave a comment here for that.

What I'm doing: trying to move a heroku-hosted hasura instance to my local machine for local development and to version control migrations/schema changes.

What I'm following: https://github.com/hasura/platform-docs/blob/master/platform/manual/gu

[2020-04-05 09:01] davelowper commented on #3854
Hi, same issue here, with hasura in docker in a swarm cluster behind traefik with forward auth to Google.

Domain is declared properly in google client, and headers are set properly by traefik in any other app.

![image](https://user-images.githubusercontent.com/9915894/78470751-fa9b4400-772b-11ea-9470-f87982e12c91.png)

I can only get hasura to work by disabling oauth for the subdomain, which I d

[2020-04-05 09:48] SnirShechter opened #4300 "Column type selection does not cover all cases"
When creating/altering a column, the column type selection is **not flexible enough** to contain all types, specifically the **types' arguments**.

### Example
Through the specific use-case in which I've encountered the error:
- We have an existing database with a column of type `varchar(64)`
- When trying to alter a column, the update is set to change (by default) the `varchar(64)` to `character

[2020-04-05 10:11] SnirShechter opened #4301 "Exporting a migration from server does not export extensions"
When using `hasura migrate create "name" --from-server`, the migration does not contain the Postgres extensions. This will fail when used on a fresh database instance.

### Example
We're using a multi-database single-tenant setup, which means we have an Hasura instance for each database, and every database belongs to a single, specific tenant. All databases are structured the same way.

When creat

[2020-04-05 11:04] ivawzh commented on #721
The later Hasura implements this feature, the harder it will be for the migration.
Because when you change database row ID to node UID, it will introduce breaking changes to URLs and harm SEO 😞

[2020-04-05 14:55] #4289 closed

[2020-04-05 15:21] clementvp opened #4302 "Hasura subscriptions not Working."
Hello,
I love Hasura especially with the subscriptions feature.

But i spend the last 3 days try to make hasura subscriptions working.
I tested Hasura in 3 different context with multiples dedicated servers around the world.

1 Case:
 Hasura with docker compose https. I follow [this](https://github.com/hasura/graphql-engine/tree/stable/install-manifests/docker-compose-https). With a custom server

[2020-04-05 16:31] picosam commented on #4105
Hello, what's the current workaround to install this explicitly? I'm currently getting an error when trying to run the following command from Bitbucket pipelines:
[code]

[2020-04-05 16:51] Relaxe111 opened #4303 "Cant access user data if is sett x-hasura-role to 'authservice'"
I'm not sure if it is a bug or I'm doing something wrong:(.
I made a new role 'authservice' to which i grant all permisions for the user table like :
![image](https://user-images.githubusercontent.com/40892030/78504499-f8f27000-776d-11ea-84b2-3a0afe84bef7.png)
and now when i try to query with x-hasura-role set to 'authservice' it gives me a empty array like :
![image](https://user-images.githubuse

[2020-04-05 16:57] Relaxe111 commented on #4303
I have no idea why it happened but I managed to solve this issue by deleting all permissions and applying them again. So it work now ! :)

[2020-04-05 16:57] #4303 closed

[2020-04-06 00:11] felipedaraujo commented on #4300
@SnirShechter Hasura documentation says that `character varying` is an alias of `varchar` https://hasura.io/docs/1.0/graphql/manual/api-reference/postgresql-types.html#string. The Postgres documentation also says that https://www.postgresql.org/docs/9.1/datatype-character.html.

[2020-04-06 00:37] rhyslbw commented on #3989
@dcultrera Did you have a chance to look at implementing this?

[2020-04-06 04:18] hgiasac commented on #4105
@picosam New CLI needs extra library `libstdc` that is missing in base alpine image. You try installing this before run hasura CLI

[code]

[2020-04-06 05:40] schwichti opened #4305 "Safe way to delete redundant migration"
Hi,

Is it safe to delete a migration from the hard disk?
Me and my collegue created the same migration on our respective local development environment and pushed them to our shared git repository.
Now, we want to delete one of these redudant migrations.
Is that a safe way to fix this?
* Rolling back redundant migration on local Hasura
* Delete migration folder from local hard disk
* Push changes

[2020-04-06 06:23] wawhal commented on #4293
Hey @mikyoengine !
Yes it is a bug. Thanks for reporting :)

[2020-04-06 06:28] tirumaraiselvan commented on #4297
Closing this as already being tracked here: https://github.com/hasura/graphql-engine/issues/1175

[2020-04-06 06:28] #4297 closed

[2020-04-06 06:32] tirumaraiselvan commented on #1211
@Californian That link is not for Hasura GraphQL Engine. Try this link: https://hasura.io/docs/1.0/graphql/manual/migrations/index.html

[2020-04-06 06:39] tirumaraiselvan commented on #4291
@garlou Can you check if your server is running with the `--stringify-numeric-types` flag? https://hasura.io/docs/1.0/graphql/manual/deployment/graphql-engine-flags/reference.html#command-flags

[2020-04-06 06:49] tirumaraiselvan commented on #4298
@fastengineer I am slighly confused as to what you want to achieve?

Do you want to populate the table by stripping the full url from the REST API and just having `Istanbul.jpg` in your column ?

Regarding Actions, I am not sure what you mean by one request per element of a list. [Actions](https://hasura.io/docs/1.0/graphql/manual/actions/index.html) are a way to extend Hasura by defining your own

[2020-04-06 07:04] picosam commented on #4105
Thanks @hgiasac
Will this continue to be the case after the release of v1.2.0?

[2020-04-06 07:07] picosam commented on #4105
So, I added the library above, but I'm still getting the same error.

[2020-04-06 08:03] hgiasac commented on #4105
@picosam Sorry, it still needs more library. I can try one of them:

- Run another step, use another image
[code]
- Install directly in deploy script:
[code]

[2020-04-06 09:11] wawhal opened #4306 "actions DX improvements"
- [x] Allow downloading starter kit
- [x] Improve error messages for derive action
- [x] [Make express codegen more intuitive](https://github.com/hasura/codegen-assets/issues/17)
- [x] The generated handler code should log request payload

[2020-04-06 09:19] rrjanbiah opened #4307 "Feature: Greenplum, Materialize compatibility/support for better performance"
## Context ##

1. When permissions are used, Hasura's performance is affected. Can reproduce it with simple permissions set up and through slow query log. Possibly related tickets are #1008 #3672 (Had to turn off permissions)
2. Even without permissions setup, Hasura API calls become too slow after continuously running for a day. Looks like the bottleneck is with Postgres as restarting it brings b

[2020-04-06 10:33] #3390 closed

[2020-04-06 10:40] tirumaraiselvan commented on #4301
@scriptonist Are there docs on what all is exported with the `--from-server` flag?

[2020-04-06 11:14] rikinsk commented on #4300
Related to #4215

[2020-04-06 11:15] rikinsk commented on #4300
Ideally the console should not have modified the the column type unless intended. This is a bug which we'll fix soon.

[2020-04-06 11:17] rikinsk commented on #4300
I am closing this issue in favour of #4215. Please reopen this is you are expecting a different behaviour.

[2020-04-06 11:17] #4300 closed

[2020-04-06 11:21] rikinsk commented on #3345
Tracking the unexpected change in type in #4215. Changing the scope of this issue to disable DDL actions on console if the relevant permissions are not present

[2020-04-06 11:53] 0x777 commented on #4031
After having a conversation with @rikinsk and @tirumaraiselvan, we decided on the following implementation:

Currently, `internal` is returned in a responses with `500` status code only if the request is made by an `admin`, now we change the behaviour to include `internal` only if `dev` mode is enabled, so when `DEV_MODE` is set to `false`, even if an `admin` role makes a request, `internal` shoul

[2020-04-06 11:59] 0x777 commented on #4031
I did not address the actual issue in my above comment. If in an action, we have to return an internal error because of the response from the handler, we will need to include the `request` and `response` bodies of the actual call made to the handler in our `internal` object.

[2020-04-06 12:39] ElixirMike commented on #1912
I am seeing this exact same issue. When you reload the page, the getIDToken() method generates a new token to use..and I believe the timing of generating the token, then calling Hasura causes the issue. If you keep the same token and call the api a few seconds later, it works...

IS there any workaround/update for this?

[2020-04-06 13:32] kestutisg opened #4310 "Identify invalid row from hasura error on bulk insert"
I would like to be able to identify the row, that causes error on bulk insert (I'm inserting multiple objects of same type).

When inserting multiple rows to Postgres DB directly using SQL (INSERT INTO public."tableName" VALUES "row1", "row2";), I not only get an error, but also details like `DETAIL:  Failing row contains "row1"`. Using details information, at least in my case, it would be possibl

[2020-04-06 13:45] wawhal opened #4311 "cli: actions_use_codegen, clone the starter kit before asking for output_dir"
Currently, the starter-kit is cloned after all the inputs are taken from the user. This causes bad DX because the user cannot input the `output_dir` as the path to the starter-kit's src.

[2020-04-06 13:48] coco98 commented on #4311
@wawhal By clone you mean download zip and uncompress right?

[2020-04-06 14:26] garlou commented on #4291
@tirumaraiselvan thanks. I did not know about that flag. I haven't tried yet but I definitely will. I'll post here the results when I do.

[2020-04-06 15:00] tirumaraiselvan commented on #4301
@SnirShechter `hasura migrate create "name" --from-server` tries to execute the `pg_dump` api with the following options:

[code]

Turns out when you are exporting database objects using `--schema` flag, extensions are not exported ([see this](https://www.postgresql.org/message-id/26790.1306355327%40sss.pgh.pa.us)) . The reason for this can be deduced from the `schema_name` description here: https

[2020-04-06 15:35] 0x62 commented on #3846
Any update on this? Really needed

[2020-04-06 16:32] webdeb commented on #4262
@praveenweb has created a good video on this demonstrating passwordHashing

[2020-04-06 16:47] ecthiender commented on #4025
@0x777 @tirumaraiselvan  @hasura/hge-server I am closing this issue. #2109 is already tracking this.

[2020-04-06 16:47] #4025 closed

[2020-04-06 17:08] leonardoarroyo opened #4312 "Hasura is creating migrations even when operation fails"
It seems most, if not all, operations inside hasura console generate migrations even if the operation fails. Examples:
- Inserting data with invalid query and ticking migration box
- Attempting to set a table as enum without rows
- Modifying an action with invalid action definition

All of these actions fail to succeed on hasura console, but the console still creates migration files for them.
This

[2020-04-06 17:27] mirzap commented on #3759
This seems to be fixed with latest release (v1.2.0-beta.3)
After clicking "reload enum values" metadata is updated correctly and there's no need to restart hasura server anymore.

Thanks! 🙏

[2020-04-06 18:39] GavinRay97 commented on #3566
After speaking with Tiru and some experimentation, you can over-ride the payload values in WS subscriptions that have been seen on connection in a sort of hacky way:

Normally, these values are only set during `connection_init` and remain for the duration (you can see `authorization` as an example header):
![image](https://user-images.githubusercontent.com/26604994/78592955-d61a9700-7813-11ea-9e52

[2020-04-06 19:09] beerose opened #4314 "console: migrate to TypeScript"
As we merged https://github.com/hasura/graphql-engine/pull/3902 recently we plan to gradually migrate frontend code to TypeScript.

Console codebase is pretty large, so we would love your help! 💪

### How to contribute?

1. Convert file from `.js` to `.ts` or `.tsx`.
2. Add types, fix all type errors.
3. Submit a PR! 🎉

[Here you can find a guide on how to contribute to Hasura console](https://git

[2020-04-07 06:21] shahidhk commented on #2239
With `1.2.0-beta.1` release, we're introducing a new workflow for the CLI which will always create only SQL files while using the migrate create command.

[2020-04-07 06:21] #2239 closed

[2020-04-07 06:36] Miyou commented on #3540
I'm having the same problem, but in my case I have no comments in my schema. The two enum definitions are _exactly_ the same. Help with fixing this would be greatly appreciated! Right now my only solution seems to be to not use an enum.

[2020-04-07 07:24] SnirShechter commented on #4301
First of all - thanks for the quick answer! It's highly appreciated.

Secondly, how will `--exclude-schema` solve the problem? Do you mean to exclude the Hasura schemas and include everything else, so that it'll contain the extensions?

Addressing `uuid-ossp` - I didn't know it, thanks also. Seems that there's an overlap with the two extensions on uuid v4 (it appears that [`uuid-ossp` can be used

[2020-04-07 07:26] tirumaraiselvan commented on #4301
Yes, by default hasura schemas will be excluded as well.

Infact, postgres docs mentions to use `pgcrypto` for uuid v4 as well. See the blue note at the bottom of this page: https://www.postgresql.org/docs/current/uuid-ossp.html

[2020-04-07 09:54] poul-kg commented on #3984
Could be an optional flag somewhere in Hasura UI to forward `x-hasura-admin-secret`.
So we can forward it to the trusted systems only.

[2020-04-07 11:09] tirumaraiselvan opened #4317 "posix regular expression operator"
Currently, for regex match operations we have `_similar` and `_nsimilar` operators. These are based on Postgres' SIMILAR operator which is based on SQL standard definition of regular expression.

Postgres also has POSIX regular expression which might be more common in usage: https://www.postgresql.org/docs/current/functions-matching.html#FUNCTIONS-POSIX-REGEXP

We can add these operators to permis

[2020-04-07 11:17] #3793 closed

[2020-04-07 14:45] DinDev3 opened #4321 "Enhance Search functionality of tables in Data & Schema Management"
The search functionality in the Data & Schema Management of the Hasura seems to filter records considering the _case of letters_ as well.
If this was an intended functionality, it's still better to show the tables which match the filter condition and don't match the letter-case below the tables that match with the exact letter-case.

[2020-04-07 14:48] tirumaraiselvan commented on #3566
That's a nice trick @GavinRay97 but I think this would require server side change to check `headers` (or auth token) for every message which would be different from the current backendimplementation.

I used this [blogpost](https://www.loudnoises.us/next-js-two-apollo-clients-two-graphql-data-sources-the-easy-way/) to create multiple links (one per role) which can be used with a single client. Thi

[2020-04-07 16:14] dionjwa commented on #2269
So my above solution works, but it comes with significant increased complexity, especially at the service level. If you want just a single server to perform auth and your business logic, and you want that server to have e.g. graphql derived code generation, then you're stuck with a chicken and egg problem, where the server cannot be started before hasura because it supplies a merged graphql schema

[2020-04-07 16:15] philip-wigg-qatalog commented on #3443
We're also affected by this issue. We can't log into the admin console when Hasura is fronted by Google Identity Aware Proxy (IAP).

[2020-04-07 20:15] tcaraccia commented on #1175
Any workarounds for this ?
So far my alternative is
Purchase
- User
User
- Email
Hasura Update Trigger on Purchase calls cloud function with row payload
cloud function calls back Hasura with purchase_id and retrieves related user.email.

Is that the only way ?

[2020-04-07 20:34] alioguzhan commented on #4314
Hey,

I want to work on `Theme` and `AlertBox`. You can assign those to me.

[2020-04-07 20:40] DblK commented on #1175
For now I think it is @tcaraccia .
This discussion is about avoiding to have to call back hasura for something you wish you knew beforehand ;)

[2020-04-07 20:46] webdeb commented on #3659
@0x777 any news on this?

Right now I got an even more strange error, as I tried to use **Authorization** + **x-custom-header**
it even did't recognized the header I've send. I guess the **authorization** overrides all existing headers.

[2020-04-07 21:00] MartijnHarmenzon commented on #583
@kabirbaidhya Did you achieve to create a guideline? Or are the above links still the best out there?

[2020-04-07 21:12] webdeb commented on #3659
I was expecting, that hasura will take the default authorization-required headers like `user-id` and `roles` from the JWT, but also allow other headers from the request to be additionally provided.

IMHO hasura should take all x-hasura-* headers from JWT and assign all other "x-hasura-*" headers excluding the ones, which are already passed through the JWT, like its already possible with the **x-ha

[2020-04-07 21:25] jcmoore0 commented on #3759
Confirmed fix.   Thanks, great job.

[2020-04-07 22:39] cj commented on #2722
It would also be great to be able to limit what in the console you have access too, i.e. only access to the api-explorer.  It would also be amazing to make the data/actions/remote schemas and events tab read only, so that none of that data can be changed in production, it would only update via migrations.

[2020-04-07 23:13] braginteractive commented on #3864
Can we not use access_token with auth0-spa-js? The token it is returning is not working for me..

[2020-04-07 23:15] chrishawn commented on #1601
This would be very useful, its less of a case of security, but in multi-tenant case, say a user has 3 different contexts (eg companies) with associated data for those, it requires every query to pass in a company_id to every query as a variable, but if the dataset would get filtered based off the header x-hasura-context-id less chance of data cross contaminating also could be used on an insert as

[2020-04-08 02:28] GavinRay97 commented on #3566
The last bit you posted is great, because the function/data structure is recursive. So we can generate it like this:

[code]

[2020-04-08 03:49] kabirbaidhya commented on #583
@MartijnHarmenzon I tried it out on my own with fargate and tested it. But I haven't worked on the guidelines yet as I got occupied after a while. Yes - the links above can still serve you if you want to try.

[2020-04-08 05:24] #4312 closed

[2020-04-08 05:26] shahidhk opened #4327 "document cli config format and env vars"
This can either go into docs or the docs generated by CLI

[2020-04-08 06:45] rakeshkky commented on #3507
@pnappa  UUID is added to known postgres types in the [server code](https://github.com/hasura/graphql-engine/blob/04e5a20dc017ddd2e2e5c707aab1d3ddb78526f1/server/src-lib/Hasura/SQL/Types.hs#L351). I assume the issue is fixed from version `v1.1.0`. If still the issue exists please feel free to re-open again. Thank you.

[2020-04-08 06:45] #3507 closed

[2020-04-08 08:55] asindl commented on #4239
@tirumaraiselvan Thank you!

[2020-04-08 09:15] garlou commented on #4291
Thanks @tirumaraiselvan it worked!

[2020-04-08 09:25] asindl commented on #4239
@tirumaraiselvan
Here is another idea to create a view with the interval in seconds as column:
[code]
With this, I can now query for posts created within the last x seconds:
`SELECT * FROM posts_within_interval WHERE created_interval_sec < 15*60;`

[2020-04-08 09:29] #4291 closed

[2020-04-08 09:45] wawhal opened #4330 "console: redirect to /:table/browse from /:table"
Currently if you go to a route like: `/data/schema/public/tables/user`, it just throws a 404 even if the table exists. It should ideally redirect  to `/data/schema/public/tables/user/browse` if `user` is a valid table.

[2020-04-08 10:59] #4016 closed

[2020-04-08 11:17] kiran321 opened #4331 "After creating x-hasura-admin-secret , not able to add any data in Hasura table from flutter frontend"
After adding x-hasura-admin-secret in hasura, not able to perform any operation from Flutter, manually  I am able to add data in the table .

[2020-04-08 11:55] #4263 closed

[2020-04-08 12:28] esseswann commented on #3399
This is actually more important than just saving traffic, please check out this issue https://github.com/apollographql/apollo-client/issues/6127

[2020-04-08 12:57] tirumaraiselvan commented on #3485
Suggesting a small change to the RFC for better configurability for non-hasura conformant JWTs:

[code]

The schema of `pathOrDefault` looks like this:

[code]

Regarding the behaviour (because now we have either `string` or  `pathOrDefault` ):

1. If `string` is given, then it is taken as a literal value of the session variable
2. If `pathOrDefault` is given, then a value is peeked at the `path`

[2020-04-08 14:10] rikinsk commented on #4331
Hey. After setting an admin secret your GraphQL endpoint is protected from unauthorized access. See docs on [Hasura auth](https://hasura.io/docs/1.0/graphql/manual/auth/index.html) for more information on setting up authorization. If you would like your GraphQL API to be public see docs on [Unauthenticated access](https://hasura.io/docs/1.0/graphql/manual/auth/authentication/unauthenticated-access

[2020-04-08 14:33] Manubi commented on #2431
I would actually love an option where I can update the seed data in the hasura console tab. Adjust the row and have the opportunity after I've updated a couple of rows to save them as a migration. So instead of writing for every small change a new SQL statement I would prefer to take a database snapshot from time to time.

Any ideas?

[2020-04-08 14:37] tirumaraiselvan opened #4335 "workaround jwk_url non-conformance for Auth0"
Auth0 doesn't publish JWK which is conformant to RFC.

The [library](https://hackage.haskell.org/package/jose-0.8.0.0) that we use mentions this:

A (partial) workaround is mentioned here: https://github.com/frasertweedale/hs-jose/issues/54#issuecomment-356460452

We can think about incorporating this as a special case.

[2020-04-08 15:33] rikinsk commented on #3443
The following PR https://github.com/hasura/graphql-engine/pull/4336 should fix the console not sending the cookie issue.

This issue can be used to track the other proposed ideas.

[2020-04-08 19:17] DinDev3 commented on #4321
Can I get assigned to this issue? I think I can fix it by tomorrow :) @rikinsk

[2020-04-08 19:27] fastengineer commented on #4298
@tirumaraiselvan Yes, it is. I am storing just `Istanbul.jpg` in my database.
The rest api application calculates full url: `https://orangebucket.s3.amazonaws.com/Istanbul.jpg`
I need full url in GraphQL response. How I can do it?

If actions is good solution for this case, another question, while using actions:
- Does Hasura calls full url api for each image url.
- If I have collection that conta

[2020-04-08 21:07] sturatcliffe opened #4339 "Invalid postgres connection string when adding remote schema with ssl=true"
I'm trying to add a remote schema which interacts with the same Postgres database that Hasura controls.

I have the following environment variable configured:

[code]

However, when trying to add the remote schema it tells me the server returned a 502. The error states that an invalid connection string was passed, and a URI was expected.

If I remove the ```?ssl=true``` part the schema can be adde

[2020-04-08 21:24] sturatcliffe commented on #4339
This may not actually be an issue with yourselves.

Heroku suggests that you don't add the query param in the env var, and instead tag it on in code later like so:

[code]

This works, so you can close this, sorry!

[2020-04-08 21:24] #4339 closed

[2020-04-08 21:28] Relaxe111 opened #4340 "ConnectionFailure Network.Socket.connect: <socket: 42>: does not exist when i try to access action from graphiql"
hello I've followed tutorial for creating a action (hasura 1.2. beta 3) and ive get following error when i try to call it from graphiql:

[code]
if i call directly api it works as expected.
here is defined action in console:
![image](https://user-images.githubusercontent.com/40892030/78835463-80e7ac80-79f0-11ea-9c3b-a4c7b51c600d.png)

here is my code on express js:
//@ts-check

[code]

[2020-04-08 22:21] soneymathew opened #4341 "Unable to hide columns, also unable to alias table names"
Hello folks,

I am trialing Hasura on a legacy database.
[code]
I have a constraint that I cannot make any schema changes

I would love to learn if there is an option for me to use Hasura to achieve the following

1. Ability to hide columns from appearing in the schema
When I track a table all the columns in the table becomes available in the GraphQL schema.
Some of the columns store ids to foreig

[2020-04-08 23:39] tovbinm commented on #2718
+1

[2020-04-09 01:09] wawhal commented on #4311
@coco98 the repo is cloned and updated by the CLI. So by clone, I mean copy the starter kit directory.

[2020-04-09 01:15] frossi85 opened #4342 "Action: Mutation response says content type of response is \"text/plain\ while my Twilio function is returning json a setting the right content type."
Hi,

I am trying to do phone verification using Twilio services, one of the involved services in the process is a Twilio function which is the handler for one of my Hasura Actions **(I am running Hasura from master branch)** but I am getting this error while executing the mutation:

<img width="940" alt="Captura de Pantalla 2020-04-08 a la(s) 21 38 24" src="https://user-images.githubusercontent.co

[2020-04-09 02:04] shahidhk commented on #2637
This has been fixed since.

[2020-04-09 02:04] #2637 closed

[2020-04-09 03:34] cesarve77 opened #4343 "show command to upgrade project to v2 when actions cmd is invoked on a v1 project"
running:
[code]
I get:
actions commands can be executed only when config version is greater than 1

versions:
[code]

endpoint version seem empty

But in my console I can see

v1.2.0-beta.3

[2020-04-09 05:02] haohedev opened #4344 "Unexpected exception raised in websocket"
![image](https://user-images.githubusercontent.com/5556270/78859559-40287b80-7a62-11ea-8f16-3d5f5f16db67.png)

[2020-04-09 05:04] cesarve77 commented on #4343
I fixed creating the config.yaml

now any cli command throw
[code]

my config.yml

[code]

[2020-04-09 05:06] haohedev commented on #4344
The Hasura version is v1.1.1

[2020-04-09 05:12] cesarve77 commented on #4343
I change the endpoint to https://eazzyapp.herokuapp.com

Now I get:
[code]

[2020-04-09 05:56] frossi85 commented on #4342
Ok, my fault the issue was that Handler comes populated with a placeholder url and when I pasted the real url some parts of that placehoder remained there.

Sorry, I will close it.

[2020-04-09 05:56] #4342 closed

[2020-04-09 07:20] rikinsk commented on #4321
@DinDev3 Sure!

[2020-04-09 07:26] tirumaraiselvan commented on #4341
Hi @soneymathew

1. You can definitely do this. You can create a role, say user, and uncheck the columns you want to hide in the `select` permissions: https://hasura.io/docs/1.0/graphql/manual/auth/authorization/permission-rules.html#column-level-permissions

(We are also thinking about global permissions which would let you configure this automatically for all roles essentially: https://github.co

[2020-04-09 07:33] tirumaraiselvan commented on #4340
Since Hasura runs inside a container, it has a different network than the host network so `localhost` generally doesn't work (unless your container is configured to use the `host` network)

Anyway, you can reach the host using a fixed IP that is OS dependent:

With Docker for Mac/Windows: Use `http://host.docker.internal:8000/hello`

On Linux: Typically `172.17.0.1` i.e the IP address of docker0 i

[2020-04-09 07:35] tirumaraiselvan commented on #4344
@haohedev Thanks for the report.

Is there any repro you can provide?

[2020-04-09 07:49] wawhal commented on #4343
@cesarve77 how did you update the config to `v2`? Did you run this command?

[code]

[2020-04-09 07:51] shahidhk commented on #4343
We should also offer the command to upgrade to config v2

[2020-04-09 07:53] marionschleifer opened #4346 "add networking section to docs"
Add a networking section to the docs.

Tables with the following dimensions:
- OS: Mac/windows/linux
- External API (in docker or outside docker)
- URL for Hasura to API connectivity
- URL for API to Hasura connectivity

[2020-04-09 08:04] tirumaraiselvan commented on #4346
Some content is available in the `Note` here: https://hasura.io/docs/1.0/graphql/manual/remote-schemas/index.html#step-2-merge-remote-schema

[2020-04-09 09:17] LucasLenz49 commented on #3854
I'm having the same issue. Hasura runs in an AWS ELB Environment. I can access the console while HASURA_GRAPHQL_ENABLE_CONSOLE is set to true. If it is set to false and I try to connect via CLI i get the same error as above.

Opening in Safari produces the same error. Firefox is also not working. It prints the following logs to the console
<img width="839" alt="firefox" src="https://user-images.gi

[2020-04-09 09:45] Relaxe111 commented on #4340
Hello thnakyou for answer.
I am on linux.
 I've checked ip address of docker0 interface and it is as you wrote here:
![image](https://user-images.githubusercontent.com/40892030/78881506-36e5e180-7a57-11ea-89be-888737ca2c33.png)
After I added this ip adress to url ive get following:
[code]

[2020-04-09 09:53] Relaxe111 commented on #4340
Update: Its not hits action server when i call from graphiql

[2020-04-09 10:32] ecthiender commented on #4335
I have an issue tracked in Auth0 community:
https://community.auth0.com/t/jwk-certificate-thumbprint-is-invalid/16070/19

The last update is that the Auth0 engineering team is working on the fix.

On Wed, Apr 8, 2020 at 8:17 PM Tirumarai Selvan <notifications@github.com>
wrote:

[2020-04-09 10:53] tirumaraiselvan opened #4349 "introduce `claims_namespace_path` in JWT config"
Currently, we have `claims_namespace` which takes a string value. This represents the top-level key in JWT payload inside of which hasura claims are to be found. This is an optional field and if not provided, the default `https://hasura.io/jwt/claims` is used. See:  https://hasura.io/docs/1.0/graphql/manual/auth/authentication/jwt.html#claims-namespace

The problem with this is that this is not cu

[2020-04-09 13:01] haohedev commented on #4344
![image](https://user-images.githubusercontent.com/5556270/78897134-4c352d00-7aa4-11ea-84c3-47c70edd5f5e.png)

Before April 2nd, the version I was using was 1.1.0. It can be seen from the chart that there will be a memory leak, but the container will automatically restart. This is similar to the #4077 problem. After I used version 1.1.1, it seems that the problem is solved. But today a process of

[2020-04-09 13:46] nizar-m opened #4352 "Server upgrade tests should be run with Pytests corresponding to the older version"
The scope of server upgrade tests is to check whether there is any regression upon upgrade from an older version to the new version.

For this, both the older (stable release) version and the new build version should be tested with tests of the older version (since newer version may add tests for new features which may not be there before). We could not do this way since the Pytest on the older ve

[2020-04-09 14:49] wawhal opened #4353 "console: allow resizing action definition and type definition editors"

[2020-04-09 15:15] nizar-m opened #4354 "Downgrade to v1.1.1 is not working"
Steps for reproduction.

1) Run the master graphql-engine
2) Stop and perform downgrade with master graphql-engine to v1.1.1.
3) Run the v1.1.1 graphql-engine on the same Db. Graphql-engine fails to start saying expected catalog version (<= 31)

[2020-04-09 16:38] 24601 commented on #3023
I have a similar issue, but different error, but I think we are all experiencing the same thing (or some of us) and a proposed workaround/solution:

[code]

[2020-04-09 18:01] vivekkannavenus opened #4356 "Support computed fields in Order By"
It would be so great if Hasura supports computed field in order by
Eg:
[code]

Function created for Computed field _show_distance_
[code]

[2020-04-09 20:05] brush701 commented on #2371
Any movement on this feature? It would be extremely helpful to not have to do this via the console...

[2020-04-10 00:58] #4352 closed

[2020-04-10 00:58] #4354 closed

[2020-04-10 02:52] #4296 closed

[2020-04-10 03:40] cesarve77 commented on #4343
I Did

[2020-04-10 06:17] aroraenterprise commented on #1601
I think I have a use case for this. I have a record that normally a user would not have access to through however, if given a special token that the user can pass in the header (x-hasura-uuid) they can then view this record. This is already possible using the anonymous role but it doesn't work for any other roles.

[2020-04-10 07:52] anisjonischkeit opened #4362 "Docs for action body don't reflect actual action body"
I just added a hasura action and decoding into my type failed, turns out the docs are not consistent with the implementation.

docs type:
[code]

raw body received by my handler:
[code]

so action is not just the name, but actually an object containing a name.

[2020-04-10 08:26] AdityaAnand1 commented on #2333
@rikinsk @shahidhk @rakeshkky Any thoughts on implementing this? Or is there some other way of obfuscating the response?

I'm looking for something like this: https://itnext.io/graphql-data-hiding-using-apollo-stack-ad1ea92fa85c

[2020-04-10 12:19] wawhal opened #4364 "setup linting and prettification for cli-extension"

[2020-04-10 16:10] ttelfer commented on #1847
+1

[2020-04-10 17:16] leoalves opened #4366 "Unable to do nested insert with object relationship"
When doing a nested insert with an object relationship the relationship_id is never sent to the child.

How to reproduce it:

Table **user**
  - id: gen_random_uuid()
  - name: text

Table **user_info**
  - id: gen_random_uuid()
  - email: text
  - user_id: uuid with unique constraint with a foreign key to the user table

Add relationship in Hasura.

Nested insert mutation
[code]

Error returned
[

[2020-04-10 17:21] tirumaraiselvan commented on #4366
@leoalves Are these one-to-one relationship? If yes, this might be the caveat mentioned here: https://hasura.io/docs/1.0/graphql/manual/schema/relationships/database-modelling/one-to-one.html#current-limitations-with-nested-mutations

[2020-04-10 17:29] leoalves commented on #4366
Yeah that's exactly it.
Thanks for the quick response.
I will close this.

[2020-04-10 17:29] #4366 closed

[2020-04-10 18:27] schettino commented on #2151
Looking at the Pricing page, it suggests a lot of **essential** features are being cut from the OS version in favour of the "Pro" one - in special, rate limiting, which is a mandatory functionality for any production app. I feel that you're clearly moving towards a paid software, and a trend out there is to have another service/product that complements the main one in different ways (infrastructur

[2020-04-10 21:02] Relaxe111 commented on #4340
I found the issue. It is because i used wrong adress in the handler input. For linux It should look like:
![image](https://user-images.githubusercontent.com/40892030/79022904-4c562b00-7b7f-11ea-9d0d-3d2e55bc5cb7.png)

[2020-04-10 21:02] #4340 closed

[2020-04-10 22:15] kawamataryo commented on #4314
Hi,
I'd like to work on `Button component`.

[2020-04-10 22:42] brush701 commented on #1912
I was also having this issue, but found a solution. I'm running on WSL2, and interestingly there are clock-sync issues that arise. In my case, the WSL clock was a few seconds behind NTP time. Updating the Windows clock made no difference, but running ntpdate from the bash prompt worked like a charm. A simple workaround is to add `sudo ntpdate -sb time.nist.gov` to .bashrc and edit sudoers to grant

[2020-04-11 01:34] weyert commented on #4180
Sounds like a great plan! Really interested in the `calendar` one. If anyone wants to discuss and brainstorm about this in Discord give me a shout :)

[2020-04-11 01:51] GavinRay97 commented on #2084
+1

[2020-04-11 03:15] ghost-void opened #4367 "[Bug report] cli migrate metadata v2, not support empty action argument"
Action defined
[code]

Run `hasura metadata apply`

"failed to apply metadata: cannot apply metadata on the database: [parse-failed] key \"arguments\" not present ($[0].actions[1].definition)"

[2020-04-11 05:39] ozum commented on #2151
I even agree to be forced to pay if it does not label itself as "open source", because I would know from the beginning that I'm using a propriety software and there is a monetary agreement between me and developer. Otherwise, I could select an open source alternative.

In case of open source; People
1. Trust the developer,
1. Invest time to learn and implement the tool in their projects,
1. Contri

[2020-04-11 07:16] mitar commented on #2151
I am not sure what is so surprising? Somebody has to pay the bills. This is "open core" business model and for example GitLab is doing pretty well with it. And also their repository is full of issues asking for some feature to be moved to the community edition. It is simply a hard task to navigate this. So please give Hasura a bit of slack here.

Nobody is forcing you to use it. If you do not like

[2020-04-11 08:40] tombh commented on #2151
Am I missing something? Is DDoS mitigation not best accomplished higher up the stack, nginx for example? Even fine-grained rate limiting can be achieved with nginx. Though of course I do concede that Hasura is best placed for managing recursive queries, etc.

[2020-04-11 08:56] ozum commented on #2151
We can reason everything with this sentence. Hasura developed a great tool ❤ and they are trying to sell it, nobody denies that. Feature discussed here is mission-critical security feature, not something nice to have like "SSO". Do you release anything vulnerable to "abuse/DoS attacks"?

I spent not hundreds but thousands of hours to open source software either creating or contributing. Am I eligi

[2020-04-11 09:02] ozum commented on #2151
As of my knowledge: Yes, but partly for graphQL, you need to investigate query to prevent heavy recursive queries resulting DDoS. IMHO, if there is a complete gateway solution for GrapghQL, then that would be a better architecture similar to implemented in REST. Also releases burden of Hasura for security features.

[2020-04-11 09:30] tirumaraiselvan commented on #4356
Related to https://github.com/hasura/graphql-engine/issues/3772

[2020-04-11 09:47] perrosnk commented on #3573
This issue is a blocker for us because we work with money transactions with lots of numeric fields and for that reason we cannot yet adopt hasura!
Is there any workaround? Any timeline on when will this be fixed?

[2020-04-11 09:55] tirumaraiselvan commented on #3573
@perrosnk We will pick this up ASAP.

[2020-04-11 10:43] marcfalk commented on #3846
Looking forward to this as well!

[2020-04-11 12:50] delirehberi commented on #3469
Maybe we can add a frontend control flow. That control runs when a query wanted to run without the `limit` parameter. Just asks the user:  `are you sure run to this command?`

[2020-04-11 13:25] zcaudate opened #4368 "BigInts not inserting properly"
I've encountered a strange error on hasura v1.1.0. I'm storing time information as bigints and found that the initial insert does not create the right number in the database.

For example:
15866102209964 becomes 493018540
1586610220996 becomes 1767288772

When updating, the bigints update as normal.

I don't know where these numbers come from and am wondering if anyone has encountered this before

[2020-04-11 13:40] cpursley opened #4369 "support Postgres functions as Action handlers"
The Actions announcement indicates that Postgres functions can be used as Action handlers. However, I haven't been able to find docs covering this nor usage examples.

https://hasura.io/blog/introducing-actions/

[2020-04-11 13:45] coco98 commented on #2151
Hey folks! Sorry for the late reply and appreciate everyone’s kind words, patience and understanding specially @beepsoft and @mitar 🙏

**Will there be rate-limiting in Hasura open-source:**

1. Rate limiting controls that affect query planning and generation are and will be in on OSS. Eg: limiting results.
2. Hasura Pro uses Hasura as a library (it is not a fork!) and is like a gateway to Hasura.

[2020-04-11 14:18] zcaudate commented on #4368
The same problem exists when I updated to v1.2.0-beta.3

[2020-04-11 14:28] zcaudate commented on #4368
I did a bit more investigation and I think it has to do with the type being wrongly coerced as an integer.

Only the lower 32 bits are kept when inserting, the higher 32 bits are thrown out

[code]

[2020-04-11 15:38] zcaudate commented on #4368
When the bigints are entered as the string, the data is correct. I'll use this as a workaround.

`{create_time: "15866102209964"}`, as opposed to {create_time: 15866102209964}

[2020-04-11 16:59] adrianoresende commented on #2583
The same here, If I type text, don't work.

![image](https://user-images.githubusercontent.com/798755/79049880-929d9f80-7bfc-11ea-9800-fbef9a3fda2e.png)

[2020-04-11 17:04] FarazPatankar commented on #2768
Is there an update on this at all? Also, I am considering going the upsert way like @marcfalk has and was wondering if there are any drawbacks as well. Would love some thoughts on this. @tirumaraiselvan

[2020-04-11 17:16] perrosnk opened #4370 "[QUESTION] How to enforce multiple mutations?"
Our app enables users to send each other, some units.
So User A send User B, 1 unit.
We should check if User A balance is enough, decrement User A balance, increment User B balance, insert a "transaction" in the Transactions table.

Checking the User A balance >0 can be done through the rules.

But how can I enforce the client to send multiple mutations within a single mutation?

Would the best ar

[2020-04-11 19:36] Tchoupinax opened #4371 "Default value does not accept HTTP URL (Postgres error)"
Hello,

I tried to add a default value in Hasura as an URL but Postgres threw an error:

![image](https://user-images.githubusercontent.com/9136206/79053238-175bde00-7c3c-11ea-81b5-9d4e5a78b912.png)

I guess that the URL should be between quote in this query because Postgres does not like the charactere `:`. :)

I do not have the knowledge of your project to know where to edit this and if it is th

[2020-04-11 19:46] esseswann commented on #3772
Interestingly on surface there are no visible limitations because this is working
[code]

[2020-04-11 20:51] xiaoyu-tamu commented on #2768
The pk may leaving gaps.

e.g.
id 1
id 9
id 100

[2020-04-11 22:20] anurag commented on #3904
Our new Deploy to Render works around this by specifying a `$PORT` in the Docker `CMD`.

[2020-04-12 06:26] beepsoft commented on #2151
Thanks @coco98 for the detailed explanation!

Allow list seems to be a viable solution for now. My only problem with it is that it is rather difficult to collect all the queries my various modules send to Hasura. Is there some support (planned) for this? For example, a special mode of Hasura - like the migration mode now - which records all the queries sent to Hasura and at the end with a click of

[2020-04-12 06:31] ozum commented on #2151
@beepsoft, not directly what you want, but I saw this library. It may help:

https://github.com/apollographql/persistgraphql
https://github.com/benjie/persistgraphql
https://github.com/benjie/persistgraphql-webpack-plugin

[2020-04-12 08:08] beepsoft commented on #2151
@ozum analyzing .graphql files is a good idea, thanks! I also have dynamically generated Hasura queries and mutations in which case I can only identify those either when I actually send them to Hasura or when received by Hasura or something in between me and Hasura. I feel there could be existing solutions for this already. Maybe one of these?

https://gitlab.com/arboric/arboric
https://github.com

[2020-04-12 08:40] ozum commented on #2151
@beepsoft they seem nice and also be useful for other purposes.

AFAIK, white listing requires your queries are fixed before Hasura schema is built, and only GraphQL variables can be changed at runtime. Are you sure you could use white listing for dynamically generated queries?

@coco98, could better answer that, if I'm wrong.

[2020-04-12 08:54] beepsoft commented on #2151
@ozum My use case is a (would be) generic form system, which can work with any Hasura schema + some other configurations and generate forms to edit the entities of that schema. So practically these will be the same queries/mutations for all entities but with their specific types and fields included in the query/mutation expressions. Then I would have my tests, which force generation of all the que

[2020-04-12 12:54] joni7777 commented on #3478
any solution?

[2020-04-12 13:34] Mk-Etlinger opened #4376 "Computed Field in Function - Cannot be tracked (...) the function does not return a "COMPOSITE" type"
Hi all,

I'm getting the following error message when trying to return a computed field on a function I need to run:

I want to run a query that does the following:

1. Returns all Volunteers that are within N distance of a Request(for help)
2. The query should return all Volunteers + the distance they live from the Requester

Things I've tried:

1. Using `RETURNS SETOF volunteers` but it doesn't

[2020-04-12 14:39] costas90 opened #4377 ""Saving permission failed" Error on Action"
Version v1.2.0-beta.3

**The problem**
Hasura will not let me set allowed permissions for user role. Not sure a bug or not.

I get the error:

    "path": "$.args[0].args",
    "error": "permission for role: \"user\"is already defined on \"setProfilePicture\"",
    "code": "already-exists"
}

**How to replicate:**
1. Allow permission for role user
2. Remove permission for role user
3. Try to re-al

[2020-04-12 15:13] Mk-Etlinger commented on #4376
Great news!

I followed a similar pattern as this article lays out: https://hasura.io/blog/building-a-realtime-geolocation-app-with-hasura-graphql-and-postgis/

Creating a dummy table with the proper types worked. Please note that the order of the columns matter, so if you return them out of order, you will get an error.

Here's the snippet:

[code]

[2020-04-12 15:13] #4376 closed

[2020-04-12 16:22] perrosnk opened #4378 "[BUG] Postgres error when trying to set ENUM"
I have an existing db and I am trying to integrate Hasura.
Under "transactions" table there is a column "privacyType" which is an ENUM (unfortunately a native Postgres ENUM)
I am following the instructions:
<img width="952" alt="Screen Shot 2020-04-12 at 7 07 16 PM" src="https://user-images.githubusercontent.com/10828675/79073928-079ed100-7cf2-11ea-96b0-08024c9954a7.png">
The ENUM values show up c

[2020-04-12 16:34] bobymicroby opened #4379 "__typename field for arr_rel_insert_input & insert_input"
Hello Hasura 🖤

The [new cache implementation of Apollo 3.0](https://blog.apollographql.com/previewing-the-apollo-client-3-cache-565fadd6a01e) , And more specifically their `typePolicies ` depend heavily on `__typename` .

If we want to have proper caching we need to pass this type information around.  Unfortunately, when we want to do a mutation, and send back objects with `__typename`  to hasura

[2020-04-12 20:13] slimlime opened #4380 "Inconsistent migration SQL column type `integer` vs `int4` on table creation vs schema modification. Hasura console automatically generated migration file unnecessary ALTER COLUMN statements for aliased type integer->int4 on editing a column property up.yaml down.yaml."
When altering an integer column in console, saving a change such as Nullable from true to false generates an unnecessary ALTER COLUMN statement in up.yaml (and corresponding rollback statement down.yaml) which updates the `integer` column type to `int4`, which is an alias of the same `integer` type.

This unnecessarily adds noise to migrations and version control.

There may be a broader base issu

[2020-04-12 20:13] slimlime commented on #4380
long-name
#namingthingsishard

[2020-04-12 20:44] perrosnk commented on #4014
Did you find any solution to this?

[2020-04-12 20:52] BenoitRanque opened #4381 "allow actions without custom types"
Currently, I cannot define a custom action where the return type is a primitive type, for example:
[code]
This will not work, as the custom type window must have a valid type for the create action button to be active.

![image](https://user-images.githubusercontent.com/25712958/79079611-2f843980-7cde-11ea-802b-038c2b1186fc.png)

[2020-04-12 21:14] perrosnk commented on #4378
I finally solved it by converting the column to VARCHAR
[code]
 and then I was able to follow the [instructions](https://hasura.io/docs/1.0/graphql/manual/schema/enums.html)

[2020-04-12 21:14] #4378 closed

[2020-04-12 21:16] arash16 commented on #3305
Is there any progress on this feature? I have a use-case that I can't find any solutions without it:
I have a `posts` and `users` table, then I have a `bookmarks` table which connects these two. I want to define a `isBookmarked` computed property on `posts`, which needs to access current user id inside it's function definition. Without this feature, my only solution is to set permissions on `bookm

[2020-04-12 21:26] costas90 opened #4382 "Error: "no mutations exist" - Actions"
**Version** v1.2.0-beta.3
**Deployed** on Heroku
**Front-end framework** Vue

**Expected result:**
Use action to send a base64 string to an action handler.

**The problem**
When I run the action mutation from the console GraphiQL, it works. But when I try to send a fetch post request from the front-end it fails with:

![image](https://user-images.githubusercontent.com/18027867/79080165-231ed180-7d

[2020-04-13 01:45] tejasmanohar commented on #2539
This should at least be supported for the Hasura console

[2020-04-13 02:16] gentleShark commented on #4014
@perrosnk No. I've just been manually renaming the enum to lower case in Postgres to get past the problem.