[2020-09-28 16:55] iMuzz commented on #5149
I'm having the same issue as well — and now I'm unable to start the app.

[2020-09-28 17:17] italodeandra commented on #3436
@franciscolourenco You actually had a different but interesting understanding of my workaround.
You're right, the `get_this` isn't even necessary. I created it because of a different approach I had before that didn't work I it was inherited to my new workaround.
Thank you for pointing that out. I really appreciate it.
I'm updating my comment removing this unnecessary part.

[2020-09-28 17:34] franciscolourenco commented on #3436
Interesting workaround indeed. I assume this is undocumented and surprising that it works. Thanks for sharing!

[2020-09-28 17:49] italodeandra commented on #3436
@franciscolourenco No problem! It is undocumented. But someone actually commented that he did something similar, but as usual, didn't post how he implemented so I had to figure out (that's why you found out a mistake, it was because of my trial and error approach). I posted here because I always leave my own solution on the first issue I find when looking for an existing solution.

[2020-09-28 18:56] crosseyedalien commented on #5822
Thanks! Looks like it is working now and I just have a general lack of awareness of: [Migrations and Metadata](https://hasura.io/docs/1.0/graphql/core/migrations/index.html). In addition to what you posted, we had created a config with v1, but never upgraded so I also followed the instructions for upgrading to v2.

[2020-09-28 18:56] #5822 closed

[2020-09-28 19:23] #5533 closed

[2020-09-28 19:54] #5512 closed

[2020-09-28 20:39] leoalves commented on #5849
GeoJSON describes an order for coordinates: they should go, in order: [longitude, latitude, elevation]

Geography is a spatial data type used to represent a feature in geodetic coordinate systems.

Geometric data types represent two-dimensional spatial objects

You are sending a mutation to Hasura with the coordinate in the wrong order [latitude, longitude].  Since your longitude value is not vali

[2020-09-29 04:26] mehtavishwa30 opened #5859 "Enterprise GraphQL Conf"
Hey everyone, 👋

We're extremely thrilled to present to you Enterprise GraphQL Conf: A single-day, free & virtual conference on October 22 and the theme is unlocking data for developers!

The conference will feature talks by enterprise companies such as Optum, SAP, Tesla, Shopify, Uber, Airbnb, Hasura, & many more (full agenda going live soon) on how they leverage GraphQL to unlock data and modern

[2020-09-29 05:03] sasog23 opened #5860 "permissions"
would it be possible to set a permission for the nested objects (relationships),
to be visible if an user has the permission for the parent object

[2020-09-29 07:07] bertyhell commented on #5825
I'll make a PR to add a link from the permissions api page to the bulk api docs. Maybe reopen this to track that change?

[2020-09-29 08:30] s-kris opened #5862 "array filtering doesn't work: _type "_text[]" does not exist"
Running this query
[code]
results in {
[code]

genres field is text[] type.
This issue is similar to: #2797
Am I making a mistake here?
Thanks

[2020-09-29 10:05] AtjonTV commented on #1514
Is there any ETA on this?

I want to use Hasura as a Backend for my app, but I have the issue that I want to calculate the SUM of multiple columns on the fly using SQL Functions so that the client just needs to display the value.

The issue I am having is that the function is `volatile`. And it needs to be, as the rows could change, even though you cant do it in the App right now. But it has to be

[2020-09-29 11:24] nestarz commented on #1498
This workaround is not working in my case.

[2020-09-29 11:38] nunopato commented on #5458
Just wanna add that those special characters are also problematic on the web console as well.

[2020-09-29 12:43] tirumaraiselvan opened #5863 "add prefix and namespacing when adding remote schema"
When adding a data source (v1.4+), the user should be able to give a **prefix** which is added to every type and root fields. This will allow adding sources which have same table names (i.e. have conflicting names), etc. The user should also be able to give a **namespace** so that the graph of the data source appears under that namespace field in root types.

The prefix/namespace ability should be

[2020-09-29 12:54] mrkkrp opened #5864 "Sorting strings numerically rather than lexically"
Is it possible to sort by a `text` field field comparing the strings as if they were numbers rather than lexically?

[2020-09-29 14:27] tirumaraiselvan commented on #5863
@0x777 suggested that we prefix custom scalars also for remote schemas but for auto-generated scalar types we can ignore the prefix.

[2020-09-29 15:39] shreyagupta30 commented on #5831
HI @scriptonist! Can I work on this?

[2020-09-29 16:30] abooij commented on #5863
Regarding the schema customization roadmap, here are some non-exhaustive notes from the discussion today between @0x777, @tirumaraiselvan, @codingkarthik, and myself.

We are thinking of introducing a configuration language that allows much more general renaming of GraphQL schema fields. In particular, such a language should subsume all current name configuration flags: prefixes, custom root field

[2020-09-29 17:15] #1766 closed

[2020-09-29 17:54] #5849 closed

[2020-09-29 18:00] GavinRay97 commented on #5860
Relationships inherit the permissions for each table in the chain. So select `user -> posts` would check the individual permissions for both a person's access to the `user` table + row, and then the `posts` table + row.

You can create this behavior by just checking the same condition in both tables. IE:
[code]

For more info, there is some documentation around this here:
https://hasura.io/docs/1.

[2020-09-29 18:00] #5860 closed

[2020-09-29 18:43] GavinRay97 commented on #5862
No mistake being made -- this issue is currently being tracked in https://github.com/hasura/graphql-engine/issues/348

As a workaround, you can use `JSONB` type, and use a constraint check to ensure that only `text` values are allowed:

[code]

[2020-09-29 18:43] #5862 closed

[2020-09-29 18:46] GavinRay97 commented on #5864
You _can_ do this, but you'd need to cast the `text` field as a `numeric` or other number type, so that it would use those comparison operators rather than text. To do that would need a view or custom function.

[2020-09-29 18:46] #5864 closed

[2020-09-29 21:13] MarkNBroadhead commented on #3759
Having issue on Hasura 1.3.2. Brand new docker container & database, schema not updating when new enums are added to database table.

[2020-09-30 02:50] scriptonist commented on #5831
@shreyagupta30 sure 💯, can you also let us know which file you will be working on?

[2020-09-30 04:37] deathemperor commented on #476
I got the answer from Hasura Discord support:
[code]

[2020-09-30 04:47] ShraddhaAg commented on #5373
Hi @tharun208! Wanted to check in if you need any help. Also, could you please open a draft PR with your progress?

[2020-09-30 06:24] scriptonist commented on #5711
although not ideal I think something like  `\"auth\"\".\"\"providers\"` can work.

[2020-09-30 06:28] scriptonist commented on #5685
@zolamk Thanks for bringing this to notice. Although not ideal, can you try something like `\"basic\"\".\"\"industry_parks\"`. This should be fixed by https://github.com/hasura/graphql-engine/pull/5710

[2020-09-30 07:32] Difrex opened #5868 "[Schema/Metadata] Memory leak"
Hi!

This issue is related to #5536. Same environment but with increased memory limits on the Hasura pod.

The Hasura doesn't release memory after permissions creations. And memory usage over time grows linearly.

![hasura_memory](https://user-images.githubusercontent.com/3982213/94655698-ad2d1780-0307-11eb-973d-a4080dc5577a.png)

[2020-09-30 09:47] Hard-Coder05 commented on #5853
@marionschleifer
Is it like the default PR form must contain two checkboxes asking 1.) is it a docs PR and 2.) has one or more images been added, then if both are yes then add "docs-compress-image" tag on the PR

[2020-09-30 09:57] Hard-Coder05 commented on #5450
@praveenweb @marionschleifer I would like to take this issue!
Please do mention the other differneces between downloading with and without the Admin Secret key I would add them too!

[2020-09-30 11:18] PedroBern commented on #4874
There is a package for this: [Sphinx-copybutton](https://sphinx-copybutton.readthedocs.io/en/latest/)

[2020-09-30 11:59] John0x commented on #5801
Great, thank you :)
Is there a rough a ETA on when that feature will arrive?

[2020-09-30 13:54] petecorreia commented on #5461
@tirumaraiselvan We've noticed a more serious issue related to these errors. It's now clear that these errors are leading to an overload of SQL connections from Hasura.

It can lead to failures in deployments as a new instance can struggle to connect to the DB, getting rejected due to max connections. We use kubernetes with replicated instances and rolling updates so we run into this often unfortu

[2020-09-30 15:33] KATT commented on #5854
I just did a migration and assumed it worked based on your comment @0x777, but it wasn't enough.

Have a look at https://hot-foal-53.hasura.app/console

## Query
[code]

## Variables
[code]

## Response

[code]

## Screenshots

![Screenshot 2020-09-30 at 17 30 41](https://user-images.githubusercontent.com/459267/94706594-ae2f6a80-0342-11eb-83c0-54cee40d92bd.png) ![Screenshot 2020-09-30 at 17 31 24

[2020-09-30 16:02] seanaye commented on #5801
Just want to clarify that this is a sort of 'right join' where a remote schema can return a key then hasura will look up that key and return the data? The opposite of current remote join where hasura sends key and remote schema resolves, this would allow remote schema to pass key back to hasura and hasura would resolve? Beacuse that would be amazing

[2020-09-30 16:55] MikeBosw commented on #4509
Confirmed, I'm seeing this issue when I use Brave, although not when I use Chrome. My setup is a local docker-compose with port 8083(host):8080(client).

[2020-09-30 17:10] marionschleifer commented on #5853
@Hard-Coder05 no, no check boxes. It's supposed to be a Github action that is doing these checks.

[2020-09-30 18:33] zolamk commented on #1241
One work around is by editing the trigger function and adding the conditional there like this

[code]

my only problem is how do i make this part of my migration? and how do i ensure hasura doesn't override it?

[2020-09-30 19:14] jeffreygray commented on #1119
Sorry to gravedig but any update here on the sqlite integration? This seems incredibly useful.

[2020-09-30 19:35] sam09 commented on #5831
@scriptonist I made a PR for `cli/migrate/source/testing/testing.go`

[2020-09-30 22:57] daniloff200 commented on #5851
Coool!

I can help with Ukrainian translations, and, with Russian, when it wasn't created

[2020-10-01 02:09] Hard-Coder05 commented on #5853
@marionschleifer I am working on it! Please assign it to me!

[2020-10-01 03:02] akash1997 commented on #5851
I would like to contribute the translation for the above docs in Hindi.

[2020-10-01 04:17] MathWhiz commented on #3955
Is this still an issue? If so, may I work on it?

[2020-10-01 04:53] coloradocolby commented on #3772
Adding my voice to this. Would really love to see this added!

[2020-10-01 06:21] rafaeelaudibert commented on #5851
Hi! I'd be glad to translate them to Portuguese!

[2020-10-01 08:24] vishnugt commented on #3806
I will start working on this and send a PR to add test cases for this

[2020-10-01 08:33] qpre commented on #5462
Do you know when the Big Sur compatible prebuilt binaries will be available ?
Its release is pending and all Mac users upgrading will encounter this issue.

[2020-10-01 08:44] ashishra0 commented on #4874
I'll give this one a shot :)

[2020-10-01 08:44] ashishra0 commented on #4874
I'll give this one a shot :)

[2020-10-01 08:58] marionschleifer commented on #5450
@Hard-Coder05 feel free to just try it out and document what you notice. I'll then check it out and see if something needs to be added 🙂

[2020-10-01 09:37] dminkovsky commented on #3955
Still an issue

[2020-10-01 12:11] GuyKh commented on #5851
I'll do Hebrew

[2020-10-01 12:34] #5578 closed

[2020-10-01 12:37] Ciboulette commented on #5733
It's an issue on render.com. Nothing related to hasura itself. I'm closing this issue

[2020-10-01 12:37] #5733 closed

[2020-10-01 13:05] #5711 closed

[2020-10-01 13:12] #2093 closed

[2020-10-01 14:46] tirumaraiselvan opened #5875 "support union and interface types in remote schema relationships"
If a remote field is of UNION type, currently the remote relationship validation throws "only object or scalar types are allowed".

[2020-10-01 16:28] remiroyc commented on #3456
@beerose I can try to work on this issue.

[2020-10-01 16:42] beerose commented on #3456
More details:

Let's say I have this kind of a table:

<img width="721" alt="Screenshot 2020-10-01 at 17 34 31" src="https://user-images.githubusercontent.com/9019397/94838210-88bf6100-0415-11eb-9d41-9096d7cff33e.png">

Now, if I go to permissions, I see this:

<img width="864" alt="Screenshot 2020-10-01 at 17 36 00" src="https://user-images.githubusercontent.com/9019397/94838243-91179c00-0415-11e

[2020-10-01 18:07] remiroyc commented on #3456
I started to watch the console project and I saw some problems.

The issue requires changes into the [Permissions](https://github.com/hasura/graphql-engine/blob/master/console/src/components/Services/Data/TablePermissions/Permissions.js) component.
- First of all, this file is a .js file (not .tsx)
- Actually, this component has 1898 lines and it's difficult to understand. It contains a lot of bus

[2020-10-01 18:19] beerose commented on #3456
@remiroyc We started migration from javascript to typescript a few months ago, but most of the code is still in JS.

You're right that this file is pretty complex and splitting it into multiple components makes total sense. If you want to work on this refactor, it would be awesome. Also, it would be great if you could create new components in TypeScript.

[2020-10-01 18:27] estim commented on #5851
I'll do Russian translation for [CONTRIBUTING.MD](https://github.com/hasura/graphql-engine/blob/master/CONTRIBUTING.md)

[2020-10-01 21:39] adithyaakrishna commented on #5413
@marionschleifer Can I work on this issue?
If so please do lmk some details about how to secure graphql endpoint and add authentication using JWT

[2020-10-01 21:47] adithyaakrishna commented on #4986
Hi @marionschleifer Can I work on this issue?
And if so how can I add the docs to the site and is docker compulsory?

[2020-10-01 23:28] remiroyc commented on #3456
Sure I'll happy to help you on this refacto. But it requires a lot of code changes and I think it would be better to create new issues to iterate step by step. Maybe I should start to extract small components like tooltip, header section, etc.
Before refactoring, I think it's better to put this issue on hold.

[2020-10-02 00:11] ErickJoestar commented on #5851
I'll do Spanish

[2020-10-02 02:30] wicked-smart commented on #5853
hey, @Hard-Coder05 , i'm sure you would be aware of cases where your **checks** are failing (missing update in CHANGELOG.md  regarding changes made  and in your [ action script ](https://github.com/hasura/graphql-engine/pull/5871/commits/6507510efd07bad5226b3bd4ff9ecdf5601f953e),line **33**  change `changeLogPresent = true;` to `imageAdded = true `)

  Since , i'm farely new to this circleCI thing

[2020-10-02 02:40] wicked-smart commented on #5853
Hi, @marionschleifer , my all checks have passed. Can you take a look into it?

P.S:- Major Noob here regarding opensource contributions, please excuse if i do something silly :-)

[2020-10-02 03:06] Hard-Coder05 commented on #5853
@wicked-smart
I have made a PR on the same issue! How can you make a PR for a issue which is taken?

[2020-10-02 04:14] wicked-smart commented on #5853
@Hard-Coder05 ok boss , my bad ...relax !!! , as i said i'm quite new to this.  I guess one needs to get assigned to make PR . I saw your check didn't passed , so then fixed it and pushed.

Alright, buddy, please enlighten me on what should i do now....is there a thing called deleting PR or something ?

[2020-10-02 06:59] marionschleifer commented on #5853
@Hard-Coder05 @wicked-smart thank you both for your PR. Please be nice to each other, it's all good. We don't assign issues as explained in our [Hacktoberfest blogpost](https://hasura.io/blog/hasura-joins-hacktoberfest-3rd-year-in-a-row/).

@Hard-Coder05 I made a comment on your PR.

@wicked-smart it's great that you've started contributing to open source. Let's leave your PR open for now, until t

[2020-10-02 07:36] Hard-Coder05 commented on #5853
@marionschleifer yes sure! am working on it!

[2020-10-02 07:38] marionschleifer commented on #5413
@adithyaakrishna you can work on it. You'll have to try it out yourself, I don't know by heart how it works with Azure, I'd have to try it out myself.

[2020-10-02 07:40] marionschleifer commented on #4986
@adithyaakrishna feel free. Check out our [contributing guide for docs](https://github.com/hasura/graphql-engine/blob/master/docs/CONTRIBUTING.md). And yes, Hasura always runs in a Docker container.

[2020-10-02 08:35] wicked-smart commented on #5853
@marionschleifer Thanks for your considerate response, since I was to learn and implement a GitHub action , which I think is pretty cool tool for an effectively automating CI/CD pipeline, I chose this issue ...anyway, will be going through other `Hacktoberfest` labelled issues for a potential PR

[2020-10-02 10:09] adithyaakrishna commented on #4986
Okay, Thanks @marionschleifer
I'm using Win 10 Home Edition, do you have any suggestions on running docker in it or should I switch to Ubuntu through a VM?

[2020-10-02 13:42] adithyaakrishna commented on #5851
@uravgkarthik Noduuu

[2020-10-02 13:50] adithyaakrishna commented on #5413
Okay Thanks! I will learn and do this 🚀

[2020-10-02 16:00] dbhardwa opened #5882 "Auto-apply Migration problems"
I am facing two issues both related to applying migrations to the database. I have initialized Hasura using docker to a pre-existing project and Postgres database. I used the `Hasura CLI` to initialize the migrations and metadata files within a sub-directory of my project. Here are the two problems I am facing:

(1) Auto-applying migration scripts is not working
* I am following this guide: https:

[2020-10-02 16:56] GavinRay97 commented on #5882
So, the way that Docker containers work is that they are self-contained. The filesystem on a Docker image is not connected to your host filesystem (unless you use a bind-mount).

Inside of your Docker image, `/Users/<name>/Desktop/<app>/db/hasura-migrations/migrations` does not exist, unless in your Dockerfile you have something like this:

[code]

So what you need to do is put the `metadata` and

[2020-10-02 20:59] cstlaurent commented on #2109
This issue is happening to all our developers using windows machines with Hasura in Docker for Windows running in WSL2... Machines and WSL are properly synchronized with NTP and happens with JWT token issued from Firebase and also Auth0.

To bypass this issue we have to manually set WSL clock 1 hour in the future on every boot, which is cumbersome.

No trouble on Docker for Mac...

[2020-10-02 21:47] adventurini commented on #1498
+1 (sort of) Looking to be able to achieve multiple counts based off of different where clauses in a single aggregation query. The following workaround is terribly non performant.

[code]

[2020-10-02 23:03] bitjson commented on #1911
Is there some way to ignore this error? I would prefer that no columns are updated and the mutation continue.

In my data model, if the top-level insert affects zero rows, the nested object inserts are also guaranteed to affect zero rows. This sometimes occurs in a multi-step mutation, and it would be great if the rest of the transaction would continue so the whole mutation can be idempotent.

The

[2020-10-02 23:59] alex-red commented on #5287
Hi @beerose, I would like to contribute to this one :)

[2020-10-03 03:51] sahil9001 commented on #3960
@beerose I want to work on this issue!

[2020-10-03 05:11] AshishMhrzn10 commented on #5851
I would like to contribute in Nepali language..

[2020-10-03 05:26] fr8in commented on #5413
@adithyaakrishna i have added a PR for the help file. But i don't know where is the ARM template. the ARM template has to be modified for JST and ADMIN Secret to work. The templates are here: https://drive.google.com/drive/folders/1G9DsIpNagCyXbnzWOKD4PLtaiwU6GPiI?usp=sharing

[2020-10-03 05:55] tirumaraiselvan commented on #5461
@petecorreia Thanks for adding more details. We are investigating this.

[2020-10-03 06:11] nikita812 commented on #5851
i will do hindi

[2020-10-03 07:15] sccalabr commented on #4138
I'd like to give this a try. Could you point me in the direction of where the fix would need to be made.

[2020-10-03 09:58] GrizliK1988 commented on #5284
Hi!

I'd like to contribute to this issue.

[2020-10-03 10:33] Naveenaidu commented on #5851
@nikita812 As a heads-up(_and also to avoid duplicating efforts_), if you are attempting to translate the docs, please do note that - There's already an Open PR for `CONTRIBUTING.md` docs. But please feel free to translate any of the remaining documentation as mentioned in the issue :)

[2020-10-03 11:41] gnyani commented on #4662
unassigned myself, as I did make progress.

[2020-10-03 12:33] vieee commented on #5851
I'll do that it Marathi..!

[2020-10-03 12:37] Yashs911 commented on #5851
Hi, @marionschleifer I would like to do Hindi translation for https://github.com/hasura/graphql-engine/blob/master/code-of-conduct.md .

[2020-10-03 13:06] upedd commented on #5851
Could i do it in Polish?

[2020-10-03 14:55] chicken-biryani commented on #5851
hi, I would line to make a bengali translation for  https://github.com/hasura/graphql-engine/blob/master/code-of-conduct.md

[2020-10-03 15:14] Naveenaidu commented on #5851
Apologies, I accidentally clicked the `Close Issue` button. Sorry for the notification :/

[2020-10-03 15:16] Naveenaidu commented on #5851
@upedd Please go ahead with the translation, But before you start your work - It would be really nice if you could comment here, what docs would you like to translate. Just

[2020-10-03 15:26] upedd commented on #5851
@Naveenaidu all of them im 3/4 done

[2020-10-03 15:27] OmkarPh commented on #5829
Hi @tirumaraiselvan
I just came across this issue, I would like to work on it, but am understanding the repo setup now

[2020-10-03 15:27] stevefan1999-personal opened #5896 "Add hacktoberfest topic"
:)

[2020-10-03 15:33] WilliamHYZhang commented on #3723
Going to take a look at this.

[2020-10-03 15:34] adarsh-qclw commented on #5851
Can I do a Malayalam translation?

[2020-10-03 15:56] GrizliK1988 commented on #5155
Hi!

@beerose , can I take this one?

Proposed solution: adjust a payload in console to send a WHERE statement

[code]

[2020-10-03 16:23] jonlow commented on #5461
Just flagging that this is happened to us to after an upgrade. The log file flooded with gigabytes of the same event-trigger error and crashed the server.

After clearing logs as per https://github.com/hasura/graphql-engine/issues/5461#issuecomment-664463460 and manually deleting the log file things seem ok for now.

[2020-10-03 16:46] devil-cyber commented on #5896
Can I work on this?

[2020-10-03 16:56] #5896 closed

[2020-10-03 19:42] SeriousCorgi commented on #5851
I'd like to contribute in Vietnamese

[2020-10-03 20:02] rjn01 commented on #5851
Hi, I would like to do Hindi translation for README.md

[2020-10-03 22:50] genericbrian opened #5904 "Add Licensing reference to the README"
labels:hacktoberfest

[2020-10-03 22:52] #5904 closed

[2020-10-03 23:14] tavakoli-ali commented on #2378
I hade up and run docker image but last week, all of the sudden, it had been down.
I got this error for 1 week and try all things and didn't work, I removed the docker file and image, container and install fresh but also didn't work, and got this message: DB schema loading failed
Failed to fetch.
docker :

`version: '3.7'
services:
  postgres:
    image: postgres:12
    restart: always
    volumes

[2020-10-03 23:16] tavakoli-ali opened #5905 "Hasura console is not able to reach your Hasura GraphQL engine instance. Please ensure that your instance is running and the endpoint is configured correctly."
I hade up and run docker image but last week, all of the sudden, it had been down.
I got this error for 1 week and try all things and didn't work, I removed the docker file and image, container and install fresh but also didn't work, and got this message: DB schema loading failed
Failed to fetch.
docker :

`version: '3.7'
services:
  postgres:
    image: postgres:12
    restart: always
    volumes

[2020-10-04 07:05] arunvm123 commented on #5831
@scriptonist fixed lint errors in metadata/actions/actions.go

[2020-10-04 08:03] 97amarnathk commented on #5831
@scriptonist picking up migrate/migrate.go

[2020-10-04 08:27] Veshu-Arora commented on #5737
Hey @arashlayeghi, i would like to work on this issue. And i would like to have some more acces...
1. I would like to have access to the table you are storing your data into with permission to perform CRUD using test data either directly or using an interface or some UI.

[2020-10-04 09:29] Veshu-Arora commented on #5737
Hey @arashlayeghi, you see, whenever you insert data into the table using an application , you dont need to pass the id because the database itself inserts the id and the application(or may be the database) also remembers what was the  id of the last row which was inserted using the application so that it assigns next id just 1 greater than the id that was assigned to last row. Say that the last r

[2020-10-04 10:51] asyraf-labs commented on #5851
Hi, I would love to do the Malay translation

[2020-10-04 12:14] mee-kell commented on #5851
Hello! I'm happy to translate all of these documents into Chinese!

[2020-10-04 13:11] arashlayeghi commented on #5737
Hey, @Veshu-Arora Thanks for your explanation.
I appreciated what you said and realized the root cause of the problem. However, it's not the solution to our problem.
In our use-case, we need to manually insert id for some rows which are mock data. Also, we need that after that we can insert some new rows without id with auto-increment. We cannot simply delete those manually inserted rows to solve

[2020-10-04 13:18] PedroBern commented on #5038
@jejacks0n [here is a nice solution](http://nathanmlong.com/2017/11/a-shuffled-order-that-works-with-pagination/), instead of ordering by random you can shuffle the data, this way you can write a `STABLE` function and get it tracked.

The drawback for me is that hasura custom functions are not working properly with relay yet (#5658). So I need to maintain both the relay API and a different API for

[2020-10-04 15:27] 97amarnathk commented on #5831
@scriptonist Added the PR for migrate/util.go

[2020-10-04 16:24] nikita812 commented on #3723
i can work on this

[2020-10-04 17:09] datakurre opened #5915 "Cannot easily configure "Frequently"
set_public_recruitment_proposal_updated_at

[2020-10-04 17:44] datakurre opened #5916 "Configuring update trigger for inherited "Frequently Used Column" updated_at could be easier"
Frequently used columns is a great feature. Table inheritance on PostgreSQL is also a great feature. I'd like to use table inheritance to provide common and easily maintained base schema for all tables of similar type. Frequently used columns, by their nature, sound like they belong to the base table. But, obviously, `updated_at` trigger created for the base table is not inherited and the trigger

[2020-10-04 21:05] carllippert commented on #5849
Thanks @leoalves for clearing that up!

[2020-10-04 22:29] hillarysousa commented on #5851
Hello, I'd like to translate the `CONTRIBUTING.md` file to Brazilian Portuguese :)

[2020-10-04 22:31] pedrowoy commented on #5851
Hello! It would be great to translate the `SECURITY.md` and `CODE-OF-CONDUCT.md` documents to PT-BR

[2020-10-05 03:38] sahil9001 commented on #3960
@beerose I guess I asked a question in the comment?

[2020-10-05 06:46] sushil97 commented on #5851
Hello, I'd like to translate the `code-of-conduct.md` and 'README.md' file to Hindi :)

[2020-10-05 06:50] Yashs911 commented on #5851
@sushil97 I already translated (Hindi) and created a PR for the code-of-conduct.md file

[2020-10-05 06:52] Naveenaidu commented on #5851
Hey @sushil97 , `code-of-conduct.md` already has a Open PR for it :see_no_evil: , and I see that someone else also said that they will be working on Hindi translation of `README.md`. In order to avoid duplication of work, It would really help us if you would translate `Security.md`.

cc @rjn01 Do you have plans to work on the the translation of `README.md`? If not, please do comment here - so that

[2020-10-05 06:56] sushil97 commented on #5851
@Naveenaidu `Security.md` is already translated in hindi. Is'nt it?

[2020-10-05 06:57] sushil97 commented on #5851
ok

[2020-10-05 06:59] sushil97 commented on #5373
I would like to work on this

[2020-10-05 07:00] Naveenaidu commented on #5851
Ahh Sorry! My bad :/

I would suggest you to wait until @rjn01 replies back, in order to avoid duplication of work. In the mean time, please do have a look at the other available issues that interests you :)

[2020-10-05 07:01] sushil97 commented on #5851
Sure

[2020-10-05 07:23] beerose commented on #3960
There are two ways to reproduce this:

1. Run `graphql-engine` server in a beta version. Then you'll see this banner in the console.
2. Make it temporarily visible in the UI for the purpose of the solving issue. Specifically, you want to do this in these two places:
    * https://github.com/hasura/graphql-engine/blob/master/console/src/components/Main/Main.js#L316
    * https://github.com/hasura/g

[2020-10-05 07:31] sushil97 commented on #5340
I want to work on this but I want some more clarifications beforehand "why is the radio button of id is not selected in expected behaviour id also has the default value is'nt it?" .

[2020-10-05 09:11] raihan71 commented on #5851
I can hack it Indonesia

[2020-10-05 09:11] jerryjaimon commented on #5851
Hello, I'd like to translate the code-of-conduct.md and CONTRIBUTING.md file to Malayalam :)

[2020-10-05 09:46] larsblumberg commented on #4163
Here you can track the deduplicated feature request: https://github.com/hasura/graphql-engine/issues/4163

[2020-10-05 09:50] larsblumberg commented on #4163
My current workaround: Execute the mutation with the first constraint. If there was a constraint violation on that constraint, re-run the mutation with the second constraint. Repeat if you have more than 2 constraints.

[2020-10-05 10:36] soorajshankar commented on #4509
Hello @vmironichev ,

Thanks for submitting the issue!

I was trying to reproduce this issue with the console on chrome, firefox & Brave. I could not reproduce this issue with the following steps
1. Installed Hasura with [Hasura docker-compose setup](https://hasura.io/docs/1.0/graphql/core/getting-started/docker-simple.html).
2. Created a test table (users with a simple `id` as PK and `name` as `T

[2020-10-05 10:53] rjn01 commented on #5851
@Naveenaidu @sushil97 I am working on the issue.  Sorry for the delay.

[2020-10-05 11:18] #4744 closed

[2020-10-05 11:55] beerose commented on #5537
Closing this issue, as the problem seems to be solved. Feel free to reopen if it happens again.

[2020-10-05 11:55] #5537 closed

[2020-10-05 12:26] beerose commented on #5514
The issue was partially solved with https://github.com/hasura/graphql-engine/pull/5640.

Otherwise, it will be tracked in https://github.com/hasura/graphql-engine/issues/3757.

[2020-10-05 12:26] #5514 closed

[2020-10-05 12:42] mdovn commented on #2760
Any update on this? This feature is really useful.

[2020-10-05 14:16] marionschleifer commented on #4986
@adithyaakrishna it would probably be good to run it through a VM with Ubuntu, as then we can cover more users 🙂

[2020-10-05 14:19] #5174 closed

[2020-10-05 14:20] rikinsk commented on #5388
Closed via https://github.com/hasura/graphql-engine/pull/5692

[2020-10-05 14:20] #5388 closed

[2020-10-05 14:39] gahag commented on #3539
@KarolKalbarczyk are you still working on this? If not, I could take it.

[2020-10-05 14:42] gahag commented on #3292
Can I work on this?

[2020-10-05 15:03] abooij commented on #3292
@gahag Everybody's welcome to work on any issue! You don't need to ask for permission before you start. You can open a [draft PR](https://github.blog/2019-02-14-introducing-draft-pull-requests/) to show any partial work.

[2020-10-05 17:44] sahil9001 commented on #3960
Okay @beerose thanks for your help!

[2020-10-05 19:53] dbhardwa commented on #5882
@GavinRay97 Thank you very much for the detailed answer, this definitely helps clear some things up. I have got the auto-migration working, but it looks like there is an issue with the auto-metadata. The container fails to initialize due to this error:
[code]
Is there a way I can get more detail as to what this error is suggesting? I can't seem to find a "tables" key in any of the metadata fails o

[2020-10-05 20:29] Yashs911 commented on #5831
@scriptonist picking up commands\docs.go

[2020-10-05 22:41] smulube commented on #5461
Hi @tirumaraiselvan - I work with @petecorreia and I have a little more detail to this issue which might help you track things down; specifically I think there is perhaps two separate but related bugs here that combine to cause this issue.

Before detailing the two issues we found, a little context on our setup:

* we have two Hasura replicas connected to the same Cloud SQL DB
* we use the `cli-mi

[2020-10-06 05:54] avats-dev commented on #5831
@scriptonist picking up `cli/util/git.go` :rocket:

[2020-10-06 06:32] AshishMhrzn10 commented on #5851
@marionschleifer can you check my PR #5891 . I have added Nepali language translation.

[2020-10-06 07:20] Ckbhatia commented on #5842
@GavinRay97 I am interested to fix this issue.

I would request more info about the issue and desired behaviour this feature.

[2020-10-06 07:27] beerose commented on #5842
Go ahead @Ckbhatia!

The suggested solution sounds good to me:

[2020-10-06 08:44] hafiztahajamil commented on #2768
@revskill10 How to dynamically add multiple mutations to a single one each with different variable values? How to make use of the aliases dynamically

[2020-10-06 10:00] aklinkert opened #5933 "Event-Trigger error logs of type "could not serialize access due to concurrent update""
Hi hasura team,

at the current customers project we're having some issues with scaling hasura. We run hasura in a kubernetes deployment with HPA (min 3, max 10 pods) and face a lot of the attached `event-trigger` error logs during high write load (1200-4000 transactions per second). This is technically not a problem, but the logs are of a significant amount and it seems to be something that is im

[2020-10-06 10:44] hafiztahajamil commented on #2768
Can you please give an example on how to do it  ?

On Tue, 6 Oct 2020 at 2:02 PM, Truong Hoang Dung <notifications@github.com>
wrote:

[2020-10-06 10:46] rolivegab opened #5935 "Bug when creating cron with '/' in name"
Cron is created succesfully:
![image](https://user-images.githubusercontent.com/7359906/95191980-e81bc900-07a7-11eb-8e55-ba785de16f19.png)

But when i click on it, this happens:
![image](https://user-images.githubusercontent.com/7359906/95191920-d0444500-07a7-11eb-9396-1980146bfd62.png)

[EDIT]

Just to being more informative, accessing url at: `http://localhost:9695/console/events/cron/cron%2Fcle

[2020-10-06 10:51] bulby97 opened #5936 "Contentful Dimension type non compatible with Hasura"
When using contentful as a remote schema it's not possible at the moment to provide `width` and `height` to `ImageTransformOptions` which are of the `Dimension` type.

`The 'Dimension' type represents dimensions as whole numeric values between 1 and 4000`

If a numeric value is provided, I get the following error :

[code]

If a string is provided, I get the following error :

[code]

[2020-10-06 10:57] fakhrip commented on #5263
I would love to work on this issue @beerose , but can i know in which files do i have to add the code to ? (so its easier for me to look it up and not crawling through all the files), or should i look it up myself ?

[2020-10-06 11:12] rolivegab commented on #5905
Hi!
I've a configuration that works for me:

[code]

maybe its because, accordingly to postgres image docker hub docs ([https://hub.docker.com/_/postgres](https://hub.docker.com/_/postgres)), database variable name must be `POSTGRES_DB`.

[2020-10-06 11:22] aklinkert opened #5937 "disable event triggers"
For a HA deployment in kubernetes I would like to disable the event trigger handling in all instances that serve GQL traffic (which are managed by the HPA) and handle all of the event trigger processing on a single worker instance. Is there already an ENV var or cli flag to do so?

The main reason is that we see a significant amount of error logs due to concurrent tries to lock the event_log Table

[2020-10-06 11:48] fakhrip commented on #5450
I will try this one if no one have done it before... (Will open PR later this day)

[2020-10-06 12:46] beerose commented on #5263
Hi @fakhrip! You can take a look at this file: https://github.com/hasura/graphql-engine/blob/master/console/src/components/Services/ApiExplorer/GraphiQLWrapper/snippets.ts. We're creating there a TypeScript snippet. There are also a few utility functions to extract information from the query. You can add new snippets in this file, or you could declare a new snippet in a new file — as you wish.
The

[2020-10-06 12:57] fakhrip commented on #5263
Nice, its looking good, im gonna add javascript using vue framework snippet

[2020-10-06 13:28] GavinRay97 commented on #5882
The `metadata/tables.yaml` file gets turned into a top-level JSON/YAML key in the combined metadata object called `tables` that contains the array of objects there.

I would try to run a shell inside of the Hasura container and do `ls /hasura-metadata` and check that the metadata is actually getting mounted in there.

If it's applying properly from your local system my only guess is that the metad

[2020-10-06 15:18] fakhrip commented on #5851
Im working on the indonesian part for contributing and security as i didnt see any PR regarding these translations...

[2020-10-06 16:05] #4440 closed

[2020-10-06 20:35] ReghuShanker commented on #5828
@GavinRay97 Sorry for the delayed reply.

1. I am able to access console when I disable the password. The issue occurs only when there is a password.
2. If you take a look at the docker compose file I have attached in the original post, I am only using only publicaly available docker images of hasura, mysql,pgsql and doesnt have any docker images of  any of my projects in the compose file. So you

[2020-10-06 21:37] tkim90 opened #5941 "Error "Relation hdb_catalog.event_log does not exist" on Hasura startup in Kubernetes"
# Problem
I'm using Kubernetes to deploy my Hasura project. When both Hasura/postgres services start, it shows the errors below. This Hasura deployment does not have any event triggers set up (since `hdb_catalog.event_log` is related to that).

EDIT: seems like root cause is that it can't run [`initialise.sql`](https://github.com/hasura/graphql-engine/blob/5807ee6246c6aef40507e09398b784935bd660ec/

[2020-10-06 23:46] tkim90 commented on #5941
Solved the issue. Seems like running [these commands](https://hasura.io/docs/1.0/graphql/core/deployment/postgres-requirements.html#postgres-permissions) solved it (re-ran containers after running them).

I guess I'll have to make sure these commands are run in postgres whenever it's created.

[2020-10-06 23:46] #5941 closed

[2020-10-07 02:21] kentaro84207 commented on #5935
Could I work on this issue?

[2020-10-07 05:57] Wrth1 commented on #5851
I'll translate code-of-conduct.md to indonesian

[2020-10-07 08:55] webdeb commented on #2468
postgres 12 added jsonpath capabilities which gives postgres solid NoSQL capabilities.
You can even index the json like a boss: for example `"rooms.*.id"` "JSON/B" is a first-class citizen in Postgres now.

Adding support for "jsonpath" as a filter option would be great!

[2020-10-07 09:21] beerose commented on #5915
Tracking it here: https://github.com/hasura/graphql-engine/issues/5916

[2020-10-07 09:21] #5915 closed

[2020-10-07 09:25] beerose commented on #5935
Sure @kentaro84207!

I guess we need to use `encodeURIComponent` function for cron trigger name in the path, as we do for example here: https://github.com/hasura/graphql-engine/blob/master/console/src/components/Common/utils/routesUtils.js#L7.

[2020-10-07 11:31] #3680 closed

[2020-10-07 13:33] bpedersen commented on #5831
@scriptonist fixed lint errors in `migrate/cmd/commands.go

[2020-10-07 14:05] mrkkrp opened #5949 "The generated SQL does not uses indexes and performs sub-optimally"
We are experiencing a performance issue related to the fact that Hasura generates a sub-optional SQL query.

Simplified, let's say that we have `order` table which has `id`, `supplierA`, and `supplierB` fields. We also have `supplier` table with `a`, `b`, and `name` fields.

The relation is the following:

[code]

We issue a query like this:

[code]

The idea here is to get `order`s which are orde

[2020-10-07 16:29] 0x777 commented on #5949
This is interesting, I'm using a similar query

[code]

As expected, the SQL that is generated is:
[code]

when explained gives out a similar plan:

[code]

A hand written query (like yours) generates a much better plan:

[code]

[code]

However the two queries are semantically different - they don't fetch the same data, with `INNER JOIN` (same as `JOIN`) the rows that don't have an `album` are ig

[2020-10-07 16:29] Albosonic commented on #5036
also having this issue. Here  is my current work  around:
`export const validateUUID = (base64StringOrUuidd) => {
  try {
    // base64 string decodes into json, then we parse and send back the last item which is the uuid.
    return JSON.parse(atob(base64StringOrUuidd))[3];
  } catch (e) {
    // if there is an error it's because the string is already a uuid an we can just let it through.
    ret

[2020-10-07 17:19] jarofghosts commented on #5036
@Albosonic I think you should actually be checking the last element in the decoded array, I believe it can fluctuate based on foreign key relations the object has

[2020-10-07 17:23] Albosonic commented on #5036
@jarofghosts good  suggestion thanks.

[2020-10-07 18:12] smblee commented on #2483
What's the status on this issue? I see the pull request but I am unable to use handlebars to set the URLs still

[2020-10-07 18:16] ancs21 commented on #2483
@smblee I think this feature release in the next version.

[2020-10-07 20:30] ghost-void opened #5950 "[Feature Request] Migrate create should generate enum seeds data"
[code]

Should generate enum seeds data in tables to insert sqls.

If not, empty enum tables will cause auto migrations stopped.

[2020-10-07 20:35] #5340 closed

[2020-10-07 21:07] #4973 closed

[2020-10-07 21:21] UlyssesInvictus commented on #5672
What's weird is that the types for `x_aggregate` do seem to be generated, but it doesn't include a `distinct_on` or `where` parameter, and is also not exposed by default on the query root, so it doesn't seem usable.

Can someone from Hasura comment about whether this is something they intend to support?

[2020-10-08 03:22] UlyssesInvictus commented on #5672
As another clarification, it seems that `array_relationship` is supported for aggregate purposes, and leads to `x`, `x_aggregate`, and `x_connection` fields all being added ... except at the root query level. I guess this is what the other users up-thread were referring to, but I only just now understood this clarification after digging through the graph that was generated.

[2020-10-08 05:14] ayan-b commented on #5831
I would like to work on this file: https://github.com/hasura/graphql-engine/blob/master/cli/integration_test/v2/seeds.go

[2020-10-08 06:33] dostalradim commented on #5819
Ok, sorry
https://stackoverflow.com/questions/54173581/combining-multiple-k8s-secrets-into-an-env-variable

[2020-10-08 06:33] #5819 closed

[2020-10-08 07:44] Dhruvi16 commented on #2425
I would like to take this up.

[2020-10-08 09:54] beerose commented on #3960
Hi @sahil9001!

The component with this bug was removed in recently merged [PR](https://github.com/hasura/graphql-engine/pull/5070), and hence the issue was resolved.
I hope you can find some other interesting [Hacktoberfest issue](https://github.com/hasura/graphql-engine/issues?q=is%3Aopen+label%3Ahacktoberfest+label%3Ac%2Fconsole). I'd be happy to help if you have any questions.

I'm therefore c

[2020-10-08 09:54] #3960 closed

[2020-10-08 10:25] henningko commented on #5691
To elaborate on @John0x' comment—we  keep prod/dev/test migrations separate from the infrastructure that sets up Hasura on AWS Fargate. We also have separate remote schema URLs for prod/dev/test. We need to be able to set those URLs in the metadata without redeploying/modifying the infrastructure repository.
The ideal way would be to run `hasura metadata apply` from the migration repository with t

[2020-10-08 10:58] MohiuddinM opened #5956 "Add example of converting Hasura graphql schema to Dart"
I am using Hasura as a backend for a Flutter application. I have to write classes and queries manually, because existing generators don't work with Hasura's graphql schema. Can you please provide an example or documentation on how to generate classes and queries automatically for dart?

[2020-10-08 13:03] ringfungi commented on #2425
I haven't been able to reproduce this issue, I can tab into the combo boxes (using Google Chrome
Version 85.0.4183.121, Windows 10 x64). Can you give us more details?

[2020-10-08 13:20] ndarilek commented on #2425
Probably not, sorry. We stopped using Hasura a long time ago in part
because we needed accessibility, and I'd have to set up an environment
again.

Might no longer be relevant. I'd also test with a screen reader like
NVDA, Orca or Voiceover, since this issue was opened in the context of
multiple blind/low-vision users unable to use the product.

[2020-10-08 14:21] mjnagel commented on #5831
@scriptonist I'll pick up `commands/help.go`

[2020-10-08 14:47] mjnagel commented on #5831
@scriptonist see above PR! Fixed linting issues in `commands/help.go`.

[2020-10-08 15:10] Ckbhatia commented on #5844
Hi @elMatadito,

Can you please share a bit more info?

What is your browser's build version?
What is your machine OS?

These info would help to reproduce and fix this issue.

[2020-10-08 15:14] tpurschke commented on #2113
Facing a similar issue here. Can you give feedback if there is some activity around this issue?
Would be great to have the following filter query work with cidr logic to return all overlapping ip addresses (in this example all ip addresses in the network 10.2.0.0/16):

query filterNetworkObjects($objIpMatch: cidr) {
  object(where: {obj_ip: {_gte: $objIpMatch, _lte: $objIpMatch}}) {
    obj_name

[2020-10-08 15:53] pronevich opened #5963 "Hasura Cloud - custom domain valid for non existing DNS"
I added custom domain without an existing row in DNS and got a valid message.

[2020-10-08 16:56] aloks98 commented on #4874
@marionschleifer Hey, I have been working on this, and I see in the whole docs we have $ before inputs and outputs too. If we do that the user might get confused what to copy and what not to copy. Can I remove $ from the output blocks and add OUTPUT above the code block? That way I can match the inputs with regex and provide copy buttons only to the code blocks which are input.
Example:
`
$ docker

[2020-10-08 17:04] rocketraman commented on #3658
One other thing I'd like to mention is the `permission-error` code. That is incorrect for a constraint violation -- Hasura already has a `constraint-violation` code defined in https://github.com/hasura/graphql-engine/blob/master/server/src-lib/Hasura/RQL/Types/Error.hs -- constraint violations should use that code instead. That will make it easier to differentiate between true permissions problems

[2020-10-08 22:54] hrgui commented on #5461
@smulube

Thanks for the insight, I also checked event_log table on my end and I have the same problem. The number of logs show up drastically with the number of events that failed to deliver.

[2020-10-08 23:29] rocketraman opened #5966 "Insert mutation issue when column preset is set"
I'm doing an insert mutation that fails when run with a particular limited role:

[code]

with a particular role.

I've verified the permissions -- the role is allowed to set the `user_id` value and the token contains the correct and expected claims.

The mutation should insert into two tables: the mutation object writes to the child table, and this table has an object relationship to a parent tab

[2020-10-08 23:30] rocketraman opened #5967 "Insert mutation with value fails if column preset is set, all permissions correct"
I'm doing an insert mutation that fails when run with a particular limited role:

[code]

with a particular role.

I've verified the permissions -- the role is allowed to set the `user_id` value and the token contains the correct and expected claims.

The mutation should insert into two tables: the mutation object writes to the child table, and this table has an object relationship to a parent tab

[2020-10-09 01:48] dewaldabrie opened #5968 "Metadata import fails with parsing error"
I'm trying to track a particular table, export the metadata, then have it apply automatically on startup of the cli image.
Below is my docker-compose file and sql startup script, as well as the metadata file. I get the following error:

[code]

docker-compose.yml
[code]

init.sql
[code]

metadata.json
[code]

folder structure
![image](https://user-images.githubusercontent.com/272353/95532950-9edca

[2020-10-09 02:48] sleep-404 commented on #4874
Hi all,
may i know if there is a way to serve the sphinx documentation over `https` while testing locally ?

[2020-10-09 03:58] sleep-404 commented on #4874
![Hasura](https://user-images.githubusercontent.com/31350263/95541666-85c60100-0a11-11eb-80c4-7a400e578efb.gif)
Guess that gets the required job done, will be creating a PR soon for the same

[2020-10-09 05:16] sasog23 commented on #2599
I guess you can use Class 22 — Data Exception error codes

raise exception like this
RAISE EXCEPTION USING ERRCODE= '22000', MESSAGE= 'business logic error message';

and the client will always receive
{
  "errors": [
    {
      "extensions": {
        "path": "$",
        "code": "data-exception"
      },
      "message": "business logic error message"
    }
  ]
}

https://www.postgresql.org/doc

[2020-10-09 09:42] archit041198 commented on #5851
I can hack this in Punjabi

[2020-10-09 10:12] smulube commented on #5461
@hrgui - we have attempted to mitigate this by adding a manual migration to remove any invalid triggers along the lines of:

[code]

where those trigger names come from using `psql` to inspect each table and identify any triggers that should no longer exist.

We also added this function to delete invalid triggers:

[code]

which we call daily via a cron job. We're hoping this will mitigate the pro

[2020-10-09 10:20] ukitta555 commented on #5831
I take up cli/migrate/migrate.go

[2020-10-09 11:27] ukitta555 commented on #5831
@scriptonist see above PR! Fixed linting in `source/stub/stub_test.go`

[2020-10-09 12:55] RodolfoSilva commented on #5461
Thank you @smulube, you saved my day. 😂 This bug was messing with our cloud.

[2020-10-09 14:13] mrkkrp commented on #5949
Would it be possible to include it in GraphQL engine? We could try to take a stab at implementing this. The reason for this initiative is that we need the optimization because it blocks certain functionality in a project of ours. At the same time we do not know how hard it would be to include the optimization in Postgres and how long such a change would take.

[2020-10-09 14:41] LydiaF opened #5974 "Possible Bug: Computed Field Permission is not being inferred"
Hi there,

I have a computed field, `order`, for which I believe the inferred permission is incorrect. If my understanding is correct, the permission box is meant to be checked *and disabled* if the computed field permissions are inferred from the table from which it is derived. However, it is unchecked and  *not* disabled.

![image](https://user-images.githubusercontent.com/10000865/95596295-1c5f

[2020-10-09 14:42] LydiaF commented on #5788
Hi @tirumaraiselvan, I apologise for the delay in replying. I will reply properly in a few days with a good sandbox!

[2020-10-09 14:54] dbhardwa commented on #5882
It's all good, I managed to figure out the problem (one of the paths was was missing). Thank you very much for your help I have managed to get it working! I am closing this issue.

[2020-10-09 14:54] #5882 closed

[2020-10-09 17:57] gabrielalmeida commented on #4509
I was seeing the same issue because our application was replacing Hasura Cloud endpoint `https` protocol with `wss` on production, but when developing locally, I realized that `docker-compose` [by default will not handle SSL](https://hasura.io/docs/1.0/graphql/core/deployment/enable-https.html).

Therefore, people self-hosting Hasura and not handling SSL should be using `ws` instead of `wss` to "f

[2020-10-09 19:40] deathemperor commented on #3142
this really needs a fix. It's troublesome if you create the migration after making the enum tables or when refreshing the migration from scratch.

[2020-10-09 21:39] ItsWendell commented on #4796
We needed nested custom types for quite an advanced input object. The object had possible array relationships that could be _upserted_ by the user. I would have loved to do this as an Action, but because of this limitation mentioned in this issue, we needed to look for alternatives.

As a workaround, we created a serverless graphql server using [apollo-server-vercel](https://github.com/Saeris/apol

[2020-10-10 00:26] ng29 commented on #2466
hello @wawhal

Can i get more insight of this, so that can pick it up ? ?

[2020-10-10 07:44] shraddhavp commented on #5851
@marionschleifer can i do it in Kannada?

[2020-10-10 08:40] osseonews opened #5977 "Feature Request: Add WHEN clause for Events Trigger Operations"
This is just a feature request for the Events features of Hasura. It would be great to add a "WHEN" possibility for the Trigger Operations in Events. Right now, if we set up an Event in Hasura and selection on a Trigger Operation for Update or Insert, the Event will fire our Webhook on every single Update/Insert for the table/field selected. This is a complete waste of resources and requires us to

[2020-10-10 09:01] yash2code commented on #3124
not while creating it. The above issue pops up while applying it .

[2020-10-10 09:42] beepsoft commented on #1183
Hi,

is this guide still in the making? I am specifically interested in whether running Hasura on Google App Engine Flexible Environment  (#1550) or Google Cloud run is possible now? There are  these other issues #1078 and #940 that point here but then I  could not find any reference to a scaling guide.

So, is this/will this be available somewhere?

Thanks!

[2020-10-10 11:25] donnerc commented on #5836
Same issue for me. I use the images `hasura/graphql-engine:v1.3.2` and `postgres:13`

This comes from the fact that `pg_dump` in the `1.3.2` hasura image still is version `12.2`. This should be corrected in the Hasura images. The hasura Teamsshould update the Postgres client tools in their image to version 13.

[code]

[2020-10-10 12:44] kentaro84207 commented on #5851
Hi! I'll translate `CONTRIBUTING.md`, `SECURITY.md` and `code-of-conduct.md` to Japanese.

[2020-10-10 14:01] GrizliK1988 commented on #5284
Hi!

PR is ready https://github.com/hasura/graphql-engine/pull/5895

[2020-10-10 14:43] GrizliK1988 commented on #5155
Hi!

PR is ready :)

[2020-10-10 14:58] hixus opened #5979 "Posibility to disable metadata write access from console?"
Console seems really useful for debugging and trying out stuff but time to time some of our developers use it also to change metadata in dev/stg/prod stages. This bypasses CI pipeline and makes the environments inconsistent.

I would like to disable metadata write access from everyone else than the CI, still giving the developers the ability to use console if they need to.

[2020-10-10 15:16] FredyC commented on #3320
When I started with Hasura a couple of months ago, being used to camelCase I did not understand why all examples bother with _ugly_ snake_case. So I went straight for camelCase for all my DB entities.

Today after several frustrating moments trying to write custom SQLs for either views or computed fields I've given up and renamed columns/tables/views to snake_case. Arguably arbitrary SQL is not ne

[2020-10-10 16:58] LydiaF commented on #5974
Hey, we just updated to 1.3.2 and the permission *is* being inferred correctly. Great that this looks like it is fixed!

However, the checkbox is still not disabled. Shouldn't the checkbox be completely disabled for permission columns on computed fields?

Thanks!

[2020-10-10 18:15] kreempuff opened #5980 "cli: hasura seeds --file adds `seeds` to path subverting expectations"
Whenever I try to issue a command using `hasura seeds apply -f <FILEPATH>`, the command adds the `seeds` prefix to the path and errors

I would expect it to use the relative file path as given so I can tab complete specific seed files.

Ex:
[code]

Version info:

[code]

[2020-10-10 19:20] iasci commented on #5033
@dminkovsky code property needs to be a string.

[code]

[2020-10-10 20:10] xaylax commented on #3911
Hi! Would I be able to take this issue?

[2020-10-11 03:26] bitjson commented on #2000
Hey @0x777 – I'm trying to understand your PR #5255. If I understand correctly, mutations no longer use prepared statements – is 65535 parameters also the limit for unprepared statements? And if so, is there some way to increase or work around that limit?

I have a particularly complex type of mutation where I need to insert thousands of nested objects before creating each parent object (many-to-m

[2020-10-11 05:53] NorthJaw commented on #5966
Duplicate of #5967

[2020-10-11 06:31] #5966 closed

[2020-10-11 08:14] Wittty-Panda commented on #5851
@marionschleifer hi
I would like to translate in marathi language

[2020-10-11 08:52] csaranbalaji commented on #5831
I would like to take up [`commands/scripts_update_config_v2.go`](https://github.com/hasura/graphql-engine/blob/master/cli/commands/scripts_update_config_v2.go)

[2020-10-11 13:59] Bessonov commented on #1824
@pronevich @coco98 the example doesn't work anymore. Can you please document it here for further reference?

[2020-10-11 14:09] Bessonov commented on #3488
Don't miss the linked feature request above. It could be a very good combination.

[2020-10-11 15:21] vieee commented on #5851
Hi @Wittty-Panda, As a heads-up(and also to avoid duplicating efforts), if you are attempting to translate the docs, please do note that - There's already an Open PR for translation in the Marathi language. But please feel free to translate any of the remaining documentation as mentioned in the issue :)

[2020-10-11 18:12] wawhal opened #5984 "server: cryptic permission error for select filter violation"
I faced a strang issue recently which was quite hard to debug:

[code]

This was because I had made a mistake while creating a select permission rule:

[code]

It was a mistake because I intended to set the filter on `creator_id` rather than `created_at`. A more intstructive error would have helped with debugging.

[2020-10-11 23:38] josselineperdomo commented on #5851
Hello! I'd like to translate the code of conduct in Spanish :)

[2020-10-12 01:21] y-martinez commented on #5851
Hello! the `README` in Spanish is outdated I would like to work with that file

[2020-10-12 01:58] y-martinez opened #5985 "The spanish readme file is outdated"
Hi! when I was reviewing the issue #5851 I saw the Spanish version of the Readme file and realized that it is out of date, particularly in the QuickStart section, I am attaching an image that describes the problem.

![Screenshot from 2020-10-11 21-36-42](https://user-images.githubusercontent.com/6761059/95697437-ba51dc80-0c0c-11eb-88e5-7e41e7b9e594.png)

I would like to work on this issue if there

[2020-10-12 04:26] daniel-shuy commented on #5831
@scriptonist I've created a PR for `cli/commands/init.go` at #5943

[2020-10-12 06:26] bingbingll opened #5988 "UNIQUE index must contain all columns in the distribution key of relation"
hi : "Greenplum "is installed in stand-alone version. docker “hasura/graphql-engine:latest”cannot start.
The error message is:  `"prepared":false,"error":{"exec_status":"FatalError","hint":null,"message":"UNIQUE index must contain all columns in the distribution key of relation \"hdb_version\"","status_code":"42P16","description":null},"arguments":[]},"path":"$","error":"database query error","cod

[2020-10-12 06:41] tirumaraiselvan commented on #2817
The console side of the issue is solved by https://github.com/hasura/graphql-engine/pull/4993 and will be out in the next release (v1.4). Since this issue is primarily a discussion around this I am closing it.

The CLI side of the issue (enum rows while initializing migrations using `--from-server` flag) was originally reported here: https://github.com/hasura/graphql-engine/issues/4222 and is a be

[2020-10-12 06:41] #2817 closed

[2020-10-12 06:45] tirumaraiselvan commented on #4222
#2817 is closed with a console side solution. Hence, reopening this for the cli side issue.

[2020-10-12 07:14] tirumaraiselvan commented on #5974
Computed field needs to be checked explicitly in the column list for it to be visible for the role. This is because you may want some computed field to be visible for role1 but not for role2.

[2020-10-12 07:29] fakhrip commented on #5450
I don't know if i was wrong at some point because in my case, i can't even download the schema without `X-Hasura-Admin-Secret` when the engine run with the `X-Hasura-Admin-Secret` enabled.

[code]

[2020-10-12 07:47] CR1AT0RS commented on #2113
@ecthiender yes I was able to get around it but a native type support would be awesome. Thanks for adding in enhancement tag.

[2020-10-12 08:06] LydiaF commented on #5974
Hi @tirumaraiselvan, thanks for getting back to me so quickly.

That's all cool, it just really doesn't seem to be working like that for me – I can't achieve setting the permission  through applying metadata programatically. I am getting an error that aligns with what is written in the docs ("For table computed fields, the permissions set on the return table are respected.") about automatic infere

[2020-10-12 09:06] haf commented on #5044
What about having a convention `id` being the primary key outputted from the view, or allowing the programmer to select a column to use as a primary key from the view?

[2020-10-12 09:14] #3292 closed

[2020-10-12 09:35] DebugAgrawal commented on #5851
**Hey I would love to translate the code of conduct in Marathi (मराठी)**

[2020-10-12 11:47] scriptonist commented on #5980
currently, seed files are taken relative to the seed directory, https://github.com/hasura/graphql-engine/blob/1f2037947d9a9810849911092ffffa0dc55d37dc/cli/seed/apply.go#L27 this can be changed to take files relative to the project directory. Which should be fairly straight forward, Interchanging `ec.SeedsDirectory` with `ec.ExecutionDirectory` should do the trick.

[2020-10-12 12:45] airstep commented on #3023
Got: Error: syntax error in line 4654

    at Array.r.listeners.<computed> (https://graphql-engine-cdn.hasura.io/console/assets/channel/stable/v1.3/vendor.js.gz:1:6855882)
    at Worker.<anonymous> (https://graphql-engine-cdn.hasura.io/console/assets/channel/stable/v1.3/vendor.js.gz:1:6855711)

[2020-10-12 13:39] kreempuff commented on #5980
Sweet, I can take this on then

[2020-10-12 13:46] bgold0 commented on #3759
This is happening to me on Hasura Cloud. I literally can't update my application because of this bug.

[2020-10-12 15:19] maxcan commented on #4222
@tirumaraiselvan thanks for the update.  looking forward to 1.4!

[2020-10-12 15:35] beerose commented on #5828
Hi @ReghuShanker!

The issue occurs because we're not handling MySQL databases in the console yet. The current version of the console (and the one in the preview) works only with a single Postgres database. The MySQL preview has only server changes.

You can access the console (`Graphiql` tab specifically) without a password because this page is kind of independent of the rest of the application.

[2020-10-12 15:58] tirumaraiselvan commented on #5974
Got it. One thing that seems off in the API above is that `computed_fields` is `[]`. Shouldn't `order` be defined in `computed_fields` section too?

[2020-10-12 16:10] fakhrip commented on #5263
Hello again, its really cool that i can learn so many new things just by adding snippet (cause i'll travel on the code deeper), and i think i want to add dart using flutter as i will also want to use it for my own project.

Should i create a new PR for that or just combine it with current PR ?

[2020-10-12 17:58] mstephano commented on #3336
@beepsoft Thank you for your solution, it is working great for me!

[2020-10-12 18:25] beerose opened #5993 "dropping Postgres dependencies results in invalid SQL error"
When trying to drop Postgres dependant objects, `CASCADE` is being added to all the _up queries_. In some cases, it results in invalid SQL.

### Steps to reproduce

1. Create table `users` with columns `id` (PK) and e.g. `id2`.
2. Create table `posts` with columns `id` (PK), `user_id`.
3. Add foreign key relation: `posts.user_id -> users.id`.
4. Go to `users` table, try to modify primary key by, f

[2020-10-12 18:39] GrizliK1988 commented on #5729
Hi!

Would it make more sense to store the latest selected value and then show it when Browse Rows content is shown? By default on the first opening user will see "equals" operator.

What do you think?

[2020-10-12 18:45] bertyhell commented on #5729
Yes, that sounds great. It is quite a bit more complex since you need to store the last selected value somewhere. But someone could do it in a separate PR.

For now since most people search for an exact value, I think merging this PR as is is already an improvement.

[2020-10-12 19:35] LydiaF commented on #5974
Hi @tirumaraiselvan,

Thanks again for getting back so quickly. Thanks for explaining that, I didn't realise the difference between visibility and permission, and yes, you are right that there is something off with with the empty array for computed fields. (The computed field is definitely being applied though...)

Sadly however, I believe the problem is still there. I am going to use a different

[2020-10-12 22:31] malkhuzayyim commented on #1601
Same here, this would be highly beneficial.

I was disappointed to find that adding extra context from the client was not allowed, as that would be very useful when doing "exists" checks using the user ID (from the JWT) and a custom header session variable. Now I'm bound to switch to webhook mode, instead of using the built-in permissions system.

[2020-10-12 22:59] lexi-lambda commented on #3759
I finally got to looking into this, and I’m afraid to say I still cannot reproduce this on my machine. :slightly_frowning_face: I tried following the steps in https://github.com/hasura/graphql-engine/issues/3759#issuecomment-603013180 a few times against graphql-engine v1.3.2, but every time I pressed “Reload Enum Values,” I saw the schema immediately update.

This is frustrating, because obviousl

[2020-10-12 23:11] nolandg commented on #3292
Has anyone got Apollo Client to and `subscriptions-transport-ws` Node.js package to talk nice with this compression?

[2020-10-13 00:08] riyazq commented on #1573
Any update on this? I really need this feature.

[2020-10-13 00:34] webdeb commented on #5979
you are better by disabling it completely https://hasura.io/docs/1.0/graphql/core/api-reference/schema-metadata-api/index.html#disabling-schema-metadata-api

[2020-10-13 00:52] webdeb commented on #4181
#3868 is being implemented with merged roles, right?
#3852 is nice, right now we are (ab)using upserts for this or deleting/inserting many-to-many relations

@coco98 I would like to know if you think that this rfc is also worth to look into.
https://github.com/hasura/graphql-engine/pull/5783

[2020-10-13 07:25] TheMrZZ opened #5997 "Docker Hasura fails to apply metadata, waits forever and deadlocks the database by taking 100% of the CPU"
While deploying a new small release, our Hasura CI/CD build **crashed our whole database**. We tried again, and it keeps crashing our development & production environment.

Basically, Hasura tries to apply metadata but it takes an infinite amount of time. Meanwhile, it opens 13 parallel connections to our Postgres database, and gradually increases the CPU usages until, in 5 minutes, it takes **100

[2020-10-13 07:27] #5988 closed

[2020-10-13 08:21] tibotiber opened #5999 "migration file for updated event trigger missing delete_event_trigger"
Hello,

I've updated the configuration for an existing event trigger and the migration that was generated only had a `create_event_trigger`, no `delete_event_trigger`. This resulted in failing migrations due to unique name constraint.

I've fixed it here and do not require further help but wanted to share this in case that's a bug you've not been notified of yet. I've tried searching the issues bu

[2020-10-13 08:33] #4143 closed

[2020-10-13 09:44] Yashs911 commented on #5980
@kreempuff I would like to work on this issue.

[2020-10-13 11:07] #3593 closed

[2020-10-13 12:53] SkinyMonkey commented on #5606
isn't this solving your issue? https://hasura.io/blog/introducing-scheduled-triggers-api-driven-cron-jobs-scheduled-events/

[2020-10-13 13:42] tirumaraiselvan commented on #5905
Can you post the container logs please?

[2020-10-13 13:44] tirumaraiselvan commented on #5933
We are working on a potential fix by refactoring the writes on the table to be in "Read Committed". It appears we can safely do it but we need to do some analysis, run tests and confirm.

[2020-10-13 14:11] PedroBern opened #6001 "Wrong relay ID in the docs"
## Getting Relay ID programmatically

[This example in the docs](https://github.com/hasura/graphql-engine/blob/4062cdcbeabd10541f9e51e8b76b97f079f19b00/docs/graphql/core/schema/relay-schema.rst#example), is wrong.

[code]

[2020-10-13 14:15] PedroBern commented on #6001
Closing it because this is the right way, the [example](https://github.com/hasura/graphql-engine/blob/4062cdcbeabd10541f9e51e8b76b97f079f19b00/docs/graphql/core/schema/relay-schema.rst#example) is wrong.

[2020-10-13 14:23] tirumaraiselvan commented on #5968
I am not sure but I tried your docker-compose and it succeeds:

[code]

[2020-10-13 16:12] rocketraman commented on #5967
@tirumaraiselvan  If that is true, the documentation is *really* not clear about this. Here is what the section about column presets (https://hasura.io/docs/1.0/graphql/core/schema/default-values/column-presets.html#column-presets) says -- I've bolded elements of this that imply these are *soft* presets, not *hard* presets.

The whole section is named "Setting **default** values for fields using r

[2020-10-13 17:19] mvid opened #6004 "Select by PK definition on a view, not generating corresponding root query"
I have a view that I am exposing for authorization reasons, and while Hasura is generating the root query for `Select`, it isn't for `Select by PK`, even though it is accepting the definition in the config.

Does Hasura not support primary key single object lookups on view? If not, why is it a config option? If so, why isn't it being generated?

Thanks,
Mantas

[2020-10-13 18:56] luistak commented on #3589
@tonyjmartinez  try to check your auth0 rules, it was happening with me but I saw it was a typo in this section:
https://hasura.io/learn/graphql/nexatjs-fullstack-serverless/auth0-setup/1-custom-claims/

[2020-10-13 20:53] TheColorRed opened #6006 "MySQL server has gone away"
I am playing around with the new MySQL support, and I am not sure if this issue is a Hasura issue, MySQL issue, or an AWS RDS issue. So, I thought I would ask here.

When running the docker container, over time I eventually cannot connect to the MySQL database, and I am getting this error:

As of now I just restart the Container and I am back in business, but is there a way for me to avoid getting

[2020-10-13 21:14] sanderhahn opened #6007 "Fragments on PostgreSQL table inheritance"
Would be nice if this query works (based upon https://graphql.org/learn/queries/#inline-fragments):

[code]

Given the SQL schema:

[code]

[2020-10-13 21:14] Albosonic opened #6008 "pageInfo returning `hasNextPage: true` when no page is available"
noticed on hasura v1.3.1 and v1.3.2
`/v1beta1/relay`

Cursors are behaving strangely. I am doing this simple query in the hasura console just trying to test why my code is not behaving as expected:

`query MyQuery($cursor: String) {
  user_connection(first: 20, after: $cursor) {
    edges {
      cursor
    }
    pageInfo {
      hasNextPage
    }
  }
}
`
What I am seeing is that it paginates forw

[2020-10-13 22:44] rapacity commented on #5606
Currently at best you can schedule a cron job to run at an interval of once every minute but not more fine grained than that.

As an example, if I have a materialized view that I'd like to refresh on a 15 seconds interval, currently I wouldn't be able to create a cron job to do that from hasura.

[2020-10-13 23:02] sanderhahn commented on #6007
Noticed that this doesn't allow a foreign key references on the hero table. So this might actually not be a very useful data model in real world use-cases.

[2020-10-13 23:27] #6007 closed

[2020-10-14 00:37] sanderhahn opened #6009 "FK that is unique should become object relationship"
Would be nice if a foreign key that also is unique would be recognized as object-relationship both ways. At the moment the FK is recognized as array-relationship, but because of the uniqueness its impossible to have multiple referring rows. This makes it easier to share primary keys on tables and join the data as objects...

Example schema:
[code]

Could allow as graphql query:
[code]

[2020-10-14 01:11] PedroBern commented on #6008
I'm not sure, just trying to help here, but did you try with ordering? #5661 did solve adding the order_by argument with a unique field but wasn't relay.

[2020-10-14 02:02] dewaldabrie commented on #5968
@scriptonist Please note on the first log line that I posted it says `applying metadata from /hasura-metadata` which seems to indicate that it could find the file in the dir structure?

Could you please give me some indication of what the directory structure should look like? That way I can tunnel into the image and see if it's set up that way.

I added `command: ["hasura", "init", "."]` do my doc

[2020-10-14 02:54] kreempuff commented on #5980
@Yashs911 sure, looks like someone took it up already though

[2020-10-14 03:22] Yashs911 commented on #5980
@kreempuff at least one should first claim the issue. No problem I will take some other issue.

[2020-10-14 03:29] kreempuff commented on #5980
@Yashs911 Yeah, I'm not really familiar with the process, sorry!

[2020-10-14 05:02] scriptonist commented on #5968
@dewaldabrie What I meant is having a project directory as mentioned here https://hasura.io/docs/1.0/graphql/core/migrations/migrations-setup.html and then using the metadata directory from the project to be mounted on to container.

[2020-10-14 07:16] sasog23 opened #6012 "subscriptions"
i'm subscribed to a table with more than 400.000 records

works fine
subscription MySubscription {
  test_events(limit: 100) {
    id
    updated_at
  }
}

while setting the limit to 1000, i'm getting response every second, without changing data
subscription MySubscription {
  test_events(limit: 1000) {
    id
    updated_at
  }
}

![image](https://user-images.githubusercontent.com/43674468/959559

[2020-10-14 07:36] smblee commented on #4181
What is the process for these RFCs to get approved and developed?

[2020-10-14 07:46] fumblehool commented on #5980
@Yashs911 @kreempuff Apologies for the confusion.
The issue was unassigned and I missed the last 3 comments.
I'm more than happy to delete the PR if you want to work on this issue.

[2020-10-14 07:51] pronevich commented on #1824
@Bessonov send x-hasura-lang header from client and configure SELECT permissions in console based on x-hasura-lang

[2020-10-14 07:57] #3503 closed

[2020-10-14 07:57] #3801 closed

[2020-10-14 07:57] #4988 closed

[2020-10-14 10:32] rikinsk commented on #2726
Closed via #4948

[2020-10-14 10:32] #2726 closed

[2020-10-14 10:59] Yashs911 commented on #5980
@fumblehool it's okay, no need to delete the PR.

[2020-10-14 12:51] larsblumberg opened #6016 "Hasura translates unspecified mutation variables in SQL query as `null` yielding unwanted/unexpected behavior"
**Request payload** (replaced `\n` with real lin feed to increase readability):

[code]

Hasura replies with `Not-NULL violation. null value in column "id" violates not-null constraint"`.

As `id` column has `default: gen_random_uuid()` set, this response message from Hasura implies that Hasura run an insert query with the new row having `id = null` instead of _not specifying `id` at all_ so that

[2020-10-14 13:56] KATT commented on #5854
Bump

[2020-10-14 14:49] talivodworks opened #6018 "Way to use aggregates results inside where clause."
I am trying to achieve a use case. I have 2 tables:

1. rooms
2. rooms_operating_hours

Here is the schema of both of the tables.

### rooms

| column | type |
| ------ | ---- |
| id     | Int  |
| name   | text |

### rooms_operating_hours

| column | type |
| ------ | ---- |
| id     | Int  |
| room_id | Int |
| day_of_week  | text ( monday, tuesday, wednesday ...etc)  |
| hour_start   | timeonl

[2020-10-14 18:52] PedroBern opened #6019 "Relay broken pagination / wrong pageInfo with aggregate max inside order_by"
# Summary

The relay pagination is broken when using `aggregate` with `max` inside `order_by`.

## Run the following to verify

### Working as expected (using aggregate + count):

[code]

### Not working

[code]

## Discussion

The result from `Not_Working` query always returns the response below, even I knowing there are more pages.

I know it's broken because if I run `Working_3` query with `fir

[2020-10-14 19:21] eltonvsouza commented on #3124
I am also having this issue. We could fix this issue if the dump generated by "hasura migrate create" came with the command:
`SET check_function_bodies = FALSE;`

[2020-10-14 20:32] EionRobb commented on #3366
I'm trying to do a similar thing here.  I have my own unique IDs for users and I'm trying to use the X-Hasura-User-Id session ID as a secondary ID for users, in case I switch auth providers or if I want to allow users to not require logins

[code]
although I have more not-null columns in my users table.  I'd need to add each one into the query and would have to do that for every mutation too; addi

[2020-10-15 02:18] tonyabracadabra commented on #678
Would Hasura support any PostgreSQL compatible databases like TiDB or PolarDB?

[2020-10-15 02:19] tonyabracadabra opened #6022 "Can I connect Hasura to any postgresql compatible database like TiDB or PolarDB?"
Title says it all.

[2020-10-15 03:51] dionjwa commented on #3729
I have exactly this problem. @dostalradim is correct: it is a problem that everyone that wants to use hasuras special features will hit (typed versioned flexible interfaces). Hasura fresh init requires those defined running services, but those services often require hasura first. This is exposed when starting a stack completely afresh, more often than incrementally deploying a running stack. I wou

[2020-10-15 06:36] kellykampen commented on #5534
I am getting the same error when attempting to rename a table that has relationships.
This only happens with tables that have relationships.

[2020-10-15 07:49] bulby97 commented on #5936
Thank for answering !

Type is of type Dimension:
![image](https://user-images.githubusercontent.com/3509412/96091864-98b36680-0f26-11eb-85e5-1e772fda8991.png)

**Directly against the contentful schema**
It works great (even if contentful pre-fill the width with quotes, thinking it's a string, I just need to switch to number by removing quotes)
![image](https://user-images.githubusercontent.com/35

[2020-10-15 07:55] fkozaslan opened #6024 "How can I use fulltext search in graphql ? (without postresql function)"
I want to search name or surname with contains searchText :

$search=> "%Mike Adam%"

example:
_or: [{ name | '  ' | surname : { _ilike: $search } }]

Just I can do this:

_or: [{ name: { _ilike: $search } }, { surname: { _ilike: $search } }]

Can you help me ? is there solution without postresql function?

[2020-10-15 07:56] mkalayci35 commented on #6024
+1

[2020-10-15 08:28] #5993 closed

[2020-10-15 09:35] larsblumberg commented on #1456
@0x777 Thanks for creating issue, I'm confronting the exact same situation. Due to then nature of Hasura's current behavior, we need to write quiet some boilerplate code. Either having two mutations, one for each scenario, potentially having even more mutations if there are multiple variations of which variables are passed and which not.

I find the current behavior quiet unexpected from a SQL per

[2020-10-15 09:38] mrjbj commented on #5035
Here's a mini-article I wrote to solidify my learnings on this topic after having had to bang my head against the wall trying to understand all of this.  The root confusion in my case is that I had named the PK of my tables "id" using the pull down from Hasura's "frequently used columns" helper from the "add a new table" screen.  One of the "frequently used columns" is "id" as primary key identifi

[2020-10-15 09:45] 0x777 commented on #5035
We'll pick this up immediately after 1.4 release (this was originally slated for the 1.4 release but we couldn't get around to this in time).

[2020-10-15 13:23] pronevich commented on #3759
Hi, @lexi-lambda here is the reproduction:

1. I created new project in Hasura Cloud.
2.   Created in console SQL:
[code]
3. Created in console SQL. type - ref to test_enum
[code]
4. Set table as enum
5. Update enum value FIRST to FIRST_UPD
6. Reload enum values
![image](https://user-images.githubusercontent.com/680439/96131942-7a3b7400-0f02-11eb-8f8e-bbbecc0a24e7.png)
7. Test if enum value was ch

[2020-10-15 15:20] #5477 closed

[2020-10-15 16:14] njaremko opened #6025 "Events stuck in locked state, never attempted."
Hello,

I've been seeing this for a little while and ignoring it, but I figured I should bring it up. I have an event trigger that gets ~22,000 invocations a day on a single hasura instance. Of those, ~15-50 of these events end up as being locked, with no delivery, nor error. In my use case, this isn't a huge deal, since the next time the event is triggered, it will contain the relevant informatio

[2020-10-15 16:27] codingkarthik commented on #6025
Hello @njaremko

Thank you for reporting this issue, we do have a [PR](https://github.com/hasura/graphql-engine/pull/5473#event-3747199278) to fix this issue and it will be released soon!

However, I would like to know how the events end up in the locked state. Can you tell me if you're running multiple hasura instances on the same database?

[2020-10-15 16:32] njaremko commented on #6025
Hi @codingkarthik

Good to know that it's being addressed. Only one instance of hasura on the DB.

[2020-10-15 19:15] bitjson opened #6026 "Feature request: some way to disable warning when a nested upsert affects zero rows"
This is a feature request related to https://github.com/hasura/graphql-engine/issues/1911#issuecomment-702992930.

As described in [`Nested upsert caveats`](https://hasura.io/docs/1.0/graphql/core/mutations/upsert.html#nested-upsert-caveats), Hasura currently returns an error if an upsert mutation with nested upserts does not specify any `update_columns`:

[code]

In many online analytical process

[2020-10-15 19:55] almassapargali commented on #3685
Hey @tirumaraiselvan, any ETAs on this feature? This would reduce joins needed to make queries, thus improving performance tremendously.

[2020-10-15 21:50] lexi-lambda commented on #3759
Good news: with the help of both the comments in this issue and a couple other folks on the team, I finally managed to consistently reproduce the issue on my machine. PR #6027 has the fix, which should hopefully finally resolve this problem for good once merged. Thank you all for your patience!

[2020-10-16 05:12] dewaldabrie commented on #5968
@scriptonist Thanks that helped a lot. I managed with the following steps:

1) installation of local hasura cli
2) run docker-compose with either cli or non-cli image
3) configure data settings (which tables to track)
4) on local side, run `hasura init my-project --endpoint http://localhost:<hasura_port>`
5) on local side, ruin `cd my-project; hasura metadata export`
6) make sure the local metadat

[2020-10-16 05:12] #5968 closed

[2020-10-16 09:59] Bessonov commented on #6022
See:
https://github.com/hasura/graphql-engine/issues/411
https://github.com/hasura/graphql-engine/issues/678
https://blog.yugabyte.com/basic-crud-operations-using-hasura-graphql-with-distributed-sql-on-gke/

Depending on the database there is a chance that it's just work for your use cases. But it's on the side of database to have semantic and syntax compatible to postgres.

[2020-10-16 13:35] karlsander opened #6029 "Remote Relationship with all arguments mapped causes invalid GraphQL schema"
I have:
- a simple remote schema:
[code]
- a remote relationship named `media` from a table `events` to that schema, which maps both youtubeURL and spotifyURL to table columns

When trying to download/introspect the resulting schema with apollo cli or `gq`, i get the following error:

[code]

it has created the `media` field on `events` with an input, even though there are no arguments left to pas

[2020-10-16 13:38] tirumaraiselvan commented on #6025
Is it possible to check if the delivery was made at the webhook end? This can probably happen due to concurrent updates on the event_log table which can fail because of serialization conflicts at PG. You can also confirm this by looking at the logs and if there are any event_trigger errors with serialization errors.

[2020-10-16 16:01] DebugAgrawal commented on #5851
**Please review if any change required**

[2020-10-16 18:02] jmoseley commented on #3666
I've experienced this as well. Even from the GraphQL explorer, the UI suggests the constraint name, but it errors when you execute.

[2020-10-16 19:41] njaremko commented on #6025
Difficult for me to check if they were delivered, but there are no serialization errors in hasura logs

[2020-10-16 22:50] Uthpala commented on #2764
I am getting the same error. For me this happens when i create an event for a table. I previously had another event that worked. But now it is not working as well.

[2020-10-17 07:49] austinrivas commented on #877
As someone who has implemented complex configurable RBAC using hasura that relies on multiple roles this thread reads like FUD.

The hasura team has done a pretty good job of illustrating how to get started down this path here : https://hasura.io/blog/authorization-rules-for-multi-tenant-system-google-cloud/

And how to DRY out your config here: https://hasura.io/blog/using-jsonnet-for-programmabl

[2020-10-17 13:09] MikeBosw commented on #3666
On-conflict support for partial unique indexes (or exclusion constraints) would be great.

[2020-10-17 14:11] GrizliK1988 commented on #5729
@kolharsam , I'd like to take this one.

[2020-10-17 16:11] y-martinez commented on #5851
Hi! @marionschleifer sorry for the inconvenience, but it would be possible that meanwhile we awaiting for a PR review, you could add the label hacktoberfest-accepted to our PRs so that the verification time of the Hacktoberfest begins because now we need await for two weeks for mature.

[2020-10-17 16:32] beerose commented on #5729
Hi @GrizliK1988!

Thanks for your PR and willingness to work on this issue! However, @bertyhell already submitted a PR that solves the issue.
Though, I'd like to leave your PR open in case you want to work on the functionality you mentioned in your comment.

[2020-10-17 16:44] bertyhell commented on #5729
@beerose according to this remark my PR is actually no good,since it only manipulates the html, but it should instead set the value in the store.

So if @GrizliK1988 wants to do that, I'm more than happy to close this PR and let him open a better implementation PR

[2020-10-17 17:04] ntziolis commented on #2109
We have had to result to delaying the client to making a request... Would love to see this addressed

[2020-10-17 18:12] GrizliK1988 commented on #5729
Thank you for your feedback @bertyhell  and @beerose !

a PR is already in progress: https://github.com/hasura/graphql-engine/pull/6032 (tests have to be fixed) and the approach is to change value in store. It's fine for me either to move changes to the PR of @bertyhell or to keep my PR opened - whatever better fits the process.

[2020-10-17 18:22] tanmaypatil opened #6034 "path api for jsonb array - need solution"
Hi Team ,

I have jsonb column in my hasura model . value of the jsonb column is as follows .
`[ { "currency": "EUR", "account_guid": "198cd921-92d1-55e3-222e-34aam" },{ "currency": "USD", "account_guid": "198cd921-92d1-55e3-222e-34aam" } ]`

- Idea is to extract currency column using jsonpath
` physical_accounts(path : "['[*].currency']")`

above json query does not seem to work . I get null valu

[2020-10-17 19:38] beerose commented on #5729
From my point of view, both options work just fine. You can do whatever feels better for you 🙂

[2020-10-17 19:53] GrizliK1988 commented on #5729
Ok, then I'd also like to propose to keep PR https://github.com/hasura/graphql-engine/pull/6032, simply because it's a replacement of https://github.com/hasura/graphql-engine/pull/5730 :)

[2020-10-17 19:58] bertyhell commented on #5729
Closed in favor of https://github.com/hasura/graphql-engine/pull/6032

[2020-10-17 20:10] karibertils commented on #1514
I have a case where using a VOLATILE SQL function in a computed field would simplify things alot.

I also noticed I can create the function as STABLE, add it as computed field, and then change the function to VOLATILE and it works just fine in hasura.

But feels hacky and will probably break on something like metadata reload. Also seem's there's not really much needed to support this except allowi

[2020-10-17 20:26] Bessonov commented on #1514
@karibertils look at linked draft pull request.

[2020-10-17 21:07] karibertils commented on #1514
@Bessonov I can see in the pull request that VOLATILE functions will be supported as mutations.

But I can't really tell if adding those mutations as computed fields will also be supported like with the STABLE functions ?

It might be a bit odd behaviour doing query { table { computed } } that's actually mutating data before returning the results.

[2020-10-18 03:43] SkinyMonkey opened #6035 "type info not found for: 'table_obj_rel_insert_input'"
When i activate the backend only option on the insert permission of one of my table, i get a cryptic message on the Graphiql view.

[code]

Can i fix this myself or is it a bug?

Thank you!

[2020-10-18 03:46] SkinyMonkey commented on #6035
The repo i'm working on is public if you want to need more informations :

https://github.com/SkinyMonkey/hasura-fs/tree/develop

[2020-10-18 06:57] revskill10 commented on #877
The fact of amazing Hasura features doesn't mean it's enough to cover nessessary real world use cases. In this thread, the focus is on the client side query (multi roles query). Please make the thread focus on the topic instead.

[2020-10-18 07:13] revskill10 commented on #2768
@hafiztahajamil For example, i want to update `first_name` of multiple users in one mutation, i would do:

[code]
In above mutation, i generated `update_users_X` from code , as well as `usersX_objects`.

[2020-10-18 15:04] austinrivas commented on #877
@revskill10 read the blog posts I linked, it directly discusses how to structure your db for multiple roles.

[2020-10-18 17:34] eads commented on #5465
Just wanted to see if there's a way to help push this along. This would be a godsend for the budget of projects that have sporadic bursts of resource-intensive activity like the analyze-and-publish model that's common in data journalism and data science.

[2020-10-18 20:58] Ruchika30 commented on #3728
is this issue open ??  @beerose

[2020-10-19 07:17] gpinkard opened #6039 "CLI Crashing While Applying metadata"
I am having issues with the hasura cli, it seems to be failing. I am trying to apply medata to an instance I am running locally with skaffold (kubernetes). I can bring the instance up without any issues, however when I try to apply metadata, the hasura cli crashes:

[code]

This is the contents of `./provider/hasura/metadata` (I am running apply on `./provider/hasura/`):

[code]

 I have not had i

[2020-10-19 08:34] beerose commented on #5729
I'm reopening the issue to keep track of this feature and for further discussion.
I closed the #5730 PR instead.

[2020-10-19 08:36] soorajshankar commented on #5699
@avimoondra Thanks for reporting the bug!
Closing this and will track this using the existing issue https://github.com/hasura/graphql-engine/issues/5436

[2020-10-19 08:36] #5699 closed

[2020-10-19 10:12] marionschleifer commented on #4906
Closing this in favour of https://github.com/hasura/graphql-engine-internal/issues/446.

[2020-10-19 10:12] #4906 closed

[2020-10-19 10:46] bertyhell commented on #4138
@sccalabr probably somewhere here: https://github.com/hasura/graphql-engine/blob/527530704d00ebb3c2be807b3ecfc3325e2957ea/console/src/components/Services/Settings/AllowedQueries/AllowedQueriesList.js

[2020-10-19 10:59] soorajshankar commented on #4951
Hello @joshuarobs, Thanks for submitting the issue!

I was trying to reproduce this but unfortunately, I couldn't reproduce this.

usually, when we do this, the console (front end app) will send a request that only contains the `items` query to the GQL engine. and I'm curious how the server returns with an error that refers to the `test_users`

I will need to check if the query contains anything r

[2020-10-19 11:18] qqgg231 opened #6040 "'Deselect all' in "Listen columns for update""
"Listen columns for update"  In Events should have option "Deselect all"

If I have 50 columns and need only 1 I need to click 49 times to deselect....

[2020-10-19 11:46] beerose commented on #6040
Closing as a duplicate of https://github.com/hasura/graphql-engine/issues/4972

[2020-10-19 11:46] #6040 closed

[2020-10-19 12:13] #3874 closed

[2020-10-19 12:41] tirumaraiselvan commented on #5461
I have been able to reproduce this, finally. Thanks for your details and patience.

This was done by design so as to not fail silently for an event which hitherto was known to be caused only for transient issues. We will see how we can improve this as well.

[2020-10-19 14:44] tirumaraiselvan opened #6041 "change isolation level of event fetch to ReadCommitted"
Since the [query that is run](https://github.com/hasura/graphql-engine/blob/4c3890b3eadde0f7c04b03885c182c85a098516f/server/src-lib/Hasura/Eventing/EventTrigger.hs#L417) is of the form:

[code]

Even with concurrent queries running in ReadCommitted isolation level, this should be safe from re-deliveries. The first transaction to lock the event will "win" and others will ignore that event.

[2020-10-19 14:49] tirumaraiselvan commented on #6041
This should fix errors of the following type which are seen in fairly active event trigger usage:

[code]

[2020-10-19 15:23] pdey opened #6042 "Unexpected exception raised in websocket."
I am running hasura/graphql-engine:v1.3.1 docker image on an ec2 t2.medium instance. Sometime i encounter sequence of following errors in the logs. I am using apollo client for subscriptions.

{"type":"unstructured","timestamp":"2020-10-19T14:41:01.279+0000","level":"error","detail":"Unexpected exception raised in websocket. Please report this as a bug: Thread killed by timeout manager"}
{"type":"

[2020-10-19 17:32] jberryman commented on #1514
@karibertils There is no plan at the moment to allow `VOLATILE` functions to exist under the `Query` root field; the thinking is that because the graphql spec requires fields (except top-level mutation fields) to be idempotent and side-effect free, allowing a VOLATILE function would result in a graphql API that violates the spec (and e.g. causes issues with caching etc)

Can you give me an idea of

[2020-10-19 18:51] shaonkabir8 commented on #5851
Hi [Marion Schleifer](https://github.com/marionschleifer) :wave:
:pray: Wishing :house_with_garden:   a good day from :bangladesh: Bangladesh
I'm highly interested :raised_hand_with_fingers_splayed:  to translate all the available docs you've mentioned above in **Bengali** :bangladesh:
-  [CONTRIBUTING](https://github.com/hasura/graphql-engine/blob/master/CONTRIBUTING.md)
-  [README](https://githu

[2020-10-19 19:47] abdullah2993 commented on #5426
+1 For this, we have  a very similar requirment for searching over all the fields.

[2020-10-19 20:39] jrcamelo commented on #5851
Added #6038 that fixes some typos and adds remote-schemas.md to the PT-BR translations.

[2020-10-19 23:07] jeveleth opened #6045 "[hasura cloud] custom cert"
I am using Hasura Cloud with GCP's Cloud SQL. Currently, if I require SSL connections in GCP, then I cannot connect directly to Hasura Cloud, as there is no option to pass in a client certificate. Is it possible for Hasura to enable a configuration improvement that supports passing in client certificates?

[2020-10-20 02:30] Vbubblery commented on #992
Any documents for nginx ingree to use reverse proxy?

[2020-10-20 08:14] beerose commented on #3728
Hi @Ruchika30! Yes, it's open

[2020-10-20 09:11] sdil commented on #5905
I have the same problem. This is my docker-compose.yml file:

[code]

I am able to see the console at `localhost:8080/console/login`

But when I run `hasura console --endpoint http://localhost:8080 --admin-secret xxx`, it opens `localhost:9695` and show the following error

![image](https://user-images.githubusercontent.com/461537/96565585-24e2d680-12f7-11eb-8dfb-2a09e83584ed.png)

Any idea why it

[2020-10-20 09:44] duskmoon314 opened #6048 "Error Using CLI Console, can't GET http://0.0.0.0:9693/apis/migrate/settings"
I'm following the doc [Setting up Hasura migrations](https://hasura.io/docs/1.0/graphql/core/migrations/migrations-setup.html#step-4-use-the-console-from-the-cli). I want to use `hasura console`, and try step 5.

I am using a Ubuntu 16.04 server, having hasura engine and postgres in docker:

[code]

I use this command on a Ubuntu 16.04 server:

[code]
[code]

Then I tried to open the console, and

[2020-10-20 12:11] #6001 closed

[2020-10-20 13:27] tylerhannan commented on #5851
All.

Thank you for your participation in this issue.

Sadly, we are in a situation where a number of the translation requests we have received are machine generated. So, for now, I am going to be closing this issue.

I will leave the related PRs that are referenced herein, or directly submitted, open and reach out through the community or network for native speakers to review.

For those who part

[2020-10-20 13:27] #5851 closed

[2020-10-20 14:45] duskmoon314 commented on #6048
On server, I get this:

[code]

Is this a server problem?

[2020-10-20 15:06] DhvanilPatel commented on #4796
I'd second this request as well! :)

[2020-10-20 15:59] gip commented on #5997
Have you looked at the PG log (you may need to change the logging config) to figure out what are the queries executed during that step? That would greatly help debugging.

[2020-10-20 16:41] meotimdihia commented on #574
@rhaksw :  I always get error:
[code]
I tried with :
`proxy_set_body '{"query":"$query","variables":$variables}';`
`proxy_set_body '{"query":"$query","variables":"$variables"}';`
` proxy_set_body '{"query":$query,"variables":$variables}';`

[2020-10-20 16:44] SamuelC54 commented on #3496
We have this requirement too, we need to offer a beta version of our app that will use the same database with 2 Hasura instance (one Hasura for production and one for the beta). We need to have a different Hasura for the beta because it will often have some additional features and changes not present that we want to test with the production data before a release. We need a way to add a configurati

[2020-10-20 17:48] abdullah2993 opened #6050 "Add support for cast to text to numeric and date types and enums"
Right not[ `_cast` only supports geometry and geography](https://hasura.io/docs/1.0/graphql/core/queries/query-filters.html#cast-a-field-to-a-different-type-before-filtering-cast) types would be nice to have the ability to cast numeric/date types or any othertype to text.
The main usecase is for searching using `_ilike` on multiple fields

[2020-10-20 20:48] FredyC commented on #5393
I can confirm that removing `/v1/graphql` from endpoint fixes this particular cryptic error.

[2020-10-21 01:28] duskmoon314 commented on #6048
I find a solution: use hasura cli on my pc

[2020-10-21 02:04] fakhrip commented on #5263
I'm sorry to bother you :pray: but, any update on this ? @beerose

[2020-10-21 02:27] tirumaraiselvan opened #6052 "deadlock with metadata apply and running subscriptions"
This was seen by a user (Howard Wang#8417 Discord) in v1.3.2 when applying metadata:

2020-10-20 18:31:42 UTC:172.17.5.63(54744):t5br6hpuBHCetN33jJczdXRvTwfFXjBpANW5@hasura:[4585]:
DETAIL: Process 4585 waits for AccessExclusiveLock on relation 17646 of database 16396; blocked by process 458.

Process 458 waits for AccessShareLock on relation 17824 of database 16396; blocked by process 4585.

Proce

[2020-10-21 04:11] tiagob commented on #5829
**tldr; https://community.auth0.com/t/certificate-thumbprint-is-longer-than-20-bytes/7794**

I came across this too. I've been using:

[code]

This has generally been working fine but for one tenant it triggered the `Error parsing JWK from url`.

Switching to using https://hasura.io/jwt-config/ like the [docs](https://hasura.io/docs/1.0/graphql/core/guides/integrations/auth0-jwt.html#configure-has

[2020-10-21 06:07] toomanyjoes commented on #5828
+1
The [docs](https://hasura.io/docs/1.0/graphql/core/guides/mysql-preview.html#step-4-try-out-the-graphql-api) say that a schema can still be managed externally. But that's all it says. Are there any resource for how to manage schema/permissions outside of the console?

[2020-10-21 08:08] beerose commented on #5263
Hi @fakhrip! I'm sorry for the late reply. Regarding your PR — I'll try to review as soon as I can. And regarding Dart snippet — you can do as you feel will be better for you 🙂 From my point of view, both options work just fine.

[2020-10-21 09:37] fakhrip commented on #5263
Sure, its okay, thanks for the reply :smile:

[2020-10-21 09:45] sawankumarbundelkhandi commented on #3772
This issue is the 4th most upvoted feature. Do you have any update on when this will be available? Please help us.

[2020-10-21 10:33] tirumaraiselvan commented on #4509
It will really help if ppl can give details of their environments like Hasura version, browser and OS since this seems to be environment specific.

FWIW, I tried the realtime app as given in this [comment](https://github.com/hasura/graphql-engine/issues/4509#issuecomment-621949612) and also Brave browser as given in this [comment](https://github.com/hasura/graphql-engine/issues/4509#issuecomment-7

[2020-10-21 14:34] tirumaraiselvan commented on #5854
@KATT Turns out json values get parsed while moving through the system and can lose their ordering. The JSON spec doesn't guarantee preservation of ordering and hence most libraries treat them as unordered maps.

Unfortunately, there is nothing much we can do about this. If input order preservation is really important for your application, then a workaround could be to store them as stringified JS

[2020-10-21 15:19] archywillhe opened #6055 "using Computed Field as a column in check for permission"
Looks like right now only `PGColumn` is supported to be used as a column in check for permission. https://hasura.io/docs/1.0/graphql/core/auth/authorization/permission-rules.html

Will be nice if `Computed Field` is supported too. So say if a user is only allowed to insert at most N rows to a table we can restrict that using an insert check i.e.  by having a `Computed Field` like this to get the c

[2020-10-21 15:20] austindd commented on #4796
@coco98 I think a better solution would be to disallow **recursive** object trees, rather than disallowing all nested objects. I could be wrong, but that should solve the issue in the short term while giving users *much* greater flexibility.

[2020-10-21 15:52] pdey commented on #6042
Found out further that this happens when one of the field websocket subscription fetches is a large JSON of size ~5MB. It works fine if remove this field from subscription response payload,

[2020-10-21 18:25] smblee commented on #4796
I'm resorting to making and calling the REST API end points directly for now until this is supported via Action.

[2020-10-21 20:18] oliverpool commented on #5487
Or maybe a flag to `--hide-common`.

Another possibility would be to use another diff library.

For instance https://github.com/pmezard/go-difflib can output a `unified diff` (on which you can add a `context` flag to specifiy the number of common lines that should be printed).

[code]

I would be willing to take a stab at this, if the maintainers are willing to review it (and once the CLA issue ha

[2020-10-21 20:40] gpinkard commented on #6039
I was able to fix this bug by adding a config.yaml file to `./provider/hasura`. An empty file will do, but to generate the directory structure seen above, put the following into it:

[code]

[2020-10-21 22:17] philihp commented on #4509
Double check the hostname, this is the error you'll get if you try to connect to a hostname that doesn't exist.

[2020-10-22 00:12] Bessonov opened #6058 "log sql queries in query-log for mutations and subscriptions"
The documentation makes [explicitly clear](https://hasura.io/docs/1.0/graphql/core/deployment/logging.html), that generated sql for mutations and subscriptions aren't logged. I didn't found any github issue or explanation whether it's intended or just not implemented yet. It would be very nice to have this logs for debugging.

A little bit related issue: https://github.com/hasura/graphql-engine/is

[2020-10-22 00:20] jmakhack commented on #3806
@marionschleifer, I'd like work on this issue. Can you assign it to me?

[2020-10-22 01:10] gsnunes commented on #519
Would be nice if we had a query_by_uk exactly like query_by_pk but base on the unique keys, this way we don't need to use the search queries that return an array.

[2020-10-22 05:22] abythachet commented on #2378
when I try running remort server in my local using

`$ hasura console --admin-secret "XXXXXXX"`
getting error
[code]

[2020-10-22 06:35] #5831 closed

[2020-10-22 08:13] tirumaraiselvan commented on #6042
@pdey Is it possible to provide a sample table definition and a row that causes this?

[2020-10-22 08:52] pdey commented on #6042
Following is the table schema i am using.

                              Table "public.model"
   Column    |           Type           | Collation | Nullable |      Default
-------------+--------------------------+-----------+----------+-------------------
 project_id  | uuid                     |           | not null |
 source      | text                     |           | not null |
 data        |

[2020-10-22 10:10] marionschleifer commented on #3806
@jmakhack as explained in [our Hacktoberfest blogpost](https://hasura.io/blog/hasura-joins-hacktoberfest-3rd-year-in-a-row/), we don't assign issues. However, it doesn't seem that anyone else is working on this, so feel free to take it up and link a PR to this issue 🙂

[2020-10-22 10:39] mrkkrp commented on #5949
@0x777 What should be done to merge the work from that branch into graphql engine? How long could it take?

[2020-10-22 12:18] tirumaraiselvan commented on #5840
@stephendeyoung Sorry for the delay, with the introduction of [Remote schema permissions](https://github.com/hasura/graphql-engine/pull/5867), you can customize what parts of remote schema you want to expose while keeping the remote relationships accessible. Hope that will solve your problem.

[2020-10-22 12:19] tirumaraiselvan commented on #5791
Closing as dupe.

[2020-10-22 12:19] #5791 closed

[2020-10-22 12:25] beerose commented on #5812
Closing as a duplicate of https://github.com/hasura/graphql-engine/issues/5136

[2020-10-22 12:25] #5812 closed

[2020-10-22 12:27] #5816 closed

[2020-10-22 12:37] #5848 closed

[2020-10-22 12:53] #5956 closed

[2020-10-22 12:53] tirumaraiselvan commented on #5974
@GavinRay97 Can you take a look at the SDK side?

[2020-10-22 13:05] tirumaraiselvan commented on #5977
Closing as dupe of https://github.com/hasura/graphql-engine/issues/1241

[2020-10-22 13:05] #5977 closed

[2020-10-22 13:09] tirumaraiselvan commented on #5979
We do have a facility to disable migrations. I wonder if we can extend the same mechanism for metadata as well.

[2020-10-22 13:15] tirumaraiselvan commented on #5984
Because of Hasura's "push down of permission clause" architecture, not sure if system could have given a better error message. Anyway, let's tackle this in https://github.com/hasura/graphql-engine/issues/3658

[2020-10-22 13:15] #5984 closed

[2020-10-22 13:26] #5294 closed

[2020-10-22 13:46] osseonews commented on #1241
What about finding the Hasura Event trigger you need conditions for by running, select * from information_schema.triggers, and then dropping that trigger, and recreating it via SQL with the appropriate condition? As long as the trigger calls the correct function, how is creating the trigger manually via SQL different than creating it via the Hasura interface? Isn't an Event just a simple trigger c

[2020-10-22 13:50] hixus commented on #5979
what @webdeb described is one way but how we have setup the pipeline is.

a) metadata and db migrations in repo
b) on merge, ci migrates staging db (with different migration tool), migrates hasura metadata with hasura-cli and deploys businesslogic api
c) on success, there is manual step enabled which does the same to production instances

With this flow we probably can't disable metadata-api compl

[2020-10-22 14:42] tirumaraiselvan commented on #5979
You can maybe disable the console via `HASURA_GRAPHQL_ENABLE_CONSOLE` flag?

[2020-10-22 14:53] webdeb commented on #5979
@tirumaraiselvan if you have the admin-secret to prod you can start a local console anyway I guess

[2020-10-22 15:00] PedroBern commented on #5038
@jejacks0n I was getting into today, and in my case the following solution works for a random ordering pagination:

# Random stable pagination

[code]

[code]

## Call it like this

[code]
}

[2020-10-22 15:45] lilred opened #6061 "update_*_by_pk mutation with empty body should still return the target row"
Consider the following GraphQL mutation:

[code]

Today, this returns `update_user_by_pk: {}` instead of `update_user_by_pk: { username: "lilred" }`.

This is problematic for my use case. I have a choice of several plug-ins that I can dispatch some request to, and they return a field to put in `_set` for `update_user_by_pk`. One of my plug-ins returns the empty object, but this breaks calling code

[2020-10-22 16:28] srghma commented on #2205
### Summary of `100% Stateless with JWT (JSON Web Token) by Hubert Sablonnière`

The author proposes to store `csrf` to jwt token

![2020-10-22-16:47:46-screenshot](https://user-images.githubusercontent.com/7573215/96900093-62cc3000-149a-11eb-9f18-36134709a90e.png)

The author also argues that it's better to use `(jwt-)session-id` like approach on web and ordinary `jwt` for mobile and microservice

[2020-10-22 16:35] stephendeyoung commented on #5448
This is also a big problem for me. Will you be planning to fix this @tirumaraiselvan? The remote schema shouldn't be queried if the field is null.

[2020-10-22 16:40] PedroBern opened #6062 "Custom functions expect wrong argument type for Domains"
# Summary

When using domains as argument type for a custom function, hasura always expect a string, even for number domains.

## Steps to reproduce

Create a domain:

[code]

Then, use it as the argument for a custom function:

[code]

Now do the following queries:

[code]

## Concerns

Currently, I need to pass a string as input where the expected type should be a float. If in the future this is

[2020-10-22 16:48] stephendeyoung commented on #5840
@tirumaraiselvan that's great thank you!

[2020-10-22 19:48] slashvortal commented on #4509
Same here.

- Hasura v1.3.2.
- @apollo/client v3.2.5
- graphql v15.3.0
- subscriptions-transport-ws 0.9.18
- https/wss

client > at first attempt > WebSocket is closed before the connection is established. (status: Finished)
client > second attempt (reconnect) > works perfectly (status: 101)

[2020-10-22 23:49] ighormartins opened #6063 "Introduce a new ENV "backend-secret" and header "x-hasura-backend-secret""
Introducing the "backend-only" flag on mutations was a great feature. However, the current proposed way of using those mutations could change to make developers' life easier.

Sending the header "x-hasura-admin-secret" gives the backend permissions to the entire CRUD; While this is necessary in some cases, if also has some downsides:

1) It forces developers to think about authorization on the bac

[2020-10-23 01:33] ryanfabela commented on #4863
I am having this issue currently. I am on latest version of Hasura (1.3.2) and 11.8 for my Postgres DB.
I am trying to insert a new LegalAgreement. I am not inserting into the LegalAgreementId column
Output from Hasura:
`{
  "errors": [
    {
      "extensions": {
        "internal": {
          "statement": "WITH \"LegalAgreement__mutation_result_alias\" AS (INSERT INTO \"public\".\"LegalAgreemen

[2020-10-23 02:00] ryanfabela opened #6064 "Having issue with inserting a new row due to conflict with Postgres and Hasura and an identity column"
I am on latest version of Hasura (1.3.2) and 11.8 for my Postgres DB.

I am trying to insert a new LegalAgreement. I am not inserting into the LegalAgreementId column Output from Hasura:

[code]

And my table was created using:

[code]

[2020-10-23 02:53] studiolee opened #6065 "How do you realize the dynamic query of graqhql"
How do you realize the dynamic query of graqhql, such as how to ensure that the result is correct when the table structure changes, thank you

[2020-10-23 06:42] tirumaraiselvan commented on #5997
I think this was a transient issue as per our discussion in Discord. Either way if you think your db is waiting for locks or using lot of CPU, pls provide the results of:

For activity:

[code]

and

For locks:
[code]

I am closing the issue as per our discussion in Discord. Please reopen if the problem recurs.

[2020-10-23 06:42] #5997 closed

[2020-10-23 07:11] tirumaraiselvan commented on #5999
@tibotiber I am not able to reproduce this. I am guessing you are in config v1 (version: 1 in `config.yaml`)

Could you try this again or on a fresh project?

[2020-10-23 07:19] tirumaraiselvan commented on #6004
What do you mean by `even though it is accepting the definition in the config` ?

Views in Postgres cannot have constraints like primary key, unique etc. Hence `select_by_pk` is not generated for views.

[2020-10-23 07:34] tirumaraiselvan commented on #6009
Indeed this should be the case. In fact, if you change the primary key to unique then you do get 1-1 relationship:

[code]

[2020-10-23 07:43] tirumaraiselvan commented on #6012
Without having an `order_by`, the result of a `limit: 1000` query could be arbitrarily different. This is because PG doesn't guarantee any order of tuples without an explicit order_by.

Try adding an `order_by` to your `where` clause.

[2020-10-23 07:47] tirumaraiselvan commented on #6016
Hi @larsblumberg

Indeed this is exactly the situation in #1456 . Closing as dupe. Let's continue the discussion there.

[2020-10-23 07:47] #6016 closed

[2020-10-23 07:53] beerose commented on #6009
Here: https://github.com/hasura/graphql-engine/blob/master/console/src/components/Services/Data/TableRelationships/autoRelations.js#L117 we'd need to check for a primary key as well.

[2020-10-23 07:59] tirumaraiselvan commented on #6018
This is related: https://github.com/hasura/graphql-engine/issues/1498 but not complete for your use-case as it involves `GROUP BY` also.

One way is to create a view:

[code]

Now you can filter on field like room_id and count.

[2020-10-23 08:03] tirumaraiselvan commented on #6024
Maybe this resource helps you? https://hasura.io/blog/full-text-search-with-hasura-graphql-api-postgres/

[2020-10-23 08:03] #6024 closed

[2020-10-23 08:05] tirumaraiselvan commented on #6025
May be closed by https://github.com/hasura/graphql-engine/issues/6041 and https://github.com/hasura/graphql-engine/pull/5824

[2020-10-23 08:12] tirumaraiselvan commented on #6034
I am not sure if GraphQL would be able to support such a JSONpath (even if PG supported it) as it changes the type of the returned value (array of currency).

You can perhaps create a computed field: https://hasura.io/docs/1.0/graphql/core/schema/computed-fields.html#scalar-computed-fields

[2020-10-23 08:13] tirumaraiselvan commented on #6035
Seems like a dupe of https://github.com/hasura/graphql-engine/issues/5059

This has been fixed in master

[2020-10-23 08:13] #6035 closed

[2020-10-23 08:23] tirumaraiselvan commented on #6055
Closing this as a dupe of https://github.com/hasura/graphql-engine/issues/5646

Would be great if you could comment with your use-case over there!

[2020-10-23 08:23] #6055 closed

[2020-10-23 08:33] tirumaraiselvan commented on #6061
Not having a `_set` value means there is no update to be performed and hence there is no way to return target rows from PG.

[2020-10-23 08:34] #6065 closed

[2020-10-23 09:07] christophediprima commented on #4317
Is there any progress on this issue? It would help a lot in making searches faster.

[2020-10-23 10:16] daniel-shuy commented on #5831
This Issue has been mistakenly closed

[2020-10-23 10:38] christophediprima commented on #4317
We cannot use lookAhead properly with SIMILAR TO

[2020-10-23 16:11] wwwdepot commented on #6064
You cannot insert into pk column with `GENERATED ALWAYS`. If you want to supply your own pk, use `GENERATED BY DEFAULT` instead.

[code]

[2020-10-23 16:34] mvid commented on #6004
When you go to the Modify tab on a view, it allows you to set the name for a Select One query. Why is that UI element there if it doesn't generate anything?

[2020-10-23 18:21] lilred commented on #6061
I haven't looked into the Hasura internals, so I apologize if I'm making a fool out of myself -

- How are `update_*_by_pk` calls translated into SQL? If you could link me to the source I would appreciate it a ton.
- Hasura could detect `_set: {}` in `update_*_by_pk` and execute a `SELECT` instead of an `UPDATE`. Is there a reason this couldn't work in principle? I'm not trying to imply that this

[2020-10-23 18:43] elMatadito commented on #5844
I found the problem/solution. Turning off the shield of Brave works again. This happens because hasura loads an external script

Example:
![image](https://user-images.githubusercontent.com/6616760/97041506-47623300-1535-11eb-9ba1-247a54d8e629.png)

[2020-10-23 18:43] #5844 closed

[2020-10-23 20:03] im-adithya commented on #3176
@beerose Can you please elaborate? I am interested in contributing!

[2020-10-23 21:29] shufflemattdev commented on #5038
@PedroBern I have a similar use case thank you for outlining this.  Once you setup and track that function you would then just use the `limit` and `offset` as outlined [here](https://hasura.io/docs/1.0/graphql/core/queries/pagination.html) in the hasura docs to paginate correct?

[2020-10-23 23:00] PedroBern commented on #5038
@shufflemattdev yes :)

[2020-10-24 00:22] williscool commented on #5458
For me making sure there was no special chars fixed this for me.

[2020-10-24 00:26] williscool commented on #2601
So when I ran into this issue it was because I was setting some env var wrong

[code]

commenting all of the `ENV` out fixed it.

Not sure which one broke everything but it was likely the dburl or the insecure bit.

For the record im using a helm chart

https://github.com/williscool/hasura-k8s-stack/tree/master/hasura-chart

and was using the above docker file in it.

Making sure to NOT set the en

[2020-10-24 01:33] ryanfabela commented on #6064
Sorry, I should have included the request. I did not provide a LegalAgreementId but still got the error:

[code]

[2020-10-24 03:47] tibotiber commented on #5999
I have no specified version in `config.yaml` so I guess that'd be v1(?)

I've tried again on my project and I consistently get a migration missing the delete. Example below:

[code]

Anything else i can provide that may help?

[2020-10-24 04:05] #6012 closed

[2020-10-24 05:26] kolharsam commented on #3176
Hi @im-adithya 👋 .

You could look into this [doc](https://hasura.io/docs/1.0/graphql/core/migrations/index.html) to know more about Hasura migrations. Specifically for this issue, we need to look at generating an up migrations using this [query](https://hasura.io/docs/1.0/graphql/core/api-reference/schema-metadata-api/manage-metadata.html#clear-metadata) and or the down migration we'll need to us

[2020-10-24 06:26] markerdmann commented on #6052
@tirumaraiselvan We're also using subscriptions and we're seeing a similar issue with metadata apply, which I've detailed in this thread: https://github.com/hasura/graphql-engine/discussions/6066

This is causing about 20m of downtime on one out of every five to ten deploys. Is there anything we can do as an emergency fix to prevent the DROP FUNCTION from running during metadata apply?

[2020-10-24 06:37] tirumaraiselvan commented on #4009
A quick script to get the defaults back:

[code]

[2020-10-24 06:46] tirumaraiselvan commented on #5508
In that case, closing this as dupe of #4009

[2020-10-24 06:46] #5508 closed

[2020-10-24 11:26] im-adithya commented on #3176
@kolharsam I had issues with setting up the repo in my local pc. Can you help me with it?
I have gone through and replicated the steps in Contribution.md, but still, it's not setting up properly.

[2020-10-24 14:38] kolharsam commented on #3176
What's the issue?

[2020-10-24 23:48] karibertils opened #6071 "Console GraphiQL explorer stops working after tracking custom function"
I am using Hasura v1.3.2 and postgres 11 from [here](https://hub.docker.com/layers/bitnami/postgresql/11.8.0-debian-10-r76/images/sha256-986fb03adfe558bd6b427f26f56d8379f996bc335cfa2ee68e65b02e7158830c?context=explore)

The table

[code]

The function

[code]

As soon as i press ```Track``` button for ```get_user``` in ```Untracked custom functions``` the GraphiQL explorer stops working. And inste

[2020-10-25 05:02] kolharsam commented on #6071
@karibertils this might be the case if you've used this custom function within a computed field as well. If this is indeed the case, then you could head over to #3757, where similar concerns are being tracked.

[2020-10-25 06:21] Ruchika30 commented on #3728
Hello @beerose. I was looking for instructions for running the project, & a pre-requsite is having hasura graphql engine. I am stuck at a point where we need to connect db having postgres url .I dont have any postgres url as such. What do I do there

1.

[2020-10-25 07:51] Ruchika30 commented on #3728
Hi @beerose . I had looking into the instruction& pre-requsites. So i have completed the pre-requsites. How can I get this form. Can u pls help

[2020-10-25 07:55] coloradocolby commented on #5462
Would really benefit from this being fixed as well!

[2020-10-25 08:29] Ruchika30 commented on #3728
hey @beerose . I have installed hasura cli in pkg.json of console repo. But still I am unable to run hasura cmds. Can u pls help

[2020-10-25 14:27] AtjonTV commented on #2576
I just stumbled across this issue during the implementation of my API into my Android App.

I have a bills table (table A) and a few subtables (table B) and only the subtables reference to the bills table.

And I have the case where I want to insert through table A but hit this exact issue.

This is a quick mockup of my case:

* Bills table has generic bill data
* Subtable 1 has Type 1 additional

[2020-10-25 16:32] sdkitono commented on #5465
+1 I have just realized from my daily cost that Hasura kept a persistent connection when there is no SQL operation being sent.

[2020-10-25 18:03] karibertils commented on #6071
Hm sounds very similar. But I'm not sure.

I did previously use computed field when I noticed this bug. Then removed the computed field and the SQL function.

Then tried creating new function and tracking it. This time the function takes no argument. Have not used this new function as computed field either. Tracking the function breaks the explorer and untracking fixes it again.

Did the first com

[2020-10-25 20:11] ibash commented on #1973
@0x777 FWIW this is currently what the hasura console produces for `_or` queries

[2020-10-26 08:22] talivodworks commented on #6018
@tirumaraiselvan I am sorry but I should have mentioned this in the Question that days are being decided on the basis of user selection. Like **monday**, **tuesday**. It could be all of the week days or just one week day, depending on the user selection. What do you suggest on that?

[2020-10-26 09:26] kolharsam commented on #6071
@karibertils I have a feeling that you may have created functions that are polymorphic here and hence the bug persists.

cc. @tirumaraiselvan

[2020-10-26 10:56] beerose commented on #3728
Hi @Ruchika30,

I don't quite understand why it was needed? Could you elaborate?

[Here](https://github.com/hasura/graphql-engine/tree/master/console#run-console-development-server) you can find the instructions on how to run console dev server :)

[2020-10-26 11:42] ayuryshev commented on #1514
@jberryman Ability to query VOLATILE functions would open possiblity to implement server-side memoization.
Where only side-effect is cached calculation.
IDK is it breaks graphql specification but that would be great in practice.

It was several times when I started to think "aha ... and we can cache result so it .. Stop - hasura will no allow it.. Sad"

[2020-10-26 16:25] peterldowns commented on #2824
What's the status on this? We're running hasura inside kubernetes, and would like to avoid exposing our hasura endpoint publicly but still access the console. To access the console in such a situation, we would like to run `kubectl proxy` and then, with the graphql engine container running behind a service called `hasura`, run

[code]
Right now this works in that the cli program is able to auth co

[2020-10-26 16:46] jberryman commented on #1514
@ayuryshev thanks! Yep the caching use-case you describe makes sense to me. I don't think that will happen in the VOLATILE function-as-mutations work, since it requires some discussion. Would you mind opening a feature request issue and mention your use case? It would also be helpful if you wanted to link to resources that describe the technique you're using.

[2020-10-26 17:21] ButeForce commented on #5724
Dear stayingcool,

I have the same issue when i use jwt with react client , what do you mean by whole JWT and what part of the token is considered id_token, how i get this part only

[2020-10-26 17:33] tpurschke commented on #2113
@marionschleifer do you think there is any chance this will be implemented in the near future?
Our project is really depending on it, so we would need an indication if hasura might be suitable or not.
many TIA.

[2020-10-26 22:05] yairopro opened #6076 "Permissions: Is it possible to compare a field with current time ?"
Is it possible to make a permissions like that ?

![image](https://user-images.githubusercontent.com/8110568/97233495-ba92d000-17e7-11eb-82b7-12b66bd57133.png)

And to add some calculations to it ?
![image](https://user-images.githubusercontent.com/8110568/97233686-05ace300-17e8-11eb-8327-37bce42299b2.png)

[2020-10-27 01:31] webdeb commented on #6076
Hmm, as an idea, would be nice to have a check against a postgres function

[2020-10-27 01:44] ghashi commented on #348
@JorgeCeja , @AkshayCloudAnalogy  .. there's a way to "access" the `text[]` through the console (I know, it's a hack 😅)

Here's a gif showing how:
- you can type the "[]" symbol after selecting the "text" type

![array](https://user-images.githubusercontent.com/884725/97246642-94b3fe00-17dc-11eb-8242-29a057e47d71.gif)

[2020-10-27 02:03] webdeb commented on #877
Waiting for this feature for so long. I've setup a simple rfc some time ago which describes how it could be accomplished with virtual roles: https://github.com/hasura/graphql-engine/pull/5783

A virtual role is a role + check. The idea is you include the virtual role into the query:
[code]

where `me` is a role like **user** + the check `{user_id: {_eq: "x-hasura-user-id"}}`
or for example for pos

[2020-10-27 02:20] webdeb commented on #3442
Guys let me get some attention to the small rfc I've created here https://github.com/hasura/graphql-engine/pull/5783 where I am touching exactly this problem, with a slightly other mindset. Instead of multiple rules, the idea is to define virtual roles
role + check + columns.

A virtual role is a role which a user has for this particular table, like I am the _author_ of this post. Or I am collabor

[2020-10-27 02:38] cozmo opened #6077 "Intermittent error when querying a remote schema joined graphQL field."
Given the following graphql query

[code]

made with the following variables (for posterity, however the values do not matter)

[code]

where `externallyJoinedField` is a [remotely joined field](https://hasura.io/docs/1.0/graphql/core/schema/remote-relationships/remote-schema-relationships.html), the query (for me at least) fails intermittently (~50%?) with the following error:

[code]

Once it fa

[2020-10-27 03:39] stayingcool commented on #5724
We just need the value of id_token as shown below:
https:
//localhost:3000/cognito-callback#id_token=eyJr...&access_token=eyJra...&expires_in=3600&token_type=Bearer

I was copying the access_token as well and hence that was the problem.

Regards,
Nisar

On Tue, Oct 27, 2020 at 4:21 AM BruteForce <notifications@github.com> wrote:

[2020-10-27 06:57] tirumaraiselvan commented on #6061
It's basically using the `RETURNING` clause to return the updated rows: https://www.postgresql.org/docs/12/sql-update.html

I guess it could do it but it would be against the semantics of update which only returns updated rows.

I do not agree that this is counter-intuitive. Since there is nothing to update, hence nothing to return. In fact, it is worth looking into throwing a validation error for

[2020-10-27 07:28] yairopro commented on #6076
@webdeb Yeah it might be a better than `now() + 60 * 1000`.

[2020-10-27 09:17] rtrembecky commented on #348
I migrated a column from `jsonb` to `text[]`, defined `__text: string[]` in `codegen.yml` and generated typescript types. The type of queried data was cool, but I found out I can't insert arrays to the field because the data should be in this array literal format... Looking forward to this issue being addressed.

[2020-10-27 11:15] Yashs911 commented on #5373
@scriptonist I would like to work on this issue.

[2020-10-27 13:05] tirumaraiselvan commented on #6052
@markerdmann How big would you say your hasura metadata is? How long does it take to get applied on a dev instance (i.e. no connected clients).

[2020-10-27 14:14] lilred commented on #6061
I didn't expect "update" to include no-ops, but if Postgres is saying that a no-op counts, then I guess a no-op counts! Thank you for your time. I'll use that work-around.

[2020-10-27 16:14] tirumaraiselvan commented on #5461
Basically, replace_metadata is broken when dropping event triggers. Repro:

1. create table test(id serial primary key, name text);
2. Initial metadata:

[code]
3. Final metadata:

[code]
4. If you insert into `test`, then you can observe the errors. You can also see the trigger functions still exist in `hdb_views` schema.

[2020-10-27 19:12] markerdmann commented on #6052
@tirumaraiselvan, answering your question above and the two questions from https://github.com/hasura/graphql-engine/discussions/6066:

1. We use 30+ triggers and dozens of subscription queries on our core tables. Unfortunately disabling the triggers would break the app.
2. We have about 50 tables. Our tables.yaml is the largest metadata file, and that's currently 190K. It typically takes just a fe

[2020-10-27 19:43] karibertils commented on #6071
@kolharsam

Correct me if I'm wrong but this function doesn't look polymorphic to me ? It's the only function named get_user in the database.

![image](https://user-images.githubusercontent.com/5122320/97353641-321a3b00-188c-11eb-9599-fc90d5b89bab.png)
![image](https://user-images.githubusercontent.com/5122320/97353708-465e3800-188c-11eb-9c0e-7f794967de37.png)

If i untrack the function, the explo

[2020-10-27 19:52] #3759 closed

[2020-10-27 23:21] LydiaF commented on #5788
Hello @tirumaraiselvan, I am sorry again for the delay.

I am sorry, I do not fully understand the implementation details of what you are saying. I think that issue #2664 could be what I need. My usecase is inserting nested children. This is my mutation

[code]

Thank you for looking into this!

[2020-10-28 03:39] scriptonist commented on #5373
Haven't heard from @tharun208 in while so I think it's okay for you pick it up @sushil97

[2020-10-28 04:56] sushil97 commented on #5373
@scriptonist i would love to work on this but right now i am working on another PR. So there will be some delays on this.

[2020-10-28 04:57] mbergal opened #6083 "Allow list: allow list applies even when impersonating user using X-Hasura-User-Id and X-Hasura-Role"
Allow list applies even when admin secret is passed in request headers along with `X-Hasura-User-Id` and `X-Hasura-Role`.

I think it would make it easier if it didn't. Some pieces of our application rely on impersonating and checking permissions to determine if the user has access to resources.

Use case:

1. Server app receives a request
2. App calls Hasura impersonating the user querying the ce

[2020-10-28 05:03] tirumaraiselvan commented on #6062
Just adding a note that domains work as expected inside tables.

[2020-10-28 05:31] tirumaraiselvan commented on #6064
This is one issue in Postgres where it does not allow **multiple value** inserts with `DEFAULT`. For example:

This works:

[code]

But this does not:

[code]

Related issue is here: https://github.com/hasura/graphql-engine/issues/4633

The workaround i to do single value inserts over generated columns. Unfortunately, Hasura generates such a SQL and changing that is a big overhaul but we can discu

[2020-10-28 05:31] #6064 closed

[2020-10-28 05:39] tirumaraiselvan commented on #6071
Yes, there is a bug where if a function has a row type argument and it is tracked at top level (under query) and also as computed field, the introspection fails silently.

We haven't really seen a real use-case where a function needs to have row type argument and also tracked at top -level. Usually, it is used as computed field. Can you describe if you need the function to be both top-level and co

[2020-10-28 07:37] karibertils commented on #6071
Ahh,
No in my case i was planning to use a more complex function as a computed field when I noticed it was breaking after only tracking the function.

I created this dummy function just to test it out. I have no use for function taking row type argument in top-level query.

[2020-10-28 08:12] zolamk commented on #5685
This works even though it's a little weird to write

[2020-10-28 10:21] #4158 closed

[2020-10-28 11:59] dminkovsky commented on #462
I understand the rationale behind this, but I am wondering if there's some way to mark the manually defined relationship non null?

My use case:

- I have a `user` table and a `user_profile` view on the user table that restricts to publically accessible fields.
- On another table, I have a non null foreign key to `user`. On this model I define an object relationship to `user_profile`.

In this cas

[2020-10-28 12:31] cusspvz commented on #1141
@0x777 would you mind to explain how can we expose the apis and the console on another path rather than the `/` just by using the `graphql-engine` itself?

[2020-10-28 13:00] majapersson opened #6084 "Migrations generated when renaming a field are in the wrong order"
After editing the field `last_modified` on one of my tables in the console, and renaming it to `updated_at`, the order of the generated `down` migration is incorrect. When trying to apply it, I get an error on the first query saying that the `last_modified` column doesn't exist, since renaming it back is the last of the queries.

`up.sql`:
[code]
`down.sql`:
[code]

[2020-10-28 13:07] intellischool-dave commented on #5775
Hi @tirumaraiselvan - checking in to see if there's been any movement on this one. We're hoping to move to a horizontally-scalable Postgres variant in the next couple of months.

[2020-10-28 14:28] #6061 closed

[2020-10-28 14:52] cusspvz opened #6089 "Ability to disable Webhooks from the server flags/environment variables"
On production, there might be cases where we want to control not just the APIs Hasura exposes, but to toggle off the webhooks as well while keeping the instance read-write. Some of these cases include:

1. Having a temporary Hasura instance that receives no traffic in production to execute migrations;
2. Blue/Green deployments where the new instances would still be read/write but without taking ca

[2020-10-28 16:26] acristu commented on #3478
Just to give another use case which would greatly benefit from server side group by: charts. Charts usually require aggregations.

Taking https://github.com/hasura/graphql2chartjs (https://www.youtube.com/watch?v=153iv1-qFuc) as an example, a bar chart showing how many albums an artist has. A view is used to count the nb of albums per artist.

If go a bit beyond this simple example and we image a

[2020-10-28 16:28] 4bdu1 opened #6090 "hasura scripts update-project-v2 fails on windows 10"
I have an existing project in v1 which has migration files and metadata.yml. I have tried several times to upgrade to v2 using

 `hasura scripts update-project-v2 ` but it fails each time with the following error.

 level=fatal msg="error in removing up.yaml: remove D:\\hasura-project\\migrations\\1582910043124_init\\up.yaml: The process cannot access the file because it is being used by another p

[2020-10-28 19:01] 4bdu1 commented on #6090
Resolved this by cloning my project in WSL and running the command from there. I'm thinking a file system issue or something in Windows.

[2020-10-28 19:01] #6090 closed

[2020-10-28 21:56] v0d1ch commented on #3539
@KarolKalbarczyk I noticed some time passed since your last message and decided to try to tackle this for fun. Please close my PR if you did some work already locally, I didn't mean to steal your thunder just to explore the codebase a bit.

@abooij I think the argument passing through some of the related functions could use some love but I didn't want to go out of scope of the task. If you want th

[2020-10-28 22:17] jberryman commented on #1514
PR is in review ^

[2020-10-29 11:30] #5875 closed

[2020-10-29 11:42] karibertils commented on #5801
Looking forward to this feature

[2020-10-29 12:48] #3811 closed

[2020-10-29 15:57] drj17 commented on #5389
This happens for us as well.  The https://releases.hasura.io/graphql-engine?agent=cli-get.sh endpoint goes down pretty frequently and blocks all of our builds.

[2020-10-29 16:48] adityas129 opened #6104 "cli: can't add migration - running into admin error"
I'm stumped by what I'm doing wrong.

I'm trying to do
```hasura migrate create "init" --from-server```

and get the error
```FATA[0000] cannot create migrate instance: cannot create migrate instance: [access-denied] restricted access : admin only ($.args)```

This is on EC2 instance with hasura install through curl with the right ip address. I tried sudo but same error - any thoughts?

[2020-10-29 17:04] sawankumarbundelkhandi commented on #5081
I am also looking for something similar, where I want to access the column of the parent table in the where clause of the child table in the graphl query. Is it possible?

[2020-10-29 17:42] kenptr commented on #1183
For anyone wondering how to run graphql-engine on GAE (Google App Engine):

Dockerfile
[code]

app.yaml
[code]

[2020-10-29 19:00] TimMurnaghan opened #6105 "cli-migrations: can't pass in metadata config from docker"
(v2 metadata/migrations)
The docker-entrypoint.sh builds a temporary directory setup with a metadata directory pointed to by a metadata_directory entry in the config.yaml file

but the command always fails with:
hasura-cli metadata apply
FATA[0000] failed to apply metadata: cannot apply metadata on the database: [parse-failed] key "tables" not found ($[1])

You can make it work  manually by trunca

[2020-10-29 22:20] Kobold commented on #5036
Further, note that Postgraphile has an option that solves @jarvisuser90 's highlighted issue with breaking Relay's expected schema, the `classicIds` option [1]:

The punchline is that with that option enabled, `id` is the global Relay id, and `rowId` is the database level id.

[1] https://www.graphile.org/postgraphile/usage-schema/#api-createpostgraphileschemapgconfig-schemaname-options

[2020-10-29 22:23] jberryman opened #6106 "ParseError doesn't seem to result in 400 status returned"
See e.g. `tests-py/queries/graphql_query/boolexp/postgis/query_illegal_cast_is_not_allowed.yaml` which ought to be `status: 400` AFAICT. Many other instances in tests.

I briefly tried to triage in https://github.com/hasura/graphql-engine/pull/5858 but am not immediately seeing the issue.

[2020-10-30 00:18] markerdmann commented on #6052
@tirumaraiselvan This is what blocked state looks like for us. Let me know if you need additional detail.

![image](https://user-images.githubusercontent.com/187540/97645612-08d7e700-1a13-11eb-8bde-1b4f8051be44.png)

[2020-10-30 03:32] scriptonist commented on #6105
@TimMurnaghan did you use`hasura/graphql-engine:<version>.cli-migrations-v2` or `hasura/graphql-engine:<version>.cli-migrations-v1`

Also, can you share the `Dockerfile` or `docker-compose` file you were using

[2020-10-30 03:35] scriptonist commented on #6104
@adityas129 Is HGE setup with an `admin-secret` ?

[2020-10-30 13:50] adityas129 commented on #6104
it wasn't properly configured - thank you for your help!

[2020-10-30 13:50] #6104 closed

[2020-10-30 16:01] abooij commented on #1371
Closed by #5869.

[2020-10-30 16:01] #1371 closed

[2020-10-30 22:14] blncoxauto commented on #4588
The solution in #2729 doesn't work in AWS ECS as of v1.3.0, and I get a segmentation fault.

I'm guessing there is something that is missing from either the package or when the COPY moves over the /bin/graphql-engine?

In CloudFormation I can't figure out an easy way to assemble the HASURA_GRAPHQL_DATABASE_URL environment variable using values from SecretsManager, so I've written the following wra

[2020-10-31 02:14] ian-hayashi-jones commented on #6052
Any update on this? I’m seeing the same issue

[2020-10-31 05:24] tirumaraiselvan commented on #6052
@markerdmann When you are facing this issue:

1) Are you creating any new event triggers or modifying existing event triggers in any way, i.e. any changes to `companyAdded` event trigger?
2) Are you doing anything to the underlying table for the event trigger?

[2020-10-31 06:40] markerdmann commented on #6052
@tirumaraiselvan

1. No, this happens even when nothing has changed in our Hasura migrations or metadata. The `companyAdded` event trigger was added more than six months ago and hasn't changed since.
2. We're not doing anything ourselves to the underlying table, but this is a production instance, so I would guess that the blocking queries might be from active Subscriptions? We do use Subscriptions

[2020-10-31 06:53] tirumaraiselvan commented on #6052
@markerdmann

Hmm, as per the design `DROP FUNCTION` is executed only if the event trigger is modified or the underlying table changes. There might be a bug but it's not easy to reproduce. Is it possible to share your migrations and metadata privately? If yes, then could you email to `tiru@hasura.io` ?

I also added a [question 3 above](https://github.com/hasura/graphql-engine/issues/6052#issuecom

[2020-10-31 07:00] tirumaraiselvan commented on #6052
@markerdmann You also mentioned in #6066 that this started happening recently. Any clues as to what changed in your application (assuming Hasura version, migration/metadata did not change)?

[2020-10-31 14:58] tirumaraiselvan commented on #5967
That's true. The language can definitely be improved here. cc: @marionschleifer

[2020-10-31 15:04] tirumaraiselvan commented on #6018
More discussion here: https://github.com/hasura/graphql-engine/issues/3478

I feel custom functions are the best bet here since group by is not explicitly supported in Hasura yet.

[2020-10-31 15:10] santoshpatro opened #6110 "https://localhost:8080/console : Hasura console not working for chrome browser"
Hi Team,

Any help on this issue is much helpful: https://stackoverflow.com/questions/64623124/https-localhost8080-console-hasura-console-not-working-for-chrome-browser

Thanks,
Santosh

[2020-10-31 15:13] tirumaraiselvan commented on #6004
Indeed, it might be confusing to see the "name customization" for `Select One` query for Views. It should ideally be hidden but that config option is nothing more than a "new name" for an auto-generated field.

[2020-10-31 17:53] TimMurnaghan commented on #6105
It's V2 (as mentioned). I've tried dozens of config variations,  here's one:

#! /bin/bash
docker run -it \
       --entrypoint /bin/sh \
       -p 8080:8080 \
       -e HASURA_GRAPHQL_DATABASE_URL=postgres://$LOGNAME:@docker.for.mac.host.internal:5432/integrum \
       -e HASURA_GRAPHQL_AUTH_HOOK=http://docker.for.mac.host.internal:4000/api/hasura-webhook \
       -e HASURA_GRAPHQL_ENABLE_CONSOLE

[2020-10-31 18:32] scriptonist commented on #6105
The given bash script seems to work for me.

[code]
[code]
https://asciinema.org/a/3x3bXBB7EPSWlxnAF4YLAgPA1
[hasura-project.zip](https://github.com/hasura/graphql-engine/files/5469594/hasura-project.zip)

[2020-10-31 22:03] huss-jay commented on #4633
Any updates on this? Not sure what the solution is to inserting multiple rows with a generated column.

[2020-11-01 03:18] jmakhack commented on #3806
I've been hitting many issues with cabal no being able to resolve dependencies for this project so just want to update that I am currently not actively looking into this issue and it is up for grabs for anyone else to take on.

[2020-11-01 07:01] markerdmann commented on #6052
@tirumaraiselvan For #3, I initially assumed it was related to Subscriptions because of this Issue title, but I tested it locally and those long-running queries still appear when I cut off Subscriptions. I'll do some further investigation tomorrow to see if I can find the exact GQL that's connected to those long-running queries.

It does seem very strange that Hasura is running DROP FUNCTION for a

[2020-11-01 07:51] tirumaraiselvan commented on #6052
Subscription queries look like `SELECT "_subs"."result_id" ...` whereas `SELECT coalesce(json_agg("root"), '[]) ...` are regular queries. If you have the spreadsheet saved from [before](https://github.com/hasura/graphql-engine/issues/6052#issuecomment-719096114), then just directly copying that query and running against your prod DB would be safe.

Thanks for sending the migrations/metadata, we wi

[2020-11-01 12:55] notrab commented on #1175
I'm also in need of this feature. How far away is it to be able to include relational data with the trigger payloads?

[2020-11-01 17:07] jomarquez commented on #3737
Amazon RDS for PostgreSQL does not allow you to add new config parameter in AWS RDS.

using `command: postgres -D /var/lib/postgresql/data -c 'app.jwt_secret=supersecret'` will not work here.

I went around this issue with setting our env the following way:
`ALTER database _db_name_ SET "_schema_._my_variable_" to '_variable_value_';`

Then restarting the hasura container:
docker-compose restart h

[2020-11-01 17:24] hegelstad commented on #5036
@Kobold with classicIds enabled, thus using `id` (generated for Relay) and `rowId`(database) for identification, do you have any opinion on what are the best practices on the Relay client / front-end code?

For instance, should you strive to only use id (generated for Relay) and avoid using rowId (database) for querying, updates and so on? What about url states, often you want to have a selected i

[2020-11-01 17:29] hegelstad commented on #5431
@madeken I am curious to hear why you closed the issue?

[2020-11-02 05:49] tirumaraiselvan opened #6112 "cli: scripts update-config-v2 should remove metadata.yaml from migrations folder"
In config-v1, if there is a `metadata.yaml` file in `migrations/` folder, then `hasura scripts update-config-v2` should remove that file  because that file is no longer used for anything and is confusing (anyway `migrations_backup` has it).

[2020-11-02 05:57] markerdmann commented on #6052
@tirumaraiselvan Thanks for the suggestion. I discovered that the blocking SELECT query is taking 50s or longer in production. After some digging I was able to unearth the source of that query, and it was coming from a backfill operation in our backend that runs on every deploy. That explains why it's interfering with the metadata apply so reliably. Luckily this backfill operation was written for

[2020-11-02 06:15] tirumaraiselvan commented on #6052
That's good to know.

Metadata apply might perform a DDL like DROP FUNCTION which will try to acquire exclusive lock on the table, this means if some other query is doing something on the table (even a SELECT) then DROP FUNCTION will wait to get the lock. If the query turns out to be long running then DROP FUNCTION and hence metadata apply will take that much time atleast. This is just postgres's

[2020-11-02 08:08] denisyilmaz opened #6113 "Remote Schema Relationships expected type "String" but got "String""
Hello, I'm trying to get Remote Schema Relationsships to work. I have a CraftCMS backend and have included it as a Remote Schema, which is working fine. Now when trying to add a Schema Relationship i get the folowing error:
[code]
 I saw a issue regarding differing types (Int to BigInt) but why is this failing in my case?? #5174
here is the detailed error message with Hasura Version 1.3.2:
[code]

[2020-11-02 08:10] tirumaraiselvan commented on #6113
#5133 is fixed but not yet released unfortunately. The issue happens when you are trying to make a remote relationship with `[String]` type argument in your remote field.

[2020-11-02 08:18] denisyilmaz commented on #6113
Ah i See, any idea when this update can be expected?

[2020-11-02 08:22] tirumaraiselvan commented on #6113
We will try for v1.3.3 this week.

[2020-11-02 09:13] TimMurnaghan commented on #6105
Ahh - maybe it's magic (undocumented) names for the files. I was trying to use metadata.yaml

[2020-11-02 09:34] scriptonist commented on #6105
Got it, understood. I agree that this has caused some confusion. we should probably improve the docs and the error messages to fix that.

For the time being please refer
- https://hasura.io/docs/1.0/graphql/core/migrations/manage-metadata.html
- https://hasura.io/docs/1.0/graphql/core/migrations/reference/metadata-format.html

The use case we had in mind when designing this was as follows.
- Setti

[2020-11-02 09:37] Flur3x commented on #3320
For most users this customisation probably wouldn't be needed if Hasura would transform all table/column/relation names to GraphQL conventions automatically the same way that Postgraphile does it: https://www.graphile.org/postgraphile/inflection/

On one hand it's nice that you can rename all fields by yourself, but on the other it is frustrating that you're still stuck to the GraphQL type names t

[2020-11-02 10:32] alexmarqs commented on #3772
+1

[2020-11-02 10:45] tirumaraiselvan opened #6115 "cli: metadata apply should not `clear_metadata`"
`replace_metadata` clears the metadata while also keeping track of incremental schema cache generation. But, currently we are explicitly clearing the metadata (via `clear_metadata`) first : https://github.com/hasura/graphql-engine/blob/25922368581be4e831d19acadeb75bb9fd3251d4/cli/migrate/database/hasuradb/metadata.go#L183

This totally voids the benefits of incremental schema cache generation. For

[2020-11-02 10:56] tirumaraiselvan commented on #6052
@markerdmann First thanks for working with us on this issue. We have found why `DROP FUNCTION` was being called needlessly and it turned out to be a CLI issue: https://github.com/hasura/graphql-engine/issues/6115

We will fix this ASAP in v1.3.3

[2020-11-02 12:55] cardosojc commented on #3772
+1

[2020-11-02 13:40] tapkain commented on #4660
A managed caching system on top of hasura would be a total killer! I see custom invalidation rules with built in triggers

[2020-11-02 14:31] robnewton commented on #1241
I would also like to see filters added to the Hasura event support. Any plans to tackle this?

[2020-11-02 15:39] Victormeriqui commented on #3772
+1

[2020-11-02 15:50] TimMurnaghan commented on #6105
For my use case (generating the metadata in the console rather than writing it by hand) I'm probably better sticking with the V1 API, which is where I ended up.

Thanks for all your help.

[2020-11-02 16:03] scriptonist commented on #6105
I think you got misunderstood a bit, you don't have to write metadata by hand if you don't want to. you can you use `hasura metadata export` command to export metadata which will populate all the required files.

[2020-11-02 18:33] tacoelho commented on #5851
hey there, mine was not machine generated and I can help fixing the PT-BR translations. Some have bad mistakes.

[2020-11-02 19:16] tylerhannan commented on #5851
@tacoelho - That would be immensely helpful.

Please feel free to tag me directly if you've reviewed a thing and I can work to get it merged. I'll also re-review your contribution so that we can get it merged.

[2020-11-02 19:20] daniloff200 commented on #5851
well, can say the same about my Russian / Ukrainian translations, that's not google translate copypaste
I also see one more contribution from @estim in Russian, which also needs review. I can do that, I think

[2020-11-02 19:23] tylerhannan commented on #5851
Awesome @daniloff200 - The same request applies...and the same appreciation for the time and effort that an actual translation takes.

Please tag me when/if you have been able to review and I can get merged. I'll also add your translation to the list.

[2020-11-02 20:00] yash2code commented on #5389
facing the same issue . any  Workarounds ?

[2020-11-03 00:07] rahulmadduluri opened #6117 ""created_at" Field Is Incorrect For Scheduled One-Off Trigger Event"
The UI for a scheduled one-off trigger event shows an incorrect "created_at." The scheduled time is correct, but the created_at time is in the future. Maybe it's not applying the -8 hour offset?

![Screen Shot 2020-11-02 at 4 02 46 PM](https://user-images.githubusercontent.com/5498644/97932437-dc7ade00-1d24-11eb-9350-c6f521556170.png)
![Screen Shot 2020-11-02 at 4 03 16 PM](https://user-images.git

[2020-11-03 02:25] MinJunKimKR opened #6118 "cli - migration error when I migrate staging to production"
Hi there! I'm having some problems when I try migration staging into production.

I already delete all of directory in migrations directory before type these commands
I typed` hasura migrate create staging --from-server --admin-secret <password> --endpoint <staging-address> `and `hasura migrate apply staging --admin-secret <password> --endpoint <production-address>`

But I got a this
`FATA[0002] a

[2020-11-03 03:55] MinJunKimKR commented on #6118
I did this
1. I made production DB
2. create migration and metadata of production DB
3. applied migration and metadata to fresh new DB for using stagingDB
4. something do in stagingDB.
5. create migration and metadata stagingDB
6. try to apply migration and metadata to productionDB <- here is the error point

[2020-11-03 05:33] IsaacLeeWebDev commented on #3772
+1

[2020-11-03 05:34] tirumaraiselvan commented on #6117
This was fixed in https://github.com/hasura/graphql-engine/pull/5736 but we haven't release it yet. We will try to do so in v1.3.3

[2020-11-03 05:46] morriq commented on #1601
I think it's critical feature to solve issues similar to https://github.com/hasura/graphql-engine/issues/3436
currently I have role `anonymous` which has access to **all records in table**. ultimately it should be solved conditionally based on `id eq x-hasura-row-id`

[2020-11-03 05:48] tirumaraiselvan commented on #6117
Meanwhile, you can run this SQL to fix this:

[code]

[2020-11-03 05:53] tirumaraiselvan commented on #5722
@grp06 This will be released in v1.4 but meanwhile you can run this SQL to mitigate the TZ shift:

[code]

[2020-11-03 09:29] rahulmadduluri commented on #6117
thanks @tirumaraiselvan !

[2020-11-03 09:29] #6117 closed

[2020-11-03 09:30] GuyKh commented on #5851
@tylerhannan Mine (https://github.com/hasura/graphql-engine/pull/5911) was done manually - so I'd really be glad if it won't go to waste.

[2020-11-03 17:04] #3539 closed

[2020-11-03 18:16] estim commented on #5851
@tylerhannan my translation (#5880) was done manually. I hope it won't be wasted and could be used in future updates.
If anyone (@daniloff200 or any other member) could review it and use for future needs I'd be glad.

[2020-11-03 18:22] markerdmann commented on #6052
@tirumaraiselvan Thanks for your help with this bug! We'll keep an eye out for the next release.

[2020-11-03 20:47] browniefed commented on #3649
@joshuarobs Did you ever get this working? I am stuck on this.

Some added complexity since I've got remote schema too. But running into the same versions issues.
Used your example from your repo, as well as GavinRay97/hasura-ci-cd-action@v1.3 and other actions to apply meta/migrations but no ball.

[code]

[2020-11-03 20:57] jflambert commented on #4098
@tirumaraiselvan  is this fixed in 1.4, or is there an alternative option to creating fake tables to support returning custom setof?

[2020-11-03 22:19] cozmo commented on #6077
This is currently effecting our production hasura instance and blocking feature development, I'd love a better sense of the process to getting this issue resolved. I'd be happy to help create a fix, or debug it it in more depth, or pay for premium support, etc, but not even sure where to start. Any help/suggestions for next steps would be much appreciated.

[2020-11-04 01:17] alukos commented on #3772
+1

[2020-11-04 01:26] MinJunKimKR commented on #6077
I think, externallyJoinedField(other_param_1: $param1, other_param_2: $param2)  this part is wrong.

I guess, you missed _eq . so pram should be like `{_eq : $param1}`.

[2020-11-04 01:49] cozmo commented on #6077
Hmm, @MinJunKimKR, that'd be surprising to me. As I understand it, `_eq` is a param that hasura exposes in the resolvers for tables it manages. For the external schemas, hasura (I think) just directly exposes the underlying graphql schema, without any changes. At least this has been my experience with external schemas up until this point. As you can see in my remote graphql schema above, the `exte

[2020-11-04 05:09] fiveable-austin commented on #4660
That would be amazing.

[2020-11-04 06:05] scriptonist commented on #6118
@MinJunKimKR I see this error `function "set_current_timestamp_updated_at" already exists with same argument types`, which means that a function that you are trying to create is already present in the database. So when `migrate apply` is trying to create the same function it encounters this error.

[2020-11-04 06:24] haf commented on #1711
https://github.com/hasura/graphql-engine/issues/1711#issuecomment-489552148 @0x777 What was the workaround?

[2020-11-04 07:27] HuxleyMc commented on #821
This blog post from Hasura explains it well

https://hasura.io/blog/remote-joins-a-graphql-api-to-join-database-and-other-data-sources/

[2020-11-04 10:31] tirumaraiselvan commented on #821
Hey folks,

This will be possible in v1.4. We also demo'ed the preview in the last 2 community calls: https://www.youtube.com/watch?v=8rfAkAiE2_I&ab_channel=Hasura

[2020-11-04 10:32] janhaa commented on #3238
Any update on this?

[2020-11-04 10:54] christophediprima commented on #3772
+1

[2020-11-04 10:56] ChristopherTadaweb commented on #3772
+1

[2020-11-04 11:00] NathanDeveloping commented on #3772
+1

[2020-11-04 11:06] Kosai106 commented on #3772
I just want to chime in here to say that leaving `+1` comments do not help. If you want to show support, give a 👍 to the initial post instead.

[2020-11-04 17:08] webdeb commented on #3442
The lack of this feature does not let me sleep well, so here another idea:

add a suffix to the role to define which rule you want to use:

![Bildschirmfoto 2020-11-04 um 18 00 04](https://user-images.githubusercontent.com/14992140/98142579-4384c800-1ec8-11eb-9c98-a05cd7b203ab.png)

I am not sure how to best implement this. I guess the simplest would be just with the "x-hasura-role" Header, but yo

[2020-11-04 17:15] webdeb commented on #3442
would love to get some attention from you guys here: @rikinsk @tirumaraiselvan

because right now you have to create a separate view to support multiple permissions on the same table, instead of multiple rules on the same table

It's very cool that hasura supports views and functions, but using them to slice permissions is a workaround.

[2020-11-04 21:36] miqu opened #6136 "Its impossible to use Hasura in JWT auth mode with Oracle IDCS auth provider tokens"
Oracle IDCS cannot handle special characters in claim names with custom claims. It also has a problem with the default namespace.

Hasura could alleviate the problem by allowing configuration of claim names looked for in Tokens.

The "use the webhook" as a workaround is as stated in many other issues has its problems with the round trip time etc.

[2020-11-04 21:40] coco98 commented on #6136
@miqu Will this solve the problem?
https://github.com/hasura/graphql-engine/pull/3575

[2020-11-04 22:25] morriq commented on #4509
I have the same issue.
It **stopped** working on my local environment and on production the same day.

It works in private mode - both local and production

First I though is client issue: https://github.com/apollographql/subscriptions-transport-ws/issues/377 and tried to resolve it with

[code]

but it did not have any affect

Hasura v1.3.1.
@apollo/client v3.2.5
graphql v15.3.0
subscriptions-tra

[2020-11-04 22:50] miqu commented on #6136
Yeah I suppose it will. Great thanks for the fast reply. Going to setup the Hasura new version for testing tomorrow as if I saw correctly in my night eyes that it has been merged to 1.3.3.

[2020-11-05 04:09] SusanAdey opened #6138 "Hasura query behaviour from GraphiQL vs calls from Golang"
Hi

I'm new to both Hasura/Graphql and GO and to GitHub as well. I've succeeded in writing a couple of Hasura actions which are supported by a GO server which in turn calls the Hasura server to run a query. These both work. For some reason the third one does not and I cannot see why. I don't get any errors from my GO server. It just doesn't return the same result as running the query directly in H

[2020-11-05 04:47] tirumaraiselvan commented on #6076
I did seem to think there was an issue for adding custom (IMMUTABLE/STABLE) functions in authz check but I can't seem to find it. But yes, it sounds like a powerful feature. I will rename the issue if I can't find an existing issue for this.

[2020-11-05 09:25] #5437 closed

[2020-11-05 09:32] gusfune commented on #5462
Same here using Big Sur 11.0.1 Beta (20B5012d), compiling from Go sources worked. Guess it's a matter of updating the binaries for this release.

[2020-11-05 09:34] ravensnowbird commented on #4464
Exactly. this is working with an array relationship. It didn't work in the old version. it works on the latest one. I guess it must have been some bug. Closing this now.

[2020-11-05 09:34] #4464 closed

[2020-11-05 10:20] Toub commented on #3371
For those interested, you can also use hasura `/healthz` api as docker healthcheck:

[code]

Related links:
- https://hasura.io/docs/1.0/graphql/core/api-reference/health.html
- https://stackoverflow.com/a/47722899/1097926

[2020-11-05 11:42] mdemierre commented on #1183
@shahidhk Is it still valid for the v2 migrations? Now that metadata is separate, I can see the following scenario:

1. We have 3 instances of the cli-migrations image running (pods, VMs, whatever).
2. We deploy a new version with modified metadata and migrations
3. The migrations start to auto-apply from the first updated instance, it updates the migrations and metadata
4. A random instance crash

[2020-11-05 16:36] scriptonist commented on #5462
Thanks for bringing this to notice folks, I think this was a problem with a tool we use to compress the binary. #6140 should probably have fix for this. It'll great if someone can help us verify the following build works fine.
https://200424-137724480-gh.circle-artifacts.com/0/cli/binaries/cli-hasura-darwin-amd64

[2020-11-05 16:39] tirumaraiselvan commented on #6077
@cozmo We are investigating this.

[2020-11-05 16:53] beerose commented on #6084
Closing as a duplicate of https://github.com/hasura/graphql-engine/issues/3503. It was fixed in https://github.com/hasura/graphql-engine/pull/4790 and will be included in the next release.

[2020-11-05 16:53] #6084 closed

[2020-11-05 17:01] gusfune commented on #5462
Yes, it worked nicely here.
OS: **Big Sur 11.0.1 Beta (20B5012d)**

[2020-11-05 17:50] qpre commented on #5462
Works for me too !

[2020-11-05 19:05] hugomn opened #6141 "Failed while attempting to install hasura graphql-engine cli. Please manually install"
Hello,

I'm deploying hasura metadata and migrations using Circleci. Before applying the data, I need to install the cli, and it's failing randomly with the following message:

[code]

Any ideas on how to solve that? I didn't find another reliable way of having hasura-cli installed in my CI. This is making the deployment flows unstable. Thanks!

[2020-11-05 21:09] nrako commented on #5044
This is a bit unfortunate, this render a lot of cases impossibles. 😔 For example it is not possible to uses views to create different reading permissions rules on a similar dataset. The "_multiple column + row permission rules for the same role_" as described in the [doc](https://hasura.io/docs/1.0/graphql/core/auth/authorization/role-multiple-rules.html).

[2020-11-06 03:41] tirumaraiselvan opened #6142 "Typo in derive action"
If you derive an action and head to codegen tab, it says "Derive mutation"

![image](https://user-images.githubusercontent.com/8663570/98323510-f01d9180-200f-11eb-8538-45c47eaf4b08.png)

While we are at this, the tooltip could use a better text message.

[2020-11-06 04:40] tirumaraiselvan commented on #6041
closed by #6120

[2020-11-06 04:40] #6041 closed

[2020-11-06 06:04] tirumaraiselvan commented on #6077
This is happening because of an edge case in the query plan caching module.

The workaround could be to disable the query plan caching entirely by setting the env var: `HASURA_GRAPHQL_QUERY_PLAN_CACHE_SIZE=0` . Note that this will affect the performance of your queries, it will be equal to the first time you run a query after a fresh start of hasura.

In v1.4, we have removed this module as the pe

[2020-11-06 06:14] cozmo commented on #6077
Thanks for the information. Is the performance hit of setting `HASURA_GRAPHQL_QUERY_PLAN_CACHE_SIZE=0` worse or equal to the performance of 1.4 with the query cache module removed?

[2020-11-06 06:20] tirumaraiselvan commented on #6077
v1.4 performance (without query plan caching) is equal to v1.3 (with query plan caching enabled) for queries that are not heavily nested.

We may introduce query plan caching in v1.4 later as well.

[2020-11-06 06:26] tirumaraiselvan commented on #6113
Closing as dupe of https://github.com/hasura/graphql-engine/issues/5133

[2020-11-06 06:26] #6113 closed

[2020-11-06 06:31] tirumaraiselvan commented on #6083
If I understand correctly, you want to have access to the role-based graph for `x-hasura-role` when `x-hasura-admin-secret`  is also set?

Another possibility is to have role based allow-lists?

[2020-11-06 06:38] scriptonist commented on #6141
Thanks @hugomn for bringing this to notice. This happens because our update servers are being rate limited by Github. We'll fix this ASAP.

While we get that fixed, what I can suggest is directly using artifacts from Github releases in your installation scripts. Which will look something like the following.
[code]

[2020-11-06 06:54] #5462 closed

[2020-11-06 08:51] #6115 closed

[2020-11-06 10:09] Toub commented on #3213
I still have this issue after an upgrade to last version `1.3.2` of hasura engine + cli and config v2:

[code]

hasura /healthz answers OK, both checking manually using a browser or with docker integrated healthcheck.

The problem still randomly appends using `hasura cli` or `curl`:

[code]

[code]

[code]
Hasura logs:
[code]

What is `/v1alpha1/config` here ?

[code]

__Note__: have a look at the

[2020-11-06 10:14] Toub commented on #3213
Not sure if it is related, but it always appends on staging/prod __docker swarm__ environment, never locally with __docker-compose__.

Here is my hasura container env:

[code]

[2020-11-06 10:33] Toub commented on #3213
@tirumaraiselvan, to clarify your point about hasura healthcheck status:

Running a check immediately before and after answer always "OK":

[code]

Output:
[code]

[2020-11-06 11:16] Toub opened #6146 "feat(console): support custom x-hasura- attributes in permissions custom check editor"
It would be great to be able to add some custom variables to console permissions custom check editor, so I can click on its name to autocomplete my custom check query (exactly as `x-hasura-user-id` does).

![image](https://user-images.githubusercontent.com/367762/98360020-2c65e780-203a-11eb-9bc9-7a2c665de960.png)

This could be achieved using an environment variable: HASURA_TOKEN_CUSTOM_ATTRIBUTES

[2020-11-06 11:45] federicobadini commented on #1204
Has there been any progress on this feature? I think it is a critical feature for several applications

[2020-11-06 13:56] picosam commented on #5088
Hello! Does this include support for Actions as well?

[2020-11-06 14:09] #4651 closed

[2020-11-06 14:09] #5333 closed

[2020-11-06 17:47] tirumaraiselvan commented on #6077
Closing this as dupe of https://github.com/hasura/graphql-engine/issues/5557

[2020-11-06 17:47] #6077 closed

[2020-11-06 17:47] tirumaraiselvan commented on #5557
This is happening because of an edge case in the query plan caching module.

The workaround could be to disable the query plan caching entirely by setting the env var: `HASURA_GRAPHQL_QUERY_PLAN_CACHE_SIZE=0` . Note that this will affect the performance of your queries, it will be equal to the first time you run a query after a fresh start of hasura.

In v1.4, we have removed this module as the pe

[2020-11-06 17:48] Toub commented on #6063
What about a more generic solution, providing a way to check custom attributes in custom rules : `"x-hasura-backend" == true`

This would open many other possibilities, like checking other user identity attributes `"x-hasura-app-id" == "admin-app-1"`

[2020-11-07 10:40] hugomn commented on #6141
@scriptonist that worked perfectly, thanks. Should we maybe add this option to the docs?

[2020-11-07 10:54] hugomn commented on #2151
Does anyone already have a solution on how to add rate-limiting to the open-source version? I totally understand @mitar's point and that here maybe is not the best place to discuss Hasura's business model. But I also agree that API rate-limiting is such a basic security concept that no tool should be considered `production-ready` if it doesn't offer rate limiting.

[2020-11-07 12:22] happy-machine commented on #3914
I wrote this to collect CSVs generating a custom remote schema from a yaml file, havent tested it with very large CSVs yet
https://github.com/happy-machine/hasura-csv

[2020-11-07 12:23] happy-machine commented on #1438
I wrote this to generate a remote scheme and write csvs, hope it helps

https://github.com/happy-machine/hasura-csv

[2020-11-07 12:23] happy-machine commented on #5158
I wrote this to auto generate a remote schema from a yaml config (and write csvs) not tested on large csvs yet, hope it helps:

https://github.com/happy-machine/hasura-csv

[2020-11-08 03:27] purefun commented on #5854
The key order of json which comes from a handler response for an action is changed by hasura either.

[2020-11-08 12:56] Miyou commented on #5782
@thomasfaller Mind sharing how you solved it? I'm getting the same error "could not translate host name postgres" when using the cli-migrations-v2 docker image, but not when using the regular one. Would be nice if you could share how you solved the problem!

[2020-11-08 13:40] Miyou commented on #3989
Can we get an update on this issue from the Hasura team? I was using the workaround above by @korylprince, but it doesn't work with the cli-migrations-v2 image.
It really seems silly that Hasura expects us to store our confidential info in plaintext in production? I hope that's not what they're doing themselves...

[2020-11-08 23:24] SusanAdey commented on #6138
I've moved this issue to Stack Overflow https://stackoverflow.com/questions/64743933/why-doesnt-my-graphql-query-return-the-right-result-when-triggered-from-go

[2020-11-08 23:24] #6138 closed

[2020-11-09 07:47] rrjanbiah opened #6154 "Performance of Hasura over nginx reverse proxy"
We have noticed that when adding nginx reverse proxy for the https support, the performance is degrading to approx 7x times (300ms to 2200ms). Is this a known issue? If this is already solved, can we get the ideal conf documented in https://hasura.io/docs/1.0/graphql/core/deployment/enable-https.html TIA

[2020-11-09 08:15] tirumaraiselvan commented on #6154
@rrjanbiah Is nginx colocated with the hasura container?

[2020-11-09 08:29] rrjanbiah commented on #6154
@tirumaraiselvan Yes (If you meant the same server)

[2020-11-09 08:55] alireza-ahmadi commented on #273
@marionschleifer Are there any updates on this?

[2020-11-09 10:28] FickleLife commented on #4121
Is there a way to apply claims before an account is created? In my app I don't use firestore and I'd rather not have a dependency on it just for this, but I can't think of another way to implement the claims at account creation.

[2020-11-09 10:32] thenonameguy commented on #5449
I have got the same issue with version 1.3.2 of hasura-cli.

[2020-11-09 10:47] tirumaraiselvan commented on #4121
Hey folks, you could also use our upcoming custom [JWT mapping feature](https://github.com/hasura/graphql-engine/pull/3575) which can avoid the use of adding any custom claims to your firebase token. A blogpost on this (using the preview build) is here: https://cantaspinar.com/easier-authentication-with-hasura-jwt-claims-customization-firebase-auth/

[2020-11-09 10:51] tirumaraiselvan commented on #6154
@rrjanbiah Is it possible to run `tcpdump` in the server and collect the output?

[2020-11-09 11:13] tirumaraiselvan commented on #6154
@rrjanbiah You can also enable logging `$upstream_response_time` in nginx:  https://nginx.org/en/docs/http/ngx_http_upstream_module.html#var_upstream_response_time

[2020-11-09 11:23] rrjanbiah commented on #6154
@tirumaraiselvan Sure, thanks a lot. Will try that

[2020-11-09 11:29] mrkkrp commented on #5449
What happens here is that they need to download a plugin for this to work. The plugin is downloaded in binary form from GitHub, but of course that pre-compiled binary doesn't work on NixOS.

[2020-11-09 12:46] talivodworks commented on #6018
The way I get around this Use case is, I have created **Materialized Views**.
[code]
Then I added the **Object relationship** between `room` and `MATERIALIZED views`. This way I can specify my where clause like this:
[code]

Now I can leverage the Hasura's out of the box provided features as well without creating a custom function.

Few things to note about MATERIALIZED VIEWS
- You have to create

[2020-11-09 13:10] codingkarthik commented on #5448
I would like to understand what the ideal behaviour should be. In the case of a single argument remote relationship, it makes sense to avoid the remote call, when the joining argument is NULL. But, what should the behaviour be when there are multiple joining arguments in the remote relationship?

Two possible things that can be done are:

1. Avoid querying the remote schema when any of the joining

[2020-11-09 14:17] thenonameguy commented on #5449
I tried to patch the resulting binary with https://github.com/svanderburg/nix-patchtools but without success.

[2020-11-09 15:03] mrkkrp commented on #5449
Yeah, I tried the same. IIRC the patched paths are too long, they corrupted the beginning of the inlined JS code.

[2020-11-09 16:05] erikhSSI opened #6158 "always allow horizontal scroll on Browse Rows page"
When browsing wide data tables in the dashboard (which I do a lot) it is very inconvenient because the browser's horizontal scrollbar is hidden unless you scroll to the very bottom of the page.
If I am at a page like /console/data/schema/public/tables/[tablename]/browse

I won't be able to scroll the table right (to see other columns) unless I first scroll vertically to the bottom of the page.

![

[2020-11-09 16:09] salceson commented on #5448
Hi, this is a very good point. I'd say that more 'correct' behavior from my point of view would be to not query remote schema if all arguments are null. If only some arg is null, but others are not, it could mean that some data may be available on remote side.

[2020-11-09 17:59] hixus commented on #1456
I also stumbled upon similar issue. Had created_at as optional field in mutation and originally though that just giving null would be interpreted as `use fields default value now()`. I think my original assumption was just wrong but related to explicit nulls there is also open discussion in [https://github.com/graphql/graphql-spec/issues/542]() and [https://github.com/graphql/graphql-spec/issues/4

[2020-11-09 18:28] trymbill opened #6159 "jsonb mutation variable fails with "no such type exists in the schema: 'jsonb'""
Connected to Hasura through a WebSocket, I'm trying to use a `jsonb` column, inserting an array. But even without any data being sent for that variable (which should then result in it becoming `NULL` since it's nullable), I still get an error stating `no such type exists in the schema: 'jsonb'`. I've seen `jsonb` being used in the Hasura docs (as an example: https://hasura.io/docs/1.0/graphql/core

[2020-11-09 18:38] trymbill commented on #6159
Submitting that same mutation in GraphIQL works fine, although it doesn't seem to know what `jsonb` is supposed to look like (which I think is related to https://github.com/hasura/graphql-engine/issues/4787):

<img width="1243" alt="Screen Shot 2020-11-09 at 10 37 39 AM" src="https://user-images.githubusercontent.com/658727/98582285-9e774000-2277-11eb-9616-07cca08614b4.png">

Still doesn't work in

[2020-11-09 18:51] FickleLife commented on #4121
Thanks @tirumaraiselvan that's way easier and removes another dependency on fire base cloud functions, further simplifying the stack. I'll try this out now.

[2020-11-09 20:28] FickleLife commented on #4660
@jukbot According to https://hasura.io/docs/1.0/graphql/cloud/response-caching.html there's a few gotchas there, namely

1. The query does not make use of remote schemas or remote joins
2. The query and any related user permissions do not make use of session variables

I use both points heavily so I am not sure I'll get any benefit out of Hasura Clouds caching vs the free version. I hope over time

[2020-11-10 05:22] tirumaraiselvan commented on #1241
I think Postgres's `when` conditions on triggers might help us achieve this: https://www.postgresql.org/docs/12/sql-createtrigger.html

[2020-11-10 05:38] rrjanbiah commented on #6154
@tirumaraiselvan Please find the details that you requested. If you find anything obvious, please share. TIA

To get consistent result, `ab` with `-c 10 -n 200` is used.

### `ab` result when directly fetching results from Hasura (http on port 8081) with JWT - 322.695 ms mean

[code]

[ab_direct_hasura.out.txt](https://github.com/hasura/graphql-engine/files/5515053/ab_direct_hasura.out.txt)

### `

[2020-11-10 07:23] tirumaraiselvan commented on #6154
From https://github.com/hasura/graphql-engine/files/5515049/access_log_urt.txt, we can see the upstream response time (uct, uht, urt) is more or less ~8ms. Though the total request time seems to vary between 0.2 to 1.2s (rt). Should you be running the `ab` test from a reliable network (maybe on the same machine as the services)?

Anyway, seems like most of the time is being spent by nginx (probabl

[2020-11-10 07:26] rrjanbiah commented on #6154
@tirumaraiselvan Yes sure.

[2020-11-10 08:28] trymbill commented on #6159
Just tried it with XHR instead of WebSocket, same error.

[2020-11-10 09:12] sethsnel opened #6161 "Pgdump mismatch with Postgres server /docker-compose"
I have the same issue as #2749, however just a little diffirent:
`time="2020-11-10T09:48:39+01:00" level=fatal msg="cannot fetch schema dump: [unexpected] error while executing pg_dump: pg_dump: error: server version: 13.0 (Debian 13.0-1.pgdg100+1); pg_dump version: 12.2 (Debian 12.2-2.pgdg90+1)\npg_dump: error: aborting because of server version mismatch\n ($)"`

I'm using this image:
`hasura:

[2020-11-10 10:01] alexander-zheleznov commented on #5389
still experiencing this issue from time to time

[2020-11-10 10:10] kolharsam commented on #6161
Hey @sethsnel 👋
We are working on it. See #6070. We should have it out soon :)
There is a preview image [available](https://200042-137724480-gh.circle-artifacts.com/0/server/image.tar). Let us know if there are any unexpected behaviors.

[2020-11-10 10:14] kolharsam commented on #6161
Closing this as a dupe of #5836

[2020-11-10 10:14] #6161 closed

[2020-11-10 11:09] sethsnel commented on #6161
@kolharsam , great thanks!

[2020-11-10 11:56] adrien-mg commented on #2881
Do we have any update on this? This is a blocker for us too trying to integrate with Strapi which uses ID as a type for its collections :disappointed:

[code]

[2020-11-10 12:02] #5461 closed

[2020-11-10 13:12] tirumaraiselvan commented on #6159
Hi @trymbill

Are you using any `role` (x-hasura-role)? If you are using a role, then does the table with a `jsonb` column have permission on that column to insert or select? I guess it does not by looking at the error message: `no such type exists in the schema: 'jsonb'`

This is just a GraphQL spec thing where if a type is not used in any field, it is simply omitted from schema. You do not see t

[2020-11-10 15:25] abbyblachman commented on #5465
+1!

[2020-11-10 15:40] rrjanbiah commented on #6154
## Directly fetching Hasura from same machine (http on port 8081) with JWT

### 1. `ab` result

[code]

[ab_direct_result.out.txt](https://github.com/hasura/graphql-engine/files/5518333/ab_direct_result.out.txt)

### 2. `tcpdump` pcap

*Note: Had to mask server IP, sorry for that*

[tcpdump_direct.pcap.zip](https://github.com/hasura/graphql-engine/files/5518342/tcpdump_direct.pcap.zip)

## Fetchin

[2020-11-10 15:47] GavinRay97 opened #6168 "Console UI: Allow creating Computed Field for Views, add to Docs"
Currently, the only way to add a Computed Field is through Metadata API or manually editing `tables.yaml` and re-running `metadata apply` with the CLI.

Also, the docs page is not very clear about whether it's a possibility to add Computed Fields to a View or not.

**Current Example workflow:**

[code]

[code]

[code]

(Or)

[code]

[2020-11-10 15:57] gunar opened #6169 "Retrying failed queries"
What would Hasura do if a single query fails?

[2020-11-10 17:08] trymbill commented on #6159
Ahh! Good catch! Yeah, it's definitely a new column so the permissions weren't updated yet. Thank you for your help!

Just as a sidenote; might be worth updating that error message. Checking the permissions will from now on be something I check, but for new users, it's definitely not 100% obvious. Thanks again for a killer product!

[2020-11-10 17:08] #6159 closed

[2020-11-10 21:04] drj17 commented on #5389
At this point I'm just going to copy the script and hardcode the version because the endpoint goes down multiple times a day causing all of our builds to fail.

[2020-11-11 09:20] rikinsk commented on #6168
I'll take this up. its trivial enough and I havent written any code in ages :)

[2020-11-11 10:56] rrjanbiah commented on #6154
@tirumaraiselvan Forgot to tag you.

[2020-11-11 11:00] pixelfoundry-dev opened #6175 "using 'anyelement' as argument in a hasura function"
im trying to implement i18n in my db
i have created a `products` table with `title_id` and a `translations` table with `id`, `lang` and `value`
i have some tables in addition to `products` which have the same column `title_id` so i want to create a function which can accept a generic table as arg
something like this
[code]
The function is created with no problem, but when i add a computed field wi

[2020-11-11 12:25] revskill10 commented on #3478
How does this work ? You didn't `select` the column `id` in the matched table in the your code example.
It would be helpful if you can post a gist for a complete code then ?

[2020-11-11 12:57] beerose commented on #5436
Fixed via https://github.com/hasura/graphql-engine/pull/6170

[2020-11-11 12:57] #5436 closed

[2020-11-11 12:58] tirumaraiselvan commented on #6154
@rrjanbiah I don't think the tcpdump output is capturing container traffic on nginx. Please see this blogpost on one way to capture container traffic: https://medium.com/@xxradar/how-to-tcpdump-effectively-in-docker-2ed0a09b5406 . Another way is to exec into nginx container and run tcpdump:

1. docker exec -it nginx-container-name sh
2. apt update && apt install tcpdump
3. tcpdump -i eth0  -w traf

[2020-11-11 12:59] #6154 closed

[2020-11-11 12:59] #4187 closed

[2020-11-11 13:00] #4183 closed

[2020-11-11 13:00] #4184 closed

[2020-11-11 13:00] #4188 closed

[2020-11-11 13:05] beerose commented on #5378
I'm closing this issue as creating an event through the API seems to work fine. Please reopen if this problem happens again 🙂

[2020-11-11 13:05] #5378 closed

[2020-11-11 13:14] codingkarthik commented on #5448
Interestingly, in SQL joins (at-least in postgres) the remote table is not queried if any of the joining argument is NULL.

For example:

If I have the following tables:

[code]

Now performing the following query:

[code]

gives the following result:

[code]

[2020-11-11 14:17] beerose commented on #3607
I recreated `accounts_and_months` and `line_items` tables based on the view definition, and executed the SQL from the issue description. It worked fine, the view was tracked.

I'm therefore closing this issue. Please reopen if the problem happens again.

[2020-11-11 14:17] #3607 closed

[2020-11-11 16:56] va3093 opened #6177 "Can't install cli-ext due to checksum mismatch"
Hey I am unable to install the `cli-ext` pluging.

Getting this error:

[code]

[2020-11-11 17:34] scriptonist commented on #6177
@va3093 Thanks for bringing this to notice, this should be fixed now, can you please help us verify

[2020-11-12 03:59] jync commented on #1183
Hi... would absolutely love to know exactly what Hasura is thinking of in terms of horizontally scaling. A guide will go a long way to help the community understand.

I'm also looking at this - https://github.com/hasura/graphql-engine/issues/1182 and https://github.com/hasura/graphql-engine/pull/1574

It appears the metadata update once it hits the DB will trigger all instances connected to the DB

[2020-11-12 07:50] mdemierre commented on #1183
@jync Thanks for the links to other issues. It indeed seems that https://github.com/hasura/graphql-engine/pull/1574 made it so the metadata will be automatically reloaded by all running instances.

Does that make the scenario described in my other comment (https://github.com/hasura/graphql-engine/issues/1183#issuecomment-722326103) even worse (a faulty instance restarting and overriding the metada

[2020-11-12 09:00] jync commented on #1183
I've seen Hasura not start if the `hdb_catalog` is from an older version of hasura.

If metadata versioning is incorporated, I'd imagine you do something similar? (ie no-op if the incoming schema version is higher than the version found in the metadata files)

But I'm not sure if there is metadata is being versioned. There is a `metadata/version.yaml` file but I think this captures the metadata sc

[2020-11-12 10:06] va3093 commented on #6177
🚀 . Thanks works now.

[2020-11-12 10:07] tirumaraiselvan commented on #5933
Closed in https://github.com/hasura/graphql-engine/pull/6120 . Will be out in v1.3.3

[2020-11-12 10:07] #5933 closed

[2020-11-12 11:42] tirumaraiselvan commented on #5461
Hey folks, while we roll out a fix for this in the next few days. You can run this query to clear the invalid postgres trigger:

[code]

Note that you may need to clear the events which might have been created due to these invalid triggers:

[code]

Courtesy: https://github.com/hasura/graphql-engine/issues/5461#issuecomment-706095505

[2020-11-12 12:31] brunettia commented on #3685
I agree, is there any info about that ?

[2020-11-12 13:45] beerose opened #6180 "Nav bar tooltips are not aligned"
**Current:**

<img width="293" alt="Screenshot 2020-11-12 at 14 42 10" src="https://user-images.githubusercontent.com/9019397/98947252-40579080-24f5-11eb-9235-8d756124c867.png">
<img width="273" alt="Screenshot 2020-11-12 at 14 42 19" src="https://user-images.githubusercontent.com/9019397/98947270-45b4db00-24f5-11eb-9e04-3a440171136d.png">

**Expected:**

Tooltips should be vertically aligned with

[2020-11-12 15:05] beerose opened #6182 "When editing default column value cursor jumps to end of line"
![default](https://user-images.githubusercontent.com/9019397/98956780-bd3c3780-2500-11eb-8656-4ad4914aacf9.gif)

[2020-11-12 15:37] studentIvan commented on #4740
Still no solution?

[2020-11-12 17:34] nolandg commented on #3478
@revskill10 Not sure I understand what you mean by "`select` the column `id`". This thread is talking about grouping and the code I posted is grouping rows by certain fields. What `id` would you select? You would need to use an aggregation function on the `id` column of the source table, things like `sum` or `avg` which don't many any sense for `id` columns. The rows returned by databases from `gr

[2020-11-12 19:59] hyunjiLeeTech opened #6187 "Improve Korean version of README.md"
Hi, when I look at the Korean version of README.md file (https://github.com/hasura/graphql-engine/blob/master/translations/README.korean.md), I found some improvements I can apply on this document. Can I work on this task? Thanks.

[2020-11-12 20:18] peterldowns commented on #6177
What was the underlying problem and fix?

[2020-11-12 20:43] #6168 closed

[2020-11-13 01:15] jberryman commented on #4077
@ElixirMike we've put some work into memory usage in the last few months, and it looks to me like the test case you gave us is much improved (>1GB residency vs ~100MB on `master` for me). Hopefully you find that's the case!

[2020-11-13 03:18] scriptonist commented on #6177
@peterldowns We had a failed release which intermittently pushed a different version of binary to the cloud bucket which we later rolled back.

[2020-11-13 03:18] #6177 closed

[2020-11-13 06:11] toomanyjoes commented on #3672
@pnappa in your comment above what is the <generated_sql extracted> part? Is that the part that the hasura console generates when you click the Analyze button? or something else? Thanks for writing all this up!

Also based on @lexi-lambda 's comments I ran `VACUUM FULL` on my db and after it completed my queries were MUCH faster!

[2020-11-13 09:10] switz opened #6192 "Extremely slow query due to synthetic params/limit?"
[code]

I'm seeing responses on this query of anywhere from 1000ms to 3500ms, whereas the simpler version below returns in < 20ms. The table has an index on `status`. The table has a little over 1,000,000 rows, but this query has at most 5-100 nodes. I've noticed if the limit is above the total number of total nodes, it gets particularly slow. If the limit is beneath the number of nodes it's quite

[2020-11-13 12:53] CorentinWanteeed opened #6193 "(cli): Error with MacOS big sur"
Hello,

This morning I updated my macbook to MacOS Big sur and now I can not start hasura cli

[code]

I tried to reinstall it but the script also failed

[code]

I think the only thing I did is to update the OS.

![image](https://user-images.githubusercontent.com/47381529/99074210-a4428d80-25b7-11eb-98e2-a057bbe7ac9d.png)

Thank for your work!

[2020-11-13 13:11] almassapargali opened #6194 "Split HASURA_GRAPHQL_STRINGIFY_NUMERIC_TYPES for bigints and decimals"
We use BIGINT columns for really long ids, and decimals mostly for columns storing money or amount values. We'd prefer getting floats for decimal fields since it's precise enough for our use cases, but would prefer to receive stringified ids.

Can we split `HASURA_GRAPHQL_STRINGIFY_NUMERIC_TYPES` to `HASURA_GRAPHQL_STRINGIFY_BIGINT` and `HASURA_GRAPHQL_STRINGIFY_DECIMAL`?

[2020-11-13 14:37] kolharsam commented on #6193
HI @CorentinWanteeed. I experienced a similar issue as well. You can build from source using `gox` or plain `go build` or you can use this [executable](https://github.com/hasura/graphql-engine/files/5537262/hasura_darwin_amd64.zip), which by no means is official. I'm sure this would be resolved in the upcoming release(s).

[2020-11-13 14:46] bubba commented on #5462
Binary worked great for me too, thanks! Just had to `chmod u+x` and remove the quarantine flag before running:

[code]

[2020-11-13 15:11] kolharsam commented on #6193
This is also a dupe of #5462. My bad that I didn't check it earlier. So yeah, you could go there and see some other suggestions as well.

[2020-11-13 15:12] #6193 closed

[2020-11-13 15:24] Ciboulette commented on #5462
Works great also 🦾

[2020-11-13 15:32] manuFL opened #6195 "'This is a migration' option unavailable in Data -> SQL section"
Hi,

as per screenshot below there should be a 'This is a migration' option available in Data -> SQL section

<img width="1080" alt="hasura-sql-citext" src="https://user-images.githubusercontent.com/64466925/99089260-59337500-25cd-11eb-8ace-c1f646ab7377.png">

but there is none in my installation:

![missing option](https://user-images.githubusercontent.com/64466925/99089490-aca5c300-25cd-11eb-81f

[2020-11-13 16:09] adamrneary commented on #4299
This seems like a big win for the scenarios of querying for `me` or `myOrg`. It would be fairly foundational to multi-tenant applications. Strictly relying on Authorization for filtering feels like a weak solution because admin users might have access to rows not in their org, but still want to query just for rows associated with their org. Starting the query with myOrg would allow that:
[code]

I

[2020-11-13 19:33] heliocaruccio commented on #3544
any movement here?

[2020-11-13 21:37] Slender1808 opened #6196 "parse-failed"
[code]

Parsing Integer expected for input type: PGInteger failed, expected Number, but encountered Array

[2020-11-13 21:57] joanrodriguez commented on #308
That would be sweet yes.

[2020-11-13 21:58] joanrodriguez commented on #308
In my example, someone fills out a form and only has to sign-up at the last step of the form...

[2020-11-13 22:06] evancorl commented on #4077
@jberryman Great to hear! 🙂 Will these improvements be released soon in a new version soon?

[2020-11-13 22:29] bdunks opened #6197 "GraphQL schema generation creates Array Relationships as NON_NULL"
I'll preface this by acknowledging this may be "by design."

Please consider the following scenario with two tables that have an array relationship based on a foreign key.

[code]

In this case, the author may have articles, or may not.  If I were writing the schema by hand, I'd probably write something like this:
[code]

However, generated schema is (essentially):
[code]

This creates a challenge

[2020-11-13 23:51] switz commented on #6192
I should add that this only arises on subscriptions, not queries. The query hits the index.

[2020-11-14 10:32] alioguzhan commented on #5462
I can confirm. that it works on `11.0.1 (20B29)`

[2020-11-14 13:08] hden commented on #2311
I wonder how would you deal with mutations?

[2020-11-14 15:58] wmhilton commented on #5462
I upgraded to Big Sur last night 🙈. When will the fixed CLI be published on `npm`? I'm currently on `"hasura-cli": "1.3.1"`.

[2020-11-14 18:07] barbalex commented on #2317
@0x777

The problem with live queries is that they always deliver _all_ the information.

Say I have a table with 10'000 records. One of them changes.
So the live query fires. Now my application needs to find out which record changed in order to update it client side. So it has to compare all 10'000 records!

If event based subscriptions existed, the client could:
- at startup: do the expensive co

[2020-11-14 18:10] arys commented on #4966
How to exactly configure timeouts for actions?
I've added `timeout` argument to my action like this:
`migrations/metadata.yaml`:
[code]
and reloaded metadata, but nothing changed

[2020-11-15 01:26] hugbubby opened #6198 "Tried to migrate with 1.3.3, completely broke hasura instance, can't downgrade."
Title. I normally use the cli-migrations docker image, had it set to :latest like a chump, and this time as soon as I pushed new migrations to the docker image I use on heroku I have been unable to start hasura again. Downgrading to hasura 1.3.2 seems to do nothing, and the version stays the same no matter what, at 1.3.3. No idea what to do. I've seen segfaults.