[2019-04-26 11:31] Rasarts opened #2080 "Regex in jsonb"
How can I use regex for column jsonb fields?

Something looks like:
[code]
[code]

In sql I do it like:
`data#>>'{message}' LIKE '%task%'`

[2019-04-26 11:58] #1627 closed

[2019-04-26 12:06] cezarneaga commented on #1883
Migrating an old rest api to hasura. Having difficulties with auth setup that works with old system used but for the graphql engine experience, this was awesome.

Thanks,
Cezar

[2019-04-26 16:51] revskill10 commented on #2076
@tirumaraiselvan I'm not sure about dupe. #1700 is about field-level validation. This one is at table level. But i don't know what's the difference between the two.

[2019-04-26 20:15] thebetterjort opened #2082 "Hasura fails behind nginx_openid"
Proxy lets me hit hasura on port 8546, but when I try and enter my admin key, I get a return from window.alert of "localhost:8546 says {}"

I expect it to say localhost:8080 says....

"Hasura console is not able to reach your Hasura GraphQL engine instance. Please ensure that your instance is running and the endpoint is configured correctly."

How would I tell hasura of the new endpoint?

nginx_op

[2019-04-27 10:10] coco98 opened #2083 "Guide on recommended hosting options for Hasura"
Let's create a recommendation guide for where to host Hasura, also mentioning that switching between different providers is not hard, and link to the updated guides on migrations with perhaps a video showing 1 migration across cloud vendors.

For example:
1. Easiest & serverless: [Hasura Cloud](https://hasura.io/cloud/)
2. Price-sensitive: DigitalOcean
3. HA: AWS/GCP/Azure configurations (Gordon's

[2019-04-27 13:43] revskill10 commented on #2047
@corysimmons I think, adding an argument like `{singular: true}` (default is false) is enough ?

[2019-04-27 13:54] cortopy opened #2084 "Parsing of literal composite type containing array"
As per https://github.com/hasura/graphql-engine/issues/1041, I'm using the literal type escape hatch in order to insert a record into a table which contains a composite type.

This is a simplified sql mockup of my data:

[code]

The issue arises when trying to insert data into the `value` column that contains more than one element in the array.

That's a bit of a mouthful, so as a set of examples,

[2019-04-27 14:05] cortopy commented on #2083
I can't find a helm chart for hasura. I can see there's some small work on this area

https://github.com/hasura/gitkube/blob/master/docs/helm.md
https://blog.hasura.io/draft-vs-gitkube-vs-helm-vs-ksonnet-vs-metaparticle-vs-skaffold-f5aa9561f948/

It would be great to have a hasura chart in the [official repo](https://github.com/helm/charts) so that deploying kubernetes is easy

[2019-04-28 01:48] Iris-Qian commented on #660
Any progress on this?

[2019-04-28 09:56] revskill10 opened #2085 "[Feature request] Add comments on view columns"
Currently, Hasura only supports comments (description) for SQL view's title.
Postgres supports adding comments on view's columns, too.

[code]

[2019-04-29 05:40] revskill10 commented on #1626
@coco98 How about multitenancy application, where we want to differentiate user based on tenant ?

So in the callback, there must be a `tenancy_id` for us to mutate the users db.

[2019-04-29 06:22] #2053 closed

[2019-04-29 07:10] corysimmons commented on #2047
I don't think it requires clientside anything and wouldn't be a breaking change?

`users_insert_input` gets turned into

- `users_insert_input`
- and `user_insert_input`

Adding `{ singular: true }` to everything would be better than nothing, but isn't quite as elegant as just using singular named queries/mutations.

[2019-04-29 08:31] InosRahul opened #2086 "graphql2chartjs implementation for VueJs"
'''
<ApolloQuery :query="query">
    <template slot-scope="{ result: { loading, error, data } }">
      <span v-if="loading">Loading...</span>
      <span v-else-if="error">An error occured</span>
      <section v-if="data">
        <ul v-if="data">
          <li :key="data.data" v-for="data in data.expenses">{{data.data}}{{data.label}}</li>
        </ul>
      </section>
    </template>
  </Apoll

[2019-04-29 09:44] tirumaraiselvan opened #2087 "send update event even when row did not change"
From sharon#1298:
[code]

Currently, we diff the old and new row and only invoke trigger if there is some change. We need a flag to disable the diffing.

[2019-04-29 10:02] mnlbox opened #2088 "Add a flexible way for customization react-admin data provider (primaryKey, ...)"
I think maybe we can pass this type of config as a data provider constructor? :thinking: For example pass an array of resource and configurations like custom primary key for a table. (React-Admin only support `id` as a primary key field name)

For example I want use React-Admin with an exist database and can't modify all primary key's to `id`. Also it's difficult to create custom data provider and

[2019-04-29 11:53] dariocravero commented on #1936
If your policy is to use soft deletes, I wonder how can we enforce them in Hasura. A couple of questions come to mind:

- Would we need to restrict delete operations in favour of updates?
- Would it be possible to instruct delete operations to work on a soft delete mode? That would allow us to keep the semantics of delete without having to worry about the implementation details when consuming the

[2019-04-29 14:53] praveenweb opened #2090 "fix mobile navigation toggle in learn hasura"
When I use the navigation and select an item, the navigation never closes. It should ideally auto collapse the hamburger menu and allow the main content to be read.

[2019-04-29 15:02] PierBover commented on #877
I really don't see a problem. Someone wants to delete a row. Authorization logic checks if any of the user roles can do that. Yes? Delete the row. No? Spit the user in the face.

[2019-04-29 15:11] PierBover commented on #1941
This approach wouldn't really work for us, and I suspect for the vast majority of authorization systems. We do not really have an active role. We know a user has a number of roles, and in consequence a number of permissions, and we check those in our authorization system whenever the user interacts with the API.

As for the different schemas for different roles scenario in an authorization context

[2019-04-29 18:05] coco98 opened #2092 "docs: guide on handling basic database operations with hasura"
1. How to open psql on heroku, digitalocean one-click and other providers
2. How to export/import data
3. How to export/import schema
4. How to do data backups

[2019-04-29 18:07] coco98 opened #2093 "Add instructions on opening psql on digitalocean one-click droplet"
Related to #2092

We should update this guide: https://docs.hasura.io/1.0/graphql/manual/guides/deployment/digital-ocean-one-click.html#using-digitalocean-managed-postgres-database

with a reference of how to access psql.

(Via LKMist#3400 on discord)

[2019-04-29 22:00] dukedave opened #2094 "Don't put double quotes in migration file names"
Using Docker image `hasura/graphql-engine:v1.0.0-alpha44`:

1. When creating a migration file via `hasura console`,
1. when adding a _foreign key_ from the **Modify** tab,
1. the generated migration's filename will contain a pair of `"`.

(see demo [here](https://www.youtube.com/watch?v=IguPzXbmi-M))

The presence of `"` in a file name prevents a git repo containing that file from being cloned on

[2019-04-29 23:44] comontes opened #2095 "ReferenceField permanent loading bar with ra-data-hasura"
Hi, So I'm trying ra-data-hasura with React-Admin but I have an issue with ReferenceField.
This is my code for App.js:

[code]

and my code for attendance.js:
[code]

From 'network' in Chrome dev tools I see no errors. Still I just get loading bars forever:
<img width="1139" alt="Screen Shot 2019-04-29 at 19 37 42" src="https://user-images.githubusercontent.com/1701089/56933557-6275f300-6ab6-11e9-

[2019-04-30 02:29] 1zaak commented on #233
@shahidhk https://github.com/hasura/json-data-import link is broken

[2019-04-30 03:50] mnlbox opened #2096 "Modifying unique column does not work on console"
Hi guys,
In new version (v1.0.0-alpha44) modify unique for fields not working. See bellow gif:
![unique edit](https://user-images.githubusercontent.com/25859075/56939950-bc130780-6b20-11e9-91d8-b011c2e575da.gif)

[2019-04-30 04:17] mike-thompson-day8 opened #2097 "Dead letter facility for event-trigger webhooks"
We'd like a mechanism which "lets us know" that webhooks (for event-triggers) are failing to run (after the `max_retries` and `retry_interval` based process is exhausted).

Associated with an installation should be some kind of "dead-letter queue" for these event-triggers which have failed to successfully webhook.

How to implement it?
  - Perhaps it is just a query we can schedule to run which re

[2019-04-30 04:38] ecthiender commented on #2096
I could reproduce this

[2019-04-30 04:57] L-K-Mist commented on #2093
LKMist... PRESENT!!   :man_student:

[2019-04-30 07:18] #1478 closed

[2019-04-30 08:14] 0x777 commented on #379
We use uuids a lot in event triggers and we need `pgcrypto` extension for generating a uuid.

[2019-04-30 08:14] #379 closed

[2019-04-30 08:16] 0x777 commented on #417
Works with 10.5 and above

[2019-04-30 08:16] #417 closed

[2019-04-30 08:19] 0x777 commented on #476
You can check if the relationship exists `{rel_name:{}}`.

[2019-04-30 08:19] #476 closed

[2019-04-30 08:22] #86 closed

[2019-04-30 08:34] #1939 closed

[2019-04-30 09:11] #2090 closed

[2019-04-30 10:24] shahidhk commented on #1532
We have added a dedicated health check endpoint `/healthz` since `v1.0.0-alpha43`:

`GET /healthz` will respond with 200 if all is well and 500 if something is wrong.

Documentation is also added: https://deploy-preview-1967--hasura-docs.netlify.com/graphql/manual/api-reference/index.html#health-api (will be pushed to docs.hasura.io soon)

[2019-04-30 10:24] #1532 closed

[2019-04-30 11:37] mnlbox commented on #2096
@ecthiender It seems field rename also doesn't work in new version :thinking:

[2019-04-30 11:48] mnlbox commented on #2096
This console error occurred in when I press save button after rename field:
![Screenshot from 2019-04-30 16-17-43](https://user-images.githubusercontent.com/25859075/56959692-893e3300-6b63-11e9-9b93-7e5ece766175.png)

[2019-04-30 22:33] mike-thompson-day8 commented on #2097
So, just to be clear: for webhooks to be robust, this is an essential idea.  `event-triggers` are an important part of our architecture, and it is "a bad thing" that they can potentially be failing silently.

So, I wouldn't be labelling this issue as "an idea".  I'd say it is a bug that this mechanism isn't there already.  :-)

[2019-04-30 22:34] aam1r opened #2100 "Pass-in "where" arguments to count query in ra-data-hasura"
When doing `GET_LIST` and `GET_MANY_REFERENCE`, ra-data-hasura generates a `WHERE` object to pass in for the `select *` query.

However, it does not do this for the `count (*)` that it does as part of the same request.

As a result, incorrect data is shown (for example: in pagination) where there might only be a few items to show because of the `where` restrictions but the total count shown in the

[2019-04-30 22:36] aam1r commented on #2100
Let me know and I can do this.

If you'd like to do it yourself, you can do so by adding:

[code]

after https://github.com/hasura/graphql-engine/blob/master/community/tools/ra-data-hasura/src/index.js#L30.

And by adding

[code]

after https://github.com/hasura/graphql-engine/blob/master/community/tools/ra-data-hasura/src/index.js#L111

[2019-04-30 23:19] anisjonischkeit opened #2101 "Changing a field from nullable to not nullable doesn't update the graphql schema"
Steps to reproduce:

using the console:
1. create table with nullable bool column
2. update column to be NOT NULL

the docs show `Boolean` instead of `Boolean!`.

Is this by design to stop breaking changes or is it a bug?

[2019-05-01 01:30] hrgui opened #2102 "Recommended approaches to schema stitching with Hasura?"
## What I understand
- Hasura has the ability to do schema stitching from Hasura => another GraphQL server.
- Other graphql servers can do schema stitching, as described in the hasura blog (https://blog.hasura.io/the-ultimate-guide-to-schema-stitching-in-graphql-f30178ac0072/).

## Question
I have a scenario that calls for the following:
- Authenticate using firebase authentication
- Get additiona

[2019-05-01 01:30] mnlbox commented on #2101
Related issue: #2096

[2019-05-01 05:56] coco98 commented on #2097
@tirumaraiselvan and I'd been discussing error handling for dead events too so this is definitely on point.

@tirumaraiselvan @dsandip Let's take this up quickly!

[2019-05-01 06:03] tirumaraiselvan commented on #2097
@mike-thompson-day8 Yes, something like this has been in the plan.

For the time being, you may use the `delivery_info` in the payload with which you can determine if this is the last retry or not and maybe do some custom error handling in the webhook itself.

[2019-05-01 10:36] shahidhk opened #2103 "docs: migration / metadata related use-case guides"
- Migrating from Heroku to DigitalOcean (x to y)
- Tracking tables, adding relationships and permissions on another instance
- Track tables, create relationships or permissions without console
- Moving from a UI-driven workflow to version controlled declarative workflow with Hasura
- How to setup GraphQL (or E2E) testing with Hasura on a CI/CD platform
- How to apply changes on dev to prod (dev -

[2019-05-01 15:29] vijaybritto commented on #1878
```appearance: none; ``` should fix this.

[2019-05-01 16:19] leoalves opened #2104 "Allow * for column permission in the console"
Checking the documentation for the Metadata Permission API I can see there is an option for * to select all fields from a table.

The console does not allow * when setting permissions.  You can toogle all columns on or off, but all it does is select all available columns.

Not having * in the console can cause 2 issues.

- If the table is changed after the permission is set the new column won't be

[2019-05-02 01:30] leoalves commented on #2102
Hello @hrgui,

Do you want to add your own Graphql Server to the Hasura schema?
When you say "get addional metadata from Hasura". Do you mean get the Hasura ID for the authenticated user?

If you are using Firebase Authentication. You should add custom claims to your token.  You can do that after you create the user in the Firebase Authentication.  With Custom Claims, when Hasura decodes the JWT t

[2019-05-02 03:23] hrgui commented on #2102
Yes, a record of the user and its intended role and other data that can't be stored in Firebase Authentication. For example, if the user is supposed to be a `read_only` user, I have a record in Hasura that indicates that.

I then use that to create the custom claim, which can't be done client-side, and nor do I want to have to use Firebase Realtime Database for it. So I then use `createCustomToken

[2019-05-02 05:06] leoalves commented on #2102
@hrgui

What you need to do is create a custom claim when you create the user.  This custom claim should hold the Hasura unique user identifier.  With that information you can set up permissions and get all data you need in Hasura. You shouldn't be creating a custom token every login.

You should do something like this when you create the user.

[code]
In the client you just log the user in, direc

[2019-05-02 06:28] hrgui commented on #2102
@leoalves - thanks for the suggestion, didn't think of that, it'll make the login process a lot simpler.

I think now I have some sort of idea on how this could be implemented, also saw your https://github.com/leoalves/hasura-firebase-auth repo and it gave me some idea of how to continue, so I am closing this issue.

[2019-05-02 06:28] #2102 closed

[2019-05-02 06:39] leoalves commented on #2104
I did this change in the console.
https://github.com/leoalves/graphql-engine/commit/dbe99cd17368efdf0fa872580b855100c163bea6

But the server does not recognize * as all fields.  It recognizes * as all fields at the time the permission was created.

Is this a bug or that is it the expected behavior?  I think it would be a good feature to have.  Not sure if it's possible, since all the generated que

[2019-05-02 07:09] waterdrop01 commented on #1711
Hello @0x777 , thank you for answer. I just got feedback from the Timescale team on this issue:

and also:

This issue is actually not related to PG version, but instead to the latest TimescaleDB version (it comes as a pg extension).

**Since 2 months, Hasura GQL engine doesn't work with timescaledb anymore** (for UPSERT operations). It's too bad as these two projects are both gaining lot of tract

[2019-05-02 07:10] wawhal opened #2105 "add code exporter to graphiql-online"
Comes from @FluorescentHallucinogen
Check out code-exporter [here](https://www.onegraph.com/graphiql).

[2019-05-02 07:33] mnlbox commented on #2105
Wooooooooooooooooooooo
I love it man :heart:

[2019-05-02 07:41] wawhal commented on #2101
I can replicate this. We're fixing this soon.
@anisjonischkeit as a current workaround, you can reload the metadata from `/metadata/actions` ( the settings icon that you can see on the top right of the console) for rebuilding your GraphQL schema

cc: @rakeshkky

[2019-05-02 07:42] wawhal commented on #2101
I can replicate this. We're fixing this soon.
@anisjonischkeit as a current workaround, you can reload the metadata from `/metadata/actions` ( the settings icon that you can see on the top right of the console) for rebuilding your GraphQL schema

cc: @rakeshkky

[2019-05-02 11:13] jasonmccallister commented on #1175
I really like the idea of having it attached to the events payload, I think it would be error prone to have it under new and old, specifically for name collisions. Maybe it could be nested with _relationships? Having it as a top level under data makes sense as well, perhaps under a key of related with new and old?

[2019-05-02 11:40] tomsutton1984 opened #2107 ""hasura init" failing on Windows 10"
I cannot run hasura init using the cli on Windows, or Ubuntu (WSL). Both fail with what I suspect may be a permissions issue when attempting to create the folders/files.

[code]

[2019-05-02 12:31] #2101 closed

[2019-05-02 14:22] rikinsk commented on #2096
@mnlbox I couldn't replicate the field rename bug. can you share more details

[2019-05-02 16:18] leoalves commented on #2104
Hi @rikinsk,

I think this should be tagged as server.

I did the changes in the console to allow * to be selected.
https://github.com/leoalves/graphql-engine/commit/dbe99cd17368efdf0fa872580b855100c163bea6

But the server gives permissions to all columns at the moment the permission is saved.  When adding additional columns to the table, the permission does not get updated, even tough the permiss

[2019-05-02 17:52] anisjonischkeit commented on #2101
Wow, that was quick. Thanks everyone!

[2019-05-02 18:23] BradleyHow opened #2109 "add some leeway for checking JWT expiry, to account for clock skew"
### Description :
I have an error cause by a clock skew of one second between my hasura server and my JWT service (Firebase) . I think that it beneficial to allow a little bit of leeway in the validation of the iat of the token to let this kind of situation.

### Error message :
`{name: "FormatedError", message: "Unknown error", originalError: "cannot start as connection_init failed with : Could n

[2019-05-02 22:50] dukedave opened #2112 "Allow pass throughs of specific request headers (to webhook)"
Creating issue [as suggested on Discord](https://discordapp.com/channels/407792526867693568/428469959530643466/573625549097009172) by @coco98.

---

Allow pass throughs of specific request headers to a webhook (in addition to all `x-hasura-` headers).

[2019-05-03 07:00] bappr commented on #1883
Hey guys,
Anyone actually using Hasura on Kubernetes with a Postgres replicaset?
Thanks,
Ben

[2019-05-03 07:40] #2096 closed

[2019-05-03 07:41] coco98 commented on #1527
A guide on using Hasura with a postgres replicaset on kubernetes!
(via @bappr; sorry moved your note on the other issue to here!)

[2019-05-03 08:08] tirumaraiselvan commented on #1175
@jasonmccallister Wouldn't you expect it be under the name of the relationship? i.e inside `new` or `old` I have extra relationship objects with keys like `booksByAuthorId` ?

[2019-05-03 09:44] CR1AT0RS opened #2113 "Perform CIDR queries"
### I am trying to move my database over to Hasura but its not clear how can I store and use native Postgres functionality of querying and storing CIDR values. For example:
**Create table to store INET/CIDR:**
`CREATE TABLE test_cidr ( id SERIAL PRIMARY KEY, ip CIDR UNIQUE, region VARCHAR(1000), service VARCHAR(1000));
`

**Table contents**
[code]
**Select query on Table**
`SELECT * FROM test_cidr

[2019-05-03 09:53] ecthiender commented on #2113
@CR1AT0RS Hasura doesn't support CIDR operators (functions) on its graphql API yet. The console UI also doesn't have the `CIDR` as a type of column yet.

One workaround for this, for now, could be:
1. You can use the "SQL" section in "Data" tab to run arbitrary SQL and create tables with CIDR columns.
2. You can create a [Postgres function](https://docs.hasura.io/1.0/graphql/manual/queries/custom-

[2019-05-03 12:33] jasonmccallister commented on #1175
@tirumaraiselvan I think the existing behavior is tied to table actions, having the table fields in the new/old sections makes total sense. However, if we were to add relationships under those keys, its not really a "table event" anymore.

In our use case, we are logging all changes to tables and while we care about the relationships for other actions (like updating a search index) having the rela

[2019-05-03 14:23] VividDigital opened #2114 "Can't add relationship to existing entity on insert"
I've broken this down to the simplest use case and can't help but think I must be missing something. All I want to do is create a new parent object and link it to an existing child object. Here is a basic payload:

`{
  "objects":
  [
    {
      "title":"New Title",
      "authors":
      [
        {
          "data":{"id":1}
        }
      ]
    }
  ]
}`

Both the parent and the child have auto

[2019-05-03 14:53] coco98 commented on #2114
@VividDigital

Try this heroku app: https://test-nested-inserts.herokuapp.com/console/api-explorer

with this query that reads:

Insert an article called article3, that is written by author with id 1 and also a new "author4". In case, an author already exists, they might already have an article assigned so update the article_id column (with the new for this article) but ignore anything else.

[cod

[2019-05-03 15:26] VividDigital commented on #2114
Appreciate the help. Although it's not what I was looking for, it caused me to double check something.

The issue seems to be that I did not manually create the relationship tables. I was under the impression making the relationship where needed would generate the backing tables for me. I didn't know I had to go and manually do it as well for the many to many.

Thanks

[2019-05-03 18:41] davetapley opened #2116 "Document restrictions on admin-secret"
Can we add the maximum length / character set for `admin-secret` to the README?
(e.g. as [AWS does](https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Limits.html#RDS_Limits.Constraints))

[2019-05-03 19:29] revskill10 commented on #1368
Since graphql spec supports `errors` in body response, i think treating it as error or not is client's responsibility, not server's responsibility.

Only `network error` (like being offline) is the only type of error to me.

[2019-05-03 19:56] coco98 opened #2117 "Guide for handling mutations and relationships"
Let's create a guide with a bunch of use-cases for different types of relationships one-many, many-one, many-many. Especially after merging #1583 to add notes on how to update local state/cache easily.

[2019-05-04 07:39] FluorescentHallucinogen commented on #2105
NPM package: https://www.npmjs.com/package/graphiql-code-exporter

Source code: https://github.com/OneGraph/graphiql-code-exporter

Example usage: https://github.com/OneGraph/graphiql-code-exporter-example

Running example: https://onegraph.github.io/graphiql-code-exporter-example

The motivation and thought process behind it: https://www.onegraph.com/blog/2019/05/03_Filling_in_the_GraphQL_Pipelin

[2019-05-04 20:38] tobymarsden commented on #1777
From my testing, this bug only seems to crop up when the referenced table is in a schema other than `public` -- the `rename_relationships` query fired by the console doesn't seem to include a `schema` field.

[2019-05-05 07:11] mnlbox commented on #2103
@shahidhk If we have a UI for #1967 and another API for restore database then I think many of use case can be done because we can create system on local or heruko free tier and then dump entire database and restore in production environment.

[2019-05-06 06:42] mnlbox opened #2121 "add an api to restore postgres schema"
Hi, I think something like this can be useful:
**An api to restore postgres schema** that dump later with #1967

Also It can be very useful for this issue: #2103

[2019-05-06 07:42] coco98 opened #2122 "Add "Edit on Github" button to all pages on docs"
Add a Edit on Github button page on all docs pages that automatically links to the right rst file so that making docs contributions are easy.

[2019-05-06 08:11] rikinsk commented on #2122
Its already there
![Screenshot from 2019-05-06 13-41-06](https://user-images.githubusercontent.com/153602/57213498-a449f080-7004-11e9-9082-12bd621b1dd1.png)

[2019-05-06 08:54] 0x777 commented on #1711
@waterdrop01 We'll try to add a workaround.

[2019-05-06 09:23] #1729 closed

[2019-05-06 10:17] tirumaraiselvan opened #2124 "forward all client headers to event trigger"
Similar to Remote Schemas, we need a checkbox which forwards all client headers to the webhook.

[2019-05-06 12:48] mnlbox commented on #1939
@shahidhk Any guide or docs about how we can use this with CLI?

[2019-05-06 12:52] eliezedeck opened #2125 "Ability to configure Hasura server's subscription debounce delay"
Hi, I have once stated this in the discord chat and one of the team said it will be in the next release. That was in release `alpha41`.

At this point, I don't think we have the ability to configure the amount of time Hasure will delay subscription responses (debouncing). I find the delay very very long for my use cases.

Think multiplayer games and the likes of true realtime apps. The reactivity

[2019-05-06 12:59] coco98 commented on #2125
@eliezedeck It's already released. Updating the docs and sending across a link :)

[2019-05-06 13:13] 0x777 commented on #2125
https://deploy-preview-2126--hasura-docs.netlify.com/graphql/manual/deployment/graphql-engine-flags/reference.html. Search for `LIVE_QUERIES`.

[2019-05-06 13:32] eliezedeck commented on #2125
Wonderful guys! Thanks.

[2019-05-06 13:32] #2125 closed

[2019-05-06 15:37] waterdrop01 commented on #1711
@0x777  wow that would be great! really looking forward a solution to this, thanks.

[2019-05-06 17:07] FluorescentHallucinogen opened #2128 "Integrate GraphQL Voyager into GraphiQL Online"
Please integrate [GraphQL Voayger](https://github.com/APIs-guru/graphql-voyager) into [GraphiQL Online](https://graphiql-online.com).

[2019-05-06 17:42] FluorescentHallucinogen opened #2129 "Add ability to hide the endpoint and headers sections in GraphiQL Online"
What about to add "Endpoint" and "Headers" button to hide/show the endpoint and headers sections in GraphiQL Explorer?

(They take up too much screen space.)

Before:

![before](https://user-images.githubusercontent.com/7892779/57243555-1a6b4900-703f-11e9-9ef9-71af3f015661.png)

After:

![after1](https://user-images.githubusercontent.com/7892779/57243562-21925700-703f-11e9-976f-110ef430b81f.png)

[2019-05-06 18:35] Zoharos opened #2130 "Hasura docker without network connection"
Hi guys,
how can i create a docker image of hasura that doesn't make request for the vendor.js, main.js and main.css etc. ?

[2019-05-06 21:42] maxcan commented on #2130
there's a `--static-files` command line option for the CLI.  the best way that I've found to download them is to go to localhost:9695 when you have network connectivity and go File -> Save in chrome or firefox and save a complete web archive. this will save all the assets then you can point to that file when you `hasura console --static-files <path to the web archive>`

[2019-05-06 21:45] maxcan opened #2131 "Use subscriptions in the Admin Console"
hasura's real time subscriptions support is really great and we love it!  it would be great if the admin console actually took advantage of that.  I end up having to reload the admin console anytime a schema changes or data is changed.

cc @coco98

[2019-05-06 23:05] mwMichaelSchnabel opened #2132 "docker run fails with: "cannot continue due to inconsistent metadata""
Hi, when I run "docker run" I get the following error:
`graphql-engine_1  | {"timestamp":"2019-05-06T22:56:11.003+0000","level":"info","type":"startup","detail":{"kind":"serve_options","info":{"auth_hook_mode":null,"use_prepared_statements":true,"unauth_role":null,"stringify_numeric_types":false,"enable_telemetry":true,"enable_console":true,"auth_hook":null,"cors_config":{"allowed_origins":"*","di

[2019-05-07 03:41] mnlbox commented on #2130
Related: #521

[2019-05-07 03:42] mnlbox commented on #2128
Related PR: #799

[2019-05-07 06:10] #2094 closed

[2019-05-07 06:24] shahidhk commented on #1939
@mnlbox The migration related command is documented here: https://docs.hasura.io/1.0/graphql/manual/migrations/existing-database.html#step-3-initialize-the-migrations-as-per-your-current-state

The API documentation is here: https://docs.hasura.io/1.0/graphql/manual/api-reference/pgdump.html

[2019-05-07 06:39] shahidhk commented on #233
@1zaak json-data-import project has been moved to https://github.com/hasura/graphql-engine/tree/master/community/tools/json2graphql

[2019-05-07 07:35] rikinsk commented on #2128
Related issue #314

[2019-05-07 08:09] rikinsk-zz opened #2135 "docs: document cases when hasura will fail to start"
https://docs.hasura.io/1.0/graphql/manual/troubleshooting/index.html needs updating,

[2019-05-07 08:15] dsandip commented on #2128
closing this in favour of #314.

[2019-05-07 09:34] rikinsk commented on #2131
dup of: #378

[2019-05-07 09:44] rikinsk commented on #223
Dup of #394

[2019-05-07 10:25] leoalves opened #2137 "Add ability to call graphql endpoints from webhooks"
Having the ability to call GraphQL endpoints from Webhooks would be very useful, IMO.

Today, I have a few validations and business logic that are not supported by Hasura. I am using the Remote Schema to validate those.  Which is great.

But when listening to database changes, Webhooks, I need to have one endpoint for each trigger. And that changes the mindset, a bit.  And I need to figure out the

[2019-05-07 12:24] #1777 closed

[2019-05-07 12:30] tobymarsden commented on #1777
@rikinsk @wawhal Brilliant, thank you! This makes life easier :-)

[2019-05-07 14:05] 0x777 commented on #2132
@mwMichaelSchnabel Looks like your remote schema is down. The error from the logs is `HTTP exception occurred while sending the request to https://hasura-sample-remote-schema.glitch.me/`

[2019-05-07 14:41] Zoharos commented on #2130
I tried using the cli in the cli-migration docker, but got this error:
`preparing execution context failed: setting up global confog failed: cannot create global config directory: mkdir/.hasura: permission denied`

[2019-05-07 14:43] Zoharos commented on #521
I tried using the cli in the cli-migration docker in order to set the --static-dir flag, but got this error:
`preparing execution context failed: setting up global confog failed: cannot create global config directory: mkdir/.hasura: permission denied`

[2019-05-07 14:49] MooreDevelopment opened #2138 ""message": "A string is expected for type : _text""
[code]

is the mutation i am using. In version 34 it worked great, but i can't actually install that anymore. So i upgraded to 45 and now i am getting:

[code]

i haven't changed the query at at all and it just doesn't work now.  i have all the types correct. Any idea?

[2019-05-07 15:06] leoalves opened #2139 "Add ability to have multiple schemas, based on roles, for Remote Schemas"
Hasura creates different schemas based on each role.

A nice to have feature, would be to allow Remote Schemas to also have a role based schema.

This has the benefit to block requests directly in the Hasura side, without reaching the remote server.

And also making it easier for developers and 3rd parties to only see the schema they have access to.

[2019-05-07 15:22] ecthiender commented on #2138
@MooreDevelopment  This is because of a recent change, where we enforce type checking of variables.

One of the variables used in your mutation is not `String` but `_text`. You can check this in the graphiql "docs" section. Just changing the type to the correct one should work.

[2019-05-07 15:29] MooreDevelopment commented on #2138
@ecthiender I have checked the docs and i have a few fields that are _text but none of these fields. If i remove the "documentValuessBydocumentId" section it runs correctly. The only non uuid string is value and the docs say that it is a string.

[2019-05-07 15:52] MooreDevelopment commented on #2138
@ecthiender So it was a random column in one of the tables that had a _text even though i wasn't inserting any data into that column. Shouldn't that be a bug?

[2019-05-07 16:03] MooreDevelopment commented on #1883
Have you looked into schema stitching?

[2019-05-07 16:04] MooreDevelopment commented on #1883
We are using hasura for a large scale Cybersecurity effort. We have used hasura as the base layer and used schema stitching to do our authentication since it is really complicated. I love this project. Thank you guys for support it!

[2019-05-07 16:57] maxcan commented on #2131
closing per @rikinsk 's catch

[2019-05-07 16:57] #2131 closed

[2019-05-08 01:14] leoalves opened #2140 "Allow Date/Time Functions timestamptz types"
Currently we can use "now()" in timestamptz columns, from GraphQL.

But when trying to use other functions like interval returns an error.

[code]

I think it would be very useful to allow PostgreSQL date/time functions in the GraphQL timestampz data type.
https://www.postgresql.org/docs/9.1/functions-datetime.html

[2019-05-08 02:14] zesterquinn opened #2141 "clarification on using aggregates with limit argument"
[code]

it still limit the aggregate query

[code]

heres the generated query. it doesnt define the only the node get to be limit

[2019-05-08 05:29] shahidhk commented on #2141
@zesterquinn Since you're adding the limit argument, this is the expected behaviour.
If your intention is to get 10 items and also get the total count, you have to use two subscriptions:

[code]

[code]

[2019-05-08 05:58] shahidhk commented on #521
@Zoharos You cannot use the CLI console from a docker image. We're working on supporting it.

But the error is something else. Your container image does not have permission to create files?

[2019-05-08 06:09] Zoharos commented on #521
@shahidhk thanks for your answer,
what i'm trying to do is make a docker image of hasura that doesn't make request for the assets.
In order to that I understand that there is a flag that can be enabled from the console with the help of this command:
`hasura-cli console --static-dir "/static"`.
I do that from .sh file like you guys did in the cli-migrations docker file.
This error occurs when i use

[2019-05-08 06:25] shahidhk commented on #521
@Zoharos There are other issues that prevent the console form loading from within a docker image. We're ideating on multiple solutions - should have something out in a few weeks.

[2019-05-08 06:29] Zoharos commented on #521
If there will be a solution that wouldn't require of running console command in order to lunch the console from a static directory it would be great (something like an ENV var).
Thanks, @shahidhk.

[2019-05-08 07:36] #1430 closed

[2019-05-08 10:12] rikinsk opened #2142 "allow creating/deleting postgres schemas via console UI"

[2019-05-08 15:41] karibertils opened #2146 "Empty string as default value for text fields"
I like to avoid nullable fields so i don't also need to check for the null case every time in type safe languages.

But i often need to add new (non nullable) text field to existing table with data. I want the field to be initialized as empty string for the existing rows.

I have been doing this by adding any text string as the default value and then changing it to empty string. But would be bette

[2019-05-08 17:29] revskill10 commented on #2141
@shahidhk I think the expected behaviour should be:

- Limit is used to fetch real data rows.
- Aggregate count is to calculate Total rows number of the table, independent of `limit`

So,
[code]
should fetch 10 rows of data, but `aggregate.count` returns Total number of rows of that table based on permission.

[2019-05-08 17:41] #2114 closed

[2019-05-08 21:29] RodolfoSilva commented on #1573
Any update about this issue?

[2019-05-08 23:54] revskill10 opened #2147 "Bug: Insert/Update timestamp with timezone failed"
I'm using v45alpha, and it's impossible to mutate with `timestamp with timezone` value.
My sample mutation:
[code]
Response is always
[code]

The same bug happens in Console, too. It's impossible to update `timestamp with timezone` field.

[2019-05-09 05:28] 0x777 commented on #2141
@revskill10 limit is needed in aggregates too. How would you compute the avg population of top 10 cities by population?

[2019-05-09 06:36] revskill10 commented on #2141
@0x777 I think, in this case, the `avg` itself needs argument like `avg(limit: 10)` .

Those limits have different meanings. One for fetching data, one for calculating data.

[2019-05-09 07:48] 0x777 commented on #2147
@revskill10 Cannot reproduce this. I tried with a table having two columns `id(uuid)` and `ts(timestamptz)`. Are you sure a row with the `uuid` that pass exists?

[2019-05-09 09:03] 0x777 commented on #2141
@revskill10 Our convention is that the `limit` in `*_aggregate` fields' arguments applies to everything. You can always use multiple fields to get the behavior that you need

[code]
I understand that this is a problem with subscriptions but you can issue multiple subscriptions to work around this. We will try to improve the DX around this over time.

[2019-05-09 09:11] 0x777 commented on #2140
`now()` just happens to be a special literal accepted by postgres for time/date values. We just send the literal as a parameter to postgres so unless postgres supports such literals we can't do much at the graphql-engine layer.

[2019-05-09 09:17] tirumaraiselvan commented on #2124
closing in favour of #2112

[2019-05-09 09:17] #2124 closed

[2019-05-09 09:20] shahidhk commented on #2141
@revskill10 To fetch data, you would use `tablename` node and to calculate aggregates, you would use `tablename_aggregate`. In `tablename_aggregate` context, the `limit` is for the aggregate.

[2019-05-09 12:09] 0x777 commented on #1965
@cbzehner

Unfortunately this is not easy. Mapping underlying table's columns to columns exposed through a view is only possible in the simplest of the cases and I'm not quite sure if the metadata exposed by postgres about a view is sufficient to determine this.

@elnygren

a) postgresql schema; and
b) user defined settings ?

This should definitely be possible.

[2019-05-09 13:11] ozum opened #2151 "Feature Request: Rate limiting and Scoring"
Would like to have rate limiting (# per user per second) and scoring of query cost (score per user per minute etc.).

Below points mentioned in https://blog.apollographql.com/securing-your-graphql-api-from-malicious-queries-16130a324a6b seems to nice to have in Hasura.

* Size Limiting
* Depth Limiting
* Query Cost Analysis

Kind Regards,

[2019-05-09 13:15] tirumaraiselvan commented on #2076
Let's track this both at #1700

[2019-05-09 13:15] #2076 closed

[2019-05-10 00:00] Turee commented on #1847
I think two endpoints should be enough:
- one for read/write
- one for read-only

RDS handles the load balancing between readers, and if you are rolling your own PG cluster I think it would be wise to add the read replicas behind a TCP load balancer so you don't have to make application configuration changes when you add/remove replicas.

[2019-05-10 03:19] sheldonj opened #2153 "Azure deploy template missing the ability to set up an access key"
The azure one click template that is used in all the examples works great (for the most part). But it's missing clear direction on how we should go about setting up an ACCESSKEY for an Azure deployment.

Am I missing something in the docs or is this a gap with an azure deployment.

It seems like this would be a big issue for deploying to azure as everyone would have access to the hasura console? I

[2019-05-10 06:00] bendog opened #2155 "Query handling and filtering of array fields - `(where: {name: {_any: "admin"}})`"
**The Scenario.**
We have names stored in `varchar[]` arrays in the table, this is to help with multi-language deployments and was designed some time ago, hence not jsonb.

[code]
will return
[code]

**The Desired behaviour.**
it would be useful to be able to define which array entry you wish to return
[code]

it would also be very helpful to be able to filter on these
[code]
or
[code]

thanks for

[2019-05-10 06:05] #1368 closed

[2019-05-10 06:06] 0x777 commented on #1368
The new `/v1/graphql` will have this behaviour. Will be part of the next release.

[2019-05-10 07:36] ecthiender commented on #2138
@MooreDevelopment are you sure that none of the columns you are using in the variables, have the type `_text` ?

Would it be possible for you to create a sample heroku app, and put up a minimal schema where this issue can reproduced?

[2019-05-10 13:04] OLDIN commented on #446
How to add a type description to the graphql?
I added a comment, but it is not displayed in the graphql schema.

[2019-05-10 13:22] MooreDevelopment commented on #2138
@ecthiender  I am 100% sure. There was a column in the table that was _text but it wasn't part of the query in any way. I altered the table and change it to a String, which fixed the issue. I might be able to spin up a sample heroku app sometime next week, but won't be able to today or this weekend.

[2019-05-10 17:14] karibertils opened #2159 ""Forward all headers from client" breaking requests on remote schema when content-type header is sent"
When i enable "Forward all headers from client" the remote endpoint receives 2 content-type headers with different casing. One is from the client and another one from Hasura.

"Content-Type: application/json"
"content-type: application/json"

I am using absinthe (an elixir graphql library) for remote. And the double content-type causes the server to respond with syntax error. When not forwarding t

[2019-05-10 17:18] coco98 commented on #2159
This might have been the same issue as https://github.com/hasura/graphql-engine/pull/2118.

Could you try the docker image version tagged on the PR and test?

[2019-05-10 18:20] karibertils commented on #2159
Problem confirmed to remain on hasura/graphql-engine:pull2118-25a118ed

[2019-05-10 20:24] leoalves commented on #2140
@0x777 That makes sense.
Will close it.
thanks

[2019-05-10 20:24] #2140 closed

[2019-05-10 21:32] rikinsk commented on #2155
relevent to: #1767

[2019-05-10 21:38] rikinsk commented on #2153
related: #1710

[2019-05-11 03:02] frost-byte opened #2160 "Array Arguments to Custom SQL Functions not working"
I have created and tracked a SQL function that has several parameters that are supposed to be arrays of bigint[]. Unfortunately, when I try to use that function in a query, I can not specify query variables and arguments that match the expected type without getting ```Variable '$variable_name' of type [bigint!]! used in position expecting type '_int8!'
The sql function clearly specifies that an ar

[2019-05-11 03:28] frost-byte commented on #2160
I just figured out that I can get my query to work by changing the types, based upon what the error message says.

**Previous Query**
[code]
**Previous Query Variables**
[code]
I used the above format for the query variable arrays, because that's how I was able to use them for queries filtering with _in

**New Query**
[code]

**Query Variables**
[code]

**Query Results**
[code]

[2019-05-11 05:13] ajayar commented on #1433
Any update? I too am looking for this feature. Our frontend team often struggle with figuring out the min required fields.

[2019-05-11 05:19] ajayar commented on #1433
perhaps you can add one more checkbox next to the col definition in the console.

[2019-05-11 16:10] Manishalexin opened #2161 "iOS Apollo Tutorial - Todo App using GraphQL"
Community content for iOS Apollo Tutorial - Todo App using graphql on iOS. This includes app-boilerplate, app-final and tutorial for the iOS app to setup apollo and make graphql queries, mutations & subscriptions. Tutorial covers all the steps for setup and making graphql calls in an iOS app.

[2019-05-11 23:08] Dacturne opened #2163 "custom SQL functions do not get saved to metadata.json if you're running uBlock Origin"
[Using Custom SQL functions for queries with Postgres and GraphQL](https://blog.hasura.io/using-custom-sql-functions-for-queries-with-postgres-and-graphql-ddca6caf6681/)

Took me a while to figure it out, so I thought I'd share.
It seems that custom SQL functions do not get saved to `metadata.json` if you're running `uBlock Origin` on `Chrome` (74.0.3729.131).
I've created a sample `article` table

[2019-05-12 06:48] mnlbox opened #2164 "table column modify not working if column comment is present"
Hi guys,
In new version sometimes column modify not working.
I think maybe it's related to this: #2096
For example I give this error when I want rename one field: (other finctionality like set `Unique` and `Default` also not working for me)
[code]

**/CC:** @wawhal, @praveenweb, @shahidhk

[2019-05-12 10:36] hmexx commented on #1433
@ajayar That seems like a reasonable solution. Adding a "REQUIRED" checkbox that's unchecked by default would preserve backward compatibility.

With a little tooltip that explains why REQUIRED and NOT NULL are not the same thing.

[2019-05-12 13:17] praveenweb commented on #2095
@comontes - Hi, you are missing some piece of code. You need to include all the reference fields under `<Resource>`.

Update your `App.js` to:

[code]

Note the inclusion of additional resources for the reference fields.

Docs reference for this implementation - https://marmelab.com/react-admin/Fields.html#referencefield

From react-admin docs
`Note: You must add a <Resource> for the reference res

[2019-05-12 13:17] #2095 closed

[2019-05-12 17:48] sabuydee opened #2167 "docs: updates docs for `_eq`, `_ne` operators to include a caveat for null values"
![image](https://user-images.githubusercontent.com/10388591/57585853-c9b09000-7517-11e9-8f20-0c0f7d7ffabe.png)

is_delete = false is have output
is_delete = null is not have output (should have output)

(Operators _eq, _in and _nin should have null in list  ?)

[2019-05-12 18:14] #2160 closed

[2019-05-12 18:52] revskill10 opened #2168 "[Feature Request] Show/shide columns in Console"
Sometimes, a table could have too many columns to be visible in a screen.

We should allow user to show/hides columns from a table.

[2019-05-12 22:08] massimiliano-mantione commented on #1183
Is this #1934 or something else?

I am evaluating Hasura and I have concerns about subscriptions scalability, I'd like to understand how they work... my use case could be subscription-heavy.

[2019-05-13 04:54] shahidhk commented on #2164
@mnlbox Please give reproductions instructions as we're unable to trigger this.

[2019-05-13 04:58] mnlbox commented on #2164
I show this issue on share screen to @wawhal If needs I can show you too.

[2019-05-13 06:40] #2161 closed

[2019-05-13 09:35] ecthiender opened #2171 "add more config info during server startup"
### More config info during startup

Right now we are logging a bunch of info about configuration when the server starts up. But we are not logging the following info:
1. If JWT is configured or not, what is the JWT configuration (from @0x777)
2. Subscription configurations

### Better logging of startup time

We are logging the startup time as a part of startup message:
[code]
Maybe we should log

[2019-05-13 09:41] #1687 closed

[2019-05-13 09:51] rikinsk commented on #2163
Reopening this to track the `uBlock Origin` issue

[2019-05-13 10:02] ajeetdsouza opened #2172 "Hasura course suggestions"

[2019-05-13 10:07] dsandip commented on #1710
Deployment guides missing this information:
1) Azure
2) DigitalOcean

[2019-05-13 10:08] dsandip commented on #2153
@sheldonj closing this in favor of #1710 (*also tagging you there so you can follow the issue*).

[2019-05-13 10:08] #2153 closed

[2019-05-13 10:08] dsandip commented on #1710
@sheldonj 👆

[2019-05-13 10:16] praveenweb commented on #2172
@ajeetdsouza - Please post links for which images are tiny so that its helpful to optimise.

[2019-05-13 10:22] rikinsk commented on #2168
@revskill10 in which screen are you expecting this?

In browse rows screen you can click the little triangle on the left of the column name to hide it.

![Screenshot from 2019-05-13 15-51-41](https://user-images.githubusercontent.com/153602/57614505-0f606d80-7597-11e9-8c1a-3a04e34fed77.png)

[2019-05-13 10:25] rikinsk commented on #2168
We should add a column selector to limit the columns fetched

[2019-05-13 10:42] dsandip commented on #2167
@0x777 For the described permission rule, the generated SQL has 👇 as the where clause:

[code]
Is the `(("public"."article"."is_delete") IS NOT NULL)` part added by design?

[2019-05-13 10:42] rikinsk commented on #2164
I suspect there might be an older version of console somehow being served. Might be some cache in between.

[2019-05-13 10:55] dsandip commented on #1183
@massimiliano-mantione Yes, the optimisations to subscriptions did go as part of #1934 and a couple of other small PRs. These changes make subscriptions **highly** scalable. We are a few days away from publishing numbers from performance benchmarks.

What kind of scale are you expecting? (You can DM @coco98 /`@tanmaig#8316` or me / `@sandip#8048`  on the community  [Discord server](https://discord

[2019-05-13 11:38] ecthiender commented on #2109
Hi @BradleyHow

True, the spec does say that implementers allow leeway to account for clock skew, but we haven't implemented this yet. I'm marking this as a feature, we will prioritize this based on interest from the community.

Said that, the above error happens when the machine that is running graphql-engine does not have its time synced. To fix your issue, you can make sure the machine where yo

[2019-05-13 11:39] ecthiender commented on #2109
Ref: https://tools.ietf.org/html/rfc7519#section-4.1.4

[2019-05-13 12:08] karibertils commented on #2159
Tested & working on hasura/graphql-engine:pull2170-f17debe0

[2019-05-13 12:27] strongSoda commented on #2172
[Deploy hasura](https://learn.hasura.io/graphql/hasura/setup)

[Schema](https://learn.hasura.io/graphql/hasura/data-modelling)

[Create Table](https://learn.hasura.io/graphql/hasura/data-modelling/1-users-table)

[graphiql](https://learn.hasura.io/graphql/hasura/data-modelling/2-try-user-queries)

[todos table](https://learn.hasura.io/graphql/hasura/data-modelling/3-todos-table)

[todos graphiql](

[2019-05-13 12:46] dsandip commented on #2167
This behaviour should be documented here:
1) https://docs.hasura.io/1.0/graphql/manual/queries/query-filters.html#equality-operators-eq-neq
2) https://docs.hasura.io/1.0/graphql/manual/api-reference/graphql-api/query.html#operator

[2019-05-13 12:47] #2159 closed

[2019-05-13 14:39] Dacturne opened #2174 "Function permission details navigation breaks between schemas"
Navigation seems to break when acessing `{function} > permissions > here` details of a table in a different schema. Refreshing the page makes it work just fine.
I'm using docker `image: hasura/graphql-engine:v1.0.0-alpha45`
Demo:
![hasura_permission_details](https://user-images.githubusercontent.com/32225868/57630012-21dda580-759d-11e9-9525-4365df5aced3.gif)

[2019-05-13 14:59] rikinsk commented on #2006
Depends on: https://github.com/hasura/graphql-engine/pull/2016

[2019-05-13 15:06] rikinsk commented on #1879
@Mike-Van Can you give more info on what you were expecting?

[2019-05-13 15:08] rikinsk commented on #1875
We just need to remove the check for migrations mode off and test everything works fine

[2019-05-13 15:10] rikinsk commented on #1859
@karthikvt26 Is this still happening? Couldn't reproduce

[2019-05-13 15:26] rikinsk commented on #1734
needs to think about how to handle invalid permission rule pasted

[2019-05-13 15:28] dsandip commented on #1731
Closing this in favor of #314

[2019-05-13 15:28] #1731 closed

[2019-05-13 15:29] Dacturne opened #2176 "Support optional parameters for custom sql functions"
Creating a simple function like this:
`CREATE FUNCTION search_articles(search text, optionalStatus int DEFAULT 1)`
should allow passing only the required parameters to `args` in queries.

[code]
![function_params_required](https://user-images.githubusercontent.com/32225868/57633892-91a35e80-75a4-11e9-91d5-2a00e854e7d7.png)

[2019-05-13 15:32] #1713 closed

[2019-05-13 15:32] drewwestphal opened #2177 "Environment Booleans are not actually case insensitive"
New user here, been experimenting. Hasura is pretty amazing. Found that, while the error text states the boolean values are case insensitive, they actually only work with lowercase values (at least for the string 'FALSE').

This is the error which shows up in the heroku logs
`Fatal Error:- Environment variable HASURA_GRAPHQL_ENABLE_CONSOLE:  Not a valid boolean text. True values are ["true","t","y

[2019-05-13 15:33] drewwestphal commented on #2177
For now, this is EASILY fixed, of course. Just lowercase the value.

[2019-05-13 15:34] dsandip commented on #1704
@karthikvt26 @wawhal What's this about? Modify tags also please.

[2019-05-13 15:45] rikinsk commented on #1651
related to #2104

[2019-05-13 15:49] rikinsk commented on #2006
Closing in favour of : #1617

[2019-05-13 15:49] #2006 closed

[2019-05-13 15:49] rikinsk commented on #1617
Depends on: #2016

[2019-05-13 15:52] rikinsk commented on #1602
@AnnieAtHasura Couldnt reproduce this. Can you share a screenshot?

[2019-05-13 15:59] rikinsk commented on #1597
related to #1593

[2019-05-13 16:09] rikinsk commented on #1742
related to: #504

[2019-05-13 16:24] #1340 closed

[2019-05-13 19:01] kriswep commented on #2151
I'd second this.

You could easily imagine malicious queries taking down APIs powered by Hasura.
For example, running the following query against the [todo learning API](https://learn.hasura.io/graphql/graphiql) takes some time, and you could easily extend the nesting there:
[code]

For the record, there was some discussion around this in #346, #989 and #1283 but they don't seem to have lead anywh

[2019-05-13 19:02] coco98 commented on #2151
@kriswep Allowlists (#989) is ready for review and testing and should land soon!
https://github.com/hasura/graphql-engine/pull/2075

The rest are a little complicated and we're coming to it gradually.

[2019-05-13 19:16] mnlbox commented on #1742
@rikinsk It's not only about JSON editor. Multi line text input (textarea) also very useful for simple Text column for example like `description` fields in many tables. :wink:

[2019-05-13 19:23] kriswep commented on #2151
That's good to hear, haven't seen that before.
But there are uses cases which query whitelisting doesn't fulfill (having a public facing API with unknown clients).
Guess I hope other options like depth-limitng and costs analysis won't be forgetten.

[2019-05-14 01:23] leoalves opened #2178 "[Feature Request] Add a new type to timestamptz_comparison_exp"
From time to time I find myself having to add interval to some of my queries.  Since this is not supported by Hasura, I need to create a view or a function.  And I am not able to use it within permissions.

I think it would be great if this could be supported by default, in Hasura.

My suggestion is to add a `_interval` type to the timestamptz_comparison_exp

Something like

[code]

This would gen

[2019-05-14 04:49] mnlbox commented on #2164
I also try clear cache in browser. Also I try with Firefox and Chromium and it\s happens in both.

[2019-05-14 04:55] anasvn commented on #1573
Waiting for this feature to reduce multiple hasura calls.

[2019-05-14 05:52] mnlbox opened #2179 "[Feature Request] add more view mode for GraphiQL query result in console (DataGrid, Tree, ...)"
Hi,
I think `table view` also useful for GraphiQL query result page.
For example we can have some view mode:
* JSON (default mode that we have now)
* **Data Grid mode (this issue suggestion)**
* **Tree mode (this issue suggestion)**
* add more view mode later here...

[2019-05-14 06:22] ozum commented on #2151
I agree. Maybe starting with depth limiting would be easier and have relatively great impact on stopping malicious queries.

[2019-05-14 06:24] #578 closed

[2019-05-14 06:41] mnlbox commented on #2164
@rikinsk Maybe related to this: #521
Is it possbile that CDN serve legacy version of `main.js` and `vendor.js` for me?

[2019-05-14 06:54] karthikvt26 commented on #2163
@Dacturne I tried to replicate this. Please let me know if I am doing anything different from what you did.

I created a table called `article` with `id`, `title` and `content` as columns and created the following function with `track this` checked

[code]

When I look at the exported JSON. Here is what I see

![screenshot 901](https://user-images.githubusercontent.com/25095884/57676823-0e851580-7

[2019-05-14 06:58] yuvalgut commented on #2109
Im also getting that issued at future error. Hope you will add that leeway :)

[2019-05-14 07:28] ecthiender commented on #2109
@yuvalgut have you tried checking NTP on your system? Syncing time on your system should fix the issue :)

[2019-05-14 08:10] #1724 closed

[2019-05-14 08:41] lishine opened #2183 "read JWT from cookie header"
When Hasura decoding the JWT token (instead of passing it to webhook), Can Hasura read JWT token from secure-http-only-cookie ? If so then what should be the name of the cookie?

[2019-05-14 09:58] rikinsk commented on #2164
Could reproduce this by adding a column comment in arabic and trying to modify column after save

[2019-05-14 10:03] rikinsk commented on #2164
Nothing to do with arabic :). happens if you have any comment added

[2019-05-14 10:36] Dacturne commented on #2163
@karthikvt26 yes, that's exactly what I did before. I've tried replicating it again right now and it comes out without the issue. I've also reinstalled uBlock and spawned a fresh container instance since yesterday - perhaps this solved it. Nothing else really changed...

[2019-05-14 11:19] smeevil commented on #1433
That would be a nice solution indeed. I came here looking for the exact same thing.

[2019-05-14 11:22] #2177 closed

[2019-05-14 13:11] karthikvt26 commented on #2163
Thanks @Dacturne. I am closing this issue for now. Feel free to reopen if you are able to replicate this issue again!

[2019-05-14 13:11] #2163 closed

[2019-05-14 13:18] arvi3411301 opened #2188 "add refresh button on schema page"
From #2016, clicking on Data tab doesn't refresh the schema. So, we can have a refresh button near the schema select box.

[2019-05-14 14:19] yuvalgut commented on #2109
@ecthiender , just noticed it only happens on the local env. Thanks.

[2019-05-14 14:27] yuvalgut opened #2189 "How subscription works?"
Regarding subscriptions the docs say that Hasura will wait for update from the db when related data to the subscription changes.
When I look at the pgadmin dashboard I see that when there is a live subscription - the graph looks like that:
![image](https://user-images.githubusercontent.com/11994190/57705644-f0cca600-766c-11e9-9494-c565b6026a18.png)

I see that the queries always get "hit" from cac

[2019-05-14 18:49] campie commented on #1654
Please, could you explain what you mean by "solved by 39"? I'm still struggling with this issue.

**The Case**

I've created a simple apollo server to handle authentication in my app then added it as a remote schema using the Hasura console.

The login mutation creates a jwt and sets two cookies:

1 - a secure http-only same-site cookie containing the jwt header and signature (domain = api.foo.com

[2019-05-14 18:58] DirkWolthuis commented on #1883
POC for a internal ticketing app. Hasura + React + Ant Design. :)

[2019-05-15 00:34] coco98 opened #2190 "docs: guide docs on subscriptions and live-queries"
Document should cover:
1. Benchmarks
2. Scalability
3. How it works
4. What are the tradeoffs
5. Tuning performance

[2019-05-15 00:38] coco98 commented on #2189
@yuvalgut We're almost done with a doc on how live-queries work, including benchmarks, horizontal scalability tests etc. Will cover this there!

Related #2190

[2019-05-15 00:38] #2189 closed

[2019-05-15 03:54] mnlbox commented on #2168
@rikinsk maybe useful for idea: :wink:
![Screenshot from 2019-05-15 08-07-40](https://user-images.githubusercontent.com/25859075/57747404-b4d82600-76ea-11e9-900d-edde762c69a5.png)

https://fizix-io.github.io/ra-customizable-datagrid/#/posts
https://github.com/fizix-io/ra-customizable-datagrid

[2019-05-15 04:03] dalisoft commented on #1883
I'd finished writing REST API backend few days ago for my new project. Now i can't close my local Hasura Console tab (even at night). I need only 2-3 feature and i always use Hasura for my all future projects :)

[2019-05-15 04:10] dalisoft opened #2191 "How to make custom query without Postgres knowledge?"
Hi and thanks for amazing tool. With JWT + CORS + Hasura = Amazing combo (for me at least).
I loved and i already learned the basics with local Docker container. Now i need some feature

1. Making custom functions without Postgres knowledge (or builder for Postgres functions)
2. Making alias functions at server level (with some changes)
3. Managing permission for custom alias and functions like de

[2019-05-15 04:30] mnlbox commented on #913
@karthikvt26 Can you explain this feature?

[2019-05-15 04:31] mnlbox commented on #836
@revskill10 Maybe related: #1967, #2121

[2019-05-15 04:38] mnlbox commented on #1742
@rikinsk we have open PR here: #1155

[2019-05-15 04:49] mnlbox commented on #1487
@praveenweb , @dsandip, @PierBover I have some idea about this and post some mock about this here: https://github.com/hasura/graphql-engine/issues/506#issuecomment-471521156

[2019-05-15 06:21] revskill10 opened #2193 "[Feature request] Clone row data in Console"
In Console, it could be convenient to have a `clone` button for all rows in a table.
When cloning, all data will appear in the `insert` tab, so that user could modify changed fields before inserting into database.

[2019-05-15 07:17] wawhal commented on #2193
@revskill10 there is already a clone button for every row in the table.
Please could you give more details about what you mean by this feature request?

[2019-05-15 07:18] mnlbox commented on #2193
@wawhal I don't see that later. Thanks brow :wink:

[2019-05-15 07:36] revskill10 commented on #2193
@wawhal Ah, my bad. It's exactly what i want !

[2019-05-15 07:36] #2193 closed

[2019-05-15 08:05] #2164 closed

[2019-05-15 09:43] 0x777 commented on #2183
@lishine Currently the JWT is expected as a bearer token in the `Authorization` header. Maybe this can be a setting, `--jwt-from-cookie <cookie_name>`?

[2019-05-15 09:57] lishine commented on #2183
It would be very nice! Otherwise hook a must with cookies.

[2019-05-15 10:06] tirumaraiselvan commented on #2097
@mike-thompson-day8  Some more thoughts on this:

How do you intend to use the dead letter queue? As a notification system to check for failures or as another retry mechanism for guaranteed ack? We must keep in mind that we cannot expect 100% guaranteed ack from any dead letter endpoint as well. Using a dead letter queue as a tool for guaranteed processing might only cause more obfuscation.

So, a

[2019-05-15 11:29] #506 closed

[2019-05-15 11:38] dsandip commented on #1462
Commonly used fields:
1) created_at (timestamp; defaults to `now()`)
2) updated_at (timestamp; defaults to `now()`)
3) Primary Key - Id (Integer auto-increment; automatically added as PKey)
4) Primary Key - UUID (UUID; automatically added as PKey)

[2019-05-15 11:44] mike-thompson-day8 commented on #2097
If I were to misconfigure an event trigger by mistyping the webhook URL.  Instead of `http://.....`  I put `htt://` or something equally bad.

At the moment, the `max_retries` and `retry_interval` won't help to deliver an event.  It will ultimately completely fail.  But it will currently fail silently.  We'll never know there's a problem.

I'm looking for a way to be told there's a problem via a c

[2019-05-15 11:54] tirumaraiselvan commented on #2097
Cool. So its more of a notification system. In that case, are you okay with the "fire and forget" design of the dead letter endpoint? Whenever we encounter a failed event, we hit the notification endpoint once.

[2019-05-15 14:00] #2142 closed

[2019-05-15 17:30] campie commented on #2183
Hi,

It would be great to have **--jwt-from-cookie <cookie_name>**.

This would solve the problem of safely storing the jwt in the client by using a secure http-only same-site cookie (more on this below). IMHO, we should **NEVER STORE the JWT in LocalStorage** or anything else js has access to. For web apps, using http-only cookie is currently the only solution to this problem (that I'm aware of).

[2019-05-16 06:13] #989 closed

[2019-05-16 06:54] pjoe commented on #1183
Very interested in this too, also have a potential workload that would be very subscription heavy and require high scalability.

Are subscriptions still polling the db after latest optimizations?

[2019-05-16 06:55] shahidhk commented on #2130
@Zoharos Looks like a permission issue. We're bundling assets into the docker image for the next release. Should work fine with that.

[2019-05-16 07:45] #516 closed

[2019-05-16 07:45] #521 closed

[2019-05-16 07:45] #2130 closed

[2019-05-16 09:05] shahidhk opened #2198 "add fallback for fontawesome"
for some reason if fontawesome doesn't load, lots of buttons, links etc are just invisible

[2019-05-16 09:49] sprucify commented on #1883
Not yet.
Developing with AWS Amplify JS - AppSync on top of DynamoDB.
But I don't like it at all.

DynamoDB is unworkable
Spend 10 hours debugging why I didn't get my filtered results and discovered that DynamoDB scan operation is limited to 1MB!
Don't go the noSQL route.

So now I'm halfway sucked in there eco-system looking to move to a Hasura - AWS cognito combination

[2019-05-16 10:08] sebastianmacias opened #2200 "Feature request: Multi-column unique constraint"
Currently Hasura allows having multiple single field unique constraints like this:
![Multiple unique constraints ](https://i.imgur.com/cZxDTEZ.png)

However there is not an option to define multi-column unique constraints.

for instance:

[code]

Are there any plans to support this?

[2019-05-16 10:23] dimitar-nikovski commented on #2200
#506 #2148

Delivered in https://github.com/hasura/graphql-engine/releases/tag/v1.0.0-beta.01 about 10 min before this issue was opened

😄

[2019-05-16 10:31] sebastianmacias commented on #2200
Amazing, what a coincidence! v1.0.0-beta.01 is looking good.

[2019-05-16 10:31] #2200 closed

[2019-05-16 12:31] shahidhk opened #2203 "add tests for /console endpoint"
Test the console endpoint on server to make sure it returns html in all cases, including when authorization etc. is set.

[2019-05-16 14:44] ilfur commented on #1773
Please add support for an Oracle database first, we could well use it and it has all the features that Postgres has, too (and more), so supporting Oracle should not be too much fuzz...

[2019-05-16 15:45] ecthiender opened #2204 "explain allowed-roles/default-role in docs more clearly"
Explain allowed-roles/default-role in docs more clearly, with the rationale for this design, and how it can be tricky/hard to do permission merging for multi-roles.

[2019-05-16 16:30] campie opened #2205 "Support JWT from both Authorization header of Cookie"
Hi,

Referencing #2183, it would be great to have **--jwt-from-cookie <cookie_name>**.

This will solve the problem of having to write an auth-webhook every time we want to store the jwt client-side in a http-only cookie (secure=true http-only=true same-site=strict; more on this below).

IMHO, we should **NEVER STORE JWT in LocalStorage** or in anything else JS has access to. For browser clients,

[2019-05-16 17:27] karibertils commented on #678
would be interesting

[2019-05-16 18:36] tycoles opened #2207 "Health check endpoint is disabled if the console is disabled"
Hey everyone. I'm currently disabling the console on my respective graphql engine instances so that we can conform to the migration workflow inside of hasura's gql engine. When I disable the web console, the /healthz endpoint also gets taken down. I would still like a way to healthcheck. I could perform a POST against the gql endpoint, but this doesn't work with tools such as Uptime Robot, which o

[2019-05-16 18:42] #2207 closed

[2019-05-16 20:15] waterdrop01 commented on #1711
Hi @0x777 , congrats on the 1.0 beta0.1 release.

 I'd love to have timescale support in CA :)

I noticed this project has the exact same issue: https://github.com/JasperFx/marten/issues/1262

As mentioned: "According to the Postgres docs: It is often preferable to use unique index inference rather than naming a constraint directly using ON CONFLICT ON CONSTRAINT constraint_name."

Thanks, have a

[2019-05-16 20:27] OLDIN commented on #1936
I am also interested to receive answers to the questions above.

[2019-05-16 23:20] kkshyu opened #2208 "support multiple JWT secrets"
for admin secret, we can set in the environment variable: `HASURA_GRAPHQL_ADMIN_SECRET` and pass `x-hasura-admin-secret` in header to authorize the permission.

in my scenario, i have two applications sharing the same Hasura API server. Theses two applications have their own JWT secret (specifically different jwk_url). I don't want to duplicate the Hasura server to handle these two applications.

[2019-05-17 00:10] revskill10 commented on #2208
I made a proposal on these problems here: https://github.com/hasura/graphql-engine/issues/1995

I think it relates to your issue here.

[2019-05-17 00:29] kkshyu commented on #2208
@revskill10 i've seen your proposal, it is related but i'm not sure whether the secret key management includes JWT secret or not.
because the format of JWT secret is `{type, jwk_url, claims_format}` and it is different from the other secret (`admin-secret` and secret key from your proposal are `string`)

if these two kind of formats can be merged, it will be great~

[2019-05-17 00:34] kkshyu commented on #2208
one more different part is that:
in your proposal, it focuses on grant access to clients to access Hasura console as admin
but my scenario is that I have multiple auth server to grant access to clients to access Hasura API as user

[2019-05-17 01:10] jasonmccallister opened #2209 "blank image on remote schemas section"
When selecting remote schemas, the image is broken and is looking for undefined in the URL.

Not a major issue, but wanted to document. Great work on tagging beta!!

<img width="1920" alt="Screen Shot 2019-05-16 at 9 08 37 PM" src="https://user-images.githubusercontent.com/5354908/57896471-ee11b280-781e-11e9-8a1b-fefdaab1836c.png">

[2019-05-17 02:11] rhaksw commented on #574
Seconding @ontofractal 's point. Cloudflare will not cache POST requests, they only cache based on the URL. An option to stringify the body and put it into the url, say, `send_as_get=True` would be helpful.

I was about to setup Hasura in production when I noticed this is not currently possible. If anyone knows a workaround, I'd love to hear it. Thanks!

[2019-05-17 05:58] shahidhk commented on #2209
@jasonmccallister Is the console being served by CLI or Server?

[2019-05-17 09:45] jasonmccallister commented on #2209
@shahidhk its from `hasura console`

[2019-05-17 10:49] shahidhk commented on #2209
Thanks @jasonmccallister! I think it is an issue with the console template on cli. Will push a fix soon.

[2019-05-17 11:21] MeixnerTobias commented on #2208
I am looking for the same solution.
We run a multi-tenant app with ideally one Hasura instance to serve all tenants.
Every tenant is using a different Cognito user pool as a result the current implementation of HASURA_GRAPHQL_JWT_SECRET does not cover this use-case.
Ideally, I can think of 2 solutions here
1. We can assign a different jwt-secret based on a parameter in the header i.e. x-hasura-org

[2019-05-17 12:05] chrisnurse commented on #1883
I'm developing new products with a client for an IoT platform here in Australia. Hasura has revolutionsed how we develop API based products and real time apps. It's simply amazing. We will tell you more about the specific projects closer to go-live in a few weeks, but we're working with an awesome client called AxisTech, and together we have even open sourced tools to help the Hasura community - s

[2019-05-17 12:37] j0h opened #2212 "Set hasura as the postgres client application name"
Would it be possible for Hasura engine to set an application name (https://www.postgresql.org/docs/11/libpq-connect.html#LIBPQ-CONNSTRING) so that I can distinguish this in the PG pg_stat_activity table. Ideally, if it includes "hasura" and the current running version at the time, that would be great.

[2019-05-17 14:13] Zoharos opened #2213 "Ability to change assets like main.css.gz"
Hi guys,
I tried changing the main.css.gz that used by the console and copy it to /srv/console-assets/versioned with the help of a dockerfile. then tried using HASURA_GRAPHQL_CONSOLE_ASSETS_DIR ENV var but it won't load the main.css.gz file.
Thanks.

[2019-05-17 14:17] shahidhk commented on #2213
@Zoharos What are you trying to achieve? If you trying get the console to load assets from server instead of the CDN, just set the env var `HASURA_GRAPHQL_CONSOLE_ASSETS_DIR=/srv/console-assets`. You don't need to copy any files.

[2019-05-17 14:23] Zoharos commented on #2213
@shahidhk for example the main.css calls https://fonts.googleapis.com/css?family=Gudea:400,700 to get some css, which I don't want it to.

[2019-05-17 14:29] shahidhk commented on #2213
You can just ignore it - font would fail to load. We will soon move the Google Fonts also into the assets.

But in any case, if you are over-riding `/srv/console-assets`, make sure you keep the file structure as it is and keep them gzipped.

Let me know how it goes and what the error is if it fails.

[2019-05-17 14:36] Zoharos commented on #2213
this is the error I get:
The webpage at https://hasura-console-hasura.1d35.starter-us-east-1.openshiftapps.com/console/assets/versioned/main.css.gz might be temporarily down or it may have moved permanently to a new web address.
But as in the picture:
![Screenshot from 2019-05-17 17-34-23](https://user-images.githubusercontent.com/19515774/57935294-24f0d280-78ca-11e9-971a-23b8229c7960.png)
it is t

[2019-05-17 14:58] shahidhk commented on #2213
It is a content encoding error, the server sets `content-encoding: gzip` if it sees a `.gz` extension. You just need to gzip the `main.css.gz` file and then put it inside the docker image.

Execute `gzip -f main.css.gz && mv main.css.gz.gz main.css.gz` in the terminal

[2019-05-17 15:07] mahald opened #2214 "[Feature Request] Add possability to query own permissions for users"
Hi Guys,

I need the possibility to know what permissions the own role (used for the query) has.

Because I don't want to display the 'delete button' in the Web-Frontend, if the user has no delete permission or no 'add button' if there is no permission for add.

This must be query able by each role for the own (currently active role) role and not only by the admin.

This seems not to be possible c

[2019-05-17 15:10] Zoharos commented on #2213
THANK YOU!! it's worked

[2019-05-17 15:10] #2213 closed

[2019-05-17 15:48] shahidhk commented on #989
@campie @evert-smit @elgordino @Maxpain177 This feature is now available in `v1.0.0-beta.1`. Here are the docs: https://docs.hasura.io/1.0/graphql/manual/deployment/allow-list.html

[2019-05-17 18:40] leoalves commented on #2214
@mahald

You can do that with the introspection query.

The Hasura GraphQL schema is generated based on role making the request.  In that case you can make an introspection query, loop through the schema and check what queries/mutations the user/role have access to it.

You could even write an utility where you pass the table name and can it checks for permissions in the schema, following the Hasu

[2019-05-17 19:08] exolab opened #2215 "Permission denied for relation in schema public"
During setup, I am getting a permission denied error on a table in the 'public' schema.

I have tried the following:
[code]
even though I do not want hasura to access public at all, just to see if that works.

and

`REVOKE USAGE ON SCHEMA public FROM hasura_role;`

Here is some context from the logs

[code]

Why is hasura trying to access this relation at all? Please note that this is happening on

[2019-05-17 21:01] jasonmccallister opened #2216 "Issues after removing environment variables and event triggers"
This kind of makes sense, but I felt it should be noted.

We added event triggers for auditing tables, but decided not to use them (really we are changing the webhook to a Laravel API), but quickly ran into an issue. Removing the environment variable will cause an issue for anyone new to the project when they run migrations, since the environment variables are no longer defined.

Our fix was to ad

[2019-05-17 21:51] ManUtopiK commented on #2137
I love this idea!
If it can make introspection to the webhook graphql endpoint, it can display a graphqli explorer of this endpoint instead of the Mutation field.
Whatever, why limit to Mutation only? Maybe it could be useful to query another endpoint with variables? And could we call current hasura graphql endpoint him-self ? How to prevent inception loop?
This is blow my mind 😉

[2019-05-17 22:43] mahald commented on #2214
@leoalves thx for the reply, that should do the trick thank you!

[2019-05-17 22:44] #2214 closed

[2019-05-18 03:10] tirumaraiselvan commented on #2216
Thanks for reporting. So the repro is:

1. Create event-trigger with ENV variable(s).
2. Drop event-trigger
3. Run migrations on a fresh instance.
4. Failure?

[2019-05-18 03:18] celvin commented on #1648
@shahidhk you said that if the password has special characters we need to escape them, but what if the user name has @ or other characters? is hasura able to manage that type of usernames in the database? I have the same trouble and maybe is because azure creates the user with "@"

[2019-05-18 07:23] exolab commented on #2215
This can happen when you are using AWS DMS replication on your database. Adding some permissions will fix the problem:

[code]

[2019-05-18 07:23] #2215 closed

[2019-05-18 11:58] shahidhk commented on #1648
You need to encode them too.

On Sat, 18 May, 2019, 08:48 Celvin Rivas, <notifications@github.com> wrote:

[2019-05-18 15:14] barbalex opened #2217 ""ERROR: manifest for hasura/graphql-engine:v1.0.0-beta.01 not found" after updating from last alpha"
I updated by replacing the image name in the docker file. My docker file (docker-compose.yaml) now looks like this:

[code]

Now I get `ERROR: manifest for hasura/graphql-engine:v1.0.0-beta.01 not found` when running `sudo docker-compose up -d`

[2019-05-18 15:18] barbalex commented on #2217
Got it when looking at the release list to reinstate the last alpha version: Seems like v1.0.0-beta.01 was removed and replaced with v1.0.0-beta.1. Which works.

[2019-05-18 15:18] #2217 closed

[2019-05-18 16:11] kkshyu commented on #2208
Thanks for @MeixnerTobias explanations. These two methods are great!
My scenario is exactly the same as you. We also use multiple Cognito User Pools for the multi-tenant implementation and would like to share the same Hasura API server.
Currently, we can only write some scripts to launch docker container for Hasura after a new tenant registered. We don't like this method and would like to configur

[2019-05-18 16:54] karibertils opened #2218 "Use hashids to hide serial ID's"
For some scenarios it can be useful to hide the ID's to prevent data leak, like how many users are signing up on a platform, growth data etc. And also preventing users to query other items if they know the id on another. I know we can use UUID, but that bloats db, network & client alot.

One pretty mature solution is on https://hashids.org/

It would be awesome, if Hasura could transform IDs to/fr

[2019-05-18 17:40] eliezedeck opened #2219 "Create indexes using the Console"
Hi,

I know you can do that on PostgreSQL, but manually. It would be handy to be able to rely on the Console to do that instead, and also get the `up` and `down` migration files along the way.

As far as I know, at this time, you'll have to craft your own SQL query. That is not only time consuming, but **very error-prone**. Being able to create indexes, even basic ones, right from the Console woul

[2019-05-18 20:34] cantaspinar opened #2221 "Update on allowed queries in console doesn't work without metadata reload"
Hello, I was experimenting with the new cool feature "Allow-list for queries". I realized that it works fine if I add query manually in the settings. However, if I edit and update an existing query, it doesn't work until I manually reload the metadata from the settings. Basically, it looks like you still get the old query until you reload the metadata.

[2019-05-19 01:53] coco98 opened #2223 "Fix broken link on hasura.io/jwt-config"
hasura.io/jwt-config links to https://docs.hasura.io/1.0/graphql/manual/auth/jwt.html#running-with-jwt which is broken.

cc: @praveenweb

[2019-05-19 02:55] jasonmccallister opened #2224 "Add --docker flag to CLI for init"
When scaffolding new projects, it would be really helpful to include the Docker files as part of the init. I think something like this:

`hasura init --docker`

Which in the CLI will just run the command from the [Quickstart with Docker](https://docs.hasura.io/1.0/graphql/manual/getting-started/docker-simple.html#step-1-get-the-docker-compose-file).

`wget https://raw.githubusercontent.com/hasura/

[2019-05-19 03:13] jasonmccallister commented on #1936
I made a PR for the documentation here #1980.

In the application we would just allow that user role to update, and only set the deleted_at, when updating.

[2019-05-19 03:19] jasonmccallister commented on #1175
@tirumaraiselvan thinking about that some more, there are two things that concern me:

- Relationships are stored in another table, so how would it handle nested updates? Would it fire two events?
- Nesting it in new/old could have name collisions but is also something we would catch when adding the column or relationship

Maybe it makes more sense to have it under `event.data.relationship`? If we

[2019-05-19 05:48] rakeshkky opened #2225 "set allowlist table as system defined on migration"

[2019-05-19 06:10] MeixnerTobias commented on #2208
Yes, the format of of jwks urls follow always the same format under .well-known which we can consider public, so I setting it in the http header can work too.

[2019-05-20 00:31] shahidhk opened #2227 "remove google fonts on console"
add them as assets to the `common` directory on CDN.

[2019-05-20 03:08] celvin commented on #1648
I am doing it, but the result is the same

[2019-05-20 03:11] c19 opened #2228 "v1 beta1 doesn't allow multiple relationships including same field"
Reproduce schema:
[code]

If `account_practitioner_info` has two foreign key constrain.
1. ref account_id, practitioner_id in account_practitioners.
2. ref account_id in account_practitioners
both had account_id, then hasura would give the error `more than one foreign key constraint exists on the given column` when click track the relations.

previously works fine on alpha v44

[2019-05-20 04:05] ptrobert commented on #2151
Wish List
For rate limiting it will be good to have a per user per min/hour/ day/ month limits.
A list of blocked users has to be  maintained and ability to unblock them.
Support for remote schemas as well

[2019-05-20 04:57] #2225 closed

[2019-05-20 07:13] shahidhk commented on #1648
@celvin The error says `Fatal Error: JWT conf: Error in $: endOfInput`. Can you double check the JWT secret env var?

[2019-05-20 07:18] dalisoft commented on #2191
@shahidhk any news? can i wait there features soon? thanks

[2019-05-20 07:22] shahidhk commented on #2191
@dalisoft I have added the `ideas` label for this issue. Let's wait for others to pitch in :smile:

[2019-05-20 08:24] dalisoft commented on #2191
Okay, thank you 😉

[2019-05-20 08:53] rikinsk commented on #2223
Fixed

[2019-05-20 08:53] #2223 closed

[2019-05-20 10:29] #2221 closed

[2019-05-20 12:40] datakurre opened #2236 "Postgres 9.4: syntax error at or near \"SKIP\""
I just upgraded from Hasura v1.0.0-alpha40 to v1.0.0-beta.1 on PostgreSQL 9.4 and started seeing the following error on server logs:

[code]
I assume that this was introduced in https://github.com/hasura/graphql-engine/pull/1798 and from the pull it is not obvious if this is an intentional incompatibility with old PostgreSQL 9.4.

[2019-05-20 13:25] jasonmccallister commented on #2216
That is correct, except between step 2 and 3 remove the environment variables for the trigger.

It’s almost as if the migrations need to look into the future migrations and determine if it gets dropped.

[2019-05-20 15:33] celvin commented on #1648
I am using the service url jwks that I am using in for development http://<publicIP>:8081/jwks

[2019-05-20 17:26] celvin commented on #1648
but you are right, I have removed the JWT option and it worked well even with the azure database.

but now I can't see why is working in local host with docker-compose but not in azure with kubernetes,

this is the key in kubernetes environment vars:

{
  "name": "HASURA_GRAPHQL_JWT_SECRET",
  "value": "'{ \"type\": \"RS256\", \"jwk_url\": \"http://{myPublicIP}:8081/jwks\" }'"
},

[2019-05-20 18:37] timminkov opened #2237 "Feature Request: Add a (+) button for specifying conditions on permissions"
Right now the `or` modifier is buried a bit in the dropdown for permissions:
<img width="538" alt="Screen Shot 2019-05-20 at 11 34 59 AM" src="https://user-images.githubusercontent.com/3485060/58043926-5a2c3900-7af3-11e9-9714-36d25b69f564.png">

It would be really nice if there were something like this instead (placed in the appropriate spot):
<img width="446" alt="Screen Shot 2019-05-20 at 11 36

[2019-05-20 18:55] ndarilek opened #2238 "Allow migrations to be forced, and to sync metadata after applied"
I'm attempting to modify a schema where dependent tables weren't set up to cascade on delete. This seems like it should be a simple change, but it isn't, and I'm wondering if the SQL console can give me an "I know what I'm doing" escape hatch in the form of running an arbitrary query, then resyncing metadata after the query completes?

Essentially, my SQL looks like this:

[code]

I've ensured tha

[2019-05-20 19:18] evert-smit commented on #877
This merging behaviour would be consistent with 'native' Postgres behaviour for permissive policies:

https://www.postgresql.org/docs/11/ddl-rowsecurity.html

If a (rough) ETA could be provided, that would be great! Would help to determine if this is nearing implementation.

[2019-05-20 22:42] colundrum commented on #724
Hello,

Actually, I try to compile static binary because Docker isn't a solution

server/Makefile, line 17 : `stack build --fast --ghc-options '-j$(nproc) -optl-static -fPIC -optc-Os -split-objs'`
@shahidhk : we use the same link and I needed to do the swap about crtbeginT.o and crtbeginS.o

and I'm with this known error about libpq : https://github.com/lpsmith/postgresql-libpq/issues/17
If you ha

[2019-05-21 00:10] evert-smit commented on #1941
@coco98 it's an interesting approach and it could probably be useful in certain scenarios depending on your setup.

However, like @PierBover says, a lot of the times you might not even have a specified active role. In my opinion, the option mentioned in #877 - ([this specific comment](https://github.com/hasura/graphql-engine/issues/877#issuecomment-454179247)) should have priority over this approa

[2019-05-21 00:22] tmattio commented on #1766
I would find it very useful as well!

[2019-05-21 00:26] tmattio opened #2239 "Add flag to generate migrations in SQL instead of YAML"
It would be great to have a flag in the console to save the migrations in SQL instead of YAML.

I want my migrations in SQL and it seems that my only option currently is to either create my tables with the SQL panel, or create the migrations manually.

[2019-05-21 00:26] vroad commented on #678
CockroachDB doesn't support triggers at this moment.
Could Hasura implement event triggers without built-in DB support?

Even if that's possible, events won't be fired if you modify the DB directly.

https://github.com/cockroachdb/cockroach/issues/28296

[2019-05-21 04:38] mnlbox commented on #1462
Maybe relate: #1936, #1980
Add `deleted_at` for soft delete support based on current docs.

[2019-05-21 04:58] shahidhk commented on #724
Hi @colundrum, this is a known issue and is a blocker for releasing a statically linked binary.

What you can do is install `libpq-dev` on the machine and then run the binary. It should work. You can take the binary out of the docker container or you can find it here: https://graphql-engine-cdn.hasura.io/server/latest/linux-amd64

[2019-05-21 05:00] #2228 closed

[2019-05-21 05:04] shahidhk commented on #1648
That's awesome. If the questions have been answered, can you close the issue @celvin?

[2019-05-21 07:45] ecthiender commented on #2236
@datakurre thanks for the info. Hasura does not support Postgres 9.4 completely [1]. We will try to fix this.

In the meantime, is it possible for you to use Postgres >= 9.5 ?

[1] See #1450, #210

[2019-05-21 07:54] rikinsk commented on #2238
@ndarilek you don't need to wipe your database for this. you could just follow https://blog.hasura.io/resetting-hasura-migrations/ to reset your migrations only.

Meanwhile, we'll work towards providing the user a weapon to win the fight against the paranoid console.

[2019-05-21 08:25] datakurre commented on #2236
Thanks. I guess I manage with a self-built image without that line until our migration to pg11 is completed.

[2019-05-21 10:06] mnlbox opened #2242 "Add Keycloak Integration Tutorial in learn.hasura.io"
Hi guys,
I see that https://learn.hasura.io is a very helpful resource for creating application with Hasura and other useful stuff.
Now authentication tutorial is based on Auth0 I think another authentication tutorial also can be useful for example now we have https://www.keycloak.org/ as an open source alternative for https://auth0.com.
Keycloak also have a good production ready Hasura connector

[2019-05-21 11:14] dsandip commented on #2237
A quickfix can be to flip the order to have the operators first and the columns next.

[2019-05-21 11:25] dsandip commented on #2188
Ideally, this should get handled by #378, reverting the change to not fetch the entire schema should be a  good temp fix for this. cc: @rikinsk

[2019-05-21 12:13] soheilarmin commented on #877
Having merging behavior on roles would help a lot. Then, we can have another header to bypass the merging and then executing the query with a single role or a subset of allowed roles. Or another implementation which is backward compatible.

[2019-05-21 12:20] Krever opened #2244 "Embed custom header in logs"
Hey,

in our system we use trace ids encoded as http headers to trace the traffic across microservices. Do you think it would be possible to somehow configure hasura so that given http header should be embedded inside log messages?

I expect its not already implemented but would like to learn how much work would it be to add such feature and if it makes sense from your perspective.

[2019-05-21 12:55] rikinsk commented on #936
Solved post beta

[2019-05-21 12:55] #936 closed

[2019-05-21 13:31] evert-smit commented on #2204
Related: #877, #1941

There have been a couple of different proposals and opinions. It would be great if we could get an insight into how you are thinking about this internally - is the plan to leave the roles-related functionality as it is for the time being, or are there plans to do the permission merging even if it's tricky?

I have no idea how long it would take to make the necessary changes,

[2019-05-21 13:38] #1515 closed

[2019-05-21 13:45] colundrum commented on #724
@shahidhk Thanks a lot

On Fedora 30, now I'm at this step … I investigate about this error with ld
<img width="1024" alt="Screen Shot 2019-05-21 at 08 44 06" src="https://user-images.githubusercontent.com/5010785/58101120-a2effa80-7ba4-11e9-98a7-9f7f00eda545.png">

I think that Ubuntu's compilation of libpq doesn't permit but maybe Fedora can be a key

[2019-05-21 14:36] dsandip commented on #611
Comment from Intercom back in the day in #351:

There I add a permission "Tenant-only" f.e. with `X-hasura-org-id _eq org_id`
After that when I create/edit a table I see a list of available permissions and select "Tenant-only" with a checkbox

[2019-05-21 14:37] dsandip commented on #351
Closing this in favour of #611

[2019-05-21 14:37] #351 closed

[2019-05-21 14:45] rikinsk commented on #335
We should facilitate generating views for standard tasks like
- exposing subset of columns
- data aggregations
- joining tables
- using group_by

[2019-05-21 14:56] rikinsk commented on #58
related to: #351 #611

[2019-05-21 14:58] #42 closed

[2019-05-21 19:04] ecthiender opened #2246 "remote schema queries over websocket have wrong response structure"
The `data` key inside `payload` is nested twice, when websocket transport is used. via `cli#5059` on Discord.

![img](https://cdn.discordapp.com/attachments/535727661167673364/580455289116033024/test.png)

[2019-05-21 21:28] cescoferraro opened #2247 "subscriptions on remote GraphQL servers"
The docs clearly states that I should not work. But I found out about the repo here https://github.com/hasura/custom-resolvers-boilerplate. And a issue that implies it works with a bug here #2246. I am trying to follow the customer-resolver example with no luck. Queries work fine. Subscriptions do not work though the merged API. I can still subscribe through Hasura itself.

Should it work? If so,

[2019-05-21 22:15] ecthiender commented on #2244
@Krever we log `x-request-id` header, if sent from client. It gets logged as `request_id`. Does this solve your use-case?

[2019-05-22 00:30] waynebloss opened #2249 "Keep untracked custom functions visible in the UI and explain function requirements"
When there are no compatible custom functions defined in the database, Hasura does not even show the section entitled **Untracked custom functions** in the *Data / Schema* view. Instead, I think it should always show that section with a note stating the strict requirements for functions to show up there.

I had a pre-existing custom function and I didn't understand immediately why it wasn't showin

[2019-05-22 00:41] vroad commented on #678
Latest version of CockroachDB now offers support for experiential change feed.
https://www.cockroachlabs.com/docs/v19.1/changefeed-for.html

Could this be used instead of SQL triggers?
I'm not sure if current Hasura implementation assume that trigger is always available regardless of the database you use, though.

[2019-05-22 01:04] waynebloss opened #2250 "How to pass NULL to a function?"
I created a custom function that accepts a parameter. When I call the function passing `NULL` as an argument from pgAdmin, the function works. e.g.

[code]

However, when I try to execute it with Hasura I get:

[code]

from the following in GraphiQL:

[code]

[2019-05-22 04:58] Krever commented on #2244
@ecthiender oh, thats a great news. It helps indeed! Thanks!

[2019-05-22 04:58] #2244 closed

[2019-05-22 06:00] longfellowone commented on #721
Only thing holding us back from switching over!

[2019-05-22 06:28] ecthiender commented on #2247
@cescoferraro as you have guessed, subscriptions on remote servers are not supported currently. https://docs.hasura.io/1.0/graphql/manual/remote-schemas/index.html#current-limitations

But it is being worked on and will be released soon. You can check out the PR build to test things out in the meanwhile. PR: #1802 (`hasura/graphql-engine:pull1802-602e0ef7`)

[2019-05-22 08:20] rizkyramadhan opened #2251 "Subscription 404 on graphiql console"
![image](https://user-images.githubusercontent.com/126301/58158709-25f87a00-7ca5-11e9-84f7-85dadc9db22a.png)

[2019-05-22 08:33] #2251 closed

[2019-05-22 11:23] #223 closed

[2019-05-22 11:29] arvi3411301 commented on #2174
Tracking with PR #2016

[2019-05-22 12:45] rikinsk commented on #2035
closed by #1933

[2019-05-22 12:45] #2035 closed

[2019-05-22 12:45] rikinsk commented on #2038
closed by #1933

[2019-05-22 12:45] #2038 closed

[2019-05-22 13:11] evert-smit commented on #2109
Ran into this in local dev env too, a reboot fixed the problem.

[2019-05-22 13:13] karthikvt26 commented on #1859
I couldn't reproduce too. Its fixed now I think.

[2019-05-22 13:13] #1859 closed

[2019-05-22 14:06] cescoferraro commented on #2247
@ecthiender I got the engine working at #1802 with the following command

`stack exec graphql-engine -- --database-url=postgres://postgres:docker@localhost:5432/dvdrental serve --enable-console --console-assets-dir ../console/static/dist `

But the merged express api shows all kinds of errors. Queries still work, even though the UI says the server is not reachable.

![hasura](https://user-images.g

[2019-05-22 14:12] ecthiender commented on #2247
@cescoferraro are you merging the hasura server schema to your own express-graphql server? Ah, I thought you were using the "Remote Schemas" feature of Hasura to add your own GraphQL server.

So you have added Hasura to your own express-graphql server, and now want to make subscriptions to Hasura via your own GraphQL server? Is my understanding correct?

[2019-05-22 14:15] cescoferraro commented on #2247
@ecthiender yes! I need to extend the generated schema.

[2019-05-22 15:01] jasonmccallister commented on #1279
@patcito I am sitting at GlueCon Unconference and OpenAPI is here discussing how this should be an option for GraphQL Engines to integrate with existing Open APIs.

[2019-05-22 15:31] ecthiender commented on #2247
@cescoferraro ah then you should look at Hasura logs to figure out what is the exact error.

The above PR and issues I have mentioned are for Hasura's built-in "Remote Schema" feature. Those won't apply here.

[2019-05-22 16:56] cescoferraro commented on #2247
@ecthiender I have cloned the customemr-resolver boilerplate and narrowed down the problem to the apollo-server-express library. I am using the @rc tag that exposes the ApolloServer constructor but still no luck.

[code]

[2019-05-22 17:32] cescoferraro commented on #2247
turns out apollo-server-express changed a bit.
One need to call applyMiddleware and installSubscriptionHandlers on the server before running the http server

[code]

[2019-05-22 17:32] #2247 closed

[2019-05-23 05:36] mnlbox opened #2253 "[BUG] [UI] SQL query result table"
Hi,
I run a query in SQL window in console app but it seems result section has a little buggy UI.
It shows boolean field with `t` and `f` rather than `true`, `false` for a big query result `t` & `f` is a little confusing.
See this image:
![Screenshot from 2019-05-23 10-01-42](https://user-images.githubusercontent.com/25859075/58227913-1418e480-7d42-11e9-92e4-61be8061c90b.png)

[2019-05-23 08:22] mnlbox commented on #836
@shahidhk Maybe some option also useful for example:
* Select schema for import/export
* Export mode
   * Schema only
   * Data only
   * Schema + Data (full mode)

[2019-05-23 09:26] Krever opened #2254 "Squash migrations"
We are just starting to use hasura and I'm trying to modify schema via console UI to leverage automatic migrations. Because it trial and error process I ended up with tens of migration files. These files are meant to be kept in repository and subject to code review. Right now its not possible because all errors in the process are also expressed as separate migrations.

Is it possible to squash the

[2019-05-23 09:43] mnlbox opened #2255 "[COMMUNITY] Add some handy bash to community for simpler development"
I'm creating this bash to dump data and schema. If useful we can add such a small and handy tools or bash in community content.

[code]
What is your opinion?

@shahidhk Some handy tools like your stream about migration. :wink:

[2019-05-23 09:48] coco98 commented on #2254
This blogpost just came out! Hopefully this will help.

https://blog.hasura.io/resetting-hasura-migrations/

Feel free to keep iterating and then when you reach a good checkpoint, you can squash pretty easily.

[2019-05-23 09:58] Krever commented on #2254
Thanks! this sounds like a solution indeed. One thing I still need to investigate is how to make the process partial. By this I mean that migrations currently kept in repository (already committed) should stay but all the new ones (not commited) should be squashed. I think this should be possible but I'm still to verify that.

[2019-05-23 11:54] denizkenan commented on #2254
amazing article finally there :)

[2019-05-23 12:48] #2188 closed

[2019-05-23 13:43] cescoferraro opened #2257 "Disable Mutations vs Mutation Authorization"
I am loving Hasura, but the project I am trying to use Hasura has many security concerns.
I am able to authenticate both http and ws very nicely.

I want to disabled the migrations all together. I am extending the schema so I wish to write my own mutations since the algorithms will most likely involve other API calls. Is there a way to do it? Could not find it on the docs.

Maybe I am approaching

[2019-05-23 14:57] yuuuxt opened #2258 "error on editing a uuid column"
Hasura goes to the error page when I click "edit" on a uuid column.

To reproduce: create a table with column "id"(integer, primary key) and a column "test"(uuid), and click "edit" on column "test" in "modify" tab.

hasura version: beta.2

[2019-05-23 15:06] shahidhk commented on #2258
verified bug.

[2019-05-23 15:34] shahidhk commented on #2257
@cescoferraro You can disable mutations altogether if you add permissions and disallow inserts, updates and deletes.

You can find some examples here: https://docs.hasura.io/1.0/graphql/manual/auth/authorization/common-roles-auth-examples.html

To write your own mutations, you can use Remote Schemas: https://docs.hasura.io/1.0/graphql/manual/remote-schemas/index.html

Check out the authentication

[2019-05-23 16:33] asindl commented on #1983
I wanted to bring this up again. Is there any further consideration on type casting? Especially with spatial data types?
Or is that not on the roadmap?

[2019-05-23 16:46] thetre97 commented on #2258
I also get this when trying to edit a column with an ENUM type - as per https://docs.hasura.io/1.0/graphql/manual/schema/enums.html#option-1-using-native-postgres-enum-type. Not sure if they are related?

[2019-05-23 16:46] thetre97 commented on #2258
The console shows `TypeError: Cannot read property 'slice' of undefined`

[2019-05-24 02:04] corepay commented on #2047
@corysimmons running into similar issue now and yes returning an object on a query would be nice so I can reuse components without restructuring.    Question though (i am still new at all this..) is my table names are singular now - - - so my single object query (for example `for` returning an array (causing me grief) are singular...

[code]

Are you suggesting that I should be able to use `forms(

[2019-05-24 04:35] BenoitRanque commented on #1654
There is a common pattern that I can't find a workaround for without this feature.

The pattern is simple: session cookie, which expires after 30 minutes. Reset the 30 minutes on each request.
This means if the user is inactive for 30 minutes or more, they are automatically logged out.

Currently, I can work around this limitation by initially handling login and setting the session cookie on a sep

[2019-05-24 04:55] celvin commented on #1648
For me is working perfectly, but It was @gaboesquivel who opened this issue.

[2019-05-24 05:16] nlhnt commented on #1368
I got the same issue when trying to use tornado.httpclient. It just tells me there's an error but doesn't say what it is.
Body seems fine- doing same request through postman works. Seems like a permission issue but I have no clue which permissions I might be lacking.

[2019-05-24 08:17] #2258 closed

[2019-05-24 10:00] 0x777 commented on #1654
We'll get this in by the next release or two.

[2019-05-24 11:02] rikinsk commented on #1683
Step 1: make a list of all gaps
Step 2: fork off individual issues for each gap

[2019-05-24 11:17] rikinsk commented on #1742
closing in favour of #458

[2019-05-24 11:17] #1742 closed

[2019-05-24 11:26] rikinsk commented on #1704
Guessing this is added in #2016. @wawhal can you confirm.

[2019-05-24 12:23] tomsutton1984 commented on #2107
Probably a duplicate of #1558

[2019-05-24 13:17] 0x777 commented on #1983
Introducing casting across entire types needs a bit more research and use cases. This particular use case can be solved by having a `_st_d_within_transform` on geometry columns? You'll be able to use it as follows:

[code]

Does this proposal makes sense? @asindl @leoalves

[2019-05-24 13:49] BenoitRanque commented on #1654
I have just noticed the issue I mentioned above is related but different.
1 is about setting cookies from remote schemas
2 is about setting cookies from auth webhook

Should I open a new issue?

[2019-05-24 14:00] #1704 closed

[2019-05-24 14:05] #1882 closed

[2019-05-24 14:05] #2031 closed

[2019-05-24 14:05] #1617 closed

[2019-05-24 14:05] #2174 closed

[2019-05-24 15:10] #504 closed

[2019-05-24 17:21] corysimmons commented on #2047
Yeah, I suppose Hasura would have to have to enforce your model being singular in the db, and then Hasura would just intelligently provide queryable/mutatable plurals and singulars.

fwiw, currently I'm going against my gut and naming db models plural just so the querying/mutating doesn't feel so off...

[2019-05-24 18:12] drewwestphal commented on #1965
This is also an issue for me. I, too, am using a strongly typed language and this renders views practically unusable.

I wonder if an override thru the metadata system which implicitly adds not nulls in the query to protect the integrity of the result-set would be a more feasible workaround compared to complex introspection which even postgres opts not to do.

[2019-05-24 20:51] timminkov opened #2264 "Allow upserts that have conflicting row to return the row"
Right now when you use an upsert mutation and there is a conflict, you're unable to return the row. For example:
[code]
Will return:
[code]
Instead, what it should return:
[code]

[2019-05-24 23:45] GollyJer opened #2265 "react-native tutorial boilerplate setup on Windows 10"
Hi. I have a fresh install of Windows 10, Expo CLI 2.18.2, and Expo SDK v32.

When I follow the install directions at https://learn.hasura.io/graphql/react-native/setup the app won't run.

I was getting babel errors. To troubleshoot I created a fresh `expo init` app and compared the default `package.json` with the one in the `app_boilerplate` download. The major difference was a missing babel entr

[2019-05-25 04:16] shahidhk opened #2266 "tables fail to load on data tab if there are capital letters in table name"
Request:
[code]

Response:
[code]

There is a table called `Chanel`. Herokuapp: https://slack-clone-hasura.herokuapp.com

Seems to be introduced in https://github.com/hasura/graphql-engine/commit/2cdb1a15088424a94318573e13388c5141044cde

`quote_ident` needs to be used?

[2019-05-25 04:18] bendtherules commented on #833
Hi,
I would like to take this up.

[2019-05-25 07:42] #2266 closed

[2019-05-25 09:42] BenoitRanque opened #2269 "Allow auth webhook to set cookies on response"
Hasura does not currently (unless I'm doing something wrong) forward the Set-Cookie header from auth webhooks. This issue is similar to but different from  #1654

Use cases:
- Setting a tracking cookie on unauthenticated requests
- Resetting cookie maxAge on each request. This would be very useful for cookies that expire within a set, short amount of time.

One option would be to forward the Set-C

[2019-05-25 16:22] Manishalexin opened #2270 "Android Apollo Tutorial - Todo App using GraphQL"
Community content for Android Apollo Tutorial - Todo App using graphql on android. This includes app-boilerplate, app-final and tutorial for the android app to setup apollo and make graphql queries, mutations & subscriptions. Tutorial covers all the steps for setup and making graphql calls in an android app.

[2019-05-25 20:20] GollyJer commented on #2265
FYI... I think this is because Expo upgraded to Babel 7 in SDK v32.

[2019-05-26 00:38] donaldaverill opened #2273 "optimise console schema data management"
The issue started sometime after upgrading to beta2. I made some migrations around the same time but I'm unable to pinpoint when this issue started exactly. I tried rolling back some of the migrations and it didn't seem to change anything. The app works fine while connecting to graphql-engine so it's possible I didn't notice that the console wasn't loading since I don't use it every day. The issue

[2019-05-26 02:31] nolandg commented on #1573
@alaarihan The way Prisma solves this is with a `connect` and a `disconnect` field so you don't need to include a million ids in your mutation request. eg:

[code]

Anything not mentioned in these fields is not touched. This works really well for me on Prisma. I'm trying to see how to convert my framework over to Hasura...will require some extra queries me thinks.

[2019-05-26 02:37] nolandg commented on #669
I've described how Prisma handles this in https://github.com/hasura/graphql-engine/issues/1573#issuecomment-495963136

[2019-05-26 02:48] TAnas0 opened #2275 "Auth0 and refreshing expired token"
Hello,

I am struggling to implement authentication into a Vuejs frontend with a Hasura backend.

What I could achieve is setup the initial flow, where I can login using my Google account. The the `/callback` endpoint captures the auth data and can fully display the profile of the user.

I can also take the token and use it directly on a Graphql client.

The problem is that once my token expires,

[2019-05-26 20:32] domusofsail commented on #2273
I can confirm this same issue, starting from beta1. Depending on the size of the mapped schema the console startup query takes way too much to complete, in our specific case about 45 seconds having about 80 tables/views/functions tracked.

[2019-05-26 21:40] tmattio opened #2277 "Track tables created from SQL migrations by default"
I write my migrations using SQL. Unfortunately, I still have to create YAML migrations for every table that I create because the tables created from the SQL migrations are not tracked by default.

I think it is fair to assume that the user wants to track the tables created in the migrations.

I don't know how difficult it would be to implement, but it would definitely improve the migration experie

[2019-05-26 22:36] drewwestphal commented on #1965
Adding in a note from @coco98 in the discord, in case it helps here

![image](https://user-images.githubusercontent.com/229646/58387907-e9da5780-7fcb-11e9-918a-1d1121bffcb0.png)

[2019-05-27 06:55] kopitten opened #2279 "order_by don't use filter where"
Hello everyone,

I got an issue when apply where condition and order_by:

[code]

The order_by don't apply the where condition. it right?

Thank you all.

[2019-05-27 09:10] alaarihan commented on #1573
Yes @nolandg , I'm familiar with Prisma system but if we make this change in Hasura will make a big breaking change to the system so I was thinking in a different way to make it without breaking changes if it possible.

[2019-05-27 09:13] mwMichaelSchnabel commented on #2132
Thank you very much for the answer. I think you are right. I figured the remote schema is not reachable due to a proxy misconfiguration which I cannot solve right now.
Can I just delete the remote schema information in the postgres database to make the hasura container start again or is that a very bad idea?

[2019-05-27 10:50] 0x777 commented on #2132
@mwMichaelSchnabel You can delete it from the database. It'll be present in `hdb_catalog.remote_schemas`.

P.S graphql-engine starts when there are errors except in one case, which is when it is upgrading from an older version. Looks like that's the case here.

[2019-05-27 12:39] 0x777 commented on #2273
A fix will be out in the next couple of hours.

[2019-05-27 12:54] rikinsk commented on #2273
Further optimisations are possible to be made. Keeping this open to track that.

[2019-05-27 13:18] 0x777 commented on #2279
@kopitten This is a duplicate of https://github.com/hasura/graphql-engine/issues/1357. The discussion there tells you why we don't have it yet.

[2019-05-27 13:18] #2279 closed

[2019-05-27 13:21] 0x777 commented on #2269
@ecthiender @shahidhk Makes sense to me. Do you see any issues?

[2019-05-27 13:25] 0x777 commented on #2264
@timminkov Unfortunately empty `update_columns` translates to Postgres's `on conflict do nothing` and that doesn't return any results. So a simple work around is to update one of the columns from the unique constraint (`update_columns: [user_id]`).

[2019-05-27 13:51] ecthiender commented on #2275
@TAnas0 if you're using Auth0, it already supports refresh tokens in its SDK.

This document talks about refresh tokens (with Auth0) in detail https://auth0.com/docs/tokens/refresh-token/current. Look for "SDK Support" section, where Auth0 SDKs have functions to refresh tokens.

Basically the idea is:
1. Before making any request to Hasura, check if the current token is expired.
2. If it is expire

[2019-05-27 14:04] ecthiender commented on #2275
@TAnas0 we found this example that should help: https://github.com/auth0-samples/auth0-react-samples/blob/master/05-Token-Renewal/src/Auth/Auth.js

Look for `scheduleRenewal` method.

[2019-05-27 14:20] #1468 closed

[2019-05-27 15:37] TAnas0 commented on #2275
Thank you. This is much needed and more than enough to get me going :+1:

[2019-05-27 15:37] #2275 closed

[2019-05-27 18:54] drewwestphal commented on #982
Another issue to consider in supporting this feature is the migration side. As you can see from the below, adding values to an enum type is not possible within "transactional migrations" (or transactions generally)

https://stackoverflow.com/questions/1771543/adding-a-new-value-to-an-existing-enum-type/10404041#10404041

[2019-05-28 02:20] kopitten commented on #2279
@0x777 thanks for  your response

[2019-05-28 06:05] 0x777 commented on #2147
@revskill10 Feel free to open this if you face this issue again.

[2019-05-28 06:05] #2147 closed

[2019-05-28 09:45] wawhal opened #2288 "allow setting permissions to restrict access to data but allow aggregate queries"
Thoughts @0x777 @rikinsk @coco98?

Can be achieved with views. But it would be very comfortable if we could set permissions such that one can make "only" aggregate queries. Makes the implementation of `article_downvotes`, `article_upvotes` etc joyful.

[2019-05-28 13:26] dsandip commented on #1495
Use-cases
1) Field not found when the `x-hasura-role` session variable is passed
  Options:
    * Permissions issue: Try running as admin, if it works, you have a permissions issue
    * Type issue: Use docs to figure out the right types to use

[2019-05-28 13:30] dsandip commented on #1495
Show an "additional information" persistent notification with this information

[2019-05-28 14:19] KCErb opened #2290 "Add a `migration_mode` flag to the `console` CLI options"
When using the cli `console` to modify your metadata, you can turn off migration_mode with a little toggle switch. This is great for when you are managing your own schema and don't want hasura to touch anything except its own metadata.

The trouble is that this little toggle is stateful, so if you're running out of docker, you have to remember to flip that switch each time you spin up a container.

[2019-05-28 15:23] coco98 commented on #302
@0x777 Can you add a note on more operators here? What other operators would you like to have?

[2019-05-28 16:29] avimoondra opened #2291 "Dropping a column does not generate appropriate down migration"
Dropping a column from a table does not generate down migration, which is expected to be an alter table/ add column?

`ALTER TABLE table_name ADD COLUMN new_column_name data_type;`

Here's an example (Github screenshot)

![image](https://user-images.githubusercontent.com/2534903/58494867-e4475380-812a-11e9-862d-cf7eddc64987.png)

[2019-05-28 20:18] respectTheCode commented on #982
Looks like this might be a blocker for us. We use ENUMs in our existing database and I am getting an error stating that my schema is invalid from the GraphQL CLI.

[2019-05-28 20:39] respectTheCode commented on #982
false alarm. my problem was related to having a row permission with no columns selected. once I fixed that the schema worked.

[2019-05-28 23:22] nolandg opened #2293 "Possible to insert object with many-to-many relation in one query?"
I already have many `tag` objects defined. I have a `tag_to_post` many-to-many table defined. A user creates a `post`, sets the title, body, etc. and tags it with 3 `tag`s.

If I insert the `post`  and make 3 insertions into the `tag_to_post` table in the same query...it can't work because the `tag_to_post` insert mutation requires the primary key (`id` say) of the new `post` object.

Is there any

[2019-05-29 02:32] tirumaraiselvan opened #2294 "behaviour of reading schema cache in metadata bulk query"
Suppose, I create a metadata bulk query with multiple DDL operations.

[code]

In the execution of ddl3, suppose I ask for schema cache using the `CacheRWM` monad. Will I get the schema cache of the current transaction (which recognizes ddl1, ddl2) or the persisted schema cache?

I have a repro which shows I am getting the persisted schema cache which is undesirable.

[2019-05-29 04:37] jasonmccallister opened #2295 "Allow users to login to Hasura console with a username and password"
While the console is great for an administrator, we also see a need for our API to have a UI to our customer service team to manage items in the API. There are typically two approaches to this:

1. Build the API and then a new UI with Nuxt JS to consume the API
2. Allow certain members access to the Hasura console by sharing the key

Both of these approaches have downsides, for option 1 we would n

[2019-05-29 05:02] mnlbox opened #2296 "[FEATURE][CONSOLE] Relation selector component rather than id for foreign keys"
Hi guys,
For me one of the core feature for data entry is ability to add foreign key based on human friendly component rather than simple text box and enter messy UUID.
One of the reason that now many user like me forced to use extra tools like React-Admin is that manual data entry in Hasura console is a little hard specially when you have many relation and foreign key.
Later I suggested this as a

[2019-05-29 05:03] mnlbox commented on #2295
@jasonmccallister for this use case you can use React-Admin to create a UI around Hasura API and Hasura has a official data provider for React-Admin (Thanks to friendly community and @praveenweb). You can find more detail about this connector here:
https://github.com/hasura/graphql-engine/tree/master/community/tools/ra-data-hasura

Also you can join this Discord channel for knowledge sharing if yo

[2019-05-29 05:05] mnlbox commented on #1487
I this this issue has a more complete proposal for this feature: #2296

[2019-05-29 05:19] #2270 closed

[2019-05-29 05:23] karibertils commented on #877
Running into issues with the current role system and would also like to know if there are any plans/ETA to introduce merged roles ?

[2019-05-29 06:34] karibertils opened #2297 "Add root_query object to permission builder"
Here's an example scenario

user { id name user_groups }
user_group { id user_id group_id user group }
group { id title }
article { id user_id title body user }

Permissions are simple. User role can select all article fields without check and update/delete if user_id matches permission variables

But i want to control who can insert articles without bringing a new role (I have the same scenario f

[2019-05-29 08:48] rikinsk commented on #2288
I think this makes sense

[2019-05-29 09:17] 0x777 commented on #2297
Interesting! So maybe we should allow checking a condition on a different table? For example, in your case you want to check if the user is part of a certain group. So, the condition for inserting on `articles` table is to check if the condition
[code]
holds on the `user_group` table!

[2019-05-29 09:52] revskill10 opened #2298 "Support where clause when creating relationships ?"
In Rails and ActiveRecord, we could have the following relationships:

[code]

As we see, between two tables, there're many kinds of `array_relationship` could be created, using a `where` clause.

Is this feature possible with Hasura ?

[2019-05-29 11:51] #2246 closed

[2019-05-29 11:52] karibertils commented on #2297
Yes exactly! you got it. I think this would make for a much more flexible permission system and compliments the current design perfectly as well. Since you would be able to use the _AND, _OR etc based on both the acting table row and the table row referenced by the session variables.

This can also be useful for many other scenarios. Maybe you want users to be able to modify or delete a table row

[2019-05-29 12:12] shahidhk opened #2299 "document the api for remote schema related metadata actions"

[2019-05-29 13:18] ecthiender commented on #2299
This is already done by @rakeshkky in #2089 as part of docs changes.

[2019-05-29 13:24] 240226068 opened #2301 "Supporting Directives similar to graphql lodash"
Supporting Directives similar to graphql lodash

[2019-05-29 13:33] ecthiender commented on #2291
@avimoondra if you're using the SQL window on console, down migrations are not generated. This is because, arbitrary SQL can be run and we have no way of knowing what the down migration for it would be.

[2019-05-29 13:35] ecthiender commented on #2291
There is a note in the SQL window, but I guess its not very apparent.

[2019-05-29 13:38] ecthiender commented on #2291
@rikinsk @shahidhk @coco98 @0x777 is it a good idea to prompt the user to enter another SQL for down migration?

[2019-05-29 15:40] avimoondra commented on #2291
@ecthiender I think it's relatively clear from the SQL window, but the migrations in the diff pasted were generated from deleting a column via this interface:

![image](https://user-images.githubusercontent.com/2534903/58570751-5a13f380-81ed-11e9-868b-63b285b3fb7c.png)

[2019-05-29 16:40] tirumaraiselvan commented on #2294
Digging deeper, the problem is not that the SchemaCache is old. The problem is that the GCtx is not updated in the `run` function of the DDLs. GCtx is updated using the function `refreshGCtxMapInSchema` function which is called only in `execWithMDCheck` or during `track` and `untrack`.

The repro was:

1. Create and track table
2. Add remote schema
3. Create remote relationship

Since GCtx is not

[2019-05-29 16:42] thangtq-intelads commented on #1983
how to query distance from geog (a column with type geography) to $loc (a parameter) like sql below
select st_distance(geog, $loc) from geo_table;

can you help me?

[2019-05-29 17:03] tirumaraiselvan commented on #2294
@ecthiender Is it okay to explicitly `refreshGCtxMapInSchema` on `add_remote_schema` ?

Only thing we need to be careful is we are not double refreshing the same thing.

[2019-05-29 19:23] coco98 commented on #2295
@jasonmccallister Your use-case makes a tonne of sense.

This is something we've been thinking about deeply and there's a "add collaborator" feature that we're working on. It will allow collaborators to "login" and have scoped access to hasura metadata APIs. Allow API access but no edits on configuration, for example.

Extending this to also allow "end users" and not just collaborators would also

[2019-05-30 08:18] rakeshkky opened #2302 "check input empty strings for metadata api"
Do not accept empty strings for
- Role
- Relation name
- Remote schema name
- Query collection name
- Query name

[2019-05-30 08:58] #2299 closed

[2019-05-30 09:31] thangtq-intelads commented on #1387
me too

[2019-05-30 09:54] karthikvt26 opened #2303 "Remote schema issues during failure events"
I am facing bunch of issues in remote schema.

1) If I try to add a remote schema and if it fails with some error. It still comes up in the left side bar,  deleting which throws an error saying schema doesn't exist.
2) Post addition of a remote schema. If I delete the remote schema graphql server (on heroku) but haven't refreshed the schema yet on the graphql engine side. My table creation fails w

[2019-05-30 15:38] thetre97 opened #2306 "Error on deleting unique column (Create Table page)"
I created a new table, added some columns, one of which I selected as unique. I then deleted this column, and it redirected to the error page, which this in the console:

[code]

[2019-05-31 05:15] shahidhk commented on #2290
The best way to do this would be to have a command dedicated to doing this, instead of a flag for console command.

A flag for console command indicates that this setting is for the session of the console, but this setting is persisted on the database and is available to all consoles connected to this database.

The command could look like this:
[code]

Suggestions/comments are invited.

#### Impl

[2019-05-31 08:11] KCErb commented on #1168
I'm having this same issue, but the migrations don't seem to ever make it in. It seems that it wants to wait 30s but dies and restarts and on the next restart I get no messaging about migrations as if some flag got set and the new instance thinks migrations are being handled by the old one.

[2019-05-31 08:12] dietergoetelen opened #2308 "Documentation apollo subscription"
The following file indicates GraphQL subscriptions do not return data when first connected:
https://github.com/hasura/graphql-engine/blob/master/community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/content/subscriptions/2-apollo-subscription.md

If I recall correctly this is true according the apollo spec but not for Hasura. In Hasura the subscription acts more like a Live query by

[2019-05-31 10:38] KCErb commented on #2290
Awesome, I'll see if I can't put together a PR for this this week.

[2019-05-31 12:01] rikinsk commented on #1168
Reopened for KCErb's issue

[2019-05-31 20:45] #2306 closed

[2019-06-01 00:24] coco98 opened #2310 "Suggestions on improving migrations"
Related to #1211.

This is a quick braindump from a [comment on HN](https://news.ycombinator.com/item?id=20066130) that we should move into different issues:

* Give me the ability to enter JSON directly in the permissions screen. I'm sure the query-builder is visually nice, but I can accessibly edit JSON strings better than you can accessibly visually render them, so let me just give you a string

[2019-06-01 05:23] heyrict opened #2311 "Feature Request: Support graphql union types"
Currently the only method to do query multiple objects in the same time is to define an custom sql function:

[code]

while in the front end we query the search_trigger

[code]

While this should work, we have another type `search_trigger` instead of `article` and `user` in the front end, which can cause many inconveniences, e.g. write new interface and types, inconsistency in local store, etc. It

[2019-06-01 10:18] aszenz opened #2312 "Add ability to untrack existing tracked foreign-key relations"

[2019-06-01 10:24] FluorescentHallucinogen opened #2313 "Update GraphiQL Explorer in GraphiQL Online"
Please update GraphiQL Explorer in GraphiQL Online (https://graphiql-online.com, https://github.com/hasura/graphql-engine/blob/master/community/tools/graphiql-online) to the latest version.

More info about new version: https://www.onegraph.com/blog/2019/05/30/GraphiQL_Explorer_2_0_A_Power_User_Release.html

[2019-06-01 15:15] karibertils commented on #91
+1 Would love to see this implemented

@0x777 hack is useful until then :smile:

[2019-06-01 17:52] karibertils commented on #2297
I discovered a hacky way to do this already in the current system.

Add field "dummy" to user table and any table you want to check with value 1 in all rows on both tables.
Add array relationship "all_users" referencing dummy -> dummy

![image](https://user-images.githubusercontent.com/5122320/58751781-e5fa7980-8492-11e9-8915-81cde761b14d.png)

Except for the hackish approach this works perfectly

[2019-06-02 07:16] dsandip commented on #2312
@aszenz You can drop relationships (*manual or foreign-key-based*) both via the console and the [Metadata API](https://docs.hasura.io/1.0/graphql/manual/api-reference/schema-metadata-api/relationship.html#drop-relationship). Is there any enhancement you are looking for in either/both of these?

[2019-06-02 07:30] thefliik opened #2314 "bug: attempting to edit uuid column with citext extension installed throws error"
The following produces an error and prompts me to report the issue:

1. Create a new table in Hasura web console and save it
2. Modify the table to add a new column `user_id`, specify that the column is not `nullable` (so uncheck the nullable box).
3. Click the "edit" button next to the new `user_id` column.
4. An error page appears, preventing the `user_id` column from being edited.

Editing othe

[2019-06-02 12:37] thefliik commented on #2298
I think the docs answer your question indirectly. Read the section on many-to-many relationships. Specifically, I think you could address this using a SQL View: https://docs.hasura.io/1.0/graphql/manual/schema/relationships/database-modelling/many-to-many.html#flattening-a-many-to-many-relationship-query

[2019-06-02 14:49] thefliik opened #2315 "bug/feature: nested mutation with a circular foreign key dependency"
Not sure if this is a feature request or a bug report.

I'm having trouble inserting a nested mutation with a circular foreign key dependency (document A has a foreign key dependency on document B which has a foreign key dependency on document A).

The schema:

[code]

A `user_profile` has a single `user_sensitive_profile`. A `user_sensitive_profile` has one or more `user_email_addresses`, of whic

[2019-06-02 15:09] thefliik commented on #2315
I may have mis-diagnosed this issue.

I was able to work around this issue by setting all foreign key constraints to `DEFERRABLE INITIALLY DEFERRED` and manually specifying UUID values. I believe this solution only works if someone is using UUID values for ids rather than incrementing integers.

The working query:

[code]

Importantly, I was also forced to manually specify `user_sensitive_profile.

[2019-06-02 20:07] wooque opened #2316 "Using variables destroys performance"
Query without variables:
[code]
Throughput: **3800** req/s

Query with variables:
[code]
Variables:
[code]
Throughput: **980** req/s

In more complex example where I first noticed this performance drop it went from ~1500req/s to ~250req/s.

[2019-06-03 05:28] KCErb commented on #1168
Here is a minimal example that reproduces the issue for me: https://github.com/KCErb/hasura-example-test.

On my real example, I have a web framework ([lucky](https://luckyframework.org/)) managing the database for me. So I am only expecting the metadata.json to run. In this example, I also include a simple migration file for creating a test table. It seems that neither this migration file nor the

[2019-06-03 06:18] 0x777 commented on #2316
Use non nullable variables. The query plan caching kicks in when all the variables are non-nullable scalars.

[code]

[2019-06-03 06:21] 0x777 commented on #2316
Also, if you can spare more than one core to graphql-engine, you can set `GHCRTS` environment variable to `-N` (uses all available cores, you can restrict it by `-N<n>`, like `-N2`).

[2019-06-03 06:46] timminkov commented on #2264
Darn, okay thanks!

[2019-06-03 07:28] heyrict opened #2317 "Feature Request: Event-based subscriptions"
Reopen of #1355 .

To inspect whether it is good to use event-based subscriptions or live queries, I've gone through many articles and found [this comment](https://github.com/graphql/graphql-spec/issues/386#issuecomment-346767043) best describes the current state of live queries and event-based subscriptions.

There are still use cases of event-based subscriptions, especially when performance coun

[2019-06-03 07:30] tirumaraiselvan commented on #2216
The problem can only be solved if we change the migrations architecture significantly. Currently, the migrations system is incremental. It applies each migrations one-by-one and expects to get from one consistent state to next.

The solution is perhaps to:

1. Write one sql per migration
2. Export the complete metadata after the migration

Then the migration system can apply the SQL incrementally

[2019-06-03 08:04] dimofte commented on #1062
@pyankoff I'm facing a similar issue, a subscription is triggering this error after the 1h.
Were you using firebase auth, by any chance? If so, how did you solve this issue?

[2019-06-03 08:11] pyankoff commented on #1062
Yeah, using firebase. I'm getting the firebase token on every request: `const token = await user.getIdToken()`.
Not sure it will fix the 1h problem, but here is my code using Apollo:

[code]

[2019-06-03 08:46] rikinsk commented on #2314
@thefliik Hi. Thanks for reporting this. Unfortunately I couldn't reproduce this on my end.
There should ideally be an error logged in your browser console when the error page appears. It would be really helpful if you could share that.

[2019-06-03 08:54] KCErb commented on #2290
I think I've got a good start here, but not sure how to get the right parameters [right here](https://github.com/KCErb/graphql-engine/blob/5feef8443df23eafbc17ec7413b138be5f4d4eaf/cli/commands/settings.go#L49-L50).

Also not sure what kind of tests could be written.

If you uncomment the given lines you should get a null pointer error from somewhere. I don't know if it's those URLs or something el

[2019-06-03 09:06] aszenz commented on #2312
Instead of dropping a relationship, I want to untrack a certain relationship from the api.
From your example:
`todos{
  users{
    name
  }
}`
How can I untrack the users relationship above, so it isn't shown in the api?

[2019-06-03 09:08] shahidhk commented on #2290
@arvi3411301 Can you checkout @KCErb's comment above?

[2019-06-03 09:49] rikinsk commented on #2312
@aszenz Just to clarify, tracking a postgres foreign-key creates a hasura relationship (ie. exposes it over the GraphQL API). Hence, removing a relationship untracks the foreign-key and stops exposing it over the GraphQL API

Just hit the `Remove` button as shown below:
![Screenshot from 2019-06-03 15-16-56](https://user-images.githubusercontent.com/153602/58792975-d2761c80-8612-11e9-9afe-5de03e04

[2019-06-03 10:14] arvi3411301 commented on #2290
@KCErb you need to pass both databaseURL and sourceURL as arguments to migrate.New method.

[2019-06-03 10:22] #2060 closed

[2019-06-03 10:22] KCErb commented on #2290
@arvi3411301 right, how can I get that information into this context? Is it somehow available on the ec like I have in the commented out part? Or do I need to get it from somewhere else? The migration command gets it from the gin context but I don't think I have that available right?

[2019-06-03 10:25] 0x777 commented on #2238
@ndarilek We fixed the issue with foreign key constraint modification (will be part of the next release). Keeping this open till we allow the user to override the metadata consistency check that the server does.

[2019-06-03 10:26] arvi3411301 commented on #2290
@KCErb you can refer migration status command [here](https://github.com/hasura/graphql-engine/blob/master/cli/commands/migrate_status.go).

[2019-06-03 10:27] arvi3411301 commented on #2290
@shahidhk Can we move settings command as a sub command of hasura migration?

[2019-06-03 10:31] KCErb commented on #2290
@arvi3411301 oh I see, I can use that `newMigrate` function to construct from the EC, nice! Thanks

@shahidhk  In the spirit of "can we move" I was also wondering about doing this as a sub-command structure:

[code]

if we do it as flags, that seems to imply that we could do both:

[code]

but the expected / desired output of a such a thing might not always be so easy to determine. So a sub comman

[2019-06-03 10:45] shahidhk commented on #2290
@KCErb We can do

`hasura migrate settings set <key=value>` and
`hasura migrate settings get <key>`

So that you re-use the code from `migrate` package as @arvi3411301 mentioned.

[2019-06-03 11:57] dimofte commented on #1062
I see, many thanks for the answer!
To me, this looks like the token is produced just before the first WebSocket message is sent, when setting up the subscription, so if the subscription lasts longer than 1h, it will also expire.

Perhaps I'm missing something, like the actual meaning of `lazy` and `reconnect` (although my app behaves the same with both set to `true`. I can't find docs on the topic

[2019-06-03 12:46] rakeshkky opened #2322 "allow functions to use session information through an argument"

[2019-06-03 13:14] pyankoff commented on #1062
I don't know, haven't tested long running subscriptions.

[2019-06-03 13:42] ecthiender commented on #1062
@dimofte The general pattern to refresh a token was discussed here: https://github.com/hasura/graphql-engine/issues/2275#issuecomment-496219942

The pattern should apply for Firebase as well. Firebase SDK should also have similar methods to refresh the token.

[2019-06-03 14:56] thefliik commented on #2314
@rikinsk ok. Just testing again I found that my reproduction instructions were incomplete. I'm not sure which of the following steps are important, but *I think this correctly triggers the error*:

1. Go to data > sql > run `create extension citext`.
2. Create a new table in Hasura's web console named `user_email_addresses`
   - The table should have an `id` column of type `uuid` and default `gen_

[2019-06-03 16:02] thefliik commented on #2293
Just in case you aren't aware, postgres can also generate uuids for you if you set the `id` column default to `gen_random_uuid()`.

[2019-06-03 16:07] rikinsk commented on #1936
Closed in #1980

[2019-06-03 16:07] #1936 closed

[2019-06-03 18:24] wooque commented on #2316
Yep, non nullable variables brought it to 90+% of non variable query performance.
This should really be in documentation because it will byte a lot of people, I didn't even know that variables could be nullable, let alone that there is big difference in performance.

The trick with with `GHCRTS` also improved performance for quite a bit, I'm surprised it's not default

[2019-06-03 19:02] nolandg commented on #2205
I am currently building a framework with Hasura and I'm finding it impossible to follow many security best practices (eg. OWASP cheat sheets) without using the web hook. Correct me if I'm wrong but a simply a JWT in a header doesn't leave many options for CSFR protection and allows anything with access to client javascript to authenticate. The Hasura examples of using the JWT cannot be made very s

[2019-06-03 19:22] thefliik opened #2323 "feature: Polymorphic Relations"
## Feature Request: Polymorphic Associations

The ability to create polymorphic `one-to-one`, `one-to-many`, and `many-to-many` relationships in Hasura. This would necessitate Hasura generating appropriate `union` or `interface` graphql types for the polymorphic association (or some way for the user to create these types).

- _an example of a polymorphic association is a `contact list` which conta

[2019-06-03 20:18] dimofte commented on #1062
Thanks for the link, it's useful, referring to a [piece of code](https://github.com/auth0-samples/auth0-react-samples/blob/master/05-Token-Renewal/src/Auth/Auth.js) which confirms a strategy that I've already tried. It didn't fully work for my setup (react-native with an iOS simulator), but it's very possible to have happened just because of the testing conditions. I will try out this thing soon i

[2019-06-03 20:51] sfkeller opened #2324 "Decent support of hstore and geometry data types"
I'm submitting a feature request, newest Hasura version.

I'd like to make a query which is typical for a database derived from OpenStreetMap and I've read the issues, the docs and made several tests without success so far.

Prerequisites: PostgreSQL 11 and PostGIS 2.5. Datatype hstore requires "CREATE EXTENSION hstore;" and geometry/geograph requires "CREATE EXTENSION postgis;" .

The OSM/PostGIS

[2019-06-04 05:33] KCErb commented on #1168
I was able to fix this issue by changing the entrypoint script to use `nc -z` instead of just `nc` when looking for port 8080 to be up. I'm not sure what plain `nc localhost 8080` does on your machine, but on my docker machine it just hangs. I get a nice clean 1 or 0 exit code with the `-z` flag.

Should I submit a PR or is their something more to this that I don't see from my perspective?

[2019-06-04 05:58] mohankonyala commented on #721
Same here. Would really like to move over but relay support is what is holding me. Any ideas on when this will be available?

Thanks

[2019-06-04 06:05] 0x777 commented on #2316
We'll add this to documentation.

Historical reasons. We'll set it as the default in the next release.

[2019-06-04 06:07] 0x777 commented on #2324
The support for `hstore` is no where near to what we have for `json(b)` columns. The query above is possible currently if `tags` is of `jsonb` type instead of `hstore`.

[2019-06-04 06:08] KCErb commented on #1168
Also, while digging into this I noticed that the messaging is "we'll wait 30s before trying again" but in reality it tries silently 30 times and then gives up. So I think it'd be better to phrase it as X attempts not X wait time.

[2019-06-04 06:52] sfkeller commented on #2324
Ok. Can you give me a correct query given my GraphQL example above?

Did you see the SQL projection clause and the remark in the the output section of my GraphQL query there?
[code]
I'd like to output not the whole tags (hstore or json) but only the addr:street value. Similar to this SQL projection in OSM many POIs (including bakeries) are either captured as point or as polygon (OSM area). So in o

[2019-06-04 07:04] louisdvs commented on #353
For anyone else who gets a little stuck on this, took me a bit of playing to get it working, but my config looks like:
[code]

[2019-06-04 07:05] ecthiender commented on #1190
@0x777 @coco98 we can close this right?

[2019-06-04 07:15] ecthiender commented on #1804
Fixed via #1904

[2019-06-04 07:15] #1804 closed

[2019-06-04 07:16] 0x777 commented on #2324
[code]

You can't do this directly in the graphql api that we expose. Views are a perfect fit for this (we are also adding support for computed columns which will make this better). You can define a view as follows:

[code]

and then query the view as follows:

[code]

[2019-06-04 08:07] wooque commented on #2316
Thanks. I would leave this open as reminder

[2019-06-04 08:35] pronevich opened #2326 "Hasura on Google Cloud Run"
Does anyone have experience using Hasura on Cloud Run? Pros and cons? Currently, existing limitations in WebSockets support for subscriptions, but [seems WS has support](https://github.com/ahmetb/cloud-run-faq#are-websockets-supported-on-cloud-run) with Cloud Run on GKE.

Cold start reported with near [2 seconds latency](https://github.com/ahmetb/cloud-run-faq#does-cloud-run-have-cold-starts) (may

[2019-06-04 09:51] rikinsk commented on #2293
@nolandg this might be of help. <https://docs.hasura.io/1.0/graphql/manual/mutations/insert.html#insert-an-object-and-its-nested-object-in-the-same-mutation>

If you have a relationhip called `post_tags` from `post` to `post_to_tag` table, you can enter a `post` along with its nested `post_tags` into the `tag_to_post` table in a single query. The `tag_to_post:id` will automatically be filled in wi

[2019-06-04 10:07] tirumaraiselvan commented on #1846
This is an exciting new feature we are working on. A preview is also available here: https://github.com/hasura/graphql-engine/pull/1990

Happy to get feedback and use-cases for this feature.

[2019-06-04 10:10] #1654 closed

[2019-06-04 11:29] dimofte commented on #1062
@pyankoff I solved the problem, it was caused by a silly thing: I had a test `console.error` left in case of subscription error. In react-native development mode, this becomes a fatal error, and it was thrown before the SDK refreshed the tokens. W/o this, the SDK keeps the tokens up to date.
Which means your code also works for long-running subscriptions. But, on a side note, I think a better appr

[2019-06-04 12:43] #2250 closed

[2019-06-04 12:43] #2176 closed

[2019-06-04 13:37] natvaldev opened #2328 "Authorization based on roles table"
Is it possible to set the permission for a certain table (`posts` for instance)
using a different table instead the dynamic headers on the request?

For example, testing the user `status` from `users` table when querying `posts`.

[2019-06-04 13:38] rikinsk commented on #2314
This seems to be happening for UUID type columns if citext extension is installed

[2019-06-04 14:42] lobosan opened #2329 "CQRS/ES + Apollo Federation"
Hi guys, last GraphQL contributors day I saw that many companies are experiencing problems with mutations and lately I've been reading about:
[Reactive Architecture](https://www.lightbend.com/white-papers-and-reports/reactive-programming-versus-reactive-systems),
Command Query Responsability Segregation,
Event Sourcing,
Actor Model,
Sagas,
Eventual Consistency
and Apollo Federation.

It seems to m

[2019-06-04 16:21] nolandg commented on #2293
Thanks @rikinsk, that example is for a one-to-many relationship and I assumed there was no support for many-to-many if it wasn't documented. Thanks for letting me know, I'll try it out.

[2019-06-04 17:30] respectTheCode opened #2330 "CLI console subscriptions connect via WS instead of WSS on HTTPS/WSS Endpoints"
I have a hasura server running behind Traefik and configured to require HTTPS/WSS connections. In Chrome the console works correctly, in Safari queries and mutations work but subscriptions don't connect.

[2019-06-04 18:05] ecthiender commented on #2330
@respectTheCode do you see any error in the network tab (of developer console) ? Can you paste the error if any?

[2019-06-04 18:13] respectTheCode commented on #2330
Yeah the error is the 301 because it is connecting to ws:// instead of wss://

```WebSocket connection to 'ws://graphql.xxx/v1/graphql' failed: Unexpected response code: 301```

[2019-06-04 20:57] coco98 commented on #2329
@lobosan Yep yep! We have some powerful things in the works to integrate Hasura's eventing system better. Primarily, the thought process is around modelling mutations as "actions" that will fit in very naturally with a CQRS + eventing based flow.

We'll be starting discussions with the community as early as next week around some of these ideas and would love to reach out to you to set up a chat if

[2019-06-04 21:49] santicomp2014 opened #2331 "Date breaks schema"
Hi
I found that when in use Date type in a column, the schema explorer breaks.

Is this a known bug?.

Thanks

[2019-06-04 22:20] coco98 commented on #2205
@nolandg  I think this is a super important.

For now, working with a webhook, using Hasura CORS settings etc. is the best way forward, but it would be perfect to roll this up as configuration within Hasura itself over time. Also, we want to make sure that Hasura is definitely checks through the entire OWASP list so it would definitely be ideal for Hasura to absorb some of the complexity.

cc: @ec

[2019-06-05 01:55] jasonmccallister commented on #2216
Good point, that is the traditional migration flow. Maybe removing the triggers and squashing commits? This might not need to be solved with tech, but maybe documentation?

[2019-06-05 09:52] ksteigerwald opened #2333 "Feature Request: Allow for data hiding"
**Feature Request**
Allow for data hiding between GraphQL to client as one might wish to obfuscate details of the server on the delivery end.

**Implementation Options**

- Provide PRE/POST hooks on all requests, encoding/encryption can be handled similar to event hooks.
- Provide base64 encoding option under settings

[2019-06-05 13:29] johnrees opened #2335 "[Event Triggers] HTTP 201 'created' response has negative status icon in logs"
If the HTTP response code of a webhook is [201](https://httpstatuses.com/201), it shows a negative red cross icon in the Invocation Logs table.

Perhaps all `HTTP 2xx` status codes should show a positive green check icon?

e.g. first row returned a 200, the second returned a 201

![Screenshot 2019-06-05 at 2 24 15 PM](https://user-images.githubusercontent.com/601961/58959832-cff3fe00-879d-11e9-985

[2019-06-05 14:06] scheung38 opened #2336 "docker-compose-postgis SQL Execution Failed on Win 10"
SQL:

CREATE EXTENSION postgis;
CREATE EXTENSION postgis_topology;

Returns

postgres-error: could not open extension control file
"usr/share/postgresql/11/extension/postgis.control": No such file or directory

[2019-06-05 14:38] tirumaraiselvan commented on #2335
True!

Thanks for reporting! We will fix ASAP.

[2019-06-05 14:51] thefliik opened #2337 "bug: cannot perform nested mutation `A -> B -> C` if B and C share a primary key with A"
This is slightly complicated so bear with me:

When given the following schema, where both `authorSecrets` and `authorFavoriteCategories` share a primary key which references `authors.id`, ***some*** (but not all), nested mutations fail:

[code]

Assuming a `category` exists with id `"f1ec3b13-f17e-4f5a-854a-3cb35066db7a"`, the following query fails:

[code]

The error:

[code]

**However**, if yo

[2019-06-05 14:53] thefliik commented on #2337
#2315 may be related (I think these are distinct issues, but I think I was also running into this issue while trying to diagnose #2315).

[2019-06-05 15:07] thefliik commented on #2315
It's possible this issue is actually the same as #2337. If/when #2337 is fixed, it's worth seeing if it also fixes this issue.

[2019-06-05 15:33] aszenz commented on #2312
thanks finally understood it now.

[2019-06-05 15:33] #2312 closed

[2019-06-05 16:32] rikinsk commented on #2331
@santicomp2014 Thanks for reporting this. What exactly do you mean by the schema explorer breaks? Instructions to reproduce will be of help.

[2019-06-05 19:43] thefliik commented on #2328
The docs describe how to do this: https://docs.hasura.io/1.0/graphql/manual/auth/authorization/permission-rules.html#using-relationships-or-nested-objects

[2019-06-06 01:02] T-Specht commented on #207
I would also find such a feature quite useful.

[2019-06-06 05:33] 0x777 commented on #2315
@thefliik Can you post your sql schema for the tables that are involved and also the relationships?

[2019-06-06 07:16] ecthiender commented on #2336
@scheung38 what is the docker image you are using in your docker-compose file? The default [postgres image](https://hub.docker.com/_/postgres) does not have Postgis extension.

Use this image instead https://hub.docker.com/r/mdillon/postgis/

[2019-06-06 08:04] rikinsk commented on #2328
Might be related to #2297

[2019-06-06 08:05] rikinsk commented on #2328
@natvaldev Can you share more details on the behaviour you would expect

[2019-06-06 08:19] ecthiender commented on #2205
@coco98 #2183 covers reading JWT from cookie and is a WIP. We are evaluating what @campie said about CSRF concerns, and will update here.

[2019-06-06 08:38] heyrict commented on #2317
Here is a cleaner workaround to have event-based subscription, though it needs another graphql server instance to expose the subscription API.
See [heyrict/hasura-trigger-subscription-server](https://github.com/heyrict/hasura-trigger-subscription-server).

[2019-06-06 09:39] 0x777 commented on #2317
@heyrict One of the biggest challenges/decisions with event based subscriptions is how does the client recover from loss of events? Does the server store what events are delivered to clients? This involves maintaining state at the server (using something like a message queue maybe?) and becomes even more complicated when you bring in horizontal scalability of the subscriptions server.

We support

[2019-06-06 11:43] heyrict commented on #2317
@0x777 Well, I like hasura's performant design and don't think bundling another layer inside to maintain state is a good choice.
However, there are still use cases for event based subscriptions and I've seen people using hasura as a remote schema and use custom logic to handle subscriptions. May be it is reasonable to inform users about the possible workarounds in the docs?

[2019-06-06 13:49] petecorreia commented on #2103
It would be amazing to have docs on the items on this list (especially workflow related). Any ETA on this?

[2019-06-06 15:34] msmedes commented on #2293
@rikinsk what if you want to upsert multiple `post_tags` when creating a `post`? The way the docs have it if even if generating `uuid`'s or `int` ids client side you would still need to query the db for each `id` to see if it exists, if so return the `id`, then if not generate a new `uuid` for each new `post_tag` then add it to the `insert`.  I know there is the `on_conflict` option but as far as

[2019-06-06 15:52] thefliik commented on #2311
Related #2323

[2019-06-06 16:04] thefliik commented on #2315
@0x777 I can but I've become convinced that this issue is actually the same as #2337 (which includes a schema / reproduction). This issue was complicated by the circular foreign key dependency, which I've come to realize is a feature request. I'm going to create a new issue focused on that feature request.

[2019-06-06 16:04] #2315 closed

[2019-06-06 16:32] thefliik opened #2345 "feature: reference objects created by a mutation from within the mutation"
Take the following schema with a circular foreign key dependency: the `people` table has a column with a `NOT NULL` foreign key to the `addresses` table, and the `addresses` table has a column with a `NOT NULL` foreign key to the `people` table:

[code]

Currently, in this situation, there is not a way to have graphql-engine automatically populate `id` values in a nested mutation. i.e. the followi

[2019-06-06 16:34] thefliik commented on #2315
I added a feature request for the circular foreign key dependency, along with a sql schema, here: #2345.

[2019-06-06 17:30] nolandg opened #2346 "Feature: Customize name of "admin" role"
Related losely to https://github.com/hasura/graphql-engine/issues/310

It would be a nice-to-have to be able to change the default "admin" role name. I don't think "admin" really describes the role very well in real world use cases. I build an application for a client and give it to them. They are the administrators of the site, they can add users, delete posts etc. I like to call them "admin".

W

[2019-06-07 02:58] shahidhk commented on #2103
@petecorreia I recently did a stream on migration workflows: https://www.youtube.com/watch?v=4Gktdliyc2E

In the stream, I setup a git repo with a branch per env and use circle ci to apply the migrations.

We're starting to write up some of the as byte-sized blogs etc. starting with https://blog.hasura.io/resetting-hasura-migrations/

We'll get to the other ones over this month.

[2019-06-07 04:52] 0x777 commented on #2238
@rakeshkky Can you update the docs about `check_metadata_consistency` option of `run_sql`.

[2019-06-07 06:52] praveenweb opened #2349 "update sample apps for codesandbox compatibility"
The sample apps in the community folder uses window.location.host as the graphql engine endpoint. This doesn’t work out of the box when deployed on codesandbox. Have to change it to environment variables or hardcode the endpoint values as they aren’t going to change.

[2019-06-07 10:24] rikinsk commented on #2293
@msmedes I am not sure I completely understand your use case. But `on_conflict` seems to be what you are looking for. `on_conflict` does not cancel a mutation as you mentioned but lets you decide what the action should be based on the `update_columns` field. In case of nested upserts like our case here, if you pass the `update_column` field as `[<conflict-column>]` the insert should go through as

[2019-06-07 11:59] thefliik commented on #2345
I've learned that this is a postgres limitation: non-null circular foreign keys are not supported:
- https://dba.stackexchange.com/questions/102903/is-it-acceptable-to-have-circular-foreign-key-references-how-to-avoid-them

Given that the only use case I have for this feature request was concerning circular foreign keys, I'll close this issue.

[2019-06-07 11:59] #2345 closed

[2019-06-07 12:42] #2335 closed

[2019-06-07 14:28] #2314 closed

[2019-06-07 19:28] plmercereau commented on #2310
Hello,
Another thing (you may find it silly but still): if in your migration files, you create a remote schema hge will try to connect to this remote schema.
The problem I have is that I later removed this remote schema in the metadata, because I also removed the actual service providing this schema.
The migration then fails as the service doesn't exist anymore...
The workaround I found is to remo

[2019-06-08 01:08] hrgui commented on #2254
Yeah, I kinda wish there was a way in `hasura console` to `commit` all changes as a migration as a button.

Currently we are running into the situation where we end up creating 200 files after deliberating over the schema in `hasura console`.

[2019-06-08 05:22] tirumaraiselvan opened #2353 "move aggregate fields to top level (i.e. remove aggregate namespace)"
Currently, aggregate queries look like this:

[code]

I would really like if we could do aggregate queries like this:

[code]

[2019-06-08 13:54] msmedes commented on #2293
@rikinsk Reading my question back I wasn't that clear, apologies.  You still managed to answer my question though!  I missed the part of the docs where you can set `update_columns` to the `on_conflict` column (before I was setting it to an empty array but that was just canceling the entire insert).  Also did not realize you can do an array of `many_to_many``upserts`.  All sorted, thanks!

[2019-06-09 02:20] tehpsalmist opened #2354 "cloning permissions screwed up my UI"
<img width="852" alt="Screen Shot 2019-06-08 at 22 16 55" src="https://user-images.githubusercontent.com/26337310/59154212-5f6a0d00-8a3b-11e9-85b9-12a0ae5a4a41.png">
This is the result of trying to clone permissions across 6 tables and all 4 queries for each at one time. If I refresh, it's still like this, with those blank permissions, and I still can't clone anything. Nothing worked during clonin

[2019-06-09 12:53] evert-smit commented on #2354
Have you tried reloading the metadata?

[2019-06-09 18:41] thefliik opened #2355 "bug: graphql query with optional `where` can return incorrect results"
### Bug summary

If a graphql query includes an **optional** `where` clause which filters on a relation (e.g.  `Form(where: { opportunity: { id: { _eq: $opportunityId} } })`) and the variable associated with the `where` clause is `undefined` (i.e. the `where` clause should be ignored) that query will *always* return an empty result set if the relation (in this case `Form.opportunity`) has no recor

[2019-06-09 18:51] tehpsalmist commented on #2354
Reloaded the metadata... no dice.

[2019-06-09 20:09] RkmRkm commented on #1883
PO

[2019-06-10 00:08] somarneto commented on #1883
Massa

[2019-06-10 04:51] Mike-Van opened #2358 "Is there anyway i can do filter query and order result by string length of specific column?"

[2019-06-10 06:50] KCErb commented on #1168
@shahidhk Should I open a PR on this? Adding that `-z` flag is critical from what I can tell and an easy fix.

[2019-06-10 08:05] riathakur opened #2360 "TestaRepo"
Demo

[2019-06-10 08:13] #2360 closed

[2019-06-10 08:37] rikinsk commented on #2354
@tehpsalmist Could you share more information on what the rules were, which role were you applying to, etc. Exact reproduction instructions (with a dummy schema if you wish) would be of great help.

[2019-06-10 08:40] petecorreia commented on #1326
any progress on this?

[2019-06-10 08:43] petecorreia commented on #2103
@shahidhk this helped me a lot! Thank you 🙏

I'm super happy with the gitops workflow I've set up with Heroku. Might write up about it when I get some time.

[2019-06-10 12:51] shahidhk commented on #1875
Also need to make sure that the metadata file re-written for each action.

[2019-06-10 13:00] kudep opened #2362 "hasura "CREATE SCHEMA hdb_catalog" invokes "permission denied for database""
Docker compose config parts:
`image: hasura/graphql-engine:v1.0.0-beta.2.cli-migrations`
`image: postgres:11-alpine`
Postgres initialization was based on `https://docs.hasura.io/1.0/graphql/manual/deployment/postgres-permissions.html`
Logs:
[code]
hdb_catalog had be created in postgres init.

a solution with weak security:

Add in postgres init:
[code]

[2019-06-10 13:11] rakeshkky commented on #2355
Hi @thefliik,
The query
[code]
translates to `fetch Forms whose opportunity's id is a $opportunity`. If there are no rows in the `Opportunity` table, this will give you an empty response since `there is no Opportunity for each and every Form`.

To fetch `Forms` whose `Opportunity` is `not null`  use
[code]
To fetch `Forms` whose `Opportunity` is `null` use
[code]
See https://github.com/hasura/grap

[2019-06-10 14:16] pronevich commented on #1532
Spent a lot of time to figure out why ECS tasks stop and what wrong with my elb to ecs setup, /helthz should be mentioned  on every hasura tutorial for containers setup )

[2019-06-10 14:35] santicomp2014 commented on #2331
Thanks for the reply.

Here is a snapshot

![image](https://user-images.githubusercontent.com/9823189/59202627-3ea4d300-8b73-11e9-8b8d-39b8baed96ef.png)

![image](https://user-images.githubusercontent.com/9823189/59202699-6c8a1780-8b73-11e9-9bca-ba478b3d6ad9.png)

If I use a table that contains Date then the explorer is no longer visible.
When I remove such field then it goes back to normal.

I ca

[2019-06-10 14:48] #2007 closed

[2019-06-10 15:03] thefliik commented on #2355
Hi @rakeshkky, when the variable `$opportunityId` is `undefined`, I expected that the query

[code]
would translate to `fetch all forms` ? (i.e. `opportunity: { id: { _eq: undefined} }` is ignored).

This behavior allows/would allow for a query like the following, which can be used to find **either** a form associated with a `ContactList` or a form associated with an `Opportunity`.

[code]
Current

[2019-06-10 17:08] 0x777 commented on #2358
You can do this using views/custom functions.

[2019-06-11 05:42] shahidhk commented on #1532
@pronevich The API endpoint is documented in the API Reference doc: https://docs.hasura.io/1.0/graphql/manual/api-reference/index.html#health-api

We'll try to address it in more places.

For clarification, your ECS setup was using this endpoint or was not using this endpoint?

[2019-06-11 05:42] 0x777 commented on #2355
`undefined` doesn't exist in GraphQL. Your js client will probably not send the variable to the server when you it is `undefined` or set it to `null` (depends on the client).

At the server, if the variable is declared to be `nullable` (as is the case in your example) the variable having an explicit `null` or the variable being absent are treated the same, i.e, the variable gets a `null` value. So

[2019-06-11 05:42] 0x777 commented on #2355
@rikinsk We'll need to document this behaviour.

[2019-06-11 06:08] 0x777 commented on #2324
@sfkeller Hasura has no understanding that the response is needed as a `FeatureCollection`. We can only return a GeoJSON representation for columns of type geography/geometry. If you need such customisation you have two options:
1. Custom functions: https://docs.hasura.io/1.0/graphql/manual/queries/custom-functions.html
2. Remote schemas: https://docs.hasura.io/1.0/graphql/manual/remote-schemas/in

[2019-06-11 06:12] 0x777 commented on #721
No change in status. We'll post an update when we pick this up.

[2019-06-11 06:20] AnnieAtHasura commented on #1875
shahidhkToday at 11:49 AM
For every mutating action on the console (when migration mode is turned off) the CLI will export and save the metadata.yaml file automatically
Need to make sure that is happening

[2019-06-11 06:25] Zoharos opened #2364 "Enable http when ws is not availible on subscriptions"
Hi, I'm trying to use subscription but I can't use ws protocol.
Can you add an option to fallback to http when ws is not availible?

[2019-06-11 06:34] 0x777 commented on #2301
I'm assuming you are referring to this project: https://github.com/APIs-guru/graphql-lodash. The directives in the examples manipulate the shape of the response which may not conform with the published schema. This is acknowledged in the project's readme:

[2019-06-11 06:34] #2301 closed

[2019-06-11 06:38] 0x777 commented on #2237
@rikinsk I like the idea of having `_and`/`_or`/`_not` on the top. What do you think?

[2019-06-11 06:43] pronevich commented on #1532
Thanks, @shahidhk. I just didn't know that it exists and needed for ELB(ALB). That's why when I was starting ECS(fargate) tasks without ALB - all works fine, but when I add load balancer - task stops with health check failing reason. Now I added /healthz to LB target group under health path and all working fine

[2019-06-11 08:50] rikinsk commented on #2237
@0x777 This is already done and live.

[2019-06-11 08:50] #2237 closed

[2019-06-11 09:10] karthikvt26 opened #2365 "Add support to insert/update/clone/delete for editable views."
The existing implementation allows user's to configure insert/update/delete permissions so that view is mutatable via graphql

We can also support the above actions via `Browse rows` too.

via @Dventimiglia on crisp

[2019-06-11 09:20] rikinsk commented on #2330
@respectTheCode We could not reproduce this on our end. The calls via Safari seem to be being made with the `wss` protocol as expected. Can you confirm if your GraphQL API endpoint is also `https`

![Screenshot from 2019-06-11 14-49-54](https://user-images.githubusercontent.com/153602/59259918-425e5580-8c58-11e9-83ee-b23dc28ec6a0.png)

[2019-06-11 09:39] wawhal commented on #2331
Hey @santicomp2014
I tried reproducing this with the schema that you provided. Strangely, it seems to be working fine for me. If possible, could you give some more details i.e. your server version, your browser and if there is any error in the browser's developer console when this happens. It will be really helpful. Thanks.

[2019-06-11 10:02] rakeshkky commented on #1842
Added in https://github.com/hasura/graphql-engine/pull/2075

[2019-06-11 10:02] #1842 closed

[2019-06-11 10:11] rakeshkky commented on #1638
https://github.com/hasura/graphql-engine/pull/1863 solves the problem of HGE crashing if a remote schema is unavailable.

[2019-06-11 10:16] rakeshkky commented on #1638
Do we still want to manually enable/disable a remote schema?
@coco98 @0x777 @ecthiender

[2019-06-11 10:51] rakeshkky opened #2368 "geometry/geography values in event trigger request payload is not geojson"
__Reproduction__:-

Create the following table

[code]
- Define an event trigger on `landmark` table for `INSERT`.
- Make an insert mutation into `landmark` table

Request payload for the event trigger

[code]

`location` value is not `geojson`

[2019-06-11 13:29] #1369 closed

[2019-06-11 13:29] #1831 closed

[2019-06-11 16:39] jjacobson93 opened #2370 "Allow/limit related object insert"
I have similar use-case to the one described [here](https://docs.hasura.io/1.0/graphql/manual/mutations/multiple-mutations.html#insert-an-object-and-a-nested-object-in-the-same-mutation). I have a `projects` table and a `members` table where each member has a specific role in the project. Only an owner/admin role can add new members to the project.

The issue is I want to create a `member` with th

[2019-06-11 17:43] respectTheCode commented on #2330
The endpoint is https but it looks like both chrome and safari are connecting to `ws://`. The difference appears to be that chrome is following the 301 redirect and safari is not.

I am starting the client with ```hasura console --endpoint https://graphql...```

![image](https://user-images.githubusercontent.com/610704/59294120-88ee8880-8c35-11e9-91a1-8647f6f0f707.png)

[2019-06-12 03:39] coco98 opened #2371 "Add export database schema option to settings page on console"
Now that we have an API to export the database schema itself, let's add that as an option on the settings page of the console? Next to export metadata? Or maybe export the whole thing together?

cc: @shahidhk @rikinsk

[2019-06-12 03:45] mnlbox commented on #2371
@coco98 It can very helpful. Now I write a bash for this task. You can see that here: #2255
But a graphical way trough console based on official api rather than `pg_dump` is the best way.

[2019-06-12 03:47] mnlbox commented on #2371
Other related issue: #/2121, #836

[2019-06-12 07:23] natvaldev commented on #2364
`Node` has a library name `socket.io` that fallback to http long polling when it can't establish `ws` connection.
Is it something that can be implemented here as well?

[2019-06-12 08:24] Krever commented on #982
Hey, this is also a problem with codegen tools, that relies on schema to generate proper enums. Right now possible enum values cannot be detected by such tools as postgres enums are translated to grpahql scalar types.

[2019-06-12 09:28] mnlbox commented on #982
@Krever why you use third party schema generator when we have console app for Hasura :thinking:
Any use-case?

[2019-06-12 10:26] Krever commented on #982
@mnlbox I may not phrased myself clearly enough. Im using codegen tool to generate scala code which will be used as a hasura client. The codegen relies on schema returned by hasura via introspection.

[2019-06-12 14:08] lkleuver commented on #2329
is it a realistic (short-term-ish) expectation for Hasura to support Apollo federation?

[2019-06-13 03:16] mnlbox opened #2373 "Add ability to extend console app with a plugin layer"
Hi guys,
I think console app is a very useful and handy thing for many project but now we have many feature request about console app.
If Hasura core team provide a plugin layer around console app then I think community can done many of console related issues as a plugin.
Something like WordPress plugin capability that anyone can easily create and install custom plugin on it without need to fork a

[2019-06-13 06:22] dsandip commented on #1983
@thangtq-intelads Check out this [example in the docs](https://docs.hasura.io/1.0/graphql/manual/queries/custom-functions.html#example-postgis-functions).

[2019-06-13 06:22] ecthiender commented on #2205
We will be having configuration as @campie mentioned to check CSRF tokens from header and compare it with the CSRF token in the JWT claims. Also to option to disable the CSRF check (defaults to false).

However, instead of flags, the entire configuration will be in the `--jwt-secret` flag as JSON. Will update with the exact spec/details in the PR #2327 when we take it up (very soon).

[2019-06-13 07:03] tirumaraiselvan commented on #2373
cc: @rikinsk @dsandip

I like the idea. @hmexx also suggested to have a component integration for console triggers so they can render some nice UI based on event trigger response instead of the json.

[2019-06-13 07:32] amitrajput1992 commented on #1883
Using Hasura at [GMETRI](https://gmetri.com). It's a platform for building AR/VR experiences on the web.
It has been a few months since we started using hasura here and I can say this with absolute confidence that hasura graphql has secured a place in our current and all future workflows.

[2019-06-13 08:22] rikinsk commented on #2330
@respectTheCode Thanks for the extra information. I could reproduce this on the CLI console. We'll fix this soon.

[2019-06-13 08:37] rikinsk commented on #2330
Expected behaviour:
If GraphQL endpoint is `http`, protocols used should be `http  / ws`
If GraphQL endpoint is `https`, protocols used should be `https  / wss`

[2019-06-13 08:42] rikinsk commented on #2370
@jjacobson93 This seems like something that should be possible. Can you share some more information on your tables structure and relationships along with the final query you plan to execute to create the projects and members. It would help to have a more precise discussion and solution.

[2019-06-13 09:19] hmexx commented on #2373
Yes. That was my vision of the MVP version of extensible console.  Manual
Trigger —> Result with HTML (and maybe JS) —> Component rendered in
Console.

More than half the work is done by building out the manual trigger feature.

On Thu, 13 Jun 2019 at 15:03, Tirumarai Selvan <notifications@github.com>
wrote:

[2019-06-13 09:57] #2330 closed

[2019-06-13 11:24] trungtin opened #2375 "Better support for event trigger creation"
When we create an event trigger and selecting webhook url, we have option to use environment variables but we cannot use string template here (`${MY_LAMBDA_DEPLOYMENT}/mytable-insert-hook`, ...), do we suppose to have each env variable for each hook?

And when I try to pull out all the event triggers creation to a separate JSON file to have version control (and so I can use `jq` for templating) an

[2019-06-13 11:38] #1875 closed

[2019-06-13 15:29] shahidhk opened #2376 "Add names to `hasura migrate status` command output"
The output for this command currently lists the version, database and source status. It would be nice if it showed the name of migration as well.

[2019-06-13 16:51] respectTheCode commented on #2329
I am also very interested in this. We are in the process of planning our migration to GraphQL and we don't want to commit to Hasura without a clear way to extend the schema.

[2019-06-13 18:31] jjacobson93 commented on #2370
The projects table:
[code]

The users table:
[code]

And the project members:
[code]

The mutation is this:
[code]

[2019-06-13 23:00] thefliik commented on #2355
Gotcha. This explains what's happening with the query.

Makes sense. Thanks so much for the info!

[2019-06-14 05:14] tirumaraiselvan commented on #2329
Adding to @coco98 's comment here about CQRS/Eventing: https://github.com/hasura/graphql-engine/issues/2329#issuecomment-498840747

Hasura style federation is also coming up very soon. Expect it in early July.

[2019-06-14 05:44] dsandip commented on #2303
@0x777 @rakeshkky FYI

[2019-06-14 09:03] angad777 commented on #2122
@coco98 - Are you referring to https://learn.hasura.io/ docs? Let me know, Happy to help.

[2019-06-14 09:10] tirumaraiselvan commented on #2375
@trungtin Yes, that's right we do not have templating for Webhook URLs yet. We can add this to our queue of tasks.

Regarding the second problem you faced, yes replace only works if the event trigger exists. This means you cannot run just the **last** `create_event_trigger` API directly. You can either:

1. Replace the entire metadata of the system by using any on these APIs: https://docs.hasura.i

[2019-06-14 11:04] manishanaikmmn opened #2378 "Hasura console is not able to reach your Hasura GraphQL engine instance. Please ensure that your instance is running and the endpoint is configured correctly."
when i am trying to access hasura console with port 9695 am getting the message in my chrome browser. My configuration is,
hasura version :  hasura/graphql-engine:v1.0.0-beta.2.cli-migrations
hasura graphql-engine is running on 8080, and cli console is running on 9695.

Please help me to solve this asap

[2019-06-14 16:35] karibertils commented on #1498
I keep running into scenarios where this is required.

[2019-06-14 19:32] nolandg commented on #2205
This might be easy to add now while this is open and I think it's a nice-to-have for improved security: dual auth cookies to allow client-side/offline signout.

One drawback of stateless JWT authentication is you can't really signout or invalidate a token, anyone can use that token to sign in until it expires. The user could clear the auth token cookie from their client but best practice for an au

[2019-06-14 20:19] marcsasson commented on #1225
We are facing a similar situation. @coco98 our use case is we have multiple micro services that reference each other by ids.
An example would be a transactions micro service having references to products that live in a separate micro service

[2019-06-14 22:44] mantagen commented on #1983
@leoalves It seems like the SRID can be defined on a record by record basis as opposed to when creating the field.

Having previously been unable to use *metres* in  `_st_d_within` in a graphql query (without previously writing an sql `VIEW` or `FUNCTION`) I tried the following: I created field type `Geometry` in the hasura console, and inserted a record with the following data in that field
[code

[2019-06-14 22:53] bpiel commented on #1847
Apologies if this is inappropriate hijacking, but:

Has anyone considered, or tried, solving this with pgpool?

https://aws.amazon.com/blogs/database/a-single-pgpool-endpoint-for-reads-and-writes-with-amazon-aurora-postgresql/

I found pgpool just a few minutes ago, but can't find anything online about hasura+pgpool.
Glancing over the docs linked above, it seems like it may be a solution to the or

[2019-06-14 23:21] dukedave commented on #2378
I am getting this too.

CLI `version=1.0.0-beta.2`, MacOS, with engine running via Docker Compose:
[code]

[2019-06-14 23:41] dukedave commented on #2378
I hacked [the install script](https://raw.githubusercontent.com/hasura/graphql-engine/master/cli/get.sh) to force it back to an older version by replacing:
[code]

With:
[code]

Then ran my modified `get.sh` and was able to install the older version and use `hasura console`:

[code]

[2019-06-14 23:42] dukedave commented on #2378
I also tried updating my `graphql-engine` to `beta2`, but got the same `Hasura console is not able to reach your Hasura GraphQL engine instance`. error.

[2019-06-15 02:55] hengsovandara commented on #2378
Same issue here, I have noticed that I have run the hasura console for couple hour, and then back to refresh page, it worked fine. The issue is about _http://0.0.0.0:9694/apis/migrate/settings_ cannot reachable.

[2019-06-15 04:03] tirumaraiselvan commented on #1846
Duplicate of #1225

[2019-06-15 04:03] #1846 closed

[2019-06-15 04:05] tirumaraiselvan commented on #1225
@Oleg2tor @revskill10 @Dorkside @marcsasson

Happy to announce that this feature is almost near completion and expect it in the next one or two releases.

[2019-06-15 04:10] mnlbox commented on #2373
@hmexx so you are working on this now?

[2019-06-15 05:48] ecthiender commented on #2205
Is this a well-known/standard practice? Can you point to any
document/articles where this is talked about in details?

On Sat, Jun 15, 2019 at 1:03 AM Noland <notifications@github.com> wrote:

[2019-06-15 14:30] shahidhk commented on #2378
Hi folks, I am unable to reproduce this. Can you please provide repro instructions?

[2019-06-15 15:05] brodie-hodges commented on #1291
If Hasura had this feature then you wouldn't need a separate remote schema server for 95% of cases. Most other business logic could be handled with events and subscriptions. Couldn't Hasura leverage the remote schema functionality internally to achieve this? Would also be great to have common field validations easily configurable: email, credit card / mod-10,  US state / zip, sql injection prevent

[2019-06-15 16:02] hmexx commented on #2373
No, I am not. I’m afraid I don’t have time to contribute at the moment.

On Sat, 15 Jun 2019 at 12:10, mnlbox <notifications@github.com> wrote:

[2019-06-15 17:41] leoalves commented on #1983
Hi @mantagen ,

Hasura won't set a default SRID for you. It will just convert you GeoJSON to Geometry, using ST_TRANSFORM, in the generated SQL.  If you don't specify the crs, your record won't have the SRID data. And your queries could become inconsistent.  That's why it's better to set the SRID when creating the column.
I can't think of a reason you would want to have different SRIDs in the same

[2019-06-15 19:18] ajit-hi opened #2381 "While writing custom sql function I want to pass array as parameter. I could not figure out if it is supported and if it supported what type should I use."
CREATE FUNCTION search_cities(queue  int ARRAY)
RETURNS SETOF cities AS $$
    SELECT * FROM cities where id IN queue

$$ LANGUAGE sql STABLE;

What should i replace int ARRAY with

[2019-06-15 23:16] leoalves commented on #2381
Hi @ajit-hi,

I know this was not your question.  But maybe you don't know.  This is supported by default in Hasura.

`
query {
  cities (where: {id: {_id: [1,2,3,4,5]}}) {
    id
    name
  }
}
`

If you already knew that.  And you can only solve your issue with a function. My apologies.

Here is how you would solve it with a function.

SQL to create the function

`
CREATE FUNCTION public.search_

[2019-06-16 02:36] kapolos commented on #1941
@coco98 How about this?

Add a new type of check in the permissions that would allow us to do static checks over the `x-hasura-allowed-roles`.

Suppose I have allowed roles of `[user,manager]` and a table `bonus`. As a manager, I should be able to write to the `bonus` table. Then my `insert` check would be something like `'manager' _in X-Hasura-Allowed-Roles`.

In other words, if you extend the ab

[2019-06-16 05:33] tirumaraiselvan commented on #1291
@brodie-hodges For common field types like email, credit card, zip, etc , you can perhaps use Postgres CHECK constraints : https://www.postgresql.org/docs/9.5/ddl-constraints.html#DDL-CONSTRAINTS-CHECK-CONSTRAINTS

For more complex use-cases, we have a solution in the works called "actions" which will be out pretty soon. This will eliminate remote schemas use for tasks like these.

[2019-06-16 06:15] mnlbox commented on #1291
@tirumaraiselvan good news brow :wink:

[2019-06-16 11:46] ajit-hi commented on #2381
Thank you @leoalves .  I'm now able to pass arrays as arguments to custom functions.

[2019-06-16 11:46] #2381 closed

[2019-06-16 18:05] brodie-hodges commented on #1291
@tirumaraiselvan Thanks for the update. Is this on a roadmap somewhere?

[2019-06-16 20:01] dziamid commented on #413
Is it even possible to define a fragment right now?

[2019-06-17 04:24] hengsovandara commented on #2378
For me, I have spawn hasura on the server, and I try to run hasura console cli on the same with port 9695, api-port 9693. but actually, the message from web when we are hitting the web of hasura console cli, it said  _Hasura console is not able to reach your Hasura GraphQL engine instance._. however, after I left the server running that for several hours, I came back to refresh it, it works fine.

[2019-06-17 04:29] manishanaikmmn commented on #2378
I have installed hasura in a dcker container on linux machine.The console with port 8080 and migration to backend database was done successfully.But upon starting the cli console inside the container,it runs saying that it is running on port 9695.Still after hitting the browser it throws the above error.

To understand this,i tried installing hasura cli on linux host directly,still it says running

[2019-06-17 04:41] shahidhk commented on #2378
@manishanaikmmn Running Hasura CLI in docker containers or remote servers is not supported at the moment. We will add this support soon, with https://github.com/hasura/graphql-engine/pull/1780

[2019-06-17 05:52] shahidhk commented on #413
@dziamid You can define and use fragments in the GraphQL query. Are you facing any issues?

[2019-06-17 09:34] rikinsk commented on #2370
@jjacobson93 This is the permission rule you need. Its a little complicated so bear with me while I try to explain the logic below.
[code]
This translates to:

Allow inserting into members table if:

The `user_id` of the `member` being inserted is the same as the `request-user-id` **AND** the member's `project ` does not have any `member` yet with `role` admin or owner (ie: project has no owner/ad

[2019-06-17 09:52] shahidhk commented on #2346
Proposed solution:

- Add an env var `HASURA_GRAPHQL_ADMIN_ROLE` and flag `--admin-role` which defaults to `admin`
- Read this value and add it to the server's context
- Use this value in `isAdmin` function defined in `Hasura.RQL.Types.Permission`

Refactors might be required to get the value into the required modules.

[2019-06-17 11:11] azelazek commented on #1128
Import/export Hasura metadata for postgres schema separately in CLI will be great feature.
We have solution based on modules. Each module has own schema.
It will be solved common problems with version control and deploy.
SQLs are no problem - we use solutions like flyway.

[2019-06-17 13:15] coco98 opened #2386 "Reduce latency of event-trigger webhook call"
This is fairly straightforward to implement.

cc: @0x777

[2019-06-17 15:09] bicho19 opened #2387 "Firebase JWT error : Not valid base64url"
I am trying to add Firebase Auth to Hasura engine, i've added config vars in Heroku. and a Cloud Function to add custom claims. But whenever i try to run a query with the Authorization header i get this error :
[code]

and here is an example token i am passing
[code]

[2019-06-17 16:40] dukedave commented on #2378
Some new clues:

The CLI has alway been working fine on my Mac laptop (Mojave 10.14.5) where the `version` output looks like this:

[code]

**But** my colleague @jd-gray just repro'd it on his Mac laptop (also Mojave 10.14.5), and the output looks like this:

[code]

I wonder why the outputs look different, even though they both claim to be CLI version `v1.0.0-beta.2`? 🤔

[2019-06-17 16:59] dukedave commented on #2378
Aha! I can't speak to the reason for the different outputs show ⬆️, but I have identified what was causing the issue for me:

I had started setting `HASURA_GRAPHQL_CORS_DOMAIN: http://localhost:3000` in my `docker-compose.yaml`, and **that** was breaking `hasura console`.

Removing `HASURA_GRAPHQL_CORS_DOMAIN` makes it work again.

I think the versions were just red herrings (for me, at least).

[2019-06-17 17:16] jjacobson93 commented on #2370
Thank you, @rikinsk! This works perfectly. Closing this issue.

[2019-06-17 17:16] #2370 closed

[2019-06-17 18:54] nolandg commented on #2205
I don't think this is a problem many people have cared enough to solve. I can't find anyone else solving it.

My use case was management software on mobile devices for industrial welding. Very RF noisy environment, workers would have to leave the station but couldn't log out of the time tracking software because wifi dropped momentarily, next worker would then access the previous guy's account. Ex

[2019-06-17 18:55] nolandg commented on #2346
Perfect.

[2019-06-17 20:12] dziamid commented on #413
I surely can, but that would be scoped to a specific query. I was hoping to use a fragment in multiple queries

[2019-06-18 02:39] hengsovandara commented on #2378
Would you mind to give a copy oy docker-compose you use?

[2019-06-18 04:51] manishanaikmmn commented on #2378
@shahidhk Is it not supported for any of the Hasura CLI versions or any specific version? Is there any other workaround to export the data from the back end database using Hasura?

[2019-06-18 05:58] shahidhk commented on #2378
@dukedave The difference in output is because we used to release CLI as part of the a different Hasura product. We recently changed it to a standalone CLI and all new installations will have that.

CORS can cause issues while using CLI. You should add `http://localhost:9695` as one of the CORS domain.

@manishanaikmmn Running the CLI console elsewhere other than localhost is not supported in any v

[2019-06-18 06:06] shahidhk commented on #2378
@hengsovandara Can you provide exact step-by-step instructions to reproduce this? Including your docker compose file etc.

[2019-06-18 07:29] tirumaraiselvan commented on #2097
@mike-thompson-day8 We are beginning to work on this issue. Since a "fire and forget" notification would not work for reliability, we are thinking of providing a "monitoring" webhook instead. The monitoring webhook will periodically receive stats about the event trigger including number of pending events/failed events, breakdown by the hour etc?

Since the monitoring webhook is running forever, yo

[2019-06-18 07:53] ajeetdsouza opened #2389 "Console: edit icon is unclickable when assets are not loaded"
![image](https://user-images.githubusercontent.com/1777663/59662947-9ffc2000-91cb-11e9-96e2-5c906564f11a.png)

The "edit" action for changing table name and adding a comment uses a simple icon, which is unclickable when assets are not loaded. It would be much better if this was changed to a button, which would remain visible even without the loaded assets.

[2019-06-18 08:14] strongSoda commented on #2389
This is related to this #2198

[2019-06-18 08:15] m13m commented on #2346
Taking a shot to add this feature

[2019-06-18 09:46] barbalex commented on #1387
Mee too.

But in the meantime I use this rather usable workaround:
1. create a view containing the table id and all computed fields
2. create a relationship from the table to the view, name it `computed`

Example:

create the view:
[code]

query the table including computed fields:
[code]

[2019-06-18 09:55] shahidhk commented on #413
@dziamid Can you elaborate on the use case?

[2019-06-18 10:53] Fxlr8 commented on #982
any updates on this one?

[2019-06-18 10:53] mike-thompson-day8 commented on #2097
Yeah, I think that would work.

This monitoring endpoint could be a serverless endpoint somewhere that sends an email in the case it sees many failed webhooks or many being retried.  Or something.  This satisfied my goal of "not failing silently".

So, questions:
  1. would it be one monitoring webhook per regular webhook?
  2. a configurable cadence? Once every hour? Once every 5 mins?

Aside:  I

[2019-06-18 11:00] dziamid commented on #413
Sure, this is essentially from the perspective of DRY and consistency of interfaces.
e.g I have typescript types like this that I use throughout the app:

[code]

I'm looking to mirror this in queries with fragments like this:

[code]

I know this comes with a cost of over-fetching, but this is not something I care about, not at least during the prototyping phase.

[2019-06-18 17:28] domasx2 commented on #2254
My company also ran into the issue that large amount of migrations were hard to review. I made a small CLI tool that will squash uncomitted migrations to a single migration, while also prettifying sql and pruning repeat permission edits: https://github.com/domasx2/hasura-squasher

[2019-06-18 17:32] Zoharos opened #2394 "Placeholder when inserting row shows text instead of smallint"
Hi guys, I configured a column to be a smallint and when I wanted to insert a row I noticed the placeholder of that column is "text" instead of "smallint".

[2019-06-18 17:33] #1591 closed

[2019-06-18 22:12] ekifox commented on #2329
@tirumaraiselvan @coco98 Will hasura's federation be compatible with apollo version?

[2019-06-19 09:02] wawhal opened #2396 "header state for create-remote-schema is not cleared after creating the remote schema"

[2019-06-19 09:10] karthikvt26 commented on #2396
Verified and steps to repro:

1) Create a remote schema with headers
2) Click on create remote schema button on the left shows the old headers

[2019-06-19 10:54] rakeshkky opened #2398 "renaming column is failing if table has insert permission"
__Problem:__

Renaming a column is failing if a table has insert-permission where the column
being renamed is defined in insertable columns. See [here](https://docs.hasura.io/1.0/graphql/manual/api-reference/schema-metadata-api/permission.html#insertpermission) for more about insert permission API reference.

__Solution:__

The cause for the above problem is insertable columns are not being added

[2019-06-19 11:47] karthikvt26 opened #2399 "Postgres query to fetch pg_types, default function fails for pg_version < 10"

[2019-06-19 11:55] benwhitman commented on #2109
+1 for leeway. I've got this currently in a multi-AZ kubernetes environment. Hasura in one AZ, Keycloak in another with 20s difference. Yes i know i should fix that discrepancy but leeway would help.

[2019-06-19 14:11] trungtin opened #2403 "[console] table with `actions` column or relationship will override the "actions" on rows"
The title has it all :D

![image](https://user-images.githubusercontent.com/8097699/59772770-9dd2b800-92d6-11e9-9fd0-4474caffaa65.png)
the leftmost column should be this
![image](https://user-images.githubusercontent.com/8097699/59772880-cd81c000-92d6-11e9-976b-f2e9c52773b7.png)

[2019-06-19 18:41] rubyonrials opened #2404 ""permission denied for schema public" caused by Postgres docs permissions setup"
PostgreSQL version: 10.5
graphql-engine version: v1.0.0-beta.2
Provider: Docker for Mac, on local machine

I have followed the following docs for up Hasura from scratch, with an existing PostgreSQL database, using Docker for Mac on my local machine:
https://docs.hasura.io/1.0/graphql/manual/deployment/docker/index.html

This doc references the need to set up PostgreSQL permissions for the `hasurau

[2019-06-20 03:13] Youhan commented on #2323
Laravel eloquent also has very nice polymorphic relations implemented
https://laravel.com/docs/eloquent-relationships

[2019-06-20 03:23] Youhan opened #2407 "Has-one-through and has-many-through"
So
[code]

An `Article` has one `Author`
An `Author` has many `Articles`
An `Author` is from one `country`
A `Country` belongs to many `Authors`

Now you want to query all Articles from a Country.
So `Article` is related to `country` **through** `author`

How do you implement that with Hasura?

[2019-06-20 05:31] rikinsk commented on #2389
Closing in favour of #2198

[2019-06-20 05:31] #2389 closed

[2019-06-20 05:50] thefliik commented on #2323
@Youhan Looks like Laravel takes the same approach as ActiveRecord. As I pointed out in the "possible implementations" section above, while that strategy is pretty easy to implement at the graphql-engine level (i.e. not the database level), I think it's *probably* a non-starter for Hasura for the reasons outlined above.

[2019-06-20 06:47] rikinsk-zz opened #2409 "add a 'Query performance' section to docs"
Will be useful to highlight some performance improvement guidelines. (especially dealing with relationships)

- Using the Analyze button
- Creating indexes
- Bad query designs with correct ways to achieve the desired result

[2019-06-20 07:07] #2399 closed

[2019-06-20 07:23] trungtin commented on #2204
What is the current behavior of the default-role/role?
From what I experience the `x-hasura-role` is not taken into account as all.
For example with this jwt
[code]
I expect that the role will be 'admin' (as in `x-hasura-role` has specify), but from the log (or query) it return this instead
[code]

And if I omit `x-hasura-default-role` then error will return although `x-hasura-role` is there.

[2019-06-20 07:46] hengsovandara commented on #2378
@shahidhk  we can say, I have a server, running a docker contains 3 images, 2 of Hausra( dev and stage ) and 1 of postgres. and I want to run hasura console cli for _dev_ to migrate _stage_. the point is console cli cannot open from browser and produce the same error of name of Issue.

[2019-06-20 09:07] mastoj commented on #446
What is the status here? Is it a bug or a feature not implemented?

[2019-06-20 09:08] shahidhk commented on #446
@mastoj This is a feature that is not implemented yet. There is a PR open to address it. Should be out in the next release: https://github.com/hasura/graphql-engine/pull/2397

[2019-06-20 09:10] mastoj commented on #446
Awesome stuff @shahidhk ! Is there an ETA on the next release?

[2019-06-20 09:10] shahidhk commented on #446
@mastoj Within two weeks, ideally.

[2019-06-20 09:57] wawhal opened #2411 "remake modify remote schemas page"
The UI is totally different than rest of the console app.
It should either use editors like we do in ModifyTable and ModifyTrigger page, or a single current page that is already in editable mode (shouldn't need to click the modify button at the bottom of the page to toggle into the modify mode).

Suggestions are welcome @rikinsk @karthikvt26 @coco98 @dsandip

[2019-06-20 10:30] #314 closed

[2019-06-20 10:54] #2396 closed

[2019-06-20 10:58] dsandip opened #2412 "Automatically track existing and new tables is a schema(s)"
Allow GraphQL engine to be configured with a list of PG schemas and, when this config is applied, automatically track any table in these schemas (*exiting and created newly after HGE has started*).

[2019-06-20 11:23] #2403 closed

[2019-06-20 12:04] OLDIN commented on #2047
When will support for a single query be implemented?

[2019-06-20 12:45] coco98 commented on #2047
@OLDIN There's already a `table_by_pk` style query root that you should see. We're going to make it easier to rename that to a better form.

[2019-06-20 14:20] revskill10 commented on #2047
@coco98 I see Hasura understands unique key constraints, so is it possible to autogenerate `table_by_unique_key_constraint` which return singular response also ?

[2019-06-20 14:30] corepay commented on #2047
afaik - response is an array even for single object fetch. I  just extract the index[0] and assign to an object when received, problem solved.  example.  var item = this.items[0]

[2019-06-20 14:37] tehpsalmist commented on #2354
yeah, it was full permissions (all fields, select/insert/update/delete, no checks) being applied to a "user" role. I think the issue came about because I did not save the initial rules, but instead configured them and went straight into cloning without hitting save on the initial rule first (select, no checks, I forget which table I started with). Is that enough information? I had also configured

[2019-06-20 15:34] yyunak commented on #1418
@shahidhk would it make sense to have this is a start-up options, so that it can be turned on from docker-compose? triggering a cli tool is not exactly convenient in a containerized environment.

[2019-06-20 17:29] mradke opened #2415 "`--disable-subscriptions` flag in order to disable subscription support"
I just discussed this with @0x777 on discord.

Currently I would like to forgo the subscription part of hasura since I'm taking care of that myself (and fundamentally different). Therefore I do not need the websocket part at all.

Fewer moving parts means, lesser things that can break: so I am proposing a flag to turn off the subscription feature altogether.

---

Since this is my first issue in t