[2022-05-26 01:56] KrishnaPG opened #8528 "How to know what permissions a user have for a table, through API"
While building the UI, certain parts of UI need to know if user is allowed access or not.

For example,
 - menu links enabled/disabled,
 - buttons enabled/disabled
based on whether user is allowed to perform an action or not.

This requires querying what permissions a user have for the underlying resource/table etc.

Any example that demonstrates how to achieve this functionality with Hasura backe

[2022-05-26 07:18] zack294 commented on #5552
so i was creating custom authentication, and adding x-hasura-role in the token fixed it for me.

[2022-05-26 07:45] abhi40308 commented on #8097
hey @johndevs with the new api update, you could change the `content-type` of request body within the `body` field itself, we have it [here](https://hasura.io/docs/latest/graphql/core/api-reference/syntax-defs/#bodytransform) in existing documentation, and we're in process of updating the docs to make it clear with examples.
You can for example give the body field as:
[code]

[2022-05-26 10:45] zmitry commented on #3685
We are also interested in this one. We are using open policy agent and having permissions in hasura is not what we desire.

[2022-05-26 12:00] m-revetria commented on #2575
I have a similar use case: only rows with a date greater than `current_time` should be returned. Is possible to define a default filter? I think in my case being able to define a default filter applied to every query could be a solution. Is that possible?

[2022-05-26 12:46] adamfeldman commented on #8491
It's a positive sign to see some co-marketing work by Cockroach and Hasura! https://hasura.io/events/webinar/hasura-hosts-cockroach

[2022-05-27 02:53] Kaelten commented on #8525
Correct.  I saw the same thing in my experimentation.  However (best I can tell) with the current implementation it becomes disruptive to add optional args to a function that's been previously released without one.

[2022-05-27 05:14] soupi commented on #8462
Thank you for your patience, this issue has been fixed via https://github.com/hasura/graphql-engine/commit/2b3d7c407b0de54f3f197a3a56d5e6be5b80bf96 and will be available in the next release. In the meantime, you can try it out using the Docker image: `hasurabuild/graphql-engine:mono-branch-dev-f5f5815d9-main`.

[2022-05-27 05:14] #8462 closed

[2022-05-27 09:33] mnlbox opened #8532 "Distinguish the tables from views from API"
### Is your proposal related to a problem?
no.

### Describe the solution you'd like
I'm currently using `/v1/metadata` a lot in my app (with type: `export_metadata` type as a parameter) I have a lot of tables and views in my DB and want to do some logging tasks in my **tables only** but currently, I haven't any clean and simple option to distinguish the tables from views from this API result:
We

[2022-05-27 10:13] abooij commented on #4577
Fixed by v2, which doesn't cache query plans.

[2022-05-27 10:13] #4577 closed

[2022-05-27 10:18] abooij commented on #3773
This should be fixed by v2, which doesn't use a query plan cache.

[2022-05-27 10:18] #3773 closed

[2022-05-27 10:59] mdovn commented on #8455
I confirm that this one affect us as well. We are using hasura cloud

[2022-05-27 12:48] GameScripting commented on #2699
As suggested per https://github.com/hasura/graphql-engine/issues/1920, we implemented this using a SQL view.

[2022-05-27 13:21] harishnair96 commented on #8047
@rogerso We were able to reproduce this function on `v2.6.2-cloud.1` and was able to confirm that it works as expected. Can you confirm that the table `users` has `select` permissions on the roles `staff` and `player`. According to our [docs](https://hasura.io/docs/latest/graphql/core/databases/postgres/schema/custom-functions/#permissions-for-custom-functions), it is necessary for the returning t

[2022-05-27 13:53] corysimmons opened #8533 "Feature Request: Graph Database"
### Is your proposal related to a problem?

I hate join tables. They clutter everything and complicate db architecture a lot. They grind to a halt during friends-of-friends-of-friends queries.

I'm unsure of where their performance breaks down, but I love the idea of relationships being first-class citizens.

### Describe the solution you'd like

I think graph dbs are a great solution to a plethor

[2022-05-27 16:32] jesse-savary commented on #8413
Running into the same issue. I'm using [Tailscale](https://tailscale.com/) to connect remotely to a machine running Hasura GraphQL Engine. I'm not sure how the CLI does DNS lookups but something is off:
[code]
I am able to connect if I use the IPv4 address provided by Tailscale.

[2022-05-27 17:40] Camsteack commented on #3606
It would be great to have something like that ! My main issue personally is that each schema needs to have a complete set of duplicate metadata so it makes it really difficult to apply updates once you start have more than a few tenants. Is there a plan or a way to handle that better where we could only have one set of files that we could apply to each schema ? That would be awesome as at the mome

[2022-05-27 18:14] rogerso commented on #8047
Yes, `player` has `select` permissions, though with the custom check `{"id":{"_eq":"X-Hasura-User-Id"}}` and with access to some columns only.

[2022-05-27 21:42] sytabaresa commented on #8154
hi!

any progress on this?

[2022-05-28 10:05] misha-front commented on #8455
I confirm this. Our team ran into this problem by trying server version 2.6.0 with cli 2.6.0 and server version 2.7.0 with cli 2.7.0.

We got around the problem by downgrading the cli version to 2.5.0

[2022-05-28 21:51] robertsosinski commented on #8222
Echoing again the maintenance benefit of this. With functions that use `returns table(...)`, updates to the return signature are easy; you just drop and re-create the function. These functions do have a signature that relies on tables or views, which can be much more challenging to update.

It is also a better security pattern, as these functions explicitly define exactly what data gets returned.

[2022-05-29 02:34] rongcuid opened #8535 "HASURA_GRAPHQL_DATABASE_URL no effect"
### Version Information

Server Version: 2.7.0

### Environment

Docker compose

### What is the expected behaviour?

The following `docker-compose.yml` should give a running instance with `default` database connection, but it does not.

[code]

### Keywords

* HASURA_GRAPHQL_DATABASE_URL
* PG_DATABASE_URL
* Configuration

[2022-05-29 10:10] joserocha3 commented on #8475
@sassela from v2.7.0 (and possibly v2.6.2) inserting more than one empty objects results in a single record. On v2.6.0 it inserted two records.

Is a single record the expected functionality or is that a bug?

Mutation:

[code]

Result:
[code]

[2022-05-29 18:59] kaushik94 commented on #8535
Try

[code]

After that you need to manually track it

[code]

[2022-05-29 19:10] BenoitRanque commented on #8475
@joserocha3 can reproduce, this is a bug. Thank you for bringing it to our attention.
This may be due to using
[code]
To cover this case. The above works for a single row, but not multiple.
This can be worked around by using the following statement instead (note the columns are not specified)
[code]

[2022-05-29 21:10] rongcuid commented on #8535
Is this second command documented anywhere? I didn't get this from the quick start documentation.

[2022-05-30 02:29] joserocha3 commented on #8475
@BenoitRanque thank you so much for confirming! Is a fix something we can expect to see soon?

[2022-05-30 07:57] sherlockshao opened #8536 "`Insecure TLS Allow List` should support environment variable"
### Is your proposal related to a problem?

 Webhook-QA, Hasura-PROD --> Webhook-PROD.
The `Insecure TLS Allow List` in managed by metadata, it should use same metadata to deploy on DET, QA and PROD.
It's not make sense to config all domain name(Webhook-DEV, Webhook-QA, Webhook-PROD) together with each Hasura environment.
-->

### Describe the solution you'd like

[2022-05-30 09:58] happy-machine opened #8537 "Please move the scroll/count of rows facility to a position that is above the table, not below as currently"
Posting on behalf of my boss!

### Is your proposal related to a problem?

When you set the table to view 100 rows - you have to scroll to the bottom of 100 records to use the scroll bar, but then you can’t see the table headings. And I then “forget” that it is there and think I’ve lost columns, and can’t see the bit that says “5 rows” to change it -  you have to go all the way down to see that. I

[2022-05-30 13:42] a-rayene commented on #3919
I'm facing the same issue on Hasura 2.4.0;
I'm generating the jwt token like this:

`export function generateJWT(params: GenerateJWTParams): string {
  const payload = {
    "https://hasura.io/jwt/claims": {
      "x-hasura-allowed-roles": params.allowedRoles,
      "x-hasura-default-role": params.defaultRole,
      ...params.otherClaims,
    },
  };
  return jwt.sign(payload, HASURA_GRAPHQL_JWT_S

[2022-05-30 14:11] soupi commented on #8475
A fix has been merged via https://github.com/hasura/graphql-engine/commit/ae0dae0eed8693709e6c849cab713ab0d3e05c08 and will be available in the next release. In the meantime, you can try it out using the Docker image: `hasurabuild/graphql-engine:mono-branch-dev-a4eebf7d7-main`.

[2022-05-30 14:11] #8475 closed

[2022-05-30 14:55] switchnollie opened #8538 "cli-migrations-v3 Image fails on startup with key "tables" not found path `$.args.metadata`"
I am trying to run Hasura in a Docker container on AWS Elastic Beanstalk using the cli-migrations-v3 Image to auto-apply metadata (I manage migrations with another tool).

I followed the steps from https://hasura.io/docs/latest/graphql/core/migrations/advanced/auto-apply-migrations/ and got the error `failed waiting for 9691` which is also described here: https://github.com/hasura/graphql-engine/i

[2022-05-30 17:25] fedekau commented on #6192
Thanks for the detailed explanation @lexi-lambda! We have just faced the same issue and your explanation was really good. I see no activity on this for more than a year, does anyone know if some progress has been made on this? Or there are workarounds to the problem?

[2022-05-30 17:34] harishnair96 commented on #8047
@rogerso We were unable to reproduce the issue with the provided information. It might be helpful for us to have more information. Would you mind sharing with us the relevant table metadata, SQL commands used to create the tables, payload of JWT token you are using and also the JWT configuration (you don't have to share the secrets that are part of the JWT configuration)? You can also take a look

[2022-05-31 04:27] KazukiHayase opened #8539 "Executing query fields defined by remote schema with input variables will not cause errors"
### Version Information

Server Version: v2.7.0

### Environment

OSS

### What is the expected behaviour?

Executing query fields defined by remote schema with input variables will not cause errors.

### What is the current behaviour?

Executing query fields defined by remote schema with input variables will cause errors.

[code]

### How to reproduce the issue?

1. Add remote schema
2. Add type

[2022-05-31 05:27] dvasdekis commented on #1119
With the announcement of [Cloudflare D1](https://blog.cloudflare.com/introducing-d1/), this would be more useful than ever!

[2022-05-31 07:29] WGTW opened #8540 "Add a 'run now' option to Cron Triggers"
In order to test development of Cronjobs it would be beneficial to run them when the supporting code has been updated to reflect a change. For now you have to set the Cron Trigger to once a minute in Hasura. This becomes a nuisance to wait and test your new implementation.

I propose **an option which runs the Cron Trigger immediately**, such as a 'Run now' button which bypasses the chosen Cron Sc

[2022-05-31 13:07] rikinsk opened #8541 "console: codegen fails for actions with scalar output"
### Version Information

Server Version: v2.6.0

### Environment

All

### What is the expected behaviour?

Action codegen should work for actions returning scalars

### Keywords

### What is the current behaviour?

The console throws an error while generating code

### How to reproduce the issue?

1. Add the following action

[code]

2. Head to the codegen tab

### Screenshots or Screencast

![co

[2022-05-31 13:22] rikinsk commented on #8535
@rongcuid i was unnfortuantely not able to reproduce this. starting hasura with your configuration does start hasura with a default db connected. could you add any more details on your setup that might help reproduce this.

[2022-05-31 13:38] namoscato opened #8542 "Untrack table not removing metadata files"
### Version Information

Server Version: v2.6.2 (config v3)

### Environment

OSS

### What is the expected behaviour?

Clicking the "Untrack Table" button on "Data > Table > Modify" should additionally remove the referenced `metadata/databases/*/tables/*.yaml` files

### Keywords

untrack table, yaml, metadata, console

### What is the current behaviour?

While the `!include` array entries _are_

[2022-06-01 03:23] paritosh-08 opened #8544 "behaviour of prefix and suffix in `SourceCustomization` with naming convention"
Before naming convention was introduced, adding prefix and suffix was pretty straightforward.

For example, say I have a table called `foo` then HGE generated field names such as `foo`, `foo_by_pk`, etc. Now if I want to add prefix while retaining the snakecase of the fields, I would add prefix `my_prefix_` and suffix `_my_suffix` and thus the new field names will be `my_prefix_foo_my_suffix`, `my

[2022-06-01 09:00] rakeshkky opened #8545 "server/bigquery: determine permissions for computed fields, returning a custom table schema"
We can specify the select permission rule for such computed fields using `computed_fields` in the permission [definition](https://hasura.io/docs/latest/graphql/core/api-reference/syntax-defs/#selectpermission). I'm closing this now.

[2022-06-01 09:38] #8545 closed

[2022-06-01 13:19] rishi-div commented on #8512
@Smibser - this is available in Hasura CE 2.6.0 and later versions.

[2022-06-01 13:37] BenoitRanque commented on #8372
A user has reached out with a detailed use case that requires this feature. Leaving details here

The use case is dynamically granting write access to columns at runtime.

Given the below tables:

[code]

We want two roles: `writer` and `editor`
The `writer` role can insert or update the `title` or `body` columns.
The `editor` role can update the `status` column.

We are trying to create a single

[2022-06-01 21:12] ecmonsen commented on #3919
I had the same issue as the OP. But after upgrading to Hasura server version 2.7.0 it works.

[2022-06-02 08:38] rikinsk commented on #8501
hey. Could you confirm how exactly you are executing the SQL statement?

[2022-06-02 09:20] rikinsk commented on #8535
Thanks for the info. Could you also confirm what metadata you are mounting at `- ./hasura/metadata:/hasura-metadata`. I am wondering if it is possible that an empty metadata might be getting applied as soon as the server starts which is clearing out the database connected by default

[2022-06-02 10:32] Varun-Choudhary opened #8546 "console: text note for the recommendation of using `evn var` to add remote schema is missing"
### Version Information

Server Version: V2.7.0

### Environment

All

### What is the expected behaviour?

For env var for remote schema, text note for recommending to use env var is should be there

![Screenshot from 2022-06-02 15-28-52](https://user-images.githubusercontent.com/68095256/171610425-6d5c9897-4b3f-473c-a1c2-0e23cad63371.png)

### Keywords

### What is the current behaviour?

  Env

[2022-06-02 11:18] outluch opened #8547 "No limit, offset, order_by, where options on related items with remote schema permissions enabled"
### Version Information

Server Version: 2.6.2

### Environment

Self hosted in docker

### What is the expected behaviour?

I can specify order_by for nested things in remote schema. Like in screenshot below when I use admin secret and no role set.
<img width="304" alt="Screenshot 2022-06-02 at 16 01 17" src="https://user-images.githubusercontent.com/1479468/171615984-e96b3da6-9f06-4d2b-a1fb-34be

[2022-06-02 11:24] AndrewCraswell opened #8548 "[Azure] [MSSQL] Can't self-host with MSSQL without maintaining a Postgres service"
### Version Information

Server Version: v2.7.0

### Environment

OSS

### What is the expected behaviour?

The OSS should be able to be self-hosted with MSSQL, without maintaining a Postgres database.

### Keywords

mssql, azure, oss, self-host

### What is the current behaviour?

I have been unable to create an Azure Container Instance using only a MSSQL database. The closest I have come is to c

[2022-06-02 12:44] rongcuid commented on #8535
In fact, Hasura cannot start up at all if I mount an empty metadata directory. I have tried using the default (non-migration) image and without mounting the volumes. It gave the same behavior.

[2022-06-02 13:05] m-revetria commented on #8321
Hello, is there an ETA to get this released? I'm needing this feature to check whether a user has access to some resources stored in a postgres db. In my use case, the permission filter are becoming really complex and they are getting duplicated in several tables, this feature would help a lot.

Thanks

[2022-06-02 13:46] mayank commented on #6902
@0x777 wanna discuss this? How are people validating currently the user requests for custom logics?

[2022-06-02 15:28] arcticmatt opened #8549 "Sporadic "Failed reading: not a valid json value" errors"
### Version Information

Server Version: `v2.6.2-cloud.1`

### Environment

Cloud

### What is the expected behaviour?

The expected behavior is that I don't get any errors.

### Keywords

Remote schema, failed reading, remote-schema-error

### What is the current behaviour?

Occasionally, I will see an error like this:

[code]

However, Hasura doesn't give me much info to debug this. Is something

[2022-06-02 17:00] ElGrecode commented on #8491
According to @coco98 in this morning's webinar with Cockroach Labs, this integration is in progress. They are working out some of the kinks with eventing and might have a multi step integration approach

[2022-06-02 19:19] mcsimps2 commented on #4077
![Screen Shot 2022-06-02 at 3 12 43 PM](https://user-images.githubusercontent.com/26491362/171719472-7956599d-fe11-477c-afb4-71f6735841eb.png)
Tested Hasura 2.5.1 and 2.7.0 running on Google App Engine Flex Environment.  Every time I apply new metadata with the CLI tool `hasura metadata apply`, the system crashes, reaching a whopping 2.5 GB before being preempted.  Typical memory usage is 750 MB.

[2022-06-02 22:45] jflambert commented on #4077
yes I am seeing similar spikes with metadata operations

[2022-06-02 22:48] arcticmatt opened #8550 "Hasura "node limit" is being calculated incorrectly"
### Version Information

Server Version: v2.6.2-cloud.1

### Environment

Cloud

### What is the expected behaviour?

I expect the node limit to be based on the number of nodes in the response.

For more info on node limits, see https://hasura.io/docs/latest/graphql/cloud/security/api-limits/#node-limits

### Keywords

Security, node limit

### What is the current behaviour?

When I set the node l

[2022-06-03 12:35] valstu commented on #4842
Any updates to this?

[2022-06-03 15:01] nickcroce commented on #1175
Bump +1

[2022-06-03 15:12] OgiBalboa commented on #3238
Hey! We're looking forward to this feature!

[2022-06-03 15:40] denis-ryzhkov commented on #5001
Please let me know if you have a better workaround:

### Custom mutations

* If https://github.com/hasura/graphql-engine/issues/5001 is solved
    * Then please replace current `custom_*` types with better solution
    * Else please vote for the issue
* E.g. to add a custom mutation to insert one object to table `item`:
    * Run `up_static` to make sure `static/schema.graphql` is fresh
    * Open

[2022-06-03 17:24] jflambert opened #8552 "[DOCUMENTATION] Incorrect streaming subscription example"
### Version Information

Server Version: 2.7.0

### Environment

OSS

### What is the expected behaviour?

Documentation should be correct.

### What is the current behaviour?

Documentation example has a typo AND doesn't work.

### How to reproduce the issue?

1. https://hasura.io/docs/latest/graphql/core/databases/postgres/subscriptions/streaming/use-cases/
2. run the subscription as-is
3. it wi

[2022-06-03 17:36] seanparkross commented on #8552
Thanks @jflambert will check this out. 🙏

[2022-06-03 17:47] CodingAleCR commented on #4509
Don't if this will help anyone but here it goes:

When working `localhost` or with certain free hosting services you don't get a SSL certificate, and with that your endpoints will need to change from `https` to `http` and from `wss` to `ws`. At least that did the trick for me.

Hope this helps someone.

[2022-06-03 19:20] austin43 opened #8553 "now() does not work with ascending streaming subscriptions"
### Version Information
Server Version: 2.7.0
CLI Version (for CLI related issue): 2.7.0

### Environment
CE

### What is the expected behaviour?
The now keyword should return new items in the stream from when the subscription was initialized.

### Keywords
Streaming subscriptions

### What is the current behaviour?
The now keyword returns an empty data set even when there are items in the stream

[2022-06-04 08:11] AndrewCraswell commented on #1847
@msalehy I'm having trouble understanding why you would need a special image to support Read Replicas here. It seems like the Apollo Client `split()` function here is enough, right? You can setup the self-hosted engine in several regions. Each region would have a read replica db, and the engine would connect to the replica only.

Then using the split function, you ensure that only the mutations go

[2022-06-04 09:51] alherd-by commented on #8503
I faced the same bug, when tried to deploy newly created project to hasura cloud. Hasura init generated metadata without definition key.
Hasura version 2.7.0

[2022-06-04 10:27] msalehy commented on #1847
Practically `split()` simulate same practice from client side. But having read replica need to manage by provider that in this case is Hasura. if you check hasura cloud they do have this feature. any many other network reasons that force solution to have read replica.

[2022-06-04 23:39] larebsyed commented on #8455
yup I can confirm, this is a very annoying bug on hasura cloud

[2022-06-05 21:05] alexgorbatchev commented on #5594
@rikinsk  I would also like that feature. I'm setting up a local k8s development cluster which exposes all services via `https://*.local.dev`, however `local.dev` points to `127.0.0.1`. I can get the console to bootup if i set endpoint to `http://graphql-engine:8080`, but then it tries to use the same URL from the browser, which isn't accessible because it's internal to kubernetes. If i set endpoi

[2022-06-06 06:56] ecthiender commented on #8550
Hi @arcticmatt , is it possible for you to include the query that's failing (with node limit 200)? Or a similar, example one that can be used to reproduce the issue?

[2022-06-06 08:15] tirumaraiselvan commented on #8550
Well, depends on the implementation. In Hasura, same nodes will be counted as many times as they appear in the query.

[2022-06-06 08:27] anantramverma777 commented on #6182
hi i am anant
may i fix this issue

[2022-06-06 10:49] codingkarthik commented on #8455
Hey @avallete, Thank you for the [MRE](https://github.com/avallete/mre-hasura-8455) but while I was trying to follow the steps I ran into some errors, and then I noticed that the `apollo` folder is empty, probably that is causing the errors. It will be awesome if you could update it to get it working because I have not had any luck getting it to repro it myself :disappointed: .

[2022-06-06 12:23] Shalashtein commented on #3423
Since no one has addresses this issue I can suggest my workaround to the issue. Since hasura's events are just wrappers around postgres' events you can disable the event inside your seed files.

Add at the top of the file that has any associated triggers `set session_replication_role to replica;` and then set `session_replication_role to default;` at the bottom of it.

You can add separate files b

[2022-06-06 13:18] avallete commented on #8455
Yeah, sorry for that. I did use a boilerplate to recreate the apollo server and seems like it did mess up with my repository by adding it as a submodule instead of adding the content of the folder.

Everything is fixed on the MRE now, you should be able to follow the reproduction steps ;)

Let me know if encounter any new issues.

[2022-06-06 20:20] jmarbutt opened #8557 "Creating a Event Trigger on MS-SQL on table with reserved name fails"
### Version Information

Server Version: v2.7.0-cloud.1

### Environment

Hasura Cloud

### What is the expected behaviour?

Creating an Event Trigger on MS-SQL on tables with reserved words should create an event trigger.

### Keywords
Event Trigger, MS-SQL

### What is the current behaviour?

When creating an event trigger on table `User` it returns an error:
[code]

In MS-SQL all tables should

[2022-06-06 23:59] AlexeyRaga commented on #3473
While pretty much everyone is looking at Hasura being a consumer of Kafka messages, being able to publish messages from Hasura would also be beneficial?

For example, being able to define a "mutation" that accepts/validates the command and sends it to Kafka...

[2022-06-07 02:46] HananoshikaYomaru commented on #2218
Any update on this?

[2022-06-07 03:15] pranshi06 commented on #8301
Closed via 056765578fa6b23c5d757b7a3e2bf6829cb0d9a0

[2022-06-07 03:15] #8301 closed

[2022-06-07 10:06] MajcenT commented on #4740
Clearing the volume for postgres container and running container again worked for me

[2022-06-07 11:10] kikkupico opened #8559 "[docs] Update preview apps docs with info about SSL mode"
The preview apps docs need to be updated with info about how to configure Postgres SSL mode ( added in https://github.com/hasura/hasura-cloud-preview-apps/pull/84 )

[2022-06-07 11:13] seanparkross commented on #8559
Here is preview apps existing documentation: https://hasura.io/docs/latest/graphql/cloud/preview-apps/

[2022-06-07 11:49] avallete commented on #8455
Interesting thanks for your solution, looks like we'll be able to implement it easily on the user-land side!
Strange it worked until then though? Also wondering, why does the cli recover after "re-saving" the remote schema permissions, the schema definition of Apollo doesn't change in that case 🤔

[2022-06-07 12:17] codingkarthik commented on #8455
The schema definition does change! When you save the permission through the console, it does add the `schema` object type. You can export the metadata and check it :wink: .

[2022-06-07 12:27] codingkarthik opened #8560 "[docs] Add API reference docs for `citus` and `bigquery` sources"
### Description

Currently, the metadata API reference docs only includes metadata APIs for postgres and SQL server APIs. The server supports metadata APIs of bigquery and citus data sources but they are not included in the API reference docs. We should include the API reference docs for these sources also.

[2022-06-07 13:20] sassela commented on #7450
@plcplc @rakeshkky has this been addressed now, by Philip's work on https://github.com/hasura/graphql-engine-mono/issues/2770 and/or https://github.com/hasura/graphql-engine-mono/issues/3500? Can we close it?

[2022-06-07 15:48] rakeshkky opened #8562 "server/bigquery: computed fields ain't working with limit"
TL;DR – The `limit` argument for computed fields is not included in final SQL via `LIMIT` clause. BigQuery throws an exception when `LIMIT` is used after `FROM <table-value function>` expression in a computed field `SELECT` sub-query. Navigate to the end of this description to see probable solutions.

I'll try to elaborate the issue with an example.

Consider the following table-valued function, `

[2022-06-07 20:13] tiafouroohi commented on #8550
We were able to reproduce the issue with the query below.
As you can see, we have 3 overlapping fragments. We expect the node count to be 4, as each type is a node (scalar fields are not counted as nodes). Instead, the node count is 10 as each type field in each fragment is counted as a node.

[code]

[2022-06-08 07:44] tirumaraiselvan commented on #5275
Will be released in `v2.8.0-beta.1`

[2022-06-08 07:44] #5275 closed

[2022-06-08 11:35] rikinsk commented on #8097
closed via https://github.com/hasura/graphql-engine/commit/b09bb602bd325405a3edf26510b6a0f611d76814

[2022-06-08 11:40] simonphughes opened #8565 "Matadata apply timing out"
### Version Information

Server Version: 2.0.1
CLI Version (for CLI related issue): 2.7.0

### Environment

AWS Cloud Hosted - PostgreSQL running on Aurora Serverless, hasura running in 2 containers on ECS fargate, frontend by Load Balancer. All based on cloudformation script provided.

### What is the expected behaviour?
Migrations should run quickly without timing out.

### Keywords
504 gateway

[2022-06-08 11:41] zolamk commented on #8345
Another possible work around might be providing a default value from your remote schema that returns a default for your relationship, maybe even `null`

[2022-06-08 15:49] rikinsk commented on #8321
Apologies for the delay on this. This should be available in `v2.9.0`. As this is a console only issue, In the meanwhile you could directly update the metadata / use the create permission API to to use computed fields in your permission rules

[2022-06-08 16:34] gstewart-anduin opened #8566 "Being able to join from a database table to an action result"
Currently, we can only link actions to database entities via action relationships. However, this functionality is extremely limited. There is no ability to filter out results or iterate. It would also be nice to be able to join from a table to an action result so you can get a superset of the table entity against the action dataset when the action is of type query.

[2022-06-08 16:36] georgiosd commented on #7650
Any progress on this issue? We're having the same problem with Hasura cloud and there's no logical explanation for Hasura exhausting the number of sessions.

[2022-06-08 18:54] #8435 closed

[2022-06-08 19:51] elitan opened #8568 "Default root fields in console are incorrect for `grpahql-default` naming convention"
### Version Information

Server Version: v2.8.0-beta.1

### Environment

OSS

### What is the expected behaviour?

Show default GraphQL root fields correctly.

### Keywords

HASURA_GRAPHQL_DEFAULT_NAMING_CONVENTION, Custom GraphQL Root Fields

### What is the current behaviour?

Setting `HASURA_GRAPHQL_DEFAULT_NAMING_CONVENTION` to `graphql-default` still shows default GraphQL Root Field names as

[2022-06-09 03:09] jags14385 commented on #6783
Should this be closed now ?  @tylerhannan @mehtavishwa30

[2022-06-09 07:06] abhi40308 opened #8569 "console: event triggers with same name under different db's work unexpectedly"
### Version Information

Server Version: [v2.8.0-beta.1](https://hub.docker.com/layers/graphql-engine/hasura/graphql-engine/v2.8.0-beta.1/images/sha256-6dea23cb9ed6dac9ac7aac9db9a2a33d2e041ddc3bc8c11b035043dd452f675b?context=explore)

### Environment
OSS

### What is the expected behaviour?
If i create 2 different triggers under **2 different db's** with same name, they should work properly

### K

[2022-06-09 08:41] rakeshkky commented on #8562
An interesting observation:
I'm experimenting with [correlated subqueries](https://cloud.google.com/bigquery/docs/reference/standard-sql/subqueries#correlated_subquery_concepts). Consider the following simple SELECT query.
[code]
The above query runs successfully and provides the following results
[code]
Introducing a `LIMIT` in the subquery
[code]
raises the following exception

[code]
It is stil

[2022-06-09 09:24] codingkarthik commented on #8455
Closing this in favor of https://github.com/hasura/graphql-engine/issues/8455#issuecomment-1148541121

[2022-06-09 09:46] #696 closed

[2022-06-09 10:12] Deluxo commented on #7228
In release notes of 2.7 I see that MSSQL Event Trigger support is mentioned, but I cannot select MSSQL while creating an Event Trigger (my primary database is PG, MSSQL is a +1).

Is this by design or a bug?

[2022-06-09 10:21] tirumaraiselvan commented on #7228
Console support is still pending and hence we haven't officially released
it. It is slated for 2.9 release.

On Thu, Jun 9, 2022, 3:42 PM Deluxo ***@***.***> wrote:

[2022-06-09 10:30] BenoitRanque commented on #7650
Can you offer more details? Why do you not expect hasura to exhaust the number of sessions, when the load asks for it?

[2022-06-09 10:43] john-westood opened #8570 "MSSQL - Raw sql 'Select getdate()' crashes hasura console app"
### Version Information

Server Version:
2.7.0
CLI Version (for CLI related issue):
2.7.0

### Environment
CE

### What is the expected behaviour?
Running the query "Select getdate()" should return the current date time.

### Keywords

### What is the current behaviour?

Application crashes with this Error

Error: Minified React error #31; visit https://reactjs.org/docs/error-decoder.html?invarian

[2022-06-09 10:55] john-westood opened #8571 "MSSQL - Running query "select sysdatetimeoffset()" on hasura console app returns error"
Version Information
Server Version:
2.7.0
CLI Version (for CLI related issue):
2.7.0

Environment
CE

What is the expected behaviour?
Running the query "select sysdatetimeoffset()" should return the current date time offset.

Keywords
What is the current behaviour?
Returns "Unsupported type" error
{
    "exception": {
        "type": "unknown_data_type",
        "message": "An unsupported/unknown

[2022-06-09 11:12] john-westood opened #8572 "MSSQL - Graphql queries/mutation - the getdate() function conversion error string to datetime"
Version Information
Server Version:
2.7.0
CLI Version (for CLI related issue):
2.7.0

Environment
CE

What is the expected behaviour?
Running a graphql query with a date function  as getdate() or sysdatetimeoffset() on a where condition/mutation should return results or execute the mutations.

Keywords
What is the current behaviour?
Returns an Conversion from string to text error.

### Keywords

M

[2022-06-09 11:17] Deluxo commented on #7228
Does this mean it's still possible to use it in mssql? Like via API or other ways? @tirumaraiselvan

[2022-06-09 11:24] tirumaraiselvan commented on #7228
@Deluxo Yes, you can use the APIs: https://hasura.io/docs/latest/graphql/core/api-reference/metadata-api/event-triggers/#metadata-mssql-create-event-trigger

[2022-06-09 11:25] rakeshkky commented on #8562
Further, experimenting with SQLs mentioned in the [above comment](https://github.com/hasura/graphql-engine/issues/8562#issuecomment-1150841040), I figured out the following SQL
[code]
which applies `LIMIT` without any exception and gives the following result
[code]
Essentially, we are enumerating results from subquery using `UNNEST` and then applying `LIMIT`. Applying the same for computed field s

[2022-06-09 11:38] soupi commented on #7344
Sorry I don't really understand what this means, could you elaborate?

[2022-06-09 12:27] mvaivre commented on #1498
Also interested in this one! Thanks team!

[2022-06-09 12:49] tirumaraiselvan opened #8573 "console: suggestions for relationships based on naming convention"
### Is your proposal related to a problem?

Currently, relationship names are suggested based on foreign key constraints. The names are snake cased because that was the only naming convention Hasura had so far (pre 2.8.0).

In 2.8.0, we introduced a new naming convention called `graphql-default`: https://hasura.io/docs/latest/graphql/core/databases/postgres/schema/naming-convention/

With this nam

[2022-06-09 13:11] tirumaraiselvan commented on #8573
There may be some server support required e.g. adding `global_naming_convention` to the config API. We can discuss server requirements here.

[2022-06-09 13:48] eviefp commented on #6937
This was fixed, confirmed with @0x777 on slack

[2022-06-09 13:48] #6937 closed

[2022-06-09 19:17] ian-zunderdorp opened #8574 "Rest API failing to handle optional URL parameters"
### Version Information

Server Version: Tried 2.6.2, 2.7.0 and 2.8.0-beta.1
CLI Version (for CLI related issue): N/A

### Environment

OSS

### What is the expected behaviour?

For a GraphQL query where a parameter is optional, I would like to be able to configure a REST API connector to optionally utilize this field.
Dummy example:
[code]

[code]

Connecting to a REST API at `example.org/blog`,

[2022-06-10 06:23] saurabhmehta1601 opened #8576 "Update docs for create graphql subscriptions on client side ( react )"
### Version Information

Server Version: v2.7.0-cloud.1
CLI Version (for CLI related issue): Not Using

### Environment

### What is the expected behaviour?

The documentation should be working and updated .

### Keywords

### What is the current behaviour?

I have been following docs 📄 for setting up graphql subscription on client side ( react ) from [here](https://hasura.io/learn/graphql/react/s

[2022-06-10 09:10] JohnRock0422 commented on #3606
Any roadmap about support this?

[2022-06-10 10:06] iosifnicolae2 opened #8577 "Add support for MongoDB"
### Design and implementation for MongoDB support in GraphQL Engine
Is there any plan for adding Mongo DB support for Hasura?

#### Workaround for data in existing MongoDB databases
Currently, we're using [mongo_fdw](https://github.com/EnterpriseDB/mongo_fdw) but it does not support all the functionalities yet, even though it's a very good starting point.

[2022-06-10 11:57] demonmind commented on #7895
Any updates on this one. It is a pretty big pain when dealing with many DBs and one Hasura instance.

[2022-06-10 12:59] adepto-io commented on #3989
Environment variables can be [unintentionally leaked](https://docs.docker.com/engine/swarm/secrets/#build-support-for-docker-secrets-into-your-images) between containers. This is why this issue deserves a higher priority if you ask me.

[2022-06-10 14:15] goof03 commented on #8501
Hi
with raw SQL interface in Hasura console

[2022-06-10 16:29] ljwolford commented on #1498
This would be huge for us as well. Thank you.

[2022-06-11 21:27] BrianHung commented on #519
Is there a custom way to autogenerate these from a user-side in hasura console?

[2022-06-13 07:41] rakeshkky commented on #8562
Implementation of the solution mentioned in the above comment is opened in a draft PR at https://github.com/hasura/graphql-engine-mono/pull/4694.

[2022-06-13 07:56] tirumaraiselvan commented on #3320
Hey folks

Experimental support for "global naming conventions"  has been added in `v2.8.0-beta.1` . Pls see the docs [here](https://hasura.io/docs/latest/graphql/core/databases/postgres/schema/naming-convention/) for usage.

Note that this is only available for Postgres database for now. Console support (where ever needed e.g. https://github.com/hasura/graphql-engine/issues/8573) is still pending

[2022-06-13 07:56] #3320 closed

[2022-06-13 09:41] srflorea1 commented on #8415
Did anybody find any workaround to this issue in order to be able to delete columns from the database?

[2022-06-13 11:05] #8321 closed

[2022-06-13 11:40] BenoitRanque commented on #7232
Support for this was [added in 2.2.0](https://github.com/hasura/graphql-engine/releases/tag/v2.2.0)

[2022-06-13 13:41] lorenzofaresin opened #8579 "Missing schema { query: Query mutation: Mutation } on remote_schemas.yaml hasura-cli export"
### Version Information

Server Version:
CLI Version (for CLI related issue): >= 2.6.0-beta.1

### Environment

OSS

### What is the expected behaviour?

I expect to get
[code]
on remote_schemas.yaml

### Keywords

hasura-cli remote schema permission metadata

### What is the current behaviour?

Missing schema  { query: Query mutation: Mutation } and when a missing role user make a query or mutati

[2022-06-13 14:15] clausMeko commented on #8579
I can confirm the issue.

[2022-06-13 14:35] abdullah2993 commented on #2599
any update on this, since this is required for https://github.com/hasura/graphql-engine/issues/7498

[2022-06-13 20:39] #7232 closed

[2022-06-14 00:20] saviogl opened #8580 "Refactor kubernetes manifests location to expose kustomization.yaml file"
### Is your proposal related to a problem?

The existing installation proposal for kubernetes is quite rudimentary in that it requires various manual steps. This is error prone and hard to mantain

### Describe the solution you'd like
Given that manifest already exists in the repository, we can simply expose them by properly structuring the folder in a compatible format defined by Kustomize so it

[2022-06-14 00:44] BenoitRanque commented on #8415
@srflorea1 there are two ways to work around this:

# Option 1

0. Back up your metadata by exporting it (either with cli or as a json file from the console)
1. Ensure the column is not mentioned in insert, select, update, or delete permissions, either as a selected column or part of the permission check
2. Drop the column using a third party sql client, (this bypasses the consistency check hasura

[2022-06-14 01:13] BenoitRanque commented on #8492
Confirmed this happens on 2.7.0, if you have an allow list but nothing in it.

[2022-06-14 01:16] BenoitRanque commented on #8492
Closing as duplicate of #8503

[2022-06-14 01:16] #8492 closed

[2022-06-14 01:19] BenoitRanque commented on #8503
This issue arises if you have a query collections with no queries in it. This can happen if you added one for allow lists, but then removed all of its members.

You can remove the entire entry from `allow_list.yaml` and `query_collections.yaml` to resolve this issue.

Of course, this is a CLI bug that must be addressed.

[2022-06-14 07:26] codingkarthik opened #8581 "[docs] Add more use cases of streaming subscriptions in the user-facing docs"
# Description

Currently, there is only one [use-case](https://hasura.io/docs/latest/graphql/core/databases/postgres/subscriptions/streaming/use-cases/) that shows how to stream append-only data.
We should also include use cases showing how to stream the updates or inserts that happen out of order.

[2022-06-14 09:19] mnlbox commented on #8503
Thanks @BenoitRanque for your reply. Currently this is the content of `allow_list.yaml` and `query_collections.yaml` files:
allow_list.yaml
[code]
query_collections.yaml
[code]
So what I need to remove exactly to prevent CLI to change these files?

[2022-06-14 09:50] carlosbaraza commented on #8396
This is quite a pain point in our deployment CI/CD too. In many occasions metadata becomes inconsistent because the container is periodically recycled and unfortunately sometimes the network might fail. If it does fail, it will break the schema, throwing errors in production and causing downtime.

Our current workaround is to trigger a metadata reload whenever the remote schema starts up again, bu

[2022-06-14 11:19] BenoitRanque commented on #8503
@mnlbox you can replace the contents of both files with an empty array `[]`

[2022-06-14 11:57] abhi40308 opened #8582 "console: event triggers `redeliver event` feature issue"
### Version Information

Server Version: [v2.8.0-beta.1](https://hub.docker.com/layers/graphql-engine/hasura/graphql-engine/v2.8.0-beta.1/images/sha256-6dea23cb9ed6dac9ac7aac9db9a2a33d2e041ddc3bc8c11b035043dd452f675b?context=explore)

### Environment
OSS

### What is the expected behaviour?
Redeliver event UI is broken, and it makes network requests on loop.

### Keywords
event-triggers

### How t

[2022-06-14 12:35] croskery opened #8583 "Long Hasura trigger names clobbering when multiple operations are selected"
### Version Information
2.0.10

Server Version:
CLI Version (for CLI related issue):

### Environment
OSS

### What is the expected behaviour?
When we create a trigger name that is too long the names clobber into a single Postgres trigger function.
This was mostly addressed in https://github.com/hasura/graphql-engine/issues/5786 however, there is no metadata check on the trigger name length, so if

[2022-06-14 13:33] abdullah2993 opened #8584 "Add AMQP support for events"
### Describe the solution you'd like
Right now events only support webhooks, It would be nice to have an integration available for [AMQP](https://en.wikipedia.org/wiki/Advanced_Message_Queuing_Protocol) so instead of sending a webhook we can publish a message on a message queue/event bus.

### Describe alternatives you've considered
The alternative right now is to create a webhook endpoint that pu

[2022-06-14 17:58] gboysko commented on #8411
FWIW, I'm also seeing this with an update mutation--the custom check is being performed, fails, but the call succeeds with 200 a returned updated object of `null`. I'm not using `_exists`, but referencing a Relationship (array) object and directing it to only succeed if two column values of the same reference object have specific values (`X-Hasura-User-Id` and a fixed string value).

[2022-06-14 18:08] gboysko commented on #8411
I should refine my comment: the problem _isn't_ that it returns status code 200 (that occurs even when the permission check correctly fails), but that there is no `error` object returned.

[2022-06-14 18:15] gboysko commented on #8411
Finally, what I'm seeing is for version `2.7.0`. The same check is being used for `insert`, `pre-update`, `post-update` and `delete`. The `select` permissions are looser. Insert mutations correctly return the `error` object. However, `update` and `delete` operations do not return an `error` object.

[2022-06-15 07:14] vijayprasanna13 opened #8589 "Modify row UI does not work SQL server"
### Version Information

Server Version: v.2.7.0

### Environment

OSS

### What is the expected behaviour?

I should be able to successfully edit a row from the `Modify` tab
![Screenshot 2022-06-15 at 12 40 24 PM](https://user-images.githubusercontent.com/11921040/173765062-4a630de4-b1c5-4ca5-ae82-2b5b7c0862fa.png)

### Keywords

console, modify, mssql

### What is the current behaviour?

The for

[2022-06-15 08:44] albinth opened #8590 "Not able to build permission with computed field,The computed function using hasura session variable"
I have created a computed function

CREATE OR REPLACE FUNCTION vam.entitlement_check(in_row vam.account_master, hasura_session json)
 RETURNS boolean
 LANGUAGE sql
 IMMUTABLE
AS $function$
select
  case
    when count(vamv.*) > 0
    then true
    else false
  end
from
vam.vas_and_parents_mv vamv,common.roles_and_criteria_mv rp
where
rp.role_id = (hasura_session ->> 'x-hasura-cbx-user-role-id') ::

[2022-06-15 08:58] #8590 closed

[2022-06-15 12:33] iosifnicolae2 commented on #7189
I'm also interested.

[2022-06-15 13:10] abhi40308 opened #8592 "console: invoke manual trigger dropdown not visible on browse rows"
### Version Information

Server Version: [v2.8.0-beta.1](https://hub.docker.com/layers/graphql-engine/hasura/graphql-engine/v2.8.0-beta.1/images/sha256-6dea23cb9ed6dac9ac7aac9db9a2a33d2e041ddc3bc8c11b035043dd452f675b?context=explore)
Cloud: v2.8.1-cloud.1

### Environment

OSS

### What is the expected behaviour?
[Invoke manual trigger](https://hasura.io/docs/latest/graphql/core/event-triggers/inv

[2022-06-15 15:15] abhi40308 commented on #8582
fixed via https://github.com/hasura/graphql-engine/commit/132dffe4cf3b13543c9ccf2b7bd94437dd055091

[2022-06-15 15:29] codingkarthik opened #8593 "docs: document the behaviour of using special values of timestamp with subscriptions"
# Description

Postgres supports certain special timestamp with zone values as mentioned [here](https://www.postgresql.org/docs/current/datatype-datetime.html#DATATYPE-DATETIME-SPECIAL-VALUES). These values can be used with graphql-engine but sometimes they can have unexpected behavior as mentioned [here](https://github.com/hasura/graphql-engine/issues/8553).

We should document this in our docs t

[2022-06-15 18:57] cquark7 commented on #4356
This is quite important and useful. Please look into it.

[2022-06-15 19:09] cquark7 commented on #2861
This can be implemented with ease using computed field, but the problem arises when we need to sort the distance. We cannot use `order_by` or filtering on computed fields ([reference](https://github.com/hasura/graphql-engine/issues/3772)). This becomes more complicated when we want to support server-side pagination. I found the following issues related to this:
https://github.com/hasura/graphql-en

[2022-06-16 01:25] tjad commented on #2768
@0x777 I like the idea of having an `[update_input!]!` syntax which contains `where` and `_set` ,  similar to your first suggestion
or https://github.com/hasura/graphql-engine/issues/2768#issuecomment-1081624310

This at least allows simple syntax for multiple updates within single transaction. We can easily create the list of update objects dynamically.

In terms of `rows affected`, I think it co

[2022-06-16 08:10] sassela commented on #8562
@rakeshkky was this addressed by https://github.com/hasura/graphql-engine-mono/pull/4694? Can it be closed now?

[2022-06-16 08:41] #8562 closed

[2022-06-16 09:28] rakeshkky commented on #8562
Closed with https://github.com/hasura/graphql-engine/commit/b4534c1177ee314d458439eb5fc5e9b6326d6ee0

[2022-06-16 09:54] #3641 closed

[2022-06-16 10:26] JuSacco commented on #982
Please consider adding this feature as at least as experimental.

[2022-06-16 13:55] bverhoeve opened #8596 "Blocking SELECT * FROM table statements"
### Is your proposal related to a problem?
We currently use subscriptions to automatically pull in data for a webpage. The subscription runs the query every second. Recently we've discovered it's not possible to add/remove columns from the table the subscription is querying, because the migration results in deadlocks. The error that we're getting is similar to the following (anonymized table names

[2022-06-16 14:06] iosifnicolae2 opened #8597 "Cannot include \"XXX.YYY\" in the GraphQL schema because it is not a valid GraphQL identifier"
### Version Information

Server Version: v2.7.0

### Environment

OSS

### What is the expected behaviour?

The GraphQL identifier should replace the `.` character from PostgreSQL field name with `_`

### Keywords

it is not a valid GraphQL identifier

### What is the current behaviour?
We're receiving the below error:
[code]

### How to reproduce the issue?

1. Create a PostgreSQL column named `X

[2022-06-16 14:06] iosifnicolae2 commented on #8597
Any idea how can I implement this fix by myself?

[2022-06-16 22:05] AndresPrez commented on #6701
Any updates. Is there a way to control how hasura caches its metadata?

[2022-06-16 22:15] AndresPrez commented on #6352
Im experiencing this issue as well on hasura/graphql-engine:v2.5.0. Schema has around 500 tables. And Hasura container idle memory usage is about 2.GiB in GKE Pod

[2022-06-17 05:28] japrogramer opened #8598 "Hasura cannot handle response "Content-Type header [] is not supported""
### Version Information

Server Version:
CLI Version (for CLI related issue):
latest

### Environment
docker local

### What is the expected behaviour?

I expect my action to run and return the hits from an
opensearch instance

### Keywords
header content-type

### What is the current behaviour?

406 error when running action

### How to reproduce the issue?

1. make a request via an action to an

[2022-06-17 07:48] mirzap commented on #2816
Using CDN for these assets doesn't have any sense to me. Loading assets from `/srv/console-assets` should be default, CDN option. Ever since 2.1 version I'm unable to use load local assets when having `HASURA_GRAPHQL_ENABLE_CONSOLE="false"` and `HASURA_GRAPHQL_CONSOLE_ASSETS_DIR=/srv/console-assets` set. Running `hasura console ....` in this case still uses CDN. Before 2.1 it used local server ass

[2022-06-17 09:00] ecthiender commented on #8550
Thanks for the example @tiafouroohi . And apologies for the delay. Looks like it is indeed a bug, but this is also a super edge-case. I can't imagine a scenario where one would define the same selection set with different fragment names in practice. Let me know if my assessment is incorrect.

Said that, we have added this to our backlog, but currently has low priority as we don't deem it to be a s

[2022-06-17 09:14] tirumaraiselvan commented on #8596
I am curious to know the deadlock sequence. I have been trying to wrap my head around how a SELECT query is deadlocking with a migration. If both run concurrently, then shouldn't one wait on the other. My guess is that the subscription actually uses more than one table (maybe a join or a permission using a different table) and the migration is also a bulk migration i.e. modifies more than one tabl

[2022-06-17 10:49] rohilrajkarki commented on #4704
@beerose I saw the issue being completed in the current master branch. So is this issue has been implemented or not.?

[2022-06-17 11:15] denis-ryzhkov opened #8599 "Action ignored, query detected "invalid input syntax for type uuid""
### Version Information

Server Version: v2.7.0

### Environment

OSS

### What is the expected behaviour?

Hasura Action should validate the types declared in its input type.

### Keywords

action, type, uuid, invalid input syntax

### What is the current behaviour?

Hasura Action does not validate the types declared in its input type.

### How to reproduce the issue?

1. Create an action:

[code

[2022-06-17 16:00] jaril opened #8600 "Cmd/Ctrl+Enter in the SQL Runner UI should run the SQL statements"
### Is your proposal related to a problem?

I often find myself using the SQL runner (Run SQL?) UI as a scratchboard. Problem is, it's a bit clunky. Usually, I have to edit the code, click Run, wait for the result, then focus back on the editor to modify the query if needed.

### Describe the solution you'd like

It _would_ be nice if, after editing, I could hit Cmd+Enter (Windows: Ctrl+Enter) and

[2022-06-17 18:44] Zerebokep opened #8601 "Columns with trim() unique constraints aren't trackable anymore in 2.8"
### Version Information

Server Version: Hasura 2.8
CLI Version (for CLI related issue): Hasura 2.8

### Environment

Official Docker image

### What is the expected behaviour?

Tracking a table

### What is the current behaviour?

Tables which contain a unique index with TRIM() results in an error when trying to track that table.

`"error": "Error in $['unique_constraints'][0].columns: parsing []

[2022-06-17 19:12] VladislavYU commented on #8579
I have the same issue

After updating the production wuth use hasura metadata apply, it stops seeing mutations and query from the remote schema

[2022-06-17 21:20] rccoe commented on #1357
Is this anywhere on the roadmap (3 years later)? This is a crucially missing piece of the puzzle. This would solve it: https://github.com/hasura/graphql-engine/issues/7473

[2022-06-18 03:05] DoisKoh opened #8602 "Arranging Fields/Columns in MODIFY/INSERT ROW table configuration tabs in Hasura Console."
### Is your proposal related to a problem?

When manually checking what columns you're using in other parts of your system, you would look at the list of columns/fields to compare them. Sometimes you add and remove fields and so the ordering of these fields in the list starts to get messy.

![image](https://user-images.githubusercontent.com/5701052/174420112-869d8996-11be-44ca-b872-bedf452a1993.pn

[2022-06-18 05:53] DoisKoh commented on #1573
This is probably not helpful but I'm just chiming in to also say that I really, really, really want this feature. Haha.

Thanks for the great product by the way...

[2022-06-18 11:49] lorenzo commented on #6842
has this RFC been approved?

[2022-06-20 05:19] alexgorbatchev commented on #8299
I see the same behavior with Keycloak and `v2.7.0`

[code]

[2022-06-20 05:26] Varun-Choudhary commented on #8589
Closing the issue as the PR is merged.
https://github.com/hasura/graphql-engine-mono/pull/4741

[2022-06-20 05:28] vijayprasanna13 commented on #8589
Resolved in https://github.com/hasura/graphql-engine/commit/b2bcb03824fae940b6770867dcecfed5aace90e4

[2022-06-20 05:28] #8589 closed

[2022-06-20 05:30] tirumaraiselvan commented on #8299
@alexgorbatchev We'll take a look. Can you pls provide the response headers from your JWK endpoint: http://keycloak.dev-keycloak/realms/app/protocol/openid-connect/certs

@pfinnerty Can you pls provide the response headers from your JWK endpoint?

[2022-06-20 13:00] mdafzaljay opened #8605 "Hasura GraphQL 504 error(Gateway Time-out) while run the query in GraphQL console - API explorer tool"
While I do the search for user email Id using '_ilike' in Hasura GraphQL console - API explorer tool and also in API calls. Its took too long time to load after 30 seconds its thrown 504 error(Gateway Time-out). Its happens 3/4 times. Sometimes it shows data. I am getting indeterminate results while do the search. That table have 2.3 millions of data in Postgres DB and its gets update every 30 min

[2022-06-20 13:18] tirumaraiselvan commented on #8601
Thanks, this has been fixed in https://github.com/hasura/graphql-engine/commit/6a15d3ea5fdefc4c4507bcead481ed68c15c2fae and will be out in 2.8.1 soon.

[2022-06-20 13:24] tirumaraiselvan commented on #8596
If you look further into the generated query, you will see that `select * from table` is used as a subquery and the outer query will have only the columns that are needed. Postgres will automatically optimize this away and it will not cause any extra data fetch.

[2022-06-20 14:58] rikinsk commented on #8280
Hey folks, the error messaging around this scenario has been improved with https://github.com/hasura/graphql-engine/commit/c668aa1158254eca9d47ae0e4eb788f35ecc3242.

Closing this for now. Please feel free to reopen if there are more actionables one would like to be discussed

[2022-06-20 14:58] #8280 closed

[2022-06-20 15:00] alexgorbatchev commented on #8299
@tirumaraiselvan

[code]

[2022-06-20 15:24] tirumaraiselvan commented on #8299
@alexgorbatchev Your JWK has a cache policy that says "no-cache" hence Hasura is not caching it and refreshing it every second. This is explained in the docs here: https://hasura.io/docs/latest/graphql/core/auth/authentication/jwt/#rotating-jwks

I think a feature request which disables jwk-refresh logs might be helpful.

[2022-06-20 15:33] #8538 closed

[2022-06-20 17:00] sauzzon commented on #7908
I started working on this issue

[2022-06-20 21:27] AndresPrez opened #8608 "Header values sent to webhook are all of type string (null and number types are lost)"
When using POST webhook authentication, header values originally of type null or number, get converted to strings when put into the webhook's req.body.headers.

[2022-06-21 02:45] tirumaraiselvan commented on #8598
@japrogramer Can you please share the transform metadata in your action?

[2022-06-21 09:07] AdamSchinzel opened #8609 "When editing row I can not see the field that I am editing"
### Version Information

Server Version: 2.8.0

### Environment

OSS

### What is the expected behaviour?

When I want to edit row, I want to see the name of the field I am editing.

### Keywords

#editing

### What is the current behaviour?

Can not see the name of the field that I want to edit (or any field in general)

### How to reproduce the issue?

1. Go to any table
2. Click on the edit ico

[2022-06-21 09:15] scriptonist opened #8610 "cannot clear metadata when having source related inconsistency"
### Version Information

Server Version: v2.8.0
CLI Version (for CLI related issue): v2.8.0

### Environment

OSS

### What is the expected behaviour?

When using `hasura metadata clear` or Clicking "Reset" metadata on console should clear metadata

### Keywords

metadata, clear_metadata

### What is the current behaviour?

As a user when I have a source-related inconsistency in my metadata, doing

[2022-06-21 10:02] tirumaraiselvan opened #8611 "ability to disable jwk-refresh-log via enabled log types"
### Is your proposal related to a problem?

Currently, we cannot disable `jwk-refresh-log` through enabled log types: https://hasura.io/docs/latest/graphql/core/deployment/logging/#log-types

Many JWK providers have a Cache-Control policy which makes Hasura refresh them every second and pollute the logs.

### Describe the solution you'd like

Add `jwk-refresh-log` as a configurable log type

[2022-06-21 10:32] Naveenaidu commented on #8557
@jmarbutt thanks for reporting this issue. The fix for this has been merged into the main via this [commit](https://github.com/hasura/graphql-engine/commit/2526dd011414431ba2e76a71423af5530bb38608). This should be available in the next release :)

I'll go ahead and close this issue, please feel free to re-open if you feel otherwise ^^

[2022-06-21 10:32] #8557 closed

[2022-06-21 11:46] marcopeg commented on #1532
Here is a working piece of `docker-compose.yml`:

[code]

[2022-06-21 14:28] #8601 closed

[2022-06-21 16:03] Smibser commented on #8512
Sorry for the late response. Yeah, actually I tested it before 2.6.0 was released. It's working now. Thank you and sorry for the trouble

[2022-06-21 16:03] #8512 closed

[2022-06-21 20:30] CalebEverett opened #8614 "migrations inop for gcp postgres"
### Version Information

Server Version:
CLI Version (for CLI related issue):
 version=v2.8.1

### Environment

gcp postgres
wsl2
v2.7.0-cloud.1

### What is the expected behaviour?
`hasura init hasura0 --endpoint <> --admin-secret <>` should work

Produces this error
[code]

[2022-06-22 03:19] Aiden0 commented on #8094
I would also like to know the answer to this. I know this is kinda possible in Postgres using nested inserts ie:

[code]
But for MSSQL this is not possible. Will there be any support for this for MSSQL soon? Otherwise only other current solution is doing two seperate queries.

[2022-06-22 03:43] Aiden0 opened #8615 "Insert an object along with its related objects through relationships for MS SQL Server"
Hello, it would be great if Hasura for MS SQL Server supported inserts for related objects like it does for PostgreSQL. For example the example given in the Hasura docs for PostgresSQL [here](https://hasura.io/docs/latest/graphql/core/databases/postgres/mutations/insert/#one-to-one--one-to-many-relationships) or down below:

[code]

Which can get complicated very quickly and also doesn't allow any

[2022-06-22 14:26] ofilipowicz commented on #3759
Hey @lexi-lambda, it's not working on `v2.2.1`. I tried reloading enums, disabling and enabling enum on a table. Whatever I do, it just isn't added as enum to scheme.

[2022-06-22 17:35] deathemperor commented on #273
Would love to have this for an increased in performance!

[2022-06-22 21:41] jperezrealini opened #8617 "String cast issue: field name is a graphql type and a reserved words in many languages"
### Version Information

Server Version: 2.8.0
CLI Version (for CLI related issue): 2.8.0

### Environment

OSS

### What is the expected behaviour?

Fields in the graphql schema don't clash with graphql types and common reserved words in many languages.

### Keywords

cast, String, jsonb

### What is the current behaviour?

Schema contains fields named `String`. E.g.:
[code]

### How to reproduce

[2022-06-23 01:16] jflambert commented on #7895
I've hit a similar problem with Hasura 2.8.1

My metadata worked just fine with Hasura 2.7.0 but fails in 2.8.1 with this error

`found duplicate fields in selection set: mine_device_types, system_dtc_parameters, mine_contractors, mine_areas, mine_manufacturers, mine_machine_variables, mine_operation_hauling_routes, mine_shift_plans, mine_crew_shifts, mine_machine_hourmeter_type_definitions, mine_

[2022-06-23 02:02] jflambert opened #8618 "Hasura 2.8.x w/ Streaming Subscriptions doesn't support "Select" custom root fields"
### Version Information

Server Version: 2.8.3

### Environment

OSS

### What is the expected behaviour?

Hasura w/ Streaming Subscriptions supports Select custom root fields

### What is the current behaviour?

Hasura 2.7.0 (with streaming subscriptions enabled) supports Select custom root field
Hasura 2.8.x (with streaming subscriptions enabled) doesn't support Select custom root field

### How

[2022-06-23 02:03] jflambert commented on #8618
I will try to provide better replication steps, perhaps even with a DB + metadata.

Suffice to say I can't provide my own metadata here because it's enormous and confidential.

I'm hoping one of the hasura devs gets a bright idea reading this bug report.

[2022-06-23 02:26] ns-ajalbani commented on #7477
I get this error in 2.7.0

[2022-06-23 02:47] ns-ajalbani commented on #7761
I have the same issue. Is this triaged?

[2022-06-23 05:22] codingkarthik commented on #8618
Hello,

Thanks for opening this issue. Can you tell if your metadata remained unchanged while you upgraded from v2.7.0 to v2.8.1? Also, did the error message include the entities that contain the duplicate fields? Do you mind sharing them here?

Best,

Karthikeyan

[2022-06-23 06:02] lkuoch commented on #7686
Has there been any update on this?

[2022-06-23 07:42] rakeshkky commented on #8415
@BenoitRanque Looking into this.

[2022-06-23 12:30] Remy-T commented on #4978
👍  Would love this feature.

[2022-06-23 12:30] WGTW commented on #4978
+2 Would be a great feature for my specific use case, it's been over 2 years since the issue has been opened. Can someone from the Hasura team look into this? Thanks!

[2022-06-23 12:33] stevehenderson opened #8619 "Inconsistent TimescaleDB (PostgreSQL) bigint values in Hasura"
### Version Information

Server Version:  2.6.2

### Environment

  * Hasura is running as a self-hosted container on Kubernetes
  * Tracking tables in a TimescaleDB (Postgres extension) database
  * Postgres 14 :  `psql: (14.2 (Ubuntu 14.2-1.pgdg18.04+1)`

### What is the expected behaviour?

Given a `bigint` field  `projectID` for a record inserted directly into the database with value  `1645489

[2022-06-23 17:10] BenoitRanque commented on #8617
`String` is a valid GraphQL name, so this is more an issue with the generated code, than an issue with hasura itself.

As such, removing the bug label and adding the enhancement label.

This issue may also be resolvable with your codegen tool of choice.
While I am unfamiliar with dart, most languages allow use of reserved words as keys in JSON objects, if correctly escaped.

[2022-06-23 20:40] drush commented on #1186
+1

[2022-06-23 21:06] #8619 closed

[2022-06-24 04:51] PJijin commented on #2764
I got this error

[code]

I have replaced public.gen_random_uuid() with gen_random_uuid() on SQL file. Works fine now.

[2022-06-24 08:26] rohilrajkarki commented on #6339
I would like to work on this issue.

[2022-06-24 10:13] PriyaSharma45 opened #8621 "Git Deploy : Project Health Check fails after a successful deployment"
### What is the expected behaviour?

After a successful deployment, when project health is up it should mark the deployment as successful.

### What is the current behaviour?

Currently, there is a bug on GitHub deployment where the Project Health Check fails even when the project is healthy.

### How to reproduce the issue?

1. Add repo for GitHub deployment.
2. Run a deployment with all the step

[2022-06-24 11:21] rakeshkky commented on #8183
Hi @abdullah2993,

[HTTP semantics](https://www.rfc-editor.org/rfc/rfc9110.html#name-field-lines-and-combined-fi) for header fields says
[code]
and
[code]
are logically same.

[2022-06-24 11:26] #8183 closed

[2022-06-24 12:56] bh865 opened #8622 "Subscription Error: Validation Failed - No Subscriptions Exist"
I'm not able to get my subscription to work with the below code. I've consoled the token so I know it's generating properly. Any ideas?

[code]

[2022-06-24 13:44] bh865 commented on #8622
Fixed with the following changes:

[code]

[2022-06-24 13:44] #8622 closed

[2022-06-24 13:53] chris-hasura opened #8624 "Event Trigger does not work after CLI Metadata & Migrate Initialization"
### Version Information

Server Version: v2.8.0
CLI Version (for CLI related issue): v2.8.0

### Environment
Local MacOS (Intel)

### What is the expected behaviour?

Event trigger should work after using CLI:
[code]
The insert event trigger should fire when a record is inserted into the related table.

### Keywords
event trigger metadata migration

### What is the current behaviour?

The event tr

[2022-06-24 16:55] thiscompsciguy commented on #4256
any updates. I get its not top priority, but would a be a very nice to have.

[2022-06-24 17:50] cleivson commented on #2208
Does that mean this feature is not going to be ported to the on premises version?

[2022-06-24 18:21] John0x commented on #348
Having proper support for arrays would be great. Kinda sucks that it still isn't supported even though this issue is from 2018

[2022-06-24 22:54] vxm5091 commented on #1571
+1

[2022-06-26 19:28] MussieT opened #8626 "Shouldn't delete/update mutation throw an error when a condition is not met ?"
**Version information**
Server Version: v2.8.1
PostgreSQL Version: v13.7

**Environment**
Local linux Kubuntu: V20.04

**Problem**
When a particular condition(s) is not met on row update/delete, Hasura returns an empty array. This leaves us not knowing which state is not satisfied.

**Suggestions**
- Instead of returning an empty array, throwing an error (I just thought returning an empty array se

[2022-06-27 01:47] arachnidiskandar commented on #7950
Hasura not supporting actions with relay was basically something that made me choose to maybe not use relay at all and maybe hasura in future personal projects. Since I'm mostly a front-end developer, i will not create my own graphQL server just to use relay.

Since i wanted to use graphQL only with relay, maybe i will just not use graphQL at all until hasura supports at least actions. I really ho

[2022-06-27 02:21] sauzzon commented on #8600
i started working on this issue

[2022-06-27 05:27] #8469 closed

[2022-06-27 09:33] #8592 closed

[2022-06-27 10:05] PriyaSharma45 commented on #8621
This issue has been fixed. If you're still facing this issue, please reach out to Hasura support.

[2022-06-27 10:05] #8621 closed

[2022-06-27 11:15] rohilrajkarki commented on #7742
I would like to try this.

[2022-06-27 12:04] harishnair96 opened #8630 "Streaming subscriptions do not work when the field used as cursor has a custom field name"
### Version Information

Server Version: 2.8.1

### Environment

OSS

### What is the expected behaviour?

Streaming subscription should work properly even if the field used as cursor is exposed with a custom name in the API.

### Keywords

streaming subscription

### What is the current behaviour?

Streaming subscriptions do not work when using a field with a custom name in the cursor parameter.

[2022-06-27 12:11] corysimmons opened #8631 "Feat req: Health check for GraphQL"
Super low priority feat request, but if it's easy to add, it'd be nice during the early stages of a project to have a way to see if your GraphQL client is getting a response from your Hasura endpoint without having to worry about auth.

`/healthz` REST endpoint exists for general health check but I'd love to be able to test a GraphQL connection with something that completely bypasses all auth like

[2022-06-27 12:46] m-revetria commented on #8566
Hello everybody! I have a related use case, where I need to extend the GraphQL schema by joining with the result of a query action.

Suppose the following example:

1. There's a `local_table` table stored in my Hasura project's primary database with the `external_table_id` column on it, and exposed via graphql.
2. I've defined a query action to get data from a third party REST API, defined as foll

[2022-06-27 13:04] jflambert commented on #8618
completely unchanged, it's a huge remote schema with hundreds of endpoints so I'm trying to narrow it down for you.

[2022-06-27 13:09] jflambert commented on #8618
one last thing @codingkarthik do I still need to enable SS through expérimental features or is it now built-in?

[2022-06-27 13:11] jflambert commented on #8630
quick question, can you try with 2.7.0?

something broke for me between the two releases.

[2022-06-27 13:12] jflambert commented on #8626
that sounds like an awful lot of work for something sql itself doesn't even do.

[2022-06-27 14:48] elgordino opened #8632 "Streaming Subscriptions missing data when concurrent transactions occur"
### Version Information

Server Version: 2.8.1 also seen on 2.7.0

### Environment

Docker local dev with community edition

### What is the expected behaviour?

I expect streaming subscription to return new rows at least once to the connected client.

### Keywords

streaming subscriptions, transaction, updated data, clock timestamp, serial, cursor

### What is the current behaviour?

The streamin

[2022-06-27 18:05] carlpaten opened #8634 "Enum-valued computed fields"
### Is your proposal related to a problem?

I would like to use computed fields to expose derived data, such as entity status (e.g. how far along is the user in a sign-up flow). With scalar computed fields, I have to use some loose type (usually text or numeric) instead of some kind of table-based enum.

### Describe the solution you'd like

Example: given a `user` table and a `user_status` enum t

[2022-06-27 22:32] dventimihasura opened #8635 "v1 cloud projects able to create or update Heroku integrations"
### Version Information

Server Version: v1

### Environment

Cloud

### What is the expected behaviour?

Hasura Cloud

### Keywords

heroku integration sync

### What is the current behaviour?

Users with v1 projects on Hasura Cloud should have the Heroku card under the "Connections" header within the "Integrations" section of Hasura Cloud Dashboard--and [Heroku database URL sync](https://hasura.

[2022-06-28 02:28] anazar commented on #8544
I think we should also consider allowing the `graphql-default` naming convention to apply to `custom_table_name` as well. I consider `custom_table_name` an alias. If the `custom_name` is specified in the metadata and no other `custom_root_fields` are specified to override I would assume that the naming convention should apply to the root fields.

[2022-06-28 02:39] coco98 commented on #8632
@elgordino This is a great question!

We should do a little bit of research & testing - but I think the following might work:

1. Use a bigserial type sequence to generate sequence-ids and use that as a cursor
2. Make sure that the cache is set to 1. From the docs: https://www.postgresql.org/docs/current/sql-createsequence.html
3. Use `pg_advisory_xact_lock` to make sure that sequence ids are read

[2022-06-28 03:38] DVGY commented on #8181
+1

[2022-06-28 04:21] #8626 closed

[2022-06-28 04:49] shrestharajani commented on #8537
I am working on it

[2022-06-28 06:53] sordina commented on #8574
Hi @ian-zunderdorp

I've confirmed that this behaviour is as you have described. We're looking into how to address this use case.

[2022-06-28 10:25] fonzarely opened #8636 "Hasura console is too narrow by default"
### Version Information

### Environment
Docker

### What is the expected behaviour?

I would like to see fields names again when editing a table row.

### Keywords
web console

### What is the current behaviour?

When editing a table row we cant see column names.

### How to reproduce the issue?

1. Start the server
2. connect to the web console
3. Open a table and edit a row

### Screenshots or

[2022-06-28 15:11] avallete commented on #6542
We do encounter the same issue in production, causing the Farget containers to be restarted because our ELB cease to receive a healthy response from `/healthz`

[2022-06-28 17:33] vshelke commented on #8345
Any updates on this issue ? I am also facing similar issues

[2022-06-28 18:23] morgannegagne commented on #8411
I am also seeing this on v2.6.1

**Custom check**
<img width="1166" alt="Screen Shot 2022-06-28 at 2 20 20 PM" src="https://user-images.githubusercontent.com/32595022/176254812-981e6915-7713-49aa-a69d-63bc224be547.png">

**Row that does not have update access**
<img width="933" alt="Screen Shot 2022-06-28 at 2 15 33 PM" src="https://user-images.githubusercontent.com/32595022/176254803-0a7c7e73-e79

[2022-06-28 18:36] solomon-b commented on #8574
@ian-zunderdorp Would it solve your issue if you were able to use our defaulting operator inside string interpolations?

[2022-06-28 20:24] lorenzo opened #8640 "Many bugs with the new `graphql-default` naming convention"
### Version Information

Server Version: 2.8.1

### Environment

OSS

### Keywords

naming convention, graphql-default

### What is the current behaviour?

I tried the the new `graphql-default` naming convention with an existing database and I found several inconsistencies, as listed below.

#### 1. Types ending with the suffix `_cast_exp`  are not transformed to `PascalCase`

For example I have t

[2022-06-28 20:32] lorenzo opened #8641 "field arguments in query_collection are not validated correctly"
### Version Information

Server Version: 2.8.1

### Environment

OSS

### What is the expected behaviour?

Queries in `query_collection` should be validated against the schema and be marked as inconsistent. This is not the case when using the new naming convention.

### Keywords

naming convention, graphql-default

### What is the current behaviour?

While testing the new naming convention with an

[2022-06-28 20:33] lorenzo commented on #8641
related to #8640

[2022-06-29 00:34] Motoxpro commented on #5044
You can work around the `public_user` `user` problem using inherited roles. It's much cleaner anyway https://hasura.io/docs/latest/graphql/core/auth/authorization/inherited-roles/

[2022-06-29 00:38] #8574 closed

[2022-06-29 00:43] adas98012 opened #8642 "REST API Calls (GET) fail when "/" (forward slash) is part of the query (key) string"
### Version Information

Server Version: 2.8.1

### Environment

Cloud

### What is the expected behaviour?

RESTified endpoints should support and correctly parse strings with "/" in it.

### Keywords

REST API, Query Param

### What is the current behaviour?

When a "/" is part of the query param in a REST (GET) API, it results in the following error messages:

**Error Message: The endpoint does

[2022-06-29 03:37] sudeshna-22 commented on #7057
I'd like to work on this issue.

[2022-06-29 06:20] AThilenius commented on #5766
This would be wonderful.

I would be happy with 100ms granularity if that makes bucketizing queries easier. Or enforce a common denominator among all the intervals so that they are all aligned. Hell, even a choice of 250ms, 1s and 10s would be good enough for me 🤷‍♂️ I would reach for pub-sub/WebRTC if shorter was needed, and can live with polling if longer is needed.

[2022-06-29 07:17] ian-zunderdorp commented on #8574
Probably it would. In the meantime we have already switched over to StepZen where we managed to do all mapping needed correctly.

[2022-06-29 09:10] harishnair96 opened #8643 "Migrations fail if there exists a function that is added as a root field and as a computed field"
### Version Information

Server Version: 2.8.1

### Environment

OSS

### What is the expected behaviour?

Hasura allows tracking the same function as a root field and a computed field at the same time. Therefore it is expected that Hasura should continue to behave normally and migrations should continue to work.

### Keywords

function, computed field, overloaded function, tracked function

### W

[2022-06-29 09:22] clausMeko commented on #7480
@leoalves

Is that official? :rofl:

[2022-06-29 11:05] harshalgalgale commented on #8345
Any update on this issue...? We too are facing similar issue, since we have updated Hasura from v2.0.9 to 2.8.1.

[2022-06-29 11:49] MatthiasOct opened #8644 "EventTrigger - Payload Transform"
### Version Information

Server Version: v2.8.1-cloud.1
CLI Version (for CLI related issue):

### Environment

Cloud

### What is the expected behaviour?

I want to access {{$body.event.data.old?.content}}

<img width="996" alt="Screenshot 2022-06-29 at 13 40 38" src="https://user-images.githubusercontent.com/108405178/176428540-ea3e6634-780d-48dd-b2b7-cf9833ba03e0.png">

But on insert event, ther

[2022-06-29 12:54] tirumaraiselvan commented on #8640
Thanks for the detailed report @lorenzo !

This feature is marked experimental because we did expect few missing cases. Your feedback helps a lot.

[2022-06-29 12:58] abdullah2993 opened #8645 "Documentation Missing for NOW() as an input"
`NOW()` is a valid input for date* fields but this behavior is not documented anywhere at all. Is `NOW()` to only exception or are there other keywords that can be used as well?

[2022-06-29 13:32] elgordino commented on #8632
Hi @coco98!

Thanks for the reply, I think a lock would work but my main concern with a lock is the potential for a performance impact on writes to the table.

This table will have a high number of concurrent writes, some of which can take a few seconds (when a user is making a bulk update), and I wouldn't want to block other user writes during that time. I will be deploying some new monitoring to

[2022-06-29 17:09] yureckey opened #8648 "ELSIF in sql editor isn't color highlighted"
(quick searching for "ELSIF" didn't showed existing issues, so I hope this is not double post)
(hasura version I used - 2.8.1)
very simple:
in provided RAW SQL editor when writing pgplsql function I noted that ELSIF wasn't highlighted as proper syntax, which is a bit confusing.

[2022-06-29 17:25] Aarbel commented on #6542
One assumption about this problem:

Maybe hasura's `query subscription` doesn't really use the graphql query filter, and creates generic channels for all the users of an app. And not specific channels id between the server and the end user who should receive the websocket on the front end.
=> So maybe quickly all the users of an app send to each other thousands of websockets, making everything to

[2022-06-29 17:47] Aarbel commented on #6542
@jordan-lumley @artanisdesign @tirumaraiselvan @NicholasBallard @tmaximini

Have you found a way to fix this ?

[2022-06-30 09:01] eviefp commented on #2768
We've gone through a few internal design iterations on this, and I'm here to report what we've landed on and ask for feedback.

## What I'm working on
I am currently working on implementing the version initially suggested by @0x7777, which is essentially a multi-record update by primary key.

Internally, we will make sure the keys don't repeat. If they do, we will use the last value (since it's a

[2022-06-30 10:54] jamespabau opened #8652 "`hasura migrate apply` exits with exit code 0 when there is a problem with a single migration"
### Version Information

Server Version: 2.8.0
CLI Version (for CLI related issue): 2.8.0

### Environment

Windows

### What is the expected behaviour?

I have a faulty up.sql migration file, and I am struggling to get Hasura to fail because of it. Right now my CI passed some code that had invalid up.sql

Instead I would like an exit code of >0

### Keywords

cli, ci

### What is the current beha

[2022-06-30 11:01] shrestharajani commented on #8269
I would like to work on this.

[2022-06-30 12:03] sauzzon commented on #4256
I started working on this issue.

[2022-06-30 12:20] shrestharajani commented on #8269
I would like to work on this

[2022-06-30 12:37] AaravShah042 commented on #5737
Yeah, because it is possible that sometimes we have to add the record manually and after that, we want to add using mutation
Example:-
Report table

Some are default reports added by developer(We are adding manually) and user can create custom reports for that we have to call mutation

[2022-06-30 17:19] MistreanuIonutCosmin commented on #5606
Please add this functionality. It would make synchronization with external api, much easier.

[2022-06-30 17:48] marionschleifer opened #8654 "docs: add Cloud DB guides for new databases"
We currently only cover Postgres in the [Cloud DB guides](https://hasura.io/docs/latest/graphql/cloud/getting-started/cloud-databases/index/). We should add guides on other DBs as well.

Wish by community: SQL server on Azure.

[2022-07-01 02:13] sauzzon commented on #986
I started working on this issue

[2022-07-01 06:28] rohilrajkarki commented on #8486
I am working in this issue.

[2022-07-01 09:46] vfonic opened #8656 "Hasura CLI installation instruction show different methods and each method installs different version"
### Version Information

Server Version: N/A
CLI Version (for CLI related issue): 2.7+

### Environment

macOS

### What is the current behaviour?

I installed Hasura CLI through Homebrew and, I wanted/needed to downgrade to previous version so I uninstalled it and installed it vai `curl | bash` method and then again via `npm i --global`. All three of these methods installed three different versio

[2022-07-01 10:00] rohilrajkarki commented on #8486
I am working on this issue

[2022-07-01 13:00] nisharmultani commented on #6159
i have facing same problem its work proper but i add new coloum and the  i get this kind of error .
GraphQL error: no such type exists in the schema: 'registration_group_tickets_insert_input'
  mutation: gql`
            mutation InsertRegistrationGroupTicketsOne(
              $data: registration_group_tickets_insert_input!
            ) {
              insert_registration_group_tickets_one(

[2022-07-01 13:21] SBNTT opened #8658 "Previous mutations are not rolled back when one fails"
### Version Information
Server Version: 2.8.3

### What is the current behaviour?
When executing a mutation composed of several operations, and when one of them failed, previous ones are not rolled back.

### What is the expected behaviour?
https://hasura.io/docs/latest/graphql/core/databases/postgres/mutations/multiple-mutations/#execution

### How to reproduce the issue?
Given these three postgr

[2022-07-02 09:57] gringofe commented on #5227
Hi, I am having a similar issue, I'm using apollo + okhttp on android and am trying to refresh my jwt access token when Hasura's Graphql endpoint returns JWTExpired, but I can't do that since it uses the status code 200 instead of 401.

[2022-07-02 10:31] gringofe opened #8659 "Return 401 on JWTExpired"
### Version Information

Server Version: v2.8.3

### What is the current behaviour?

When a request is made to `/v1/graphql` and the supplied JWT token has expired, Hasura returns the status code `200` instead of `401` and an error message in the body. This is an issue because the underlying layer which executes the HTTP requests on the client side (e.g. OkHttp) doesn't know that an error occurred

[2022-07-03 10:03] Adnan0061 opened #8661 "search for explorer"
### Discussed in https://github.com/hasura/graphql-engine/discussions/8660

<div type='discussions-op-text'>

<sup>Originally posted by **Adnan0061** July  2, 2022</sup>
It would be nice if there were a search box for the explorer options.
for big projects, it is a mess if you have to select anything instead of writing manually.
![Screenshot 2022-07-02 190510](https://user-images.githubusercontent

[2022-07-04 01:54] jflambert commented on #8661
Yes, a million times yes.

[2022-07-04 01:56] jflambert commented on #8652
Last I checked this works with 2.7.0

I'll try to test on 2.8.3

[2022-07-04 02:07] jflambert opened #8663 "Cannot remove datasource with dependencies"
### Version Information

Server Version: 2.8.3

### Environment

OSS

### What is the current behaviour?

Hasura is unable to remove datasources if dependencies to it exist, despite being offered as an option.

### What is the expected behaviour?

The "Continue" button should work and cascade to remote relationships.

### How to reproduce the issue?

1. Track two databases (A and B)
2. Create a re

[2022-07-04 03:41] jflambert commented on #8618
@codingkarthik I found the issue

2.7.0 supported overriding "select" root field w/ streaming subscription

2.8.x doesn't

[2022-07-04 08:55] obayemi commented on #7010
Hello, I would love / need to have sse support for subscription in hasura too, I am ready to try and implement it myself, could some dev from the project give me some pointers on how to approach that challenge ?
I'm not very familliar with haskell nor the projet, I tried to look for the implementation of websockets as reference but had trouble finding it...

[2022-07-04 16:30] elgordino commented on #8632
Hi @coco98 I added some logging to production that records the max difference between 'transaction_timestamp' and 'clock_timestamp' on the rows inserted into the table I want to track.

We see several transactions that take 5 or 6 seconds to complete. If we were to add a lock during these writes it will block writes for too long for other users.

Is this something that Hasura could be modified to

[2022-07-04 19:26] jflambert opened #8665 "Allow remote relationships in subscriptions"
### Is your proposal related to a problem?

I was surprised to learn today that I can't use remote relationships in subscriptions.

The current implementation (2.8.3) shows an error instead `Remote relationships are not allowed in subscriptions`

Issue #4815 says remote fields should not appear in subscriptions. I _don't_ want that. I want the opposite.

### Describe the solution you'd like

I wan

[2022-07-04 19:27] jflambert commented on #4815
Feel free to add your voice to #8665, which I believe is what we both want. I don't want the IDE to hide the remote fields either.

[2022-07-05 01:03] RamyElkest opened #8667 "support full jsonpath in jwt"
### Is your proposal related to a problem?

We're currently unable to set the `x-hasura-default-role` dynamically (and unable to send a `x-hasura-role` from the client)

jwt claims path parsing is [currently limited](https://cs.github.com/hasura/graphql-engine/blob/4a129042fa9326799a0d69f79462a11d044a6a1d/server/src-lib/Data/Parser/JSONPath.hs#L18) to a simplified subset of JSONPath instead of [fu

[2022-07-05 07:07] shrestharajani commented on #6235
I would like to give it a try

[2022-07-05 07:39] codingkarthik commented on #8618
@jflambert Thanks for identifying this issue and I can confirm this is indeed a bug. We'll open a fix for this soon!

[2022-07-05 08:06] sudeshna-22 commented on #5485
I started working on this issue.

[2022-07-05 08:36] codingkarthik commented on #8618
The issue should be fixed by providing a way to customize the streaming subscriptions root field.

[2022-07-05 09:03] SamirTalwar commented on #8667
You are correct in stating that Hasura's support for JSONPath is limited. It currently supports only index access and field access, similar to traversing an object in JavaScript. This is a simple implementation of JSONPath in which we don't have to worry about security vulnerabilities; parsing arbitrary expressions becomes a little more dangerous.

In the JSONPath specification linked above, the e

[2022-07-05 10:24] zzart commented on #348
Please make the arrays work!

[2022-07-05 14:23] nadendlaprasad opened #8668 "Issue post upgrade to v2.8.3"
Hi, can not delete a column from the table even after updating permissions.

Here the steps to produce.

1. Create table and add some columns
2. Add permissions
3. release all permissions on the column you want to delete
4. Now delete column and hasura throws dependent error message even though none of the permissions exists on the column

[2022-07-05 14:28] coco98 commented on #8632
@elgordino Ok, that's good to know. From my reading of the docs, the pg_advisory_xact_lock shouldn't adversely impact transaction performance that much and is in fact the recommended way of achieving this kind of concurrency control.

Another option is to separate the reads and the writes through a slightly more complicated architecture:
- Transactions write to the primary
- Reads are set up on a

[2022-07-05 18:41] thinknirmal commented on #7898
Is there an update to this? The issue still exists in v2.8.3

[2022-07-05 21:32] Tomas1337 commented on #6541
@tirumaraiselvan in your example above
How would one setup the configuration if I wanted `user` to access all the fields (`id`, `name`, `email`)
but have `guest` only access the columns `name` and `id` while returning NULL for `email`?

[2022-07-06 06:29] shrestharajani commented on #6341
I would like to give a try to this issue

[2022-07-06 07:43] sourceful-karlson opened #8669 "feature request: slack integration on github integration"
### Discussed in https://github.com/hasura/graphql-engine/discussions/8513

<div type='discussions-op-text'>

<sup>Originally posted by **sourceful-karlson** May 23, 2022</sup>
Git Deployment

Slack notification would be very benefitcial to our team</div>

[2022-07-06 19:29] Stilborg commented on #7061
Ok, adding and assigning stuff all over the place and not answering the question... That just really not helpful.

So lets try one more again:

_Does Hasura have plans for supporting triggers on view?_

[2022-07-07 06:52] prajzwol7 commented on #8511
@AndrewCraswell this issue must have been solved, I tried the same , its correctly identifying relationship and is creating relationship between two tables in two different schemas.

[2022-07-07 07:44] prajzwol7 commented on #1722
@rikinsk-zz can you provide description for this issue

[2022-07-07 07:49] prajzwol7 commented on #8137
@jflambert this issue might have been solved already .

[2022-07-07 09:29] akvilibrium commented on #7029
Is't it more meaningful by the topic perspective to speak about full read-only connection to inspect entirely functional hasura <instance/cluster/setup/pair of major and metadata db>?
Real case example - a service of the system works only via hasura, you wanna debug some specific case locally; you need local hasura instance for the local service instance, but connect it to db via specific read-onl

[2022-07-07 09:42] akvilibrium opened #8671 "Support readonly hasura instance"
#7029

### Version Information

Server Version: v2.8.3
CLI Version: 2.4.0

### Environment

Ubuntu 20.04.4 LTS
Docker Community Engine 20.10.13

### The problem

There are cases when we need full read-only connection to inspect entirely functional hasura <instance/cluster/setup/pair of major and metadata db>.
Now it crashes with permission error on start of the hasura instance, cause it tries to m

[2022-07-07 12:14] sahilrajput03 commented on #4498
I am using archlinux, and I was able to connect to my local db simply via doing these three things:

1. https://stackoverflow.com/a/32844024/10012446
2. https://stackoverflow.com/a/34577754/10012446

I needed to set password for postgres user as well via:

[code]

Then, I needed to use database url as Database URL as `postgresql://postgres:secret@192.168.18.3:5432/myDb1_test`.

where `192.168.18.3

[2022-07-07 12:31] amal-chandran opened #8672 "Remote Schema - Adding new schema failing with conflict error timestamptz_comparison_exp"
### Version Information

Server Version:
CLI Version (for CLI related issue): 2.8.4

### Environment

Cloud - v2.8.1-cloud.1

### What is the current behaviour?

When I'm trying to add a remote schema of objkt graphql API (https://data.objkt.com/v2/graphql)
The connection is failing with the error message given below
On the cloud console

[code]

On the local docker

[code]

The same issue is only

[2022-07-07 12:55] amal-chandran opened #8673 "Remote Schema - Not allowing to create complex relationship querys"
### Version Information

Server Version:
CLI Version (for CLI related issue): 2.8.4

### Environment

Cloud/ OSS

### What is the current behavior?

When I'm trying to use **or** operation from objkt GraphQL API by stitching the remote schema and local table the Hasura engine is not allowing it.

Remote Schema: https://data.objkt.com/v2/graphql

[code]

### What is the expected behavior?

- The sy

[2022-07-07 12:55] jflambert commented on #8137
ok let me test with 2.8.3

[2022-07-07 13:46] jackherizsmith commented on #2768
Hello! I have just come across this thread, looks like great timing. Given the simplicity of option 1, the complexity of option 2 (i.e. conditionally selecting rows with `where`) and significance it would have for a lot of developers, I think this is the right solution for the product. For the scale of improvement we are about to experience, developers looking for an all in one solution can in the

[2022-07-07 14:39] sauzzon commented on #6704
I like to work on this issue

[2022-07-07 17:21] AThilenius opened #8674 "Remote schema mutation permissions break when using cli metadata apply"
### Version Information

Server Version: v2.8.4-cloud.1 and v2.8.4
CLI Version (for CLI related issue): v2.8.4

### Environment
Server: cloud and self-hosted
CLI V2.8.4 (and the version I was on before) as well as the `hasura/graphql-engine:latest.cli-migrations-v3.ubuntu` Docker image.

### What is the current behaviour?

With remote schema permissions enabled, setting permissions for a non-admin

[2022-07-07 18:35] eaf-drye opened #8675 "Feature Request: Filtered Queries In Event Triggers"
### Discussed in https://github.com/hasura/graphql-engine/discussions/8639

<div type='discussions-op-text'>

<sup>Originally posted by **drye-farms** June 28, 2022</sup>
Hello all,

This is a request to add query filters to the Pending Events/Processed Events/Invocation Logs on the Event Triggers dashboard similar to the filtered queries we can currently execute against our database schemas/table

[2022-07-07 20:15] sbussard commented on #2419
Sounds awesome but I have no idea how hard it is to implement. Maybe graphql doesn't support binary. Either way, I'm grateful for all that hasura is an offers. It's way better than doing everything by hand.

[2022-07-08 02:00] maxpain commented on #4098
Any updates?

[2022-07-08 02:32] jflambert commented on #4098
I wisgh

[2022-07-08 06:16] prajzwol7 commented on #8110
@lionelB i think this issue has been solved in upgraded hasura version.

[2022-07-08 06:41] prajzwol7 commented on #6895
@joshmedeski  this issue has been solved already .

[2022-07-08 06:50] prajzwol7 commented on #6287
@beerose this issue has been solved

[2022-07-08 09:23] maaft opened #8676 ""Cascade-Copy" / "Deep-Copy" Support"
### Is your proposal related to a problem?

Often, clients want to copy entities. Currently, one has to write and maintain significant amounts of code to support copy operations on entities that have a large amount of forgein-keys.

### Describe the solution you'd like

It would be great if hasura could generate these "Deep-Copy" SQL statements and make them available through its GraphQL API:
[cod

[2022-07-08 09:28] prajzwol7 commented on #8340
@BenoitRanque how much precision are you seeking for?

[2022-07-08 15:02] bppn opened #8677 "Support for action relations in sql server"
The current release of Hasura supports action relations for Postgres.  However for sql server, it seams not supported yet.

When will action relations be available for sql server?

[2022-07-08 15:43] #6895 closed

[2022-07-08 20:02] manterfield opened #8679 "Unable to use cross DB relationships in permissions"
### Version Information

Server Version: 2.8.0

### Environment
OSS

### What is the current behaviour?

If I create two databases with tables and create a cross DB relationship on one of these tables, it is not available as an option when building custom permissions in the console UI

### What is the expected behaviour?

I should be able to use this relationship in custom permissions as I would a

[2022-07-09 08:09] adAAM91 commented on #8674
@AThilenius, we run into the same problem, I noticed theres a difference in json and yaml (exported metadata) permissions after you save it in the UI. I fixed it by adding this to the permission (remote_schemas.yaml):

[code]

[2022-07-09 11:47] RobSchilderr commented on #2109
This did the trick. Thanks a lot.

[2022-07-10 02:36] parkerjgit commented on #8538
having same issue with version v2.7.0.cli-migrations-v3 on docker desktop. v2.7.0 works fine.

[2022-07-11 06:22] codingkarthik commented on #8618
Closed via https://github.com/hasura/graphql-engine/commit/584aa666bda386d7842d00d2ff16d1465128b9cf

[2022-07-11 06:22] #8618 closed

[2022-07-11 06:22] codingkarthik commented on #8618
@jflambert You don't need to do anything different and it will just work :)

[2022-07-11 09:36] shrestharajani commented on #6905
I would like to give it a try

[2022-07-11 09:48] codingkarthik commented on #8376
closed via https://github.com/hasura/graphql-engine/commit/edef724879da7bbbd96dec4ab7c9c0c5fff29892

[2022-07-11 09:48] #8376 closed

[2022-07-11 10:14] tirumaraiselvan commented on #8610
Two cases :

1. Source is inconsistent in schema cache but available
2. Source is inconsistent in schema cache and not available

Few design questions here:

1. Should we clear metadata irrespective of whether source is available or not?
2. What's the relationship between clear_metadata behaviour and pg_drop_source behaviour?

[2022-07-11 10:34] nadendlaprasad commented on #8668
update- further troubleshooting the issue. This issue can be simulated on any table on which permissions are created irrespective of the column reference for the permissions

[2022-07-11 11:22] sassela commented on #7760
I did some cleanup of the now-replaced `Basic*` pytests last week, now that hspecs are reliable and required in CI, and wanted to share my anecdotal local comparison of test execution time in closing. Our [goal](https://github.com/hasura/graphql-engine/blob/master/rfcs/hspec-test-suite.md#requirements) was only that tests _were no slower_ in hspec, so I think this is a pretty good result. **Thanks

[2022-07-11 11:22] #7760 closed

[2022-07-11 11:24] soupi commented on #7760
Awesome results! 🎉

[2022-07-11 14:13] BenoitRanque commented on #8668
Closing as a duplicate of #8415

@nadendlaprasad can you please let us know if this issue is _not_ a duplicate, and if it is different, how so?

Also please note that issue now has a fix, but the fix is not released yet (should be in next minor release).

[2022-07-11 14:13] #8668 closed

[2022-07-11 16:07] maxcan commented on #348
coming on 4 years...

[2022-07-11 16:33] rakeshkky commented on #8415
Fixed by https://github.com/hasura/graphql-engine/commit/7634be3216b6ef16a7983ca3d2f043fddf47bc6d. Closing this now, please feel free to re-open if the issue still exists.

[2022-07-11 16:33] #8415 closed

[2022-07-11 17:10] rakeshkky commented on #8610
From initial investigation,
- It is quite clear that even if source is not available, the [`runPostDropSourceHook`](https://github.com/hasura/graphql-engine/blob/99f6172d0dcf387e1a34192f9765cb7ce435196e/server/src-lib/Hasura/RQL/DDL/Schema/Source.hs#L215), that we do before [clearing metadata](https://github.com/hasura/graphql-engine/blob/03c93ad96f0d7f52547b2d90fd2b4655ba6c41a8/server/src-lib/Has

[2022-07-11 18:32] juanluispaz opened #8683 "Optionality of a compound-key relationship wrong"
### Version Information

Server Version: 2.8.4
CLI Version (for CLI related issue):

### Environment

OSS Docker version following https://hasura.io/docs/latest/graphql/core/getting-started/docker-simple/

### What is the current behaviour?

For the following database

[code]

The following definition is generated for the invoice table

[code]

Where the subcontract relation is marked as optional

[2022-07-12 00:12] paritosh-08 commented on #8544
@anazar, The root fields follow the naming convention with `custom_table_name` as well. For example, if I have a table called `user_table` and I set the naming convention to `graphql-default` and set the `custom_table_name` to `my_user_table` then we will have the following root fields:
[code]
Please note that we are not applying the naming convention on the `custom_table_name` itself.

[2022-07-12 03:28] paritosh-08 commented on #8434
Thanks for raising the issue. We have fixed this via https://github.com/hasura/graphql-engine/commit/2498176052d65e8cf5093a0e2947a10b10fd4526. This will be released soon.

[2022-07-12 03:28] #8434 closed

[2022-07-12 03:33] tirumaraiselvan commented on #8598
Were you also sending a Content-type header with the GET request in curl?

I think the Hasura console takes a shortcut and assumes that GET requests do not need a Content-type (which is true in almost all cases), this is possible to change using the API though.

I am closing the issue for now but happy to continue discussing this.

[2022-07-12 03:33] #8598 closed

[2022-07-12 03:33] sudeshna-22 commented on #7787
I'd like to give it a try. So, working on this.

[2022-07-12 03:46] sudeshna-22 commented on #7787
I'd like to give it a try. So, working on this.

[2022-07-12 08:33] edmundmunday opened #8685 "Support SQL/JSON Path Language for querying JSONB columns in Postgres"
### Is your proposal related to a problem?
Currently, the ability to filter a query based on the contents of a JSONB column is extremely limited. Effectively you can only search for an exact string match, or if a given key is/is-not present at the top level of the object.

This means that any solution that wants to implement a JSONB column and needs even slightly flexible query support is effectiv

[2022-07-12 10:49] efstathiosntonas commented on #3882
Any news in this one?

[2022-07-12 11:08] efstathiosntonas commented on #4464
any news in this? ^^ many customers have this issue. Yes, intermediate table is a solution but we want to avoid it.

[2022-07-12 11:52] rakeshkky commented on #8610
Potential fix:

Before clearing metadata, call `runPostDropSourceHook` only for consistent sources, i.e., sources tracked in `SchemaCache`. Leave inconsistent sources.

[2022-07-12 16:33] Keyruu opened #8687 "Can't track tables with columns or constraints with dashes "-" in them"
### Version

2.8.3

### What is the current behaviour?

There is an error when trying to add or delete stuff with a table that has a constraint with a dash in it:
[code]
If I rename the constraint to not have the dash in the name it works fine.
I have this error trying to track the keycloak_role table.

### What is the expected behaviour?

A successful track of the table.

### How to reproduce the

[2022-07-13 05:23] Rigel772 opened #8688 "Problems after attempt to rename a column"
Haura console of remote  DB run from Hasura CLI (served on port 9695)

Server Version:
CLI Version 2.8.3

### Environment

Hasura console. 2.8.3

### What is the current behaviour?

Tried to rename a column creator -> created_by in table messages
Got long error (did not read carefully, something about permissions I believe)
Cancelled operation (closed the column edit window)
... and now lots of pr

[2022-07-13 05:26] sudeshna-22 commented on #8507
can you please describe which part of the docs needs correction? Provide link or something that'd help.

[2022-07-13 05:27] Rigel772 commented on #8688
On page refresh I can see created column "created_by" but when I set permissions I got:
[code]

[2022-07-13 05:30] Rigel772 commented on #8688
When I try to remove all permissions:
[code]

[2022-07-13 05:34] sudeshna-22 commented on #8507
Working on this issue.

[2022-07-13 05:36] Rigel772 commented on #8688
Now I cannot edit any other table...
When I try to add column to another table:
[code]

[2022-07-13 05:45] paritosh-08 commented on #8438
Closed via https://github.com/hasura/graphql-engine/commit/25a027ba79bf6a63c5eada2e50b12213e351bde2

This issue was due to the conflicting root field type names, so HGE will now automatically prefix the root field type names with the root field namespace. Please note that you can change the root field type name by choosing appropriate type name mapping.

[2022-07-13 05:45] #8438 closed

[2022-07-13 05:50] Rigel772 commented on #8688
...actually it may be no related to column update...
Before working with "messages" table I added "created_by" column to a few other tables.
Now I have migrated the changes to stage server (the message table is not affected there - it has unchanged "creator" column) but whatever table I choose I got error:
[code]
So it may be related to adding new colum.... no idea what happens...

[2022-07-13 05:59] ilijaNL commented on #1965
any progress on this to set nullability in hasura metadata?

[2022-07-13 09:09] prajzwol7 commented on #8340
https://github.com/GitStartHQ/client-graphql-engine/pull/25

[2022-07-13 09:40] PJijin opened #8690 "Some of the Hasura console page's style is broken."
### Version Information

Hasura version: v2.8.4

### How to reproduce the issue?

1.  Go to data -> select any table -> click on edit (the label is not shown there. check the screenshot below.)
2.  Click on events -> click on any event -> click on the edit option at Trigger operations
3.  Click on events -> any event -> click on invocation logs -> click on retry

### Screenshots or Screencast

![i

[2022-07-13 11:05] maaft commented on #2419
Just support the [multipart/form-data spec](https://github.com/jaydenseric/graphql-multipart-request-spec) (like everyone else does) and its a done deal.

[2022-07-13 11:13] prajzwol7 commented on #2504
I will try to work on this issue

[2022-07-13 17:40] gjacobrobertson opened #8691 "Aggregate Table Computed Fields"
### Is your proposal related to a problem?

I am having difficulty aggregating over indirect relationships, Take for example the following schema:

[code]
with each table tracked and foreign key exposed as an object and corresponding array relationship.

The generated GQL schema can aggregate ratings by article, e.g.
[code]

but as is, there is no way to query of the form "For each author, return

[2022-07-13 22:03] jozef-slezak opened #8692 "Hasura Event on View errors "...is a view. Views cannot have row-level BEFORE or AFTER triggers.""
### Version Information

Server Version: v2.8.4-cloud.1

### What is the current behaviour?

Hasura displays toast error".is a view. Views cannot have row-level BEFORE or AFTER triggers." from postgres when I try to create event on db view.

### What is the expected behaviour?

I can trigger event on certain rows (where condition) by db views or other way.

### How to reproduce the issue?

Try to

[2022-07-13 23:21] Kaelten opened #8693 "Relay based pagination with multiple sorting keys not working as expected"
### Version Information

Server Version: 2.8.1

### Environment

OSS

### What is the current behaviour?

When paginating a mutable dataset we found that cursor based pagination creates a more reliable experience.  Currently, that means utilizing the relay schema endpoint.   However, when trying to use multiple sort keys we've experienced multiple failure modes.

I've put the full query we're havi

[2022-07-14 07:48] Rigel772 commented on #79
After I use : ```ALTER TABLE <table> DROP <column> ``` statement and checking the Cascade metadata checkbox.'
The table still shows in console...

[2022-07-14 08:45] prajzwol7 commented on #2504
@emahuni are you seeking for comment during the time of table creation or during adding or editing columns?

[2022-07-14 09:09] tirumaraiselvan commented on #8467
Related: https://github.com/hasura/graphql-engine/issues/8414

[2022-07-14 11:35] abdullah2993 opened #8694 "Unable to to apply metadata, error in hdb_catalog.event_logs"
### Version Information
Server Version: tried on `v2.4.0` and `v.2.7.0`
CLI Version (for CLI related issue): `v2.7.0`

### Environment
OSS

### Description
Unable to apply metadata getting the following error from cli
[code]

Server logs show the following:

[code]

for some reason hasura runs the following queries while applying metadata and they seem to fail

[code]

[2022-07-14 15:15] abdullah2993 commented on #8694
It seems like it is trying to update the catalog even though the catalog is already on version `47` and the locked column is already a `timestamp`. It assumes that the column is boolean and try to set it to true which throws the above error.

[2022-07-14 22:11] freezeboy commented on #7820
The cli-plugins-index still references the version 2.0.0 which is not available for darwin-arm64, whereas the 2.0.9 is.

I guess the index just needs to be updated.

[2022-07-15 08:40] tirumaraiselvan commented on #1995
Hey folks, multiple admin secrets is available in our Cloud/EE offering: https://hasura.io/docs/latest/graphql/cloud/security/multiple-admin-secrets/

We understand this may not be the most ideal thing for open-source users but there is an easy workaround to achieve the same in OSS: create JWT tokens with `role: admin` each of which can be used essentially as an admin secret.

[2022-07-15 08:40] #1995 closed

[2022-07-15 09:56] shrestharajani commented on #8661
I would like to work on this

[2022-07-15 10:43] jasonmccallister commented on #1995
Thank you @tirumaraiselvan that is what I have done in the meantime although it does not provide access to the console it does work with the OSS version.

Keep up the great work!!!

[2022-07-15 11:29] ilijaNL commented on #5643
Bump!

[2022-07-15 16:59] rongcuid opened #8695 "Console: `ALTER VIEW` does not update data tab properly"
### Version Information

Server Version: 2.8.0

### Environment

Self hosted, `docker-compose.yaml`:

[code]

### What is the current behaviour?

### What is the expected behaviour?

When view is renamed, the left side of data tab still holds the old view name

### How to reproduce the issue?

1. Create a view using `CREATE VIEW view AS something`
2. Rename the view with `ALTER VIEW view RENAME TO

[2022-07-15 17:27] jcarrus commented on #5643
I'm pretty sure multiple files are used in config v3, which is the default since graphql-engine (hasura) v2.0.0

https://hasura.io/docs/latest/graphql/core/migrations/upgrade-v3/

[2022-07-15 17:33] malkhuzayyim commented on #5643
True, this issue should be closed as hasura-cli config v3 now works this way.

[2022-07-15 21:21] johnkoehn commented on #8371
@TeoTN We run into an intermittent issue with our site that uses Cloudflare pages calling Hasura and getting CORs issues. You ever find a solution for this? What's weird is most of the time it works but then gets into a weird state where it stops working.

[2022-07-15 21:22] ilijaNL commented on #8632
This is a limitation of postgres. The only way to achieve "commit" sequence is to use a lock which means that you are limited to a single writer at the same time. Only possible solution is probably to use the wal log with master and slave tables as mentioned above. Thus my advice is to batch the writes or make the transactions smaller (shorter to commit inside db). This is a well-known problem for

[2022-07-15 22:03] collin opened #8696 "Metadata resource version referenced (N) did not match current version during deployments"
### Version Information

Server Version: from Dockerfile: `v2.6.2.cli-migrations-v3`

### Environment

Google Cloud Platform
Cloud Run

### What is the current behaviour?

We are intermittently seeing errors when starting up new containers in Cloud Run.

### What is the expected behaviour?

We would expect containers to successfully boot.

### How to reproduce the issue?

We're not entirely sure w

[2022-07-16 10:19] kim-mini6 opened #8697 "There are no Non trackable functions and hdb_catalog in Hasura Cloud."
When i create Docker Hasura local with Amazon Aurora database, functions are included in Non trackable functions, but when created with Hasura Cloud, Non trackable functions are empty.

Also, there is no hdb_catalog in Hasura Cloud.

What should I do?

thank you.

[2022-07-17 17:52] Zerebokep commented on #4917
Any update on this?

[2022-07-18 07:14] rikinsk commented on #8697
As mentioned [here](https://hasura.io/docs/latest/graphql/core/how-it-works/metadata-schema/#hdb_catalog-schema) the metadata in Hasura Cloud is stored in dedicated DBs managed by Hasura Cloud itself.

Are there any specific functions you are looking for that were missing?

If you could explain in a bit more detail what you are looking to achieve and we'll try to guide you towards it.

[2022-07-18 09:16] codingkarthik commented on #8610
I think the objective of `clear_metadata` is for Hasura to provide a way to provide a clean slate and ideally, there should be no hindrance for the user to do this. In our case, to deal with inconsistent sources, we could provide a way to "force" clear a source where if a source is inconsistent we don't do any source post-drop cleanups.

[2022-07-18 11:09] prajzwol7 commented on #2504
[Added column comment during table creation.](https://github.com/GitStartHQ/client-graphql-engine/pull/38)

[2022-07-18 11:10] prajzwol7 commented on #2504
[Added column comment during table creation (#2504)](https://github.com/GitStartHQ/client-graphql-engine/pull/38)

[2022-07-18 11:21] b-dreissigacker opened #8698 "Server: Type Name prefix and suffix are not removed when a mutation is forwarded to a remote service"
### Version Information

Server Version: I tested it with v2.7.0 and 2.8.4

### Environment

oss

### What is the current behavior?

When adding a suffix or prefix to type names of the remote schema the query is forwarded to the remote service with the suffix/prefix.
This causes Mutations to fail with some types of remote services if the suffixed Types are used as mutation inputs.

E.g. if the rem

[2022-07-18 13:40] soorajshankar commented on #8690
Hey Folks,

Thanks for reporting the issue @PJijin!

Thanks for volunteering to contribute @sudeshna-22! I'm assigning this issue to you.
Here are some suggestions from our end,
- We started using more TailwindCSS and less CSS/SCSS to simplify the UI development, would appreciate if you can follow the pattern.
- [Here](https://main--614d7904644d03004addd43b.chromatic.com/?path=/story/dev-tooling--

[2022-07-18 15:59] sassela commented on #8432
Do you have any recent examples? If so, mind adding them as comments [here](https://github.com/hasura/graphql-engine-mono/issues/4783)? Gil did a bunch of work to stabilise the BQ tests in CI, but I wasn't aware of other recent failures.

Good question. I can't speak with any confidence about this until we [_measure_ the success rate in CI](https://github.com/hasura/graphql-engine-mono/issues/5083

[2022-07-18 18:42] adas98012 opened #8699 "Error when Renaming a computed field in GraphQL API"
### Version Information

Server Version: 2.8.4

### Environment

Cloud

### What is the current behaviour?

Computed field in GQL can't use a column name same a s a DB column name (e.g. "id"), even when the DB column name is mapped to a different column name (e.g. "_id") in GQL.

### What is the expected behaviour?

It should be possible to name a computed field to any value (including a DB column

[2022-07-18 21:08] lxblvs commented on #2768
This is very cool, thank you for this feature. I will definitely use it and praise the developers who wrote this code.

But I still hope that at some point you change your position on complex where clauses in the multiupdates. If we want to shoot ourselves in the foot and run conflicting mutations in a single call - please let us. Or maybe have a flag to run them sequentially and not as a single t

[2022-07-19 04:43] shrestharajani commented on #8569
I would like to work on this

[2022-07-19 05:09] revskill10 commented on #2768
Hi @eviefp It's almost the same as Prisma Transaction feature, but one more difference.

In Prisma transaction, they can mix match both query and mutation though.

[2022-07-19 05:26] prajzwol7 commented on #6182
@beerose this issue seems to be fixed .

[2022-07-19 06:21] eviefp commented on #2768
We actually did change that! So right now we allow arbitrary `where` clauses that can freely overlap. We just run them in sequence, inside a transaction.

If there's user interest, we could definitely add a flag/option to allow running outside a transaction scope, ignoring errors.

[2022-07-19 06:24] prajzwol7 commented on #8157
@m4ttheweric  the issue must have been solved, please have a look

[2022-07-19 07:56] FakhruddinAbdi commented on #336
I believe it should be a short-term feature
It's really annoying when working on a real project and you can not manage all the queries in the console
I have to copy and paste from the code every time

Compared with apollo studio and Altair, GrqphiQl interface is outdated

And as the issue is open since 2018, its supposed to be fixed by now even with the long term label

[2022-07-19 09:55] lxblvs commented on #2768
@eviefp oh great! Are you also having your original `update_table_many_by_pk`? Running optimised mutations by pk would be quite badass for bulk deterministic mutations (like updating rows in a table where ids are known by the front-end)

[2022-07-19 10:07] eviefp commented on #2768
@lxblvs We gave that up in favor of this current iteration. However, if we get enough requests, we can definitely prioritize the original `update_table_many_by_pk`!

[2022-07-19 11:36] Varun-Choudhary commented on #6182
Thanks, @prajzwol7! I just check the issue, you are right this issue is fixed now.

[2022-07-19 11:39] nicoburns commented on #724
@tirumaraiselvan

Do you know what the dependencies for macOS are? Even if there isn't a static binary available, a dynamically linked binary I could distribute along with instructions such as "run `brew install libpq-dev` would be a lot better than the situation now (where we essentially have to recompile on every machine!).

I also wonder whether if it might be relatively easy to setup a homebre

[2022-07-19 11:43] #6182 closed

[2022-07-19 12:04] SamirTalwar commented on #7555
I accidentally did some of this in https://github.com/hasura/graphql-engine-mono/pull/4707/commits/c2394c8cc48798bf9dfc5ed130153e08705ae4a1. It's untested and not complete but might be helpful.

[2022-07-19 13:37] elitan commented on #336
@FakhruddinAbdi Hasura is open source. If you want this fixed, you can do so and make a PR.

[2022-07-19 16:46] ajohnson1200 commented on #2768
Just so that we deeply understand the problem, can you talk through your use case in a little more detail?  ie: when you say "bulk", are you talking 10 rows, 100 rows, or 1000 rows?  And does the new solution that @eviefp outlined about prohibit you from accomplishing that goal... or is it instead that you can accomplish the goal, it's just not as fast?

[2022-07-19 17:06] FakhruddinAbdi commented on #336
you are partially correct. but is not a minor bug fixing and the main project is not fully open source.
Please take my point lightly, I just wanted to help you with the task prioritzing.

[2022-07-19 21:05] AThilenius commented on #8674
@adAAM91 I can't get the CLI to be happy with that format, I always get the following error:
[code]

[2022-07-19 22:55] adrianhdezm commented on #2760
Are any updates on this issue ?

[2022-07-20 07:29] elitan commented on #336
I think I'm 100% correct because:

- Whether a bug (it's not really a bug but a feature request) is minor or major is arbitrary.
- The part you want to be fixed is open source.

[2022-07-20 09:03] codingkarthik commented on #8674
Dupe of https://github.com/hasura/graphql-engine/issues/8455

[2022-07-20 09:03] #8674 closed

[2022-07-20 09:51] va3093 opened #8703 "Allow running migrations with different database user with escalated priveledges"
In some of our migrations, we create extensions which require the postgres user to have superuser permissions. When running the migrations it seems like hasura uses the user configured with the hasura instance. We have given this user only the permissions it needs to perform its actions as an application server (ie. no super user permissions)

The problem we have is that in order to run our migrat

[2022-07-20 10:04] sudeshna-22 commented on #8690
A recent commit to the main repo appears to have resolved the problems raised in this issue. However, there are some section that could be improved.

1. There is some change in the edit section of the data which does not match other view of the application.
2. There is no space between the button and other elements.

I believe I can improve this section.

![image](https://user-images.githubusercon

[2022-07-20 11:28] sudeshna-22 opened #8704 "Console: The styling of the data table view and edit row sections needs an improvement"
### Problem Description

The recent commit meddled some of the styling in the table view and edit row sections. So it needs improvement.

1. In the data table view section, If the table is an enum table, the elements displayed should be inline with Run query button and Export data dropdown, but they appear just below the other elements.
2. In the edit row section, the large space between the side

[2022-07-20 11:29] sudeshna-22 commented on #8690
Will be solving this in this issue: The styling of the data table view and edit row sections needs an improvement. #8704

[2022-07-20 21:13] AThilenius commented on #8455
@codingkarthik Sorry, I'm very confused. That linked commend is a workaround, not a solution. This bug persists, I just checked with the latest CLI version `v2.9.0-beta.3`. Metadata export does not add the `schema { ... }` object like it should.

Did I miss something, or is this being marked "won't fix"?

[2022-07-21 11:07] revskill10 commented on #336
@elitan Your point is not wrong, but it's not helpful, because we're on github, and of course Hasura Core is open source. So the quote "Because it's open source, if you want to have a feature, please make a PR for it" seems unrelated, as it's 100% correct, regardless of any kind of github open source project. So what's the point of commenting such thing here ?

Feature request is to let the team k

[2022-07-21 11:51] elitan commented on #336
Adding useful comments to expand issues and show user demand is good.

What's not helpful, and what I was pointing out, is this type of comment:

https://github.com/hasura/graphql-engine/issues/336#issuecomment-1188724170

[2022-07-21 12:13] ofilipowicz commented on #8383
I had the same problem on v2.8. It works fine on v2.9.0-beta.3 👌

[2022-07-21 12:39] sanderkooger commented on #8383
@ofilipowicz  I think you might just have saved my ass

[2022-07-21 13:14] maxgfr commented on #1498
✚ 𝟏

[2022-07-21 23:25] jcarrus commented on #7094
This would help us extend the built-in operators (_eq, _lt, etc) with custom functions.

For example, the `inet` type is only supported implicitly and there's not a way to use the Postgres built-in inet operators:

![image](https://user-images.githubusercontent.com/4761903/180330194-63fbf88d-ca11-4ca9-b3d8-416ebdfdcd3b.png)
from: https://www.postgresql.org/docs/14/functions-net.html

But we could

[2022-07-21 23:31] jcarrus commented on #7473
It seems like parameterized queries would also be available as "computed fields" that could be added as a "computed column" for a table, is this true @0x777 ?

And if so, there's currently a limitation that computed fields/functions that accept an additional argument cannot be used in the where clause. It seems like parameterized queries would also have this limitation, yes?

#7094 has some additi

[2022-07-22 00:36] ro-savage opened #8710 "Console: Input for action handler url is too small"
The input for the action handler URL is too small to be useful.

<img width="438" alt="image" src="https://user-images.githubusercontent.com/9244507/180337387-4797073e-98a1-44e5-9fcb-35b1b523f1c2.png">

[2022-07-22 09:30] #6968 closed

[2022-07-22 11:42] insysion opened #8712 "Docker images cannot be used as base layer"
### What is the current behaviour?

A docker build with a hasura image as the base fails.

### What is the expected behaviour?

Docker builds using hasura images as a base succeed allowing developers to build docker images with their own migrations baked in.

### How to reproduce the issue?

1. Dockerfile: ```FROM hasura/graphql-engine:v2.8.4```
2. `docker build -t hasura .`

### Screenshots or Sc

[2022-07-22 11:49] insysion commented on #8712
EDIT: Interestingly, the image can't even be pulled:
[code]
Which makes me think maybe I'm misunderstanding the error message and maybe I haven't given docker the proper privileges or something. Although running using `sudo` (I know, I know!) still doesn't work.

[2022-07-22 11:54] insysion commented on #8712
Ok, further investigation shows this succeeding on a colleagues machine so I am closing this ticket.

[2022-07-22 11:54] #8712 closed

[2022-07-22 13:48] vxm5091 commented on #3238
+1 This would be super helpful to have

[2022-07-22 14:10] VincentLandais commented on #8415
Facing this issue in 2.8.4

[2022-07-23 00:01] jcarrus commented on #7094
In terms of the proposed syntax, it seems like you'd need to pass the arguments in the where clause also:

[code]

But if you didn't also need the value, you'd only pass it in one place:

[code]

[2022-07-23 01:29] 13banda commented on #1573
3 year so on. how many more year need to release this features?
look like hasura focus shifted to cloud.

[2022-07-23 01:47] 13banda commented on #8685
+1

[2022-07-23 15:12] Hardik-hi commented on #321
You can refer here if above URL gives 404

https://hasura.io/docs/latest/schema/postgres/custom-functions/#example-text-search-functions

@0x777 Kindly update the same in your comment

[2022-07-24 11:43] Bessonov commented on #1573
Calm down, guys. Hasura is open source for relevant parts. Who holds you down from working on RFC and implementation?

[2022-07-24 12:24] rayhantr commented on #2346
Any update on this? It would be really beneficial.

[2022-07-24 15:48] praveenweb commented on #6716
For those encountering this issue, I have updated the metadata to include the necessary permissions for ease of use. Here's the [source for the hasura project](https://github.com/hasura/learn-graphql/tree/master/tutorials/frontend/nextjs/hasura).

Initially, it was meant to be a boilerplate where the backend tutorial would be followed by the user, but I have realised more and more people were stuc

[2022-07-24 19:29] WGTW commented on #3184
Nearing three years since the opening of this issue, what's the ETA? Thanks!

[2022-07-24 21:00] jawang94 commented on #3244
bump - is this working yet?

[2022-07-25 03:23] 27medkamal commented on #7903
Is there any update on this?

[2022-07-25 06:53] soupi commented on #3796
Hey folks. Thanks again for your patience. We have merged a fix for this bug at https://github.com/hasura/graphql-engine/commit/ee15c804bc8f46fb2c9c0267200f29fe1ba49785 and it will be available in the next stable release within two weeks. In the meantime, you can try it out using the Docker image `hasurabuild/graphql-engine:mono-branch-dev-58e5e6a-main.ubuntu`.

[2022-07-25 06:53] #3796 closed

[2022-07-25 18:04] Zerebokep opened #8715 "actions without input parameters result in triplequoted types"
Hasura 2.8.4

Save the following action:

[code]
saving it results in:

[code]

Not sure if this is intended.

[2022-07-25 19:27] divemotion commented on #2599
use this code it's work
[code]

for ERRCODE number you can only use in this list [https://www.postgresql.org/docs/current/errcodes-appendix.html](url)

[2022-07-26 05:07] vijayprasanna13 commented on #6287
Thanks @prajzwol7, closing this issue.

[2022-07-26 05:07] #6287 closed

[2022-07-26 06:37] jonesty opened #8716 "Subscription not updating properly when table select permission based on now()"
### Version Information

Server Version: 2.8.4

### Environment

OSS

### What is the current behaviour?

A subscription against a table that has a time-sensitive select permission - based on `now()` - doesn't update when it should.

### What is the expected behaviour?

The subscription should update the results of the query as soon as the select permission filter evaluates to true (within 1 secon

[2022-07-26 06:53] daniel-chambers opened #8717 "Count aggregate that takes multiple columns does not compute correct results"
### Version Information
Server Version: 2.8.4

### Environment
OSS

### What is the current behaviour?
For a Postgres data source, if you issue a GraphQL aggregate query using a count aggregation function that takes multiple columns, such as:

[code]
this returns a count of all rows in the Invoice table. This is incorrect.

### What is the expected behaviour?
The expected behaviour is to return a

[2022-07-26 09:44] Remy-T commented on #3184
+1

[2022-07-26 15:37] ilijaNL commented on #8717
you can just use the where clause inside Invoice_aggregate,

```Invoice_aggregate(where: { BillingState: { _neq: null }, BillingPostalCode: {  _neq: null }  })```

[2022-07-26 17:03] guillaumeduhan commented on #2138
Hasura cannot process array but it can process array literals.

I've written a function to help you to transform your array into array literal before mutation:

`const toArrayLiteral = (arr) => (JSON.stringify(arr).replace('[', '{').replace(']', '}'))

myObject.array = toArrayLiteral(myObject.array) // will make ['friend'] to {'friend'}
`

Good luck

[2022-07-26 17:21] #8110 closed

[2022-07-26 19:02] nizamani opened #8719 "Hasura Verify JWT And Return Response"
I want to ask can Hasura just validate a JWT without making an API call to database and return whether or not JWT is valid.
For example we make an API call to Hasura endpoint, can Hasura do this:
- tell us that JWT is valid for role user
- JWT hasn't expired
Or does Hasura only validates JWT when we make a graphql API call either to Hasura action(backend code) or fetching records from database?
Th

[2022-07-27 02:18] aaka3207 opened #8720 "Remote Schemas: Can't return interface type when using Remote Schema permissions"
### Version Information

Server Version: **2.8.3**
CLI Version (for CLI related issue): **v2.4.0**

### Environment

### What is the current behaviour?
I have a remote schema with a field that resolves to an interface type, where there are some shared fields (such as id, name, and type), and then child fields that inherit from that field. It's much cleaner to do this than to implement unions since

[2022-07-27 10:47] garyamorris opened #8722 "Synapse support"
### Discussed in https://github.com/hasura/graphql-engine/discussions/8681

<div type='discussions-op-text'>

<sup>Originally posted by **garyamorris** July 11, 2022</sup>
Do you have any plans to support synapse?

We're making a move to synapse and due to json support we're having to look at alternatives to Hasura and just wanted to see if there was any plans on extending the MS SQL Server suppor

[2022-07-28 03:09] paritosh-08 commented on #8640
Thank you so much for raising the issue. All the issue mentioned above has been resolved and will be released in our next release.
- 3,5 and 7 via https://github.com/hasura/graphql-engine/commit/0c6ddc36663c3802bd2e03458d70c7a346499ad9
- 1,2 and 4 via https://github.com/hasura/graphql-engine/commit/680cf5b3c00658828d2dfe37e07e16a2d79c2589
- 6 via https://github.com/hasura/graphql-engine/commit/d66

[2022-07-28 03:11] paritosh-08 commented on #8544
This issue has been resolved via https://github.com/hasura/graphql-engine/commit/84366c92818e32c04093db9f8ba2913243a8c5d9. I am closing this issue for now.

[2022-07-28 03:11] #8544 closed

[2022-07-28 03:44] 27medkamal commented on #5349
Is this going to be implemented at all?

[2022-07-28 04:31] deathemperor commented on #3064
https://github.com/hasura/graphql-engine/releases/tag/v2.10.0-beta.1 now support Apollo Federation 1.0. Hurray to Hasura team!

[2022-07-28 05:03] #8640 closed

[2022-07-28 05:17] tirumaraiselvan commented on #3064
Yes! We have released support for Apollo Federation in `v2.10.0-beta.1` . Please see the docs for usage: https://hasura.io/docs/latest/data-federation/apollo-federation/

Pls do open issues on this repo if you encounter any problem in your usage.

[2022-07-28 05:17] #3064 closed

[2022-07-28 05:46] natew commented on #724
Not sure if there are links in this but in the case it works, I was able to build [following the mac instructions](https://github.com/hasura/graphql-engine/blob/master/server/COMPILING-ON-MACOS.md), here's the binary:

[graphql-engine.zip](https://github.com/hasura/graphql-engine/files/9205750/graphql-engine.zip)

[2022-07-28 06:05] lorenzo commented on #8640
Thank you so much for all your work!

[2022-07-28 06:09] celvin commented on #4165
Or at least move it to a position where it won't be as annoying

[2022-07-28 06:59] kdawgwilk commented on #3064
This is great to see!  🎉  Anywhere we can track progress on supporting Federation v2 spec?

[2022-07-28 10:28] mac2000 opened #8725 "apollo federation: reference entities"
Hurray #3064 is here, so giving it a try

Trying to build the following graph:

**Authors Service**

[code]

**Books Service**

[code]

to do so I have prepared following docker compose:

<details>
<summary>docker-compose.yml</summary>

[code]

</details>

After starting it up, connected both databases to corresponding consoles and created basic tables, then untrack them and via API add them back

[2022-07-28 10:51] paritosh-08 commented on #8725
Hey @mac2000, thanks a lot for trying out the feature and raising the issue. Currently, the Apollo Federation support in Hasura does not allow you to extend Hasura types from other subgraphs (we recommend remote relationships for this). You can use Hasura types to extend types in other subgraphs though. You can checkout the RFC [here](https://github.com/hasura/graphql-engine/blob/master/rfcs/apoll

[2022-07-28 11:02] cyber1998 commented on #8345
Facing the same issue here.. it would be great if we can fix this as soon as possible. 99% of our frontend (both web and mobile) are reliant on Hasura and we would love to use the new features of the latest releases but due to this bug we had to revert back to an older version. :(

[2022-07-28 11:58] mac2000 commented on #8725
@paritosh-08 oh I see, sorry, somehow I was so excited about a new feature that did not see this docs 🤷‍♂️🤦‍♂️

But still - the awesome job is done 💪🎉

🤞 to have managed Hasura services in our graph in future

[2022-07-28 11:58] #8725 closed

[2022-07-28 13:14] maaft opened #8726 "parent_id not dropped although relationship does not exist"
### Version Information

Server Version: 2.9.0
CLI Version (for CLI related issue): 2.9.0

### Environment

ubuntu 22.04.

### What is the current behaviour?

Attempting to drop column "segmentation_markup_id" from table "datapoint_markups" shows relation ship error, although no relationship is present. The relationship existed before but was deleted.

![image](https://user-images.githubuserconten

[2022-07-28 13:16] maaft commented on #8726
Restarting hasura + hasura console and reapplying all migrations does solve this issue. So it's possibly only a temporary data bug in console's web application.

[2022-07-28 13:56] maaft commented on #1433
@0x777 Hello?

[2022-07-28 14:32] maaft commented on #8726
Same happens to the graphql-schema: After removing the relationship in hasura console, the graphql schema still shows it.

[2022-07-28 15:21] maaft commented on #6918
Where can "after_parent" be set? It's not stated anywhere in the docs

[2022-07-28 15:26] maaft commented on #2576
.yaml file of the table (metadata). Default is `insertion_order: null`

[2022-07-28 17:40] AdityaBhutani commented on #4787
Still

[2022-07-28 17:57] BenoitRanque commented on #8694
Update: issue was resolved after running the following SQL:
[code]

Explanation: database was missing `hdb_catalog.hdb_source_catalog_version` table. Creating it and setting the version fixed it.
This may be a bug. Important here is that user is using the same database for metadata and data, which may be relevant.

Todo: attempt to reproduce the issue to figure out if this is a bug.

@abdullah2993

[2022-07-28 18:00] nate123456 commented on #3184
Looking forward to this as well. +1

[2022-07-28 20:16] abdullah2993 commented on #8694
@BenoitRanque thank you again for getting it resolved. There is nothing special to report here we did the standard upgrades overtime as far as I can remember we are using the same instance since hasura `v1.x.x` as for env variables we use the heroku image provided by hasura which uses `HASURA_GRAPHQL_METADATA_DATABASE_URL`

[2022-07-28 20:49] jflambert commented on #2592
+1

[2022-07-29 09:20] DaxGoon commented on #678
I am following this as this is something I want as well.
Add CockroachDB support.

[2022-07-29 11:50] #2047 closed

[2022-07-29 11:50] #8298 closed

[2022-07-29 13:11] nikhilshinday commented on #8415
Also facing this in v2.9.0

[2022-07-29 18:10] Zerebokep opened #8731 "gen_random_uuid() should be available for uuid fields like now() for timestamp fields when using mutations"
Generally it would be neat to use postgres functions inside queries and mutations.

[2022-07-30 02:48] edmundmunday opened #8732 "New (beta) relationship creation workflow requires 7x the number of clicks and takes 24x as long as the old workflow"
This isn't exactly a bug, but I couldn't find where to provide direct feedback on the new (beta) relationship creation workflow so I'm raising it here. The new relationship creation workflow that is in beta, replacing the existing workflow, is SO BAD.

### Version Information

v2.9.0-cloud.1

### Environment

Cloud
### What is the current behaviour?
**Experience with Beta relationship creation:**

[2022-07-31 04:28] phamquyhai opened #8733 "Out of memory when click reload enum or reload metadata"
### Version Information

Server Version: v2.10.0-beta.1
CLI Version (for CLI related issue): v2.9.0

### How to reproduce the issue?

- Click reload enum in table settings
- Click Reload metadata in `console/settings/metadata-actions`

### Screenshots or Screencast

[code]

[2022-07-31 11:13] raajnadar commented on #7390
I am getting the same when migrating from `hasura/graphql-engine:v2.8.4` to `hasura/graphql-engine:v2.9.0`

And the docker keeps restarting

[2022-07-31 20:45] raajnadar commented on #7390
I solve my issue by adding `HASURA_GRAPHQL_METADATA_DATABASE_URL: 'postgres_url'` in the `docker-copose.yml`

[2022-08-01 05:01] deathemperor commented on #8522
can confirm issue happen on 2.8.x
also confirmed the workaround works.

[2022-08-01 10:56] maaft commented on #1326
Any updates? This is the last step missing in having a complete unified GraphQL API instead of having to talk to different endpoints.

[2022-08-01 12:49] mwahlhuetter commented on #8234
Having the same issue. Have you ever found a solution or the root cause of the problem?

[2022-08-01 14:16] Marco-Aurelio-Carguero commented on #6194
@tirumaraiselvan @almassapargali was this resolved? I would also like to work with bigint but in hasura only int is available.

[2022-08-02 01:11] joaorbdg opened #8734 "[CRITICAL] Event Triggers | Extensions can only be created on heroku_ext schema"
### Environment
Cloud

### What is the current behaviour?

If you connect a Postgres database that runs in Heroku to your Hasura instance, you cannot create Event Triggers on Hasura.

The reason is that Heroku doesn't allow creating Postgres extensions in the `public` schema. Heroku only allow creating extensions in a schema called `heroku_ext`.

### What is the expected behaviour?

Be able to cre

[2022-08-02 03:07] nternouski commented on #2387
how do you get the token instead?

[2022-08-02 03:20] BenoitRanque opened #8735 "MSSQL: VARCHAR columns compared against NVARCHAR strings."
### Version Information

Server Version: 2.8.4

### Environment

CLOUD / OSS

### What is the current behaviour?

When comparing a string against a `VARCHAR` column, the string is formatted as a  `NVARCHAR` string.
[code]

### What is the expected behaviour?

Strings should be compared with strings of the same type.
[code]

### How to reproduce the issue?

See [full repro](https://github.com/hasur

[2022-08-02 06:24] sassela commented on #8735
thanks Benoit, and for the linked detail. We'll triage this in the next week or so

[2022-08-02 10:25] coffemakingtoaster opened #8736 "Add changelog option to migrate create command"
### Is your proposal related to a problem?

When working with a long running project I always find it frustrating when there are no migration changelogs. Depending on the circumstances this requires me to go to the PR introducing the migration to find a list of changes (if that even exists).

### Describe the solution you'd like

An easy solution to this would be to introduce an `--generate-change

[2022-08-02 10:45] scriptonist commented on #7914
The reason why this might be a bad idea is, that seeds are currently stateless, as opposed to migrations. ie migrations are in a way idempotent, so a cli-migrations container can be restarted multiple times in its lifetime since the migrations "state" is persisted.

But on the other hand, seeds are not handled in a similar fashion, so unless the user writes seeds as idempotent SQL a similar behavi

[2022-08-02 11:20] SGChristianMP commented on #6648
And when tracking a table

[2022-08-02 20:56] atakane commented on #7828
Is there any news about bringing bigint support for MSSQL?

[2022-08-03 09:46] BenoitRanque commented on #8735
Update: we've confirmed that this deference does result in different execution plans.

### SQL we are comparing:

Version 1: compare `varchar` column to `varchar` string
[code]
Version 2: compare `varchar` column to `nvarchar` string
[code]
The resulting plans indicate the second variant includes an implicit conversion step,
and a "Clustered Index Scan" rather than a "Clustered Index Seek"

Versio

[2022-08-03 18:39] floer32 opened #8740 "CLI: `hasura migrate apply --down` could validate the argument value and abort if it's absurdly big"
### Is your proposal related to a problem?

Recently I meant to run this command:

[code]

But recalling the flags from memory, I accidentally ran this command instead:

[code]

This was interpreted as wanting to go down N migrations where N = `1659058116550`. I think it's safe to assume that is _never_ what the operator intended.

Luckily, this was in a dev environment. That's actually why I didn

[2022-08-04 08:27] noverby opened #8741 "GraphQL aliasing causes "database query error""
### Version Information

Server Version:
Hasura v2.8.3

### Environment
nhost v2.0

### What is the current behaviour?
The query:
[code]
Outputs:
[code]

### What is the expected behaviour?
That the query actually runs.

If I change the alias (`relations_bcdb8_910e3`) to something shorter than 21 characters, then the query runs without any problems.

### Please provide any traces or logs that coul

[2022-08-04 10:11] fonzarely commented on #8731
you can already.
<img width="1026" alt="image" src="https://user-images.githubusercontent.com/707217/182822461-faf3028c-323d-402d-9957-fb0fa83ab403.png">

[2022-08-04 12:35] ivan-kleshnin commented on #1416
Instead of adding new variable it may better to support `schema` query param:

[code]

[2022-08-04 14:40] browniefed opened #8742 "Hasura deploy fails with Event trigger does not exist"
### Version Information

Server Version: v2.9.0 + v2.10.0-beta.1
CLI Version (for CLI related issue): v2.9.0 + v2.10.0-beta.1

### Environment

MacOS 12.4
docker-compose

### What is the current behaviour?

When attempting to stand up Hasura from an empty state locally with migrations and metadata that includes an `event trigger`.

Running `hasura deploy` will apply metadata, and migrations, but t

[2022-08-04 16:12] OriginalEXE opened #8743 "Alphabetical ordering of properties in exported yaml files not working"
### Version Information

Server Version:
CLI Version (for CLI related issue): 2.9.0 (tried 2.8.0 as well)

### Environment

Cloud

### What is the current behaviour?

Running hasura console and changing permission on the table regenerates a yaml file with object properties sorted randomly

### What is the expected behaviour?

Object properties should be sorted alphabetically as per the changelog

[2022-08-04 17:35] chiaberry commented on #8734
https://github.com/hasura/graphql-engine/pull/496/files

[2022-08-04 18:05] abdullah2993 commented on #6050
reopening as https://github.com/hasura/graphql-engine/pull/8524 was reverted for https://github.com/hasura/graphql-engine/issues/8617

[2022-08-04 18:05] abdullah2993 commented on #5426
reopening as https://github.com/hasura/graphql-engine/pull/8524 was reverted for https://github.com/hasura/graphql-engine/issues/8617

[2022-08-04 18:13] abdullah2993 opened #8744 "Adding _cast support back"
support for `_cast` was added in [this PR](https://github.com/hasura/graphql-engine/pull/8524) which was reverted because of [this issue](https://github.com/hasura/graphql-engine/issues/8617). Since I can not reopen the closed issues so creating a fresh one for adding the `_cast` support back
Previous Issues:
https://github.com/hasura/graphql-engine/issues/5426
https://github.com/hasura/graphql-en

[2022-08-04 19:21] L-U-C-K-Y commented on #7189
Would also be interested!

[2022-08-04 20:12] MussieT commented on #3184
+1

[2022-08-04 20:56] approached opened #8745 "OR Query not work"
Hi @ all

My simple OR query not work. Has anybody a idea?

GraphQlQuery:
[code]

Data:
[code]

Result:
[code]

[2022-08-04 23:12] chrismaddalena opened #8746 "Include Additional Details for Webhook Authentication Request Failures (Where Possible)"
### Is your proposal related to a problem?

I have experienced some frustrating issues while troubleshooting webhook authentication failures. I have an open-source Django project that uses the Hasura GraphQL Engine. Hasura sends a webhook request (`/api/webhook`) to Nginx. I have ample logging on the Nginx/Django side of things, so it's easy to diagnose why a request is denied, but this is not the

[2022-08-05 07:05] dohomi commented on #6334
this does not seem to work for Hasura Cloud based databases. Is there an alternative?

[2022-08-05 08:00] Zerebokep commented on #8731
I mean using it in a query, not as default.

[2022-08-05 09:04] Hsoratsa opened #8747 "Event trigger on sql database with a Danish_Norvegian_CI_AI collation and with a special norwegian characters (æ, ø, å, Æ, Ø, Å)"
### Version Information

Server Version:2.9.0
CLI Version (for CLI related issue):2.9.0

### Environment

 OSS

### What is the current behaviour?

We have a sql database connected to hasura with a Danish_Norvegian_CI_AI collation.
In this database there are some columns with norwegian characters(ø, ...), column name for ex. is Fødeland
When we create an event trigger on that table with columns wi

[2022-08-05 09:46] rccc commented on #1573
@Bessonov You are right, hasura is open source, but once can says that they received funding : https://hasura.io/blog/seriesc-100m-graphql-for-everyone/...

[2022-08-05 12:48] jflambert opened #8751 "Show applied migrations in CLI image (like hasura-cli does)"
### Is your proposal related to a problem?

with debug log level, hasura-cli shows which migrations are applied. but the docker-cli image doesn't.

Here's `hasura-cli migrate apply --skip-update-check --project hasura --log-level DEBUG`

![image](https://user-images.githubusercontent.com/11539524/183079836-05e21051-6bbb-418e-b65d-6fe6a575faeb.png)

And here's the only information provided by `hasu

[2022-08-05 14:01] Lippur commented on #7471
This still occurs a year later. It makes the Console UI essentially useless for editing the remote schema permissions, everything has to be done manually.

[2022-08-05 15:18] joelnwalkley opened #8752 "Cannot make any queries in GraphiQL without x-hasura-admin-secret"
### Version Information

Server Version: 2.9.0 (however in the console the label displays as v2.0.8)
CLI Version (for CLI related issue):

### Environment

Local development, in Hasura Console running in Docker.
Using Chrome 104.0.5112.79 to access Hasura Console

### What is the current behaviour?

When removing the `x-hasura-admin-secret` request header key I no longer have access to _any_ items

[2022-08-05 18:27] heliocaruccio commented on #1573
Yes, calm is great... but I think there was a lot of attention diversion to implement on other banks like mySQL leaving the base image huge and blurring a basic feature that is implemented in many frameworks, for example active record on rails has been doing this for a long time time. About being opensource.. yeah but it's in Haskel doesn't make it much easier... but still hearts in this project.

[2022-08-05 19:25] jozef-slezak commented on #4842
+1

[2022-08-05 19:33] approached commented on #8745
SQL Query:
[code]

[2022-08-05 19:38] approached commented on #8745
Not work:
[code]

Not work:
[code]

Not work:
[code]

[2022-08-05 20:07] approached commented on #8745
Solution:
[code]

...Array tag was missed

[2022-08-05 20:07] #8745 closed

[2022-08-05 23:31] bryanyanay commented on #3589
@markau Hello! I'm doing the Hasura Basics tutorial, and I believe I'm stuck with the same problem.

After implementing the action that gets auth0 profile info (according to the tutorials instructions), I keep getting the `"claims key: 'https://hasura.io/jwt/claims' not found"` error.

From your comment it seems that you solved it by adding the claims to the idToken as well as the accessToken, but

[2022-08-06 02:52] AwakenedMind commented on #8734
ran into this issue as well on Hasura Cloud
[](https://devcenter.heroku.com/changelog-items/2446)

[2022-08-06 15:37] jokester commented on #8339
In case you are ok with docker: we could use a [one-shot hasura container](https://github.com/hasura/graphql-engine/issues/3480#issuecomment-1121748513) to run migrations with a different `HASURA_GRAPHQL_DATABASE_URL`

[2022-08-07 05:00] Rigel772 commented on #1180
Any update on this?

[2022-08-07 05:01] tienpvse1 opened #8757 "Fetch if aggregate value of the returned table rows by the computed field satisfies a condition"
![image](https://user-images.githubusercontent.com/86212960/183275941-666928ce-1779-4fc1-9978-2c599e4c126f.png)

Currently in the document, this feature seems to exist and pretty helpful for me, however , when I've tried many times to create computed fields, this filter using aggregate value feature doesn't exist
Link to the document: https://hasura.io/docs/latest/queries/postgres/query-filters/#f

[2022-08-07 21:38] comerc commented on #1288
Added HASURA_GRAPHQL_ADMIN_SECRET for local docker-compose work fine with firebase HASURA_GRAPHQL_JWT_SECRET: '{"type":"RS256","jwk_url": "https://www.googleapis.com/service_accounts/v1/jwk/securetoken@system.gserviceaccount.com", "audience": "my-project-id", "issuer": "https://securetoken.google.com/my-project-id"}'

[2022-08-08 06:49] thanush commented on #3272
it's working fine even with the error.

[2022-08-08 09:09] clausMeko commented on #8191
I often have this issue if a file mentioned in `tables.yaml` or `functions.yaml` doesn´t exist in the file system or is named differently.

Acutally a more precise error message would be nice.

[2022-08-08 11:10] iosifnicolae2 commented on #7189
We've managed to implement a solution using [clickhouse_fdw](https://github.com/adjust/clickhouse_fdw) (also, we've fixed some bugs with json support here: https://github.com/iosifnicolae2/clickhouse_fdw)

[2022-08-08 11:50] rikinsk commented on #8752
This is expected behaviour. You can use the `x-hasura-user-id` & `x-hasura-role` to "pretend" to be that user-id and role only if you are an admin (which is determined by the admin-secret header).

Without the admin secret the only way to get access with a particular user-id and role is by providing a valid Authorization token. If not any user can send requests with headers as any role and user-id

[2022-08-08 12:30] sasog23 opened #8763 "hasura api console"
why doesn't api console correctly interpret query settings

order_by: {bank_name: asc, balance: asc, account_number: asc}
instead of
order_by: [{bank_name: asc}, {balance: asc}, {account_number: asc}]

[2022-08-08 15:28] martin-hasura commented on #8732
Hey there @edmundmunday ,
So this feature is currently feature flagged as a preview since it wasn't 'feature complete'.
We added this as early access so users could get the benefit of a GUI for cross-datasource relationships before the new interface was complete.

In the final version of this component we will continue supporting Suggested Relationships which will have a similar usage to the curre

[2022-08-08 15:40] BenoitRanque commented on #8733
This issue may be a lack of computing resources in your infrastructure.

We do know that metadata reload is expensive, memory wise.

Can you confirm whether you face this issue on older versions of hasura, on the same infra?

[2022-08-08 23:43] fcpauldiaz commented on #8383
I have a similar issue when adding a new column with v2.9.0-beta.3

[2022-08-09 00:23] jflambert commented on #8114
actually @rikinsk  this also applies to the CLI tool. If I disable telemetry at the docker image level, I also expect the CLI tool not to nag me everytime I run it.

Worse is I get the message even though I run with log-level WARN

For example

[code]

[2022-08-09 05:32] liuxiaodong008008 commented on #5589
Hi @jascodes, do you get the header mapping feature or alternative solution? I ran into the same problem.

[2022-08-09 06:01] santhoshkumarch opened #8766 "Remote Joined columns are not showing in where condition"
I have added two PostgreSQL DB in a DB manager, as shown in the image,
<img width="141" alt="Screenshot 2022-08-09 at 11 27 56 AM" src="https://user-images.githubusercontent.com/21010099/183575346-55c0b088-c639-40c4-ad6c-b49e3d52f9a8.png">

and i have make a join from the primary db table  to secondary db table  - the columns are showing but i cant a
<img width="153" alt="Screenshot 2022-08-09 at

[2022-08-09 06:34] ivan-kleshnin commented on #6716
Am I the only one wondering why permission error results in irrelevant text? 🤔

[2022-08-09 06:52] etrepum commented on #8734
This won't fix the issue with Hasura cloud, but I have worked around this in Docker by patching the binary to replace `SCHEMA public` with whitespace.

[code]

[2022-08-09 07:34] AwakenedMind commented on #8734
Anyone who is using Hasura Cloud and trying to restore metadata on a Heroku db is kinda screwed, Heroku ended up breaking many backend tooling across many businesses according to some of the posts I've seen online. They seemed to have forecfully injected heroku_ext schema on production databases... I ended up leaving Heroku altogether.

1. using pg_dump on our heroku db,
2. exported the Hasura met

[2022-08-09 10:14] rikinsk commented on #8763
We have this tracked [here](https://github.com/hasura/graphql-engine/issues/3322)

[2022-08-09 10:14] #8763 closed

[2022-08-09 11:04] ofilipowicz commented on #4379
Any update on this one?

[2022-08-09 11:38] ro-savage commented on #8734
It would be great if Hasura could check if the extension is installed, and then if it was just skip trying to install it.
This would fix Heroku deploys, and be a non-breaking change for everyone else.

Alternatively the command run could be  `CREATE EXTENSION IF NOT EXISTS pgcrypto` dropping the schema per etrepum's comment.

However - I am not sure how this would affect other users?

I've also ra

[2022-08-09 13:00] tirumaraiselvan commented on #8734
This is true. In regular Postgres, such a scenario doesn't fail. There seems to something off with Heroku PG and extensions. If you install the extension in `heroku_ext`, it doesn't show up in the result of `select * from pg_extension` either.

[2022-08-09 14:55] radhay-samagra opened #8769 "Not able to connect to Google BigQuery"
### Version Information

Server Version:
CLI Version (for CLI related issue):

### Environment

OSS

### What is the current behaviour?

Not able to connect to BigQuery from Hasura v2.9.0
### What is the expected behaviour?

Fetch metadata for Graphql Queries
### How to reproduce the issue?

1. Installed Hasura docker-compose and followed steps from docs [page](https://hasura.io/docs/latest/databa

[2022-08-09 15:32] marcusrohden commented on #2317
hi guys, any updates on this? would be amazing to have the ability to receive the initial data + only the changed data in future updates.

[2022-08-09 16:17] pleclech commented on #2317
@marcusrohden What you want is probably looking at the streaming API: https://www.youtube.com/watch?v=C1TDDlXPSmI

[2022-08-09 21:18] stayradiated opened #8770 "$PORT env var is not available when using `cli-migrations-v3` with custom Docker CMD"
### Version Information

Server Version: v2.9.0

### Environment

This issue occurs when using the `hasura/graphql-engine:v2.9.0.cli-migrations-v3` image with a custom Dockerfile that needs to bind to the `PORT` environment variable.

This situation is encountered when running Hasura on Heroku, as the Dockerfile `CMD` must be modified to set the server port correctly. See the [`graphql-engine-hero

[2022-08-09 21:55] talgat-ruby commented on #7311
I am not from hasura team and maybe they will clarify/update my answer.

Basically async actions for a long-running process. So the server would not just timeout. From [docs](https://hasura.io/docs/latest/actions/async-actions/) I guess internally async action make requests to action and assigns `action_id` which is just a tracker.

So sync and async are no different in terms of implementation. Th

[2022-08-10 04:05] ivan-kleshnin commented on #7434
Yes, the `default` is no longer a default 😮‍💨

[2022-08-10 09:18] fkowal commented on #7910
I'd also am looking for a way to pass env secret as a query param (it's required by an external service) as an authorization mechanism (hubspot `hapikey`)

The same mechanism that enables choosing `VALUE|ENV` when setting a header argument for actions makes sense to be applied for query parameters.

The admin has option for choose it when configuring the action.

Second option i tried was passing

[2022-08-10 09:46] fkowal opened #8771 "REST + Webhook Auth operation context missing"
### Is your proposal related to a problem?
Inconsistent behavior of webhook `request` for REST api. #7910
I am unable to pass queryParam from ENV variable (secret required by external system)

### Solution consistent webhook that provides the context for REST & graphql queries

Given:
[code]

HASURA_GRAPHQL_AUTH_HOOK=GET
[code]

HASURA_GRAPHQL_AUTH_HOOK=POST
[code]

When the operation name is avai

[2022-08-10 11:24] ro-savage commented on #8734
@tirumaraiselvan - Unfortunately it appears 2.9.0-beta is also broken on heroku (but in a different way) https://github.com/hasura/graphql-engine/issues/8770

[2022-08-10 14:50] KayakinKoder commented on #8693
Also experiencing this. This *may* have been a recently introduced bug; we were using multiple order-by in production and things were working as expected, then broke suddenly recently (broke meaning ordering was unexpected).

[2022-08-10 15:45] mrbarletta commented on #8688
I had the very same issue  on `v2.9.0-cloud.1`.
It reached an unstable state that I cannot fix.

Any ideas? I am thinking on downloading metadata, `fix` by hand, upload...

[2022-08-10 15:59] mrbarletta commented on #8688
For those who had the same issue, seems to be related to a column name change when the column was also a FK / relationship.

- [ ] Export metadata
- [ ] Find the table you renamed and check the relation if it points to the new renamed field.
- [ ] Check the permissions for specific column list, which might be set for the old field name
- [ ] Import metadata + Pray

[2022-08-10 17:14] corysimmons commented on #2824
Does anyone have an updated version of this that works? This is super frustrating...

[2022-08-10 17:27] c-nv-s commented on #3184
would really appreciate this feature to help prevent long term strain on the eyes.

[2022-08-10 17:35] raphaeltm commented on #7898
I'm running into the same issue. REST endpoints aren't being exported or imported properly.

[2022-08-10 18:37] Blackbarbie8 commented on #8771
Close#4

[2022-08-11 01:49] qbunt commented on #8734
just hit the same thing with being blocked from installing `pgcrypto` into the public schema for UUID support.

IMO, this isn't something that Hasura _should_ be fixing, and is entirely in Heroku's court.

[2022-08-11 03:39] tirumaraiselvan commented on #8734
Hey folks, this has been fixed as of v2.11.0-beta.1 .  There are 2 places where pgrcypto is required: in metadata db and source db (only if using event triggers)

If you are using Heroku PG as the metadata DB, then pls set `HASURA_GRAPHQL_METADATA_DATABASE_EXTENSIONS_SCHEMA: heroku_ext`

If you are using event triggers on your source db (which is Heroku PG), then pls set `extensions_schema` field

[2022-08-11 03:39] #8734 closed

[2022-08-11 03:46] tirumaraiselvan commented on #3657
Hey folks, this is possible as of v2.11.0-beta.1 . There are 2 places where pgrcypto is required: in metadata db and source db (only if using event triggers)

For your metadata DB,  pls set `HASURA_GRAPHQL_METADATA_DATABASE_EXTENSIONS_SCHEMA` env var to the appropriate schema name.

If you are using event triggers on your source db, then pls set `extensions_schema` field in the source metadata to

[2022-08-11 03:46] #3657 closed

[2022-08-11 07:50] efstathiosntonas opened #8774 "Console: New Relationships UI array relationships do not show up on dropdown inputs related tables on edit"
### Version Information

Server Version: 2.11.0-beta.1
CLI Version (for CLI related issue):

### Environment
OSS

### What is the current behaviour?
Using the new relationships UI, try to edit one array relationship, the tables won't populate in the dropdown inputs. See screenshots for more info.

If I revert back to the old ui, everything shows up.

**NOTE: these relationships shown on screenshot

[2022-08-11 09:02] danieljharvey commented on #8735
This behaviour comes from the `ODBC` library. `NVARCHAR` is 2 bytes per character (so supports Unicode), but `VARCHAR` is one 1 byte.

Currently the library encodes all text values as `NVARCHAR`:
https://github.com/fpco/odbc/blob/38e04349fe28a91f189e44bd7783220956d18aae/src/Database/ODBC/SQLServer.hs#L542

I suppose the fix would be to make a change to the library to add another constructor for `S

[2022-08-11 13:17] sassela commented on #8735
thanks all. Suggesting we timebox investigation to 1 day

[2022-08-11 13:45] soupi commented on #8735
i think we need to make sure that, if the column has the type varchar, and the string literal only contains in the string literal are ascii characters, before we are able to convert the string literal we get from the query (which afaik is encoded in utf-8) to varchar.

Another approach that @plcplc proposed was to cast the nvarchar literal to varchar. If MSSQL would throw an error in such a case I

[2022-08-11 13:56] sassela opened #8776 "server/cockroachdb: prepared args"
CDB is sensitive to all prepared query arguments be referenced in the query, PG is not. Currently we always pass session variables as a prepared argument, so this is a problem.

[2022-08-11 15:55] franciscolourenco commented on #4299
Do you have an example use case for tracking a function which returns a single item, besides the example of returning the current user?

What are the advantages of using such a function compared to selecting the user from the users table?

Cheers!

[2022-08-11 16:56] kevcube opened #8777 "CLI: Hasura CLI health check"
### Is your proposal related to a problem?

There's no great way to run an in-container health check without modifying the containers that Hasura ships. I'd like to be able to run `hasura-cli health` or something inside a container to get the same information at `/healthz` so that I can add it to a docker-compose healthcheck.

### Describe the solution you'd like

`hasura-cli health` which exits w

[2022-08-11 17:50] sourceful-karlson commented on #8741
I see this on the cloud hasura v2.10.0 too, this is an urgent bug for us

[2022-08-11 18:49] tomhasura commented on #8741
@sourceful-karlson - Can you please share the error which you are getting on 2.10.0?

[2022-08-11 18:52] sourceful-karlson commented on #8741
we have asked the Hasura cloud team to downgrade to 2.9.0 and it has fixed the issue.

it has something to do with the length of your table name and the length of your schema name. If it is longer than certain charactoers, it is trunscated and the insert query doesn not work.

[2022-08-11 19:02] CameronNemo commented on #8611
Seeing the same with keycloak. https://github.com/keycloak/keycloak/issues/11320

[2022-08-11 19:36] joelnwalkley commented on #8752
When I have all three headers (role, user-id, and admin-secret) the explorer does not "pretend" I am that user, but rather gives me complete admin access to select all items from the database even if permissions disallow it for that user.

Additionally, examples given in the docs do not appear to use the admin-secret in the header: [Link](https://hasura.io/docs/latest/auth/authorization/common-rol

[2022-08-11 19:49] plcplc commented on #8735
I think the reason we're seeing that the index isn't used is that there is an [implicit conversion](https://docs.microsoft.com/en-us/sql/t-sql/functions/cast-and-convert-transact-sql?view=sql-server-ver15#implicit-conversions) "VARCHAR -> NVARCHAR", which means that it considers the expression `[test_varchar].[id] = N'varchar'` as though it were `CAST([test_varchar].[id] AS NVARCHAR) = N'varchar'`

[2022-08-11 20:16] zebholt commented on #8636
I'm curious if this is related to the inability to not see the column names on the edit screen when they exceed a certain length. Very maddening..

<img width="589" alt="Screen Shot 2022-08-11 at 4 14 48 PM" src="https://user-images.githubusercontent.com/1588044/184234151-33f747c6-af74-4666-aa68-1b2ba8c72814.png">

[2022-08-11 20:47] caiogranero commented on #8747
Hi, i have the same problem with portugues characters like 'ç, ã, è'

[2022-08-11 21:32] johnkoehn commented on #2097
Any interest in doing this still? Would be a 🔥 feature

[2022-08-11 22:12] plcplc opened #8788 "CockroachDB: Basic query support"
Our initial support for `v22.1` CockroachDB should include just that of running basic queries.

The scope of this is that a user should be able to, via the console:
1. Add a cockroachdb source on a page branded as such.
2. Create and track tables
5. Run a graphql query that exercises filters and aggregations.

The following are excluded from the scope of basic queries and can be implemented afterw

[2022-08-11 22:14] plcplc opened #8789 "Server/Tests: Integrate CockroachDB in test harness and CI"
This issue involves implementing a CockroachDB test harness in the [Haskell integration test suite](https://github.com/hasura/graphql-engine/tree/master/server/tests-hspec/Test), running the tests, and seeing what falls out.
* [x] adding a `v22.1` CockroachDB docker container to the `server/docker-compose.yml` file
* [x] introducing a `CockroachDB` testing fixture in `Tests/Harness/Backend.hs`

[2022-08-11 22:15] plcplc opened #8790 "server/cockroachdb: Define a new Postgres variant boilerplate"
This issue involves introducing a new `PGKind cockroachDB` and `AnyBackend` constructor.

As a first pass, consider grepping the codebase for `PGKind citus` for the parts of the `graphql-engine` codebase that need to be adapted to support CockroachDB queries.

_To verify_
This work may well be done in parallel with [test work](https://github.com/hasura/graphql-engine/issues/8789), so perhaps makin

[2022-08-11 22:15] plcplc opened #8791 "pg-client-hs must support jsonb type binary format"
It turns out that the 'wire format incompatibility' we thought we had discovered between PostgreSQL and CockroachDB actually comes down to CockroachDB conflating the types `json` and `jsonb` (`json` is just an alias for `jsonb`), and that our `pg-client-hs` library needs to support `jsonb` column results in order to be able to work correctly with CockroachDB.

See this gist https://gist.github.com

[2022-08-11 22:16] plcplc opened #8792 "Strict usage of prepared arguments"
TBD

[2022-08-11 22:17] plcplc opened #8793 "Console/Server: Define a new Postgres variant boilerplate"
First, we'll need to do a tech spike to determine whether it would be _faster_ to:
* reuse existing Postgres components, knowing that they'll be replaced shortly
* use or extend the newer GDC components

Then proceed to introduce console support for the following on a CockroachDB data source:
- [x] connect via the MetadataAPI/import metadata UI
- [x] connect via the Console Manager UI
- [x] view a

[2022-08-11 22:18] plcplc opened #8794 "Console: Integrate CockroachDB and disable Raw SQL"
As some of the SQL functions will not be available for CockroachDB, we need to disable the possibility for the users to run raw SQL statements.

[2022-08-12 02:32] evanwang0 opened #8778 ""distinct_on" columns must match initial "order_by" columns"
### Version Information

Server Version: v2.10.0
CLI Version (for CLI related issue):

### Environment
Cloud + OSS

### What is the current behaviour?
Query errors when using "distinct_on" with "order_by" when conditions for error are met.

`"distinct_on" columns must match initial "order_by" columns`

### What is the expected behaviour?
Query completes successfully.

### How to reproduce the issu

[2022-08-12 03:25] gstewart-anduin opened #8779 "Add support for selecting the DB tenant via a JWT claim"
### Is your proposal related to a problem?

We use schema per tenant approach in PostgreSql. Currently we have to use apollo client to modify the query by adding the correct tenant to the front of the query and then map the tenant claim in the JWT to a user which has access to the proper tables/views/actions for that tenant.

### Describe the solution you'd like
It would be awesome if we could map

[2022-08-12 04:18] hgiasac opened #8780 "sort error: parsing Hasura.Backends.Postgres.SQL.DML.NullsOrder failed"
### Version Information

Server Version: v2.10.0
CLI Version (for CLI related issue):

### Environment

OSS

### What is the current behaviour?

HGE returns error `parsing Hasura.Backends.Postgres.SQL.DML.NullsOrder failed, expected one of the tags ["ulls_first","ulls_last"], but found tag "last"` when sorting any table in the Data tab.

### What is the expected behaviour?
Sorting table should wor

[2022-08-12 04:40] efstathiosntonas commented on #8780
Same here on 2.10.0. I can’t order the tables at all.

[2022-08-12 05:50] elitan commented on #2419
[Hasura Storage](https://github.com/nhost/hasura-storage) might be useful for some developers seeing this issue. It uses S3 to store files and use Hasura to store file metadata and manage permissions.

[2022-08-12 07:51] amal-chandran opened #8781 "Missing payload sample in documentation"
### Is your proposal related to a problem?

When we need to use the one-off scheduled events/cron trigger need to trigger it once to see the arguments we are getting from Hasura. For event triggers, we have documentation that describes how the  JSON payload would look like
https://hasura.io/docs/1.0/graphql/core/event-triggers/payload.html#json-payload

### Describe the solution you'd like

Need s

[2022-08-12 08:31] Zerebokep commented on #2576
@rikinsk New relationship UI is still missing a insertion order dropdown.

[2022-08-12 09:26] HTHoussam commented on #8778
i had the same error you should add `updated_at` to the `distinct_on` this should fix the error
 `order_by: { updated_at: desc, activity_id: asc }, distinct_on: [activity_id,updated_at])`
this worked for me but

[2022-08-12 09:33] HTHoussam commented on #8778
if you change the code to what i have suggested, can you test if the query orders by both fields `updated_at` and `activity_id`,because on my code it doesn't order by both fields
my code:
[code]

[2022-08-12 10:03] HTHoussam commented on #8778
after further testing, i figured that it orders based on both fields, just the order of the fields inside `Order_by` array crucial
this code:
[code]
returned different results than the code mentioned here.
just sharing in case some one needs this

[2022-08-12 10:16] rupurt commented on #8189
This causes an issue on fly.io connecting to services via internal DNS :{

[2022-08-12 11:09] sourceful-karlson opened #8782 "feature request: integration with Google Cloud Monitor"
### Discussed in https://github.com/hasura/graphql-engine/discussions/8513

<div type='discussions-op-text'>

<sup>Originally posted by **sourceful-karlson** May 23, 2022</sup>
Git Deployment

Is there any time line of integration with Google Cloud for monitoring data?

</div>

[2022-08-12 12:54] AndRud commented on #3238
Please, add this feature. It will be really helpful

[2022-08-12 14:32] evanwang0 commented on #8778
Thanks! This solved my problem. I guess the question to the maintainers is then - which is the correct behavior? Regardless, it is somewhat of a breaking change.

[2022-08-12 16:46] rocketraman opened #8783 "Support API tokens that override JWT auth"
### Is your proposal related to a problem?

I have semi-trusted user agents (in my case, managed mobile kiosks) that need limited access to my backend. These devices do not have users logging in and receiving JWT credentials.

I would like to authorize the actions performed by these devices by associating a role to the credentials issued to each device, and and be able to disable credentials for p

[2022-08-12 19:33] omerlugov commented on #3571
As [Phil Sturgeon](https://apisyouwonthate.com/authors/phil-sturgeon) put it: "**_Do. Not. Use. 200. For. Errors. Ok?!_**"
Full article: [Creating Good API Errors in REST, GraphQL and gRPC](https://apisyouwonthate.com/blog/useful-api-errors-for-rest-graphql-and-grpc), April 15, 2019

[2022-08-13 00:33] ajohnson1200 commented on #8780
Thanks everyone for reporting this issue. We've identified the root cause and will be deploying a fix for this ASAP.

[2022-08-13 10:15] DesmondSol opened #8785 "how to add increment primary key in an existing hasura table"
### Version Information

Server Version:
v2.10.0-cloud.1
### Environment

v2.10.0-cloud.1

### What is the current behaviour?

when creating my tables in the hasura console i forgot to make the id auto incremental for all the tables i used and after that when i tried to change them all to that there wasn't any easy way available i could find so i had to create alter statements for all the tables o

[2022-08-13 11:53] epvp-Luke commented on #8407
I can confirm that issue, this also seems to be the case for all requests which don't return status 200. [RFC 6265](https://www.rfc-editor.org/rfc/rfc6265) states responses with 400/500 status codes must include set-cookie headers.

[2022-08-13 11:54] edmundmunday commented on #8732
Hey @martin-hasura - fully appreciate that this is pre-release, I just couldn't see any other way of providing feedback on the experience, so figured this was the best medium.

Without seeing the E2E flow with the new experience, I can't really say if the suggested relationships is ok or not. The loss of suggested relationships was really only one of a few pretty major issues I personally have wit

[2022-08-13 13:44] konnyaku256 commented on #8734
Thank you for your prompt response!

I'm currently having the exact same problem. Hopefully this will be officially released as soon as possible.

[2022-08-13 18:17] corysimmons commented on #4889
For anyone else stumbling upon this, you can just use `FROM node` to get a Docker image with most of the tools you might need.

If that doesn't work, try `FROM ubuntu` then `RUN apt-get update -y && apt-get install -y nodejs`. Ubuntu should have about everything you could need, even if it's a bit heavier/slower than the other images.

[2022-08-13 21:05] corysimmons commented on #4165
This could be as simple as an env var like `HASURA_DISABLE_UPGRADE_BANNER`

Someone clicked the shiny button to upgrade from 1.x to 2.x several months ago and brought an entire prod site down for a week or two. 😣

[2022-08-14 16:32] corysimmons commented on #5532
@scriptonist This needs reopened. It's not just a capital letter thing, it's the pg_dump trying to consume an illegal character thing.

[2022-08-14 21:58] munjalpatel opened #8786 "Data Relationships doesn't populate fields in edit mode"
### Version Information

Server Version: `v2.10.0`
CLI Version (for CLI related issue): `v2.10.0`

### Environment

OSS

### What is the current behavior?

The new `Data Relationships` UI doesn't populate proper information for `Reference Schema`, `Reference Table`, `Source Column`, and `Reference Column` when in an **Edit Relationship** mode.

_Refer to the screenshot_

### What is the expected b

[2022-08-15 00:06] Blackbarbie8 commented on #8771
<a href="https://www.boss.dev/issue/github/i_kwdocdwcqm5pil9d"><img src="https://img.shields.io/endpoint.svg?url=https://api.boss.dev/badge/bounty%3fgid%3dboss%2fvus1021dnsos761qjfir7k" /></a>

[2022-08-15 02:43] Anteloper commented on #3244
+1

[2022-08-15 08:12] FakhruddinAbdi commented on #1573
Unfortunately, many projects like (Hasura, Prisma, Firebase), start by solving basic problems But later, get stuck on handling and solving real problems.
When you check the project for the first time and play with it, it works great and it you choose it for your next project
But when you invest in, you will block on the such problems which don't receive any updates for years

[2022-08-15 14:21] kurt-o-sys commented on #8734
@tirumaraiselvan  I still have issues to get Hasura running running. It used to work, broke suddenly and can't get the application running again: https://stackoverflow.com/questions/73274923/hasura-on-heroku-fails-to-make-connection-to-postgres . I even can't access the Hasura console, because the application simply doesn't start. When I connect from Hasura cloud, it seems to work (but in that cas

[2022-08-15 14:27] sfarley85 opened #8787 "Hasura export and auto-apply package produce error without query collections"
### Version Information

Server Version: 2.10
CLI Version (for CLI related issue): 2.8.1

### Environment

Local

### What is the current behaviour?

I am migrating an existing setup to use metadata/migrations tracking across environments. Locally I setup a new folder for the hasura project and ran `hasura export` (even though that appears to be redundant as the init set it up). Everything looks t

[2022-08-15 16:27] FlxEd commented on #6918
I am desesperately searching for that too ... :/

[2022-08-15 16:30] sassela commented on #8776
dupe of https://github.com/hasura/graphql-engine/issues/8792, closing

[2022-08-15 16:30] #8776 closed

[2022-08-16 01:13] fcpauldiaz commented on #3757
any updates on this?

[2022-08-16 04:07] ruffCode opened #8795 "[docs] Typo in "Creating An Enum Table From A Native PG Enum" example"
There is an extra parenthesis causing a syntax error.

[code]

I will submit a PR shortly.

[2022-08-16 06:21] ivan-kleshnin commented on #2849
Something's fundamentally wrong with the names and the docs here.

Sorry, what? 🤔 🤡

[2022-08-16 07:43] plcplc opened #8797 "Server: Deal with lack of support for custom `SET LOCAL` options"
HGE uses the transaction-local options feature of Postgres, accessed via the [`SET LOCAL`](https://www.postgresql.org/docs/14/sql-set.html) to set custom variables `hasura.user` and `hasura.tracing_context`.

The CockroachDB implementation of [`SET LOCAL`](https://www.cockroachlabs.com/docs/v22.1/set-vars.html#set-local) do not support custom variables.

In order to close this gap, either Cockroac

[2022-08-16 08:56] scriptonist commented on #8095
@jflambert can you elaborate a bit on the behaviour that you expect here?

In the CLI migrations image at a high level, the following are the steps which are executed:

[code]
if after the `metadata reload` the metadata is inconsistent will you expect the applied migrations to be rolled back and the metadata to be restored to the "old" state? ie whatever it was before this process started.

[2022-08-16 09:12] sassela opened #8798 "server/cockroachdb: add `cockroachdb_table_metadata.sql`"

[2022-08-16 09:12] sassela opened #8799 "Server/CockroachDB: Verify Metadata API for CockroachDB"
This issue involves:
- at a minimum verifying manually that adding a cockroachDB via the `cockroach_add_source` operation works (with the same inputs as [the `pg_add_source` operation](https://hasura.io/docs/latest/api-reference/metadata-api/source/#metadata-pg-add-source))
- verify that `cockroach_track_tables` works
- optionally, adding a hspec test for `replace_metadata` with a cockroachDB
- op

[2022-08-16 09:12] sassela opened #8800 "server/cockroachdb: add `cockroachdb_table_metadata.sql`"

[2022-08-16 09:36] i-am-tom commented on #8789
NB: if someone picks this up while #8790 is being done, we can change the `Fixture.run` function to ignore the CockroachDB `BackendType` entirely. This way, we can add the boilerplate in the fixture lists before the other work is done, and then we can remove the guard in `run` as soon as we're ready to try running the tests against the implementation.

[2022-08-16 09:43] toondaey commented on #6310
Hi @carlpaten, were you able to solve this?

[2022-08-16 10:33] geeksquad87 opened #8803 "Hasura_Graphql_Auth_Hook Custom Http Headers from Auth Endpoint are not forwarded to Response via Ngnix"
### Discussed in https://github.com/hasura/graphql-engine/discussions/8802

<div type='discussions-op-text'>

<sup>Originally posted by **geeksquad87** August 16, 2022</sup>
I configured a NodeJs based simple POST Rest API as Authentication Endpoint for Hasura_Graphql_Auth_Hook . In my Auth WebHook endpoint, I am adding a custom header after validating the Authorization header received from origin

[2022-08-16 10:43] geeksquad87 commented on #8803
Hasura Version 2.7.0
NodeJs Version 14

[2022-08-16 11:31] ilijaNL commented on #8624
Tested with 2.8.0 & 2.10.0. This is a severe issue since makes cli-migrations-v3 image kind of useless when having triggers set.

[2022-08-16 11:49] jaycverg commented on #2592
We also need this feature.

[2022-08-16 12:03] harishnair96 commented on #8742
@browniefed Thanks for reporting this. We were able to reproduce the issue.

[2022-08-16 12:05] rikinsk commented on #8752
this is quite surprising and I am unable to reproduce this. could you confirm if you are still observing this. i am wondering if the explorer did not end up running the introspection query once the role info is updated.

Thanks for pointing that out. thats definitely a miss.

[2022-08-16 15:21] jflambert commented on #8095
No

I expect the same behaviour as the API offers

fully applied migrations

broken metadata

[2022-08-16 16:21] paymog opened #8805 "`pg_track_table` fails if previously tracked table has been deleted"
### Version Information

Server Version: `hasura/graphql-engine:v2.6.0`
CLI Version (for CLI related issue): NA

### Environment

docker container `hasura/graphql-engine:v2.6.0`

### What is the current behaviour?

The engine fails to track a postgres table if a previously tracked table has been deleted but not untracked.

### What is the expected behaviour?

I expect hasura to track tables regard

[2022-08-16 18:38] gabriel-sevecek commented on #8441
Same. Any workaround?

[2022-08-16 18:53] evanwang0 commented on #8778
Coming back to this, while this resolved the error, I believe the underlying behavior is not the same.

[2022-08-16 19:26] kornect commented on #8019
This would be a very useful feature, I also just spent a whole lot of hours trying to figure out why hasura explorer worked but my app did not, this is was the response error

`"message":"field \"profiles_by_pk\" not found in type: 'query_root'"`

A permission was missing😩

[2022-08-17 06:35] scriptonist commented on #8095
@jflambert Thanks. Can you clarify what you mean by "broken metadata"?

If we call the new metadata that we are applying "new" and the current metadata on the server "old". Then if when trying to apply  "new" metadata results in an inconsistency you expect the metadata on the server to be unchanged ie the server will have "old" metadata. is that so?

[2022-08-17 09:20] SeiwonPark commented on #4498
You saved my day :) thanks 👍

[2022-08-17 09:20] SeiwonPark commented on #4498
You saved my day :) thanks 👍

[2022-08-17 10:04] rikinsk commented on #8609
Fixed via https://github.com/hasura/graphql-engine/commit/6d2c8f1ec3c85d0508af687e65e8f0ae6c1cb215

[2022-08-17 10:04] #8609 closed

[2022-08-17 10:13] FlxEd commented on #5001
Hasura is a great product !

But this feature missing has almost been a deal breaker for me to even use actions at all :/
I have heavily nested types / relations and I need my custom inputs / outputs to be the closest possible to the Hasura auto-generated ones.

Quick and dirty workaround for me was to generate schema.graphql from Hasura (using GenQL CLI). Then copy-paste the entire content of the

[2022-08-17 11:45] maaft opened #8806 "2.10.1: error applying metadata when event triggers exist"
### Version Information

Server Version: 2.10.1
CLI Version (for CLI related issue): 2.10.1

### Environment

oss

### What is the current behaviour?

I use event triggers in my metadata. After upgrade from 2.10.0 to 2.10.1 I get following error:

FATA[0000] error applying metadata
{
  "code": "not-exists",
  "error": "event trigger \"delete_user_data\" does not exist",
  "path": "$.args"
}

[2022-08-17 12:05] scriptonist opened #8807 "Server/CLI: Incorrect `replace_metadata` API behaviour"
### Version Information

Server Version: [v2.10.1](https://github.com/hasura/graphql-engine/releases/tag/v2.10.1)
CLI Version (for CLI related issue): [v2.10.1](https://github.com/hasura/graphql-engine/releases/tag/v2.10.1)

### Environment

OSS/Cloud/EE

### What is the current behaviour?

Let's take a look at the following scenario

_Note: For simplicity, in the examples below I'm using hasura C

[2022-08-17 13:16] clarkClaim commented on #8787
+1, I have also experienced this issue.  We have to manually revert changes made to our query_collections.yaml file every time we make a change through the hasura UI, else we see a crash.

[2022-08-17 15:38] rikinsk commented on #8741
Fixed via https://github.com/hasura/graphql-engine/commit/e626d87a3c4bcf04361ce1ee2f4a02bbb49000fc and released in [v2.10.1](https://github.com/hasura/graphql-engine/releases/tag/v2.10.1)

[2022-08-17 15:38] #8741 closed

[2022-08-17 16:36] briandoesdev commented on #3423
+1

[2022-08-17 16:53] kevin-meyers commented on #8441
Yep! I literally tried for weeks to get that cli working in cloud build... eventually I stumbled onto what should've been the obvious solution for my needs!

I set up a custom Dockerfile with the Hasura-cli-migrations image as base, and copy over the metadata files into it. So now I just use cloud build to push up a new Docker image with all the metadata changes already in it

[2022-08-17 18:06] trburger opened #8809 "Foreign Keys - graphql-default naming convention"
### Version Information
Server Version:
hasura/graphql-engine:v2.10.1

**Example Tables**
user (FK with user_type below)
user_type

### What is the current behaviour?
Foreign keys are not support and result in relationships to other tables using underscores with graphql-default set as naming convention. Basic field names are correctly being handled correctly.
user.user_type

### What is the expect

[2022-08-17 19:17] #8795 closed

[2022-08-18 04:19] browniefed opened #8810 "JWK URL Timeout Prevents Startup of Container"
### Version Information

Server Version: v2.11.0-beta.1, 10.1
CLI Version (for CLI related issue): 2.11.0-beta.1

### Environment

OSS, Container

### What is the current behaviour?

The current behavior is if the JWK is unreachable, the container will never start.

### What is the expected behaviour?

It would be ideal especially in dev mode to start the container, and then continue to attempt to

[2022-08-18 06:16] santhoshkumarch commented on #8766
Any update on this

[2022-08-18 07:29] soupi commented on #8789
I'm not very familiar with docker but I will give this a try

[2022-08-18 14:59] carlpaten opened #8813 "Run SQL HTML results are div instead of table; can"
### Version Information

Server Version:
CLI Version (for CLI related issue):

### Environment

### What is the current behaviour?

### What is the expected behaviour?

### How to reproduce the issue?

1.
2.
3.

### Screenshots or Screencast

### Please provide any traces or logs that could help here.

### Any possible solutions?

### Can you identify the location in the source code where the prob

[2022-08-18 16:49] codedmart commented on #8769
@radhay-samagra I just followed the steps in the docs with v2.9 and can connect to BigQuery just fine. So I am unable to reproduce. Any chance you can share the metadata for this project so we can investigate further?

[2022-08-18 17:15] EgedotErcan commented on #3633
This works well sir, thanks for the solution. I have just one note to solve this problem. You have to do this where you apply the migration and metadata It will work if you do like this.

[2022-08-18 18:42] Kaelten commented on #7005
I'd suggest that the answer is already present in the JWT auth pathways.  having `x-hasura-allowed-roles` and `x-hasura-default-role` be respected from the webhook handles this safely.

query inspection is just not viable.

[2022-08-18 19:51] raarts commented on #7005
@Kaelten  Can you expand on your comment a bit? Maybe with an example?

[2022-08-18 19:56] Kaelten commented on #7005
My problem is I have auth requirements that are not possible with just JWT validation. Thus I have a auth webhook that is validating one or more JWTs that come in on the request and then return an effective claim.

Ideally, I'd like to be able to return `x-hasura-allowed-roles = "user,maker,staff"` and let hasura figure out what the correct role or roles to use for the request.

After reading more

[2022-08-18 23:03] ajohnson1200 commented on #8813
@carlpaten super easy workaround: click Export Data --> Export Data CSV and then pipe that into Google Sheets?

[2022-08-18 23:11] ajohnson1200 commented on #8809
Just to confirm, you've configured your Hasura instance to use the graphql-default naming convention as documented here (https://hasura.io/docs/latest/schema/postgres/naming-convention/#supported-naming-conventions) and you're seeing that the correct results...except NOT with foreign keys?

[2022-08-18 23:16] ajohnson1200 commented on #8807
@manasag pretty sure this is product platform team, either the CLI or the metadata on the server.

[2022-08-18 23:20] ajohnson1200 commented on #8780
This is fixed in 2.10.1: https://github.com/hasura/graphql-engine/releases/tag/v2.10.1

[2022-08-18 23:20] #8780 closed

[2022-08-18 23:23] ajohnson1200 commented on #8781
@marionschleifer documentation enhancement, ☝️

[2022-08-18 23:26] ajohnson1200 commented on #8782
@rahulagarwal13 monitoring feature request ☝️

[2022-08-18 23:28] gunar opened #8814 "Events aren't being triggered when using Logical Replication"
### Version Information

Server Version: 2.8.4
CLI Version (for CLI related issue):

### Environment

Hosting on Google Cloud

### What is the current behaviour?

Inserting a row in the database A, makes the row show up in database B, but the Hasura Event isn't triggered.

### What is the expected behaviour?

Hasura should've triggered an INSERT event.

### How to reproduce the issue?

1. Set up p

[2022-08-18 23:28] ajohnson1200 commented on #8783
@rahulagarwal13 ☝️ feature request for authentication.

[2022-08-18 23:32] ajohnson1200 commented on #8786
@rahulagarwal13 ☝️ bug with relationships, something to check on with Tiru.

[2022-08-18 23:34] ajohnson1200 commented on #8787
@manasag ☝️ bug to dig in with the CLI team.

[2022-08-18 23:41] ajohnson1200 commented on #8803
Are you saying that expect / want the custom header to be returned to the client of the Hasura GraphQL request? ie:

client --> hasura --> auth_hook (auth) --> set header --> Hasura (process GraphQL request) --> return results + custom header to client?

[2022-08-18 23:53] ajohnson1200 commented on #8814
@rahulagarwal13 ☝️ great issue to dig into.  @marionschleifer it'd great to have to have documentation that talks about how we actually implement triggers and / or in the meantime to document that at least from what gunar wrote above, that they don't work today with Postgres database replication.

[2022-08-18 23:57] ajohnson1200 commented on #8779
@rahulagarwal13 ☝️ this sounds like something that might be solved by the dynamic DB connection string work that your team is doing.

[2022-08-19 00:11] ajohnson1200 commented on #8757
Thanks for the post!  Could you add the post the schema, the SQL function you used, and the GraphQL query you used to reproduce this?

[2022-08-19 00:13] ajohnson1200 commented on #8746
☝️ useful authentication enhancement to look at, guessing that we're swallowing SSL exceptions and not printing them to the error / info logs.

[2022-08-19 00:21] ajohnson1200 commented on #8722
hi Gary! No immediate plans for Synapse support but we've got a lot in the works around support for various data warehouse / analytics DB's (Athena, Snowflake, BigQuery).  Would be great to hear about what your use cases are for Synapse + Hasura as we plan out the second half of the year and look to next year.

[2022-08-19 00:30] ajohnson1200 commented on #8719
To the best of my knowledge this isn't possible OOTB, but on this:

depending on what "too slow" is, it seems like you could create a computed field or some super simple query that would return in milliseconds.. what's slow for you? And what response time are you seeing from a simple Hasura query?

[2022-08-19 05:45] trburger commented on #8809
As best I can tell, things are setup correctly. Below show the DB config and 2 tables to show the issue more clearly. Rather new to Hasura, so perhaps I'm missing or overlooked something.

**Database Config**

![image](https://user-images.githubusercontent.com/23127587/185549847-d1d8954a-6078-467d-ac41-a870e59acf58.png)

**Simple 2 tables with a foreign key relationship and fields in snake-case**

[2022-08-19 05:48] trburger commented on #8809
As best I can tell, things are setup correctly. Below show the DB config and 2 tables to show the issue more clearly. Rather new to Hasura, so perhaps I'm missing or overlooked something.

**Database Config**

![image](https://user-images.githubusercontent.com/23127587/185549847-d1d8954a-6078-467d-ac41-a870e59acf58.png)

**Simple 2 tables with a foreign key relationship and fields in snake-case**

[2022-08-19 05:51] trburger commented on #8809
As best I can tell, things are setup correctly. Below show the DB config and 2 tables to show the issue more clearly. Rather new to Hasura, so perhaps I'm missing or overlooked something.

**Database Config**

![image](https://user-images.githubusercontent.com/23127587/185549847-d1d8954a-6078-467d-ac41-a870e59acf58.png)

**Simple 2 tables with a foreign key relationship and fields in snake-case**

[2022-08-19 05:59] trburger commented on #8809
As best I can tell, things are setup correctly. Below show the DB config and 2 tables to show the issue more clearly. Rather new to Hasura, so perhaps I'm missing or overlooked something.

**Database Config**

![image](https://user-images.githubusercontent.com/23127587/185549847-d1d8954a-6078-467d-ac41-a870e59acf58.png)

**Simple 2 tables with a foreign key relationship and fields in snake-case**

[2022-08-19 06:18] paritosh-08 commented on #8809
Duplicate of https://github.com/hasura/graphql-engine/issues/8573

[2022-08-19 09:19] patrice-blp opened #8818 "Server: Tracking items failed - the function does not return a "COMPOSITE" type • the function does not return a table"
### Version Information

Server Version:
v2.6.1

I have the following SQL to create a custom function.

![image](https://user-images.githubusercontent.com/4908933/185580659-a66f1d8b-eb67-4306-8581-718ee0005019.png)

When I check Track this and run the query, I get the following error.

`Inconsistent object: in function "faq_most_helpful": the function "faq_most_helpful" cannot be tracked for the f