[2020-07-02 08:59] aaronhayes commented on #5025
@tirumaraiselvan assuming there is an API to cancel/delete a scheduled event; the ID would be used to call that API and cancel the event.

This and example how would like to be use the API.
- User schedules video to be created at XX
   - Our action handler creates the scheduled event
   - _We store the scheduled event `id` along with the time, metadata about the video to be created_
- User changes

[2020-07-02 09:02] #4552 closed

[2020-07-02 09:03] rikinsk commented on #4863
closed via #4761

[2020-07-02 09:03] #4863 closed

[2020-07-02 09:04] tirumaraiselvan commented on #5025
@aaronhayes Fair enough. I am changing the title to reflect this request.

[2020-07-02 10:49] #4936 closed

[2020-07-02 11:14] codenm007 opened #5270 "Error during passport-js boilerplate installation"
`used-function]
 char ToCharVersion(Local<String> str) {
      ^~~~~~~~~~~~~
bcrypt_lib.target.mk:113: recipe for target 'Release/obj.target/bcrypt_lib/src/bcrypt_node.o' failed
make: *** [Release/obj.target/bcrypt_lib/src/bcrypt_node.o] Error 1
make: Leaving directory '/root/graphql-engine/community/boilerplates/auth-webhooks/passport-js/node_modules/bcrypt/build'
gyp ERR! build error
gyp ERR! st

[2020-07-02 15:24] tirumaraiselvan opened #5273 "fix downgrade tests for CI"
Currently, we have a test here: https://github.com/hasura/graphql-engine/blob/97b1155bf83bbed223c763c681b88abfac5521e0/server/src-test/Hasura/Server/MigrateSpec.hs#L97 which fails frequently in the following scenarios:

1. For PRs that are in queue, right after a new release (new tag)
2. When we deploy stuff to beta, stable branches.

Sometimes, it doesn't show this failure in PR but only during a

[2020-07-02 15:41] jgoux commented on #3320
Please take inspiration from Postgraphile naming convention. I find it to be the best default.

Here is the doc of its inflection system : https://www.graphile.org/postgraphile/inflection/

And the simplified naming plugin : https://github.com/graphile/pg-simplify-inflector

[2020-07-02 15:42] tirumaraiselvan commented on #5057
The main docs have been added in https://github.com/hasura/graphql-engine/commit/c4da0a70c52682ee77ad58f826f1d62d54b2afeb

I am changing the issue to add docs for cleanup.

[2020-07-02 15:44] tirumaraiselvan commented on #5199
Closing this as dupe of #5050

[2020-07-02 15:44] #5199 closed

[2020-07-02 18:08] jomarquez opened #5274 "Allow relationships that resolve into array columns"
I have a the following table and custom type:

[code]

I would like to relate images to the articles.section array via the image_id

without having to set up a join table

[code]

[2020-07-02 19:31] amille14 opened #5275 "Extend backend_only permissions to all operation types"
Currently the `backend_only` permission setting is only available for insert operations. I would like to see this permission setting extended to all other operations (select, update, delete).

I have a system where I use actions to perform validations before creating or updating any tables. As such, I don't want clients to be able to directly insert OR update OR delete (sometimes) without going th

[2020-07-02 19:57] franciscolourenco commented on #3436
Any updates on this or https://github.com/hasura/graphql-engine/pull/4110?
Thanks!

[2020-07-02 20:15] ANVESH96 opened #5276 "Using JWT_SECRET with single qoutes"
I am trying to use a JWT's to authenticate request to Hasura-Graphql endpoint. While passing JWT_SECRET key to Hasura environment, the parsing is throwing an error due to special characters (single quotes).

Here is my HASURA_GRAPHQL_JWT_SECRET env variable:

`'{"type" : "HS256",
      "encoding":"UTF-8",
      "key": "%13|34<[k8wZ*_-Wi11AH5a.5b8q=uB?fz{5p_w{cX,m~C'M9x2}Twi'H9$@Jnt" ,
      "claim

[2020-07-02 22:58] sezgi opened #5277 "Add "See past editions" link to newsletter callout"
Per Monday's meeting

[2020-07-02 23:44] joshmedeski commented on #5172
Hey, I'm having a similar problem with my project. I'm trying to deploy through ECS with this custom image:

[code]

So I'm getting the following messages in my logs:

[code]

Finally it times out with:

[code]

How do I set the `migrations server port` port? `HASURA_GRAPHQL_DATABASE_URL` seems to be unrelated.

[2020-07-03 00:48] jberryman commented on #5273
https://github.com/hasura/graphql-engine/pull/4424 was my last attempt

[2020-07-03 00:55] #5253 closed

[2020-07-03 01:55] nilpunning commented on #1582
`current_setting('hasura.user')` works in 1.2.2 for trigger functions, in what version will it stop working?  Also since trigger functions are not permitted to have named parameters how are you supposed to use the `hasura_session` parameter like the documentation example: `CREATE FUNCTION get_session_role(hasura_session json)`?

[2020-07-03 03:03] sezgi opened #5279 "improve getting started flow"
- We want to improve the docs getting started flow, per Monday's meeting.
- The Learn courses should be discoverable from the landing page.
- Possibly a landing page with columns.

[2020-07-03 04:08] hgiasac commented on #5276
@ANVESH96 Have you tried adding `\` before quotes: `%13|34<[k8wZ*_-Wi11AH5a.5b8q=uB?fz{5p_w{cX,m~C\'M9x2}Twi\'H9$@Jnt`

[2020-07-03 04:19] #4879 closed

[2020-07-03 04:19] #5111 closed

[2020-07-03 06:30] #5218 closed

[2020-07-03 06:36] tirumaraiselvan commented on #5194
Closing as tracked in #5198

[2020-07-03 06:36] #5194 closed

[2020-07-03 06:42] tirumaraiselvan commented on #5052
@jflambert Little off-topic: With v1.3.0 stable, the body of a scheduled event is gonna change: https://github.com/hasura/graphql-engine/pull/5262 . In particular, see this comment: https://github.com/hasura/graphql-engine/pull/5262#issuecomment-652890466 .

[2020-07-03 07:35] tsnobip commented on #5218
Wow that was fast, thank you very much :)

[2020-07-03 09:03] mkalayci35 commented on #3772
+1

[2020-07-03 10:10] phoenix1796 commented on #5229
@praveenweb the gaphql-engine was hosted here, though I had to take it down because we weren't able to use it properly (the timeout was due to packets being dropped due to internal networking issues)

But once that was resolved ,even then the API was not returning proper data, will create another issue with proper details for that

[2020-07-03 10:10] #5229 closed

[2020-07-03 10:22] MarcelloTheArcane commented on #3772
@Kosai106  Does this actually work?

[2020-07-03 10:41] AdityaAnand1 opened #5284 "Use ADD COLUMN "IF NOT EXISTS" when generating up migrations"
Right now, the up migrations are not idempotent. This is one such example.

When adding a column, simply add it only if it doesn't exist, otherwise do nothing (= migration has already been run)

[2020-07-03 11:37] jascodes opened #5285 "Subscription Action"
I want use IMAP in idle mode which allows to listen to incoming email from external email server which is compatible with IMAP(with idle mode).

Now it can be possible feature for hasura to allow to write actions which allow such Subscription actions over websockets.

Thx

[2020-07-03 12:18] iuriikomarov opened #5287 "_is_null in data browser"
Hi,

It would be great to add `IS NULL` filter clause in the data's "browse rows" tab.

[2020-07-03 12:19] tobiastornros opened #5288 "Enabling and disabling Event Triggers"
### Enabling and disabling Event Triggers

Shouldn´t i be nice to be able to enable and disable event triggers from the UI or CLI?

[2020-07-03 12:54] rikinsk opened #5289 "add comments in the metadata files exported by CLI"
we should add some comments at the start of the metadata files exported via the CLI explaining what part of metadata is each file tracking. we should also add a sample possible configuration explaining the various fields as that would help to better understand and manually manage metadata.

[2020-07-03 14:18] arvindkhadri opened #5290 "cannot unmarshal array into Go struct field HasuraError"
Hi, I am using hasura 1.2.2 with docker on AWS. I am seeing the following logs on server. The tables and function are tracked already. The error does not come when hasura restarts because of the mentioned failure and all works well.

```level=fatal msg="failed to apply metadata: cannot apply metadata on the database: failed parsing json: json: cannot unmarshal array into Go struct field HasuraErro

[2020-07-03 15:11] Kosai106 commented on #3772
@MarcelloTheArcane No, it's a request.

[2020-07-03 15:12] njaremko commented on #3747
Turns out, a scheduled event was causing a large number of row updates, so the event trigger was getting stuck waiting while other events were being processed. Making the update more specific eliminated the issue, not sure why it logs the above error in that case...

[2020-07-03 15:37] SaeedKhan999 commented on #4248
I was also facing same problem. Use  " hostname " of your VM instead of " localhost ". It works for me. Try this.
for e.g.   if your hostname is " root@myhost "  then ( postgresql://postgres:@myhost:5432/postgres )
![image](https://user-images.githubusercontent.com/44093072/86483071-e25db400-bd70-11ea-8f16-90cf3f6a8cb5.png)

[2020-07-03 17:07] remiremi commented on #3666
Another use case is creating unique indexes using expressions like

[code]

Unfortunately not possible with a constraint.

[2020-07-03 18:10] PedroBern opened #5293 "Feature request: Access input variables inside "row insert permission with custom check""
Let's say we have 3 tables:

[code]

And there are two user Roles:

[code]

## Requirements

#### free-plan role

- [ ] insert **contract** records referencing only **services** with plan `A`

#### pro-plan role

- [ ] insert **contract** records referencing **services** with any kind of plan

# Feature request

We have access to the session variables in the custom check of permissions, but to eas

[2020-07-03 19:05] productlabs commented on #3919
I get the same error in Hasura console:

{
  "errors": [
    {
      "extensions": {
        "path": "$",
        "code": "invalid-jwt"
      },
      "message": "Could not verify JWT: JWSError (CompactDecodeError Invalid number of parts: Expected 3 parts; got 5)"
    }
  ]
}

This is when using Cognito with Sign in With Apple. (some credentials changed to obfuscate the actual info). Is it because

[2020-07-03 19:24] productlabs commented on #3919
Something that solved for me today is I was copying the access_token too instead of just the id_token in the response. Once I removed the part after &access_token= it worked.

<img width="556" alt="Screen Shot 2020-07-03 at 3 23 37 PM" src="https://user-images.githubusercontent.com/9044176/86493888-3d77b280-bd41-11ea-896b-596ac1feaa3a.png">

[2020-07-03 20:08] dan-lee commented on #2483
@gunar That's a great workaround! Should be easy to migrate after this feature's available

[2020-07-03 20:27] scribahti commented on #4134
@tirumaraiselvan any further insight on this?

[2020-07-03 20:30] hsheth2 opened #5294 "Bug: cannot track a custom function which returns materialized view"
I have a materialized view called `course_info_table`. This view is tracked by Hasura. I've created a custom function as follows:

[code]

When I attempt to track this function in Hasura, I get the following error:
[code]

I'm running Hasura v1.2.2 via Docker.

[2020-07-03 21:13] vorpus commented on #2824
@kevintelford What is your current workaround for this? Make migrations on a local instance and sync with version control?

[2020-07-04 06:14] mwarger commented on #3919
I am having the same issue using the admin SDK to create a custom token with the correct claims.  The JWT error comes back with an invalid signature error after attempting to use it this same way.

[2020-07-04 06:58] Motoxpro commented on #5233
I use Pycharm so I have used it before, definitely not arguing that Hasura's editor is better a full-fledged editor SQL editor.

My question is what is stopping you from connecting Datagrip to your Porstgres database and executing that same query? Seems like one of the amazing things about Hasura is that it doesn't lock you in.

[2020-07-04 07:50] alexkharech opened #5295 "Bug: current project with new database v1.3.0-beta.4"
Container: `hasura/graphql-engine:v1.3.0-beta.4`

I run the container on a clean database and get the following error
[code]

[2020-07-04 07:58] #5295 closed

[2020-07-04 07:59] alexkharech commented on #5295
the problem was not my care, sorry

[2020-07-04 09:37] AdityaAnand1 commented on #5233
Because I'd rather stick to using Hasura migrations only instead of pulling in yet another tool or worse, manually migrating dev/staging/prod which would be hell.

[2020-07-04 10:19] oliverpool commented on #4651
@hoeggi I had the same issue.

[code]
The Dockerfile you pointed to is in the `v2` folder, which is building the `*-v2` Docker image (using `v1.2.2.cli-migrations-v2` in my case solved the issue !)

[2020-07-04 13:40] alexkharech opened #5296 "I can not create a migration from the console"
Hasura engine `hasura/graphql-engine:v1.3.0-beta.4`
Hasura console `v1.3.0-beta.4`
Postgres: `PostgreSQL 12.3 (Debian 12.3-1.pgdg100+1)`
Docker: `19.03.8`

When creating any migration, I get the following error
[code]

[2020-07-04 14:44] allpwrfulroot commented on #5172
I can successfully automate migrations (not metadata) for a Heroku project and the following Dockerfile. Confirm that, for Heroku, `HASURA_GRAPHQL_DATABASE_URL` is required as an environment variable OR add `ENV HASURA_GRAPHQL_MIGRATIONS_DATABASE_ENV_VAR=DATABASE_URL` to the following Dockerfile:

[code]

I can get both migrations and metadata to work locally, but on Heroku I see the following err

[2020-07-04 16:15] alexkharech commented on #5296
The creating from Raw SQL in console
![image](https://user-images.githubusercontent.com/41755348/86516599-a9821580-be2a-11ea-8d06-91311177dbd3.png)

[2020-07-04 17:17] michaelwooley commented on #4944
Apologies for the late/non-response.

Unfortunately, I could not find an actual error message, just that the container was in perpetual restart mode. At the time I was not trying to launch it with any extensions (unless, of course, the hasura graphql image tries to install extensions on its own).

I am going to go ahead and close this as it seems to be an isolated issue and I am no longer using ha

[2020-07-04 17:17] #4944 closed

[2020-07-04 20:31] dan-lee opened #5297 "Migration directory names documentation wrong"
The [documentation for migrations suggests to use](https://hasura.io/docs/1.0/graphql/manual/hasura-cli/config-reference.html#environment-variables):

[code]

But when executing it with these env vars I get:

After a few hours of digging, I found out that the reason is that the env var names are actually prefixed with `_DIR` instead of `_DIRECTORY`:

https://github.com/hasura/graphql-engine/blob/1

[2020-07-04 23:34] vaibhavverma9 commented on #5202
I got a similar error

[2020-07-05 04:42] kapilsingh421 commented on #5202
This issue may raise if your database migrations are different ...Like in my case migrations are made for timescale db not for Postgers alone so thats why i got this error.

[2020-07-05 06:26] tirumaraiselvan commented on #5288
Closing this as dupe of https://github.com/hasura/graphql-engine/issues/3423

[2020-07-05 06:26] #5288 closed

[2020-07-05 08:47] oliverpool commented on #5296
As a workaround, you can manually set the migration_mode to `false`with curl (taken from https://github.com/hasura/graphql-engine/issues/2290#issue-449298096)
[code]

[2020-07-05 10:34] oliverpool opened #5299 "[Feature Request] Execute Allow List query using its name"
Since every query in the Allow List must have a unique name, would it be possible to use this unique name to prevent the client having to send the whole query ? (via a new REST-like endpoint for instance)

Related:
- #3488 Save a named Query, Mutation, Subscription as a REST endpoint
- #273 Support for persisted queries (https://github.com/hasura/graphql-engine/issues/273#issuecomment-523741999)

[2020-07-05 16:20] iCrawl commented on #3697
I don't want to unnecessarily bump this issue, but is there any time resolution on this?

I am by far not proficient enough in Haskell to even attempt a PR, but this is a big blocker in 2 applications of mine which would mean I would have to convert all of my columns back to strings as I get incorrect values from the hooks.

[2020-07-05 16:56] zwl1619 opened #5300 "Can I use react-query as GraphQL client?"
I saw the article  [Fetch your GraphQL data automagically: Building a movie app with Hasura & gqless](https://medium.com/hasura/fetch-your-graphql-data-automagically-building-a-movie-app-with-hasura-gqless-f7ad2549c8fd) on medium , it uses  gqless as GraphQL client, but it doesn't have mutations and local state management now.

Can I use  [react-query](https://github.com/tannerlinsley/react-query)

[2020-07-05 18:29] kim8080 opened #5301 "When there is a ""

[2020-07-05 18:33] kim8080 opened #5302 "When there is a "dot" in column name, table will not render within Console"
One of my column names contained "internal_2.5_" in its name. Noticed it would throw a React error #152. Replaced "2.5" with "2_5" and all worked OK.

It appears it does not like a dot in the column name.

Using v.1.2.2 via Docker.

[2020-07-05 21:56] GavinRay97 commented on #5239
I have questions around this too -- the docs for using migrations as seed data work great, but when using the new CLI `hasura seeds create <name>`, it puts the seed in `/seeds/<timestamp>_<name>.sql`.

Looking through the release notes it doesn't mention the seeds get run automatically with the `.cli-migrations` images.

Is the best way to do this then to tweak the Dockerfile?
[code]

Maybe we can

[2020-07-06 02:49] mrjbj commented on #5035
Thanks for this thread.  I'm trying to use hasura-relay 1.3.0-beta.4 and am completely stymied in my attempt to write a react  combo-box that updates an integer FK value to corresponding PK from related table.  I think the issues described here apply to this use case also, though perhaps ro-savage has at least come-up with a way to work around, perhaps.  @ro-savage, do you have a gist or code samp

[2020-07-06 03:29] hgiasac commented on #5301
Closed by #5302. Btw, @kim8080 you should edit the issue instead of creating new one

[2020-07-06 03:29] #5301 closed

[2020-07-06 03:43] hgiasac commented on #5302
@kim8080 In best practice we shouldn't use special characters in column and table names except underscore `_` and `$`. Postgres official docs also mention about the rule:
https://www.postgresql.org/docs/current/sql-syntax-lexical.html#SQL-SYNTAX-IDENTIFIERS

Dot `.` in table name or column name will mislead to schema prefix, and you should use bad words (SQL syntax) as name too

[2020-07-06 04:05] ChakshuGautam commented on #5229
I am facing same issue. I have two servers on the same IP. Trying to connect from either is not happening. I am using a single docker-compose to set up both of them.

http://165.22.214.127:5005/v1/graphql
http://165.22.214.127:5005/v1/graphql

[code]

The servers are live working fine.

[2020-07-06 04:38] #5273 closed

[2020-07-06 04:50] ChakshuGautam opened #5305 "Error connecting to multiple Hasura Remote schema."
I have two servers on the same IP. Trying to connect from either is not happening. I am using a single docker-compose to set up both of them.

http://165.22.214.127:5005/v1/graphql
http://165.22.214.127:5005/v1/graphql

[code]

The servers are live working fine.

[2020-07-06 04:59] aaronhayes commented on #5296
Seeing the same issue with Raw SQL migrations.
- Hasura does generate migrations when I make changes within the Data tab.
- Can successfully run the raw SQL without the migration
- Can manually create a migration using the cli with the same sql `hasura migrate create migration_name --up-sql "YOUR VALID SQL GOES HERE"`

[2020-07-06 05:41] scriptonist commented on #5297
@dan-lee The documentation for `cli-migrations-v2` image can be found here: https://hasura.io/docs/1.0/graphql/manual/migrations/advanced/auto-apply-migrations.html#applying-migrations, which mentions the Environment variables to use.

But I understand this has created some confusion. Will be exploring how to improve it.

[2020-07-06 07:23] dan-lee commented on #5297
@scriptonist Aah I see, thanks for the link. Didn't see these docs right away.

My suggestion would be to maybe either sync these environment variables or have a more descriptive error message. The former, of course, could have some side effects I am not aware of.

[2020-07-06 07:24] kldzj opened #5309 "[Feature Request] Multiple conflict constraints"
I really hope I am not just missing it, but I couldn't find anything regarding this in the docs or issues.

Currently I'm fighting with this issue, where sometimes multiple violations block me from running mutations (successfully). I'm thinking it would be very useful if Hasura's graphql-engine allowed to specify either multiple on_conflict conditions or constraints.

What'd be a nice to have:
[co

[2020-07-06 07:58] kldzj commented on #5309
Seems to be a duplicate of #4163

[2020-07-06 08:14] tirumaraiselvan commented on #655
Closing this now as console support is added in v1.2 onwards, we will create separate issues for above points (if required).

[2020-07-06 08:14] #655 closed

[2020-07-06 08:19] #5296 closed

[2020-07-06 09:49] tirumaraiselvan commented on #5174
Document the specification of node `id` so that developers can decode and use the information present (if they want to).

The specification is documented in source code at https://github.com/hasura/graphql-engine/blob/4e229dc568fc125f01a738cd1b4937885042b1fd/server/src-lib/Hasura/GraphQL/Resolve/Types.hs#L264.

[2020-07-06 10:39] fanktom opened #5312 "docs: enable download of sphinx documentation as pdf"
It would be wonderful to be able to download the full documentation as PDF.

As Sphinx supports this out of the box, it should not be too complicated to setup.

Why? I just wanted to download it for my holidays reading where I don't have any WIFI or cell reception.

[2020-07-06 13:49] ANVESH96 commented on #5276
tried and it didn't worked.

[2020-07-06 15:05] TheMrZZ commented on #3772
It looks fairly simple to implement, even though I might be mistaken.

Currently, my workaround is to create a SQL View, with all my table's field, and the computed field itself.

That's ugly, and prevents you from updating the whole view (you need to switch between two GraphQL root fields), but hey at least it works in queries.

If you need it to work in mutations, you need to create a new view w

[2020-07-06 17:58] hgiasac commented on #5276
Another way is add slashes before double quote:

[code]

[2020-07-06 18:20] ANVESH96 commented on #5276
it isn't working either.

[2020-07-06 21:40] marcfalk commented on #5149
Same here. Whenever I go to the data tab to see the schema I get a "Failed to fetch DB Schema" error. In the log the request to /v1/query times out with a H12 error at Heroku (+30 seconds to process request = Heroku cuts it off). Have not been able to debug further, currently throwing more hardware at our setup to see if that helps. I just updated to 1.3.0-beta.4 and Hasura is steadily eating 415

[2020-07-07 03:02] jflambert commented on #5087
@jberryman what kind of testing would you like me to do around `HASURA_GRAPHQL_PG_CONN_LIFETIME`? [I understand it's in seconds](https://github.com/jberryman/graphql-engine/commit/a97654271fab0a8ed24055b58340d9c9d1e7bd98), but is this an idle timeout or a full lifetime? Does a connection get killed even when busy?

Did you have time to check out my test environment for [Hasura memory leaks](https:

[2020-07-07 05:22] datdotatprotocol opened #5316 "Relay and Hasura/GraphQL error: no such type exists in the schema"
I'm trying to fetch data with Relay and GraphQL. Previously, everything is working fine when I only used `App.tsx`, until I creare new `pages/Article` directory and put the three below files:

`Article.tsx`:
[code]

`ArticleList.tsx`:

[code]

`ArticleDetails.tsx`:

[code]

`schema.graphql`:
[code]

`package.json`:

[code]

The `Error` which I encountered:
```RelayNetwork: No data returned for ope

[2020-07-07 07:28] tboerstad opened #5317 "Hasura CLI Authentication"
We are hosting our Hasura instance on our company infrastructure. The infrastructure is protected behind an authentication layer. In other words, we have to provide a Bearer Token in the `Authorization` header in order to access Hasura.

It seems that there is no support in the Hasura CLI to provide a Bearer Token, which means that we cannot use
the CLI against our instance.

Is hosting Asura behi

[2020-07-07 07:36] #5260 closed

[2020-07-07 13:14] Ishaan29 commented on #5263
can I work on this issue ?? @beerose

[2020-07-07 14:09] oliverpool commented on #2326
@davidoliveira recently posted a guide on dev.to: https://dev.to/davidoliveira/setup-hasura-at-google-cloud-run-42i8

Code proposition to add it to the community wiki:
[code]

[2020-07-07 16:30] mehmetekinci commented on #2247
@TheRohitSharma It comes mostly from a small typo. I had same error today. I noticed that I have a typo.

[2020-07-07 17:16] jbek7 commented on #1502
I'm in a similar situation where I've no control over the JWT token claims but the roles and default role are present with different names.

[2020-07-07 17:58] revskill10 opened #5322 "[Feature request]: Conditional Event Trigger"
Currently, you can't prevent event trigger to be run by using some conditionals (based on table data, or with environment variables).
As a result, the trigger endpoint must returns a dummy 2xx value based on the rule you want in your code.

Suggestion:

Add a rule option to prevent event trigger to be fired when true (the data for the rule is based on table data and session variables, environment

[2020-07-07 18:04] jbek7 commented on #1502
This PR should solve this issue too https://github.com/hasura/graphql-engine/pull/3575

[2020-07-07 19:17] followbl commented on #3998
@wwwdepot any recommendations on where to point it if the app is running outside of docker. We basically have the exact same setup as @fandy but we're running the build outside of docker - everything works as expected with the exception of github actions 😿

[2020-07-07 19:54] yonromai opened #5324 "Allow compression of client POST request bodies?"
Hi,
As far as I know, it's only possible to compress the response of a query by setting the `Accept-Encoding` HTTP header while requesting.

I'm inserting large batches of rows so I'd like to compress the rows of my insert mutation. I tried setting the `Content-Encoding: gzip` header when sending the POST request but unsurprisingly I'm getting a `Error in $: Failed reading: not a valid json value

[2020-07-07 20:16] isidentical commented on #4785
I've just got a clean heroku instance (built from heroku elements), after setting up the admins secretkey, this was my first action and I got the same crash.

[2020-07-07 21:47] #4911 closed

[2020-07-07 22:07] jberryman commented on #5087
Hi @jflambert, dfa0701 arose from looking at your test environment and asking why it seemed memory was retained when we request huge results. The `HASURA_GRAPHQL_PG_CONN_LIFETIME` stuff was a workaround that happened to take long  enough to get merged that it went in with the libpq fix.

We don't have a use-case for expiring active connections, but e.g. pgpool offers this knob, so presumably someo

[2020-07-08 00:25] jpulec opened #5326 "Add Interval to BASE Types for Computed Fields"
It appears that the postgres 'interval' type isn't considered a base type, so it's not possible for it to be returned as a computed field.

[2020-07-08 04:28] hgiasac commented on #5324
@yonromai Current version of Hasura haven't supported `gzip` encoding on payload request. The workaround is using reverse proxy (envoy) or API Gateway that can decompresses request payload before sending to Hasura

Because of performance, not many webserver support compressed request body. AFAIK, `apache` and newest `envoy` support it
https://www.envoyproxy.io/docs/envoy/v1.15.0/configuration/http

[2020-07-08 05:36] beerose commented on #5263
Go for it @Ishaan29!

[2020-07-08 06:13] devuxer commented on #1965
@coco98, Is this still a priority?

[2020-07-08 09:36] tirumaraiselvan commented on #5290
How many instances of hasura are running?

Also, does the error disappear on restarts?

[2020-07-08 09:39] PseudoSky opened #5328 "Bug: /v1/query Case Sensitive"
Version: v1.3.0-beta.4
URI: /console/data/sql

Steps

- I have a field that I named `createdAt`
- Went to raw sql editor in ui
- Entered `SELECT createdAt FROM tbl;`
- Pressed run

Request

[code]

Response
[code]

The part that made me think it has to do with case changing is the

Also when I renamed the column to created_at it started working.

[2020-07-08 09:51] #5241 closed

[2020-07-08 09:51] #5246 closed

[2020-07-08 09:52] scriptonist commented on #5172
Hey @allpwrfulroot, That looks like a bug will fix this.

can you please try setting
`HASURA_GRAPHQL_CLI_ENVIRONMENT=default` file and see if you encounter the same error ?

[2020-07-08 10:15] erikasakire commented on #1498
Currently I am using this kind of work around for aggregation inside of query. Hope it helps.

[code]

[2020-07-08 10:18] rikinsk commented on #5328
@PseudoSky SQL statements are case-sensitive. You need to surround literals with `"`s. ie. `SELECT "createdAt" FROM tbl;`

[2020-07-08 10:18] #5328 closed

[2020-07-08 10:55] oliverpool commented on #4366
You should be able to work around the caveat by performing the insert the other way around:
[code]

[2020-07-08 11:25] tirumaraiselvan commented on #5322
We have a similar feature request here: https://github.com/hasura/graphql-engine/issues/1241

[2020-07-08 11:59] arvindkhadri commented on #5290
@tirumaraiselvan There are 2 fargate tasks which run the show for me. The error disappear after restart.

[2020-07-08 12:06] Dionid opened #5329 ""query execution failed" with no message on cloud version"
Version: v1.2.2-cloud.1
URI: /console/data/sql

When I have **any** errors in SQL, there is no message about what error it is:

<img width="439" alt="Screenshot 2020-07-08 at 15 04 55" src="https://user-images.githubusercontent.com/9349379/86916520-64acf600-c12c-11ea-85ff-681c78dd73ac.png">

It doesn't even come from network:

<img width="1440" alt="Screenshot 2020-07-08 at 15 06 15" src="https://

[2020-07-08 13:51] followbl commented on #3998
for anyone stumbling up on this issue - our issue is the same as above but for deeper context, existed in github-actions where we're treating it as a CI with a fresh hasura instance being spun up and migrated via `docker-compose` and a locally *built/compiled* nextjs application running locally on `localhost:3000` (this is so we can run a full integration test (cypress) against it)...only hasura a

[2020-07-08 14:41] kostyachum opened #5330 "[Feature Request] Relationship filter with static value"
It would be nice to have a way to have a static value in relationship config thus it's easier to support generic relation when some table has `entity_id` and `entity_type`.

Let's say I have photo table with generic relation and I want my post have array relation with it and also comment have the same thing, right now I have to do something like this:
![Relationships_post_Data_Hasura (2)](https://

[2020-07-08 15:32] sbussard commented on #3320
I'd really like to have this feature. After going through painstaking effort to convert each root query and relationship name to camelCase I was shocked to find out that aggregates of relationships still use snake_case and apparently there's no way to change it.

This is a clash of conventions between the front end and the data layer

[2020-07-08 16:15] yonromai commented on #5324
Thanks for your reply @hgiasac. I thought nginx also supported compressed post requests but I can't find it in the docs so I'm probably wrong.

I can see how it's a relatively rare thing for web servers to receive large payloads. It's a shame because I could see that being a common case for Hasura given GraphQL batch insert mutations.

[2020-07-08 18:55] jomarquez commented on #5274
I solved this with a view.

[code]

I then added an array relationship to `articles` and referenced the view. I tracked the new view and added `article_sections` as an object relationship to images.

So now I can make the following query:

[code]

[2020-07-08 18:55] #5274 closed

[2020-07-08 18:58] revskill10 commented on #5322
@tirumaraiselvan mine is a bit different in that we set rule to `prevent` trigger to be called. The #1241 is about set rule for trigger to be called.

[2020-07-08 19:34] Ishaan29 commented on #5263
Thank you @beerose, working on it 👍 😄

[2020-07-08 20:27] #5277 closed

[2020-07-08 20:44] wwwdepot commented on #3998
@followbl If your container cannot resolve external networks, try add the DNS to the docker-compose file

[code]

[2020-07-09 00:26] #5279 closed

[2020-07-09 01:47] scriptonist opened #5333 "cli: fix panic when plugin index path is not found during a plugins install"
Detailed here

https://github.com/hasura/graphql-engine/issues/5172#issuecomment-653774367

[2020-07-09 01:47] scriptonist commented on #5172
@allpwrfulroot created a separate issue to track this here: https://github.com/hasura/graphql-engine/issues/5333

[2020-07-09 01:50] scriptonist commented on #5172
@joshmedeski port 9691 is used to spin up a temporary server, are you aware of anything else running on that port?

[2020-07-09 01:52] sezgi opened #5334 "docs: Update links from Core to Cloud (with/without existing db)"
To:

https://hasura.io/docs/cloud/1.0/manual/projects/create.html#create-new-project-with-new-database-on-heroku

https://hasura.io/docs/cloud/1.0/manual/projects/create.html#create-new-project-with-an-existing-postgres-database

From:

https://hasura.io/docs/1.0/graphql/manual/getting-started/index.html

<img width="1000" alt="cloud" src="https://user-images.githubusercontent.com/139535/86987976-

[2020-07-09 02:28] sezgi opened #5335 "change "Step 0" to "Before you begin""

[2020-07-09 09:27] oliverpool commented on #4646
I was surprised by this behavior too, since I expected Hasura to perform the check before any database call (the `user_id` must be compared between the variables and the HTTP header).
But if I understand correctly, everything happens in the database !

I couldn't find anything mentioning this behavior in the docs, maybe it should be mentioned here:

https://hasura.io/docs/1.0/graphql/manual/auth/a

[2020-07-09 11:07] pronevich commented on #4780
Same issue. This is a serious bug.  Currently mutation operations on views not useful. @tirumaraiselvan @rikinsk any status? Also, derived columns should not be exposed in input type, because we can't insert fullName to view.

[2020-07-09 11:58] #4849 closed

[2020-07-09 12:25] cjyothi commented on #140
Hi Team,
How can I connect the  remote host machine database from Docker container
I have a spring boot container

[2020-07-09 12:29] tobawo opened #5336 "Clone row not working in v1.3.0-beta.4"
When using the first button "Clone row" in the Data -> Browse Rows view in the console:

Expected Behavior: The "Insert Row" form is pre-populated with the values from the row to be cloned
Observed behavior: The "Insert Row" tab gets highlighted, but the form is empty

Version: v1.3.0-beta.4 (using docker)

Is this a known issue?

[2020-07-09 13:04] pronevich opened #5338 "Metadata export creates three empty lines in actions.graphql file"
On the project, no actions were defined, after `hasura metadata export` the `actions.graphql` file was populated with 3 empty lines.  Maybe it's a thing but looks strange.

[2020-07-09 13:24] pronevich commented on #5338
Resolved. Console should be started from cli and then check This is a migration.

[2020-07-09 15:01] rikinsk opened #5340 "default option is selected while cloning row in data browser"
If a column has a default value defined, then while cloning a row, the default radio-btn is selected instead of the input box radio-btn.

For example,

**Current behaviour**
![Screenshot from 2020-07-09 20-25-14](https://user-images.githubusercontent.com/54616969/87056009-a7e99080-c222-11ea-894d-ede6c110c60d.png)

**Expected behaviour**
![Screenshot from 2020-07-09 20-29-11](https://user-images.gi

[2020-07-09 15:02] #5336 closed

[2020-07-09 15:58] mousetraps commented on #5189
Hello, we're running into this issue as well on the latest builds (including v1.3.0-beta.5). It's crushing performance and it's a blocking issue for us, as we count on events to be processed in a timely manner. We weren't running into it before, so it seems like a regression.

We're running in a docker container, so it would be surprising for this to be a platform issue, but let me know if you nee

[2020-07-09 16:20] marionschleifer opened #5341 "docs: make metadata workflow without migrations clear"
Make it clear in docs that the metadata workflow can be used without Hasura migrations.

[2020-07-09 17:10] s-kris commented on #877
Waiting for this to be implemented

[2020-07-09 18:42] ighormartins commented on #4651
The workaround works fine.
However, because it's downloading plugins, it now uses a lot of memory.
I'm running Hasura on Cloud Run, and I actually had to upgrade the memory to 512Mb :(

[2020-07-09 19:21] allpwrfulroot commented on #5333
Adding `ENV HASURA_GRAPHQL_CLI_ENVIRONMENT=default` to the Dockerfile seems to work! Many thanks!

[2020-07-09 19:21] abdullah2993 commented on #3320
+1 for this, it is very dedious to change them one by one

[2020-07-09 19:22] allpwrfulroot commented on #5172
That works!

[2020-07-09 19:41] marionschleifer opened #5342 "Introducing Hasura Cloud!"
Hey all! We recently announced the public beta of [Hasura Cloud](https://hasura.io/?utm_source=github&utm_medium=pinned%20issue&utm_campaign=project_cloud&utm_content=Announcing%20Hasura%20Cloud), and we’d love for you to try it out. Hasura Cloud is in beta till the end of July.

Hasura Cloud is a fully managed, auto-scalable, serverless GraphQL backend. Tanmai (@coco98) spoke about [how & why we

[2020-07-09 20:36] marionschleifer opened #5343 "docs: add versioning to docs"
Add versioning to docs to prepare for when we have `v.2.0.0`.

This includes the following:

- Introduce a /latest version of docs url which would serve the docs for the latest hasura version
- Update all canonical urls to use the /latest format

Things to figure out
- How would existing redirect rules set up for the /1.0 urls impact the /latest urls
- What should the canonical for non-latest docs

[2020-07-09 20:39] abdullah2993 opened #5344 "Typed version of tables.yaml structure"
Is it possible to have a typed version of `tables.yaml` structure available so that we can easily write utilities that can do bulk changes for example adding/updating `custom_root_fields`.
I managed to get these types from the `tables.yaml` file that I had but it is probably missing some fields and structs.

[code]

[2020-07-09 21:01] ironsalsa commented on #1599
+1 This would be a killer feature on top of the already killer Subscriptions feature! Even if it's similar to the poll-every-second way that it works for Postgres data.

[2020-07-09 21:55] toddheslin opened #5345 "Placeholder text in Custom Root Fields editor showing incorrect root field for _one mutation"
The default should actually be `insert_operators_one` not `insert_one_operators`.

<img width="782" alt="Screen Shot 2020-07-10 at 9 25 07 AM" src="https://user-images.githubusercontent.com/1883112/87092501-a7d3aa00-c28f-11ea-955d-b34ae6dd90b1.png">

Took this chance to do my first PR for Hasura.

[2020-07-10 02:00] kenptr commented on #4791
How did you create read-only user for Hasura Console?

[2020-07-10 02:23] kenptr opened #5349 "Read-only mode on deployed Hasura Console."
Hello,

We want to make hasura console (the deployed one) __read only__ and do changes only using `$ hasura console` command line console.

Is there a flag for that? If not, how feasible is to add it?

[2020-07-10 05:02] mingfang commented on #5133
I ran into the same problem.
I'm surprise more people are not seeing this since virtually every remote join will be on an remote ID field but you can't create a source field of that type.

[2020-07-10 09:25] christophediprima commented on #4317
Is there some progress ont that?
It looks like nobody is interested in searching with regular expressions? Is there another way to do it?

We wanted to use  `SIMILAR %(b|d)%` but it is not key sensitive and `ILIKE` doesn't look to support regular expressions.

[2020-07-10 09:28] yourtallness opened #5350 "Schema should be shown for cross-schema relationships for disambiguation"
**Issue**

Given a users table in the public schema and a profiles table in both schema_a and schema_b, Hasura will show the "user has one profile" relationship like this:

users . id  → profiles . user_id

It is not evident from the above which profiles table this is, is it schema_a.profiles or schema_b.profile.

When you create the relationships manually you can at least name it in a way that he

[2020-07-10 11:30] harryhcs commented on #4901
I just upgraded to beta 1.3-2 and still getting the same results.

Dockerfile: FROM hasura/graphql-engine:v1.3.0-beta.2
Current server version: v1.3.0-beta.2

[code]
`
message: "Non default arguments cannot be omitted"`

[2020-07-10 12:22] luke-j opened #5353 "Large number of rows in hdb_instances_ref table"
The `hdb_instances_ref` is taking up thousands of rows in my database, even though the application itself only takes up a few dozen.

What's the purpose of this table? Can the rows be purged at a certain point?

[2020-07-10 12:48] codingkarthik commented on #5189
@MichalKalita @mousetraps Thank you so much for reporting this regression.
This bug was introduced from v1.3.0-beta.1 as you folks point out due to a faulty refactor of the code.
I have raised a [PR](https://github.com/hasura/graphql-engine/pull/5352) which will fix this issue.

[2020-07-10 13:04] marcfalk commented on #5349
Not sure that you're easily able to make the deployed instance's console read only. However, if you only intend to use `$ hasura console` you might as well disable the console for your deployed instance. This is [recommended](https://hasura.io/docs/1.0/graphql/manual/deployment/production-checklist.html#disable-console) anyway.

It can be done by setting the environment variable/server flag `HASUR

[2020-07-10 13:24] ste824 commented on #4926
@scriptonist I get the same as you on the cmd, but then when I go to http://localhost:9695/ in a browser I get this, which sounds like the same thing as @pradyuman
![image](https://user-images.githubusercontent.com/68113975/87159208-e3cf3500-c2b8-11ea-8b89-3691f70fe96f.png)

[2020-07-10 16:47] #5189 closed

[2020-07-10 16:55] sbussard commented on #3320
Javascript developers - aliases might be a good workaround for now
https://atheros.ai/blog/how-to-use-graphql-aliases

[2020-07-10 18:49] Narigo commented on #3518
Could creating a proxy server that takes a GraphQL schema, adds a prefix to all queries and mutations and forwards incoming calls to the remote schema be a feasible workaround? Or is it more involved as all the type definitions would have to be changed as well?

[2020-07-10 22:01] sezgi opened #5356 "prettify github count"
From:
<img width="395" alt="Screen Shot 2020-07-10 at 3 01 19 PM" src="https://user-images.githubusercontent.com/139535/87206287-437c0f00-c2be-11ea-88d5-d36835f98c51.png">

To:
<img width="377" alt="Screen Shot 2020-07-10 at 3 01 29 PM" src="https://user-images.githubusercontent.com/139535/87206289-4414a580-c2be-11ea-8f0c-6a1524e976ff.png">

[2020-07-10 22:29] davingreen commented on #4830
Thank you! -- ignorance reduced

[2020-07-10 22:29] #4830 closed

[2020-07-11 02:20] kenptr commented on #5349
That makes sense. If it's preferred way, let's close the issue. Thanks!

[2020-07-11 04:09] followbl opened #5358 "Setting EVENT DATA TRIGGER header automatically sets payload field"
when you set any header in an EVENT DATA TRIGGER - Hasura automagically sets the payload fields to whatever columns you have selected based on the trigger.

Ex:

Step 1.
Before:
Event is triggered after row updates as `confirmed_at` is set - entire row is passed to the event

Step 2.
Set any header in the EVENT DATA TRIGGER console.

Step 3.
After:
Event is triggered after row updates as `confirme

[2020-07-11 10:06] pronevich commented on #3759
v1.2.2 the same issue. @marionschleifer it's more than half year for pretty serious bug )

[2020-07-11 14:38] alan345 commented on #1358
@mcmar, what did you finally do? Have you considered migrating to prisma2 or it is not an option? Have you managed to migrate to hasura?

[2020-07-12 00:45] sbussard commented on #2601
Also having this problem

[2020-07-12 04:41] khpatel4991 opened #5359 "Guide for setting up migrations with hasura console"
Hi,

I have a simple next js application. I want to use hasura pg instance as a data layer.
I have deployed hasura instance on heroku.
Instead of manually creating tables and columns through hasura interface on heroku, I'd like to use hasura cli to generate migrations based on what I do on my local hasura like in this [video](https://www.youtube.com/watch?v=cGjH_HjkWiU)

I initialized hasura in my

[2020-07-12 04:50] #5359 closed

[2020-07-12 04:51] khpatel4991 commented on #5359
It was my mistake

[2020-07-12 07:02] tobiastornros commented on #5358
Which Hasura version are you testing on?

[2020-07-12 14:58] followbl commented on #5358
@tobiastornros `v1.3.0-beta.4`

[2020-07-12 18:09] joshmedeski commented on #5172
@scriptonist I'm the `hasura/graphql-engine:v1.2.2.cli-migrations-v2` docker image so if anything else is running it's in the image. I will try exposing the `9691` port in the `Dockerfile` and see if that helps.

[2020-07-12 23:52] tonyjmartinez commented on #3589
Hi, I'm experiencing this issue and would appreciate some help. I have a nextjs application using auth0. I'm trying to add auth0 authentication similar to this tutorial https://github.com/hasura/learn-graphql/tree/master/tutorials/frontend/nextjs/app-final

I'm able to login successfully and get my auth0 profile with `auth0.handleProfile`. I get back a `user` object with `https://hasura.io/jwt/cla

[2020-07-13 01:58] tonyjmartinez opened #5361 "[Auth0/Nextjs] GraphQL query fails on missing 'hasura.io' claims"
I'm trying to add authentication with auth0 similar to how it's handled in this hasura [tutorial repo](https://github.com/hasura/learn-graphql/tree/master/tutorials/frontend/nextjs/app-final). I'm able to login/request user info successfully from auth0. The user info I receive includes `https://hasura.io/jwt/claims` as a key.

However, when I try to navigate to `/posts` which runs a gql query, I s

[2020-07-13 08:34] mkalayci35 opened #5362 "v1.3.0-beta.4 clone button click and bug"
![Screen_Shot_2020-07-12_at_20 06 36](https://user-images.githubusercontent.com/38668796/87282336-d73b1e80-c4fc-11ea-9541-30c524a577b3.png)

[2020-07-13 09:10] tirumaraiselvan commented on #3708
@lulucas I am not able to reproduce this in v1.3.0-beta.x with a remote schema which has this schema:

[code]

Can you verify?

[2020-07-13 09:23] beerose commented on #5362
Closing as a duplicate of https://github.com/hasura/graphql-engine/issues/5336. Will be fixed in beta via https://github.com/hasura/graphql-engine/pull/5337.

[2020-07-13 09:23] #5362 closed

[2020-07-13 09:31] beerose commented on #5216
@MaxmaxmaximusGitHub You can select a value from a dropdown on `Browse Rows` page. It will be persisted in local storage for **all** tables and views. Hence it is some kind of a _global limit_.
<img width="334" alt="Screenshot 2020-07-13 at 11 25 35" src="https://user-images.githubusercontent.com/9019397/87288398-942c7b80-c4fb-11ea-956a-6a695cb07a5a.png">
<img width="118" alt="Screenshot 2020-07-1

[2020-07-13 09:31] #5216 closed

[2020-07-13 11:22] tirumaraiselvan opened #5363 "bound the size of query plan cache"
This is one of the TODOs in #3530

    telemetry data from users (see above).

Also, it is impossible to switch off the query plan caching by setting `HASURA_GRAPHQL_QUERY_PLAN_CACHE_SIZE: 0`

From code:

[code]
When I set to 0, server doesn't start with

[code]

----

**EDIT (Brandon)**:

- [x] analyze telemetry we've been collecting about cache to find an appropriate size, and any other insights

[2020-07-13 11:43] joshuarobs commented on #5239
@GavinRay97 Any updates as to whether hasura seeds auto-runs with the `.cli-migrations` image version of Hasura as you suggested? This seeds functionality seems promising, but seems like it'll only work for playing around manually locally, and that it's entirely useless for CI/CD

[2020-07-13 13:37] mkalayci35 opened #5365 "v1.3.0-beta.4 bug created_at"
[code]
i am update data and created at change. only update_at should have changed.

<img width="475" alt="Screen Shot 2020-07-13 at 16 36 29" src="https://user-images.githubusercontent.com/38668796/87310715-023a6800-c527-11ea-9c51-78a03e3fb3c3.png">

<img width="358" alt="Screen Shot 2020-07-13 at 16 37 34" src="https://user-images.githubusercontent.com/38668796/87310821-28f89e80-c527-11ea-94cb-2e

[2020-07-13 13:51] joshuarobs opened #5366 "Generating hasura seeds with cli should allow an option for setting UPSERTS"
As of beta v1.3, you can generate a seed sql file with the command `hasura seeds create ...`, and the contents in the file are in this format:

[code]

As per design by SQL, running this file (`hasura seeds apply`) on an empty database works fine, however, attempting to run the statement again, or with an existing database, fails because of an attempt to insert a row that already exists.

My use c

[2020-07-13 13:57] tibotiber opened #5367 "error: table "hdb_catalog.hdb_remote_relationship" does not exist"
Hi there,

I'm facing some issue with my local development instance of Hasura. Whenever I head to the console, i get the following error:
[code]
I'm on v1.2.1, haven't changed the version recently. It's running on a local kubernetes cluster, I have tried to delete and reinstall the whole cluster and I get the same error. Then i tried to remove the persisted postgres volume as well – so I'm under t

[2020-07-13 13:58] tobiastornros opened #5368 "Prevent or warn when using reserved keywords in postgres"
Would be nice if Hasura warned or prevent use of reserved keywords by postgres.

https://www.postgresql.org/docs/current/sql-keywords-appendix.html

[2020-07-13 14:43] tirumaraiselvan commented on #5367
The table `hdb_catalog.hdb_remote_relationship` only exists in v1.3.x onwards. Are you sure your Hasura is not running on a PG which ran on v1.3 before? You will have to follow the process here for a clean downgrade:  https://hasura.io/docs/1.0/graphql/manual/deployment/downgrading.html#step-2-downgrade-hasura-catalogue-version

[2020-07-13 14:48] tibotiber commented on #5367
Thanks I'll try that. That's weird, I'm pretty sure it's never been on v1.3.x. 🤔

[2020-07-13 14:49] tirumaraiselvan commented on #5367
Please also share the server logs.

[2020-07-13 14:52] tibotiber commented on #5367
Am I right to think the catalogue downgrade instructions are for a docker setup? Any pointers as to how I'd do that on kubernetes? Typically, I'd need to be in the cluster to access the database I guess.

[2020-07-13 14:57] tibotiber commented on #5367
Here's the server log for the error, as requested. Hope it helps :)

[code]

[2020-07-13 15:01] tirumaraiselvan commented on #5367
@tibotiber

If you want to run this on k8s, you can create a one-time pod (like a k8s Job : https://kubernetes.io/docs/concepts/workloads/controllers/job/) which uses the current version like "hasura/graphql-engine:v1.3.0-beta.3" and the `command` to supply is `graphql-engine downgrade --to-v1.2.2`

Now, I realize you will need to know your "current" hasura to even execute this so may not be feasi

[2020-07-13 15:38] #5358 closed

[2020-07-13 17:48] jberryman commented on #5363
I think the cache should be disabled, with a warning if 0 is passed (I've wanted this for debugging and it seems more consistent)

[2020-07-13 18:30] njaremko commented on #5365
- Did you make this table in through the Hasura console?
- Can you also provide the schema for the table?
- Maybe also a list of triggers that are on this table?

[2020-07-13 18:33] njaremko commented on #5361
Maybe include a sample expired JWT? Have you confirmed that the claims key is present in your JWT?

[2020-07-13 18:36] njaremko commented on #5353
^ This makes Heroku threaten to delete your DB on free tiers pretty quickly (10,000 row limit)

[2020-07-13 18:57] tonyjmartinez commented on #5361
When I run `auth0.getSession` in `withApollo.js`, I get back and object with my `accessToken` and `idToken`. If I use the `idToken`, I'm able to get back data when I reload the page if I'm at `/posts`. If I use the `accessToken`, it doesn't work at all and I get the error about jwt claims every time.

I don't understand why yet. The tutorial I'm using uses `accessToken`. And I did confirm that I h

[2020-07-13 19:34] tonyjmartinez commented on #5361
Found out that this was due to differences between my auth0 rule and `withApollo`. I was changing the `idToken` in auth0, but reading the `accessToken` in next.

[2020-07-13 19:38] #5361 closed

[2020-07-13 20:39] allpwrfulroot commented on #2601
I had the following error several times trying to connect to a Hasura Cloud project (Heroku Postgres):
[code]

Eventually it did work, but in an unexpected manner: instead of several .yaml files under a `metadata` directory, I received a single .yaml under `migrations`

[2020-07-13 21:53] allpwrfulroot opened #5372 "docs: add info on clearing migrations"
There's info on how to clear / reset metadata, but not migrations.

The relevant information has been shared via a blog post, and should be added to the docs:
https://hasura.io/blog/resetting-hasura-migrations/

[code]

[2020-07-14 01:14] jflambert commented on #5368
in which context?

[2020-07-14 01:17] jflambert commented on #5349
Well actually, before you close this too issue, we wouldn't mind being able to roll out a console with JUST the Graphiql tab available. No settings no nothing else.

It's not read-only in the sense of mutations/etc, but it's read-only in the sense of locked configuration.

[2020-07-14 01:19] jflambert commented on #5341
FWIW we've used Hasura without migrations for quite a while. I'm not sure where you think it's _not_ clear, but it certainly didn't affect us.

[2020-07-14 02:47] tibotiber commented on #5367
Thanks @tirumaraiselvan, appreciate the handholding here. Below is the result from the query you suggested:

hasura_uuid | version | upgraded_on | cli_state | console_state
-- | -- | -- | -- | --
1a98686f-5b7a-4240-9021-5fea3bf2cc22 | 34 | 2020-07-13 13:39:05.941203+00 | {} | {"telemetryNotificationShown": true}

From what I've seen, the `hdb_remote_relationship` table is created in the 35>36 migr

[2020-07-14 02:48] scriptonist opened #5373 "cli: add command to reset migrations"
`hasura migrate reset`

This command should clear the history of the migrations on the server and clear the local migrations. Basically, do steps 1 and 2 mentioned in this blog post: https://hasura.io/blog/resetting-hasura-migrations/

[2020-07-14 02:55] scriptonist commented on #5366
@joshuarobs Thanks for the feedback, adding a couple things,
1. We can specify the seed file to apply with the `-f` flag, eg. `hasura seeds apply -f my-seed.sql`
2. Marking data inserts as seeds from console is in the roadmap

[2020-07-14 03:31] littlepea commented on #3124
I've had the same issue, and manually moving functions to the bottom of the migration script helped

[2020-07-14 05:02] tirumaraiselvan commented on #5349
@jflambert One way is to disable Hasura console and use [graphqurl](https://github.com/hasura/graphqurl) for just graphiql.

[2020-07-14 05:09] tirumaraiselvan commented on #5353
This will be fixed in an upcoming upgrade. Meanwhile, it is safe to truncate this table.

[2020-07-14 06:49] THPubs commented on #4789
@rikinsk Sorry for the delay. Let's say something like this:

<img width="657" alt="Screenshot 2020-07-14 at 12 18 18" src="https://user-images.githubusercontent.com/1212023/87393781-4af82c80-c5cc-11ea-9440-007d33459506.png">

[2020-07-14 07:53] tirumaraiselvan commented on #5322
@revskill10 hmm... well `prevent` is just `not` on `allow` right? #1241 allows for general boolean conditions.

[2020-07-14 08:03] #2880 closed

[2020-07-14 08:29] #5356 closed

[2020-07-14 08:52] NikPaushkin commented on #5220
@AdityaAnand1 We've made a tool to solve this problem https://github.com/puzl-ee/hasura-metadata-patcher

You can find more info about CI/CD flow in readme there.

[2020-07-14 09:10] revskill10 opened #5376 "[Console][Feature request] Schema for foreign key tables should be default to current table's schema"
When adding foreign key to a table, currently Hasura only show first schema as default.

Suggestion:

Default schema should be default to current table's schema for ease of setting foreign key .

[2020-07-14 09:21] rikinsk commented on #5367
@tibotiber It seems like you are getting served console assets for a v1.3 version. Could you check the "Network" tab of your browser developer tools while opening the console and confirm the path of the assets (the `main.js` file to be precise) being served to you.

It should ideally be `https://graphql-engine-cdn.hasura.io/console/assets/channel/stable/v1.2/main.js.gz`:

![Screenshot from 2020-07

[2020-07-14 10:04] tirumaraiselvan commented on #5330
I guess a workaround for this may be using (table) computed field: https://hasura.io/docs/1.0/graphql/manual/schema/computed-fields.html#table-computed-fields

[2020-07-14 10:17] tirumaraiselvan commented on #5324
@yonromai How large is the payload in MB? I am not sure how much of a bottleneck will network transfer be in the entire lifecycle of a large batched insert.

[2020-07-14 10:56] russelgal commented on #625
I think we need to wait a couple more years for this feature to be implemented )))
@0x777 or I'm wrong?

[2020-07-14 11:32] labsolution commented on #4755
I've written a python script that generates a complex SQL statement to select records, including manys and foreign key records if requested.

Result:
[code]

I just wanted to let you know and I can provide more information if needed. It could be interesting for hasura, since it's mosu powerful feature is being able to select many information with one single statement. I'm using XML instead of JSON

[2020-07-14 12:34] tirumaraiselvan commented on #5203
Closing this as it is tracked here: https://github.com/hasura/graphql-engine/issues/2483

This is will happen very soon.

[2020-07-14 12:34] #5203 closed

[2020-07-14 12:37] tirumaraiselvan commented on #5259
I think you have an older version of GHC (recently upgraded). You will need GHC 8.10.1.

[2020-07-14 12:42] tobiastornros commented on #5368
Sorry, when creating tables via the console. Updated the issue :)

[2020-07-14 12:43] tirumaraiselvan commented on #5237
Could you describe what is expected and what is happening?

[2020-07-14 13:07] tirumaraiselvan commented on #5259
Will be fixed in https://github.com/hasura/graphql-engine/pull/5377/files

[2020-07-14 13:25] KaiserKarel opened #5378 "Console error after creating an event"
After creating an event through the API, the console errors when trying to modify the event:

[code]

[2020-07-14 13:27] tirumaraiselvan commented on #5378
@KaiserKarel What's the API you are using?

[2020-07-14 14:05] CoenNengerman opened #5379 "Function returns SETOF Materialized View doesn't track in Hasura"
I've created a search view (Materialized View) where i combine multiple tables. I want to be able to use a fuzzy search on multiple fields.

When i try to track the function I get an error from Hasura:
**"reason": "in function "total_search": the function "total_search" cannot be tracked because the function does not return a SETOF table"**

SQL functions don't support variables, so I create a PLP

[2020-07-14 14:14] GavinRay97 commented on #5344
Hi @abdullah2993 :wave:

You can find types for metadata here:
https://github.com/GavinRay97/hasura-types/tree/master/generated

If you don't see the language you would like to use, just clone the repo, and follow the instructions in the readme to uncomment the name of the new language in `config.yaml`, and then run `yarn generate-types` or `npm run generate-types` to create the language SDK.

[2020-07-14 14:52] abdullah2993 commented on #5344
awesome, thanks @GavinRay97

[2020-07-14 14:52] #5344 closed

[2020-07-14 14:52] noahwaldner commented on #1288
I'm also struggling with this issue and 'v already tried all the showed solutions.

has anyone used another way to get this working?

[2020-07-14 15:44] revskill10 commented on #5322
@tirumaraiselvan Yes, it's almost. But in this case, you don't need to specify anything to run the trigger (just as now).
You only need to add rule to `prevent`.

[2020-07-14 15:47] rikinsk commented on #5376
@revskill10 the console already seems to be doing this. could you confirm if this is consistent behaviour for you? some more info might be needed to see why this might be happening

[2020-07-14 16:04] Maxpain177 opened #5380 "Event based subscriptions"
Hello. We have a website with a lot of active online users and subscriptions to a lot of tables.
During peak hours, we have huge CPU usage on Postgres.
Yes, subscription multiplication helps, but it only helps when it is not a user-based subscription. We have a lot of user-based subscriptions, like user counters (like messages and notifications count, money/balance), and a lot of primary-key based

[2020-07-14 16:20] Maxpain177 opened #5381 "Metadata sync problem with Istio"
Hello. We use Google Kubernetes Engine (we have two VPC interconnected networks for postgres and Kubernetes cluster), and some time ago, we had a problem with metadata sync between hasura and postgres. @rakeshkky from Hasura Team helped me and suggested to add `keepalives_idle=300` to postgres connection URL. That helped. But now I have the same problem with Istio service mesh, and `keepalives_idl

[2020-07-14 16:30] groksrc commented on #1498
+1 here

I need this feature please.

[2020-07-14 16:40] hg2355 commented on #2956
yeah I'm with @buzinas , @kevinrodriguez-io can you shed some light on how you managed to do this?

[2020-07-14 17:49] kevinrodriguez-io commented on #2956
I'll upload a little video guide since I did this using the UI

[2020-07-14 17:56] #5334 closed

[2020-07-14 20:03] creatorrr commented on #5202
This seems like an ordering issue. In timescaledb, executing `update table ... only ...` commands don't work on tables that have already been turned into hypertables. Applying `create_hypertable` after the update on the `up` migration should fix the issue. Or alternately, re-creating the table (if possible) on the `down` migration.

[2020-07-14 21:02] revskill10 commented on #5376
@rikinsk I can confirm that the issue is when you create new table.

[2020-07-14 21:05] revskill10 commented on #5380
@Maxpain177 Actually Hasura is generic enough that you can built it by yourself.
In this case, i'll create new `events` table and subscribe from that table.
Hope this helps.

[2020-07-14 21:11] Maxpain177 commented on #5380
@revskill10 yes, I know, I noticed in my first message that I use hasura's trigger system to trigger my own handler and then send message to redis pub/sub to make apollo graphql subscriptions to work. Why not implement this right in Hasura?

[2020-07-14 21:22] Divyansh12 commented on #3796
[code]
You  have to use **" , "**  between two orderby statements.

[2020-07-14 21:30] #5335 closed

[2020-07-14 22:25] revskill10 commented on #5380
@Maxpain177 Being generic is good, because we can choose our own implementation of our choice, for example, i would choose RabbitMQ to queue events.

[2020-07-15 00:55] str4 commented on #1204
From what I've gathered, encryption is not mandatory, but is one of the practices that a service controller may use in order to protect sensitive data.

From GDPR Recital 83:

https://gdpr-info.eu/recitals/no-83/

But nevertheless, I see this as a critical feature, and need / would very much like to see this in Hasura.

[2020-07-15 03:55] tibotiber commented on #5367
@rikinsk you nailed it. I was basically setup for offline work and loading assets from a local repo which happened to be on master from June 12th, so somewhere post v1.3.

The strange thing is I have been on that setup since roughly June 12th and never faced any issue, the console would tell me I'm on v.1.2.1 as well. Maybe my browser had cached the assets until now. ¯\_(ツ)_/¯

Bottom line, I've c

[2020-07-15 05:21] xomaczar opened #5384 "Applying v2 metadata with `custom_column_names` results in no-op"
Using  docker container `hasura/graphql-engine:v1.3.0-beta.4.cli-migrations-v2` with v2 config directories (metadata/migrations).
When adding a custom column name to a table via
[code]
results in no-op. Hasura seems to ignore that metadata change (both in graphiql/hasura console/metadata export).

[2020-07-15 05:34] tirumaraiselvan commented on #5259
Fixed in #5377

[2020-07-15 05:34] #5259 closed

[2020-07-15 05:38] tirumaraiselvan commented on #5309
Yes @kldzj . Closing this in favour of #4163

[2020-07-15 05:38] #5309 closed

[2020-07-15 05:48] tirumaraiselvan commented on #5270
I suppose you are trying to setup `community/boilerplates/auth-webhooks/passport-js/` ?

[2020-07-15 05:57] tirumaraiselvan commented on #5290
I think the problem may be related to metadata sync across different instances (and nothing to do with higher resources). This means if you change metadata then the receiving instance updates its metadata cache but the other instances are unable to do it. Now if a request goes to other instances, then it throws an error.

Could you check your Postgres has 3 `LISTEN` statements by running `select q

[2020-07-15 05:58] tirumaraiselvan commented on #5256
Related to https://github.com/hasura/graphql-engine/issues/3658

[2020-07-15 06:00] tirumaraiselvan commented on #5322
I am still in favour of tracking these together. Maybe you could add a comment to say you would like a `prevent` rule.

[2020-07-15 06:07] tirumaraiselvan commented on #5243
I think with `--net=host` you cannot override ports. What you can do is remove the `-p 8888:8080` part and give `HASURA_GRAPHQL_SERVER_PORT: 8888` as an env variable.

[2020-07-15 06:09] tirumaraiselvan commented on #3666
Related to #2219

[2020-07-15 06:11] tirumaraiselvan commented on #5247
I am closing this in favour of #2219

[2020-07-15 06:11] #5247 closed

[2020-07-15 06:16] tirumaraiselvan commented on #5266
You can try using JWT auth mode. We also have plans for maintaining a cache of tokens with expiry time so you will incur the roundtrip only on first call or after the expiry time is over.

[2020-07-15 06:20] tirumaraiselvan commented on #5329
Do you have any example of when such an error happens? Is it when you run a SQL statement through the Data page?

[2020-07-15 06:24] tirumaraiselvan commented on #5179
I am closing this in favour of #1266

[2020-07-15 06:24] #5179 closed

[2020-07-15 06:25] praveenweb commented on #5270
@codenm007 - I see that you are using node version 14.x The `bcrypt` module used in this example is v3 which supports till Node 11. For Node 12 and later, we need to upgrade the `bcrypt` version to >=3.0.6. Here's the [version compatibility](https://github.com/kelektiv/node.bcrypt.js#version-compatibility).

You can downgrade your Node version to test this example or manually upgrade the bcrypt ve

[2020-07-15 06:25] tirumaraiselvan commented on #5204
You may want to checkout https://github.com/nhost/hasura-backend-plus which uses PG and Hasura for authn.

[2020-07-15 06:32] codenm007 commented on #5270
thanks for the help ..... I have solved this earlier with a new bcrypt
version.......thanks a lot for replying!!

On Wed, 15 Jul 2020, 11:55 am Praveen Durairaju, <notifications@github.com>
wrote:

[2020-07-15 06:42] toton6868 commented on #5243
Probably it is `HASURA_GRAPHQL_SERVER_PORT=8888` instead of `HASURA_GRAPHQL_SERVER_PORT: 8888`. I run with `HASURA_GRAPHQL_SERVER_PORT=8888` and omitting `-p 8888:8080`. It is returning something like `5cfb15ed32fe4db763faf3eeaa518dac7302694a6f830d6fc7bde0b56sdrfght0`. After that when I am running `docker ps` it is showing nothing but `docker ps -a` is showing `Exited (1) About a minute ago`.
[cod

[2020-07-15 06:51] praveenweb commented on #5270
Awesome! Closing this issue then :)

[2020-07-15 06:51] #5270 closed

[2020-07-15 06:58] tirumaraiselvan commented on #5243
Try running this:

[code]

[2020-07-15 07:22] tirumaraiselvan commented on #5285
I am not 100% sure what you mean. Could you describe the APIs that you expect?

BTW, Hasura actions has an async mode which lets you subscribe to your action: https://hasura.io/docs/1.0/graphql/manual/actions/async-actions.html#id1 . Is this related to what you want?

[2020-07-15 07:34] #1695 closed

[2020-07-15 07:41] tirumaraiselvan commented on #5212
This is not supported yet but we will be happy to take it up in a future release.

[2020-07-15 08:10] luke-j commented on #4588
This is my experience as well. It doesn't error - just doesn't start.

It would be great if `graphql-engine server` worked on alpine - is this something that might be possible?

[2020-07-15 08:22] jascodes commented on #5285
@tirumaraiselvan Thx for getting back.
Tell me if I am mistaken; but async action you return some to subscription at some later time. But I want to return websocket stream. In my usecase I am listening to new emails on server-side. I want my client to subscribe to the email list. Emails that I am going to be listening with IMAP(IDLE MODE) protocol can be external services. I want to write an actio

[2020-07-15 09:14] Maxpain177 commented on #5380
@revskill10 I mean implement native postgres trigger based graphql subscriptions for browser websocket clients, not for backend

[2020-07-15 10:22] praveenweb commented on #2083
Closing this since we have [Hasura Cloud](https://hasura.io/docs/cloud/1.0/manual/getting-started/index.html) as the recommended hosting solution along with [Deployment Guides](https://hasura.io/docs/1.0/graphql/manual/guides/deployment/index.html) for other cloud providers on Docs.

[2020-07-15 10:22] #2083 closed

[2020-07-15 10:24] praveenweb commented on #210
Closing this since we are not planning to support 9.4.

Hasura GraphQL Engine supports Postgres 9.5 and above.
Hasura Actions works on Postgres 10 and above.

[Docs on Supported Postgres Versions](https://hasura.io/docs/1.0/graphql/manual/deployment/postgres-requirements.html#supported-postgres-versions)

[2020-07-15 10:24] #210 closed

[2020-07-15 10:30] praveenweb commented on #412
The frontend learn tutorials demonstrates the usage of websockets for making queries and mutations as well. For example here's the [reference for the React app](https://hasura.io/learn/graphql/react/subscriptions/1-subscription/) using websockets to make all GraphQL queries.

[2020-07-15 10:30] #412 closed

[2020-07-15 10:38] praveenweb commented on #1527
Closing this as we have https://github.com/hasura/hasura-k8s-stack for setting up Hasura on Kubernetes.

[2020-07-15 10:38] #1527 closed

[2020-07-15 10:38] #1740 closed

[2020-07-15 10:40] praveenweb commented on #2116
Tracking this in #4055

[2020-07-15 10:40] #2116 closed

[2020-07-15 10:43] praveenweb commented on #248
Tracking this in #5109

[2020-07-15 10:43] #248 closed

[2020-07-15 10:51] praveenweb commented on #5302
Adding to @hgiasac comment, [GraphQL spec](https://spec.graphql.org/June2018/#sec-Names) also only allows certain special characters and "dot" doesn't seem to be one of them.

Closing this issue.

[2020-07-15 10:51] #5302 closed

[2020-07-15 11:00] praveenweb commented on #3513
Closing this. This is typically a configuration issue for the `HASURA_GRAPHQL_JWT_SECRET` variable used.

With Auth0 support for `jwk_url` fixed, this shouldn't be an issue. Tracking docs update for this here https://github.com/hasura/graphql-engine/issues/4847

[2020-07-15 11:00] #3513 closed

[2020-07-15 11:57] praveenweb commented on #3771
Tested on v1.16.0 too. This seems to occur when the initial apollo.config.js has a wrong URL configured and the VSCode extension seems to be broken. It only recovers and starts working after restarting VSCode.
This is more of an issue on the extension side and hence closing this one.

[2020-07-15 11:57] #3771 closed

[2020-07-15 12:00] praveenweb commented on #3571
Closing this with reasoning provided in https://github.com/hasura/graphql-engine/issues/3571#issuecomment-568425942 and https://github.com/hasura/graphql-engine/issues/3571#issuecomment-568668932

The convention in GraphQL is to return a 200 and check for `errors` inside the response on the client.

[2020-07-15 12:00] #3571 closed

[2020-07-15 12:06] praveenweb commented on #3825
Since it's configurable to use local assets, the default behavior to fetch the resources from the CDN benefits for rolling updates (which includes security fixes too) and for the convenience of upgrading server versions.

Closing this one.

[2020-07-15 12:06] #3825 closed

[2020-07-15 12:08] praveenweb commented on #3915
Closing this with the suggestion from https://github.com/hasura/graphql-engine/issues/3915#issuecomment-590193731 to make use of kubernetes secrets to configure `HASURA_GRAPHQL_JWT_SECRET`.

[2020-07-15 12:08] #3915 closed

[2020-07-15 12:10] #3857 closed

[2020-07-15 12:14] #4147 closed

[2020-07-15 12:15] #4113 closed

[2020-07-15 12:17] praveenweb commented on #4160
@rohanmuplara - Hope the above approach helps. Feel free to re-open the issue if you have any more questions.

[2020-07-15 12:17] #4160 closed

[2020-07-15 12:21] praveenweb commented on #4248
@dan-rxr - Closing this. Feel free to re-open this if you are still facing issues.

[2020-07-15 12:21] #4248 closed

[2020-07-15 12:25] praveenweb commented on #4206
@wemersonrv - Closing this as it's more of a Docker Toolbox issue than a Hasura issue.

[2020-07-15 12:25] #4206 closed

[2020-07-15 12:27] praveenweb commented on #4192
@brokercl - If you are looking to delete the remote schema that you added, you can do so via the Console Remote Schemas page.

Closing this. Feel free to re-open if you have more specific details.

[2020-07-15 12:27] #4192 closed

[2020-07-15 12:34] praveenweb commented on #4770
Adding to @tirumaraiselvan's comment, you can use `X-Forwarded-For` to get the original IP.

`X-Forwarded-For: <client>, <proxy1>, <proxy2>`. [MDN Docs Reference](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-For)

[2020-07-15 12:34] #4770 closed

[2020-07-15 12:49] praveenweb commented on #4590
@johnpondales - Hasura can be run locally using [Docker](https://hasura.io/docs/1.0/graphql/manual/getting-started/docker-simple.html) / Docker Compose.

Closing this.

[2020-07-15 12:49] #4590 closed

[2020-07-15 12:59] praveenweb commented on #4512
@ilahomesick - Multi-part file uploads are not defined as part of the GraphQL spec. The workaround is to either use base64 encoded file upload or just use a separate file service to manage files (typically cloud services like S3/Cloudinary).

The base64 approach works for smaller file size use cases. Here's an [example with React and Hasura Actions](https://github.com/hasura/hasura-actions-example

[2020-07-15 12:59] #4512 closed

[2020-07-15 13:16] praveenweb commented on #4916
Managing seed data files via CLI is available from [v1.3.0-beta.2](https://github.com/hasura/graphql-engine/releases/tag/v1.3.0-beta.2)

[2020-07-15 13:16] #4916 closed

[2020-07-15 14:06] praveenweb commented on #4262
We have a bunch of examples added here - https://github.com/hasura/hasura-actions-examples

[2020-07-15 16:53] kolharsam opened #5386 "console: ui issue on metadata actions page"
The `Import Metadata` button changes state to `Importing...` while the user uploads the metadata file. In case, the user cancels the upload, the button state/text should revert to `Import Metadata`.

#### Depiction of the bug:

![ezgif-3-7ef21c2085b3](https://user-images.githubusercontent.com/6604943/87571514-ce5a7080-c6e7-11ea-92c0-69818fe32693.gif)

[2020-07-15 21:29] marioishikawa commented on #1456
What is the expected behavior in this case when variable objectId is null? I'm not sure but I think I've seen cases in which if the variable inside where clause is null, Hasura does an update without where, changing the entire set. Does it really happen?

[2020-07-15 22:09] yonromai commented on #5324
@tirumaraiselvan For one of our tables, we have "batch" ingestion of data scheduled to run at a regular cadence (e.g daily). The total size of the ingestion is variable and depends on many thing, but generally ranges between O(10MB) and O(100MB). Most of that payload is non random text, so likely very  compressible.

I do agree with your point that it's not obvious (unlikely?) that network data si

[2020-07-15 23:37] pradyuman commented on #4926
Yep, this is exactly what happens to me as well.

[2020-07-16 00:28] MrBlenny commented on #1266
How would I go about building graphql-engine on ARM, specifically arm64v8? I'm willing to do a heap of testing - from my preliminary research it looks like the GHC ARM support has improved quite a lot in the last year or so.

I've gotten quite a way through an embedded computer vision project that was using hasura and running on a Jeton Xavier AGX only to find this out quite late :cry:

[2020-07-16 00:49] sezgi opened #5388 "Relay docs: Link to docs on exporting GraphQL schema"
The Relay docs should be more clear on where and how to get your GraphQL schema from Hasura.

https://hasura.io/docs/1.0/graphql/manual/schema/relay-schema.html

[2020-07-16 02:11] 24601 commented on #5381
I assume your Hasura is behind an Istio sidecar? I'd add a DestinationRule for your PG host that has tcpKeepalive set. Those keepalives are likely being dropped by the Isto mesh (envoy?), if tcpKeepalive is set they will likely be honored/allow to pass through.

[2020-07-16 03:26] tibotiber opened #5389 "curl install the cli fails (github action)"
Hi,

I'm the maintainer of the [Hasura GitHub action](https://github.com/marketplace/actions/github-action-for-hasura). A user has reported a failed install of the CLI in his action workflow, see https://github.com/tibotiber/hasura-action/issues/5. We're unable to figure out why this may be happening on his end only, while other users have no issues. Would you mind having a look at that issue and

[2020-07-16 03:35] ro-savage commented on #5035
@mrjbj - We've chosen not to implement Hasura until we can retrieve relay ids, as there would be a huge amount of re-work for us. So I am not sure the best way to implement in practice.

In theory you can query like this to get both the relay and db id. So you can use whatever you need at the time.
`{id: 'agzb7a1', person_id: 1, person: { id: 'nhzb7a1'}}`

However, it's really messy to be keeping

[2020-07-16 05:27] arpitjacob commented on #2151
@coco98 thanks for the update on this looking forward to this feature in the OSS version
Also any guide out there for best practices on rate limiting? I have an app that I run for a non-profit and has a large user base so we can't afford a big budget for infrastructure

[2020-07-16 05:49] tirumaraiselvan commented on #5384
@xomaczar We are not able to replicate this. Can you send a small metadata and migrations folder and the steps you performed?

[2020-07-16 07:49] soorajshankar commented on #2371
@rikinsk Please give your thoughts on this UI
![image](https://user-images.githubusercontent.com/8408875/87641190-5df23480-c765-11ea-97ac-09c05f26fe1a.png)

[2020-07-16 07:58] Maxpain177 commented on #5381
Why not to fix this in Hasura?

[2020-07-16 11:38] KaiserKarel commented on #5378
I used the `v1/query` `create_event_trigger`. Creating the event trigger using the following payload succeeds:

[code]

However when navigating through the console to the event, and then attempting to modify it, results in this error.

[2020-07-16 11:44] haf opened #5392 "CLI: v1.2.2 nil pointer dereference"
[code]

[2020-07-16 12:00] pronevich opened #5393 "ASAP Currently Hasura Pro not usable: telemetry: beaming payload failed"
Couldn't apply migrations, connect from console and etc.

Here is the log when try open console from the terminal:

[code]

[2020-07-16 12:55] ste824 commented on #5389
We get this too when running the `curl -L https://github.com/hasura/graphql-engine/raw/stable/cli/get.sh | bash` command described on https://hasura.io/docs/1.0/graphql/manual/hasura-cli/install-hasura-cli.html#install-a-binary-globally.

The problem appears to be when the script calls this - https://releases.hasura.io/graphql-engine?agent=cli-get.sh it receives an HTTP 500 with the response body

[2020-07-16 13:27] ludovicc opened #5394 "Optional database schema prefix"
Hello,

In my company, we use Postgres schemas to segregate data by customer. The table structure is the same for different schemas, but data in one schema is always linked to a customer and cannot be accessed from another customer.

This architecture makes compliance and multi-tenancy easier to manage, but with Hasura we have what looks like many different schemas but differ only by the schema pr

[2020-07-16 14:16] #5393 closed

[2020-07-16 14:40] technikhil314 commented on #4713
Hey @XVincentX  @rikinsk @marionschleifer  Does the value I set in HASURA_GRAPHQL_ACTIONS_HANDLER_WEBHOOK_BASEURL env var gets mapped to ACTION_BASE_ENV_VAR or I can name my ENV VAR (viz MY_ENV_VAR) anything I want and the use it in mustache {{MY_ENV_VAR}} syntax. If yes what is significance of HASURA_GRAPHQL_ACTIONS_HANDLER_WEBHOOK_BASEURL en var? I still did not find any reference in hasura docs

[2020-07-16 15:30] Dionid commented on #5329
@tirumaraiselvan yes, on data page.

I need to state it more clearly: the main problem is that there is no error message.

[2020-07-16 17:30] sezgi commented on #5316
@datdotatprotocol Sorry for the confusion. You should export your schema using your Relay endpoint on Hasura.

So this: https://hasura.io/docs/1.0/graphql/manual/schema/export-graphql-schema.html
But using Relay endpoint instead.

We'll update the docs to clarify this.

[2020-07-16 18:37] njaremko commented on #5392
Surprised this existed for this long, I was just about to open an issue with this exact error in CLI v1.3.0-beta.4

[2020-07-16 18:39] ghoshnirmalya opened #5396 "Getting "Nothing to apply" while auto-applying migrations using cli-migrations-v2"
I'm unable to auto-apply migrations using **hasura/graphql-engine:v1.2.2.cli-migrations-v2**. I'm getting the following even though there are migrations which are created using Hasura:

[code]

## Screenshot
<img width="1674" alt="Screenshot 2020-07-17 at 12 06 51 AM" src="https://user-images.githubusercontent.com/6391763/87709159-78f29200-c7c1-11ea-99f4-6b9d323721ba.png">

## Demo application
[Li

[2020-07-16 18:43] tbenst opened #5397 "after creating new database, can't run graphql-engine: schema "hdb_catalog" already exists"
I initially used hasura on a new postgres instance hosted on AWS. Let's call this database "GRAPHDB"

I subsequently created a new database, call it "OTHERDB" on the same postgres instance, and a new user, "otheruser." I will not be using hasura for this database.

Now, when I try to run graphql-engine, I see this fatal error:

[code]

From reading [postgres guide on schemas](https://www.postgresq

[2020-07-16 20:19] tnrich opened #5398 "Tracking a foreign key relationship request never finishes"
Hey there,

I'm trying to get hasura up and running on a DB with multiple schemas. When I try to hit the "Track" button next to the relationships I get the following:
![image](https://user-images.githubusercontent.com/2730609/87717724-b75a6380-c765-11ea-8225-4d29b9f0a3f4.png)

As you can see several of these requests just aren't finishing. There is no warning or error message in the console. Any h

[2020-07-16 20:22] njaremko opened #5399 "Azure template doesn't include Postgres 11"
Postgres 11 is available as an Azure managed DB in GA since last July, so it should be added to the template.

[2020-07-16 22:05] tbenst commented on #5397
The instructions in https://hasura.io/docs/1.0/graphql/manual/deployment/postgres-requirements.html#postgres-permissions are insufficient for existing databases.

[code]

This is still not sufficient as now I get `must be owner of function hdb_schema_update_event_notifier`

[2020-07-17 03:38] scriptonist commented on #5396
@ghoshnirmalya If I understand correctly, you are using the the `Dockerfile` mentioned in the repo right?
If that's the case, you might wanna mount / set your migrations directory as mentioned here https://hasura.io/docs/1.0/graphql/manual/migrations/advanced/auto-apply-migrations.html#applying-migrations

[2020-07-17 03:42] ghoshnirmalya commented on #5396
@scriptonist I've added a custom env variable for the migrations directory: [HASURA_GRAPHQL_MIGRATIONS_DIR=./migrations](https://github.com/ghoshnirmalya/hasura-auto-apply-migration-issue/blob/master/.env#L8).

In the screenshot, it mentions that Hasura is "applying migrations from ./migrations".

[2020-07-17 04:15] scriptonist commented on #5396
@ghoshnirmalya got it, but the`migrations` directory from the repo is not mounted at `./migrations` right? So from the POV of container `./migrations` is empty.
IIUC if change the value of env var to `HASURA_GRAPHQL_MIGRATIONS_DIR=/usr/src/app/migrations` this should work as expected.

[2020-07-17 05:04] ghoshnirmalya commented on #5396
@scriptonist Thank you for solution. However, that's also not working. It still states "Nothing to apply". See the screenshot below:

![carbon](https://user-images.githubusercontent.com/6391763/87750410-fe556100-c818-11ea-9378-6859776cc60c.png)

[2020-07-17 07:15] evancorl commented on #4077
Same here. We just upgraded to 1.2.2 and our Heroku memory quota was exceeded

<img width="1225" alt="Screen Shot 2020-07-17 at 07 51 09" src="https://user-images.githubusercontent.com/8073408/87759115-59fcfb80-c7d3-11ea-85a4-69a77063177e.png">

[2020-07-17 08:29] ChristianHohlfeld commented on #678
any updates on this? Thank's!

[2020-07-17 09:09] tirumaraiselvan opened #5404 "Bound the size of prepared statements"
Currently, all queries and subscriptions are prepared by default (can be disabled by `HASURA_GRAPHQL_USE_PREPARED_STATEMENTS: fase`.

Prepared statements take a lot of memory in Postgres. About 50MB per statement (this easily means multiple GBs for active servers 50req/s +). Some discussion in PG mailing list: https://www.postgresql.org/message-id/15923-4b35496c683c52d2%40postgresql.org

We can ha

[2020-07-17 10:31] 0x777 commented on #5404
I wonder if enabling prepared statements by default is a good choice. Even if we cap the number of prepared statements per connection, we cannot work around the fact that the statements have to be prepared on *all* the Postgres connections (unless we build some logic of acquiring a connection based on the statement that needs to be executed). The memory usage on Postgres will be proportional to `n

[2020-07-17 11:21] MrBuddyCasino commented on #877
We're just hitting the same issue. Luckily we can work around this for now, but it feels so dumb. All that is really needed is `x-hasura-allowed-roles`, the rest is kinda... unnecessary?

[2020-07-17 12:03] joshuarobs commented on #5097
@poul-kg  Apologies for the late response. I had managed to make this work without setting the `--api-port`, but then ended up with some other weird error that I couldn't figure out, but I managed to solve it I think by setting the api-port. Thanks!

[2020-07-17 12:03] #5097 closed

[2020-07-17 12:43] joshuarobs opened #5405 "What are the random SELECT statements being generated in the `hasura seeds create` command?"
Do these SELECT statements generated via `hasura seeds create` actually do anything?

I'm running the command with extra arguments, that will only get the tables that I want based on a file that has an array of all the table names of my user generated data. This is separate from another file that contains all table names of enum data.

This is the shell script I use to run:

[code]

The `user-gen-

[2020-07-17 17:04] 24601 commented on #5381
If it indeed is the Istio service mesh blocking TCP Keepalives, that isn't really, first, a problem with Hasura, and second, not sure Hasura can really do anything if Istio is inappropriately mangling its network traffic.

The analogy is this: if your cellular phone provider's network is dropping your calls, you cannot do much at your handset (Hasura) to fix the problem if the actual network is bl

[2020-07-17 18:13] httpJunkie commented on #1773
I believe that Hasura needs to be compatible in the future for more than one database. Providing support for MySQL will provide a ptah for supporting any SQL database and potentially other databases that use a SQL variant. Once this support is complete and a common interface is built, the path to supporting other SQL databases like MSSQL or maybe even a NoSQL database like Couchbase which uses a S

[2020-07-17 19:17] #5264 closed

[2020-07-17 20:11] tnrich commented on #5398
I believe this might be related to https://github.com/hasura/graphql-engine/issues/3802

[2020-07-17 20:50] paf31 opened #5410 "Tracing: Add the request ID as trace metadata"
This will be useful for correlating requests with their traces

[2020-07-18 01:59] vaibhavverma9 opened #5412 "database query error for any insert, creating a new column, etc. permission denied for table hdb_schema_update_event"
Hi I'm getting a database query error when I add a new column to an existing table. I created a Loom video to show what's going on: https://www.loom.com/share/b413c582af56463585b6ce85def3091b

When I insert the column, I get the following error:

[code]

When looking at Heroku logs, I get the following error log from trying to insert performance.

[code]

At this point, I get a database query erro

[2020-07-18 02:02] raitucarp commented on #1241
Any update? Postgres enum on my database column causes a lot of trigger on the same webook, makes unimportant logs with unsucess responses there.

[2020-07-18 04:33] fr8in opened #5413 "docs: info on setting hasura_graphql_jwt_secret for azure arm"
The ARM template and guidelines: https://github.com/hasura/graphql-engine/blob/865b150c82d731509605aba7ad3e843b6d52e24f/install-manifests/azure-container/README.md
is not clear about how to secure graphql endpoint and add authentication using JWT.

**1) Securing end point**
While securing endpoint is easy by adding to the commands array of ARM and pass the value through parameter or direct string

[2020-07-18 04:43] vaibhavverma9 commented on #5412
Looks like I just needed to upgrade Heroku!

[2020-07-18 04:43] #5412 closed

[2020-07-18 04:52] vaibhavverma9 opened #5414 "locked topology table preventing me from using heroku pg:backups, pg:copy, etc."
I'm trying to get a backup of my database using https://devcenter.heroku.com/articles/heroku-postgres-backups

But when I run this command heroku pg:backups:capture --app [app_name], I get the following error:

[code]

When I look at the logs, I get the following:

[code]

I think the reason why I have a table called "topology" is because I use the column type geography in my database. Given this,

[2020-07-18 05:29] vaibhavverma9 commented on #5414
Do I need to drop the PostGIS extension? https://www.postgresql.org/docs/9.1/sql-dropextension.html

However, that will remove some very valuable data from the database.

[2020-07-18 05:50] vaibhavverma9 commented on #5414
I tried the following:

[code]

[2020-07-18 07:48] kentaro84207 commented on #5386
I'd like to work on this issue.

[2020-07-18 09:04] kolharsam commented on #5386
@kentaro84207 go for it! 🎉

cc @beerose

[2020-07-18 10:59] pyankoff opened #5416 "Trim trailing space for action webhook URL?"
Webhook actions were failing because GCP trigger hook is copied with a trailing space and it isn't trimmed on Hasura

[2020-07-18 16:34] tirumaraiselvan commented on #5404
I think it's worth keeping them enabled by default as subscriptions will almost always benefit from them.

[2020-07-18 21:20] #5397 closed

[2020-07-18 22:27] tbenst commented on #4055
@marionschleifer did something change from 1.0.0 -> 1.2.2 that affects how to pass admin-secret?

I'm seeing same issue as https://github.com/hasura/graphql-engine/issues/4926 from the following commands:

[code]

[2020-07-19 08:34] MaxmaxmaximusGitHub opened #5417 "Async actions not working"
Async actions not working

1) Version Hasura 1.2.2
2) Webhook not triggered
3)  I get error

request:

[code]

response:
[code]

[2020-07-19 08:45] MaxmaxmaximusGitHub opened #5419 "v1.3.0-beta.4 Error"
[code]

[2020-07-19 10:33] philschonholzer commented on #5133
Also got the same problem with sanity.io

[2020-07-19 16:37] jberryman commented on #4077
@evancorl are you observing a regression when upgrading to 1.2.2? Do those drops in memory usage represent a restart?

Also if you're comfortable sharing your schema and/or data-set and what sorts of queries you're making over direct message that is always helpful. Finally, there are quite a few memory-related fixes in the beta pipeline. Please let us know if you find they fix your issue

[2020-07-20 03:20] scriptonist commented on #5396
Hey @ghoshnirmalya , I noticed that you are using config `v1` project, the corresponding `cli-migrations` image for that will be `hasura/graphql-engine:v1.2.2.cli-migrations`
https://hasura.io/docs/1.0/graphql/manual/migrations/config-v1/advanced/auto-apply-migrations.html#auto-apply-migrations-v1

[2020-07-20 04:37] ghoshnirmalya commented on #5396
@scriptonist Thank you. After I upgraded my Hasura project to v2 using `hasura scripts update-project-v2`, the migrations started applying automatically on starting the server.

[2020-07-20 04:37] #5396 closed

[2020-07-20 05:16] qarthandgi commented on #1267
I came here looking for existing solutions for data validation on server side (which I feel is necessary vs client side for actual production projects). I was expecting to find some sort of pre-insert validation options in the Data tab somewhere but was surprised to not see anything.

At this point, this is really the only thing holding me back from promoting is to production systems. I also under

[2020-07-20 06:32] scriptonist commented on #4055
@tbenst Thanks for the feedback, Nothing changed on how the admin secret is passed, but this may be a bug, will look into it.

[2020-07-20 07:15] tirumaraiselvan commented on #1267
@qarthandgi There are few ways to do data validations server side: https://hasura.io/docs/1.0/graphql/manual/schema/data-validations.html

We also developed Hasura Actions to tackle this problem in a general way: https://github.com/hasura/graphql-engine/issues/1291#issuecomment-613273473

[2020-07-20 07:19] tirumaraiselvan commented on #5417
This seems related to https://github.com/hasura/graphql-engine/issues/5419

Did you by any chance remove the `pgcrypto` extension after Hasura was installed?

Could you try `CREATE EXTENSION pgcrypto` and then try again? If it exists, then is it available in the `search_path`? https://hasura.io/docs/1.0/graphql/manual/deployment/postgres-requirements.html#pgcrypto-in-pg-search-path

[2020-07-20 07:21] tirumaraiselvan commented on #1773
@httpJunkie You are absolutely right and this is what we are doing internally currently.

[2020-07-20 09:07] #5392 closed

[2020-07-20 09:13] tbenst commented on #4055
@scriptonist for me, the issue was I was running these commands on a remote server, and port forwarding only the console port (9695). I'm guessing that browser-side, the console attempts to connect to localhost:8080. When I ran console locally, it worked fine.

To reproduce, ssh to a computer, forwarding whatever port you use for hasura-cli run the two commands in https://github.com/hasura/graphql

[2020-07-20 09:29] deepu commented on #625
Eagerly waiting for ltree support. Any ETA guidance would be nice so that we can plan accordingly. thanks.

[2020-07-20 09:45] jeanpul commented on #5128
Hi,
To avoid these erros, is it possible to use CREATE OR REPLACE instead of CREATE ?

[2020-07-20 09:49] #5399 closed

[2020-07-20 09:50] dnk8n opened #5422 "Ability to filter on values assigned to alias"
I have a working query which looks like this:

[code]

but I only want to return objects which match, say `orgs.gridreference.country` is equal to `Austria`.

Is it possible to filter on the value of an alias currently? If not, is it possible to add that as a feature?

A syntax like this would be nice:

[code]

Or if a wildcard path string was supported (e.g. `countries: data(path: "addresses[*].c

[2020-07-20 09:52] dnk8n commented on #5422
To test the above queries, you can try at https://graphql.rdb.dnk8n.dev/v1/graphql for the moment. I can't promise this link will always be available though.

[2020-07-20 10:27] tirumaraiselvan commented on #625
Folks, we have few high priority features already in the queue for the next 2 releases. You can expect this in 3/4 releases from now. Hard to give ETA currently, unfortunately.

[2020-07-20 10:34] verekia commented on #1077
Correct me if I'm wrong but there is currently still no way to modify an existing `updated_at` column to add a trigger? I guess we have to create a new `updated_at` column with the Frequently used feature and copy the data?

[2020-07-20 10:52] verekia commented on #1077
I don't know if that's the right way to do it, but I've added the trigger directly on the database (using TablePlus), and it shows up in the Hasura interface. I simply copied the code of the frequently used column on v1.2.2 of Hasura.

[code]

And created the trigger: `set_public_YOURTABLENAME_updated_at` on the table with:
`BEFORE UPDATE, FOR EACH ROW`
`EXECUTE FUNCTION "set_current_timestamp_upd

[2020-07-20 13:26] hg2355 commented on #2956
@kevinrodriguez-io @buzinas

this video explains how to do it around 26:30

https://www.youtube.com/watch?v=APnXlMiKBWg

[2020-07-20 13:55] mdzimbeg opened #5424 "Running add_remote_schema migration on multiple environments"
Hi,

we have Hasura set up to run in a docker container, and now trying to add Remote Schema to it. All is working well, and the Remote Schema is successfully added. However, once it is added it creates a new migration, as follows:

[code]

The problem is that the URL to the remote schema is part of the migration, and the API that we want to add is environment dependent, meaning that it needs to h

[2020-07-20 14:12] #4902 closed

[2020-07-20 14:14] #5031 closed

[2020-07-20 14:15] #5345 closed

[2020-07-20 14:19] vedovato commented on #4770
@praveenweb what's the value needed for the `X-Forwarded-For` key on Hasura action headers?

[2020-07-20 14:39] webdeb opened #5425 "Allow `_set` in `on_conflict`"
## Use case

A user can buy credits which are stored in a `credits` table, which has an unique `user_id` field
I would like to insert the credits entry for a user and use `on_conflict` to increment the amount value if there is already a credits row for this user.

## Current behaviour

`on_conflict` only supports the column to be updated overridden instead of an operation like `_set`

## Proposal

[2020-07-20 14:54] praveenweb commented on #4770
@vedovato - We don't manually send in any value. When `Forward client headers` is enabled for the action, Hasura will automatically forward this value to the Action server and just parsing this `X-Forwarded-For` header in your action endpoint should be sufficient.

In case you are using a proxy (like nginx) in between Hasura and your Action server, ensure that the headers are passed from the proxy

[2020-07-20 14:59] anile opened #5426 "It would be great if we can use CAST directive in GraphiQL queries"
Hi!
It would be great if in GraphiQL we could make the same SELECT with CAST directive as in the native PostgreSQL. For example:
[code]
In my case it's need to make search by all the fields of different types as a String. I want to have ability to make query
[code]
with Query Variables something like
[code]
Now of course this causes an error
[code]

[2020-07-20 15:26] jflambert commented on #4496
@tirumaraiselvan can I get some clarity on this `HASURA_GRAPHQL_SHOW_UPDATE_NOTIFICATION` environment variable? I asked for [something similar](https://github.com/hasura/graphql-engine/issues/4096) but my issue is still open. Googling for `HASURA_GRAPHQL_SHOW_UPDATE_NOTIFICATION` brings up [exactly two results](https://www.google.com/search?q=HASURA_GRAPHQL_SHOW_UPDATE_NOTIFICATION&nfpr=1), this i

[2020-07-20 16:52] jberryman commented on #5404
Can you elaborate on what you mean here?

Some thoughts/questions:

1. I wonder if just using the new connection timeout feature to drop connections and their server-side cache periodically is simplest
2. maybe we want to merge the hasura plan cache and the connection pool, so that there is some affinity; i.e. the same prepared statement is likely to be sent over a connection that already has it c

[2020-07-20 17:12] MaxmaxmaximusGitHub commented on #5417
@tirumaraiselvan ```sql

[code]

[code]
[code]

[2020-07-20 17:52] gnyani commented on #5416
I can take a look at this, @beerose  can you assign this on me please?

[2020-07-20 17:52] gnyani commented on #5052
I can take a look at this, @beerose can you assign this on me please?

[2020-07-20 18:05] tirumaraiselvan commented on #5404
I just meant not having a regular hash-map per connection (that stores the mapping between sql statement and prepared statement) but something with an upper bound and LRU like eviction. Similar to #5363

[2020-07-20 18:46] #5386 closed

[2020-07-20 20:07] xomaczar commented on #5384
@tirumaraiselvan I am also unable to replicate the above behavior in v1.3.0.cli-migrations-v2 - so I am closing this for now.

[2020-07-20 20:07] #5384 closed

[2020-07-20 21:46] kevinmarrec commented on #2743
@marionschleifer Seems the task have been assigned multiple times to someone different but no updates ?

It seems this issue also affect Kubernetes when using an Ingress Controller and specifying we want Hasura on a specific path :

[code]

`example.com/custom` leads to `{"path":"$","error":"resource does not exist","code":"not-found"}`

[2020-07-20 23:25] #5419 closed

[2020-07-20 23:58] amille14 opened #5429 "insert and insert_one mutations triggering update permissions"
I recently updated to v1.3.0 and am running into an issue where `insert_x_one` and `insert_x` mutations seem to be triggering the permissions on update for the current role instead of the permissions on insert. This is problematic as I have different permissions for updating vs inserting (update looks for a header containing the id of the model that is being updated, which obviously doesn't exist

[2020-07-21 03:17] madeken opened #5431 "relay mode is showing uuids in base64 encoded"
Normal mode presenting the id's (uuid in postgres) correctly:

<img width="1272" alt="Screen Shot 2020-07-20 at 8 15 24 PM" src="https://user-images.githubusercontent.com/36307021/88008725-c757a780-cac5-11ea-8481-0e685529112d.png">

But in relay mode:

<img width="1460" alt="Screen Shot 2020-07-20 at 8 16 37 PM" src="https://user-images.githubusercontent.com/36307021/88008819-f2da9200-cac5-11ea-9b

[2020-07-21 05:36] tirumaraiselvan commented on #5429
@amille14 I am not able to reproduce this. Can you give a sample table, permissions and the mutation that you are trying to perform?

Is this an insert with `on_conflict` clause? Then you might be hitting this issue: https://github.com/hasura/graphql-engine/issues/3659

[2020-07-21 06:46] qqgg231 commented on #2326
Most up-to-date and easiest way is to use Deploy button from this repository:  https://github.com/n3n/hasura-cloud-run

[2020-07-21 06:49] tirumaraiselvan opened #5433 "take directory paths for `hasura metadata diff`"
Since config-v2, the metadata is split into files in the `metadata` folder.

`hasura metadata diff` can take filename arguments like `hasura metadata diff metadata1.yaml metadata2.yaml` but this is not possible when you have the `metadata` folder.

So maybe something like `hasura metadata diff metadata_folder1/ metadata_folder2/` can be supported?

[2020-07-21 06:50] littlepea commented on #2326
This is all great but it doesn't change the fact that Hasura web sockets (`wss://` endpoint) doesn't work on cloud run, so it's not really a viable deployment target for real-time applications (unless you use Anthos cluster) :(

[2020-07-21 07:13] xiaoyu-tamu commented on #2768
Is this going to implement? I don't see why cron/schedule job has higher priority than multiple per-row updates and multiple auth role.

[2020-07-21 07:36] #1254 closed

[2020-07-21 08:13] webdeb commented on #5243
guess the problem here is, that the container has no access to postgres on localhost. On Docker for Mac its "host.docker.internal"

[2020-07-21 08:18] philschonholzer commented on #5133
Problem can still be reproduced on v1.3.0 release.

[2020-07-21 12:09] arvindkhadri commented on #5290
@tirumaraiselvan Thanks for the response. Sorry for the delay in response. I am pasting the screenshot of output of the mentioned query.
![Screenshot from 2020-07-21 17-36-05](https://user-images.githubusercontent.com/606431/88053115-ed8a4f80-cb78-11ea-8c94-bc673a427cbd.png)

Not sure why you mentioned that there should be 3 `LISTEN` statements when I have only 2 Fargate tasks.

[2020-07-21 12:49] tirumaraiselvan commented on #5290
@arvindkhadri Sorry, that was a typo. It should be 2.

Can you run a small experiment where you a track a table and then individually go to each of the fargate instances and see if it is tracked in both? Not sure if individual endpoints are exposed for fargate instances.

[2020-07-21 13:10] tirumaraiselvan commented on #5133
The issue here is that the graphql types must be exactly the same for the remote relationship to be valid. You cannot join `String` with `ID` as such. Although I do agree that coercing values is useful.

I also agree that `ID` field is very common identifier field in Remote Schemas and there should be a way to make `ID` types in Hasura. We already have an issue tracking this: https://github.com/ha

[2020-07-21 13:26] philschonholzer commented on #2881
The new Remote Relationships with v1.3 do not work with Sanity.io because their id's are of type `ID!` which Hasura does not support. Using another type like `uuid!` gets you an exception when trying to create a new remote relationships:

[code]

A possible solution would be to define the type that is needed by a remote schema (like `ID!`)

[2020-07-21 13:30] philschonholzer commented on #3578
Creating a Remote Relationships with Sanity.io is not possible because of this.

[2020-07-21 14:01] tirumaraiselvan commented on #2881
@philschonholzer One workaround suggested in community regarding sanity.io is here: https://discord.com/channels/407792526867693568/516590536875048990/727192434391646351

Quoting:

[2020-07-21 15:57] timhere opened #5436 "Removing relationships with dependent objects fails but the console reports success"
## Environment

- docker-compose
- hasura engine v1.3.0
- Postgres 12.3

## Summary

Attempting to delete a foreign key with dependent objects and permissions is reported as successful by the console, however the operation fails.

## Behaviour

If I try to remove a foreign key with dependent objects:

- go to the Data -> {table} -> Modify tab
- the console shows an error notification "Deleting for

[2020-07-21 16:00] timhere commented on #5373
I agree that this would be a good addition as my feature development workflow has lots of writing `TRUNCATE hdb_catalog.schema_migrations;` and `rm -r migrations`.

[2020-07-21 16:08] amille14 commented on #5429
Here's some example metadata for the table in question:

[code]

I'm making the following mutation from an action handler (which uses the "action" role seen in the metadata, and forwards headers from the client):

[code]

Notice I am NOT using `on_conflict`, so it shouldn't be trying to do an upsert.

When I try to execute this mutation, I get the following error:
`GraphQL error: "x-hasura-communi

[2020-07-21 16:11] langfors commented on #1573
Begging for this feature!  I was sad to see this not make it into 1.3.  We are drowning in tens of thousands of lines of code to manage deeply nested object updates and this fact sadly reduces the value of GraphQL in general for us.  The child delete & re-insert pattern of nested objects recommended by hasura is not only error prone but has also increased our postgresql server load when saving lar

[2020-07-21 16:28] amille14 commented on #5429
@tirumaraiselvan I just tried setting the `x-hasura-community-id` header to an arbitrary value (empty string) and the mutation appears to work so long as that header is set. Maybe it's not actually running the update permission check, just ensuring that the headers are present (even if those headers aren't actually used for inserting).

This is consistent with [this comment](https://github.com/has

[2020-07-21 21:33] ravensnowbird opened #5437 "[Feature request] RBAC + Fastest way to add tenancy for 160 tables"
Hi team,

I would like to know if there can be a easy way to add default scope on tables from X-Hasura-Xxxxx-ID for tables that already has a foreign_key relationship to Xxxxx table.

I believe it's a very common feature request for SaaS companies. Ruby on Rails has a gem for this as well - https://github.com/ErwinM/acts_as_tenant

In my case I have a very large database - 160 tables.

1. 3 tables

[2020-07-22 00:59] jflambert commented on #5052
hi @tirumaraiselvan I've started using 1.3.0 and indeed, I'm stuck on this new format change. I can't figure out how to execute a "run_sql" event with cron triggers anymore. Can you give me a quick example?

[2020-07-22 01:27] jflambert opened #5438 "[1.3.0] Unable to call Hasura's own API with cron triggers"
With `hasura/graphql-engine:v1.3.0-beta.3.cli-migrations-v2`, this following cron trigger used to work:

[code]

I would get the following request + response

![image](https://user-images.githubusercontent.com/11539524/88123058-1d951b00-cb98-11ea-9f34-579736fbb3b7.png)
![image](https://user-images.githubusercontent.com/11539524/88123083-2a197380-cb98-11ea-88c4-0054c1973b06.png)

With the official

[2020-07-22 01:54] #5431 closed

[2020-07-22 03:00] slimlime opened #5439 "Update CLI bash completion example"
Following discussion https://github.com/hasura/graphql-engine/pull/5418 noting consistency updates for the generated published documentation pages,

      $ sudo hasura completion bash --file=/etc/bash.completion.d/hasura
https://github.com/hasura/graphql-engine/blob/788095acba3cdfda73b03dca62ac1b0331f01456/cli/commands/completion.go#L15

CLI help text propagated to also show an inconsistent CLI d

[2020-07-22 03:06] slimlime commented on #5439
Noted additional propagated occurrences to update in pull request

[2020-07-22 09:06] Naveenaidu opened #5442 "Tracing: Simplify the way we make traced HTTP requests"
The current approach using [SuspendedRequest](https://github.com/hasura/graphql-engine/blob/master/server/src-lib/Hasura/Tracing.hs#L197-L237) might be needlessly complicated, and we can probably replace it with a function, where there may be no need for the Inversion of Control.

The function could be something like:

[code]

[2020-07-22 09:14] duskmoon314 opened #5443 "Can I set up a secret besides admin_secret with less rights?"
I want to have another secret with less permissions so that when using the console, only a few users have "admin" permissions. Can I set up a secret like this? I have not seen similar instructions in the documentation.

[2020-07-22 10:04] beerose commented on #5162
Solved in https://github.com/hasura/graphql-engine/pull/5427

[2020-07-22 10:04] #5162 closed

[2020-07-22 12:40] salceson opened #5448 "Remote schema is queried with null id"
Hasura version: 1.3.0

We have a table `project` in our database that has following columns:
![image](https://user-images.githubusercontent.com/3855869/88177030-7ca27080-cc28-11ea-9426-cf0b2fe22324.png)
(relevant column is `updated_status_by` - please note that the column **CAN** be `null`)

On this column we have defined a remote relationship:
![image](https://user-images.githubusercontent.com/38

[2020-07-22 13:54] mrkkrp opened #5449 "hasura metadata export fails in NixOS"
I have followed [this guide][docker-simple] and after downloading the `docker-compose.yml` file and changing `HASURA_GRAPHQL_ENABLE_CONSOLE` from `"true"` to `"false"` I am able to run various commands such as `hasura console` and `hasura migrate create ...`. However, `hasura metadata export` fails:

[code]

Note how it says `no such file or directory:` and apparently in place of the actual direct

[2020-07-22 15:32] eaubin opened #5450 "Docs for schema download without admin secret"
The [download schema docs](https://hasura.io/docs/1.0/graphql/manual/schema/export-graphql-schema.html) should mention the differences between downloading with and without an explicit X-Hasura-Admin-Secret.  E.g. the mutationType is null when the schema is downloaded without passing the admin secret.

[2020-07-22 17:51] rccoe opened #5453 "Joining against custom function results gets rid of ordering"
Hi there,

I have a function that does fuzzy text searching and orders the results by similarity score. It seems to work fine when just querying the table, but as soon as I join anything up to it, the ordering is destroyed.

ex.

[code]

In this query, the ordering from the function gets preserved:
[code]

And in this one it does not.
[code]

Unfortunately because custom functions have to return `

[2020-07-22 22:38] trevordilley commented on #4317
Would make a text search of users against both their first and last names much more straightforward!

[2020-07-23 05:51] kuzmi4 commented on #5133
I make demo scene with same problem

Hasura: https://issues-5133.herokuapp.com/console/
Remote scheme: https://glitch.com/edit/#!/honored-clover-jumper?path=index.js%3A35%3A14

Just try add remote relationship

[2020-07-23 09:42] praveenweb commented on #1241
Tracking another related request to Add `prevent` rule as mentioned here https://github.com/hasura/graphql-engine/issues/5322#issue-652512635 by @revskill10.

[2020-07-23 09:43] praveenweb commented on #5322
Tracking this here https://github.com/hasura/graphql-engine/issues/1241#issuecomment-662914446

[2020-07-23 09:43] #5322 closed

[2020-07-23 11:46] SenchoDev opened #5454 "Data and schema managment failed to load and throw of an error."
I am new with Hasura and my app broke in production for some reason.
My GraphQl mutations arent fetching data from database and when i go to Data and schema managment in app console i get an error that says "something went wrong".
In my hasura console it says fix env vars but i havent changed anything since 15 days.

[2020-07-23 12:43] mrkkrp commented on #5449
Context: this happens on NixOS. I'll try to debug it.

[2020-07-23 14:26] #4267 closed

[2020-07-23 14:26] #4198 closed

[2020-07-23 17:10] johnrees commented on #5393
How did you solve this?

Assume you added `admin_secret` in config.yaml?

[2020-07-23 18:14] mrspartak commented on #5229
I'm having issue with adding remote schema too

[2020-07-23 18:26] jberryman commented on #5363
(WIP COMMENT)

According to [`GHC.DataSize`](https://hackage.haskell.org/package/ghc-datasize-0.2.2/docs/GHC-DataSize.html), for integration tests load, we get average size of plan cache item of ~**7kb** with ~**70kb** the maximum size (this number fudged a bit, but close enough).

[2020-07-23 21:16] pronevich commented on #5393
I didn't find a problem, everything started working. Possibly I used URL to the server with /v1/graphql path, but it shouldn't be included.

Do you have the same issue?

[2020-07-24 00:40] seltsamonkel opened #5457 "1.3.0 hasura startup fails with "table not found" even thought the table does exist"
Dear all,

I was trying to upgrade Hasura running in Heroku from v1.2.2 to v1.3.0, but the startup fails with the following error:
`
{"type":"startup","timestamp":"2020-07-24T00:12:55.480+0000","level":"error","detail":{"kind":"db_migrate","info":{"path":"$","error":"table not found: \"expected_loads\"","code":"unexpected"}}}
`

I logged into postgresql directly and confirmed that the table "expec

[2020-07-24 04:33] tirumaraiselvan commented on #5454
Are you using Heroku db?

Sometimes heroku rotates the database credentials. Can you check if the `HASURA_GRAPHQL_DATABASE_URL` which is set in your project is same as the one in Heroku (by logging to Heroku dashboard)

[2020-07-24 10:45] Noobshit112 commented on #5457
Try setting primary key to the dummy tables, it works for me.

[2020-07-24 12:08] Albert-Gao opened #5458 "invalid x-hasura-admin-secret/x-hasura-access-key when downloading schema"
Hasura v1.3.0:

I am trying to download Relay schema.

follow: https://hasura.io/docs/1.0/graphql/manual/schema/export-graphql-schema.html

tried:

[code]

However, always ends up with error: `GraphQL error: invalid x-hasura-admin-secret/x-hasura-access-key`

But, I can use the same key to login the Hasura console.

I tried to add the space between the `:` and `key`, does not work as well.

What a

[2020-07-24 14:10] tirumaraiselvan commented on #5457
Based on @Noobshit112 's hint, this may be related to: https://github.com/hasura/graphql-engine/issues/5153

[2020-07-24 15:06] SenchoDev commented on #5454
Yes im using Heroku DB. I just saw this email from heroku.

Your database DATABASE_URL on instagram-senco requires maintenance. During this period, your database credentials will become read-only. Once it has completed, your database URL will have changed, but we will update your app's config variables accordingly.

This automated maintenance is a necessary part of our Hobby tier plans, Dev and Ba

[2020-07-24 15:53] seltsamonkel commented on #5457
@Noobshit112 Your solution fixed the issue! Thanks a lot :)

I wanted to write a migration for that, but since the migration won't startup, I had to manually login to postgres and add a primary key to that table.

[2020-07-24 16:00] slimlime commented on #1079
Current usability workarounds?

https://github.com/WhoopInc/node-pg-range

[2020-07-24 17:39] tnrich opened #5459 "Is there a way to set permissions across multiple tables at once"
Hey there,

I see that there is a way to "clone" the permissions for a given role from one table to another. However, this UI can be very tedious when going through all 300+ tables in my schema. I'm wondering if there is another way to set up roles/permissions for multiple tables at once?

Thanks!
Thomas

[2020-07-24 20:59] Nomad-Go commented on #2208
I would call this a workaround. No one wan't that extra round trip. Every millisecond counts.

[2020-07-24 23:40] hrgui opened #5461 ""table or event-trigger not found in schema cache" error in logs"
Just upgraded from 1.2.2 to 1.3.0, noticed this following error message popping up more than once:

[code]

How do we go about debugging this error / what would be the cause? Hasura still functions normally, but the log message spams almost every second or minute.

[2020-07-25 00:30] hrgui commented on #5461
Update:

As per https://hasura.io/docs/1.0/graphql/manual/event-triggers/clean-up.html#option-5-clear-everything

[code]

Query seems to help, I haven't seen the error messages anymore.

[2020-07-25 01:46] bconnorwhite opened #5462 "cli exits with "Killed: 9" (MacOS 11)"
I'm assuming this issue is specific to the MacOS 11 beta- running the hasura cli downloaded from GitHub immediately exits with "Killed: 9".

If instead I clone the repo and build myself, the cli runs as normal.

[2020-07-25 09:17] ctwhome commented on #300
After rolling around, I still can't find a simple/clean way to backup/restore all the data from Hasura. The documentation is rather complex and missing more info.

[2020-07-25 10:07] Tymek commented on #300
@ctwhome you have a point. Maybe since we have CLI migrations and seeds, backup/restore should be added there

[2020-07-26 13:42] r-moore commented on #3796
I also get this error, regardless of whether I use a `,` between the order_by statements.

Same error in Hasura v1.2 and v1.3.

Example - query 'One' succeeds, but query 'Two' fails:

[code]

✅

[code]

❌

Here's the error output:

[code]

[2020-07-26 17:04] Divyansh12 commented on #3796
@r-moore can you attach your schema representation in graphiql, since

It might not be a issue with hasura.

I think its a issue with your schema setup, since I have been using Hasura v1.2 and I have not encountered any error with `ORDERBY` on multiple nested fields. Only issue with `ORDERBY` on nested fields is that we can't use `WHERE` and then sort by `ORDERBY` and only solution for that is to

[2020-07-26 18:25] ctwhome commented on #1418
this doesn't exist anymore

[2020-07-26 22:35] arpitjacob commented on #1204
I've been looking at various other solutions, this feature would really make a big difference.

[2020-07-27 12:52] #5454 closed

[2020-07-27 13:04] FickleLife commented on #2764
@timhere I've just encountered your exact issue. I manually changed `SELECT pg_catalog.set_config('search_path', '', false);` to `SELECT pg_catalog.set_config('search_path', 'public', false);` but am still getting the same error. I also attempted to `drop extension pgcrypto` as suggested in @reinoldus comment above but had too many `[2BP01] ERROR: cannot drop extension pgcrypto because other objec

[2020-07-27 13:36] r-moore commented on #3796
It works for me when the nesting is 1 level deep, but not 2. Using a `WHERE` on the outer query actually seems to make no difference for me.

Another example:

[code]
and
[code]
...both work

but this does not:
[code]

I will need to check about sharing schema publicly as it is related to a client project.

[2020-07-27 14:19] r-moore commented on #4605
Just to say that this bug seems to have resurfaced when I tried out Hasura Cloud today (running ver. `v1.3.0-cloud.1`).

Works in Chrome, but in Safari I can't launch the Hasura Console and see `SyntaxError: Invalid character '\ud801'` in browser console.

[2020-07-27 14:21] s-kris commented on #4249
Corrected query format for future readers:
[code]

[2020-07-27 14:29] r-moore commented on #3796
I copied part of our schema to a fresh Hasura instance and it works 🤔

Some tables were renamed a while back (from CamelCase to snake_case) leaving the constraints and index names in CamelCase... I don't think that could be causing this issue.

I will keep looking in to our schema to see what is different

[2020-07-27 14:33] eads commented on #1964
Same boat as @switz over here, my uses are ludicrously unbalanced towards reads -- a couple writes an hour that could probably be once a day, up to hundred of thousands of reads an hour. I've played around a bit with https://fastql.io but haven't used it in production yet. It seems ok, but underdeveloped so far.

However, the approach of using a CDN/CDN integration seems nice in terms of flexibili

[2020-07-27 14:58] Divyansh12 commented on #3796
You can try to reset metadata of your hasura app to resolve this problem. Go to: `settings -> Metadata Actions -> Click Reset Metadata`

[2020-07-27 15:06] eads opened #5465 "Option to disable persistent connections"
I have a Hasura instance connected to an Amazon RDS Aurora serverless cluster. After 5 minutes of inactivity, those can go completely idle. This is absolutely perfect for my use-case, which is an infrequently used DB but that needs lots of horsepower when it is in use.

Also, this is for a project with very minimal resources. We can live with 30 second cold starts if we only have to pay for the CP

[2020-07-27 15:08] r-moore commented on #3796
Here's a schema that it is reproducible on:

[code]

With this query:

[code]

[2020-07-27 15:11] r-moore commented on #3796
I've just tried resetting the metadata and retracting all tables & relationships but the error persists

[2020-07-27 15:17] mnlbox commented on #1502
@jbek7 I didn't find any way to customize JWT claims prefix :thinking:
Can you explain more how it will be possible after your PR?

[2020-07-27 15:24] petecorreia commented on #5461
This has happened to us on multiple occasions specifically when we delete event triggers. Hasura seems to go crazy with it until we clear the event logs.

To diagnose I recommend the following:

[code]

There should be no event triggers listed that have been removed or look out of place.

If there are then clear them individually to avoid clearing out too much data that you might need from other e

[2020-07-27 17:07] paf31 commented on #5459
One option is to programmatically generate the Hasura metadata, which is a different workflow from the usual one, with its own set of trade offs. I've written a little bit about how you could do that with a configuration like Jsonnet [here](https://hasura.io/blog/using-jsonnet-for-programmable-hasura-metadata/).

[2020-07-27 17:34] tnrich commented on #5459
@paf31 thanks for the input. We were thinking we would probably do something of the sort because creating the roles by hand would take a very long time and would be difficult to change once set up.

[2020-07-27 17:34] #5459 closed

[2020-07-27 18:32] kboteo opened #5466 "Multiple remote schemas, same domain"
Im trying to add two remote schemas whit same domain

I tried two ways

1). Same full domain different path
Example:
services.domain.com/files
services.domain.com/docs

2) Same domain different subdomain
files-service.domain.com/
docs-service.domain.com/

I got this error
![image](https://user-images.githubusercontent.com/59620931/88577990-11c8af00-d005-11ea-8333-192997bee4e7.png)

Hope you can he

[2020-07-27 19:10] Manubi opened #5467 "Details field for tables in console"
Hey,
It would be awesome if you could add a details field to the table in the web console so we could add some information for people who are not that familiar with the project.

<img width="729" alt="Browse_-_family_-_Data___Hasura" src="https://user-images.githubusercontent.com/20935138/88581566-a656ff80-d04d-11ea-9192-dbd03f8cdc1e.png">

Thanks!

[2020-07-27 19:16] galipmedia commented on #4926
Same here all other CLI things work fine only console fails with invalid password no matter what I try.

[2020-07-27 23:25] nomocas commented on #3759
Hi All, Same issue on Hasura 1.3.

[2020-07-28 01:25] dohomi commented on #5053
This would be a nice addition. @jflambert could you share your solution on how that function would look like?

[2020-07-28 02:00] phamquyhai opened #5468 "'postgres connection failed' always when deploy with k8s"
I deployed Hasura (1.2.x or 1.3.0) with k8s and Digitalocean PostgreSQL Database Clusters (using Connection Pool with Session mode)

Hasura sometime not healthy. my pod restart many times :(

i see ~5 minutes api /healthz not return 500

[code]

Logs

[code]

k8s manifest

[code]

Plz help me !

[2020-07-28 02:49] divramod commented on #4926
same problem here. what could be the problem?

[2020-07-28 05:03] PseudoSky commented on #5328
@rikinsk to reword my point - the quotes shouldn't be necessary if the goal is to match the actual query parser

IE: Testing the query from a shell works without the quotes, but not through the endpoint.

Do all columns need to be quote wrapped for the endpoint?

[2020-07-28 06:18] tirumaraiselvan commented on #5438
Hi @jflambert

This was an intentional change as reported in this issue: https://github.com/hasura/graphql-engine/issues/5253 . Sending metadata with the payload is quite important and may induce breaking change if we didn't do it.

We are aware that this breaks your workflow where you wanted to call hasura internally. We do want to enable this and I think this issue: https://github.com/hasura/gra

[2020-07-28 06:18] #5438 closed

[2020-07-28 06:32] tirumaraiselvan commented on #5381
Agreed with @24601

I don't think Hasura should (or can) do something specific for Istio network configuration (like if Istio is dropping keep alive requests). I am closing this issue for now. In case, there are specific suggestions that may apply generally to any network then happy to discuss them.

[2020-07-28 06:33] tirumaraiselvan commented on #5380
Closing as dupe of https://github.com/hasura/graphql-engine/issues/2317

Let's continue the discussion in #2317 pls.

[2020-07-28 06:34] #5380 closed

[2020-07-28 06:35] tirumaraiselvan commented on #5394
This is highly related to https://github.com/hasura/graphql-engine/issues/3606

[2020-07-28 06:37] tirumaraiselvan commented on #5413
@fr8in We will be happy to have your contribution in the README if you are up for it :)

[2020-07-28 06:41] tirumaraiselvan commented on #5417
What does `select gen_random_uuid()` give you?

[2020-07-28 06:43] tirumaraiselvan commented on #5424
@mdzimbeg There is an option to provide the remote schema url as an environment variable in the dropdown where you give the URL: https://hasura.io/docs/1.0/graphql/manual/remote-schemas/adding-schema.html#step-2-merge-remote-schema

[2020-07-28 11:44] MichaelHadji-duplicate commented on #1582
This is very bizzare, and potentially a breaking change for many of us that are using instead of triggers that call hcurrent_setting('hasura.user').

[2020-07-28 11:49] tirumaraiselvan commented on #1582
Hey folks, it is still possible and will continue to be possible to access `current_setting('hasura.user')` . This issue was for read only functions (which never supported this to begin with). A new issue for documenting this is here: https://github.com/hasura/graphql-engine/issues/4738

[2020-07-28 11:57] MichaelHadji-duplicate commented on #1582
Thanks! Will support be provided to allow access to current_setting('hasura.user') when performing a query on a tracked view?

[2020-07-28 12:00] tirumaraiselvan commented on #1582
@MichaelHadji-duplicate Should be. As `INSTEAD OF` triggers are defined for mutations (insert/update/delete), it should be available. Pls let us know if you face any issues.

[2020-07-28 12:02] MichaelHadji-duplicate commented on #1582
INSTEAD OF triggers are used for mutations.. I am unable to use current_setting('hasura.user') when performing a QUERY (not mutation) on a view that uses the hasura.user within the query 'where' filter.

[2020-07-28 12:06] tirumaraiselvan commented on #1582
@MichaelHadji-duplicate That's won't be possible as read only queries don't populate `current_setting('hasura.user')`

[2020-07-28 12:07] MichaelHadji-duplicate commented on #1582
Fear so.. Any work-arounds or plans for such functionality?

[2020-07-28 12:10] tirumaraiselvan commented on #1582
@MichaelHadji-duplicate You can create a custom function with the exact same view and track it. You get access to session variables in custom functions as explained here: https://hasura.io/docs/1.0/graphql/manual/schema/custom-functions.html#accessing-hasura-session-variables-in-custom-functions

[2020-07-28 12:11] MichaelHadji-duplicate commented on #1582
Thanks a lot, will look into it :+1:

[2020-07-28 12:18] jflambert commented on #5438
@tirumaraiselvan I understand. This metadata took me by surprise though. I'll rephrase my request a bit, because my original scope was only about a shortcut to the local API.

[2020-07-28 12:21] MichaelHadji-duplicate commented on #1582
"You can create a custom function with the exact same view and track it." this doesn't make sense to me.. If I have a view that has a couple of columns how am I suppose to replace that with a custom function?? The documentation is not very good/clear.

Also the function must have a table to return to? How does this replace a query on a view.. Confusion..
![image](https://user-images.githubusercont

[2020-07-28 12:29] jflambert commented on #5053
Unfortunately I don't have anything to share yet. Please take a look at #5050 for a proposed implementation and #5438 for what I _thought_ I could do with 1.3.0 beta versions.

[2020-07-28 15:10] rikinsk commented on #5437
I can't think of a simple automated way to do this currently unfortunately.

The way to approach this would be to auto-generate the permissions related Hasura metadata via some tooling and then applying that metadata to apply all the permissions in one go.

A brief summary of the steps involved:

- [Export](https://hasura.io/docs/1.0/graphql/manual/migrations/manage-metadata.html#exporting-hasura-

[2020-07-28 17:23] GavinRay97 commented on #5437
Hey actually yeah, this would be pretty straightforward to do with the Metadata SDK from here:

https://github.com/hasura/graphql-engine/pull/5452
https://github.com/GavinRay97/graphql-engine/tree/feature/add-metadata-types-and-generator/metadata-types#programmatically-interacting-with-metadata

It would be roughly this:
[code]

Where the TS types for that `fetch` query and `HDBTable` are:
[code]

[2020-07-28 17:51] GavinRay97 commented on #5459
@tnrich

Using Metadata SDK (see below)
#5452
https://github.com/GavinRay97/graphql-engine/tree/feature/add-metadata-types-and-generator/metadata-types#programmatically-interacting-with-metadata

It would look roughly like this:

[code]

[2020-07-28 18:49] saul-gush opened #5472 "Webhook auth doesnt pass on headers"
I am testing out Hasura away from Apollo Federated Gateway. I am currently using Nginx to do the auth with auth_url (which works very well) but then we would struggle to use the Hasura console. (the two should actually be decoupled a bit IMO).

The auth webhook returns important header information that I pass down into our graphql microservices. Hasura doesnt take the headers from webhook response

[2020-07-28 19:23] tnrich commented on #5459
@GavinRay97 thanks for pointing me towards this resource! I'll definitely check it out. I think for the time being I'll probably write a couple of manual conversion scripts to get out data model converted over to hasura's metadata format and then try using the hasura console UI from that point forward to manage updates to the DM.

[2020-07-28 21:41] dylanesque commented on #1649
Having this problem as well

[2020-07-28 22:28] #5466 closed

[2020-07-29 05:13] dohomi commented on #5053
@jflambert thanks I will check it out

[2020-07-29 07:54] beerose opened #5476 "console: error notifications position bug"
It is happening after triggering multiple errors. Every new message is lower on the screen and it's not possible to see the newest error.

Possible solution: new error notification should override the previous one.

Examples:
<img width="600" alt="Screenshot 2020-07-29 at 09 44 01" src="https://user-images.githubusercontent.com/9019397/88771775-0a79e080-d180-11ea-935b-d3c8bcc3e06d.png">

<img widt

[2020-07-29 08:17] beerose opened #5477 "console: improve expand row UX in events tables"
Right now we have an arrow icon to expand a row that is confused with a play button (to run a particular event).

<img width="544" alt="Screenshot 2020-07-29 at 10 09 44" src="https://user-images.githubusercontent.com/9019397/88774397-ae18c000-d183-11ea-8796-928c1bca42dd.png">

Todo:

1. Replace the icon with `expand` icon as we have in Data Browse Rows: <img width="32" src="https://user-images.gi

[2020-07-29 08:34] tirumaraiselvan commented on #5461
The error message definitely needs improvement.

This may happen when you have events in queue for an event trigger that you just deleted. But, it could also be some other race condition.

[2020-07-29 08:48] tirumaraiselvan commented on #5457
@seltsamonkel Could you confirm if this was a computed field or a top-level function?

[2020-07-29 09:05] vnovick opened #5478 "Hasura CLI generates wrong enum metadata and migrations"
In version `1.3.0`, When running Hasura console through CLI and changing a table to enum,
metadata that is generated is as following:

[code]
This is wrong yaml indentation, so as a result `metadata apply` will fail. The correct way of setting table as `is_enum` is as following.

[code]

Apart from that since table is enum table and will be expected to have predefined values, I would expect to hav

[2020-07-29 09:29] petecorreia commented on #5461
@tirumaraiselvan Thank you clarifying!

Would you be looking at fixing the issue, improving the error message, or both?

We would have to prevent this from happening as Hasura creates a very high number of DB connections until it maxes out. We use Cloud SQL which limits and cuts off other valid connections. Ultimately this results in intermittent functionality failures which is affects app functio

[2020-07-29 09:32] #5478 closed

[2020-07-29 09:39] tirumaraiselvan commented on #5461
You can always limit the number of connections Hasura creates via `HASURA_GRAPHQL_PG_CONNECTIONS`

We will definitely investigate the cause of this error as part of improving the error message. Currently, it is not clear why it is happening. The only likely situation that I can think of is that the events were getting processed while the event trigger was dropped in which case it is rather benign.

[2020-07-29 09:50] tirumaraiselvan commented on #1582
@MichaelHadji-duplicate The return type can be `SETOF <view>` also. Here is an example:

[code]

One thing to note is that after tracking this function, you will have to go to `Modify` and choose the session variable argument in your function (so that it is automatically populated):

![image](https://user-images.githubusercontent.com/8663570/88785625-13ce7180-d1af-11ea-97d0-eb3100f884a7.png)

Hope

[2020-07-29 10:06] MichaelHadji-duplicate commented on #1582
Thanks, make sense, though for our case it's not an option to use custom functions.. Are there any plans to add the ability to obtain session details in a query on a view? if not, why not?

[2020-07-29 10:43] seltsamonkel commented on #5457
@tirumaraiselvan Actually I had both a computed field and a top-level function.

[2020-07-29 11:26] beerose opened #5480 "console: redeliver event modal takes too little space"
Make modal bigger for better readability of the textareas with payloads.

<img width="932" alt="Screenshot 2020-07-29 at 10 55 19" src="https://user-images.githubusercontent.com/9019397/88779620-4154f400-d18a-11ea-97ed-853a6c459879.png">

[2020-07-29 11:26] tirumaraiselvan commented on #1582
@MichaelHadji-duplicate TBH, it is not mighty difficult to add this but it changes the runtime execution for `SELECT` queries a bit  (as we will need to wrap them in BEGIN .. COMMIT) and hence we will have to support this via a special flag (or a directive). See related issue here: https://github.com/hasura/graphql-engine/issues/4011 . Not many users have asked for this as they apply permissions v

[2020-07-29 11:40] mdzimbeg commented on #5424
@tirumaraiselvan Thanks, not sure how I missed this initially, but it is exactly what I was looking for, so I'm closing this issue.

[2020-07-29 11:40] #5424 closed

[2020-07-29 11:47] MichaelHadji-duplicate commented on #1582
Will experiment for a while and let you know regarding 2nd paragraph.. Thanks for the assistance so far!
TBH if it's easy add it :)

[2020-07-29 14:49] hrgui commented on #5461
For me it was an event trigger that had retried 4 times and had failed all times.

[2020-07-29 14:54] Maxpain177 commented on #5381
@tirumaraiselvan Why have you closed this issue? I think hasura SHOULD worry about dropping keep-alive connections and do reconnect or something. We have the same problem with native VPC networking in google cloud. Why we need to worry about these internal hasura problems?

[2020-07-29 15:35] 0x777 commented on #1582
@MichaelHadji-duplicate

If we allowed using `hasura.user` in a view definition through `current_setting`, we cannot support subscriptions on the view. The subscription backend fetches the results needed for subscriptions on a view by multiple users in as few queries to Postgres as possible (to lower the load). This means that there is no one-to-one mapping from a subscription made by a user to th

[2020-07-29 18:53] afeinman commented on #3643
Let me add my voice to people requesting this. I know it's not best practice, but we have a database that is evolving rapidly and during development it'd be lovely to have a one-liner which does the equivalent of "track all" for both objects and then relationships.

[2020-07-29 19:54] NikPaushkin opened #5482 "Add ability to match uuid to String when creating remote schema relationship"
Right now if I have a column with `uuid` type and I want to pass its value as an argument to remote schema's `String` field, I got an error

But it's technically possible to match `uuid` to `String`, because any uuid can be converted to string.

[2020-07-29 19:58] rccoe opened #5483 "Option to return "can_delete" or "can_update" as computed by the permissions"
I'd like to retrieve the edit/delete permissions for a given row in a database for use in the application. I could write a computed field for this myself, but considering that this computation already takes place via the permissions setup, it would be nice to not have to duplicate that logic.

Benefits
1. Permissions logic can remain centralized in metadata, user-specific permissions don't have to

[2020-07-29 22:48] TheoWolf commented on #5202
I got a similar error.
[code]
Is there any way to overcome this issue.
Thanks

[2020-07-30 02:12] jordanmkoncz commented on #4540
Great idea. This would significantly reduce the number of times you need to completely drop a mutation that Hasura is providing and implement a custom Hasura Action to replace it (with your custom validation logic enforced).

[2020-07-30 03:26] tirumaraiselvan commented on #5381
Reopening this to document appropriate Istio configuration.

[2020-07-30 04:42] ggill-sso commented on #1773
@tirumaraiselvan can i join the beta program if there is any ?

[2020-07-30 05:14] MichaelHadji-duplicate commented on #1582
@0x777

Took a really quick look at custom function. (Just noticed I'm not the only one requesting this feature (https://github.com/hasura/graphql-engine/issues/4011))

The below works with postgres directly though fails through hasura if the query to the hasura.user variables is performed
within the some_view view itself.

	create or replace function get_some_view(hasura_session json)
	returns se

[2020-07-30 06:11] MichaelHadji-duplicate commented on #1582
Another potential issue with custom function is that the view it relates to has to be tracked and permissions set... so there is nothing stopping consumers performing a query on the view, even though they should be using custom function instead....

[2020-07-30 06:24] MichaelHadji-duplicate commented on #4011
I've been commenting in https://github.com/hasura/graphql-engine/issues/1582 though this is probably the place to be.

[2020-07-30 09:15] pronevich commented on #3459
Very often I'm hitting the wall with this issue)) Thanks for future solution, will be waiting.

[2020-07-30 11:33] tirumaraiselvan commented on #5429
@amille14 My bad. If you see this comment: https://github.com/hasura/graphql-engine/issues/3659#issuecomment-572462011 , it actually seems to imply that update permission session variables are validated even if `on_conflict` is not used.

I am going to close this issue as dupe of #3659. Let's continue there.

[2020-07-30 11:33] #5429 closed

[2020-07-30 12:22] beerose opened #5485 "Improve creating enum tables experience in console"
Right now creating an enum table requires multiple steps — we need to create a table, insert values and only then mark it as an enum table.

It can be simplified, and we could have a separate flow and/or another view for creating enum tables so that it's possible to create an enum table and insert values in one single step.

[2020-07-30 12:28] tirumaraiselvan commented on #4004
Unfortunately, PG limitations on changing NAMEDATALEN (e.g. see: https://www.postgresql.org/message-id/11543.1499110794%40sss.pgh.pa.us) makes the workarounds mentioned above the only feasible solution in the near term.

[2020-07-30 13:40] lautapercuspain commented on #4314
Hi @beerose!

Is it ok if I start working on migrating `Actions.js` to `Actions.ts`?

[2020-07-30 13:46] qpre commented on #5462
Got the same issue using the latest beta of OXS Big Sur.

@bconnorwhite did you manage to get around this ?
<img width="709" alt="Screenshot 2020-07-30 at 15 45 50" src="https://user-images.githubusercontent.com/2156263/88930452-cec44100-d27b-11ea-8fb1-0790d370ab4c.png">

[2020-07-30 13:50] beerose commented on #4314
Sure @lautapercuspain! 🙂

[2020-07-30 14:02] tirumaraiselvan opened #5487 "cli metadata diff should not print common parts"
`hasura metadata diff` will print the entire metadata if the local metadata and server metadata are the same. This is because it apparently prints common parts after the diff.

This is confusing from a DX pov. I don't think common parts should be part of the output unless requested via `--include-common` flag or similar?

[2020-07-30 15:20] bconnorwhite commented on #5462
There is either an issue in how the cli is built or in MacOS such that the cli only runs on MacOS 11 if it is built on MacOS 11. I'm not familiar with Go, so I was too lazy to debug the real issue myself.

This seems to work as a temporary solution though:
[code]

Then use `graphql-engine/cli/_output/master-xxxxxxxx-dirty/cli-hasura-darwin-amd64` to run.

[2020-07-30 15:37] beerose commented on #1568
UI changes related to migrations will be tracked here: https://github.com/hasura/graphql-engine/issues/4576

[2020-07-30 15:37] #1568 closed

[2020-07-30 15:42] beerose commented on #2430
Solved in https://github.com/hasura/graphql-engine/pull/4652

[2020-07-30 16:00] beerose commented on #913
Can be tracked in https://github.com/hasura/graphql-engine-internal/issues/441

[2020-07-30 16:00] #913 closed

[2020-07-30 16:00] beerose commented on #77
Can be tracked in https://github.com/hasura/graphql-engine-internal/issues/441

[2020-07-30 16:00] #77 closed

[2020-07-30 16:46] beerose commented on #5467
Hi @Manubi!

In `Modify` section you can add a comment for your table that will be visible in other tabs as well. Or did you mean something else than that?

<img width="371" alt="Screenshot 2020-07-30 at 18 43 03" src="https://user-images.githubusercontent.com/9019397/88950146-82392f80-d294-11ea-9921-1a975d7d3a3b.png">
<img width="247" alt="Screenshot 2020-07-30 at 18 42 56" src="https://user-imag

[2020-07-30 17:29] Divyansh12 commented on #3796
Your schema seems fine, if its working if you replicate the same schema to other app then there might be a issue in your relation settings if you changed name of some fields related to that relation.

[2020-07-30 19:01] #5363 closed

[2020-07-30 19:59] MaxmaxmaximusGitHub commented on #5417
8a577f5a-a1da-4534-89a2-0b5bbe72342a

[2020-07-30 23:11] aaronhayes commented on #5482
on the same not matching postgres `text` columns to graphql `ID`  should be possible as well :)

[2020-07-30 23:32] Conorrr commented on #1964
@eads This feature is coming and is currently in beta. See this part of the latest community call for more information: https://www.youtube.com/watch?v=nNhWUh4Woew&t=135s I think the feature wiill be a Pro only feature though

[2020-07-31 06:16] huashaoxu opened #5491 "st_within for polygon, it fails"
I'm trying to do it with
`
subscription ($test: geometry) {
  symbol(where: {GEOMETRY: {_st_within: $test}}) {
    GEOMETRY
    count
    info
    OID
  }
}
`
and variables
`
{
  "test": {
    "type": "Polygon",
    "coordinates": [[[58.44773280389084,-19.335937500000004],[56.17002298293205,-14.765625000000002],[55.7765730186677,4.218750000000001],[54.36775852406841,9.492187500000002],[52.26815737

[2020-07-31 06:54] #5491 closed

[2020-07-31 06:55] huashaoxu commented on #5491
Version too low

[2020-07-31 07:32] Jumpue opened #5492 "How to pack and run on Tomcat？"
I use 'npm run build’ command to pack the console , but it dosen’t work...

[2020-07-31 07:56] trungphungduc opened #5493 "Dropping a column from table -> drops the entire permission ?"
i use run "run_sql" type like this:
{
    "type": "run_sql",
    "args": {
        "sql": "ALTER TABLE message DROP message_type",
        "check_metadata_consistency": false
    }
}

I have 2 problems:
1. I can not set permission to any column.
Message: Update permissions failed, can not continue due to new inconsistent metadata

2. I reload metadata => hasura forced me to delete permission.
Then

[2020-07-31 08:57] tirumaraiselvan commented on #4592
Another error message which needs to be fixed is when you try to downgrade but use a lower version build to execute the downgrade command:

[code]

[2020-07-31 10:10] godotgelert opened #5494 "Migration fails to create permission if permission already exists"
### Scenario:

* Developer A adds a SELECT permission for a role as part of a larger update of many migrations being squashed
* In the meantime, Developer B adds a SELECT permission for the same role and pushes the migration to the repo
* Developer A merges Developer B's migration and runs "hasura migrate apply"
* Developer A's migration fails to apply even though the exact same permission is supp

[2020-07-31 10:10] kentaro84207 commented on #5480
I'd like to work on this issue.

[2020-07-31 10:17] #5137 closed

[2020-07-31 11:24] #5416 closed

[2020-07-31 13:40] thislogancall commented on #4796
I think nested objects really need to be an option for action responses. Not only do you currently have to flatten all of your objects, but you also have to flatten errors into those same objects. If you really need error messages then this results in nearly all the fields of an object being nullable just to accommodate the possibility of error properties This is far from optimal. Example:

Say yo

[2020-07-31 16:00] arnaud-cortisse commented on #2601
I'm suddenly getting this error too. Don't know why yet.

[2020-07-31 16:10] arnaud-cortisse commented on #2601
I was encountering this bug too (Hasura hosted on Heroku) but it's just been fixed on its own.
Since I was getting it when deploying via Github Actions, I first I tried to reproduce it with the hasura CLI on my machine.
It worked on my machine so I tried to start the deployment on Github Actions again and it worked.

[2020-07-31 18:06] andrewalex commented on #2964
@rakeshkky
Unless I'm mistaken, it seems that this has been implemented.

[2020-07-31 18:33] gnyani commented on #5477
I can take a look at this, @beerose can you assign this on me, please?

[2020-07-31 21:35] ChristianHohlfeld opened #5501 "Security: unrestricted access in jwt mode using HASURA_GRAPHQL_UNAUTHORIZED_ROLE="public""
I'm using grapqhl in jwt mode using HASURA_GRAPHQL_JWT_SECRET and jwk uri. HASURA_GRAPHQL_ADMIN_SECRET is also set. If I set HASURA_GRAPHQL_UNAUTHORIZED_ROLE to "public" I can download the entire graphql schema without authorization headers and without using the admin secret as request headers. If I change it back to HASURA_GRAPHQL_UNAUTHORIZED_ROLE="anonymous" the request gets blocked.

In both c

[2020-08-01 04:34] aakside commented on #5036
Is there a work-around for this that doesn't require the client to deal with any database IDs?

If not, can someone tell me (or point me to relevant code) how relay IDs are transformed into types/IDs (and vice-versa)?

[2020-08-01 09:56] jvukoja opened #5503 "Feature Request: Export query automatically to allowlist"
Our whole team finds it really cumbersome to add the queries and mutations manually to the allow list.
It would be really cool to be able to select the query in Hasura console and mark it with checkmark in order to export it to the allow list.

What do you think?

[2020-08-01 12:01] Dmitri1337 opened #5504 "As a manual editor of metadata I would like to have access to have metadata schema"
As a manual editor of metadata files such as `tables.yaml` (full list described here: https://hasura.io/docs/1.0/graphql/manual/migrations/reference/metadata-format.html) I would like to be able to download schema files and use them in some automatic schema validator application.

Sometimes the number of spaces gets messed up and there is no way to find out about that until I make an attempt to ac

[2020-08-01 15:02] leerob opened #5505 ""Edit on GitHub" links for Hasura Cloud docs are broken"
👋   It appears the "edit this page on GitHub" link in the footer of the docs is broken for Cloud docs.

![Screen Shot 2020-08-01 at 9 58 41 AM](https://user-images.githubusercontent.com/9113740/89104275-b79d6480-d3dd-11ea-8ee1-fdec3e061301.png)

The current link is `https://github.com/hasura/graphql-engine/blob/master/docs/manual/metrics/index.rst`, which throws a 404. Happy to open a PR if someon

[2020-08-01 15:16] leerob commented on #5505
Looks like this will be addressed with https://github.com/hasura/graphql-engine/pull/5411.

[2020-08-01 15:53] tirumaraiselvan commented on #5501
Hi @ChristianHohlfeld

When you have HASURA_GRAPHQL_UNAUTHORIZED_ROLE set, it doesn't need any auth token (think of it as **unauthenticated** role). So any request which doesn't have valid auth headers, will be given this role.

[2020-08-01 16:12] hansy opened #5506 "Multiple aggregates in query, how to distinguish order_by"
Let's say I have a query that contains two aggregate fields. Both of the fields must exist in the query. How can I choose which of the aggregates I want to `order_by`?

[code]

The above query will sort `total_books`. How do I specify it to sort`red_books`?

[2020-08-01 16:30] ChristianHohlfeld commented on #5501
I know, that's how I'm using it. But if I set the role ( HASURA_GRAPHQL_UNAUTHORIZED_ROLE ) to "public", then the entire endpoint is open to all requests without any authentication headers whatsoever (no secret, no jwt => full access).

[2020-08-01 20:05] aakside commented on #5036
Never mind, I see that the relay IDs are base64-encoded arrays. For anyone curious, just base64-decode a few IDs and you'll see how they are structured.

[2020-08-01 21:30] arpitjacob commented on #2151
Hi @coco98 any update or timeline when this will be pushed into the OSS version

[2020-08-02 04:11] tirumaraiselvan commented on #5501
@ChristianHohlfeld Do you have a role called "public" defined on your schema? If yes, what kind of access permissions are defined for that role?

[2020-08-02 06:50] ahmedmagdyy opened #5508 "creating Scheduled trigger failed, null value in column id violates not null constraint"
I've upgraded Hasura from v1.2.2 to the latest version 1.3.0, Now I am trying to create cron job but the operation fails every time,
giving this error "null value in column \"id\" violates not-null constraint"
![Screenshot_20200802_083755](https://user-images.githubusercontent.com/26116580/89117233-92236000-d49c-11ea-9035-3fd5f4242365.png)
I found in graphql-engine initialise.sql file that id colu

[2020-08-02 09:33] ChristianHohlfeld commented on #5501
@tirumaraiselvan I got a role that is public like you mentioned in the screenshot. So does this mean if I use HASURA_GRAPHQL_UNAUTHORIZED_ROLE="public",  the entire endpoint is open, is this correct? I can even query and download the schema if the role is named like the database schema ("public"). Is this intentional?
Thanks for your response!

Great work by the way, awesome tool!

[2020-08-02 13:01] tirumaraiselvan commented on #5501
@ChristianHohlfeld Yes, it is valid to query from the endpoint as an "unauthenticated" user and you will be regarded as the "public" role. Now, what you expose in the "public" role is totally upto you, it based on the rules that you have defined for that role. By default, all roles are deny-all (including unauthorized role) and only that part of schema is visible (say via introspection query) for

[2020-08-02 18:35] jondashkyle commented on #1498
Echoing this! Would be super useful. Have run into needing this several times now.

[2020-08-02 20:49] frederikprijck commented on #2109
Fwiw I added an issue/feature request with `hs-jose` as Hasura can't add a leeway if it's not available (and configurable) in `hs-jose`.

[2020-08-02 20:52] ivan7707 opened #5510 "fe_sendauth: no password supplied in docker-compose-pgadmin install-manifest"
Hello,

I am following the instructions in this install manifest:

https://github.com/hasura/graphql-engine/blob/stable/install-manifests/docker-compose-pgadmin/docker-compose.yaml

When I attempt to add a new server in the **pgadmin**, at this line:

Connection - Host: postgres Username: postgres Password: leave empty

I receive the error

`fe_sendauth: no password supplied`

I am able to docker

[2020-08-02 21:08] ivan7707 commented on #5510
Hi,

I found something that worked.

I added an environmental variable to my .env file and changed the following and it worked:

In the `graphql-engine` service:

`HASURA_GRAPHQL_DATABASE_URL: postgres://postgres:${POSTGRES_PASSWORD}@postgres:5432/postgres`

In the `posgres` service:

[code]

in my .env file
`POSTGRES_PASSWORD=<my password>`

[2020-08-02 22:00] #5510 closed

[2020-08-02 23:09] LuisDev99 opened #5511 "Error: Cannot use database previously used with a newer version of graphql-engine (expected a catalog version <=36, but the current version is 37). , code : not-supported"
Hello everyone. I'm getting this error on my Heroku app:

[code]

graphql-engine version: v1.3.0
Postgress DB version: v12.3

I did open an issue on the graphql-engine-heroku (link: https://github.com/hasura/graphql-engine-heroku/issues/84),  but I'm opening an issue in here for reasons explained down below.

When version 1.3.0 got released, it broke my Hasura app console on Heroku. I managed to f

[2020-08-03 01:07] frasertweedale commented on #2109
*hs-jose* already lets you configure an allowed skew: https://github.com/frasertweedale/hs-jose/blob/master/src/Crypto/JWT.hs#L362-L378

[2020-08-03 02:48] aaronhayes commented on #5503
@jvukoja Unfortunately, this is available within the Hasura Pro version. So it seems unlikely they would bring it into the community version. But will give you an upvote incase enough thumbs convinces them.

[2020-08-03 04:20] spencerpauly commented on #3633
Also encountered this. Possibly caused by me manually uploading the metadata file from the console instead of the CLI? Going to try it fresh. Running a fresh database on digitalocean from the digitalocean link

[2020-08-03 05:11] hgiasac opened #5512 "console: should add option to disable ONLY on ALTER TABLE"
TimescaleDB hypertable doesn't support `ALTER TABLE ONLY` SQL statement. We should have an ENV option to disable `ONLY`

[code]

![Screenshot_20200803_121017](https://user-images.githubusercontent.com/1615675/89147901-59f64d00-d582-11ea-8def-4c82bdb37d09.png)

[2020-08-03 05:50] spencerpauly opened #5513 "Hasura Migrate Error - cannot continue due to inconsistent metadata"
I'm trying to do a migration from data on Hasura cloud to a DigitalOcean droplet. The

I'm following the migration guide here exactly:
https://hasura.io/docs/1.0/graphql/manual/migrations/basics.html#step-3-initialize-the-migrations-as-per-your-current-state

When it comes time to execute hasura migrate I run:

```npx hasura migrate apply --envfile prod.env```

with my prod.env file looking like:

[2020-08-03 05:58] tirumaraiselvan commented on #5511
@LuisDev99 Did you point your DB to a Hasura Cloud project? Or did you run some PR build on the same database?

Catalog version 37 was introduced in master after `v1.3.0` (which is at 36) and your database getting migrated to catalog version 37 means that some newer version of Hasura was run on the same database.

[2020-08-03 06:07] LuisDev99 commented on #5511
Hi @tirumaraiselvan

I'm pretty sure I didn't do anything on the DB nor on the Hasura console itself, my Heroku app simply stopped working (on Friday), and this has happened twice already.

I'm guessing maybe Heroku pulled down the Docker image from the hasura/graphql-engine-heroku and updated the Hasura metadata with that new image (by itself), which then cause the catalog version to be updated t

[2020-08-03 07:06] nksaraf opened #5514 "Schema not loading in Explorer and Editor"
Hi, just had a small issue with the console today. Out of the blue, the schema is not being available on the explorer when either the x-hasura-admin-secret or the authorization header is checked. It works neither is checked, I get the schema for anonymous role. The requests are working in both cases so just an issue with the console.

![](https://cdn.discordapp.com/attachments/428469959530643466/7

[2020-08-03 07:58] LuisDev99 commented on #5511
Update: I followed the Hasura downgrade steps listed here: https://hasura.io/docs/1.0/graphql/manual/deployment/downgrading.html#downgrade-hge

But it didn't work for me.

[2020-08-03 08:17] tirumaraiselvan commented on #5511
Something is odd here (did you check cloud.hasura.io? ). The image here: hasura/graphql-engine-heroku is not ahead of `v1.3.0` hence it seems unlikely that it may have pulled and deployed a newer version.

Downgrade will not work because catalog 37 is ahead of `v1.3.0` and hence it doesn't know how to downgrade.

Anyway, here is the sql to update your catalog to 36. Then `v1.3.0` should run safely

[2020-08-03 08:42] tirumaraiselvan commented on #5453
The order of results returned by a function is not preserved if it is used in a join (this happens at the Postgres layer itself).

Is it possible to include a similarity-score column in the returned row type, maybe via a view : `create view thing_with_score as (select *, NULL::double as score from thing)` and then you can order_by this column.

[2020-08-03 08:43] tirumaraiselvan commented on #5353
Should be fixed in latest cloud.

[2020-08-03 08:43] #5353 closed

[2020-08-03 10:25] tirumaraiselvan commented on #5426
One workaround is to create a custom function: https://hasura.io/docs/1.0/graphql/manual/schema/custom-functions.html#example-text-search-functions

Ofcourse, it is not a generic solution but it may solve the case mentioned above adequately.

[2020-08-03 10:30] tirumaraiselvan commented on #5457
Thanks @seltsamonkel

Closing this in favour of #5153

[2020-08-03 10:30] #5457 closed

[2020-08-03 10:32] tirumaraiselvan commented on #5443
Not currently. Hasura Cloud and Enterprise have team workflows which enable this though.

[2020-08-03 10:55] beerose opened #5515 "Can't expand events invocation info in redeliver modal"
The invocation info becomes collapsed right after expanding it.

![modal-bug](https://user-images.githubusercontent.com/9019397/89175047-3681d100-d587-11ea-9f67-8c8fbd95c38b.gif)

[2020-08-03 11:06] duskmoon314 commented on #5443
@tirumaraiselvan thanks. Are there any plans to add this feature to the self-hosted engine？For the sake of access speed (i.g. user in China), if possible, we prefer to use our own server.

[2020-08-03 11:28] tirumaraiselvan commented on #5365
@mkalayci35 Could you show the entire row (including primary key)? Since this is an upsert operation, maybe a new row was inserted?

[2020-08-03 11:31] tirumaraiselvan commented on #5458
@Albert-Gao Not sure. Seems to work for me. Are you sure the admin secret is correct?

[2020-08-03 11:34] tirumaraiselvan commented on #5448
Hmm, what is the response you get when this happens?

[2020-08-03 11:39] tirumaraiselvan commented on #5468
Seems like Hasura is unable to connect to Postgres. Can you check if your Postgres is accessible from k8s?

[2020-08-03 11:53] tirumaraiselvan commented on #5512
From the PG docs, seems like `ONLY` is useful only in reference to inherited tables. Not sure why `ONLY` is added by default for column alter operations. What happens if you alter a column of a parent table with ONLY, then is the child table still a descendant? (But the columns are different now !)

Apart from the confusion above, there could be a checkbox in console to add `ONLY`. But, I think it

[2020-08-03 11:58] tirumaraiselvan commented on #5472
@saul-gush Just to be clear, you want to forward the headers returned by auth webhook to Remote Schemas?

[2020-08-03 12:01] #5052 closed

[2020-08-03 13:00] #4226 closed

[2020-08-03 13:31] salceson commented on #5448
I get error on remote schema as the `id` is required in `user_by_pk`.

Full response:
[code]

Yes, it is. Full remote schema:

[code]

A workaround was to make it not required, however I think it is a bit strange that the remote server is queried at all.

[2020-08-03 13:55] #5480 closed

[2020-08-03 17:48] LuisDev99 commented on #5511
Omg yes! The SQL worked!
It wasn't working at first because I had to restart the dyno.

Nope, anything. My Hasura console on Heroku simply stopped working. No administration nor configuration was done on either the console or the DB.

The first time this same exact problem happened was during the v1.3.0 release, and later on, this past Friday. I noticed that on Friday (31/7/2020), commits were don

[2020-08-03 18:00] LuisDev99 commented on #5511
Wait you are right @tirumaraiselvan.

I remembered trying out the Hasura cloud about a month or two, and out of curiosity, I just went ahead and log in, and I'm seeing that my Heroku Postgres DB is being used by the project I created on the Hasura cloud, which is strange because I don't remember configuring the DB in there lol.

Soo, in other words, I created a project on the Hasura cloud, which w

[2020-08-04 05:43] spencerpauly commented on #5513
I just solved this for myself. I believe the issue was from myself having tables of an enum type and when I was migrating the migration and metadata files these tables had to be remade AND be filled with data or else they would not be valid enum tables. The migration and metadata yml files didn't actually put any data in those tables, though, so the creation would fail and therefore the whole migr

[2020-08-04 07:27] tirumaraiselvan commented on #5513
That's definitely not a good experience. We will fix the error message.

Also see issue for the main issue here: https://github.com/hasura/graphql-engine/issues/2817

[2020-08-04 10:34] BenediktMiller commented on #1609
Any news on this issue? I am using the same setup as relvao with AWS ECS/Fargate and ALB and can't rewrite the URLs. Is it possible to adjust the path in the current version of hasura?

[2020-08-04 12:54] shrmnk opened #5520 "Auth with Cloudflare Access"
[Cloudflare Access](https://developers.cloudflare.com/access/setting-up-access/json-web-token/) sends tokens in the `cf-access-jwt-assertion` header instead of `Authorization` like standard JWT implementations.

The email that the authenticated user uses to login with is included in the payload, along with a unix timestamp of the expiry.

Will it be possible to configure JWT auth using Cloudflare

[2020-08-04 13:22] MichaelHadji-duplicate commented on #1582
Any feedback relating to the last two posts?

[2020-08-04 13:23] MichaelHadji-duplicate commented on #4011
Any updates relating to this or the related comments in #1582 ?

[2020-08-04 13:34] SenchoDev opened #5521 "Multiple subscriptions in one request"
I've seen that im able to use multiple mutations and queries in one request. I want to know if i am able  to use multiple subscriptions in one request?

[2020-08-04 16:50] jberryman commented on #3550
Apparently the cache miss case is improved significantly after PDV

[2020-08-04 16:50] jflambert commented on #5513
Hi @tirumaraiselvan I have the same issue overall but with slightly different replication steps. Basically I'm using tables.yaml with v2 migration and whenever I have a slight problem, this output appears:

`time="2020-08-04T16:45:17Z" level=fatal msg="failed to apply metadata: cannot apply metadata on the database: [unexpected] cannot continue due to inconsistent metadata ($.args[1].args)\r\noffe

[2020-08-05 03:06] tirumaraiselvan commented on #5049
Most of the errors here are fixed in v1.3.0 stable. Pls reopen and let us know if you still find any confusion.

[2020-08-05 03:06] #5049 closed

[2020-08-05 04:41] bkstorm commented on #2601
I encountered the same problem when running the following command:

[2020-08-05 04:46] m3hari commented on #5511
I can confirm the script fixes the issue! 🎉

Just a small thing, the last line should use **semicolon** `COMMIT;`  instead of a colon `:`

[2020-08-05 06:34] huashaoxu opened #5528 "how to obtains incremental change data by subscription？"
The subscription method obtains all data rather than incremental change data, how to do？

[2020-08-05 08:10] ChristianHohlfeld commented on #5501
I checked again and you're right. I had only one table which had a role "public" so it looked to me like the whole schema was exposed. You can close this as I can no longer see any issues relating secuirity and UNAUTHORIZED_ROLE. If I come across an issue I will open up again. Thank's for your fast response, great team, great service and awesome software!

[2020-08-05 08:10] #5501 closed

[2020-08-05 10:23] frederikprijck commented on #2109
@frasertweedale Thanks for pointing that out, I missed that.

[2020-08-05 10:45] gorress opened #5532 "FATA[0000] exporting seed data: [unexpected] error while executing pg_dump: pg_dump: error: no matching tables were found ($)"
I get this error with tables, that contains capital letters(table name). I don't have any problem with tables, that contains only lowercase letters.

[2020-08-05 11:01] nomocas opened #5533 "Simple Click on error panel in console close it"
Hello All,

Hasura v1.3.0
Console UI bug.

When I have an error when trying to rename a table, the error panel close when I click on it (for text selection).
Kind of annoying.

[2020-08-05 11:06] barmaley443-sfdev commented on #3423
+1

[2020-08-05 11:10] nomocas opened #5534 "Table Rename gives weird error"
Hello,

Hasura v1.3.0

The table rename procedure seems to be less effective than before.
Now, when I try to rename a table (which has relation from and to it), I have this error :

{
    "internal": [
        {
            "definition": {
                "using": {
                    "manual_configuration": {
                        "remote_table": {
                            "schema": "public

[2020-08-05 11:46] #4119 closed

[2020-08-05 12:47] c19 opened #5535 "How to create a relation with two column and one being a literal string?"
Table schema looks like this:
[code]

And I wish to create a relation that enables this query:
[code]

Which means the following relations:
[code]

unfortunately from the hasura console, we can only select column to bind relations. not literals. But I thinks this is viable.

[2020-08-05 12:59] rccoe commented on #5453
That makes sense. Thanks Tiru.

[2020-08-05 13:03] rccoe commented on #5483
Closing - I've figured out a way to do this with a view that replaces the computed fields and the complicated logic in the permissions.

[2020-08-05 13:03] #5483 closed

[2020-08-05 13:03] #5453 closed

[2020-08-05 13:29] sasog23 commented on #2599
Any update on this feature?
This would be great

[2020-08-05 14:06] Difrex opened #5536 "Very long bulk query execution time"
Hi,

We have a Hasura installation in the private k8s(bare metal). For permission management, we are using a custom service that sends bulk queries with a `create_permission/delete_permission` requests.

The our limits in the k8s ns is:
[code]

The queries took a lot of time from 2mins up to 20mins to apply. Also, bulk queries cause high memory usage.

* [database schema](https://github.com/hasura

[2020-08-05 14:08] #5200 closed

[2020-08-05 14:37] wwwdepot commented on #5521
See [docs](https://hasura.io/docs/1.0/graphql/manual/subscriptions/index.html#convert-a-query-to-a-subscription)

[2020-08-05 16:48] brittanyroddy commented on #3772
This would be a great feature!!

[2020-08-05 18:57] abdullah2993 opened #5537 "YAML parsing issue if the column is named "no""
If you have a column named `no` and you add premissions for it from hasura console and then apply metadata it fails. As `no` is interpreted as a boolean `false` (yaml treats `yes` as true and `no` as false)
Example of generated config:
[code]
The manual workaround is to quote the colums `"no"`
like so:
[code]

[2020-08-05 21:09] just-mitch commented on #1646
For those who stumble on this, the header used to override the default role is `x-hasura-role`
Example using Apollo:
[code]

[2020-08-05 21:28] amille14 opened #5540 "Support for "connect" and "disconnect" websocket events with subscriptions"
Currently it seems that there's no way to respond when a client connects via websocket to Hasura and when they subsequently disconnect. It would be great if we could get an event that's triggered whenever one of these things happens. This way it becomes much easier to track which users are "online", and we can write event handlers to respond to things like users abruptly closing a browser or losin

[2020-08-05 21:32] adventurini opened #5541 "Sorting by array relationships"
I am trying to make this query. I want to be able to sort these columns based on ordered_revenue. The ordered_revenue is an array relationship and right now Hasura only supports aggregate sorting of array relationships (side note - when I try to sort by aggregates, I can only return a single paramater).

This query only sorts based on the internal array. I want the ordered revenue to sort on the a

[2020-08-05 23:29] Albert-Gao commented on #5458
This is the example key: `sifr&xib?Ipu$ru`

maybe because some char needs to be escaped?

I solved the problem by using the Apollo CLI and a config file, if we can confirm it is the escape-char problem in bash, will be happy to send a PR

[2020-08-05 23:45] korylprince commented on #3989
Here's a workaround to use docker secrets:

[code]

Obviously, you'll need to fill in the rest of the config like networks, ports, etc. You can still pass environment variables like `HASURA_GRAPHQL_ENABLE_CONSOLE` if needed.

[2020-08-06 09:57] phamquyhai commented on #5468
@tirumaraiselvan
I tried with other database clusters, Connection pool or not pool or .... all connection with db it's OK!
i has found that every 5 minutes after startup, hasura connection to the db is idle. -> causes /healthz not return 200 -> livenessProbe check is not healthy -> pod restart.
Now i remove livenessProbe and my service is ok.
But i don't know why? hasura connection to the db is id

[2020-08-06 10:18] age2pierre commented on #5172
Hello, I had a very similar problem and here so far what I've figure out :

- entrypoint script would failed somewhere in that `if` branch => https://github.com/hasura/graphql-engine/blob/d8481c3a1c899ccbf8092a512fcb0f4f179ff045/scripts/cli-migrations/v2/docker-entrypoint.sh#L84
- when skipping migrations (by not mounting the folders) things would work fine.
- my colleagues using docker on mac wou

[2020-08-06 10:41] tirumaraiselvan opened #5542 "RQL insert throws runtime error because of event triggers"
The change introduced here https://github.com/hasura/graphql-engine/pull/5409 does not work well with RQL inserts (and probably updates and deletes).

Create a table `test (id serial primary key, name text)` and create an event trigger on insert.

With graphql mutation:
[code]

With RQL mutation:
[code]

Note that you must run the graphql mutation first and then run the rql insert (hopefully, same

[2020-08-06 15:20] ewelinam10 opened #5545 "Could not verify JWT: JWTExpired"
**Header 'Authorization' is not valid.**
I've parsed my token and it looks good. But when i click on hasura api decode JWT it shows message
Could not verify JWT: JWTExpired.
But I don't have idea why, i coudnt find my problem solved anywhere.

What should i post here more?
Greetings!

[2020-08-06 15:26] ElixirMike commented on #280
Hoping this feature is being considered for next release...this is a big issue when you have a large amount of tables across hundreds of customers and the metadata starts getting really large. Making changes to the metadata becomes a performance issue. Being able to specify a single set of permissions universally applies to all tables would reduce size considerably.

Even then, there needs to be a

[2020-08-06 16:27] dilame commented on #3657
Hey guys, what's with this issue? :) I just started a new project and it happened again

[2020-08-06 20:11] oVertoneFenton opened #5546 "Inserting bigint without double quotes changes value"
### Bug explanation
Inserting an object whose type should be saved as bigint without quotation marks on the insert object results in an incorrect value being saved in the database. But including double quotes around the integer value inserts the value correctly. I've found a workaround solution to use in my code, but just wanted to bring this issue to your attention if you were not aware of it.

#

[2020-08-06 21:17] wwwdepot commented on #5546
According to the [docs](https://hasura.io/docs/1.0/graphql/manual/api-reference/postgresql-types.html#api-postgres-types), Hasura treats bigint as String.

[2020-08-06 22:38] arpitjacob commented on #3539
Hey guys any way to change this?

[2020-08-07 05:38] sokolej79 commented on #2599
This is a must feature.We really need this feature.
When it will be available?

[2020-08-07 05:57] gnyani commented on #4662
@beerose  I can take a look at this, could you please assign this on me?

[2020-08-07 11:18] tirumaraiselvan opened #5550 "add a debug log for http-log when request is received"
A log line of type `http-log` and level `info` is printed after a request is processed.

We should add a `debug` log line for when a request is received. This helps in knowing if a request reached the server after passing through downstream servers like loadbalancers.

[2020-08-07 16:05] tirumaraiselvan commented on #1582
@MichaelHadji-duplicate Sorry for the delay.

Yes, this is the recommended approach if you want to skip the native hasura permission layer. Again, we will be more than happy to hear about your filtering needs and include it natively via hasura perms.

Regarding the error thrown by this, I am not able to reproduce this. And the error "Authentication hook unauthorized this request" kind of suggests

[2020-08-07 19:23] KirillSBarsukov opened #5552 "Could not verify JWT: JWSError JWSInvalidSignature"
Hey folks!
I am using JWT to authorize in Hasura. I set jwk_url to verify JWT. However, from time to time, I get that error:

[2020-08-07 19:33] KirillSBarsukov opened #5553 "Role names without white spaces"
Hey folks!

Whenever I create a new Role under the Permissions tab, a new role. I cannot create a role name with white spaces. For example, `Sales Manager`
Interestingly, I made that type of role name before. To fix that I usually copy `Sales Manager` to an input field and then change words separately. For example, `Sales Manager` becomes `Sales Moderator`.

Thank you

[2020-08-07 20:28] wwwdepot commented on #5553
It's just [trimming whitespace](https://github.com/hasura/graphql-engine/blob/master/console/src/components/Services/Data/TablePermissions/Permissions.js#L485) when you're typing. I'd use `snake_case` or `kebab-case` over spaces between words.

[2020-08-07 20:30] KirillSBarsukov commented on #5553
Is it something new?  I have a bunch of roles with spaces

[2020-08-07 21:46] adventurini opened #5554 "Sorting by Aggregates is extremely slow"
When querying by an aggregate sum on an array relationship, the performance is abysmal. Any ideas?

[2020-08-07 23:52] soulfresh commented on #3919
I'm having the same issue with Cognito + Hasura as OP after following the same tutorial directions. I've verified that my token is valid using jwt.io, is `RS256`, and that the `HASURA_GRAPHQL_JWT_SECRET` environment variable is set. I'm running Hasura v1.1 so I'm still including the `type` property in the environment var as described in the tutoral. Any additional debugging suggestions would be gr

[2020-08-08 03:24] ngocdiep commented on #4460
I set ENV for example:
`HASURA_GRAPHQL_UNAUTHORIZED_ROLE: "anonymous"`
then set permission to allow "select", I can query data as an anonymous user

[2020-08-08 11:06] RKARaj opened #5556 "Docker admin admin-secret + User/Manager Role"
Hi,

I would like to access the graphql via console and also via any role or other security secret key which has less privileges than admin secret key.

But I am getting error while access tables by using only x-hasura-user role without admin key on react client side. Is there any way that i can access data without using userid and admin key on client side ? Please let me know.

My current config

[2020-08-09 02:40] kentaro84207 commented on #5515
@beerose May I tackle this issue?

[2020-08-09 10:57] beerose commented on #5515
Sure @kentaro84207! Go ahead 🙂

[2020-08-09 17:36] MaxmaxmaximusAWS commented on #5417
@tirumaraiselvan  select gen_random_uuid()
`8a577f5a-a1da-4534-89a2-0b5bbe72342a`

[2020-08-09 19:19] ahmedmagdyy commented on #5508
I've found a workaround for this,
The issue happens only if you update from a version older than 1.3 when I created new repo using Hasura v1.3 didn't face this problem.
The workaround was that I have deleted table hdb_cron_events and hdb_cron_event_invocation_logs and recreated them using SQL queries in graphql-engine initialize.sql file.

[2020-08-09 20:39] rboyd opened #5557 "Bug in remote schema relationships, possibly related to query caching"
add table foo:

[code]

add a remote schema `anilist` (using public data source here to demo bug)

in metadata/remote_schemas.yaml:
[code]

add remote relationship `foo_ani`
in metadata/tables.yaml:
[code]

insert a row in foo table:
foo_id | search
------|-------
50ffbf19-36a1-4c84-b0de-df9434f09d91 | guy

query from Hasura console GraphiQL:

[code]

with query variables:

[code]

correctly retur

[2020-08-09 21:34] theodesp opened #5558 "JWT claims should support number values for `sub` and `x-hasura-user-id` cl"
I'm trying to leverage JWT tokens for authentication and when I pass a claim with either `sub` or `x-hasura-user-id` as numbers I get an error in the graphql-engine side. For example here are the logs when sending a valid `Authorization: Bearer <token>`:

[code]

Note that the error is kind of cryptic so I had some trouble understanding where was the problem.

[2020-08-10 03:19] praveenweb commented on #5545
@ewelinam10 - The JWT token issued has an expiry time attached to it. It can be checked under the key `exp` and it will be a timestamp. Check the value of that. It seems it has expired.

You can regenerate a new token using the Authentication server that you used to generate the initial token.

[2020-08-10 03:19] #5545 closed

[2020-08-10 03:23] praveenweb commented on #5508
Seems like an issue with `get_random_uuid()`. This mostly occurs when the pgcrypto extension is not available. Can be fixed using `CREATE EXTENSION pgcrypto`.

@tirumaraiselvan - The server takes care of this automatically right?

[2020-08-10 03:26] #4262 closed

[2020-08-10 03:33] praveenweb commented on #5556
@RKARaj - What you are looking for is Unauthenticated / Public access. You can read more about it [here](https://hasura.io/docs/1.0/graphql/manual/auth/authentication/unauthenticated-access.html#)

Once you setup `HASURA_GRAPHQL_UNAUTHORIZED_ROLE`, you can start making requests without sending any headers like user-id/admin-secret and start accessing data for which permissions have been granted fo

[2020-08-10 03:38] praveenweb commented on #5528
@huashaoxu - This can be achieved by using a subscribe and refetch pattern.

If you are looking to fetch only the new data that has changed, you can make use of Subscription query with limit 1, sorted by a unique identifier (like an id or timestamp) to listen to any new data changes. Once you get a response from this subscription you can make a normal query to refetch all the new data using the sa

[2020-08-10 03:38] #5528 closed

[2020-08-10 05:24] #5513 closed

[2020-08-10 05:34] beerose commented on #5467
@Manubi I'm closing this issue. Please reopen if you were thinking about something other than table comments.

[2020-08-10 05:34] #5467 closed

[2020-08-10 05:35] beerose commented on #5086
@Manubi I'm closing this issue. Feel free to reopen if you meant something different than a functionality mentioned in the above comment.

[2020-08-10 05:35] #5086 closed

[2020-08-10 05:58] #5532 closed

[2020-08-10 07:15] ewelinam10 commented on #5545
Okay so the value of exp is 1596596949 and when i parse it looks like its to 05.08.2020 but why? I'm running hasura by docker. This  is the command which i am using to run docker with hasura
docker run -d -p 8080:8080 \
-e HASURA_GRAPHQL_ADMIN_SECRET="#################################" \
    -e HASURA_GRAPHQL_JWT_SECRET='{"type": "RS512", "key": "-----BEGIN CERTIFICATE-----\#######################

[2020-08-10 07:25] hafiztahajamil commented on #2768
@praveenweb This is an important feature. You must assign this to someone. Thanks

[2020-08-10 07:25] praveenweb commented on #5545
@ewelinam10 - What is the Authentication provider? Who is issuing this JWT token? (For example Auth0 or Firebase Auth or some custom Auth server)

Hasura doesn't generate this JWT token. So you will need to regenerate this token using the Auth provider used.

[2020-08-10 07:40] ewelinam10 commented on #5545
in my case is Auth0 - i generate that token using your website https://hasura.io/jwt-config/ ... do you have any ideas why my exp date is science 5 days.. ?

[2020-08-10 07:43] ewelinam10 commented on #5545
[](url)
![image](https://user-images.githubusercontent.com/17653335/89761015-cc6cad00-daed-11ea-94c3-f7c67c836460.png)

this is token's settings by default. But even if generate token once again using that website which i posted above its expired.

[2020-08-10 07:59] ecthiender commented on #5558
@theodesp currently, all `x-hasura-*` values has to be of string type. It is mentioned [in the note section here](https://hasura.io/docs/1.0/graphql/manual/auth/authentication/jwt.html#the-spec).

[2020-08-10 08:08] praveenweb commented on #5545
@ewelinam10 - The page https://hasura.io/jwt-config/ is used for generating the configuration that can be configured as ENV. Generating the Auth0 token should happen via Auth0 UI/API.

You can probably refer to this doc for generating a sample JWT token, but I would recommend you using the Auth0 sample react app as recommended by Auth0 themselves to generate and test the token - https://github.com

[2020-08-10 08:10] tirumaraiselvan commented on #5554
We will need more info to diagnose performance issues.

1. What is the full query?
2. What is the size of the table (num of rows?)
3. What is the `Analyze` output? https://hasura.io/docs/1.0/graphql/manual/queries/performance.html#analysing-query-performance

[2020-08-10 09:16] RKARaj commented on #5556
@praveenweb : Hope you will understand these questions below :
1. not talking about 'HASURA_GRAPHQL_UNAUTHORIZED_ROLE', instead userid level security Is there any way that I can use some secrert key for each role like for HASURA_GRAPHQL_MANAGER_ROLE_SECRECT, HASURA_GRAPHQL_USER_ROLE_SECRECT ?

2. my client side application is using react with apolloclient, if I config 'HASURA_GRAPHQL_ADMIN_SECRET'

[2020-08-10 09:28] praveenweb commented on #5556
@RKARaj

1. For user ID level security, you need to setup some form of Authentication. For example, if you are using Auth0, it can be used to generate a JWT token for each user session and the JWT token will contain `x-hasura-role` and `x-hasura-user-id` information in the claims. You can read more about setting up JWT here - https://hasura.io/docs/1.0/graphql/manual/auth/authentication/jwt.html

[2020-08-10 09:38] RKARaj commented on #5556
@praveenweb :  I dont want to use JWT token at all ? Is there any solutions for the above questions, provided by Hasura ?
Is it limited to JWT token and Admin secret key only ?

[2020-08-10 10:18] 0x777 commented on #4011
As mentioned in https://github.com/hasura/graphql-engine/issues/1582#issuecomment-665737794, passing session variables using Postgres's GUC (`current_setting('hasura.user')`) would defeat our optimisations for subscriptions.

@m4dc4p From what I understand of your use-case based on the conversation in [#3872](https://github.com/hasura/graphql-engine/issues/3872#issuecomment-592103783) you seem to

[2020-08-10 10:25] 0x777 commented on #1582
@MichaelHadji-duplicate Is it because the filter condition cannot be specified using permissions in graphql-engine? Because by using the `hasura.user` config variable you are already relying on Hasura's authorization.

[2020-08-10 10:26] 0x777 commented on #4011
@m4dc4p I'm closing this issue but if what I mentioned in my above comment doesn't apply for your use-case, please feel free to re-open this issue.

[2020-08-10 11:30] ewelinam10 commented on #5545
Yep i know that this page is used for that but why it generates not valid token? Isnt it a problem ?
So your approach you propse in yours doc https://hasura.io/learn/graphql/hasura/authentication/3-setup-env-vars-hasura/ is not working properly?

[2020-08-10 11:37] ewelinam10 commented on #5545
And as i assume you recommend to use hooks Auth0 which generates me token but this is the case in my application. This is another case. I would like to use your hasura console which i am running by docker, and i understand that this is the only way that i could run docker with that jwt i generate on that pagehttps://hasura.io/jwt-config/

[2020-08-10 15:33] m4dc4p commented on #4011
Well, that doesn't really work for me as I don't want to use Hasura as an ORM or rely on its permission system. I can use custom functions to mimic what I need, so it's not a big deal, but it is inconvenient. But thank you for taking a look.

[2020-08-10 18:42] MichaelHadji-duplicate commented on #4011
Doesn't work for me either (similar to m4dc4p), please re-open this!

[2020-08-10 18:52] MichaelHadji-duplicate commented on #4011
And Please do not try to convince all of us to rely on Hasura's authorization model, we may have many systems that integrate with our database's, not only Hasura!

[2020-08-10 18:54] MichaelHadji-duplicate commented on #1582
Well we can abstract out hasura.user if needed on our end, so the reliance is minimised. Please do not try to convince all of us to rely on Hasura's authorization model, we may have many systems that integrate with our database's, not only Hasura!

This feature (query views / variables) missing from Hasura is very unfortunate, and forcing us to add custom functions (a hack) is an inconvenience at

[2020-08-10 18:56] m4dc4p commented on #4011
I'm not sure how to re-open this issue but, if I could, I would!

[2020-08-10 19:01] MichaelHadji-duplicate commented on #4011
Hey @m4dc4p , sorry was meant for @0x777 .. Please re-open the issue @0x777  as the view subscription feature shouldn't really block something so fundamental as accessing a session variable in query of a view.

[2020-08-10 19:23] williscool opened #5561 "Questions Integration Testing Hasura."
Tl:dr

1. What are the best practices around integration testing hasura?
2. Is there currently away to support db isolation via templates for test i.e. changing the db url?
3. follow q2 here interesting solution https://github.com/allaboutapps/integresql#usage  is it possible to setup hasura to be compatible?

---

I'm using jest to integration test a hasura application im working on.

Given that

[2020-08-10 19:28] jflambert commented on #4651
@scriptonist I understand an official solution is being worked on, but I have no idea how to use the workaround in the meantime. I'm trying to add hasura-cli to an all-purpose docker image which I use in gitlab for build/test scripts. As you can see, I download the cli directly from gitlab, then try to install the plugin. Seems like it works at that point.

[code]

output of `docker build . --tag

[2020-08-10 19:34] #5542 closed

[2020-08-10 23:01] Bessonov commented on #2943
Not hasura user yet, but highly interested in topic of versioning. I think you can achieve part of renaming without breaking changes with [computed fields](https://hasura.io/docs/1.0/graphql/manual/schema/computed-fields.html). But yes, this doesn't answer more general question stated above:

I think a [custom resolver](https://hasura.io/learn/graphql/hasura/custom-business-logic/2-remote-schemas/

[2020-08-10 23:21] Bessonov commented on #678
I use CockroachDB at work and YugaByte for a personal project. Both are great until now, but also different. With YB you get better compatibility to Postgres and with CRDB you get a very easy management, scaling and stability (more mature than YB, bug not mature as PG).

In general, I prefer tools which I can use in both projects and it would be nice if hasura supports CRDB too. So, the question i

[2020-08-10 23:36] the-jackalope opened #5563 "Unable to secure instance with admin secret"
Hello,

I'm using Kubernetes to run Hasura and configured my `deployment.yaml` with the `HASURA_GRAPHQL_ADMIN_SECRET` environment variable in order to secure my instance. I am able to verify that the Kubernetes pod running my instance has `HASURA_GRAPHQL_ADMIN_SECRET` set and that the secret it has matches mine.

However I am completely unable to use the admin secret to log into the instance, mean

[2020-08-11 02:01] the-jackalope commented on #5563
The error I get in the web UI is:
[code]
In my network inspector I can see that when I click the button to submit my password a `x-hasura-admin-secret` header with the password I input - is that different from a `x-hasura-admin-secret/x-hasura-access-key` header?

[2020-08-11 03:31] hgiasac commented on #5563
@the-jackalope can you double check admin secret to see if there is any extra special character such as spaces? Many Hasura users use Kubernetes, and they don't have any problem with it.
You also can test admin secret locally with Docker

[2020-08-11 03:57] the-jackalope commented on #5563
Double checked - it's alphanumeric with no special characters. That's why this is particularly baffling. I will try deleting and recreating the K8s deployment tomorrow and see if that does anything. Will also give testing on local Docker a go too.

[2020-08-11 04:17] maxcan commented on #625
Planning yet-another-hasura-project, but kind of need this.  will watch this issue.

[2020-08-11 07:15] bertyhell opened #5564 "Case insensitive order_by"
Is there a way to order_by but case insensitive without having to add a new property?

eg this dataset:
[code]

We would like to fetch these alphabetically case insensitive sorted:
[code]

Maybe adding an `iorder_by property`, similar to `ilike`?

[2020-08-11 07:48] georgiosd commented on #2109
Any updates on implementing this? We're getting tokens from AWS Amplify and validating them with hasura and this error comes up every so often - we obviously can't control AWS' NTP config.

[2020-08-11 12:50] gokulchandra commented on #4314
@beerose Just wondering if this PR for migrating settings actions to typescript can be reviewed?

https://github.com/hasura/graphql-engine/pull/5028

[2020-08-11 14:09] mathiasschopmans opened #5567 "Unable to add second remote schema containing same type"
For my current project I want to add two remote services, both using Apollo-Server.
When I try to add the second service Hasura complains about a schema mismatch.

[code]

It seems that Apollo is adding a internal CacheControlScope-Type, but I can ensure, that they both have the same definition:
[code]

Is this behaviour intended?

Maybe related to #5046

[2020-08-11 14:12] mathiasschopmans commented on #5567
Basic Apollo Setup:

`package.json`
[code]

`server.js`
[code]

`node server.js`

[2020-08-11 14:53] beerose commented on #4314
I just reviewed it @gokulchandra. Sorry for the delay.

[2020-08-11 15:04] harishm72 commented on #4314
@beerose #4721 too

[2020-08-11 15:17] lautapercuspain commented on #4314
HI @beerose Just wondering if this one is ready to go after on requested change made [5499](https://github.com/hasura/graphql-engine/pull/5499)

[2020-08-11 16:47] jflambert commented on #4105
Using `alpine-glibc` was not an option for me, so I ended up adapting @hgiasac's second script.

@tirumaraiselvan I spent quite a bit of time on this. I strongly suggest you produce an alpine-compatible `cli-ext` binary, or at least provide official instructions. Here's my `Dockerfile` for reference.

[code]

[2020-08-11 16:49] jflambert opened #5568 "hasura-cli's cli-ext extension is not natively alpine-compatible"
Using `alpine-glibc` was not an option for me, so I ended up adapting my Dockerfile to pull glibc from @sgerrand.

@tirumaraiselvan I spent quite a bit of time on this. I strongly suggest you produce an alpine-compatible `cli-ext` binary, or at least provide official instructions. Here's my `Dockerfile` for reference.

[code]

Otherwise I get the following error when doing `hasura-cli md apply`:

[2020-08-11 17:32] baptistemanson opened #5571 "Security alert on Hasura windows"
When downloading and booting hasura.exe on windows, I get this alert by Avast:
![image](https://user-images.githubusercontent.com/5444992/89929195-c219e400-dbbd-11ea-81ed-fd541440006b.png)
IDP.Generic seems to be a fairly common threat type.
My Avast is up to date. My machine is not infected by anything rn according to Avast.

[2020-08-11 17:46] tirumaraiselvan commented on #4011
1. We've not prioritized adding this ability to a view because it breaks a lots of features like optimisations for subscriptions and other things on roadmap. In addition, this style of using current_setting is not really encouraged by Postgres developers, e.g. https://www.postgresql.org/message-id/20873.1451501076%40sss.pgh.pa.us

2. Recommended approach: Define a view that has (or materializes) u

[2020-08-11 19:49] keeganmccallum commented on #1848
As I was looking to port the postgrest-style `current_setting` mechanism, I found something here that may prove useful for others(this would also be a good place to add in any nicer mechanism IMO): https://github.com/hasura/graphql-engine/blob/master/server/src-lib/Hasura/Db.hs#L145

Checking the docs lead me here: https://hasura.io/docs/1.0/graphql/manual/guides/auditing-tables.html#guides-auditi

[2020-08-12 01:34] treystout opened #5573 "event trigger logs causing errors on insert"
I was just testing an event-trigger on my `users` table, and while the trigger works (it hits the webhook just fine) it fails attempting to log that the trigger works. I get the following error on 1.3.0 (via docker)

[code]

The one thing I can think of that may be causing this is I created the event trigger, tried to trigger it, then noticed a console error regarding `gen_random_uuid` being a mis

[2020-08-12 08:12] Conorrr commented on #5571
Presumably this relates to v1.3 of the hasura-cli.

Related to https://github.com/hasura/graphql-engine/issues/3922

[2020-08-12 08:23] cpursley commented on #348
Is it possible or planned to have the `_contains` filter type for arrays? Arrays seem to work in general but not for filtering.

[2020-08-12 08:54] happyfloat commented on #2760
This would be also useful if you want to update the auth user, e.g.:
`update_user_by_pk(pk_columns: {id: $userId}, _set: $changes) {...}`

[2020-08-12 11:20] thgh commented on #5511
I also tried out Hasura Cloud and broke the console on Heroku. Thanks for the fix!