[2019-11-13 18:18] Ant59 commented on #3302
Getting this problem. Image correct. Deploying version beta.4.

[2019-11-13 18:22] jberryman commented on #3312
An annoying issue I'm running into when upgrading:

https://bitbucket.org/ruamel/yaml/issues/326/commentedmap-equality-no-longer-takes-into

[2019-11-13 18:40] tafelito commented on #3319
@rakeshkky my function returns a set of a view and IO already set the permissions for that view.

and this is the error I get every time it restarts

![image](https://user-images.githubusercontent.com/5973652/68793375-171ece80-061b-11ea-9306-33264d9f0a9f.png)

[2019-11-13 20:25] #2572 closed

[2019-11-13 20:26] maxcan commented on #1433
ping..

[2019-11-13 21:15] coffenbacher commented on #3343
Hahaha :man_facepalming: Thanks @shahidhk . `--allow-unauthenticated` is a Cloud Run parameter, not a Hasura parameter, so the request was getting blocked before it even reached Hasura. I define them all in the same command so I got them confused.

Sorry :blush:

[2019-11-13 21:15] #3343 closed

[2019-11-13 22:19] brandonmp opened #3352 "The console should make gotchas more visually apparent"
WHY
I've bumped into two separate scenarios where I've made schema or data changes in the wrong Hasura console. I mostly posting this because I'm not sure if we're the only ones experiencing these sorts of gotchas.

ISSUES
1. We run our development Hasura in a docker compose, which serves the docker instance's hasura console. This means that any schema changes we make do not emit migration files (

[2019-11-14 06:31] rakeshkky commented on #3319
@tafelito May I know the version of the server? If it is `<= beta.9`, it is known bug and is fixed with `beta.10` via https://github.com/hasura/graphql-engine/pull/3211/commits/6e4cc4b5d06a844feaadefe053eb38c102a59d40.

[2019-11-14 07:20] rikinsk commented on #3348
The query you are looking for is:

[code]

[2019-11-14 10:45] praveenweb opened #3353 "allow renaming or deleting roles globally in console"
In the console, `Schema permissions summary` page, i'm allowed to create new roles by cloning permission data from an existing role. I would like a way to delete the old role once i have cloned it to a new one. Or even better if i'm allowed to rename an existing role.

Right now the only way to delete a role completely is to manually go to every table's permission page and remove them one by one.

[2019-11-14 11:00] barbalex opened #3354 "Migrations drop and recreate hdb_views dozens of times, causing max_locks_per_transaction to be exceeded"
Updating from v1.0.0-beta.6 to v1.0.0-beta.7 results in this error when running `sudo docker-compose up -d`: `ERROR: manifest for hasura/graphql-engine:v1.0.0-beta.7 not found: manifest unknown: manifest unknown`

Updating from v1.0.0-beta.6 to v1.0.0-beta.8 results in `502 Bad Gateway` in the browser when accessing the console. The ui fails too because all graphql calls get a 502 response.

Updat

[2019-11-14 11:30] tafelito commented on #3319
I tested with both beta.8 and beta.9

I will test with beta.10 as soon as is published if it's not yet and I'll let you know

[2019-11-14 11:33] lexi-lambda commented on #3354
Can you provide any information that appears in the server logs when trying to start `v1.0.0-beta.8` through `v1.0.0-beta.10`?

502 Bad Gateway usually means the server is failing to start, and whatever proxy is running in front of the server is unable to serve requests because the server isn’t actually running. Therefore, my guess is the server is probably crashing on startup for some reason or a

[2019-11-14 11:50] tafelito commented on #3319
@rakeshkky I just updated to beta.10 and it's working now and I didn't have to manually add the computed field through the API

Thanks for the quick response!

[2019-11-14 12:51] barbalex commented on #3354
I have dug through lots of logs in `/var/log/` but have found nothing.

But I am a complete noob when it comes to working with logs. Where/What/How should I do it?

[2019-11-14 13:24] barbalex commented on #3354
This is a digital-ocean one-click hasura droplet

[2019-11-14 16:44] anubhav8421 commented on #2042
@marionschleifer I would like to take it forward if no/some work has been done .

[2019-11-14 18:21] ts-machine commented on #2540
+1 this would be a great way to get big data on the graph.

[2019-11-14 18:22] timtubescience commented on #2540
+1 this would be a great way to get big data on the graph.

[2019-11-14 23:17] PedramMarandi commented on #3329
Yes it is similar. I'll stick to the API filters for now but thank you for you help.

[2019-11-14 23:17] #3329 closed

[2019-11-14 23:42] barbalex commented on #3354
So I now found https://docs.hasura.io/1.0/graphql/manual/deployment/docker/logging.html.

Was looking at the wrong place as this is the first time using docker.

The log right after updating from beta6 to beta10 contains lots of stuff but also this error: `cannot continue due to new inconsistent metadata`.

[2019-11-14 23:47] barbalex commented on #3354
Here is the log: https://gist.github.com/barbalex/52a1ed5e9ea9d6bbde0631ed6c0f8283

[2019-11-15 00:07] tsaiDavid commented on #2151
This would be so valuable for us!

@dmi3y

[2019-11-15 01:42] just4fun commented on #3348
@rikinsk - The syntax makes sense, so I missed two things.

- `_and` also supports array
- Each condition logic should be put into separate `{}` to avoid duplicate `_and` and `_or`

Thanks for your kindly help.

[2019-11-15 02:40] #3348 closed

[2019-11-15 03:22] tirumaraiselvan commented on #1582
Quoting from #2940

[2019-11-15 04:10] rakeshkky commented on #3319
@tafelito Great to know that. Thank you :slightly_smiling_face:. Closing the issue now.

[2019-11-15 04:10] #3319 closed

[2019-11-15 06:31] chinapenser opened #3357 "It is support set the value like "nextval('xxx_seq')"?"
for example, a table had two fields A and B，I'd like to set B=nextval('a1_seq') when A=a1, and set B=nextval('a2_seq') when A=a2.
Thanks !

[2019-11-15 06:34] chinapenser commented on #3357
otherwise, it's a partition table.

[2019-11-15 07:52] ecthiender commented on #3357
If you know how to do it in Postgres, you can do it in Hasura via the "SQL" window in "Data" tab.

[2019-11-15 07:53] ecthiender commented on #3326
@mshanak could you resolve your issue?

[2019-11-15 07:55] ecthiender commented on #3300
@boydenhartog hope this resolves your issue. If not, you can comment or reopen the issue.

[2019-11-15 07:55] #3300 closed

[2019-11-15 08:05] ecthiender commented on #2574
When you get the token on the client side for the first time, you should run a `setInterval` with interval of the expiry of the token. When the token is expires the callback to `setInterval` will make request to your auth server and can get a new token.

Although this blog is not about webhook, but the above pattern is documented in the "Silent Refresh" section: https://blog.hasura.io/best-practic

[2019-11-15 08:06] tibotiber commented on #3333
Cool!

So to be honest, I didn't realize the codebase was not gonna be Javascript, my bad 😅. I've never done Go before and the syntax looks huuummm.... strange(?)

Nevertheless, would be a cool little challenge for me, but you may have to review a bit more than the average PR haha. Would you point me to a place that reads an environment variable somewhere in the code? I've checked the CLI code a b

[2019-11-15 08:23] aroraenterprise opened #3359 "Migrate based on timestamp"
As a user, I would like to migrate up/down based on timestamp. Rather than rolling back a number of steps, I would like to go to specific timestamp (like checking out a git commit)
e.g. `hasura migration --checkout TIMESTAMP`

[2019-11-15 08:42] sayi65 commented on #2574
@ecthiender

Thank you for your comment.
I will try this way.

[2019-11-15 08:42] #2574 closed

[2019-11-15 09:10] shahidhk commented on #3359
@aroraenterprise You can do that using:

`hasura migrate apply --version <timestamp> --type up`

[2019-11-15 09:35] #3359 closed

[2019-11-15 12:54] marionschleifer commented on #2042
@anubhav8421 of course, please feel to take it up 🙂

[2019-11-15 13:00] andrewalex commented on #2964
@marionschleifer  is actions an appropriate label? My understanding is actions are mutates only and this is for queries?   However  #3143 could be considered at a solution for this.

[2019-11-15 14:20] barbalex commented on #3354
I wonder if this could be due to problems with v1.0.0-beta.7. I had installed it before it was called back. So I then had to revert to beta.6.

So I looked up the docs and found that when downgrading I would have needed to run an sql skript that would have changed the version set in `hdb_catalog.hdb_version`.

I then looked up `SELECT * FROM hdb_catalog.hdb_version`. And found that the version set

[2019-11-15 14:35] rikinsk commented on #3342
This was because the console query to fetch pg trigger comments did not account for duplicate trigger names across tables

[2019-11-15 14:48] pdominique commented on #2891
This might help -> https://blogs.sap.com/2019/11/06/instant-realtime-graphql-engine-on-cloud-foundry-with-postgresql-and-docker/

[2019-11-15 14:54] #2249 closed

[2019-11-15 15:04] #3342 closed

[2019-11-15 15:10] barbalex opened #3362 "hasura one-click droplet: no directory /etc/hasura"
Trying to circumvent this issue: https://github.com/hasura/graphql-engine/issues/3354 I created a new droplet.

Trouble is: There is no folder /etc/hasura. So I am stuck:
[code]

[2019-11-15 16:11] lexi-lambda opened #3363 "Inconsistent metadata errors caused by Postgres query errors don’t include the offending query in the error message"
As mentioned in #3354, inconsistent metadata objects caused by Postgres query errors have nothing more than `postgres query error` given as the explanation, which is not very helpful. We should probably include the failing query in the error message.

[2019-11-15 16:12] lexi-lambda commented on #3354
That could be causing the issue, though it’s surprising that `beta.6` would run at all if `hdb_version` reports `17`. The catalog version used by `beta.6` is `22` (you can see the full list of versions [here](https://docs.hasura.io/1.0/graphql/manual/deployment/downgrading.html#downgrading-across-catalogue-versions)). Something seems not right, but I’m not sure what—running `beta.6` against your d

[2019-11-15 16:23] barbalex commented on #3354
I tried that. Does not help.

[2019-11-15 16:26] barbalex commented on #3354
This app is in development. Data in it is just for testing. I would happily give you full access.
How would I send you the schema? (assume I have no idea how to do it)

[2019-11-15 16:35] lexi-lambda commented on #3354
If the data is just test data, the easiest solution would be to use `pg_dump` to just snapshot the whole database and send it to us. Specifically, you’ll want to run this command:

[code]

That will dump the entire database into `out.pg_dump`, both schema and data, and if you send it to me, I can take a look at it. You can either put a link in this issue, or you can send it via email to alexis@has

[2019-11-15 16:39] #3312 closed

[2019-11-15 16:40] alexander-alvarez commented on #2022
I just wanted to chime in as I'm experiencing this issue.

Requests were working fine yesterday and all of a sudden stopped working later in the afternoon
[code]
I rebooted and have updated to `v1.0.0-beta.10` and am still experiencing these issues.
I'm running within docker. Oddly enough the requests from the same origin (the web console) work fine.

Let me know if there's any other info I can pr

[2019-11-15 16:40] barbalex commented on #3354
O.k., will dump.

I just added the query-log flag to HASURA_GRAPHQL_ENABLED_LOG_TYPES, updated to beta.10, ran `sudo docker-compose up -d` then checked the logs. This is the result: https://gist.github.com/barbalex/aec9e4d14d345b3d8fc14b167976382c

[2019-11-15 19:06] Kjens93 commented on #3064
For us, it would be really valuable if Hasura would conform to the federation spec out-of-the-box. The whole reason for our using Hasura is to save time and eliminate the amount of redundant code we have to write. Having to integrate graphql-transform-federation isn't very straightforward because we have to define all the keys. Hasura already has all the information needed to conform the spec beca

[2019-11-15 20:00] tirumaraiselvan commented on #1582
Note that this works only for transactional queries like mutations, event triggers, metadata API.

[2019-11-15 20:12] lexi-lambda commented on #3354
Alright, after testing with the database you sent me, I think I’ve found the issue. When Hasura migrates to the latest version of the catalog, it drops and recreates certain views and triggers that it uses to implement permissions. However, it does this many more times than necessary, ending up dropping and recreating those views over a dozen times. This all happens within the span of a single tra

[2019-11-15 20:45] barbalex commented on #3354
This is my first project to use a managed database (by digital ocean). So cranking up Postgres’s max_locks_per_transaction configuration value is most probably not an option, unless I move to a self-managed db on a droplet.

I will wait for a fix in an update. Thanks for caring!

[2019-11-16 05:47] tirumaraiselvan commented on #1606
Dup of https://github.com/hasura/graphql-engine/issues/519

[2019-11-16 05:48] tirumaraiselvan commented on #2047
Dup of https://github.com/hasura/graphql-engine/issues/519 ?

[2019-11-16 06:13] jcmoore0 opened #3365 "Append Mutation Returning JSONB as String"
I am finding an issue in v1.0.0-beta.10
Problem: Update mutation returns a jsonb field as string type.
The Json data is inserted into the database successfully.
Other (non json) fields in the reponse are ok.
The json field in the reponse is a proper string representation of the json and can be successfully parsed into an object with JSON.parse()

[code]

[2019-11-16 15:54] nirvdrum opened #3366 "Allow column presets with relationship from session variables"
Currently, column presets can either be static values or lookups from session variables. What I'd like to do is set a relationship value that's queried by a session variable. Specifically, I've been following the Auth0 + Hasura integration steps, but I'd really rather not use the Auth0 ID as the `users` table PK. Since users may change their login mechanism over time, there's no guarantee that the

[2019-11-16 20:16] andrewalex commented on #519
This would make things cleaner. Whatever design decision should take into consideration views/functions/etc

[2019-11-16 22:56] apvarun commented on #2583
Any update on this issue?

[2019-11-17 04:19] mitar commented on #2293
I have a slightly related question. How could I prevent related documents to be inserted and allow just the main one to be? So in example above, let's imagine that I do not want to allow defining new tags in such ad-hoc manner. I would only want a M2M relation so that I can select among existing tags. In a way, I would want that only the `on_conflict` case is allowed to be run.

[2019-11-17 09:49] hiovi commented on #2689
a --goto flag would save a lot of time when setting up a project on a new machine. At the moment I cannot apply all migrations in one go as they run out of memory on execution. So applying all versions up to a specific one would help.

[2019-11-17 18:28] afreix commented on #289
@miqvo were you able to solve your issue? I am running into a similar problem where `hdb_catalog.hdb_schema_update_event` does not exist.

I'm assuming that I might just have to recreate these tables manually but that sounds like a bad idea

[2019-11-17 20:44] mitar opened #3369 "Prevent creation of nested objects"
So when inserting an object you can currently provide also objects for its related tables and they are all inserted if missing. I would like to be able to disable insertion of related objects per query, so that I can catch any programming errors where I am assuming I am inserting the top-level object and referencing only existing related objects. Permissions do not help here because I would still

[2019-11-18 00:35] danoc commented on #2326
Cloud Run is now in GA and it seems like they're looking to support HTTP streaming:

https://twitter.com/ahmetb/status/1195200258877186049

Is that the same as WebSockets?

[2019-11-18 06:05] wawhal commented on #3352
I like solution (2). It seems like the right way to solve this problem.
Maybe we can allow configuring an instance `label` through the commandline that the console displays somewhere on the navbar. If this is possible, you can see the label `production`/`staging` etc on the console itself so that there is no confusion.

Thoughts @rikinsk ?

[2019-11-18 06:34] dvasdekis commented on #1532
Hey folks! It looks like both `curl` and `wget` are missing from the current container? Neither are in `/bin` , and additionally I get:
[code]
Any idea where they've gone? They're a prerequisite for these health checks

[2019-11-18 06:35] dvasdekis opened #3371 "CURL and WGET missing from current container"
Hey folks. It looks like both `curl` and `wget` are missing from the current container? Neither are in `/bin` , and additionally I get:
[code]
Any idea where they've gone? They're a prerequisite for the [health checks described here](https://github.com/hasura/graphql-engine/issues/1532).

[2019-11-18 06:44] rikinsk commented on #3366
@nirvdrum Hasura respects the permissions of the nested table while doing nested inserts. What this means is that once you have set the column preset for the `auth0_id` column in the `user` table, Hasura will try to use that preset whenever a user is being inserted, i.e. either directly or via relationships.

I am not sure if this solution works for you but you can head to the `user` table permiss

[2019-11-18 08:18] rikinsk commented on #3352
Sounds like a great idea.

I would break this into 2 parts:
- allow setting console labels/colour to differentitate between consoles
- display if the console is generating migrations or not (ie. cli vs server mode)

[2019-11-18 09:14] mitar opened #3373 "Order of multiple mutations in a request might be unspecified"
The example [here](https://docs.hasura.io/1.0/graphql/manual/mutations/multiple-mutations.html#run-multiple-top-level-mutations-transactionally) has:

[code]

But JSON generally does not have an order specified for keys of an object. So this means that it can happen that the order of `delete_article` and `update_author` is swapped. This can then lead to strange behavior.

[2019-11-18 09:37] shahidhk commented on #3371
@dvasdekis Health checks are typically done from outside the container. We do not package curl or wget in the interest of keeping the image size lean.

Can you give more hints on your use case?

[2019-11-18 10:02] dsandip opened #3374 "Running Hasura in production? We'd love to talk to you!"
Hi 👋 !

We are working on a few key features for teams that are running or want to run Hasura in production. We'd love to take you over these features over a quick call, and get your thoughts and feedback. If you would like to set up a demo, please fill up [this form](https://docs.google.com/forms/d/e/1FAIpQLSef2h7-D-X4OirAygrmsVnTouQNF1Qaw4F60Ehl2OOaIVlXOQ/viewform) & we'll get in touch asap! Tha

[2019-11-18 10:17] lexi-lambda commented on #3373
That is true. However, GraphQL queries are not JSON! Their *results* are encoded as JSON, but the queries themselves have a well-defined order. In fact, [the GraphQL spec](https://graphql.github.io/graphql-spec/draft/#sec-Mutation) specifies this behavior:

Therefore, there’s not actually any possibility for nondeterminism here—`delete_article` will always be executed before `update_author`.

[2019-11-18 10:17] #3373 closed

[2019-11-18 10:59] lexi-lambda commented on #3371
My guess is that @dvasdekis is interested in using the Docker built-in [`HEALTHCHECK` feature](https://docs.docker.com/engine/reference/builder/#healthcheck), which unfortunately only supports running commands inside the container.

That said, I’m not actually that familiar with `HEALTHCHECK`, since in all deployments of Docker I’ve used, the load balancer had some external mechanism for checking

[2019-11-18 14:08] rille111 commented on #1573
Would be very interested. Right now I just delete all nested relations and then just loop through what changes are made and insert them all. Ugly but works.

[2019-11-18 14:58] Fanarito commented on #2419
As a workaround I'm base64 encoding files and sending them as strings to hasura which then forwards the request to a remote schema that decodes the string. This does results in a 25% payload size increase which is not ideal but works otherwise.

[2019-11-18 15:57] rakeshkky commented on #3365
@jcmoore0, Thanks for reporting.
Please test the preview app in https://github.com/hasura/graphql-engine/pull/3375.

[2019-11-18 18:01] mitar commented on #2140
Could the fact that `now()` is accepted be documented somewhere?

[2019-11-18 18:31] jcmoore0 commented on #3365
Hi @rakeshkky- Thanks for the quick response.
I tried this one:
Docker image for server: hasura/graphql-engine:pull3375-e8fa447e
The issue is still present in this image.
Is this the right image where the fix is?

[2019-11-18 20:12] brcol187 opened #3376 "Delete table from Hasura console does not generate down migration"
Hello, dropping tables from "Hasura console" does not generate down migrations. I know raw SQL does not generate down migrations, but this happened to me by using the drop table button in the Hasura console.

Every other action seems to generate down migrations, it's only dropping tables that do not.

Is there a way to get Hasura to generate a down migration for this action? It is really important

[2019-11-18 20:56] dvasdekis commented on #3371
Correct @lexi-lambda - I'm personally using Docker-Compose, and in order to bring the containers up in the right order and ensure maintainability, the container has to be able to run a command that reports its health. In my case, I want this healthcheck to only be successful after the migrations have finished running. A command might be `curl -H "content-type: application/json" -X POST --data 'que

[2019-11-18 21:33] hiralsp commented on #678
Any update here?

[2019-11-18 22:10] darknoon opened #3377 "Stuck when trying to use Remote Joins preview"
In my fork of `graphql-engine-docker`, I used this line in the Dockerfile, but I can't seem to import my existing data
[code]

When I tried to replace my current dyno with one based on that docker image, it wouldn't boot up saying the schema was incompatible. I searched [the faqs](https://docs.hasura.io/1.0/graphql/manual/troubleshooting/index.html) but didn't get anything that looked relevant (ca

[2019-11-18 23:52] switz commented on #1964
My data is read-heavy, write-light. Would love to set a ttl cache on some queries. Curious if there are any plans to go forward with this.

[2019-11-19 00:33] afreix commented on #3366
@rikinsk I believe that I would like to do the same thing as @nirvdrum if I'm following correctly.

You described solution is quite what I'm after. Imagine a `users` table with a `id` column (UUID) and an `auth0Id` column (string). This keeps my code flexible in case I want to move off of Auth0 in the future.

 Ideally, I'd like to be able to have a column preset for a `userId` column on another t

[2019-11-19 01:07] tirumaraiselvan commented on #3377
@darknoon Your second approach of exporting/importing metadata is on the right track! Remote joins PR image is slightly behind master hence doesn't recognize the `computed_fields` feature. Do you mind manually editing the metadata file to remove the `computed_field` keys and then trying?

[2019-11-19 05:03] shahidhk commented on #3354
@barbalex In the meanwhile, I'd suggest resetting/squashing the migrations for this project if you cannot update max_locks setting. You can apply migrations on a local instance and then follow this guide to do so: https://blog.hasura.io/resetting-hasura-migrations/

You'll be creating a single migration from your current postgres state.

[2019-11-19 05:15] shahidhk commented on #3371
Looks like docker-compose recommends running a command inside the container to do health checks [[ref](https://docs.docker.com/compose/compose-file/#healthcheck)].

@dvasdekis I just checked the latest image and `wget` seems to be present at `/bin/wget`.

What version are you on?

[2019-11-19 05:29] CTOJoe opened #3378 "Mutations do not respect select permissions of a relationship"
As a new-comer to the Hasura GraphQL engine, I am very impressed with the functionality and performance of the project. I have been taking a deep dive into how we could utilize this project and potentially replace our current REST API backend.

While experimenting, I found it unexpected that mutations did not respect the select permissions of foreign key relationships.

Take the following basic sc

[2019-11-19 06:23] dvasdekis commented on #3371
I see it too now. I must have been on an old version. I'm so sorry, not sure why it didn't appear when I looked in the container I was running!
Thank you!!

[2019-11-19 06:23] #3371 closed

[2019-11-19 06:28] rakeshkky commented on #3365
Hi @jcmoore0, Apologies. I didn't push my complete work. I force pushed the PR commit. Please check the preview app.

[2019-11-19 06:35] dvasdekis commented on #3371
For those looking to use `wget` to perform GraphQL requests, the syntax is:
`wget --header 'content-type: application/json' --post-data='{ "query": "{ tbl_myschema_version  { version_id } }" }'`.

[2019-11-19 11:31] tibotiber opened #3379 "Need example for `hasura console --static-dir <path>`"
Hi,

In #521, @shahidhk [commented](https://github.com/hasura/graphql-engine/issues/521#issuecomment-471462897) that we could get the CLI console to serve static files while offline by running `hasura console --static-dir <path>`. I've been trying to use that but can't figure out a correct `path` value.

Is this approach still valid? Would you mind providing an example path?

Thanks!

[2019-11-19 11:44] rikinsk commented on #3379
this might help https://docs.hasura.io/1.0/graphql/manual/deployment/graphql-engine-flags/config-examples.html#load-console-assets-from-server-instead-of-cdn

[2019-11-19 12:12] rikinsk commented on #3366
@afreix I sort of understand your requirement but am not sure how you plan to use this. Can you share a sample schema with tables, relationships and the mutation you would want to run. Would help understand the full expectations and ideate without making any assumptions.

[2019-11-19 12:21] rikinsk commented on #3376
This is in a way intentional but far from ideal. As when we drop a table all its depended objects such as indexes, constraints, triggers, etc. get dropped as well it is quite hard to come up with an accurate down migration which would recreate all these objects.

That being said we should definitely try to do the best we can and display a Warning mentioning that the generated down migrations might

[2019-11-19 12:30] rakeshkky commented on #3378
Hi @CTOJoe, Thank you for trying out Hasura :slightly_smiling_face:

You've to explicitly define the `update` permissions on `Account` to only allow `user` to set any `plan_id` where `Plan.public` is `true`.

I'm using the following Postgres schema to replicate your use case (using `integer` for `id`)

[code]
After tracking tables and creating required relationships, the update permission defined

[2019-11-19 12:31] #3276 closed

[2019-11-19 13:19] nirvdrum commented on #3366
@afreix's explanation is indeed what I'm looking for.

The schema looks like:

[code]

The session variable `X-Hasura-User-Id` contains the `users.auth0_id` value. There's no need for a column preset on the `users` table because I'm using an [Auth0 rule to create the user](https://docs.hasura.io/1.0/graphql/manual/guides/integrations/auth0-jwt.html#sync-users-from-auth0) upon signup/login. I did h

[2019-11-19 13:28] tibotiber commented on #3379
Thanks @rikinsk.

So I had seen this and my setup is based on it. I have the following in my hasura engine config
[code]
and I open the console with
[code]
What am I getting wrong?

[2019-11-19 14:48] chinapenser commented on #3357
https://docs.hasura.io/1.0/graphql/manual/queries/custom-functions.html
The document said "Function behaviour: ONLY STABLE or IMMUTABLE", is it means I can not insert/update with the "SQL"? @ecthiender

[2019-11-19 15:01] ivan333m opened #3380 "passing custom headers into column presets on insert/update"
I'm getting following error on insert after "Permissions" -> "Column presets" setup with custom header (x-hasura-xxccvv)

`{"timestamp":"2019-11-18T16:15:16.701+0000","level":"error","type":"http-log","detail":{"operation":{"query_execution_time":null,"user_vars":{"x-hasura-role":"my-role","x-hasura-user-id":"zde-journey"},"error":{"path":"$","error":"\"x-hasura-xxccvv\" header is expected but not

[2019-11-19 16:42] CTOJoe commented on #3378
Thanks for the quick response. Unfortunately the rule only denies the role of `user` from updating an `account` where the related `plan` has `public` equal to `true`. This does not prevent the `user` role from setting the `plan_id` to one that is outside their select permission scope.

To re-produce the unexpected outcome I am talking about, please start with an empty database and run the followin

[2019-11-19 19:29] marionschleifer commented on #1606
Closing this in favour of #519.

[2019-11-19 19:29] #1606 closed

[2019-11-19 19:59] marionschleifer commented on #1631
Hi everyone 👋 we published a guide on JWTs that includes token expiration, as well as refreshing tokens: https://blog.hasura.io/best-practices-of-using-jwt-with-graphql/. I'm closing this. Feel free to re-open in case you would like to add something 🙂

[2019-11-19 19:59] #1631 closed

[2019-11-19 20:30] marionschleifer commented on #2552
@shahidhk is this still an issue? Do we have any more info on this?

[2019-11-19 20:50] marionschleifer commented on #2346
Removing the `wip` label until a PR is linked here.

[2019-11-19 21:36] barbalex commented on #3354
@shahidhk
Sorry, I'm not entirely sure I'm understanding this correctly.

Does that mean to run `TRUNCATE hdb_catalog.schema_migrations;` on the server? (I am not using a local instance yet)

[2019-11-19 21:56] beepsoft commented on #2576
@0x777 Is this issue still being worked on? Do you have an estimate when this could be fixed? Thanks!

[2019-11-20 05:41] tirumaraiselvan commented on #3336
@mitar This can be accomplished through computed fields: https://docs.hasura.io/1.0/graphql/manual/schema/computed-fields.html#computed-fields

[2019-11-20 05:45] shahidhk commented on #3379
@tibotiber `--static-dir` for the Hasura CLI refers to a local directory where console assets are present. You can get these assets by cloning the graphql engine repo and building the console yourself.

[code]

Now go to your Hasura project and execute the console command:
[code]

Here is a zip file in case you don't want to build them: [dist.zip](https://github.com/hasura/graphql-engine/files/386

[2019-11-20 05:47] m0ngr31 opened #3381 "Failed to build schema-cache because of inconsistent metadata"
Trying to upgrade from beta6 to beta10, and I get this message when I try to start the docker. I got the same error going to beta9 too.

I'm guessing I need to post my metadata so someone can tell me what the issue is with my config?

[code]

[2019-11-20 05:50] shahidhk commented on #3354
@barbalex Sorry, I mistook Hausura's internal catalog migrations to the schema/metadata migrations. [My suggestion](https://github.com/hasura/graphql-engine/issues/3354#issuecomment-555334639) is not valid anymore.

We need to wait for @lexi-lambda to put in a fix. In the meanwhile, increasing `max_locks_per_transaction` is the only way.

[2019-11-20 05:51] shahidhk commented on #3362
@barbalex It usually takes a couple of minutes for the Droplet to execute all startup scripts which also creates the `/etc/hasura` directory. How long did you wait before SSH-ing and accessing the file?

[2019-11-20 05:55] shahidhk commented on #2552
@marionschleifer We can try to repro and close this if all is well.

[2019-11-20 06:04] shankariyerr commented on #2036
This happened to us today => `v1.0.0-beta.6` . Thanks to @tirumaraiselvan 's answer, we've removed the listener for the geometry column. Is the fix available in versions post `v1.0.0-beta.6` ?

[2019-11-20 06:07] tirumaraiselvan commented on #2036
@shankariyerr Yes, it's available from beta7 onwards !

[2019-11-20 06:08] shankariyerr commented on #2036
Thanks, will update.

[2019-11-20 06:11] shahidhk commented on #3333
@tibotiber Environment variables are read using https://github.com/spf13/viper/

You will need to add a new option to the `ExecutionContext` at https://github.com/hasura/graphql-engine/blob/master/cli/cli.go#L124-L185 and then assign value from `readConfig` at https://github.com/hasura/graphql-engine/blob/master/cli/cli.go#L303-L326

Later use the value by changing the function at https://github.c

[2019-11-20 06:11] rakeshkky commented on #3381
Hi @m0ngr31, Please try upgrading to `beta.8` first and then to `beta.10`.

[2019-11-20 06:20] #2720 closed

[2019-11-20 06:21] rakeshkky commented on #3380
Hi @ivan333m, Please confirm the header `x-hasuraxxccvv` is present in your JWT claims.

[2019-11-20 06:39] #2552 closed

[2019-11-20 06:47] #2322 closed

[2019-11-20 06:53] marionschleifer commented on #3357
@chinapenser We only support `STABLE` and `IMMUTABLE` functions which means the function cannot modify (mutate) any data. Only reading is possible. Also, we only support functions for queries, hence we don't support any function that can mutate.

[2019-11-20 06:54] ivan333m commented on #3380
Hi @rakeshkky, `x-hasuraxxccvv` is not  present in my JWT token but I added it as header in console.
Is it possible to use headers for this functionality?

[2019-11-20 07:08] rikinsk opened #3382 "cli console should use local assets if the server is configured to do so"
currently the console run via the CLI uses cdn assets even if the server is configured to use local assets

[2019-11-20 07:09] m0ngr31 commented on #3381
No error in the logs this time, but it fails to load the console with a 502 error.

[2019-11-20 07:09] rikinsk commented on #3379
I would like to add a note that I would have expected the CLI console to also use the local assets from the docker image like the server console does. Tracking this via #3382

[2019-11-20 07:21] tibotiber commented on #3382
agreed, especially useful to not end up with local assets at a different version from the engine.

[2019-11-20 07:22] rikinsk commented on #3357
As Marion mentioned we don't support such a functioanlity at the GraphQL layer. You can use Postgres directly to achieve this. See https://docs.hasura.io/1.0/graphql/manual/schema/default-values/sql-functions.html for a guide on how to do this

[2019-11-20 07:32] tibotiber commented on #3333
Thanks @shahidhk, super useful pointers. I'll try this soon and post back on progress (or lack thereof 😬)

[2019-11-20 07:37] tibotiber commented on #3379
Thanks @shahidhk, the dist archive is empty but i've cloned and built and it works.

I'll support @rikinsk's issue as this is extra setup that could be improved and to avoid having the engine / cli / local assets end up at different versions and causing hard to debug issues. Really cool that I can work offline already though :)

[2019-11-20 07:37] #3379 closed

[2019-11-20 07:42] #3357 closed

[2019-11-20 08:21] rikinsk commented on #3366
Thanks for the extremely detailed explanation.

I see how this is a very valid use case and would appear to be a natural fit for presets. It would be an interesting discussion to see how we could make that work.

Although, when thinking about auto-deriving of foreign-key values, we should probably think of using relationships. Hasura allows [nested inserts](https://docs.hasura.io/1.0/graphql/manua

[2019-11-20 08:41] mitar commented on #3336
Hm, but I cannot use that as a primary key, no? Also, can I query by computed fields, use them in `where` clause? Because they are not backed by the index?

[2019-11-20 08:58] wc-matteo commented on #2881
I was looking for the same thing. It would be quite useful!

For example [apollo](https://www.apollographql.com/docs/react/caching/cache-configuration/#default-identifiers) uses it for caching.

[2019-11-20 09:27] barbalex commented on #3362
@shahidhk I don't remember how long exactly. A few minutes. But the droplet still exists and there still is no `/etc/hasura` folder

[2019-11-20 09:27] wawhal opened #3386 "more info about sections on table modify page"
Each section could lead to docs talking about the usage and best practices of those sections.

[2019-11-20 09:28] wawhal commented on #3386
@rikinsk thoughts?

[2019-11-20 09:35] barbalex commented on #3362
I just created another droplet using https://cloud.digitalocean.com/marketplace/5bd33150d43c37675ac3a3c4?i=8af0b2. Exact same result.

[2019-11-20 09:53] marionschleifer commented on #2586
@mouneshg I'm closing this issue. Feel free to re-open any time if you'd like to add details on this error 🙂

[2019-11-20 09:53] #2586 closed

[2019-11-20 09:53] marionschleifer commented on #2433
@sgrove I'm closing this. Feel free to re-open if you'd like to add anything 🙂

[2019-11-20 09:53] #2433 closed

[2019-11-20 09:55] rakeshkky commented on #3336
@mitar Currently there's no support for computed fields in `where` clause.

[2019-11-20 09:57] tirumaraiselvan commented on #1686
This issue was brought up by another user recently who got confused byt this. Why can't the header be passed as something else instead of `x-hasura-`?

The problem is that it might be confusing to have `x-hasura-` headers coming from the client directly when the user is unauthenticated (as it is dropped when the user is authenticated). It might be perceived that the value is infact resolved by has

[2019-11-20 10:07] woba-nwa opened #3388 "Memory usage accumulating over time until crash / restart"
Since installing Hasura beta 9 (along with other updates to our system), we experience a gradual increase in memory usage over time. We are hosted on Heroku, and may have been saved by the daily dyno restart prior to yesterday.
Yesterday, we had enough, heavy queries however to max out our memory during the day and a manual restart was required. Heavy queries does seem to be responsible for the be

[2019-11-20 11:29] shahidhk commented on #3362
I created a droplet and it worked fine. Can you give me more info on the droplet size, region and all other configuration options?

Also, check the contents of this file: `/var/log/cloud-init-output.log`

[2019-11-20 11:45] djimmo commented on #2952
Is there currently any workaround to still be able to insert records in a table without the client getting primary key information? I am facing a similar challenge:

I have 3 tables:
- user (primary key: userId)
- event (primary key: eventId)
- user_event (primary key: eventId, userId)

For an existing user and existing event, I would like to be able to insert a record into the user_event table. O

[2019-11-20 12:10] shahidhk commented on #2770
We can switch to JSON logging for CLI if a non-tty environment is detected.

[2019-11-20 12:29] barbalex commented on #3362
The output from `/var/log/cloud-init-output.log` is:

[code]

[2019-11-20 12:31] barbalex commented on #3362
The droplet settings are:
- plan: standrad
- $5/mo
- region: Frankfurt
- additional options: Monitoring
- Authentication: SSH keys
- changed hostname
- no tags
- enabled backups

[2019-11-20 12:33] barbalex commented on #3362
I created this droplet just as an experiment. And have done nothing else than clicking the create button.

If it weren't for the ssh key I would send you the credentials needed...

[2019-11-20 12:56] thefliik commented on #2952
@djimmo none that I know of. At the moment, I've decided to only use Hasura on the client for querying, while performing all mutations on the server using other tools.

[2019-11-20 13:20] rikinsk commented on #3336
@mitar Can you explain in more detail what is the behaviour you are expecting. Maybe a sample schema along with the request you want to run will help

[2019-11-20 13:37] rikinsk commented on #2952
Related to #3366

This could be resolved if it were possible to add nested objects via the update mutation.

Something roughly along the lines of:

[code]

This is a feature being worked on and should be released soon.

[2019-11-20 14:49] barbalex commented on #3354
Thanks for this very good and transparent information.

So I know that if I want to update or if I run into any problems before the issue is solved, I will have to migrate the db to a virtual droplet so I can increase `max_locks_per_transaction`.

[2019-11-20 16:31] marionschleifer commented on #2873
@udhayamgit I'm closing this issue. Feel free to re-open if you would like to add something 🙂

[2019-11-20 16:31] #2873 closed

[2019-11-20 17:05] marionschleifer commented on #2818
I'm closing this. Feel free to re-open if there is anything to add to this 🙂

[2019-11-20 17:35] marionschleifer commented on #3308
@barlock were you able to solve the issue? If yes, could you please close it? 🙂

[2019-11-20 17:36] marionschleifer commented on #3080
@skunkwerk I'm closing this issue. Feel free to re-open if you'd like to add something 🙂

[2019-11-20 17:36] #3080 closed

[2019-11-20 17:37] marionschleifer commented on #3326
@mshanak I'm closing this issue. Feel free to re-open if you'd like to add something 🙂

[2019-11-20 17:37] #3326 closed

[2019-11-20 20:07] darknoon commented on #3377
@tirumaraiselvan Since I can't start the remote joins branch using my existing database, I tried to import the metadata from the old database. It doesn't like that because the new database doesn't have matching tables.
I tried doing a restore of the old database onto the new instance and now I get this error everywhere.

Tried doing a metadata reset, reimporting, etc. Nothing is working for me.

<

[2019-11-20 23:04] pnappa commented on #1686
Hi, I was the user that reported this as an issue in the email to you, @tirumaraiselvan.

I strongly believe that this is indeed a dangerous behaviour to have by default in Hasura, due to the perceived authority of the `X-Hasura-` headers. When a valid JWT is provided, the `x-hasura-user-id` is populated with the user-id contained within the JWT. It is likely that a unwitting web-developer only te

[2019-11-21 00:29] vonwao opened #3390 "persist columns order / collapsed status in console browse rows section"
It would be nice to order columns in some persistent way so that important data can be always seen without horizontal scrolling in data table.

AND/OR saving collapsed columns in data table across page refreshes.

[2019-11-21 01:41] lexi-lambda commented on #2022
It’d definitely be helpful to be able to reproduce this locally. Are you able to trigger the issue consistently? If so, it would probably be helpful if you could share some details about the environment you’re running Hasura in.

[2019-11-21 01:49] lexi-lambda commented on #3305
@rakeshkky Does #3143 resolve this issue, or is there something else that still needs to be done?

[2019-11-21 02:29] barlock commented on #3308
I worked around it the way I described but I still think it's probably a bug. I forgot about making a minimal example 😅. Thanks for the bump.

[2019-11-21 03:09] nirvdrum commented on #3366
Thanks for the suggestion. It's a little kludgy, but I got it working. For anyone else interested, this is what I had to do:

First, enable insert permissions on the `users` table from the `user` role. In my case, I only had inserts enable for the `admin` role because I didn't want clients being able to create users on their own. I use an Auth0 rule to create the users. However, without the insert

[2019-11-21 05:00] rakeshkky commented on #3305
@lexi-lambda No. #3143 only support root SQL function queries to access session information. This needs to be done.

[2019-11-21 05:28] pnappa commented on #3390
I would also like to see columns in the drop downs when defining permissions to be consistent too (preferably alphabetic ordering!). :)

[2019-11-21 07:32] shahidhk commented on #3354
@lexi-lambda Do you think another option would be to start with a clean slate on the latest version and then applying the migrations would be another workaround?

[2019-11-21 07:34] shahidhk commented on #3362
I'll try with this configuration and get back @barbalex

[2019-11-21 08:08] tirumaraiselvan commented on #3377
@darknoon

This is not enough because the remote joins branch also has a different catalog (hasura metadata table) structure. And this is also why replicating the database is also going to through the same error i.e. a hasura table (hdb_remote_relationship) is missing.

This is what you need to do. Completely remove hasura from the new db (where you want remote joins):

1.  Stop Hasura and `drop s

[2019-11-21 08:27] marionschleifer commented on #3254
@divramod I'm closing this issue. Feel free to re-open if you'd like to add anything to it 🙂

[2019-11-21 08:27] #3254 closed

[2019-11-21 08:31] marionschleifer commented on #2912
@chrisheseltine just checking if your problem is solved? 🙂

[2019-11-21 08:42] #277 closed

[2019-11-21 08:55] rikinsk commented on #3366
@nirvdrum It's great to see you got it working. My initial suggestion was going to be this exact solution but I decided not to share it because of its kludgy nature as you mentioned.

I believe something along the lines of https://github.com/hasura/graphql-engine/issues/2952#issuecomment-556006686 will make this much neater by avoiding all the effort going into making the dummy insert work.

We'll

[2019-11-21 09:04] rikinsk commented on #3366
Also just wanted to add regarding:

The mutatiion and its returning fetch are executed as a part of a transaction so you will not have to worry about race conditions

[2019-11-21 09:29] marionschleifer commented on #3380
@ivan333m if you have JWT mode enabled, all the headers need to be passed in the JWT claims. You find more detailed information on this in our docs: https://docs.hasura.io/1.0/graphql/manual/auth/authentication/jwt.html 🙂

[2019-11-21 09:40] shahidhk commented on #3362
@barbalex It looks like there is indeed a problem when monitoring is enabled. The script that install DO's monitoring agent goes into an inconsistent state and blocks execution of other scripts, including Hasura's installation.

If you create a droplet without Monitoring everything should work. I have opened a ticket with DO, you could also open another one.

[2019-11-21 09:41] ivan333m commented on #3380
Thanks @marionschleifer.
We would to have such functionality (passing arbitrary/custom headers into column presets on insert/updates) as it seems to be very useful feature; imagine a scenario when one wants to track incoming requests Ids into db tables whose are to be passed just as a http graphql headers.
What about to transform the issue into a change/feature request?
We ll appreciate your "yes"

[2019-11-21 09:47] tirumaraiselvan commented on #3380
Related to https://github.com/hasura/graphql-engine/issues/1601

[2019-11-21 09:56] shark-h opened #3391 "Unexpected radio behaviour in table edit item"

[2019-11-21 11:22] shahidhk commented on #3362
@barbalex Response from DO:

Will you close the issue if this solves your problem?

[2019-11-21 11:30] barbalex commented on #3362
@shahidhk
Yes, it works without monitoring.
Thanks a lot for caring. Sorry for bugging you with issues that were not yours. Closing.

[2019-11-21 11:30] #3362 closed

[2019-11-21 11:45] praveenweb commented on #3390
Duplicate of #1622

[2019-11-21 12:00] uniyalaa opened #3392 "immutability of images published"
Hello,

Could you please confirm that if a patched version of the image is released, e.g. for an OS patch or a software patch, is it re-released with the same tag (effectively over the top of the previous tag) or is it always given a new tag (e.g. traditional semantic versioning)?

We want to ensure that we have an immutable copy of every image we import.

Thanks,
Aastha

[2019-11-21 12:20] rikinsk commented on #3391
@shark-h Can you add a quic description as well

[2019-11-21 12:32] rikinsk commented on #3390
Just adding a note to avoid confusions. The scope of issue seems to be to add a feature where the status of columns order/collapsed is persisted on the UI in the Browse rows screen.

#1622 is looking to update the order of columns in the postgres database via the UI

[2019-11-21 15:25] matejbasic opened #3395 "Running hasura as a dependency service in an gitlab CI job"
Hi,

does somebody have example of running hasura graphql engine as a service in some job?
Concretely, I want to run two services, psql DB and graphql engine (CLI migrations image)  as services for one pytest job. Problem is that I'm not able to set psql DB as a dependecy for graphql engine.

Thank you,
Matej

[2019-11-21 16:34] alexander-alvarez commented on #2022
I have a bit more info into what caused this happening consistently on my end.

My setup including having an node.js express server in front of the hasura server acting as a proxy, and I accidentally added a json body parser to my server before the proxying which caused everything to be fubar.

Changing the order of the middlewares prevented this issue from happening. So on hasura side maybe if th

[2019-11-21 17:17] divramod opened #3396 "Access hasura console remotely"
Hey,

i have hasura running on a remote server for development.
i can successfully access hasura via my.ip:9080 and the console with http://my.ip:9080/console

now i stumbled over the awesome hasura migrations feature and followed the guide here: https://docs.hasura.io/1.0/graphql/manual/migrations/existing-database.html

I reached step 4 successfully, but have a problem from there:
![image](https

[2019-11-21 17:32] zolamk opened #3397 "TypeError: "t[n] is undefined""
hasura beta.10 displays the following error when removing id field

`n/<@https://graphql-engine-cdn.hasura.io/console/assets/channel/beta/v1.0/main.js.gz:1:1711267
n@https://graphql-engine-cdn.hasura.io/console/assets/channel/beta/v1.0/main.js.gz:1:1710230
n@https://graphql-engine-cdn.hasura.io/console/assets/channel/beta/v1.0/main.js.gz:1:1711458
pa@https://graphql-engine-cdn.hasura.io/console/as

[2019-11-21 18:26] cooldesigns commented on #1186
I think rails have to has hasura extension that makes automatic API calls to hasura.

I not prefer use rails migrations on a new project. But when I done migrations with hasura, rails dosn't now relationships. Also rails activestroage migrations is a problem. Also if use a gem that makes migration, it is not comfortable. If anybody want to work about this topics, I want to work too.

[2019-11-21 22:00] barlock commented on #3308
Example Mutation (This fails)
[code]

What I'm eventually trying to query
[code]

<details>
<summary>up.sql</summary>

[code]

</details>

<details>
<summary>up.yaml</summary>

[code]

</details>

[2019-11-21 22:08] chrishare08 opened #3398 "healthz API returns OK not 200"
Documentation says the healthz API returns a 200 on success and a 500 on failure.  This is not what happens.  The API returns the text string "ok".

[2019-11-21 22:10] lexi-lambda commented on #3398
The healthz endpoint returns an HTTP status code of 200 on success and a status code of 500 on failure—the actual response body is not especially meaningful. Are you seeing something else? And if so, what status code are you seeing?

[2019-11-21 22:27] vonwao commented on #3390
I suppose something similar could be achieved by creating a view from a table, then I assume you can specify the order of columns in the results.  But, it's kind of a pain and you end up with extra stuff in your DB.

[2019-11-21 23:06] mitar opened #3399 "Send only a diff for live queries"
Currently, live queries re-send whole state every time. Even for mid-sized queries with few KBs of data, this can mean quite some traffic.

Would it be possible to provide some way to enable diffing and sending only changes? Maybe computing a JSON patch against a previous version and send that over? That would probably require storing query results on the server though, to do such diffing, so it s

[2019-11-21 23:10] mitar commented on #2317
What has this with Redis?

[2019-11-21 23:35] lexi-lambda commented on #2022
If it’s something relatively easy to reproduce and you can share steps to reproduce it, we can definitely take a look to see what’s going on. That said, I’m not able to provoke the error you describe just by sending malformed input at the server, and the error itself is cryptic enough that I don’t have much of a clue what it could be, so without some way to reproduce the issue, I don’t know there’

[2019-11-22 00:28] lexi-lambda commented on #3354
I’m not completely certain. It might help, but it might not, since even squashed migrations could trigger the issue (since they still have individual calls to things like `track_table`, IIUC?). If absolutely necessary, it would probably work to drop the catalog information and reapply the metadata in batches so that there aren’t too many individual query operations in each `bulk` batch.

Hopefully

[2019-11-22 01:33] alexander-alvarez commented on #2022
I understand. If I get some free cycles in the coming weeks I'll try to get an end to end demo and send it over!

[2019-11-22 02:23] mitar opened #3400 "Running "hasura migrate squash" returns useless error message"
[code]

[2019-11-22 02:23] mitar commented on #3400
(I wanted to squash all migrations together into one migration.)

[2019-11-22 02:25] mitar opened #3401 "Trying to squash all migrations into one migration hungs"
I want to squash all migrations into one migration. I run:

[code]

Where `1573758077021` is timestamp of the first migration. And it just runs and hangs at:

[code]

And rotates but does not do anything. Does `hasura console` has to be running?

[2019-11-22 03:31] shahidhk commented on #3396
@divramod You should execute `hasura console` from your development machine or the client machine. It will contact Hasura using `my.ip:9080`. You should not execute `hasura console` on the same server as Hasura GraphQL Engine is running.

[2019-11-22 03:33] shahidhk commented on #3400
tracked in https://github.com/hasura/graphql-engine/issues/3401

[2019-11-22 03:35] shahidhk commented on #3401
@mitar There are some known issues with `squash` command that we are working on. Is it possible for you to share your migrations so that we can run some tests locally? You can either emaik it to me at shahidh@hasura.io or DM me on https://hasura.io/discord at `shahidhk#0931`.

[2019-11-22 04:20] mitar commented on #3401
I just sent them to your e-mail.

[2019-11-22 04:21] mitar commented on #3400
I do not think this is related to #3401. The issue here is, I think, the lack of the argument about migration?

[2019-11-22 04:35] mitar commented on #3336
I just send my migrations to @shahidhk for help with #3401. You can see there what I have.

I have some primary keys a 160bit binary blob. Which I represent as `bytea` data type. But the issue is that this is exposed through GraphQL as a PostgreSQL specific encoding of binary. I would prefer if that would be exposed through base64. And that then I could also do `documents_by_pk` and provide such b

[2019-11-22 04:43] shahidhk commented on #3401
Will check and get back.

[2019-11-22 05:52] mnlbox commented on #1622
@coco98 Any news or progress on this?

[2019-11-22 06:01] mnlbox commented on #289
@shahidhk Please reopen this issue for more better ducumentation.

[2019-11-22 07:00] #3022 closed

[2019-11-22 07:02] marionschleifer commented on #3244
Closing this in favour of #2699 🙂

[2019-11-22 07:02] #3244 closed

[2019-11-22 07:34] rikinsk commented on #3308
I believe the mutation you are looking for is:

[code]

Could you clarify more on what you mean by this

[2019-11-22 11:07] wc-matteo opened #3404 "Flag a table as a many to many (m2m) bridge/junction/join table to allow automatic flattening"
I read the [docs](https://docs.hasura.io/1.0/graphql/manual/schema/relationships/database-modelling/many-to-many.html#flattening-a-many-to-many-relationship-query) about manually creating views to flatten m2m relationships. But that's cumbersome and discouraged.

What about a way to flag a table as bridge/junction/join table? Then the graphql engine could flatten the result automatically.

[2019-11-22 11:20] rikinsk commented on #3397
@zolamk Can you describe in more detail what exactly you were trying to do. a sample schema and directions to replicate the issue will help

[2019-11-22 12:42] chrishare08 commented on #3398
MacBook-Pro-2:.ssh robert.hare$ curl http://172.31.3.214:8080/healthz
OK
MacBook-Pro-2:.ssh robert.hare$ curl -v http://172.31.3.214:8080/healthz
*   Trying 172.31.3.214...
* TCP_NODELAY set
* Connected to 172.31.3.214 (172.31.3.214) port 8080 (#0)

< HTTP/1.1 200 OK
< Transfer-Encoding: chunked
< Date: Fri, 22 Nov 2019 03:52:43 GMT
< Server: Warp/3.2.27
<
* Connection #0 to host 172.31.3.214 left

[2019-11-22 14:44] matejbasic commented on #3395
Just fyi, as I only need to apply migrations to DB so I can make sql queries in tests against it, I have wrote a script to do it before running a test job. So, you can close this issue as it's resolved for me.

[2019-11-22 15:29] barlock commented on #3308
☝️ I discovered my data was wrong. It was working correctly.

Interesting, your mutation works.

Found the link to [docs](https://docs.hasura.io/1.0/graphql/manual/mutations/insert.html#insert-an-object-along-with-its-related-objects-through-relationships) too:

Thanks for the help.

[2019-11-22 15:29] #3308 closed

[2019-11-22 16:32] divramod commented on #3396
hmm, ok. i thought, i could somehow avoid that.
i am developing remote only.
so to have the migrations directory tracked by my git rep i now need to clone it to my local machine too.

is there a reason i should avoid to run hasura console on the same machine as the graphql engine?

[2019-11-22 18:16] nirvdrum commented on #3366
@rikinsk Thanks for clarifying the transaction part. I amended my comment. I hadn't gone spelunking through the code yet, but the hasura logged statement output didn't look like it was using a transaction. So, I wasn't really sure what to make of that.

[2019-11-22 19:03] amrnt commented on #3398
It says `200 OK` whats the problem?

[2019-11-22 21:17] iamkhalidbashir commented on #2599
Any update on this?
This feature is pretty much needed.

[2019-11-22 21:21] iamkhalidbashir commented on #2599
https://blog.hasura.io/postgres-triggers-on-graphql-mutations-682bf48db023/

This blog post raises the exception and is received by the client, but the same doesn't happen on our hasura client front

[2019-11-23 04:19] veeral-patel opened #3405 "schema.graphql to server"
Thank you for Hasura -- it's a great tool! I'm wondering if I can turn a schema.graphql file into a Hasura server. I already have a schema.graphql file and I don't want to create DB tables for it manually in the UI.

Thanks!

[2019-11-23 04:53] veeral-patel commented on #3405
Reading the docs, I don't think this is possible. But I can create the tables manually the first time in the UI, and then export the Hasura metadata and import it in the future when using Hasura again. Thanks!

[2019-11-23 04:53] #3405 closed

[2019-11-23 07:20] shahidhk commented on #3392
We will not make updates to the released images. We'll follow semantic versioning and a new tag will be issued for all patches.

[2019-11-23 09:55] tibotiber commented on #3333
Posted an PR attempt at #3406 :)

[2019-11-23 14:06] ElixirMike opened #3407 "Any issues with updating Hasursa schema via multipe, simulatenous users?"
We are modeling out an application and looking to use Hasura. The use-case here needs to support tens of thousands of users, each making their own DB /permission/table/relationship changes.
Each of the users (in the thousands), will have their tables in a separate schema (on same DB though).

My my research, Postgres should be handle this type of volume (These are small tables).
But, will Hasura w

[2019-11-23 18:10] zwl1619 opened #3408 "Could add PWA in `nextjs-postgres-graphql` boilerplate?"
Hi,
I want to try PWA  in [nextjs-postgres-graphql](https://github.com/hasura/graphql-engine/tree/master/community/sample-apps/nextjs-postgres-graphql) boilerplate.
Could add this feature in this boilerplate?
Thanks!

[2019-11-24 02:39] nh2 commented on #724
@colundrum

That is a common situation, there is an easy fix by adding the library flags via pkgs-config, see https://github.com/nh2/static-haskell-nix/issues/57#issuecomment-544211259

It should build only once and then cache the results. It should not compile kernels (those should be fetched from `cache.nixos.org`). It will compile GHCs, but you can also use my binary cache as described on https

[2019-11-24 05:58] timeshift92 opened #3409 "how to get all query_root ?"
hello i have write admin template with crud and i need to get all queries in hasura.

[2019-11-24 17:28] boydenhartog commented on #3300
@ecthiender thank you. I decided to move on with a different backend because of a tight deadline. I will give Hasura another try for my next project as it looks great!

[2019-11-24 23:59] Albert-Gao commented on #3409
You just use the apollo command:
**If you want a JSON output:**
`apollo client:download-schema ./src/graphql-schema.json`

**If you want a GraphQL schema output:**
`apollo client:download-schema ./src/graphql-schema.graphql`

You need to setup your apollo CLI with your hasura admin key

[2019-11-25 03:18] c19 opened #3411 "v1 beta 9 after running for ~10 days, won't returning anything for a particular subscription."
I have 4 subscription.
all 4 are working fine yesterday.
today I found that the 4th one won't return anything, no matter how. all code checkouted as it is yesterday.
hasura logs show that I mistakenly send a "1" as id arg instead of int 1. Also I mistakenly send  the 4th subscription twice.
Don't know if that has something to do with it.
no errors ever shown. It just didn't respond, but hasura log

[2019-11-25 06:54] timeshift92 commented on #3409
thanks =)

[2019-11-25 06:54] #3409 closed

[2019-11-25 06:55] tirumaraiselvan commented on #3409
You can also use graphqurl : https://github.com/hasura/graphqurl#export-schema

[2019-11-25 07:29] rakeshkky commented on #3223
@karibertils As per [GraphQL spec](https://graphql.github.io/graphql-spec/June2018/), unfortunately, input fields do not support arguments.

[2019-11-25 07:43] rakeshkky commented on #3223
@leoalves
As far as I can see, we can support computed fields whose underlying functions accept only one input argument (table row type) and return scalars in `where` and even in `order_by`. Since the table row argument is auto-determined and no need for `args` if arguments other than table row argument are not found.

[2019-11-25 08:11] shahidhk commented on #3395
@matejbasic The script could also make use of hasura CLI to apply migrations. :) Let me know if you have other questions around this. Closing the issue as you suggested.

[2019-11-25 08:11] #3395 closed

[2019-11-25 08:12] shahidhk commented on #3392
@uniyalaa Closing the issue as the question is answered. Feel free to re-open if you have any follow-ups.

[2019-11-25 08:12] #3392 closed

[2019-11-25 08:17] aislanmaia commented on #2477
Since hasura is many times compared to firebase, is possible to Hasura offers offline out-of-box as firebase offers ?

[2019-11-25 08:30] rikinsk commented on #3407
@ElixirMike In most typical apps the schema is not updated in production. So this is a slightly unusual use case. Could you share a bit more info about what you are trying to achieve and how. e.g. how would the users be modifying the schema?

[2019-11-25 08:46] toanhonestbee commented on #2477
@aislanmaia Firebase offline is under the hood a client SDK that store data cache in local storage. Hasura is a backend solution only, however, you can use Apollo client cache https://github.com/apollographql/apollo-cache-persist to do similar mechanism.

[2019-11-25 08:47] hgiasac commented on #2477
@aislanmaia Firebase offline is under the hood a client SDK that store data cache in local storage. Hasura is a backend solution only, however, you can use Apollo client cache https://github.com/apollographql/apollo-cache-persist to do similar mechanism.

[2019-11-25 10:34] 0x777 opened #3415 "support postgis 3.0"
When running the current test framework against PostGIS 3.0 (using the docker image `hasura/postgres:12.1-1`), there seem to be errors along these lines:
[code]
Also from PostGIS 3.0, `raster` support has to be explicitly enabled with `CREATE EXTENSION postgis_raster`.

[2019-11-25 11:02] 0x777 commented on #3411
@c19 Can you give us a minimal reproduction (or your schema + query if that's an option)?

[2019-11-25 11:33] rikinsk commented on #2816
related to #3382

[2019-11-25 11:34] 0x777 commented on #3378
Hi @CTOJoe, thanks for the detailed explanation. Our current update permission system lacks this [feature](https://github.com/hasura/graphql-engine/issues/384), i.e, you cannot specify a constraint (like the `check` constraint in insert permissions) on the **updated** data. Our recommendation till we add this feature is to disallow updating such columns or write a Postgres trigger which would reje

[2019-11-25 12:23] bkniffler opened #3417 "User impersonation when x-hasura-admin-secret is present"
Hey,
I'd like to know if it is possible to set x-hasura-user-id without embedding it in an accessToken if the x-hasura-admin-secret is present, effectively bypassing the Authorization header. The use case is a server that, on behalf of the user and with the admin-secret, would access the database and the data would be filtered in a way as if the it was the actual user accessing it, respecting the

[2019-11-25 12:27] ecthiender commented on #3417
Yes, this works. Because you are the admin, you can impersonate other users. You also need to include the non-admin role in the headers

[code]

[2019-11-25 12:30] bkniffler commented on #3417
Ah, so cool, cheers! I forgot to add the `x-hasura-role` header. Thanks a ton for the quick help!

[2019-11-25 12:30] #3417 closed

[2019-11-25 13:57] susen4517x opened #3418 "when user has more than one roles , what should be response in the webhook?"
when user has more than one roles , what should be response in the webhook?

[2019-11-25 14:39] ElixirMike commented on #3407
I agree this is not a typical use-case, but it's the heart of the app we're looking to build. Essentially the core use-case is to enable clients to define their own tables, relationships, etc dynamically & instantly..and then provide access to their users. A simple way of thinking about this is mimicking of how a user interacts with a a spreadsheet. They dynamically add columns, remove columns, ad

[2019-11-25 15:57] CTOJoe commented on #3378
Thank you very much @0x777 for the response. We will look into writing custom triggers and utilizing access to the current session variables. I will close this issue and subscribe to the feature request you mentioned above.

[2019-11-25 15:57] #3378 closed

[2019-11-25 17:12] ecthiender commented on #3418
The webhook doesn't support passing multiple roles. As the webhook is called per request, it can resolve what the user's current role would be for that request.

If you are looking for multiple roles in a single request, Hasura doesn't support them yet. There is #877 open to add support for it.

[2019-11-25 18:33] ziahamza opened #3420 "Regression in connect to Postgres instances after beta.6"
We have deployed Hasura on top of a GCP backed Cloud SQP Postgres instances for > 6 months. But we are unable to upgrade above beta 6 release.

After that, the connection always times out:

[code]

We initially thought perhaps updated hasura only worked with SSL, so tried with our DATABASE_URL to contain `?sslmode=disable` but no avail.

The whole setup works fine on `hasura/graphql-engine:v1.0.0-

[2019-11-26 00:16] GavinRay97 opened #3422 "Facilitate easier management of associated records in data tables"
There is currently no intuitive/easy way to manage associated records from the data view in the console.

I think that an `Add` button next to `View/Close` for relationships, that when clicked takes you to the `Insert Row` view for the associated record and pre-fills the foreign key column with the ID of the related record, would be really useful.

An edit here:
https://github.com/hasura/graphql-e

[2019-11-26 01:35] susen4517x commented on #3418
@ecthiender thanks

[2019-11-26 02:54] aislanmaia commented on #2477
@hgiasac thanks for reply me. I wanting to use Hasura with Flutter, so I think Apollo is not in my rescue, unfortunately.

[2019-11-26 04:46] shahidhk commented on #3420
Are there any interesting logs on the Postgres side?

[2019-11-26 06:14] rakeshkky commented on #3381
@m0ngr31 A small question, while being on `beta.6` do you have any inconsistent objects? Upgrades won't possible if there are any inconsistent objects.

[2019-11-26 06:15] m0ngr31 commented on #3381
What do you mean "inconsistent objects"?

[2019-11-26 06:41] tirumaraiselvan opened #3423 "pause event triggers"
Sometimes for seeding data or general dev functionalities, we may not want the event trigger to be invoked. Currently, the only way to stop events from creating/delivering is by dropping the event trigger. We can perhaps give a pause functionality to pause an event trigger without needing to drop it.

[2019-11-26 07:54] rakeshkky commented on #3381
@m0ngr31 The "items" in inconsistent metadata. You'll find them under `Metadata status` if you click on right top :gear: in the console. Also, make sure you  `Reload` before in `Metadata Actions`.

[2019-11-26 08:39] Toub commented on #2792
The `Etag` header value looks good.

However, the browser (Chrome or Firefox) does not automatically add the `If-None-Match` header when using graphiql explorer, so if I run multiple times the same query within the explorer, I get the full 200 response again.

If I manually add the `If-None-Match` header in Firefox dev tools, I successfully get a `304 Not Modified` response.

Maybe because the `Et

[2019-11-26 10:42] marionschleifer commented on #3418
Closing this issue. @susen4517x feel free to re-open if you would like to add anything 🙂

[2019-11-26 10:42] #3418 closed

[2019-11-26 14:07] MarcelloTheArcane opened #3425 "Feature request: Limit and from the end of the list"
If I understand correctly, you can use the `limit` parameter to specify only returning the first _`n`_ items. You can also use offset, which also fetches items from the start of the array.

However, I need to be able to fetch things from the end of the array, with an offset that works backwards (totally inverting the data).

See this handy diagram for an explanation:

[code]

I tried using negativ

[2019-11-26 14:15] revskill10 commented on #3425
Why not sorting your data in reverse order then use `first` as normal ?

[2019-11-26 16:07] m0ngr31 commented on #3381
I reloaded the metadata and it's saying this: `GraphQL Engine metadata is consistent with database`

[2019-11-26 18:17] MarcelloTheArcane commented on #3425
@revskill10

If it's really hard to implement then no worries!

[2019-11-27 00:26] tafelito commented on #2896
I'm experiencing the same issue. I have a lot of pending events that for some reason are not being executed.

![image](https://user-images.githubusercontent.com/5973652/69683121-a26b7b80-1081-11ea-908f-f69db4568a4a.png)

Here's the queries from the `event_invocation_logs` table

![image](https://user-images.githubusercontent.com/5973652/69683364-9207d080-1082-11ea-9d11-3bc614be8a0e.png)

![image](

[2019-11-27 04:46] tirumaraiselvan opened #3427 "docs: add guide on locally developing applications with hasura"
Things to be covered in this doc:

1. Running hasura locally using docker-compose
2. Creating and running migrations (and rollback)
3. Source code organization
4. Adding actions, remote-schemas, event-triggers etc

[2019-11-27 07:48] tirumaraiselvan commented on #2896
@tafelito Can you see the invocation logs tab as well? Are there only 2 entries there (i.e. corresponding to the delivered events)

[2019-11-27 08:46] susen4517x commented on #2508
did this bug fixed?

[2019-11-27 08:50] susen4517x opened #3429 "#2508 did this bug fixed"
{
	"timestamp": "2019-11-27T06:26:12.247+0000",
	"level": "error",
	"type": "http-log",
	"detail": {
		"operation": {
			"query_execution_time": null,
			"user_vars": {
				"x-hasura-role": "creative_designer",
				"x-hasura-custom": "zhangwuji",
				"x-hasura-is-owner": "false",
				"x-hasura-user-id": "1"
			},
			"error": {
				"internal": {
					"statement": "WITH \"ad_item__mutation_result\"

[2019-11-27 09:00] Motoxpro opened #3430 "Automatically add column permission when creating a new column in console"
First of all, thank you for the amazing tool, docs, and support! Truly great idea and execution.

If you have a table with a role that has "All Columns" permissions and then you add a new column to that table. That role then doesn't have permission to view that column.

I just spent some time debugging a problem only to realize what had happened.

At first glance, if I have "All Columns" selected,

[2019-11-27 09:32] rakeshkky commented on #3381
@m0ngr31 Thank you for the information.

Please provide the logs of `beta.10` server. I need to look at the error messages thrown before crashing.

[2019-11-27 11:17] tirumaraiselvan opened #3431 "try out permissions in console"
If there is a way to dry run permissions (after/during creation) check, it would really help.

[2019-11-27 11:19] eziante commented on #3401
We are having the same issue if one of the migrations contains a relationship rename.

[2019-11-27 11:25] tirumaraiselvan commented on #3431
What we can do is If they Click/Try, then it takes x-hasura-* variables and pre-fills a sample query to test it out. I guess it would be possible (easily) only after a permission is created.

[2019-11-27 11:41] rakeshkky opened #3432 "updating same column with different operators causing postgres query error"
If we try to update a column through an update mutation using multiple (> 1) operators, then it results in Postgres query error.

For a simple `article` table:-
Query:
[code]

Response:
[code]

Ideally, the server should make a validation check if a column is being updated using multiple operators.

[2019-11-27 12:07] tafelito commented on #2896
yes, same entries as the processed events

[2019-11-27 12:52] nizar-m opened #3433 "In tests, support pytest version 5"
The main issue is the global pytest.config, which was deprecated in version 4, is removed in version 5.

[2019-11-27 16:47] tirumaraiselvan commented on #2896
@tafelito can you try to make a fresh insert/update/delete just to check if it is stalled for only these events or for newly created events as well?

[2019-11-27 16:49] tafelito commented on #2896
I already tried that and it doesn't change. I clear all events from the db. Delete all rows from the table and still, sometimes the wh gets called, sometimes is not, but it seems to be random when is actually called

[2019-11-27 16:55] franciscolourenco commented on #2804
I would also be interested in a way to allow only `by_pk` queries on rows where a ownerId is null, so that the user needs to know the id of the row in order to read it. And then allowing all queries on rows with a ownerId, so that the owner can list all his rows.
Is there currently a solution to this?
https://firebase.google.com/docs/firestore/security/rules-structure#granular_operations

[2019-11-27 17:17] franciscolourenco opened #3436 "Granular permissions for `by_pk` queries vs multiple row queries"
I want to apply different permissions to queries which select multiple rows and to queries which select a single row by primary key.

This is a feature that I is available in Firebase Cloud Firestore

https://firebase.google.com/docs/firestore/security/rules-structure#granular_operations

My use case is to allow rows to be fetched only if you **know** their id. The random cryptographically generat

[2019-11-27 17:20] gunar-gessner-qatalog commented on #2880
I was searching for this info :smile: (2)

[2019-11-27 17:20] gunar commented on #2880
I was searching for this info :smile: (2)

[2019-11-27 17:23] franciscolourenco commented on #3436
Related: #2804

[2019-11-27 22:06] yasinarik opened #3437 "How to make an upsert mutation in a table where 2 (or multiple) columns must be unique in a single row?"
**How to make an upsert mutation in a table where 2 (or multiple) columns must be unique in a single row?**

I have a table defining the relationship of 2 users. I want to restrict inserting a new row if there is a row containing the same user ids under the exact same columns.

For ex:

[code]

This means userA is following userB. When userA wants to unfollow userB, I want to change the row like:

[2019-11-27 22:25] yasinarik commented on #3437
OK. I think I find a valid answer.

I need to add the constraint which describes the unique fields (columns) instead of the primary key.

So firstly, I selected the columns that must not be duplicated. In the above example:

Unique Keys: (Doer, Target) ---> this automatically generated a 'unique constraint name'.

So I copied that constraint and used in the 'constraint' argument of the 'on_conflic

[2019-11-28 02:41] TAnas0 opened #3438 "BUG: null value in where expression leads to unexpected result"
Hey Hasura team,

I am writing this to ask about a behavior I encountered with Hasura.

Basically, I came across this trying to update a single specific entity referenced by its ID, using a mutation with a `where` filter. If I pass that mutation the value `null`, it updates all of the entities in that table, which I believe might be a problem for some use cases, or even an attack vector.

To sum i

[2019-11-28 05:04] shahidhk commented on #2477
@aislanmaia Take a look at https://github.com/Flutterando/hasura_connect

[2019-11-28 06:06] rakeshkky commented on #2792
Hi @Toub, I made a change to double-quote the generated ETag value in the latest commit of #3311. Please test out the preview build present in https://github.com/hasura/graphql-engine/pull/3311#issuecomment-559006034.

Thank you.

[2019-11-28 06:22] rakeshkky commented on #3438
Hi @TAnas0, Thank you for opening an issue.

If you want to filter based on whether a column value is `null`, you can make use of `is_null` operator. See [docs](https://docs.hasura.io/1.0/graphql/manual/queries/query-filters.html#filter-or-check-for-null-values-is-null).

[2019-11-28 07:38] Toub commented on #2792
The browser behavior remains the same.

According to the HTTP specification [14.26 If-None-Match](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.26), I guess the problem is the POST HTTP method used here to retrieve data.

Is Hasura graphql server compatible with HTTP GET queries ?

[https://graphql.org/learn/serving-over-http/](https://graphql.org/learn/serving-over-http/)

Thanks

[2019-11-28 07:43] TAnas0 commented on #3438
Hey @rakeshkky,

Thanks for answering but that is not my issue. I am not trying to filter based on a value being null.

The problem I have is that the screenshoted mutation should not execute on any entity, because none of them have a null ID (my primary key).

[2019-11-28 10:30] rikinsk commented on #3438
@TAnas0 you need to filter using:
[code]

[2019-11-28 10:46] ecthiender commented on #3438
@TAnas0 the problem is any expression `{id: {_eq: null}}` will roughly translate to the expression not being there. So in your case, the entire where expression evaluates to `true`, hence it updates all the rows.

You should take a variable for your mutation and make it mandatory. Like:

[code]

See this https://github.com/hasura/graphql-engine/issues/2648#issuecomment-517137522 for more details.

[2019-11-28 10:55] akhedrane commented on #2453
@tjad could you share your fixes in a forked repo?

[2019-11-28 11:36] #2376 closed

[2019-11-28 11:38] #3328 closed

[2019-11-28 13:03] rikinsk opened #3442 "allow defining multiple (row + column) permission tuples for a given role + table + action"
To restrict access to sensitive fields, the solution proposed in https://docs.hasura.io/1.0/graphql/manual/queries/control-access.html  requires one to modify the db schema (creating a view and setting up new relationships/permissions)

Instead if it were possible to define multilple row + column permission rules this could be avoided.

e.g. For table `user(id, name, email, phone)`, `select` permi

[2019-11-28 13:21] #3437 closed

[2019-11-28 14:50] #1310 closed

[2019-11-28 16:12] scare21410 opened #3443 "Protect console access via AWS Cognito (and possibly other similar tools)"
At the moment, console access is protected only by admin secret, but that is not sufficient for us, we are required to have complete user management, including multi factor authentication, for any cloud based application.

I would like to use AWS Cognito to take care of logging users, MFA, managing user pools etc.

Cognito works by intercepting any requests to the app, checking cookies to see if u

[2019-11-28 19:26] TAnas0 commented on #3438
@rikinsk Thank you, but again, I am not trying to filter based on an attribute being null.

@ecthiender Thank you
Do you think it makes sense that the expression `{id: {_eq: null}}` translates to "the expression not being there"? I think it should simply mean that the `id` is null.

Anyway, I will use your tip on requiring that parameter to not be null on my frontend mutation.
If you have an idea

[2019-11-28 22:29] yasinarik commented on #3442
This is the exact need I had 2 days ago. I would solve this by moving sensitive & private data to a new table at the moment. However, if multiple rules for the same role in a table can be implemented, it will become easier to control & develop.

**Current Solution**
Also, even though I did a research about it, I couldn't reach the above documentation page which suggests creating a view by using:
[

[2019-11-28 22:35] yasinarik commented on #3438
@TAnas0 If I don't misunderstand, you are saying that **this behavior** where you try to filter by
` _eq: null` is not valid and shouldn't be accepted, right?

I agree with you on that and I think that should turn into an error instead.

[2019-11-28 23:15] leoalves commented on #3438
@yasinarik

Check this issue:
https://github.com/hasura/graphql-engine/issues/704

[2019-11-28 23:56] aislanmaia commented on #2477
@shahidhk I mean something regarding offline capabilities. I know how to connect hasura + flutter.

[2019-11-29 02:55] TAnas0 commented on #3438
@yasinarik No, I am afraid we are not on the same page.

My point is that, if I specify a `where filter` of this type `{myAttribute: {_eq: null}}`, then my changes should happen to all, and **only** all the entities that have `null` as value for the attribute `myAttribute`. Which is currently not the case, as seen in both the screenshots above, where entities that do not have the attribute `exit_c

[2019-11-29 05:14] #3433 closed

[2019-11-29 05:54] pnappa opened #3444 "Permission metadata name cropped after 63 characters"
Hi,

I'm currently writing custom migrations, and am generating permissions combinatorially to populate Hasura as manually doing them would take too long.

A problem I hit is this error:
[code]

This appears to fail because it sees that another permission exists (although it's a different table - I have many tables starting with Q, it just happens to crop off at the same position).

I have a work-

[2019-11-29 06:23] rakeshkky commented on #3444
Hi @pnappa,

The server defines a view `<role>__insert__<schema>__<table>` with a custom insert trigger for insert permissions. Any insert mutations by the user with the `role` is made into the view.

It is [Postgres limitation](https://til.hashrocket.com/posts/8f87c65a0a-postgresqls-max-identifier-length-is-63-bytes) where all _identifiers_ length is capped to 63 characters.

[2019-11-29 06:51] rakeshkky commented on #2792
@Toub Indeed, I thought the same.

The issue for HTTP GET queries https://github.com/hasura/graphql-engine/issues/574. Please comment about your use case of ETag header in #574. It'd be highly helpful.

Also, is it better to add the support for ETag with the current state in #3311? Browsers won't be picking it up. One should manually handle the case in their client app with POST request. I'm not s

[2019-11-29 07:07] Toub commented on #2792
I agree to pause the development until #574 is done.

Implementing manually Etag behavior in the client is possible, but will be really painful.

I will comment my use case in #574.

Thanks

[2019-11-29 07:15] Toub commented on #574
Once GET method is supported, ETag header can be supported: #2792

Supporting ETag header will avoid to transfer data if matchs current browser cache version.

__Use case__:

When application starts, initial state data is loaded.

If you refresh the page, or if the data has not changed since your last visit, the application is loaded immediately, without waiting for the network transfer.

Very use

[2019-11-29 07:19] luke-j opened #3445 "Ability to redact log portions"
Currently it's a common workflow to setup an auth micro service as a remote schema. However, there are instances where this ends up with sensitive information in the application logs.

For example, given the following query:

[code]

the logs would look something like this (in the case of an error, for example):

[code]

It would be ideal if you could configure a path to redact logs. In this insta

[2019-11-29 08:39] dvasdekis commented on #1677
Same problem occurred on Google Cloud SQL, with the same solution. I think the documentation should be updated.

[2019-11-29 09:47] jjangga0214 opened #3447 "View as Enum"
What if a view can be enum?

Are there specific reasons not to allow it?

[2019-11-29 10:10] yasinarik commented on #3438
@TAnas0 @leoalves I've checked #704 .

I'm very confused at the moment.

[code]

I have tested this on my own db and this returns all the users. Why? I always thought that this should return an error or an empty array:

[code]

If somehow, a `null` parameter is passed instead of an actual UUID into the `(where: {id: {_eq: null}}` clause from my front-end, it will cause serious problems including s

[2019-11-29 10:26] shahidhk commented on #2477
The hasura_connect package above exposes certain caching capabilities which might come in handy in offline situations.

[2019-11-29 10:50] stefan1968 opened #3448 "Problem with postGresQL trigger."
I've tried several variations of this, all resulting in the same error.
This worked fine under postgraphile, but having a real headache trying to get it to work under hasura.

I want to update the tsvector when I insert a message. Below is the trigger and the invocation.

CREATE FUNCTION influence.update_search_messages()
      RETURNS TRIGGER
      LANGUAGE PLPGSQL AS $BODY$
      begin

[2019-11-29 10:59] tranvietanh1991 commented on #2494
+1 for this feature to be implemented soon. Also can you guys please allowing this: `Nodes from different GraphQL servers cannot be used in the same query/mutation`

[2019-11-29 11:03] marionschleifer commented on #3091
@ajhool I'm closing this issue. If you'd like to add something, feel free to re-open 🙂

[2019-11-29 11:03] #3091 closed

[2019-11-29 11:11] rikinsk commented on #3430
This is a valid expectation. This feature request is being tracked at #2104. Closing this as a dup and tracking this there.

[2019-11-29 11:11] #3430 closed

[2019-11-29 11:32] rikinsk commented on #1622
This is not something we plan to pick up anytime soon.

Just to clarify, this issue is for making the column order changes peristed on to the postgres table.

We will soon be adding support for persisting column order and collapsed status on the Browse rows section of console (#3390) soon so that it doesn't have to be done eveytime one visits it.

[2019-11-29 11:46] marionschleifer commented on #2953
Closing this issue, as the actionable is tracked at: #2954. If you'd like to add anything, feel free to re-open 🙂

[2019-11-29 11:46] #2953 closed

[2019-11-29 11:47] ecthiender commented on #3448
@stefan1968 the logs on the docker container should have more details about the postgres error. Can you check the logs?

Also, does the trigger work as expected when you insert data directly into the table?

[2019-11-29 12:03] ecthiender commented on #3438
@yasinarik as others have mentioned, the implementation is explained in #704 and https://github.com/hasura/graphql-engine/issues/2648#issuecomment-517137522

[2019-11-29 13:14] 0x777 commented on #3037
Hi @tsujp, this issue has been fixed in `beta.6`, the server will appropriately edit the underlying permissions now.

[2019-11-29 13:14] #3037 closed

[2019-11-29 13:53] coco98 commented on #1622
It's also possible to run a few SQL statements via the console to do this manually: https://wiki.postgresql.org/wiki/Alter_column_position

[2019-11-29 16:48] ahrnee opened #3451 "Feature Request: Allow custom scalar types to be configured for jsonb fields"
**Desired Outcome/Functionality**
When using jsonb fields to store json data, it would be great to be able to describe the expected json contents with a custom type. This way, the consuming client can have access to the type information for this field.

**Context**
I am using graphql-code-generator to create TypeScript types from the Hasura schema. I am looking for a way to create string typing fo

[2019-11-29 17:09] TAnas0 commented on #3438
@yasinarik Yeah, that's exactly my point.

@ecthiender I know that this could be a huge breaking change, but can we at least have that documented somewhere/somehow?

[2019-11-29 23:09] danrha opened #3452 "Ability to hide top-level fields of certain tracked tables from graphql schema"
**Feature**
Add the ability to select which tables should be added to the graphql schema for starting queries.

**Context**
My database schema includes several tables used for relationships that I don't want listed as separate when querying hasura. The idea is that these tables can only be accessed as nested properties from parent tables related to them.

I want to be able to do a query like this:

[2019-11-30 00:11] howesteve commented on #1848
Any updates on this? I find it incredible how far this project has come, specially the built in permissions system, but without supporting the built in authentication and authorization system, which IMO should be the primary system since the project itself proposes to be a frontend to PostgreSQL. RLS and built in authentication could be as flexible as the database itself. There should be minimum c

[2019-11-30 00:25] rsingh-27 opened #3453 "Inheritance in Postgres"
Hi,
I am very new to Hasura and did not find any solution to implement inheritance of tables, something on the lines below

[code]
Can anyone point me, how to achieve this

[2019-11-30 06:14] Toub opened #3454 "[docs] describe metadata-only CI deployment workflow"
Related to https://github.com/hasura/graphql-engine/issues/2103

Many users want to manage their schema & data migrations out of hasura.

In that case, what is the best practice to automatically apply hasura migrations? This should definitely documented.

Here are a few thoughts from my newbie experience.

## USE CASE
__app v1__: `user` table with hasura metadata
__app v2__: rename `user` table to

[2019-11-30 08:47] #3438 closed

[2019-12-01 01:19] jjangga0214 commented on #3400
Yeah, for example,
[code]
will show
[code]
, letting users explicitly know what's missing.

[2019-12-01 01:29] jjangga0214 opened #3455 "hasura migrate squash --from <version> --to <version>"
I suggest introducing an option to limit an upper bound of squash.

For example, like
[code]

[2019-12-01 17:33] marionschleifer commented on #3453
@rsingh-27 you can achieve this via `Run SQL`. On the Hasura console, click on the `Data` tab, then on `SQL` on the left side. In the SQL window, you can write the create statements:

![image](https://user-images.githubusercontent.com/5722022/69917681-e3400780-1468-11ea-8fbe-f32e91df5f2e.png)

Don't forget to leave the box `Track this` checked, so that the tables are exposed over the GraphQL API.

[2019-12-02 00:47] EdsonOnildoJR commented on #3023
![image](https://user-images.githubusercontent.com/8020047/69923463-c95fee00-1483-11ea-9ef9-be5b070c7100.png)

This message is all that I have. I've deploy my app with heroku.

[2019-12-02 02:58] aislanmaia commented on #2477
Ah, I see.

[2019-12-02 07:11] praveenweb opened #3456 "indicate columns with non-nullable and default values in insert permission"
In the console permission page for tables, for any role, it would be nice to indicate which columns are non-nullable and which columns are default, so that the permission actually makes sense and easier to setup.

For example, if the `id` column is an auto-generating `UUID`, it can be skipped from columns list, since it has a default value. And if the email column is non-nullable, most likely you

[2019-12-02 07:39] tirumaraiselvan commented on #3453
Should we think about interface types for inheritance?

[2019-12-02 08:15] tirumaraiselvan opened #3457 "hasura console can a have permanent error bar when server is unreachable?"
If hasura console is open but the server is unreachable for some reason, the current experience is not very good. It throws 500 for v1/queries when operations are performed etc.

Can we run a poller which does healthcheck and put a permanent notification which says hasura is unreachable?

[2019-12-02 09:29] chrisheseltine commented on #2912
Hi guys, sorry again for the late reply. I have started a new job and unable to find the time to test this right now, but I think it's safe to say this will work.

You can close it for now, and I will come back when I have time and implement. I will inform if it didn't work.

Thanks again for your time and help everyone, especially in helping me understand the SQL! <3

[2019-12-02 09:29] #2912 closed

[2019-12-02 11:24] 0x777 commented on #1371
Depends on #2801

[2019-12-02 13:47] tirumaraiselvan commented on #3457
While we are at it, we can also check whether server is running at console load and block the UI and show a TRY AGAIN. Currently, it gets stuck at LOADING.

In some sense, this is like incorporating readiness and liveness checks on the frontend :)

[2019-12-02 14:58] tirumaraiselvan opened #3459 "support column operators (_ceq, etc) in permission rules to reference other tables"
In permissions, column operators like _ceq, _cgt can only refer to the "currently selected" table i.e. we can do `{table1.c1 : { _ceq : table1.c2}}` .

We should look at supporting spanning across other tables like: `{table1.c1 : { _ceq : table2.c3}}` .

[2019-12-02 17:46] lexi-lambda commented on #2508
@susen4517x Sorry for the delayed response. This bug has not been fixed, but it is not forgotten—we’re going to try and fix it sometime in the next few weeks.

[2019-12-02 17:53] lexi-lambda commented on #3398
I agree with @amrnt—I’m not totally sure what the issue is here/what you think should work differently. I’m going to close this, but feel free to reopen it if you think it’s still an issue and can provide a little more information.

[2019-12-02 17:53] #3398 closed

[2019-12-02 18:45] chrishare08 commented on #3398
no worries.  I think we were grasping at straws when we couldn't get the health checks reporting correctly.

[2019-12-02 19:22] tsaiDavid commented on #721
@dquesada @dmi3y - FYI

[2019-12-02 23:09] rsingh-27 commented on #3453
@marionschleifer Let me try this

[2019-12-03 00:42] howientc commented on #1325
Just starting running into this on Azure Postgres. Don't see a way to set the max_locks_per_transaction on that.

Squashing worries me - what happens when this occurs again? If I squash then, how does it know which migrations to apply?

[2019-12-03 02:06] revskill10 opened #3461 "Console: Show Postgres version in Console"
Could Hasura Console display Postgres version (next to Hasura version) ?

[2019-12-03 02:13] mitar opened #3462 "defining foreign keys from JSONB field"
It seems I cannot define a foreign key in the console which would map from a field in a JSONB field to a primary key in another table. Only fields themselves are available, but no way to select a JSONB field.

[2019-12-03 03:14] mitar commented on #3462
GraphQL relationships also cannot be defined from a JSONB field. :-(

[2019-12-03 04:24] shahidhk commented on #1325
@howientc If you follow this blog you'll see that the state is also updated: https://blog.hasura.io/resetting-hasura-migrations/

[2019-12-03 06:57] shripadk opened #3463 ""no foreign constraint exists on the given column" after upgrade to rc.1"
I have the following error show up in the logs after upgrading to rc.1 from beta.10:

[code]

I checked the `hdb_catalog.hdb_relationship` table to see if any such relationship exists that I could remove but couldn't find one.

So have rolled back to beta.10 for now. If you need any other inputs from my end please let me know. Thanks!

[2019-12-03 07:30] tirumaraiselvan opened #3464 "deliver pre-existing data in event triggers"
You may want to run event triggers for data already existing (before the event trigger was created).

Need to decide the semantics for this.

[2019-12-03 08:34] devesh-verma commented on #3337
@marionschleifer I would like to start contributing to hasura, starting with this.
can you tell what is the correct link to be used for the below mentioned?

[2019-12-03 09:41] marionschleifer commented on #3453
@rsingh-27 I'm closing this issue. Feel free to re-open if you have more questions on this 🙂

[2019-12-03 09:41] #3453 closed

[2019-12-03 14:18] #3018 closed

[2019-12-03 15:03] Chris533 commented on #2599
Cause Hasura doesn't show RAISE EXCEPTION message, maybe I should create a new table to store the error messages for different tables.  😁 😅

[2019-12-03 18:16] RichieMerchant opened #3468 "Docker compose persistant db_data doesn't work"
I would like to persist database data when running Hasura Graphql Engine for local development. But the console fails to run with the docker-compose file below.

`- db_data:/var/lib/postgresql/data` to `- ./db_data:/var/lib/postgresql/data`

[code]

Logs

[code]

I couldn't find anything in your docs to say why this may not work. Any help with this would be great.

Thanks

[2019-12-03 19:18] #2645 closed

[2019-12-03 20:00] #3432 closed

[2019-12-03 20:57] #3301 closed

[2019-12-03 21:20] marionschleifer commented on #3337
@devesh-verma that is great 😃

Sure, I can help you:

For [this page](https://github.com/hasura/graphql-engine/blob/master/remote-schemas.md): [this is the correct link](https://github.com/hasura/graphql-engine/tree/master/community/boilerplates) for the *Regular boilerplates* link.

For the [second page](https://github.com/hasura/custom-resolvers-boilerplate), you can also use [this link](https:/

[2019-12-03 21:29] xiaoyu-tamu opened #3469 "How to limit row limit for admin."
Is there anyway to set Limit number of rows for the default admin row?

[2019-12-03 22:58] lexi-lambda commented on #2508
@paf31 I did a little bit of extra looking into this that didn’t make it into the issue, and I have a work-in-progress commit from way back in July here: https://github.com/lexi-lambda/graphql-engine/commit/fcb3e9f37c7caeb6443f72d4ac38e0b24e4d86f1. Here’s what I found:

  1. Getting the default values for identity columns is a little involved, so the `hdb_catalog.hdb_columns_identity_default_value

[2019-12-03 23:48] hmshwt opened #3471 "Preserve 'request-id' header between a Hasura mutation operation and a Hasura trigger?"
I am using Hasura as a data access layer for our microservices. One of our current challenges is to implement observability across the microservices for a single request. Is there any way we can assign the id of an event trigger to the requestId header sent during mutation request to Hasura?

[2019-12-04 00:41] pnappa commented on #384
Another solution is to provide two degrees of permission checks for updates.

One being a check on the current state of the row being updated (this is what the permission check currently does).

The other being a check on the updating data (i.e. checking constraints on the inserting row).

My use case is pretty similar to the one above - I want to restrict one role to only being able to set a colu

[2019-12-04 00:43] shahidhk commented on #3468
@RichieMerchant The default docker-compose configuration persists data in the `db_data` volume created by docker.

According to the change that you have made, did it create a new directory `db_data` in the current folder? Can you check Postgres logs alone?

[2019-12-04 00:53] pnappa commented on #2648
I think this could be fixed by preventing nullable types from being compared with some operators (e.g. `{_eq: X }` requires `X` to be some type `Y!`). The reduction from `{ _eq: null }` to `{}` is unintuitive to those unfamiliar with ternary-valued logic in SQL, especially when the column being compared is non-nullable. My 2 cents is that exposing this as a type error is a far more elegant solutio

[2019-12-04 03:50] Rajivhost opened #3473 "Kafka support"
Hi all,
Like RIG (https://accenture.github.io/reactive-interaction-gateway/docs/intro.html) does, I think that will be great to have Kafka support on Hasura which will be really handy to manage more cases.

[2019-12-04 04:13] pnappa commented on #1914
If everything else is serverless (i.e. AWS Lambdas), then using CloudWatch's "cron jobs" to invoke them based on a cron syntax is apposite (and free, too!).

[2019-12-04 07:10] shahidhk opened #3475 "add examples for cli commands"
All commands on the CLI should have adequate examples to cover most of the use cases.

[2019-12-04 07:13] shahidhk opened #3476 "migrate cli to go modules"
We're using dep for now and we should migrate to go modules.

[2019-12-04 08:25] hector opened #3478 "Group by with previous filtering"
Hi,

Thanks for your cool project.
I need to do some grouping by in a query. In the docs it is suggested to use a view (https://docs.hasura.io/1.0/graphql/manual/queries/derived-data.html).

My problem is that I want to filter the rows before they are grouped (using a WHERE).
For example, imagine you have a table of appointments. I want to filter them based on their date (e.g. events after Novembe

[2019-12-04 08:25] tirumaraiselvan opened #3479 "cli-migrations docker-entrypoint.sh should start hasura in a random port during migrations"
This is because if you are having `readiness` or `liveness` probes then the readiness probe might succeed but liveness probe might fail later. This is because the docker image starts a metadata only graphql-engine first for migrations, kills that, and finally starts a regular graphql-engine.

The default to `--server-port` is not ideal for this reason. If the metadata process starts in a random po

[2019-12-04 08:29] tirumaraiselvan opened #3480 "create an init container image for applying migration on kubernetes"
This would be the k8s native way of applying migrations.

[2019-12-04 10:43] hgiasac opened #3484 "down migration for the last version is not squashed"
When running squash migration, for example from id `A` to latest:

[code]

The down migration of `A` isn't squashed

[2019-12-04 12:35] ecthiender opened #3485 "[RFC] support JWT claims customisation (e.g. to work with Azure Active Directory)"
AD doesn't let users add custom claims. So the feature request is if we can add a mapping configuration, which maps existing claims of AD JWT to hasura session variables.

Hasura requires a default/current role and a list of allowed roles for the user. Other session variables are based on the permissions defined by the user.

So we can introduce a new key in the existing [JWT config](https://docs.

[2019-12-04 14:15] tirumaraiselvan commented on #3462
Hey @mitar

You can accomplish this relationship via computed fields esp https://docs.hasura.io/1.0/graphql/manual/schema/computed-fields.html#table-computed-fields

I created a function like:

[code]

And then add this as a computed field:

[code]

And then query it just like a relationship:

[code]

[2019-12-04 16:25] corepay opened #3487 "Console Error Message needed for invalid ENUM"
Setup Enum table according to `https://docs.hasura.io/1.0/graphql/manual/schema/enums.html` which works as advertised if using console Insert Record and a valid `enum.value` is provided in the fk-related table.  If a value provided in the console is not in the `enum.value` the console does not return a error message - just does not do anything when clicking SUBMIT.

[code]

[code]

[code]

[2019-12-04 16:56] corepay opened #3488 "FEATURE REQUEST: Saved GQL with client REST to GraphQL benefits!"
### Concept:

* I create a query, mutation or subscription (QMS) using the console.
* When satisfied I have the option to SAVE the QMS.
* When saved pressed a popup allows me to provide a name for the QMS.
* When name saved, the console stores the QSM (like it does now in HISTORY tab) and assigns a unique HASH.
* The CONSOLE has a new tab showing the saved QSM that can be selected and displayed in

[2019-12-04 19:47] fomenta opened #3491 "ENHANCEMENT: Support for hierachical roles or multiple roles to a user"
Our application defines lots of rules to apply to each users. Having a flat role model makes it very difficult to maintain. We are in need of having either:

* Multi-level roles (role inheritance).

Or:

* Assign multiple roles to a user.

Or both. I was checking the documentation about roles in Hasura and it states hierarchical roles are currently not supported:

https://docs.hasura.io/1.0/graphq

[2019-12-05 02:18] pnappa commented on #289
I had to scroll back in the Discord for info about this one - you don't do it in the Run SQL page in Hasura, you need to do it directly on the database, i.e. run psql and connect to it. Doing it that way worked for me!

[2019-12-05 02:32] pnappa commented on #1325
I made a script which incrementally applies them:

[code]

I didn't bother adding anything to detect when it should stop, so if you run this, and see `[INFO] nothing to apply` you can interrupt it - it's done.

[2019-12-05 03:23] jordiup commented on #2109
For anyone else: I fixed this problem by re-enabling automatic date time on my laptop.

[2019-12-05 06:41] tirumaraiselvan commented on #2896
@tafelito Where is Hasura deployed?

[2019-12-05 12:20] tafelito commented on #2896
The reason this was happening was because I had 2 instances of hasura, 1 running locally and the another on heroku but both where pointing to the same DB and the events were mixing up btw the hasura instances

[2019-12-05 12:51] tirumaraiselvan commented on #2896
Is everything fine now?

[2019-12-05 13:07] rakeshkky commented on #3463
Hi @shripadk,

Please perform the following SQL query and comment on the results.

[code]

[2019-12-05 13:14] iamkhalidbashir commented on #2022
Getting similar error on AWS ECS docker and it makes the whole container restart.

[2019-12-05 15:57] coco98 commented on #3488
@corepay Love it! Thanks for writing this up :)

I think it might be nicer to allow the creation of a named REST endpoint instead of a hash? I like this more because the REST endpoint can have a descriptive user-friend name.

[2019-12-05 16:13] corepay commented on #3488
IMO you can probably easily have an option to create a descriptive REST endpoint for single-focused context like Users or Items

But a context named REST endpoint like `/users` wont apply in many cases where I build a QSM across multiple contexts - for example, your 3-factor app.  In this case it would be similar to an RPC call….but typing this the thought occurred that I suppose you can make the

[2019-12-05 16:21] corepay commented on #3488
...also just thought about Events.  You can provide pre-built QSM in Events and probably even allow chained events where and event calls the next hashed QSM and executes the query or mutation.

whaddaythinkaboutthat?

[2019-12-05 16:27] corepay commented on #3488
:) also just thought - you can extend permissions to the QSM in Hasura in total - for example if the QSM crosses users, posts, authors you can set permissions for the hash or named endpoint rather than for each entity (user/post/author)

[2019-12-05 16:32] tafelito commented on #2896
yes it works fine for me now

[2019-12-05 17:10] thefliik commented on #3488
Usually I've seen this feature referred to as *persisted queries* in the GraphQL world. For some prior art, see https://graphql-ruby.org/operation_store/overview.html#what-are-persisted-queries.

I'll note that persisted queries are usually saved by the client (rather than an admin creating a "special endpoint" in the Hasura console). Letting clients save their own persisted queries would be a bet

[2019-12-05 17:15] corepay commented on #3488
Good point on the payload and I will check out persisted queries.  One point I thought about maybe not stressed or explained well enough the value of having the query on server side is that it can be changed (within some limits) on the fly without having to change the client side code - as always a big plus for mobile apps and delays in app stores.

[2019-12-05 17:22] thefliik commented on #3488
I'll also note that Apollo has support for persisted queries: https://blog.apollographql.com/persisted-graphql-queries-with-apollo-client-119fd7e6bba5

[2019-12-05 18:48] BlueSeph28 commented on #3168
I think too this is necessary, I'm in a case that I need to save who is online and who is disconnected to subscriptions.
A workaround that I'm implementing is a secondary websockets with a Lambda to manage only the currently state of the user, I can't see other workaround now...

[2019-12-05 18:55] CharlonTank commented on #1433
pleasssse <3

[2019-12-05 20:51] mitar commented on #3462
So you changed a title of the issue, but my issue was that this is not possible to define in the console/web interface. I cannot define a foreign key in the web interface (allowing to have constraints, like conflict propagation), nor GraphQL relation.

[2019-12-05 20:54] mitar commented on #3462
But nevertheless, thank you for this example how to do this manually.

[2019-12-05 21:28] Clee681 opened #3496 "Configuration option to rename the metadata catalogue schema"
👋 Hello,

For those who use the same Postgres instance for multiple apps, I think it might be helpful to expose a [server configuration option](https://docs.hasura.io/1.0/graphql/manual/deployment/graphql-engine-flags/index.html) to be able to rename the metadata catalogue schema name (i.e. to something other than `hdb_catalog `).

[2019-12-05 23:02] guru2228 opened #3497 "Schema Migration via Jenkins, Versioning in Github"
Hi Team,

We are planning to use the Hasura GraphQL Engine as part of our Digital Transformation effort. Can you please let me know whether you have any guide on how to integrate Hasura Engine with CI CD tool (such as Jenkins/Jenkins-x) and Source Code Management (such as Github) for Schema/DDL

[2019-12-06 08:16] mnlbox commented on #3473
@Rajivhost Could you tell more about the use case?

[2019-12-06 09:01] shripadk commented on #3463
Hi @rakeshkky

This is the result of the running the query:

[code]

[2019-12-06 10:03] rakeshkky commented on #3463
@shripadk I'm not sure how, but a foreign key is missing on one of the `hdb_catalog` schema tables. It is `hdb_catalog.event_invocation_logs.event_id -> hdb_catalog.event_log.id`.

Alter the table to create the foreign key.
[code]

Now, upgrading to rc.1 and let us know if it works :slightly_smiling_face:

[2019-12-06 10:57] #3291 closed

[2019-12-06 12:14] rikinsk commented on #3462
@mitar it is not possible to have foreign keys using a field inside a JSONB field in Postgres

[2019-12-06 13:00] rikinsk commented on #3487
@corepay I am not clear on what went wrong

Can you explain the following in some more detail

What exactly and where is this being done?

[2019-12-06 13:14] corepay commented on #3487
Ok...follow this to the letter:  https://docs.hasura.io/1.0/graphql/manual/schema/enums.html EXCEPT add the user table in the `public` schema and using hasura create a `system` schema and add the `user_role` there.

Add enum values like A B C

Now using console INSERT a record in the User table with a valid enum A - no problem...works as expected

Now using console INSERT a record in User table wi

[2019-12-06 13:52] shripadk commented on #3463
@rakeshkky That did the trick. I am sure it must have been due to me using a database modeler and it dropping the foreign key while diffing changes. Will check if that is the case the next time I run the modeler after schema changes and report back.

Thank you so much for the help!  😄

[2019-12-06 13:52] #3463 closed

[2019-12-06 14:11] heliocaruccio opened #3501 "Unexpected Ordering When Using Variables"
**Hi in console**

`
query org {
  org(order_by: {deleted_at: desc, name: asc}){
    name
    deleted_at
  }
}
`

Produce

`SELECT name, deleted_at FROM org ORDER BY deleted_at DESC NULLS FIRST, name ASC NULLS LAST`

**AND**

`query org($orderBy: [org_order_by!]) {
  org(order_by: $orderBy){
    name
    deleted_at
  }
}
`
Variables => `{
  "orderBy": {"deleted_at":"asc", "name": "asc"}
}`

Produc

[2019-12-06 14:18] 0x777 commented on #3501
Hi, since the `variables` are sent as JSON, there is no guarantee about the order of keys in the object `{"deleted_at":"asc", "name": "asc"}`. However `order_by` can take an array of these clauses, so you should use `{"orderBy": [{"deleted_at":"asc"}, {"name": "asc"}]}`.

[2019-12-06 17:36] Rajivhost commented on #3473
Hi,
The idea here is to be able to stream messages from a Kafka topic and have them as subscriptions for example on Hasura. I want to use Hasura as a API Gateway and manage a unique GQL schema which will be able to include events coming from Kafka.

[2019-12-06 17:37] Rajivhost commented on #3473
![image](https://user-images.githubusercontent.com/3539984/70343360-6392ae00-1857-11ea-83ff-258e8168fa12.png)

[2019-12-06 17:47] Rajivhost commented on #3473
A microservice can publish events to a Kafka topic, Hasura can connect to this topic and present this streaming events as subscritions for example

[2019-12-06 18:32] heliocaruccio commented on #3501
Perfect my friend @0x777 . Thank

[2019-12-06 18:32] #3501 closed

[2019-12-06 23:04] lexi-lambda commented on #2022
@iamkhalidbashir Is it something you can consistently reproduce, or is it sporadic? If it’s the former, it would be really helpful if you could share some more details. Currently, it’s hard for us to fix because we haven’t been able to trigger the issue ourselves.

[2019-12-07 02:21] mitar commented on #3462
So not directly, but you can construct it manually: define an index on the field, and then define triggers which cascade/delete/prevent changes, like a foreign key would.

[2019-12-07 09:28] mshanak commented on #2022
i have the same problem lately.
this a screen shot of error log for hasura container:

![Screen Shot 2019-12-07 at 11 27 06 AM](https://user-images.githubusercontent.com/964266/70372200-b4041d00-18e4-11ea-9a5e-f442302cd5b0.png)

[2019-12-07 13:41] MatthiasGrandl commented on #2952
Just found this issue. This is exactly what I am missing from Hasura at the moment. Hope it releases soon.

[2019-12-07 13:57] lishine opened #3502 "Performance comparison"
Graph db vs on top of Postgres:
Dgraph vs Hasura

Another on top of Postgres:
Edgedb vs Hasura

Dgraph claim better performance because it eliminates many database access to db. Please see their linked blog and screenshot through this link:
https://github.com/edgedb/edgedb/issues/950#issuecomment-562848803

[2019-12-08 04:40] GavinRay97 commented on #91
+1

[2019-12-09 04:20] mnlbox commented on #3473
@Rajivhost Thanks for your clarification.
It's interesting feature.

[2019-12-09 04:26] Toub commented on #3497
Related to #3454 & #2103

[2019-12-09 06:32] mnlbox commented on #2776
@rakeshkky Any plan for this in roadmap?

[2019-12-09 06:38] mnlbox commented on #2253
@0x777 , @marionschleifer Any news about this bug?

[2019-12-09 07:02] mnlbox commented on #2569
@rikinsk-zz Any paln for this in roadmap?

[2019-12-09 07:03] mnlbox commented on #929
related: #1731

[2019-12-09 07:23] rakeshkky commented on #2776
@mnlbox We'll add support to console in upcoming weeks. Till then you can try manually moving a table from one schema to another using `ALTER ..` statement in `SQL` section of console UI (`DATA` -> `SQL`)

[2019-12-09 09:17] mnlbox commented on #2836
@coco98 very interesting. Any plan for this?

[2019-12-09 12:20] bbapplications opened #3503 "down migration of a renamed column fails"
when a column is renamed,  the generated down migration tries to set the comment of the column with the old name before renaming it back.

ie. a column is renamed from "iconkey" to "iconKey" with camelcase

the generated down migration looks like this:

[code]

and therefore fails.

after manually reversing the order it works

[2019-12-09 14:04] rikinsk commented on #2253
@mnlbox This is how postgres returns values of [boolean columns](https://www.postgresql.org/docs/current/datatype-boolean.html). Hasura just relays the values returned by Postgres without any modification. If you need the values to be returned as `true` and `false` you need to make the query with appropraite casting (see [this stackoverflow page](https://stackoverflow.com/questions/34440068/return

[2019-12-09 14:10] rikinsk commented on #2569
We do plan to do this but there is no specific timeline around when we'll pick it up yet.

[2019-12-09 14:17] jjangga0214 commented on #2326
@geoff448 To my test, subscription does not work. May I ask if this happens on your sides as well?

[2019-12-09 17:34] erler opened #3506 "hasura-dev cli manual migration error"
when trying to run a migration manually with `hasura-dev migrate apply --admin-secret <my-admin-secret>` I get the following error:
`FATA[0012] apply failed: json: cannot unmarshal string into Go struct field HasuraError.internal of type hasuradb.SQLInternalError`

folllowing the steps outlined [here](https://github.com/paritytech/polkassembly/tree/master/hasura)

[2019-12-09 18:26] m0ngr31 commented on #3381
I get this from the logs after it updates:

[code]

[2019-12-09 21:44] jpda commented on #3485
I've started working on something like this but admit Haskell is brand new to me. I started going down the path of having a config value for `defaultClaimPrefix` (e.g., to override x-hasura-*, ideally with empty string just making the whole claimset available) and `allowedRoleClaimName` to map the azure roles claim to the hasura allowed roles claim - driven by appRoles in Azure AD.

Where I'm stru

[2019-12-09 23:23] #3444 closed

[2019-12-09 23:50] pnappa opened #3507 "Allow UUID type to be returned from a computed column"
Hi team,

When writing a custom function below:

[code]

I wanted to add a computed column to expose the id (UUID) of another column that a user cannot access by traversing object relationships due to permissions:

[code]

When making a query to add a computed field to Info (via this approximate POST request):

[code]

I got this error:
[code]

Judging by a brief look at [this code](https://github

[2019-12-09 23:52] pnappa commented on #3507
Also, an aside, when I avoided this by making it work by adding an Int reference, I couldn't seem to add an object relationship based off this? Is adding a relationship based off computed columns supported?

My final workaround was making it a table-computed field, i.e.: https://docs.hasura.io/1.0/graphql/manual/schema/computed-fields.html#table-computed-fields

[2019-12-10 00:01] pnappa opened #3508 "Allow preventing events from firing when making mutations"
Hi,

We recently had an embarrassing incident where one of our triggers were accidentally re-entrant, e.g. the trigger was invoked when editing a table, and on update of that table the same trigger was invoked again, ad infinitum.

This was completely accidental, and in part caused by a developer error in enabling this trigger when it shouldn't have been. Column based selective-updates kind of hel

[2019-12-10 01:50] m0ngr31 commented on #3354
I think #3381 is related.

[2019-12-10 02:27] #3349 closed

[2019-12-10 05:21] dionjwa commented on #2269
Would it be possible to have any visibility into this feature? Hasura is great. Not having access to cookies as an authentication mechanism is frustrating. I see that you may not want to pile too much into the auth webhook, but you are going to get a lot of feature requests there since it's the main mechanism to auth/filter/control/manipulate/monitor all the requests.

[2019-12-10 07:03] tirumaraiselvan commented on #3506
@shahidhk Any clues?

From the link, they are using remote-joins build.

[2019-12-10 07:16] tirumaraiselvan commented on #3506
@erler This is perhaps happening because server returned some unknown error which `hasura-dev` does not handle very well right now as it works off master branch. We are working on printing the raw response of the error per this PR: https://github.com/hasura/graphql-engine/pull/3104

But for the time being can you just check if there are any inconsistent schema objects in your server by starting th

[2019-12-10 09:51] dasimandl commented on #1599
@ecthiender looking forward to this enhancement. What is the updated timeline for the release of this feature?

[2019-12-10 10:19] #3400 closed

[2019-12-10 14:25] erler commented on #3506
@tirumaraiselvan thanks, I spotted something in the console. All working fine :)

[2019-12-10 14:25] #3506 closed

[2019-12-10 14:50] steelerc69 commented on #3388
We are seeing the same behavior after upgrading from beta-6 to beta-10.  We are running docker on portainer.  The memory seems to grow until the containers crash.

[2019-12-10 15:20] 0x777 commented on #3388
Can you check if this issue persists after setting the env variable `HASURA_GRAPHQL_QUERY_PLAN_CACHE_SIZE` to a value like `100`? You'll have to upgrade to `v1.0.0-rc.1`.

[2019-12-10 16:48] lemoinepierre opened #3511 "HASURA_GRAPHQL_CORS_DOMAIN does not want to apply in docker-compose file"
Hey Hasura,
I am trying to securize my installastion and after setting up admin secret, I would like to use **HASURA_GRAPHQL_CORS_DOMAIN** and **HASURA_GRAPHQL_AUTH_WEBHOOK**.
I am using docker v1.0.0.-rc1 on linux and here is my docker-file

[code]
This docker is running on a linux VM that I am accessing from my windows PC.
I can access it either via an SSH tunnel or directly with 192.168.56.104:

[2019-12-10 17:25] flashspys opened #3512 "Console shows error logs"
I followed the docker quickstart tutorial by installing a postgres and hasura via docker-compose. I could open the console, but the following error messages show up:
![image](https://user-images.githubusercontent.com/1114404/70552642-1164cc00-1b7a-11ea-8c34-58c05d41c681.png)

This happens every time I access the site. In fact, a /query call is not responding and thus the site takes minutes to load

[2019-12-10 21:05] paf31 commented on #704
There seems to be a few things going on together here. Calling a bulk delete with `"where": {}`  is definitely asking to delete the whole dataset, but the real issue seems to be a) it’s too easy to do that by mistake generally, and b) specifically because JS sends `{}` when you meant `{ "foo": null }` but `foo` was undefined instead of `null`.

If we’re using objects to encode sets of filters, I d

[2019-12-10 21:51] RKARaj opened #3513 "Docker hasura garphql Auth0: Error Could not verify JWT: JWSError JWSInvalidSignature"
I have followed: https://www.youtube.com/watch?v=kHCLQEKjdnI
For my testing app I am using Docker hasura garphql and For Authorization: Auth0
When I am using https://hasura.io/jwt-config, I am getting JWT Config value with type "type": "RS512".
But the id_token received from Auth0,  is of type {"typ": "JWT","alg": "RS256"}

When I tried to use the id_token generated by Auth0 in HasuraConsole(http:

[2019-12-10 22:30] lexi-lambda commented on #3415
For context, the PostGIS 3.0 release notes are here: https://postgis.net/2019/10/20/postgis-3.0.0/

[2019-12-10 23:20] #3365 closed

[2019-12-10 23:30] chmac opened #3514 "Question: How to only allow joins on owned rows?"
Example collections, `posts` and `tags`, and they're linked together with a `posts_to_tags` table which is a many to many join table. I want to set the permissions such that a user can only assign tags to their own posts. Is there a way to implement this with the hasura permission system?

I've set my insert / select permissions based on a column `user_id` that has to match the user from the JWT.

[2019-12-11 00:20] stefan1968 commented on #3023
I get the same issue.

[2019-12-11 07:41] mnlbox commented on #3023
I have the same issue in big projects with many tables. For small projects every thing is working fine.

[2019-12-11 09:50] beepsoft opened #3517 "Not all mutations delivered to subscribed client"
I have a situation where not all mutation results are delivered to a subscription client.

I have an apollo SubscriptionClient executing this subscription, which would give me the changed records after $startDate (which is the current date when the subscription is executed)

[code]

I have a database trigger, which makes sure the `updated_at` field (which is renamed to updatedAt in the schema) is

[2019-12-11 10:06] tirumaraiselvan opened #3518 "namespace remote schemas or conflict resolution with remote types/fields"
Should we ask for an optional `namespace` input from the user while adding Remote Schemas and then every type and field in the RS is prefixed with this `namespace`.

This would allow using Remote Schemas with generic fields like `user`.

[2019-12-11 12:41] elitan commented on #3514
![Screenshot 2019-12-11 at 13 35 23](https://user-images.githubusercontent.com/331818/70622293-e8951300-1c1b-11ea-9e8e-7a8ddd053b82.png)

Does this match what you are trying to do?

[2019-12-11 14:23] chmac commented on #3514
@elitan Awesome, thanks for sharing this.

The crucial piece I was missing is that it's possible to express permission on linked tables.

For anybody stumbling upon this issue in the future, the key steps I had to complete were:

* Ensure that the Relationships tab has the link between all related tables (so A -> join, join -> A)
* Then the option to set permissions based on linked values (as per

[2019-12-11 14:23] #3514 closed

[2019-12-11 18:19] yuvalgut commented on #3517
Subscriptions update every 1 second. You can find it in the docs

[2019-12-11 19:02] marioishikawa commented on #1681
This would be great on cases where views do not perform well.

[2019-12-11 19:39] beepsoft commented on #3517
@yuvalgut Really? Can you link it, please? I've read through the documentation many times and searched github issues, etc. but haven't find any reference to such a restriction.

[2019-12-11 20:24] yuvalgut commented on #3517
https://github.com/hasura/graphql-engine/blob/master/architecture/live-queries.md

[2019-12-11 20:27] beepsoft commented on #3517
Thanks! I know this one as well, but this only describes this experiment with 1 million active GraphQL subscriptions where they happen to update the database every second. But it is not a proof and not an official documentation on how the subscription mechanism works or intended to work and whether there's such a 1 second update rule in it.

[2019-12-12 05:30] #1871 closed

[2019-12-12 05:37] #3476 closed

[2019-12-12 06:15] shahidhk commented on #3475
closed in https://github.com/hasura/graphql-engine/commit/b183eba9ba6e2e316cebdc51fd0901525f51a8ba

[2019-12-12 06:15] #3475 closed

[2019-12-12 06:27] shahidhk commented on #2431
For the CLI migrations image, we can provide another environment variable `HASURA_GRAPHQL_MIGRATIONS_SEED_DIR` where the user can keep all the seed data as Migrations.

Then use can keep one directory for schema/metadata migrations and another for see data.

[2019-12-12 06:58] rikinsk commented on #3517
@beepsoft The implementation details are mentioned at https://github.com/hasura/graphql-engine/blob/master/architecture/live-queries.md#implementing-graphql-live-queries.

We'll add a table of contents to the document to make this more easy to discover

[2019-12-12 07:16] Krever opened #3520 "docker image doesn't stop on failed migrations"
When applying migrations fail its reasonable to assume the docker will stop. Such behaviour is critical for production run. Right now if you deploy the application on different environment its almost impossible to spot the failure until the downstream system fails.

Fix is probably very simple, in bash startup script just detect the exit code of `migration apply` and stop if its !=0. Or add `set -

[2019-12-12 08:49] rikinsk commented on #3469
@xiaoyu-tamu It is currently not possible to limit the number of rows returned for the admin role. the admin role is designed to have full access to the system.

Can you explain your use case for this requirement in some more detail.

[2019-12-12 08:54] beepsoft commented on #3517
@rikinsk Thanks! I've read the architecture but I still can't find there what are the actual constraints of subscriptions and how frequently updates actually get delivered? An update every second? Every 500ms? Some other metrics? It would be great to have these defined in the relevant Hasura documentation (eg. at https://docs.hasura.io/1.0/graphql/manual/subscriptions/index.html)

And it would be

[2019-12-12 09:02] rikinsk commented on #3429
Tracked at #2508. Closing this is a duplicate.

[2019-12-12 09:02] #3429 closed

[2019-12-12 09:09] rikinsk commented on #3396
There is no real reason to avoid running the console for migrations on the same machine as the graphql engine. The only caveat being that the location where the migrations are being generated should be persistent for obvious reasons.

Will use this issue to track this as a feature request.

[2019-12-12 09:41] rikinsk commented on #3294
This behaviour is not supported natively by Postgres. There seem to be Postgres extenstions such as https://github.com/gavinwahl/postgres-json-schema to achieve this.

Typically it is recommended to normalize your json data into tables if its structure is fixed so the validations are enforced by postgres itself.

[2019-12-12 11:04] marionschleifer commented on #3468
@RichieMerchant just checking in to see if your problem is solved? 🙂

[2019-12-12 14:32] xiaoyu-tamu commented on #3469
@rikinsk  Yes, Sometimes we execute query in GRAPHIQL without limit parameter accidentally (it happens quite often if people use `ctrl + enter` to execute query). The query takes long time and may cause browser to crash since it try to render 10 million rows.

[2019-12-12 17:02] rccoe opened #3523 "Bug: Equality checks on optional parameter don't work when it's undefined. Can't check if undefined."
I'm running this query:

`
GetUserFromList($user_id: Int) {
  list(
    where: {_and: [{ user_id: { _eq: $user_id }}, {user_id:{_neq:null}}]}
  ) {
    user_id
  }
}
`

and getting these results

`
"data": {
    "list": [
      {
        "user_id": 14
      },
...
`

How can I filter out where the user_id = null? I'm running a mutation using this logic and it's updating everything in the table whe

[2019-12-12 17:38] flybayer commented on #3346
I also need this. I'm renaming all my root fields to be camelCase. I have views that are camelCased but then the view's aggregate doesn't match: `camelCased_aggregate` instead of `camelCasedAggregate`

[2019-12-12 18:23] rccoe commented on #3523
Dupe of #704

[2019-12-12 19:01] garlou commented on #2896
I'm having the same problem with an insert trigger. The insertions made on hasura console trigger the event successfully but outside requests (live app or postman) all go to pending.
I have the server deployed on a AWS ECS without any concurrency (apparently).

[2019-12-12 19:09] paf31 commented on #3523
I don't think this is a duplicate, since that issue refers to `undefined`, not `null`. However, the part of the manual I think you need is [here](https://docs.hasura.io/1.0/graphql/manual/queries/query-filters.html#filter-or-check-for-null-values-is-null).

[2019-12-12 19:12] flybayer opened #3524 "Change the frequently used column `id` to bigint"
The current `id` suggestion for frequently used columns is `int`, but I propose this to be changed to `bigint`. On all my projects I have to change this manually.

Other frameworks like Rails use bigint by default, and I think that's the best choice for most projects.

[2019-12-12 19:28] garlou commented on #2896
I think there is a possible bug. I had only INSERT operation selected, once I selected all operations all events are triggered correctly:
https://www.dropbox.com/s/com9z6kqb8i5zie/Screenshot%202019-12-12%2019.22.03.png?dl=0

[2019-12-12 19:41] rccoe commented on #3523
That logic can't be used on parameters. If you do

`
{$user_id:{_neq:null}}
`
or
`
{$user_id:{_is_null: false}}
`

It evaluates to true, which doesn't seem right. Reopening as I think you're right.

[2019-12-12 19:55] paf31 commented on #3523
What about making the type non-nullable? i.e. `GetUserFromList($user_id: Int!) { ... }`

[2019-12-12 21:53] rccoe commented on #3523
The use case is an upsert mutation. I have relationships between 3 tables. The situation is I want to upsert users, and if they've changed orgs, transfer their lists to the new org.

Relationships:
org -> list[]
user -> list[]
org -> user[]

[code]

In the case of the new user, this will update all lists org_id to $org_id.

Due to this bug, doing what I want either requires 2 calls, or including a

[2019-12-13 05:50] shahidhk commented on #1946
Fixed in https://github.com/hasura/graphql-engine/commit/b7fb4eb13e255eec498f1ded795db76e7fbcb9de

[2019-12-13 05:50] #1946 closed

[2019-12-13 05:51] tirumaraiselvan commented on #3442
Related to #877

[2019-12-13 06:24] rakeshkky commented on #3507
@pnappa We've been very strict about scalar types returned by a computed field. In the next couple of weeks, I'll make the necessary enhancement.

Currently No. You can make the best use of table-computed field with the power of input arguments to return related data from another table :slightly_smiling_face: .

[2019-12-13 07:59] tirumaraiselvan opened #3530 "understanding the performance characteristics of bounded cache"
@0x777 said :

What's the difference in metrics like req/s and latency? Does it warrant extra work to improve the data structures used?

[2019-12-13 08:06] MarcelloTheArcane commented on #877
Relevant post by Auth0 - https://auth0.com/docs/authorization/concepts/rbac#overlapping-role-assignments

[2019-12-13 08:37] rikinsk commented on #3346
We'll add support for this via the console soon. In the meanwhile you can use [this](https://docs.hasura.io/1.0/graphql/manual/api-reference/schema-metadata-api/table-view.html#set-table-custom-fields) metadata API to do this (the API works for views as well) .

[2019-12-13 08:54] rikinsk commented on #3517
@beepsoft As you would have figured out by reading the architecture doc, Hasura subscriptions are actually live-queries, hence they do not guarantee sending an update for every change.

By default updates get delivered every **1sec**. This interval can be configured via the ``HASURA_GRAPHQL_LIVE_QUERIES_MULTIPLEXED_REFETCH_INTERVAL`` env var or the ``--live-queries-multiplexed-refetch-interval`` f

[2019-12-13 09:10] beepsoft commented on #3517
@rikinsk Thanks for the details, it is really helpful!

Maybe it was just my wrong interpretation of the 3factory.app theory, but I thought this is kind of essential that the same way event triggers guarantee that for ever change on a table a URL will be called for servers to handle clients should also have a way to get informed of all changes relevant for them. I understand that the current subsc

[2019-12-13 10:15] Tbaut opened #3531 "Recursive object as a graphql field"
Is there a way to add a recursive object type as a field as explained here: https://github.com/graphql/graphql-spec/issues/91#issuecomment-197860064 ?
The idea is to have replies on comments in a forum (like reddit, you can reply to a comment, which can be replied to etc.)

So that I could do the following query:
[code]

In the link I posted above, managing your own graphql server, they achieve it

[2019-12-13 10:22] marionschleifer commented on #3502
@lishine could you please elaborate on what your intent is with this issue? Thank you 🙂

[2019-12-13 10:23] rikinsk commented on #3517
Just out of curiosity, can you share your use case where you really need this be done. For most typical client applications, it is usually enough to just have the latest response for a query (if we have the right query for the job of course).

[2019-12-13 10:26] shahidhk commented on #3053
@thebetterjort If your organisation uses self-signed certificates, there should be a way to access them and add the ca cert (not the private key) to you client applications. Are you saying you don't have access to the ca cert at all? And all your appications disable cert validation?

As @ecthiender mentioned, you can mount the `.crt` file in `/etc/ssl/certs` directory. The tls manager that we use

[2019-12-13 10:27] rikinsk commented on #3524
We could instead just add another option with `bigint` leaving the choice to the user to pick according to their needs

[2019-12-13 10:35] shahidhk commented on #3520
@Krever Considering you're talking about the `cli-migrations` image, the container indeed exits if migration apply fails, see (https://github.com/hasura/graphql-engine/blob/master/scripts/cli-migrations/docker-entrypoint.sh#L3)

Check you Kubernetes/Docker Compose configuration to see if the restart policies are starting it again.

[2019-12-13 10:37] shahidhk commented on #3512
@flashspys Can you give us more information on your environment? Hasura version, where is it deployed, how big is your schema?

[2019-12-13 10:43] shahidhk commented on #3511
Setting CORS domain will only block cross-origin API requests to Hasura. It will not stop you from serving the API or the console on a different IP adress. Only when that particular console makes a request to the API it should be blocked if it is not from localhost:8080

Yes, opening this address on the browser is not considered as a cross origin request. See https://developer.mozilla.org/en-US/do

[2019-12-13 10:43] Krever commented on #3520
Hmm, that's weird indeed and I will investigate it further on my end. Thanks and sorry for trouble.

[2019-12-13 10:44] shahidhk commented on #3497
@guru2228 @Toub Hasura Migrations are helpful to version control the schema and metadata. See https://docs.hasura.io/1.0/graphql/manual/migrations/index.html

[2019-12-13 10:56] beepsoft commented on #3517
Well, my current use case doesn't actually need it I just wanted to know what are the limits of subscriptions. In my current application work instructions will be delivered to workers and these will be delivered less frequently than 1 second, of course.

However I can imagine a chat application where people chat in a group and each client wants to get the latest message. In case there are many mem

[2019-12-13 12:34] marionschleifer commented on #1318
@hooopo please find a blog post about building file uploads/downloads [here](https://blog.hasura.io/building-file-upload-downloads-for-your-hasura-app/). I'm changing this issue to be a feature request for a possible integration.

[2019-12-13 12:38] lemoinepierre commented on #3511
I did not known, thanks.

[2019-12-13 12:38] #3511 closed

[2019-12-13 12:46] tirumaraiselvan opened #3533 "[RFC] run hasura without hdb_catalog tables"
This is a big architectural refactor which will obviate the need for hdb_* schemas and tables. Instead, hasura can start from just the metadata.yaml file which can be given as a server-flag.

Why do we need hdb_* schemas in the first place?

~1. Insert permissions are based on postgres triggers on hdb_views : How can we move the logic to the app layer?~ Solved via https://github.com/hasura/graphql

[2019-12-13 12:57] esteiner commented on #3443
We have the same issue when using Keycloak (instead of AWS Cognito) and its Gatekeeper in front of every application, because the kc_access cookie is not sent for /v1/query fetch requests because of [Actions.js#98](https://github.com/hasura/graphql-engine/blob/1d1de9430301c518d664038a358a70bbbf4b7aed/console/src/components/Main/Actions.js#L98):
---
  const url = Endpoints.serverConfig;
  const opt

[2019-12-13 15:02] Toub commented on #3497
Thanks @shahidhk

I have not been able to use migrations in more complex use cases, such as renaming a table.

See https://github.com/hasura/graphql-engine/issues/3454 for more details.

[2019-12-13 18:56] marionschleifer commented on #2168
@jasonmccallister we have some stats. These are these are the most popular screen resolutions and the percentage of users using them:
- 1920x1080: 43%
- 1440x900: 21%
- 1680x1050: 18%
- 1366x768: 16%
- 2560x1440: 11%

[2019-12-13 20:19] paf31 commented on #3415
One concrete difference between versions 2 and 3 which is relevant here:

On v2:

[code]

and on v3:

[code]

[2019-12-13 21:12] paf31 commented on #3523
I think I understand the problem then. Would something like the following work?

[code]

You could then query with parameters `{"user_id": 42}` for a specific user, or `{"allow_nulls": true}` for a new user, instead of passing `{"user_id": null}`.

The reason `{"user_id": null}` isn't working is that, as we see if we substitute the inputs into the query definition, it's the same as asking for:

[c

[2019-12-13 23:17] paf31 commented on #3415
Another difference in behavior is that v2 evaluates this to `true` and v3 to `false`:

[code]

[2019-12-14 06:06] timeshift92 opened #3535 "configure schema for storing hdb_schema logs"
Hello, many thanks for such a cool system, I wanted to ask if all the logs can be moved to a separate schema

[2019-12-14 07:31] tirumaraiselvan commented on #3517
@beepsoft Please see https://github.com/hasura/graphql-engine/issues/2317

[2019-12-14 09:33] yasinarik opened #3536 "Add Permission Rules For Checking the New (or Incoming, or Next) Value of a Field"
### Problem:
Currently, it is possible to add row permission rules for checking the existing value of a column field.

However, per my research, **it's not possible** to add control logics into row permission rules for checking the **incoming (or new, or next)** value of a field. In other words, this will ultimately result in a custom check constraint that is applied _BEFORE_ a mutation.

_This co

[2019-12-14 21:16] BlueSeph28 commented on #2824
There is a workaround to do this without this pull request or creating a new container by my own?
I've run console manually, but doesn't work.

[code]
The port 8081 is binded for my container, but I receive in my browser.

[2019-12-15 00:44] spiffytech opened #3538 "WebSockets socket hang up"
I have a Node.js server that connects to Hasura using subscriptions-transport-ws. Over the course of processing hundreds of thousands of event triggers, the connection will periodically get terminated with `ECONNRESET`. I have the Hasura loglevel set to `warn` and nothing is printed out. This is all local using Docker Desktop for Windows and WSL., so there shouldn't be any actual network issue goi

[2019-12-15 00:55] walfie opened #3539 "Configurable websocket keep-alive interval"
For websocket subscriptions, keep-alive messages are sent every 5 seconds. Is it possible to have this value be configurable? For example if I wanted to set it to 30 seconds instead, or disable it entirely.

It looks like it's hard-coded at the moment (assuming I'm looking at the right place):
https://github.com/hasura/graphql-engine/blob/b81d22f5831240d2566824d74b1d7e4d107fdb61/server/src-lib/Has

[2019-12-15 03:08] leoalves opened #3540 "Issue adding Enum field into a remote_schema"
I followed the tutorial to Add an Enum field from the [docs](https://docs.hasura.io/1.0/graphql/manual/schema/enums.html).  But when trying to add a Remote Schema with the enum in the type definition Hasura returns the following error:
`
Adding remote schema failed
types: [ user_role_enum ] have mismatch with current graphql schema. HINT: Types must be same.
`

The type definitions are the same in

[2019-12-15 03:21] leoalves commented on #3540
I tried with the type definition just like in the Doc page and it worked:

[code]

What is confusing in this case is that the type definition returned from the introspection query is the same as my first comment.
[code]

Always when creating a remote schema I use the returned type from the instrospection query, to make sure both types are the same.

Thanks

[2019-12-15 07:41] joshuarobs opened #3541 "How to use graphiql console with another schema?"
In the Data tab, I have multiple schemas. When I go to the Grahiql tab, all of the queries and mutations done are all from the the `public` schema and not the other schemas. How can I do some queries with other schemas?

[2019-12-15 13:41] ecthiender commented on #3531
You can have a Postgres table which is recursive.

E.g. -

[code]
Then in the Hasura console, if you go to the relationships tab of the messages table, you can see that both object and array relationships are suggested on the same table. You can add them both, name the object relationship as `parent` and the array relationship as `children`.

Now you can make the following query:

[code]

This fet

[2019-12-15 17:09] nirvdrum opened #3542 "Squashing migrations without specifying "from" version does not work"
Squashing migrations without a specified "from" version errors out with a cryptic message. For illustrative purposes, this is what my migrations directory looks like before the squash:

[code]

I wanted to squash them all, so I omitted the "--from" option:

[code]

The error message is confusing. I thought the `0` was a count value and spent some time trying to figure out what the message is sayin

[2019-12-15 20:25] nirvdrum opened #3543 "missing semi-colon in create table down migration"
I squashed my migrations and ended up with a `down.sql` file that looks like:

[code]

There is no semi-colon after the statements and so when running the down migration, I get the following error:

[code]

Terminating the statements with a semi-colon fixes the problem for me.

[2019-12-15 22:12] Tbaut commented on #3531
Thank you so much. A simple foreign key is indeed doing the job perfectly.

[2019-12-15 22:12] #3531 closed

[2019-12-15 23:05] cheslip commented on #660
Seeing this issue in Azure when setting up Postgres read replicas for a backup hasura environment.

[2019-12-15 23:29] ttelfer commented on #660
We have found a way to get around this by using a proxy that can do read/write splitting such as PGPool2. This does seem to have a bit of a performance impact in our tests, but it does accomplish splitting reads and writes.

[2019-12-15 23:31] nowylie opened #3544 "Derived Permissions"
### The Problem

Managing permissions for related tables can be both repetitive and error prone.

Currently we have a number of `child` tables within our database. These tables have a foreign key relation to some `parent` table and they do not exist without a parent record. For most of these tables the permissions for the `child` table are the same as the permissions for the `parent` table.

For e

[2019-12-16 04:27] tirumaraiselvan commented on #3536
Related to #384 , dupe?

[2019-12-16 05:58] shahidhk opened #3545 "split metadata into multiple files"
If there is a key named `metadata_dir` in `config.yaml`, we should read all the files in that directory and merge them to construct the Hasura Metadata object to be sent in `replace_metadata` query to server.

This should be used in the `metadata apply` command.

The motivation is to let the user split the metadata files however they seem fit and the CLI will take care of merging them to a single

[2019-12-16 09:44] Toub commented on #3213
I am still experiencing this issue with hasura v1.0.0-rc.1.

Same message:

[code]

It happens when I try to clear or replace metadata, after deploying a new version of my application using `docker stack`.

Is there any log I can enable to try to have more information?

[2019-12-16 10:01] yasinarik commented on #3536
Related to #384 , dupe?

Hi @tirumaraiselvan  , how are you? I hope you are having a great day.

It seems related with #384  , but I have wrote a more definitive and clear problem-suggestion pair, to be honest. Also, the above example is intended for production use. Herein, the example clearly shows that these kind of rule can be applied to **any field possible.**

So, I think the above example wi

[2019-12-16 10:06] tirumaraiselvan commented on #3436
Related to #877 #3442

[2019-12-16 11:51] rikinsk commented on #3541
You should be able to use Graphiql for tables from all schemas. Do note that for a table in a non public-schema, the field names are of the format `schema_table`

[2019-12-16 12:06] jjangga0214 commented on #2431
I'd like to suggest an additional proposal for seed data format.

I've seen folks have some different approaches for seeding.
For instance, some prefer SQL, others, GraphQL Mutation.
What's more, some people have JSON as their raw seed data, so they want use it as-is.

**JSON**

![Screenshot from 2019-12-16 20-25-08](https://user-images.githubusercontent.com/28584151/70904652-3f984f00-2045-11ea-8b

[2019-12-16 12:26] rikinsk commented on #3543
This is due to a bug with the individual down migrations that were and not the squash command.

[2019-12-16 12:29] jjangga0214 commented on #2431
I'd like to suggest an additional proposal for seed data management.

[code]
The `apply` command reads seed data, and insert it to Postgres.
This would be convenient when editing seed data frequently, and don't want to reboot or directly handle Hasura and Postgres.
If Postgres already has some data, an user can choose (e.g. by flag) between
1. Delete existing data, and then insert the seed.
2. Jus

[2019-12-16 12:52] #3337 closed

[2019-12-16 12:55] 0x777 opened #3547 "implement nginx's $request_time logging parameter"
Currently, we only log the execution time for a given request. It would be nice to measure the time from 'the arrival of first byte of the request' to the 'last byte sent as response'. This can help people debug network issues easily.

From [nginx's docs](https://nginx.org/en/docs/http/ngx_http_log_module.html#var_request_time):

    request processing time in seconds with a milliseconds resolutio

[2019-12-16 13:12] nirvdrum commented on #3543
I started to suspect as much. I squashed another set of migrations and this time the `up.sql` file was broken. Beyond the problem with the missing semi-colons, In that one the casing of the SQL statements was not consistent either. Some statements used `ALTER` while others used `alter`. And they weren't all left-justified.

[2019-12-16 14:02] hmshwt commented on #3471
This issue has been resolved by passing the requestId in two separate headers
`x-request-id` & `x-hasura-request-id` when making a request to Hasura. By doing so, Hasura returns the value of `x-hasura-request-id` in the event trigger payload as event.session_variables.

![image](https://user-images.githubusercontent.com/1774535/70912823-c693fa00-203a-11ea-8c59-48eb9984f5de.png)

[2019-12-16 14:02] #3471 closed

[2019-12-16 15:29] garlou commented on #2896
This was not true. I had the AWS ECS config to escalate into multiple instances when needed. Once I forced ECS to use only a maximum of 1 instance I got no more pending events.
This works for me now but can be a problem for systems that need to escalate.

Thanks for the awesome work guys.

[2019-12-16 15:38] tirumaraiselvan commented on #2896
@garlou This is not supposed to happen even with > 1 instances. I would really appreciate if it's possible for you to describe a minimal repro, maybe with 2 instances. If you need you can open a new issue with more specific title. This issue has kind of become a sink for all kinds of issues ;)

[2019-12-16 15:48] tirumaraiselvan commented on #2896
Actually, I think, this is possible in a scale-down scenario. Suppose there were N instances and each was processing events but because of scaling configuration, few instances were killed in the middle of processing. I will open an issue for this.

[2019-12-16 15:51] tirumaraiselvan opened #3548 "manage locked events during scale-down"
If hasura instances are scaled down, then it is possible that events that were being processed by aborting instances stay locked and stuck in pending.

[2019-12-16 15:53] tirumaraiselvan commented on #2896
Closing and locking this issue because it has diverged to lot of separate issues.

[2019-12-16 15:53] #2896 closed

[2019-12-16 17:11] jberryman commented on #3530
@0x777
Here are the raw numbers with some analysis and what I've taken away.

The most interesting parts have little to do with the mechanics of caching per se (overhead of LRU bookkeeping, or insert time), and much more to do with _how effective caching is_ and how the various parameters interact (the "realistic" benchmarks below).

## Microbenchmarks

**Microbenchmarks of lookups; not very inter

[2019-12-16 17:16] jberryman commented on #3547
This makes sense to me at a high level. Could you summarize the network issue and how you ended up debugging it?

[2019-12-16 19:20] stephane303 opened #3549 "fetchTableListQuery too slow for legacy database"
https://github.com/hasura/graphql-engine/blob/2f319d3e06da4f44f1255386cc62a5f1964f211f/console/src/components/Services/Data/utils.js#L385

I have a problem with the fetchTableListQuery  SQL used by Hasura, the request is extremely slow, more than one minute, and it prevents me to use the console as it seems the request is sent multiple times.

After some trial, I found out that  if I remove the fo

[2019-12-16 19:26] jberryman commented on #3280
I was considering modifying my `dev.sh` script to use `cabal-install` directly per above. Any thoughts on that? Would you accept a PR that made that change and checked in a `cabal.project` file and `cabal.project.freeze` file that just reproduced our stackage package versions?

I also feel confident we could (maybe even more easily) maintain graphql-engine under cabal install by just manually upgr

[2019-12-16 20:10] jberryman commented on #3280
...and also:
- how should we think about versioning GHC versions?
- related: should we be more lax about versions of `base`, `cabal` and the special libraries that ship with GHC?

[2019-12-17 00:03] jberryman opened #3550 "Do a round of optimizations on plan generation"
We know cache misses hurt very badly.

See: https://github.com/hasura/graphql-engine/issues/3530

[2019-12-17 00:08] jberryman opened #3551 "Update cache benchmarks so "realistic" benchmarks are synthetic"
See action items in https://github.com/hasura/graphql-engine/issues/3530

This is dependent on this PR and might just go into it: https://github.com/hasura/graphql-engine/pull/3534

[2019-12-17 00:10] jberryman opened #3552 "Gather usage telemetry data for cache"
See action items in https://github.com/hasura/graphql-engine/issues/3530

[2019-12-17 05:06] szhang-ezypay commented on #2247
Hi @cescoferraro
I'm trying to do the same. I have several hasura servers and I use apollo schema stitching to group them together.
In my vue app, I'm using vue-apollo to make requests to apollo.
The error I'm getting is `subscriptions are not supported over HTTP, use websockets instead`.

[2019-12-17 05:09] 0x777 commented on #3549
@rikinsk, Alexis (cc @lexi-lambda) has recently done a bunch of optimizations to the query that server uses to fetch metadata and found that Postgres versions < 12 generate very bad plans for queries which involve columns of type 'name'. Alexis, can you quickly glance at this whenever you have time to see if it the same issue?

@stephane303 https://github.com/hasura/graphql-engine/blob/master/CONT

[2019-12-17 08:23] Krever commented on #3520
I can reproduce it now, sorry for bothering.

[2019-12-17 08:23] #3520 closed

[2019-12-17 09:36] 0x777 commented on #3547
The network issue was that the clients connected to graphql-engine (deployed on k8s with istio) were noticing that the requests take a long time to finish(1-2 seconds). However in the logs of graphql-engine, the execution times were in the order of few milliseconds. The network connection between graphql-engine and the client was the issue. If `$request_time` was also present in the log, it would'

[2019-12-17 09:38] 0x777 commented on #3547
By adding logging on the clients and tracing those requests in graphql-engine (through a session variable x-hasura-trace-id).

[2019-12-17 11:59] lexi-lambda commented on #3280
I’ve been meaning to open a PR like this for a while, but I haven’t quite gotten around to it. Personally, I’d like to make the switch all in one go—I’d rather not have some things (e.g. CI, `CONTRIBUTING.md`, `dev.sh`) using `stack` and others using `cabal-install`.

Yes, my intent was to always build using the frozen dependencies.

I don’t think there needs to be too much ceremony around this if

[2019-12-17 12:06] lexi-lambda commented on #3549
This query seems to go through the `information_schema` views, which is likely slow even when `name` is used. One change that was made in Postgres 12 is that the `information_schema.sql_identifier` type was changed to use `name` under the hood, which makes using those views more efficient, but obviously that isn’t relevant for Postgres 9.6.

My guess is that upgrading to Postgres 12 could provide

[2019-12-17 13:08] shahidhk commented on #3213
@Toub This is very strange indeed. Does it happen on another project or another environment or only in this particular one?

How often do you see this error?

Does it happen only from your terminal using curl or does it happen from the console as well?

[2019-12-17 13:29] Toub commented on #3213
I only have one project using hasura right now.

It happens very often when I deploy a new version of my application. In every environment (staging, production...).

It may be related to docker swarm, but I don't understand how. I will try to provide a reproduction scenario soon.

[2019-12-17 13:35] barbalex commented on #3354
I am a bit surprised that v1.0.0 was just published. While this issue is not solved. My app does not seem to be such an unusual case: 14 Tables, permissions for 3 roles. Not exactly big, is it?

As far as I understand rebuilding my api with v1.0.0 will not help without increasing `max_locks_per_transaction`.

Have I missed something?

[2019-12-17 13:38] barbalex commented on #3354
Just not to sound too critical: The reason I am uneasy is not just that my project should go live in two months. It is the fact that hasura is absolutely great and I can not wait to be able to use the features added since v1.0.0-beta.6, especially concerning permissions spanning tables.

[2019-12-17 13:39] barbalex commented on #3354
I also have two other, larger projects that I will probably sooner or later migrate to hasura. Once this issue is solved.

[2019-12-17 13:45] lexi-lambda commented on #3354
Yes, my apologies—I was hoping to leave a comment on this thread yesterday, but one more unexpected issue came up that led me to hold off.

The good news: I have been working on a fix for this in #3394, and I think it basically works. It would be great if either of you could try the experimental build in https://github.com/hasura/graphql-engine/pull/3394#issuecomment-566198192 and let me know if i

[2019-12-17 13:48] shahidhk commented on #3213
This will really help in debugging,

[2019-12-17 13:55] axelolsson commented on #3060
@thavorac & @marionschleifer sorry for commenting on a closed issue but I'm experiencing the exact same issue – can you please provide a link to this "Crip" answer or whatever it is you're referring to?

[2019-12-17 13:58] barbalex commented on #3354
@lexi-lambda
I did:
[code]
then replaced v1.0.0-beta6 with pull3394-67093178

then
[code]

and it works 😄

[2019-12-17 14:00] lexi-lambda commented on #3354
Did you happen to notice how long the startup time took? There should be a log message that Hasura spits out that includes something like this:

[code]

If you could tell me what value you saw for `time_taken`, that would be helpful!

[2019-12-17 14:15] barbalex commented on #3354
@lexi-lambda
`root@hasura-vermehrung:/etc/hasura# docker logs ece3d9c11b3d` reported this line:
[code]
and here the entire log: https://gist.github.com/barbalex/989d0e83260737ac623208a569e18319

[2019-12-17 14:16] lexi-lambda commented on #3354
Thanks! That number looks about right to me, so it looks like you didn’t hit the pathological behavior (which is obviously good).

[2019-12-17 14:17] barbalex commented on #3354
@lexi-lambda please have yourself a beer - you made my day!

[2019-12-17 14:56] marionschleifer commented on #2431
@jjangga0214 thank you for your idea. Currently, this is not something that we are planning to do. However, any community contribution on this are welcome 🙂

[2019-12-17 15:00] marionschleifer commented on #3542
@nirvdrum Yes, the `--from` option is mandatary. We have merged a fix to mark that as required. It will be available in the next release 🙂

[2019-12-17 15:05] marionschleifer commented on #3538
@spiffytech can you give us a reproduction case, e.g. can you paste some logs here on the issue please? It will make it easier for us to help 🙂

[2019-12-17 15:15] marionschleifer commented on #3060
@axelolsson this was the answer on Crisp:

`Seems like you're using the Hasura Kubernetes platform and not the GraphQL engine. We're moving the Hasura kuberntes platform o a new location and making a lot of underlying changes. Currently, we're only actively support existing users of the kubernetes platform so I'd recommend not using the kubernetes platform for a while.`

Are you trying to setup ju

[2019-12-17 15:21] jberryman commented on #3280
@lexi-lambda

Yeah that makes sense. How about an initial PR with just `cabal.project` and `cabal.project.freeze` with comments to the effect of "you can use this to preview a cabal-install workflow"? That would be easy for me to open today (and maybe I will anyway just so the work is out there, even if it gets closed).

Okay yeah I think you're right. It shouldn't disrupt normal local development

[2019-12-17 15:36] lexi-lambda commented on #3280
Yeah, I think that makes sense. It could even serve as a collaborative branch if others want to help move it along so it doesn’t have to be entirely one person. I’d definitely be willing to pitch in a little time, and I can share my current `cabal.project` with you if you’d like (though I imagine you’ve already put one together on your own, so maybe it doesn’t matter).

[2019-12-17 15:56] m0ngr31 commented on #3354
So if I do this upgrade, can I then upgrade to the newest released version on master?

[2019-12-17 16:03] lexi-lambda commented on #3354
@m0ngr31 I’m afraid not directly—the experimental build is incompatible with the version on `master` (and in fact might be incompatible with future versions of the same branch, though at this point that seems very unlikely since it’s basically finished). If you want to try it out, I’d recommend only doing it in a development/staging environment that you can throw away, not in production (and I’d r

[2019-12-17 16:27] m0ngr31 commented on #3354
Okay, I'll just wait for it to get merged and then try it. Thanks for your hard work on this!

[2019-12-17 16:52] lexi-lambda commented on #3354
Thank you for your patience!

[2019-12-17 17:21] jberryman commented on #3280
Cool feel free to comment or contribute to that branch ^ I think I'm just using what you posted above.

I don't feel like I have a great idea yet of what a good development workflow looks like using cabal-install for this project. I seem to be triggering a lot of rebuilds of dependencies as I tweak the `local` file, and sometimes graphql-engine isn't rebuilt when I change certain things (like `pro

[2019-12-17 17:42] lexi-lambda commented on #3491
I think this is a duplicate of #877. It’s something we definitely want to support and are currently looking into, but it isn’t something we have a concrete plan for just yet.

[2019-12-17 17:51] flashspys commented on #3512
I used [this official docker-compose.yaml](https://github.com/hasura/graphql-engine/tree/master/install-manifests/docker-compose). The installed versions are, according to docker-compose, the postgres:latest and hasura/graphql-engine:v1.0.0 image. I've done nothing but run docker-compose up, so the database is clean.

[2019-12-17 18:37] pcmaffey commented on #3491
@lexi-lambda Do you have any recommended workarounds for the time being?

eg. Adding roles as flags on the user object somewhere, and then looking up those permissions as custom checks on a single `user` role. So the custom check would look like:
[code]

Would this work? Would this kind of lookup on every action cause a big performance hit?

[2019-12-17 21:52] paf31 commented on #3415
Do we want separate CI tasks for the various combinations?

- PG 11 + postgis 2.5.3
- PG 11 + postgis 3.0.0
- PG 12 + postgis 2.5.3
- PG 12 + postgis 3.0.0

Right now, I just have PG {9,10,11} + postgis 2.5.3 and a separate PG 12 + postgis 3.0.0 job.

[2019-12-17 23:58] scribahti opened #3559 "Cannot ssh into the VM on Heroku"
Hasura Version: v1.0.0-beta.6
Deployment platform: Heroku (using the provided template)
Dyno Type: Hobby

[code]

I've tried restarting the dyno, with the same result.

Please let me know if https://github.com/hasura/graphql-engine-heroku is the appropriate repo for this issue.

[2019-12-18 03:40] dvasdekis opened #3560 "Add a 'retry' to hasura-cli for `migrate` command"
I am using hasura-cli to apply migrations [in a separate container](https://github.com/dvasdekis/hasura-cli-docker) in a secure environment, similar to how [Flyway docker containers](https://github.com/flyway/flyway-docker) can migrate my database. This avoids me having to give the Hasura user any CREATE SCHEMA permissions in my database.

Right now however, if hasura-cli can't find the Hasura ser

[2019-12-18 06:07] shahidhk commented on #3559
For Heroku Exec to work on Docker containers there are some pre-requisites that the container image needs to satisfy as indicated here: https://devcenter.heroku.com/articles/exec#using-with-docker

Hasura's container does not satisfy these requirements. What is your use-case with exec? Maybe you can build a custom image using Hasura's container as a base image?

[2019-12-18 06:09] shahidhk commented on #3560
The typicall pattern in the container world is to tell the orchestrator to restart the container if it fails. Kubernetes does always and can be enabled on docker compose with `restart: always`.

Will this not work for you?

[2019-12-18 07:04] shahidhk commented on #2824
We're ideating on a simpler solution for this where all CLI APIs are protected by admin secret and all that needs to be done is to expose them correctly.

[2019-12-18 07:04] shahidhk commented on #3396
Tracked in https://github.com/hasura/graphql-engine/issues/2824

Closing this as duplicate

[2019-12-18 07:04] #3396 closed

[2019-12-18 07:59] praveenweb commented on #3513
Hi @RKARaj - Since you are using Hasura with local docker, this should most likely be an issue with environment variable `HASURA_GRAPHQL_JWT_SECRET` not being set right. If you have a `docker-compose` setup, you need to make sure to wrap the value in a single quote.

Also you can verify the token generated from Auth0 using https://jwt.io/#debugger-io or even using Hasura Console.

[2019-12-18 09:44] danharsanyi commented on #3401
@shahidhk I'm getting the same issue. Would you like more example migrations emailed to you?

[2019-12-18 12:41] tirumaraiselvan commented on #3491
Dupe of #877

[2019-12-18 12:41] #3491 closed

[2019-12-18 13:44] tirumaraiselvan commented on #3478
There are many ways to achieve this via pure SQL views. Pls see `GROUP BY HAVING` or `SUB QUERIES` in any sql reference :)

[2019-12-18 16:20] cah-rob-snider opened #3564 "An operation already exists with this id"
I am getting this error:
https://github.com/hasura/graphql-engine/blob/756d8abd54c096bfe7afcb6491650149e53cc35f/server/src-lib/Hasura/GraphQL/Transport/WebSocket.hs#L267

I am not familiar with this programming language. What would cause this error to be thrown? I assume the websocket is trying to reconnect, but the uuid it is generating for the session already exists. I just don't know what would

[2019-12-18 16:55] scribahti commented on #3559
Thanks, I suspected this might be the case. I need to pull the access logs for http requests against the Hasura server.

I see your pinned issue here: https://github.com/hasura/graphql-engine/issues/3374 and will reach out via that form.

[2019-12-18 17:24] 0x777 commented on #3564
We implement the Apollo's websocket protocol for GraphQL queries as described [here](https://github.com/apollographql/subscriptions-transport-ws/blob/master/PROTOCOL.md). Which client library are you using? This happens when a client sends two operations with the same operation id (it shouldn't be doing this) on the same websocket connection.

[2019-12-18 17:34] lexi-lambda commented on #3415
I think having what we have now is probably fine, and we can reevaluate if we ever find a situation where not having the extra jobs missed an actual bug. For now, it seems unlikely to be a problem.

[2019-12-18 17:57] cah-rob-snider commented on #3564
I am using GraphQL in Flutter: https://github.com/zino-app/graphql-flutter

Based on your response, I think it may have to do with the way that the library is re-establishing the connection when it drops. I can look more into it, but this was helpful!!

[2019-12-18 18:00] morbatex commented on #3512
Hi,

I've got the same problem...

[2019-12-18 18:19] santicomp2014 opened #3565 "Computed field not working with a role"
The computed field appears correctly when using admin, but when I try using the same query with a role, the computed field is not event selectable.

This would go in hand with #3522 by adding computed field permission on a specific role.

[2019-12-18 19:35] flybayer commented on #1778
I'm starting to use the event system more heavily and am also needing an exponential backoff option for retries.

Does this feature have a place on the roadmap or is it still in the icebox?

[2019-12-18 19:39] lexi-lambda opened #3566 "Allow overriding the request role via a GraphQL directive"
As mentioned [on Discord](https://discordapp.com/channels/407792526867693568/620480540281405440/620483298845655041), it isn’t possible to change the role used by an existing websocket connection, since `X-Hasura-Role` is sent as a header when opening the connection. @0x777 suggests allowing a special `@hasura(role:)` directive on a GraphQL operation definition, like this:

[code]

This would overr

[2019-12-18 19:41] lexi-lambda commented on #3566
An outstanding question I have: what use case does this support, exactly? Presumably each websocket connection is opened by an authenticated user, and the authentication token specifies a particular role. Since this doesn’t re-authenticate, how can switching between roles be useful?

[2019-12-18 19:42] colundrum commented on #1164
Can you post the solution in this issue please ?
I search the official link where I can download graphql-engine binary without compiling it.

[2019-12-19 01:32] lexi-lambda commented on #3415
Closed by #3519.

[2019-12-19 01:32] #3415 closed

[2019-12-19 01:44] lexi-lambda commented on #3411
I am going to close this issue, as I don’t think it’s currently possible for us to reproduce it with the information provided. If you think it’s still an issue, and you can provide a little more information, feel free to reopen it.

[2019-12-19 01:44] #3411 closed

[2019-12-19 03:24] 0x777 commented on #3566
A user can have multiple roles and each role could have different permissions on different tables, in such cases, you would want to make a query by specifying the appropriate role (since we don't support multiple roles). On http, you can set `x-hasura-role` to the appropriate role and make the request but this feature is lacking on the ws transport as the role gets set when the connection is initi

[2019-12-19 05:31] einsqing opened #3568 "In Zhengzhou, China, CDN resource loading is too slow"
In Zhengzhou, China, CDN resource loading is too slow

[2019-12-19 05:33] lucca65 commented on #1164
they sent me a binary at the time.

[2019-12-19 08:33] dsandip commented on #3443
@scare21410 @esteiner Would love to discuss this in more detail and run some of our plans by you. Could you please help with setting up a chat using [this](https://calendly.com/sandipd/30min).

[2019-12-19 09:46] hector commented on #3478
Hi @tirumaraiselvan, thanks for the answer.
I know how HAVING or SUB QUERIES work but how do you suggest to use them?

I will expose my case in more detail.
Following the example I said before: imagine you have a table of appointments. I want to filter them based on their date (e.g. events after November) and group them by their category.

[code]

Calling it from Hasura graphQL endpoint:
[code]

B

[2019-12-19 10:03] tirumaraiselvan commented on #3478
Will a view like the below work?

[code]

[2019-12-19 10:07] hector commented on #3478
Nope :(
The results are different. I can have lots of groups if I group by date. Even after filtering, they would need to be grouped again.

[2019-12-19 10:47] Oleg2tor opened #3571 "Return non 200 http status code on error"
From version 6 hasura starts to respond 200 http status code at error requests.

[2019-12-19 11:13] shahidhk commented on #3571
@Oleg2tor Most GraphQL clients expect all responses to be 200, hence this change was introduced in https://github.com/hasura/graphql-engine/pull/2064 only for `/v1/graphql` API.

The `/v1alpha1/graphql` API still responds with non-200 status codes.

[2019-12-19 12:57] coco98 commented on #1622
Closed for now!
We are working on #3390 which should alleviate some of the problems on this thread.
For a manual fix, refer to: https://wiki.postgresql.org/wiki/Alter_column_position

[2019-12-19 12:57] #1622 closed

[2019-12-19 13:22] colundrum commented on #1164
Thank you and anyone search the direct link to latest build: https://graphql-engine-cdn.hasura.io/server/latest/linux-amd64

[2019-12-19 15:14] go4cas opened #3572 "Insert with Generated Columns"
Using [generated columns](https://www.postgresql.org/docs/12/ddl-generated-columns.html), introduced with Postgresql 12, work fine when doing queries or mutations through GraphQL. When trying to insert a row, using the console Insert Row tab, tries to set the column value to NULL, which results in a "unexpected : cannot insert into column" error.

[2019-12-19 15:15] Oleg2tor commented on #3571
@shahidhk Thank you for response.
I can't say about GraphQL clients, but most of fetch clients working with status code.
For example in axios:

[code]

As far as there can be not only GraphQL responses,
and some of they can send data.errors too - there can be collisions,
so the middleware that handle responses should know if there was
an hasura request or something else to choose correct way.

in

[2019-12-19 15:34] Oleg2tor commented on #3571
There few more things:
Browsers highlights error responses by red color. So there easy to debugging during development.
Also some cache layers can decide when to invalidate itself by http status code.

[2019-12-19 15:41] tirumaraiselvan commented on #3571
I think this could be a server-flag.

[2019-12-19 16:04] marionschleifer commented on #3523
@rccoe is your question answered? If yes, we can close this issue 🙂

[2019-12-19 16:06] marionschleifer commented on #3541
@joshuarobs I'm closing this issue. Feel free to re-open, should you have any more questions 🙂

[2019-12-19 16:07] #3541 closed

[2019-12-19 16:41] GavinRay97 commented on #3480
Actually ran into this issue today.

Attempting to figure out how to auto-apply migrations on k8s and keep them in sync.

I can't pass the migrations directory argument to the environment because the filesystems are independent, so obviously trying to reference `/migrations` will point to something that does not exist inside of the k8s pod.

One way might be to write a bash script to post-deploy `

[2019-12-19 17:14] shahidhk commented on #3568
@epicalyx use this to load assets from server itself instead of the cdn https://docs.hasura.io/1.0/graphql/manual/deployment/graphql-engine-flags/config-examples.html#run-console-offline-i-e-load-console-assets-from-server-instead-of-cdn

[2019-12-19 19:11] paf31 commented on #3572
This seems like it's probably caused by the same issue as in #2508.

[2019-12-19 19:29] flybayer commented on #2483
I would very much appreciate this feature! Currently I'm adding a new env variable for every single event.

[2019-12-19 19:52] piroszhog opened #3573 "_inc operator works only for Int fields"
In Hasura console I see the following description for _inc opertor:

But I read in your blog [here](https://blog.hasura.io/updating-data-using-mutations-on-hasura-graphql-87c7e22503bc/), that it should work for any numeric field. Where is the truth?

[2019-12-19 20:09] heliocaruccio commented on #1573
Hello developers. I'm in a part of development where it required a little bit of code dirt to perform nested updates. My question is whether this functionality will be developed and more or less when it might be made available to us. Depending on the case, I push certain features further.

[2019-12-19 22:05] RKARaj commented on #3513
thank you for the response Praveen. I already tried the solution as you mentioned above, which is why I raised it as an issue. In the documentation to do this,  something might be missing I believe, I might be wrong. Because certificate 'HASURA_GRAPHQL_JWT_SECRET' is failed to do "Signature Verified". so always ("message": "Could not verify JWT: JWSError JWSInvalidSignature")

[2019-12-20 02:57] GavinRay97 commented on #3480
Okay, I have a working solution.

The `Dockerfile` for the Hasura engine that gets deployed to my k8s looks like this:
[code]
And in my Hasura config:
[code]

[2019-12-20 03:08] GavinRay97 commented on #2817
Ran into this issue today, deploying with auto-migrations image from k8s caused the Hasura instance to fail due to the enums breaking everything.

If I could make a suggestion @lexi-lambda, I think one of the easier ways to solve this issue would be to bundle the rows in the enum table as part of the migration (essentially a seed), since the Hasura enum spec defines that there must exist at least

[2019-12-20 12:03] flashspys commented on #3512
@morbatex and me used both the eduroam network and if we were *not* using a HTTPS proxy, this problem occurs. So enabled HTTPS or changing the network helped.

[2019-12-20 12:03] #3512 closed

[2019-12-20 13:21] marionschleifer commented on #3542
@nirvdrum this is the PR with the fix: https://github.com/hasura/graphql-engine/pull/3500. I'm closing this issue. Feel free to re-open if you have anything to add to this 🙂

[2019-12-20 13:21] #3542 closed

[2019-12-20 14:24] marionschleifer commented on #3559
@scribahti you can access the logs with the `heroku logs` command as described [here](https://docs.hasura.io/1.0/graphql/manual/deployment/heroku/logging.html#hasura-graphql-engine-server-logs-heroku) 🙂

[2019-12-20 14:50] uniyalaa commented on #3392
@shahidhk - Many thanks. This helps progress things on our side to get using it.

[2019-12-20 14:55] lexi-lambda commented on #2817
Yes, I agree. I think that we should treat DML changes to enum tables as if they were DDL changes (since they morally are), and they should go in the console-generated migrations. I think it makes sense to repurpose this issue as a feature request for that feature, so I’ll do that.

[2019-12-20 14:55] tafelito opened #3576 "accesing hasura session from custom function fails"
I tried to follow the steps to create a custom function and access the hasura session variables from [here](https://docs.hasura.io/1.0/graphql/manual/queries/custom-functions.html#accessing-hasura-session-variables-in-custom-functions) and there are 2 issues

1- if you track the function from the console, when you execute the query it complains about not having the arguments variable

2- in order

[2019-12-20 15:19] uniyalaa opened #3577 "Delays due to busybox"
Hello team,

We have been trying to get Hasura into our organisation's official container registry so that we can use it.
It needs to go through and pass certain vulnerability scans. Unfortunately, we are struggling on our side because busybox requires additional functionality of binary scanning to scan the image for vulnerabilities.
This will cause substantial delays for us.
Is it at all possible

[2019-12-20 16:01] nirvdrum opened #3578 "Map UUID keys as GraphQL "ID" type"
Currently, Hasura creates a new scalar type called `uuid` for UUID keys. Because it's a non-standard type, using it with clients usually means jumping through some hoops to treat the value as a string. But, that's really all the standard `ID` type does anyway, as far as I know. I think if this type were remapped in the schema, it'd improve the ergonomics of working with a Hasura-based GraphQL serv

[2019-12-20 16:51] mwarger commented on #2770
@shahidhk I think I'm seeing the same issue in Google Cloud with log output in stackdriver.  It appears that migrations have happened for long enough that I'm suspicious that there's an error in the migration that's actually being hidden below what seems like truncated output because of the amount of "Applying migrations..." messages being sent to the logger.  Is there any ETA on this fix or a way

[2019-12-20 17:50] flybayer opened #3580 "Add ability to cancel a pending event"
For robustness sake, I set event retries to an extremely high number. This allows time for other systems to come back up or a developer to fix a bug.

However, there are times where you know an event will *never* succeed and you want to stop it from retrying.

Two use cases:

1. Ability to cancel a pending event from the console UI
2. Ability to cancel an event from the webhook response (by adding

[2019-12-20 20:34] flybayer commented on #2216
This has been causing me a bunch of pain.

I'm early in development of an app, so I'm often changing event triggers, environment variables, etc. as I figure out the best way to build my app.

I have to be super careful to leave old environment variables in my build config until I have a successful deploy, then I can remove the old env variable.

The problem is I keep forgetting to do that, resulti

[2019-12-21 00:45] #3530 closed

[2019-12-21 01:03] ziahamza commented on #3420
After the v1 release we wanted to try this again. After debugging more, I think the issue is not necessarily tied to connection but the upgrade itself.

Hasura logs consistently dont print anything after mentioning the first retry:

[code]

The small snapshot of postgres logs themselves are attached in the following file csv file:

[cloudsql_database_database_id_murcul-205921%3Amurcul-engine-clone

[2019-12-21 05:39] colundrum opened #3581 "Support for PostgreSQL High-Availability with Load Balancing"
Hello,

I run a PostgreSQL cluster similar to https://github.com/vitabaks/postgresql_cluster#type-a-postgresql-high-availability-with-load-balancing

So I've nodes ready for read only and the master for read&write.

Can you support this setup which is the best for maximum performance and scaling ?

Regards

[2019-12-21 07:34] shahidhk commented on #2209
closed in https://github.com/hasura/graphql-engine/commit/f8ffbda11897983adffd5a5d00f077da92f618ba

[2019-12-21 07:34] #2209 closed

[2019-12-21 09:08] marionschleifer commented on #3571
@Oleg2tor you can use `/v1alpha1/graphql` endpoint which will respond with non 200 status codes for errors 🙂

[2019-12-21 13:58] bkniffler commented on #2816
Another thing that could be done is to use https://pagecdn.com/lib/easyfonts to load Gudea font instead of`https://fonts.googleapis.com/css?family=Gudea:400,700`. Google fonts don't do caching and even if using static-dir, the font will not load and console will look a bit off.

[2019-12-22 00:39] simpleshadow commented on #1902
I need this functionality as well. I have users who need access to team user data in multiple teams. A `x-hasura-team-ids` in an array would make this doable. Currently no way of allowing access to multiple team data.

@rikinsk That section mentions use of arrays, but it is not doable in beta.9.

[2019-12-22 15:53] yuvalgut commented on #3580
Isnt it safe to just delete the event from the table?

[2019-12-22 16:46] flybayer commented on #3580
@yuvalgut Maybe? Regardless, you have to manually run an SQL query to do that right now.

[2019-12-22 18:21] piroszhog commented on #3573
@marionschleifer if it's a right behaviour now, I would convert this issue to an enhancement request, to extrapolate the _inc operator to all numeric fields, not only Int.

[2019-12-22 19:03] carllippert commented on #2483
+1 This would be an excellent addition for those heavily leaning on events and solve some of the whole metadata swaps people have been talking about to get around env var problems with migrations

[2019-12-22 19:25] yuvalgut commented on #3580
Sorry, I did not realize it was a feature request

[2019-12-23 04:14] joshuarobs opened #3582 "Updating instructions on Heroku not clear enough"
I tried looking at the page https://docs.hasura.io/1.0/graphql/manual/deployment/heroku/updating.html to update Hasura on an already live instance of Hasura, but I can't get it to work.

I tried running: `
heroku git:remote -a <hasura-heroku>
` but it's not working.

I get this:
`
Error: Command failed: git remote
fatal: not a git repository (or any of the parent directories): .git
`

I guess I ju

[2019-12-23 04:16] robnewton commented on #1914
@tirumaraiselvan how will one-off scheduled jobs be handled if the time passes when the server is offline? Can these type of jobs be configured as “priority” to run if the time has passed as soon as the event engine is online again? If they are not configured as priority then they could be assumed safe to not execute if missed.

[2019-12-23 05:08] tirumaraiselvan commented on #1914
@robnewton An idea was to have something like a tolerance period i.e. a timerange say 30 mins or 6 hours. You can configure this per scheduled trigger. Now, if hasura was down and couldn't deliver the event on time, then when it comes back up, it will try to re-deliver the event if it falls within the tolerance period else it will drop the event (and join the dead letter queue; yet to be implement

[2019-12-23 05:27] robnewton commented on #1914
Yes I think that would cover my use case perfectly. Will that launch along side this or be added to the roadmap fur a future release?

[2019-12-23 05:28] tirumaraiselvan commented on #1914
It will part of the initial release.

[2019-12-23 05:57] marionschleifer commented on #422
@Kjens93 we have now released the stable version. Would you mind trying this again? 🙂

[2019-12-23 09:11] RichieMerchant commented on #3468
@marionschleifer I have solved it. My intention was to have more control over the volume when rebuilding the containers.

I now use this
[code]

And within my bash script, I can create and destroy the volume as and when.

[2019-12-23 09:11] #3468 closed

[2019-12-23 09:15] 0x777 commented on #3577
Hi, this is something we might add in future but we can help you build a graphql-engine image which is as per your organization's requirements.

The official docker image [is built as follows](https://github.com/hasura/graphql-engine/blob/master/server/packaging/Dockerfile):
1. The source code is mounted into an appropriate `fpco/stack-build` image (the image with the compiler and build tools) and

[2019-12-23 09:55] marionschleifer commented on #1573
@heliocaruccio we are in the process of working on a spec for this issue. It should be ready within a month. We'll be able to share new information then 🙂

[2019-12-23 09:57] marionschleifer commented on #2293
This has been added to the documentation.

@mitar could you please ask this and other specific questions on our [Discord channel](http://hasura.io/discord) 🙂

[2019-12-23 09:57] #2293 closed

[2019-12-23 09:57] 0x777 commented on #3571
@Oleg2tor The idea behind `200` for error responses is that the error reporting mechanism is not dependent on the transport (http/websocket). The GraphQL spec also accommodates for returning partial data for a request, in this case you will have both `data` and `errors` in the response. Unfortunately you can't represent such cases with `2xx` and non-`2xx` error codes.

For now, you can use the `/v

[2019-12-23 09:58] marionschleifer commented on #3517
@beepsoft I'm closing this issue. If you would like to add anything, feel free to re-open 🙂

[2019-12-23 09:58] #3517 closed

[2019-12-23 10:12] rakeshkky commented on #3576
@tafelito Please give the following details to reproduce the issue.
1. The `get_session_role` function definition
2. The payload of the request you made to track the table.

[2019-12-23 10:34] tirumaraiselvan commented on #3577
@uniyalaa We can also supply a custom docker/binary for you. Please ping me in Discord (https://discordapp.com/invite/hasura) , my handle is `@Tiru` and we can set it up in a couple of hours.

[2019-12-23 11:13] rille111 commented on #1573
Awesome! All love to the Hasura team. You make development with this tech fun.

[2019-12-23 11:48] yasinarik commented on #3536
Similar to #1700 .

Will you implement my suggestion soon? @tirumaraiselvan @marionschleifer

[2019-12-23 11:50] shahidhk commented on #2766
[code]

[2019-12-23 11:50] yasinarik commented on #1700
This can be extended per suggested in #3536

[2019-12-23 16:02] Kjens93 commented on #422
@marionschleifer Absolutely! I'm tied up at work today, but I will get it take care of in the next couple of days for sure.

[2019-12-23 19:54] GavinRay97 commented on #2431
I also am in the process of trying to come up with a solution for this at the moment.
Manually writing SQL statement seeds is technically an answer, sure, but that is going to cost our team a lot of time. Ideally, Hasura should provide utilities to track and insert records along with schema definitions.

**I think the optimum solution here is to use the `pg_dump` API (which I had no clue existed i

[2019-12-23 20:02] GavinRay97 commented on #2431
I do not have any experience writing Go, but here is what I imagine the function would roughly look like (barring the fact that if we are going to pass config here, it should be in an object (I suppose Go calls them interfaces)):

[code]

[2019-12-23 20:04] tafelito commented on #3576
I copied the wrong function name. The name is `me` and this is the function definition

[code]

and this is how I called the API track function

[code]

[2019-12-23 21:41] marionschleifer commented on #3559
@scribahti I'm closing this issue. Feel free to re-open if you would like to add something 🙂

[2019-12-23 21:41] #3559 closed

[2019-12-24 01:28] colundrum commented on #3581
Hello @bappr ,  Have you any solution about this deployment?

[2019-12-24 02:12] gnanakeethan commented on #678
any updates here?

[2019-12-24 06:30] ecthiender commented on #3571
I would like to add to what @0x777 already said, that it's not just a typical pattern but rather it is the convention in the GraphQL ecosystem. For example, apollo-client (and other popular client libraries) will not even show the HTTP response in-case of a non-200 response, and will only show a "network error". Those libraries rely on the `error` key in the response JSON. This makes sense - as Gr

[2019-12-24 08:39] rakeshkky commented on #3576
@tafelito Thank you for reporting the issue.

I'm able to reproduce and confirmed it as a bug. The relevant fix is present in https://github.com/hasura/graphql-engine/pull/3585. Please try out the PR preview app and confirm the bug is fixed.

[2019-12-24 09:27] tirumaraiselvan commented on #3443
@rikinsk Can you review this task?

@scare21410 Happy to have a PR from you, could you also point to other kinds of cookie policies and how they might affect this? (Basically some kind of spec level info)

[2019-12-24 10:36] uniyalaa commented on #3577
@0x777 and @tirumaraiselvan - I'll check internally if these solutions will work for us or not and get back to you. Thanks.

[2019-12-24 10:38] tirumaraiselvan commented on #3577
@uniyalaa Also, pls let us know what methodology would actually work inside your org.

[2019-12-24 10:43] uniyalaa commented on #3577
@tirumaraiselvan - Sure. I am trying to find out.  We are using Sysdig for vulnerability scanning and the problem is that, they have informed us, busybox requires additional functionality of binary scanning to scan the image for vulnerabilities (it has no package manager, no 3rd party feeds).

If you create a custom docker image for us, will you maintain/publish and manage it same as your standard

[2019-12-24 10:44] tirumaraiselvan commented on #3577
@uniyalaa Let's talk about what the maintenance might look like on Discord?

[2019-12-24 10:49] uniyalaa commented on #3577
@tirumaraiselvan - it blocked here at work.

[2019-12-24 10:49] tirumaraiselvan commented on #3577
@uniyalaa You can also reach me at `tiru@hasura.io`

[2019-12-24 11:41] uniyalaa commented on #3577
@tirumaraiselvan - sure. I'll do that. Just waiting for some more people to be back in the office in the new year to answer my queries. Thanks for quick responses. I'll email you next time.

[2019-12-24 12:56] #3188 closed

[2019-12-24 13:22] shahidhk commented on #3582
Hi, you should go through step 1, without which the rest won't work. For step 1, you should clone the graphql-engine-heroku repo:
[code]

and then move on to step 2

[2019-12-24 13:29] shahidhk commented on #3420
@rakeshkky Can you take a look at this?

@ziahamza How long does it stay like this? Is the database and Hasura on the same region?

[2019-12-24 13:30] #3582 closed

[2019-12-24 13:48] shahidhk commented on #305
Let's close this issue until another report comes.

[2019-12-24 13:52] shahidhk commented on #3581
@colundrum This will require implementing https://github.com/hasura/graphql-engine/issues/1847 or something similar.

Can I close this as a duplicate for the mentioned issue?

[2019-12-24 13:54] colundrum commented on #3581
Ow yes, sorry for the duplicate.
Have you an ETA about this implementation ?

[2019-12-24 13:54] shahidhk commented on #3401
https://github.com/hasura/graphql-engine/pull/3569 should fix this.

[2019-12-24 15:13] ziahamza commented on #3420
Actually waiting solved the issue. It took 35 mins (our CI step was timing out so had to run from a local machine). All migrated!

I think some sort of progress while this migration is happening would be needed (especially as most CI steps would continue to run and not time out if stdout is changing)

On Tue, Dec 24 2019 at 6:29 PM, Jakub Okoński < notifications@github.com > wrote:

[2019-12-24 15:13] #3420 closed

[2019-12-24 15:22] marionschleifer commented on #2431
@shahidhk could you please help @GavinRay97 to get started on this? ✨

[2019-12-24 15:27] marionschleifer commented on #3581
@colundrum we don't have an ETA at the moment. Please do upvote the issue and describe your use case in a comment, so that we can consider it for the next iterations 🙂 closing this issue.

[2019-12-24 15:27] #3581 closed

[2019-12-24 15:59] tirumaraiselvan commented on #3581
@colundrum I would love to get some more input in prioritising and giving an ETA. Could you ping me on Discord (https://discordapp.com/invite/hasura), my handle is `@tiru` and we can chat over there ?

[2019-12-24 16:25] colundrum commented on #1847
It's more like an emergency for HA and applications running a lot of requests to PostgreSQL cluster.

I run a PostgreSQL cluster similar to https://github.com/vitabaks/postgresql_cluster#type-a-postgresql-high-availability-with-load-balancing

Where we can do all write on master (only) and all read on all replicas.

At this time, I'm looking to inspect request and do routing depending if it's a mu

[2019-12-24 16:29] yasinarik commented on #1291
@tirumaraiselvan , @coco98 , @0x777 , I've been waiting for a long time for actions feature to be released.

**How long will it take?** It will change our DB structure dramatically. Here is an example of a use case: #3536

Thanks for building the amazing Hasura!

[2019-12-24 16:29] tafelito commented on #3576
@rakeshkky How can I test the PR if I use graphql-engine-heroku?

[2019-12-24 16:54] GavinRay97 commented on #2431
@lexi-lambda This has cross-cutting concerns with https://github.com/hasura/graphql-engine/issues/2817 and would potentially take care of that too

[2019-12-24 17:29] Oleg2tor commented on #3571
@ecthiender well as you can see apollo-client users have some troubles because of this decision https://github.com/apollographql/apollo-client/issues/5656
And based on this issue there some sandbox server that response 400 error, so that convention you point (never heard about it) seems like not applicable wildly.
Anyway I'm not arguing about correctness just asking to leave option for those, who

[2019-12-24 18:24] gunar-gessner-qatalog commented on #3576
I was able to reproduce here too.

@tafelito fyi looking at the PR I realized a quick fix for the meantime. Just add a second argument to your function and to your queries.

[code]
[code]

@rakeshkky, getting information about the user currently logged in seems common enough that you might want to add this specific use-case to Hasura's documentation.

@rakeshkky, also, would love to have the v2 of

[2019-12-24 18:26] gunar commented on #3576
I was able to reproduce here too.

@tafelito fyi looking at the PR I realized a quick fix for the meantime. Just add a second argument to your function and to your queries.

[code]
[code]

@rakeshkky, getting information about the user currently logged in seems common enough that you might want to add this specific use-case to Hasura's documentation.

@rakeshkky, also, would love to have the v2 of

[2019-12-24 18:44] GavinRay97 opened #3588 "CLI contributing.md instructions - error when installing realize"
Issue is documented here:
https://github.com/oxequa/realize/issues/253

[code]

Solved by deleting `$GOPATH/pkg/mod/github.com/oxequa`, running `go get gopkg.in/urfave/cli.v2@master` and then re-running `go get github.com/oxequa/realize`

[2019-12-24 19:20] GavinRay97 commented on #3588
Another problem, when running `make deps` complaining about `go-bindata` issues:

![image](https://user-images.githubusercontent.com/26604994/71423590-6d3e5300-2658-11ea-8530-95537b1508cf.png)