[2020-05-07 21:41] mrspartak opened #4706 "Error modifying VIEW"
So error happening, because there is no schema prefix on table name near FROM. Of course, I can write it by myself, but I guess it should be fixed.
![image](https://user-images.githubusercontent.com/993910/81347231-66265780-90c4-11ea-9172-b81e37f0dde9.png)

[2020-05-07 22:52] adav commented on #4651
Is this related?:

    2020-05-07T22:32:12.388633+00:00 app[web.1]: {"level":"info","msg":"Installing plugin cli-ext...","time":"2020-05-07T22:32:12Z"}
    2020-05-07T22:32:13.263349+00:00 app[web.1]: {"level":"info","msg":"unable to install cli-ext plugin. execute the following commands to continue:\n\n  hasura plugins install cli-ext\n","time":"2020-05-07T22:32:13Z"}
    2020-05-07T22:32:13.2635

[2020-05-08 00:13] SmoshySmosh commented on #4485
I'm having the same issue. Any word on when this might be resolved?

[2020-05-08 00:50] martavis opened #4708 "[Bug][v1.2.1] Editing table permissions"
Since I updated to version 1.2.1 for the security fix, I am not able to edit the custom check for permissions on a table by typing. The goal is to add more than one check, for the user id and the organization's id. For reference, here is a screenshot:

![image](https://user-images.githubusercontent.com/47053705/81358350-17a89700-908b-11ea-873f-0847e4872c90.png)

In addition, this may be a feature

[2020-05-08 02:22] frossi85 opened #4709 "[Bug] x-hasura-role and the right table permissions does not give access to insert_{entity}_one but It does to insert_{entity}"
I was trying to execute some mutations on my backend without using the admin to limit the operations that can my backend do but without all the work of creating a user with that role. So by recommendation of @leoalves in the official Hasura Discord channel, I added to my headers:

[code]

And then add a new role to the table and allow all the fields in the insert. The result was that from `{hasura

[2020-05-08 07:16] hx-natthawat commented on #992
Caddy is work as [documentation](https://hasura.io/docs/1.0/graphql/manual/deployment/enable-https.html). However, an example by Nginx for the reverse proxy is stall has an issue.

[code]

[2020-05-08 08:13] tirumaraiselvan opened #4712 "newly added columns are not given permissions without reload_metadata when "*" is set"
Although the [permissions syntax](https://hasura.io/docs/1.0/graphql/manual/api-reference/schema-metadata-api/permission.html#selectpermission) takes `*` as a value, the meaning of `*` expands to the list of columns available at the time of creating the permission.

This means that adding new columns to such a table will not have the select permission on them, but the console shows that the permis

[2020-05-08 08:29] marionschleifer opened #4713 "Improve actions docs ☂️"
This issue collects feedback for improving the actions documentation:

- https://github.com/hasura/graphql-engine/issues/4645
- https://github.com/hasura/graphql-engine/issues/4391
- https://github.com/hasura/graphql-engine/issues/4198

[2020-05-08 08:32] tirumaraiselvan commented on #4712
Although, if we `reload_metadata` then the new columns get included in the permission. This unpredictable behaviour also needs to be fixed.

[2020-05-08 08:34] soorajshankar commented on #4704
I see that `commonDataTypes` is used in multiple places. Shall I extend [commonDataTypes](https://github.com/hasura/graphql-engine/blob/6ffb29b9433b39622f6f3be66086ec19e1020943/console/src/components/Services/Data/utils.js#L606) with another property called `key` or something?
like shown below

[code]

( another thought is to modify `value` prop but that would cause new bugs because that is used i

[2020-05-08 08:47] beerose commented on #4704
`commonDataTypes` is imported in two places: `TableColumn` and `TableCreator` and in both places is passed to the `getDataOptions` function, which produces grouped by label list of types to display in the dropdown. Thus it should be okay to modify `value`.

[2020-05-08 08:59] abooij commented on #4014
I am trying to reproduce this issue, so that I can create a minimum working example of this, and figure out what is happening here. Could you please tell me some details?

1. What version of GraphQL Engine you are running?
2. Can you describe your Postgres tables? Which columns do your tables have, and what foreign keys have you set up?
3. Which relations have you configured in GraphQL engine?

[2020-05-08 09:14] rhideg opened #4714 "Tracking foreign data wrappers from another schema, v 1.2.1"
* We used the Hasura 1.2.1 version and all of a sudden the previously tracked tables from two schemas disappeared
* The tables in the public schema remained tracked, but we were not able to retrack the lost tables (they were still in the database)
* After reloading the metadata, resetting everything we could, deleting all data and starting from scratch, but nothing worked
* We resolved this issue

[2020-05-08 09:19] gnyani commented on #4256
It looks like adding a clear button to graphiQL is still in progress.
https://github.com/graphql/graphiql/issues/1388

[2020-05-08 10:33] rikinsk commented on #4714
@rhideg Just to confirm, when you say the tables dissappeared, are they only not visible on the console or are they not being exposed over the GraphQL API as well?

[2020-05-08 11:06] rikinsk commented on #4713
- add a phrase that includes “reusing hasura types in actions” to `Connecting actions to graph` page for searchability
- list types in response type example

[2020-05-08 11:08] #4457 closed

[2020-05-08 11:26] tirumaraiselvan commented on #2483
Yes, making it consistent is definitely something that should be done. The `webhook` key in [event trigger APIs](https://hasura.io/docs/1.0/graphql/manual/api-reference/schema-metadata-api/event-triggers.html#id1) can take a templated url, just like in Actions.

Changing title to reflect this feature

[2020-05-08 11:41] johnniehard commented on #4289
@clementvp What was the issue? Having similar trouble.

[2020-05-08 13:23] rhideg commented on #4714
So first we noticed some weird thing with the foreign data wrappers in the queries, I've made a relation on the portal to one of these tables from the public schema and the query was missing some data and on the fifth or sixth click all the required data was there. At this point I was curious what was happening and checked the track tables and the previously tracked tables from those two schemas w

[2020-05-08 17:11] avimoondra commented on #457
Another example where ceq would be useful in query - https://stackoverflow.com/questions/61674263/compare-two-fields-in-graphql-hasura

[2020-05-08 18:25] ElixirMike opened #4717 "Dropping a column from table with "*" permission drops the entire permission"
I have a table that has defined permissions.
I use the /vq/query to run a SQL statement to drop/remove the column on a table.

Once done, I can run the "export_metadata" either via API or from console, and sure enough all the permissions except the Delete permission have been deleted/removed.

This is very problematic... is there a fix coming for this soon?

[2020-05-08 20:09] webdeb commented on #4708
do you mean `_or` / `_and` ?

[2020-05-08 20:21] plmercereau commented on #3632
@shahidhk How does incremental metadata work with config v2?
Now that there is a strict distinction between `migrations` and `metadata` folder, and that the `metadata` folder is designed as kind of a snapshot of the current metadata, I wouldn't know how to keep track of the metadata updates

[2020-05-08 20:56] ElixirMike opened #4718 "How to remove a table from the schema before calling replace_schema?"
I'm working on an app where I will need to make changes to the schema, and then run a replace_schema API call with the new data.

I am using the export_schema api method to get the schema. I identify the table I want to delete/remove and then use a delete statement to remove it from the JSON object. If I inspect the json object, it looks totally fine, minus the table I removed.

delete freshMeta.d

[2020-05-08 23:06] aleareco commented on #4603
Hi. Any luck with this? I am trying to test a JS file and get the same error.

[2020-05-08 23:32] coco98 commented on #4714
@nicuveo This could be because of the materalized views update you made to the console?

[2020-05-09 07:46] andywong418 opened #4719 "Hasura v 1.2.1 unable to create action"
Following the docs https://hasura.io/docs/1.0/graphql/manual/actions/create.html, after I upgraded my local console through https://hasura.io/docs/1.0/graphql/manual/deployment/heroku/updating.html.

I'm now unable to create an action even as it keeps telling me that `in action "sendInviteEmail"; the type: 'EmailList' is not defined in custom types`, even though I have it defined in the New Type d

[2020-05-09 07:48] andywong418 commented on #4719
Turns out I just swapped the input and type.

[2020-05-09 07:48] #4719 closed

[2020-05-09 16:18] IljaDaderko commented on #4713
I think it would be good to explain how to handle following use case:

1. We have 3 environments, dev, staging and production
2. It is likely that out actions will be on 3 separate environments as well, each on their own domain /  subdomain
3. As far as I can tell we can set base path with `HASURA_GRAPHQL_ACTIONS_HANDLER_WEBHOOK_BASEURL`

However from this point on it is not clear what this flag d

[2020-05-09 17:09] clementvp commented on #4289
That is i'm a bad developer who let Ublock Origin activated in his dev environment.
I feel such ashamed.

Good to know, Ublock Origin block ALL the websocket connexions. AdBlock don't.

Sorry for the inconvenience.

[2020-05-09 17:18] bram209 commented on #2881
any update on this?

[2020-05-09 18:37] martavis commented on #4708
I don't believe so. Before, I was able to place my cursor at end of the JSON (just before the last curly brace), add a comma and type another object that looked like `{"org_id":{"_eq":"X-Hasura-Org-Id"}}`. Now I can't.

[2020-05-09 18:46] webdeb commented on #4708
[code]

Ok, I did't knew that this is a valid permission. IMHO it should be:

[code]

But, I can confirm, that editing the json directly is not possible, since the `comma` gets sanitized out..  However, you can edit your rules with `_and` / `_or` through the UI widgets.

[2020-05-09 18:58] martavis commented on #4708
Oh, thank you for that! I'll give it a try. I don't recall see docs about it for permissions, but maybe I should have derived its use from the query docs.

[2020-05-09 20:14] webdeb commented on #4645
I like the HMAC approach, since it does not leak out any security information, but only signs the actual data. I would like, if that approach could also be applied to event-handlers the same way.

Event-Handlers are like actions, just a remote system which needs to know _who_ is calling it.

[2020-05-09 20:32] webdeb commented on #4645
@haf Thats a good point. But it should't be an excuse to not trying to secure a system. Its somewhat okeyish to pass ENV variables around in a closed network. However, it's not good to encourage people to do it by default, because it is potentially risky, like storing your JWTs in `localStorage` like many are doing it.

HMAC is just a way to keep **secrets** _secret_.

So the idea here is not to l

[2020-05-09 20:38] webdeb commented on #4694
#HONCONF

[2020-05-09 21:07] webdeb opened #4722 "Backend only permissions with Users Authorization header from Actions"
Hi, I am trying to run insert_job mutation which is flagged with **backend-only** with actions:
In the job permissions table I am setting `user_id` to `x-hasura-user-id`

the authorization header from Hasura comes into the actionHandler

these are my headers:

[code]

But, it seems like the authorization header is just ignored, because Hasura responses with:
[code]

[2020-05-10 01:30] famadori opened #4723 "Error when the db.json file has more than 1927 items"
When I run the file with 2000 json objects I get an error. I've done several tests and realized that the error only occurs when there are more than 1927 objects in the json. Any tips on how to solve?

Ex:
json2graphql http://localhost:8080 -s xxxxxxx -d C:\db.json -o

[2020-05-10 05:35] FredyC commented on #4645
@webdeb I am merely building on top of the premise that currently there is **no security**. Automatically passing some secret key is at least something and without some basic effort from a hacker, it will prevent from easy security breach just by knowing action handler url.

Something like that, yea. Now realizing that it's effectively opt-in like that because it's up to you to verify that HMAC in

[2020-05-10 10:41] martavis commented on #4069
@fandy Question: were you using Node.js `pg` with your setup? For some reason, I cannot get a `pg` Pool to connect using this docker setup.

[2020-05-10 16:00] nmabhinandan commented on #678
Any updates?

[2020-05-10 16:59] webdeb commented on #4722
Right now the only way its working is to parse and decode the JWT from `req.headers.authorization` and put the claims into the headers again.

[code]

This is a bit ugly, so I would propose, that the **backend-only** thing should be a custom Key, which you can pass along with the operation but NOT the **admin-secret**.

something like this would be good:

[code]

This would also prevent users from

[2020-05-10 18:58] jstansbe opened #4725 "NEW FEATURE PROPOSAL: Is it possible to include other x-hasura claims in the suggestion that appears when setting up perms?"
**NEW FEATURE PROPOSAL**

The click to auto add the user-id  Hasura claim is really handy... adding other claims as options would be great 😎.

For example, In the screencap below, I'd like to use x-hasura-org-id but only x-hasura-user-id appears as a suggestion.

![](https://cdn.discordapp.com/attachments/428469959530643466/709114819936124928/unknown.png)

[2020-05-10 21:02] knrz opened #4726 "Add the ability to resolve an action webhook using an environment variable"
First of all, let me say that I love Hasura.

Actions fill a sweet spot that remote schemas do not — namely, the subscription support.

However, I do wish I could set up actions by using an ENV var, just like I can with Event Triggers.

This would let me deploy use IaaS tools to deploy containerized Hasura Engines behind a load balancer using an auto-scaling group.

As it stands, I'm not sure I ca

[2020-05-10 22:46] hugbubby opened #4727 "Bug bounty for high impact security flaws like the one fixed in 1.2.0"
If my interpretation of the patch commit is correct, the bug fixed in the latest release is indicative of distressingly lax fuzzing and security assessment of a product that guards the APIs of legions of websites. I'm building a company that works in information security and I've chosen to build a lot of our web presence off the back of Hasura. I would feel immensely more comfortable continuing to

[2020-05-11 05:53] AdityaAnand1 commented on #4660
Crazy feature idea for hasura: Let users set redis/cluster endpoints within hasura and allow users to specify caching behavior for given tables/relationships/queries => Boom. Automatic caching 🤯

[2020-05-11 05:53] tirumaraiselvan commented on #3870
Closing as dupe

[2020-05-11 05:53] #3870 closed

[2020-05-11 05:55] tirumaraiselvan commented on #4695
Yes. Per our convos, I believe you have got this working up-till here. Closing this issue.

[2020-05-11 05:55] #4695 closed

[2020-05-11 06:04] tirumaraiselvan commented on #4717
Hi @ElixirMike

Could you describe the workflow again pls?

I tried:

1. `alter table <table> drop column <column>` using `run_sql` API with `check_metadata_consistency: false`

2. Then I did a `reload_metadata` and all the permissions where intact.

[2020-05-11 06:12] tirumaraiselvan commented on #4718
It appears your metadata structure is not exactly correct, can you paste the top-level structure of your metadata after the programmatic manipulation?

[2020-05-11 07:27] shahidhk commented on #4343
Show help text to upgrade project to v2 when actions cmd is invoked on a v1 project.

[2020-05-11 07:28] shahidhk commented on #4343
@cesarve77 Let me know if you can use actions now.

[2020-05-11 07:29] tirumaraiselvan commented on #1919
Related: https://github.com/hasura/graphql-engine/issues/3685

[2020-05-11 07:30] tirumaraiselvan commented on #3685
Related: https://github.com/hasura/graphql-engine/issues/1919

[2020-05-11 07:41] scriptonist commented on #3897
@mklueh Apologies for the delay!

can you let me know the CLI version that you were using, you can find that using the following command.
[code]

[2020-05-11 07:47] tirumaraiselvan commented on #3322
Issue in explorer repo: https://github.com/OneGraph/graphiql-explorer/issues/32

[2020-05-11 08:25] tirumaraiselvan commented on #4665
Hi @oskery

You can get the relationship row in your function. E.g

[code]

Note that you will have to convert this into a `plpgsql` function as it is declaring a variable. (Also, please check for any syntactic errors)

[2020-05-11 08:32] shahidhk commented on #1183
@hrgui You can scale the cli-migrations image to multiple replicas. When a new rollout happens, the default strategy on kubernetes is that it will replace pods one by one. Hence, only one pod of the new rollout will be running at any point and once that finishes applying migrations, other pods will just skip migrations.

This will need health checks to be configured too.

[2020-05-11 08:40] tirumaraiselvan commented on #3919
Also, you do not need `type` key in JWT config if `jwk_url` is being used. So, this issue needs more info. For e.g you can use jwt.io to decode/verify a sample jwt generated by cognito.

[2020-05-11 08:49] tirumaraiselvan commented on #4696
The aggregates are computed over the nodes that have been filtered. Hence, there is no `where` for aggregate field.

[2020-05-11 08:51] tirumaraiselvan commented on #4706
@mrspartak Could you paste the error that you are getting?

[2020-05-11 08:54] tirumaraiselvan commented on #4709
Are there select permissions for the role?

`insert_<table>_one` has a type of `<table>` and hence requires select permission. The UX of this is "hard to guess" issue is being tracked here: https://github.com/hasura/graphql-engine/issues/4500

[2020-05-11 08:56] ndao commented on #4629
i don't think the `scalar computed field` is working. i keep getting
[code]

[2020-05-11 08:57] tirumaraiselvan commented on #4723
Could you pls raise an issue in `json2graphql` repo: https://github.com/hasura/json2graphql

[2020-05-11 08:59] tirumaraiselvan commented on #2881
Related: https://github.com/hasura/graphql-engine/issues/3578

[2020-05-11 08:59] tirumaraiselvan commented on #3578
Related: https://github.com/hasura/graphql-engine/issues/2881

[2020-05-11 09:02] johnniehard commented on #4289
No worries, there's so much to keep track of, and many opportunities for making mistakes.

But I don't think it's true that Ublock Origin blocks websocket connections by default. For example: https://www.websocket.org/echo.html runs just fine for me, and I've done no configuration of Ublock.

I think my problem was that I was using `ws://` and not `wss://` for the url. Working fine now.

[2020-05-11 09:08] mrspartak commented on #4706
I'm sorry. Tried to reproduce this issue ones again and I'm not getting any errors. Everything works fine.
Closing this issue until I can reproduce it again.

[2020-05-11 09:08] #4706 closed

[2020-05-11 09:11] tirumaraiselvan commented on #4726
This ability already exists. Although, it is bit different from Event Triggers. Pls see the note called URL templating [here](https://hasura.io/docs/1.0/graphql/manual/actions/create.html#step-2-create-the-action-handler) and also we are adding a tooltip to suggest this: https://github.com/hasura/graphql-engine/issues/4689

[2020-05-11 09:11] #4726 closed

[2020-05-11 09:19] beerose commented on #4635
As @ShahAnuj2610 noticed, the values that can be inserted for a _geometric_ point must be of syntax `(x, y)` or `x, y`.
Whereas `{ "type": "Point", "coordinates":[12.9743387, 77.6030891] }` is a _geographic_ point (`geography` type in the console).

The issue here seems to be confusion between _geometric_ and _geographic_ point.

Closing the issue, please reopen if you notice any other bad behavio

[2020-05-11 09:19] #4635 closed

[2020-05-11 09:23] tirumaraiselvan commented on #2104
Currently, `reload_metadata` after adding a new column works. Dropping a column and then `reload_metadata` also works if the drop is done via pure sql (with metadata check, it throws a dependency error). We can perhaps do the "reload" on column add or drop internally so that this feature becomes possible. Related: https://github.com/hasura/graphql-engine/issues/4712

[2020-05-11 09:46] abooij commented on #4629
@ndao: Could you please open a new issue for this? Or join us on [Discord](https://discordapp.com/invite/hasura). Please include the details of the SQL function you are trying to add as a scalar computed field, and details of your existing Postgres tables.

[2020-05-11 10:24] amitava82 commented on #3633
Getting same error. Trying to delete function as suggested by @kuryaki throws
[code]

[2020-05-11 10:34] tirumaraiselvan commented on #4108
Closing the issue. Feel free to open it if you have any further questions.

[2020-05-11 10:34] #4108 closed

[2020-05-11 11:01] perrosnk opened #4733 "[BUG] Hasura doesn't calculate correctly small numbers _inc"
If you use a number less than 0.000001 (6 decimals) which javascript converts it to 1E-7 hasura doesn't calculate correctly the _inc value.

This has caused a lot of trouble to us. Could we expect a fix?

[2020-05-11 11:02] tirumaraiselvan commented on #3830
@nicolateral Is this still a problem?

[2020-05-11 11:22] knrz commented on #4726
Thank you very much!

[2020-05-11 11:26] iamsahu commented on #3254
I am getting the following error
Error: GraphQL error: 0 is not valid GraphQL name

I am passing the following:
`[{tag: "test1", curator: "26b4e98c-b5dc-4810-97b9-909ddc74c4f0"},{tag: "test2", curator: "26b4e98c-b5dc-4810-97b9-909ddc74c4f0"}]`

Here is my query:
[code]

Here is how I am trying to call it:
`const [createTag,{errorTag}] = useMutation(INSERT_TAGS2,{
        variables:[{tag: "test1",

[2020-05-11 11:38] mklueh commented on #3897
@scriptonist I don´t remember anymore what version I had back then, but it must have been the latest version around that time

[2020-05-11 11:54] tirumaraiselvan commented on #3459
Proposed API:

The `filter` key in permissions can take a new [BoolExp](https://hasura.io/docs/1.0/graphql/manual/api-reference/schema-metadata-api/syntax-defs.html#boolexp) or it can be another value in [ColumnExp](https://hasura.io/docs/1.0/graphql/manual/api-reference/schema-metadata-api/syntax-defs.html#columnexp) with the following syntax:

[code]

where `TableValue` has the following schema:

[2020-05-11 12:12] abooij commented on #4733
What postgres type are you using to store these values? And can you please also show which values you are adding up (including before, after, and expected values)?

Note that the `real` postgres type is mapped to a 4 byte IEEE 754 float, which doesn't have more than 6 decimals of precision: so for these types, `_inc`ing a small value such as 0.000001 can, by the very definition of IEEE 754, be for

[2020-05-11 12:30] scriptonist commented on #3897
Thanks @mklueh , no worries

[2020-05-11 12:31] perrosnk commented on #4733
@abooij I am using numeric

[2020-05-11 12:35] abooij commented on #4733
@perrosnk Could you please show which values you are adding up (including before, after, and expected values)?

[2020-05-11 12:36] sobrinho opened #4735 "CORS in Hasura Console"
Hey,

I have the CORS set up in production to allow a Hasura Console.

But when I try to use the console locally, it is blocked by CORS policy.

Wouldn't it make sense to allow any host in a `hasura console` session or at least make me configure the CORS through the console itself?

I don't want to allow production to be consumed by `localhost:8080` for instance, but from a local `hasura console`

[2020-05-11 12:42] perrosnk commented on #4733
@abooij I am actually trying to decrement a value using `_inc: {coins: ${-amount}}`.
This amount variable can be a floating point down to `1E-8`. Hasura mistakenly substacts `1` instead of `0.00000001`

[2020-05-11 12:43] ElixirMike commented on #4717
You're right. I didn't have the check_metadata_consistency=false, and I also had cascade: true. I guess the cascade wiped out the permissions. So, setting check_metadata_consistency=false seems to work and there doesn't seem to be a need to call reload_metadata either.

[2020-05-11 12:43] #4717 closed

[2020-05-11 12:54] abooij commented on #4733
@perrosnk Sorry, I'm really going to need some more details in order to reproduce this issue. Can you please show a sequence of GraphQL queries and their corresponding outputs, indicating precisely where you believe Hasura to be mistaken?

[2020-05-11 13:11] nicolateral commented on #3830
@tirumaraiselvan hi, yes. I'm currently using

hasura/graphql-engine:v1.1.0
postgres:11.3

It seems that I cannot track functions on schema that begin with "pg". I tried some schema names ("pgw", "pgx" ...) and it does not works. But it works with ("prg", "my_schema").

[2020-05-11 13:13] #4093 closed

[2020-05-11 13:14] perrosnk commented on #4733
@abooij I have a model `User` and a column `balance` of type numeric.

I want to **decrement** the `balance` using an `update_user_by_pk` mutation.
The `amount` variable shown above is also a Float number, and can be greater or equal to `0.00000001` (8 decimal point).

The amount is a variable sent by the user, and is `1E-8`.
When I use the code

[code]

hasura mistakenly decrements the balance by

[2020-05-11 13:21] ElixirMike commented on #4718
Here is a stringified version of the resulting json
[schema_json.txt](https://github.com/hasura/graphql-engine/files/4609795/schema_json.txt)

[2020-05-11 13:30] tirumaraiselvan commented on #4733
Hi @perrosnk I guess it is getting clearer what the issue is. You are trying to send the literal `1E-8` as a value to the numeric field?

Since this is not an actual valid graphql query:

[code]

because the variable usage is not [graphql syntax](https://spec.graphql.org/June2018/#sec-Validation.Variables). Could you send the final query that is being sent to the server?

[2020-05-11 13:37] ElixirMike commented on #4718
Also, here is the process I'm using ..

{
      "type" : "export_metadata",
                     "args": {}
 }

I get the resulting data in a variable freshMetaData.

I then run this to delete a table from the schema where fieldTableIndex is the index I want to remove.
delete freshMeta.data.tables[fieldTableIndex];

I then run
{
                    "type" : "replace_metadata",

[2020-05-11 13:40] tirumaraiselvan commented on #4718
@ElixirMike I don't think you need to send the stringified version of the new metadata.

Try this:

[code]

[2020-05-11 13:48] perrosnk commented on #4733
Here is the actual graphql string:

[code]

[2020-05-11 13:51] famadori commented on #4723
Thanks

[2020-05-11 13:51] #4723 closed

[2020-05-11 13:56] ElixirMike commented on #4718
yea, that was what I initially tried. I  get this error:
{"path":"$","error":"Error in $: Failed reading: not a valid json value","code":"invalid-json"}

when I used Stringify, it started working...but only for when I was appending new tables to schema. not removing

[2020-05-11 14:03] abooij commented on #4733
Thanks for reporting this, @perrosnk. I have found the origin of this issue. I will send in a PR to fix this today or tomorrow.

[2020-05-11 14:06] perrosnk commented on #4733
Could this be released to npm as a patch version (ex.1.2.2) or do we need to wait for the next release?

[2020-05-11 14:08] tirumaraiselvan commented on #4718
You should inspect and see why

[code]

is not a valid json as reported by the server: `{"path":"$","error":"Error in $: Failed reading: not a valid json value","code":"invalid-json"}`

[2020-05-11 14:13] ElixirMike commented on #4718
Well, this happens even if I make no changes to the metadata.
So, if I simply Export the metaData, and then use that to run replace_metadata, with no changes, I get the error above. If I use stringify, it goes through.

[2020-05-11 14:33] 0x777 opened #4736 "Improvements to Hasura security testing"
1. Flesh out the E2E test suite with more negative tests for authentication
2. Refactor the auth subsystem to make it more self-contained and harder to misuse within the codebase.
3. Add property-based/fuzz testing for the auth subsystem
4. Engaging with the Hasura & security community via a bug-bounty program

These are the immediate action items. As we make more progress and flesh these issues o

[2020-05-11 14:39] coco98 commented on #4727
@hugbubby All valid points. The 1.2.1 release patched a very serious issue. Over the last week we’ve done a full retrospective to figure out what went wrong and how to best prevent situations like this in the future. This regression was introduced because of a refactor in 1.2-beta5 and a missing negative test.

We’ve put together an issue (#4736) consolidating the immediate next steps (that covers

[2020-05-11 14:39] #4727 closed

[2020-05-11 15:49] abooij commented on #4733
@perrosnk As a workaround, you can either pass the value as a string, or convert it to non-scientific notation. In other words, the following queries should work:

[code]
[code]

[2020-05-11 16:21] hugbubby commented on #4736
All good steps. Bug bounties are the most important signal to me, as it ensures the Hasura team has a financial stake in keeping the app secure and is willing to bet money on its procedures.

[2020-05-11 17:01] dostalradim commented on #4496
Hi, I have K8S cluster on-premise which has no access to internet, I run hasura binary in my own docker image built from node12-alpine. Binary is downloaded from github releases with wget, version is

[code]

and when I run this command I get this error

[code]

am I doing something wrong? I think binary is still trying connect to internet.
Thank you!

[2020-05-11 17:03] marekdano commented on #4314
@beerose I can take `QueryBuilderJson` and `About` component now.

[2020-05-11 17:10] dostalradim commented on #4496
I found solution in your Dockerfile. Append this variables helped. Can you document it somewhere? Or I just did not find it in doc?
[code]

[2020-05-11 17:25] perrosnk commented on #4733
@abooij I tested the option of `"-1e-8"` and it doesn't work. I am not sure if I can test the other option because javascript makes the number automatically 1E-8. I should use `number.toFixed(8)`, but this returns a string too.

[2020-05-11 17:39] harishm72 commented on #4314
harishm72:master

#4721

[2020-05-11 17:48] ryands17 commented on #4314
@beerose I can take [About Service](https://github.com/hasura/graphql-engine/blob/master/console/src/components/Services/About/About.js) and [Login](https://github.com/hasura/graphql-engine/blob/master/console/src/components/Login/Login.js).

[2020-05-11 18:09] abooij commented on #4733
@perrosnk I'm sorry to hear the workaround doesn't work for you. Make sure you are using the quote symbols, so passing the value as `"-1E-8"` rather than `-1E-8` in the actual GraphQL string (the format you posted [here](https://github.com/hasura/graphql-engine/issues/4733#issuecomment-626713184)).

In any case, I have prepared a fix for this, so hopefully this will be part of graphql-engine soon.

[2020-05-11 18:14] sensiblefolk commented on #4314
I can take LoginActions & Login

[2020-05-11 18:19] maxcan commented on #3772
@marionschleifer @coco98 any chance of getting this into 1.3?

[2020-05-11 18:41] perrosnk commented on #4733
@abooij I passed `"-1E-8"` but it doesn't work. It doesn't work even if I pass `"0.00000001"` (as a string). I can't pass it as a decimal number `0.00000001` because javascript automatically converts it to `1E-8`

[2020-05-11 19:32] johnniehard commented on #3229
I don't know if it suits your use case, but I solved this by creating a view of my table that I use when I need the feature in EPSG:4326 (for me it's when I need to give the feature to mapbox-gl).

[code]

[2020-05-11 20:38] oskery commented on #4665
Thank you @tirumaraiselvan, this seems to be what I am looking for! I simplified the function in the question and now I have issues with my more complicated version. I would really appreciate your help or input! This is my complete function, trying to do what you suggested:

[code]
So in my database there exists products without deals, therefore I used the IF statement. There are also deals that a

[2020-05-12 01:24] albertobissacco commented on #1266
I wanted try hasura on my raspberry pi but I stopped when I found that I can't run the docker image.
Do you have news about this?

[2020-05-12 02:52] darrenbutcher commented on #3353
Any updates on this? Would be really helpful to have this kind of functionality.

[2020-05-12 03:36] tirumaraiselvan commented on #4665
Hi @oskery

Turns out in `plpgsql`, you need to `RETURN` a value : https://www.postgresql.org/docs/current/plpgsql-control-structures.html#PLPGSQL-STATEMENTS-RETURNING

Try:

[code]

[2020-05-12 05:00] tirumaraiselvan opened #4738 "document usage of current_setting('hasura.user') for mutations"
It is possible to customise behaviour of mutations using [postgres triggers](https://www.postgresql.org/docs/current/sql-createtrigger.html). Also see: https://github.com/hasura/graphql-engine/issues/2940 for a use-case and [auditing actions](https://hasura.io/docs/1.0/graphql/manual/guides/auditing-tables.html) which is built using this mechanism.

In a trigger function, you might want to access

[2020-05-12 06:16] #4075 closed

[2020-05-12 07:26] taribowo opened #4740 "v1.2.1 Running with Docker and Connecting to Postgresql Deployes using Docker on Another Server Just Keeps Restarting"
Hello, I tried to upgrade to the latest hasura graphql engine version, which is v1.2.1 today and it just won't start. Quick look at docker container list just list the container status as restarting. Occasionally it would change to Up but only for a second or less before restarting again.

A look at docker logs <container-name> returns these
[code]

my docker-compose.yml file look like this
[code]

[2020-05-12 09:52] soorajshankar commented on #4485
Fixed and merged using [PR](https://github.com/tirumaraiselvan/graphql-engine/pull/91)
**New Docker Image:** `hasura/graphql-engine:pull2392-6b3c94ef`

[2020-05-12 09:52] #4485 closed

[2020-05-12 09:52] #4595 closed

[2020-05-12 11:31] oskery commented on #4665
Thanks alot @tirumaraiselvan!

It now executes but avg_price is always the normal price. It seems as though the variable deal_row is always NULL and the ELSE clause is always executed, even though the WHERE clause should be true?:

[code]
I modified the IF-statments part to debug and it never returns 1.0:
[code]

[2020-05-12 11:48] #4714 closed

[2020-05-12 12:22] rikinsk commented on #4701
@mubaidr I believe the `--enable-console` flag doesnt take any arguments. If the flag is present, it signifies `true` and if the falg isnt set it signifies `false`.

Our docs have an inconsistency which we will be fixing soon

[2020-05-12 12:45] tirumaraiselvan commented on #4665
@oskery Looking at https://www.postgresql.org/docs/current/plpgsql-statements.html#PLPGSQL-STATEMENTS-SQL-ONEROW ,I think you cannot check for NULL value because it is a record type. You are probably getting something like `(null, null, null)` (pls check this as even I am not sure).

Try to check the `FOUND` variable instead:

[code]

I would also encourage you to explore the docs above and ask PG

[2020-05-12 12:48] henningko commented on #4740
I had this happen when the security group configuration prevented my containers to successfully connect to Postgres (AWS Aurora)—there is no timeout error, just a straight restart after an info with `retries: 1`

Have you checked networking settings on your Postgres service?

[2020-05-12 12:55] #4701 closed

[2020-05-12 12:59] oskery commented on #4665
Thanks @tirumaraiselvan,

I apologize for asking somewhat un-hasura-related questions, but I have been struggling with finding answers and you were very helpful. I will definitely use the discord channel for PG related questions in the future, didn't know about it!

I saw the "FOUND" keyword in a similar question but I assumed it was a variable. Changing the "IS NOT NULL" to "FOUND" did indeed wor

[2020-05-12 12:59] #4665 closed

[2020-05-12 13:04] taribowo commented on #4740
After a while of it just keep restarting, i modified the docker-compose.yml to use v1.0.0-beta2 and it worked. The container is up and running, I can open the console and make a query to it.

Based on that, can i assume that it was not actually a connection problem?

[2020-05-12 14:09] tirumaraiselvan commented on #4665
@oskery No problem. Happy to help.

[2020-05-12 14:16] marionschleifer opened #4744 "docs: explain schema before examples"
We should add a sentence before examples in docs, explaining the schema quickly.

Example:

[code]

[2020-05-12 14:22] marionschleifer opened #4745 "docs: add examples to API docs"
We should add examples to the API docs: every API should have one or several examples.

[2020-05-12 14:23] leiwan5 commented on #2599
Having the same issue here.
@DavoCg Maybe it's for security purpose. I don't want users can see the table structures too. But it's really really helpful if the errcodes can be exposed.

[2020-05-12 14:30] marionschleifer opened #4746 "docs: "story" page for migration docs"
In v1, we had a "story" page for migrations meaning that it there were instructions containing steps to set up migrations.

Now, in v2, it's more of a reference documentation. We should add this page back for v2.

[2020-05-12 15:40] erichiller opened #4747 "Numbers in ENUMs"
When changing a table into an ENUM table, if there's a key that begins with a number, I receive an error when changing the table to an ENUM table:

_Setting table as enum failed
the table "enum.test_enum" cannot be used as an enum because the value "2Birds" is not a valid GraphQL enum value name_

[code]

So I checked the referenced [GraphQL spec on ENUMs](http://spec.graphql.org/June2018/#sec-Enu

[2020-05-12 15:50] #2316 closed

[2020-05-12 16:16] IljaDaderko commented on #3919
I am getting same error with firebase auth. After following this https://hasura.io/blog/authentication-and-authorization-using-hasura-and-firebase

Use case that is failing for me is following: I have hasura action that triggers firebase cloud function, within that unction I use firebases admin sdk to create new token https://firebase.google.com/docs/auth/admin/create-custom-tokens

I then try to

[2020-05-12 16:30] unfernandito commented on #4745
Do you have any example to contribute?

Thanks You

[2020-05-12 16:53] MatthiasGrandl opened #4748 "Retry fetching JWK on startup"
So I identified an issue and Brandon on Discord has asked me to open an issue.

Scenario: I am deploying my OpenID Provider together with Hasura in the same docker-compose file. I already set the `depends_on` clause, but that only waits for the container to start, not to be [ready](https://docs.docker.com/compose/startup-order/)/healthy. Since the openid provider needs a few seconds to actually go

[2020-05-12 17:30] hugbubby commented on #4645
One in-house solution we have for now: Our backend action handlers register their actions with hasura using the API every time they start up, so that we don't have to configure hasura when we move their domain or IP. During this process, it attaches an autogenerated header to the handler that includes a different key for each action.

Message signatures and encryption are security theater because

[2020-05-12 17:53] haf commented on #4645
@hugbubby I may not fully understand what you intend to say. I'm not encrypting any headers. I'm adding a signature to them, which validates that the sender has the identity of an authorised sender. So HMAC protects both the integrity and gives you sender authentication. Perhaps I'm misunderstanding you, could you please clarify?

[2020-05-12 17:55] schwamic commented on #4646
@rikinsk thank you for the explanation. In my opinion it is not a leaking information if you get an error back with permission denied, it just tells the user that she/he has no rights to do such an operation.

But you made your decision, and I can comprehend your solution :-)
Thanks!

[2020-05-12 18:35] perrosnk commented on #4645
I don't fully understand either.
Could someone provide an example with some steps and some code on a node/express handler?

[2020-05-12 18:38] FredyC commented on #4645
@perrosnk You don't understand what exactly? Check [the linked PR](https://github.com/hasura/graphql-engine/pull/4743) for basic security docs that is possible right now. This issue is about implementing a more robust solution.

[2020-05-12 18:38] IljaDaderko opened #4749 "Allow creation of "service account" secrets in addition to admin"
So I've been playing with this idea for a bit and it came from following use case:
I have `character` role set up, this role can read its own data, but can't write it. Instead `character` users need to call custom mutations that resolve to actions i.e. `purchaseItem`

These actions are hooked to serverless functions. They need to validate the purchase and write new data to that characters table. T

[2020-05-12 18:56] hugbubby commented on #4645
@haf
TLS already provides integrity verification. There is no need to use HMAC or a similar algorithm a *second* time to verify the contents of the message have not been modified, because TLS handles this for you. Just send the "session cookie" unobfuscated as a header.

[2020-05-12 19:11] FredyC commented on #4645
@hugbubby Huh? Even if your action handler is running with TLS, it doesn't give you any validation about the origin of the call. It's pretty much public resources anyone can execute (with a token). And as it was already said, TLS won't stop the provider to log the request including headers. Unless of course, it's your own machine with your own SSL certificate, but that's not that common anymore im

[2020-05-12 19:12] haf commented on #4645
@hugbubby What TLS gives you is [_authenticated encryption_](https://en.wikipedia.org/wiki/Authenticated_encryption) (e.g. with the modern GCM cipher) **not** _authenticated caller_.

You can of TLS as something that wraps a TCP socket which streams data on Layer 4, but the app needing to authenticate the sender in [OSI Model Layer 7](https://en.wikipedia.org/wiki/OSI_model#Layer_7:_Application_La

[2020-05-12 19:26] haf commented on #4645
@perrosnk https://github.com/hasura/graphql-engine/issues/4645#issuecomment-623163124 has sample code for a node/express handler.

[2020-05-12 19:30] beerose opened #4751 "console: reset permissions editor state after creating a new role"
![permissions-editor](https://user-images.githubusercontent.com/9019397/81736573-14504980-9497-11ea-9b82-c08f110b602d.gif)

### Steps to reproduce

1. Go to the permissions tab.
0. Create a new role.
0. Open editor for arbitrary action for this role.
0. Start creating a new role — start typing in the `Enter new role` input.

**Current behavior:** the editor is prefilled with the state from the pre

[2020-05-12 19:45] hugbubby commented on #4645
@FredyC
@haf
I realize that TLS does not authenticate the caller. What I am suggesting, in place of (if I understand how you accomplished this) forking hasura's code and introducing HMAC signatures in the header of your already MAC'd HTTPS request, is to simply attach the pre-shared key itself to the "added headers" field and check its value at the action handler.

Let me explain why each of your

[2020-05-12 20:00] FredyC commented on #4645
I think we got fairly off track here.

@hugbubby I am still not seeing how can TLS validate that you are coming from Hasura and not from the outside. Assuming you somehow get access to token to impersonate the user you still shouldn't be able to call that action handler outside of the Hasura. And that's why I started this issue in the first place.

I now understand that with simple static secret s

[2020-05-12 20:05] hugbubby commented on #4645
@FredyC TLS doesn't _validate that particular thing_. The private header entry validate's the client (Hasura's) identity to the action handler. TLS validates, to both parties, that whoever is connecting to them did not have their connections muddied with, and to the client (Hasura) that they are connecting to the action handler and not some other MITM person. This is what obviates the need for HMA

[2020-05-12 20:23] FredyC commented on #4645
I guess that makes sense. Not that I would believe that TLS is the only level of security you need. There are surely other means of gaining access besides MITM, but I am no security expert.

I don't care that much ultimately. My initial concern came from pure laziness where I want Hasura to take care of including a secret for me to all actions by default. If that's going to be HMAC or something el

[2020-05-12 20:35] haf commented on #4645
I'm suggesting Hasura includes HMAC in its source.

So we're in agreement there.

I'm not going to refute your rather agressive replies, to the remaining cases; we can take that outside this thread, if you need further education. The point is this; **under MiTM attacks, it's safer to use HMAC** than to send the secret.

[2020-05-12 21:02] webdeb commented on #4645
@haf just curios, how should hasura sign the whole request with HMAC, I mean just for strings like base64 encoded jwt payload it's not a problem, or signed urls. But we would need to sign headers and the payload then add the signature somewhere into the headers also.
I guess that the only way of doing it right, would be to encode everything as a stringified json, **input** & **headers**

Btw. Righ

[2020-05-12 21:07] haf commented on #4645
@webdeb I think it would be enought to calculate `hmac(key, request body)`. You'd run into problems with middleware (proxies and such) adding headers, otherwise. You can go [pretty far](https://github.com/logibit/Logibit.Hawk/#authenticate-details-1) with request validation, and I'm not suggesting we go much further than the immediate benefit.

[2020-05-12 21:19] webdeb commented on #4645
Hmm, well, that could be indeed enough. Then it would be possible to go also the other way with the same approach "x-hasura-signature" to authenticate the sender as a trusted-backend for backend-only operations

[2020-05-12 21:25] webdeb commented on #4645
@FredyC Since this topic goes beyond `action handlers`, I would like to suggest to change the title to something like "Built-in security for services & backends".
As it also touches `event-handles` and `backends`

[2020-05-12 21:58] hugbubby commented on #4645
@FredyC

There are, but they require you to compromise the endpoints, in which there's no reason you wouldn't also have the pre-shared-key.

@haf

I can't understand how you'd get through my comment and end up believing this. You keep suggesting the Hasura devs to include HMAC signatures of the payload inside an already existing TLS connection, and I don't know how else to explain why this is redu

[2020-05-12 22:03] haf commented on #4645
@hugbubby You're conflating concerns: TLS is a transport protocol and deals with **authentication of message bits of the cipher stream**, but HMAC gives you **authentication the requestor**. Yes, a pre-shared key **also** gives you authN of the requestor, BUT IN REAL LIFE there are attacks that happen, and not every OS and client have perfectly configured CA chains, or trust all ~250 CAs in browse

[2020-05-12 22:13] frossi85 commented on #4709
@tirumaraiselvan no I did not give the role the select permission, thanks for letting me know. Yes I think the other issue will address future problems like the one that I had. I will close this one.

[2020-05-12 23:07] webdeb commented on #4722
Btw, there are some discussions going on about security between services in general:
https://github.com/hasura/graphql-engine/issues/4645

TL:DR;
The proposals are
1. Built-in / Automatic KEY passing, (which is already possible with custom headers)
2. use HMAC to sign the payload, which IMHO would make sense for both directions.
outgoing: "events" & "actions" / incoming from "backends"

[2020-05-12 23:49] ElixirMike commented on #4718
Can you confirm if you export metadata, and then try re-importing using the same, it gives error?
I am using React/Javascript . If you could provide a simply working example of how you
1. Export the metadata
2. Delete/remove a table from this
3. Replace_metadata

That would go a long way in helping me get through this issue.

{
"type" : "export_metadata",
"args": {}
}

{
"type" : "replace_metadata

[2020-05-13 00:01] frossi85 commented on #4709
@tirumaraiselvan I am reopening because I added the select permissions but now I get this error:

 "message": "\"x-hasura-user-id\" header is expected but not found"

Even when I am setting: x-hasura-admin-secret and x-hasura-role: backend

[2020-05-13 00:39] franciscolourenco opened #4752 "Computed fields for function without results should return null"
### Actual:
Querying a computed field defined by a function which returns 0 rows, results in an array with 1 element

[code]

### Expected:
The computed field should be null, or an array with 0 depending on the function results a SETOF rows or a single row(https://github.com/hasura/graphql-engine/issues/4678).

[code]
OR
[code]

### Notes:

This is only happening when querying using with x-hasura-

[2020-05-13 01:31] FickleLife commented on #4666
FYI, I have stumbled across this issue trying to use Actions to deliver results to Dart types (Flutter), using Artemis to code gen all the types based on the gql schema and queries. I'll have to rethink how to strongly type Actions outputs.

[2020-05-13 02:30] leoalves commented on #4747
@erichiller,
According to the GraphQL spec you linked the ENUM type `has to be a [Name](http://spec.graphql.org/June2018/#sec-Names) but not **true** **false** or **null**`.
The Name regex validator is `/[_A-Za-z][_0-9A-Za-z]*/`.  In that case it can't start with a number.
That's why I think it's failiing.

[2020-05-13 02:45] jberryman opened #4753 "Consider using the lower latency nonmoving GC in GHC 8.10 by default"
Blocked first, of course on https://github.com/hasura/graphql-engine/issues/4517

Preliminary benchmarks look good! Here are some benchmarks (poorly labeled for now ; y-axis is microseconds).

First here are tables of **median latencies** (minimums may not be as interesting) for several different tests (each row is a different query). We're comparing ...

- **master** (on ghc 8.6.5),
- **ghc 8.10

[2020-05-13 03:03] jberryman commented on #4753
https://stackoverflow.com/questions/61765334/is-there-a-way-to-explicitly-specify-the-copying-collector-at-runtime-overridin

[2020-05-13 04:23] FredyC commented on #4645
@hugbubby

I wonder why do you keep fighting against HMAC so much? I am sure that adding config boolean to disable it is fairly trivial so if anyone believes that TLS is enough, they can opt-out. And besides, even if you receive HMAC in the header, you don't need to do anything with it. So ultimately we talking about the tiny calculation on both endpoints. Is it really worth arguing that much? :)

[2020-05-13 04:30] FredyC commented on #4645
I think it might be useful to also add a timestamp header along with the signature that's part of the calculation. Basically to ensure that every request has a different signature even if the payload is the same. Relying on the user to include a timestamp in the body doesn't sound like a good approach and it's actually annoying given a need to declare schema for each action.

[2020-05-13 05:03] tirumaraiselvan commented on #4718
Hi @ElixirMike

This is what I did:

1. I exported the metadata
2. I opened the exported file and enclosed the json in `{ "type": "replace_metadata", "args": <file-contents> }` and saved it as `replace_metadata.json`
3. I then curled the file: `curl -d "@replace_metadata.json" http://my-hasura-url.com/v1/query`. It was a success.
4. I even deleted a table entry and then curled again. It was a succ

[2020-05-13 05:07] tirumaraiselvan opened #4754 "console: underscores don't show in Run Sql input box"
![image](https://user-images.githubusercontent.com/8663570/81773316-ab53ea80-9505-11ea-9673-1314bb0eff1c.png)

I am trying to create a function `pgx.good_employees_pgx()`

Hasura: v1.2.1

[2020-05-13 05:10] tirumaraiselvan commented on #3830
@nicolateral Thanks for the report. I could reproduce this at my end as well. Changing the title to reflect the bug.

[2020-05-13 05:52] tirumaraiselvan commented on #4748
@MatthiasGrandl You can configure the timeout interval in the cli-migrations image using `HASURA_GRAPHQL_MIGRATIONS_SERVER_TIMEOUT` env variable.

But your original request is still valid.

[2020-05-13 05:56] jozef-slezak opened #4755 "Add support for Oracle"
Is Hasura GraphQL Engine open to pull requests supporting other DBs - especially Oracle DB?

Which driver would be the proper one?
* https://github.com/paulrzcz/takusen-oracle
* http://hackage.haskell.org/package/haskelldb-hsql-oracle
* https://github.com/hdbc/hdbc-odbc

Relates to #1773.

[2020-05-13 06:04] rikinsk commented on #3830
@tirumaraiselvan I think the console issue would be solved with the server fix as well. the console uses data in the `hdb_catalog.hdb_function_agg` table to list the functions

[2020-05-13 06:13] IljaDaderko commented on #4749
For context, this is how token generated by `admin.auth().createCustomToken` looks like in terms of shape:

[code]

[2020-05-13 06:51] tirumaraiselvan commented on #4709
@frossi85 This happens when you reference `x-hasura-user-id` in your permission rule but do not supply it in the headers.

Just to be clear, it is not related to the current issue :)

[2020-05-13 06:52] tirumaraiselvan commented on #4708
Closing as dupe of https://github.com/hasura/graphql-engine/issues/4683

[2020-05-13 06:52] #4708 closed

[2020-05-13 07:15] thebetterjort opened #4756 "caddyv2 fails to forward websockets with current docs"
The current https config file in the docs is not valid for caddyv2.
How to make hasura work over https using caddyv2?

[code]

[2020-05-13 07:31] Toub commented on #4645
Right. What about signing only:
- body
- headers starting with "HASURA_" for hasura headers (except the signature itself: `HASURA_WEB_HOOK_HMAC`)
- headers starting with "HASURA_APP_" for app custom headers

So irrelevant headers and ones added by proxies will be ignored.

Additionnaly:
- this HMAC should be optional so avoid wasting resources if not used (configuration by action/event trigger)
-

[2020-05-13 07:40] FredyC commented on #4645
I don't think it's necessary for every action. Either you want enhanced security or not. Let's keep it as simple as graphql engine option.

Frankly, that sounds like more work than implementing it or grabbing from some shared library. Grabbing relevant headers/body and resending somewhere else is not exactly one-liner :) Also, it could be a target for DDOS and attempting to force brute the key wit

[2020-05-13 08:09] #3239 closed

[2020-05-13 08:13] haf commented on #4645
In my linked external sites above, I would only find them signing the body. That doesn't mean we couldn't sign more than the body, but let's think it through. What you gain:

- You can ensure that reverse/forward proxies in between haven't modified the headers sent from Hasura

What you lose:

- Is proxies in between want to add user-ids/group-ids or similar, you now lose this ability
- Now you ha

[2020-05-13 08:33] abooij opened #4757 "server: `limit` size restrictions"
[code]
yields:
[code]
Note that the `id` field is of type `bigint` here, although the `limit` field is of type `int`. So, it seems that graphql-engine does not support large `LIMIT`s. In fact, I was a little bit worried that the function `pgColValueToInt` in `server/src-lib/Hasura/SQL/Value.hs` would cast arbitrary integers to a Haskell `Int`, thus ending up with incorrect `LIMIT`s. However, this

[2020-05-13 10:10] #4733 closed

[2020-05-13 10:12] petecorreia opened #4759 "Unable to apply allow_list.yaml"
I'm in the process of enabling allowed queries in an automated way rather than manually via the console.

I'm running `metadata apply` with the following files:

**query_collections.yaml**
[code]

**allow_list.yaml**
[code]

The command runs successfully and I can see the query Test in the console but when I export the metadata it's clearly missing the `allowlist` key in the exported `json` file.

[2020-05-13 10:13] tirumaraiselvan commented on #4759
Probably dupe of: https://github.com/hasura/graphql-engine/issues/4687

[2020-05-13 10:15] petecorreia commented on #4759
@tirumaraiselvan looks that way. I'll subscribe to the other issue in case you want to close this one.

[2020-05-13 10:45] coco98 opened #4760 "Create RFC to alias types and fields for existing postgres and remote schemas"
- Existing postgres entities have graphql incompatible names
- Remote schemas have conflicts
- Table name aliasing don't have aliasing of types

[2020-05-13 10:53] hoeggi commented on #4651
I'm also running into a similar issue after trying the workaround from above:
`{"level":"info","msg":"plugin installed","name":"cli-ext","time":"2020-05-13T10:47:57Z"}
time="2020-05-13T10:47:57Z" level=fatal msg="failed to apply metadata: cannot apply metadata on the database: cannot build actions from metadata: error in converting sdl to metadata: exit status 127: /root/.hasura/plugins/bin/hasura

[2020-05-13 11:32] marionschleifer commented on #4745
@unfernandito thank you so much for your interest in contributing.

So, most of your APIs have examples, like [here](https://hasura.io/docs/1.0/graphql/manual/api-reference/schema-metadata-api/custom-functions.html). But some of then don't have examples yet, like [here](https://hasura.io/docs/1.0/graphql/manual/api-reference/schema-metadata-api/permission.html#drop-insert-permission).

We should a

[2020-05-13 12:33] #1914 closed

[2020-05-13 13:30] ElixirMike commented on #4718
Ok, I figured it out. In Javascript, when you use the "delete" method to remove a node from a JSON object, it leaves a "null" value. This was causing the issue. I simply needed to use the javascript splice method to remove the node cleanly and then I could run the replace_metadata.

FYI, you must use JSON.Stringify in javascript to convert the JSON object to it's string equivalent for the method t

[2020-05-13 13:30] #4718 closed

[2020-05-13 14:12] codingkarthik commented on #4759
@petecorreia @tirumaraiselvan I was able to reproduce this issue.

When adding a query to the allow list and then exporting it immediately includes the `allowList` key when exporting the metadata.

If you clear the metadata and import the exported metadata from the above step the allow list gets imported in the graphql-engine but now when you export it, the `allowList` will be missing.

Most proba

[2020-05-13 14:24] tirumaraiselvan commented on #4759
ok, let's track this in https://github.com/hasura/graphql-engine/issues/4687

[2020-05-13 14:24] #4759 closed

[2020-05-13 14:50] scriptonist commented on #4651
@adav @hoeggi Just to confirm, this is happening when running on Heroku right?

[2020-05-13 14:54] hoeggi commented on #4651
I'm having the error in openshift. By default container in openshift are also not permitted to run as root but get assigned a random user (id).

[2020-05-13 15:10] scriptonist commented on #4651
Got it @hoeggi, this is very helpful. Will look into it.

[2020-05-13 16:00] tsnobip opened #4763 "Treating user/validation errors as data instead of graphQLErrors"
Hasura makes consuming a database such a delightful and easy experience that you immediately notice when something is less pleasant.

In my opinion, one of those cases is Hasura treating all errors the same way, whether they are user/validation or system errors. Let's say you have a unique constraint on project names and a user creates a new project with an existing name, you actually want to show

[2020-05-13 16:47] adav commented on #4651
Yes, it was on Heroku for me. The following cli-ext error seems not to be an issue now though. Once I had double checked all the settings and restarted the dyno a couple times, it seemed to correct itself.

[2020-05-13 17:06] scriptonist commented on #4651
Thanks for the input @adav, this will really help.

[2020-05-13 17:18] sanderhahn commented on #4763
PostgreSQL has a list of [errcodes](https://www.postgresql.org/docs/current/errcodes-appendix.html). Maybe its possible to include the code and the constraint name as separate fields in `extensions` on errors? This would make it easier to add custom logic in the UI on certain constraint violations.

[code]

vs

[code]

[2020-05-13 18:36] tsnobip commented on #4763
Hasura already handles these errCodes with algebric data types prefixed with PG but today those are used to construct error messages, I think it would be nice if they could instead when needed be used to construct the payload of a successful request.
https://github.com/hasura/graphql-engine/blob/cc8e2ccc78bf154c5da90fea0967bd5ac2ca8b4b/server/src-lib/Hasura/Db.hs#L112
The error handler already has

[2020-05-13 19:22] msannikov commented on #3720
Hey @Gerharddc, have you eventually written a blog post about pgpool + hasura setup?

[2020-05-13 19:25] revskill10 commented on #724
I actually need static binary to locally develop with hasura, because i don't use docker on my machine now.

[2020-05-13 21:11] beerose commented on #4215
Solved via https://github.com/hasura/graphql-engine/pull/4393

[2020-05-13 21:11] #4215 closed

[2020-05-13 23:26] nottheswimmer opened #4766 "Cannot assign permissions for cross-schema scalar calculated fields"
Whenever creating a calculated field for a table in a schema (let's say the `not_public` schema), it seems that if the function used for the calculated field is from a different schema (let's say the `public` schema), then the calculated field will work for the administrator but you cannot assign permissions to it (at least through the GUI).

Steps to reproduce:

1. Create a new user such as...
[c

[2020-05-14 00:34] #4517 closed

[2020-05-14 00:34] #4344 closed

[2020-05-14 03:50] Aditya94A opened #4767 "Is there a way to reference a nested object value at the root level?"
I simply want

[code]

in my response, however, hasura's aggregate method is this:

[code]

which leads to the response
[code]

which is rather ugly.

Is there a way to make the query return the count value at a root level field instead?

[2020-05-14 04:54] scriptonist commented on #4651
@hoeggi we have some pointers regarding this in the following comment https://github.com/hasura/graphql-engine/issues/4105#issuecomment-609444008

[2020-05-14 06:30] scriptonist commented on #4671
The release strategy mentioned by @shahidk makes sense to me.
Regarding CI/CD this is what I think,
on tag pushes we can check If the tag is,
- of pattern `<release_tag>+<component>.<patch_number>`, then trigger patch release strategy of component.
- else trigger a normal release.

After every patch release, we can edit release notes with links to patch release assets.

see any gotchas @arvi341130

[2020-05-14 06:33] hoeggi commented on #4651
Not sure if it is directly related. In https://github.com/hasura/graphql-engine/issues/4105#issuecomment-609444008 it seems to be the missing `libstdc++` that's causing the problem (and using and old or no hasura image). Since v2 `libsdc++` is already installed at image build time (https://github.com/hasura/graphql-engine/blob/master/scripts/cli-migrations/v2/Dockerfile#L9).

Further down it is me

[2020-05-14 06:50] hoeggi commented on #4651
This is interesting, `dpkg-deb -x libstdc++6*.deb` should install the binary to `/usr/lib/x86_64-linux-gnu` as far as i can tell, but it's actually missing in my image.

[2020-05-14 06:58] tirumaraiselvan commented on #3657
@dilame You will need to include the schema `utils` in the postgres `search_path` for the user/role that Hasura connects with: https://www.postgresql.org/docs/12/ddl-schemas.html#DDL-SCHEMAS-PATH

[2020-05-14 08:04] W1M0R commented on #3657
@tirumaraiselvan I have the same issue as @dilame, and doing a `set search_path to utils, public;` still causes the same hasura error. The hasura error message says, `function gen_random_uuid() does not exist`.

[2020-05-14 08:08] tirumaraiselvan commented on #3657
@W1M0R Can you check if it's permanently set?

[code]

[2020-05-14 08:37] abooij opened #4769 "server: deprecation of object fields and interface fields is not tracked"
While working on #4661, we noticed that the introspection framework doesn't read the `includeDeprecated` flag, which selects (or not) fields and/or enum values which have been deprecated. Although #4661 does add support for deprecated enum values (thus no longer exposing them through introspection unless explicitly requested), it does not add this support for deprecated object and interface fields

[2020-05-14 09:47] danielarbo commented on #2640
+1

[2020-05-14 10:05] #4559 closed

[2020-05-14 10:44] danielarbo opened #4770 "Any way to get request IP address?"
Hi! Anyone know if it is possible to get correct ip and user-agent directly from postgres or from action/event?

Thanks.

[2020-05-14 10:50] #4526 closed

[2020-05-14 12:13] Papanash opened #4771 "Create all default relationship names with column names"
Problem: When there are multiple relationships in one table, the default name of the first
relationship is the name of the table itself while the following relationships are suffixed with "byCoulmnName", the name of foreign key it is related to.

Suggestion: Suffix the first relationship name also with "byCoulmnName".

[2020-05-14 13:26] #4654 closed

[2020-05-14 13:55] beerose commented on #4314
Hi @sensiblefolk,
What about `Tabs component` and `AceEditor` that were assigned to you? 😊

@ryands17 I'll assign you to About Service and Login, and the changes you made in https://github.com/hasura/graphql-engine/pull/4641 will be soon merged!

[2020-05-14 14:23] sensiblefolk commented on #4314
I thought this was merged already with my pull request, let me go review if there is something I missed.

[2020-05-14 14:27] beerose commented on #4314
@sensiblefolk, as it's under review, I'll assign you to LoginActions & Login 😉

[2020-05-14 14:28] sensiblefolk commented on #4314
Good

[2020-05-14 15:21] marekdano commented on #4314
@beerose feel free to assign me `QueryBuilderJson`, `Main Actions`,  `Main State`, or some of these if someone has already taken one of them.

[2020-05-14 18:23] K0den opened #4772 "Not writing errors to docker log"
Hi version >1.1 doesn't write errors to the docker log or atleast `{"path":"$","error":"pgcrypto extension is required, but the current user doesn’t have permission to create it. Please grant superuser permission, or setup the initial schema via https://docs.hasura.io/1.0/graphql/manual/deployment/postgres-permissions.html","code":"postgres-error"}` isn't written.

Just wasted two hours debugging

[2020-05-14 18:44] nolandg commented on #3462
Having quick, easy, and somewhat error and typo controlled management of JSONB pseudo-foreign key relationships in Hasura Console would be amazing. It opens the door to creating some very flexible CMS functionality using almost all Hasura-native functionality. I could create a CMS where my clients can create their own "file" fields that relate to a file table. Dynamic table fields and CMS-like fun

[2020-05-14 23:30] dvasdekis commented on #4478
In light of the recent bug, this tag would be more valuable than ever :)

Thank you!

[2020-05-15 03:01] JoeHogan opened #4774 "cant access network PG DB via IP"
when i use

`postgres://user:pass@docker.for.win.localhost:5432/dbName`

everything works fine. I can also run:

`docker exec -it graph telnet [my localhost ip] 5432`
and i get:
"Connected to [my localhost ip]"

so i know my container can connect to my localhost PG instance via IP...

but when i try to use the localhost IP address in the db connection string:

`postgres://user:pass@[my localhost i

[2020-05-15 03:47] hgiasac commented on #4774
Docker machine runs as a virtual OS. It creates another internal network with internal IP range. `docker.for.win.localhost` has different IP, not `127.0.0.1` or `localhost`. You should run docker info to know exact IP of docker machine are running

[2020-05-15 05:55] W1M0R commented on #3657
@tirumaraiselvan The code here tries to create pgcrypto in the public schema if it does not exist https://github.com/hasura/graphql-engine/blob/master/server/src-lib/Hasura/Server/Migrate.hs#L117

Also, if I run your query I get no results.

[2020-05-15 05:59] shahidhk commented on #4671
So, we basically have a separate workflow to trigger the component release with a regex match to that particular tag?

[2020-05-15 06:04] tirumaraiselvan commented on #3657
@W1M0R Yes, the original issue still exists. Currently, if pgcrypto is not installed then Hasura will install it in `public` schema. If it's installed and not available in search_path then hasura will throw an error (although there is an[ issue with error reporting in v1.2](https://github.com/hasura/graphql-engine/issues/4772)). To solve this, you can add the schema in your user's search_path.

[2020-05-15 07:09] rhlsthrm opened #4776 "Allow Action handler endpoint to be env var"
I'd like to configure my Action handler endpoint from an env var for dev vs production. I can do this for Remote Schemas as well as Event Triggers, but not Actions.

[2020-05-15 08:54] tirumaraiselvan opened #4777 "docs: add section in performance page on how to achieve fast path"
The performance page: https://hasura.io/docs/1.0/graphql/manual/queries/performance.html
can have a section on how to achieve consistent fast path. A fast path means:

1. query plan is cached at hasura
2. sql is prepared for pg connection

We can warm the system by running typical workloads at appropriate throughputs so that the all query plan are cached and the connection pool is fully utilized.

[2020-05-15 09:57] beerose commented on #4314
I assigned you to all these three modules @marekdano! 😉

[2020-05-15 11:30] ericksonc opened #4779 "Hasura Actions + IntrospectionFragmentMatcher break default ApolloClient cache updates"
Setting up IntrospectionFragmentMatcher causes Hasura Action-based mutations to break ApolloClient's default cache update behavior.

For example, I have an action with this definition:
[code]

TodoId has this simple type definition:
[code]
And the action has the relationship `TodoId . id → rc.todos . id` as the way of getting at the actual "todo" that was just inserted. The `__typename` / Hasura f

[2020-05-15 12:00] ardsh opened #4780 "PG v9.6 error when inserting in views with derived fields"
`Postgres version: 9.6`
`Hasura version: 1.2.1`

Create a simple view with derived fields like
[code]

Execute this insert mutation
[code]

It results in this error
[code]

I tried to manually remove the fullName field from the values in the SQL query and execute it in postgres, and this statement worked without that error.
[code]

[2020-05-15 12:40] JoeHogan commented on #4774
I understand that, but my problem is that when I set my DB connection string to an IP that docker is able to hit via telnet, it doesn't work with Hasura... I don't get an error... it just keeps restarting...

[2020-05-15 13:04] elcolie commented on #4774
I also having this problem when I change from `postgres container` to `RDS`

[2020-05-15 13:25] elcolie commented on #4740
I had tried `hasura/graphql-engine:v1.0.0-beta.2`, but not work
[code]

[2020-05-15 13:28] studuino opened #4781 "hasura https using caddy in debian 9"
Hi,
Could someboy help please?
Using yaml from
[https://github.com/hasura/graphql-engine/tree/master/install-manifests/docker-compose-https ](url)
issues the error below:

![image](https://user-images.githubusercontent.com/2291009/82054671-5373da00-96e5-11ea-9aaa-685097f2dc38.png)

ENV:
PRETTY_NAME="Debian GNU/Linux 9 (stretch)"
NAME="Debian GNU/Linux"
VERSION_ID="9"
VERSION="9 (stretch)"
VERSION_

[2020-05-15 14:07] JoeHogan commented on #4774
also, just for context, [my localhost ip] refers to my static address issued by the router, not 127.0.0.1. Point being, i want to configure hasura to always hit the instance of postgres running on my machine via my network address so other devs don't have to run a local instance of postgres. I can hit my static network address within the docker container, but using the address in the hasura db con

[2020-05-15 14:13] perrosnk commented on #4733
@abooij When may we expect this to be released?

[2020-05-15 14:32] coco98 commented on #4198
@wawhal Please do put in a few lines of description for this issue. 😭

[2020-05-15 15:42] hugbubby commented on #4645
Dear God.

[2020-05-15 15:53] rodriggf commented on #574
this should be the way to achieve #1964

[2020-05-15 16:01] JoeHogan commented on #4774
OK - solved it. I reverted to Hasura 1.0.0 which then spit out the error that i want seeing with Hasura 1.2.0... the error was: no pg_hba.conf entry for host [my local ip]

just had to update the pg_hba.conf with my local ip and im good to go.

[2020-05-15 16:01] #4774 closed

[2020-05-15 16:48] harishm72 commented on #4314
@beerose I have added a PR #4721 , i see that except 'changelog / check (pull_request)'  all checks are passedd, can you please help me out here.

[2020-05-15 16:51] nason commented on #4776
I was about to make this same feature request 🍔

It would be super helpful to be able to define action endpoints and headers from env vars, like we can elsewhere.

[2020-05-15 17:13] ivawzh opened #4782 "[Feature] Support ENV of host, port, user, password, dbname"
Hi Hasura. Congrats on your great work designing and maintaining Hasura.

I am wondering if there is a current way to support taking ENV of database host, port, user, password, and dbname; instead of `HASURA_GRAPHQL_DATABASE_URL`?

I am asking because AWS CDK doesn't have a way to support joining plaintexts from a shared secret at ECS task create time. And I believe supporting separate ENV instead

[2020-05-15 17:17] beerose commented on #4314
@harishm72 You don't need to worry about `changelog check` 😉 I just added `no-changelog-required` label, so it will be successful in a moment. I'll do a code review for this PR over the next few days.

[2020-05-15 17:50] plmercereau opened #4783 "Reusable Hasura modules"
# Hasura Modules: Request for Comments

TL;DR: [Proof of Concept](https://github.com/platyplus/hasura-cli-supplement)

## Rationale

Recurrent patterns are present in databases and areas currently covered by Hasura, for example sending of emails, calendars, authentication, soft delete, payment, storage, audit trail...
Whereas not all the business logic of such modules cansometimes be embbeded insi

[2020-05-15 20:58] Motoxpro commented on #4783
Amazing idea!! Super cool!

[2020-05-16 04:22] toomanyjoes opened #4784 "Restoring a psql database that already has hdb_catalog tables with relationships breaks local hasura"
The instructions here: https://hasura.io/docs/1.0/graphql/manual/deployment/docker/index.html work fine until you restore from a postgres DB that already has defined relationships in the hdb_catalog schema that someone else created. Then hasura refuses to start and doesn't throw any errors.

[2020-05-16 08:40] haf opened #4785 "Opt out in UI crashes with SQL error"
[code]

<img width="809" alt="image" src="https://user-images.githubusercontent.com/193115/82115202-a7240900-9761-11ea-8fab-812a419bb86c.png">

When you get the beta-notifications at the bottom of the console.

[2020-05-16 18:41] sotnikov-link opened #4787 "Expected value of type "jsonb": how to save field jsonb?"
![image](https://user-images.githubusercontent.com/10273334/82127615-b5077780-97bd-11ea-974b-db2dd4ee339e.png)

[2020-05-16 18:44] sotnikov-link commented on #4787
But request is works.

[2020-05-16 19:01] sotnikov-link commented on #4787
Additional screenshots

![image](https://user-images.githubusercontent.com/10273334/82127930-bc2f8500-97bf-11ea-9d62-88e80dbec869.png)

Validation works for string.

![image](https://user-images.githubusercontent.com/10273334/82127944-cb163780-97bf-11ea-8c7d-833b992c7f38.png)

Validation don't work for object.

[2020-05-16 20:50] stevefan1999-personal opened #4788 "elliptic curve jwt cert support"
i wonder why it is not included out of the box🤔

[2020-05-16 20:53] stevefan1999-personal commented on #4788
https://hackage.haskell.org/package/eccrypto

[2020-05-16 23:54] adamcee commented on #3914
@tirumaraiselvan is there a way to do postgres COPY via the hasura console? I've seen something documented about a hasura microservice command - `hasura ms` in a few places but it doesn't seem to actually exist?

[2020-05-17 05:52] THPubs opened #4789 "Row insert permissions for actions"
Is it possible to add `Row insert permissions` to actions as in the tables? It would be better if we can construct custom permission logic. I currently have a custom logic built and cloned to every table in the app. But actions doesn't have the capability to add such logic.

[2020-05-17 06:47] soorajshankar opened #4791 "As a read-only mode user, I am still able to do some CRUD operations in DATA module"
As a read-only mode user, I am still able to do CRUD operations in DATA.

**Current Behaviour**

1. Open Hasura console in read-only mode.
2. Go to the Data tab.
3. Some of the crud operations are enabled even in the read-only mode.
4. Relationships and Permissions tab works as expected.

**Expected Behaviour**

1. Add Table should not be enabled in both sidebar and landing page.
2. `Browse Rows`

[2020-05-17 07:23] rhlsthrm opened #4792 "Error adding JWT secret to docker compose"
I added the JWT secret I generated on https://hasura.io/jwt-config/ to my docker-compose yaml as follows:

[code]

When I run `docker-compose up` I'm getting an error:

[code]

Any idea how to fix? I made sure I followed the directions to put into single quotes.

[2020-05-17 11:50] rhlsthrm opened #4793 "Providing HASURA_GRAPHQL_ADMIN_SECRET makes role-based queries not work without admin secret"
I'm having trouble getting the role-based auth to work. I have set `HASURA_GRAPHQL_ADMIN_SECRET` in my config and I added a "user" role who can query my `users` table with a custom check like:

[code]

However, when try a simple query with using the `X-Hasura-User-Id` header set in the console:

[code]

I get an error:

[code]

I'm not sure I understand how this is supposed to work. if I add the a

[2020-05-17 12:12] #4793 closed

[2020-05-17 13:54] AdityaAnand1 commented on #4767
Any ideas? @tirumaraiselvan @alioguzhan @beerose

[2020-05-17 19:21] nolandg opened #4795 "Feature: Progress indicator when applying migrations"
Couldn't find how to set this in the docs so I assume it's not implemented? When I apply a large series of migrations (like comissionsing a new instance of my app on a new database), it takes a while, like 5 minutes or more. It would be great to see progress, like which migration ID is currently being processed. Could we print that out to the console?

[2020-05-17 22:17] kurt-o-sys commented on #3759
It's still not updated here, I'm running hasura 1.2.1.
After adding new values, I can't use the new values in insert operations.
If I query the enum field using the graphiql/api-explorer, the new values are there.

[2020-05-17 22:57] dnk8n commented on #2468
Using the example above, is it currently possible to filter on an array within the object, e.g. something like:

[code]

Which would do something like match on of `array`'s list items contains an object with `name` "m"

My data looks more like this, each person object has an extra_data field (Postgres Jsonb) of similar format to:

[code]

I am struggling to see how I can query all persons who have

[2020-05-18 01:55] endigo opened #4796 "Hasura/Actions - Support for nested object types"
I want to build action for ElasticSearch API, it returns an array of product ids but I am not able to create a custom type that is nested.

[code]

[2020-05-18 02:47] michaelwooley commented on #877
Until this is implemented may I request that something along the lines of the [workflow explained](https://github.com/hasura/graphql-engine/issues/877#issuecomment-435269754) by  @go4cas be placed in the docs? (Happy to open as different issue.) After reading the docs front-to-back my understanding of the situation was that any role in `x-hasura-allowed-roles` would still be considered as a possib

[2020-05-18 04:57] elcolie commented on #4774
I have to `create extensions pgcrypto` in RDS

[2020-05-18 04:58] elcolie commented on #4740
Try `create extension pgcrypto` solved for me

[2020-05-18 04:58] elcolie commented on #4740
Try `create extension pgcrypto` solved for me

[2020-05-18 05:00] tirumaraiselvan commented on #4776
This is already possible. See the note on Url templating here: https://hasura.io/docs/1.0/graphql/manual/actions/create.html#step-2-create-the-action-handler

An issue to add a tooltip to suggest this on the console is here: https://github.com/hasura/graphql-engine/issues/4689

[2020-05-18 05:05] tirumaraiselvan commented on #4784
Hi @toomanyjoes

Could you paste the entire workflow that you are performing to start Hasura?

Can you also post the hasura logs when it crashes?

[2020-05-18 05:18] tirumaraiselvan commented on #4767
You cannot "flatten" the response as the query indicates the shape of the data.

One workaround is to create a postgres view which has the count field and query that instead.

[2020-05-18 06:10] rhlsthrm commented on #4776
Thank you @tirumaraiselvan! I somehow missed this in the docs! I'll close this issue.

[2020-05-18 06:10] #4776 closed

[2020-05-18 06:28] rikinsk opened #4798 "raw sql page content gets overwritten when modify page for a view is visited"
the view definition should be stored in the component state instead of raw sql page redux and it should be set to the Raw SQL page content when Modify button is clicked

[2020-05-18 08:16] #4754 closed

[2020-05-18 09:00] tirumaraiselvan commented on #4756
Hi @thebetterjort

As per this: https://caddyserver.com/docs/v2-upgrade#proxy

The docs for caddy 2 have also been added as per https://github.com/hasura/graphql-engine/pull/4710/files

[2020-05-18 09:51] AdityaAnand1 commented on #4767
Yikes. Any plans to introduce alternate syntax for this and similar use cases? This syntax is really awful.

Creating views will work, but it doesn't seem like the hasura way 😏

[2020-05-18 10:09] aerospatiale commented on #2121
The combination of a pg_dump / pg_restore API would be particularly useful for replicating data to new cloud environments.

[2020-05-18 11:13] #4622 closed

[2020-05-18 11:40] tomasherout commented on #4796
+1 it should be very useful  👍

[2020-05-18 12:27] #4547 closed

[2020-05-18 13:23] opvasger commented on #4547
I see you have merged the changes into master - does this mean they will be included in the next patch-release?

[2020-05-18 14:26] rikinsk commented on #4771
@Papanash Thanks for the suggestion! This is how it used to be a long time back :). Typically in such situations the name Hasura comes up with is always never ideal to be exposed over the API. So we recommend that the user rename them anyway right after creation to a more logical value.

[2020-05-18 14:37] rikinsk commented on #4771
Sorry. had closed this by mistake.

@Papanash wanted to check if there is a specific reason for the behaviour you expect?

[2020-05-18 15:07] semyou opened #4802 "Edit bolean on the console"
If you click on edit an entry in a table in the console with a boolean attribute, it will always show false even if the attribute is true.

[2020-05-18 15:08] mojobnichols commented on #2601
I Have this prolem I checked the config and url is correct.   The server is in hosted environment on a docker image

[2020-05-18 16:14] abooij commented on #4733
@perrosnk Keep an eye out for the latest releases, hopefully it'll be out soon!

[2020-05-18 16:16] abooij commented on #4547
@opvasger Keep an eye out for the latest releases, hopefully this will be released soon!

[2020-05-18 16:59] marionschleifer opened #4805 "docs: guide on performance tuning"
In the `deployment` section of the docs, we should add a page on performance tuning.

We can use [this](https://github.com/hgiasac/blog-builder/blob/master/pages/posts/2020-05-15-Tuning-Hasura-at-Scale.md) for content. Thank you @hgiasac 🙏

[2020-05-18 17:09] Ckbhatia commented on #4745
Hi @marionschleifer,

I am interested to work on this issue.

Can you elaborate a bit more on this issue?
There're examples available for both docs.

Maybe I'm not noticing well. So, Please help me to figure out this.
So, I can work on this issue.

[2020-05-18 18:21] happyfloat opened #4806 "Actions must return an object. How to return an array?"
I did write an `hasura action` for a `query` and the action codegen return value did generate something like that:
[code]
This of course does not work, if my `content` is an array.

Just returning an array is not possible, since hasura will throw an error, even though the result in the error body looks fine.

So currently the only way is to return a nested object like this:
[code]

And we need to

[2020-05-18 19:52] MohiuddinM opened #4807 "How to ignore the data that could not be updated"
I am building an app in flutter, and when I have to update a row then I sent the complete object. But the problem is that some of the fields can not be updated (due to permissions), and hence the whole update is rejected.

`HasuraError: field "name" not found in type: 'user_set_input'`

I want a way where the updatable columns are updated, and the non-updatable fields remain the same, instead of r

[2020-05-18 19:55] perrosnk opened #4808 "[BUG] Order_by with multiple arguments"
The explorer doesn't produce correct results when selecting multiple arguments on the order_by.
The [documents](https://hasura.io/docs/1.0/graphql/manual/queries/sorting.html#sorting-by-multiple-fields) mention that order_by should be an array, whereas the explorer always produces an object

Edit: could be linked with [this](https://github.com/hasura/graphql-engine/issues/4488)

[2020-05-18 20:33] samuelcastro opened #4809 "Remote Schemas conflicting"
Is there a way to add remote schemas grouping them by name rather than add all queries/mutations flatten in the root?

[2020-05-19 00:14] Albert-Gao commented on #4703
Haven't tried, but does it mean we can use Relay with Hasura now? 😍

Seems this issue is still open https://github.com/hasura/graphql-engine/issues/721

[2020-05-19 04:27] tirumaraiselvan commented on #4808
Explorer (different repo) has a bug where it doesn't handle list inputs properly: https://github.com/OneGraph/graphiql-explorer/issues/32

We are also tracking it here for any improvements that can be made: https://github.com/hasura/graphql-engine/issues/3322

[2020-05-19 04:29] tirumaraiselvan commented on #4809
We are tracking it here: https://github.com/hasura/graphql-engine/issues/3518

Let's move this conversation there.

[2020-05-19 04:29] #4809 closed

[2020-05-19 04:31] tirumaraiselvan commented on #3518
Another way is to nest remote schemas inside a namespaced field like

[code]
Originally posted by @samuelcastro here: https://github.com/hasura/graphql-engine/issues/4809

[2020-05-19 04:53] wawhal commented on #4806
@happyfloat action can return a list of object too. It is a bug in the codegen that we'll fix soon.You can return a list like you usually do:

[code]

[2020-05-19 05:23] wawhal commented on #4806
Tracking it [here](https://github.com/hasura/codegen-assets/issues/28).

[2020-05-19 05:23] #4806 closed

[2020-05-19 05:38] happyfloat commented on #4806
Thanks for the quick reply, but returning `res.json(data.content)`, did not work on version 1.2.1, thats my issue: `expecting object for action webhook response but got array`.

Wrapping it in `result` object was just a hacky workaround, the real type looks different, e.g.
[code]

[2020-05-19 06:12] wawhal commented on #4806
@happyfloat I am unable to reproduce that issue. Say if I have the following action defintion:

[code]

For the above definition, if you send a list of objects, it is a valid response. For example check this:

[code]
If possible, can you give some more information about your action definition and the response that you are returning?

[2020-05-19 06:44] rhlsthrm opened #4812 "[BUG] Nested object creation does not define nested object's foreign key"
I have an object relationship defined by foreign keys and relationships, which I am inserting at the same time as the parent object using the nested object insert [syntax](https://hasura.io/docs/1.0/graphql/manual/mutations/insert.html#one-to-one-one-to-many-relationships). When I insert the object, the foreign key on the nested object is NULL.

[2020-05-19 08:55] Papanash commented on #4771
I agree that the automatic name might almost never ideal to be exposed over the API.

But may i ask for the reason it was changed from that convention?
Can you explain the purpose for using the table name as default name of the first relationship?

[2020-05-19 09:21] rikinsk commented on #4771
The current logic is pretty simple.

Based on relationship type (object/array ), set relationship name as the singular/plural form of the remote table name. In case there already exists a field for the table with the same name (an existing column or relationship), append the table name with "byColumnName" to create a unique field name.

The reason for not appending "byColumnName" by default is bec

[2020-05-19 10:35] rikinsk commented on #4766
This is an issue with the console.

Till this is fixed you can get around this by using the [permissions metadata api](https://hasura.io/docs/1.0/graphql/manual/api-reference/schema-metadata-api/permission.html) or by [exporting](https://hasura.io/docs/1.0/graphql/manual/migrations/manage-metadata.html) the metadata, adding the computed field in the permissions section of the field and then applyi

[2020-05-19 10:42] rikinsk commented on #4674
I'm closing this. If there any more questions or anything to add, feel free to re-open this issue.

[2020-05-19 10:42] #4674 closed

[2020-05-19 10:46] rikinsk commented on #4464
@ravensnowbird Unfortunately I am not quite sure of the use case here. Can you maybe share some more details on what you are expecting and how it would be useful.

PS: Sorry for the delay in response. This seems to have been missed somehow.

[2020-05-19 10:51] rikinsk commented on #4464
Actaully I think I get it now. You would like to have an array relationship to the `users` table via the `user_ids` array type column of `conversation` table.

[2020-05-19 11:01] #4364 closed

[2020-05-19 11:04] coco98 opened #4813 "Add a note on Create Action page about reusing Hasura types and relationships"
Most folks new to Actions miss the fact that the Action outputs can reference Hasura types. if we had a small note and link to documentation this will already make things very clear.

[2020-05-19 11:10] rikinsk commented on #4410
You can take a look at the [data validation docs](https://hasura.io/docs/1.0/graphql/manual/schema/data-validations.html) for some suggestions to achieve this.

Such custom logic can be handled using a before-insert PG trigger on your logs table or else using Hasura actions .

[2020-05-19 11:17] happyfloat commented on #4806
Omg! Thank you so much,I just missed the array definition here:
[code]

Sorry for the inconvenience.

[2020-05-19 12:23] rikinsk commented on #4812
@rhlsthrm I was not able to reproduce this. Can you share the schema of your tables and the query you are attempting.

[2020-05-19 13:31] rikinsk commented on #4548
This issue gets fixed once you set the `HASURA_GRAPHQL_STRINGIFY_NUMERIC_TYPES` env var while running the GraphQL Engine. See [server config reference](https://hasura.io/docs/1.0/graphql/manual/deployment/graphql-engine-flags/reference.html). This happens due to the max size of integers supported in JSON which is not sufficient to store PG bigint s

[2020-05-19 14:09] rikinsk commented on #4548
Closing this issue. Please feel free to reopen if there are further questions or some other thoughts to add

[2020-05-19 14:09] #4548 closed

[2020-05-19 15:10] rhlsthrm commented on #4812
Here's a simple example I've reproduced:

Parent table created with this schema:

<img width="1119" alt="image" src="https://user-images.githubusercontent.com/11512787/82343286-f16fe900-99f2-11ea-9864-56710a98daba.png">

Child table created with this schema:

<img width="1119" alt="image" src="https://user-images.githubusercontent.com/11512787/82343386-0fd5e480-99f3-11ea-92ea-b8fadfff7878.png">

I

[2020-05-19 15:18] tirumaraiselvan opened #4815 "Subcriptions on remote join fields should give a null alongwith an error"
Since the remote field is added to the table type, the remote field will appear for subscription fields as well. Currently, the internal resolver will return a string like "not supported" or something (need to check exact value). This needs to be fixed.

[2020-05-19 15:30] codingkarthik commented on #4815
Currently, running a subscription with a remote join field will throw the following error:

[code]

[2020-05-19 15:31] leoalves opened #4816 "Analyze button does not show permission filters anymore"
Hi,

Before when using the Analyze button I could see the permissions applied to the query.

For example in version 1.0.0-beta-8 (not sure when this changed, this version is just an old one I had laying around), the following permission:
`{"id":{"_eq":"x-hasura-user-id"}}`
Will generate the following query in the Analyze button:
[code]

But in the latest version of Hasura (v1.2.1), the same permis

[2020-05-19 15:38] sanderhahn commented on #2084
Was looking into related regarding escaping issue and found that this seems to work:

[code]

[code]

Parsing can potentially be handled using:

[code]

[2020-05-19 15:53] m4rcelofs opened #4817 "Use x-hasura-* values in JSONB permission fields"
Hello!

When setting permission rules, we are using the  `_contains` rule on a JSONB field. If all values are hardcoded, this works perfectly.

Using `x-hasura-*` session variables does not seem to be possible.

Example:

![image](https://user-images.githubusercontent.com/853019/82348355-1fdbcd00-99cf-11ea-957e-7f9e435109d3.png)

GraphQL Query:
[code]

Generated Query (from "Analyze"):
[code]

The

[2020-05-19 16:14] samuelcastro commented on #4809
ok thanks!

[2020-05-19 16:17] samuelcastro commented on #3518
Yes, as @tirumaraiselvan mentioned I think grouping schemas by a namespace would be more manageable and/or readable, I don't like the idea of prefixed names.

Is there any work in progress around this or this is still in a discussion mode?

Thanks.

[2020-05-19 16:49] tirumaraiselvan commented on #4815
@codingkarthik Cool. Changing title to reflect longer term objective.

[2020-05-19 19:54] beerose opened #4818 "console: wrap voyager in error boundary"
It will be a partial solution to https://github.com/hasura/graphql-engine/issues/3023. The idea is to wrap the voyager component in error boundary so that any voyager's errors won't crash the whole console, and users still will be able to use the application without page refresh.

In the error message, we should display information that the error comes from Voyager.

Voyager component: https://git

[2020-05-20 00:41] aaronbski commented on #2768
+1

[2020-05-20 01:41] FarazPatankar commented on #2768
For anyone struggling with this, I ended up using the upsert mutation for this due to the lack of a response and it works perfectly.

[2020-05-20 04:45] sbussard commented on #2419
Any updates on the ability to upload files through Hasura?
Base64 is not an option for one of my use cases

[2020-05-20 06:16] #4687 closed

[2020-05-20 09:06] rikinsk commented on #3124
The `hasura migrate create` command uses `pg_dump` underneath. Seems like it might be an issue with it. cc: @scriptonist

[2020-05-20 09:06] rikinsk commented on #4702
Closing as dup of #4438

[2020-05-20 09:08] rikinsk commented on #4702
Reopening as the suggestions are regarding different sections

[2020-05-20 09:18] rikinsk commented on #4712
console cannot figure out which columns currently have permissions from the metadata. The server should ideally respect '*' when a new column is added without need for metadata reload

[2020-05-20 09:23] rikinsk commented on #4603
@aleareco what project are you facing the error in?

[2020-05-20 09:26] rikinsk commented on #3632
@plmercereau it is now recommended that you version control the metadata files and add commits when you have reached a stable checkpoint. See [managing migrations](https://hasura.io/docs/1.0/graphql/manual/migrations/basics.html#managing-migrations)

_PS: sorry for the delayed response._

[2020-05-20 09:56] tirumaraiselvan commented on #4760
Published here: https://github.com/hasura/graphql-engine/pull/4821

[2020-05-20 09:56] #4760 closed

[2020-05-20 10:42] tirumaraiselvan commented on #4712
Closing this as this is subsumed by https://github.com/hasura/graphql-engine/issues/2104

[2020-05-20 10:42] #4712 closed

[2020-05-20 11:33] jflambert commented on #4077
@haohedev have you tried replicating this on 1.2.1, just to make sure this isn't something they've already fixed?

@jberryman We're seeing similar massive RAM consumption from very simple queries. We are also on 1.1.1 and will try to replicate on 1.2.1 before trying to contribute to this issue.

[2020-05-20 12:02] aleareco commented on #4603
Hi @rikinsk! I already fixed this problem, thanks for replying though :-)

[2020-05-20 12:44] AfricanBones commented on #4603
I managed to solve it myself. Thanks anyway :)

[2020-05-20 12:45] #4603 closed

[2020-05-20 15:50] timhere commented on #2764
I experienced this issue upgrading my database from Postgres 11.8 to 12.3. I solved it by using `public` in my search path, e.g:

[code]

The value for search path created by pgdump was empty.

More detail, in case it helps someone else:
I made backup of my database created using pgdump and used the hasura cli to manage the migration.

The schema restored fine, however attempting to execute the sq

[2020-05-20 17:29] redinggg opened #4829 "del"

[2020-05-20 17:29] davingreen opened #4830 "Support for application/graphql content-type payloads to endpoint"
I looked around, but don't see any documentation or other issues mentioning this, so this may be ignorance on my part.

Is it possible to send an application/graphql payload to the graphql engine? When I try sending a graphql query in the raw body of the request with the content-type set, I get an error.

[code]
[code]

[2020-05-20 17:54] ecthiender commented on #4830
Hasura only supports `application/json` as per https://graphql.org/learn/serving-over-http/#post-request

`application/graphql` has a severe limitation that you cannot use variables.

See also: https://github.com/apollographql/apollo-server/issues/48

[2020-05-20 19:48] sotnikov-link opened #4833 "Why not working with existing DB of PostgreSQL 9.6.17?"
I run for existing DB of PostgreSQL 9.6.17

[code]

After, I get output and exit from container

[code]

[2020-05-20 20:03] sotnikov-link commented on #4833
Working docker-compose.yml

[code]

But when I paste own HASURA_GRAPHQL_DATABASE_URL, it don't work.

Connect works over psql inner container of postgres.

[2020-05-20 20:34] #4829 closed

[2020-05-21 02:43] ravensnowbird commented on #4464
@rikinsk Yes. Postgres by default supports array field of strings/integers. These can be used to form a relationship directly avoiding a middle table users_conversations.

[2020-05-21 04:55] nolandg commented on #79
Can anyone explain how this helps in deleting columns? The "can't delete column because of permissions" links here but...?  Is the only way to delete a column to through all the permissions for all rows removing that column first? I have 32 boxes to click then... :-(

[2020-05-21 05:22] tianguohui opened #4835 "DB schema loading failed，logs：Spock Error while handling ["v1","query"]: receiveloop: resource vanished (Connection reset by peer)"
I use docker compose to start hasura connection with postgresql11.6, and the page reports an error: DB schema loading failed
![image](https://user-images.githubusercontent.com/59588791/82526077-9b6f8280-9b65-11ea-843a-702fe6481643.png)

I checked the logs and found:
![image](https://user-images.githubusercontent.com/59588791/82526124-bb9f4180-9b65-11ea-913f-d27e850eba5d.png)

My docker- compose.ym

[2020-05-21 05:42] scriptonist commented on #3124
@raitucarp to make sure we are on the same page,
- you put together the database using the hasura console.
- try creating a "init" migration using `hasura migrate create init --sql-from-server`
- while creating the "init" migration you encounter the above mentioned issue

Did I get it right?

[2020-05-21 08:13] #4772 closed

[2020-05-21 08:24] tirumaraiselvan opened #4836 "do not call 'exitFailure' from arbitrary functions"
Currently, there are a bunch of place where we are calling `exitFailure` : https://github.com/hasura/graphql-engine/search?q=exitFailure&unscoped_q=exitFailure

This is quite confusing as the program may quit from any function/thread. Ideally, `exitFailure` should be called only once (maybe in Main.hs) and in other places errors should be "gracefully" captured.

One example of `exitFailure` which

[2020-05-21 09:38] #4052 closed

[2020-05-21 09:39] marionschleifer commented on #4745
@Ckbhatia of course. You can see that [here](https://hasura.io/docs/1.0/graphql/manual/api-reference/schema-metadata-api/permission.html#create-insert-permission) there is an example for `create_insert_permission`. And you can see [here](https://hasura.io/docs/1.0/graphql/manual/api-reference/schema-metadata-api/permission.html#drop-insert-permission) that there is no example for `drop_insert_perm

[2020-05-21 09:46] marionschleifer commented on #4514
Implemented in https://github.com/hasura/graphql-engine/pull/4834.

[2020-05-21 09:46] #4514 closed

[2020-05-21 09:49] Taho2007 commented on #3244
This big issue makes "Hasura" almost worthless thing. We may not use "intervals" for datetime comparisons in "where" clause. BAD.

[2020-05-21 10:06] marionschleifer commented on #4406
Implemented in https://github.com/hasura/graphql-engine/pull/4827.

[2020-05-21 10:06] #4406 closed

[2020-05-21 11:25] kolharsam commented on #4818
@beerose I think I'd like to work on this. Is anyone else working on it?

I also had a couple of questions.

Also, what is the fallback for the ErrorBoundary?
Are there other places where this ErrorBoundary can be used?

[2020-05-21 12:35] dsandip opened #4837 "Custom Docker images or binaries for Hasura GraphQL engine"
If you need a binary for Hasura GraphQL engine to run in a non-Docker environment or you require custom Docker images, we can make them available via a support plan. A possible use case could be that the default base image (*alpine*) is not compatible with your security scanning tool ([Anchore](https://anchore.com/), [Sysdig Secure](https://sysdig.com/products/kubernetes-security/image-scanning/),

[2020-05-21 12:54] rikinsk commented on #79
@nolandg We are working on improving the console experience for this. It being tracked in #1593.As a worardounf till then you can drop the column via SQL in the RawSQL tab using `ALTER TABLE <table> DROP <column>` statement and checking the `Cascade metadata` checkbox. This will drop all permissions depending on the given column. Note that for row level permissions the entire permission will be dr

[2020-05-21 13:38] Ckbhatia commented on #4745
@marionschleifer I got it.
I am adding missing examples.

Questions:
1. Should I create another branch for these changes or master is okay?
2. Is there any resource where I can test the code or similar resource?

[2020-05-21 13:47] marionschleifer commented on #4745
@Ckbhatia

1. You should create a fork of the `graphql-engine` repo and then you can make a PR from your forked repo to the `graphql-engine` repo. On your fork, it doesn't matter if you work on master or on a separate branch.

2. Please check out the [contributing guide for docs](https://github.com/hasura/graphql-engine/blob/master/docs/CONTRIBUTING.md). It explains how to set up docs for local de

[2020-05-21 14:23] Ckbhatia commented on #4745
👍

[2020-05-21 16:50] Ckbhatia commented on #3023
@beerose @edsonbonfim Hey, Can anyone please share a codesandbox link or similar link? So, I can reproduce the error and fix it.

[2020-05-21 17:12] MaxmaxmaximusGitHub opened #4839 "[Question/Feature Request] Subscriptions in external GraphQL schema, with Hashura GraphQL?"
How can I send reactive data from an external GraphQL backend, with `Hashura GraphQL`?

For example, I have a payment service in my backend, i chech payment and (two seconds later) i want to send subscription to client, and transfer the information "in your account there were 100 dollars, but it became 150".

If `Hashura GraphQL` does not allow GraphQL subscriptions in external schema, then how ca

[2020-05-21 17:44] MaxmaxmaximusGitHub opened #4840 "[Question/Feature Request] Subscriptions in external GraphQL schema, with Hashura GraphQL?"
How can I send reactive data from an external GraphQL backend, with `Hashura GraphQL`?

For example, I have a payment service in my backend, i chech payment and (two seconds later) i want to send subscription to client, and transfer the information "in your account there were 100 dollars, but it became 150".

If `Hashura GraphQL` does not allow GraphQL subscriptions in external schema, then how ca

[2020-05-21 17:44] MaxmaxmaximusGitHub commented on #4839
Close cuz too many title renaming =)

[2020-05-21 17:44] #4839 closed

[2020-05-21 22:08] Sacquer commented on #4833
If I'm interpreting you correctly @sotnikov-link , the `docker-compose.yml` file works but it doesn't when you're trying it out with the script?

Have you tried adding:

`docker run -d --net=host \`

[2020-05-21 22:21] jcable opened #4841 "webhook with JWT Authorizer"
Apologies if this is a duplicate but I couldn't find it.

I'm triggering an AWS API Gateway call from a Hasura table insert event. I've configured the API Gateway with a JWT Authorizer from auth0 and it's all working with an auth0 test token included in a header.

Currently I'm renewing the authorisation header daily by hand. I presume I could renew it automatically using a cron job and the metada

[2020-05-21 22:25] jcable opened #4842 "Event trigger on a view"
Event triggers are created on tables. If I use SQL to create a view I can use that anywhere in a GraphQL query where a table could be used but Views don't appear in the pick list when creating triggers.

I wanted to use a view to enforce a security boundary where my GraphQL client can push data into a table in a write only mode which triggers a webhook which augments the data forwarded to an exter

[2020-05-22 02:59] rhyslbw commented on #3989
Thanks for the update @dcultrera

@D3CK3R I'm handling this in a custom Docker image (required for a different migration strategy), so won't be in a position to contribute either sorry.

[2020-05-22 05:17] tirumaraiselvan commented on #4840
Although you can add other graphql services (including other hasura endpoints) to Hasura, subscriptions are not supported for Remote Schemas.

The issue to track this feature is here: https://github.com/hasura/graphql-engine/issues/1599

[2020-05-22 05:31] tirumaraiselvan commented on #4835
@tianguohui Does this happen for other versions of Hasura like `v1.1.1` ?

[2020-05-22 05:38] tirumaraiselvan commented on #4792
@rhlsthrm Is this Auth0 or Firebase? Auth0 [recently fixed their jwk](https://community.auth0.com/t/jwk-certificate-thumbprint-is-invalid/16070/22), so just rotating your key (to get new jwk) and using your app's `jwk_url` should be enough: https://hasura.io/docs/1.0/graphql/manual/auth/authentication/jwt.html#auth0

[2020-05-22 06:09] rhlsthrm commented on #4792
Hi, sorry this works for me after trying again.

[2020-05-22 06:09] #4792 closed

[2020-05-22 07:20] beerose commented on #4818
@kolharsam I'll assign you to this issue, you can work on it 😉

We have error boundary defined for the whole app here: https://github.com/hasura/graphql-engine/blob/master/console/src/components/Error/ErrorBoundary.js
And the fallback is either `PageNotFound` or `RuntimeError` component. The idea here is to wrap the Voyager component into an additional error boundary so that the top menu is still

[2020-05-22 09:10] tirumaraiselvan commented on #4633
Related: https://github.com/hasura/graphql-engine/issues/4506

[2020-05-22 09:10] #4816 closed

[2020-05-22 09:52] tirumaraiselvan commented on #3518
We have an RFC here: https://github.com/hasura/graphql-engine/pull/4821

We will begin the implementation very soon.

[2020-05-22 12:02] praveenweb opened #4847 "docs: update docs around auth0 jwk_url support"
Auth0 has fixed a [bug](https://community.auth0.com/t/certificate-thumbprint-is-longer-than-20-bytes/7794/11) which prevented Hasura from using their rotating keys.

The docs around configuring `HASURA_GRAPHQL_JWT_SECRET` for Auth0 needs to be updated.

Places where this content needs to be updated:
- https://hasura.io/docs/1.0/graphql/manual/auth/authentication/jwt.html#example-jwk-url
- https://

[2020-05-22 12:11] beerose commented on #3023
@Ckbhatia the best way to reproduce this would be to start Hasura Console and create multiple test tables. As I know this issue occurs when there are more than ~40 tables.

[Here](https://github.com/hasura/graphql-engine/blob/master/console/README.md) are the instructions on how to run Console locally.

[2020-05-22 12:25] rikinsk commented on #1525
This is done

[2020-05-22 12:25] #1525 closed

[2020-05-22 13:10] MaxmaxmaximusGitHub commented on #1599
I completely agree, we have a need for these architectures, and now we can not implement them through one endpoint

![image](https://user-images.githubusercontent.com/60403187/82670829-8880af00-9c46-11ea-87c2-d603974c6017.png)

![image](https://user-images.githubusercontent.com/60403187/82670839-8caccc80-9c46-11ea-8d10-0e7f3b13c94c.png)

[2020-05-22 13:16] tirumaraiselvan commented on #4335
Seems like Auth0 has fixed the jwk_url : https://community.auth0.com/t/jwk-certificate-thumbprint-is-invalid/16070/22

[2020-05-22 13:16] #4335 closed

[2020-05-22 14:15] tirumaraiselvan commented on #1450
Unfortunately, Hasura only supports PG 9.5 and above. See the note here: https://hasura.io/docs/1.0/graphql/manual/getting-started/index.html

[2020-05-22 14:15] #1450 closed

[2020-05-22 14:37] karthikvt26 opened #4849 "Show line number of the error in custom types editor"
Currently the error message shows the syntax error. Line number would really be useful if the custom types are a lot

![Screen Capture_select-area_20200522195437](https://user-images.githubusercontent.com/25095884/82678747-c0e4b500-9c67-11ea-966a-2920fa864352.png)

[2020-05-22 15:09] sotnikov-link commented on #4833
It works only if used declared DB inner docker-compose, but my DB is external.

I tried your variant:

[code]

But it is not work with my external DB and I get output again :(

[code]

What will be with external DB if I can connect over Postbird or psql without problem?

[2020-05-22 15:27] Sacquer commented on #4833
Where does your external postgres instance reside?

[2020-05-22 15:36] sotnikov-link commented on #4833
My external DB is in Internet.

[2020-05-22 15:39] MaxmaxmaximusGitHub opened #4850 "[Question/Feature request] Hashura GraphQL have any configuration file?"
Hashura GraphQL have any configuration file? Or the only way to configure this is the "Hashura Console"?

![image](https://user-images.githubusercontent.com/60403187/82684524-66455c00-9c5b-11ea-9c2f-7fc7adf0dd27.png)

[2020-05-22 15:40] MaxmaxmaximusGitHub commented on #4850
https://hasura.io/docs/1.0/graphql/manual/migrations/index.html#introduction

[2020-05-22 15:40] #4850 closed

[2020-05-22 15:44] Sacquer commented on #4833
I was thinking more, is on AWS or a server that you're in control of yourself?

The code above with the `HASURA_GRAPHQL_DATABASE_URL`, are you're certain that you're using the correct endpoint for your external postgres instance? And that it allows traffic from your IP address?

I tried just now connecting to an external instance on AWS without a problem.

[2020-05-22 16:00] MaxmaxmaximusGitHub opened #4851 "docs: use <code> tag in documentation for better translations"
If I use the Google translator on the page, then the code examples are also translated:

![image](https://user-images.githubusercontent.com/60403187/82686206-25027b80-9c5e-11ea-9972-0e4b73c0c92b.png)

![image](https://user-images.githubusercontent.com/60403187/82686227-2d5ab680-9c5e-11ea-9943-6413647bd4a2.png)

![image](https://user-images.githubusercontent.com/60403187/82686278-42cfe080-9c5e-11ea

[2020-05-22 16:19] MaxmaxmaximusGitHub opened #4852 "[BUG] hasura metadata export "failed to create a symlink from ""
hasura metadata export

Windows 10 (git bash)

[code]

![image](https://user-images.githubusercontent.com/60403187/82688161-0ea9ef00-9c61-11ea-813e-b07e51a01008.png)

[2020-05-22 16:23] #4852 closed

[2020-05-22 17:45] nirvdrum opened #4853 "The documentation for the migrations upgrade command is wrong"
The documentation for the migration upgrade command says "In your project directory, run", but if you run the command in the project directory, the script is unable to open the migration files. I found the command really needs to be run where you store your migrations, which I believe is conventionally a directory named _migrations_ within the project.

[2020-05-22 23:08] TeoTN opened #4855 "Somewhat problematic types (3 types simultaneously, much problems)"
I have a JSONB array in my schema that (semantically) holds values of ids (uuid). I would like to run 3 mutations, that for given $id, will remove the id from the array of one entity, add the id to another entity and finally update the entity having the id.

Unfortunately, that would require `$id` to be simultaneously of types `String`, `jsonb` and `uuid` - in this example, `$moveSubjectId`:

[cod

[2020-05-23 08:50] NikPaushkin opened #4858 "Bind comment field of event triggers with API"
Right now actions and remote schemas have `comment` field, which can be applied via metadata API. `hdb_catalog.event_triggers` table also contains the same field, but it's not supported by API methods.

[2020-05-23 12:31] jlowin commented on #4643
At least, it would be great to see it on updates as well

[2020-05-23 13:56] Albert-Gao commented on #1902
Need this feature,

otherwise, for a multi-tenant app, you might need to write Hasura Action for every entity out there...

Any update on this?

[2020-05-23 14:16] TeoTN opened #4859 "Optional mutation argument passed to where changes entire table"
I've noticed that when an optional mutation argument is passed to `where` clause, it changes the entire table:

* query:
[code]
* variables:
[code]

That query has emptied all `children` arrays across all entities in the table.

[2020-05-23 14:23] joshuarobs opened #4860 "Seed data migrations for config v2?"
Is there a way to do seed data migrations via the command line for config v2? My use case is whenever I want to start a new Hasura server locally or for CI/CD, I want to pull production seed data from somewhere else and seed the database so I can use it locally. Is there a way I can do this? Also I don't want to store any production or test seed data in the repo, I plan on storing it elsewhere suc

[2020-05-23 14:42] joshuarobs commented on #3633
As of 24 May 2020, I still encountered this same error when trying to apply a migration to a new Hasura server that I started locally on Docker, on Hasura server version 1.2.1.

I tried using the answer that @kuryaki suggested, but it didn't work for me. That may work for a Hasura server that already has data in it. But mine was a clean slate. Calling `hasura migrate apply --endpoint http://localh

[2020-05-23 15:13] joshuarobs opened #4861 "New Hasura instance starts with existing data despite stopping and deleting previous Hasura instance in Docker Dashboard"
If I delete the Hasura docker instances running via Docker Dashboard, i.e. stopping and then deleting, if I then run `docker-compose up -d` and `hasura console`, I see that the server (on `localhost:9695`) somehow has data in it. It still has my existing data from the previous state of the server. So the GraphiQL tab still has my query that I wrote, and the Data tab has all the tables, but uncheck

[2020-05-23 15:41] joshuarobs commented on #4861
This is a Docker problem and not a Hasura problem.

I managed to wipe out this memory that was being stubborn to be deleted by running this in Terminal:

`docker volume rm $(docker volume ls -q)`

When I start a new server and go to the console, its a fresh new one without any tables

[2020-05-23 15:41] #4861 closed

[2020-05-23 19:21] zolamk opened #4862 "Hasura Action Allow Setting HTTP Method To Use For Request"
When setting handler for hasura actions i think it would be great if we could also select the http method to use for the request

[2020-05-23 22:34] marionschleifer commented on #4813
This was implemented in https://github.com/hasura/graphql-engine/pull/4743.

[2020-05-23 22:34] #4813 closed

[2020-05-24 06:29] devuxer opened #4863 "Unable to insert into table with identity primary key using Hasura Console"
Possibly related to #3572.

Using v1.2.1 of console and server, if I try to insert a row into a table with an auto-incrementing primary key using Hasura Console > Data > Insert Row, I get this error:

My id column is defined as `integer, primary key, unique`.

There doesn't seem to be a way to leave the id out of the insert, and I'm not able to select the "null" or "default" radio button. Also, if

[2020-05-24 07:57] fungiboletus opened #4864 "The realtime chat demo is broken"
If you try the demo from the readme.md, you can see it's broken : https://realtime-chat.demo.hasura.app/

[2020-05-24 09:18] sotnikov-link commented on #4833
I'm certain that I'm using the correct endpoint because I'm using this endpoint for Postbird and for psql with the same public IP.

I think that the problem may be in the external database settings, but I want to know what settings are needed for Hasura.

[2020-05-24 10:31] Sacquer commented on #4833
My bad, saw up above that you mentioned that you were able to connect through Postbird and psql.

Nothing useful from the log outputs either that I can see that is.

I'm beginning to think that someone else will have to reach out to you :(

Have you tried adding the `HASURA_GRAPHQL_ENABLED_LOG_TYPES` and `HASURA_GRAPHQL_LOG_LEVEL` to see if you get more useful information from your log-output?

[f

[2020-05-24 11:29] tirumaraiselvan commented on #4833
@sotnikov-link Can you try running this with `v1.1.0` and see the logs?

[2020-05-24 11:47] sotnikov-link commented on #4833
@Sacquer I used these HASURA_GRAPHQL_ENABLED_LOG_TYPES and HASURA_GRAPHQL_LOG_LEVEL, but output was the some.

@tirumaraiselvan thanks! I got reason to output:
[code]

[2020-05-24 11:49] #4833 closed

[2020-05-24 11:55] tirumaraiselvan opened #4865 "add note to have pgcrypto in search_path"
Add note to install pgcrypto in schema which is in postgres search_path or [add the schema to the search_path](https://stackoverflow.com/questions/2875610/permanently-set-postgresql-schema-path) here: https://hasura.io/docs/1.0/graphql/manual/deployment/postgres-permissions.html

[2020-05-24 12:23] RodolfoSilva commented on #4190
Should have an example with flutter or native Android, maybe a generic way to do that.

[2020-05-24 14:17] joshuarobs commented on #4484
Did you manage to find out a way to do this? I'm also trying to do this but to no avail

[2020-05-24 15:04] joshuarobs opened #4866 "Anyone manage to make Hasura work with Heroku for DevOps?"
I'm trying to get Hasura to work on Heroku. I'm currently using a pipeline for the server which has a staging and a production server.

I'm trying to find a way so that when I make a push to master on GitHub, it will automatically migrate the staging database to the new recent changes. I have this all set up, where a push to master will automatically trigger the new build in Heroku, but I'm not su

[2020-05-24 22:22] webdeb opened #4868 "Generate a default down.sql for functions OR ignore missing down migrations while squashing"
While squashing the CLI throws an error for missing down.sql migrations:

[code]

Could we ignore this? Maybe just put in a placeholder like:

[code]

OR it might be a good idea to add comments to the squashed migration files by default:

[code]

I think most people who care about this will edit/clean the files anyway before committing/creating a PR

[2020-05-25 00:58] james-ct opened #4869 "Use root JWT claim (sub, aud, etc) with Hasura authorisation"
Hi there,

I was wondering if there's a reason why there isn't support (afaict) for using root claims in JWTs?

My use case in AWS Cognito, and for my relatively simple case, I feel like I should be able to get around needing a pre-token lambda by adding a static custom attribute per user for `X-Hasura-Default-Role` and `X-Hasura-Allowed-Roles`, and using the `sub` key instead of `X-Hasura-User-Id

[2020-05-25 01:09] SumeetMoray opened #4870 "Cannot connect with Host PostgreSQL Database"
i am trying to follow this tutorial https://hasura.io/docs/1.0/graphql/manual/deployment/docker/index.html

on Ubuntu 20.04

I tried this command but it does not work

docker run -d --net=host \
  -e HASURA_GRAPHQL_DATABASE_URL=postgres://username:password@hostname:port/dbname \
  -e HASURA_GRAPHQL_ENABLE_CONSOLE=true \
  hasura/graphql-engine:latest

Can anyone throw some light on how to connect

[2020-05-25 01:13] SumeetMoray opened #4871 "Not able to build server code"
Hello guys ... I am trying to follow your contributor guide
https://github.com/hasura/graphql-engine/blob/master/server/CONTRIBUTING.md
and trying to setup Hasura to run manually on ubuntu 20.04 but i am getting this error. When i am running the command cabal new-build

Can anyone throw some light on what could be wrong in this situation ?

# cabal new-build

Resolving dependencies...
cabal: Could

[2020-05-25 02:17] hgiasac commented on #4871
@SumeetMoray master code was upgraded to GHC 8.10 already. Maybe you are using older GHC version

[2020-05-25 03:09] redinggg opened #4872 "Arguments cannot be read computed"
I have tables ```cases_free``` and ```drops```

I created computed
[code]
When I request, I get not at all what I need
![image](https://user-images.githubusercontent.com/19765066/82774695-41650a80-9e4e-11ea-9e52-2feb571cccc8.png)

[2020-05-25 03:10] tirumaraiselvan commented on #4869
@james-ct This is in the works: https://github.com/hasura/graphql-engine/pull/3575

The spec of configuration is here: https://github.com/hasura/graphql-engine/issues/3485#issuecomment-610943389

[2020-05-25 03:32] james-ct commented on #4869
@tirumaraiselvan, thanks, that looks perfect! A little embarrassed I didn't find this in my search, but it looks really good. Hopefully it will be out soon :)

[2020-05-25 03:32] #4869 closed

[2020-05-25 03:43] martavis commented on #1438
Just to clarify, are we not able to import `schema.graphql` or `schema.json` that's downloaded from the export tool `graphqurl`?

[2020-05-25 04:57] scriptonist commented on #4853
Hey, @nirvdrum thanks for bringing this to notice. I wanted to make sure we are on the same page and tried reproducing the issue, but for some reason didn't succeed.

![hasura-upgrade](https://user-images.githubusercontent.com/8335904/82779370-a120dd00-9e71-11ea-925c-bf1b76bac770.gif)

Can you compare it and let me know if matches your setup? Also, let me know If I didn't understand the issue corr

[2020-05-25 05:36] redinggg commented on #4872
I'm dumb)

I wrote the function incorrectly
should be like that:
[code]

Do not repeat my mistakes)

[2020-05-25 05:36] #4872 closed

[2020-05-25 05:42] SumeetMoray commented on #4871
thanks for suggestion ... my GHC version was lower than 8.10 so i have upgraded GHC to version 8.10 ... but still the problem is not resolved

# ghc -v
Glasgow Haskell Compiler, Version 8.10.1, stage 2 booted by GHC version 8.6.5
*** initializing package database:
Using binary package database: /root/.ghcup/ghc/8.10.1/lib/ghc-8.10.1/package.conf.d/package.cache
package flags []
loading package dat

[2020-05-25 05:43] SumeetMoray commented on #4871
# sudo cabal new-build
Warning: Parsing the index cache failed (01-index.cache: unexpected magic
marker encountered: 891426084510914466). Trying to regenerate the index
cache...
Resolving dependencies...
cabal: Could not resolve dependencies:
[__0] trying: ci-info-0.1.0.0 (user goal)
[__1] next goal: base (dependency of ci-info)
[__1] rejecting: base-4.12.0.0/installed-4.1... (constraint from proj

[2020-05-25 05:46] SumeetMoray commented on #4871
@hgiasac

Getting the similar issue when executing command

# cabal install
cabal: Could not resolve dependencies:
[__0] trying: ci-info-0.1.0.0 (user goal)
[__1] trying: base-4.14.0.0/installed-4.14.0.0 (dependency of ci-info)
[__2] next goal: graphql-engine (user goal)
[__2] rejecting: graphql-engine-1.0.0 (conflict:
base==4.14.0.0/installed-4.14.0.0, graphql-engine => base==4.12.*)
[__2] fail (

[2020-05-25 06:18] hgiasac commented on #4871
Can you try move/rename `cabal.project.freeze` to something else and then build it

[2020-05-25 06:19] praveenweb commented on #1695
We have added an offline first app here https://github.com/hasura/rxdb-hasura-demo

This uses RxDB.

[2020-05-25 06:29] tirumaraiselvan commented on #4859
This might be the reason: https://github.com/hasura/graphql-engine/issues/704

[2020-05-25 09:55] marionschleifer opened #4874 "docs: add click-to-copy button for examples"
It would be nice to have a click-to-copy button for code examples, especially for the SQL code blocks.

[2020-05-25 10:18] joshuarobs commented on #4651
Anyone manage to make migrations work with Heroku?

I have my server set to HASURA_GRAPHQL_CLI_ENVIRONMENT=default and it copied the migrations and metadata folder properly but when I go to the server, that was freshly made, there are no tables imported from the migration.

[2020-05-25 10:45] arash16 opened #4875 "Computed properties on Custom Actions"
I guess this is a feature request:
I have a custom action that returns user's location based on his IP-address. I would like to query posts nearest to that location. I can write a SQL function for that matter (finding posts nearest to a specific location), but right now I have to make two separate GraphQL calls.

Is it possible to some-how glue such SQL functions to the result of Custom Actions? L

[2020-05-25 11:14] joshuarobs commented on #4866
I managed to make this work with the help of sanders from Discord

https://github.com/joshuarobs/obscure-hamlet-63320

[2020-05-25 11:14] #4866 closed

[2020-05-25 11:25] joshuarobs commented on #4860
Solved my own issue here: https://github.com/hasura/graphql-engine/issues/4866

I've yet to pull production data to staging, but I've managed to make migrations work for the staging server

[2020-05-25 11:25] #4860 closed

[2020-05-25 12:31] tirumaraiselvan commented on #3378
@CTOJoe We now have #384 implemented as well and available in `v1.2.1` onwards.

[2020-05-25 12:46] tirumaraiselvan commented on #3897
@scriptonist Is there any update on this issue?

@mklueh Any chance you have more info about the cli version? Or a sample repro?

[2020-05-25 13:43] marekdano commented on #4314
@beerose please free to assign `Routes.js` to me

[2020-05-25 14:32] coco98 opened #4878 "Improve permissions UX on the console to warn user of always true or dangling `{}` conditions"
If you're playing around with permissions, you might create a `_and` condition and then forget to fill in a value. This would create a `true` expression which might become a problem.

For example:
`expression1 OR expression2 OR (AND {})` which becomes `expression1 OR expression2 OR true` which becomes `true`.

In other conditions also, where we can see that the condition is always true, we might a

[2020-05-25 14:42] coco98 commented on #4796
Let's assume the above types and say you have a top level field called get_config: `CloudConfig!` . Now, a query such as this comes in:

[code]
graphql-engine calls the HTTP handler, what should it respond with (note that you are not requesting jwt_secret)? It can respond with all of the CloudConfig data including the JWT secret even though that field is not requested, graphql-engine will then onl

[2020-05-25 15:16] pankgeorg commented on #3238
Is there a timeline for that?

[2020-05-25 15:58] jflambert commented on #4077
Upgrading to 1.2.1 didn't change much. Hasura is still very memory-hungry for simple queries. I thought most of the RAM required for converting rows to JSON would be consumed by Postgres, not Hasura.

[2020-05-25 16:10] tirumaraiselvan commented on #4077
@jflambert Can you try running this image: hasura/graphql-engine:pull4778-676ea20b and tell us your observations?

[2020-05-25 17:39] franciscolourenco opened #4879 "migrate apply failed: failed parsing json: json: cannot unmarshal array into Go struct field HasuraError.internal of type hasuradb.SQLInternalError;"
This issue is not about the failed migration, but about the error parsing json when the migration fails.

[code]

[2020-05-25 18:14] meseven opened #4880 "PostGIS nearby places sort by distance"
Hello there,
I am using Hasura with PostGIS.
I am following the article. However, I could not sort the nearby places by distance. Can you help?

https://hasura.io/blog/graphql-and-geo-location-on-postgres-using-hasura-562e7bd47a2f/

[2020-05-25 18:57] jflambert commented on #4077
@tirumaraiselvan this is the 1.2.2 RC if I understand correctly? No real difference. We're seeing Hasura shoot up to 4GB of RAM for single queries pulling in about 1 million rows of simple telemetry data (timestamp, JSON payload). Is this normal?

Have you measured this kind of "vertical" scaling? Our normal use case is very few concurrent queries, large results. Is Hasura wrong for this applicati

[2020-05-25 23:45] hartono88 commented on #4314
Let Me try this script and see if this working or not  [Joker123 Slot](https://joker123gaming.co). You can play this game where ever you are, and so simple to play.

[2020-05-26 00:29] kiwil92 commented on #4314
www.joker388.net my name is Steven Kiwil , and i’m web designer

[2020-05-26 00:29] kiwil92 commented on #4314
www.joker388.net my name is Steven Kiwil , and i’m web designer

[2020-05-26 00:30] kiwil92 commented on #4314
www.joker3999.net my name is Steven Kiwil , and i’m web designer

[2020-05-26 00:33] stevensule commented on #4314
www.joker3999.net my name is Steven Sule, and i’m web designer

[2020-05-26 02:07] njaremko opened #4881 "[BUG] Hasura is attempting to insert null foreign key when inserting row through association"
I'm trying to insert multiple records in a single mutation through association. For one of the records, Hasura is failing to insert the foreign key, so I'm getting a not-null violation error.

The relations are all setup in Hasura. Only thing that pops out to me is that Hasura "suggests" that the association that's failing should be an array relation instead of an object relation (it's a one-to-on

[2020-05-26 03:28] nirvdrum commented on #4853
Thanks for investigating. You've understood the issue correctly and it's interesting that your results don't match my own. Here's what I'm seeing:

[code]

For good measure, I left in the code showing I had to clean up after the failed upgrade attempt (the "migrations_backup" directory is created) before I could run the upgrade in the proper directory.

[2020-05-26 03:39] scriptonist commented on #4853
@nirvdrum Thanks! totally makes sense. Actually it was a bug and a fix is on its way.

[2020-05-26 03:58] tianguohui commented on #4835
yes，V1.0.0, V1.2.1, v1.1.1 all have this situation. Is it the problem of CentOS server? I use CentOS 7.6, a new server

[2020-05-26 04:11] Ckbhatia commented on #4874
It might need a script to implement this feature

[2020-05-26 04:23] tibotiber opened #4883 "Squash migration error when create and update an event trigger"
Hi,

Just a heads up on a squashed migration error. I've fixed the file manually but thought it would be worth reporting.

Repro:
1. create an event trigger resulting in migration below
[code]

2. update that migration (because you forgot to tick "delete" 😬) resulting in migration below
[code]

3. squash migrate resulting in migration below
[code]

and it's not gonna work because of `replace: true

[2020-05-26 05:20] scriptonist commented on #3897
Yes @tirumaraiselvan a bunch of bugs were reported on the squashing end of things we will be addressing them ASAP

[2020-05-26 07:24] scriptonist commented on #4879
Hey @franciscolourenco, can you provide a bit more info on how to reproduce this ?

[2020-05-26 07:27] marionschleifer commented on #4847
We should also update the docs to use always use `accessToken` since this was recommended by Auth0.

[2020-05-26 07:32] #4853 closed

[2020-05-26 08:11] Jay-Mithani opened #4884 "Async action log TTL."
Hi, I was wondering if there is a TTL on the async action logs stored in `hdb_catalog.hdb_action_log`? I feel that persisting these payloads forever may cause some concerns.

[2020-05-26 08:18] 0x777 commented on #4077
Correct.

What is the response size of this query? How many concurrent requests do you see? Currently, graphql-engine fetches the entire result set from Postgres into memory before sending it to the http client (HTTP is not best suited for streaming results to the client directly).

High RAM consumption of graphql-engine when there are no requests would suggest a bug in graphql-engine but Postgres

[2020-05-26 08:22] peerhenry commented on #3633
I have the same issue as @amitava82 and I only have 1 migration called "init".

@marionschleifer  Why did you close this issue? Can you please reopen because I don't see any solution here yet.

[2020-05-26 10:45] RapidOwl opened #4887 "Initialising migrations does not mark the generated migration as present in the database"
I followed the quick start docs and set up Hasura on Heroku. I added my tables via the console, but now I'm in a position where I want to set up local Hasura, staging, prod etc.

I Initialised migrations and exported migrations and metadata from my Heroku instance. I then applied the generated migration and metadata to Hasura running in Docker.

My local instance then worked identically to my Hero

[2020-05-26 13:53] franciscolourenco commented on #4879
@scriptonist I assume that if you try to apply a migration which fails due to a computed field being based on a pgsql function which has not been defined yet, you might be able to reproduce.

1. Create and track table
2. Create function, **without** creating migration
3. Create computed field based on function
4. Apply migrations to a new hasura

[2020-05-26 14:01] RapidOwl opened #4889 "Applying metadata via the CLI fails in a GitHub action"
I'm using a GitHub action to apply Hasura migrations and metadata to a Hasura instance hosted on Heroku.

Migrations work fine, but applying metadata results in the following error: `msg="failed to apply metadata: cannot apply metadata on the database: cannot build actions from metadata: error in converting sdl to metadata: fork/exec /github/home/.hasura/plugins/bin/hasura-cli_ext: no such file or

[2020-05-26 14:09] jflambert commented on #4077
@0x777 I'm going to try my best to setup a self-contained environment you can also use to replicate the memory consumption. Before I do that, let me make sure I calculate the RAM correctly. I use the RES column in htop. Do you have another preference?

[2020-05-26 15:47] tirumaraiselvan opened #4890 "authorization while adding remote schema should be decoupled from runtime"
Suppose you have an external graphql service which has authentication. Most likely it has a bearer token based authentication which is given in the `Authorization` header.

If we want to add this service as a remote schema, we need to configure a `Authorization` header. But this means that the client when making queries will not be able to use their own `Authorization` header as it will be over-ri

[2020-05-26 15:54] coco98 commented on #4890
My feeling is that providing the graphql introspection result of the graphql server as an optional parameter while adding a remote schema. My fear is that this would make the headers and authz system more complicated to reason about.

[2020-05-26 16:00] erichiller commented on #4747
@leoalves - thanks, looks like I missed that. I'll close this.

[2020-05-26 16:00] #4747 closed

[2020-05-26 16:35] jberryman commented on #4077
@jflambert That would be tremendously helpful, thanks!

 htop's `RES` field is fine. You might also run with the command line arguments `+RTS -h -s -RTS`. `-h` will generate a heap profile with the name `graphql-engine.hp`. This might become very large if the server runs for longer than a few minutes, so you might omit that

[2020-05-26 17:03] costas90 opened #4891 "Geometric Types Question (PostGIS)"
When selecting the `box` type for a column (or any other geometric type), is this useable with PostGIS?

Are these considered to be of `geometry` type?

From the docs and reading online, it seems that you can choose between `geometry` or `geography` for such geo columns but these options are not available in the column types dropdown in the console.
https://hasura.io/docs/1.0/graphql/manual/api-re

[2020-05-26 20:21] tiagob commented on #1291
This seems like potentially a cleaner approach to actions. My use cases are typically I want to do a mutation and have additional validation or generate a field.

With a pre event-trigger, hasura would post to an endpoint and return the modified data which hasura would then insert into postgres or forward whatever error.

I suppose actions provide a superset of this functionality but I have to man

[2020-05-26 20:45] waterdrop01 commented on #1711
`timescale/timescaledb:1.7.1-pg12` and `asura/graphql-engine:v1.2.1` are still not working correctly together :(
[code]

[2020-05-26 21:20] lucasdevargassouza opened #4892 "Anonimous role is not working"
After an engine security update, the anonimous rule no longer worked. Before the update everything was working!

In this case the action "authenticate" should appear in the explorer
![Captura de tela de 2020-05-26 18-03-13](https://user-images.githubusercontent.com/39599869/82950591-edf0da80-9f7b-11ea-8cb0-a216cf2f1543.png)

![Captura de tela de 2020-05-26 18-10-46](https://user-images.githubuserc

[2020-05-26 23:19] femanso opened #4893 "Analyze console button adds extra space to the Generated SQL when using jsonb"
When I click analyze to this query:
[code]
The Generated SQL, for the _contains part, shows:
```("public"."comments"."computed") @ > (('{"users":{"count":2}}') :: jsonb)```

The query works fine, but if I copy and paste this into SQL area and run, I get an error, because of the extra space after the "@"

[2020-05-27 00:38] leoalves commented on #4892
The `HASURA_GRAPHQL_UNAUTHORIZED_ROLE` value should be the name of the role you want to give access.  In your case `anonymous` and not `true`.
https://hasura.io/docs/1.0/graphql/manual/deployment/graphql-engine-flags/reference.html#command-flags

It was working because of a bug that was fixed with the security fix your said.

[2020-05-27 01:09] leoalves commented on #4881
Hasura has a limitation in one to one relationships.  Try inverting the tables. https://hasura.io/docs/1.0/graphql/manual/schema/relationships/database-modelling/one-to-one.html#current-limitations-with-nested-mutations

[2020-05-27 02:08] tibotiber commented on #4889
Seems related to https://github.com/hasura/graphql-engine/issues/4105

[2020-05-27 05:17] shahidhk opened #4894 "server: add missing flags for env vars"
There are a few env vars which does not have corresponding flags are read out of the typical config reading path:

[code]

Also, `LOG_HEADERS_FROM_ENV` should be prefixed with `HASURA_GRAPHQL_`

[2020-05-27 07:06] ocomsoft commented on #4740
I had a similar issue and found it was the schema was owned by a different role because I changed it from using the postgres role to a database-specific role. HTH

[2020-05-27 07:18] RapidOwl commented on #4889
Will investigate! Thanks!

[2020-05-27 07:33] tirumaraiselvan commented on #4740
There is also an issue with printing error logs on startup failure in `v1.2.1`. That has been fixed in master: https://github.com/hasura/graphql-engine/issues/4772

You may start with `v1.1.1` if possible, and see the error.

[2020-05-27 07:37] papacarp opened #4895 "docs: improve jwt docs on passed headers"
I have a Cognito authentication with JWT.   1.2.0 will properly parse the token and use the 'samplersadmin' role.  1.2.1 will not and will set the role to 'x-hasura-default-role'

Example JWT
[code]

## Docker entry and logs for 1.2.0 - OK:
[code]

v1.2.0 Hasura log file entry: *"user_vars":{"x-hasura-role":"samplersadmin"*
[code]

## Docker entry and logs for 1.2.1 - FAIL:
[code]

v1.2.1 Hasura l

[2020-05-27 07:50] RapidOwl commented on #4105
I used @hgiasac suggestion above (frolvlad/alpine-glibc + installing libstdc++) and this solved the same CLI issue on GitHub Actions.

[2020-05-27 07:52] RapidOwl commented on #4889
@tibotiber I forked your action, switched it to use `frolvlad/alpine-glibc` and installed libstdc++ and this solved my issue. I'll submit a PR. Thanks!

[2020-05-27 07:52] #4889 closed

[2020-05-27 07:54] RapidOwl commented on #4889
For anyone else finding this while searching for support running Hasura on GitHub Actions, this comes down to the libraries that the Hasura CLI needs. The `alpine:latest` doesn't have the libraries needed. Doing above means the CLI has everything it needs.

[2020-05-27 07:57] waterdrop01 opened #4896 "'12h', '1M'... are not valid GraphQL enum value names"
Hi, I tried to set a table as enum table, but I receive the following error:
[code]
and here is my table SQL description:
[code]
I looked at http://spec.graphql.org/June2018/#EnumValue, but doesn't seem like "12h" as a text isn't a valid enum value....

Any idea?
Thanks for your help!

[2020-05-27 08:57] tibotiber commented on #4889
Great news, thanks @RapidOwl

[2020-05-27 09:23] lucasdevargassouza commented on #4892
Thanks for help, that was  👍

[2020-05-27 09:23] #4892 closed

[2020-05-27 10:01] tirumaraiselvan commented on #4817
The RHS of any operator, in this case `_contains`, can either by an `X-hasura-*` variable or a valid literal.

We have noted this feature request though. Thanks !

[2020-05-27 10:03] rikinsk commented on #4802
This was fixed in #4682

[2020-05-27 10:03] #4802 closed

[2020-05-27 10:33] jhaensli opened #4897 "Cannot apply metadata on the database: Post http://localhost:9691/v1/query: EOF"
We are using v1.0.0-rc.1.cli-migrations docker image deployed in Kubernetes.
We mount ./metadata.json to /hasura-migrations/
(config-v1)

To enjoy the latest improvements and fixes we would like to upgrade to v1.2.1.cli-migrations.
Thus we changed the image tag to v1.2.1.cli-migrations as defined in [Updating Hasura GraphQL engine running with Docker](https://hasura.io/docs/1.0/graphql/manual/depl

[2020-05-27 11:01] carlosoliveiradev commented on #1368
Leave a comment

[2020-05-27 13:37] SumeetMoray commented on #4837
Hey i have send you guys so many message asking for PAID support ... but you did not respond to even one of them !

[2020-05-27 14:01] rikinsk opened #4899 "Optimise count queries on console"
To ensure we dont overwhelm the database while by making count queries on very large tables, the following logic should be used to make any row count queries on console.

**Example**: Let's say we are on the data browser checking the rows of:
 `author` table with the filters `id _lt 1000` and `id _gt 500`

- **Step 1: Get estimated count**
  - Step 1.1: Create a select query with the appropriate f

[2020-05-27 14:19] fungiboletus opened #4900 "Support for actions as computed fields"
Could Hasura do an action, a HTTP call to another API, in a computed field ?

In my use case, most of my data is sleeping in a postgresql database but some fields needs to be retrieved by accessing other services.

For example, I have a table `devices`

[code]

As a very simple example I would use an `online` boolean saything whether the device is online or not. My real use case also involves retr

[2020-05-27 14:26] dostalradim commented on #3729
Last week we switch our developing to Kubernetes word with Helm charts. And we bumb to this issue again. This is fundamental workflow is not it? I have to missing something. Because I have to do this steps to start my application from scratch and it is more like workarround.

in initContainer: `rm hasura/metadata/remote_schemas.yaml` with this content:

[code]

deploy standard container with my ap

[2020-05-27 15:22] lukepolo opened #4901 "Computed Field with `session_argument` requires args to be defined"
I am unable to setup computed field with `session_argument` as it requires me to pass it in via arguments.

Here is a pretty basic implementation of just trying to get it to work properly.

### Query
[code]

**Result**
[code]

### Passing Hasura Session In

[code]

**Result**
[code]

## Setup
For a simple test of getting a computed field to make sure the `hasura_session` would be returned I create

[2020-05-27 15:24] MaxmaxmaximusGitHub opened #4902 "How to allow the user to send messages to the chat no more than once every 5 seconds using hasura graphql?"
How to allow the user to send messages to the chat no more than once every 5 seconds using hasura graphql?

[2020-05-27 15:42] m4rcelofs commented on #4817
Hi @tirumaraiselvan , I'm afraid I didn't quite understand your point, could you please clarify? What's RHS in this case?

[2020-05-27 16:34] kolharsam commented on #4818
@beerose I guess the error boundary is ready, I've tested it & seems to be working as expected.
For the styling, however, I've followed the style present on the `RuntimeError` component

<img width="1439" alt="Screenshot 2020-05-27 at 9 47 49 PM" src="https://user-images.githubusercontent.com/6604943/83047347-df7eed80-a065-11ea-8908-b16287a0d06f.png">

[2020-05-27 16:48] tirumaraiselvan commented on #4817
@m4rcelofs RHS is the value that you provide for the operator, in your case: `{"user": "x-hasura-user-id"}`. This is neither a `x-hasura-*` variable nor a pure json literal.

[2020-05-27 18:58] c-spencer commented on #519
Want to echo a desire for this, as it's a bit awkward to be returning arrays that are known to only return 0-1 records. I think just allowing custom functions to be manually flagged as 'singular' in the metadata would be ideal. For a concrete use case, this is the kind of function I'm using currently:

[code]

Where the index is on `lower(username)`.

[2020-05-27 19:27] beerose opened #4903 "console: history of SQL queries"
Implement a history of executed queries in the Raw SQL page in a similar way as it is in the GraphiQL section (with a `clear all` button). Queries would be persisted in local storage.

[2020-05-27 19:34] leoalves commented on #4896
As per GraphQL spec ENUM types have to be `Name but not true or false or null`. And the Name type can't start with a number.
http://spec.graphql.org/June2018/#Name

[2020-05-27 19:44] GavinRay97 opened #4904 "Auto-generate Metadata types from Haskell codebase"
We should evaluate how and if it is possible to auto-generate JSON Schema/Typescript types automatically from the existing types in the server codebase.

**Potential Problems:**

- If the Haskell type names do not match up to the JSON/YAML typenames, then we must write serializers for each type in every language.
- If this is the case, we need to investigate doing that translation before the finis

[2020-05-27 19:50] lexi-lambda commented on #4904
This isn’t trivial because not all of the serialization rules are determined by the Haskell type definitions alone. Some types have hand-written serialization/parsing code, so there’s no way to automatically get a schema out of those—they’re arbitrary code!

(Indeed, the ongoing GraphQL schema refactor is tricky largely because we’re trying to get it both ways: we want to be able to get a GraphQL

[2020-05-27 19:56] beerose opened #4905 "console: edit views and functions on modify pages"
Decouple modifying functions and views from the Raw SQL page and inline it on modify pages.

As we allow users to do some unexpected things like dropping a view/function while modifying it (and the current page would become 404), we have to ensure that user is only modifying the current view or function. Possible solution: make the `create or replace view as` part of the statement fixed. Most like

[2020-05-27 20:11] njaremko commented on #4881
Thanks, I missed that in the documentation. Any idea why Hasura thinks it's an array relationship instead of object?

[2020-05-27 20:19] GavinRay97 commented on #4904
Notes from above conversation above carried on:

- The internal Haskell types do not match the JSON types
- Some types have a `deriveJSON` which auto-generates the JSON types
- Many types implement a custom `instance ToJSON` for JSON representation

[2020-05-27 22:16] GavinRay97 opened #4906 "All placeholders should be surrounded by <> in the docs"
https://hasura.io/docs/1.0/graphql/manual/deployment/heroku/index.html#step-3-git-push-to-deploy

For example;
In the bash command example, `HEROKU_GIT_REMOTE` looks like an environment variable, so we should make it `<HEROKU_GIT_REMOTE>`:

![image](https://user-images.githubusercontent.com/26604994/83077801-31178000-a046-11ea-99d6-ae5074d6fbd0.png)

[2020-05-27 23:58] XVincentX commented on #4713
I am also having the same doubts @IljaDaderko has — and I have no clue how to move forward about this. Did you figure it out?

[2020-05-28 01:32] blinkn opened #4907 "console: Cannot read property 'foldable' of undefined"
Hi, I got the following error:

Error Screenshot
https://imgur.com/3thgMw7

[code]

Have no idea why it happened, I'll try to explain what i did to get this:
Everything was done in Hasura Console:

1. Deleted all references and data from a particular table.
2. Deleted the table.
3. Recreated table with same name, different column names.
4. Added foreign columns reference before confirming.
5. Conf

[2020-05-28 01:33] blinkn commented on #4907
I just created the same table again, same references and columns, no problems. So, I have no idea what happened, lucky me it was on development stage of the project.

[2020-05-28 02:07] scriptonist opened #4908 "cli: support squashing migrations containing remote joins (config V1)"
Add support to squash migrations that'll Remote joins in the metadata.

[2020-05-28 08:20] scriptonist commented on #4887
@RapidOwl you can mark the init migrations as applied using the following command

`hasura migrate apply --version "<init-version>" --skip-execution`

[2020-05-28 08:25] loiclegoff commented on #4651
Hello @scriptonist .
I think I have the same error on windows when I set up this project : https://github.com/hasura/hasura-actions-examples/tree/master/auth

Is it normal?
Is your image up to date? `hasura/graphql-engine:v1.2`

[2020-05-28 09:17] tirumaraiselvan commented on #4901
Session arguments in computed fields is merged to master but not yet released unfortunately: https://github.com/hasura/graphql-engine/commit/ee7c7b16729c0eef01c2957e5532b4bfd3ee5e4f

The docs are little bit ahead as they were part of the same commit. Sorry for the confusion.

It will be out it in `v1.3`, beta coming up in few days.

[2020-05-28 09:19] tirumaraiselvan commented on #4902
Hi, have you tried asking in our Discord community channel : https://discord.com/invite/hasura

[2020-05-28 09:48] poul-kg commented on #122
Are there any documentation why we need this file and how it's used? I know I can create one using `hasura metadata export`. The reason why I'm asking this questions is because I have a conflict between `metadata.yaml` file and my migration files. I need to understand how it works.

[2020-05-28 10:13] antoinemaz commented on #4907
i have this problem too.

Steps :

- Create a view in a schema
- Track this views, and add permissions
- Delete this view in SQL
- Reload metadatas and drop all inconsistents objects
- Create a new view (with the same name) for adding three new columns
- Track this new view
- And this error page appears : "TypeError: Cannot read property 'foldable' of undefined"

[2020-05-28 10:39] rikinsk opened #4911 "add docs for remote joins"

[2020-05-28 10:39] rikinsk opened #4912 "add docs for relay endpoint"

[2020-05-28 10:40] rikinsk opened #4913 "add docs for scheduled triggers"
- cron triggers
- scheduled events

[2020-05-28 11:33] jflambert commented on #4077
@0x777 and @jberryman I've put together a bundle that should illustrate our "problem"

I say "problem" because in fact we're not sure if this is expected behavior from Hasura or not.

Please try for yourself and compare against my findings.

https://github.com/jflambert/hasura-memory-consumption

[2020-05-28 11:42] madsnedergaard opened #4914 "Fix dead link to example in authentication/webhook page"
After #4885 the link on in docs on this page to "View source" is no longer working.

Page affected: https://hasura.io/docs/1.0/graphql/manual/auth/authentication/webhook.html#auth-webhook-samples

[2020-05-28 12:34] antoinemaz commented on #4907
Found !

i have created my view with postgres, whereas i use this view with another SQL user !

so it was a permission issue

so add grand usage on the schema

[code]

[2020-05-28 12:51] Manubi opened #4916 "Feature request: Define and save seed data via console"
Hey,
first of all thanks for the great work everyone! 👏

Problem:
I am working for a startup where we have to deal with a lot of seed data that updates pretty often as people make mistakes or something else changes. The thing is, every time someone updates something in the hasura console I need to update the migrations as well, in order to not loose the changes when we redeploy the next time.

Sol

[2020-05-28 12:54] beerose commented on #4907
Thanks @blinkn and @antoinemaz for reporting and providing reproduction steps.

@antoinemaz thanks for the update. We'll take care of handling this case so it doesn't trigger a runtime error.

[2020-05-28 12:57] #4914 closed

[2020-05-28 14:38] sanderhahn opened #4917 "Feature request: apply PostgreSQL function on mutation/query"
Sometimes you want to store and retrieve sensitive data such as passwords using pgcrypt that is already installed by default. People find this difficult to do using triggers, maybe Hasura could allow configuring a function or snipped to be performed on the data on mutations and queries in the metadata. For instance:

[code]

The snippets would be:

[code]

Snippets are flexible, but another simple

[2020-05-28 15:13] RapidOwl commented on #4887
@scriptonist Ah okay thanks!

[2020-05-28 15:24] #4887 closed

[2020-05-28 18:27] tanvibhakta commented on #4849
Hello folks! I'd love to pick this one up. Have been talking to @shahidhk and will hopefully get a PR in soon!

[2020-05-28 20:07] lexi-lambda commented on #704
I propose that we fix this as part of #4111. This would be a breaking change, though as has already been discussed, it seems just as likely that any situations where it comes up are bugs, not intended uses. I believe the potential for harm is significant enough that we should make the change, but if we receive reports of breakage during beta, we could add a temporary flag to re-enable the old beha

[2020-05-28 21:06] samuelcastro opened #4921 "Remote Schemas refresh issue"
I'm facing an weird issue with remote schemas, I have a remote schema in a headless CMS (GraphCMS) and usually the schema changes quite often, the problem that I'm facing is that once I changed the schema on GraphCMS those changes are not reflected on Hasura, they old schemas are still preserved somehow, it looks like some sort of cache or something.

Thoughts?

Thanks.

[2020-05-28 21:21] samuelcastro commented on #4921
I just found a `reload` button in the remote schemas pages and now it's working, but that changes how I initially thought remote schemas worked, isn't it somehow live "connected" with the remote endpoint? If we need to constantly "reload" remote schemas, how can we automate this process?

Thanks!

[2020-05-28 22:48] GeKorm commented on #4921
Although I don't know the reasoning behind caching the schema (I imagine performance and reliability) I think this section in the documentation has some answers https://hasura.io/docs/1.0/graphql/manual/remote-schemas/index.html#schema-refreshing

[2020-05-29 04:11] IS-Josh opened #4925 "Hasura Console Get Schema Query Does not Run on Yugabyte when a schema has many tables"
Please implement / investigate query optimisation below to support Yugabyte. Currently Hasura is un-usable against large schemas.

**I've been attempting to use Hasura with Yugabyte, I was success-full if my schema only had a couple of tables, however I was getting the error db schema loading failed.  When I looked into the hasura logs and monitored the session monitor in dbeaver, i noticed the be

[2020-05-29 05:16] pradyuman opened #4926 "Hasura console fails to launch when using --insecure-skip-tls-verify"
I get the error "Invalid admin-secret passed from CLI" when trying to use the console UI with the `--insecure-skip-tls-verify` flag.

The other cli commands run just fine (e.g. migrate apply) but I cannot access the console UI.

[2020-05-29 06:59] rhlsthrm opened #4929 "Apply metadata with ACTION_BASE_ENDPOINT"
I have been creating actions in the console on my local Hasura setup using the [templating strategy](https://hasura.io/docs/1.0/graphql/manual/actions/create.html#id2) described in the docs. This has been working great locally. However, when I try to apply generated metadata to my prod environment. I'm getting the following error:

[code]

I have added ACTION_BASE_ENDPOINT as an env var in my Hasu

[2020-05-29 07:24] scriptonist commented on #3897
@mklueh I was not able to reproduce this 🤔, It'll be helpful if you can give it a try, with the latest version of CLI and see if the issue persists.

[2020-05-29 07:59] murray-minito opened #4931 "Web interface SQL query throwing error, not closing/killing sql on DB"
When I write a query that is running for a long time the web interface comes back with what looks to be a timeout error.

This is fine, the issue is that the query is still running on the database.

 I would expect that if the frontend errors then it should close the connection and kill the running query

Hasura. v1.2.1 running on AWS ECS with a RDS database

[2020-05-29 08:41] #4798 closed

[2020-05-29 09:10] #3667 closed

[2020-05-29 10:07] tirumaraiselvan commented on #4770
If "Forward client headers" is selected in your action metadata, then `X-Forward-Host` and `X-Forwarded-User-Agent` headers are added to the request to your webhook.

[2020-05-29 10:09] tirumaraiselvan commented on #4770
Changing the title for ip address.

[2020-05-29 10:11] tirumaraiselvan commented on #4781
can you try with caddy v2 as described here: https://github.com/hasura/graphql-engine/pull/4823/files

[2020-05-29 10:12] mklueh commented on #3897
Hi @scriptonist ,

I´m not sure if I can reproduce it either, I can try to restore the version from the time of this post and retry it with the current Hasura version this evening, but I cannot promise anything. Maybe it´s already solved

[2020-05-29 10:18] tirumaraiselvan commented on #4807
Hasura generates role-based schemas: https://hasura.io/docs/1.0/graphql/manual/auth/authorization/roles-variables.html#roles

Hence, if your role does not have permission to update a column, then that field is not part of the role-based schema and it will throw a validation error.

The way to workaround this might be to do some client side transformation of your original operation so that it is va

[2020-05-29 10:20] tirumaraiselvan commented on #4808
Closing this in favour of #3322

[2020-05-29 10:20] #4808 closed

[2020-05-29 10:23] tirumaraiselvan commented on #4835
It seems like the client is closing the connections: https://stackoverflow.com/questions/1434451/what-does-connection-reset-by-peer-mean

Can you try to share a repro with a minimal client?

[2020-05-29 10:23] tirumaraiselvan commented on #4840
Closing this in favour of #1599

[2020-05-29 10:23] #4840 closed

[2020-05-29 10:32] tirumaraiselvan commented on #4870
If your Postgres is on localhost, then `hostname` in your connection string should point to the docker bridge, typically `172.17.0.1` (might differ based on OS) : https://stackoverflow.com/questions/24319662/from-inside-of-a-docker-container-how-do-i-connect-to-the-localhost-of-the-mach

[2020-05-29 10:37] tirumaraiselvan commented on #4862
For query actions, GET should probably be an option but that will change a lot of webhook spec.

[2020-05-29 10:44] tirumaraiselvan commented on #4891
Hi @costas90 Could you try asking this in [our Discord](https://discordapp.com/invite/hasura) or Stackoverflow as there might be more POSTGIS users there?

[2020-05-29 10:46] tirumaraiselvan commented on #4880
Hi @meseven  Could you try asking this in [our Discord](https://discordapp.com/invite/hasura) or Stackoverflow as there might be more POSTGIS users there?

[2020-05-29 11:06] tirumaraiselvan commented on #4881
@njaremko Could you explain how you are inferring this?

[2020-05-29 11:11] tirumaraiselvan commented on #4812
It seems like you are creating object relationship both ways like a one-to-one relationship? In which case, there is a limitation that you can only insert nested objects from one direction: https://hasura.io/docs/1.0/graphql/manual/schema/relationships/database-modelling/one-to-one.html#current-limitations-with-nested-mutations

[2020-05-29 11:24] rikinsk commented on #4863
@devuxer Can you confirm is your primary key is indeed auto-incrementing? If so, you should be able to see a default value such as `nextval('author_id_seq'::regclass)` for it as shown here:
![Screenshot from 2020-05-29 16-50-58](https://user-images.githubusercontent.com/54616969/83254589-aad97600-a1cc-11ea-9d69-101bd4097822.png).

In case the id is a generated column then this is a known issue as

[2020-05-29 11:47] andoks commented on #1211
I also had a similar problem when following the [basic migrations tutorial](https://hasura.io/docs/1.0/graphql/manual/migrations/basics.html#migrations-basics).

My initial (first) migration created from the [initializing migrations](https://hasura.io/docs/1.0/graphql/manual/migrations/basics.html#initializing-migrations) step was registered as "Not Present" in the database. I "fixed" it by runnin

[2020-05-29 12:12] codingkarthik commented on #4884
@Jay-Mithani Currently, there's no TTL on the async action logs stored in the `hdb_catalog.hdb_action_log`.

A work-around to this issue can be to delete from the `hdb_catalog.hdb_action_log` table directly using an SQL query. But, this may have some side effects because if you have subscribed to an async action and you delete the underlying action log, any running subscription or subsequent query

[2020-05-29 12:26] codingkarthik opened #4935 "docs: document action logs cleanup"
Document the process of cleaning up action logs like there exists for [cleaning up event triggers logs](https://hasura.io/docs/1.0/graphql/manual/event-triggers/clean-up.html).

The documentation should also include the possible side-effects of cleaning up an action log. For example, clearing an action log which has an active subscription running on it.

[2020-05-29 12:38] #4694 closed

[2020-05-29 13:05] marionschleifer opened #4936 "Hasura Con’20: Free virtual GraphQL conference | June 18-25"
**New conference dates: June 18-25**

![image](https://user-images.githubusercontent.com/5722022/84052011-44b0d800-a9b0-11ea-8855-3f3dd0d6b20f.png)

We’re super excited to invite you to our first ever, free and virtual [Hasura User Conference](https://hasura.io/events/hasura-con-2020/) on **Pushing the Boundaries of GraphQL Forward**.

We’re looking forward to hosting thousands of GraphQL practiti

[2020-05-29 13:14] codingkarthik commented on #4633
It seems that this issue is caused due to a bug in postgres while inserting mutliple rows having a default generated column. The postgres bug is tracked [here](https://www.postgresql.org/message-id/3a66b26f-0154-3216-1ed5-a63bf63ec61a%402ndquadrant.com)

[2020-05-29 13:20] stlalpha opened #4937 "docker-compose.yml manifest points to non-existent image?"
stlalpha@reverse:~/PROTOTYPING/hasura$ docker-compose up -d
Pulling graphql-engine (hasura/graphql-engine:v1.2.2)...
ERROR: manifest for hasura/graphql-engine:v1.2.2 not found: manifest unknown: manifest unknown

[2020-05-29 14:22] njaremko commented on #4881
It has the same relationship as other inferred object relations in Hasura. Every request has one company info with a foreign key on the company info table pointing to the validation request table.

[2020-05-29 14:25] tirumaraiselvan commented on #4881
@njaremko Do you have unique keys on all the foreign keys?

[2020-05-29 15:09] shahidhk commented on #4937
We were trying to push 1.2.2 but it didn't go through through the CI due to some resource restrictions. I have reverted the change from stable branch. Please use 1.2.1 till we make an official release.

[2020-05-29 15:09] #4937 closed

[2020-05-29 15:29] codingkarthik commented on #4506
@Xetera This issue is a dupe of #4633

Basically, this issue is caused due to a bug in postgres. More details in my comment [here](https://github.com/hasura/graphql-engine/issues/4633#issuecomment-635965916)

Speaking specifically to the issue's title, yes, hasura sets the `default` value to all the columns of the table that have not been provided in the insert mutation query.

[2020-05-29 15:29] #4506 closed

[2020-05-29 16:32] samuelcastro commented on #4921
Ok thanks @GeKorm this is what I needed to know, more specifically, how to programatically reload remote schemas: https://hasura.io/docs/1.0/graphql/manual/api-reference/schema-metadata-api/remote-schemas.html#reload-remote-schema

But it would be nice to know the reasons behind this strategy.

From documentation:

[2020-05-29 17:38] njaremko commented on #4881
Adding a uniqueness constraint on the foreign key resolved the issue.

Do you have any idea why Hasura is able to infer an object vs array relation for all my other foreign keys regardless of uniqueness constraints, just not this one?

[2020-05-29 17:54] devuxer commented on #4863
@rikinsk,

I created the column in the first place using the following

[code]

The above process apparently does not cause `nextval` to appear in the column definition in Hasura. I only see `integer, primary key, unique`.

![image](https://user-images.githubusercontent.com/1298521/83289675-3c7bc000-a19a-11ea-9f8e-3afb1b497de8.png)

However, if I insert a row using pgAdmin without specifying an ID

[2020-05-29 18:01] tirumaraiselvan commented on #4881
Some of your foreign keys are also primary keys which are unique by default.

[2020-05-29 18:39] njaremko commented on #4881
In this case, the foreign key was also a primary key, so that can't be the reason

[2020-05-29 22:13] mklueh commented on #3897
@scriptonist So I´ve managed to find and restore the commit that had the failing migrations

First of all, the command I´ve used back then is not working anymore

[code]

It now requires the from command, so I´ve specified that providing the id of the first migration and it still hangs with the latest CLI version. The root cause is still this migration

`time="2020-05-29T23:50:00+02:00" level=fata

[2020-05-29 23:48] barbaraDorame commented on #1824
Do you guys have any project example configuration for this? I want to accomplish something like @coco98 but the links in his post are broken. Thanks for the help in advance

[2020-05-30 03:33] syafiqfaiz commented on #2251
Hi @rizkyramadhan, did you figured out whats happening ? and how to fix it?
I am having the same issue as yours.

the query works, but subscription for the same query returns 404

the log for query
[code]

The log for mutation
[code]

To add more information, the issue is happening to  my staging server, while I dont have any issue with my local hasura.

[2020-05-30 03:49] scriptonist commented on #3897
Thanks for taking the time to do it @mklueh, really appreciate it. this will be help a lot.

[2020-05-30 05:54] tirumaraiselvan commented on #4881
@njaremko Hmm, could you create a new issue for this?

[2020-05-30 06:12] MaxmaxmaximusGitHub opened #4939 "`ACTION_SECRET_ENV` not working, secret key not passed to action handler"
https://hasura.io/docs/1.0/graphql/manual/actions/action-handlers.html

`ACTION_SECRET_ENV` not working, secret key not passed to action handler:

![image](https://user-images.githubusercontent.com/60403187/83321036-a907c500-a255-11ea-89d5-e702c511dfd6.png)

[2020-05-30 06:13] #4939 closed

[2020-05-30 06:54] rhlsthrm commented on #4812
Ah, I see. That's too bad, I would have liked to have both sides of the relationship set, this means I need to use one more query to set that up.

[2020-05-30 06:54] #4812 closed

[2020-05-30 06:56] aaronhayes opened #4940 "Console: Hide suggested relationships"
I'd like to be able to hide suggested relationships within the console; so the suggestion doesn't appear again. Often it just doesn't make sense to track certain foreign-key relations; for in enum tables I have no need to track the array relationship for every table that uses that enum.

Perhaps adding a "hide" or "don't show again" button in the follow table.
![image](https://user-images.githubus

[2020-05-30 07:45] MaxmaxmaximusGitHub opened #4941 "How to define default action url handler for all handlers?"
How to define default action url handler for all handlers?

[2020-05-30 20:06] njaremko opened #4943 "Hasura is inferring the wrong relation for a pair of tables"
Hasura is inferring that the association between `validation_requests` and `validation_request_company_information` should be an array relation instead of an object relation, but it's a one-to-one relation, and all my other tables with a similar relation setup are correctly identified as one-to-one. Adding a uniqueness constraint on the foreign key columns gets Hasura to correctly identify the rel

[2020-05-30 20:06] njaremko commented on #4881
I've opened #4943

[2020-05-30 20:06] #4881 closed

[2020-05-30 20:32] beerose commented on #3879
Closing as a duplicate of https://github.com/hasura/graphql-engine/issues/3918

[2020-05-30 20:32] #3879 closed

[2020-05-30 20:47] Vbubblery commented on #4907
For me, it's more wired. It works well on MacOS, but on my windows, I get the same error:
[code]

[2020-05-30 23:27] sanderhahn commented on #4847
In the https://hasura.io/docs/1.0/graphql/manual/guides/integrations/auth0-jwt.html user sync snippet the `configuration` object can be used to store the url and admin secret outside of the sourcecode. https://auth0.com/docs/rules/guides/configuration

[2020-05-31 01:24] michaelwooley opened #4944 "`sslmode` flag in `HASURA_GRAPHQL_DATABASE_URL`"
# Background

Hi, I was working through [this document](https://hasura.io/docs/1.0/graphql/manual/guides/deployment/digital-ocean-one-click.html) to set up an instance on digital ocean. Everything went smoothly until I got to the [last step of configuring my managed DB](https://hasura.io/docs/1.0/graphql/manual/guides/deployment/digital-ocean-one-click.html#using-digitalocean-managed-postgres-data

[2020-05-31 04:57] MaxmaxmaximusGitHub opened #4945 "[BUG] SQL postgres-error : syntax error at or near "current_user""
![image](https://user-images.githubusercontent.com/60403187/83344792-55a87c00-a314-11ea-812a-87abcfdd30fd.png)

[2020-05-31 07:21] sanderhahn commented on #4945
`current_user` an existing function: https://www.postgresql.org/docs/current/functions-info.html

[2020-05-31 08:45] tirumaraiselvan commented on #4943
@njaremko

You are creating a relationship from `validation_request_company_information. validation_request_id` to `validation_requests.id`. Unless there is a UNIQUE constraint on `validation_request_company_information.validation_request_id` column, Hasura will not infer object relationship because otherwise there can be more than one rows for a given `validation_request_id`.

The question then i

[2020-05-31 09:22] mrspartak commented on #4629
@ndao had the same problem right now. Wanted to create simple time_diff function and I don't know what to do now =)
[code]

[2020-05-31 09:40] mrspartak commented on #4629
I even tried an example from the docs. Doesn't work either
[code]

[2020-05-31 10:15] #4945 closed

[2020-05-31 10:16] MaxmaxmaximusGitHub opened #4946 "[BUG] function cannot be tracked because function of type "VOLATILE" is not supported now (but, function is stable)"
i have error:

[code]

but, function is stable:

[code]

screenshot:

![image](https://user-images.githubusercontent.com/60403187/83349919-eeed8780-a340-11ea-8563-c8a5f399da1f.png)

[2020-05-31 10:19] MaxmaxmaximusGitHub commented on #4946
i need write `LANGUAGE sql STABLE`

[2020-05-31 10:19] #4946 closed

[2020-05-31 10:40] SumeetMoray commented on #4870
I am able to run it in windows ... but now on ubuntu linux version 20.04 ... its really aweful ... something that docker developers must take a note !

[2020-05-31 11:09] rizkyramadhan commented on #2251
I don’t use subscription anymore.. just regular query with timer

[2020-05-31 11:38] iwarner commented on #4077
Also finding issues with Memory usage on Hasura

We do multi table queries through the permission engine. Recently had to up the memory to 2GB and it currently sites at 64% utilisation of this!

We are using 1.2.1

We build through your docker image
image: hasura/graphql-engine

[2020-05-31 14:34] syafiqfaiz commented on #2251
I've fixed my issue with my hasura on staging server.
Turns out my reverse proxy nginx was not configured properly for websocket.

I refered to https://hasura.io/docs/1.0/graphql/manual/deployment/enable-https.html#nginx
to fix my nginx config.

[2020-05-31 17:50] njaremko commented on #4943
For the following, Hasura infers an object relation for blog_posts -> users

[code]

[code]

[2020-05-31 19:07] tirumaraiselvan commented on #4943
@njaremko

`blog_posts -> users` will be inferred as object relationship as it is pointing to a Primary Key. `users->blogposts` will be an array relationship. If you add a UNIQUE constraint to `user_id`, then `users->blogposts` will be inferred as object relationship instead.

I am not sure what the problem is.

[2020-05-31 19:39] njaremko commented on #4943
You're correct. For some reason the company information relation was backwards in my head.

Thanks for your time :)

[2020-05-31 19:39] #4943 closed

[2020-06-01 05:16] reinoldus commented on #4944
What is the error message that hasura gave you?

I had the same issue with DO managed db's, for me hasura gave me this message: https://github.com/hasura/graphql-engine/issues/2764

My comment here fixed the issue: https://github.com/hasura/graphql-engine/issues/2764#issuecomment-619966754

Maybe hasura has some quirky bug where the extensions are not properly loaded if you init the first connecti

[2020-06-01 05:34] joshuarobs opened #4951 "Bug in GraphiQL when making a query of a row from a remote schema with Strapi"
I'm not sure if this is a bug with GraphiQL or Hasura or Strapi.

I managed to setup Hasura to use a Remote Schema from a local Strapi server which has its own GraphQL endpoint.

When I go to the Hasura console, in the GraphiQL tab, I get a bug if I try to click on the play button for a query that contains tables from the remote schema.

This is what I have in the box, my 2 queries:

[code]

The `

[2020-06-01 07:19] davazp opened #4953 "Bug when exporting metadata through the CLI"
In a straightforward local setup with docker-compose as described in the docs + local Hasura CLI, `hasura metadata export` is failing.

It works if I export it under root. So it could be some permission related issue.

I can't find better logging to know better what is going. If you can suggest some flags I can give more useful information.

Environment:
- Mac OS X Mojave (10.14.6)
- Both CLI and

[2020-06-01 07:43] scriptonist commented on #4953
@davazp are you running the CLI inside a container ?

[2020-06-01 07:51] davazp commented on #4953
No, CLI is installed locally. I can try later to see if it makes a difference.

[2020-06-01 09:28] #4896 closed

[2020-06-01 09:34] tirumaraiselvan commented on #4895
The spec is given here: https://hasura.io/docs/1.0/graphql/manual/auth/authentication/jwt.html#the-spec

`x-hasura-role` is not used from JWT. If you want the role to come from the JWT, then `x-hasura-default-role` should be given. `x-hasura-role` can be given from the client side, which would be used only if it is present in `x-hasura-allowed-roles`. The token might have worked in v1.2.0 because

[2020-06-01 09:41] tirumaraiselvan commented on #4900
Since this is a table to API join, maybe you can try Remote Joins: https://github.com/hasura/graphql-engine/pull/2392 . Will be out in v1.3 in few days.

[2020-06-01 09:42] SurgeS commented on #4651
Hi guys, is this something that's currently being worked on or should I try to make it work by forking the repo mentioned above?

Although, my error is slightly different:
[code]
Looks like the `cli-ext` was installed just fine but then I got an `exit status 4` error.

[2020-06-01 09:48] scriptonist commented on #4651
Hey @SurgeS, this is currently being worked on, will update here once a fix lands.

[2020-06-01 10:30] davazp commented on #4953
I dug a bit deeper. I linked the CLI to a local version of the `cli_ext` plugin.  It works when I replace it with a script that goes directly to the source code.  It fails if I link it to the output binary (processed with `pkg`).

The pkg's output binary works for linux though. So it seems something is wrong with `pkg` on (my) mac os X.

[2020-06-01 13:19] davazp commented on #4953
I opened an issue in `pkg` to investigate further what it could be the reason: https://github.com/vercel/pkg/issues/921

[2020-06-01 13:29] papacarp commented on #4895
Ok, I'm happy to have a supported solution to the issue and will implement that way.  However, the documentation should be cleaned up if this is how you expect it to operate:

and then also:

I'll change the title of this issue and let you guys close it out if you want.

[2020-06-01 13:34] IljaDaderko commented on #4513
Came across this issue today as well, particularly the typescript part where 2 enums (enum and type defined in custom action types) conflict between each other.

[2020-06-01 14:32] njaremko opened #4958 "Error with remote schema after upgrading to 1.2.2"
After upgrading to 1.2.2 I'm unable to add a remote schema (either with imported metadata, or adding through the console)

[code]

[2020-06-01 14:49] jberryman commented on #704
A breaking change from "probably behavior you didn't intend" to "refuse to do sketchy thing; explain situation to user" seems safe to me!

[2020-06-01 15:37] beerose commented on #4893
More info:
It's `sql-formatter` issue: https://github.com/zeroturnaround/sql-formatter/issues/33#issuecomment-551004689

Possible solutions:
* Find `sql-formatter` alternative that doesn't have this issue. (However, every one I checked had this issue.)
* Fix it manually.
* Fork `sql-formatter` and fix this bug.

☝️ All of these solutions assume that we first get rid of `sql-formatter.min.js`.

* F

[2020-06-01 16:52] beerose opened #4960 "server: expose API to get estimated count"
### Context

We don't want to overwhelm the database with count queries on large tables.

### Current solution

* We fetch the first page and make an estimated count (with `SELECT reltuples::BIGINT FROM pg_class ...`)
* If the estimated count is greater than 100000, the pagination is rendered based on the estimated count.
* If the estimated count is less than 100000, we're fetching the exact count

[2020-06-01 18:34] ItsWendell commented on #3811
Is also support for camelCasing the queries coming? e.g. `InsertUserOne` instead of `insert_user_one`?

[2020-06-02 02:50] amitava82 opened #4961 "Clicking on Modify View freeze browser"
When I try to modify a view the browser freezes, CPU usage goes up 100%. Only way to get out of this is to kill the browser process. Tried this Chrome and Safari. I can browse the rows fine. This only happens to few views which has more number of fields, eg - 10 to 20. Strangely this happens only on our QA instance; works file on the Prod instance with the same view. I'm not sure how else I can he

[2020-06-02 04:22] AdityaAnand1 opened #4962 "Throw error on failing mutation"
Trying a simple insert with a unique column constraint (that should fail if it violates the unique constraint)

![image](https://user-images.githubusercontent.com/13274079/83479464-3cd7cc00-a4b6-11ea-8ac3-23b945a580e8.png)

and hasura happily returns 200 status

![image](https://user-images.githubusercontent.com/13274079/83479508-642e9900-a4b6-11ea-8bd7-429eef84d18e.png)

When infact the response.

[2020-06-02 05:11] #3082 closed

[2020-06-02 06:26] tirumaraiselvan commented on #4864
Seems like https://realtime-poll.demo.hasura.app is down as well.

[2020-06-02 08:48] jaymth opened #4966 "Configurable Async Action Timeout"
Are async action timeouts configurable? From what I can tell, async actions have a default timeout of 30s. This limits their use case IMO, since their purpose is to perform some time-consuming action. As this 30 second timeout does not fit my application's needs, I would love to be able to configure this, if possible.

[2020-06-02 09:08] scriptonist commented on #4926
@pradyuman this seems to be working on my end 🤔 can you provide a bit more info so that I can reproduce ?
![image](https://user-images.githubusercontent.com/8335904/83501946-820ff400-a4de-11ea-8c0b-74de30b6e445.png)

[2020-06-02 10:20] praveenweb commented on #4864
This has been fixed.

[2020-06-02 10:20] #4864 closed

[2020-06-02 10:47] 0x777 commented on #721
Folks, we now have a working implementation for Relay modern (WIP as part of [this PR](https://github.com/hasura/graphql-engine/pull/4458))! The docker image to try this out as of this writing is `hasura/graphql-engine:pull4458-e3f5b95e` (**Important**: Do **not** use this image on any of your existing databases that you use with stable graphql-engine versions, please make a copy of your database)

[2020-06-02 11:44] rikinsk commented on #4646
Closing this issue now. Please feel free to reopen if there is something more to be discussed

[2020-06-02 12:22] IljaDaderko opened #4967 "Custom action types stay in schema after they are removed from action"
I created an action that defined some custom enum types. I saved it and executed it a couple of times. Afterwards I edited this action and removed custom types I defined before (Just changed them to be String).  Saved the action.

Now when I pull schema from my endpoint I can still see all these custom types defined in it. Seems like an issue that could pollute schema?

[2020-06-02 12:22] hoeggi commented on #4651
In case someone needs this, here is how I got it working in openshift without running as root:

Dockerfile: https://gist.github.com/hoeggi/9c771249fd9d22f1421c0ddaa473d7c0#file-dockerfile
docker-entrypoint-sh: https://gist.github.com/hoeggi/9c771249fd9d22f1421c0ddaa473d7c0#file-docker-entrypoint-sh

Since openshift by default assigns a random user/uid when creating the container `RUN chmod -R 777`

[2020-06-02 12:26] rikinsk commented on #4789
@THPubs Could you share an example of a row level permission for an action that you would expect

[2020-06-02 12:30] rikinsk commented on #4788
Hey could you share some more inforamtion on the behaviour you would expect

[2020-06-02 14:55] #4865 closed

[2020-06-02 15:32] njaremko commented on #4958
This issue magically went away a couple hours later (with no changes to either my schema or the two Hasura schemas)...which is a little troubling, but I'll take the win. I'll leave this open in case someone at Hasura want's to take a look.

[2020-06-02 15:34] chrisknu commented on #3243
This worked for me.. though it'd be nice to see related triggers updated when changing a field name.

[2020-06-02 17:46] roja opened #4968 "Unset relationship ids in nested mutations"
Hi,

I entered into a conversation with Gavin on discord which can be seen here: https://discord.com/channels/407792526867693568/428469959530643466/717418590294245488

If we have a schema which looks like this:

    Organization:
      - id
      - name

    Employee:
      - id
      - last_name
      - manager_id
      - organisation_id

And we have foreign keys like:

    manager_id → employee

[2020-06-02 18:55] stevefan1999-personal commented on #4788
i just wanted to suggest to implement ECC jwt signing lol

[2020-06-02 20:03] osener commented on #2084
I'm trying to get Hasura to execute this query:
[code]

I've tried the following GraphQL mutation with various escapings as suggested by @sanderhahn, but I'm always getting either "malformed array literal" or "malformed record literal" back:
[code]

Is there a way to extend the workaround to this, or is it unsupported altogether?

[2020-06-02 22:29] davazp commented on #4953
The problem was `pkg` was breaking because I had NODE_OPTIONS env variable with some settings. Thanks for the help!

[2020-06-02 22:29] #4953 closed

[2020-06-02 23:02] ron-johnson commented on #3423
@tirumaraiselvan What is the status on this feature? In a development environment where we are constantly seeding our DB this causes traffic we would prefer to not have to process. Especially so after the v1.2 upgrade to how migrations are handled.

[2020-06-03 00:31] sanderhahn commented on #2084
Hey Ozan! How are you doing? :)

Not sure if this is similar:

[code]

[code]

Obviously a way more convenient syntax would be allowing json as input for the composite type:

[code]

[code]

**Error: A string is expected for type: _bar**

However changing into the external text representation:

[code]

So escaping works, but improvements are possible :)

[2020-06-03 00:41] scriptonist commented on #4651
Hey, this was a similar issue https://github.com/hasura/graphql-engine/issues/4953, can you folks see if this is related? @SurgeS @loiclegoff

[2020-06-03 03:14] toton6868 opened #4969 "Use Hasura within Docker"
I am developing an automated solution where I am using an Architecture that is something similar to follows.

1. Building custom PostgreSQL Docker
2. Add 2-3 more tools within the docker
3. Want to use Hasura within the docker using that existing docker PostgreSQL

Is it possible? Where I am getting issues is the DIND (Docker within docker) part.

[2020-06-03 04:06] #3382 closed

[2020-06-03 04:16] tirumaraiselvan commented on #3602
FYI, webhook mode respects `Expires` and `Cache-Controle` headers via https://github.com/hasura/graphql-engine/commit/5b54f9d76629383da854cc16fb9667ea36b96218

Read more here: https://hasura.io/docs/1.0/graphql/manual/auth/authentication/webhook.html#response

[2020-06-03 06:05] almassapargali opened #4970 "Permission conditions based on session variables"
We're using hasura as a backend engine for an application with some kind of role based access control. We can't have a fixed set of roles, and each merchant can define their own set of roles with access restrictions based on their business structure. This requires us to have permission checks like this in most of our tables:

<img width="756" alt="Screen Shot 2020-06-03 at 11 52 49" src="https://u

[2020-06-03 06:20] SurgeS commented on #4651
@scriptonist that error certainly looks the same but the command there works fine for me and I don't have any `NODE_OPTIONS` env variable setup either :confused:

[2020-06-03 06:20] praveenweb commented on #1768
We have added the guide to setup Auth0 from scratch. The tutorial is available on the [Hasura backend course](https://hasura.io/learn/graphql/hasura/authentication/1-create-auth0-app/) on learn. And the video playlist is available on [Youtube](https://youtu.be/BXJk0wao42U?list=PLTRTpHrUcSB_NphLWLqfuqL4smr0Mly9K)

[2020-06-03 06:20] #1768 closed

[2020-06-03 06:43] #4883 closed

[2020-06-03 07:14] tirumaraiselvan opened #4971 "remote relationship when used in action relationship gives "null: remote field selected""
Suppose `users` has a remote relationship called `auth0_profile`, if I use an action relationship to get user then `auth0_profile` resolves to "null: remote field selected". This should ideally throw a runtime error as described in: https://github.com/hasura/graphql-engine/issues/4815

![image](https://user-images.githubusercontent.com/8663570/83606650-99f77e80-a597-11ea-8579-c52a57fd5c68.png)

[2020-06-03 07:32] tobiastornros opened #4972 "Event triggers Advanced settings - Unselect all columns or start with no selected columns"
When creating Event Triggers in Hasura, in the Advanced Settings you can select which columns the trigger should be run on. The UI starts with all columns selected but it should be possible to unselect all columns if you have many columns and only want to select a few.

Solution:
1: Create "Unselect All"-button for the section
2: Start with no columns selected and provide "Select all"-button

[2020-06-03 07:34] tirumaraiselvan opened #4973 "console: remote relationship doesn't show the full tree in mapping"
If I create a deeply nested remote relationship:

![image](https://user-images.githubusercontent.com/8663570/83608496-a03b2a00-a59a-11ea-991e-ab7651ac2c31.png)

I still see the relationship definition as two-level deep:

![image](https://user-images.githubusercontent.com/8663570/83608538-afba7300-a59a-11ea-9a0a-688978f0a9c4.png)

**Expected**: one-graph -> stripe -> customer

[2020-06-03 07:42] Papanash commented on #4771
thank you

[2020-06-03 07:42] #4771 closed

[2020-06-03 07:42] tirumaraiselvan commented on #4970
Dupe of https://github.com/hasura/graphql-engine/issues/3685

[2020-06-03 07:49] soorajshankar opened #4974 "Relationships table 1st column overflows if the text is too long"
Relationships table 1st column overflows if the text is too long as shown below.

![image](https://user-images.githubusercontent.com/8408875/83610027-a16d5680-a59c-11ea-95ec-491cb0d9d850.png)

[2020-06-03 08:00] mflps opened #4975 "We are receiving this error messages "webhook authentication request failed""
We are receiving this error messages "webhook authentication request failed", on the webhook authentication:

`{"type":"http-log","timestamp":"2020-06-02T20:57:18.657+0000","level":"error","detail":{"operation":{"error":{"path":"$","error":"webhook authentication request failed","code":"unexpected"},"request_id":"a050c080-e409-48a5-b69b-e201864c4585","response_size":80,"raw_query":"{\"operationNam

[2020-06-03 08:02] tirumaraiselvan commented on #4975
Do you have any logs from your webhook auth service? In particular, could you show the webhook response that is coming for this request?

[2020-06-03 08:06] mflps commented on #4975
Response is 200 OK, but sometimes is slower than 1s, and its when hasura gives error.

[2020-06-03 08:33] mflps commented on #4975
Here is the response from the server side:

2020-06-02T20:57:18.7310926Z,a0c8fda012280f41,,Authentication,"https://devm2daf01.azurewebsites.net/api/webhook/authentication",True,200,"6063.3433","3sec-7sec",request,"{""FunctionExecutionTimeMs"":""4539.8848"",""TriggerReason"":""This function was programmatically called via the host APIs."",""HostInstanceId"":""73c57aad-c5a3-4ec2-bdcb-fba48c3801ba"",

[2020-06-03 08:34] Overdozed commented on #4382
check you provide HASURA_GRAPHQL_UNAUTHORIZED_ROLE env var without any quotes from .env file.
In my case hasura logs said {"x-hasura-role":"\"public\""} => double double quotes.

Hope this helps.

[2020-06-03 08:35] CloudPower97 commented on #4796
@coco98 So, is there a workaround or something we can do about that? :confused:

[2020-06-03 08:57] vishwasnavadak commented on #4629
@ndao @mrspartak
As `Gavin Ray` (apologies, I don't know his GitHub) pointed out on [discord](https://discord.com/channels/407792526867693568/428469959530643466/717417146287784086), it seems like an issue but there is a quick work around for the people who are facing it right now.

[code]

[2020-06-03 09:55] #4599 closed

[2020-06-03 11:19] #3128 closed

[2020-06-03 12:36] rikinsk commented on #3345
user access rights can be found via:

[code]

[2020-06-03 13:52] niti2539 commented on #3919
Try to insert HASURA_GRAPHQL_AUTH_HOOK only and delete HASURA_GRAPHQL_JWT_SECRET variable. I use this method and it work.

[2020-06-03 13:57] seifip opened #4978 "Surface computed fields in hasura events"
### Problem
Hasura computed fields are not sent to hasura events webhooks.

### Example
I have a `total_price` computed field in the `orders` table, which is `sum(price)` of all `items` in that order.

[code]

I'm now writing a Hasura Event on `order` `INSERT` that creates an `invoice` with `amount` set to `total_price` of the inserted `order`.

Unfortunately, `req.body.event.data.new.total_price`

[2020-06-03 14:53] coco98 commented on #4796
@CloudPower97 The workaround for now is to flatten what you'd want from a nested action type!

Returning lists is already supported, so you can define an action that returns a list of elements. That element can in turn have relationships with other entities in Hasura and so that should work automatically :)

Example:
[code]

Now, there can be a relationship from `PostResult.id` to the Post table s

[2020-06-03 14:54] sobrinho opened #4980 "UPSERT + ON CONFLICT WHERE + JSONB"
Hi there,

I would like to be able to do something like that:

[code]

In other words, I would like to skip the update in the case of conflict but if the `updated_at` property of the `data` column is already greater than the current one I have.

In raw SQL it would be like this:

[code]

Not sure if that's even possible in the current state of the Hasura GraphQL since I need to typecast the jsonb

[2020-06-03 14:57] sobrinho commented on #4980
One possible way would be able to use raw SQL in the `where`, like this:

[code]

Not sure how it would look like but something like that.

[2020-06-03 15:15] seifip opened #4981 "Table emoji in Data view"
### Poposal

Ability to assign emoji to tables in Data view.

This would make locating frequently used tables so much faster.

### Mockup:

![image](https://user-images.githubusercontent.com/636168/83654672-17d27e80-a5c6-11ea-9528-08cb55b30377.png)

[2020-06-03 15:26] rikinsk commented on #4713
@XVincentX Did you figure this out. If not can you share exactly where you are stuck.

Just to clarify, the action handler should be defined as `{{<ACTION_BASE_ENV_VAR>}}/<endpoint-in-the service>` (`<ACTION_BASE_ENV_VAR>` is a placeholder for the env var you want to use) and then you can set different values for the `<ACTION_BASE_ENV_VAR>` in your separate environments.

[2020-06-03 15:28] XVincentX commented on #4713
I figured it out, thanks.

V.

[2020-06-03 15:45] rikinsk commented on #4863
I think the issue is because of `generated by default as identity`. It seems that the console doesnt handle this properly

[2020-06-03 16:04] rikinsk commented on #4921
@samuelcastro This was done to improve performance. Reloading remote schema everytime the metadata changes starts having performance impacts if you have lots of remote schemas or have very large remote schemas. As in most cases metadata change are due to updates to the database schema or other configuration such as relationships or permissions, it is wasteful to keep refreshing the data from remot

[2020-06-03 16:09] rikinsk commented on #4884
We should have a section for clean up of actions related data as we have for event trigger [here](https://hasura.io/docs/1.0/graphql/manual/event-triggers/clean-up.html).

Updating this issue to reflect the same

[2020-06-03 16:24] devuxer commented on #4863
Note, however, that the table gets altered to `generated always`. That still may not be what Hasura is expecting, though.

[2020-06-03 18:26] rikinsk commented on #4925
Tracking this issue at #3549. Closing this as a dup.

[2020-06-03 18:29] rikinsk commented on #4925
@IS-Josh Thanks for taking the time to optimise the query. cc: @beerose

[2020-06-03 18:39] rikinsk commented on #4916
Yes. This is currently under development in https://github.com/hasura/graphql-engine/pull/3763. We would expect this to be out in the next couple of releases. cc: @scriptonist

[2020-06-03 19:05] osener commented on #2084
Hey Sander, awesome to run into you again! Shoot me an email (it's in my profile), I'd love to catch up!

And thanks for the tip, that did the trick. For my schema I needed to escape the commas further. Not pretty, but works:
[code]

[2020-06-03 23:07] njaremko commented on #4958
This issue was affecting everyone on my team. It doesn't seem to happen when exporting and loading metadata through the cli tool, only when exporting and importing metadata through the console UI.

Needless to say, we're all using the CLI tool now, but probably a good idea to look into what's causing this.

[2020-06-04 02:32] Xetera opened #4984 "Give enum tables a different icon on the sidebar"
It gets a little difficult to keep track of enum tables once you're past a certain amount. I feel like something like this could help
![](https://dreamcatcher.xetera.dev/😓👑💁🎓😊.png)

I would be happy to give this a shot if it's something the hasura team is interested in and if this data is available to the frontend

Possibly related #4981

[2020-06-04 02:37] Xetera commented on #4969
Just out of curiosity, is there a reason why you're trying to bundle 2 independent processes inside the same container? I imagine you would quickly run into coupling problems when it comes to scaling, sharing resources and failures

[2020-06-04 02:54] joshuarobs opened #4985 "How to run multiple different Hasura projects locally with Docker?"
I have two repos that I intend to run locally on my machine with Docker. This is on the latest Docker on the latest MacOS Catalina.

**Repo 1**
The first one works fine, since I just use the standard `docker-compose.yaml`:

docker-compose.yaml - 1
[code]

I also access the console with `hasura console`.

**Repo 2**
Obviously if I copied the exact same `docker-compose.yaml` from Repo 1, it won't wo

[2020-06-04 03:56] tirumaraiselvan commented on #4958
The error `"reason":"Error in $: key \"data\" not found"` indicates that the introspection result (that Hasura performs when adding/reloading remote schema) did not succeed. This typically happens when the remote schema is down, network failures, timeouts and so on.

If you are noticing this consistently only in the console, then it's very strange and might require a repro for us to look at.