[2019-12-24 22:23] gunar-gessner-qatalog commented on #348
fyi just knowing that the right format for `text[]` is `{hello,world}` solved my problem (obvious in retrospect) — consider adding it to docs

[2019-12-24 22:23] gunar commented on #348
fyi just knowing that the right format for `text[]` is `{hello,world}` solved my problem (obvious in retrospect) — consider adding it to docs

[2019-12-25 06:47] rakeshkky commented on #3576
@tafelito Somehow Heroku app is not deployed. We manually triggered the deployment. You can find the preview app here https://github.com/hasura/graphql-engine/pull/3585#issuecomment-568832462.

[2019-12-25 06:56] ChaituVR opened #3589 "Claims key: 'https://hasura.io/jwt/claims' not found"
i am getting following error:
[code]
![image](https://user-images.githubusercontent.com/15967809/71436093-d2a24a80-2711-11ea-9e99-89aa1231eab1.png)

[2019-12-25 08:02] shahidhk commented on #3589
@ChaituVR What service are you using to issue JWTs? Have you configured it to add the claims as mentioned here: https://docs.hasura.io/1.0/graphql/manual/auth/authentication/jwt.html#the-spec

[2019-12-25 08:33] #2766 closed

[2019-12-25 09:34] KaKaVip opened #3591 "Can deploy hasura on openfaas ?"
Hi,
I have a question
Có thể triển khai hasura trên openfaas ?

[2019-12-25 13:55] marionschleifer commented on #348
@gunar you can find this in our docs [here](https://docs.hasura.io/1.0/graphql/manual/mutations/insert.html#insert-an-object-with-an-array-field) 🙂

[2019-12-25 14:44] #2770 closed

[2019-12-25 16:50] tirumaraiselvan commented on #3536
@yasinarik Yes, this is something that we will be keen to do.

[2019-12-25 18:07] darknoon commented on #3591
Phạm, I am not super familiar with OpenFaaS but it sounds like something for situations where you have a pure function on the server ie responding to an HTTP request. Hasura is unique in that it gives your serverless functions a place to maintain a persistent connection to the db, process events reliably etc. So you want a persistent container and database.

It's pretty easy to just run hasura on

[2019-12-26 05:09] elitan commented on #3195
Here are some notes. This is how I do it currently:

1. Make sure you got a clean instance of Postgres and Hasura.
2. `docker exec -t [docker id] pg_dump -U postgres -n public --inserts  > dump_`date +%d-%m-%Y"_"%H_%M_%S`.sql`
3.  Remove any line in the dump .sql related to `hdb_` schemas. Ex `hdb_views` triggers.
4. Export the metadata from the Hasura Console
5. Import the dump in the database
6.

[2019-12-26 06:04] ChaituVR commented on #3589
Sorry my bad...  i was using Firebase existing project.. and i was using existing email which doesn't have custom claims, after checking with new emails that has customClaims.. it is working :stuck_out_tongue:
[code]

do we have any option to add custom claims to existing users ? (Just curious)

[2019-12-26 06:27] shahidhk commented on #3589
I think you can go through all users once using the admin sdk and add the required claims as a one-time job.

[2019-12-26 07:21] rikinsk opened #3593 "add api / cli / console workflows for all use cases in docs"
Use tabs: Console / API / CLI

Sample content:
- Console:
  Head to < path > on the console and click on < btn >:
  < screeshot >
- API
  < functionality > can be achieved using the < api-ref-link > metadata API
- CLI
  < functionality > can be achieved via the < command > cli command. Run < command > -h for more details

[2019-12-26 12:21] shahidhk commented on #1440
Closed in favor of https://github.com/hasura/graphql-engine/issues/2824 which will allow running CLI on docker containers or elsewhere.

[2019-12-26 12:21] #1440 closed

[2019-12-26 13:11] shahidhk commented on #3591
@KaKaVip, as @darknoon mentioned, while Hasura can indeed run in serverless environments, it is best if we run it as a long running service so that subscriptions and event triggers can work reliably.

[2019-12-26 14:44] tafelito commented on #3576
@rakeshkky that commits fixes the issue, thanks! Any ETA when is going to be published?

Is it possible to get the session var on a delete mutation? without having to create a custom function for that ? same as we can actually do now for insert, update and select queries

[2019-12-26 15:08] tafelito commented on #3576
Not sure if it's related to the specific version, but i just run into this error

![image](https://user-images.githubusercontent.com/5973652/71480536-a21ce800-27c7-11ea-82f1-facec05ed6ee.png)

[code]

[2019-12-26 15:23] piroszhog opened #3595 "Support of field-to-field comparison in where argument"
For example, I have a table contains `date1` and `date2` fields. I want to select all the rows, where `date1` < `date2`. I can easily do it in SQL like this
[code]

But there is no syntax in Hasura to create query like that.

P.S. If I missed something in docs, I will be glad for help and it would be great to add examples to docs.

[2019-12-26 15:52] webdeb commented on #1779
Just wanted to add my 2 cents to this. Since keycloak is an awesome selfhosted auth server. There are ways to configure keycloak directly, without the necessity of plugging a separate webhook service between.

keycloak has this feature of **script mappers**, you can basically write JS inside the configuration to put additional hasura claims into the JWT token, just like with auth0 rules:

I think

[2019-12-26 19:32] pcmaffey opened #3596 "Different value in db vs what's returned from hasura"
When I insert a record using a custom Id generator function, Hasura returns a value that's different from what's actually in the db (inspected with pgadmin).

Here's my custom id generator:
[code]

2207616964346512600 <- example result returned by Hasura
2207616964346512664 <- what's actually in the db

Playing around with this, I can see that the difference is in the bitwise shift left operator.

[2019-12-26 20:21] marionschleifer commented on #3523
@rccoe I'm closing this issue. Feel free to re-open if you'd like to add anything 🙂

[2019-12-26 20:21] #3523 closed

[2019-12-26 21:12] pcmaffey commented on #3596
Also, here's a screenshot of attempting to query (not found) for an id using the values returned (cached?) by hasura.
![Screen Shot 2019-12-26 at 11 50 51 AM](https://user-images.githubusercontent.com/14334017/71490710-86c2d480-27e9-11ea-8151-10cd4c2a69fd.png)

[2019-12-26 21:13] rstpv opened #3597 "Field naming starting with reserved keywords breaks updates"
When in a table there is a column that starts with a reserved keyword, for example nullSomeColumnName or trueSomeColumnName, if you try to create an update with an on_conflict and columns, the update will fail like:
[code]
If the field starts with true or false the error is almost the same but the message is related to value must be an enum.

It seems like the engine is trying to parse the column

[2019-12-26 21:38] pleclech commented on #3596
You can try to enable  --stringify-numeric-types or HASURA_GRAPHQL_STRINGIFY_NUMERIC_TYPES because bigint don’t fit into the IEEE-754 for json.

See documentation reference :  https://docs.hasura.io/1.0/graphql/manual/deployment/graphql-engine-flags/reference.html

[2019-12-26 21:51] pcmaffey commented on #3596
Thanks! That solved it

[2019-12-26 21:51] #3596 closed

[2019-12-26 22:32] #3576 closed

[2019-12-27 04:05] #3479 closed

[2019-12-27 04:30] #3350 closed

[2019-12-27 04:38] lexi-lambda commented on #1812
Reopening this issue after some discussion in #3490 pending a further decision about what we want to do.

[2019-12-27 05:26] #3589 closed

[2019-12-27 06:02] dsandip commented on #280
More feedback from the community: permissions applicable to all tables in a schema

[2019-12-27 06:05] #3401 closed

[2019-12-27 06:19] tirumaraiselvan commented on #678
Hey everyone, so we did an initial investigation and Hasura doesn't start on CockroachDB out-of-the-box because of Cockroach's different implementation of internal schema and lack of few json operators.

Although now we have more insights into what will go into supporting CockroachDB and we will update this issue when we have a technical spec ready.

[2019-12-27 10:59] shahidhk commented on #2954
closed in https://github.com/hasura/graphql-engine/commit/c6ab1014affa8ec96c3f9edd1d549bbb40bfacfb

[2019-12-27 10:59] #2954 closed

[2019-12-27 13:12] praveenweb commented on #3484
Fixed in #3569

[2019-12-27 13:12] #3484 closed

[2019-12-27 13:56] #965 closed

[2019-12-27 14:22] gunar commented on #348
@marionschleifer that's great, thank you! — your docs are impeccable.

[2019-12-28 00:19] mitar commented on #2293
To [answer my question from above](https://github.com/hasura/graphql-engine/issues/2293#issuecomment-554702829), this can be done through permissions. Or user has permissions to insert new tags or not.

[2019-12-28 02:38] #3568 closed

[2019-12-28 09:00] joshuarobs commented on #300
@Tymek How do you use this dump file to a new Heroku Hasura db?

[2019-12-28 10:35] marionschleifer commented on #2137
This issue has been promoted to RFC candidate which means it's something that we would like to work on. The next step for us is to prioritise it for our product roadmap and work on a spec. We'll inform here when there's an update 🙂

[2019-12-28 13:35] joshuarobs commented on #2817
@Inch4Tk
Your suggestion inspired me to create this command that I run. It generates a list of SQL INSERT statements for all the tables in the public schema (minus _Migrations). It basically gets a list of all the table names, then cleans it up, and puts it into a command to be used.

I made this because I don't want to bother keeping track of changes of my rows. This is basically my hacky workaro

[2019-12-28 13:38] joshuarobs commented on #2431
I wrote a bash script that helps with the process of migrating from a Docker Hasura instance to somewhere else (e.g. on Heroku for production). Originally posted here: https://github.com/hasura/graphql-engine/issues/2817#issuecomment-569417930 (Look there for more info)

[code]

I'm not 100% sure if this will help in this situation while we don't have anything official for seeding data.

[2019-12-28 14:12] pstibrany commented on #1778
In referenced article, this was actually called “Equal Jitter”, which does more work and takes longer to complete.

“Full Jitter” is:
[code]

[2019-12-28 18:38] GavinRay97 commented on #2431
@joshuarobs

I added functionality for seed scripts into the CLI, but have some minor details to work out. Have not heard back from the Hasura team on this so it may be the case they are either on holiday or not interested in supporting it.

![image](https://user-images.githubusercontent.com/26604994/71548086-28c3f780-2977-11ea-9f94-fddb84d82630.png)

![image](https://user-images.githubusercontent

[2019-12-28 21:45] hutber commented on #2768
I would enjoy this feature

[2019-12-28 21:59] #3106 closed

[2019-12-29 00:18] franciscolourenco commented on #3436
Any updates list vs read permissions?

[2019-12-30 03:59] NilsParedes commented on #724
Is there any way to compile the server for windows?

[2019-12-30 06:03] rikinsk commented on #2583
A workaround till this issue is fixed is to run the following SQL statement directly on the RawSQL page:

[code]

[2019-12-30 08:42] #3502 closed

[2019-12-30 08:53] lishine commented on #3502
Sorry, didn't see your question.
I am planning db solution for next project and interested to know how hasura compars to similar solutions, regarding performance

[2019-12-30 10:00] marionschleifer commented on #3595
@piroszhog thank you for reporting this issue. It's already tracked here: https://github.com/hasura/graphql-engine/issues/457. I'm closing this as a duplicate.

[2019-12-30 10:00] #3595 closed

[2019-12-30 10:22] Jamesits opened #3602 "Feature request: method to forcefully disconnect a websocket"
In current version of hasura, when the user token (whatever you pass to the auth hook) is revoked (e.g. user logged out remotely or user credential changed), any websocket already connected to hasura will still work and their access will not be revoked. I'd like to request a method to disconnect one or all the websockets from a certain user ID, so when the user automatically reconnect, their token

[2019-12-30 10:35] 0x777 commented on #3602
Currently we enforce the expiry of authorization information in JWT mode (the connection gets closed after the expiration time as specified in the JWT). This is lacking in the webhook mode, maybe the webhook can specify the expiry time of the session with [`Expires` header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Expires)?

This I feel should be added as a part of a larger 'subsc

[2019-12-30 11:00] garlou opened #3603 "Using permissions with Postgres enum field doesn't show comparing options"
I'm using typeorm to manage my database migrations and when I use typescript enums, typeorm generates a Postgres table like this:
<img width="601" alt="Screenshot 2019-12-30 11 42 23" src="https://user-images.githubusercontent.com/1465244/71578862-2a69f880-2afa-11ea-97a4-cf197008d1d2.png">

When I try to setup a permission, the dropdown select is empty:
<img width="386" alt="Screenshot 2019-12-30

[2019-12-30 17:09] barbalex commented on #3354
I am having problems now. I actually had very similar problems before the last update. They used to occur when changing insert permissions. Now they occur when inserting a value. PostgreSQL logs this happening:

[code]

And it results in this error:
[code]

Would this issue be related or should I open a new issue?

[2019-12-30 17:09] gunar commented on #2483
**Alternative**: The payload includes `trigger.name` so you could point all events to a single endpoint and do the routing on the server side.

[code]

[2019-12-30 23:16] lexi-lambda commented on #3354
@barbalex That error does seem possibly related to me, but the fact that you said it was also happening to you before, just at a different time, makes me wonder if perhaps it’s a different underlying problem. Unfortunately, the hashes are a little opaque, aren’t they? I think it would probably help if you could share what query you’re running that triggers the error.

[2019-12-30 23:18] #1812 closed

[2019-12-31 02:01] tom-pryor opened #3606 "Multi Tenant Application using Postgres Schemas"
Hi, we're currently exploring ways to add a GraphQL API to our existing SaaS multi tenant application. We currently use postgres schemas to isolate our clients and each client has identical tables, etc. in their schema. For example

myapp (database)
- client1 (schema)
  - users (table)
  - products (table)
- client2 (schema)
  - users (table)
  - products (table)

All tenants share the same code b

[2019-12-31 03:19] spiffytech opened #3607 "Cannot create view, "already tracked""
I have a tracked view named `line_items`. I'm now trying to create another tracked view derived from `line_items`, like so:

[code]

This gives the error, `view/table already tracked : "line_items"`.

Is this a bug, or is there another way I should be creating my view?

[2019-12-31 05:27] shahidhk commented on #2750
requires https://github.com/hasura/do-marketplace/issues/1

[2019-12-31 06:17] rikinsk commented on #3607
@spiffytech This should not be happening ideally. We'll take a look into the actual cause.

In the meanwhile, you can uncheck the `Track this` checkbox and create the view. You can then track the view from the `Schema` page

[2019-12-31 08:05] rikinsk commented on #3461
This can be added to the `About` page which is meant for displaying such information

[2019-12-31 08:39] #1180 closed

[2019-12-31 10:30] barbalex commented on #3354
This is the query run:

[code]
_EVERY_ query inserting causes this issue now

[2019-12-31 10:38] barbalex commented on #3354
As my project is in beta and not productive yet, I can probably give you any sort of access that may help you to debug the problem.

[2019-12-31 11:05] Kjens93 commented on #422
Update: ran into a hiccup with this while trying to get it to work with `dep` and It appears that `go.mod` isn't present in the stable `1.0.0` tagged release. Will keep trying to get it working as-is, but may have to wait for the next release. Will also be submitting a PR with a build improvement as requested by the homebrew core team.

[2019-12-31 12:56] comerc opened #3608 "Allow-list does not work?"
Hasura v1.0.0 on Heroku.

- Set HASURA_GRAPHQL_ENABLE_ALLOWLIST .env variable as "true".
- Set X-Hasura-Role header as "user".
- Add table with one field id (uuid).
- Insert rows to table.
- Add all select permissions for role "user".
- Add query to "Allowed Queries" interface with name "get_try":
[code]
- Reload metadata.

"NO SCHEMA AVAILABLE" in GraphiQL Explorer.

[2019-12-31 13:59] naveennazimudeen opened #3609 "Insert mutation with returning computed field and nested insert gives error"
I am facing an issue with insert mutation that has a relationship based nested insert together with a returning computed field. A sample insert mutation query below:

`insert account ( objects: {
     name: nameValue,
     nestedAddress: { data : { street : streetValue }}}){
         returning {
            accountId
            addressId
           computedField
        }
   }`

The error I get i

[2019-12-31 16:11] danhogan opened #3610 "Cannot clone this repo on Windows"
On Windows 10, I cannot successfully checkout the repo.

`fatal: cannot create directory at '.circleci/postgres:12.0-alpine-postgis3': Invalid argument`
`warning: Clone succeeded, but checkout failed.`

Perhaps it's an issue with certain characters/Windows. My initial search didn't get me anywhere.

[2019-12-31 19:56] comerc commented on #3608
But the query works:

![Снимок экрана от 2019-12-31 22-53-41](https://user-images.githubusercontent.com/1025241/71632627-8038c080-2c20-11ea-8b4d-f784cd576a07.png)

[2020-01-01 07:14] sushruth opened #3612 "Feature request: Add admin secret parameter to azure template"
It would be really great to have Hasura admin secret as a parameter when using azure arm template to one-click-deploy.

This is how I imagine it -

![image](https://user-images.githubusercontent.com/2114206/71639004-4d43fc00-2c23-11ea-9ef3-4334da3e2778.png)

[2020-01-02 00:47] cooldesigns commented on #877
Is this issue still not resolved? In a serious application is getting trouble to use hasura, because of this problem.

[2020-01-02 00:52] cooldesigns commented on #1847
+1 for multiple db connections, both read and write.

[2020-01-02 05:35] rikinsk commented on #3608
@comerc This is expected behaviour. Only exact queries added to the allow list will be allowed to be run.

Is there any reason you expect the behaviour to be different?

[2020-01-02 05:37] rikinsk commented on #3608
If you are wondering why `No schema available` is shown, that is because the introspection query required to fetch the schema has not been added to the allow-list

[2020-01-02 05:58] #3461 closed

[2020-01-02 06:22] Nau4man opened #3615 "Does Hasura natively support Arrays? If not, what's the best way to implement arrays (int & string) and when will hasura start supporting arrays natively?"

[2020-01-02 06:23] #3615 closed

[2020-01-02 06:24] Nau4man opened #3616 "Does Hasura natively support Arrays? If not, what's the best way to implement arrays (int & string) and when will hasura start supporting arrays natively?"

[2020-01-02 10:08] 0x777 commented on #3616
@Nau4man You can use Postgres's literal syntax for arrays as documented [here](https://docs.hasura.io/1.0/graphql/manual/mutations/insert.html#insert-an-object-with-an-array-field). We recommend you to use one to many relationships instead of arrays if that's a right fit for your data.

Adding native support for arrays is something that we have been thinking for a while now but unfortunately this

[2020-01-02 10:08] #3616 closed

[2020-01-02 11:42] Nau4man commented on #3616
Thanks for your answer. What datatype should I use in Hasura in order to pass arrays as Postgres literal? Should it be of Text type? If so, I have tried that but hasura is treating it as a string.

[2020-01-02 11:43] Nau4man commented on #3616
@0x777 Thanks for your answer. What datatype should I use in Hasura in order to pass arrays as Postgres literal? Should it be of Text type? If so, I have tried that but hasura is treating it as a string.

[2020-01-02 12:03] denizkenan commented on #1288
facing with this error again.  previously working config (generated via: https://hasura.io/jwt-config) is started causing the error. kinda stuck with what to do. any idea?

k8s env versions:
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.0", GitCommit:"70132b0f130acc0bed193d9ba59dd186f0e634cf", GitTreeState:"clean", BuildDate:"2019-12-13T11:52:32Z", GoVersion:"go1.13.4", Com

[2020-01-02 13:48] guru2228 commented on #678
any updates on this

[2020-01-02 16:17] thinhpham1205 commented on #1128
I Need this feature too, it helps automatic deploy. please add it :D.

[2020-01-02 18:43] lexi-lambda commented on #3354
@barbalex To be honest, I am not certain whether the root cause of the issue you’re seeing is this change or something else… but I realized it doesn’t actually matter, because we’re getting rid of `hdb_views` for insert permissions entirely! See #3598.

[2020-01-02 21:46] jasoncarreira commented on #3473
A related request:

I was looking at the stuff about Actions and had a thought... I'd love to see pub/sub actions. Save the event to the event store then publish it to a topic and after it's accepted update the event in the store so it's marked as sent.

I'd also love to be able to hook events to a subscription so it would pull from the topic, save to the event store, and update the topic that the

[2020-01-03 04:02] shahidhk commented on #1288
@denizkenan Have you checked out the line delimiter?

[2020-01-03 04:07] danghung-dev commented on #2572
@tirumaraiselvan **Happy new year !!!**

I do not see X-Forwarded-Host and X-Forwarded-User-Agent when sent event. How can I add it to there?

As I said above I have log who change value in database.

![image](https://user-images.githubusercontent.com/5670932/71706614-ad4fc380-2e18-11ea-9c37-6745b58dcd99.png)

[2020-01-03 04:19] tirumaraiselvan commented on #1035
Summarizing workarounds:

1. Replicate data into postgres (see: https://www.symmetricds.org/)
2. Use Postgres Foreign Data Wrappers

For native support, closing in favour of https://github.com/hasura/graphql-engine/issues/1773

[2020-01-03 04:19] #1035 closed

[2020-01-03 05:09] tirumaraiselvan commented on #660
Can be solved by #3533

[2020-01-03 05:22] shahidhk opened #3621 "down migration is executed out of order"
When executing a down migration using
[code]
`down.sql` is executed before `down.yaml`

This issue is not there if
[code]
is used.

Error from GraphQL Engine:
[code]

[2020-01-03 05:52] lexi-lambda opened #3623 "Update the server code architecture document and include it in the public repository"
We have an internal [server code architecture document](https://github.com/hasura/graphql-engine-internal/wiki/Server-code-architecture), but it is a little out of date. It would be great to move this into the wiki on the public repo so that people who are interested in contributing can refer to it.

[2020-01-03 06:50] rakeshkky commented on #3609
Hi @naveennazimudeen, thank you for reporting the issue.

The fix is being made in #3618. Please try out the preview app in https://github.com/hasura/graphql-engine/pull/3618#issuecomment-570474663 and confirm the fix.

[2020-01-03 08:01] tirumaraiselvan commented on #2572
@danghung-dev That's true. We only added the headers for remote schemas. I don't see a reason why we shouldn't add them for event triggers as well. Could you open an issue for the same?

[2020-01-03 08:03] tirumaraiselvan commented on #2572
Actually, now that I think more about it. It might be much harder to add them for event triggers. This is because event trigger payloads are generated by the database and are only aware of hasura session variables i.e `x-hasura-*` variables. Any other client side information is unavailable.

[2020-01-03 08:37] andycmaj opened #3627 "renaming a table with incoming FK relationships fails without error feedback"
# summary

When trying to rename a table, `userGoal` -> `userHabit`, that has incoming relationships, eg. `metric.userGoalId -> userGoal.id`, the api call to `migrate` fails but no error message is displayed.

# repro

1. create 2 tables, one with an object relation to the other.
2. rename the table with the incoming table (the one with the primary key as part of the relation)

expect: rename is s

[2020-01-03 10:44] shahidhk commented on #422
@Kjens93 We changed to go modules after 1.0 was released, so, 1.0 tag still uses dep. The build command can be found in the makefile.

[2020-01-03 12:02] coco98 commented on #3502
@lishine We've talked about Hasura's performance and how it works. https://blog.hasura.io/architecture-of-a-high-performance-graphql-to-sql-server-58d9944b8a87/
I also did a talk at GraphQL Summit 2019 talking about the underlying architecture: https://www.youtube.com/watch?v=HOKMJkBYaqQ

Best way to compare the various systems would be to setup a sample schema in the different databases and then

[2020-01-03 13:44] naveennazimudeen commented on #3609
Thanks for the fixing the bug quickly, @rakeshkky. I tested with both object and array relationships and it works fine 👍

[2020-01-03 13:51] MarcelloTheArcane commented on #877
I have managed to work around this by assigning the `X-Hasura-Role` header to each query/mutation. For example, here is a user and their roles:

![image](https://user-images.githubusercontent.com/21159570/71726377-c95e5f80-2e2e-11ea-8aa1-08bdf7a188e0.png)

Then I can use that role with [`nuxt-community/apollo-module`](https://github.com/nuxt-community/apollo-module)

![image](https://user-images.g

[2020-01-03 14:16] denizkenan commented on #1288
@shahidhk : Thank you for the reply.
_Config not the cause of the problem.
It still works flawlessly if Hasura is launched using docker-compose.
It used to work with our Kubernetes cluster as well._

**So far:**
-Used to work with same config, hasura version, kubetctl version
-Stopped working with k8s v1.14.6 AKS (Azure Kubernets Service).
-Not working still with different kubectl version, hasura

[2020-01-03 14:35] MarcelloTheArcane commented on #3390
It would be nice to add column sorting and filters in this too

[2020-01-03 16:45] danrha commented on #3452
@tirumaraiselvan i would suggest adding an additional metadata attribute, something like `hidden`:
[code]

Which would cause the table to be tracked, but remain invisible unless it's related from another table.

[2020-01-03 16:58] danrha commented on #3452
The root schema would include only `tableA`, but `tableB` would be visible as an object inside `tableA`.

This would help simplify/optimize permission management (avoiding the need to apply rules several times on relationships) as filtering the results on tableA would implicitly filter what's visible from tableB. And it would allow for cleaner schemas as we're able to decide the more logical graph

[2020-01-03 18:00] denizkenan opened #3630 "Receiving `TypeError: JSONObject cannot represent non-object value:` for mutations queries against remote schema"
I have a working query (as of `v1.0.0-beta.9`):

[code]

with params:

[code]

`update_data` is a mutation provided by a remote schema based on (NestJS/Node).
`scalar JSONObject` is provided by https://www.npmjs.com/package/graphql-type-json

This query is failing with version `v1.0.0`

received error is:
`
{
  "errors": [
    {
      "message": "JSONObject cannot represent non-object value: {\"te

[2020-01-03 18:09] denizkenan commented on #1288
Ok,  problem was related with our tooling.
`$(echo sed ...)` was replacing new line character with a weird character(that looks like a space character).  changed the way sed is used(avoiding any `echo sed`) and problem is solved.

[2020-01-03 18:17] denizkenan commented on #1883
http://unrealists.com/

is currently using Hasura for multiple clients(Finance, Mobility etc..). It is core part of our Process Management Engine stack(k3s/traefic/linkerd/redis/minio/spilo/NestJS/openfaas).

[2020-01-04 00:20] erikhSSI commented on #1697
OK, so I finally was upgrading to v1.0.0 from alpha42 and same thing happened.... 502 bad gateway error when trying to load the hasura web dashboard/console.  (I googled the error message and found my own bug submission here! 😃 )

So I looked at the logs:
----------
% sudo docker-compose logs graphql-engine | grep error
It had 40 lines of the same basic error complaining about a SQL statement begi

[2020-01-04 05:35] joshuarobs opened #3632 "Best practises for Migration version control?"
What are the best practises for Migration version control in Hasura?

Here are some I can think of, but I don't know which one's the best:

1. **The "standard" way:** Init once (`hasura migrate create "init" --from-server`), make changes to the db schema and VC all these states. Migrate to another server when you want to.
2. **Store specific versions:** same as above, but you run the `hasura migra

[2020-01-04 06:18] t3hmrman commented on #2022
Just wanted to note that this is likely [a Wai/Warp issue](https://github.com/yesodweb/wai/issues/739), servant also [has the issue](https://github.com/haskell-servant/servant/issues/1165)... I'm trying to figure out how to stop it from at least showing up in my logs.

[2020-01-04 09:48] mklueh opened #3633 "Applying migrations not working as expected"
I´m trying a simple backup / restore on the same database with hasura CLI

After creating the migrations, I´ve deleted all my tables in Hasura and wanted to recreate them by applying the migrations, but I´m running into this issue:

[code]

Are there any restrictions applying the migrations that I´m not aware of?

[2020-01-04 10:16] joshuarobs commented on #3633
I think I had that same issue as my issue as I described in https://github.com/hasura/graphql-engine/issues/3632. I just saw it once and forgot exactly what the error was.

I'm not sure if its the same bug I encountered, but if it is, basically the answer to solving this is to only have one folder in `migrations` with `init` in it. That means, you may have multiple folders e.g. `15780405824_init`

[2020-01-04 18:23] lexi-lambda commented on #2022
Thanks for the pointer, @t3hmrman, that’s hugely helpful.

[2020-01-04 20:22] brandonpapworth commented on #2735
@rrjanbiah not to step in the Hasura team’s toes, but I worked around this sort of problem with great results. Worth noting that many data has a `created_at` column with millisecond accuracy.

Basically, my subscription is set to limit the results to 1, sorting by `created_at`, and only returns the record’s `id` and `created_at` fields. The code client-side keeps track of the last record it has re

[2020-01-04 20:58] denizkenan commented on #3610
@danhogan
Now a windows user to be honest. But, have you tried to run `mkdir .circleci/postgres:12.0-alpine-postgis3` ?

if it fails, you get your answer.

Why not use a docker container to develop hasura on?

[2020-01-04 21:15] denizkenan commented on #3606
@tom-pryor : adding schema name as prefix to query is crucial to be honest. For example, our all hasura applications relies on this feature.
I can think of couple of ways to achieve a workable solution without changing hasura behaviour:

most logical one to create an interface between hasura and your client where correct query is generated. In other words, you can this query:

[code]
to

[code]
th

[2020-01-04 21:20] denizkenan commented on #3591
We use both Hasura and OpenFaaS. Super happy...

[2020-01-04 21:37] rccoe commented on #2326
I’ve gotten it up and running on Cloud Run. Event triggers are unreliable, however, and will sit in pending for a long time.

[2020-01-04 22:48] bjensen commented on #2836
I would like to know about this as well..

[2020-01-05 08:49] fred8617 commented on #3565
![image](https://user-images.githubusercontent.com/35049517/71777464-4dede100-2fdb-11ea-93de-faa0f9d659bb.png)
my temp solution is apply the permission via cli

[2020-01-05 11:11] kesavkolla commented on #2208
My usecase also very similar.  I've single keycloak server where each tenant is one single realm.  I want to use single hasura server for all tenants.  For keycloak jwks url for each tenant/realm is different.  I want an ability to inject the x-hasura-org-id in jwks url.

[2020-01-05 13:42] rlataguerra opened #3635 "Standard buildpack with a vendored binary"
With the 1.0.0 release, is the creation of a standard buildpack maintained by the hasura team something that will happen ?

At the moment, for my own need, I created a very basic one : https://github.com/wecraftapps/hasura-buildpack (I'm willing to continue to improve it myself, but will be happy if people are interested to contribute 👍)

[2020-01-05 14:30] wenerme opened #3636 "delay jwk fetch"
1. Hasura use jwk url to fetch pub keys
2. the jwk is hosted by a nextjs server
3. the server use admin secret to get jwk from hasura from db

Due to the early initializing of jwk, the server can not get jwk from hasura, hasura can not startup.

If hasura can delay jwk initialize when needed can break the dependency cycle.

[2020-01-05 16:25] barbalex commented on #3354
I have now rebuilt my api from scratch with these changes:

- using a PostgreSQL instance on the same droplet as the api instead of a hosted db
- using a PostGIS-capable PostgreSQL instance due to the fact that the project needs PostGIS
- setting `max_locks_per_transaction` to 2000
- using the newest hasura version (1.0.0)

Here is my docker-compose.yaml in case this helps someone else:
[code]

No

[2020-01-05 19:13] sseppola opened #3637 "Using column presets with session variables (X-Hasura-User-Id)"
I've got a simple setup with a Users table. I'm testing out Hasura, and just want an authenticated user to be able to insert their own user row (if it doesn't exist), however they cannot set their own `id` column, that will be set from the session variables.

This is my config:
<img width="1157" alt="Screenshot 2020-01-05 at 20 06 14" src="https://user-images.githubusercontent.com/4065840/71784732

[2020-01-05 20:00] todd-elvers commented on #3345
I tried setting a GraphQL field name for a column and the underlying `ALTER TABLE` command failed with the message "cannot alter type of a column used by a view or rule".  This means setting a GraphQL field name can fail for every kind of reason an `ALTER TABLE` statement could fail, which seems less than ideal.

Any progress on this?

[2020-01-06 04:53] snazzypants commented on #3637
Did you include `x-hasura-role` with your corresponding role (it looks like it's `user`)?  Omitting this has bitten me several times in the past.

[2020-01-06 05:06] 0x777 commented on #3636
Maybe you can break the cycle by adding the keys that your nextjs server requires as environment variables?

[2020-01-06 05:28] joshuarobs opened #3638 "hasura migrate commands not working with GitHub Actions"
Edit: I've added a test repo that anyone can clone and try it out for themselves: https://github.com/joshuarobs/making-hasura-work-with-github-actions
Simply just clone it, push something to master and watch the magic "happen" (hint: it doesn't)

Here's a link to the latest build run log which failed: https://github.com/joshuarobs/making-hasura-work-with-github-actions/runs/375147959

This is my `

[2020-01-06 05:51] wenerme commented on #3636
The  key is generated at first run, then persist to db. My workaround is use a fake jwk when first request jwk if hasura init failed, then refetch key from hasura, and save key to temp file. But have to restart hasura to make it fetch jwk again.

[2020-01-06 07:08] #2655 closed

[2020-01-06 07:18] #3170 closed

[2020-01-06 08:10] sseppola commented on #3637
Good call @snazzypants! I'm expecting it to execute user presets, but I'm actually admin 🤦‍♂
[code]

Thanks!

[2020-01-06 08:10] #3637 closed

[2020-01-06 08:25] 0x777 opened #3640 "[RFC] Release process"
The idea is to have
1. Frequent releases: we should ship features as soon as they are done.

   We can start with a bi-weekly release schedule - every 2 weeks we release new features that we are have been working on. We can tweak this as and when it is required (maybe a larger window if we are working on large features). There will always be cases where we will have to make releases outside this c

[2020-01-06 08:37] levid commented on #2768
I would also really like this feature. Currently I have to update multiple records individually and this would be so much easier and more efficient.

[2020-01-06 09:51] shahidhk commented on #3621
fixed in https://github.com/hasura/graphql-engine/commit/bf98f15dcf0afcdc64efca57dbc66ee28099fc27

[2020-01-06 09:51] #3621 closed

[2020-01-06 10:08] malikkamranabid opened #3641 "Add feature to refresh table via clicking refresh icon"
Some time table didn't get automatically refresh. So we need to refresh the page. Why cant we have a refresh icon on UI.
We can simply click the icon to avoid refreshing the page

[2020-01-06 16:21] danhogan commented on #3610
I was just trying to follow the directions. It worked after I downloaded the whole thing as a zip.

[2020-01-06 17:02] trival opened #3642 "Breaking change with inserting data into "json" type fields"
I recently upgraded hasura from beta-9 to stable 1.0.0.
My tests indicate that inserting into a field of type "json" now stringifies the data automatically, whereas before i had to stringify the data by hand. Now inserting the string "[1, 2, 3]“ returns the value "\"[1, 2, 3]\"" in queries, whereas before it was just "[1, 2, 3]".
This is not the case with updating. Here the automatic stringificati

[2020-01-06 17:09] colundrum opened #3643 "Track all tables and relationships using curl"
Hi,
I'm looking for curl request to track all tables and relationships in all schemas using curl.
Can you give me a little help about formating the request?
Thanks

[2020-01-06 17:19] relvao commented on #1609
Hi. Thanks for such an amazing server.

We're setting up a project in AWS using ECS/Fargate. As far as I know AWS ALB doesn't support url rewrites. It seems the best option for us is to use subdomains. Having a config for the path would be amazing and would allow all our apps to be served under one domain. Even something as defining a url prefix would already be great.

NGINX can work (as suggeste

[2020-01-06 18:51] CTOJoe commented on #1217
I just ran into this issue. It does not seem to be resolved yet. If I have a column with type "timestamp without timezone". When querying the aggregate, the max and min is missing for the column. If I change the column to type "timestamp with timezone" the max and min aggregate is available.

Here is the column I set to with timezone.
<img width="711" alt="Screen Shot 2020-01-06 at 1 38 34 PM" src

[2020-01-06 19:11] dminkovsky opened #3644 "Session variables not passed to SQL function"
I am trying to define a function that receives session variables per https://docs.hasura.io/1.0/graphql/manual/schema/custom-functions.html#accessing-hasura-session-variables-in-custom-functions.

I created the database objects:

[code]

And then tracked the function:

[code]

[code]

When I query the API,

[code]

I get the following error:

[code]

[2020-01-06 19:12] dminkovsky commented on #3644
Oh looks like this is https://github.com/hasura/graphql-engine/issues/3576

[2020-01-06 19:12] #3644 closed

[2020-01-06 21:48] frederikhors opened #3645 "Is it possible to add Global Object Identification to the schema? #federation"
I'm trying to understand if Hasura can join the stack of services already present in the company.

From a quick look in the docs I did not understand if it is possible to add to the schema information requested by https://github.com/nautilus/gateway.

I'm talking about the "Global Object Identification" (https://graphql.org/learn/global-object-identification/).

Example (as explained here: https:/

[2020-01-07 01:21] JoshuaJarman opened #3646 "Unable to Upgrade Hasura Docker Container pointed at External Database"
**PROBLEM:** Upgrading from beta10 to release1 latest gives:
[code]

I have not for the life of me been able to figure out the proper upgrade path for hasura docker instances that connect to external databases.

we get the unsupported version error any time we recreate a docker container with a new version of hasura that points at an existing database. :-(

What is the correct way to upgrade a has

[2020-01-07 01:52] JoshuaJarman commented on #3646
switched to explicit version hasura/graphql-engine:v1.0.0 instead of latest and issue resolved.
what triggers this message/issue?  Any ideas?

[2020-01-07 02:17] tianguohui opened #3647 "How to connect multiple databases on a host through a single husura instance?"
hello!
          I have multiple databases on one host. I want to connect them through a hasura instance, but I can't find a way to configure it. Can such a configuration be implemented?  Thanks

![image](https://user-images.githubusercontent.com/59588791/71863230-2f9cf800-3137-11ea-9a23-530d7a593144.png)

@nirvdrum @lorenzo

[2020-01-07 03:42] denizkenan commented on #3646
this message is thrown, when hasura doesn't know what to do with your catalog version.  beta releases and rc releases are showing weird incompatibilities. I do upgrades manually by clearing catalog schemas (hdb_*) in database and reload metadata. There Hasura recreates catalog, instead of trying to update it.

[2020-01-07 03:47] denizkenan commented on #3643
Here is Hasura Metadata API.
https://docs.hasura.io/1.0/graphql/manual/api-reference/schema-metadata-api/index.html

You can name a bulk request with array of track_table request

[2020-01-07 04:39] joshuarobs commented on #3638
After doing some more brute forcing, to find the root cause of the problem, I think I've finally found a lead.

I ran pg_dump just to see what's in each database and found a discrepancy. This is the command I used: ` docker exec container-name_actions_postgres_1 pg_dump -U postgres -d postgres`. The container name is obtained from `docker ps` and looking at the one that ends with `postgres_1`.

He

[2020-01-07 04:55] JoshuaJarman commented on #3646
thank you, that is very helpful.

[2020-01-07 05:24] joshuarobs opened #3648 "Is it possible for pg_dump to return no SQL data?"
This is assuming you setup a new Hasura container + Postgres container via the instructions found here: https://docs.hasura.io/1.0/graphql/manual/getting-started/docker-simple.html

You can find the container name with `docker ps` and then running `docker exec <container-name> pg_dump -U postgres -d postgres`.

Is it possible for pg_dump to only return something like this on a cloud server?
[code]

[2020-01-07 05:27] tirumaraiselvan commented on #3647
Closing this in lieu of https://github.com/hasura/graphql-engine/issues/821

[2020-01-07 05:27] #3647 closed

[2020-01-07 05:38] 0x777 commented on #3643
@colundrum As @denizkenan pointed out, you can use the metadata APIs, however there is no API to track all tables and relationships in a schema, you'll have to introspect the schema and then issue a query with the tables and relationships that you would like to track. @rikinsk Can you point to the console code which does this?

[2020-01-07 05:47] 0x777 commented on #3646
This error message is thrown when an graphql-engine is run against a database which was initialized by a newer version. You shouldn't be seeing this message unless you are downgrading.

`latest` tag is not a good idea with docker images as docker wouldn't pull the latest version of the image (and will use an older cached image) unless asked explicitly. We recommend you to use the exact version num

[2020-01-07 05:56] ecthiender commented on #3610
@danhogan seems like you're issue is resolved. Closing this then, feel free to reopen if you want to add anything.

[2020-01-07 05:56] #3610 closed

[2020-01-07 06:03] tirumaraiselvan commented on #3452
@danrha Got it. This does make sense from a schema management/customization pov.

cc: @0x777

[2020-01-07 06:05] ecthiender commented on #3636
You can bypass Hasura and directly connect to the db to get the JWK?

[2020-01-07 06:38] wenerme commented on #3636
expose db config to node app is not an option, maybe this case is very rare, if not interest can close this issues.

[2020-01-07 07:47] rakeshkky commented on #3642
Hi @trival,

I tried the following to reproduce the issue with `v1.0.0` :

Postgres schema
[code]
Test queries
1.
[code]
Response
[code]

2.
[code]
Response
[code]

The behaviour of the above queries seems to be fine to me.

Please give GraphQL queries you tried to reproduce the issue. Thank you.

[2020-01-07 09:00] ashishra0 commented on #2719
Should we close this? This bug is fixed.

[2020-01-07 09:23] joshuarobs commented on #3638
Closing this issue as I'm going to combine this issue with a proper one that focuses more on getting Hasura to work with GitHub Actions for a proper DevOps CI/CD pipeline workflow

[2020-01-07 09:23] #3638 closed

[2020-01-07 09:33] joshuarobs opened #3649 "Anyone manage to get Hasura to work in a CI/CD pipeline, e.g. with GitHub Actions?"
This is my original issue (https://github.com/hasura/graphql-engine/issues/3638) that I have closed so that I can put it here, in this more centralised issue.

I've spent the last 2 days trying to get Hasura to work with GitHub Actions, so that I can run tests in the cloud after pushing commits. This is so that I can have a proper DevOps workflow, with proper CI/CD.

I've had no luck in being able

[2020-01-07 12:05] trival commented on #3642
Hi @rakeshkky

Thank you for the quick reply. I can confirm your result. But when I add a relation, the stringification starts:

[code]

response:
[code]

Postgres schema (all created with hasura console)
[code]

[2020-01-07 12:11] trival commented on #3642
Postgres Version (from postgres docker image):
PostgreSQL 11.4 (Debian 11.4-1.pgdg90+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 6.3.0-18+deb9u1) 6.3.0 20170516, 64-bit

[2020-01-07 12:25] trival commented on #3642
I also see that this only affects the insert mutation itself:
[code]
returns as expected
[code]

[2020-01-07 12:27] rrjanbiah commented on #2735
@brandonpapworth Thanks for sharing, much appreciated!

[2020-01-07 12:55] MatthiasGrandl commented on #3223
@rakeshkky what's the state on supporting computed columns in `where` and `order_by` ? This would make my life a lot easier.

[2020-01-07 13:29] MatthiasGrandl opened #3650 "Error querying computed double precision."
I think I stumbled on a potential bug. I have a computed `double precision` column.
It's the duration between `timestamp` `a` and `b` if there is no non computed column with type `double precision` I get an error `type info not found for: 'float8'` . It works as expected after creating a random static column with type `double precision` in the same table.

So the error appears to only occur, when

[2020-01-07 14:21] mnesarco commented on #3580
Sometimes I need to tell hasura to stop retying and mark the event as failed just from the webhook.
There is already a mechanism to tell hasura to retry after some time returned in a header:

Retry-After

So it could be nice if setting it to a negative number signals hasura to stop retrying.

PS. O know I can just return status=200 and hasura will stop retrying but it will mark the event as delive

[2020-01-07 16:57] zwl1619 opened #3652 "Could add an example for flutter-web?"
Could add an example (boilerplate) for flutter-web?

[2020-01-07 17:29] Nico-L commented on #1779
Hello, I'm looking to setup hasura with keycloak. I entered the script mapper and then I'm trying to configure the JWT mode and trying to set HASURA_GRAPHQL_JWT_SECRE. The json config is composed of the type and the jkw url of the my keycloak server. I received the following error:
[code]

I really don't know how to fix this. My guess was a problem of criptography but I tried every accepted config

[2020-01-07 17:40] webdeb commented on #1779
@Nico-L best you to provide the json as a string

[code]

[2020-01-07 19:07] flybayer opened #3653 "/healthz should not return OK until auto migrations have finished"
I'm using the `.cli-migrations` docker image for auto migrations.

### Problem

`/healthz` endpoint returns OK before migrations have finished. This ruins my zero-downtime deployments on Render.com which uses `/healthz` as the indicator for when the new deployment is ready.

[2020-01-07 19:15] flybayer opened #3654 "Auto migrations takes a very long time (20 mins)"
I'm deploying this Dockerfile to Render.com which hosts both the app and the DB.

[code]

### Problem

Migrations are taking a **very** long time. For example, the below commit took 20 minutes for the migrations to run.

[code]

I'm happy to help debug this, but I don't know where to start. Migration logging doesn't give any visibility into what's happening.

[2020-01-07 19:18] JoshuaJarman commented on #3646
Ah, so this only happens on downgrades? hmmm.
Maybe latest wasn't grabbing the latest locally, because the explicit number version worked, that makes a lot of sense.  👍

This really helped clear up this mysterious error, when one might experience this, what the cause is, and ways to resolve it.  👏

1. The unsupported version error occurs when a container is applied to a database that has already h

[2020-01-07 19:20] #3646 closed

[2020-01-07 20:21] lexi-lambda opened #3655 "server regression: JWK is rejected due to Cache-Control header parsing"
As reported on Discord, the changes in #3446 do not always properly parse the value of the `Cache-Control` header, causing the server to fail to start. For example, the response returned by Google Cloud IAM includes a header of the shape

[code]

and this is rejected by `graphql-engine` on startup, causing it to exit with the following somewhat unhelpful message:

[code]

It would be nice if we co

[2020-01-07 20:27] thefliik commented on #2719
Testing in version `1.0.0` of the CLI shows that this has been fixed. Closing.

[2020-01-07 20:27] #2719 closed

[2020-01-07 21:22] jberryman opened #3656 "Better logging/telemetry for subscriptions"
The way we collect metrics for subscriptions doesn't permit us to sample and get the information we need to debug issues like e.g. https://discordapp.com/channels/407792526867693568/631379389111599114 (from Jan 6)

https://github.com/hasura/graphql-engine/blob/master/server/src-lib/Hasura/GraphQL/Execute/LiveQuery/Poll.hs#L210

Related: https://github.com/hasura/graphql-engine/pull/3622

[2020-01-07 22:07] Nico-L commented on #1779
@webdeb that was a quick answer! A string is required if put the config directly in the docker-compose file, but I have to supply the json object if I use env variables. Does it make sense to you?

Anyway, the problem was in the realm keys definition: I had a array of 3 keys, two of them wasn't supported by Hasura.

Everything seems OK, even though I expected the jwt-secret to appear in the Reques

[2020-01-07 22:13] webdeb commented on #1779
@Nico-L
had this problem as well, check out my gist with a mapper: https://gist.github.com/webdeb/d8a99df9023f01b78e3e8ff580abe10b

---

Basically, you have to translate the js array into a Java List

[code]

[2020-01-07 22:21] webdeb commented on #1779
A side-note on "x-hasura-role" don't put it into the JWT, it's better to provide it via the headers, so you can use different roles (of allowed) for different tasks.

[2020-01-08 00:47] dilame opened #3657 "allow specifying the schema where pgcrypto is (or can be) installed"
Right after i installed it to heroku and input my existing database URL. Now i have 43 routines with names like `crypto`, `pgp_*****_*****` mixed with my own business-logic routines. It's a bad experience for me 😿 You are using `hdb_***` schemas, why you need to modify my `public`?

[2020-01-08 03:06] #3333 closed

[2020-01-08 03:43] coco98 opened #3658 "Customise error messages for insert permission violations"
For every permission rule for insert, could we take a "error message" string from the developer?
This error message that can then show up in the "messages" key of the graphql error.

@paf31 Regarding the bit where we print the record in the error message (in the demo you showed) eg: `(23, phil, test5@hasura.io)`.
Is that record printing permission safe? Meaning, does it respect the select permissi

[2020-01-08 03:59] hgiasac commented on #3656
@jberryman I have implement more log metrics for subscription (`query_execution_time`, `response_size`) PR. I don't know if it helps this issue.
https://github.com/hasura/graphql-engine/pull/3584

If you need to update more logs metrics, I hope the payload format shouldn't be breaking change.

[2020-01-08 03:59] webdeb opened #3659 "Unnecessary headers expected"
Imagine email-subscriptions permissions for an anonymous-role are set to this:

(simplified)
[code]

By requiring x-hasura-secret in update, I get an error, when trying to insert, which should't require the x-hasura-secret header.

[code]

Is this a bug, or a feature?
Thanks

[2020-01-08 04:47] webdeb commented on #3659
The funny thing is, that if I pass "something" the error disappears, but stills requires to put there even an empty string or so.

Btw. I found it very unpleasant to read the code, not because its haskell, which I do not have any experience with, but just because the naming conventions are so cryptic. I feel, that my brain needs a lot of energy to first understand the variables acronyms, before it

[2020-01-08 06:42] coco98 commented on #3658
Related conversation on discord: https://discordapp.com/channels/407792526867693568/428469959530643466/664293710036598799

[2020-01-08 08:04] rikinsk commented on #3657
@dilame These don't seem to be Hasura specific routines. These would either be default Postgres routines or routines added by some Postgres extentions.

[2020-01-08 08:19] dilame commented on #3657
But it appeared right after i deployed hasura. I started developing this database 2 weeks ago, i'm perfectly know all the routines and extensions in it. This routines wasn't exist before i give hasura access.

[2020-01-08 08:37] tirumaraiselvan commented on #3657
@rikinsk Does Hasura try to install pgcrypto if its not present?

[2020-01-08 08:44] rikinsk commented on #3657
@tirumaraiselvan I don't believe so. Installing it is a part of the Postgres permissions setup instructions we have in [docs](https://docs.hasura.io/1.0/graphql/manual/deployment/postgres-permissions.html) but I dont believe it is done automatically.

@ecthiender can add more insights

[2020-01-08 08:52] ecthiender commented on #3657
@tirumaraiselvan @rikinsk looks like it does https://github.com/hasura/graphql-engine/blob/master/server/src-lib/Hasura/Server/Migrate.hs#L95

Not sure why we create it in public schema though.

[2020-01-08 09:08] dostalradim opened #3661 "pg_dump and pg_restore with hasura schemas"
Hi, I have a problem with connecting new Hasura instance (graphql-engine) to my existing database with Hasura schemas created. Is it right way how to move my database to another place? Or what is the right to accomplish this task? :) Is required to always move only my schema and run graphql-engine always again?

Thank you

[2020-01-08 09:09] Nico-L commented on #1779
@webdeb I wish I found your example sooner, I spend a bit of a time looking for the script mapper before realizing that I had to add the -Dkeycloak.profile.feature.upload_scripts=enabled
 command :)

Great tips, I'll modify my script accordingly.
Thank you

[2020-01-08 09:21] marionschleifer commented on #3268
@mathieutu I'm closing this issue. Feel free to re-open if you would like to add something 🙂

[2020-01-08 09:21] #3268 closed

[2020-01-08 09:21] tirumaraiselvan commented on #3653
I think this is related to https://github.com/hasura/graphql-engine/issues/3479

@flybayer A fix in the `.cli-migrations` image has been merged and will be out in the next release. Let's see if the issue disappears then.

[2020-01-08 11:40] LDesirest commented on #2943
Hello ! I was asking myself the same question.

I think using schema is the way to go, create all you SQL in a private schema and then create a v1 schema with only views that reference your private schema. When you need a breaking change, create a v2 schema with your new views. You can freely modify you original private) schema, all you might need to do is update your v1 so it exposes data the sam

[2020-01-08 11:50] LDesirest commented on #2943
Hello ! I was asking myself the same question.

I think using schema is the way to go and I don't understand why you think "having a backend in SQL" is a bad thing, Hasura is built exactly for that no ? For me Hasura is really not about "obsoleting backend", you'll always need a backend. But more having a single source of truth, your SQL schema describe you API (and "build" the API from it). So in

[2020-01-08 12:37] trival commented on #3642
Thanks for taking care of this!
Btw: I am using autogenerated Typescript types, that required the "json" type field to be a string in my code. That is why I was always applying `JSON.stringify` before inserting. By investigating the issue I learned that I can actually pass in the data as is, which makes more sense and is more usefull.

[2020-01-08 12:40] tirumaraiselvan commented on #3436
@franciscolourenco This will probably fall under the umbrella of schema masking, something we are actively thinking about. So you can only expose the `table_by_pk` field which requires an `id` as input.

Also related to https://github.com/hasura/graphql-engine/issues/3452

[2020-01-08 12:42] tirumaraiselvan commented on #3635
cc: @0x777 @coco98

[2020-01-08 12:57] tirumaraiselvan commented on #3645
Related to #721

[2020-01-08 13:02] marionschleifer commented on #2494
This issue will be solved by remote joins which will be released in the next few weeks. Closing this issue.

[2020-01-08 13:02] #2494 closed

[2020-01-08 13:04] marionschleifer commented on #3201
I'm closing this, as it's tracked here: https://github.com/hasura/graphql-engine/issues/1902.

[2020-01-08 13:04] #3201 closed

[2020-01-08 13:05] marionschleifer commented on #3377
@darknoon I'm closing this issue. If you would like to add something, feel free to re-open 🙂

[2020-01-08 13:05] #3377 closed

[2020-01-08 13:06] marionschleifer commented on #3057
@yyuankm1976 I'm closing this issue. If you would like to add something, feel free to re-open 🙂

[2020-01-08 13:06] #3057 closed

[2020-01-08 13:10] 0x777 commented on #3657
`pgcrypto` provides `gen_random_uuid()` which can be used as a default for `uuid` columns. Some of graphql-engine's `uuid` columns use this function. So why not install this extension into `hdb_catalog` schema? [Currently in Postgres](https://www.postgresql.org/docs/12/sql-createextension.html), an extension can only be installed once and only into a single schema, so if the extension is installed

[2020-01-08 13:35] franciscolourenco commented on #3436
@tirumaraiselvan in my case I still need to allow logged in users to list their own items. So in summary, being able to set different permissions for `table` vs `table_by_pk`.

Would schema masking allow this?

From a hasura user standpoint I would imagine an additional column being added to the permissions table in `data/schema/public/tables/:tablename/permissions`.

[2020-01-08 13:40] tirumaraiselvan commented on #3436
@franciscolourenco Gotcha. Yeah, this will need more granular permissions at the read level which can be solved by #877 or #3442 . FYI, we have both these issues in the immediate roadmap.

[2020-01-08 14:38] franciscolourenco commented on #3436
@tirumaraiselvan I have read both those issues and comments but honestly couldn't understand how they would help in my situation. It would still not be possible to assign different rules to `select` vs `select_by_pk` queries right?

[2020-01-08 15:23] tirumaraiselvan commented on #3436
@franciscolourenco Sorry, I got little thrown off. I have given it more thought. Here is what I am thinking:

Suppose you had a role `open_ids`, which masks all fields except `table_by_pk`. There is no row level permission for this role.

Now, suppose you had another role `me`, which doesn't mask anything or maybe masks `table_by_pk`. There is row level permission equivalent to `where id = X-Hasur

[2020-01-08 15:53] webdeb opened #3665 "add skip execution steps to migrate squash help examples"
Squashed migrations are breaking the system.

Bug description:

After squashing migrations (also already migrated ones) the system cannot apply this migration to the database, because the newly created migration includes already migrated stuff.
You basically get a bunch of "already exists" errors..

I think, I understand where this kind of migrations makes sense.
It will work if you squash new mig

[2020-01-08 15:59] robnewton commented on #3658
We've got a weird issue with permissions I could use a second pair of eyes on
we have a moves table with a related lane.
permissions on the table for the dispatcher role we are using verifies that a header matches a value from the related lane table
an upsert mutation fails with permissions error if we do a mutation to moves
however if we include the lane_id in the mutation of the move (the id tha

[2020-01-08 16:07] webdeb commented on #3665
... and include a Readme inside the generated migrations folder, I think this would provide enormous help and prevent from common mistakes

[2020-01-08 17:04] Mike96Angelo opened #3666 "On-conflict support for partial unique indexes"
I was trying to add Hasura to an existing project and noticed that my Postgresql Unique Indices weren't showing up in the Hasura Console.

These Postgresql Unique Indices are also missing in the **on_conflict constraint enum** in the GraphQL

**NOTE**: I am not using Hasura to manage my db migrations.

Docker Image: **hasura/graphql-engine:v1.0.0.cli-migrations**

GraphQL query:
[code]
Responds wi

[2020-01-08 17:18] KirillSuhodolov commented on #1291
Hi.
What is current status?
Lack of this feature is a blocker for me start using hasura.io for new projects

[2020-01-08 21:05] aerskine commented on #2146
Use `trim('')` or `format('')` as the default value in the UI -- either are easily recognizable as string functions.

[2020-01-08 21:25] robnewton commented on #3658
We were able to get around this issue by changing to an update instead of upsert. That works. We still have some places were an upsert is required however and this query does not work now.

[2020-01-08 21:50] dminkovsky opened #3667 "Cannot view or set bigint max value in console"
I have a row with a bigint value of 9223372036854775807 ("`max_bigint`"). When I view the row in the console, the value displays as 9223372036854776000. When I try use the console to set the value to `max_bigint`, I get the following error:

[2020-01-08 23:05] dilame commented on #3657
Maybe we should install this extension in `pgcrypto` schema? It looks like a right answer for me. `pgcrypto` is module, so it should have it's own namespace. If i need any of it's functions i can use it regardless hasura, and hasura still have an access to necessary functions.

[2020-01-09 00:13] #3354 closed

[2020-01-09 00:29] dminkovsky commented on #141
Expanded in https://github.com/hasura/graphql-engine/pull/3498

[2020-01-09 06:10] aaronhayes commented on #3648
You should be able to pass in a `--schema-only` flag. Just FYI hasura has a [pg_dump API Built-in](https://docs.hasura.io/1.0/graphql/manual/api-reference/pgdump.html)

[2020-01-09 06:58] 0x777 commented on #3666
Postgres's `ON CONFLICT` clause requires you to specify the name of the unique **constraint**, you cannot use the name of the unique index. You can create a unique constraint as follows:
[code]
This will automatically create a unique b-tree index on the specified group of columns.

cc @marionschleifer We'll need to add this to the docs where we talk about upserts.

[2020-01-09 07:43] mklueh commented on #3633
@joshuarobs Hi, in my case it was a fresh hasura instance with just two tables. I did a single backup, meaning my migrations folder had just one migration directory

[2020-01-09 08:03] remy-wanteeed commented on #1175
Any news about that?
According to https://docs.hasura.io/1.0/graphql/manual/event-triggers/payload.html, once the event is triggered we need then to query hasura to have linked data then use it. We can enforce to have less call to hasura if it can provide all info.

As suggested before, I think we should add the possibility to add a graphql query along with the event and hasura with execute it bef

[2020-01-09 08:04] DblK commented on #1175
Any news about that?
According to https://docs.hasura.io/1.0/graphql/manual/event-triggers/payload.html, once the event is triggered we need then to query hasura to have linked data then use it. We can enforce to have less call to hasura if it can provide all info.

As suggested before, I think we should add the possibility to add a graphql query along with the event and hasura with execute it bef

[2020-01-09 08:07] tirumaraiselvan commented on #1175
One of the biggest concern for having relationship data in event trigger is how do you reason about consistency in an async system.

E.g. Say, you send a payload with a table and its relationship. Before the event is processed by the webhook, the relationship gets modified. Now, when your webhook is processing the data, should it or should it not check for the current state of the relationship bef

[2020-01-09 08:16] 0x777 commented on #3661
What are the exact steps that you followed?

(I'm answering based on the assumption that you want to copy an existing database which is being served by graphql-engine to a new database)

You can always pg_dump your entire database, import it into a new database and **then** start graphql-engine on the new database. This will work as expected.

However, if you have already started graphql-engine on

[2020-01-09 08:27] DblK commented on #1175
Thanks for the clarification of what was missing in this issue.
I understand the concern about the fact the data is up to date or not; but for my point of view this is always the case.

Here is an example:
1. Hasura send the event
2. The function knows there is new data and new linked info
3. The function call hasura to retrieve
4. An update occurs on the system
5. The function handled the data fr

[2020-01-09 08:53] dariocravero commented on #1175
Hey @tirumaraiselvan,

The most common use case for us was to fetch relatively static data like a user's name or email to be able to send an email.

I agree that if the data is dynamic it becomes more complex since the lambda could be called at different point in times through the retrying mechanism.

What about acknowledging that the data is a snapshot at the time when the event was triggered?

[2020-01-09 09:05] 0x777 commented on #3659
The update permission's `filter` condition has to be applied during an insert when `on_conflict` is used, something along the lines of `ON CONFLICT ... SET ... WHEN <update-condition>`.

Currently the server blindly tries to check for the existence of session variables in both insert's `check` expression and update's `filter` condition during an insert operation. This is a bug, the server should d

[2020-01-09 09:16] meerasndr commented on #305
This issue came up today on Discord:
https://discordapp.com/channels/407792526867693568/535727661167673364/664486463014043668

[2020-01-09 09:17] joshuarobs commented on #3648
@aaronhayes What do you mean I should be able to pass that flag in? Is this related to pg_dump, or with another function that creates the server? If it's related to pg_dump, I'm not sure how this will help my issue of Hasura not working for CI/CD

[2020-01-09 09:19] 0x777 commented on #3636
Adding a delay for fetching the JWK delay would be outside of our scope, however I think there is a different way to look at this problem. A more useful feature would be if graphql-engine can start even if the JWK server is not reachable during the startup, in such cases, it should keep retrying in the background to get the configuration from the JWK server. During this time, serving requests thro

[2020-01-09 09:28] 0x777 commented on #3630
@denizkenan Are you sure that graphql-engine is passing a stringified object to the upstream server? Can you dump the request on the remote server to see if that's the case?

[2020-01-09 09:44] #3591 closed

[2020-01-09 09:51] 0x777 commented on #3564
@cah-rob-snider I'm closing this issue, please feel free to re-open this if you have more context to add.

[2020-01-09 09:51] #3564 closed

[2020-01-09 09:55] shahidhk commented on #3649
@joshuarobs What is the error/issue that you're hitting with this configuration?

[2020-01-09 10:00] joshuarobs commented on #3649
@shahidhk
For my first repo attempt (full details here: https://github.com/joshuarobs/making-hasura-work-with-github-actions/commit/359867222135dd31e749b9e81327ad1c610d7843/checks?check_suite_id=391660183)

This is the error: `time="2020-01-09T09:21:05Z" level=fatal msg="version check: failed to get version from server: failed making version api call: Get http://localhost:8080/v1/version: EOF"`

I

[2020-01-09 10:15] wenerme commented on #3636
This will work, when this implemented, I don't need to return fake jwks, just throw 404.

Also, current version(1.0) will add `content-type: application/json` when fetch jwks, this is incorrect. Take a long time to find out, I use nextjs as server, they don't allowed this before. https://github.com/zeit/next.js/issues/9834

[2020-01-09 11:27] 0x777 commented on #3572
@paf31 Will this be fixed with #3598?

[2020-01-09 11:36] 0x777 commented on #3657
I agree. We can maybe provide a flag to specify the schema in which `pgcrypto` extension is installed. I'm changing the title to reflect this.

[2020-01-09 11:44] 0x777 commented on #3608
As @rikinsk pointed you, you can't introspect the server after enabling allow-list unless the introspection query itself is added to the allow-list. This is the introspection query that is used typically by graphiql like interfaces:
[code]

I'm closing this issue, feel free to re-open this if you this doesn't fix your issue.

[2020-01-09 11:44] #3608 closed

[2020-01-09 11:45] joshuarobs commented on #3649
I managed to solve this, finally.

This is the GitHub Actions yaml file I use:

[code]

Note this only worked with it running a `js` file that says Hello World. I'm not sure if you can actually make a request to `localhost:8080` and make a GraphQL query. Also, you'd have to migrate some stuff first, from the repo. But knowing that you can get a Hasura server working with Postgres on GitHub Actions

[2020-01-09 11:45] #3649 closed

[2020-01-09 11:52] joshuarobs commented on #3648
Solved the issue making it work with GitHub Actions

[2020-01-09 11:52] #3648 closed

[2020-01-09 12:22] dostalradim commented on #3661
Hi, thank you for your reply.

I just run this command "pg_dump -Fc --no-privileges --no-owner mydatabase" in production environment and this database is already tracked with hasura instance. After this I run "pg_restore -d mydatabase dump.bin" to test environment and create new hasura instance in another docker and put to it configuration for the restored database but new hasura failed to start b

[2020-01-09 12:51] 0x777 commented on #3627
@andycmaj I couldn't reproduce this. Maybe I'm missing some other step? I created two tables, `author` and `article` where `article.author_id` points to `author.id`, added both the relationships and then tried renaming `article` table and `author` table, both go through successfully.

[2020-01-09 15:10] Mike96Angelo commented on #3666
@0x777 Perfect that worked Thanks!

[2020-01-09 15:21] tafelito commented on #1175
Why not make it optional ? If I know my relation data is not gonna change, I add the related tables on the event trigger, if the data from the relation might change, then I tell the trigger not to send the related data. So in cases where you need an user email, like @dariocravero mentioned above, you don't need to query hasura a 2 time

[2020-01-09 15:49] m0ngr31 commented on #3354
So this should be fixed in the new beta then?

[2020-01-09 15:52] dtheodor opened #3670 "Store hasura metadata in a different database"
Is it possible to have the hasura metadata (hdb_catalog, hdb_views) stored in a different database? It's my understanding that they need to reside in the same database with the actual business data. It may be desirable to decouple the database that hasura has read-only access, with the database that hasura writes to. An example where this could make sense is when business data have different avail

[2020-01-09 16:07] areeba-arshad commented on #305
Hi, I have faced the same issue, is there any update on it. or perhaps is there any other work around.

[2020-01-09 16:50] erikhSSI opened #3671 "docs: improve docs for "metadata reload" for databases migrations and a separate hasurauser"
Is this the right place to report this?  It relates to docs for "reload" which I think was added here?
https://github.com/hasura/graphql-engine/pull/3264

A Very Important Thing is missing in the docs
-------------
specifically at
https://docs.hasura.io/1.0/graphql/manual/migrations/manage-metadata.html

For someone who is managing their database schema with Rails migrations...

After doing the mi

[2020-01-09 17:24] paf31 commented on #3572
I expect so, yes.

[2020-01-09 17:50] jberryman commented on #3656
@0x777 does Toan's #3584 get you all the way there? We now log elapsed time for queries over websocket

[2020-01-09 19:51] lexi-lambda commented on #3654
@flybayer I think the issue you describe might be fixed by (or at least helped by) the recently-merged #3394. It would be great if you could try out one of the development builds from that PR—Docker image `hasura/graphql-engine:pull3394-17b1de33` would be the one to use—and see if that fixes your problem. If it does, then problem solved, but if it doesn’t, it would be very helpful to know so that

[2020-01-09 20:46] lexi-lambda commented on #3354
We decided to postpone the beta release to fix #3655 first, but the patch for that should land in the next few days, and we’ll release after that. This issue will be fixed in that release.

[2020-01-09 21:42] andycmaj commented on #3627
thanks for checking @0x777

i'll try to revert to that previous state and see if i can get a more specific repro!
if not, i will close.

thanks again

[2020-01-09 22:02] andycmaj commented on #3627
ok some context:

this happened on server version `hasura/graphql-engine:v1.0.0-rc.1` originally. but i just tested on `v1.0.0` and i still repro.

here are the relationships i have:

<img width="724" alt="Screen Shot 2020-01-09 at 1 57 52 PM" src="https://user-images.githubusercontent.com/97470/72108440-79791000-32e8-11ea-985d-cf2b510990cc.png">

lemme know if you still can't repro with these and

[2020-01-09 22:20] flybayer commented on #3654
@lexi-lambda I'm trying to use the PR image, but it's failing:
[code]

[code]

[2020-01-09 22:37] lexi-lambda commented on #3654
@flybayer Ah—it looks like we don’t build `.cli-migrations` images for development builds, for whatever reason. I think we probably ought to change that, but for now I’ve built one manually. Try `hasura/graphql-engine:pull3394-b26b7d05.cli-migrations` instead.

[2020-01-09 23:10] flybayer commented on #3654
@lexi-lambda I made it further, but now it gets stuck waiting for the temp server to start:

[code]

[2020-01-09 23:26] lexi-lambda commented on #3654
Question: are you running the image against an empty database, or against a database with something already in it?

[2020-01-09 23:38] flybayer commented on #3654
Empty

[2020-01-09 23:43] lexi-lambda commented on #3654
Curious! For context, this is what I get when I run that same image against my local Postgres database:

[code]

The last message appears about three seconds after the one before it. But it looks like your instance is getting stuck on the previous step.

Could you maybe tell me what the Postgres version is? I’d like to figure out a way to reproduce the issue locally, but I’m not entirely sure wher

[2020-01-09 23:48] flybayer commented on #3654
Postgres 11.

Here's the Render.com YAML file I'm using to deploy this:
[code]

[2020-01-10 01:48] pnappa opened #3672 "Performance problem with queries as a non-admin user"
Hi all,

I'm currently having a query take longer than previously (I have recently updated, but am not 100% confident this is a regression).

Essentially, when performing a query as an admin user, it takes under a split second to complete, however when changing to be a regular user the query takes over 24 seconds. The regular user has a permission attached (relatively complex) which I imagine to b

[2020-01-10 02:16] lexi-lambda commented on #3672
Could you include which version of `graphql-engine` you’re using?

[2020-01-10 02:45] pnappa commented on #3672
Stripped out the admin secret, and other environment variables, but here's my docker-compose:

[code]

It's version 1.0.0.

[2020-01-10 04:22] lexi-lambda commented on #3654
I spent some time investigating this. I spun up a service on Render using the same configuration you provided, and indeed, I discovered startup was *really* slow! So I connected to the database directly and ran some queries to see what the database performance was like.

The answer to that question seems to be “terrible.” Here’s a query `graphql-engine` runs as part of inspecting the database sche

[2020-01-10 04:59] #3524 closed

[2020-01-10 05:02] #3543 closed

[2020-01-10 05:04] lexi-lambda commented on #3672
Thanks! Could you also share the query that’s taking too long? And, ideally, the relevant bits of the database schema? It would help a lot to reproduce the issue locally.

[2020-01-10 05:07] pnappa commented on #3672
Sure thing - do you mind if I send it privately?

[2020-01-10 05:10] lexi-lambda commented on #3672
Sure thing: send me an email at alexis@hasura.io, and I’ll take a look and/or pass it along.

[2020-01-10 05:25] pnappa commented on #3672
Okay, done. I included the relevant permission rule, the query, and the generated SQL query. Database schema wasn't included, there's no nice way to export anything, but it should be implicit within the query string.

[2020-01-10 08:35] zhangjinhang00 opened #3674 "Query uses where argument's orexp to return incorrect results. Am I using it incorrectly? How to use orexp"
![image](https://user-images.githubusercontent.com/45816469/72138097-05616980-33c7-11ea-8474-3cf47a7d1a25.png)

![image](https://user-images.githubusercontent.com/45816469/72138174-2fb32700-33c7-11ea-83bb-83083caa4349.png)

[2020-01-10 08:39] zhangjinhang00 commented on #3674
For the same data, the second query did not return a result. It feels that orexp and andexp are the same

[2020-01-10 10:12] #3674 closed

[2020-01-10 10:13] zhangjinhang00 commented on #3674
I am using it incorrectly

[2020-01-10 13:11] dijam commented on #1649
Any update on this ticket? :)

[2020-01-10 15:23] alexebube opened #3677 "non null types created for array relationships in the graphql schema types"
I have these two tables structure below with a one to many relationships between table 1 - organization and table 2 - location

Table 1 - organization
[code]
Table 2 - location
[code]
I created two relationships
 - array_relationship (one to many i.e one organization to many location)
 - object_relationship (one to one i.e one location to one organization)

**expected** schema for organization
[co

[2020-01-10 15:59] #3677 closed

[2020-01-10 18:13] flybayer commented on #3654
@lexi-lambda wow.. someone should give you a raise! Thank you so much.

I upgraded the DB on my throwaway test project, but now I get a version error when deploying this PR image:
[code]
How do I get past this?

Also, I've avoided using the squash command because of the warnings that it may not produce correct results. Can I safely ignore that?

[2020-01-10 18:40] shahidhk commented on #3633
@mklueh

Does this mean that you applied the down migration or you deleted the tables manually?

This error says the function already exists in the database. So, the clean-up was not proper?

[2020-01-10 18:57] shahidhk commented on #305
@areeba-arshad I have just made a fix in https://github.com/hasura/graphql-engine-heroku/commit/783dfa55048816c853414189fdb4b6292d59a0a7

Can you try it out and let me know if it works on Heroku Teams now?

[2020-01-10 19:08] shahidhk commented on #3665
@webdeb `--name` flag already exists.

After you squash a migration, you should mark that migration as applied:

[code]
Will add this to the command help. Renaming the issue for that purpose.

[2020-01-10 19:12] webdeb commented on #3665
@shahidhk thanks, adding to the readme would be really helpful.

One question though, to `migrate apply --version --skip-execution` you have to be connected to the server?

[2020-01-10 19:13] webdeb commented on #3665
Because I am using the `auto-migration` docker container to apply migrations.

[2020-01-10 20:25] areeba-arshad commented on #305
@shahidhk yes its working now, thanks

[2020-01-10 20:31] lexi-lambda commented on #3654
Ugh… that’s my fault, sorry. When I built that image by hand, I screwed up and put a CLI from a different (but near-identical) build into the base image. I didn’t realize it would be a problem, but I didn’t check myself.

Anyway, I’ve now pushed `hasura/graphql-engine:pull3394-e47a8c4b.cli-migrations`, which has appropriately-matching versions, so give that a try. Sorry for the back and forth!

I

[2020-01-10 20:47] nolandg commented on #3572
I'm confused how @go4cas got this to work even over Graphql. I have a table with generated column but when I try to insert an object over Graphql API (and not pass anything for that generated column), I get a Postgres error. Looking at the error message, you can see that Hasura has taken the liberty of adding all columns to the attempted INSERT command, filling in defaults where I didn't pass valu

[2020-01-10 20:59] erikhSSI opened #3678 "Q/docs: best practices for handling metadata.json file with git"
My scenario is
--------
1. Using hasura 1.0.0
2. The postgres is originally part of a rails app that we still use as an admin dashboard for the project and for doing our db migrations
3. Our rails code is in a git/github repo
4. I am adding our hasura metadata.json to our repository for tracking -- to go along with the migrations and the schema.rb

My question is
-----------
Is there any reason no

[2020-01-10 21:16] jonocodes opened #3679 "Consumer view of graphql schema"
The console is a great place to show the full schema. It allows queries to be explored and designed.

I am using allowed_schemas to trim down our schema. Ideally there would be a graphiql like UI for viewing the allowed_schemas only. This would be for consumers not admins.

Perhaps this UI could be shown when visiting the graphql root in the browser.
http://localhost:8080/v1/graphql

[2020-01-10 21:16] coco98 commented on #704
@paf31 That is a perfect summary! The best approach would be to make it harder for `{}` to happen in unexpected scenarios, without changing the semantics of `{}`.

In a brief discussion with @0x777 and @rikinsk the proposed next step is to work on preventing the automatic collapsing of `where: {id: {_eq: null} }` to `where: {id: null}` to `where: {}`.

The case where users don't sanitize their inp

[2020-01-10 21:49] erikhSSI opened #3680 "UI bug: top nav: where did the gear and (?) icons go?"
v1.0.0

Today (as usual) I had a browser open to approximately 1000 pixels and thought I was losing my mind because the gear and ? in the top right were missing.

![image](https://user-images.githubusercontent.com/39960163/72188481-705f7000-33c8-11ea-9e2d-f355abbfa4c4.png)

But no, it's just that the CSS needs some adjusting so they don't fall off the right side of the page.  (see attached image)

[2020-01-10 21:54] paf31 commented on #704
That case sounds like a real bug to me though. Passing `undefined` is not so much collapsing as the value never getting encoded in the first place. If you encode `null`, I don't think it should be equivalent to passing nothing at all. If the query isn't meaningful, we could throw the equivalent of a type error.

[2020-01-10 22:39] nolandg opened #3681 "All INSERT mutations fail, Hasura adds DEFAULT values into generated columns"
When I have a Postgres generated column and attempt to make a Graphql insert mutation, it works perfectly when running as `admin` role with a Hasura admin secret set in the header.

It fails though for any other role, ie. whenever the admin secret is not set. When I make the insert mutation query without being admin, Hasura adds *all* fields into the `INSERT` statement and puts their values as `DE

[2020-01-10 22:41] nolandg commented on #3572
I made more investigation of this and made a new issue: https://github.com/hasura/graphql-engine/issues/3681

[2020-01-11 00:53] flybayer commented on #3654
Well, I see one problem with `squash` — it fails on this project 😏
[code]

With the PR image, I'm now failing on my migrations because of missing environment variables that have since been renamed 😞 Hopefully `squash` will fix this.

[2020-01-11 04:05] #3650 closed

[2020-01-11 07:47] shahidhk commented on #3632
@joshuarobs I assume that you're trying to use Hasura migrations to version control your Postgres schema as well as Hasura metadata.

Here are some points on Hasura migrations:
- They are incremental, versioned by an integer (timestamp)
- Names are just for human readability
- Each migration contains up and down actions for Postgres schema and Hasura metadata
- You can use Hasura console form CLI

[2020-01-11 07:52] shahidhk commented on #3678
@erikhSSI You can use any JSON prettification tools to prettify the output. It should load back fine as long as it is a valid JSON document. Feel free to open a feature request to make the default export from console prettified.

You can also use the Hasura CLI to export metadata in YAML format.

- [Install the CLI](https://docs.hasura.io/1.0/graphql/manual/hasura-cli/install-hasura-cli.html#insta

[2020-01-11 07:54] shahidhk commented on #3665
Yes, you need to be connected to the server to do this one-time action.

[2020-01-11 07:55] shahidhk commented on #305
Awesome! Closing this issue now.

Fixed in https://github.com/hasura/graphql-engine-heroku/commit/783dfa55048816c853414189fdb4b6292d59a0a7

[2020-01-11 07:55] #305 closed

[2020-01-11 13:04] webdeb commented on #3665
@shahidhk this will not work with graphql-engine:v1.0.0.cli-migrations container.
I would suggest to put the squashed `versions: [123, 124]` into the squashed_migration yaml.

[2020-01-11 13:13] webdeb commented on #3665
human interactions should't be required to make rollouts, this is dangerous.

[2020-01-11 13:26] webdeb commented on #3665
@shahidhk / @0x777

Guys, let me add a proposal here:

1. Remove this `squash` feature, as this is not stable and dangerous to use
2. Instead add a group feature, keep the ids for each action.

[code]

So simply do not try to put them in one file, as it is error prone as we saw. It would be enough to keep the id for each action, and just group into folders, because I think this adds the value of o

[2020-01-11 13:33] fvieira opened #3682 "JSONB returned as String returning field of a mutation iff it includes nested fields"
When doing `update`, `insert` or `delete` mutations and requesting a JSONB field inside the `returning` field, it will either return as JSON or as a String depending on whether I request some nested field or not.

Example without nested field (area is the JSONB field):

[code]

[code]

Example with nested field:

[code]

[code]

I'm on version 1.0.0 of Hasura, and while I found a PR (https://githu

[2020-01-11 16:11] shahidhk commented on #2750
Close when the latest snapshot is published on digitalocean: `hasura-marketplace-snapshot-1578731957`

[2020-01-11 16:29] shahidhk commented on #3665
Migrations are supposed to be squashed on dev and then applied to a deployed instance.

You're not supposed to squash migrations that are already applied to the deployed instance. Hence the squash workflow doesn't affect the rollouts.

If at all you want to clean-up a broken migrations state on an instance, follow this guide: https://blog.hasura.io/resetting-hasura-migrations/

[2020-01-11 17:33] webdeb commented on #3665
@shahidhk thank you for the link to the blog post, this is helpful!

I was hoping to get a semantical feature based squash-workflow.
But if I understood correctly this is not the purpose of `squash`.

The purpose of squash is making one file from many and removing unnecessary commands, which happened during development.

Please correct me, if thats wrong. Thank you

[2020-01-11 17:51] webdeb commented on #3679
@jonocodes you can actually deploy graphiql where you want to
https://github.com/graphql/graphiql/tree/master/packages/graphiql

[2020-01-11 18:26] webdeb commented on #3672
@pnappa Would be nice if you could provide _some_ information on this, so that others could also be aware of possible bottlenecks.

[2020-01-11 18:34] webdeb commented on #3652
@zwl1619 should't it just work with some graphql dart client?
like https://pub.dev/packages/graphql

Can you try it, and provide an example yourself?

[2020-01-11 22:20] simpleshadow commented on #3654
+1 Ended up here trying to deploy `hasura/graphql-engine:v1.0.0.cli-migrations` to Heroku but environment variables weren't being picked up. Will resort to manual migrations for now.

[2020-01-12 05:15] ericmand opened #3683 "Create a Deployment Guide for Render.com"
I'd love to see a Deployment Guide for Hasura on Render.com

[2020-01-12 05:23] shahidhk commented on #3665
:+1:

[2020-01-12 05:23] jonocodes commented on #3679
Yes, thats what I'm basically doing in development for now. I have a local HTML file with graphiql pointing at my Hasura API.

But it seems to me this would be a valuable feature for other users as well. For most graphql APIs I have used as a consumer there is an endpoint that has some auto-generated docs/discoverability weather its swagger or graphiql.

[2020-01-12 11:19] dilame commented on #3657
One more thing: i run command on existing db before hasura init
[code]
After it hasura doesn't start. I think it's more of a bug than an enhancement.

[code]

[2020-01-12 11:31] shahidhk commented on #2750
Request submitted to update the image.

[2020-01-12 14:31] cooldesigns commented on #721
Waiting for it

[2020-01-12 15:11] webdeb commented on #3679
@jonocodes its just too simple to add it yourself, and if it would go into hasura core, it would mean additional headache for the small hasura team. Because maybe you are OK with this feature to be public, others will create a bunch of issues because they want that and that feature on ton and permission rules etc. you know what I mean. And it does not add any core functionality improvements, just

[2020-01-12 15:15] webdeb commented on #3679
Think about styling, users will definitely claim about this (because they want the appearance to of their CI), and then finally they will rollout it themself in 5 minutes

[2020-01-12 15:19] dilame commented on #241
Cant connect my angular app with apollo to hasura because of this issue

[2020-01-12 23:24] marbemac opened #3685 "Check session variables in permission checks"
Being able to build permission checks from session variables would be amazing. Our JWT token looks something like the below. On authentication, we lookup the user permissions, given their role, and assign them a token that includes a list of their permissions. When their role is changed, or the role<->permissions mapping in the db changes, tokens are refreshed (in addition to short expiration, etc

[2020-01-12 23:25] pnappa commented on #3672
@webdeb What's a good minimum information set to provide? Unfortunately I can't provide the exact query/dataset, as it's my employer's information (I wish I could).

A good litmus to see whether one's issue falls under the purview of this issue is if a query takes much, much longer when operating under permissions as compared to queries performed when `x-hasura-admin-secret` is supplied.

[2020-01-12 23:57] webdeb commented on #3672
@pnappa sure, I am not expecting, that you provide your clients/employers data.

but at least
- how big is that table(s)
- are you using joins
- what kind of permissions rules and combinations _or/_eq/_and etc
- how many header/jwt arguments are used

that kind of information. I mean you are facing a 24x performance impact. A minimal reproducible example would be great.

[2020-01-13 00:59] webdeb commented on #3685
Since your permissions are very resource specific and tightly coupled to your domain, to your application logic, an alternative idea would be to simplify your DB design add the members columns directly into the `workspaces` table

| ... | ... | readers |writers | admin |
|---|---|--------|-------|------|

And just use Array where you need. I guess its opinion based, but I somehow makes sense to me

[2020-01-13 04:15] hgiasac commented on #3656
@jberryman Currently the live query cycle is:

1. Execute PG/Remote schema query
2. Send message to STM Queue
3. Send data sequentially from queue to client

Currently I estimate execution time at step 1 and 2. Do you think if we need to estimate step 3 too?

[2020-01-13 05:04] lexi-lambda commented on #3654
I’ve opened #3686 as a stopgap measure to *significantly* improve the performance of internal server migrations. With that change, a fresh database starts up just fine even on a free Render.com instance! However, it does not affect the performance of user-defined migrations at all, so there’s still work to do there.

@simpleshadow I might be misunderstanding, but that sounds like a separate issue

[2020-01-13 07:11] #3203 closed

[2020-01-13 07:12] rikinsk commented on #3565
closed this in https://github.com/hasura/graphql-engine/commit/db6b2aa3781201b05e98e292a3a4ca13a0057e00

[2020-01-13 07:12] #3565 closed

[2020-01-13 08:02] karthikvt26 opened #3688 "the type generated for _in operator inside string_comparison_exp doesn't accept null values"
Here is the screenshot of the operators and their types
![DeepinScreenshot_select-area_20200113133001](https://user-images.githubusercontent.com/25095884/72240016-d6d2d100-3608-11ea-8cab-5eb3db5ec7ba.png)

I have a string column which is nullable. It can contain `empty string` ~ "" , `null` and non-zero length string. I would like to run a query with `_in: ["", null]`. But its not allowed based on

[2020-01-13 09:17] tirumaraiselvan commented on #3658
Related to #1649

[2020-01-13 09:17] tirumaraiselvan commented on #1649
Related to #3658 3658

[2020-01-13 09:18] rikinsk opened #3689 "allow editing graphql field name for columns of views"

[2020-01-13 09:18] rikinsk commented on #3346
Closing this as support for root level fields is added. Updating GraphQL field names for views is tracked in #3689

[2020-01-13 09:18] #3346 closed

[2020-01-13 09:25] rikinsk opened #3690 "prettify metadata.json generated from console on export"

[2020-01-13 09:25] rikinsk commented on #3678
Created https://github.com/hasura/graphql-engine/issues/3690 to prettify metadata.json by default

[2020-01-13 09:33] dijam commented on #3658
We had a similar problem when we weren't able to rune our nested mutation. After reading all the hasura documentation regarding nested mutations, we think the issue is regarding having nested mutation when having a 1-to-1 relationship under the nested. Here is our example:
Tables:
`Document`, `Project`, `document_project`
We want to create a document and add the already created project to document

[2020-01-13 09:47] tirumaraiselvan commented on #3478
@hector Right. The only solution I can imagine with "no code" is:

[code]

And then run an auto-generated aggregate query on it:

[code]

[2020-01-13 09:54] #3588 closed

[2020-01-13 09:56] tirumaraiselvan commented on #3630
@denizkenan Sending a ping to get an update on the issue.

[2020-01-13 10:27] tirumaraiselvan commented on #3540
@lexi-lambda @rakeshkky Any thoughts why equating types

[code]

with

[code]
would fail?

Either way, should we remove including `Descriptions` for type equalities?

[2020-01-13 13:02] yasinarik commented on #3536
Asking this is sounds weird to me too but I have an urge to ask. :)

Are there any estimations on when this feature will be added? What should I understand from the labels?

This feature is super important for us to be able to use Hasura in production for a global scaled app. For the last 4 months, we haven't faced any other blocker.

We really admire and appreciate the effort of the Hasura Team.

[2020-01-13 13:12] rikinsk commented on #3682
@fvieira PR (#3375) fixes this issue as you mentioned. This fix has been merged to master but has not made it to a release yet. This will be going out in v1.1.0 which should be released quite soon.

[2020-01-13 13:12] #3682 closed

[2020-01-13 13:20] fvieira commented on #3682
You're right, I misread the git history, the PR was merged to master before the 1.0.0 release, but the release didn't include it, sorry for the confusion.

[2020-01-13 15:01] John0x commented on #2326
Is that a bug of gcloud run or is it expected behavior?
Wondering if I should setup a new instance using run or the old kubernetes way

[2020-01-13 15:20] jjangga0214 commented on #2326
@John0x By serverless characteristic, it will be frozen. So async operations like event handling might be frozen as well. That's a property of Cloud Run, rather than a bug, as Cloud Run does not know if Hasura has events undeliverd or not.

[2020-01-13 15:30] jberryman commented on #3656
@hgiasac I'm in the process of rebasing/rewriting my PR for #3552 so I can take a closer look there. As part of that PR we try to record time for network IO separately to be able to distinguish a slow network from slow hasura performance, so we should probably do something similar for the live query code paths. I'll take a look and ping you for review on the PR.

My other thought is that not measu

[2020-01-13 16:03] GavinRay97 commented on #3681
Upon further investigation, this is a duplicate of:

https://github.com/hasura/graphql-engine/issues/3572

And it seems will be fixed as a by-product of:

https://github.com/hasura/graphql-engine/pull/3598

See comment on issue thread:

https://github.com/hasura/graphql-engine/issues/3572#issuecomment-572665921

[2020-01-13 17:57] Tbaut opened #3695 "Remote relationship with prisma: ExpectedTypeButGot"
we're using remote joint with a graphQL server from Prisma.

Adding the remote schema is working well, adding a remote relationship fails with:
[code]

Example:
Demo prisma endpoint: https://test-c8a6790725.herokuapp.com/test-prisma/dev
Demo hasura with super simple schema: https://github.com/Tbaut/hasura-prisma-test.git
[code]
Hasura console will be on http://localhost:8888

Then apply the migrat

[2020-01-13 19:34] coco98 opened #3696 "Reload remote schema should automatically refresh other instances"
While running multiple Hasura instances, if one Hasura instance reloads remote schema then that should propagate to other instances as well.

cc: @tirumaraiselvan

[2020-01-13 20:17] jrobber commented on #3305
Any chance we could get this in?  I've got a use case I cannot use ACL for because I don't want to expose that data to users, but I need to use a table as a filter.    This is all based on the currently logged in user, which would make this change perfect!

[2020-01-13 20:19] lexi-lambda commented on #3672
If I’m able to figure out what the issue is, I’ll certainly share it here. However, though @pnappa graciously sent me the query, it’s complicated enough that it isn’t straightforward for me to replicate without some details about the actual schema.

@pnappa, if you could please send me a dump of the SQL schema (possibly restricted to the relevant tables), that would be very helpful. You can genera

[2020-01-13 23:09] dvasdekis commented on #3560
So simple! I found that Docker Run likewise accepts an `--on-restart` flag, which is good when deploying to other forms of infrastructure. Thank you.

[2020-01-13 23:09] #3560 closed

[2020-01-14 01:07] #3632 closed

[2020-01-14 02:03] pnappa commented on #3672
I sent you another email containing the schema @lexi-lambda.

@webdeb
Here's a brief sketch:
 * we are using joins (i.e. nested queries)
 * the tables involved have around 3-80 rows, but the largest involved has about 800.
 * the relationships are mostly tree like (i.e. I think it's non cyclic)
 * only 2 jwt data values, and only one is used in the permission query (X-Hasura-User-Id).
 * the permi

[2020-01-14 02:42] paf31 commented on #3681
Correct, thanks. I'll close this as a duplicate now.

[2020-01-14 02:42] #3681 closed

[2020-01-14 02:55] tirumaraiselvan opened #3697 "event trigger gives incorrect bigint value in payload"
From https://stackoverflow.com/questions/59708004/hasura-event-trigger-with-incorrect-bigint-value

Maybe we need to type-cast such "special" columns while creating the event trigger?

This kind of type-casting was also considered for #2036

[2020-01-14 03:25] tirumaraiselvan commented on #3695
Sorry for the bad error messages, this will be fixed before the release.

The error (though cryptic) suggests that you are trying to join a `ID` type with an `Int` type. There is an open issue related to this: https://github.com/hasura/graphql-engine/issues/3578 , which potentially allows marking any "unique" column to have type `ID`.

But the current workaround is probably going to be to use an `

[2020-01-14 10:19] rikinsk commented on #3688
@karthikvt26 We can achieve this using the follwing condition right?
[code]

[2020-01-14 10:21] rikinsk commented on #3688
cc: @coco98 @0x777. Related to our ongoing discussion about dealing with null values

[2020-01-14 10:43] rikinsk commented on #3658
@dijam This is a known problem being tracked at https://github.com/hasura/graphql-engine/issues/2576

[2020-01-14 11:02] #3690 closed

[2020-01-14 11:33] Tbaut commented on #3695
Thanks Tiru working well with Int! indeed.
In case that helps anyone, it's defined this way on Prisma:
[code]

[2020-01-14 11:40] rikinsk commented on #3697
Might make sense to just make it respect the existing `--stringify-numeric-types` flag

[2020-01-14 11:53] karthikvt26 commented on #3688
@rikinsk Yes that is exactly what I am doing. But this could become problematic when it comes to coding it since we are adding it at the first level of where.

[2020-01-14 11:56] rikinsk commented on #3688
Can you explain this in more detail. Whats the exact problem here because of that?

[2020-01-14 13:41] DeMoorJasper commented on #3197
I'd like to implement this feature, but aren't really sure where to start inside the permissions. Is there any docs about how the codebase works or could anyone point me in the right direction?

[2020-01-14 14:53] karthikvt26 commented on #3688
For example:
Lets assume user can filter by column A, column B, column C. Now after the filters are selected its easy to construct a query as below
[code]

rather than a query as below

[code]

Now if there is a scenario user is trying to filter by "" or null for columnB too, it becomes slightly cumbersome to convert the entire where clause into `_and` and array of `_or` conditions. Hope this make

[2020-01-14 15:32] MarcelloTheArcane opened #3703 "FatalError: function hdb_views.<random string>() does not exist"
I am trying to delete permissions for the `manager` role, but I get this error. I have tried creating a function with that name, in the hopes that it would delete that, but it still doesn't work.

![image](https://user-images.githubusercontent.com/21159570/72357350-b8d99f00-36e2-11ea-90f7-920521b104da.png)

[code]

*Hasura Version:* v1.1.0-beta.1

[2020-01-14 15:38] MarcelloTheArcane opened #3704 "Error while inserting"
I am unable to insert with a non-admin user role - permissions have been enabled (but I am having issues, see #3703)

This happens with I can insert with the `admin` role.

### Query:
[code]
*Variables*:
[code]

### Response:
[code]

**Hasura Version:** `v1.1.0-beta.1`

[2020-01-14 15:44] dmi3y commented on #3632
Thank you @shahidhk, what about a twist, we already using the migration tool (Sequelize) and want incremental metadata migrations, are there any recommendations for such use case?

[2020-01-14 16:52] hector commented on #3478
Mmm I see your point.
The thing is that when querying you want the count of every category group. With your solution there is only the count of a single group.
I guess there is no way to do it without functions.

[2020-01-14 17:09] blennopardim commented on #3704
I have the same problem :(

[2020-01-14 18:35] Gerharddc commented on #3581
I've managed to work around this issue by placing pgpool before Hasura. For anyone trying to do the same you can check out the Docker image I made for this at https://hub.docker.com/r/gerharddc/pgpool .

[2020-01-14 21:59] jberryman opened #3705 "Support graduating *.Extended modules to override standard modules with mixins"
Something I thought to do while refactoring https://github.com/hasura/graphql-engine/pull/3622  but which needs to wait.

See https://stackoverflow.com/questions/59739476/deprecate-or-shadow-a-module-or-function-from-a-third-party-library#59740286

This seems to work pretty well except that it breaks `stack ghci`: https://github.com/commercialhaskell/stack/issues/3862

So I think this is blocked o

[2020-01-14 23:23] collinbachi commented on #724
Hi @shahidhk, can you elaborate on what the core issue is here?

I've been able to install the binary in several environments, as long as I also install `libpq-dev`. Is the issue just that the binary will require some (easy to install) outside dependencies?

I'm trying to figure out if I will be able to continue to install hasura on linux systems where Docker use is banned.

[2020-01-15 00:39] fred8617 opened #3706 "version check bugs on cli"
![image](https://user-images.githubusercontent.com/35049517/72394824-837c9200-3772-11ea-9f1e-deafb70bb85e.png)
![image](https://user-images.githubusercontent.com/35049517/72394834-8e372700-3772-11ea-9491-84ccda7ef0ad.png)

[2020-01-15 01:58] ElixirMike opened #3707 "Distinct On not working with nested field?"
I'm trying to use the Distinct on feature in a nested field Query is below
No matter what I try, there are non-distinct "zoneid" returning..it doesnt' seem to be working

Am I missing something or is this a bug??

query MyQuery {
  tabledata: schema_1_tbl_7(where: {field_3_join: {tbl_6_id: {_is_null: false}}}) {
    field_3_join(distinct_on: zoneid, order_by: {zoneid: asc}) {
      tbl_6_id

[2020-01-15 02:36] lexi-lambda commented on #3672
Alright, with the information @pnappa provided me, I think I’ve tracked down the issue. I don’t think it’s a problem with Hasura *per se*, but rather an issue with query planning. For some reason, on your database, Postgres thought the query you’re trying to run had an *enormous* cost! Here’s the first line of the `EXPLAIN` output:

[code]

I don’t know why this number was so large. On my local da

[2020-01-15 02:36] #3672 closed

[2020-01-15 03:37] lulucas opened #3708 "Can not find bool scalar?"
Explorer is broken when there is a scalar named "bool".

IntrospectionQuery Result
[code]

Got an error":{"path":"$","error":"type info not found for: 'bool'","code":"unexpected"}

query and mutation still works, but graphql explorer is broken.

[2020-01-15 04:01] shahidhk commented on #3706
@fred8617 This is a bug in the CLI on how versions are compared. We missed a pre-release nuance while building the constraint for comparision.

Please install the CLI again to get the latest version: https://docs.hasura.io/1.0/graphql/manual/hasura-cli/install-hasura-cli.html

[2020-01-15 04:20] pnappa commented on #3672
This seems to be it! However, it didn't seem to be fixed when I re-ran that query from the GraphiQL explorer. I had to run EXPLAIN ANALYZE on the offending query (although, to be able to execute it in the Run SQL page in Hasura, I had to make it a stored procedure, as that's what the logs use). Doing this makes it run pretty quick again.

So, for anyone else reading this, turn on the logging mode

[2020-01-15 05:30] nirvdrum opened #3710 "Missing hdb_view in 1.1.0-beta.1?"
I tried out 1.1.0-beta.1 today and I've been unable to run my app with it. Using a Docker Compose environment that upgraded from 1.0.0 to 1.1.0-beta.1, I'm getting an error when trying to insert data:

[code]

Thinking that my DB somehow got corrupted, I tore down my Docker Compose environment and removed the persistent volume. With a clean install, I'm unable to run my migrations:

[code]

I wish

[2020-01-15 05:40] lexi-lambda commented on #3710
Urk—this is my fault. This issue was already reported before we made the beta release in https://github.com/hasura/graphql-engine/issues/3354#issuecomment-569736691, but at the time I didn’t worry much about it because I knew we were getting rid of those views anyway in #3598. However, I’ve now realized that change didn’t make it into this release, so the issue is a real issue, after all!

This wi

[2020-01-15 07:23] MarcelloTheArcane commented on #3704
This is also happening on another project that is running `1.0.0`.

I had upgraded it to `1.1.0-beta.1` but downgraded when this error happened.

[2020-01-15 08:12] lexi-lambda commented on #3703
Duplicate of #3710

[2020-01-15 08:13] #3703 closed

[2020-01-15 08:13] lexi-lambda commented on #3704
Duplicate of #3710

[2020-01-15 08:13] #3704 closed

[2020-01-15 08:37] rikinsk commented on #3688
So the takeaway for me here is that devs dont want to think of null as a special value and find it easier if it were treated like any other value while using the API.

@coco98 @0x777 Should we just do the handling of nulls internally in hasura and call it a day regarding all edge cases caused by null values.

[2020-01-15 08:53] karthikvt26 commented on #3688
I think the reasoning is more from a point of view of `NULL` being a valid value representing a blank column

[2020-01-15 08:55] MarcelloTheArcane commented on #3710
@lexi-lambda I'm still getting this error when I downgrade back to 1.0.0. Is there anything I can do to sort this out?

[2020-01-15 10:41] tirumaraiselvan commented on #1902
@0x777 Any updates here?

[2020-01-15 12:08] tirumaraiselvan commented on #724
@collinbachi Yes, libpq is the only dependency. You will also need updated CA certs if you want to interface with HTTPS domains for auth/remote-schemas/event-triggers etc.

cc: @0x777

[2020-01-15 12:16] nick4u commented on #3603
Any chance for having this in 1.1?

[2020-01-15 12:45] rikinsk commented on #3603
@nick4u Unfortunately the feature set for v1.1 is already frozen. We'll aim to get this fixed in v1.2

[2020-01-15 15:53] jberryman commented on #3705
[code]

[2020-01-15 15:54] Julianojc commented on #3704
I have the same problem after update to 1.1.0-beta.1

[2020-01-15 16:26] lukaspili commented on #3706
Installing the CLI from scratch does not solve the issue.

[2020-01-15 16:31] lukaspili commented on #3710
Are there specific instructions to downgrade to 1.0.0?
Setting the version of `hdb_catalog.hdb_version` to 28 does not seem to be enough. Hasura is crashing on startup with:

[code]

[2020-01-15 17:06] nirvdrum commented on #3710
In my case, I was only trying it out on a local installation, so I just blew everything away and started from scratch. I lost some test data, but nothing critical.

[2020-01-15 17:33] Oxymoron290 commented on #3485
I just went through a couple months long process of back and forth with Azure support on this topic as well. We went so far as to speak with their engineering teams. In the end the conceded that it was not possible for them to implement complex custom claims through JWTs on Azure Active Directory.

Microsoft does not have the technical expertise to implement configurable complex custom claims on J

[2020-01-15 18:58] rohit-32 commented on #2599
It raises proper exceptions if you use hasura-admin-secret but will fail if you use jwt authorization.

[2020-01-15 19:04] shahidhk opened #3714 "ci: do not deploy latest image/binary for beta builds"
we push the `latest` docker image and `latest` binary (which is used in the cli test) on every tag. it should be done only on stable releases.

[2020-01-15 19:25] heliocaruccio commented on #3706
https://www.npmjs.com/package/hasura-cli is out of date

[2020-01-15 23:03] paf31 commented on #3536
I have a branch (https://github.com/paf31/graphql-engine/pull/1) which uses the check from the insert permissions for the same role to check the result after an update.

[2020-01-16 01:20] paf31 commented on #384
[Here](https://github.com/paf31/graphql-engine/pull/1) is a small change which checks the conditions based on the _insert permissions_, based on the new data _after_ an update mutation.

[2020-01-16 03:27] nyamba commented on #3710
we have same issue, how to solve it? or downgrade guide?

[2020-01-16 03:53] #3706 closed

[2020-01-16 04:11] shahidhk commented on #3710
To downgrade from `v1.1.0-beta.1` to `v1.0.0`:
- Stop hasura
- Execute this SQL on your database: https://github.com/hasura/graphql-engine/blob/db5072dff3efdd3560c9755104550c698e5cd719/server/src-rsr/migrations/29_to_28.sql
- Start hasura 1.0

[2020-01-16 04:38] shahidhk commented on #3706
We've identified an issue with `v1.1.0-beta.1` release adn it is recommended that you downgrade to `v1.0.0` - instructions here: https://github.com/hasura/graphql-engine/issues/3710#issuecomment-574973318

[2020-01-16 04:54] shahidhk commented on #3710
fixed in https://github.com/hasura/graphql-engine/commit/9ed8f717a76c427d69efdc8fa55396356d9034be

[2020-01-16 04:54] #3710 closed

[2020-01-16 06:05] #3714 closed

[2020-01-16 06:22] 0x777 opened #3717 "disabling metadata endpoints should disable the explain endpoint(s)"
Currently, they are grouped under the 'graphql' API, which I feel is incorrect.

[2020-01-16 06:24] 0x777 commented on #3708
@lulucas Can you help us reproduce this? It would be great if you can share the schema (and metadata).

[2020-01-16 06:30] jjangga0214 commented on #3706
@heliocaruccio Hi! I'll publish the package soon :)

[2020-01-16 07:20] ecthiender commented on #3485
@Oxymoron290 thanks for the info.

As you can see this is the RFC for the implementation. It is already implemented in https://github.com/hasura/graphql-engine/pull/3575 , and we are testing it out currently.

[2020-01-16 07:58] lulucas commented on #3708
[code]
Simply scalar "bool" existing is enough, as a remote schema.

[2020-01-16 07:58] lulucas commented on #3708
[code]
Simply scalar "bool" existing is enough, as a remote schema.

[2020-01-16 08:34] mklueh commented on #3633
@shahidhk I´ve just removed the tables from within the Hasura dashboard, maybe I should test it with a clean postgres installation instead. thank you

[2020-01-16 08:49] shahidhk opened #3719 "cli: version constraint for update check is wrong"
`1.0.0-0` < `1.0.0`

[2020-01-16 09:48] Gerharddc opened #3720 "Metadata becomes out of sync on multiple instances"
When running multiple instances of Hasura (like in a Kubernetes cluster), changing the Hasura metadata (like adding a table) causes the metadata of all other instances to become outdated. In a case where the instances are load balanced this for instances causes a situation where right after creating a new table, the Hasura console starts to complain that the table does not exist even though it is

[2020-01-16 09:50] shahidhk commented on #3720
@Gerharddc Hasura instances already use LISTEN/NOTIFY to sync the metadata. Can you tell us your Hasura and Postgres version?

[2020-01-16 09:51] tirumaraiselvan commented on #3720
@Gerharddc Are you on Google Cloud?

[2020-01-16 09:53] barbalex commented on #3354
I can confirm that my app is working fine with v1.1.0-beta.2.

Thanks a lot for your hard work!

[2020-01-16 09:53] Gerharddc commented on #3720
@shahidhk I am using Hasura 1.0 with Postgres 11.6 (plus TimescaleDB).

@tirumaraiselvan No, I am running a local K8s cluster using Microk8s

[2020-01-16 11:03] plouh commented on #3655
The problem still persists when server replies with `cache-control: no-cache` -header

[2020-01-16 11:52] sarendsen opened #3721 "Support for 3D geometries"
2D geometries are supported. How about 3d geometries? ST_3DDWithin etc

[2020-01-16 12:03] tirumaraiselvan commented on #3720
This has been seen in GKE because of quotas (https://cloud.google.com/vpc/docs/quota)

Is it possible that your k8s network is also somehow closing idle connections?

[2020-01-16 12:39] Gerharddc commented on #3720
Having now found out that Hasura already supports this, I have done some more investigation and found that I only get this problem when connecting Hasura to my DB through Pgpool and not when connecting it directly. So I guess its then a case of Pgpool not handling LISTEN/NOTIFY correctly?

I haven't checked out `keepalives_idle` yet but I guess that won't help if this is indeed a Pgpool issue?

[2020-01-16 13:05] tirumaraiselvan commented on #3720
I am not sure, but you can try :)

Also, Hasura does pg connection pooling itself. So, you may choose to connect Hasura directly to Postgres.

[2020-01-16 13:06] 0x777 commented on #3688
We can try to do this but it'll be a little tricky, for example, if we want `_in: ["", null]` to work, we won't be able to use `column = ANY ($1)` but we should instead translate it to `column = ANY($1) OR column IS NULL` when there is `null` in the given arguments.

[2020-01-16 13:16] Gerharddc commented on #3720
I have now tested `keepalives_idle` and it makes now difference.

I have tried to test LISTEN/NOTIFY through Pgpool by connecting a few psql terminal sessions to Pgpool and they all actually seem to receive notifications just fine so its now looking like there is something special going on only when Hasura tries to LISTEN/NOTIFY through Pgpool. I will try to write my own little application using L

[2020-01-16 13:45] 0x777 commented on #3707
I can't seem to reproduce this on my end. I have the following schema:
[code]
I added an array relationship called `tracks` on `album` table. I ran this query:
[code]
returns the following data:
[code]
There are 9 tracks for this album and 3 distinct composers. I now ran the following query:
[code]
which returns 3 tracks (one for each distinct composer).
[code]

[2020-01-16 13:59] ElixirMike commented on #3707
Thanks for the reply. The difference in my setup is that I have a
many-to-many join table in between.

In your setup, you'd have a new table called "albumtracks" which would have
a album.id and track.id
where albums is joined to albumtracks by album.id and tracks is joined to
albumtracks by track.id

Can you see if you can reproduce it with this setup?
Should it work with this many-to-many relatio

[2020-01-16 14:06] praveenweb opened #3722 "detect if migrations have already been created using cli on server console"
When i start using hasura cli to manage my migrations and by mistake if i switch to server console to modify schema / metadata, my whole migration workflow goes for a toss.

Adding the remaining migrations manually is one option but tedious.

But if the console served by the server can detect if migrations have already been created before (can be found using the `migration_settings` table inside `

[2020-01-16 16:07] erichiller opened #3723 "Add support for multiline comments (tables and columns)"
A feature request -
It would be useful to be able to add line breaks in comments for tables and columns.

Currently the input for comments is only a text input and not a textarea for entering multiline comments.

Since I can `COMMENT ON` directly with PostgreSQL, I've been doing this and multiple lines are displayed correctly when viewing on pgAdmin, export, etc. However, even though the comments

[2020-01-16 16:08] erichiller opened #3724 "automatically detect changes to the contents of enum tables"

[2020-01-16 17:45] paf31 commented on #2508
This should be fixed by the `hdb_views` change, can this be closed now?

[2020-01-16 20:14] kevintelford commented on #2824
Same as @Sevensidedmarble - for convenience we'd love to just run the console and track migrations from docker-compose, instead of introducing the Hasura CLI tool. The CLI tool itself has its uses obviously, but for some colleagues and responsibilities it'd be great to have one less boundary here.

Regardless, great work on this and thanks! Super useful service.

[2020-01-17 00:03] lexi-lambda commented on #2508
Fixed by #3598.

[2020-01-17 00:03] #2508 closed

[2020-01-17 03:45] hunterbecton opened #3725 "Failed to build schema-cache because of inconsistent metadata: postgres query error"
I tried downgrading Hasura from 1.0.0 to `hasura/graphql-engine:pull2395-7ea7f82c` so I could create remote data relationships. However, I got an error that the catalogue was 28 and that it was expecting 26 or less.

That led me to try and downgrade my catalogue, but there wasn't a link from [on this page](https://docs.hasura.io/1.0/graphql/manual/deployment/downgrading.html) on how to downgrade f

[2020-01-17 05:26] tirumaraiselvan opened #3726 "Docs for getting details about subscriptions"

[2020-01-17 05:49] shahidhk commented on #2750
Image is updated.

[2020-01-17 05:49] #2750 closed

[2020-01-17 05:57] shahidhk commented on #3533
- CLI makes use of `hdb_catalog.schema_migrations` to store the migrations state
- Console uses `hdb_catalog.hdb_version.console_state` to store some state
- CLI/Console/Server all uses `hdb_catalog.hdb_version.hasura_uuid` for telemetry

[2020-01-17 06:27] zadigus opened #3727 "Can't add computed fields as advertised in the documentation"
I would like to add a computed field of the very same kind as that presented in the [documentation](https://docs.hasura.io/1.0/graphql/manual/schema/computed-fields.html#table-computed-fields). I am working with hasura v1.0.0. According to this [documentation](https://docs.hasura.io/1.0/graphql/manual/schema/computed-fields.html#add-computed-field), there should be a "Computed fields" section in m

[2020-01-17 06:48] ecthiender commented on #3655
@plouh thanks for reporting and sorry for the inconvenience! My bad I should have tested that case. I will try to push a fix by today.

[2020-01-17 07:00] plouh commented on #3655
No problem at all, it's been a great pleasure to use hasura. We use keycloak as our identity provider, if it helps to reproduce the issue.

[2020-01-17 07:30] rikinsk commented on #3726
@tirumaraiselvan Whats this /dev endpoint? Coming across it for the first time.

[2020-01-17 07:40] tirumaraiselvan commented on #3726
@rikinsk We have few /dev/* endpoints which gives some details about graphql-engine at runtime (see: https://github.com/hasura/graphql-engine/blob/9c3e9ff4bea7a46e097cbac856650af0c68b78e6/server/src-lib/Hasura/Server/App.hs#L588). This was primarily used during development to figure out runtime characteristics, etc and is hence behind the `--enabled-apis` server flag with value "developer" (also u

[2020-01-17 07:43] rikinsk commented on #3727
@zadigus Console support for computed fields is going to be released in `v1.1.0`. It is currently available in the `v1.1.0-beta.2` release if you would like to use it. A stable `v1.1.0` will be released very soon.

[2020-01-17 07:49] rikinsk commented on #3722
Related to #3352

This will need some persisted state to be stored when the CLI console is invoked for the first time.

[2020-01-17 08:43] zadigus commented on #3727
How do I do it without console support? I tried to apply the following migration:
[code]
but then I see no new computed field in my graphql query (in the console). What should I do that see my new `full_name` computed field? Do I need to make it happen with metadata then? I think I saw something like that in the documentation.

[2020-01-17 09:01] zadigus commented on #3727
I'm asking how to do it with the metadata, because I can't open the console with the latest docker images `v1.1.0-beta.2`. If my graphql-engine has that version, then a
[code]
results in
[code]
Is there another way to open the console? because
[code]
results in

![image](https://user-images.githubusercontent.com/8761254/72598579-5a920380-3910-11ea-9b22-28b25b9d2766.png)

[2020-01-17 09:02] #3603 closed

[2020-01-17 09:21] beerose opened #3728 "Add validation to forms"
## What is the current behavior?

There are no validations for the forms. If the form is not filled correctly, the request is sent to the server anyway and user sees the error from the server.  Error messages are not always self-explanatory and may be confusing what exactly went wrong.

## What is the expected behavior?

Forms in the Hasura Console could be validated before the request is sent. An

[2020-01-17 09:25] dostalradim opened #3729 "Init database migration before external endpoint is running"
Hi, my programmers have their psql and hasura containers in their dev environment and when I need to deploy the application depending on hasura and psql to another environment I have a problem with circle dependency.

They create init migration and save it to the application repository (is it right way?) then I just create empty database and hasura engine almost without configuration and run "hasu

[2020-01-17 09:47] rakeshkky opened #3731 "[RFC] Single row mutation"
Currently, all mutations we have are bulk. We need to have single mutations for inserting one object for insert and update/delete by primary key column. This solves the simpler use cases for mutating a single row in a table. I'm proposing the following GraphQL schema for the same.

**1.Insert**
[code]

**2.Delete**
[code]
**3.Update**
[code]

[code]

The output of all the above mutations is null-a

[2020-01-17 10:13] rikinsk commented on #3727
@zadigus The CLI version check issue is a bug which is being worked on. In the meanwhile you can use the metadata api to add your computed field as documented [here](https://docs.hasura.io/1.0/graphql/manual/api-reference/schema-metadata-api/computed-field.html)

[2020-01-17 10:16] zadigus commented on #3727
Ok. The feature is not urgent for me. I'll have a look into the link you provide. For me, it's fine like that.

[2020-01-17 10:16] #3727 closed

[2020-01-17 10:31] ecthiender commented on #3726
Also, note that this is a compile-time flag, and not a runtime flag:

https://github.com/hasura/graphql-engine/blob/9c3e9ff4bea7a46e097cbac856650af0c68b78e6/server/src-lib/Hasura/Server/Init.hs#L339

To enable this API, one has to compile graphql-engine with specific compile-time flags.

[2020-01-17 13:12] barbalex opened #3734 "Error in v1.1.0-beta.2 when accessing /v1/graphql: "resource does not exist""
When using this docker-compose.yaml:
[code]

i can access the console and that seems to work fine.
But I can't access `/v1/graphql` as the responce is:
[code]

[2020-01-17 13:12] barbalex commented on #3354
Actually no: https://github.com/hasura/graphql-engine/issues/3734

[2020-01-17 13:19] tirumaraiselvan commented on #3536
@paf31 @0x777 Could you pls post your thoughts here on the technical feasibility of this feature?

[2020-01-17 13:52] marionschleifer commented on #414
This should have been closed by this PR: https://github.com/hasura/graphql-engine/pull/1426.

[2020-01-17 13:52] #414 closed

[2020-01-17 14:22] denizkenan commented on #3630
Thank you. I will investigate this use case next week. And I will provide dump. I"m very sorry for the delay

[2020-01-17 16:37] JoeHogan opened #3737 "Accessing Environment Variables from SQL queries"
I want to use Hasura not only to validate my JWTs, but also to generate them. I can configure postgres to generate JWTs but i need to pass the secret to the postgres function... I have already passed that same secret to hasura at startup (via the HASURA_GRAPHQL_JWT_SECRET environment variable), so I'd like to access the secret from the environment variable in my postgres function instead of hardco

[2020-01-17 16:43] JoeHogan commented on #3737
for reference, im basically doing this: https://github.com/PostgREST/postgrest-docs/blob/master/auth.rst#client-auth

but in this process, they recommend:

`-- run this once
ALTER DATABASE mydb SET "app.jwt_secret" TO 'reallyreallyreallyreallyverysafe';

-- then all functions can refer to app.jwt_secret
SELECT sign(
  row_to_json(r), current_setting('app.jwt_secret')
) AS token
FROM ...`

But agai

[2020-01-17 17:08] webdeb commented on #3729
Are you using docker?
then this guide should help you: https://docs.hasura.io/1.0/graphql/manual/migrations/auto-apply-migrations.html

[2020-01-17 17:50] lexi-lambda commented on #3734
I can’t reproduce the issue you describe. Could you provide more information?

[2020-01-17 19:14] JoeHogan commented on #3737
i solved my own problem by adding a custom setting to postgres in my docker compose script:

`command: postgres -D /var/lib/postgresql/data -c 'supersecret'`

then accessing in postgres:

`current_setting('app.jwt_secret')`

[2020-01-17 19:14] #3737 closed

[2020-01-17 22:07] #3280 closed

[2020-01-17 22:23] lexi-lambda commented on #3197
Hi, @DeMoorJasper—we are unfortunately gravely lacking in internal documentation at the moment, though we’re trying to do better. We do have a small explanation of the [server code architecture](https://github.com/hasura/graphql-engine/wiki/Server-code-architecture) on the wiki, but it’s a little out of date, and it’s missing a lot of details.

All that said, a great way to help us improve in that

[2020-01-18 04:32] tirumaraiselvan commented on #3731
Hey why do we need `pk_columns: table_pk_columns_input!` ?

Why can't it be: `delete_author_by_pk( col1: col-ty1!,  col2: col-ty2!): author`

[2020-01-18 04:35] tirumaraiselvan commented on #3731
And

`update_author_by_pk(pk_columns: table_pk_columns_input!, _set: author_set_input, _inc: author_inc_input): author`

could be

`update_author_by_pk(where: table_pk_columns_input!, _set: author_set_input, _inc: author_inc_input): author`

[2020-01-18 04:54] tirumaraiselvan commented on #3731
Also while we are at this, might be good to see how it relates to https://github.com/hasura/graphql-engine/issues/519

[2020-01-18 07:36] dsandip opened #3738 "build cli-migrations image for preview versions"
Build and publish (in the comments) the CLI migrations docker image for preview builds

[2020-01-18 08:05] beepsoft commented on #2151
@coco98 can you share your plans whether you will implement rate limiting in some form in the open source version of Hasura, or will it be a Hasura Pro option only (https://www.youtube.com/watch?v=JS6eMQ6H7eA)? Thanks!

[2020-01-18 17:39] PeterDraex commented on #3023
I have a similar issue. Also occurs on voyager view, but different row numbers.

[code]

I'm running Hasura in Docker, which is connected to PostreSQL outside of docker, which is connected to MySQL (via Foreign Data Wrappers). GraphQL queries are working fine.

[2020-01-18 19:24] makkus commented on #3388
I'm seeing the same issue at the moment, in a k3s cluster. It's a service we just set up, and which hasn't seen much traffic yet.  Up till now I ran a single replica, without a memory limit, because I didn't though I needed to worry.

Today we are seeing some traffic (2, 3 requests per second, mostly mutations) because it's the time of the year for this service, and it took about 3 hours for the p

[2020-01-19 03:57] simpleshadow commented on #3632
Similar to @dmi3y, it is not clear that `hasura console` is required for Hasura migrations to work.

Even after reading [the guide](https://docs.hasura.io/1.0/graphql/manual/migrations/manage-migrations.html), performing `hasura migrate create init --from-server`, and `hasura migrate apply --version "123" --skip-execution`, I began operating in the console without `hasura console` with the assumpt

[2020-01-19 04:28] bionicles commented on #3161
this is currently wrecking my first day with hasura!

[code]

docker-compose.yml
[code]

the attempt to login
[code]

env vars located in .env seem to be working

[2020-01-19 04:35] bionicles opened #3740 "Error: cannot create migrate instance: Data Error: {"path":"$","error":"invalid x-hasura-admin-secret/x-hasura-access-key","code":"access-denied"} with docker compose + hasura cli + postgres password + hasura secret key"
this is currently wrecking my first day with hasura! just want to run postgres + hasura locally with docker-compose and login to the hasura console to try some migrations, but the secret isn't working.

I wanted to test with a secret locally because this helps with dev-prod parity (i'm a 12-factor optimist)
[code]

logs from docker-compose:
[code]

docker-compose.yml
[code]
env vars located in .en

[2020-01-19 04:40] bionicles commented on #3740
used "hasura init" and "hasura login" if that matters. I'm new to hasura and not sure if it's just my dumb error

[2020-01-19 07:51] dostalradim commented on #3729
Sorry but I can not find a answer to my question. My problem is with dependencies I need apply metadata and migration but Hasura requires endpoint to be running and application requires hasura to be running.

[2020-01-19 08:00] dostalradim commented on #3729
And yes my migrations are running from docker container :).

[2020-01-19 09:18] erikshestopal opened #3741 "Using Hasura alongside an express app"
(I apologize in advance for the silly question but I couldn't any resources online to answer my question.

Given that I already have an express app running on `http://localhost:8000` and supporting endpoints such as `/v1/users`, `/v1/posts`, etc, how can I mount the Hasura engine on the same port (`8000`) at the `/v1/graphql` endpoint?

Is this even possible?

[2020-01-19 09:33] hgiasac commented on #3741
Hi @erikshestopal

You can use API Gateway or reversed proxy such as nginx for proxy routing. For example, with nginx config (not test, you will need to read nginx documentation)

[code]
Note: `nginx` will listen at port 8000, and redirect to different services (HGE, express) with different ports.

[2020-01-19 12:28] Winwardo opened #3742 "[Feature request] Disable root level list / _by_pk queries on any table"
Hi Hasura team,

# Summary
Right now it is possible to disable aggregation queries per table & role.
![image](https://user-images.githubusercontent.com/840549/72680570-3fabc480-3ab3-11ea-9650-84b4edcba21c.png)

I would like to be able to disable top level list and primary key access in the same fashion.

![image](https://user-images.githubusercontent.com/840549/72680696-d2992e80-3ab4-11ea-808d-a7f

[2020-01-19 12:37] shahidhk commented on #3740
What is the cli version? At a first look i cannot find anything wrong with the setup.

If the version says 0.49.0, try reinstalling the cli from https://docs.hasura.io/1.0/graphql/manual/hasura-cli/install-hasura-cli.html

[2020-01-19 13:28] tirumaraiselvan commented on #3725
Hi @hunterbecton

Pls follow the instructions here to reset your metadata essentially: https://github.com/hasura/graphql-engine/issues/3209#issuecomment-545833354

Note that in step 1, you should use a working version of hasura (in the original post, it was pr2395). Since, you have also manually downgraded migrations, you are probably in a trickier situation (and hence, always backup your metadata

[2020-01-19 14:13] webdeb commented on #3729
To auto-apply migrations, you should use `hasura:1.0.0.cli.migrations` as base image and include your migrations into your image.

This is a basic Dockerfile

[code]

[code]

[2020-01-19 15:31] donPuerto opened #3743 "FATAL [Apollo module] errorHandler should be a path to an exported error handler config."
Weird error
![image](https://user-images.githubusercontent.com/9329005/72683600-c09aa880-3b13-11ea-9e00-ee6242bb6f1d.png)

[2020-01-19 16:24] donPuerto commented on #3743
![image](https://user-images.githubusercontent.com/9329005/72684386-3f471400-3b1b-11ea-87ba-f65faf42f792.png)

[2020-01-19 16:54] tirumaraiselvan commented on #3452
Related to https://github.com/hasura/graphql-engine/issues/696, dupe?

[2020-01-20 01:16] webdeb commented on #3742
you can just set the permission anonymous users to allow only selecting items which matches the secret passed as a header.

[code]

[2020-01-20 01:31] spiffytech opened #3744 "Permissions rule for a many-to-many table?"
I have users who can belong to teams, via tables `users`, `teams`, and `users_teams`. I want users to be able to enumerate other users on their teams, but not users from other teams. How can I express this with a permissions rule?

[2020-01-20 02:20] erikshestopal commented on #3741
Thank you.

[2020-01-20 02:20] #3741 closed

[2020-01-20 05:00] shahidhk commented on #3632
@dmi3y Yes! You can still use Hasura migrations for incremental metadata. You can use the console to autogenerate them or write them manually.

@simpleshadow For automatically creating migrations, the CLI is required.

[2020-01-20 05:07] tirumaraiselvan commented on #3744
On `users` table, you can have a permission like this?

![Screen Shot 2020-01-20 at 8 26 25 AM](https://user-images.githubusercontent.com/8663570/72699685-692a2600-3b6f-11ea-9a03-3a07cb7624c2.png)

This would have been quite trivial if you had a session-variable like `X-Hasura-Team-Id` but you may not want to have that in your auth system because you can derive it from `X-Hasura-User-Id` also.

Th

[2020-01-20 05:59] rakeshkky commented on #3731
@tirumaraiselvan

I agree with having `pk` in field name and input argument name is redundant, so I'll rename `pk_columns` to just `columns`. I thought using `where` may be confusing since in normal mutations it is a `bool_exp` input. We can't have column inputs in the same level of update operators (_set, _inc etc.) since the column names may conflict and resolving the input arguments in the code

[2020-01-20 06:02] tirumaraiselvan commented on #3731
@rakeshkky I think, it won't be confusing because you are clearly using `_by_pk` field and that has a different `where` input arg :man_shrugging:

This way even `delete_by_pk` becomes nicer.

@rikinsk Thoughts?

[2020-01-20 06:23] dostalradim commented on #3729
And it helps me with my circle dependency issue? I am doing "hasura migrate apply" before debian package installation which contain my application. And it requires my applications graphql endpoint running but I cannot run my application without configured hasura.

I have my own deploy docker image where I install hasura like this

`curl -L "https://github.com/hasura/graphql-engine/raw/master/cli/g

[2020-01-20 06:30] rikinsk commented on #3671
@erikhSSI The permissions mentioned are necessary for Hasura to work with a database (and hence are necessary for most actions and not just the Reload metadata functionality explicitly). Hence they are mentioned as notes in our getting started workflows.

Just for our understanding, could you share your experience in some more detail. Were you trying to hit Reload metadata to set up Hasura for the

[2020-01-20 06:43] rikinsk commented on #3731
Currently in `select_by_pk` we expect all the pk column values to be passed as inputs individually., so that format should ideally be the same for `update/delete _by_pk` requests as well.

Considering the chance of conflicts having something like a `_key_columns` kind of input which accepts the columns involved in a key (primary or unique) makes sense to me. But that would be a breaking change so

[2020-01-20 06:46] rikinsk commented on #3731
Also wanted to add, that I am  a big fan of overriding `where` behaviour or overriding any existing field behaviour for that matter. Those kind of explananations and distcinctions I dont want to have to deal with in docs and support.

[2020-01-20 06:50] tirumaraiselvan commented on #3731
The chance of conflicts is only with `update` right? `select` and `delete` are fine?

Also, this kind of override is quite natural. The field and type are quite self-documenting IMHO in practice. Yes, in docs we will have to describe it but that's what you would have done for `pk_columns` also.

[2020-01-20 06:57] dostalradim commented on #3729
This is my scenarion

![Snímek obrazovky 2020-01-20 v 7 52 08](https://user-images.githubusercontent.com/9046924/72704736-e21e8300-3b59-11ea-9d27-593b3dcb49cb.png)

I read the dockerfile of cli-migrations image and it doesnot look helpfull or am I miss something?

I created database and user in PSQL and started container with graphql-engine with postgresql configuration and with variable with back

[2020-01-20 06:57] bradjabel commented on #91
+1

[2020-01-20 07:11] dostalradim commented on #3661
There is no chance to copy everything and just start new hasura graphql-engine process? I hoped that the graphql-engine doesnot have any configuration in container and is using just his schemas in PSQL. So it means that the graphq-engine knows that it is not author of schemas?

[2020-01-20 08:28] rikinsk commented on #3731
Summarizing the discussion from above with the suggested options:

Ways to represent key columns:
1.  - `_by_pk(col1: col-ty-1!, col2: col-ty-2!, ...)`,
     - `_by_<uniq_key>(col1: col-ty1!, col2: colty-2!, ...)`
     - Pros
       - Looks neat for select / delete
     - Cons
       - Col names may conflict with `_set`, `_inc`, etc. in update
2. - `_by_pk(pk_columns: table_pk_columns_input! )`

[2020-01-20 08:34] tirumaraiselvan commented on #3731
I vote for 3. I think it is a minor inconsistency for which I don't want to ruin the natural API for `select` and `delete`

[2020-01-20 09:17] 0x777 commented on #3731
I'm also in favour of 3. Though I'm not sure about `pk_columns` as the argument name. What happens if you the role doesn't have select permissions on the table? What will be the response type then?

[2020-01-20 10:24] webdeb commented on #3729
OK, I understand, that you have a circular dependency somewhere, but I think its just a matter of redesigning your system. Maybe your NodeJS app can be splitted into multiple services, where some of them can be started before hasura, and others after? To me, it definitely does not look like a problem with hasura itself.

[2020-01-20 10:45] dostalradim commented on #3729
Thank you.

I am just asking for advice because I have no luck to find any explanation in documentation. And I wanted to know how are another users doing this. So you are telling me that single possibility how to accomplish this is by changing my application to be OK with hasura without migrations applied.

And really no one hit this wrong steps? It means I have some gaps in understanding hasura.

[2020-01-20 10:50] dostalradim commented on #3729
And there is no way to run hasura migration without running endpoint?

[2020-01-20 11:02] webdeb commented on #3729
Sorry I am not confident enough with your system. So I can't give you any advice. I sounds to me, that you have to redesign it. And I think you are not alone in the wild :)

Yeah you need the API endpoint to be running anyway, it can be with cli-migration container (the endpoint will run on localhost inside the container) or the default one, so you can connect from somewhere else (like your gitlab

[2020-01-20 11:05] rakeshkky commented on #3731
I second 3.

@0x777 The requirement is these single row mutation should return a `<table>` object type. If there is no select permission defined, then the `<table>` object type is not generated, which also forces not to generate these mutations.

Hence, no single row mutations are generated if select permission is not defined on the table.

[2020-01-20 11:51] ozum commented on #2151
@beepsoft, I didn't see that until I read your message. I hope Hasura is not becoming a "fake open source". It's understandable that offering paid services and paid support. However, splitting software features as an open source vs. pro seems to me not "open source". Worst of all, offering a fundamental feature such as rate limiting as a "pro" feature... Especially considering without rate limitin

[2020-01-20 13:31] dostalradim commented on #3729
Sorry I meant external endpoint (like my app with graphql).

Developer creates NodeJS application which is providing graphql interface and is using graphql interface from hasura graphql-engine. In this situation developer creates postgresql database and hasura graphql-engine in his docker and with web console interface creates what they needs and append his graphql like "remote schema" in hasura i

[2020-01-20 15:26] webdeb commented on #3729
Yeah, I got it. Your remote-schema service (NodeJS ?) has to be running.
Can't you deploy your remote-schema service first?

[2020-01-20 15:28] webdeb commented on #3729
So, if I understand correctly, your remote-scheme service depends on hasura itself. But anyway, can't you deploy it without hasura being deployed first?

[2020-01-20 15:35] webdeb commented on #3729
After thinking about this. I find it also strange, that HASURA requires the remote-service to be running. Because its a remote-service it can fail anyway, I would expect that hasura would still run, maybe throw an exception when you really call the remote-schema, otherwise operate normally on its own schemas etc.

@0x777 is it expected, that an unreachable remote-schema breaks the whole engine, or

[2020-01-20 15:50] webdeb commented on #3729
@dostalradim does this demonstrate your problem?

![hasura-remote-schema-dependencies](https://user-images.githubusercontent.com/14992140/72739929-f6d43880-3ba4-11ea-855e-c19c5f1ba84d.png)

[2020-01-20 17:46] Tailslide commented on #2468
Just curious if this is something being looked at now that postgres 12 is released. It would be really nice to be table to query on JSONB subfields.

[2020-01-20 20:00] marcfalk commented on #2768
Would love this too! For now I'm using [upsert](https://docs.hasura.io/1.0/graphql/manual/mutations/upsert.html#update-selected-columns-on-conflict) although it's not highly recommended in the docs. What are the drawbacks of doing that until a multi-update feature is here?

[2020-01-20 21:10] revskill10 commented on #2768
Currently, i use multiple mutation in one graphql query to achieve this, as Hasura allows you to use multiple mutation inside one query, and all of them will execute in one transaction.

[2020-01-21 02:54] weyert commented on #2329
@juicycleff how would that work with Hasura?

[2020-01-21 06:40] dostalradim commented on #3729
Yes, it is my point. This graph is little complicated because I do not understand what nodes are but I think we get each other.

Sufficient solution should be disable the remote schema checking during migration OR asynchronous delayed checking of remote-schema. I understand that hasura have to download schema from re-schema endpoint but it can be later or am I missing something?

[2020-01-21 06:48] tirumaraiselvan commented on #3729
@webdeb It is indeed only a requirement during migrations that the schema be consistent (and a remote schema that is not available is marked as inconsistent metadata). This does not affect during runtime i.e. you can take down a remote schema while hasura is running and if you restart hasura, it will continue to run while dropping the remote schema parts of the schema.

I do see the circular natur

[2020-01-21 08:00] tirumaraiselvan commented on #3720
@Gerharddc It would be great if you could explain your pgpool setup so that others can build their own read/write replicate setup with Hasura.

[2020-01-21 08:31] jasine opened #3747 "sql query on table with event trigger timeout"
after upgrading to 1.0, sql query on table whit event trigger get timeout

I found when I use `pg_cancel_backend` cancel the process of function `CREATE OR REPLACE function hdb_views."notify_hasura_area_INSERT"() RETURNS trigger` works

but after a while it get stuck again

[2020-01-21 08:48] almassapargali opened #3748 "Add select input to enum fields"
Hello, we're using Hasura console as a simple admin interface, and it's great so far. We have a small enhancement we'd like to see though.

We have a enum table called `business_entity_types`, which have limited set of values:
<img width="633" alt="Screen Shot 2020-01-21 at 14 36 25" src="https://user-images.githubusercontent.com/1816725/72788803-b89a5000-3c5c-11ea-9ba1-26f202e92608.png">

And we

[2020-01-21 09:51] KZhidovinov commented on #3239
Hi! Have you any plans to fix GeoJSON parsing in subscription arguments?

[2020-01-21 11:39] domusofsail opened #3749 "Error returning null linked fileld during update"
Hasura release: 1.1.0-beta.2

Given these tables:
[code]
If we query table_b:

[code]
We get correctly linked table_a as null:
[code]
If we uptade table_b and want to get linked table_a returned:
[code]
we get the following error:
[code]
We don't have error if:
- table_a_id is not null
- no table_a requested as a returning field
- Hasura release 1.0.0

[2020-01-21 12:07] weyert commented on #1914
Initial release of what? Version 1.1?

[2020-01-21 12:30] webdeb commented on #2861
Since `_st_d_within` is a built-in type, it makes sense to also return the relative `distance` to the geographical object, which you pass into the query. This would allow to `order` the items by the returned `distance`. And in combination with `limit` could result in more efficient queries.

@0x777 really not a simple way to implement it for the `_st_d_within` type? I would like to take action, if

[2020-01-21 13:15] 0x777 commented on #3536
Hi @yasinarik, please take a look at https://github.com/hasura/graphql-engine/pull/3750, we are planning to allow adding a `check` condition on the updated row (the update will fail if this condition does not meet this condition). Once we have that, your requirement can be represented as follows:

1. The `filter` condition (the rows that can be updated) will be as follows:

[code]
   i.e, you can

[2020-01-21 13:24] yasinarik commented on #3536
Hi @0x777 ! How are you? Thank you for letting me know, I've just seen your comment. I will write back to you soon once I read, understand, and test those.

[2020-01-21 13:58] rikinsk commented on #3748
Seems to be the same as https://github.com/hasura/graphql-engine/issues/2296.

Cloisng this issue in favour of that. Please feel free to reopen if you have something else to add.

[2020-01-21 14:33] #3652 closed

[2020-01-21 14:48] jberryman commented on #3388
@makkus thanks for the information. Can you confirm the version of graphql-engine you're using?

[2020-01-21 15:21] polRk commented on #2218
https://github.com/array-analytics/plpg_hashids

[2020-01-21 16:49] sawankumarbundelkhandi commented on #2861
@webdeb @0x777 We are trying to use the computed fields for the same thing. I will update here if I get it to work.

https://docs.hasura.io/1.0/graphql/manual/schema/computed-fields.html

[2020-01-21 17:38] webdeb commented on #3729
@tirumaraiselvan thanks for clarifying 👍One more question. What do you mean by consistent.
That the endpoint exists, or what kind of other information is loaded on migration?
I am asking because a remote-schema could also change over time. Like fields it provides etc. How is hasura handling this? Thank you

[2020-01-21 17:42] OLDIN commented on #3232
I support **tafelito’s** answer, the problem still exists in version **v1.1.0-beta.2**
And because of this, exporting the scheme to SDL does not work.
[code]

[2020-01-21 17:50] webdeb commented on #3740
@bionicles I can remember having something similar with my local setup and env variables,
however I `config.yaml` worked for me. and no need to provide `--admin-secret` any more.

[code]

just exclude it from git and maybe checkin a `config.sample.yaml` for your team

[2020-01-21 18:06] webdeb commented on #3729
@tirumaraiselvan found it in the docs

https://docs.hasura.io/1.0/graphql/manual/remote-schemas/index.html#schema-refreshing

[2020-01-21 19:21] FluorescentHallucinogen commented on #2759
Any progress on this?

[2020-01-21 19:34] aroraenterprise opened #3752 "Track this option is checked automatically for commented out SQL"
If you have a SQL like this
-- CREATE VIEW e_space_note_view AS
event though it is commented out, the track this gets checked.

[2020-01-21 20:20] lexi-lambda commented on #3239
Yes, updating #3344 so it can be merged is on my list of things to do, and I should get to it soon. Apologies for the delay!

[2020-01-21 20:49] Gerharddc commented on #3720
As luck would have it, it seems there was actually just a bug in Pgpool 4.1 with LISTEN/NOTIFY causing this strange behaviour https://www.pgpool.net/mantisbt/view.php?id=573 . Using 4.0 solved my problems. After some reading I also found out that Pgpool does actually direct all LISTEN/NOTIFY traffic to the master anyway...

[2020-01-21 20:49] #3720 closed

[2020-01-21 22:08] lexi-lambda commented on #3729
I see the circular nature, too. I think it’s a little bit tricky—we want to ensure that we don’t end up causing schema inconsistencies if the remote schema is some kind of third party backend that the user can’t change, but if it is, then this circular dependency is a reasonable situation to get into.

I’m not sure exactly what the right user interface for this is. It seems like the nature of the

[2020-01-21 22:33] webdeb commented on #3729
So, right now the most simple workaround for such a problem like @dostalradim is facing, would be to

1. deploy the NodeJS service with a minimal "mocked" schema.
2. deploy Hasura perform migrations, with the endpoint for the remote-schema defined, so hasura can check it.
3. deploy the production ready NodeJS schema
4. Finally, in Hasura press the [ Reload ] button to get the new introspection of

[2020-01-21 22:39] #3665 closed

[2020-01-21 22:48] erikhSSI commented on #3671
We manage migrations for our postgres database used within HGE via a separate Rails installation. (And Rails uses a different postgres user than hasurauser.)

So whenever one does a rails migration that ADDS a new postgres table (as one adds new functionality to an app under development), then one needs to re-run:

[code]

on one's postgres installation.  Otherwise that table does not have the pro

[2020-01-22 02:57] jcmoore0 opened #3754 "Mutation Result Get Postgres Query Error when returning null linked field"
Team -  I am getting a mutation failure.
**v.1.1.0-beta.2**     not sure if in previous builds

Problem:  Mutation is failing due to null type cast.

**Browser Response:**
[code]

**Postgres Error:**
[code]

**Root Cause:**
[code]

**Additional Comments:**
This is a outer join to a related table  (integer to integer) with no foreign keys.
If the value of the id is not null, the response is ok.

Th

[2020-01-22 03:12] pnappa commented on #3544
Does this only cover the case of all columns being selected in both parent and child for a specific role, for a specific SQL verb (INSERT, etc)? Otherwise, how would you express that when you have disjoint columns, for example?

[2020-01-22 04:39] nowylie commented on #3544
I had imagined this functionality as being constrained to the row select permissions. You would still specify the column permissions per action for the child table.

Using the example above, in the current version of `graphql-engine` I specify the `application` select permissions like so:
[code]
and the select permissions on my `application_file` table as:
[code]

I would like to be able to specif

[2020-01-22 06:54] wawhal commented on #3731
@tirumaraiselvan @rikinsk @rakeshkky  can we called the argument of the `update_by_pk` mutation from `columns` to `pk_columns` or just `pk`?

I understand that there's already a `pk` present in the name of the mutation; but `pk_columns` or `pk` makes instant sense just like `inc` and `set`. `columns` threw me off a bit.

[2020-01-22 06:59] tirumaraiselvan commented on #3731
@wawhal Yeah, that makes sense to me. Could call it `key` because then it works for unique fields that we might create later (https://github.com/hasura/graphql-engine/issues/519).

[2020-01-22 07:18] dostalradim commented on #3729
Yes, it is exactly direction of our mind right now. We will start just simple endpoint to satisfy hasura during migration and then change its configuration to aim to to our right backend. Or another and maybe a little bit better solution should be to do not have endpoints in migrations at all and just tell about endpoints to hasura through its API after migrations.

And about better solution we wa

[2020-01-22 07:28] rikinsk commented on #3731
I would keep it as `pk_columns` & `<uniq_constaint_name>_columns`. This will ensure types wont conflict and no chance of confusion

[2020-01-22 07:53] polRk opened #3756 "Can not delete permisions"
deleting permissions failed
unexpected : function hdb_views.2b0459a799730f534ae45b212f5f8986b1547a38fec17568b87f9397() does not exist

[code]

[2020-01-22 08:00] rakeshkky commented on #3232
@OLDIN Please give us a minimal example to reproduce the error.

[2020-01-22 08:06] rikinsk commented on #3671
Right, understood! This is indeed a problem and an interesting one. Thanks for reporting this.

Though granting permissions on every metadata reload would solve this issue, it seems like quite an inconvenience.

We'll see if there is a better experience possible and get back to you. Or else we'll definitely add a note in the docs.

[2020-01-22 08:28] rakeshkky opened #3757 "support custom SQL functions having composite type (rowtype) input arguments"
via https://github.com/hasura/graphql-engine/issues/3232#issuecomment-576796667

Tracking an SQL function which returns `SETOF <table>` and type of any one of input arguments is a table row (already tracked) gives the exception described in above referred comment. User creates such functions for [computed fields](https://docs.hasura.io/1.0/graphql/manual/schema/computed-fields.html#computed-fields

[2020-01-22 08:35] polRk commented on #3756
in hdb_views - view doesn't exist

[2020-01-22 08:39] polRk commented on #3756
Dubplicated.

[2020-01-22 08:39] #3756 closed

[2020-01-22 10:50] #3717 closed

[2020-01-22 13:11] dostalradim commented on #3661
You are right, I am really sorry for this issue I did mistake with restoring and permissions.

Thank you! Have a nice day.

[2020-01-22 13:11] #3661 closed

[2020-01-22 14:36] leandroanjos commented on #3754
I'm facing the exact same issue: when returning an empty relationship (return `foreign` when `foreign_id` is `NULL`) from a mutation gives me the same postgres error. I'm omitting the relationship from `returning` as a immediate workaround.

[2020-01-22 15:43] gvNN7 commented on #3573
Any **update** on this? I'm facing the same issue, trying to using _inc in a numeric field like sayed on blog..

The _inc operator atomically increments the existing value of one or more columns by a given amount. This operator is only for columns that have a “numeric” type, **like integer, numeric, float, double etc.**

[2020-01-22 18:57] pcmaffey commented on #2269
This issue is critical to being able to fully use auth webhook securely (storing token in cookie instead of localStorage). Will this be addressed ever?

[2020-01-22 19:19] rkawajan commented on #1291
I'm so excited for this feature! Are there any updates on that?

[2020-01-22 19:46] rjansen91 opened #3758 "Failed to start after postgres reboot"
Hello,

This is happening on our production server, which runs xtuple (ERP system) on postgres.

Hasura has been working for us since July without too many problems. This morning I am told that the hasura user has too many locks that are causing issues and the server had to be restarted. After restart, hasura will not properly connect.

Docker Compose
[code]
Dont see much in the logs, I did see th

[2020-01-22 21:00] jcmoore0 opened #3759 "Enum Not Added To Schema"
**Problem:**  Enums are not updating v1.1.0-beta.2

**Details/ Steps to Reproduce:**

**New Enum**
1. Change table to enum
   Go to Docs -> no enum found for table

**Change Enum**
1. Add row to existing enum table.
2. Press 'reload enum values'
   Go to Docs -> no additional enum found for table

[2020-01-22 21:31] yasinarik commented on #3536
@0x777 OK! I have carefully followed your comments here and there. Yes! The behavior should be like that.

I believe even this part will be satisfied. Per your example, here is what I've always thought:

**Example Situation:**  userTarget has a private profile. Only `followState` and `timeStamp`  etc. columns can be updated.

[code]

How will the actual implementation of these look like on the Has

[2020-01-22 21:51] greatwitenorth commented on #1582
Could someone please provide a full example using `current_setting('hasura.user', 't')`. I'm trying to use the above example, but I keep getting are error when trying to create the function:

[code]

and my function:

[code]

[2020-01-23 00:33] #3758 closed

[2020-01-23 05:59] tirumaraiselvan commented on #3731
@rikinsk `<uniq_constraint_name>` is usually long and ugly. Maybe we can just call it `uniq_columns` .

[2020-01-23 06:44] surendran82 opened #3761 "update docs header to new design"
update docs header to new design

[2020-01-23 11:28] rikinsk commented on #3731
Sure. Fully qualified argument name seems excessive. I would go for `uniq_key_columns` though. `uniq_columns` sounds a little wrong to me for some reason. No strong feelings though.

On a side note, there seems to be an alternate API signature also that we can also go for which seems to be neater in my opinion now.

With our current suggestion, a blow up of root fields can happen in case tables ha

[2020-01-23 13:28] tafelito opened #3764 "Row in event trigger does not present in DB"
I have an event trigger that runs on insert. When my web-hook gets called, the data that I get from the event, even tho it has an id, when I query the data with the received id, nothing comes back

This is what I get from the event trigger

[code]

where `new` is

[code]

then I call `orders_by_pk` with id `db363c91-7cf3-4ebb-9d3f-2622fe95dd89` from the WH and I get `null`

To query hasura from th

[2020-01-23 13:29] #3764 closed

[2020-01-23 14:03] domusofsail commented on #3749
Duplicate of #3754

[2020-01-23 14:03] #3749 closed

[2020-01-23 14:05] praveenweb commented on #3743
@donPuerto - This happens particularly on running the app with yarn and not npm. But either way, the `errorHandler` should point to a config file according to the docs in latest versions. The #3765 PR should address this.

[2020-01-23 15:38] greatwitenorth commented on #3576
Was this supposed to be fixed? I'm using v1.1.0-beta.2 and I'm still seeing the exact same behavior as the OP.

[code]
 And my query:

[code]

and my function:
[code]
[code]

[2020-01-23 17:25] 0x777 commented on #3536
The `check` feature in update permissions is not yet implemented. But it'll be added very soon.

You can always export the metadata, edit it as a json file and import it.

[2020-01-23 17:51] nrakochy opened #3766 "Postgresql If Not Exists"
Hi there,

Thanks for the great tool. It seems as though the `if not exists` syntax is not supported by the SQL runner. I went ahead and dropped the syntax and created the table correctly, but perhaps this is useful information.

1) Go to Data > SQL
2) Attempt to create a table
[code]
3) Error

<img width="1114" alt="Screen Shot 2020-01-23 at 11 43 16 AM" src="https://user-images.githubusercontent

[2020-01-23 19:26] andycmaj commented on #2943
isn't the question, "how does myschema_v1 work given than v2 has caused permanent changes to the backing database schema"?

maybe as you create hasura migrations, you also must create corresponding graphql resolvers that tell v1 how to resolve it's data given v2 database schema?

[2020-01-23 21:00] Youhan commented on #476
`where: { _not:{rel_name:{}}}`

[2020-01-23 21:26] valstu commented on #1325
@howientc did you figure out how to handle this in Azure?

[2020-01-23 22:26] coco98 commented on #2151
Hi folks. We’ll always make sure you can run Hasura in production! Most of our time is and will be spent on open-source work.

Hasura Pro add-ons need Hasura (open-source) to have the required building blocks for rate-limiting (for eg: how allow lists work). We’ll be putting up the spec and raising the PR in a bit.

Also, I'm putting together a blogpost to answer how we will manage Hasura open-sou

[2020-01-23 23:32] jberryman opened #3768 "Audit uses of forkIO"
Usually `async` with `link` or `withAsync` is the right choice (since exceptions get raised in calling thread,  for instance).

`forkIO . forever` should usually use `immortal` or our own version of that (what if the thread just dies?)

[2020-01-24 01:37] theBstar commented on #2787
@marionschleifer @V1shvesh is it done? Would love to take it up if not.

[2020-01-24 05:02] #3743 closed

[2020-01-24 08:25] marionschleifer commented on #2787
@theBstar we haven't received a PR for this yet. So feel free to go ahead 🙂

[2020-01-24 08:54] marionschleifer commented on #3725
@hunterbecton just checking in if your issue is solved? If yes, we can close the issue 🙂

[2020-01-24 08:56] marionschleifer commented on #3744
@spiffytech just checking in to see if your issue is resolved? If yes, we can close this issue 🙂

[2020-01-24 10:19] marionschleifer commented on #3573
@gvNN7 This issue is something we would like to pick up and we are figuring out its priority.

[2020-01-24 10:53] rikinsk commented on #3766
The regex for parsing create statements to execute the `Track this` request which is present [here](https://github.com/hasura/graphql-engine/blob/27910004752e430dbe6c4607f4e3f50e6c198c02/console/src/components/Services/Data/RawSQL/utils.js#L1) needs to be fixed

[2020-01-24 11:01] marionschleifer commented on #3538
@spiffytech just wanted to follow up on this. Is your issue resolved? If yes, we can close this issue 🙂

[2020-01-24 11:03] marionschleifer commented on #3053
@Zoharos just checking in if your issue is resolved? If yes, we can close this issue 🙂

[2020-01-24 11:03] ozum opened #3771 "VSCode Apollo GraphQL extension and 404 Error"
Hi,

I'm trying to use VSCode Apollo GraphQL (1.13.0) extension following this guide: https://docs.hasura.io/1.0/graphql/manual/guides/code-editor-integrations/visual-studio-code.html

I'm getting 404 error:

My config:
[code]

Response in Docker log:
[code]

[2020-01-24 11:05] marionschleifer commented on #3448
@stefan1968 were you able to resolve this issue? If yes, we can close this 🙂

[2020-01-24 11:13] stefan1968 commented on #3448
Yes, you can close. I resolved it.

Thanks.

On Fri, 24 Jan 2020, 11:05 am Marion Schleifer, <notifications@github.com>
wrote:

[2020-01-24 11:20] #3448 closed

[2020-01-24 11:21] marionschleifer commented on #3397
@zolamk I'm closing this issue. If you would like to provide more information, please feel free to re-open 🙂

[2020-01-24 11:21] #3397 closed

[2020-01-24 11:24] marionschleifer commented on #3213
@Toub just checking in if you were able to resolve this issue. If yes, we can close it 🙂

[2020-01-24 11:26] marionschleifer commented on #2607
@jibiabraham I'm closing this issue. Feel free to re-open if you would like to add more information 🙂

[2020-01-24 11:26] #2607 closed

[2020-01-24 12:07] rikinsk commented on #3643
Just listing down the pseudo-code one can use to implement this:

- **Step 1:** Fetch data about available tables/views from postgres in the schemas that you want

[code]
  _Sample response_

  | table_schema | table_name |
  | ----------- | ----------- |
  | public | author |
  | public | article  |

  You can use the Hasura [run_sql](https://docs.hasura.io/1.0/graphql/manual/api-reference/schema

[2020-01-24 16:19] theBstar commented on #2787
@marionschleifer taking this up. will update here in a few days.

[2020-01-24 16:48] lexi-lambda commented on #3759
Thanks for the report! I think I know what’s causing this—we added some additional caching to the metadata reloading process, and it’s being a little too aggressive for enum tables (the enum values aren’t technically part of the metadata, so it thinks the table “didn’t change” and skips reprocessing it). The fix should be easy.

[2020-01-24 17:27] lexi-lambda commented on #3576
@rakeshkky, could you weigh in on the above?

[2020-01-24 20:09] mikyoengine opened #3772 "Allow filtering by computed fields"
If you have a computed field such as `full_name`, it would be very useful to be able to filter by this value. E.g.

[code]

[2020-01-25 00:29] karice opened #3773 "Query sometime fails when ID is marked as required with error "expected a value for non-nullable variable""
I ran into an issue when executing the same query multiple times (5-10 times) in a row. Sometimes it works and sometimes it returns the follow error saying "expected a value for non-nullable variable." There are no other custom permissions for the user on the table. The user has access to all of the columns.

I did notice if I mark the id params as not required it works and returns data without an

[2020-01-25 00:32] fastengineer commented on #1186
I can work on this issue if anyone suggest me an example about how to make metadata API calls to Hasura. Thank you.

[2020-01-25 00:56] GavinRay97 opened #3774 "Websocket support for Webhook Events + Actions"
Alexis suggested I create an issue to track this.

Websocket support for events and actions would be fantastic. This improves performance and latency significantly, and reduces the amount of data sent over the wire.

I did some poking around and it looks like this bit is where the handler for Websocket requests would need to go for events:

https://github.com/hasura/graphql-engine/blob/27910004752

[2020-01-25 01:14] fastengineer opened #3775 "[Feature] Rest Support, Add Sofa, or Provide docs for how to make an integration with the Sofa"
Sofa is super, awesome GraphQL to REST gateway. Everybody have customers using rest, they never even heard of GraphQL. Sofa solves the problem with one line code. See example below.
https://medium.com/the-guild/sofa-the-best-way-to-rest-is-graphql-d9da6e8e7693

And feature 2: We have the opposite use case of this topic. We have old rest apis. We don't want reimplement them. So we need to rest to g

[2020-01-25 01:19] fastengineer commented on #3724
I think it is easy with Postgres triggers.

[2020-01-25 02:34] karice commented on #3773
I created a fresh Hasura instance (v1.0 beta 2), created one table with one column and execute same query several times in the hasura console and received the same "expected a value for non-nullable variable" when passing in a required parameter. If I change the parameter to option the issue goes away.

[2020-01-25 03:05] mwarger opened #3776 "v1.1.0-beta.2 not starting?"
Possibly related to https://github.com/hasura/graphql-engine/issues/3734

I updated my docker image to the beta, and now it appears the server won't start.  It seems like it just kind of stops doing anything.  Any advice is appreciated.  The logs are below.

Relatedly, it would be helpful if there were downgrade instructions for the latest catalog versions: (https://docs.hasura.io/1.0/graphql/manu

[2020-01-25 03:24] lexi-lambda commented on #3776
It’s admittedly not terribly well-worded, but your server seems to be starting just fine. The “starting API server” message means the setup has finished successfully, and it’s now starting to listen for connections. That message is the last message logged as part of a successful startup sequence. Maybe we should another one that says “started API server” or something like that?

Anyway, if you’re

[2020-01-25 03:34] hunterbecton commented on #3725
Yes, thank you @marionschleifer

[2020-01-25 03:34] #3725 closed

[2020-01-25 03:46] mwarger commented on #3776
Awesome, thank you.  My app is indeed running.  I went back and just looked I thought I had previously seen the logs say something like "Started console at address 192.168.1.1:PORT" or similar.  I didn't see that, so I thought it had stopped short.

I was trying to access the wrong port number, so I didn't see the console as I expected.

I guess it's a good sign i need to take a break.  Thanks aga

[2020-01-25 03:46] #3776 closed

[2020-01-25 04:44] Toub commented on #3213
Unfortunately not.

I am not able to provide an easy reproduction scenario, but in my environment, when I deploy, it appends 50% of the time.

I guess it is related to the state of hasura engine at the moment I send the request.

My scenario is something like:
- hasura service is running (or starting)
- a node service is starting

This node service try to do the following:
- 1) reset hasura metada

[2020-01-25 05:32] KZhidovinov commented on #3239
As workaround I used argument in WKT and subscription to custom function:
[code]

[2020-01-25 09:11] jfarcode commented on #1573
Is there any news?

[2020-01-25 21:12] piroszhog opened #3777 "support _is_null operator for jsonb fields in permission builder"
### Version
1.0.0

### What I try to do
Put `null` in permission check of `jsonb` field named `message`

![image](https://user-images.githubusercontent.com/17676101/73127346-81fb6700-3fc7-11ea-903a-633aef192013.png)

### What I get
App crashes with an error below

[code]

### What I excpect

1. No app crash
2. Ability to add filter by `null` value of field, not only by json object

[2020-01-26 00:51] mwarger commented on #3754
Thanks for the tip about the workaround.  That worked for me as well.

[2020-01-26 04:28] edmundmunday opened #3778 "DB schema loading failed: postgres-error : more than one row returned by a subquery used as an expression"
Was working in the Hasura UI building DB schema. Then randomly started getting this error.

[code]

Hasura UI could no longer see any of the Postgres tables, all the relationships still seemed functional in GraphiQL.

Attempted to modify meta-data manually to remove any recently created relationships that might be causing the error, even cleared all metadata to start fresh, did not resolve the iss

[2020-01-26 22:48] dminkovsky commented on #3737
I was trying to accomplish something like this via the solution in https://dba.stackexchange.com/questions/52235/how-can-i-use-an-environment-variable-in-a-postgres-function, i.e. setting `-c ...` with `PGOPTIONS`. However, for some reason, I could access the resulting setting with from `psql -U postgres` but not from Hasura queries!

I got it working by directly appending the `-c ...` to `command

[2020-01-27 06:26] tirumaraiselvan commented on #3773
@karice Can you see if the actual network call (from Web console) and see if they are the same?

[2020-01-27 08:07] ecthiender commented on #3771
@ozum from the above pasted Docker logs, I can see `"url":"/v1/v1/graphql"`. So seems like that is the issue? Not sure how though (because your config looks alright to me).

[2020-01-27 08:13] tirumaraiselvan commented on #3147
Stumbled into this problem :)

For e.g. if I search for JSONB because I want to know what operators are present, I get to the API reference for JSONB but it doesn't have much info about supported operators, etc.

The operators are mentioned here: https://docs.hasura.io/1.0/graphql/manual/queries/query-filters.html#jsonb-operators-contains-has-key-etc

The operators should ideally be placed in api

[2020-01-27 08:30] tirumaraiselvan commented on #3777
@rikinsk Can you pass `null` in the permission builder as jsonb operand?

[2020-01-27 09:00] beepsoft commented on #2151
@coco98 Does this mean that the open-source version of Hasura will definitely have some form of rate-limiting and this will be extended for the pro version?

[2020-01-27 09:20] ozum commented on #3771
@ecthiender, I saw `"url":"/v1/v1/graphql"` somewhere during investigation too, even tried with `url: "http://localhost:8080/graphql"`, `url: "http://localhost:8080"`. I'm pretty sure config is correct, because other tools work as expected.

BTW, I followed this [guide from Hasura](https://docs.hasura.io/1.0/graphql/manual/guides/code-editor-integrations/visual-studio-code.html).

[2020-01-27 10:31] thunef opened #3780 "Keycloak + Hasura = Failed to fetch schema {"error":"RESTEASY003065: Cannot consume content type"}"
Issue with using keycloak and hasura.
I am using the docker image hasura/graphql-engine:v1.0.0 and postgres 11.6.

The only log message from hasura (with debug level) is: ```  {"timestamp":"2020-01-27T10:29:08.488+0000","level":"info","type":"http-log","detail":{"operation":{"query_execution_time":4.9145359e-2,"user_vars":{"x-hasura-role":"admin"},"request_id":"0c333ad9-505a-4a8d-8ba3-7daebb8795ce

[2020-01-27 10:37] thunef commented on #3780
I am currently using keycloak and the keycloak-gatekeeper, provided by keycloak, as a reverse-proxy to authenticate requests to hasura. Request to the graphql api works great but the console is very broken.

[2020-01-27 11:10] ecthiender commented on #3771
@praveenweb any idea about this?

[2020-01-27 11:47] shahidhk commented on #3780
@thunef The Console makes requsts to `/v1/version` and `/v1/query` endpoints. You need to add permissions to both apart from the GraphQL API at `/v1/graphql`

[2020-01-27 12:31] yasinarik commented on #3536
Oh well great to know that. I can't wait to use the `check` feature and am really thankful for your effort. @0x777

[2020-01-27 15:43] karice commented on #3773
@tirumaraiselvan, yes they are the same. I was also able to reproduce in Postman.

[2020-01-27 15:58] thunef commented on #3780
@shahidhk Thanks for the reply! Each of those endpoints are accessible from the browser and the credentials should be included by Hasura when any requests are made right?

[2020-01-27 16:13] polRk opened #3781 "How can i create API token's for my users ?"
I using firebase auth, and i want to create API tokens for my users (role user) with role '**API**'. How can I implement this?

[2020-01-27 19:54] polRk commented on #2945
Like this ?
[code]

[2020-01-27 20:55] marionschleifer commented on #3775
@fastengineer we have a blogpost on how create a remote schema to wrap a REST API with Hasura: https://blog.hasura.io/create-a-remote-schema-to-wrap-a-rest-api-hasura/.

Also, there is this tool: https://github.com/IBM/openapi-to-graphql. It allows you to get a GraphQL schema which you then can add as a remote schema.

Our recommended approach to solve this is the upcoming actions feature. You can

[2020-01-27 21:01] marionschleifer opened #3782 "add env var for disabling cors headers"
Currently, in order to disable cors headers, the `--disable-cors` flag needs to be set.

We should add an environment variable that will allow to do the same.

The docs need to be updated accordingly: https://docs.hasura.io/1.0/graphql/manual/deployment/graphql-engine-flags/reference.html#command-flags.

[2020-01-27 21:03] marionschleifer commented on #2918
I created a new issue to add an env var to disable cors headers: https://github.com/hasura/graphql-engine/issues/3782. Closing this one.

[2020-01-27 21:03] #2918 closed

[2020-01-27 21:08] lexi-lambda commented on #3778
It isn’t immediately clear from the error message what the problem is, so could I ask you to provide a little more information? What version of graphql-engine are you running, and is it possible to reproduce the issue starting from a fresh database schema?

[2020-01-27 21:39] bionicles commented on #3740
worked. please document. closing

[2020-01-27 21:39] #3740 closed

[2020-01-27 21:44] bionicles commented on #1862
+ phone numbers
+ emails
would be useful and common

[2020-01-27 23:06] DanieltheYogi opened #3783 "Cannot GRANT SELECT on schemas "information_schema" & "pg_catalog" in GCP CloudSQL Postgres 11"
Similar/related to:
#1677
#3460

It does not seem possible to grant SELECT permissions on information_schema.* tables nor pg_catalog.* tables in GCP's CloudSQL's managed PostreSQL server. Users don't actually have superuser privileges and these tables seem to be protected against changing their permissions.

The documentation on [this page in your documentation](https://docs.hasura.io/1.0/graphql/

[2020-01-27 23:22] arjunyel commented on #3781
https://firebase.google.com/docs/auth/admin/custom-claims

[2020-01-28 03:05] kmclaugh commented on #2592
I second this request

[2020-01-28 03:21] kmclaugh commented on #2592
At the very least, we should be able to sort by a named path

so for a data jsonb column like this
`
data: {
  "amount": 10
}

and a query like this
`
sometable {
    timestamp
    data
    amount: data(path: "amount")
    entity {
      email_addresses
    }
  }
`
You could sort by this
`
"orderBy": [{"amount": "asc"}]
`

[2020-01-28 03:49] weyert commented on #3782
Great idea :)

[2020-01-28 04:15] shahidhk commented on #3780
@thunef What does the browser network tab say?

[2020-01-28 04:20] polRk commented on #3781
Firebase tokens expire in 1 hour. It's not good for me.
I’m thinking about how to save tokens in the database and compare their _exists before the request. How to configure Hasura to work on authorization and without authorization?

[2020-01-28 04:38] 0x777 commented on #3778
@rikinsk This looks like a query that the console issues?

[2020-01-28 05:04] 0x777 commented on #3781
You can configure an 'unauthenticated' role and then define permissions for that role: https://docs.hasura.io/1.0/graphql/manual/auth/authentication/unauthenticated-access.html.

[2020-01-28 05:07] polRk commented on #3781
Yes ! This is my solution.
`HASURA_GRAPHQL_UNAUTHORIZED_ROLE: "anonymous"`

And permissions
[code]

[2020-01-28 05:07] 0x777 commented on #3783
The workaround suggested [here](https://github.com/hasura/graphql-engine/issues/1677#issuecomment-468273423) didn't work?

[2020-01-28 06:03] 0x777 commented on #3773
This is an issue with the query cache - when a query's plan is cached, we don't seem to validate the variables correctly in the presence of default values for arguments.

[2020-01-28 07:04] nowylie opened #3784 "Event trigger migrations not working in v1.1.0-beta.2"
When applying migrations to a fresh database using server and cli version `v1.1.0-beta.2` the postgres triggers for the event trigger functionality do not appear to be created.

Here is a screenshot of the hasura console showing the event trigger after applying migrations:
![Screenshot from 2020-01-28 17-03-28](https://user-images.githubusercontent.com/5195341/73242225-780c7a80-41f8-11ea-9614-39f1

[2020-01-28 08:35] thunef commented on #3780
@shahidhk A post request is made to my keycloak server in which it responds with and 415.
Request:
```{"type":"select","args":{"table":{"name":"hdb_version","schema":"hdb_catalog"},"columns":["hasura_uuid","console_state"]}}```

Is this a table that I need to create or is it something that is generated or something else? I do not get any errors in my keycloak logs.

Otherwise, only redirects and O

[2020-01-28 10:40] rikinsk commented on #3778
It is.

@edmundmunday As @lexi-lambda mentioned, we will need some way to reproduce this to be able to debug it.

As the error suggests, one of the sub-queries in the query is returning multiple rows where 1 was expected but we can't tell which one exactly from the error message.

[2020-01-28 11:47] beerose commented on #1862
Isn't it related to https://github.com/hasura/graphql-engine/issues/192?

[2020-01-28 12:00] beerose commented on #3771
Not sure if this will help, but I was able to reproduce tis bug doing the following:

1. I provided proper config. VSCode Apollo extension was working fine.
2. I change url to invalid one. Server returned the same error as in the issue.
3. I changed url back to valid one, but extension was still broken, server kept returning an error.

Then I reloaded VSCode and it was working fine again.

[2020-01-28 12:18] oschade commented on #1267
I would definitely think about this. Hasura seems to be a great thing, but not having the ability to validate user data seems a big security issue. In this form Hasura can't really use in production.

[2020-01-28 14:37] rikinsk commented on #3777
@piroszhog Can you explain your use case a little more. When would  `jsonb_col contains null` evaluate to `true`?

[2020-01-28 14:48] rikinsk commented on #1862
@beerose This is actually about adding validations for data via check constraints before insert/update.

[2020-01-28 16:16] maarekj opened #3786 "Why don't you provide a debian or ubuntu package?"
Hi, I love project hasura.

But my server architect doesn't want to use docker (for various internal reasons).

Is there a way to install hasura on a debian/ubuntu server without using docker ?

Thank's you.

[2020-01-28 16:21] gwert commented on #821
Maybe not the simplest and cleanest option for everyone (or even this use case), but the foreign-data wrapper module ([postgres_fdw](https://www.postgresql.org/docs/current/postgres-fdw.html)) might be a way to solve this problem for some.

[2020-01-28 17:02] mrsupiri commented on #3766
I am interested in solving this issue, Does Hasura server has an endpoint to check if the table already exists? or should I just escape "IF NOT EXISTS" from the query?

[2020-01-28 18:51] esseswann opened #3787 "Custom type resolvers"
Is there any way I could customize type resolvers?
For example one might require resolve `timestampz` to Unix Timestamp or have it being able to parse formatting options like `timestamp(format: "moment-like format")`

[2020-01-28 19:11] panthershark opened #3788 "hasura CLI - migrate create ignores --project flag"
The CLI isn't applying the `project flag`. This is being used to generate scripts to build a new instance of hasura from scratch which will be helpful for CI and new developer environments.

[code]
**Expected behavior -** the sql and hasura schema will be written to the tmp directory
**Actual behavior -** the sql and schema are written to `cwd`

Version info below.
[code]

[2020-01-28 19:11] mikyoengine commented on #2355
@0x777 Thanks for the detailed explanation. This was very helpful and is very much needed in the documentation. I think the confusion arrises when developers start creating filterable lists. In my case I stated by adding filters via parameters e.g.
[code]
and these filters worked great for columns on `user` but not for something like
[code]
as it ends up filtering out all users that don't have ent

[2020-01-28 19:22] pcmaffey commented on #3697
Related: looks like the console also does not respect the `--stringify-numeric-types` flag. ie when manually inserting a foreign key, will modify the bigint and error with foreign key violations.

[2020-01-28 19:27] panthershark commented on #3788
I found that I need to run `hasura init --directory ./tmp` first, then it will work. when the directory is not intialized, the CLI might want to return an error letting the user know. Right now, it succeeds and writes to cwd which isn't what I expected to happen if the parameter was not valid.

[2020-01-28 19:27] #3788 closed

[2020-01-28 20:24] piroszhog commented on #3777
@rikinsk I expected that it will work like non-null check, the same behaviour as from `_is_null: false` operator. Actually, it would be great to add `_is_null` operator for `jsonb` fields.

[2020-01-28 21:03] jcmoore0 opened #3789 "Console Permissions - Cannot read property 'length' of undefined"
**Problem**:  **Error:  Cannot read property 'length' of undefined**
Additional Info:
  1.  Occurs when editing 'SELECT' permission.
  2.  Is intermittent and usually occurs on 1 of my 2 roles for a table.
  3.  Bulk sql/ loadSchema data from server is missing 'permissions.select.computed_fields' empty array
  4.  I don't have any computed_columns

**v1.1.0-beta.2**

**line 89 -  console/src/compo

[2020-01-28 23:22] lexi-lambda opened #3791 "Server builds the GraphQL schema before performing dependency resolution, causing startup failures"
As reported by @rikinsk [on slack](https://hasurahq.slack.com/archives/CKMR0FAKE/p1580216046009900), the metadata build process has a minor bug that can cause inconsistent metadata to cause startup failures. The new build process performs schema integrity checking in two phases:

  1. First, it validates the internal consistency of metadata objects and collects information about their dependencies

[2020-01-29 00:02] dminkovsky commented on #3576
There's no way to access session data from computed fields, right?

[2020-01-29 03:52] tirumaraiselvan opened #3792 "reload_metadata API should take optional argument to reload Remote Schemas"
The `reload_metadata` API does not reload Remote Schemas as it is a costly step (and might be unnecessary). For reloading remote schemas, there is the explicit `reload_remote_schema` API.

But there might be a need to `reload_metadata` while also reloading Remote Schemas. Hence, an optional argument could be provided to `reload_metadata` like `reload_remote_schemas: true` to achieve this.

Side no

[2020-01-29 03:57] lexi-lambda commented on #3792
Definitely still relevant! `reload_metadata` still doesn’t refresh remote schemas by default (unless their metadata changed). Admittedly the caching is much less sophisticated right now than it ought to be and ends up reloading things more than it ought to, but fixing that will only make this even more relevant.

[2020-01-29 03:59] tirumaraiselvan commented on #3792
@lexi-lambda I was more concerned about the consistency of schema across all instances.

As opposed to the behaviour mentioned in the Side Note in OP, I guess the schema would atleast be consistent across all schemas?

[2020-01-29 04:00] lexi-lambda commented on #3792
Ah, no, that issue is still relevant as well. The logic around schema syncing isn’t any cleverer even with the incremental metadata changes.

[2020-01-29 06:41] rikinsk commented on #3777
Got it. This seems to be a regression. Changing the scope of this issue to allow `_is_null` operator for json fields

[2020-01-29 06:51] jcmoore0 commented on #3789
Thanks @rikinsk for the quick response.
As a short term work around,  I can use the previous console version to edit permissions.

[2020-01-29 06:59] tirumaraiselvan commented on #3777
@rikinsk Wouldn't there be a difference between Postgres NULL (value not given to a column) and JSONB `null` (value of a json/jsonb column is set explicitly to null)?

[2020-01-29 08:05] #3781 closed

[2020-01-29 08:08] tirumaraiselvan commented on #3791
@lexi-lambda Will this issue also be related to  https://github.com/hasura/graphql-engine/issues/3729#issuecomment-576907256

[2020-01-29 11:32] tirumaraiselvan commented on #1914
@weyert Haha, initial release of Scheduled Trigger. This might be in v1.1 or v1.2.

[2020-01-29 11:46] rikinsk opened #3793 "optimise count query in browse rows page to account for really large tables"
The row count query currently being made on browse rows page can be quite slow to run in case a table has miliions of rows. A more optimised query needs to be used.

[2020-01-29 12:00] tirumaraiselvan commented on #1582
@greatwitenorth I don't think `LANGUAGE sql` allows declaring variables: https://stackoverflow.com/questions/24755468/difference-between-language-sql-and-language-plpgsql-in-postgresql-functions

Try switching to `LANGUAGE plpgsql`.

[2020-01-29 12:04] tirumaraiselvan commented on #1186
@fastengineer Thanks for your help. But, we have already finished work on this and just need to put it out.

[2020-01-29 12:06] mryvz opened #3794 "Filter permission support"
I only want to allow query only for indexed fields. Is it possible to limit query options for fields? for example ; allow only _eq filter on id field, or don't allow like query on string field etc

[2020-01-29 12:14] tirumaraiselvan commented on #3747
@jasine This is strange. Is it happening for all tables with event triggers?

Any more info would really help.

[2020-01-29 15:25] barmaley-banned opened #3796 "Can't sort by multiple nested fields"
query
[code]
gives error
[code]
removing one of order rules gives normal result
[code]

[2020-01-29 15:59] weyert commented on #1914
Oh right, yeah, that makes sense :D

[2020-01-29 18:06] coltonbh commented on #1288
Also, if trying to use the jwk_url with Auth0 it will not work (currently) as noted in the know issues here: https://docs.hasura.io/1.0/graphql/manual/auth/authentication/jwt.html#auth0

[2020-01-29 18:41] lexi-lambda commented on #3791
@tirumaraiselvan I think you’re right that it’s somewhat related. I’m not sure what the right behavior should be for remote schemas, though, so I probably won’t resolve that issue as part of this fix.

[2020-01-29 21:35] jberryman commented on #3768
Possible relation to https://github.com/hasura/graphql-engine/issues/3388

[2020-01-29 22:26] flybayer commented on #3784
I think I'm seeing the same thing, but it happens a bit differently for me.

I upgrade to `v1.1.0-beta.2` with an existing DB including insert triggers. Somehow my insert triggers have been lost from the DB. I'm able to fix them by removing the insert trigger and then adding it back.

[2020-01-29 23:00] bionicles opened #3797 "Are fine grained permissions implemented in SQL or Haskell?"
I like how easy it is to define the tables and permissions... just evaluating right now and not using this in production

To make a medical startup, as a founder, I want to know the data is safe.

Does Hasura implement the permissions in Postgres with SQL, or in the Hasura server with Haskell?

Just had a nightmare scenario in my mind where, direct connections to the database would not have define

[2020-01-29 23:52] pnappa commented on #3672
(took me a while to get around to turning the JIT off, but I eventually ran into a query that took 144s, and 143 of those were the JIT compiling and optimising..)

To turn it off in Docker, you need to add a command to configure postgres with the JIT off. So your docker-compose block might look something like this:

[code]

[2020-01-30 04:37] mitar opened #3799 "Remove mutations from the schema"
I would like to simply remove all mutations from the schema so that they are not even shown in the GraphQL. I know that I can disable them through permissions so nobody can call them, but I would like to simply remove them altogether. Is this possible?

[2020-01-30 05:20] mitar opened #3800 "Change how subscriptions work"
It is recommended that Hasura is the front-facing GraphQL server and other parts of a GraphQL schema are added through remote schema feature. But how can one in such setup change how subscription work? I would like to modify it so that I cache all live query results and do a diff and send only JSON patch of the diff over the web socket to the client. I would not put such logic into Hasura itself (

[2020-01-30 06:50] coco98 opened #3801 "[console] Populate down migrations with a comment, in case console can't figure out what the right down migration should be"
In case the console can't figure out what the down migration should be, it should populate the down migration with a comment.

For example:

[code]

@arvi3411301 This should go along with the v2 config.yaml change that is happening so that the squash command works well.

[2020-01-30 09:11] #3719 closed

[2020-01-30 09:19] marionschleifer commented on #3633
@mklueh I'm closing this issue. Feel free to re-open if you'd like to add something 🙂

[2020-01-30 09:21] shahidhk commented on #3780
This request is sent by Console to Hasura under `/v1/query` endpoint to get some metadata.

Why is Keycloak intercepting this and returning 415?

How is Keycloak configured? Is it a proxy in front of Hasura or is it configured as a webhook that Hasura can use?

[2020-01-30 09:41] coco98 opened #3802 "Tracking a large number of tables in a single metadata load query is slow / doesn't work"
Replicate:

1. Running hasura/graphql-engine:v1.1.0-beta.2
2. Load this sample schema in postgres (sample.sql.txt).
3. Import the attached metadata json
 (big-metadata.json.txt)

[big-metadata.json.txt](https://github.com/hasura/graphql-engine/files/4133275/big-metadata.json.txt)
[sample.sql.txt](https://github.com/hasura/graphql-engine/files/4133276/sample.sql.txt)

Note: This doesn't affect Grap

[2020-01-30 09:43] fpieper commented on #2269
@pcmaffey it seems to be fixed with https://github.com/hasura/graphql-engine/pull/2305
(didn't test it myself)

[2020-01-30 09:46] 0x777 commented on #3799
A query or mutation is only exposed if it is explicitly enabled by allowing permissions for a role (only the default `admin` role has access to all the queries and mutations).

[2020-01-30 09:48] coco98 commented on #3802
For now, this script might serve as a good workaround: https://gist.github.com/coco98/2a65f9fe8c1c0f5e4bee92d8cb66bc4c

[2020-01-30 09:49] raitucarp opened #3803 "[event-triggers] Hasura not triggering webhook"
When I  change the webhook URL in event triggers. Hasura does not call this webhook anymore. I have to delete the event trigger and create a new one with the same configuration except for its URL.

I am curious about what's happening there? Because I see no logs regarding this issue.

[2020-01-30 09:53] tirumaraiselvan commented on #3803
@raitucarp Which version of Hasura are you running?

[2020-01-30 09:58] coco98 commented on #3797
@bionicles The permissions are implemented at the Hasura level.

If you're accessing data in Postgres and want to reuse the permissions you've defined, you should go through Hasura and GraphQL. If you're accessing Postgres directly, then the permissions will not be applied.

I wouldn't say that Hasura is intended to be the _only_ way to connect to Postgres. DB admin level tasks, specific use-cases

[2020-01-30 09:58] #3797 closed

[2020-01-30 10:03] raitucarp commented on #3803
I've tried v1.0.0, v1.1.0-beta.1 and v1.1.0-beta.2. I don't know-how behind the scene of postgre notify works. But it seems, after updating the URL, PostgreSQL stop send the notify. Correct me if I'm wrong

[2020-01-30 10:05] raitucarp commented on #3803
My case was, I've tried to restart Hasura and Postgres after changing the URL.

[2020-01-30 11:52] thunef commented on #3780
Keycloak is configured to be a proxy in front of Hasura with the help [keycloak gatekeeper](https://www.keycloak.org/docs/latest/securing_apps/index.html#_keycloak_generic_adapter). I tried different configurations of the gatekeeper but all that 'works' gives the same error.
I do not know why Keycloak is returning 415...

[2020-01-30 13:55] 0x777 opened #3805 "log time spent per each phase in a request's lifecycle"
Currently, we log `execution_time` which even though measures execution time on Postgres, might actually be measuring the overall execution time of a request inside the web server's handler (because of Haskell's laziness). It would be great if we can break down the current `execution_time` into various phases.
1. `request_read_time`: time spent in reading a request's body.
2. `query_process_time`:

[2020-01-30 14:01] rikinsk commented on #3766
@mrsupiri You need to update the regex defined [here](https://github.com/hasura/graphql-engine/blob/27910004752e430dbe6c4607f4e3f50e6c198c02/console/src/components/Services/Data/RawSQL/utils.js#L1) to handle the case where "IF NOT EXISTS" is present in the query.

[2020-01-30 14:24] mrsupiri commented on #3766
yeah, I went through the code and I have a basic understanding of how it works, I just want to know how should I handle `"IF NOT EXISTS"` in the query. Should I just update that [createSQLRegex](https://github.com/hasura/graphql-engine/blob/8a9901d417c1cde1e74744188779ad179c190120/console/src/components/Services/Data/RawSQL/utils.js#L1) so that it will ignore `"IF NOT EXISTS"` from the query and l