[2020-01-30 15:24] hellsan631 commented on #1498
Adding a voice of support here. You can already do aggregate queries with a where clause inside of the object.

[code]

Found it weird that you couldn't do that in the order/where clause.

[2020-01-30 15:27] beepsoft commented on #2735
I have the same issue (#3517) and this is also the workaround I am thinking about. When I get something from the subscription I only consider it as a "ping" and do an actual query to find the updates since the last record I received.

This may worth putting such a function into an npm library on its own.

[2020-01-30 16:23] pcmaffey commented on #2269
@fpieper As noted in the OP, this is different issue. Have tested and cookie headers aren't forwarded from auth webhook.

[2020-01-30 18:07] mitar commented on #3799
So the schema introspection is dynamic given the current role? Is this documented somewhere?

[2020-01-30 18:25] rikinsk commented on #3766
@mrsupiri You just need to update the regex. As you mentioned the rest of the code shall handle the edge cases.

[2020-01-30 19:49] bionicles commented on #3797
@coco98 @marionschleifer thanks for clarification

[2020-01-31 01:53] dionjwa commented on #2269
I ended up just making a merged Graphql schema that just did the same thing (validated the token and setting the cookie). Since merged schemas forward response cookies to the client, you can get websocket cookies, it's just an extra hoop. On the plus side, it makes the auth webhook very small (just examine the session token and accept or reject).

[2020-01-31 05:53] rikinsk commented on #3799
Not in detail but there is a note [here](https://docs.hasura.io/1.0/graphql/manual/auth/authorization/roles-variables.html#roles)

[2020-01-31 05:55] mitar commented on #3799
Awesome. Thanks.

[2020-01-31 05:55] #3799 closed

[2020-01-31 06:22] marionschleifer commented on #241
@dilame This issue is something we would like to pick up and we are figuring out its priority 🙂

[2020-01-31 07:42] marionschleifer opened #3806 "Tests for `/explain` API"
We need to add tests for the `/explain` API.

Docs for explain API: https://hasura.io/docs/1.0/graphql/manual/api-reference/explain.html

The point of this issue is that we currently have a test suite, in the `server/tests-py/` directory, for the backend, which tests input-output behavior for a variety of queries including many GraphQL queries. However, the `v1/graphql/explain` API, which is used

[2020-01-31 08:24] hengsovandara opened #3807 "returning relationship field after insert error(v1.1.0.beta2)"
While upgrading to to latest version( I mean v1.1.0.beta2 ), which cause error when I have the query insert and returning the relationship field( which I didn't provide in values ) and expected as null, but got error that `No operator matches the given name and argument type(s). You might need to add explicit type casts.`

[2020-01-31 08:26] tirumaraiselvan commented on #3807
Dup of https://github.com/hasura/graphql-engine/issues/3754 ?

[2020-01-31 08:29] hengsovandara commented on #3807
@tirumaraiselvan yeah exactly, sorry because I cannot find the issue last morning. So I could close the issue.

[2020-01-31 08:29] #3807 closed

[2020-01-31 08:53] polRk opened #3808 "unable to insert data with foreign_key to enum table"
I tried to set the value for the enum of the linked column

[code]

Https query
[code]

It helped me to make the table normal from enum first, and then make enum again

[2020-01-31 09:53] 0x777 commented on #3705
@jberryman The approach with mixins looks neat, however I'm a little concerned about the editor tooling support. What is the support for mixins in dante or haskell-ide-engine? I think we can create a PR which overrides a standard module with a mixin and ask everyone to try out the PR and see if anything breaks with their editors?

[2020-01-31 12:07] rikinsk commented on #3697
@pcmaffey This is being tracked in #3667

[2020-01-31 12:56] rikinsk commented on #3808
@polRk Can you share some more information on what exactly you were attempting to do. A little more info about your schema and the action you were attempting will help

[2020-01-31 13:02] tirumaraiselvan commented on #3803
@raitucarp I have repro'ed this problem in `v1.1.0-beta*` . This should not happen in `v1.0.0` though.

[2020-01-31 13:23] polRk commented on #3808
My table

<img width="409" alt="Снимок экрана 2020-01-31 в 4 17 34 PM" src="https://user-images.githubusercontent.com/39828645/73542185-345a8080-4445-11ea-8f64-61e268c327ce.png">

My additional table options
<img width="552" alt="Снимок экрана 2020-01-31 в 4 18 00 PM" src="https://user-images.githubusercontent.com/39828645/73542253-55bb6c80-4445-11ea-99f9-44be5ca9815d.png">

My enum table _action_

[2020-01-31 14:03] fmilkovic commented on #2794
Hi, maybe this can help. I figured query plan cache was to blame, but limiting it didn't help.

some info:
v.1.0.0
HASURA_GRAPHQL_QUERY_PLAN_CACHE_SIZE=1000
HASURA_GRAPHQL_PG_STRIPES=2

![node exporter screenshot](https://raw.githubusercontent.com/fmilkovic/share/master/Screenshot%20from%202020-01-31%2014-51-36.png)

[2020-01-31 14:12] rikinsk commented on #3808
Thanks for the extra information. I unfortunately still did not understand the actual issue. This is what I have understood till now:

- You have an enum table `_action_type`
- You have a table `_action` that has a foreign key to the enum table.
- You already had some data in the `_action` table and then you added/edited some data in the `_action_type` table.
- Now while adding data to the `_actio

[2020-01-31 14:17] polRk commented on #3808
It is present. I deleted and created the value several times, but the error remained.

I think the problem was that the database did not understand that it was enum. After removing the enum label and turning it on the enum label, it worked

[2020-01-31 15:20] rikinsk commented on #3789
@jcmoore0 I was unfortunately not able to reproduce this. I assume you must be seeing a 500 page shown when the error occurs. Could you share the error stack trace displayed.

[2020-01-31 17:26] V1shvesh commented on #2787
Hey guys! I apologize for going AWOL.

So I had actually managed to implement the Back-End for this project, but I didn't get a chance to tackle the front-end.

I was pushing my commits on my [personal repo](https://github.com/V1shvesh/ForExample), hoping to make a PR once it was finally done. @praveenweb and I had agreed upon building a ForEx exchange rate ticker of sorts.

@theBstar you can chec

[2020-01-31 18:00] jcmoore0 commented on #3789
Hi @rikinsk  - I am getting all 200 responses.   It happens on several tables on one of my 2 roles.

data returns with 200:
[code]

[code]

It is ver

[2020-01-31 18:02] rikinsk commented on #3789
Thanks for the extra info. I'll take a look at it again.

[2020-01-31 18:17] rektide commented on #3064
I'm coming in to a company that's a couple months into using Apollo Server.

I would really like to be able to introduce Hasura.

Without this feature, I don't feel like there is an expedient way for me to be able to introduce Hasura. It seems like my best option, at the moment, would be to figure out [graphql-transform-federation](https://github.com/0xR/graphql-transform-federation), but I am not

[2020-01-31 18:20] Johnb21 opened #3811 "Custom GraphQL types for tables not conforming to GraphQL naming spec"
**Version: 1.1.0-beta.2**

I have a table from an underlying, existing database that is a legacy table with spaces in the name. Let's call it "User Accounts". This name does not conform to the GraphQL naming standard and thus cannot be exposed over the API.

In an attempt to solve this issue - I went to Modify -> Custom GraphQL Root Fields and , under the Query and Subscription section made the Se

[2020-01-31 18:45] rektide opened #3812 "How can Apollo-Server users begin to adopt Hasura?"
Hello. I'm coming in to a company that started using Apollo Server in the relatively recent past, & they've already built a good chunk of code in & on it. I would very very much like to introduce Hasura, as I believe it may help us write & maintain a lot less code, could likely be much faster to run, & it's tooling is incredible.

How can I introduce Hasura to the company? I think I do not want to

[2020-01-31 20:26] GavinRay97 commented on #3812
The answer here really has less to do with Apollo Server than your data layer.
Is your DB currently Postgres, or at the very least another common SQL DB?

If so, you can just point Hasura at your DB (in case of Postgres), or you can migrate MySQL/MS-SQL Server to Postgres with a single command using `pgloader`:

https://pgloader.io/about

Now you will have full GraphQL CRUD & Aggregation API for a

[2020-02-01 00:33] jberryman commented on #3705
@0x777 thanks for making that point. I was planning on trying this technique in the PR for https://github.com/hasura/graphql-engine/issues/3768  . It will be the last commit, so we can see if it works and seems like a generally good idea at that point (I want to think a little more about the "rules" for doing this, and how to make it as unsurprising as possible).

[2020-02-01 00:37] flybayer opened #3814 "Database Failure on v1.1.0-beta.2 with large event payloads"
I'm on `v1.1.0-beta.2` and my database keeps failing when I try to access the logs for an event. Specifically an event trigger on a row with a JSONB field that commonly has 1,000+ object records in that field.

Trying to view the logs page in the console essentially results in a time out with the DB failing.

Here's the log:

[code]

[2020-02-01 04:29] #3777 closed

[2020-02-01 04:31] rikinsk commented on #3789
closed in fca16b8

[2020-02-01 04:31] #3789 closed

[2020-02-01 05:50] rikinsk opened #3815 "document underlying PG operators for all hasura operators"
e.g. https://docs.hasura.io/1.0/graphql/manual/mutations/update.html#update-jsonb-column

[2020-02-01 17:25] laskdjlaskdj12 opened #3817 "is it okay translate Readme.md to korean?"
just want to translate Readme.md to korean.
however is there any contribute sequence to document transalte? or just start transalte document?

[2020-02-02 00:04] rektide commented on #3812
I'll try to explore this further, but it seems like there's a lot of Apollo systems that we still depend on. There are mutation systems, there are operational concerns.

In terms of getting Hasura into production, ripping out all of our Apollo Server work & replacing it all with Hasura & throwing a big switch over is a very very very intimidating proposal. I appreciate & think you are so very corr

[2020-02-02 00:14] rektide commented on #3812
At this point I think the only safe thing for us to do with our production traffic is to start with the latter option, _"stitch Hasura's schema into Apollo."_

We are OK with the inefficiency, given that we already live with it regularly. Hopefully we can change latter!

For now though, how do we start? Are there any docs or resources that might be suggested to help us begin to adopt Hasura by,

I

[2020-02-02 04:26] tirumaraiselvan commented on #3812
@rektide Great questions.

First important thing to know is that Hasura and Apollo can indeed work together. You can add Apollo server to Hasura as a [Remote Schema](https://docs.hasura.io/1.0/graphql/manual/remote-schemas/index.html) or you can add Hasura to `Apollo Gateway` as a federated schema (using a small trick: [link](https://stackoverflow.com/questions/58303788/hasura-graphql-endpoint-beh

[2020-02-02 04:41] coco98 commented on #3812
@rektide Yep. Great questions and thank you for your kind words reg Hasura ❤️

To summarize what @GavinRay97 and @tirumaraiselvan are saying, the key questions to answer before we go ahead with a plan of action are:

1. Are you already using Postgres?
2. What is the current authentication setup like?
3. Do you already have more than 1 graphql service that you're having to stitch together?

PS: Tha

[2020-02-02 09:39] GavinRay97 commented on #3812
You already got answers from the 🧠 Great Wizards 🧙 themselves, if you want a literal implementation of it would look something like this roughly:

[code]

[code]

I have no idea if this runs/works, its off the top of my head but it should be generally correct I think? :man_shrugging:

[2020-02-02 22:14] Motoxpro opened #3820 "Inserting value into Enum table and reloading metadata takes server down"
I have an enum table "discipline" with a "name" column. If I insert "Community/Casual" and click "Reload enum values" it takes the server down. This happened once and It took me a while to find out through the logs that the server couldn't find table "discipline". Seemed like it got deleted?

I restored a backup on my cloud-sql instance and did the same, added "Community/Casual" but instead reload

[2020-02-02 22:40] marionschleifer commented on #3817
@laskdjlaskdj12 I saw that you already created a PR. It's perfectly fine to just start a translation document. I'm closing this, as I added my comments already to your PR 🙂

[2020-02-02 22:40] #3817 closed

[2020-02-02 22:44] imdwit opened #3821 "FatalError: syntax error at or near "FUNCTION""
I'm receiving this error when attempting to run a migration from my localhost instance to an instance running on digital ocean.

[code]

I saw another issue that recommended changing the language from `sql` to `plpgsql` but I still get the error.

The same migration ran fine when the endpoint was heroku. I plan on using digital ocean for production and heroku as a staging server.

heres the genera

[2020-02-03 05:03] Motoxpro commented on #3820
`jsonPayload: {
  detail: {
   info: {
    error: {
     info: {
      code: "postgres-error"
      error: "connection error"
      internal: "consuming input failed from postgres connection"
      path: "$"
     }
     type: "query_error"
    }
   }
   thread_type: "listener"
  }
  level: "error"
  timestamp: "2020-02-02T21:44:27.538+0000"
  type: "schema-sync-thread"
 }`

`{"error":"table not fo

[2020-02-03 05:07] raitucarp commented on #3803
Ok thank you for your confirmation, maybe I forgot the version. Because right now I already used v.1.1.0-beta. I can't go back though. I hope I can help you guys.

[2020-02-03 05:14] tirumaraiselvan commented on #3803
@raitucarp We have identified the issue and will roll out a fix ASAP. One fix is to recreate the event trigger. But, I will admit that's not the best fix because of a related bug : https://github.com/hasura/graphql-engine/issues/3784

If you need to downgrade, pls contact me on Discord. My handle is `@Tiru`

[2020-02-03 05:32] tirumaraiselvan commented on #3784
Thanks for reporting.

This happens when the migrations have `run_sql` statements.

[2020-02-03 05:39] tirumaraiselvan commented on #3814
@flybayer What happens to the db when you run the following statement

`select * from hdb_catalog.event_invocation_logs limit 10` (assuming this returns the large object)

[2020-02-03 05:56] tirumaraiselvan commented on #3754
Repro is mentioned in https://github.com/hasura/graphql-engine/issues/3749

[2020-02-03 06:03] tirumaraiselvan commented on #3820
@lexi-lambda Is this dup of https://github.com/hasura/graphql-engine/issues/3759 ?

[2020-02-03 06:12] tirumaraiselvan opened #3822 "instructions to downgrade from v1.1.0-beta.2 to v1.0.0"
To downgrade from `v1.1.0-beta.2` to `v1.0.0`:

1. Stop hasura v1.1.0-beta.2
2. Execute the following SQL:
[code]
3. Start hasura 1.0.0

[2020-02-03 06:34] #870 closed

[2020-02-03 07:03] #2689 closed

[2020-02-03 07:19] Motoxpro commented on #3820
Just a little more insight. I had changed disciplineName to be the enum table and discipline to the a many to many intermediary table.

I added "Community/Casual" to the disciplineName table. No errors. Went to add it to discipline and reload metadata and got these errors

disciplines | array_relation | relationship of table "disciplineName" | table "disciplineName" does not exist
-- | -- | -- | -

[2020-02-03 07:21] Motoxpro commented on #3820
Again, after this, the DB goes into an inconsistent state and I have to reload a backup.

I realize I can't use "/" for an enum value now also, but hopefully this process helps solve this issue

[2020-02-03 08:28] 0x777 commented on #3820
@Motoxpro Can you try out the build it https://github.com/hasura/graphql-engine/pull/3798 to check if this issue is fixed?

[2020-02-03 10:11] marionschleifer commented on #3678
Closing this, since https://github.com/hasura/graphql-engine/issues/3690 was implemented.

[2020-02-03 10:11] #3678 closed

[2020-02-03 10:13] marionschleifer commented on #3821
@imdwit could you please share the complete logs i.e. the server logs and the ones from the CLI? This will help us reproducing the issue.

[2020-02-03 10:15] #3766 closed

[2020-02-03 10:54] tirumaraiselvan commented on #3794
This will fall under schema masking (outside of permissions) ?

[2020-02-03 11:13] #3782 closed

[2020-02-03 12:43] beerose commented on #3748
I'm reopening since this is slightly different and much easier to implement than #2296 so it will probably be handled in different PR.

[2020-02-03 12:50] hoeggi opened #3824 "cli-migrations don't work if container is run as non root user"
I'm using hasura/graphql-engine:v1.0.0.cli-migrations as a base image for deploying hasura in openshift.
Openshift by default does not allow running container as root user but runs containers using an arbitrarily assigned user ID.

This makes the migrations fail at two points:
1) `docker-entrypoint.sh` fails when trying to copy migrations to /tmp/hasura-migrations because it uses `cp -a` and is un

[2020-02-03 15:19] rgtk opened #3825 "Use local assets instead of CDN"
Console web interface of `hasura/graphql-engine` Docker image sends requests to `graphql-engine-cdn.hasura.io` host for Javascript and CSS.

This is dangerous: it compromises both security and privacy. These files [are bundled with the Engine](https://github.com/hasura/graphql-engine/tree/6ef0b4dfdf560dc49694d7ae872ea82c0b4d9096/console) so there is no reason to fetch it from external sources.

[2020-02-03 16:06] DevSnap commented on #3023
Same error on a project with 40+ tables.

[code]

I tried to upload the introspection query result on [https://apis.guru/graphql-voyager](https://apis.guru/graphql-voyager) and it works (it takes 10 seconds to render).

[2020-02-03 17:47] rjansen91 opened #3826 "Invocation log search always returns first row"
First row of invocation log is always returned, regardless of search term.
Using v1.0.0, version 28

![event-search](https://user-images.githubusercontent.com/43191611/73676196-cf7f7000-4668-11ea-8cb3-e5b2d4dc8b7b.gif)

[2020-02-03 20:03] Johnb21 opened #3827 "column names that don't conform to the GraphQL naming spec don't show up in the GraphQL schema"
**Version: 1.1.0-beta.2**

If I have a legacy column name that doesn't conform to GraphQL naming conventions on an existing Postgres Database (Employee Name), when I try to Table->Modify and edit the column to use a graphql friendly name under the GraphQL field name - I get an error that my column is used in an existing Trigger. However, there is no way for me to NOT track the triggers to avoid th

[2020-02-03 22:20] imdwit commented on #3821
[code]

here's the full error pulled from the log.

[2020-02-03 22:39] edmundmunday commented on #3778
@rikinsk - Unfortunately I'm not able to recreate it, I was able to solve the issue by generating a new migration for the DB in its current state and then rebuilding the DB based on that migration.

Looking back on it, I suspect I might have created some kind of circular foreign key references with records referencing each other in a loop.

[2020-02-03 22:39] xiaoyu-tamu commented on #3822
Thank you!

[2020-02-03 22:45] flybayer commented on #3814
@tirumaraiselvan that query runs very quick

[2020-02-03 23:48] jberryman commented on #3768
https://github.com/simonmar/async/issues/106

[2020-02-04 00:51] #3552 closed

[2020-02-04 01:12] flybayer opened #3828 "Can't swap column value for rows with a unique constraint on that value"
### Background
I have the following table schema:
[code]
and the following rows
[code]

### Problem

I can't swap the positions of Option 100 & Option 200 using a GraphQL mutation.

I'm trying to use this mutation:

[code]

but I get the following error
[code]

Maybe I'm missing something, but it seems this is currently impossible to do.

[2020-02-04 01:20] flybayer commented on #3784
This happened for me again. All insert event triggers were lost while the server was running. I had a few failed graphql mutations around this time, but no DB crashes or other DB errors.

Is mine issue the same thing or should I open a new issue?

[2020-02-04 01:41] lexi-lambda commented on #3778
Since you’re not able to reproduce it, I’m going to close this issue, but feel free to reopen it if the problem happens again!

[2020-02-04 01:41] #3778 closed

[2020-02-04 01:48] tirumaraiselvan commented on #3784
It's mostly the same (or atleast the same class of bug).

If you are using ET extensively, I'd advice to downgrade #3822 .

[2020-02-04 04:48] tsaiDavid commented on #2541
@0x777 - just want to point out this still happens for us, using `v1.0.0-pro.3`

[2020-02-04 05:11] 0x777 commented on #3828
You will have to mark the constraint `DEFERRABLE INITIALLY DEFERRED`. Please see [this](https://dba.stackexchange.com/questions/104987/avoid-unique-violation-in-atomic-transaction) and [Postgres docs](https://www.postgresql.org/docs/current/sql-set-constraints.html).

[2020-02-04 07:03] tirumaraiselvan opened #3829 "column presets need not have type"
Currently, column presets take an option `static` or `from session variable`. This is inconsistent with the permission builder where we assume anything like `X-Hasura-` is a session variable and rest is static. This convention seems normal and will simplify the column presets section in insert/update permissions.

![image](https://user-images.githubusercontent.com/8663570/73721481-5d7f5780-474a-11

[2020-02-04 11:11] lxblvs commented on #625
That would be amazing! The current tree implementation is totally lacking https://blog.hasura.io/graphql-and-tree-data-structures-with-postgres-on-hasura-dfa13c0d9b5f/

[2020-02-04 13:30] nicolateral opened #3830 "cannot track function on non-public schema"
**Docker images**
hasura/graphql-engine:v1.1.0-beta.2 (and hasura/graphql-engine:pull3810-7ba59677)
postgres:11.3

**Issue**
It is the first time I try to track a function on non-public schema. I have this function "item_search" on schema "pgw" :
[code]

This function does not appears in the console.

I tried to track this function using the API :

**Request (track_function:v1)**
[code]

**Request

[2020-02-04 14:45] tirumaraiselvan commented on #2867
Closing this in favour of #3442 (although this was created first, for some reason that has more upvotes).

[2020-02-04 14:45] #2867 closed

[2020-02-04 15:27] tirumaraiselvan commented on #3811
The API that you use is for fields but the type (of the table) needs to be changed as well. Changing the title of this issue to reflect the same.

[2020-02-04 15:31] tirumaraiselvan commented on #3827
Similar issue for table names is here #3811

[2020-02-04 15:34] #3609 closed

[2020-02-04 16:43] tirumaraiselvan commented on #3824
Can you try running the container with `--user` flag: https://docs.docker.com/engine/reference/run/#user

[2020-02-04 19:04] rikinsk commented on #1734
Closed via #3823

[2020-02-04 19:04] #1734 closed

[2020-02-04 19:09] rikinsk commented on #3825
This is intentional to allow rolling updates to the console to resolve minor bugs (as the console is not in the critical path of serving GraphQL requests), You can choose to use local assets if you wish by using the configuration mentioned [here](https://docs.hasura.io/1.0/graphql/manual/deployment/graphql-engine-flags/config-examples.html#run-console-offline-i-e-load-console-assets-from-server-in

[2020-02-04 20:31] Johnb21 commented on #3827
@tirumaraiselvan that is also by me. However, this issue is related to column names and not the table name. I cannot alias the column names when the column name doesn't conform to graphql standards AND the column name exists in a trigger. The way the introspection works appears to auto introspect the triggers and track them without an option to track/untrack which makes it impossible to alias them

[2020-02-05 01:41] flybayer commented on #3828
That worked, thank you!!

[code]

[2020-02-05 01:41] #3828 closed

[2020-02-05 02:53] dukedave opened #3831 "Don't include 'range types' as a column type in console"
I propose that **RANGE TYPES** should not be selectable in the **Add a new column** select for `column_type` until #1082 is complete.

Without any support for the non-trivial [range functions](https://www.postgresql.org/docs/12/functions-range.html), I don't believe there is any reason to prefer them over two separate (`upper-bound` and `lower-bound`) columns of the corresponding type.

---

On se

[2020-02-05 05:05] rakeshkky commented on #3576
@greatwitenorth

May I know how you tracked the SQL function? via console?

Also please give us the minimal schema to reproduce the issue.

[2020-02-05 06:58] 0x777 commented on #3754
Apologies for the late response. Fixed in 53b9cabd88d61f7ffbf8720b201410ea2d0bace2. We'll be making a release shortly!

[2020-02-05 06:58] #3754 closed

[2020-02-05 07:01] tirumaraiselvan commented on #3821
@imdwit What is the configuration in DO, Hasura and Postgres versions?

[2020-02-05 07:07] #3655 closed

[2020-02-05 07:29] rikinsk commented on #2541
Implementing this was blocked on #3073 which is now finally merged. We'll be picking this issue up soon.

[2020-02-05 08:35] raitucarp commented on #3803
Hi tiru, hows progress? Should I downgrade now? because every docker compose up, I need to recreate the trigger.

[2020-02-05 08:37] tirumaraiselvan commented on #3803
@raitucarp The fix will be out in the next beta release (few days), but yes pls downgrade if you can. Instructions are here: https://github.com/hasura/graphql-engine/issues/3822

[2020-02-05 09:10] raitucarp commented on #3803
OK thank you very much. I wish I can submit PR but I didn't read the source code much. Thank you again

[2020-02-05 09:20] MatthiasGrandl opened #3834 "JWK parsing error after update to v1.1.0-beta.2"
`Failed parsing Cache-Control header from JWK response. Could not find max-age or s-maxage`

This error wasn't present before. Updated from `v1.0.0`. I am using native Keycloak without the third-party hasura connector.

My JWK response headers look like this:

[code]

[2020-02-05 09:27] raitucarp commented on #3822
Why I encounter this when running the sql above?

view "hdb_column" does not exist

[2020-02-05 09:49] ecthiender commented on #3834
Thanks for reporting! This has already been reported (https://github.com/hasura/graphql-engine/issues/3655#issuecomment-575100575) and fixed. It should be out in the next release.

[2020-02-05 09:51] ecthiender commented on #3834
@MatthiasGrandl if possible you can also try out the docker image from the [this PR's](https://github.com/hasura/graphql-engine/pull/3779) build and report any issues.

[2020-02-05 10:30] #833 closed

[2020-02-05 11:23] polRk opened #3836 "Does the upsert mutation make an event trigger call"
I want to add a row to contact_tag if not exists. And i want to call an event trigger ( insert mutation ) Under all conditions.

<img width="231" alt="Снимок экрана 2020-02-05 в 2 21 29 PM" src="https://user-images.githubusercontent.com/39828645/73837578-cf2ad480-4822-11ea-828a-0cd283820037.png">

[code]
Will my mutation trigger an insert event trigger ?

Upd:
[code]

Upd2: change **contact_tag_pk

[2020-02-05 11:38] MatthiasGrandl commented on #3834
Oh, didn't find that. Thanks for the answer.

[2020-02-05 11:38] #3834 closed

[2020-02-05 11:41] kpala commented on #2818
Having the same issue. We have a `citext` username field which works nicely with raw SQL queries. Using the GraphiQL tool in Hasura console shows the the following info in Analyze view:

Generated SQL:

[code]

Execution plan:

[code]

I.e. as @romcok mentioned, the generated SQL treats the columns as text instead of as citext.

Currently, I'm considering to use `_ilike` as a workaround but we sho

[2020-02-05 12:54] #3803 closed

[2020-02-05 14:04] #3791 closed

[2020-02-05 14:37] 0x777 commented on #3836
@polRk When a conflict occurs, Postgres treats the operation as an 'update' on the table, so you'll also need to listen to 'update' events.

[2020-02-05 14:40] polRk commented on #3836
Thank you, 0x777!
I need an insert trigger. Can i use 2 mutations in 1 request ? Delete and insert mutations ?

[2020-02-05 14:47] tirumaraiselvan commented on #3787
You can use a scalar computed fields here? https://docs.hasura.io/1.0/graphql/manual/schema/computed-fields.html#computed-fields

[2020-02-05 17:44] jberryman opened #3839 "Utilize proper backpressure scheme in Hasura.Events.Lib"
We slurp events as fast as possible, while bounding the number of processing threads. This can lead to a memory leak (in case we can't process fast enough), or possibly event data loss (if we crash with events in the TQueue), though maybe the latter is acceptable.

TODO
- bound work in `pushEvents` not `consumeEvents`
- log when or before we block

Possible relation to #3388

[2020-02-05 19:55] timhere commented on #1175
This is an interesting problem!

I can appreciate the reticence based on concerns for atomic behaviour in transactions. But having landed in this issue after suffering a similar problem, I can also see the use case!

We are left with three options:

1. avoid the use of related fields: leads to a degraded user experience
2. use a webhook's function invocation to spawn a reactive query: a heavyweigh

[2020-02-05 20:13] Motoxpro commented on #3820
Sure! I'm using kubernetes to deploy. Has this been merged into 1.1.0-beta.2?

[2020-02-05 20:40] dminkovsky commented on #3462
Console support for computed fields is in 1.1 (currently beta)

Is the above-mentioned solution going to be the recommended approach for the near term?

[2020-02-05 21:30] emailnjv commented on #91
+1

[2020-02-05 21:55] imdwit commented on #3821
I started from the Droplet at https://marketplace.digitalocean.com/apps/hasura-graphql

Digital Ocean docker yaml
[code]

localhost:3000 - where the migration was created
[code]

[2020-02-05 23:36] lexi-lambda commented on #3820
No, but it has been merged to master and will be in the next beta release.

[2020-02-06 00:47] pnappa opened #3840 "Postgres query error when inserting an entry which returns a computed table value"
Hi again,

I've encountered a scenario which consistently returns a postgres query error via a GraphQL request.

It occurs when inserting into a table Message, and returning a computed table field which is dependent on the input row.

For the computed table definition (snippets from some migration files):
[code]
[code]

The query:
[code]
Returns with (when running as an admin in the console):
[cod

[2020-02-06 01:59] seltsamonkel opened #3841 "Row select permissions using column values"
Hi!

I would like to construct a row select permission rule comparing the values of 2 columns.

For example, say there are column A and B with integer type, and I want to allow users to insert/select/update the rows where the value of A equals to the value of B.

I've read the docs several times, but it seems like this is not possible at the moment?

[2020-02-06 02:07] tirumaraiselvan commented on #3841
If it's the same table, then you can use the `_ceq` operator : https://docs.hasura.io/1.0/graphql/manual/api-reference/graphql-api/mutation.html#operator

[2020-02-06 03:17] xiaoyu-tamu opened #3842 "How to add permission to computed field?"
### SQL
[code]
### Meatadata
[code]

Got error: field "defaultWarehouseId" not found in type: 'user'.

it looks like only admin role can access computed field.

![image](https://user-images.githubusercontent.com/33362998/73903074-8f351300-485d-11ea-8978-a47c3a5252d8.png)

But I can't find default_warehouse_id column under user permission fields

[2020-02-06 08:55] tibotiber opened #3843 "Question: Is there a way to track number of views of a record?"
Hi,

I was wondering if there is any way to track the number of "views" of a record. Like every time a specific query is executed and returns a record, we would increment the number of views of that record.

SQL views and functions cannot update the table, triggers cannot be set for a select query, presets are not expressive enough to "+1" a column, and permissions do not support math operators un

[2020-02-06 09:05] tirumaraiselvan commented on #3829
Server API doesn't differentiate: https://docs.hasura.io/1.0/graphql/manual/api-reference/schema-metadata-api/syntax-defs.html#columnpresetexp

[2020-02-06 10:18] fkowal commented on #3780
Hey, great to see this discussion.

I facing a similar task. I am also running a keycloak server.
I was browsing the Hasura console source code to find out if there is an option to "/login" using a different method from providing the `x-hasura-admin-secret`.

As far as I can tell there is none.
This is a pity due to the fact that setup to use keycloak was very simple:

`HASURA_GRAPHQL_JWT_SECRET:

[2020-02-06 10:26] 0x777 commented on #3784
Closed with https://github.com/hasura/graphql-engine/commit/7fb6577924535ce3bf86bb7da24a0c9aa5604618

[2020-02-06 10:26] #3784 closed

[2020-02-06 10:36] #2253 closed

[2020-02-06 10:45] 0x777 commented on #3840
@pnappa This has been fixed in `v1.1.0-beta.3`.

[2020-02-06 10:52] #3840 closed

[2020-02-06 10:54] 0x777 commented on #3820
@Motoxpro This should be fixed in `v1.1.0-beta.3`, please try it out and let us know if the issue still persists.

[2020-02-06 10:54] #3820 closed

[2020-02-06 11:03] 0x777 commented on #3642
This has been fixed in `v1.1.0-beta.3`.

[2020-02-06 11:03] #3642 closed

[2020-02-06 11:04] 0x777 commented on #3271
Fixed with https://github.com/hasura/graphql-engine/commit/53b9cabd88d61f7ffbf8720b201410ea2d0bace2

[2020-02-06 11:04] #3271 closed

[2020-02-06 11:11] rakeshkky commented on #3830
Hi @nicodinh ,

Please execute the following SQL query and comment down the results;
[code]

[2020-02-06 11:21] nicolateral commented on #3830
Hi @rakeshkky ,

This query returns an empty resultset.

The function does not appears in `hdb_catalog.hdb_function_info_agg`. Can you paste in reply a function definition that is supposed to works ? I will tell you if it works in my `pgw`schema.

[2020-02-06 12:03] tirumaraiselvan commented on #3462
@dminkovsky Yes. Since there is no simple way to define "foreign key"-like relationships with JSONB keys in Postgres, computed fields which return SETOF is the best pattern to use here.

[2020-02-06 12:31] nicolateral commented on #3830
@rakeshkky , I just tried to create a fake schema `my_schema` in the console and then create my function in `my_schema`. This works ... still investigate why this does not works under `pgw`.

[2020-02-06 13:24] marionschleifer commented on #3836
@polRk Yes, you can do two mutations in one request. They will run as a transaction. Please find the corresponding docs [here](https://docs.hasura.io/1.0/graphql/manual/mutations/multiple-mutations.html).

[2020-02-06 13:27] polRk commented on #3836
@marionschleifer Can I be sure that they are executed in spelling order?

[2020-02-06 13:34] marionschleifer commented on #3841
@seltsamonkel in case you're referring to other tables, we have an open issue here: https://github.com/hasura/graphql-engine/issues/3459. Please upvote if this is what you're interested in 🙂  I'm closing this issue.

[2020-02-06 13:34] #3841 closed

[2020-02-06 13:42] seltsamonkel commented on #3841
Thank you all for your help :)

[2020-02-06 14:13] esseswann commented on #3787
I don't think that this is same, you want to resolve specific fields in existing schema in some way, not add new fields

[2020-02-06 14:37] 0x777 commented on #3671
@erikhSSI

This is possible with default privileges: https://www.postgresql.org/docs/current/sql-alterdefaultprivileges.html. The idea is that you configure the 'default privileges' that are given to a table/sequence created by railsuser. Something like this:

[code]

[2020-02-06 14:50] tirumaraiselvan commented on #3787
@esseswann Right. I was just proposing a workaround for now.

[2020-02-06 15:10] SocraticSam opened #3845 "Question: adding roles permissions for functions"
Hello,

I'm having a bit of difficulty, it's a bit difficult to put in words but I've created a simple application that demos the issue. Here is the code:

[code]

As you can see, there is a table, `products`, a table, `tags`, and a table `product_tags`, which joins products with tags. `products` have a column, `active`, which is a boolean value.

There's a function, `product_search`, which return

[2020-02-06 15:36] marionschleifer commented on #3381
@m0ngr31 I hope this issue is resolved. If you upgrade to the latest stable version and still encounter problems, please re-open this issue 🙂

[2020-02-06 15:36] #3381 closed

[2020-02-06 15:37] marionschleifer commented on #2800
@Israel-Laguan I hope this issue is resolved. If you upgrade to the latest stable version and still encounter problems, please re-open this issue 🙂

[2020-02-06 15:37] #2800 closed

[2020-02-06 17:00] RodolfoSilva commented on #2766
Hey @pradeepmurugesan did you have figured out more about integration test setup?

[2020-02-06 17:11] shakahl commented on #3036
An edit button would be great there!

[2020-02-06 17:38] flybayer commented on #3654
I think this can be closed now, unless you have something else planned, @lexi-lambda

[2020-02-06 17:38] flybayer commented on #3653
This seems to be resolved!

[2020-02-06 17:44] mitar commented on #3462
There are functional indices you can define on PostgreSQL and you can define triggers to get behavior of foreign keys. It would be great if Hasura could do this out of the box.

[2020-02-06 18:13] flybayer commented on #1914
It sounds like Scheduled Triggers is expected soon — will this include FIFO message queues?

I'm really needing FIFO queues in the app I'm currently building.

[2020-02-06 20:20] sincraianul opened #3846 "accessing session variables in function via computed field"
It would be really cool to be able to define a function like

[code]

and use it via a computed field without any args.

I know that in order to get `hasura_session` injected the function needs to be tracked, but tracked functions only support `SETOF` return types.

I can dive in a try to do a PR if there's interest in this kind of functionality.

[2020-02-06 20:51] fusion44 opened #3847 "Error building the image with 1.1.0 beta3"
Hi!

I'm trying to build the docker image, but I'm receiving lots of errors like these:

[code]
I've removed lines from the log above to shorten the log. Here's the complete log:
https://gist.github.com/fusion44/48a6bc485b7e398232825716d2ddec90
I just ran make in the server directory. Compiling directly via `cabal new-build` from CONTRIBUTING.md results in the same error.

With beta 2 running `mak

[2020-02-06 21:20] jberryman commented on #3847
Sorry this is causing you trouble! It looks like there are known issues with how arch packages GHC. See if either of these help:

https://github.com/tidalcycles/Tidal/issues/394
https://github.com/github/semantic/issues/109

[2020-02-06 22:28] imdwit commented on #3821
`1 GB Memory / 25 GB Disk / SFO2 - Hasura GraphQL on Ubuntu 18.04`
droplet info

[2020-02-07 02:12] lexi-lambda commented on #3654
Not anything in the short term. Thanks!

[2020-02-07 02:12] #3654 closed

[2020-02-07 02:18] lexi-lambda commented on #3847
@fusion44 Could you elaborate slightly on *why* you’re trying to build the docker image? I’ll be honest, that Makefile is really only intended for use in CI at this point; I don’t think any of us actually use it directly (though people can correct me if I’m wrong).

Either way, what @jberryman said is accurate—don’t use Arch system packages for Haskell development. The Haskell compilation model is

[2020-02-07 02:41] Motoxpro opened #3848 "Error when manually editing permissions"
Thanks for the update!

I noticed a new feature and I'm sure this is unintended behavior but if you click the JSON and hit backspace on a tablename, column, or _and/_or you get this error. Deleting a {}[]""  an_eq or value seems to just make the JSON invalid, which is correct.

    at n (https://graphql-engine-cdn.hasura.io/console/assets/channel/beta/v1.1/main.js.gz:1:27861)
    at n (https://gra

[2020-02-07 02:42] Motoxpro commented on #3820
@0x777 All fixed! Thank you!

[2020-02-07 06:31] marionschleifer commented on #3836
@polRk yes, you can be sure 🙂

[2020-02-07 07:44] #3836 closed

[2020-02-07 07:50] rikinsk commented on #3831
I would still leave the options there even though Hasura doesnt have the best support for them yet. Some users use the console as a DB management tool as well and it wouldnt be fair to limit that. Hasura is built to work with any database and shouldn't have a say in how users model their PG schema.

[2020-02-07 07:50] #3831 closed

[2020-02-07 08:31] rikinsk commented on #3462
Reopening this to allow discussion on @mitar 's suggestions

[2020-02-07 08:52] polRk opened #3849 "Bugs: Lots of UI and UX inconvenience"
After using hasura actively in manual mode (about 100 hours), I highlighted things that annoyed me very much and would soon force me to remove hasura. Explain, indicate the place in the code where I can add the saving of collapsed columns and the number of lines in the pagination by default (10 just infuriates). With any action, the state of collapsed columns is reset. With any action, the paginat

[2020-02-07 08:54] polRk commented on #3849
PS. I want the block to occupy the entire available width
<img width="1154" alt="Снимок экрана 2020-02-07 в 11 53 05 AM" src="https://user-images.githubusercontent.com/39828645/74014773-6a958400-49a0-11ea-819e-194ecac8e141.png">

<img width="1149" alt="Снимок экрана 2020-02-07 в 11 54 08 AM" src="https://user-images.githubusercontent.com/39828645/74014848-8ef16080-49a0-11ea-8cc9-8289baf13824.png">

[2020-02-07 08:56] polRk commented on #3849
PS.

Often when editing json, the field is not marked as changed and the changes are not applied. I have to always check radio button

[2020-02-07 08:59] polRk commented on #3849
Explain, please,  the place in the code where I can fix some frontend ui, ux errors

[2020-02-07 10:31] ecthiender commented on #3849
@polRk Thanks for reporting these! Appreciate the great feedback! We are already working on improving the UI and UX, and we will make sure to incorporate these changes as well.

I see there are 2 UI/UX issues reported:
1. Code text editors and input boxes do not take the full width available, clipping the text and forcing the user to scroll horizontally.
2. Often when editing json, the field is no

[2020-02-07 10:40] beerose commented on #3849
Another issues that @polRk mentioned are:
* State of collapsed columns is reset — I am currently working on this (https://github.com/hasura/graphql-engine/pull/3753)
* The pagination state is reset — I think we can add it to the scope of the PR I mentioned above.

For the two issues from @ecthiender comment — yes, we can do two separate issues, but I don't think there's a need for that since it sh

[2020-02-07 10:43] polRk commented on #3849
You need to make the collapse button larger, I often click on the table sorting, instead of collapse column

[2020-02-07 10:46] polRk commented on #3849
And left sidebar should be collapsible

[2020-02-07 10:50] beerose commented on #3849
This is where you can change the default pagination: https://github.com/hasura/graphql-engine/blob/master/console/src/components/Services/Data/DataState.js#L3

[2020-02-07 11:03] #1156 closed

[2020-02-07 14:06] franciscolourenco commented on #2146
@aerskine this is not currently support right?

[2020-02-07 14:39] Tbaut commented on #1599
we're very much looking forward this feature, once the (remote schema feature is in). Easy to setup for a subscriptions server it the essence or Hasura :rocket:

[2020-02-07 14:55] Tbaut opened #3853 "Remote schema order by: enum not supported"
Hello,

I'm working with the remote schema preview (very much looking for its integration into master!) and interfacing with a prisma server.

Prisma schema has built in order by that are enum it seems, and it's not supported.

GraphiQL shows this nicely
![image](https://user-images.githubusercontent.com/33178835/74039379-fd92e600-49c1-11ea-93d1-d349f0b1df1a.png)

Do you think about any way to wor

[2020-02-07 16:25] marionschleifer commented on #3053
I'm closing this. @Zoharos feel free to re-open if you'd like to add anything 🙂

[2020-02-07 16:25] #3053 closed

[2020-02-07 16:26] marionschleifer commented on #3538
I'm closing this issue. @spiffytech feel free to re-open if you'd like to add something 🙂

[2020-02-07 16:26] #3538 closed

[2020-02-07 16:26] marionschleifer commented on #3744
I'm closing this issue. @spiffytech feel free to re-open if you'd like to add something 🙂

[2020-02-07 16:26] #3744 closed

[2020-02-07 16:29] marionschleifer commented on #3630
I'm closing this issue for now. @denizkenan feel free to re-open if you have anything to add to it 🙂

[2020-02-07 16:29] #3630 closed

[2020-02-07 17:17] greatwitenorth commented on #3576
Yes the function was tracked via console. Here's my schema and function definition I'm currently using:

[code]

**users table:**

[code]

Let me know if you need anything else.

[2020-02-07 18:09] fusion44 commented on #3847
@jberryman Thanks for the pointers! Removing the Arch binaries and managing `ghc` through `ghcup` did the trick.

@lexi-lambda I'm evaluating if I'll use Hasura for my next private project. For that I'm trying to learn as much about the base system as I can.

Hasura looks like one of the most amazing self-hosted backend projects currently available :)

[2020-02-07 18:09] #3847 closed

[2020-02-08 00:28] imdwit commented on #3821
fwiw I just ran through setting up a new droplet from the starter.
ssh'ed in, added a secret, turned off the console. Restarted the server.

then I ran the migration again, and still the same error.
Should I just host somewhere else?

[2020-02-08 01:31] jcmoore0 commented on #3759
Hi @lexi-lambda -  I am still having issues with the new v1.1.0-beta.3 release.

   'reload enum values'  -  intermittently works  ~20% time
   'make table an enum' - doesn't work after many tries

Thanks for the help.
Best regards,

[2020-02-08 01:54] tirumaraiselvan commented on #3821
@imdwit Sorry for taking some time on this. I will take a look at this today.

[2020-02-08 05:36] tirumaraiselvan commented on #3827
Hi @Johnb21

Hasura does not track anything (tables or functions) automatically so I might need more details here. Is it possible for you to share the screenshot of the console Data page where it shows all tables and functions (both tracked and untracked)? Is it possible for you to tell what is the trigger that is causing the issue (maybe give a sample definition?) when you are changing the GraphQ

[2020-02-08 06:01] tirumaraiselvan commented on #3724
A workaround would be:

1. Create an [Event Trigger](https://github.com/hasura/graphql-engine/blob/master/event-triggers.md) on your enum table.
2. In the Event Trigger webhook, perform the `reload_metadata` operation.

[2020-02-08 07:55] tirumaraiselvan commented on #3821
@imdwit The issue is with the syntax for `CREATE TRIGGER`

If you look at the Postgres docs for [10.5](https://www.postgresql.org/docs/10/sql-createtrigger.html), it says

[code]

and if you look at the docs for [11](https://www.postgresql.org/docs/11/sql-createtrigger.html), it says

[code]

So, you can change your migration to use the keyword `PROCEDURE` instead of `FUNCTION` in like this:

[cod

[2020-02-08 09:32] tirumaraiselvan commented on #3843
As described [here](https://wiki.postgresql.org/wiki/Audit_trigger#Limitation:_Cannot_audit_SELECT):

`The only way to audit SELECT in PostgreSQL is via the system logs`

You have to make some workarounds, similar to what you are doing already. You can perhaps use our upcoming `Actions` feature to derive from the `update_table` field to create your own API, that only has the `where` clause and int

[2020-02-08 09:34] tibotiber commented on #3843
Thanks for reverting. Any good place to read about the upcoming actions feature?

[2020-02-08 09:36] tirumaraiselvan commented on #3843
It will be out in few days but you can check the preview docs here: https://deploy-preview-3252--hasura-docs.netlify.com/graphql/manual/actions/getting-started.html

[2020-02-08 11:02] tibotiber commented on #3843
Thanks for the link.

Actions look really cool, it’s kind of adaptors to non graphql services (as long as they respect the req/res interface) if I get it right? That’s a super powerful addition to remote schemas 🥳.

Do you see a possibility to add SQL (or native?) Actions at some point? It would be similar in I/O definition but instead of giving the url of a function I’d give the SQL request I wan

[2020-02-08 16:49] imdwit commented on #3821
Thanks I’ll find that a shot.

[2020-02-08 20:09] imdwit commented on #3821
`INFO migrations applied`
That did it. Thank you so much.

[2020-02-09 08:10] tirumaraiselvan commented on #3843
@tibotiber Yes! Soon after the first release, you will also have the ability to create action handlers which are postgres functions.

[2020-02-09 08:22] will-hart opened #3854 "CLI console fails to load in Chrome with CORS error"
I'm using a hasura server hosted on heroku, and have developed a schema using the console accessed via the heroku page. Now I'm trying to only run the console locally.

When I run `hasura console` in my command prompt (Win 10) I get an error page in Chrome (v`79.0.3945.130`), but not in Firefox:

![image](https://user-images.githubusercontent.com/391950/74098383-987af400-4b6b-11ea-897d-ad9dc2a0f4b

[2020-02-09 10:33] marionschleifer commented on #3821
@imdwit glad to see that your problem is solved. I'm closing this issue. Feel free to re-open if you'd like to add something 🙂

[2020-02-09 10:33] #3821 closed

[2020-02-09 10:36] tibotiber commented on #3843
Would that include mutable functions?

That’s really cool. Super impressed with Hasura already and the stuff you have in the works is amazing. You guys are on fire!

[2020-02-09 10:46] tirumaraiselvan commented on #3843
@tibotiber Yes.

[2020-02-09 11:44] tibotiber commented on #3843
Neat! Thanks for the details @tirumaraiselvan :). Looking forward to this feature. Feel free to close this.

[2020-02-09 12:44] tirumaraiselvan commented on #3843
Thank you for your kind words @tibotiber .

[2020-02-09 12:44] #3843 closed

[2020-02-09 17:41] 0x777 commented on #2520
Fixed in `v1.1.0-beta.3`.

[2020-02-09 17:41] #2520 closed

[2020-02-09 18:24] jpetitcolas opened #3855 "Missing cookies between Hasura and auth hook?"
I am currently struggling with authentication hook. I have some HTTP-only cookies containing my access token. As Hasura doesn't support token from cookies, but only `Authorization` header, I planned to set up an hook to read cookies and return data required by Hasura (user ID and role).

Testing my auth hook independently works:

[code]

[code]

Yet, if I test with my Hasura endpoint, I can see in

[2020-02-09 21:36] d4n13lbc opened #3856 "cli migrations beta version not installing"
When trying to install hasura cli beta version v1.1.0.beta.3 for testing, default v1.0.0 version is being installed.

This is the command I'm using
[code]

[2020-02-10 01:57] tcaraccia opened #3857 "Computed fields as default"
Hi all, i'm really enjoying development over hasura so far.
I would love to use a computed field as a default value for a column when doing an insert mutation.
Basicaly what my computed field does in querying is calculate a price based on two other fields.
Is that possible or should I use a postgres function ?

Keep it up! Great technology

[2020-02-10 04:08] shahidhk commented on #3856
Please download directly from release page, install script only downloads stable versions.

https://github.com/hasura/graphql-engine/releases/tag/v1.1.0-beta.3

[2020-02-10 04:55] d4n13lbc commented on #3856
Understood, thanks for the quick response

[2020-02-10 04:55] #3856 closed

[2020-02-10 05:39] kalpudada commented on #1663
I am getting following error in Linux system
msg="apply failed: [remote-schema-error] HTTP exception occurred while sending the request to http://172.17.0.1:8000/graphql

[2020-02-10 06:40] tirumaraiselvan commented on #1663
@kalpudada Is your remote schema at http://172.17.0.1:8000/graphql running?

[2020-02-10 07:35] kalpudada commented on #1663
Yes

[2020-02-10 08:03] bnol commented on #3423
@tirumaraiselvan hi bro, any updates on this?

[2020-02-10 10:01] carlmeriksen opened #3858 "Browser Response Differs from Dashboard GraphiQl Response"
timeStart is being swapped with the previous entries DateTimeEnd attribute.
[qraphiqlResponse.txt](https://github.com/hasura/graphql-engine/files/4180102/qraphiqlResponse.txt)
[graphiqlVariables.txt](https://github.com/hasura/graphql-engine/files/4180114/graphiqlVariables.txt)
[graphiqlQuery.txt](https://github.com/hasura/graphql-engine/files/4180115/graphiqlQuery.txt)
[browserResponse.txt](https:

[2020-02-10 10:26] carlmeriksen commented on #3858
![image](https://user-images.githubusercontent.com/50176018/74141721-21436f80-4c00-11ea-8aa0-07cc462041f9.png)
When I look at the browser response copied from the network tab it appears correct. However in the image above the browser appears to be interpreting the data incorrectly. This occurs in both Chrome and Mozilla. This is how I am querying and logging:

`client
      .query({
        query:

[2020-02-10 11:51] tirumaraiselvan commented on #1663
@kalpudada Can you pls ping me on Discord `@Tiru` ?

[2020-02-10 11:54] tirumaraiselvan commented on #1663
Closing this issue as the OP's request has been done. We have a note explaining what endpoint to use with Docker here: https://docs.hasura.io/1.0/graphql/manual/remote-schemas/index.html#step-2-merge-remote-schema

@kalpudada If you are unable to contact me on Discord, pls open another issue :)

[2020-02-10 11:54] #1663 closed

[2020-02-10 12:01] RodolfoSilva commented on #3145
I'll be release a tool to help test a hasura project.

[2020-02-10 12:31] tirumaraiselvan commented on #3858
Hi @carlmeriksen

I did a JSON diff of the two outputs above:

`diff <(jq -S . qraphiqlResponse.txt) <(jq -S . browserResponse.txt) > diff.output`

The only difference seems to be the inclusion of `__typename` field in the browser response.

Could you verify that you are comparing identical JSON paths in both results?

[2020-02-10 13:21] fpieper commented on #2146
Similiar to @elitan's workaround, it is also to modify an already existing column:

[code]

It is correctly detected in the Hasura Console afterwards.

[2020-02-10 15:21] lexi-lambda commented on #3759
@jcmoore0 Could you say more about what you’re seeing? Are you getting any errors, or is there just no effect whatsoever?

[2020-02-10 15:28] lexi-lambda commented on #3808
@polRk Is this still an issue? I’m unclear on whether or not it’s been resolved.

[2020-02-10 16:28] marionschleifer commented on #3857
Hi @tcaraccia 👋 currently, this is not possible. Computed fields can be used only when querying the table. You can create an insert trigger to fill up the default value in a column. Or you can make use of the Postgres 12 feature called generated columns (https://www.postgresql.org/docs/12/ddl-generated-columns.html). I hope this helps 🙂

[2020-02-10 17:50] polRk commented on #3808
I could not reproduce. But yes, there is a problem with enum

[2020-02-10 17:52] lexi-lambda commented on #3808
It’s possible that the issue was fixed by #3798, which made it into `1.1.0-beta.3`. If you can’t reproduce the issue, I’m going to close it, but feel free to reopen it (or open a new issue) if it happens again.

[2020-02-10 17:52] #3808 closed

[2020-02-10 19:36] aerskine commented on #2146
@franciscolourenco No not supported directly from UI, only via SQL -- but @fpieper or @elitan have a better approach, I didn't realize when I posted that `''` would be correctly displayed in Console

[2020-02-10 21:31] jcmoore0 commented on #3759
@lexi-lambda -  I don't get any errors.  It's just not changing the schema.
Thanks,
John

[2020-02-10 23:41] dvasdekis commented on #2599
Any progress on this one? With iffy inbound data into our database (i.e. any realistic use case) we need to be able to handle cases where data is unavailable for a GraphQL query. Postgresql exceptions seem to be the way to go in order to handle these.

[2020-02-11 02:20] leoalves commented on #3855
@jpetitcolas,

Hasura Auth Webhook in POST request mode will send the headers in the body of the request.
https://docs.hasura.io/1.0/graphql/manual/auth/authentication/webhook.html#post-request

[2020-02-11 07:15] gentleShark commented on #1077
One improvement would be to allow for the use of any column name. Currently if you change the column name to anything other than "updated_at" (such as updatedAt), you'll get an error on insert.
"error": {
            "exec_status": "FatalError",
            "hint": null,
            "message": "record \"_new\" has no field \"updated_at\"",

[2020-02-11 08:44] marionschleifer commented on #3842
@xiaoyu-tamu there seems to be a naming issue. `defaultWarehouseId` seems to be the name of the computed field, and then `default_warehouse_id` is expected under the select permission fields but it's not there.

Can you fix the naming and confirm that that was the issue?

[2020-02-11 08:52] fpieper commented on #2097
@tirumaraiselvan what is the current state of this issue? Because currently the possibility of silent failure keeps me off of using event triggers. Thanks a lot in advance :)

[2020-02-11 10:27] tobiastornros commented on #3842
Same problem here. Can´t find the computed field column in the permission fields and when fetching as user I have no access to the fields in graphql.

[2020-02-11 10:30] tobiastornros commented on #3857
Can´t you just return your default value in the postgres function if fields x and y is null

[2020-02-11 10:32] #2818 closed

[2020-02-11 11:08] polRk opened #3862 "Enum is not reloaded"
I have an error when i tried to insert data in table
[code]

Server logs
[code]

Database
<img width="366" alt="Снимок экрана 2020-02-11 в 1 56 35 PM" src="https://user-images.githubusercontent.com/39828645/74230879-53bf9c00-4cd6-11ea-939b-96fbbef551d3.png">

Query
<img width="1088" alt="Снимок экрана 2020-02-11 в 1 57 30 PM" src="https://user-images.githubusercontent.com/39828645/74230995-91bcc00

[2020-02-11 11:11] polRk commented on #3862
Reload enum button (Set table as enum) solved the problem

[2020-02-11 11:35] rikinsk commented on #3842
Just wanted to add a note that support for computed fields in the console is expected to be released in v1.1.0. In the meanwhile one can use the [beta versions of v1.1.0](https://github.com/hasura/graphql-engine/releases) to manage computed fields via console or use the [permissions metadata API](https://docs.hasura.io/1.0/graphql/manual/api-reference/schema-metadata-api/permission.html#create-sel

[2020-02-11 11:56] carlmeriksen commented on #3858
After running a bunch of scenarios managed to find that somehow one of the React components was causing the response to be changed. I have no idea how this happens as that component is only rendered after the response is received. Removing the component has solved the problem.

[2020-02-11 11:56] #3858 closed

[2020-02-11 12:16] tobiastornros commented on #3842
Ok! Thanks @rikinsk

Should I provide the the computed_field name in the "columns" value?

[2020-02-11 13:53] rikinsk commented on #3842
@tobiastornros You need to pass it under the "computed_fields" key as mentioned [here](https://docs.hasura.io/1.0/graphql/manual/api-reference/schema-metadata-api/permission.html#selectpermission)

[2020-02-11 15:27] OLDIN commented on #3727
Has the bug been fixed? I need to export metadata.

[2020-02-11 16:52] marionschleifer opened #3864 "docs: test for `access_token` in auth0 guide"
Currently, we only have instructions to test the Auth0 login if we use Auth0.js (which generates an `id_token`): https://docs.hasura.io/1.0/graphql/manual/guides/integrations/auth0-jwt.html#test-auth0-login-and-generate-sample-jwts-for-testing.

We need to come up with a way to test the same also if we use `auth0-spa-js` (which generates an `access_token`).

[2020-02-11 21:47] MarcelloTheArcane opened #3865 "Is it possible to return SETOF <type-name> in a custom function?"
When creating a function, it must return all the rows of a table:

Why can I not return `SETOF <type-name>`, for example:

[code]

There is a workaround where you can create a table with the required rows and return a `SETOF` that, but would types be neater?

[2020-02-12 06:01] jasine commented on #3747
following log printed when timeout @tirumaraiselvan

[code]

[2020-02-12 06:19] jasine commented on #3747
I found the sql executing when stuck :

`DROP FUNCTION IF EXISTS hdb_views."notify_hasura_area_INSERT"() CASCADE
`
I have a trigger on table `area`， I tried to execute the sql on client, it do cause the problem

I also tried version 1.1.0-beta but not work

@tirumaraiselvan

[2020-02-12 08:06] rikinsk commented on #3727
@OLDIN This bug has been fixed and will be released with v1.1.0. In the meanwhile you can use the CLI build of the [v1.1.0-beta3 release](https://github.com/hasura/graphql-engine/releases/tag/v1.1.0-beta.3) (available under `Assets`) to do the export

[2020-02-12 09:15] #3848 closed

[2020-02-12 10:17] marionschleifer commented on #2599
@dvasdekis This issue is something we would like to pick up and we are figuring out its priority.

[2020-02-12 10:40] 0x777 opened #3867 "support token expiry in webhook auth mode"
In webhook auth mode, if a websocket connection is established with a token and if the token expires at a later time, the connection will still continue to work as graphql-engine doesn't know that the token has expired.

We already handle token expiry in JWT mode (by forcefully closing the websocket connection after the time specified with `exp`), so we just need to provide a means to specify expi

[2020-02-12 10:45] marionschleifer commented on #1573
We have published an RFC for this. You can find it here: https://github.com/hasura/graphql-engine/pull/3852.

[2020-02-12 10:48] 0x777 commented on #3865
Currently we allow defining permissions only on tables/views and functions don't have permissions of their own but are instead derived based on the permissions of their return type, this is why we only support `SETOF <table-name>` as the return type. If we support adding permissions on functions, this restriction can be removed.

[2020-02-12 11:35] 0x777 commented on #3707
@ElixirMike Unfortunately no. When you have `album_track` table, the only columns that you can use in `distinct_on` when fetching `tracks` relationship would be the columns of `album_track` table which are `album_id` and `track_id`.

You can workaround this limitation by creating a view to flatten out the many-to-many relationship. For example, you can create a view as follows:
[code]
Now, you can

[2020-02-12 11:40] 0x777 commented on #3857
@tcaraccia Postgres triggers are also good fit for this use case: https://dba.stackexchange.com/questions/21897/set-a-columns-default-value-to-the-concatenation-of-two-other-columns-values

[2020-02-12 11:42] TejasQ commented on #3513
I'm currently struggling with this too and can't seem to figure out why.

For me, everything works locally, but **the same** docker-compose file does not work on AWS EC2.

[2020-02-12 12:58] beepsoft commented on #3336
If anyone interested, I used this function in a computed field to get a `bytea` field as `base64`:

[code]

for the `content` field of a table like this

[code]

So I can now query it like this (fields names are aliased in the Hasura schema):

[code]

[2020-02-12 15:36] r3trosteve commented on #1186
Is this out yet?

[2020-02-12 15:38] tirumaraiselvan commented on #1186
@rikinsk Can we pls publish this in the docs?

[2020-02-12 16:24] ElixirMike opened #3870 "Adding new field to table programmatically loses permissions"
I believe this is a known issue, but am hoping a fix and/or product feature can be added to resolve.
I am use permissions via Hasura and programmatically adding tables, fields, etc. When I first create a table, I assign all proper permissions and specify * for the fields. This works fine.

However, when I add new field to table, by default, it's not included in permissions, but it should be, as I

[2020-02-12 16:36] reinvanimschoot opened #3871 "Input field for permissions does not remove whitespace"
I noticed today when I was adding a 'user' role and I accidentally added it as 'user ' in the permission table that this was reflected in my exported metadata and subsequently resulted in no queries/mutations showing up.

Luckily @coco98 was able to help me debug and we came to this conclusion! Thanks again for the help!

[2020-02-12 16:47] coco98 commented on #3871
@rikinsk I think the form validation (when a user enters the name of the role) doesn't strip/trim spaces. `user  ` should not be allowed `user` should be.

[2020-02-12 16:49] tirumaraiselvan commented on #877
Hey folks, RFC for this is now published here: https://github.com/hasura/graphql-engine/pull/3868

We will take up the implementation as soon as possible.

[2020-02-12 16:49] ElixirMike opened #3872 "Does Hasura pass Session tokens to Postgres? if So, in what format?"
In my Postgres DB, I have some tables where I have specified some default inserts based on passed in JWT token claims. This was from using a different solution..but utlimately, in Postgres, I could specify the variable using this format for example. I could place this in the default value, such that upon insert, it would use the logged in users "userid" value.

(current_setting('request.jwt.claims

[2020-02-12 17:00] SidhNor commented on #2047
@marionschleifer I believe the feature request wasn't just about querying by the primary key, but rather by unique columns (including primary key)
Documenting `table_by_pk` will not actually solve the initial request.

Thank you

[2020-02-12 17:05] arjunyel commented on #3872
https://docs.hasura.io/1.0/graphql/manual/schema/default-values/index.html

[2020-02-12 17:15] ElixirMike commented on #3872
Yes, I'm familiar with those settings, but when it mentions role based column presets, it's all done through Hasura permissions.

https://docs.hasura.io/1.0/graphql/manual/schema/default-values/column-presets.html

I was explicitly asking if Hasura passes these Sessions to Postgres so that I can reference them directly in postgres tables, Like how I showed in my previous posting.

[2020-02-13 00:54] gentleShark commented on #3812
The code above helped me put together the code below that works. Adding here in case it helps:
[code]

[2020-02-13 01:02] jcmoore0 opened #3873 "CLI migrate apply failed: failed parsing json: invalid character 'I'"
Hi Team-  I am getting an error when doing a migration.
I don't have any error logs on server.
v1.1.0-beta.3
[code]
I repeated this sequence several times.

Thanks,
John

[2020-02-13 03:52] sordina commented on #3597
Looks very strange! I wonder why the column names might be being parsed? No idea where to start, but my first guess is some kind of derived instance is doing something funky. I'll see if I can figure out how the translation occurs then check out each component of the process.

[2020-02-13 04:06] pnappa commented on #3872
@ElixirMike if you want to see the query sent to Postgres for a given graphql query, [enable the logging for queries](https://docs.hasura.io/1.0/graphql/manual/deployment/logging.html#log-types), and observe the logs (using docker-compose logs, or whatever, depending on how you're running it).

You'll be able to see the SQL query (as a function, with arguments passed in). It's fairly big, so it ma

[2020-02-13 04:28] tirumaraiselvan commented on #3747
@jasine Are you doing DDLs from outside Hasura console or via migrations?

Can you try a `Reload metadata` from the console (look for the gear icon on the top right) ?

If you are using beta, then you may use the latest `v1.1.0-beta.3` .

[2020-02-13 04:30] tirumaraiselvan opened #3874 "docs: reload and reset metadata from the console"
Currently, docs only explain the API and the CLI.

We should also put screenshots of the console so it's easier to show.

[2020-02-13 04:41] tirumaraiselvan commented on #3845
@SocraticSam The permission for Postgres functions are derived from the underlying `SETOF` table: https://docs.hasura.io/1.0/graphql/manual/schema/custom-functions.html#permissions-for-custom-function-queries

What happens if you give anonymous role to have a permission where they can only access rows with `active: true`?

[2020-02-13 06:34] codingkarthik opened #3875 "Fix the installation steps of the CLI in the CLI README"
Currently, the installation steps mentioned in the repo downloads the platform CLI.

The [docs](https://docs.hasura.io/1.0/graphql/manual/hasura-cli/install-hasura-cli.html) contain the correct installation steps, so update the installations steps from there.

[2020-02-13 07:24] #3875 closed

[2020-02-13 07:38] #384 closed

[2020-02-13 08:30] SocraticSam commented on #3845
Thanks for the response. I will look into the `SETOF` docs.

I've tried that in the past. `product_search_tags` returns a set of `product_search_tags_result`, which only contains a `tag_id` and `count` field. I created the relationships:
- `product_search_tags.tag_id  → tags.id`
- `product_search_tags_result . tag_id  → tags . id`
- `product_tags . tag_id  → tags . id`
- `product_tags . product_id

[2020-02-13 11:14] rikinsk commented on #3870
Dup of #2104

[2020-02-13 12:29] bogdansoare opened #3877 "Table naming convention"
In some places I've seen table names pluralised and in others singular names.

What is the naming convention for tables ? Or there is none ?

Thank you.

[2020-02-13 13:39] ElixirMike commented on #2104
I want to add my opinion that permissions here should work similar to how Postgres RLS works.  In RLS, you assign a policy to the table, which then applies to ALL fields in the table...so that when you add new fields, the permissions continue to work.

Here the current flow is very undesirable. Anytime a new field is added, the only solution to add permissions is a complete deletion and then compl

[2020-02-13 13:50] ElixirMike commented on #3872
Thanks, but not exactly what I was looking for. I've used a tool called Postgrest, which allows PostGres SQL to access JWT claoms through GUC variables that are set by Postres per request.

Here is the snippet that explains:
http://postgrest.org/en/v6.0/auth.html#web-users-sharing-role

I'm guessing Hasura has a different implementation, but this feature would be very nice to add.. The ability to

[2020-02-13 16:34] nikolaykhodov opened #3878 "Optional conditions for nested relationships improperly execute in search queries"
Hi folks, I think Hasura improperly or undocumentedly applies optional conditions for relationship fields. Let me provide an example. Say we have two types Pet and Owner:
[code]

and

[code]

We have a search screen with two optional filters (`$petName` and `$ownerName`) with the following query:

[code]

Hasura seems to expectedly (according to us of coures) handles if `$petName` is undefined: it

[2020-02-13 17:19] jberryman opened #3879 "Console opens a new websocket connection for every subscription, all remain open"
I think subscriptions should either re-use an existing connection we hold open, or close the connection when "stop" is pressed.

To repro: start subscription, stop subscription (a few times), observe "stop" logs. Close window, observe several "close" logs for each subscription you stopped and started. This is a space leak, but I'm not sure if it's a production concern for folks (probably not relat

[2020-02-13 18:37] flybayer commented on #3877
As far as I know, there are none! Up to you how you want to do it.

[2020-02-13 18:38] leoalves commented on #3878
@nikolaykhodov,

The issue here is that `owner: {}` will evaluate to true and will return all records.  There is an open issue about it.
https://github.com/hasura/graphql-engine/issues/704

If the value is mandatory you can add `!` to tell GraphQL. With `!` GraphQL will reject the query.

Also `_and` expects an array.  I think that is why the first value is being ignored.

Your query should be:
[c

[2020-02-13 18:44] leoalves commented on #3872
@ElixirMike,

Maybe this is what you are looking for:
https://docs.hasura.io/1.0/graphql/manual/guides/auditing-tables.html

[2020-02-13 19:45] GavinRay97 commented on #877
@tirumaraiselvan I am running up against this currently, and I had some ideas about it.

What I did was write a tiny AST visitor that parses GQL queries where roles have been prepended with an identifying symbol (in this case, double underscore `__`) into an array of queries broken down by role.

[code]
[code]
Now given some query like the following:
[code]

Calling `graphqlQueryHasRoles(query)` w

[2020-02-13 20:00] PierBover commented on #877
@tirumaraiselvan is this RFC only for reads? If the RFC is implemented do you have an ETA for writes/deletes/updates?

[2020-02-13 20:47] aornugent opened #3882 "Can I use a UUID[] of foreign keys as a relationship?"
I don't expect this to work, but wondered if there was some way that Hasura could handle an array of foreign keys to manage a one-to-many relationship.

In my example, I have a series of UUIDs stored in an array that correspond to primary keys in another table. I'd love to navigate them as edges, but alas:

[code]

[2020-02-13 22:01] paf31 commented on #3882
I'm not sure if this works for you, but perhaps you could create a view which behaves like a join table, and create regular relationships via that view? That would only give you queries, but you might be able to make mutations work if you need it.

[2020-02-14 03:54] tirumaraiselvan commented on #1914
@flybayer Scheduled Triggers is based on time so the ordering is also based on time.

Event Triggers on the other hand is currently best-effort FIFO (but not guaranteed). We are thinking about improving it but it's a really hard problem.

[2020-02-14 04:01] tirumaraiselvan opened #3884 "sudden spike in Postgres and gradual increase in kubernetes"
SOS issue from intercom [here](https://app.intercom.io/a/apps/rucirpb3/inbox/inbox/conversation/25696972291)

[example_execution_plan.txt](https://github.com/hasura/graphql-engine/files/4202595/example_execution_plan.txt)
[example_query.txt](https://github.com/hasura/graphql-engine/files/4202596/example_query.txt)
[example_slow_query.txt](https://github.com/hasura/graphql-engine/files/4202597/exam

[2020-02-14 05:43] jasine commented on #3747
@tirumaraiselvan i am not doing  DDLs from outside, and my postgres version is 10.4,

I also tried reloading metadata and tried each version from v1.0.0 to v1.1.0-beta.3, but not working

[2020-02-14 07:48] andycmaj opened #3885 "ETIMEDOUT running hasura on heroku"
getting frequent ETIMEDOUT errors calling the api using graphql-request.

[code]

<img width="758" alt="Screen Shot 2020-02-13 at 11 46 45 PM" src="https://user-images.githubusercontent.com/97470/74511570-2122c880-4ebb-11ea-8ba0-6fb593654b1c.png">
<img width="763" alt="Screen Shot 2020-02-13 at 11 46 36 PM" src="https://user-images.githubusercontent.com/97470/74511572-22ec8c00-4ebb-11ea-9a72-591dd

[2020-02-14 08:43] yaroot opened #3886 "heap exhausted calling /v1alpha1/pg_dump"
`readProcessWithExitCode` holds the output from pg_dump in memory, causing the crash. Shouldn't the output be streamed back to caller?

[2020-02-14 11:04] ecthiender commented on #3872
@ElixirMike can you explain your use-case in a bit more detail to access session variables in Postgres? That will help us also to get a better understanding.

Currently, you can access the session variables only inside Postgres functions. See https://docs.hasura.io/1.0/graphql/manual/schema/custom-functions.html#accessing-hasura-session-variables-in-custom-functions . Let us know if this helps.

[2020-02-14 11:11] ecthiender commented on #3885
The timeout is between the client and Hasura. So setting `HASURA_GRAPHQL_PG_TIMEOUT` shouldn't matter.

Are you running on the free-tier of Heroku? The free-tier of Heroku puts the container to sleep after 30 mins of inactivity. And then any subsequent request will wake it up, but it takes a while. Is it possible to verify if this is not causing the issue?

[2020-02-14 12:38] polRk commented on #3064
https://www.apollographql.com/docs/graph-manager/setup-analytics/#graph-manager-reporting-endpoint

[2020-02-14 12:38] polRk commented on #3011
https://www.apollographql.com/docs/graph-manager/setup-analytics/#graph-manager-reporting-endpoint

[2020-02-14 13:20] joshuarobs opened #3887 "How to update an array of uuids?"
e.g. something like this doesn't work:

[code]

I get this error:
[code]

Square brackets don't seem to work either:
[code]

I'm looking to set an empty array of uuids to an array of 2 existing uuids. How can you do this in Hasura? I tried removing the `{}` and the `" "` from the code in the `_set: ....` part of the query, but they don't work. I don't seem to be able to get this to work with a uui

[2020-02-14 13:25] ElixirMike commented on #3872
Sure, I've posted a separate thread on this, but will restate here. The way Hasura permissions works is problematic for my use-case, which allows users to dynamically define their tables. When adding a field to a table, the only current solution for permissions is to totally delete/remove permissions from the table, and then re-apply all permissions again.  This is a very heavy transaction and ver

[2020-02-14 13:32] THPubs commented on #669
Any ETA for this feature?

[2020-02-14 19:35] andycmaj commented on #3885
no i originally suspected that as well, but then I upgraded to hobby, which should be always-on according to their docs.
still seems to happen about the same.

[2020-02-14 19:37] andycmaj commented on #3885
heroku response time metrics don't seem to be suspicious...

<img width="377" alt="Screen Shot 2020-02-14 at 11 37 08 AM" src="https://user-images.githubusercontent.com/97470/74561887-62988f80-4f1e-11ea-83a2-2d9439e697cb.png">
<img width="1230" alt="Screen Shot 2020-02-14 at 11 36 57 AM" src="https://user-images.githubusercontent.com/97470/74561889-63c9bc80-4f1e-11ea-9738-526e9bf43600.png">

[2020-02-14 23:14] flybayer commented on #3653
This issue has reappeared with `v1.1.0-beta.3` (this is a chance it was never resolved and I didn't notice it because of the migration speed improvements)

[2020-02-15 02:45] mandado commented on #2599
I'm having the same problem of @rohit-32... if hasura has a jwt configured and defined `Authorization` header, Graphql show as answer `postgres query error` not throwing the error.

Contextualizing: I have a trigger function, that realizes some checks and if it is invalid then raise an exception.

<img width="1017" alt="Captura de Tela 2020-02-14 às 23 41 25" src="https://user-images.githubuserco

[2020-02-15 11:03] joshuarobs commented on #3887
Realised I did it all wrong and that I had to follow instructions from here to properly setup many to many relationships: https://docs.hasura.io/1.0/graphql/manual/schema/relationships/database-modelling/many-to-many.html

[2020-02-15 11:03] #3887 closed

[2020-02-15 14:03] feuxfollets1013 opened #3890 "When JSON object key start with "_", Hasura returns invalid error."
Hi, I try to search JSONB data.
It includes following data.
`{
   "hello": "world",
  "_hello": "_world"
 }`

I executed query including the key starts with "_" on Hasura console.
`
query MyQuery {
  test1 {
    data(path: "$._hello")
  }
}
`

I received following response.
`
{
  "errors": [
    {
      "extensions": {
        "path": "$.selectionSet.test1",
        "code": "parse-failed"
      },

[2020-02-15 14:15] berat opened #3891 "I will translate to Turkish from English."
Get ready to send me Folded Hands. I will translate soon :) Is there any permission?

[2020-02-15 15:02] victorferreira commented on #3877
Even though nothing is enforced at the Hasura level, nor the Postgres level, I'm a supporter of the idea that singular should be the standard when naming things on the database.

This answer on StackOverflow dives deep on why that matters: https://stackoverflow.com/a/4703155

[2020-02-15 19:26] hgiasac commented on #3890
The parser enforces first character of json property name as alphabet for safety. And yes, underscore prefix can be accepted.

I will create a PR for this issue. For now, I think there isn't any workaround for this. You can get entire json field then parse on client side, or pick nearest parent that doesn't contain underscore prefix

[2020-02-15 20:58] bogdansoare commented on #3877
@victorferreira great detailed answer from stack overflow, thank you for the info 🙏

[2020-02-15 20:58] #3877 closed

[2020-02-15 22:09] israelidanny opened #3893 "Docker compose up results in all containers being in "restarting" state"
I tried to follow these instructions:
https://docs.hasura.io/1.0/graphql/manual/getting-started/docker-simple.html

Each time I run docker-compose up -d from this docker-compose.yaml
[code]

The containers appear as always restarting and the ports aren't mapped:
[code]

Here are the logs:
[code]
[code]

The quick start guide doesn't mention anything about setting a password, and the docker compose

[2020-02-15 23:56] jcmoore0 commented on #3759
Hi @lexi-lambda - I just realized the schema will not include enum until a relationship is created to an enum table.

Update:
'reload enum values' - intermittently works ~20% time  -> restart server as a work around
'make table an enum' - works -> need to create a relationship to the enum table first

Thanks for the help.
Best regards,

[2020-02-16 07:17] silky opened #3894 "docker-compose file for use in the quickstart docs for docker-compose missing postgres password"
from a comment i made on the discord, here's the error you get when you use the present version of the docker-compose.yaml from the docs here - https://docs.hasura.io/1.0/graphql/manual/getting-started/docker-simple.html

[code]

fix is just to add the password to the env section.

[2020-02-16 10:11] coco98 commented on #3846
@rikinsk @marionschleifer there are lots of powerful use-cases here exactly like the one @sincraianul mentioned. We should add this to our docs as well and document this as a `XByCurrentViewer` (`likedByCurrentViewer`) feature that folks need to add.

@sincraianul would absolutely love a PR for this feature. @rakeshkky should be able to help and guide you :)

[2020-02-16 10:15] coco98 opened #3896 "Improve docs for computed fields for the table row argument in the console/metadata API"
It's not clear what I should enter as a user for this input.

<img width="726" alt="Screenshot 2020-02-16 at 3 45 06 PM" src="https://user-images.githubusercontent.com/131160/74602882-5a358580-50d3-11ea-9cec-f858566e8b43.png">

[2020-02-16 10:16] mklueh opened #3897 "Squashing runs forever / fails on "drop table" as down migrations are not valid"
Hi there,

I´ve created my schema and I´m now having 100+ migration files in my directory I´d like to merge.

My first attempt was to just run

`hasura migrate squash --name squashed`

without **--from**, as I wanted to include all changes, which is failing because down.yaml files of my "drop table" changes are just containing an empty array

#### down.yaml content

`[]`

#### log
[code]

In my se

[2020-02-16 11:01] feuxfollets1013 commented on #3890
@hgiasac Thank you for your comment.

I confirmed your PR.
I assume you'd better to allow digits and hyphen as with underscore, because it looks like the parser allows digits, hyphen and underscore in json property name. But I don't know Haskell at all.

[2020-02-16 11:58] israelidanny commented on #3894
Same issue I'm having:
https://github.com/hasura/graphql-engine/issues/3893

[2020-02-16 12:22] hgiasac commented on #3890
@feuxfollets1013 IMO, number and hyphen isn't best practices for property name's first character

[JSON Schema](https://json-schema.org/understanding-json-schema/reference/object.html#property-names) recommends first character is only alphabet and underscore

[code]

Google guideline allows `$` too, but I don't think it's useful. By the way, @lexi-lambda @0x777 @paf31 what do you think?

[2020-02-16 19:40] silky commented on #3894
@israelidanny ah, sorry i missed that one when searching!

[2020-02-16 19:41] israelidanny commented on #3894
@silky no problem at all! :) I tagged it here so people who look from now on will be able to see a full picture of progress on this.

[2020-02-16 20:08] sycured opened #3898 "Implement protobuf and/or grpc output"
Hello,
Is it possible to implement protobuf and/or grpc for output (in addition of JSON) ?
It'll be preferable for an usage between microservices in-place of JSON which is more big slow.
Regards

[2020-02-16 21:25] AvronNet commented on #3168
We also need this feature, our use case is the same, for user presence.
The idea we had is to just be able to define a mutation to be triggered on ws connect, provided this mutation has access to hasura auth headers eg. x-hasure-user-id.
The suggestion with a webhook triggered on these events works very nice also.

[2020-02-16 21:59] tsaiDavid commented on #3898
@dquesada @dmi3y

[2020-02-16 22:11] tpurschke commented on #3023
same issue here with hasura running in docker and 60 tables with very little data.
Error:
[code]

[2020-02-17 00:36] colundrum commented on #3331
I vote for #3898
Protobuf and gRPC are more powerful that MessagePack

[2020-02-17 00:36] #3331 closed

[2020-02-17 02:46] sordina commented on #3597
Hi @rstpv could you provide some more detail for how to reproduce the error? I'm trying from the console with the following steps:

* Create table called "testTable" with id int PK, nullTestColumn int uniq
* Run `insert into "testTable" ("nullTestColumn") values (1) on conflict do nothing` twice

This seems to succeed. Am I missing something about how this should be expected to be triggered? Other

[2020-02-17 04:02] hgiasac commented on #3890
@feuxfollets1013 PS: From second characters, underscore, hyphen and numbers are allowed. Is your idea that we should support hyphen and numbers on first char?

[2020-02-17 04:46] feuxfollets1013 commented on #3890
@hgiasac At least, I would be glad if you accepted underscore.
I use some industry group standard on production.
The JSON data defined in the standard has some property name's first character is underscore.

I agree Google guideline, because the javascript clients can access properties using dot notation.
I have never seen first character hyphen, digit and `$` except JSON Schema `$ref` or `$schema

[2020-02-17 05:22] hgiasac commented on #3890
IMO, for special characters, we can use bracket notation, e.g `[$abc]` instead. It is similar to Javascript:

[code]

[2020-02-17 07:54] Toub commented on #3213
After reproducing this again this morning, here is hasura logs at the time of the error:

[code]

Again, it appends just after have upgraded the database, so hasura metadata is inconsistent.

I suppose that when this occurs, Hasura internally restart its engine or any process, by re-loading database state.

During this time, hasura is probably not ready to listen connexion.

After a few seconds, h

[2020-02-17 08:13] andycmaj commented on #3885
@ecthiender

[2020-02-17 09:07] feuxfollets1013 commented on #3890
Yes, we can access properties with your notation, but it is easier to access with dot notation(e.g. `headers.helloWorld` or `headers.$hello`) than bracket notation(e.g. `headers['hello world']` or `headers['$hello']`) on Javascript.
So I guess google style guide set the property naming rule.

I guess it is not a recommendation, but an example for JSON schema beginners.
[JSON Schema Spec.](https://

[2020-02-17 09:12] sincraianul commented on #3846
@coco98 Wow, thanks for the really positive response! I'll get started right away.

[2020-02-17 09:21] reinvanimschoot commented on #3846
Also really looking forward to this implementation! It would be extremely powerful! Good luck!

[2020-02-17 10:52] dsandip commented on #1498
Use case:

[2020-02-17 11:27] franciscolourenco commented on #3742
@webdeb that looks like a possible workaround, but it is still a cumbersome and indirect way of achieving the result.

[2020-02-17 11:33] franciscolourenco commented on #3436
@tirumaraiselvan I don't understand what you mean with `mask` and with  mask `table_by _pk`. This workaround sounds like it could work though https://github.com/hasura/graphql-engine/issues/3742#issuecomment-576071041

[2020-02-17 13:33] marionschleifer commented on #3891
Hey @berat, you can just open a pull request on our [repo](https://github.com/hasura/graphql-engine) and add your translation. Please find here our [contributing guide](https://github.com/hasura/graphql-engine/blob/master/CONTRIBUTING.md) 🙂 closing this issue.

[2020-02-17 13:33] #3891 closed

[2020-02-17 13:42] rstpv commented on #3597
Hi @sordina, you can reproduce this as:

1. Create a table with two columns such as:
![image](https://user-images.githubusercontent.com/13932397/74658184-bd6cf980-515f-11ea-82ac-5a3826ce98ea.png)
2. Try to run a query with on_conflict and update_columns such as:
[code]
3. It will throw an error such as:
[code]
4. Rename the column to anything, for example:
![image](https://user-images.githubuserco

[2020-02-17 13:47] ecthiender commented on #3872
@ElixirMike Got it. Thanks for the reply!

I can see the other thread you mention here: https://github.com/hasura/graphql-engine/issues/2104#issuecomment-585758423

As you have guessed, currently, there is no support. But we will look into this and get back to you.

[2020-02-17 13:53] ecthiender commented on #3885
Are there any logs on Hasura when this timeout happens? If yes, can you share them as well?

[2020-02-17 14:22] davidecavestro commented on #3533
IMHO the ability to alter metadata on prod without redeploy is a feature... indeed a great one!

As of now a custom UI can define a new table simply demanding some calls to _run_sql_, _track_table_ and _create_xyz_permission_.
It can be easily achieved through a companion service with admin access.

When data structure is quite dynamic, automated redeploys wouldn't provide the same QoS as live cha

[2020-02-17 15:45] LydiaF commented on #3232
Hi there,

I ran into what I think is the exact same issue although in a different context -- custom function on a view. Happily, untracking the function as suggested got rid of the problem!

I was in the middle of making a reproduction... https://no-schema-but-custom-function.herokuapp.com/console/data/schema/public

You can see that if you toggle tracking and untracking the function, `roles_for_

[2020-02-17 19:05] tbenst opened #3899 "Support GraphQL mutation for CLI migrations"
Hi, thanks for this awesome server! I’m currently using SQL in migrations to seed the database. I’d love if I could use a GraphQL mutation instead. Let me know if I missed this in the documentation?

If not, I’d like to request this feature. Thank you!

[2020-02-17 19:23] afreix opened #3900 "Clarify docs for production checklist"
The [docs](https://docs.hasura.io/1.0/graphql/manual/deployment/production-checklist.html#disable-apis) mention that in most scenarios the only API that needs to be enabled in production is the `graphql` API.

The [docs](https://docs.hasura.io/1.0/graphql/manual/deployment/production-checklist.html#disable-console) also mention that it's recommended to disable the console, but that "You can still

[2020-02-18 01:40] sordina commented on #3597
Thanks @rstpv that makes total sense. I wasn't running a GraphQL mutation, so of course it wasn't triggering the issue. I'll try to reproduce with your steps.

[2020-02-18 05:57] arys777 commented on #3239
Hello, is there any news?

[2020-02-18 08:30] shahidhk commented on #3872
@ElixirMike I am not sure if I understand your use case completely, but I can point to some notes that could help.

For mutations, which are executed in a transaction, `current_setting('hasura.user')` will give you the session variables. For example, if you want to access the user id, you can do `current_setting('hasura.user')->>'x-hasura-user-id'` (see more at https://docs.hasura.io/1.0/graphql/m

[2020-02-18 08:36] shahidhk commented on #3873
@jcmoore0 What is the CLI version?

How long does it take before this error happens? Can you also send us the server logs from this time?

[2020-02-18 16:30] leoalves commented on #3900
@afreix,

You can spin up an instance locally, connected to the same database as the production one, just to apply the migrations.  The live instance, with only graphql api enabled, will automatically update the metadata.

[2020-02-18 20:00] mralanlee commented on #1847
Ideally, if you could support an array or list of read replicas that'd be great. RDS (specifically Aurora) seems to support load balancing but other platforms like GCP CloudSQL does not automatically load balance this.

[2020-02-18 23:29] flybayer opened #3904 "Auto migration server should not expose an http server (breaks deployments on Render.com)"
I'm using the auto migrations image `FROM hasura/graphql-engine:v1.1.0-beta.3.cli-migrations`.

I'm having lots of problems deploying to Render.com because they automatically detect the open http port and expose that to the internet.

What's happening is they detect the temporary migration port and expose that. Then the migration server shuts down and my app isn't accessible to the internet.

The

[2020-02-19 05:18] tirumaraiselvan commented on #3904
Related to https://github.com/hasura/graphql-engine/issues/3480

[2020-02-19 05:20] tirumaraiselvan commented on #3653
@flybayer Is this because of https://github.com/hasura/graphql-engine/issues/3904 ?

[2020-02-19 07:20] marionschleifer commented on #3884
Closing this since Vaibhav reported on Intercom that the issue has been resolved by simplifying the table permissions.

[2020-02-19 07:20] #3884 closed

[2020-02-19 07:46] jcmoore0 commented on #3873
Hi @shahidhk -  I recommend closing this as  I am no longer able to reproduce this condition and cannot troubleshoot further.

FYI
Hasure & CLI version: 1.1.0-beta.3
There were never any server logs related to this event.
The client side error came after a few ~5 seconds.
Last week, I was able to reproduce the above errors repeatedly on 2 servers.
On one server I truncated hdb_catalog.schema_migra

[2020-02-19 08:36] MatthiasGrandl commented on #3772
Yes exactly the same usecase for me. I output a datatable module and I want the user to be able to filter and sort by any value inside the datatable. Right now I have to disable those features for any computed field, which is really unintuitive.

[2020-02-19 10:33] nikolaykhodov commented on #3878
@leoalves Thanks a lot for your explanation.

I understand it returns all `owner` records, though what we'd like to is to get all `pet` records with any `ownerId` value (defined/not defined). If both `$petName` and `$ownerName` are `undefined`, Hasura generates the following SQL query returning only pets with owners:

[code]

Any hint how to make Hasura completely ignore the condition `{owner: { n

[2020-02-19 11:11] Albert-Gao opened #3908 "[BUG] Delete record button stops working in 1.1.0"
In Hasura console.

![image](https://user-images.githubusercontent.com/18282328/74829236-75bfbb00-5375-11ea-974d-ad55223c43f7.png)

Nothing happens after clicking the trash bin button, not even sending a request

[2020-02-19 11:17] sordina commented on #3597
I've replicated the issue with your instructions. I'll dig in deeper now.

[2020-02-19 12:36] MarcelloTheArcane commented on #217
Why is this closed? I need to update an existing value to `null`, but it doesn't work.

[2020-02-19 12:38] rikinsk commented on #3908
@Albert-Gao I just tried this out on v1.1.0 and it seems to be working for me. Can you please confirm if this is happening for you consistently and across all tables?

[2020-02-19 12:49] dilame opened #3910 "Insert permissions interrupts table modification"
As you should know, insert permissions create view based on guarded table in `hdb_views`.  That makes impossible column removing or data type change. Thats very annoying, but not the biggest issue.
I need to modify table and such restrictions should not stop me, so i run `ALTER TABLE xxx REMOVE COLUMN xxx CASCADE`, it removes column and dependend view.
So the permission is broken now. That is more

[2020-02-19 12:56] go4cas opened #3911 "[FEATURE REQUEST] Generated Columns (PostgreSQL 12) definition in Console"
Hasura 1.1.0 included the ability to define computed columns, using Postgres functions, directly in console. It would be great if we could define Generated Columns (a featured introduced in PostgreSQL 12) in the same way.

[2020-02-19 13:02] dilame commented on #3910
For those who faced the same issue - go to  `hdb_catalog -> hdb_permission` find and delete related row, then in the console go to settings -> reload metadata. Now you can recreate permission.

[2020-02-19 13:52] #3894 closed

[2020-02-19 14:00] denisotari commented on #1677
In my case GCP CloudSQL PostgreSQL 9.6.15 return error:

`WARNING:  no privileges were granted for "table_constraints"
WARNING:  no privileges were granted for "key_column_usage"
WARNING:  no privileges were granted for "columns"
WARNING:  no privileges were granted for "views"
WARNING:  no privileges were granted for "schemata"
WARNING:  no privileges were granted for "routines"
WARNING:  no priv

[2020-02-19 14:14] ekifox commented on #696
Update from discord ( ͡° ͜ʖ ͡°)

[2020-02-19 14:15] maticomp commented on #2468
I second this.

Are there any plans for support for querying based on fields inside a JSONB field?

Using JsonPath (Postgres 12) is one option, certainly robust one, but for many cases not the only one. Even prior to Postgres 12 JSON/JSONB operators (currently supported by Hasura) work well not only on top level object but also on subsets of structure.

Take the following JSON:

[code]

in JSONB c

[2020-02-19 18:31] leoalves commented on #3878
Hi @nikolaykhodov,

Hasura returns everything if the value is undefined.

As I said, `_and` expects and array and not an object.  If you pass and array to it it should work as expected.

Here is an example in Heroku:

https://testtesttesttettest.herokuapp.com/console

If you do the following query:
[code]
And pass no variables to the query it will return everything.
If you pass only the variable p

[2020-02-19 20:27] flybayer commented on #3653
@tirumaraiselvan yes I think so!

[2020-02-19 20:37] Albert-Gao commented on #3908
Yes, I can, only have 2 tables though

If it is hard for you to reproduce,
Could you plz provide your email?

I can send the dev environment Hasura with the admin secret to you.

[2020-02-19 21:14] andycmaj commented on #3885
attaching some logs a few minutes before and after an occurrence:

# rollbar log
Received On
2020-02-19 13:08:32 PST
Notifier Timestamp
2020-02-19 13:08:33 PST
[code]

# hasura log
[code]

## full log file

[botany-db-staging-logs-1582146532021.txt](https://github.com/hasura/graphql-engine/files/4227473/botany-db-staging-logs-1582146532021.txt)

don't see anything that looks like an error

[2020-02-19 21:32] andycmaj commented on #3885
see a few random 404s

[code]

attaching a larger log
[botany-db-staging-logs-1582147160561.txt](https://github.com/hasura/graphql-engine/files/4227533/botany-db-staging-logs-1582147160561.txt)

exception occurrences seem to be at

2020-02-19 13:09:27 PST
2020-02-19 13:09:27 PST
2020-02-19 13:08:32 PST

[2020-02-19 21:34] andycmaj commented on #3885
any advice on additional debugging?

[2020-02-19 21:37] kktam opened #3914 "Bulk loading support for Hasura"
Bulk loading support for Hasura, with either import to table from csv or Excel file.

This is important, as some of the deployment types, like Digital Ocean droplets, does not expose the PostgreSQL backend endpoint, so administrator cannot bulk load a newly created database.

[2020-02-19 21:43] kktam opened #3915 "JWT authentication cannot be setup in Hasura running in Kubernetes"
By following Hasura documentation in setting up authentication for JWT in a Kubernetes cluster

[https://docs.hasura.io/1.0/graphql/manual/auth/authentication/jwt.html](https://docs.hasura.io/1.0/graphql/manual/auth/authentication/jwt.html)

--jwt-secret flag cannot be used, and the  HASURA_GRAPHQL_JWT_SECRET environment variable need to be programmed in a yaml file. However, the yaml file does no

[2020-02-19 23:34] jmonday commented on #1291
Maybe these are two different things, but I'd love to be able to specify when the event should be triggered. Right now, it looks like it's being triggered after the update/mutation is made. I'd like to be able to configure the event to run **before** an update/mutation. This way, my webhook can determine if the update is allowed and/or modify the response for additional processing (thinking ETL ca

[2020-02-20 06:07] sordina commented on #3597
Looks like the issue is in the parser. Initial test-case:

[code]

[2020-02-20 06:08] sordina commented on #3597
Will attempt to reduce this and then fix the parser.

[2020-02-20 06:13] sordina commented on #3597
Issue created in parser repo: https://github.com/hasura/graphql-parser-hs/issues/20

[2020-02-20 06:55] yemi opened #3916 ""Saving check constraint failed" due to normalizing camelCased fields"
I have a field called `usageCount` and it seems to try to convert it to `usagecount`:

![bild](https://user-images.githubusercontent.com/416424/74908399-09b17700-53b6-11ea-9b3d-ea2042e0b0c4.png)

Generates:

![bild](https://user-images.githubusercontent.com/416424/74908408-12a24880-53b6-11ea-9baf-17789f4a730b.png)

[2020-02-20 08:09] rikinsk commented on #3908
@Albert-Gao Thanks for your help in debugging this. You can email me at rikin@hasura.io

[2020-02-20 12:26] hgiasac opened #3918 "websocket isn't closed after stopped subscription on console graphiql"
In console's graphiql, after the user stopped subscription, the websocket is still alive. If he starts new subscription, new websocket will be created for it. It leaks websocket connections

#### Reproduce steps
- Open chrome/firefox dev tools - Tab Network - `ws` filter
- Start a subscription
- Stop it
- Start another subscription
- Look at the dev tool

![websocket_bug](https://user-images.githu

[2020-02-20 12:31] rikinsk commented on #217
@MarcelloTheArcane Passing a `null` value in the insert and update mutations sets a value to `null in the database. Can you share some more information if you are not observing the same

[2020-02-20 12:44] rikinsk commented on #3916
By default postgres converts all identifiers to lowercase if not surrounded by double-quotes. You can try to set the rule as `"usageCount" > 0` to make this work as expected

[2020-02-20 12:52] ecthiender commented on #3918
When we stop a subscription and then start again on graphiql, it doesn't re-use the existing connection, but opens another new connection.

[2020-02-20 15:19] jmonday commented on #1291
I was reading the documentation further and it seems that something similar is already in place but I'm not seeing it work as described (or I'm misunderstanding the documentation).

I see that if I return a non `2xx` status code, the retries are fired as expected but the database update has already been executed and not rolled back. When first reading about this feature, I thought of it almost lik

[2020-02-20 16:01] lucasmachadorj opened #3919 "Error: Could not verify JWT: JWSError JWSInvalidSignature Hasura, Docker and Cognito"
I'm developing an application in which I use AWS Cognito as authentication provider.
The Hasura Engine  is configured in a docker-compose file and it runs in a AWS EC2 machine.

Following this tutorial https://hasura.io/blog/hasura-authentication-explained/#cognito I set HASURA_GRAPHQL_JWT_SECRET as shows below:

[code]

From the client, I get jwtToken from idToken and put it in authorization head

[2020-02-20 16:50] nikolaykhodov commented on #3878
@leoalves Wow, that's a really great example! There is still one minor question.

You provided an example for non-NULLable `ownerId`. I am also thinking how to handle if it could be nullable. I am not sure if Hasura'd return all pet records in this case since there is a `inner join` statement in the generated query:

[code]

Can you please help find a solution for this case?

[2020-02-20 17:43] dryhten commented on #877
Hello!

I came across the same issue as well. I basically wanted multiple roles to aggregate permissions since my permissions are simple select/update/insert/delete always with full access to the fields (so I don't have the issue of which role to use when multiple have access to an operation + table).

The way I did it was like this:
1. Created a `getHasuraPermissions` query that will return all h

[2020-02-20 18:47] leoalves commented on #3878
@nikolaykhodov,

If you add an `_or` condition to the query it should also return all pets that don't have an owner.  Something like:

[code]

[2020-02-20 21:00] rccoe opened #3920 "Opening Hasura Console on 1.1.0 Fails"
I get this whenever trying to open up the console

[code]

It looks like this is the culprit,
https://github.com/hasura/graphql-engine/blob/b84db36ebb51acd5b51e1254c103f3097a7c2358/server/src-lib/Hasura/Server/Query.hs

[2020-02-20 22:36] Albert-Gao commented on #3908
Sent, thanks

[2020-02-20 22:38] Albert-Gao commented on #3908
Interesting, it starts working now....

It brought the alert() window correctly.

What is the logic prior to this bringing up `alert()` window? maybe that is the problem

[2020-02-20 22:53] flybayer commented on #3814
After only 3 days running `1.1.0` in production —  I'm having serious perf issues with the console. (To be clear, I just put the server in production 3 days ago — this isn't a regression from a previous version)

**For triggers with large payloads that happen frequently (every ~5 mins)**
- Loading the processed events tab just gets stuck. Event after waiting multiple minutes.
- Loading the invocat

[2020-02-20 23:09] toddheslin commented on #3890
I'm having a similar problem but with characters within the JSONB object keys (I really just want the dot, but testing some alternatives):
<img width="427" alt="image" src="https://user-images.githubusercontent.com/1883112/74987819-ff1fdc00-54a0-11ea-888d-76b141e82d3f.png">

The table field 'mapping' is the JSONB field.

I'm fairly confident that this makes sense as regular JSON to a javascript pa

[2020-02-21 03:43] lexi-lambda commented on #3920
Hi—could you tell me what versions of `graphql-engine` and the CLI you are using? It looks like your database has been upgraded to v1.1.0, but you’re running a `graphql-engine` instance that’s older than that. The query in that error message has been updated in v1.1.0.

[2020-02-21 07:17] Hadryan commented on #2609
That would be a nice feature to support Graph queries.

[2020-02-21 11:47] manisundaram opened #3922 "McAfee LiveSafe marks hasura-cli as virus"
**Environment:** Windows 10, VS Code
**AntiVirus:** McAfee LiveSafe, Chrome browser plugin is also enabled
**Setup:**
1. Follow instructions to create a new project from VS Code terminal https://docs.hasura.io/1.0/graphql/manual/migrations/new-database.html
2. Install hasura-cli by running "npm install --global hasura-cli"
3. Update config.yaml in the new project

**Steps to Repeat:**
a) run hasur

[2020-02-21 14:02] rccoe commented on #3920
Hey, looks like you're right, my deploy to 1.1.0 failed so it was still 1.0.0-beta*. All set, thanks.

[2020-02-21 14:02] #3920 closed

[2020-02-21 15:10] jflambert opened #3923 "How to uninstall/purge hasura?"
Dear Hasura people, we're using your amazing hasura.cli-migrations docker container but as part of a pipeline, I would need to completely kill any hasura objects in my database in order to rebuild them. Having some dependency issues at the moment (specifically INSTEAD OF triggers that seem to get created when granting some partial INSERT permissions)

Is it as simple as dropping the `hdb_views` an

[2020-02-21 18:18] marvin-hansen opened #3924 "[Feature Request]: Add GraphQL-Event-Stream for schema hot reloading"
Let's suppose you update your GraphQL schema and let's suppose you add or modify some fields.
Usually, your client has to reload the schema to see the changes. However, there is a mechanism to push schema changes from the server to the client through server-side events.

so please take a look if / whether Hasura can support this really useful feature:

Blog post

https://sirmuel.design/a-better-gr

[2020-02-22 00:57] flybayer commented on #3814
Also, viewing DB tables with very large JSONB fields renders the UI useless. Insane amount of lag when trying to select filters, etc.

If a JSON field is over a certain size, it should be truncated in the UI. And then if the row is expanded, render it in a virtualized window.

[2020-02-22 02:54] hiralsp commented on #678
please update, thank you!

[2020-02-22 11:58] nikolaykhodov commented on #3878
@leoalves The enhanced query with `{ _not: { owner: {} } }` requests for `all pets without an owner` + `pets (whose name is like $petName) AND (who have an owner) AND (whose owner's name is like $ownerName)`. We know that `(whose name is like $petName)` is ignored if `$petName` is absent.

I am trying to build a request which requests for `all pets (whose name is like $petName) AND (who have an ow

[2020-02-22 15:43] leoalves commented on #3878
You can use variable as the where.
Check the where type, with the GraphiQL docs. It should be `pet_bool_exp`
or something like that

` query petname ($where: pet_bool_exp) {
  pet { where: $where) {
  }
}
`

On Sat., Feb. 22, 2020, 6:58 a.m. Nikolay Khodov, <notifications@github.com>
wrote:

[2020-02-22 22:48] fastengineer commented on #1186
Waiting the docs.

[2020-02-23 06:51] adwd opened #3925 "[Feature Request] generate custom dataIdFromObject function"
Apollo client uses `dataIdFromObject` function to identify cached object.
https://www.apollographql.com/docs/react/caching/cache-configuration/#assigning-unique-identifiers

I think hasura can automatically generate this function because hasura knows primary key of table.
To work with Apollo client object identifier, another way is to use computed field but it's verbose I think.

[2020-02-24 01:13] Bwolfs2 opened #3926 "Encoding problem"
I'm trying to raise a docker from hasura but my bank has colation 'latin1' and it's giving incompatibility.

Error: `in encoding "UTF8" has no equivalent in encoding "LATIN1"`

[2020-02-24 04:08] sordina commented on #3597
@rstpv I've resolved the issue in the parser and am now testing integration with graphql-engine. Should have a candidate fix ready shortly.

[2020-02-24 04:13] sordina commented on #3597
<img width="598" alt="image" src="https://user-images.githubusercontent.com/92299/75128436-0f76c780-56ea-11ea-886d-e72d5284490e.png">

Works manually. Adding automated tests now.

[2020-02-24 04:53] hgiasac commented on #3890
@toddheslin About your case, it is best practise if you input entire JSON field input into variables instead of inputing field by field directly, because special characters violate GraphQL specs too.

[2020-02-24 05:30] lexi-lambda commented on #3890
Yes, keep in mind that input objects in GraphQL are *not* JSON, even if they have a lot of similarities. Strictly speaking, the right approach is probably to pass the JSON object as a string (passed through `JSON.stringify`).

[2020-02-24 05:42] tirumaraiselvan commented on #3923
@jflambert That is right. We should definitely add how to uninstall hasura in the docs.

cc: @marionschleifer

[2020-02-24 05:42] 0x777 commented on #3923
@jflambert

The following should do the trick:
[code]

[2020-02-24 05:45] 0x777 commented on #3926
@Bwolfs2 Can you give us a minimal reproduction? How should the database be initialized so that graphql-engine will fail with the above message?

[2020-02-24 05:51] sordina commented on #3597
Pytest added:

[code]

[code]

[2020-02-24 05:55] 0x777 commented on #3910
@dilame We stopped using views for enforcing insert permissions since `v1.1.0`. Can you please upgrade and let us know!

[2020-02-24 06:07] sordina commented on #3597
Created WIP fix: https://github.com/hasura/graphql-engine/pull/3927

Still need to finish approval of parser changes

[2020-02-24 06:07] tirumaraiselvan commented on #1291
@jmonday The docs you are referring to are for Event-Triggers which are very different from `Actions` -- the topic of this thread.

Anyway, in event-triggers, you have transactionality between the database mutation and the creation of the event. But, you don't have transactionality with the invocation of the webhook (as it is an external system).

[2020-02-24 06:25] tirumaraiselvan commented on #3513
@RKARaj Are there any docs you can point to show what type of `id_token` is generated in auth0 ? Is there a way to configure this, say to `RS512` ?

Anyway, have you tried changing the type to  `type: RS256` in the output of https://hasura.io/jwt-config and then setting the environment variable `HASURA_GRAPHQL_JWT_SECRET` ?

[2020-02-24 06:26] marionschleifer commented on #3872
@ElixirMike just checking in if your problem is solved? 🙂

[2020-02-24 06:26] tirumaraiselvan commented on #3919
@lucasmachadorj Can you check what `type` of JWT is being generated by Cognito? Is it `type: RS256` ?

[2020-02-24 06:40] marionschleifer commented on #3873
@jcmoore0 I'm closing this. Please feel free to re-open should you have any more issues related to this 🙂

[2020-02-24 06:40] #3873 closed

[2020-02-24 06:46] tirumaraiselvan opened #3929 "skip ci for docs-only changes"
Currently, all tests are run for only docs changes.

[2020-02-24 06:51] tirumaraiselvan commented on #3924
Indeed, it would be nice to have a way for the client to detect if the schema has changed.

A current workaround that we have seen people use is poll the introspection query (say every 5 seconds) and do a diff to figure out if the schema has changed. Not very ideal for large schemas but just wanted to point it out.

[2020-02-24 07:00] shahidhk commented on #3929
Tests are skipped (marked as passed without actually running them) if the diff of the PR with master only contains things mentioned in https://github.com/hasura/graphql-engine/blob/master/.circleci/ciignore.sh

The PR needs to be up-to-date with master.

[2020-02-24 07:00] #3929 closed

[2020-02-24 07:00] shahidhk commented on #3929
Also, feel free to use `[skip ci]` in commit messages.

[2020-02-24 07:07] tirumaraiselvan commented on #3814
@flybayer Could this be related to Render.com's performance issues in the first place? (considering: https://github.com/hasura/graphql-engine/issues/3654#issuecomment-572867074 )

Is there a way you could give us access to a repro in Render.com. My email is `tiru@hasura.io`

[2020-02-24 07:15] shahidhk commented on #3893
@israelidanny Thanks for reporting this. It was fixed in https://github.com/hasura/graphql-engine/pull/3895

[2020-02-24 07:15] #3893 closed

[2020-02-24 07:17] sordina commented on #3773
Taking a look at this.

Simplified test case:

query:

[code]

variables: `{}`

[2020-02-24 07:19] shahidhk commented on #3915
@kktam You can add the JWT secret as a JSON string into a `Secret` object and then use in the deployment as a `secretKeyRef`.

[code]

[code]

(yaml might not be as per spec, use it as a guidance only)

[2020-02-24 07:22] shahidhk commented on #3922
I am not sure what we can do here. If anyone with experience on Windows can help, that would be great.

The CLI runs webservers on port 9693 and 9695, this could be the reason why McAfee flags it as suspicious.

@manisundaram For now, I can only suggest to mark Hasura CLI as safe to use on your McAfee program. And make sure you download it only from GitHub Releases page.

[2020-02-24 07:23] ecthiender commented on #3885
@andycmaj there is nothing on the hasura logs. Looks like hasura doesn't receive the requests.

Can you explain in more details when does the timeout happen? Does it happen when running a particular query? Or is it happening for all queries?

Also, if you can attach the relevant logs it will be more useful. Just the logs right before and after the timeout happens.

PS: the 404s are because some cl

[2020-02-24 07:51] dilame commented on #3910
Wow, that's nice update! I've successfully updated, but corresponding view and routine still remained in hdb_views. Then i tried to delete the permission in console - success, but view and routine remains. I've deleted those manually in DB, so not a big problem for me, but i think for someone this could be a problem.

Also i've noticed now i can manually edit permissions in console, i mean input f

[2020-02-24 07:51] #3910 closed

[2020-02-24 11:01] tirumaraiselvan commented on #3914
@kktam For now, maybe you can expose the postgres port into the localhost network and get a publicly accessible endpoint?

[2020-02-24 11:06] #3822 closed

[2020-02-24 11:09] rikinsk commented on #3908
This was weird indeed. I dont believe that piece of logic had changed.

As there is no way to reproduce this currently, closing the issue for now.

[2020-02-24 11:09] #3908 closed

[2020-02-24 11:43] marionschleifer commented on #3899
@tbenst could you elaborate a bit on the use case you would like to have this feature for? Is there a specific reason why you prefer GraphQL mutations over SQL in migrations?

[2020-02-24 12:15] marionschleifer commented on #2047
@SidhNor we tracked this in the following issue: https://github.com/hasura/graphql-engine/issues/1910 and implemented it with this PR: https://github.com/hasura/graphql-engine/pull/2509. We left this issue open  to document `table_by_pk`.

[2020-02-24 12:17] marionschleifer commented on #2047
@SidhNor we are tracking this feature here: https://github.com/hasura/graphql-engine/issues/519. But we left this issue open to document `table_by_pk`.

[2020-02-24 15:57] jberryman opened #3935 "Show code coverage of haskell diffs on PRs in CI"
I think it would be really helpful to be able to see clearly the code coverage of a set of changes in a PR as a way of validating tests and making it easier to have confidence in PRs in code reviews.

I only have an idea for how to do this with the haskell code:

convert tix to lcov with: https://hackage.haskell.org/package/hpc-lcov
...then use something like https://github.com/Connected-Informati

[2020-02-24 15:57] esseswann opened #3936 "Console\GraphQL URL configuration"
We have a problem that we're serving `hasura` on `/api/v2/` through traefik and it creates this horrible path `/api/v2/graphql/v1/graphql` because there is no configuration for graphql endpoint url.
Is it possible to set it up somehow without extra stuff in the reverse-proxy?
The result we're trying to achieve is having graphql endpoint on `/api/v2/graphql`

[2020-02-24 16:49] marvin-hansen commented on #3924
@tirumaraiselvan

Altair already supports schema auto-refresh through an http header, so the client already can do it, but there aren't many servers out there supporting the matching server-side functionality, and I guess, supporting that is up to the Hasura engineers.

https://altair.sirmuel.design/docs/features/schema-auto-refresh.html

Thinking one step further, exposing the GraphQL schema as a

[2020-02-24 17:09] jberryman commented on #3656
This was resolved

[2020-02-24 17:09] #3656 closed

[2020-02-24 17:26] jberryman opened #3937 "Audit usage of mutable vars for space leaks"
These are a particularly potent source of leaks. Use https://hackage.haskell.org/package/ghc-heap-view-0.6.1/docs/GHC-AssertNF.html

[2020-02-24 18:24] samuelcastro opened #3938 "Guide on how to migrate from Heroku to AWS/Google Cloud"
Do you guys have any guide/documentation about how to migrate from Heroku to another provider like AWS/Google Cloud?

Thanks.

[2020-02-24 19:02] samuelcastro opened #3939 "Development workflow (CI/CD)"
Is there any guide around how to structure a good CI/CD workflow or/and how it should be implemented on CircleCI or GitHub Actions for example.

Another thing (might be a dumb question), can we track changes through git? Let's say I changed schemas in my database or created events on Hasura, I want to be able to track those changes. I'm not sure yet whether this is something trackable.

Thanks.

[2020-02-24 20:59] Mike96Angelo opened #3940 "hdb_views.role__insert__schema__table remain in db after upgrading to v1.1.0"
After upgrading to v1.1.0, I was trying to drop a column and came across this error:
[code]

I saw that these views were removed here:  https://github.com/hasura/graphql-engine/pull/3598

Note: I am NOT using Hasura for db migrations.

[2020-02-24 22:06] jberryman opened #3941 "Use `StrictData` globally"
This seems sensible rather than putting strict annotations everywhere (and forgetting sometimes). But it's also a bit scary as I'm not sure how to audit the one or two places where we might rely on laziness...

[2020-02-24 22:45] samuelcastro commented on #3939
So for the second part of my question I know that I can track any changes through migrations (https://docs.hasura.io/1.0/graphql/manual/migrations/index.html).

[2020-02-24 23:31] tbenst commented on #3899
@marionschleifer, well, I’d like to use it for the same reason why someone might want to use hasura or GraphQL in the first place: it’s easy for me to write a single GraphQL mutation, and much harder to write the 6 separate insertion SQL command for each logical datapoint

[2020-02-25 00:26] tbenst commented on #3899
For example, insertions with UUIDs are painful. This would be trivial with GraphQL.

[code]

[2020-02-25 03:21] samuelcastro commented on #3649
Hi @joshuarobs Could you share which repository you managed to fix the issue? Since you shared 2 of them I'm not quite sure which one is the one working.

Thanks.

[2020-02-25 04:48] sordina commented on #3597
Parser changes merged. Referencing commit in engine:

[code]

[2020-02-25 07:36] tirumaraiselvan commented on #3924
@marvin-hansen I agree !

[2020-02-25 07:38] tirumaraiselvan commented on #3924
Similar to https://github.com/hasura/graphql-engine/issues/3297

[2020-02-25 07:42] lexi-lambda commented on #3940
I think the issue here is that #3598 removed the code that creates/manages those views, but it didn’t clean them up as part of the migration. We should add a migration in a future release to clean up any lingering views that people might have in their databases, but as a workaround, it should be totally safe to drop the view yourself (or use `DROP ... CASCADE`).

[2020-02-25 08:14] m-haziq commented on #1274
You can improve the message by setting "On Delete Violation"  and "On Update Violation" on foreign key fields. For example, in my case I had it set at "No Action", which gave this error from postgres. I improved the error message in my case by changing it to "Restrict."
![image](https://user-images.githubusercontent.com/20089858/75227827-ba61b100-57d0-11ea-8e20-2cfca2e4ba57.png)

[2020-02-25 09:35] rikinsk opened #3949 "allow aggregate operators in row permission rules"
An extention of #1498.

[2020-02-25 10:28] ashishra0 commented on #1186
@tirumaraiselvan Should I create a PR and reference this issue?

[2020-02-25 11:33] joshuarobs commented on #3649
@samuelcastro
https://github.com/joshuarobs/test-ci

[2020-02-25 17:25] samuelcastro commented on #3938
So after reading more about Hasura I understood the process, to migrate would be basically export all metadata and migration and import them in the new provider. (https://docs.hasura.io/1.0/graphql/manual/migrations/index.html)

[2020-02-25 17:25] #3938 closed

[2020-02-25 17:33] samuelcastro opened #3954 "Docker setup difference."
This might be a dumb question, but what's the difference and why there are 2 difference Docker setup?

1 - https://docs.hasura.io/1.0/graphql/manual/getting-started/docker-simple.html#step-1-get-the-docker-compose-file (docker-compose)
2 - https://docs.hasura.io/1.0/graphql/manual/deployment/docker/index.html (docker-run.sh)

Would the `docker-run.sh` setup be more recommend for a production envir

[2020-02-25 17:35] samuelcastro commented on #3649
Thanks @joshuarobs, quick question, do you know the main difference between these 02 different Docker setup? I've posted a question here as well: https://github.com/hasura/graphql-engine/issues/3954

Thanks.

[2020-02-25 18:41] coco98 commented on #721
Some notes on supporting relay subscriptions by @zth 🙏
https://gist.github.com/zth/e1d4bcdace2b5498d247991ead8f74ba

[2020-02-25 22:03] toddheslin commented on #3890
Thanks @hgiasac and @lexi-lambda. Both very useful comments :-)

[2020-02-25 22:49] dminkovsky opened #3955 "Console dropdowns are serif in Firefox"
1.1.0-beta2, the dropdowns look like this in FF:

<img width="311" alt="Screen Shot 2020-02-25 at 5 38 00 PM" src="https://user-images.githubusercontent.com/218725/75294692-12aba980-57f7-11ea-94f5-7151e768fb06.png">
<img width="432" alt="Screen Shot 2020-02-25 at 5 37 51 PM" src="https://user-images.githubusercontent.com/218725/75294699-150e0380-57f7-11ea-918c-9b14b1aea856.png">

Would be nice if

[2020-02-26 00:24] mnesarco commented on #1514
Hi Friends, I am not sure if this is offtopic, but I managed to call PLPgsql Functions as mutations with Hasura 1.0 and I want to share my approach with you:

https://mnesarco.github.io/blog/2020/02/25/hasura-postgresql-function-as-mutation

[2020-02-26 01:06] toddheslin commented on #3954
Not a dumb question @samuelcastro

Option one - docker compose - works really well for simple local setups and deploying on a single server like Digital Ocean. Basically, you'll have Hasura, Postgres + any other containers all wrapped up in a single `docker-compose.yml` file which can be brought up by using `docker-compose up -d`.

The second option is just a shell script wrapping the raw `docker

[2020-02-26 01:25] toddheslin opened #3956 "Actions: Forward client headers to webhook option not working"
@0x777 adding you as I saw that actions was your PR.

I'm testing out docker image `hasura-graphql-engine/v1.2.0-beta.1`.

This is set:
<img width="698" alt="image" src="https://user-images.githubusercontent.com/1883112/75302546-09781680-58a3-11ea-8e07-5ee1f78a0e27.png">

Custom headers go through but not the hasura headers:
<img width="549" alt="image" src="https://user-images.githubusercontent.c

[2020-02-26 01:41] toddheslin commented on #3956
OK, sorry about this. I now realise in [the docs](https://docs.hasura.io/1.0/graphql/manual/actions/action-handlers.html) it says these variables are part of the payload, not the headers. Confirmed this is true:

<img width="320" alt="image" src="https://user-images.githubusercontent.com/1883112/75303471-af2c8500-58a5-11ea-8bc0-b35425e5a956.png">

I think this could be considered more of a UX issu

[2020-02-26 01:52] samuelcastro commented on #3954
Thanks @toddheslin helped a lot! :)

[2020-02-26 01:52] #3954 closed

[2020-02-26 01:58] marvin-hansen opened #3957 "[Feature Request]: Add latency report to GraphiQL"
This one is really a minor but important detail:

Please add query latency to the GraphiQL query console, as shown in the image below.

The background is very simple when merging multiple remote-schemata together and exposing them through Hasura, it is not always clear were additional latency is coming from. For example,
a microservice may query a database and exposes these queries a GraphQL endpo

[2020-02-26 03:12] tibotiber commented on #1883
Just released the early access to [Smplrspace](https://www.smplrspace.com), it's all Hasura and Lambdas on the backend, really satisfied with the DX and speed boost you guys provide! 🚀

[2020-02-26 04:14] joshuarobs commented on #3649
@samuelcastro one works and the other doesn't

[2020-02-26 07:28] MhdSyrwan commented on #1514
@mnesarco your approach is great and self-integrated. it allows developers even to inspect and trace previous calls and their responses! :+1:

Question: I didn't get this part `INSERT INTO action('sum');` how does it work without writing "VALUES" before `('sum')`?
http://sqlfiddle.com/#!17/11e102/3

BTW, for people who want a simple quick solution, they may just create a view with a trigger to rep

[2020-02-26 08:21] jjangga0214 commented on #3036
@rakeshkky What if providing an option to automatic update, by users' intention and taking their own risk?

[2020-02-26 13:24] mnesarco commented on #1514
Hi @MhdSyrwan thanks for your review. I have fixed the missing "values" part.
I do not understand the view with trigger idea, can you explain it a little?

[2020-02-26 13:53] jjangga0214 opened #3959 "idempotent metadata api"
Hi,

I think some metadata APIs are good to be treated idempotent.

For instance, `add_computed_field` response `400 already-exists` error, if I try to add an existing computed field. I understand this to prevent mistakenly override the existing fields.

However, for a practical point of view, considering it as an idempotent action would be a little more convenient. For one of examples, someone mi

[2020-02-26 14:00] nikolaykhodov commented on #3878
@leoalves I am not sure I can test query variable values solely. Of course, I can use refer to them in operator statements:

[code]
but I believe I can't build a filter which applies an operator just for the variable:

[code]

[2020-02-26 14:04] jjangga0214 opened #3960 "hidden popover"
A part of popover is hidden.

![Screenshot from 2020-02-26 23-02-22](https://user-images.githubusercontent.com/28584151/75351819-179e5500-58ec-11ea-8b9a-9e6e01f6c6d7.png)

Though I think people would guess what it means, anyway leaving an issue :)

[2020-02-26 15:37] MhdSyrwan commented on #1514
Example:

You can create a dummy view like
[code]

Then write a trigger to implement its INSERT action like this:
[code]

Then, by tracking the `my_action` view in Hasura UI, you can call the function by calling mutation `insert_my_action`.

[2020-02-26 16:38] mnesarco commented on #1514
I think that the view approach does not allow to return any result from the function but I can be wrong. I will try your idea and if it works i will add a section at the end of the article.

[2020-02-26 16:45] MhdSyrwan commented on #1514
You're right. it does not allow. Actually I didn't care about this feature since the whole point of this issue was to make a custom change in the database rather than to return something.

Functions that return value without altering DB are already supported check https://github.com/hasura/graphql-engine/pull/1073.

Still, your approach would be the best for somebody trying to make a change and ge

[2020-02-26 16:48] mnesarco commented on #1514
Yes my solution is for calling functions without write restrictions, without input restrictions and without returning restrictions.

[2020-02-26 17:47] galipmedia commented on #2849
This has really thrown me. I have my headers set in a boot file that gets setup once and checks if there is a jwt or not which is fine because that is either there or not. But say I want a 'user' to be able to see all his own details based on his x-hasura-id, but i also want him to be able to see as 'public' all the other users usernames and avatars he cannot, he only sees his own in the list. It

[2020-02-26 17:54] galipmedia commented on #2849
It just occurred to me that I have to use a view in the database and give it different permissions, with just the fields I want them to see and allow public and user to view that table too.

[2020-02-26 18:42] kuisis opened #3961 "Both metadata reset or metadata import fails"
I'm starting Hasura and Postgres using `docker-compose`.
I have exported `metadata.json`, after i've tracked some tables and added some relationships through the Hasura console.
When trying to import this metadata or to reset metadata through the console, i'm always getting this error:

[code]

I've also tried to export `metadata.yaml` file with Hasura CLI and then importing it through CLI tool, b

[2020-02-26 18:55] tomasherout opened #3962 "Hasura Actions: invalid input syntax for type json"
Hello,

I have tried Hasura Actions and I discovered strange issue.

According to examples in Hasura Doc I have userLogin mutation (action) returning:

[code]
Handled by following code:

[code]
Postman shows correct JSON, Content-Type header has value "application/json; charset=utf-8".

Call this mutation results to following error response:

[code]

Many thanks for help,
Tomas

[2020-02-26 19:01] tomasherout commented on #3962
I have also discovered, that it is correct for JSON numbers (Int type in GraphQL schema) and not working for boolean.

Strings a Booleans _works_ only if field contains JSON, e.g. handler:

[code]

causes response without errors:

[code]

... so Hasura expects JSON object when scalar types like String or Boolean are defined in schema for action.

[2020-02-26 20:13] thebetterjort commented on #3064
Hasura needs to bring this federated gateways into its realm. It's so crucial in bigger tech, where we have thousands of microservices. It's not feasable for bigger players to use hasura until then.

[2020-02-26 23:05] samuelcastro opened #3963 "Unable to add Remote Schema on v1.2.0-beta.1"
When attempting to add a new remote schema I'm getting this error:

[code]

Any ideas?

[2020-02-26 23:13] samuelcastro commented on #3963
For now I just downgraded to `v1.1.0` it's working just fine.

[2020-02-27 03:11] athaeryn opened #3964 "Migrations not applied if update available"
I'm using the cli-migrations (`hasura/graphql-engine:v1.1.0.cli-migrations`) docker image, and I've noticed twice now (once when 1.1.0 became available and once now that the 1.2.0 preview is available) that migrations aren't applied if there's an update available. Does the `--skip-update-check` flag need to be passed [here](https://github.com/hasura/graphql-engine/blob/master/scripts/cli-migration

[2020-02-27 08:30] rikinsk commented on #3963
@samuelcastro I just tried to add a remote schema and it worked for me. Could you share some more information around this.

Is this happening for all remote schemas? (you could try adding a public GraphQL API such as https://countries.trevorblades.com to confirm). It would also help if you could share more information about the error you're observing. The payload & response of the failing API call

[2020-02-27 09:11] tirumaraiselvan commented on #3962
Hey @tomasherout Might seem like a strange question but what version of Postgres are you using?

[2020-02-27 09:43] dostalradim commented on #3962
Hi @tirumaraiselvan I am @tomasherout colleague and I can describe you our test environment.

Graphql-engine version is v1.2.0-beta.1
Postgresql version is 9.6.16-1.pgdg90+1

Both is running in docker container which is 19.03.3 but it does not interest you propably.

Will be helpful database dump or something what I can provide to you? Should we try it against new Postgresql? Which Postgresql vers

[2020-02-27 09:47] tirumaraiselvan commented on #3962
@dostalradim Can you try running this with Postgres 10+ . This is a known issue with json types in postgres prior to v10. @rakeshkky can tell more.

[2020-02-27 10:33] arvi3411301 opened #3969 "update cli-migrations to handle v2 config version"

[2020-02-27 11:52] jjangga0214 opened #3972 "Fast generation of GraphQL schema from migration"
GraphQL schema can be used for static analysis.

To get the schema from migration files, Hasura and postgres should be running, and migration tasks have to be completed, and agent(e.g. user or program) should know when this is done(or try polling).

However, I 'guess' it might be theoretically possible to generate only GraphQL schema from migration files without fully running Hasura.

Of course, d

[2020-02-27 12:17] gradinarot opened #3973 "Set cookies in browser from action"
I have created a custom rest api which I use to create jwt for the user.
From there I also want to set the refresh token in a httponly cookie in the users browser. Will the cookie set the in rest api response will be redirected to the user's browser?

[2020-02-27 15:23] mnesarco commented on #1514
I have published a reference source code here: https://github.com/mnesarco/hasura-pg-actions
It could be useful for someone.

[2020-02-27 16:19] kuisis commented on #3961
I've found solution, i'm using `pg-safeupdate` in postrges, so this extension was causing such error.
Closing this issue

[2020-02-27 16:21] #3961 closed

[2020-02-27 16:21] tomasherout commented on #3962
It works correctly with Postgres 12.2

[2020-02-27 16:23] dijam opened #3976 "Adding Column presets also adds an empty key/value to migration file"
When adding Column presets in permissions, you automatically add a new preset row which is nice in the console.
But as saving and check migration files, there is an empty key-value also added.
[code]

Not a huge deal as it does not do anything to the system.

[2020-02-27 18:19] m4dc4p commented on #3872
@shahidhk I'd really like that `current_setting` thing to work with SELECTs as well. In my use case, postgres is accessed through multiple paths, and Hasura is only one of them. For my REST API, I'm passing authentication through to postgres via local session variables. With Hasura, I'd essentially like to forward the JWT received to postgres. Looks like that happens with mutations but not queries

[2020-02-27 18:48] tomasherout opened #3977 "Hasura Actions: non-nullable fields can return null"
Hasura is not checking response from action handler. Field in schema marked as non nullable, e.g.:

[code]

and badly implemented handler which doesn't return mandatory fields cause response:

[code]

Schema should be accepted and thus bad answer from resolver can be ignored. In this way works other GraphQL servers like Apollo or GraphQL JS.

[2020-02-27 19:13] lanskey commented on #2836
Any plans to support this? Would be really helpful to have that!

[2020-02-27 20:41] RodolfoSilva commented on #1514
@mnesarco. I think when actions is arrived we will have this feature built in. Right now we can do this with external functions. But you approach is very useful, but we need some permission checks before expose this for the users. I believe this is the way.

[2020-02-27 22:08] mnesarco commented on #1514
Hi @RodolfoSilva Thanks for your review. I am using this approach in a real Application now and I am very happy, it works completely inside postgres without calling any external endpoint and it is fully transactional. It would be great to have this functionality built in. I am aware of the current hasura 1.2-beta actions, but it requires external endpoints.

[2020-02-28 02:11] samuelcastro commented on #3963
So I destroyed all docker containers and started it from scratch and it worked now, I don't know what happened. I can confirm that remote schema is working on v1.2.0-beta.1.

Thanks!

[2020-02-28 02:11] #3963 closed

[2020-02-28 04:27] tirumaraiselvan commented on #3962
I am going to re-open the issue so we can document this.

[2020-02-28 06:21] shahidhk commented on #2224
A modified version of this has been added to `1.2.0-beta.1` release.

[2020-02-28 06:21] #2224 closed

[2020-02-28 06:28] lexi-lambda commented on #3886
If we were to stream the output back to the caller, what would we do if we received a nonzero exit code? To stream data, we have to have already sent HTTP status/headers, so we can’t back that out at that point.

The `pg_dump` API is really intended for debugging. I think if you need streaming, you should probably run `pg_dump` yourself, or use some other mechanism of dumping the database more dir

[2020-02-28 06:44] yaroot commented on #3886
I'm dumping data from staging for local development and since the api is already there I tried it without too much thought. Running pg_dump directly right now, not really an issue for me.

[2020-02-28 06:50] lexi-lambda commented on #3886
Alright, I think I’m going to close this then, since I think it’s not clear what the right thing to do is. If other people think it’s important (and have a good idea about how it should work) we can revisit it.

[2020-02-28 06:50] #3886 closed

[2020-02-28 06:53] lexi-lambda commented on #457
@0x777 Why is this hard?

[2020-02-28 08:14] rikinsk commented on #3959
This is something I've had trouble handling as well. All track APIs should be idempotent.

[2020-02-28 08:26] tirumaraiselvan commented on #3959
Turns out with v2 metadata workflow (https://github.com/hasura/graphql-engine/pull/3859) this might not be an issue because the full metadata would be applied.

[2020-02-28 08:29] rikinsk commented on #3956
@toddheslin Hasura assumes any header starting `x-hasura-` as a hasura session variable and strips them from the headers and includes them in the payload instead. Any other headers should be passed as headers as expected.

This does need to be clarified better in the documentation.

[2020-02-28 08:34] tirumaraiselvan commented on #3786
Hi @maarekj

Packaging binaries for different OSs is non-trivial and requires high maintenance and something we are not currently keen on doing.

Although, if you would be interested in a special arrangement pls get in touch with me at `tiru@hasura.io` and we can see what we can do.

[2020-02-28 10:25] beepsoft opened #3980 "Inconsistent error reporting in Hasura API"
I'm using hasura/graphql-engine:v1.1.0 and I try to send some Hasura API JSON-s to configure Hasura.

I have two remote schemas I try to add to hasura via environment variables (REMOTE_SCHEMA_JAVA_BACKEND, REMOTE_SCHEMA_UCPPS_CONNECTOR). I practically send the same JSON for the two remote schemas, however I receive different error objects back if these schemas have already been set.

This is the f

[2020-02-28 10:35] georgiosd opened #3981 "Unique index constraint appears in studio but fails when used in query, both by admin and user"
Example query:

[code]
Error:
[code]

[2020-02-29 01:47] m4dc4p commented on #3872
@marionschleifer @shahidhk I was able to use custom functions and track_function v2 to pass session information from Hasura to Postgres outside a mutation (awesome!!!). I do lose the ability to construct arbitrary GraphQL queries over my tracked tables (not awesome).

Is there any way I can help make this a priority feature? Would you accept a PR for it?

[2020-02-29 05:58] rajababu3 commented on #300
Can anyone from team help with this?

[2020-02-29 06:20] Disturbing opened #3982 ":bug: 1.2.0-beta.1 Linux CLI"
Right now --endpoint {url} is not working for the `hasura-dev migrate apply` command in new beta v1.2.0-beta.1 build.

It use to work fine in the preview-actions.

[2020-02-29 06:24] Disturbing commented on #3982
I just confirmed it works fine in the mac version, but not the linux version.

[2020-02-29 09:11] Maxvien commented on #3320
As a JavaScript developer, I really want this feature.

[2020-02-29 12:47] michaelhayman opened #3983 "Reloading metadata for a schema seems broken on 1.1.0"
I have a docker-compose file with a node remote schema, postgres and hasura in it.

I start up all the services, but sometimes the api doesn't start in time for hasura; so I issue a separate command to reload metadata.  This works just fine on 1.0.0, but on 1.1.0 no matter how many times I reload metadata, it doesn't work.  I know for sure the hostname is correct, can ping it from the hasura docke

[2020-02-29 12:47] michaelhayman commented on #3983
(I also had to downgrade to 1.0.0 because this bug breaks my workflow)

[2020-02-29 13:55] ghost-void opened #3984 "Forward x-hasura-admin-secret header to remote schema?"
When using x-hasura-admin-secret, remote schema service can only get 'X-Hasura-Role' which is admin.
It can not distinguish that it's real admin or the 'X-Hasura-Role' header is set to admin by user himself.

[2020-02-29 16:14] kwafok opened #3985 "Bug: When we clone a permission from role A to role B. The migration should not change permission of role A."
1. __Detail of the problem__

After I clone a permission (e.g. Select) from a role to another role in hasura web console, and then trying to run `npx hasura --project ./migrate migrate apply --down 1` to undo changes in the db schema.
I get error like this:
[code]
And content of `\migrations\1582990072304_apply_same_permissions_public_table_schoolRankings\down.yaml` is:
[code]

Then, I have manual

[2020-02-29 20:48] michaelhayman commented on #3983
Disregard, I think this was my fault,s omething changed with introspection.

[2020-02-29 21:22] michaelhayman commented on #3983
This actually seems like a regression.

I now need to start the remote schema before Hasura is up, otherwise no matter how many times I refresh, there's an error.

I have remote-schema, postgres and hasura in one docker-compose file.

If I fully start the remote schema (i.e. `docker-compose up remote-schema -d`) before I start Hasura (i.e. `docker-compose up` afterwards), everything works.

But 'r

[2020-03-01 06:27] erikhSSI opened #3986 "HGE 1.1 -- simple join not working as expected"
THE SETUP
----------
The basic idea is I have a products table (with a studycategory_id field) and a studycategories table.
And the studycategories is keyed on sc_id and language.   Each product has ONE studycategory.

And below I am asking hasura to show me just the products matching:
1-- one user (user_id=1)
2-- one studycategory (sc_id=3)
3-- one language for the category selected ... language=

[2020-03-01 06:51] erikhSSI commented on #3986
Here I think is the solution EXCEPT there is no way to sort the results by category!  In this case there is only one result, but if there were multiple, I am out of luck

[code]

RESULT
----------

[code]

AND WHAT WOULD BE NICE IS A WHERE CLAUSE ON OBJECT RELATIONSHIPS
-----------
Otherwise, I can either have filtering my "join" or "sorting" by a joined field, but not both.
NOT VALID:  :-(
[code]

[2020-03-01 16:00] D1plo1d commented on #3399
I implemented JSON patch diffs for Apollo Server over at [graphql-live-subscriptions](https://github.com/D1plo1d/graphql-live-subscriptions#client-subscription)  perhaps this schema could serve as a starting point for patches in Hasura.

I wouldn't bother looking at how I generated those JSON patches though it sounds like y'all already have a much better system for that with SQL polling :)

[2020-03-01 19:43] kemicofa opened #3987 "FATA[0000] unknown command "actions" for "hasura""
I've installed the latest version of hasura-cli (tried with `npm` and `wget/bash`) as mentioned in the dcoumentation.

It would appear some commands are missing?

OS:
macOS High Sierra 10.13.6

hasura version :

[code]
Either this is a bug or a step is missing (or I missed a step) in the documentation. Anyone know if this is normal?

When I run `hasura console` it works as expected and redirects m

[2020-03-01 20:14] caoer opened #3988 "bug for hasura metadata apply"
version: v1.2.0-beta.1
[code]
with above config, in the metadata directory, actions.yaml

[code]

then run `hasura metadata apply`
and then `hasura metadata export`

the above action metadata becomes:

[code]

looks like we are having a bug in the migration tool.

however, with exporting to JSON in the web console, and then importing it. everything works fine.

[2020-03-02 02:24] dcultrera opened #3989 "Add support for Docker Secrets by reading secrets files"
Currently, the only way to pass secrets (DB credentials, Hasura admin secret) to Hasura is only by environment variables. For users of Docker Compose or Docker Swarm, this means these secrets have to be stored in plaintext, which presents security risks.

It would be great to build support for Docker Secrets (or even Vault), by adding the following environment variables, as recommended by Docker:

[2020-03-02 03:39] litchfield commented on #3540
I've encountered this error too, it completely prevents me from using schema stitching. It seems all Hasura needs to do is strip comments when comparing schemas. Maybe a quick fix?

Hasura schema excerpt --

[code]

My remote schema --

[code]

Hasura error --

```types: [ my_table_select_column ] have mismatch with current graphql schema. HINT: Types must be same.```

[2020-03-02 05:54] #3842 closed

[2020-03-02 07:53] tirumaraiselvan commented on #3989
@dcultrera Do you mean document this way of adding the secret in docker-compose? (I don't think Hasura needs to provide any support for this, this is a pure docker thing?)

[2020-03-02 07:57] dcultrera commented on #3989
Hi @tirumaraiselvan, thanks for your reply!

I don't think is purely a Docker thing: when Hasura starts up, it expects to receive those credentials as environment variables. The proposed change is to enable Hasura to read them from the specified files.

Docker Compose/Swarm is not the only orchestrator that suggests passing credentials this way. For example, Hashicorp's Nomad does the same with Va

[2020-03-02 07:59] tirumaraiselvan commented on #3989
@dcultrera Gotcha! This makes sense.

[2020-03-02 08:35] meotimdihia opened #3990 "Graphql explorer: related tables is messy"
![msedge_2020-03-02_15-23-27](https://user-images.githubusercontent.com/300961/75658078-2beea300-5c9a-11ea-87e2-120018a8a4e5.png)

And it's good if we can click a field on query editor and jump to that field on explorer 😀. But I think it is hard.

[2020-03-02 09:45] dcultrera commented on #3989
@tirumaraiselvan thanks! I'd be happy to try and make a PR for this myself :) could I have some pointers as to where to get started?

[2020-03-02 09:50] shahidhk commented on #3987
@kemicofa Actions are introduced in `v1.2.0-beta.1` and you should download the CLI from https://github.com/hasura/graphql-engine/releases/tag/v1.2.0-beta.1

The stable CLI will not update automatically to pre-release versions.

[2020-03-02 09:50] #3987 closed

[2020-03-02 11:02] tirumaraiselvan commented on #3983
@michaelhayman Can you try the `reload_remote_schema` api: https://hasura.io/docs/1.0/graphql/manual/api-reference/schema-metadata-api/remote-schemas.html#id3

I think this is the expected behaviour since `reload_metadata` does not refresh remote schemas. We have an issue for this here: https://github.com/hasura/graphql-engine/issues/3792

[2020-03-02 11:42] vctqs1 opened #3994 "How to set permission: Find a value in array"
My table have a field ids: [1,2,3]
I want to find all record have id = 1.

How to find `id` - single value in `ids` - array field.
Can not use ANY, ALL because operator for case `find array value of single field`

[2020-03-02 13:55] EmrysMyrddin commented on #3982
It's not working for me on macOs version. `--endpoint` is ingored in favor of config's endpoint.

[2020-03-02 14:41] matteo-rigon commented on #280
Hello, any updates on this feature?
We would really like to have some sort of inheritance as requested in #611.
Specifically, our use case is to have a role behaving like a superset of another:
- _customers_ can create and update submissions
- _employees_ can do everything _customers_ can do plus some additional privileges.

We can easily duplicate permissions, but maintaining the same permissions

[2020-03-02 15:19] EmrysMyrddin opened #3997 "create migration doesn't backup metadata in v1.2.0-beta.1"
Using the latest `v1.2.0-beta.1` cli and server, the command `hasura migrate create "init" --from-server` doesn't store metadata files.

Steps to reproduce:
 - Create a fresh instance with docker for example
 - Add a table
 - Track it
 - run `hasura init --directory hasura --endpoint http://localhost:8080`
 - run `hasura migrate create "init" --from-server`

It creates an SQL migration script as e

[2020-03-02 16:13] fandy opened #3998 "Actions don't work on Cloud Functions"
Trying to have a custom mutation run on my Cloud Function which is served locally on http://localhost:5000/xxxx-52a3e/us-central1/auth-signUp

However, for some reason (I suspect because it's being called via http, not https), I am getting this error:

[code]

For reference here is the sample function:

[code]

[2020-03-02 17:09] wwwdepot commented on #3998
You are calling **auth-signUp** which is undefined. You should be calling http://localhost:5000/xxxx-52a3e/us-central1/signUp

[2020-03-02 17:13] fandy commented on #3998
No it is `auth-signUp` because in my index file I have imported it as so:

[code]

[2020-03-02 17:13] jmoseley opened #3999 "[Documentation] Postgres TLS by default?"
I can't find it documented anywhere, but I need to verify that the Postgres connection from Hasura will use TLS by default. Or does it need to be configured?

Thanks

[2020-03-02 21:14] lnikell opened #4000 "Actions, list of errors example"
I use the latest `hasura/graphql-engine:v1.2.0-beta.1`, based on the [documentation](https://hasura.io/docs/1.0/graphql/manual/actions/action-handlers.html) there is a way of sending a list of errors, but I did not find an example. Based on GraphQL specs the list of errors should look like this
[code]
But I was able to get successful response only by submitting single object:
[code]

[2020-03-02 21:25] lnikell opened #4001 "actions: ability to send `extensions` to error responses"
I use the latest "hasura/graphql-engine:v1.2.0-beta.1", after testing actions I found that it responds in different formats for 5xx and 4xx errors.
For 5xx errors I could get from the response any custom objects with data from the server
[code]
When for 4xx it only accepts `{"message": "error message"}` any custom options will not be displayed at "extensions" - "internal" like for 5xx error.

I wo

[2020-03-02 22:13] wwwdepot commented on #3998
localhost is resolved back to the container, not your host. That's why you see the connection error. So try to run the function on a live server.

[2020-03-02 22:14] fandy commented on #3998
Is there an easier way for development? Or is the _only way_ to deploy the function?

[2020-03-02 22:51] wwwdepot commented on #3998
You could use `firebase serve -o YOUR_LAN_IP`. [See this](https://stackoverflow.com/questions/24319662/from-inside-of-a-docker-container-how-do-i-connect-to-the-localhost-of-the-mach) if you want docker to access outside container.

[2020-03-02 23:43] m4dc4p opened #4002 "`.circleci/postgres:12.0-alpine-postgis3` prevents cloning on Windows"
The file `postgres:12.0-alpine-postgis3` contains a colon, which is illegal on Windows and `git` refuses to clone it:

[code]

Would you rename the file so it doesn't include a colon, and us poor Windows users can clone this?

[2020-03-02 23:53] matomesc commented on #4001
Currently facing the same problem and my workaround is to encode the custom error object as json, for example:

[code]

Not ideal but it works.

[2020-03-03 00:22] sycured commented on #3898
Any ETA ?

[2020-03-03 02:29] fandy commented on #3998
Hmm I think you're getting warmer on that @wwwdepot

I have this `docker-compose.yml`

[code]

as you can see, the network mode is set to host and I'm connecting to postgres on `host.docker.internal`.

Problem is, I'm getting this error when running `docker-compose up`:

[code]

[2020-03-03 05:21] rakeshkky commented on #3036
@jjangga0214
If server has an option for auto-update for constraint names, it should do it as expected. Even the Postgres, as a database, isn't updating the constraint names on table/column renames. By design, the server shouldn't do any DDL (on Postgres) unless it is a metadata change request. Providing an UI feature to change the constraint names would be much simpler and easy solution.

[2020-03-03 05:55] rakeshkky opened #4004 "fallback to `row_to_json` for select queries"
We're using `json_build_object` to select fields from a table if any field name (alias) is more than 63 characters (See [this](https://github.com/hasura/graphql-engine/blob/b84db36ebb51acd5b51e1254c103f3097a7c2358/server/src-lib/Hasura/RQL/DML/Select/Internal.hs#L204)). However, we're rewriting entire SQL SELECT AST to avoid 63 character Postgres identifier limit caveat (See [this](https://github.

[2020-03-03 06:14] Disturbing commented on #3982
Ah yeah it's not working. `console --endpoint` works fine, but not migrate, thanks for that @EmrysMyrddin

[2020-03-03 07:01] rikinsk commented on #3990
The explorer is a generic GraphQL API explorer and doesn't use any context about Hasura's specific API. Currenty all the fields are alphabetically sorted without considering their types (objects vs scalars).

This I believe is an opinion thing. Leaving this as an idea if others want to  weigh in.

[2020-03-03 07:03] #4002 closed

[2020-03-03 07:06] shahidhk commented on #3988
fixed by https://github.com/hasura/graphql-engine/pull/3993

[2020-03-03 07:06] #3988 closed

[2020-03-03 07:07] #3982 closed

[2020-03-03 08:02] rikinsk commented on #4000
@lnikell This seems to be an issue in the docs. We'll update them.

Actually, the response JSON body is an object with a compulsory message field (text) and optional code field (text)

[2020-03-03 08:36] rakeshkky commented on #4004
(comment by @0x777 on Discord)

We use row_to_json by default, however row_to_json has a limitation with identifiers larger than 63 characters, i.e, row_to_json cannot construct an expected json object if the length of any field name is > 63 charaters (in your query the relationship name). To work against this, in our code we automatically switch to json_build_object if any of the field name is lo

[2020-03-03 09:57] webdeb commented on #1225
Since the work on this is on fire right now, wanted to point out,
that it would be nice to have a multi join, where hasura would make only one call to the remote schema if certain conditions are met.

For example, if my `posts` are in hasura and `likes` somewhere else, and I am loading many `posts` with `likes`

[code]

As I understand, this would result in N-Queries to the `likes` remote schema w

[2020-03-03 10:44] arvi3411301 commented on #3545
@shahidhk  Can we close this?

[2020-03-03 10:56] abderrahmen13 commented on #3108
how to allow aggregates for table ?

[2020-03-03 11:32] lnikell commented on #4000
@rikinsk thank you! so as a conclusion:
Line in the documentation https://hasura.io/docs/1.0/graphql/manual/actions/action-handlers.html
![image](https://user-images.githubusercontent.com/2697570/75771752-e4741f80-5d4a-11ea-8a23-13eca98979aa.png)
Should be replaced to:
`To return an error response, you must send back an error object. An error object looks like:`

[2020-03-03 11:40] lnikell commented on #4001
@matomesc yep,  I thought about this option too, not ideal definitely. I mostly don't like the idea of having 2 different error handlers, so the one for processing 4xx errors and another one for 5xx.

[2020-03-03 12:21] sf-vio opened #4009 "Events can't be added to invocation logs due to missing ID"
No events can added to the invocation logs. This means that all events are re-triggered every time the graphql engine is restarted. Error log shows that the events cannot be added to the invocation logs due to a null ID. Example log
{"type":"event-trigger","timestamp":"2020-02-25T09:10:25.557+0000","level":"error","detail":{"internal":{"statement":"\n          INSERT INTO hdb_catalog.event_invocat

[2020-03-03 14:29] nikolaykhodov commented on #3878
@leoalves Any idea how to work around?

[2020-03-03 15:22] jbaileyashe commented on #4002
:100:

[2020-03-03 15:46] wwwdepot commented on #3998
You don't need to change the `docker-compose.yml` file.

If you are on Docker for Mac/Windows 18.03+, change the action URL to `http://host.docker.internal:5000/xxxx-52a3e/us-central1/auth-signUp`.

Or, serve up your cloud function with command `firebase serve --host 0.0.0.0`, so hasura can access it via `http://172.17.0.1:5000/xxxx-52a3e/us-central1/auth-signUp`.
172.17.0.1 is the docker0's IP

[2020-03-03 16:58] andywilliams opened #4010 "Allow _in property of custom checks to accept wildcard passed in header"
When setting up a custom rule in the permissions system using the `_in` property of the rule to check a header for a list of values, allow the header to include a wildcard character to allow all.

[2020-03-03 19:38] m4dc4p opened #4011 "Always provide session variables to queries"
Currently, Hasura will provide session variables to mutations and "custom functions" created with 'track_function V2'.

I would really like Hasura to *always* pass session variables to postgres, whether running queries, mutations or custom functions.

My database is accessed by multiple clients, one of which is Hasura. My other clients use Postgres "configuration settings" (via `set_config`, `curr

[2020-03-03 19:51] andrisole92 opened #4012 "Mutations have disappeared?"
Hey guys,

I have just tried launching Hasura over the new schema, and I can't see any mutations or subscriptions queries available?

Was it removed? Or is it only available in PRO now?

Looking forward to hearing from you soon.

[2020-03-03 22:53] gentleShark opened #4014 "Graphql error: enum type does not exist because case sensitivity was not recognized"
I have an existing postgres DB with an enum (native Postgres enum type) named "enum_Motivations_desired_solution" on a table named "Motivations". When I try to insert into the table, Hasura throws an error indicating it is looking for an enum of the same name but in lower case. If I re-name the enum in Postgres to be lower case, it solves the problem.
The error:
{
  "errors": [
    {
      "extens

[2020-03-04 02:51] fandy commented on #3998
Aah clumsy me... I missed the http:// in host.docker.internal when adding it to Actions, which explains why it wasn't responding.

[2020-03-04 03:41] flybayer commented on #3814
@tirumaraiselvan no it's not, we've upgrade the servers. The API responses are good, it's just the UI.

My db tables with very large JSON fields are used as a homegrown message queuing service. We've need more complex queuing now, so are moving to a third-party queuing service, so these issues will go away for me for now.

[2020-03-04 04:27] flybayer commented on #3654
@lexi-lambda this issue has definitely returned

The following migrations took about 15 minutes on my 2017 Macbook Pro.

[code]

[2020-03-04 06:40] dariocravero commented on #2424
I agree with @lukebyrne, alternatively, we could integrate it within the console. Here's a remake of that project that could be considered too https://github.com/dalibo/pev2

[2020-03-04 07:14] shahidhk commented on #3997
@EmrysMyrddin The new workflow introduced with 1.2.0-beta.1 moves all metadata related actions under `metadata` command. `migrate` command is exclusively used for managing SQL migrations.

To export both SQL schema and Hasura metadata, you should execute the follwing commands:

[code]

We'll be adding proper docs for this soon.

[2020-03-04 07:21] shahidhk commented on #3936
You can do this with any reverse proxy, here is an example with nginx:

[code]

[2020-03-04 08:15] beepsoft commented on #3729
I'm in the same situation: my services configured as remote schemas wait for Hasura to start up, while Hasura also needs these remote schema providing servers to be up and running so that it can build its final graphql schema.

It would be a really great option to let Hasura initialize without requiring some selected remote schemas to be available at startup/migration application time.

For the ti

[2020-03-04 09:46] tirumaraiselvan commented on #3981
@georgiosd Could you give us a sample repro so we can try it on our end?

[2020-03-04 09:48] reinvanimschoot commented on #3846
Is there any update on this? Or any workaround currently?

[2020-03-04 10:01] tirumaraiselvan commented on #1186
@ashishra0 Pls go for it.

[2020-03-04 10:07] tirumaraiselvan commented on #3747
@jasine Sorry for the delay in getting back to this. I am not really sure what might be causing this behaviour. Do you want to email me at `tiru@hasura.io` so we can get on a screenshare and debug?

[2020-03-04 10:11] marionschleifer commented on #3998
@fandy I'm closing this issue as the problem seems solved. Please feel free to re-open if you have any more questions 🙂

[2020-03-04 10:57] marionschleifer commented on #2805
Closing this as a duplicate of https://github.com/hasura/graphql-engine/issues/1514.

[2020-03-04 10:57] #2805 closed

[2020-03-04 11:20] marionschleifer commented on #3939
@samuelcastro exactly. You can track changes through [migrations & metadata](https://hasura.io/docs/1.0/graphql/manual/migrations/index.html).

Regarding your CI/CD question, please refer to [this issue](https://github.com/hasura/graphql-engine/issues/3649). Hopefully it will help you set up CI/CD with GitHub Actions 🙂

[2020-03-04 11:34] tirumaraiselvan commented on #3999
@jmoseley Graphql Engine expects a valid postgres connection string. Your connection string can supply `sslmode` parameter with values as described here: https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNSTRING

[2020-03-04 11:36] tirumaraiselvan commented on #3999
@rikinsk @marionschleifer Can this link https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNSTRING be mentioned in the docs under `--database-url` here: https://hasura.io/docs/1.0/graphql/manual/deployment/graphql-engine-flags/reference.html#server-flags

[2020-03-04 12:37] #3936 closed

[2020-03-04 13:06] georgiosd commented on #3981
@tirumaraiselvan I'm sorry but currently very limited on time...

You need to create a unique index in postgres for { product_id, key, value } and then try the above query

[2020-03-04 13:28] tirumaraiselvan commented on #3989
@dcultrera That'd be awesome.

You will need to add a server flag/environment variable. You can see this file where all server start options are specified: https://github.com/hasura/graphql-engine/blob/master/server/src-lib/Hasura/Server/Init.hs .

Then you need to resolve this new flag/variable in here: https://github.com/hasura/graphql-engine/blob/master/server/src-lib/Hasura/Server/Init.hs#L325

[2020-03-04 13:50] rikinsk commented on #4012
@andrisole92 Mutations have not actually dissappeared from Hasura :). Can you share some more information around this.

[2020-03-04 14:02] coco98 commented on #4012
@andrisole92 Are you using the explorer in GraphiQL and not able to find the mutations?

[2020-03-04 16:05] jmoseley commented on #3999
That answers my question perfectly. Thanks.

[2020-03-04 16:05] #3999 closed

[2020-03-04 17:11] namesphill commented on #2146
Why not simply: if the default value is surrounded by either " or ', remove them and take whatever's between, which could be an empty string.
Anyone who tries to set an empty string default value will certainly first try "" or ''.

[2020-03-04 17:15] macs91 opened #4015 "Unable to set cookies with batching operations"
When enabling apollo client batching operations Hasura won't forward cookie header from operations in remote schema

[2020-03-04 18:27] Tymek commented on #300
@johnbanq
I don't use Heroku and don't know what the deployment process there looks like. From my experience with this provider, I can suggest searching for postgres backup/restore procedure in Heroku docs. Not related to Hasura IMHO

[2020-03-04 18:44] Tymek commented on #3195
@elitan you can use migrations. it's described in 'Advanced use cases' but was easier than I expected. https://hasura.io/docs/1.0/graphql/manual/migrations/auto-apply-migrations.html

[2020-03-04 19:36] arvi3411301 opened #4016 "cli: allow customization of server api paths"
Allow users to customize server api paths in CLI.

[2020-03-04 23:57] dminkovsky opened #4019 "Typo in docs?"
https://hasura.io/docs/1.0/graphql/manual/migrations/reference/metadata-file-format.html#config-v2

Shouldn't that say "For `config v2`"?

[2020-03-05 00:42] dminkovsky opened #4020 "Grammar in console modal"
<img width="608" alt="Screen Shot 2020-03-04 at 7 39 19 PM" src="https://user-images.githubusercontent.com/218725/75936364-e96ec700-5e4f-11ea-9d75-1bb1bce9aeeb.png">

* "i" in "Yes, i confirm" should  be capitalized
* "Are you sure its not" -> "Are you sure it's not"
* "SQL Statement" -> "SQL statement"?

[2020-03-05 03:17] wawhal opened #4021 "actions: preserve response headers from webhook"
In case we're implementing a login type of mutation, then forwarding response cookies is needed. Considering, we're doing this for cookies in remote schemas, we should do this for actions as well.

[2020-03-05 03:18] wawhal opened #4022 "actions: allow returning a list of errors from webhook"

[2020-03-05 06:01] #3964 closed

[2020-03-05 06:29] fred8617 opened #4025 "what's the meaning of JWTIssuedAtFuture"
sometimes this issue crash the hasura server and i need restart server to solve it
![image](https://user-images.githubusercontent.com/35049517/75954010-9d725f80-5eed-11ea-9b4c-a8fd506a9a6d.png)

[2020-03-05 06:54] ecthiender commented on #4025
It means clocks on one of the servers is not correct. Check similar issues #2109 and #1912 .

[2020-03-05 07:32] fred8617 commented on #4025
yh,i found that the server time is half an hour before my windows system,is there any enviroment variable or configuration in docker-compose?

[2020-03-05 08:27] tirumaraiselvan commented on #4015
@macs91 You are right. It was indeed unclear at the time what to do with remote schema response headers because of conflicts etc. You can see the PR description here: https://github.com/hasura/graphql-engine/pull/3490

Let's use this thread to discuss the issue. Pinging @paf31 @0x777 @lexi-lambda

[2020-03-05 08:29] #4012 closed

[2020-03-05 09:23] beepsoft opened #4029 "Allow some JSON API operations to fail/ignore their errors"
I configure my Hasura instance via the JSON API. It would be great if there were options to let these operations fail in some cases.

I have a `"type": "bulk"` JSON with many other operations included in it. If any of these operations fails the whole JSON execution fails.

For example, if I try to add the a remote schema using `add_remote_schema` twice, it will result in a `remote schema with name

[2020-03-05 09:41] b3j0f commented on #2601
Hello.

I met the same problem on the docker image hasura/graphql-engine:v1.1.0.cli-engine while the docker image hasura/graphql-engine:v1.1.0 works perfectly.

Did I miss a flag ?

Here is my config.yaml:

[code]

[2020-03-05 09:58] sounden commented on #91
+1

[2020-03-05 10:28] #4019 closed

[2020-03-05 10:28] dcultrera commented on #3989
@tirumaraiselvan thank you for your help! I will have a go at it soon :)

[2020-03-05 10:32] rikinsk commented on #3981
I think this might be related to https://github.com/hasura/graphql-engine/issues/3666#issuecomment-572419941

[2020-03-05 12:08] rikinsk commented on #3793
As a step 1. The count query and the get page results query can be decoupled. ie. display the page results even though the count query takes a long time.

[2020-03-05 12:24] 0x777 opened #4031 "Making action webhook debugging easy"
Currently there isn't enough information logged to figure out what went wrong with an action's handler. We'll need to capture the raw http request and response (headers + body) in our internal error's detail, so that they are logged and sent to the client when requested with admin credentials. Maybe something like this along with our current error message?
[code]
We'll need to be a little careful

[2020-03-05 12:43] 0x777 opened #4032 "support custom query fields through actions"
Currently actions are only limited to mutations.

[2020-03-05 12:54] 0x777 commented on #3890
@lexi-lambda Is anyone working on this?

[2020-03-05 13:01] franciscolourenco opened #4033 "Custom GraphQL Root Fields: alias support / backwards compatibility"
Currently when customizing GraphQL Root Fields, the old root fields can't be used anymore, breaking backwards compatibility.
It is not possible to use this feature when clients cannot be forced to update, and old client versions need to be supported.

This is a request to support Custom GraphQL Root Fields in alias mode.

[2020-03-05 14:47] wawhal commented on #3973
Tracked [here](https://github.com/hasura/graphql-engine/issues/4021). Closing.

[2020-03-05 14:47] #3973 closed

[2020-03-05 17:32] dminkovsky opened #4035 "After upgrade from 1.1.0 to 1.2.0-beta.1 or 2, mutation fails with "Input has too many columns.""
A mutation that used to work in 1.1.0 no longer works in 1.2.0-beta.1 and beta.2.

The table schema is

[code]

[code]

with variables:

[code]

The error logged by Postgres:

[code]

To replicate:

- I spun up 1.1.0,
- Applied my migrations, verified the mutation worked (migration available upon request)
- Spin up 1.2.0-beta.2
- Mutation fails

Or just:

- Spin up a brand new, empty 1.2.0-beta.1

[2020-03-05 17:39] shahidhk opened #4036 "cli: init --verson 1 creates an inconsistent config.yaml file"
`hasura init my-project --version 1` creates the following `config.yaml`:
[code]
instead of just
[code]

This is causing issues with migrate api etc.
CLI version: `v1.2.0-beta.2`

[2020-03-05 17:59] #3768 closed

[2020-03-05 22:29] antoniojunior77 opened #4037 "Error on launching graphql data tables"
Error: Failed to execute 'insertBefore' on 'Node': The node before which the new node is to be inserted is not a child of this node.
    at Fa (https://graphql-engine-cdn.hasura.io/console/assets/channel/stable/v1.1/vendor.js.gz:1:2759964)
    at is (https://graphql-engine-cdn.hasura.io/console/assets/channel/stable/v1.1/vendor.js.gz:1:2763658)
    at us (https://graphql-engine-cdn.hasura.io/conso

[2020-03-05 23:26] matomesc commented on #4001
@lnikell Just wondering, what did you return from your handler in order to get the array of errors for a 5xx response? All my errors look like this:

[code]

[2020-03-06 00:12] jberryman opened #4039 "`replaceMetadataToOrdJSON` seems to be quite slow and consume tons of memory"
The unit test exhibits the issue with O0 or `-O2`

[2020-03-06 00:57] pnappa commented on #4035
What's `next_delivery_string`? I only see `next_delivery` in the schema...

[2020-03-06 01:10] dminkovsky commented on #4035
Wow thanks for looking and for the great catch @pnappa: that is, indeed, related to this. `next_delivery_string` is a computed field. It's defined as:

[code]

When I removed it from the `returning` fields in 1.2.0-beta.2, it works again. What could it be?

[2020-03-06 01:28] pnappa commented on #4035
Ah yes, I've hit that bug before. It [was fixed in the 1.1.0-beta](https://github.com/hasura/graphql-engine/issues/3840), so I suppose it's cropped up again!

[2020-03-06 02:45] dminkovsky commented on #4035
Ah okay great to know. Figured it must have been a bug. Glad to see a known one. Thank you again.

[2020-03-06 03:09] hgiasac commented on #3890
@0x777 I fixed it with this PR https://github.com/hasura/graphql-engine/pull/3892

[2020-03-06 07:47] rikinsk opened #4041 "display latest pre-release version in docs"
Update https://hasura.io/docs/1.0/graphql/manual/deployment/updating.html to also display the latest pre-release version.

[2020-03-06 08:33] tirumaraiselvan commented on #4031
FYI, redtaping environment variable values is part of Event Triggers logging infra.

[2020-03-06 10:41] gunar-gessner-qatalog opened #4043 "On Event Retries, is Order of Delivery guaranteed?"
If there are two events, which happened in this chronological order: A first, then B. If A fails, will B wait while we retry to deliver A?

[2020-03-06 10:52] plmercereau commented on #1291
Hello guys,
Great work done with actions!
I had a look at the beta, nice "derived actions" feature.
You mention data validation could be a use case for using it. Although it seems pretty tempting, from what I understood from actions, I disagree.

A data validation would work as follow:
authenticated user -> action webhook -> HGE insert/update

The problem is that the HGE insert/update would also b

[2020-03-06 11:17] antoniojunior77 commented on #4037
![image](https://user-images.githubusercontent.com/19721139/76079147-d3155800-5f82-11ea-8ff6-3548cc4896be.png)

[2020-03-06 11:56] codepunkt commented on #2599
Same here. We're having a BEFORE INSERT ON trigger on a table that makes certain validations and raises an exception when the insert operation is not allowed. This ends up as

[code]

in the response. The raised exception message is no where to be seen, which we'd like.

[2020-03-06 13:00] fandy commented on #3998
Sorry @wwwdepot , but I'm going to re-open this again. using Zeit Now functions, I have this endpoint: `http://localhost:3000/account/create`, which returns a valid JSON response.

But when I use the Hasura action which calls `http://docker.host.internal:3000/account/create`, I get

[code]

[2020-03-06 17:03] dminkovsky opened #4047 "Typos in CLI docs"
In these lines:

https://github.com/hasura/graphql-engine/blob/bb63d7e60eb89be9929dbd8783b89393b953b34c/cli/commands/migrate_squash.go#L42

https://github.com/hasura/graphql-engine/blob/048c1de41461b307636fd271f797021b2484167f/docs/graphql/manual/hasura-cli/hasura_migrate_squash.rst#L41

"form" should be "from"

[2020-03-06 17:19] wwwdepot commented on #3998
@fandy I think you are using the same port for docker-compose's app and local dev for zeit function.

1. Use other port for zeit function or
2. map the docker-compose app's port number to something else, e.g: `15000:3000`

[2020-03-06 18:07] michaelhayman commented on #3983
Thanks, makes sense. Would definitely be cool to have an option to reload the schema there too; I guess it was just coincidence that it worked in prior versions.

Closing for now since it's tracked elsewhere.

[2020-03-06 18:07] #3983 closed

[2020-03-06 18:27] fandy commented on #3998
@wwwdepot I've tried mapping the port to `4000`, but get the same error. I think this is because Zeit functions is a part of Next.js all run on the same port anyways.

[code]

[2020-03-06 19:34] wwwdepot commented on #3998
Sorry didn't ask for your dev environment at first. I was assuming your next.js app running on your local machine,  hasura & postgres running inside docker.

`docker.host.internal` gives you access to docker host's local network.

If your next.js is the `app` service in the docker-compose file, hasura access it using `http://app:3000/blah_blah_blah`. Docker can resolve it automatically within its

[2020-03-06 20:19] dminkovsky commented on #4047
Ok I did it :)

[2020-03-06 20:29] marionschleifer opened #4050 "docs: improve documentation on metadata / migrations ☂️"
We need to document the new metadata / migration workflow.

Along with it, the following issues can be solved:
- Explain migrations vs. metadata
- https://github.com/hasura/graphql-engine/issues/3671
- https://github.com/hasura/graphql-engine/issues/3454
- https://github.com/hasura/graphql-engine/issues/2875
- https://github.com/hasura/graphql-engine/issues/2103
- https://github.com/hasura/graphql

[2020-03-06 20:39] dminkovsky commented on #4050
If [**this**](https://stackoverflow.com/questions/60569095/why-do-automated-hasura-migrations-output-a-metadata-yaml-file) isn't covered in any of the issues above, please explain that too.

[2020-03-06 20:42] marionschleifer opened #4051 "docs: improve documentation on authentication workflows/patterns ☂️"
We need to improve the documentation on auth.

Along with it, the following issues can be solved:

- https://github.com/hasura/graphql-engine/issues/3864
- https://github.com/hasura/graphql-engine/issues/3200
- https://github.com/hasura/graphql-engine/issues/2926
- https://github.com/hasura/graphql-engine/issues/2553
- https://github.com/hasura/graphql-engine/issues/2718
- https://github.com/hasur

[2020-03-06 20:59] marionschleifer opened #4052 "Troubleshooting section revamp"
Remove the current troubleshooting guide because it's not useful and far from complete.

Replace it with a generic debugging guide:
- Check appropriate logs (links to server logs, console logs, remote service logs etc.)
- Check Github issues
- Check Hasura blog
- Check Postgres docs
- Jump on Discord for help

Create a useful troubleshooting guide including errors: https://github.com/hasura/graphq

[2020-03-06 21:03] marionschleifer opened #4053 "docs: change wording "query" to "request""
In the documentation, wherever we mean an API call, change the wording from "query" to "request".

[2020-03-06 21:12] marionschleifer opened #4054 "docs: update all `:doc:` refs to `:ref:`"
`:doc:` links are relative paths. We need to change them to `:ref:` links, that reference pages directly.

This will avoid broken links when restructuring the documentation.

Add guide to contributing guide to make sure this stays consistent.

[2020-03-06 21:24] marionschleifer opened #4055 "docs: improve documentation on admin secret ☂️"
We need to improve documentation on admin secret.

The following points need to be covered:
- https://github.com/hasura/graphql-engine/issues/2116
- https://github.com/hasura/graphql-engine/issues/1725
- Explain what admin secret is and does: https://docs.hasura.io/1.0/graphql/manual/deployment/docker/securing-graphql-endpoint.html

[2020-03-06 21:31] marionschleifer opened #4056 "docs: improve mapping between Hasura and underlying Postgres concepts"
We need to improve the mapping between Hasura and the underlying Postgres concepts / features.

This includes the following:
- Add relevant Postgres docs links
- Add mapping of all Hasura operators to Postgres operators (e.g. https://docs.hasura.io/1.0/graphql/manual/mutations/update.html#update-jsonb-column)

[2020-03-06 21:31] marionschleifer commented on #3815
Closing this, since it's part of this issue: https://github.com/hasura/graphql-engine/issues/4056.

[2020-03-06 21:31] #3815 closed

[2020-03-06 22:40] kuryaki commented on #3633
Execute this in the hasura SQL console if you run into this `DROP FUNCTION public.set_current_timestamp_updated_at;`

[2020-03-06 23:06] fandy commented on #3998
http://service-name:3000/account/create`

[2020-03-06 23:07] #3998 closed

[2020-03-06 23:21] bobberkarl commented on #2461
Anything new regarding that?

[2020-03-07 02:38] wawhal commented on #1766
@shahidhk @arvi3411301 @scriptonist can y'all get #3082 done ASAP so that we can start fixing this issue? It's been open for a while and a lot of people seem to want it.

[2020-03-07 03:22] wawhal commented on #3793
Let's implement what @rikinsk suggests in the above comment. Should be good enough for now.
The counter itself can be a separate component that maintains its state and can show a spinner while the query is in progress.

[2020-03-07 08:34] tirumaraiselvan commented on #3548
A potential fix could be to unlock events during managed scale down i.e. graceful shutdown.

@0x777 @jberryman Thoughts?

[2020-03-07 19:45] #3878 closed

[2020-03-08 14:02] indatawetrust commented on #2576
I get this error in the latest version. Is there any information on when to fix it?

[2020-03-08 18:19] n0ne commented on #3015
@stereobooster thanx for your solution.
Where did you find that? Is it in the documentation?

[2020-03-08 19:38] richardgirges opened #4061 "ID Scalar does not work when defining Custom Types in Actions"
### Problem
When attempting to use the `ID` or `uuid` Scalars in the "Actions -> Custom types" section, I'm getting the following error:

[code]

I assume perhaps Hasrua's `uuid` Scalar is not going to be accessible (although that would be nice), but the docs do mention that `ID` should be useable [here](https://hasura.io/docs/1.0/graphql/manual/actions/types/index.html#inbuilt-scalars).  For now,

[2020-03-08 19:45] richardgirges opened #4062 "console: allow editing action relationship names"
### Problem
Whenever I rename the relationship within the `Actions -> [actionName] -> Relationships` tab, a new relationship is inserted instead of updating the old relationship.

### Steps to Reproduce
1. Go to "Actions" in the console
2. Click on an existing action from the left-hand menu
3. Click on the "Relationships" tab
4. Click "Edit" on an existing relationship
5. Change the name of the re

[2020-03-09 00:09] sycured commented on #724
Maybe I found a workaround for static binary about libpq: https://github.com/tweag/clodl

[2020-03-09 06:39] pnappa commented on #3243
Also occurs when changing the name of a column with the trigger attached. A lazy fix is to change back to the old version, then change the GraphQL field name to what you actually want it to be renamed to.

[2020-03-09 06:59] marionschleifer commented on #3994
@vctqs1 we don't have array support for permissions yet.

A workaround is to convert the Postgres array to a JSONB field and then use the `_contains` operator to find an ID in the array.

This is how you can convert the array:

[code]

Let me know if this helps 🙂

[2020-03-09 07:01] tirumaraiselvan commented on #2544
![image](https://user-images.githubusercontent.com/8663570/76189948-d9653780-6201-11ea-9958-11b8c62ea18c.png)

Currently, an `integer[]` column appears as `_int4` in the console. This should also be fixed.

[2020-03-09 07:09] rakeshkky opened #4063 "allow '__typename' in action output type"
Via `macs#0170` on Discord

The return type of an action does not contain `__typename `(needed by apollo client).. So when I try to do an action mutation I get this error:

[code]

[2020-03-09 07:43] tirumaraiselvan commented on #4029
@beepsoft I am closing this as a duplicate of https://github.com/hasura/graphql-engine/issues/3959

If you think otherwise feel free to comment and reopen this.

[2020-03-09 07:43] #4029 closed

[2020-03-09 07:44] beepsoft commented on #4029
@tirumaraiselvan Great, thanks, I follow that issue then!

[2020-03-09 08:02] tirumaraiselvan commented on #3633
Could this be related to: https://github.com/hasura/graphql-engine/issues/3243

@mklueh It would be very helpful if you could give a small repro of your setup that throws this error.

[2020-03-09 08:04] tirumaraiselvan commented on #2461
@bobberkarl This is WIP currently. It would be great if you could explain some more details of what kind of permissions you expect for Remote Schemas. Does the description of this issue satisfy your use-cases?

[2020-03-09 08:08] tirumaraiselvan commented on #4061
@rakeshkky I believe `ID` scalars are supported to be used in custom types. Can you see if this is a bug?

[2020-03-09 08:40] tirumaraiselvan commented on #4043
Hi @gunar-gessner-qatalog

Event Triggers do not guarantee in-order deliveries. This is because delivering events over HTTP and maintaining order does not scale e.g. if you wait for each event to be acknowledged then it puts high pressure on the backlog of events, what do you do about retries, etc?

PS: Event Triggers follows the [Event Streaming](https://pivotal.io/event-streaming) architecture p

[2020-03-09 09:20] #4020 closed

[2020-03-09 09:49] #4047 closed

[2020-03-09 09:50] shahidhk commented on #2601
@b3j0f Can you check if your server is running?

[2020-03-09 09:51] b3j0f commented on #2601
Hello. Things went back to normal. Sorry for inconvenience...

[2020-03-09 10:37] marionschleifer commented on #3545
This feature has been implemented in `1.2beta`. Closing this issue.

[2020-03-09 10:37] #3545 closed

[2020-03-09 14:54] rikinsk commented on #3015
Reopened to track documenting this use case

[2020-03-09 14:59] rikinsk commented on #4037
@antoniojunior77 Can you share some more information about the error. On what page is the error observed. Also was it ever working before or did it start breaking after some action?

[2020-03-09 15:52] jjangga0214 commented on #3036
@rakeshkky Thanks for the response.
Yes, I understand.
However, it might be helpful in a practical point of view.
I recently renamed some tables. As there were more constraints than tables, manually renaming them was cumbersome. Even if Hasura provides UI, it'd be still manual.
So I felt, it can be convenient if there's a single button(or API) to rename by "convention"(by using table name).
Of cou

[2020-03-09 16:57] #4041 closed

[2020-03-09 17:02] jberryman commented on #3548
Yep I think we want to have a graceful shutdown that unlocks events.

Then additionally we could either

- document that users might wish to clean up old messages stuck in pending manually (in case of unclean shutdown, network failures etc)
- automatically "redeliver" after a particular time period elapses

I'm thinking for prior art about how rabbitMQ works in the case of un-ACKed messages

[2020-03-09 20:31] fandy opened #4069 "Hasura won't connect to Postgres locally on host.docker.internal"
I'm following the instructions on the Hasura Docker Hub page, but it's erroring out when Postgres connects to docker.host.internal.

**docker-compose.yaml**
[code]

**.env**
[code]

`docker-compose up` gives me this error:

[code]

I don't understand, shouldn't Hasura be able to connect to Postgres? From the logs, I can see that Postgres is ready to accept connections:

[code]

[2020-03-09 21:30] jberryman commented on #4039
Hmph I was sure I tested this and validated that the Arbitrary generation code wasn't the issue, but it seems to be...

[2020-03-09 22:20] fandy commented on #4069
Nevermind, got my answer on Discord. Turns out, `docker.host.internal` is not recommended since it only works on Mac. The fix is just to use the container name, so `postgres`. Ideally, this should be changed in the official docs for the image on DockerHub to avoid confusion.

[2020-03-09 22:20] #4069 closed

[2020-03-10 02:48] marbemac commented on #4035
➕ we're actually seeing this issue with `hasura/graphql-engine:v1.1.0`

[2020-03-10 04:31] wawhal commented on #4062
@richardgirges it is a bug. We'll fix it soon. Thanks for reporting :)

[2020-03-10 04:42] rakeshkky commented on #4061
@tirumaraiselvan Ideally we should allow all default scalars (defined in GraphQL spec) to be used in custom types without explicitly declaring them.

[2020-03-10 04:52] wawhal commented on #4061
@rakeshkky I'd like to add, currently Hasura allows using `ID` type of action arguments. But you can't use it in the fields of object types.

[2020-03-10 04:55] rakeshkky commented on #4022
We're limited by our internal [error type](https://github.com/hasura/graphql-engine/blob/b84db36ebb51acd5b51e1254c103f3097a7c2358/server/src-lib/Hasura/RQL/Types/Error.hs#L141) which captures only one logical "error" at a time. So we enforced the `errors` to be a single object from webhook response for actions.

The issue can be fixed by re-modelling the error type for GraphQL requests. I'll soon

[2020-03-10 05:03] hedgecheap commented on #1416
Hi guys! Another year down the track. Any news on this feature?

[2020-03-10 05:10] aaronhayes commented on #3659
Seems like this is the same issue I'm having, so just wanted to record my use-case without creating a new issue...

When using column presets from session variables, each header must be set. Even if the underlying field is nullable.

![image](https://user-images.githubusercontent.com/4180720/76280789-bd839380-62de-11ea-97cd-ef3c62f1e240.png)

![image](https://user-images.githubusercontent.com/4180

[2020-03-10 05:30] nizar-m opened #4070 "Server upgrade tests fail with a new Pytest class"

[2020-03-10 05:42] wawhal opened #4073 "docs: provide examples for URL templating of action handler"
There are a lot of queries on discord about this. The current docs reference is just [this](https://hasura.io/docs/1.0/graphql/manual/actions/create.html#set-the-handler). I think this deserves it's own section with an example or two.

cc: @rikinsk @marionschleifer

[2020-03-10 07:20] #4000 closed

[2020-03-10 07:20] rikinsk commented on #4000
Docs have been updated

[2020-03-10 07:22] rikinsk commented on #4073
@wawhal Can you share links of the questions on discord or what all examples need to be added

[2020-03-10 07:49] lnikell commented on #4000
@rikinsk Thanks a lot!

[2020-03-10 12:42] beerose opened #4075 "Input for default column value is unnecessarily disabled for PK columns"
When modifying the table's columns `default` input field is disabled for columns that are the primary keys. At the same time, it's possible to work around this (by enabling the input) and provide a default value.

### How to reproduce?

I created a new table with a UUID field, which is also a primary key.
<img width="904" alt="Screenshot 2020-03-10 at 13 25 18" src="https://user-images.githubuserc

[2020-03-10 13:25] barbalex opened #4076 "`JWSError JWSInvalidSignature`-Error on firebase"
I have a project using docker-compose:
[code]

This is the server.js file in the auth server:
[code]

The auth server returns a token generated by above code.
The token is declared valid on jwt.io _but only if declared as HS256, not when declared as RS256_. Which baffles me.

This returned token is used client side to sing in:
[code]
This works fine.

What does _not_ work is the calls to hasura.

[2020-03-10 13:30] beepsoft commented on #3518
This would be definitely a great feature! I'm  just having a situation where two of my remote schemas both a provide a query operation "list" and these, of course, clash in Hasura.

And even if names do not clash, remote schema operation names are somehow "polluting" the Hasura schema and it would be better to have a definite name to appear for them in the schema to more easily identify which oper

[2020-03-10 14:55] marionschleifer commented on #4070
This was implemented.

[2020-03-10 14:55] #4070 closed

[2020-03-10 18:48] mrmurphy opened #4077 "Hasura consuming massive amounts of memory"
We recently ended up shutting down our production Hasura deployment, because we were only using it for data ingestion, and we ended up in a situation where Hasura was constantly using all available memory, and then crashing.

I don't have any logs to offer, unfortunately. But I was asked on Discord to create an issue, so here's the information I can provide about our setup:

- Deployed on Heroku
-

[2020-03-10 20:36] tafelito commented on #2047
@marionschleifer it seems to me that the original request was not only about changing the default name for the query_by_pk queries, but also be able to return a single object as the result of a mutation. Is that something that you are planning on add later on?

I'm referring to this

[code]

[2020-03-10 20:43] tafelito commented on #519
what about allowing returning single items for custom functions

if I want to create a function that returns the current logged user, right now it will return an array instead of a single item

[2020-03-10 21:01] barbalex commented on #4076
I learned here (https://firebase.google.com/docs/auth/admin/custom-claims#client_side_implementation_javascript_2) that I do not have to return a jwt token from the server when using firebase.

It is enough to add the claims for hasura. Then return a 200. When that arrives the app refetches the token and voilà, the hasura claims have arrived in the app.

So above issue is not relevant any more.

[2020-03-10 21:01] #4076 closed

[2020-03-11 02:22] GavinRay97 opened #4078 "[SPEC] Building a great Codegen platform for Hasura"
# Overview
I wanted to open an issue to get feedback and start a community discussion around how to build an optimal base platform for doing codegen in Hasura.

While setting out to build some codegen plugins of my own, I noticed that the official examples use native JS array methods for working with the GraphQL AST, which leads to things like this:

[code]

Unfortunately, for as much ***general**

[2020-03-11 02:55] andycmaj commented on #3885
just to close this out, i believe the problem we ran into was related to this: https://tech.xing.com/a-reason-for-unexplained-connection-timeouts-on-kubernetes-docker-abd041cf7e02

we're running processes that make gql requests to the same endpoint in multiple docker containers across a cluster.

i think it's probably safe to say that the root cause here is external to yuo guys.

[2020-03-11 02:55] #3885 closed

[2020-03-11 04:42] coco98 commented on #2047
@tafelito Yep, single element mutations (inserts/updates/deletes) are already available in 1.2-beta* and will be available in 1.2! They implement that RFC :)

[2020-03-11 06:27] #3839 closed

[2020-03-11 07:03] marionschleifer commented on #3997
@EmrysMyrddin glad to here it's working now. I'm closing this issue 🙂

[2020-03-11 07:03] #3997 closed

[2020-03-11 08:44] rikinsk commented on #3959
It's still relevant for projects using the metadata API as a way to configure Hasura. e.g. the console

[2020-03-11 09:11] marionschleifer commented on #2929
Closing this since a downgrade command has been implemented via https://github.com/hasura/graphql-engine/pull/3760.

[2020-03-11 09:11] #2929 closed

[2020-03-11 09:21] beepsoft commented on #3959
I have a small library (https://github.com/beepsoft/hasuraconf), which generates Hasura metadata API calls based on JPA and other annotations in Java, so this idempotent behaviour here would be really helpful.

[2020-03-11 09:49] rgtk commented on #3825
Thanks for pointing me to solution to resolve this issue. Easy enough.

I feel, however, using local assets should not be a default behavior. Although Console is not in critical path of serving GraphQL request, JavaScript running in Console can serve those request with necessary authentication. Ergo, malicious code in Console could manipulate and spy when user simply uses the Console with CDN asse

[2020-03-11 10:11] tirumaraiselvan commented on #3872
Another use-case

[2020-03-11 10:14] tirumaraiselvan commented on #4011
@0x777 Thoughts?

Can we provide a directive for reads which will set session variables in current_setting??

[2020-03-11 11:26] tirumaraiselvan commented on #4077
@mrmurphy Thanks for creating the issue!

Seems like you were using Event Triggers on the tables. It is possible that the memory buildup was happening because of our in-memory queue (especially if there were lots of unprocessed events) for holding events which has now been removed with this PR: https://github.com/hasura/graphql-engine/pull/4013

The next stable release i.e. `v1.2.0` should have th

[2020-03-11 11:39] #4063 closed

[2020-03-11 12:03] tirumaraiselvan commented on #3606
@tom-pryor As a workaround, is it possible for you to client-side template all your queries with the schema name?

[2020-03-11 12:21] shahidhk commented on #1700
closed with https://github.com/hasura/graphql-engine/commit/71240f310dff17e876bd1bdcf28cddf7871461c1

[2020-03-11 12:21] #1700 closed

[2020-03-11 12:34] mrmurphy commented on #4077
Oh, sorry about that. No, we weren’t using Hasura Events,we were using Hasura to record client-side telemetry events. So the event queue I mentioned was a client-side queue of events to send to the server.
On Mar 11, 2020, 5:27 AM -0600, Tirumarai Selvan <notifications@github.com>, wrote:

[2020-03-11 12:57] rikinsk opened #4085 "add docs on data validations"
Add a page title `Data validation` to `Schema` section in docs.

Talk about using PG check constraints for simple checks and using actions for more complicated use cases