[2022-08-19 09:28] rikinsk commented on #8778
Hey folks. The issue here might be due to using an object for the multiple order_by statements as opposed to an array. As mentioned in the docs [here](https://hasura.io/docs/latest/queries/postgres/sorting/#sorting-by-multiple-fields) the sorting of keys in an object is not guaranteed and can cause unpredictable results.
Also as mentioned [here](https://hasura.io/docs/latest/queries/postgres/disti

[2022-08-19 11:03] andoks opened #8819 "v2.10.1: error applying metadata - trigger already exists"
### Version Information

Server Version: v2.10.1 (.cli-migrations-v2 from docker hub)
CLI Version (for CLI related issue): N/A

### Environment

OSS (hasura/graphql-engine:v2.10.1.cli-migrations-v2 docker image)

### What is the current behaviour?

Spinning up a new container with pre-existing migration scripts causes fatal error and restart with the following error printed to the logs
[code]

###

[2022-08-19 11:03] andoks commented on #8819
possibly related to #8806

[2022-08-19 11:38] soupi commented on #8789
Are we able to connect cockroach to graphql-engine at the moment?

[2022-08-19 11:47] HTHoussam commented on #8778
thank you for the information you shared, i didn't know that the disctinct_on column has to be the first column of order_by, however after testing your code the behaviour it resulted is: ordering by `address` then ordering by `createdAt` while having `distinct_on:address`
meaning it shows for examples: three addresses who starts by letter `A` (ordered by date),then 2 addresses start by `B`(ordered

[2022-08-19 12:09] kpala opened #8820 "Collaborator identifier in session"
`hasura.user` contains session data as described e.g. in the "Auditing tables" guide: https://hasura.io/docs/latest/guides/auditing-tables/

Furthermore, in Hasura Cloud, it's possible to add console access for collaborators: https://hasura.io/docs/latest/projects/collaborators/

However, it seems to me the session information does not include information about collaborators. Is this possible alre

[2022-08-19 13:34] plcplc opened #8821 "Server: Functions/views missing in CockroachDB"
The GraphQL Engine relies on various Postgres SQL functions which have not been implemented in CockroachDB yet.

The lists below are incomplete and should be updated if more functions are found to be missing.

For each of these we either have to work around or engage with CockroachDB to provide implementations.

Console support:

- [x] `pg_is_other_temp_schema`
- [x] `pg_has_role`
- [x] `pg_get_fu

[2022-08-19 14:21] Dartoxian commented on #8383
Also seeing this issue on v2.10.1. Specifically when modifying/adding/deleting any column on any table I am getting:
`{ "code": "not-supported", "error": "the following tracked function(s) cannot be overloaded: product_full_changelog", "path": "$[0]" }`

My computed field `full_changelog` on the `product` object is defined as:

[code]

[2022-08-19 17:13] abdullah2993 opened #8824 "Ability to use current_setting('hasura.user') in views"
right now for mutation transactions have `hasura.user` available to them but It would be nice to have it available for views as well so we can do something like
[code]

[2022-08-19 18:12] fcpauldiaz commented on #8383
@Dartoxian I was having the same issue, I think it is when using a row as the function parameter, even when not overloading the function. I tried to stop tracking the function and it worked, thanks.

[2022-08-19 19:08] evanwang0 commented on #8778
Ah, I read through your @HTHoussam posts quickly and did not see that you had put `order_by` into an array.  Yes, @rikinsk, this fixes my issue and produces the intended behavior. I will close this issue as there is no bug. However, it might be helpful to disallow multi-key objects as an argument to `order_by` as I cannot think of a case where this behavior would be useful. Cheers!

@HTHoussam For

[2022-08-19 19:08] #8778 closed

[2022-08-19 22:02] maxcan commented on #8455
Confirmed this behavior persists in 2.9.0.cli-migrations-v3.

@codingkarthik I'm not sure how you can close an issue in favor of itself.  This should still be open as the workaround is not really suitable for a production environment.

[2022-08-19 23:21] dsandip commented on #8455
@maxcan @AThilenius Re-opening this till we get more information. cc: @BenoitRanque @birlam

[2022-08-20 10:30] manasag commented on #8806
Hi @maaft , thank you for bringing this issue to our attention. We are currently investigating this and would update soon with our findings.

[2022-08-20 10:30] manasag commented on #8819
Hi @andoks , thank you for bringing this issue to our attention. We are currently investigating this and would update soon with our findings.

[2022-08-20 10:58] manasag commented on #8787
Hi @sfarley85  , thank you for bringing this issue to our attention. We are currently investigating this and would update soon with our findings.

[2022-08-20 13:29] wawhal opened #8825 "allow defining bool expression checks in action permissions"
### Is your proposal related to a problem?

Motivation: We often find ourselves making queries to the database in the beginning of almost every action for validation to verify things like:
- Checking whether user belongs to a desirable bucket/cohort.
- Checking whether user has the right to modify an entity (ex: is the current user author of the article they're trying to mutate through an action).

[2022-08-20 14:49] cor commented on #7820
same here

[2022-08-20 14:49] cor commented on #7820
I'm having the same issue on NixOS for aarch64 (running on a M1 mac within a VM)

[2022-08-21 03:09] adhendo commented on #348
Bump,

Another workaround is creating a new table for your array with a foreign key to relate it where you want.

[2022-08-21 05:47] GMkonan commented on #7012
Is there any news on this one? My goal was to have pg_cron as a migration but this is not viable either. What is the best way to do it for now? The only way I can think is just using pg_cron directly in postgres but this would make db and hasura to not be "connected" so I would need to document what is different between hasura and postgres.

[2022-08-21 11:08] geeksquad87 commented on #8803
client --> hasura --> auth_hook (auth) --> set custom header in Auth --> Hasura (process GraphQL request) --> return results + custom header to client?

Yes that is correct.

[2022-08-22 06:52] sasog23 commented on #7526
same error here.
the problem is with the _ceq on the relation "group"
ver. 2.10.1

{
	"_exists": {
		"_table": {
			"name": "group_coaches",
			"schema": "sportclub"
		},
		"_where": {
			"_and": [
				{
					"coach_id": {
						"_eq": "X-Hasura-User-Id"
					}
				},
				{
					"group": {
						"organization_id": {
							"_ceq": [
								"organization_id"
							]
						}
					}
				}
			]
		}

[2022-08-22 08:00] noor-moh commented on #6797
What about now? Has this been fixed?

[2022-08-22 08:20] rikinsk commented on #7817
related to #6771

[2022-08-22 08:31] rikinsk opened #8826 "Console: Explorer height is really small in lower res screens"
### Version Information

Server Version: 2.10

### Environment

All

### What is the current behaviour?

Graphiql onnly fills half the screen in lower res screens. e.g. 1366x768

### What is the expected behaviour?

GraphiQL should have a min-height comfortable to use

### How to reproduce the issue?

1. Open explorer in lower resolution screen / reduce your browser window size and observe graphiq

[2022-08-22 08:33] sasog23 commented on #7526
if I remove where from "members_aggregate"...the query works

[2022-08-22 08:48] danieljharvey commented on #8735
A fix has now been merged that will use a `VARCHAR` or `CHAR` literal instead of `NVARCHAR` / `NCHAR` where the input is all ASCII characters. If the input contains non-ASCII characters then we use the `N''` quotes as before and let MSSQL do the casting as before.

[2022-08-22 08:48] #8735 closed

[2022-08-22 08:57] DomVinyard commented on #5691
Any progress on this?

[2022-08-22 08:59] arjunyel commented on #5691
Hi friend, you should be able to set the environment variable in the Hasura docker container, what's not working for you?

[2022-08-22 09:04] danieljharvey commented on #8800
The `cockroach_table_metadata.sql` file from the POC has been merged along with the typeclass boilerplate.

[2022-08-22 09:12] danieljharvey commented on #8799
This _may_ work already due to the boilerplate changes, needs testing though.

[2022-08-22 10:51] #4757 closed

[2022-08-22 13:28] scriptonist commented on #8787
@sfarley85 Thanks for reporting this.

This file will be populated if you configured [allow list](https://hasura.io/docs/latest/security/allow-list/#adding-or-removing-an-operation-in-allow-list).

I've tried reproducing this scenario on my end, but I didn't succeed.  So, to make some progress on this I would really require your assistance. I request you to share your metadata in JSON format.

To

[2022-08-22 13:54] sassela commented on #8790
closing as done

[2022-08-22 13:54] #8790 closed

[2022-08-22 14:32] pkreipke commented on #8826
Have this problem all the time. And it persists. Is there a workaround? Delete cookies? Localstorage?

[2022-08-22 14:38] dsandip opened #8827 "Adding more information to traces"
Tracing information doesn't provide information related to acquiring DB locks or any other operation that Hasura performs while executing an operation, making it hard to diagnose issues like DB connections exhausted, etc. E.g. this screenshot:

<img width="1008" alt="Screenshot 2022-08-22 at 7 26 36 AM" src="https://user-images.githubusercontent.com/24300818/185948023-90263b03-83f6-4ce7-896b-abd38

[2022-08-22 14:40] paritosh-08 opened #8828 "inconsistent naming convention for `graphql-default`"
### Version Information

Server Version: 2.8

### Environment

OSS

### What is the current behaviour?

The naming convention seems to be inconsistent in the following way:
**Type names**:
- The type names don't respect the custom table names. If we have a table with a custom table name, say `foo_bar`, then the type name generated is `FooBar`.

**Field names**:
- Field names other than select quer

[2022-08-22 14:44] BenoitRanque opened #8829 "Allow setting pro metadata in OSS HGE"
It's common for folks to us both OSS and PRO/Cloud versions of hasura in a single workflow.

For example, a locally hosted OSS instance may be used for development,
and the metadata is then deployed to Cloud.

### Is your proposal related to a problem?

Currently, some metadata can only be set in the PRO/Cloud version of the console.

Specifically, metadata pertaining to PRO/Cloud exclusive featur

[2022-08-22 14:50] paritosh-08 commented on #8828
Resolved via https://github.com/hasura/graphql-engine/commit/9d23a10f330c2a79ebd565cbdddce7e55a4ff6e6

The naming convention logic is the following:
  - We transform the name for the custom table only at locations where it's prefixed or suffixed.
  - If the table name is used "as is", it is not transformed.

(transform means uppercasing/lowercasing the first character in this context)

The naming

[2022-08-22 14:50] #8828 closed

[2022-08-22 15:11] BenoitRanque opened #8830 "Allow templating metadata for multiple environments"
### Is your proposal related to a problem?

Currently metadata is a singleton and always replaced in its entirety.

This can be an issue when deployed to multiple environments that have slightly different characteristics, for example:

- API Limits don't make sense in a dev environment
- Read replica configuration may vary across environments dev/stage/prod
- Allow lists again may not make sense i

[2022-08-22 15:53] plcplc commented on #8821
c.f. https://github.com/cockroachdb/cockroach/pull/82435

[2022-08-22 17:12] ZhouXing19 commented on #8821
In [22.1](https://www.cockroachlabs.com/docs/stable/functions-and-operators.html) the CRDB side has already supported:

- [x] `pg_is_other_temp_schema`: Returns true if the given OID is the OID of another session’s temporary schema.
- [x] `pg_has_role`: Returns whether or not the user has privileges for role.
- [x]  `pg_get_viewdef`: Returns the CREATE statement for an existing view. (It's been im

[2022-08-22 19:53] dsandip opened #8833 "(test) seeing an issue"
### Discussed in https://github.com/hasura/graphql-engine/discussions/8832

<div type='discussions-op-text'>

<sup>Originally posted by **dsandip** August 22, 2022</sup>
Testing</div>

[2022-08-22 19:53] luizjunior05 commented on #7683
Where can i see the roadmap?

[2022-08-22 20:12] Kipitup commented on #3184
+1

[2022-08-23 00:36] jfbloom22 commented on #7678
I am running into the same error when running the Hasura cli with yarn.  The Hasura CLI works fine when using the global installed version.  I can also run the local version with npm.

in package.json scripts:
[code]

run: `yarn hasura migrate apply`
[code]

 `npm run Hasura migrate apply`
runs the migrations successfully

Hasura-cli  v2.9.0
yarn 3.2.2

[2022-08-23 03:03] robnewton commented on #1175
Bump +3

[2022-08-23 03:28] clarkClaim commented on #8787
@scriptonist I went ahead and sent you the metadata file, along with a short loom demonstrating the bug.  Thanks for looking into this!

[2022-08-23 05:05] scriptonist commented on #8787
Thanks, @clarkClaim. Will check it out and get back.

[2022-08-23 05:25] scriptonist commented on #8787
Update: This has been confirmed to be a bug. Thanks, @clarkClaim for reporting and providing assistance in triaging the issue.

[2022-08-23 06:18] #8770 closed

[2022-08-23 09:04] plcplc commented on #8799
To relate this issue with our initial scope as defined in #8788, we could test:

* adding/dropping a source
* un-/tracking a table
* un-/tracking a relationship
* setting permissions on a table.

... as these are the commands we're going to rely on for that scope.

For some technical context, the implementation of the metadata API commands is backend-generic and simply a matter of enabling/disabli

[2022-08-23 10:27] abhi40308 opened #8834 "console: UI crashes on putting `\` in search actions"
### Version Information

Server Version: v2.9.0-beta.2

### Environment
OSS/Cloud

### What is the current behaviour?
Console crashes if we put `\` in search actions input box.

### What is the expected behaviour?
Console should not crash.

### How to reproduce the issue?

1. Go to actions tab
2. Type `\` in `search actions` box.
<img width="369" alt="Screenshot 2022-08-23 at 3 56 39 PM" src="http

[2022-08-23 10:29] manasag commented on #8807
This bug is accepted and has been kept in the Platform team backlog.

[2022-08-23 12:02] mnlbox opened #8835 "distinguish between different environments clearly"
### Is your proposal related to a problem?
Yes, it's a real story, I have my app in three environments (local development, test, and prod) and last week I just had open all of my environments in different tabs in my browser. I just wanted to test a SQL query in my localhost so I wrote my update query to update some rows and then I copied that from my editor to the SQL window in the Hasura console

[2022-08-23 12:12] manasag commented on #8835
#5349

[2022-08-23 14:11] ejkkan opened #8836 "Console: refactor Data tabs Browse Rows components to move away from Redux"
### Describe the solution you'd like

Currently, all requests related to rendering the Browse rows tab are handled by redux.
Start migrating current class components into functional components to make use of the react-query hooks

Tasks:
* Split the `ViewRows` component into different presentational components:
![image](https://user-images.githubusercontent.com/59067245/186436577-df526f02-4ea3-458

[2022-08-23 14:14] ejkkan opened #8837 "Console: Refactor "vMakeRowsRequest" to react-query"
### Describe the solution you'd like

Migrate current into a react-query hook.
Reuse the requests and adapters already used in the existing function, but remove Redux related code.

[2022-08-23 14:43] plcplc commented on #8799
Either `fetchTableMetadata` needs to be made `pgKind`-aware such that it won't pass the list of known tables as a parameter as the current `cockroach_table_metadata.sql` doesn't use them, or `cockroach_table_metadata.sql` needs to be amended to use them - preferably by re-introducing the optimization disabled by a lack of `jsonb_to_recordset` function. Alternatively we can just use it in a dead WI

[2022-08-23 16:13] plcplc commented on #8453
One note also is that JSONB in postgres is inherently unordered.

c.f. https://www.postgresql.org/docs/current/datatype-json.html:

[2022-08-23 20:03] dsandip opened #8838 "Forward custom Http Headers from Auth Endpoint (webhook) in the response"
### Discussed in https://github.com/hasura/graphql-engine/discussions/8802

<div type='discussions-op-text'>

<sup>Originally posted by **geeksquad87** August 16, 2022</sup>
I configured a NodeJs based simple POST Rest API as Authentication Endpoint for Hasura_Graphql_Auth_Hook . In my Auth WebHook endpoint, I am adding a custom header after validating the Authorization header received from origin

[2022-08-23 20:46] BenoitRanque commented on #8453
@codedmart I'm actually unsure, apologies. This may or may not have been a regression.
There's an associated ticket: 2363, but the version is not recorded there, nor is it mentioned that this ever worked.

@abooij I think parsing the JSON is inevitable. By design, a valid hasura query will be JSON and thus include at least a part that must be parsed, and I don't know if we can partially parse a JS

[2022-08-24 00:14] maxcan commented on #8455
If anyone wants a script to automatically add the schema entry from @AThilenius's workaround, here goes.  Its idempotent and I have it in my CI flow so my `remote_schemas.yaml` file is good for production

[code]

[2022-08-24 04:21] haaah commented on #8826
[Original Discussion](https://github.com/hasura/graphql-engine/discussions/8811)
My original discussion was transferred to here. My situation happened when it's in higher resolution.

`Environment`
Hardware: Macbook Pro 15
OS: BigSur
Resolution: 2880 x 1880

[2022-08-24 08:45] sassela commented on #8799
this is blocked by https://github.com/hasura/graphql-engine-mono/pull/5593

[2022-08-24 08:46] soupi commented on #8789
Depends on https://github.com/hasura/graphql-engine/issues/8799 I believe?

[2022-08-24 08:56] sassela opened #8839 "Server/Tests: Introduce CockroachDB Simple Query tests"
This issue involves using the CockroachDB test harness in the [Haskell integration test suite](https://github.com/hasura/graphql-engine/tree/master/server/tests-hspec/Test).
* [x] including that test fixture in the `Schema/*` and `Queries/Simple` specs
* [ ] creating issues for any specs that fail, and linking to them here. We can coordinate work with the CockroachDB team.

[2022-08-24 08:57] sassela commented on #8839
depends on https://github.com/hasura/graphql-engine/issues/8799

[2022-08-24 09:05] plcplc opened #8840 "disable `fetchFunctionMetadata` for cockroachdb"
Similar to [how we had to alter](https://github.com/hasura/graphql-engine-mono/pull/5593) `fetchTableMetadata` to accomodate for a different implementation for cockroachdb, so we need need to alter [`fetchFunctionMetadata`](https://github.com/hasura/graphql-engine-mono/blob/9962f0d245b700f1a9c54604b36302545ccefaff/server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs#L346)

User-defined functions

[2022-08-24 09:13] plcplc commented on #8799
This is also blocked by #8840

[2022-08-24 09:19] #8791 closed

[2022-08-24 10:04] lucarestagno commented on #8836
@vijayprasanna13 is this going to be handled by `useHttpClient`?

What are the use cases for:
* `includeCredentials`
* `includeAdminHeaders`

Source: `src/utils/requestAction.ts`
[code]

[2022-08-24 10:18] #3671 closed

[2022-08-24 10:20] vijayprasanna13 commented on #8836
The uses cases for `includeCredentials` & `includeAdminHeaders` are not well documented in the codebase but my best guess is that they are optional headers being set during pro console mode. The `useHtttpClient` should technically work without no issues when passing down the auth headers since the headers are stored in the same redux path on both oss and pro console.
One example from the code base

[2022-08-24 12:06] seanparkross commented on #8809
Closed in favor of #8573

[2022-08-24 12:06] #8809 closed

[2022-08-24 12:44] rikur commented on #1778
+1 for updates

[2022-08-24 14:13] NoriSte commented on #8836
Nice initiative ❤️ if I can be helpful (instead of reading my usual 30 comments for every PR late) let m know! So we can establish patterns to save refactoring time and improve components' readability etc.

[2022-08-24 14:17] soupi commented on #8789
This item was split to https://github.com/hasura/graphql-engine/issues/8839

[2022-08-24 15:57] arcticmatt commented on #8550
@ecthiender I don't think it's an edge case, this is a really common scenario if you use [Relay](https://relay.dev/). And Relay is one of the more widely used GraphQL clients

For example, we may have a fragment in `Component1` like so:

[code]

And then we may have another fragment in `Component2` like so:

[code]

These components access the same data, but use different fragments. See https://re

[2022-08-24 16:18] #8840 closed

[2022-08-24 16:23] BenoitRanque opened #8843 "Naming convention should not change casing of custom enum values"
### Version Information

Server Version: 2.10.1

### Environment

Cloud/ OSS

### What is the current behaviour?

Currently setting naming convention of `graphql-default` will enforce casing of enums, including custom enums.

### What is the expected behaviour?

Naming convention should only affect built-in enums, not custom user enums.

### How to reproduce the issue?

1. Create and track an enum

[2022-08-24 17:07] collin commented on #8696
We have observed that this correlates with multiple `graphql-engine` instances attempting to run a migration at the same time.

We are adjusting our deployment practices so we will not attempt to run concurrent migrations.

[2022-08-24 17:07] #8696 closed

[2022-08-24 17:09] BenoitRanque opened #8844 "update_many feature can prevent startup on table name conflict"
### Version Information

Server Version: 2.10.0

### Environment

Cloud/OSS

### What is the current behaviour?

[v2.10.0](https://github.com/hasura/graphql-engine/releases/tag/v2.10.0) introduces the ability to update multiple records in a single operation with the update_TABLE_many mutation.

This can cause naming type conflicts if a `TABLE_updates` table already exists.

Alarmingly, this seems

[2022-08-24 19:44] BenoitRanque opened #8845 "Subscriptions don't play well with large datasets due to use of prepared statements"
### What is the current behaviour?

Subscriptions use prepared statements for multiplexing purposes.

This can be an issue with postgres variants that have custom optimization logic implemented at query planning time.

Because some information is not available at query planning time (such as timestamp range), the planner cannot optimize the query correctly.

This can lead to terrible performance o

[2022-08-25 00:18] gnekich opened #8846 "Bug / Missing feature, error when editing comment on a view"
### Version Information

Server Version: <= v2.11.0-beta.1
CLI Version (for CLI related issue): (unrelated) v2.11.0-beta.1

### Environment

Cloud / OSS / EE

### What is the current behaviour?

Whenever someone tries to edit comment on the view the error message will pop out.
![hasura-bug-comment-view](https://user-images.githubusercontent.com/48327736/186544478-cc4c8793-917d-413b-8fba-89e2417e64

[2022-08-25 07:27] seanparkross commented on #7229
Closing this issue since this is implemented. [Docs](https://hasura.io/docs/latest/mutations/ms-sql-server/index/).

[2022-08-25 07:27] #7229 closed

[2022-08-25 07:36] #6705 closed

[2022-08-25 09:36] #6844 closed

[2022-08-25 09:46] dlebech commented on #2208
We managed to make Hasura accept two types of Firebase tokens using the `jwk_url` suggestion. We use both Firebase session tokens (for service-side rendering) and client tokens (for calling the API from the browser) for authenticating with Hasura.

In order to make this work, we created a "dumb" Cloud Function that simply combines the results of the different Firebase JWT keys and returns them fro

[2022-08-25 10:18] rahmanharoon commented on #8413
Did you find a solution @Hongbo-Miao

[2022-08-25 10:30] robertjdominguez commented on #8813
Converting this to a discussion as you all talk through @ajohnson1200's suggestion 👍

[2022-08-25 10:35] robertjdominguez commented on #8806
Closing this as a duplicate of #8819 👍

[2022-08-25 10:35] #8806 closed

[2022-08-25 11:42] seanparkross commented on #8742
Closing in favour of duplicate #8819

[2022-08-25 11:42] #8742 closed

[2022-08-25 11:47] seanparkross commented on #8733
Closing with answer from @BenoitRanque. Please reopen if it's an actual bug. Thanks.

[2022-08-25 11:47] #8733 closed

[2022-08-25 11:48] seanparkross commented on #8732
Converting to discussion.

[2022-08-25 11:56] seanparkross commented on #8722
Closing in favour of the discussion

[2022-08-25 11:56] #8722 closed

[2022-08-25 12:05] seanparkross commented on #8717
Closed with above answer.

[2022-08-25 12:12] seanparkross commented on #8703
Converted to discussion to facilitate.

[2022-08-25 12:16] marionschleifer commented on #8672
@amal-chandran the current version of Cloud is `v2.10.1`, so I'm assuming this issue is resolved.

[2022-08-25 12:16] #8672 closed

[2022-08-25 12:19] #8697 closed

[2022-08-25 12:27] robertjdominguez commented on #8771
Closing this in favor of #7910, @fkowal. If you'd prefer to keep this alive for conversation, let me know and I'll convert to a discussion 👍

[2022-08-25 12:33] #8694 closed

[2022-08-25 12:34] robertjdominguez commented on #8769
Converting this to a discussion so you can continue the conversation, @radhay-samagra 👍

[2022-08-25 12:41] robertjdominguez commented on #8766
@santhoshkumarch, I'm converting this to a discussion and adding a couple of labels 👍

Can you check [this page in our docs](https://hasura.io/docs/latest/schema/postgres/remote-relationships/remote-source-relationships/) and see if it helps you resolve your question?

[2022-08-25 12:43] seanparkross commented on #8690
Closing in favour of #8704

[2022-08-25 12:43] #8690 closed

[2022-08-25 12:46] robertjdominguez commented on #8757
I'm converting this to a discussion, @tienpvse1 👍

If you have a follow-up question or can provide the requested information above, we'll see what we can do to help!

[2022-08-25 12:57] seanparkross commented on #8687
`-` is not allowed in column names.

[2022-08-25 12:57] #8687 closed

[2022-08-25 12:59] seanparkross commented on #8687
This is a PostgreSQL convention also, which is why it's not supported in Hasura at all. Hope this clears things up. Feel free to reply if you need to reopen.

[2022-08-25 13:15] plcplc commented on #8797
Likely a no-op, as CockroachDB has verified customized options work in v22

[2022-08-25 13:18] lucarestagno commented on #8793
The tracking table part is blocked by the missing support of "cockroach_run_sql" on the `query` endpoint.

[2022-08-25 13:25] sassela commented on #8797
Confirmed this works https://github.com/cockroachdb/cockroach/issues/86438#issuecomment-1222541100, closing

[2022-08-25 13:25] #8797 closed

[2022-08-25 13:44] sassela commented on #8844
Thanks @BenoitRanque ! Seems like we'll need to do two things:
- [ ] server/bug: conflicts on tables that are already tracked should not cause the server to fail
- [ ] console/exploration: display conflict resolution modal (tbc) for tracked table conflicts

[2022-08-25 13:45] sassela opened #8866 "server/bug: conflicts on tables that are already tracked should not cause the server to fail"
Relates https://github.com/hasura/graphql-engine/issues/8844

[2022-08-25 14:15] marionschleifer commented on #8645
We can add a page to the [Postgres Basics] guide that includes this.

[2022-08-25 16:13] maaft commented on #8819
It seems to be a timing issue.

When I wait a few seconds and do `hasura metadata reload` afterwards, everything works again.

[2022-08-25 16:36] sassela commented on #1498
hey folks, thanks for your interest and patience with this! The team's actively working on this feature and a demo of WIP will be available in [August's community call](https://hasura.io/community/community-call/) recording.

[2022-08-25 17:21] jordan-lumley opened #8867 "Docker image sizes"
### Is your proposal related to a problem?
Not necessarily a problem but something I could see as an improvement depending on the outcome.

### Describe the solution you'd like
Would love to see some form of a slim docker image. Looks like there was some slim images years ago but haven't really been maintained. We use hasura for distributed systems in the field and would love to have a docker imag

[2022-08-25 17:48] adas98012 opened #8868 "Type Generation of Views"
### Discussed in https://github.com/hasura/graphql-engine/discussions/8854

<div type='discussions-op-text'>

<sup>Originally posted by **zephaniahong** August 25, 2022</sup>
Hi!
I am having an issue updating fields of a custom view using the Hasura Explorer vs on my own NextJs app which uses type generation to generate the types from Hasura.

I have a table `Event` with fields such as `id, userId

[2022-08-25 19:42] BenoitRanque opened #8869 "--database-url startup flag should take precedence over HASURA_GRAPHQL_METADATA_DATABASE_URL env var"
### Version Information

Server Version: 2.10.1

### What is the current behaviour?

Hasura requires a metadata database connection on startup.

The connection string for this database can can be provided in one of four ways, in order of precedence

- `--metadata-database-url` flag
- `HASURA_GRAPHQL_METADATA_DATABASE_URL` env var
- `--database-url` flag
- `HASURA_GRAPHQL_DATABASE_URL` env var

###

[2022-08-25 20:12] gunar commented on #8814
Thank you. I'm very happy to see movement on this issue. Let me know how I can help.

[2022-08-25 20:39] BenoitRanque opened #8870 "Allow templating metadata for multiple environments"
### Discussed in https://github.com/hasura/graphql-engine/discussions/8848

<div type='discussions-op-text'>

<sup>Originally posted by **BenoitRanque** August 22, 2022</sup>
### Is your proposal related to a problem?

Currently metadata is a singleton and always replaced in its entirety.

This can be an issue when deployed to multiple environments that have slightly different characteristics, for

[2022-08-26 03:13] tony-landis commented on #4509
Have this same issue, Hasura is running in kubernetes NodePort.

HTTPS works just fine. WSS doesnt work even in the hasura console.

v2.9.0

[2022-08-26 06:29] petegriffith commented on #1077
Hi, is there a way to modify existing `updated_at` columns with the trigger? I'm not seeing it if there is.

[2022-08-26 06:41] zephaniahong commented on #8868
Technologies: Hasura Cloud, NextJs

Reproduction Steps:
1. Create `events` table with fields `id, userId, title, budget, description`
2. Create an `own_event` view by running:
[code]

[2022-08-26 08:46] fkowal commented on #8771
i'll send a sample PR soon

i explored and changed the approach from described above

and it should enable support `graphql : aliases` and namespaced db / queries

[code]

[2022-08-26 14:19] luizjunior05 commented on #2419
I'm using it in development and will soon put it into production. Very good.

[2022-08-26 19:12] dventimihasura opened #8873 "V3 Migrations job slowness"
### Version Information

Server Version: hasuraci/graphql-engine-pro:v2.9.0-pro.1.cli-migrations-v3
CLI Version (for CLI related issue): v2.11.0-beta.1

### Environment

Pro (probably not specific to Pro however)

### What is the current behaviour?

`hasura migrate apply` can take up to 4 times as long for large sets of migrations between Config V2 and Config V3 (i.e., performance regresses from V

[2022-08-26 21:26] geeksquad87 commented on #8838
Thanks for creating a feature request, any ETA on this fix please ? Any alternate solutions to overcome the problem until the fix is released ?

[2022-08-27 07:05] meetzaveri opened #8874 "Console: Run SQL HTML results are now div instead of table; can't copy/paste into spreadsheet editor anymore"
### Discussed in https://github.com/hasura/graphql-engine/discussions/8855

<div type='discussions-op-text'>

<sup>Originally posted by **carlpaten** August 18, 2022</sup>
### Version Information

Server Version: v2.4.0
CLI Version (for CLI related issue): v2.4.0

### Environment

OSS

### What is the current behaviour?

When using the Run SQL page, tabular results are returned as a series of nest

[2022-08-27 14:37] Luca8991 commented on #8624
I'm having the same error with `hasura/graphql-engine:v2.8.4.cli-migrations-v3` Docker image. It's a severe issue because triggers are not created on startup

[2022-08-28 04:55] hgiasac opened #8875 "Allow customizing BigQuery endpoint"
### Is your proposal related to a problem?

There is some BigQuery emulator library, e.g https://github.com/goccy/bigquery-emulator. The client can connect with the emulator with a custom endpoint, e.g http://0.0.0.0:9050. It's useful for local development and testing.

### Describe the solution you'd like

Add an env variable named `HASURA_GRAPHQL_BIGQUERY_SERVICE_ENDPOINT`. The default value is

[2022-08-28 06:46] jozef-slezak opened #8876 "WASM Edge - Serverless Hasura"
### Is your proposal related to a problem?

My proposal is related to https://hasura.io/docs/1.0/graphql/core/deployment/
I propose to deploy Hasura  serverless (without docker) on the edge.

### Describe the solution you'd like

WASM/WASI build of Hasura to run

https://medium.com/wasm/webassembly-serverless-functions-in-netlify-7e23cb66d594
https://github.com/tweag/asterius
https://github.com/tw

[2022-08-28 16:56] dsandip opened #8877 "Confusions about data availability in the Hasura console's monitoring page"
### Version Information

Server Version: `v2.10.1-cloud.3`

### Environment

Cloud

### What is the current behaviour?

As a Cloud free tier or standard tier user, my logs are retained for only 24 hours (in the console; I do have the option of using an APM integration for a custom retention period). When using the Overview section of the Monitoring tab, there are dropdown options that allow choosi

[2022-08-28 17:26] hgiasac opened #8878 "server/bigquery: optional project_id with the default value from the service account"
### Is your proposal related to a problem?

Although the service account is configurable with an env variable, the project_id is still hard coded. It's cumbersome for multiple environments (dev, staging, production).

### Describe the solution you'd like

The project id is already included inside the service account JSON file. We can parse its content and get the project_id as default, and make pr

[2022-08-28 21:09] sundaycrafts commented on #4025
Thanks Aarbel, but it didn't work for me (macOS 12.3.1).

I put here the shortcut of the (temporary) solution to this issue.

But DO NOT DO THIS FOR PRODUCTION.

#467

[2022-08-29 03:49] harishnair96 commented on #8720
This seems to be a console issue where it doesn't pass the schema correctly to the backend when adding permissions with GraphQL interfaces. However, the good news is that you will be able to get it working by directly applying the changes to the metadata. Take a look at the example below.

If I have a remote schema with the following GraphQL schema -
[code]

If I want to allow a role `user` to que

[2022-08-29 08:17] im-what-im opened #8879 "Post Update Check with impacted Views"
### Version Information

Server Version: 2.10.1
CLI Version (for CLI related issue):

### Environment

EE

### What is the current behaviour?

Post Update Check is not correct when the condition is based on a view that gets impacted by the update.
Example:

Consider:
User table with field for status:

User,Status
User1,active
User2,inactive
User3,inactive

View to count active users:
status,count

[2022-08-29 14:19] rikinsk opened #8880 "Allow user to expand GraphiQL UI frame"
### Discussed in https://github.com/hasura/graphql-engine/discussions/8811

<div type='discussions-op-text'>

<sup>Originally posted by **haaah** August 18, 2022</sup>
Would like to suggest to the team to allow user to expand the current GraphiQL UI Frame. Currently there are a lot of wasted white space underneath.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/84820

[2022-08-29 14:21] rikinsk commented on #8826
Closed via https://github.com/hasura/graphql-engine/commit/c0b7d14adc442ce100847e7583be24287d742584. This will be fixed in v2.12.

@haaah Am tracking your request at #8880 instead

[2022-08-29 14:21] #8826 closed

[2022-08-29 17:47] dmi3y commented on #1077
Sure you can, you have to write some sql for this. Also depends on what do you mean by "a way to modify existing `updated_at`".

[2022-08-29 20:55] adas98012 opened #8881 "Using existing types in actions"
### Discussed in https://github.com/hasura/graphql-engine/discussions/8686

<div type='discussions-op-text'>

<sup>Originally posted by **tombrouwer** July 12, 2022</sup>
Hi all, and thanks for the hard work.

I did setup a Hasura instance with Docker. I created some database tabels. One of them is called `list`. I want to create a action similar to insert_list, zo I can create a validation layer

[2022-08-30 01:09] petegriffith commented on #1077
I just meant that while there is a way to add the trigger to a new `updated_at` field via the console, there doesn't seem to be a way to modify an existing `updated_at` field to take the trigger.

[2022-08-30 04:13] efstathiosntonas commented on #8780
Is there any reason why this hasn’t dropped on 2.11.0?

[2022-08-30 06:41] efstathiosntonas commented on #5033
Any updates on this one? Why we can't use a number (or both) and have to do sorcery on aws lambdas and gcp functions?

[2022-08-30 07:49] demoh2019 commented on #6192
+1

[2022-08-30 09:12] marionschleifer opened #8883 "docs: update screenshots"
### Problem description

Screenshots have mostly been updated for Cloud related docs (identified by the ☁️ icon on docs) and for the Enterprise docs (identified by the 🏢 icon on docs).

A lot of the screenshots of the feature docs are outdated.

### Describe the solution you'd like

Update the updated screenshots.

### Instructions

Please read carefully through the [Wiki on writing documentation]

[2022-08-30 09:42] marionschleifer opened #8884 "docs: correct capitalization for hasura features"
### Is your proposal related to a problem?

The capitalization in docs is quite random at the moment. Sometimes, Hasura features are sometimes in capital letters, and sometimes not.

### Describe the solution you'd like

Capitalize all Hasura features, e.g. "Actions", "Event Triggers" etc.

### Instructions

Please read carefully through the [Wiki on writing documentation](https://hasura.io/docs/w

[2022-08-30 09:46] marionschleifer opened #8885 "docs: capitalization of headings"
### Is your proposal related to a problem?

The capitalization of the main headings are very random.

### Describe the solution you'd like

Update the headings according to [this guide](https://hasura.io/docs/wiki/style/headings/).

[2022-08-30 09:49] marionschleifer opened #8886 "docs: improve docker compose spelling"
### Is your proposal related to a problem?

Docker compose has changed its spelling from `docker-compose` to `docker compose` in all commands. This is currently still wrong in many placed in our docs.

### Describe the solution you'd like

Update to the new spelling in docs.

[2022-08-30 11:29] seanparkross opened #8887 "Add ALT description text to images in docs."

[2022-08-30 11:38] plcplc opened #8888 "server/refactor: use `Set`/`HashSet` to deduplicate function names in `runTxWithMetadataCheck`"
The root cause of [graphql-engine#8643: Migrations fail if duplicate functions exist](https://github.com/hasura/graphql-engine/issues/8643) is that the list of functions to consider for metadata diff checks ends up with duplicates when a function is tracked both as root field and as computed field:

https://github.com/hasura/graphql-engine/blob/f80ec1d543e0e3e4711fe72bb8f19c097e6897c1/server/src-l

[2022-08-30 11:48] seanparkross opened #8889 "docs: improve description tags site wide for SEO"

[2022-08-30 12:54] Zerebokep commented on #4990
@tirumaraiselvan Any update on this? This could be problematic on high load events or ddos attacks.

[2022-08-30 14:22] lucarestagno opened #8890 "Server: GraphQL API error with CockroachDB"
Steps to reproduce:

* Connect a CockroachDB
* Select the CrDB in the navigation tree
* Click on a CDB table in the Nav Tree

You get an error response:
[code]

Request URL: `/v1/graphql`
Request Body:
[code]

There's an error in the SQL statement executed on the server
[code]

-> `SELECT   FROM`

[2022-08-30 15:00] #8643 closed

[2022-08-30 15:12] #8789 closed

[2022-08-30 16:06] sassela opened #8891 "server/tests: enable cockroachdb in the pytest suite"
This should be a timeboxed exercise to see whether we can easily run our full existing Postgres test suite against a CockroachDB. The effort can be a hack / throwaway.

We want to be able to run the entire [Python integration test suite](https://github.com/hasura/graphql-engine/tree/master/server/tests-py) (including schema, queries, mutations and subscriptions) against CockroachDB, to better unde

[2022-08-30 18:57] ajohnson1200 commented on #8866
I thought that product platform team had an issue for this filed for something similar already, no?

[2022-08-30 22:03] dmi3y commented on #1077
I see now, looks like catch 21 scenario, lol.

I still think it's possible with some conditional event logic or something though.

[2022-08-31 06:11] harishnair96 commented on #8818
The [documentation](https://hasura.io/docs/latest/schema/postgres/computed-fields/#supported-sql-functions) lists the conditions necessary to add a function as computed field.

The function shared breaks 2 of these conditions-
1. It doesn't have the mandatory argument with the table row type
2. The return type is not SETOF \<table-name> or BASE type

This is why it isn't possible to track it and w

[2022-08-31 07:10] daniel-chambers opened #8892 "Tracking tables with names or in schemas that are invalid GraphQL identifiers silently fails"
### What is the current behaviour?

If you track a table whose default root field name is not a valid GraphQL identifier, tracking the table succeeds, but the table does not show up in the GraphQL schema. No error or warning is provided at an API level.

The console currently displays a warning when tracking a table with invalid characters in its name, and will apply a custom name that fixes that

[2022-08-31 07:12] daniel-chambers commented on #8892
Fixing this issue will be challenging because it has the potential to be a breaking change, as it would cause any customers who had tracked tables with invalid names to suddenly get inconsistent metadata errors after upgrading to the fixed version.

[2022-08-31 07:51] lucarestagno opened #8893 "Browse rows truncates values after decimal point"
https://hasurahq.atlassian.net/browse/CON-250

[2022-08-31 07:57] toton6868 opened #8894 "Hasura creates a lot of connection and Postgres CPU utilisation 99.99%"
### Version Information

Server Version: 2.7.0
CLI Version (for CLI related issue):

### Environment

Open Source

### What is the current behaviour?

We have created a human tracking application using Android apps. So there is a lot of tracking data is inserting. I have almost 1000 users from where the location tracking data is coming. I am using a database server of 8 Core 16 GB Ram. Now I am fa

[2022-08-31 08:50] sassela commented on #8793
closed, @lucarestagno would you mind linking to the PR?

[2022-08-31 08:50] #8793 closed

[2022-08-31 08:50] #8794 closed

[2022-08-31 08:54] nm2501 commented on #5743
+1 on this request from me too!

[2022-08-31 08:57] sassela commented on #8788
just added https://github.com/hasura/graphql-engine/issues/8891 to this list, which we'll estimate  later

[2022-08-31 11:35] webjunkie commented on #8376
Is there a way to `recreate_event_triggers` via Hasura CLI?

[2022-08-31 12:17] sassela commented on #8866
not sure, so I've [asked](https://hasurahq.slack.com/archives/C03RJ54M4RW/p1661947857412249) them directly.

[2022-08-31 13:04] lucarestagno opened #8895 "console: refactor the Filter Query section"
In order to get rid of Redux in the Console, we planned to refactor the Filter Section.

It means, Filter, Sort section in the Browse Rows tab.

Epic: hasura/graphql-engine#8836

[2022-08-31 13:23] codedmart commented on #8890
More information:

If you create a table in cockroachdb and don't specify a primary key cockroachdb generates a primary key for you.

[2022-08-31 14:22] horatiohe opened #8896 "Add support for Docker Secrets by reading secrets files"
### Version Information

Server Version:
CLI Version (for CLI related issue):

### Environment

EE

### What is the current behaviour?

hasura ee container ONLY take configuration properties from environment variables

### What is the expected behaviour?

expect to load hasura configuration properties, especially hasura_adminm_secret from file instread of ONLY from environment variables in contain

[2022-08-31 15:32] WGTW commented on #2346
After 3 years this feature is, along with #3353 (only role deletion was added, no role renaming) still not yet realised. Having the ability to rename any role, not just "admin", would be great. Thanks!

[2022-08-31 15:36] WGTW commented on #3353
Deleting roles was added in this issue which is great, but renaming was not yet achieved. Can we see the role renaming feature being implemented?

[2022-08-31 17:31] Mouvedia commented on #5601
The only header you actually need is cookie.
i.e `hasura-lux` is required

[2022-08-31 23:25] yangyang480 commented on #3244
Does anyone figured out how to do it?

[2022-09-01 00:51] daniel-chambers commented on #8717
@seanparkross I don't think this should be closed. The suggested solution is a workaround and doesn't solve the issue with the count aggregate.

This issue was opened to highlight the fact that one of our features doesn't actually work as intended. Just because I can compute the result using a different feature doesn't mean we shouldn't (at some point) resolve the actual issue with count.

[2022-09-01 06:34] ntziolis commented on #4299
For anyone finding this: This now also works through the console. When doing so its important to explicitly set the session argument value.

[2022-09-01 06:37] harishnair96 opened #8898 "Console: Remote schema permissions does not properly handle arguments for non-root fields"
### Version Information

Server Version: 2.11.1

### Environment

OSS

### What is the current behaviour?

If the non-root field of a remote schema has an argument, setting remote schema permission for that field does not include the argument. This has the effect that roles other than admin role won't be able to use that argument.

### What is the expected behaviour?

Setting permission on a field

[2022-09-01 06:38] harishnair96 commented on #8898
The workaround for this issue is to edit the metadata manually to use the correct type.

[2022-09-01 09:10] ivan-kleshnin commented on #1532
Shouldn't this `HEALTCHECK` be embedded in the `hasura` docker image and work by default
like it's done in `postgres`?!

[2022-09-01 09:14] sassela commented on #8866
confirmed in [this thread](https://hasurahq.slack.com/archives/C03RJ54M4RW/p1662022561532239?thread_ts=1661947857.412249&cid=C03RJ54M4RW) the product platform team's not actively working on a fix, so we're good to pick it up.

[2022-09-01 10:15] lorenzo opened #8899 "Postgres is truncating identifiers in 2.10.1"
### Version Information

Server Version: 2.10.1

### What is the current behaviour?

We are getting warning in postgres like this one:

[code]

### What is the expected behaviour?

Hasura should shorten identifiers to avoid automatic truncation

### How to reproduce the issue?

1. Make a query with long nested fields
2. See the warning in postgres

[2022-09-01 12:13] manasag commented on #7907
Hi @jgoux, thank you for opening this issue.

In general, Hasura is considered healthy even if there are inconsistencies in the schema, because it can continue to serve for the parts that are consistent.

However we understand that in some scenarios, one may not want Hasura to serve queries in case of inconsistent schema. We would approach this requirement, by providing a configuration option, say

[2022-09-01 12:23] manasag commented on #5349
This is not in the roadmap for CE version.

[2022-09-01 12:29] manasag commented on #8835
Hi @mnlbox , thank you for submitting this enhancement request. This feature is currently available in our Cloud and Enterprise products. You can try it out on cloud for 30 days for free [here](https://cloud.hasura.io/)

[2022-09-01 12:34] manasag commented on #8829
Hi @BenoitRanque, we would ideally like to solve this by having users upgrade their OSS instances to PRO locally. With 2.12 onwards, all OSS images will have PRO features inbuilt which they can unlock using License Keys (without any additional Pro container installation steps).

[2022-09-01 12:39] manasag commented on #8827
Hi @dsandip, this request has been added to the backlog.

[2022-09-01 12:45] rikinsk commented on #8752
Closing this for now. Feel free to reopen if there are further queries or if the unexpected behaviour is still observed

[2022-09-01 12:45] #8752 closed

[2022-09-01 12:51] rikinsk opened #8900 "error highlighting in GraphiQL has stopped working"
### Version Information

Server Version: v2.11.0

### Environment

Cloud and OSS

### What is the current behaviour?

GraphiQL normally highlights errors in GraphQL queries based on the on the introspection info. This used to work uptill `v2.10` but has stopped working in `v2.11` and above

### What is the expected behaviour?

The error syntax highlighting should work

### How to reproduce the iss

[2022-09-01 13:44] manasag commented on #8777
Hi @kevcube,  `curl` will be available in images from version 2.12.0-beta.1 onwards.

[2022-09-01 14:51] #8552 closed

[2022-09-01 14:54] munjalpatel opened #8901 "Unable to filter remote schema with "where""
### Version Information

Server Version: 2.10.1

### Environment

OSS

### What is the current behaviour?

[code]

When I execute the above query in Hasura Console UI (as an admin), it works just fine.
However, I get the following error when running it as a particular user role.

[code]

Here are the remote schema permissions given to the role
[code]

Even though, I am properly giving `input subsc

[2022-09-01 15:30] lucarestagno opened #8902 "server: metadata API very slow when tracking CockroachDB tables"
Steps:

- Connect a CockroachDB that runs locally in a docker image (like the graphql-engine) using the Console
- Click on the CockroachDB schema in the Nav Tree
- Click on "Track" to track a table

Current: the metadata API request takes ~30 seconds to complete
Expected: it should be very fast, like for Postgres databases (a few milliseconds)

Note: the `reload_metadata` request is affected by th

[2022-09-01 16:04] adas98012 opened #8903 "Access async action id inside of action"
### Discussed in https://github.com/hasura/graphql-engine/discussions/8750

<div type='discussions-op-text'>

<sup>Originally posted by **talgat-ruby** August  5, 2022</sup>
Hi

For example, lets say I have async action `someAsyncAction`. I can access `action_id` in the **client** via graphql.
[code]
[code]

But this is **client**. How about within action code?  I want to save the `action_id` ro d

[2022-09-01 16:04] makinde commented on #4112
In case it is useful to anyone, I'm currently doing the second solution that @0x777 suggested with the views, but with a slightly different approach. I have an object relationship from `users` to `current_user` labeled `isCurrentUser`. That allows me to write queries that don't start with `current_user` at the root. So I can do something like,
[code]

that where clause can use used in any larger q

[2022-09-01 16:24] hitokiri82 commented on #8780
I'm also running into this bug in v2.11.1-cloud.1

[2022-09-01 17:42] adas98012 commented on #8901
Thanks for bringing the issue to our attention. This issue looks similar to [this](https://github.com/hasura/graphql-engine/issues/8898) reported earlier by another user of our community. You may track the issue till its resolution.

Meanwhile, there is a workaround for this, as suggested in the other ticket:
to edit the metadata manually to use the correct type.

Please let us know if the info su

[2022-09-01 17:44] cleivson commented on #6974
What was the PR that solved this issue? Could you point to the version it was released? Thanks

[2022-09-01 18:22] BenoitRanque opened #8904 "BIGQUERY: computed fields arg object is required."
### Version Information

Server Version: 2.6.0

### Environment

EE

### What is the current behaviour?

When using [table computed fields](https://hasura.io/docs/latest/schema/bigquery/computed-fields/) in bigquery, the generated schema will mark the `args` argument as required, even if there are no required arguments.

### What is the expected behaviour?

In postgres, [table computed fields](htt

[2022-09-01 18:28] BenoitRanque opened #8905 "BIGQUERY: invalid sql generated when querying a table computed field"
### Version Information

Server Version: 2.6.0

### Environment

EE
### What is the current behaviour?

when we have 3 nested nodes with the middle node being a table computed field relationship, the SQL query generated by Hasura is not valid.

In the following example, we have a relationship of unifiedloanuniverse_all to parcel_boundary using a table computed field and the relationship from parce

[2022-09-01 20:03] munjalpatel commented on #8901
Thanks @adas98012

That does sound similar. I'll wait for the bug to be fixed.
Is there an ETA? Can it be part of the next patch?

[2022-09-01 23:37] BenoitRanque opened #8908 "Naming convention does not correctly affect enums in relay endpoint"
### Version Information

Server Version: v2.10.1

### Environment

OSS

### What is the current behaviour?

The [experimental `graphql-default` naming convention](https://hasura.io/docs/latest/schema/postgres/naming-convention) modifies enum variants:

This behavior does not carry over to the [relay api](https://hasura.io/docs/latest/api-reference/relay-graphql-api/index/).

### What is the expect

[2022-09-02 00:35] hipitihop opened #8909 "Fragment definition should be allowed following the query that refers to it"
### Version Information

Server Version:
2.11.0

### Environment

OSS

### What is the current behavior?

If a fragment is defined after the query which refers to it, the query fails to validate.

Example, this fails:

[code]

If the `fragment` is moved to the top, ahead of the queries that refer to it, then the query works as expected.

### What is the expected behavior?

The GraphQL specificatio

[2022-09-02 04:47] rakeshkky commented on #8903
The shape of action payload looks like the following (without any transformation)
[code]
We need to add  `action_id` field to the payload, inside `action` object.
[code]
The `action_id` will be an optional value. It will be `null` for sync actions.

[2022-09-02 05:28] fungilation opened #8910 "Graphiql 2 embedding in Hasura Console wen?"
### Is your proposal related to a problem?

Graphiql 2 is much nicer than 1

### Describe the solution you'd like

https://www.youtube.com/watch?v=rNilpXHBpSY

### Describe alternatives you've considered

Graphiql

[2022-09-02 06:43] saolof commented on #7650
We're having the same issue after a migration to postgres 14. All the Hasura queries seem to be permanently idle, while the active queue is dominated by queries that should be lower priority but which are more expensive to run.

[2022-09-02 07:57] lucarestagno opened #8911 "console: integrate Redux into the new FilterSection component"
In order to move out of Redux, we refactored the filters section of the Browse Rows tab.

The new presentational component `FilterSection` is in storybook.

We need to plug Redux into that component and replace the old component with the new one.

TODO:

* [x] Integrate the Redux logic into `FiltersSectionContainer`
* [x] Correctly manage the limit and offset, and the Next button
* [x] Fix the mis

[2022-09-02 09:20] moshtab commented on #2983
Hi shahid

Where we have to write this nginx configuration...

[2022-09-02 09:20] moshtab commented on #2983
Hi @shahidhk
Where we have to write this nginx configuration....

[2022-09-02 09:21] mwahlhuetter commented on #8234
Just wanted to let you know, this bug has been resolved with the 2.8 release of timescaledb.

[2022-09-02 09:45] #8234 closed

[2022-09-02 10:06] mwahlhuetter commented on #8234
No problem! But i'm still curious to what your workaround was, because I had two possible solutions in my mind, one of which did not work because of another bug in hasura..

[2022-09-02 10:41] andoks commented on #5129
I'm having the same issue as OP. One convenient way for this to work would perhaps be to send the identical query using the OPTION http verb, and having the response tell something about the permissions?

[2022-09-02 11:30] sameelTabir opened #8912 "React native expo sdk is depreciated"
Hi! i'm unable to run the boilerplate code since expo SDK is depreciated.
Can someone help me update it?

[2022-09-02 13:43] #8880 closed

[2022-09-02 13:58] BenoitRanque commented on #8829
1. will licenses be readily available to users of the cloud standard tier?
2. alternatively, will it be our position that this feature (being able to set PRO metadata during local dev) is exclusive to enterprise offerings?
3. will there be mechanisms in place to prevent misuse of the licenses?

If we have good answers to all these questions and can eliminate as many roadblocks as possible to allow

[2022-09-02 18:19] adas98012 commented on #8901
We don't have an ETA, but this in radar of the engineering team. We'll update the status of the issue accordingly. Thanks for your patience.

[2022-09-03 01:00] #8901 closed

[2022-09-03 06:16] ppchub opened #8916 "Hasura actions and webhook auth to invoke aws lambda functions directly"
### Is your proposal related to a problem?

Instead of invoking http based api if hasura can invoke  aws  lambda functions using this https://hackage.haskell.org/package/aws-sdk
for webook auth , actions, events etc it will speed up the development process

### Describe alternatives you've considered

### If the feature is approved, would you be willing to submit a PR?

[2022-09-03 06:19] #8916 closed

[2022-09-03 07:30] thatvegandev opened #8917 "Valid JWT supposedly expired"
### Version Information

Server Version:
CLI Version (for CLI related issue):

### Environment

v2.11.1 running in docker on an EC2 instance

### What is the current behaviour?

Tonight I switched my database from running within a VPC to managed by RDS, and suddenly when I log into my app my short-lived JWTs are immediately revoked by Hasura, who claims they are expired.

### What is the expected

[2022-09-03 09:23] hgiasac opened #8918 "server/bigquery: support JSON column type"
### Is your proposal related to a problem?

[BigQuery native JSON support](https://cloud.google.com/bigquery/docs/reference/standard-sql/json-data) is in preview. However GraphQL Engine metadata can't track BigQuery tables that have a JSON column. I guess the current version hasn't supported this type yet.

[code]

### Describe the solution you'd like

N/A

### Describe alternatives you've conside

[2022-09-03 15:43] bnol commented on #8780
+1 v2.11.1

[2022-09-03 15:49] efstathiosntonas commented on #8780
This was “silently” fixed on 2.12.0-beta.1

[2022-09-03 20:26] #8818 closed

[2022-09-04 11:03] sankara-sabapathy opened #8922 "Query variables not prettified when clicking prettify in GraphiQL console"
### Version Information

Server Version:
CLI Version (for CLI related issue):

### Environment

### What is the current behaviour?

### What is the expected behaviour?

### How to reproduce the issue?

1.
2.
3.

### Screenshots or Screencast

### Please provide any traces or logs that could help here.

### Any possible solutions?

### Can you identify the location in the source code where the prob

[2022-09-04 15:02] gringofe commented on #3578
Hi, has there been any further development on this issue?

[2022-09-04 15:19] altechzilla opened #8924 "🧪 Scalability: The ability to aggregate "row_number" and "rank" by "count'."
### Is your proposal related to a problem?

Described what I'm trying to achieve here:
[https://github.com/hasura/graphql-engine/discussions/8923](https://github.com/hasura/graphql-engine/discussions/8923)

### Describe the solution you'd like

An easy way to run an aggregate that returns the `row_number()`, and `rank()`, over a value such as count, sum, etc. Absolutely essential when designing sy

[2022-09-05 05:43] BenoitRanque opened #8925 "CLI: hasura migrate status fails when no hdb_catalog exists on a config v2 project"
### Version Information

Server Version: 2.10.1
CLI Version (for CLI related issue): 2.10.1

### Environment

OSS

### What is the current behaviour?

When running `hasura migrate status` from a config v2 directory, hasura attempts to create the `hdb_catalog.schema_migrations` table if it does not exist.

This fails if the `hdb_catalog` schema does not exist.

This issue may affect all `hasura mig

[2022-09-05 05:55] sarangnx commented on #7328
I encountered same issue a while ago,
It was due to enabling manual event trigger in that table. Disabling it cleared the issue.

[code]

[2022-09-05 08:20] danieljharvey commented on #8799
Have tested `cockroach_add_source` ,`replace_metadata`, `cockroach_track_tables` and `cockroach_untrack_tables`, all are working.

[2022-09-05 08:20] #8799 closed

[2022-09-05 08:26] danieljharvey commented on #8839
Have added all the tests. So far they pass if:

a) We use our HGE hotfix that stops us sending prepared arguments (as `cockroach` is still strict about being sent unused prepared arguments)

b) We enable `stringifyNumbers` for the tests, like we do with BigQuery, as integers from Cockroach are coming back as strings.

[2022-09-05 10:05] Brian-Azizi commented on #3451
Are there any plans to support this natively within Hasura? It would add a lot of safety and improve the dev experience massively when using JSONB types

[2022-09-05 13:58] #8895 closed

[2022-09-05 14:16] soupi commented on #8794
@lucarestagno Nice work! I was able to build and connect to cockroachdb locally. I tried to create a table using the console  "Add a new table" interface, which didn't work because we don't seem to support `run_sql` for cockroach.
Is the plan to add support for `run_sql`, or disable this section?

[2022-09-05 14:35] ivan-kleshnin commented on #3824
`USER 1001 vs USER hasura` difference?

[2022-09-05 15:54] albttx opened #8926 "Console event not scoped on multiple database"
Hasura version: `v2.7.0`

I have 2 databases with some console events

Both databases have an `inventories` table.

In this database, only `pcminventory_generate_ppi` should be present, `event_notify_questionnaire_finalized` and `generate_ppi` belongs to the table `inventories` from the other database.

![image](https://user-images.githubusercontent.com/8089712/188485081-f7b286bc-2408-4491-9abf-2d

[2022-09-05 16:35] RodriguezLucha commented on #1498
I couldn't find the link on the Hasura site seems the website hasn't been updated yet for past recordings but I did find the YouTube link here https://www.youtube.com/watch?v=4LUiztVe8EA

[2022-09-05 21:06] crieggalder commented on #3666
@tirumaraiselvan Bumping this as closed incorrectly - support on-conflict support for partial unique indexes still very much desired.

[2022-09-06 03:44] 27medkamal opened #8929 "Many bugs with the new graphql-default naming convention - part 2"
### Version Information

Server Version: 2.11.1

### Environment

OSS

### What is the current behaviour?

The naming convention seems to be inconsistent in the following way:

**1. mutation_root**
**2. query_root**
**3. subscription_root**
**5. Constraint name:**
[code]

**6. update_columns**
[code]

**4. pk_columns**
[code]
**7. affected_rows**

**8. Aggregates**
[code]

**9. JSON**
[code]

**10

[2022-09-06 05:17] manasag commented on #8922
Hi @sankara-sabapathy, thank you for opening this issue. It's not yet clear to us what the actual error is and where it comes from. Could you please add some more details if available, e,g. Hasura version, screenshots, etc? 🙂

[2022-09-06 05:45] manasag commented on #8912
Hi @sameelTabir, thank you for opening this issue. It's not yet clear to us what the actual error is and where it comes from. Could you please add some more details, e.g. Error logs, location of the mentioned code, etc? 🙂

[2022-09-06 05:49] manasag commented on #8910
Hi @fungilation, thank you for opening the issue. We are currently evaluating Graphiql 2 and the efforts involved in the upgradation. We will update once we have more information on the plan.

[2022-09-06 06:01] manasag commented on #8900
The fix is being patched in 2.11 release.

[2022-09-06 08:51] sankara-sabapathy commented on #8922
Please check the Hasura GraphiQL Console where we have query and variables section. We have prettify button on the UI to format the GraphQL query but no formatting support for query variables section.

Hasura version: all versions

[2022-09-06 09:47] mikejackowski commented on #4356
any updates on sorting by computed_field with args? It's been a while now

[2022-09-06 11:34] elgordino commented on #8632
Hi @coco98 sorry for the extended delay in replying.

Let me outline the architecture I currently have in place that I am hoping to move to Streaming Subscriptions. It's how we subscribe users to thousands of records per user across many tables at a very low cost.

When a client app boots it may load a few thousand records, the client then needs to be notified if any of these records change. Rathe

[2022-09-06 13:53] lucarestagno opened #8932 "console: add support for insert row for CockroachDB"
Compared to Postgres, CockroachDB returns `is_generated=NO` instead of `is_generated=NEVER`.
Therefore we need to correctly handle the value in the Console.

PostgreSQL documentation: https://www.postgresql.org/docs/current/infoschema-columns.html
[code]

CockroadhDB documentation: https://www.cockroachlabs.com/docs/stable/information-schema.html
[code]

[2022-09-06 15:34] andoks commented on #8819
The above "trigger ... already exists" error is also stopping me from adding and remove columns from existing tables in the database.

I did some testing on the various versions of hasura, and it seems like this bug (assuming it is a bug) does not happen with v2.6.2, but starts happening with v2.7.0. Due to this issue I have had to downgrade Hasura to v2.6.2 for now.

[2022-09-06 16:03] danieljharvey commented on #8839
The prepared args for metadata are fixed and in `main` but the fix for regular queries is "just don't send the user metadata" which can't be merged because it unblocks console work but ruins any query that uses permissions: https://github.com/hasura/graphql-engine-mono/pull/5592

The Simple Query tests are done though, have added https://github.com/hasura/graphql-engine-mono/pull/5773 so that they

[2022-09-06 17:32] lucasdellabella opened #8933 "Make admin interface usable without internet."
### Is your proposal related to a problem?

I'm frustrated because the locally running admin interface on localhost:8080 needs to make web requests to run. I was trying to develop with no internet while on a flight and I couldn't.

### Describe the solution you'd like

Bundle all the js and css that you use for the local admin client with the local admin client so I can work without internet.

###

[2022-09-06 20:27] meyvan commented on #3128
@svetlasyrimis mentioned this command should make a transaction, apply all migrations, get the results BUT rollback immediately irrespective of whether they succeed or not. This boosts confidence that whether the migrations work or not

[2022-09-06 22:35] coco98 commented on #8632
Thanks - this is great context!

What authorization rules do you have on the changes table that will be streamed out to users?

On Tue, Sep 6 2022 at 4:34 AM, Gordon Johnston < ***@***.*** > wrote:

[2022-09-07 04:46] nga-27 commented on #4787
Looks like both `JSON` and `jsonb` types (so the same, depending on DB usage) are still not supported. Would love to have it!

[2022-09-07 07:43] tirumaraiselvan commented on #7907
Although, I kinda agree with having this configuration option but I think this is something that users may shoot themselves in the foot with (so maybe the concern I am raising below is a documentation issue).

Suppose a user sets this option in their /healthz endpoint and one table/relationship is having some inconsistency then all the hasura instances are now deemed unavailable and it can't even

[2022-09-07 08:55] shiftlabs1 commented on #1175
This should already be considered. it will make for an excellent feature. I don't think there should be any concern around the additional or related data changing after the call. Currently we use postgres trigger and the http extension in postgres to send all needed data to the endpoint which works very well. The only missing peace is the replay ability the Hasura event trigger provides.

[2022-09-07 09:04] sassela commented on #8839
Gotcha, so confirming here that https://github.com/cockroachdb/cockroach/issues/86375, specifically a change to the wire protocol prepare, is the only thing blocking us from enabling those tests.

[2022-09-07 09:13] mnlbox commented on #8835
Thanks @manasag :+1:
Any plan for adding this feature to the community edition of Hasura also?

[2022-09-07 09:14] tirumaraiselvan commented on #8933
Console can run offline: https://hasura.io/docs/latest/deployment/graphql-engine-flags/config-examples/#console-assets-on-server

But I think there is a scope for much better experience here so a user can figure this out themselves when they have no internet.

[2022-09-07 11:59] sayjeyhi opened #8934 "Hasura deploy will not create event triggers on db"
### Version Information

Server Version: 2.8.4
CLI Version (for CLI related issue): v2.9.0

### Environment
GCE - OSS

### What is the current behavior?
After changing metadata when I run `hasura deploy` the changes did not apply on DB and it only displayed the event triggers there. So changing data is not triggering these events. (I created another one on server and worked)

### What is the expec

[2022-09-07 12:26] rikinsk opened #8935 "console: cannot select columns in insert/update permissions"
### Version Information

Server Version: v2.11

### Environment

All

### What is the current behaviour?

Cannot select individual columns in insert/update permissions. Only toggle all works

### What is the expected behaviour?

Allow selecting individual columns in insert/update permissions

### How to reproduce the issue?

1. Create a table
2. Go to permissions tab
3. Set row permissions for ins

[2022-09-07 12:30] rikinsk opened #8936 "console: formatting issues with the table permissions UI"
### Version Information

Server Version: v2.12-beta.1
CLI Version (for CLI related issue):

### Environment

OSS

### What is the current behaviour?

The UI looks a little messed up due to the tooltips and summary for the permissions sections moving to the next line

### What is the expected behaviour?

The UI should be reverted to as it was

### Screenshots or Screencast

![Screenshot from 2022-0

[2022-09-07 12:58] lucarestagno opened #8937 "console: permissions UI not working as expected"
### Version Information

Console version: 2.11 & 2.12

### Environment

All environments

### What is the current behavior?

When I click on select permissions or insert permissions, I'm not able to toggle the checkboxes.

Moreover the UI is not correctly aligned
![image](https://user-images.githubusercontent.com/59067245/188888564-9331a319-15bb-4b4b-82b4-e6de50d41887.png)

[2022-09-07 14:57] soupi commented on #8902
I think I traced this issue to:

- `src-lib/Hasura/RQL/DDL/Schema/Cache/Dependencies.hs:(51,1)-(56,43)`: the `resolveDependencies` function.

[2022-09-07 15:34] elgordino commented on #8632
I'll explain a little more about the 'notify' table.

The idea I had is that when a record in a data table is mutated the notification of that change needs to go to users of various 'scopes' who might potentially need to know about the updated record.

For example there could be three scopes

* Organization - Anyone logged in as this organization may need to know about this record change
* Project

[2022-09-07 15:34] jcarrus commented on #462
For anyone who comes across this issue looking for a way to get more accurate field types, there's a related discussion here: https://github.com/hasura/graphql-engine/issues/1965

The conversation in the issue mentions accomplishing this both via introspection and also via a manual metadata annotation.

[2022-09-07 16:28] ilijaNL commented on #8632
@elgordino I am following this topic and I also implemented a similar notify table. I will give you some recommendations how you can fix your problems.

First you can generalize your notify table to more generic table structure: id(pk, auto-generated), resource_type(string), resource_id (id/string).
This way you can add more resource types in future.

Next to make sure no data is missed by subscri

[2022-09-07 17:43] illepic commented on #8780
Verified fixed for me on `v2.12.0-beta.1`.

[2022-09-07 20:19] meetzaveri opened #8939 "docs: improve streaming subscriptions docs regarding sticky sessions requirement"
### Is your proposal related to a problem?
For streaming PG subscriptions against a pool of Hasura servers  (only a single PG) that are behind a single IP proxy/load-balancer, are sticky sessions required?

It looks like the state is on the server which implies yes, but maybe that state is stored in PG so would be shared so they are not needed?

### Describe the solution you'd like
We can update t

[2022-09-07 20:46] coco98 commented on #8939
@meetzaveri I replied on discord as well, but the quick answer to this is that sticky sessions are not required.

Maybe we should make this clear with a line that we add on the docs page for subscriptions and steaming subscriptions.

[2022-09-07 20:49] adas98012 commented on #8934
We attempted to reproduce the issue in test environment, but could not. There may be some issues specific to your environment preventing a smooth creation of event triggers. Please send an email to support@hasura.io with details about the issue, we'll be able to follow up from there, through a non-public channel.

[2022-09-08 04:44] meetzaveri commented on #8939
@coco98 Yes agree, like we can utilize a "note" section and add it there.

[2022-09-08 04:45] GimpMaster opened #8944 "After updating permission, resource does not exist, locked out of console."
### Version Information

Server Version: 2.10.0
CLI Version (for CLI related issue):

### Environment

OSS: Hosted on an Ubuntu 20.04 LTS server. Docker container (compose script with both postgres and hasura)

### What is the current behaviour?

Whenever I go to update permissions in the database (i.e. add a new permission role) the hasura console locks me out. The only way to get back into hasur

[2022-09-08 04:47] GimpMaster commented on #8944
Additional notes: I have a local hasura docker container pointing to the remote postgres. When this issue happens the local one still continues working.....UNTIL i try to adjust the permissions on the local console. Then the local starts saying resource: not-found.

The local one is running in a WSL2 instances. I have to do a full wsl --shutdown. Then I can bring back up hasura and have it start w

[2022-09-08 06:23] sayjeyhi commented on #8934
Hmm, I don't know, I've created them on live servers manually, and it worked, closing for now. Will reopen this if it happens again.

[2022-09-08 06:23] #8934 closed

[2022-09-08 10:43] ilijaNL commented on #8632
At least once is not possible with hasuras stream subscriptions since it requires an acknowledgement from the receiving side and is more suitable for server to server scenarios (see message brokers like rabbitmq). I think you should use hasura subscription as notify mechanism, and then fetch the missing data. Which means, when a event comes in with a subscription, it means there is something new,

[2022-09-08 12:21] elgordino commented on #8632
Ah yeah I guess I shouldn't say 'at least once' as such. The client is managing it's own position and refreshing data as necessary if there is a disconnect or some trouble on the websocket etc, and the notify just needs to be a notify, the client then refreshes the full data as necessary. What I do need though it to ensure that the notification of change does get sent when the client is happily co

[2022-09-08 12:47] coco98 commented on #8632
@elgordino Thanks for the context on the permission rules :)
We're working on a thing to make this easier for this use-case and will share it soon!

[2022-09-08 12:50] soupi commented on #8902
With Auke's help, we traced the issue to querying cockroachdb, in the [cockroachFetchTableMetadata](https://github.com/hasura/graphql-engine-mono/blob/main/server/src-lib/Hasura/Backends/Postgres/DDL/Source.hs#L376). So we need to take a look at https://github.com/hasura/graphql-engine-mono/blob/main/server/src-rsr/cockroach_table_metadata.sql

[2022-09-08 13:22] lucarestagno commented on #8890
The issue seems related to the fact that CockroacHDB doesn't support this syntax `SELECT FROM`, while Postgres does.

We opened an issue to the CockroachDB repository to get a more consistent behaviour https://github.com/cockroachdb/cockroach/issues/87428

[2022-09-08 17:19] adas98012 commented on #8944
From the docker log it seems you have inconsistent metadata.
You may be able to resolve it and then proceed with your workflow.
Here is the Hasura Document to spot inconsistent metedata (and then resolve it):

https://hasura.io/docs/latest/api-reference/metadata-api/manage-metadata/#metadata-get-inconsistent-metadata

[2022-09-08 17:22] elgordino commented on #8632
@coco98 excellent pleased to hear it. I'll look forward to giving it a go :)

[2022-09-08 17:38] adas98012 commented on #8944
And here is the same info for Hasura CLI:

https://hasura.io/docs/latest/hasura-cli/commands/hasura_metadata_inconsistency_list/

[2022-09-08 17:39] GimpMaster commented on #8944
Thank you.

Do you know if you can run the hasura cli from inside a docker container?

Or is it a tool that lives on the host?

On Thu, Sep 8, 2022 at 11:38 adas98012 ***@***.***> wrote:

[2022-09-08 20:15] cakemountain commented on #3666
@tirumaraiselvan is this on the roadmap? This has come up several times in the past year with my team :)

[2022-09-08 20:52] GimpMaster commented on #8944
@adas98012  - I was able to get hasura cli installed and with the config.yaml I was able to connect to my remote docker endpoint url. The hasura metadata commands run as expected. No inconsistency listing.

So I logged in again. I copied permissions from one role to another (new role). It copied it successfully. Then when clicking on any link in the console it instantly logged me out. I get the re

[2022-09-08 21:16] rafiss commented on #8821
`pg_get_functiondef` will be available in v22.2 as well

[2022-09-09 01:22] GimpMaster commented on #8944
I think the issue is when I got auto-logged out the URL was in-correct. Changing the url to get back to just the /console/login I was able to login again. Still not sure why it sometimes logs me out.

[2022-09-09 01:23] GimpMaster commented on #8944
I'm going to close this issue until I can persistently replicate the issue.

[2022-09-09 01:23] #8944 closed

[2022-09-09 02:12] malsharman commented on #8624
The bug applies to versions > 2.8 Have tried all versions from 2.9.1 -> 2.11.1 and all exhibit the same behaviour.

The workaround mentioned above does work, but I needed to add a `hasura metadata reload` command as well in order for metadata to be consistent.

[2022-09-09 02:53] HARAJLI98 opened #8947 "Event Triggers: Camel case naming conventions not applied to the event payload"
### Version Information

Server Version: v2.11.1

### Environment

All environments

### What is the current behaviour?

If the `graphql-default` naming convention is enabled as described here: https://hasura.io/docs/latest/schema/postgres/naming-convention/ event trigger payloads will not have the columns camel cased.

Example payload when the `graphql-default` naming convention is enabled:

[cod

[2022-09-09 08:01] xsoheilalizadeh commented on #7683
It would be very useful to have OpenTelemetry support in Hasura, please prioritize it if possible.

[2022-09-09 09:04] meetzaveri opened #8948 "metadata/bug: dropping table from console does not delete its corresponding metadata file"
### Version Information

Server Version: 2.11.1
CLI Version (for CLI related issue):v3

### Environment
OSS

### What is the current behaviour?
Currently, when I drop a table from DB, it does not remove its metadata related file in metadata directory. That is `metadata/databases/<dbname>/tables/<schema_name>_<deleted_table_name>.yaml` this file still exists

### What is the expected behaviour?
It

[2022-09-09 10:21] yogeshwar607 commented on #3666
my team also needs this heavily

[2022-09-09 12:01] #8937 closed

[2022-09-09 12:01] #8932 closed

[2022-09-09 16:44] ddevoss commented on #8780
Just started getting this error on our cloud instance.

v2.11.1-cloud.2

[2022-09-09 16:59] Deathwish98 commented on #5482
Any updates on this @0x777 ?

[2022-09-09 17:15] thewillhuang commented on #678
yes please

[2022-09-09 20:09] TeoTN opened #8949 "Custom root url"
### Is your proposal related to a problem?

I'd like to be able to configure a non-standard root url for hasura, e.g. `/api/*`.
It's nearly impossible in my (free tier) setup:
* AWS ELB does not support path rewrites
* CloudFlare DNS only allows `regex_replace` function to be used in business/enterprise plan
* nginx as a reverse proxy adds overhead slowing down all requests, and to be honest its i

[2022-09-10 00:49] dsandip opened #8950 "Console: time limit feature should have some indication of the units"
The console page for `Security Settings -> API Limits` does indicate the units for the operation time limit configuration (like, let's say, the Req rate limit):

<img width="1363" alt="Screenshot 2022-09-09 at 5 46 37 PM" src="https://user-images.githubusercontent.com/24300818/189462169-269aa12c-14fe-485b-ac7e-c5f47d5e7d1b.png">

[2022-09-10 01:02] dsandip opened #8951 "Rate limits by specific query"
### Describe the solution you'd like

Allow rate limits by specific operations/queries in addition to the use of IP/session variables.

[2022-09-10 01:03] dsandip commented on #8951
@rahulagarwal13 [FYI](https://hasurahelp.zendesk.com/agent/tickets/5812).

[2022-09-10 02:41] jflambert opened #8952 "[2.11.1] Cannot customize table tracking"
### Version Information

Server Version: 2.11.1

### Environment

OSS

### What is the current behaviour?

Hasura crashes when customizing a table tracking operation.

### What is the expected behaviour?

should work

### How to reproduce the issue?

1. select a schema with an untracked table
2. click the gear instead of the tracking button
3. choose a new custom table name
4. hasura crashes

###

[2022-09-10 18:58] dventimihasura commented on #4356
@mikejackowski this feature request is not currently scheduled.  I believe it's also not strictly necessary, since it is possible to use sort the results of tracked custom functions, even if it's not currently possible to sort by computed fields.  This is illustrated in this GitHub repository and sub-directory:

https://github.com/dventimihasura/hasura-projects/tree/master/computed-fields-1

[2022-09-11 05:33] ryparker commented on #8780
Can we reopen this or should we create a new issue?

[2022-09-11 05:48] ryparker opened #8955 "(console): `NullsOrder failed` when attempting to sort table"
### Version Information

Server Version: v2.11.1

### Environment

OSS

### What is the current behaviour?

Sorting a table by a field in the Console UI throws:

[code]

### What is the expected behaviour?

To sort the table.

### How to reproduce the issue?

1. Click on a header in any populated table in an attempt to sort the table.

### Screenshots or Screencast

<img width="547" alt="CleanShot

[2022-09-11 10:58] ArturHarutunyan commented on #3578
Hi there. I want to use Hasura with apollo gateway, but unfortunately, I get an error `Unknown type uuid`, also some with `json` and `jsonb`.
and there is no way to declare custom scalars

[2022-09-11 15:06] karibertils commented on #5001
Any news on this one ?

[2022-09-11 17:08] ilovett commented on #8935
@rikinsk might this have to do with naming conventions or upgrading from a previous version?

[2022-09-11 19:01] securisec opened #8956 "Custom function mutations is expecting return type as a required argument"
### Discussed in https://github.com/hasura/graphql-engine/discussions/8954

<div type='discussions-op-text'>

<sup>Originally posted by **securisec** September 11, 2022</sup>
TLDR : The mutation is expecting the return type as a valid arg. Based on the example, it is expecting `after_updated` as a valid `args` which may be a bug.

When working with a custom function, I am having an issue that seem

[2022-09-11 19:10] jozef-slezak opened #8957 "Custom function mutations nor returning setof should be without where/limits/distinct"
### Version Information

Server Version:
v2.11.1-cloud.2

### Environment

Cloud/ OSS

### What is the current behaviour?

Hasura can track mutation from custom volatile postgres function that returns single object (not an array)

[code]

### What is the expected behaviour?

Just `arg: {name}` for this mutation in graphql schema - without `where: {} limit distint`

### How to reproduce the issue?

[2022-09-12 00:57] pastelcolors commented on #2333
Any updates? Looking forward to this feature as well

[2022-09-12 02:39] tibotiber opened #8958 "Debounce webhooks with Retry-After header (docs?)"
### Is your proposal related to a problem?

Hi folks, the docs indicate that "The Retry-After header can be used for retrying/rate-limiting/debouncing your webhook triggers.". I'm curious how debouncing a webhook could work?

My use-case is I trigger a computation when a column changes, but that column can change very often and I'd like to limit how often the webhook would be called. I've asked fo

[2022-09-12 04:51] terrymunro commented on #7903
[source](https://docs.microsoft.com/en-gb/sql/connect/odbc/linux-mac/install-microsoft-odbc-driver-sql-server-macos?view=sql-server-ver15)

[2022-09-12 05:07] manasag commented on #8955
Hi @ryparker , thanks for reporting the issue. Yes, this is a known regression as you mentioned. We should be able to patch and release a new 2.11 version in next 24 hours.

[2022-09-12 05:49] Aiden0 opened #8959 "MS SQL Server empty array inserts raises syntax error"
### Version Information
Server Version: v2.10.0.cli-migrations-v3

### Environment
OSS

### What is the current behaviour?
If i have a simple table, in sql server database, with columns id and name and I insert an empty array like so:

[code]
 I get the error back:

[code]

### What is the expected behaviour?

Should give the response:

[code]

which it does for  PostgreSQL database.

### How to r

[2022-09-12 07:57] Matmut7 commented on #2205
Hi, any updates on this or the CSRF mitigation topic in general?

[2022-09-12 08:05] rikinsk commented on #8935
Closed via ff65de1df4b36468158da040570e18ebf2053a62

[2022-09-12 08:05] #8935 closed

[2022-09-12 08:05] vitaliytv opened #8961 "[2.11.1] in operator"
### Version Information

Server Version: 2.11.1 only, 2.11.0 work as expected

### Environment

OSS

### What is the current behaviour?

query with non latin symbol in operator return empty result
for example:
[code]

return empty array

### What is the expected behaviour?

with 2.11.0
query with non latin symbol in operator return empty result
for example:
[code]

return correct result

[2022-09-12 08:06] rikinsk commented on #8936
Fixed via https://github.com/hasura/graphql-engine/commit/0af851419834d54a848ebbaec67ac36c5c9539be

[2022-09-12 08:06] #8936 closed

[2022-09-12 08:09] rikinsk commented on #8933
Closing in favour of https://github.com/hasura/graphql-engine/issues/2816. Please feel free to reopen this if you have different suggestions

[2022-09-12 08:09] #8933 closed

[2022-09-12 10:36] soorajshankar commented on #8881
Hey @adas98012,

Thanks for creating the issue!
At the moment if you want to use a type on actions, you need to define this as custom types, and you cannot use generated types (from Database schema) while creating an action.

There is already an open issue here #5001 on re-using generated types on actions.
(closing this to keep a single open thread)

[2022-09-12 10:36] #8881 closed

[2022-09-12 13:27] Yann-P commented on #7012
Upvoting this one! Use case: periodically refreshing a materialized view in a way that is logged in Hasura.

[2022-09-12 17:05] adas98012 opened #8962 "missing required field 'args' when using session variables in a custom function"
### Discussed in https://github.com/hasura/graphql-engine/discussions/8954

<div type='discussions-op-text'>

<sup>Originally posted by **securisec** September 10, 2022</sup>
When working with a custom function, I am having an issue that seems to defy the docs. I have a custom function that gets the user id from `x-hasura-user-id` and updates a table.

My custom function signature is:
[code]

This

[2022-09-12 17:09] #8962 closed

[2022-09-12 17:10] adas98012 commented on #8962
An issue is already opened for this: https://github.com/hasura/graphql-engine/issues/8956

[2022-09-12 18:15] dannick-hasura commented on #8844
+1
I have an additional request from a client for this functionality of renaming the `update_many` mutation.

[2022-09-12 21:04] meetzaveri commented on #4958
If you are not using it with auth webhook, or you have simply base level authentication i.e. hasura admin secret, then you need to pass that `x-hasura-admin-secret` header with your env value in to Additional headers section in remote schema form.

[2022-09-13 00:02] shahidhk commented on #8955
The fix is released with https://github.com/hasura/graphql-engine/releases/tag/v2.11.2

[2022-09-13 00:02] #8955 closed

[2022-09-13 00:03] shahidhk commented on #8780
The fix is now available with https://github.com/hasura/graphql-engine/releases/tag/v2.11.2

[2022-09-13 00:07] dsandip commented on #8904
[Ref conversation](https://hasurahelp.zendesk.com/agent/tickets/5660)

[2022-09-13 00:08] dsandip commented on #8905
[Ref conversation](https://hasurahelp.zendesk.com/agent/tickets/5660)

[2022-09-13 05:08] ilijaNL commented on #5001
bump

[2022-09-13 08:16] davidpanic commented on #660
Has there been any progress on this? We would like to take advantage of our postgres read replicas by running additional read only hasura instances and splitting reads on the apollo client. This is currently preventing us from doing that.

[2022-09-13 12:10] manasag commented on #8315
Hi @ilovett , thanks for opening this issue.

As per this [doc](https://hasura.io/docs/latest/hasura-cli/config-reference/), one can provide a custom `env` file which can act an alternative to a custom config file. e.g. `hasura console --envfile production.env`.
Other option is the `--project` flag, where you can provide a "non current" project directory location.

Would the above options help in

[2022-09-13 12:25] danieljharvey commented on #8866
It seemed like there was an opportunity for a fix in the `schema-parsers` library here: https://github.com/hasura/graphql-engine-mono/blob/main/server/lib/schema-parsers/src/Hasura/GraphQL/Parser/Internal/Parser.hs#L189. However on closer inspection it seems more complicated than that.

Currently we collect together all the `FieldParser`s that are generated and group any duplicates by name and usi

[2022-09-13 15:31] tirumaraiselvan commented on #660
Hey folks, it should be possible to add a read replica as a datasource directly if you configure a separate (writeable) metadata db.

[2022-09-13 15:31] #660 closed

[2022-09-13 15:58] BenoitRanque commented on #7537
I've reproduced this in cases where some rows have special characters that seem to confuse the serializer.
To workaround this, you can download the JSON file instead, and then convert that to CSV.

[2022-09-13 18:16] gunar commented on #8366
This is a security issue.

This issue means anyone can DoS (Denial of Service) a Hasura service by simply crafting a specific query. I've been encountering the same problem and I'd be okay with Hasura denying/rejecting such requests rather running out of memory which brings down the whole service.

This need to be prioritized.

[2022-09-13 20:18] abooij commented on #8866
I think this kind of approach is within the realm of what is already being explored by the Product Platform team as part of the work that's specified in #4998. So I'd like to request a change of direction here. The Native Databases team should work on finding a way to build a schema that avoids triggering this error in the first place, i.e. to avoid generating duplicate field names. I'm requesting

[2022-09-13 20:19] abooij commented on #8866
Put differently: we're approaching this from two angles:

1. To avoid conflicts in the first place by generating better field names. (Native Databases)
2. By figuring out a better way to deal with conflicts once they arise. (Product Platform)

[2022-09-13 20:26] meetzaveri opened #8966 "Hasura Pro CLI plugin install failing in mac m1"
### Discussed in https://github.com/hasura/graphql-engine/discussions/8963

<div type='discussions-op-text'>

<sup>Originally posted by **phamquyhai** September 13, 2022</sup>
When i run cmd `hasura plugin install pro`
i got error
[code]
I using Macbook with Mac OS Monterey

Thanks</div>

### Regarding requesting change in docs for hasura pro CLI
Until there is fix available for mac m1 users, it w

[2022-09-13 20:28] adas98012 commented on #8961
Steps to reproduce:
1. Create a postgres table:

[code]
2. INSERT some non-latin values (in group_id field):

[code]
3. Start Graphql server locally (with different versions of the graphql-server, using docker) and connect to the above database.

4. Run queries and compare the results (screenshots added)

<img width="1136" alt="Screen Shot 2022-09-12 at 11 45 06 AM" src="https://user-images.github

[2022-09-13 20:36] adas98012 commented on #8961
**2.11.0:**

![Screen Shot 2022-09-13 at 1 33 31 PM](https://user-images.githubusercontent.com/101733366/190004170-67359a21-98fb-4c79-a9d3-441ddc3d6b53.png)

[2022-09-14 07:54] #8836 closed

[2022-09-14 08:19] soupi commented on #8961
Thanks @vitaliytv for the report and @adas98012 for the additional reproduction steps! We have identified the issue and are working on a fix.

[2022-09-14 15:46] gneeri opened #8967 "High CPU when using WS client in Kotlin"
### Version Information

Server Version:
CLI Version (for CLI related issue):
v2.10.1.cli-migrations-v3

### Environment

OSS

### What is the current behaviour?

Per the repro demonstration in this [linked](https://github.com/gurukulkarni/apollo3-hasura-sample/blob/main/app/src/main/kotlin/subscription/App.kt) repository, enabling the `useGraphQLWsProtocol` option in the Apollo client creation co

[2022-09-14 19:29] treystout commented on #5050
I see that a spec has been merged to help support this feature (https://github.com/hasura/graphql-engine/blob/master/rfcs/transforms.md) what does this mean for this feature?

[2022-09-14 20:46] elephant3 commented on #2416
Any progress? This feature request shall be prioritized as it's security-related

[2022-09-14 23:44] dsandip opened #8968 "Support for singular queries (using by_pk filter) for views"
### Describe the solution you'd like

The ability to request a single entity from a view i.e. the equivalent of the by_pk query field for regular tables.

[2022-09-15 00:04] andrewalex commented on #8968
Being able to arbitrarily add column(s)s for unique/direct selection to create new roots would likely be the most versatile way to do this.

Really it should be largely irrelevant to a graphql/hasura consumer if a database object is a view or table.

[2022-09-15 00:51] Aiden0 commented on #8959
Hey @adas98012 so I think I get the same error in v2.10.0 when I add the object as only `{}`.  I upgraded to v2.11.2 which when doing `mutation {
  insert_States(objects: {}) {
    affected_rows
  }
}` it returns error:

[code]

which makes sense

[code]
mutation {
  insert_UserStatus(objects: {}) {
    affected_rows
  }
}
[code]
{
  "data": {
    "insert_UserStatus": {
      "affected_rows": 1

[2022-09-15 04:37] stevehenderson commented on #2208
When trying to handle JWT from both Auth0 and Firebase (or Cloud Identity), you may run into an error:

`"Could not verify JWT: Multiple JWTs found"`

The issue is that the [Auth0 suggested JWT](https://hasura.io/docs/latest/auth/authentication/jwt/#popular-providers-and-known-issues) documentation is specified as a key, where [Firebase suggested JWT](https://hasura.io/docs/latest/auth/authenticat

[2022-09-15 08:30] sassela commented on #8821
thanks @rafiss ! @plcplc , looks like we only have `!~~` remaining. Is there any reason why we couldn't just swap the alias out for `NOT LIKE`? If not, please could you point me to exactly where you came across it?

[2022-09-15 08:52] sassela commented on #8866
discussing this in standup, here's the related Product Platform team RFC FYI https://github.com/hasura/graphql-engine-mono/blob/vamshi/rfc/graphql-schema-validation/rfcs/validating-graphql-schema.md

[2022-09-15 09:20] sassela commented on #8844
thanks folks. We're actively working on the [backend](https://github.com/hasura/graphql-engine/issues/8866) part of this. Current plan is to put the [multiple updates](https://github.com/hasura/graphql-engine/issues/2768) feature behind a [command line flag](https://hasura.io/docs/latest/deployment/graphql-engine-flags/reference/#command-flags), which users can switch off if they're affected by th

[2022-09-15 09:23] sassela commented on #2768
Thanks for your patience with this, folks. I'm closing this issue as it was implemented at https://github.com/hasura/graphql-engine/commit/d76aab99e103adc7236b15f629839b34869ee944 and released in [v2.10.0](https://github.com/hasura/graphql-engine/releases/tag/v2.10.0). But please keep your feedback coming via comments on this issue; the Hasura team will be notified of it.

[2022-09-15 09:23] #2768 closed

[2022-09-15 09:31] danieljharvey commented on #8866
Going to reduce the scope of this to begin with - it occurred because of the addition of the `<tablename>_updates` fields recently. We can solve the concrete problem with a feature flag for disabling this feature. The the workflow for unblocking users is

Users run HGE with `DISABLE_UPDATES_FIELD` feature flag enabled (so it now starts up)
Users renames the conflicting `<tablename>_updates` field

[2022-09-15 09:35] danieljharvey commented on #8866
We'll also need to fix this in the console so users are able to do the renaming: https://github.com/hasura/graphql-engine-mono/issues/5887

[2022-09-15 13:52] amal-chandran opened #8969 "Not able to delete one off scheduled events via SQL"
### Version Information

Server Version: 2.11.2-cloud.1

### Environment

Cloud/OSS

### What is the current behavior?

Im trying to delete one-off events from hdb_catalog.hdb_scheduled_events
I was able to invoke run_sql and clear the same in local deployment (by using docker-compose)
but in hasura cloud the hdb_catalog.hdb_scheduled_events is an empty table (when i accessed it directly using dat

[2022-09-15 14:17] dsandip opened #8970 "Better error handling for unsupported SQL server versions"
### Version Information

Server Version: `v2.11.2`
### Environment

Database: `MS SQL Server`

### What is the current behaviour?

When you connect an unsupported SQL server version, you get an error like the following (*this is with SQL Server version 2012*):

[code]

### What is the expected behaviour?

A clear indication that Hasura doesn't support this version and information on where to find

[2022-09-15 19:32] adas98012 commented on #8959
@Aiden0 Thanks for trying out all the scenarios. Looks like we have a viable workaround to use "[{}]" for an empty array.
Please close the ticket if you are ok with the workaround.

[2022-09-15 19:42] LydiaF commented on #7440
I think another good usecase for @defer could be when a model has a computed field that takes a while to formulate.

Thanks for consideration :)

[2022-09-15 19:43] SamirTalwar commented on #8807
I've been digging into this and it seems quite clear that this is caused by a failure to invalidate the relevant parts of the schema cache upon replacing the metadata.

This seems intentional. I'm happy to change the behavior so that the schema cache is invalidated upon replacing the metadata, but before I do that, it'd be good to know that we are happy with this change, and that there isn't a goo

[2022-09-15 20:42] abooij commented on #8807
The inconsistencies raised by migrations normally get resolved after the final `hasura metadata apply`. So what causes this to normally work as expected, but fail in the case reported in this issue?

Depending on the answer, I'm inclined to say that this is an oversight. I was not involved in the original development of `replace_metadata` - @SamirTalwar have you done any archeological work in this

[2022-09-15 20:45] abooij commented on #8807
At some point there was an idea to have the Console be fully powered by the `replace_metadata` API, rather than using the incremental metadata API. In that case, it would be important _not_ to invalidate the schema cache fully every time.

@0x777 might also have some context here.

[2022-09-15 21:27] RobSchilderr commented on #8439
Any updates on this?

[2022-09-15 23:33] tirumaraiselvan commented on #8632
@elgordino Heyo! Sorry for the wait.

We tried few benchmarks with a monotonic id generated via pg_advisory_locks and it is really fast. It can be set up via a `BEFORE INSERT` trigger. The first one is an example of a "global" lock over all inserts to generate this id:

[code]

Depending on your application, you can optimize this further by taking a lock over a "partition" value. For example, in a

[2022-09-16 02:25] Aiden0 commented on #8959
Hey @adas98012 but I want to send an empty array not an array of malformed objects. Thus I except the result for handling an empty array i.e `[]` would be similar to using the PostgresSql driver. Which would be:

[code]
, not incorrect syntax.

Otherwise I have to check the length of the array is 0 every time and choose not to send the data. Which usually wouldn't be so bad, but I can't do that if

[2022-09-16 04:51] karibertils commented on #348
Would like to see proper array support.

[2022-09-16 06:56] ilijaNL commented on #8632
The solution mentioned by @tirumaraiselvan won't fix they issue of @elgordino since his transactions taking a long time and the lock is released when after transaction commit. Additionally this should happen as after insert trigger, otherwise the cursor could miss "slow" transactions. Advisory lock per partition key improves it (less concurrent locking) however it depends on amount of partions. If

[2022-09-16 07:06] coco98 commented on #8632
Not sure I understand.

Both before and after triggers apply exactly around whenever the insert statement happens in a transaction.

Additionally. I think this trigger would be applied to the CDC audit table and not the actual transaction table. Doesn’t matter from a perf pov since everything will be a single transaction, but the lock acquisition is the last step.

I saw the benchmarks that tiru r

[2022-09-16 07:10] coco98 commented on #8632
Ofcourse - we also checked if the load testing created any missing events and that wasn’t the case!

On Fri, Sep 16 2022 at 12:06 AM, Tanmai Gopal < ***@***.*** > wrote:

[2022-09-16 07:26] ilijaNL commented on #8632
The advisory lock will still block other transactions, and this performance can be significant if you cant use/dont have partions and the transactions tacking long time. The after insert is used to reduce (even if it is really small) the lock time. However I am not sure how much time it safes but I assume it can be significant since postgres does some contraint checks per statement instead of tran

[2022-09-16 08:11] SamirTalwar commented on #8807
I tried digging into the thought process behind `replace_metadata` but didn't find too much; I think tacit knowledge is going to get us further than Git history in this case.

[2022-09-16 08:13] SamirTalwar commented on #8807
In this case, the inconsistencies are already present, which I think is different from the case you're describing, in which the migration introduces an inconsistency. Do I have this right?

Are you saying the migration step should automatically reload the schema, or is it more nuanced than that?

[2022-09-16 09:07] WGTW commented on #8826
The #c0b7d14 fix pushed in v2.12.0-beta.1 does not actually resolve the issue. See [this](https://i.imgur.com/aCtCWBQ.png) explanation.

[2022-09-16 10:13] yzhe554 opened #8974 "Root in select permissions changes when the table/view is used in query conditions"
### Version Information

Server Version: 2.2.0 to 2.11.2
CLI Version (for CLI related issue):

### Environment

### What is the current behaviour?

Created a select permission in deal table, the $(root) is treated as `deal` when we query from deal table.
[code]
However, if I try to use deal in query condition from another table, the root becomes where it's queried from
[code]
the error is saying `

[2022-09-16 10:37] fonzarely commented on #8439
I remember I did check 'save as migration' when inserting a new value in my enums. But it seems it's gone.
Maybe my sample can help you to make your migrations too.
[code]

[2022-09-16 13:04] andoks opened #8975 "Support environment variables in migrations"
### Is your proposal related to a problem?

I want to add one or more users to postgresql as part of a feature I'm working on. I'am using Hasura for handling migrations. I want to provide the users' password as a environment variable, and in that way configure the password differently between different systems using the same Hasura image (with the migrations scripts included in the hasura image)

[2022-09-16 15:41] zachequi opened #8976 "Inconsistent metadata (request timeout) with self signed cert on remote schema"
### Version Information

Server Version: 2.11.2 (tried v2.12.0-beta as well, same result)
CLI Version (for CLI related issue): N/A

### Environment

OSS

### What is the current behaviour?

* Have a remote schema configured in metadata using https with a self signed certificate
* Have the domain for the remote schema in the TLS allowlist in the console
* Have consistent metadata
* Reboot hasura

#

[2022-09-16 17:09] carlosbaraza opened #8977 "Extremely slow order_by of nested object while querying nested relationships"
### Version Information

Server Version: 2.11.2
CLI Version (for CLI related issue): 2.11.2

### Environment

MacOS / Linux

### What is the current behaviour?

Sorting by a nested table column and at the same time joining big tables causes Hasura to fetch all records, serialise them and then sort, which is extremely slow. Even if a limit and offset are set to paginate the results.

Example query

[2022-09-16 21:26] nahueld-owners commented on #5676
This is also happening to me strangely only when the request is initiated from a mobile browser only... any help here? I don't think the client has anything to do, I have double checked and we are sending the right payload

[2022-09-17 00:41] adas98012 commented on #8977
@carlosbaraza
Looks like the sort operation in your query  (name DESC) is the most expensive, please see if it can  be optimized by creating an index on that field that aligns with the query(e.g. name DESC NULLS LAST).
I am attaching an article that you may find useful:
https://www.postgresql.org/docs/current/indexes-ordering.html

[2022-09-17 08:14] carlosbaraza commented on #8977
An index does not solve the problem (tried with many different indexes). The sorting happens after some `row_to_json` loop over all the data, which defeats the purpose of the pagination.

Anyhow, how would can you explain that the same query without querying any data (only id) is `~60ms` and if you query data at the same time it is `~15000ms`? This clearly tells me that the queried data is in some

[2022-09-17 16:16] kantum commented on #7010
This would be great!

[2022-09-18 08:43] altschuler commented on #7556
I can also reproduce this in `v2.10.1`.

[2022-09-18 16:08] #8961 closed

[2022-09-18 20:11] Gherciu commented on #4629
@ooxaam  Same issue 2022 ;((( @vishwasnavadak

[2022-09-19 00:41] ryanto commented on #4890
I'd love if we could add a header that only gets included when adding or updating a remote schema.

The reason I need this is I don't want to expose introspection on my GraphQL server, but need to somehow allow introspection when Hasura is trying to add/update.

PS: I'm loving Hasura's remote schemas + stitching 😄

[2022-09-19 07:00] soupi commented on #8961
We've merged [the fix](https://github.com/hasura/graphql-engine/commit/71597778c9260d1949e96a97847e7d7dd4073dea) and it should be available in the next version. In the meantime you can try it out via the Docker image: `hasurabuild/graphql-engine:mono-branch-dev-9063f7f-main.ubuntu`

[2022-09-19 07:32] abooij commented on #4890
As a long-term path forwards on issues like these, we're currently exploring the idea of storing the remote schema introspection. If this stored introspection could be provided explicitly to Hasura, then you could request it with any HTTP headers you want.

However:
1. I can't promise that we'll do this, it's merely being explored as an option right now.
2. Because it's just in an exploratory phas

[2022-09-19 08:18] lucarestagno opened #8981 "console: BigQuery's query with eq clause not working"
### What is the current behavior?

In the Browse Rows section, if I set a simple filter condition, string column name _eq "string value", and I run the query, I get an error

[code]

### What is the expected behavior?

The query should execute and the records should be shown on the screen.

### How to reproduce the issue?

1. Add a BigQuery dataset
2. Go to the Browse Rows section (click on the BQ

[2022-09-19 09:16] davidpanic commented on #660
I cannot seem to get it to work, hasura stops with exit code 1 and logs the following error: `{"code":"postgres-error","error":"postgres tx error","internal":{"arguments":[],"error":{"description":null,"exec_status":"FatalError","hint":null,"message":"cannot set transaction read-write mode during recovery","status_code":"0A000"},"prepared":true,"statement":"BEGIN ISOLATION LEVEL READ COMMITTED REA

[2022-09-19 09:35] #8837 closed

[2022-09-19 10:11] BenoitRanque commented on #8844
@dannick-hasura an important note: renaming the `update_many` mutation does not solve this problem, as the issue is not with the mutation root field per-se, rather it is with the associated types (which still exist if the mutation itself is renamed).

Being able to namespace hasura types associated with a mutation would, alongside the existing ability to alias root field operations, address this p

[2022-09-19 10:14] BenoitRanque commented on #8844
@sassela because the conflicts is with the generated types, renaming root fields is not a sufficient workaround.
However, it is possible to rename the conflicting table, then rename root fields back to their original names.

This effectively renames the types associated with a table while mostly preserving the same GraphQL api.

This isn't a perfect solution however: if a user is relying on the ex

[2022-09-19 11:05] harishnair96 opened #8982 "Renaming column from console partially succeeds even when it would result in inconsistency"
### Version Information

Server Version: Many versions (Tested on 2.8.4, 2.12.0-beta.1)

### Environment

OSS

### What is the current behaviour?

Hasura does not completely prevent a column from being renamed when it would result in inconsistent metadata. Hasura shows the message `cannot continue due to newly found inconsistent metadata` which indicates that the action didn't succeed but it still

[2022-09-19 12:43] abooij commented on #8807
In what kind of scenario would a `create table` cause this to happen?

[2022-09-19 13:10] davidpanic commented on #3168
Have there been any plans on implementing this?

We would very much like to know when someone unsubscribes from something. Our use case is to allow only one user to edit a record at a time and we would like to reset the state if they close their browser. Yes this could be solved by periodically writing a timestamp, but that becomes computationally expensive at a large scale.

[2022-09-19 14:00] SamirTalwar commented on #8807
I think there are two issues here.

The first is the one pointed out by @scriptonist. I think that it can be summarized as follows: `replace_metadata` should have the effect of also reloading the metadata. Exporting the metadata, and then immediately replacing the metadata with the exported metadata (i.e. a no-op) should have the effect of reloading the metadata.

[code]

This is a departure from

[2022-09-19 14:05] #8904 closed

[2022-09-19 14:11] sassela commented on #8902
fixed by https://github.com/hasura/graphql-engine-mono/pull/5910

[2022-09-19 14:11] #8902 closed

[2022-09-19 15:34] kvnkmth opened #8983 "make hasura serve minified js and css assets locally"
### Is your proposal related to a problem?
When offline the hasura console is basically unusable

### Describe the solution you'd like
Serve hasura assets locally instead

### Describe alternatives you've considered
 using the local cdn addon but doesnt work

### If the feature is approved, would you be willing to submit a PR?
definitely

[2022-09-19 15:42] sassela commented on #8821
confirmed with Philip at the CockroachDB sync, we can simply replace the alias with the statement `NOT LIKE`, wherever it's blocking us for CockroachcDB. Closing this as done

[2022-09-19 15:42] #8821 closed

[2022-09-19 15:59] #8983 closed

[2022-09-19 16:00] kvnkmth commented on #8983
thanks,

[2022-09-20 04:56] meetzaveri commented on #8969
Hey @amal-chandran , thanks for raising the issue.

In Hasura cloud, we internally create and host PG database for metadata. So this `hdb_catalog` schmea will be created under that database.

As a result, you will not be able to access it with **SQL**.

**BUT,** We do provide an API for deleting one-off scheduled events. Please refer to these docs - https://hasura.io/docs/latest/api-reference/meta

[2022-09-20 07:32] yogeshwar607 commented on #2774
How we do it in hasura query ?

[2022-09-20 09:35] av commented on #8219
There's a tangential issue, when GraphQL customization is in place for a Remote Schema.

Hasura doesn't seem to rename the query variables types to their original value before sending request to the remote server:

[code]

Error is:
[code]

Where `signals_organization_config` is a prefixed `organization_config` field from a `signals` Remote Schema.

[2022-09-20 09:43] av commented on #8539
Experiencing the same issue with graphql-server v2.11.2

[code]

[2022-09-20 11:09] vuongxuongminh commented on #8219
@av issue solved since 2.11

[2022-09-20 12:04] meetzaveri opened #8985 "Streaming subscriptions take forever to load when passing custom GraphQL field name in cursor"
### Version Information

Server Version: `v2.11.2-cloud.1`
CLI Version (for CLI related issue):

### Environment

Cloud

### What is the current behaviour?

Let's say I've some table with custom graphql field name(`created_at` -> `createdAt`). If I am using that custom graphql field name in `initial_value` in cursor, then streaming subscription takes forever to load and it keeps loading.

### What

[2022-09-20 13:20] manasag commented on #8056
`--disallow-inconsistent-metadata` flag is now supported since 2.11 now. Can this issue be considered resolved?

[2022-09-20 14:36] dameleney commented on #6771
@bitjson  We have made a lot of performance improvements since this ticket was filed. Are you still experiencing this issue?

[2022-09-20 17:55] BenoitRanque opened #8986 "Deprecate usage of /v1/query for console data fetching"
### Is your proposal related to a problem?

When browsing data from the console data tab, the `/v1/query` api is used to fetch and update rows.

This is a problem as this api is undocumented, and resulting traffic is not shown in the monitoring tab.

This can in turn be confusing to users who may be billed for large amounts of data they cannot justify based on monitoring tab traffic.

### Describe

[2022-09-21 03:26] phamquyhai commented on #8966
huhu any update @meetzaveri

[2022-09-21 07:36] vitaliytv commented on #8961
2.12.0 without this patch ?

[2022-09-21 08:05] yoh-extradat opened #8988 "Request Options Transform"
### Version Information

Server Version:
CLI Version (for CLI related issue):

### Environment

### What is the current behaviour?

### What is the expected behaviour?

### How to reproduce the issue?

1.
2.
3.

### Screenshots or Screencast

### Please provide any traces or logs that could help here.

### Any possible solutions?

### Can you identify the location in the source code where the prob

[2022-09-21 08:05] yoh-extradat opened #8989 "Request Options Transform er"
**v2.12.0**

If i add an action resolver forwarding qgl queries to an external api and map the inputs to queries it works all as expected until i map optional gql inputs to optional queries.

**Reproduce:**
- Add Action with optional input x
- Map optinal input x to query param of external api
- call qgl resolver without specifying optinal input

[code]

[2022-09-21 08:35] yoh-extradat commented on #8989
Realised it's a duplicate of [#7909](https://github.com/hasura/graphql-engine/issues/7909)

[2022-09-21 08:35] #8989 closed

[2022-09-21 08:39] yoh-extradat commented on #7909
Struggling with the same problem.
I have an external api wich exposes optional query parameters. I set up an Action with an optinal input x and map it to the optinal query paramter x. Works fine until i query with out specifying the optional input x. Hasura is unable to transform the request without the optional input

[code]

[2022-09-21 08:53] sassela commented on #8890
This is blocked by https://github.com/hasura/graphql-engine-mono/pull/5787, which we're currently implementing a workaround for

[2022-09-21 09:15] sassela commented on #8891
Discussed after standup: this should be (at least partially) unblocked by [this PG wire protocol fix](https://github.com/cockroachdb/cockroach/pull/87535).

[2022-09-21 09:50] manasag commented on #8967
Hi @gneeri , thanks for opening this issue. We have been able to identify the root cause of this issue.

The server is responding with `ping` for every `pong` from the client if the `pong` payload is empty (doesn't contain the earlier server `ping` information). This is resulting in continuous `ping` `pongs` between server and the client. The fix is that server should not send a `ping` which stops

[2022-09-21 09:53] manasag commented on #8952
Hi @jflambert , I am unable to reproduce this issue on my side. Is this still an issue for you? Any more information you can share that can be helpful (e.g. screenshot of the customize table form before crashing)?

[2022-09-21 12:01] soupi commented on #8961
v2.12.0 does not contain this patch, but it will be part of `v2.13.0-beta.1` which is scheduled to be released today/tomorrow.

[2022-09-21 12:18] elias-pap commented on #3207
Is this relevant ? https://hasura.io/docs/latest/api-reference/syntax-defs/#custom-root-fields
The aggregate object can be renamed using the `select_aggregate` key.

[2022-09-21 12:44] mfizia opened #8990 "`_in` operator in `where`-clause isn't working with special characters like `ü`, `ö`, `ä`"
### Version Information

Server Version: **>2.11.0** (all Versions above 2.11.0 seems to be broken)
CLI Version (for CLI related issue):

### Environment

Enterprise On-Premise Cloud (Deployed Docker Image in K8s) - Database PostgreSQL 13.8

### What is the current behaviour?

`_in` operator in `where`-clause isn't working with special characters like `ü`, `ö`, `ä`. Maybe there are more characters

[2022-09-21 13:11] OleRoel commented on #8990
No umlauts permitted in WHERE clause sounds like a serous issue to me. I also would like to see this working again.

[2022-09-21 14:07] soorajshankar commented on #8574
Related issue : https://github.com/hasura/graphql-engine/issues/7909

[2022-09-21 14:10] xiaoyu-tamu commented on #3207
No. The select_agg is only for root fields.

[2022-09-21 14:17] kgkg opened #8991 "Generate migration diff from command line only"
### Is your proposal related to a problem?

We're using TypeORM to define database structure. Right now the only way to create hasura migrations is via CLI console, which in our case is terrible user experience - you need to define structure in both TypeORM and Hasura (which is annoying and prone to error).

### Describe the solution you'd like

The solution would be a way to create migration as *

[2022-09-21 15:40] dameleney commented on #678
In case you didn’t hear at [Roachfest](https://roachfest.cockroachlabs.com/) today!!!

Hasura is pleased to announce work is in progress to release CockroachDB as a supported database for the community. We are planning to support queries, mutations, relations, and subscriptions. Now you can have instant GraphQL with one of the most cutting edge distributed SQL databases in the marketplace.

🚀 [Sig

[2022-09-21 16:08] jmarbutt commented on #7903
I am also looking for some help on this.

[2022-09-21 17:59] marionschleifer opened #8992 "docs: improve getting started with big query documentation"
The ["Getting Started with Big Query"](https://hasura.io/docs/latest/databases/bigquery/getting-started/) docs need to be updated.

Particularly [this section](https://hasura.io/docs/latest/databases/bigquery/getting-started/#connect-bigquery-to-hasura) assumes that the user is using Docker…. but in the cloud, this part:

[code]
doesn’t apply at all as they’re not running docker…. we’re running it

[2022-09-21 18:44] deinspanjer commented on #7903
MS *has* added support for arm64 (M1) support in the latest version of ODBC 17 and ODBC 18.

I was able to add the v18 driver to the graphql-engine container manually and connect to a sqlserver DB.
The hack steps are to start it up, then get the container ID (`docker ps`) and run `docker exec -it <container hash> bash` then run the `curl`s and the `apt-get install`s for msodbcsql18 from here https

[2022-09-21 19:00] adas98012 commented on #8990
The issue seems related to [8961](https://github.com/hasura/graphql-engine/issues/8961), which has been fixed recently and will be part of  "v2.13.0-beta.1 "  due to be released today/tomorrow.

[2022-09-21 20:04] nahueld-owners opened #8993 "Auth0 with custom domain causes FST_JWT_AUTHORIZATION_TOKEN_INVALID"
### Version Information

Server Version: hasura/graphql-engine v2.10.1

### Environment
Docker image running on GCP Cloud Run

### What is the current behaviour?
When trying to validate a JWT token generated by Auth0 using a custom domain I get back:
[code]

I tried the following values in HASURA_GRAPHQL_JWT_SECRET to no success

1. Using jwk url
In this case we use the JWK URL as follows:
[code]

[2022-09-21 20:31] marionschleifer commented on #3427
We have this guide: https://hasura.io/docs/latest/getting-started/docker-simple/. And another guide on managing development environments (including managing source code) is on the way.

[2022-09-21 20:31] #3427 closed

[2022-09-21 22:36] 0x777 commented on #8807
@SamirTalwar I agree with all of these. Let's change the `replace_metadata` behaviour in one PR and then create an issue for 'create table' turning inconsistent objects into consistent and add it to our backlog.

[2022-09-21 22:39] 0x777 commented on #8807
It wouldn't and hence we don't re-build schema cache when we see `create table` like statements. Note that there is no regular expression match for `create` or `create table` in `isSchemaCacheBuildRequiredRunSQL`.

[2022-09-22 02:05] jflambert commented on #8952
you're right, I haven't had this issue since.

I may have had a permission issue at the time. i.e. trying to track a table owned by 'postgres' but the connection was with a different role.

[2022-09-22 02:05] #8952 closed

[2022-09-22 02:39] dsandip commented on #8988
@yoh-extradat Could you please create a new ticket with more information about the bug?

[2022-09-22 02:49] dsandip commented on #8990
@OleRoel Could you please subscribe to #8961,I'll close this one as a duplicate.

[2022-09-22 02:49] #8990 closed

[2022-09-22 03:30] dsandip commented on #8985
@rahulagarwal13 FYI

[2022-09-22 04:20] jesse-savary commented on #8189
@rupurt try providing `HASURA_GRAPHQL_SERVER_HOST = "::"` as an environment variable in `fly.toml`

[2022-09-22 04:53] chanthavong opened #8994 "Edit row label left hiden"
### Version Information

Server Version:  v2.8.1
CLI Version (for CLI related issue):

MacBook Pro (13-inch, 2019, Two Thunderbolt 3 ports)
Display: Built-in Retina Display - 13,3-inch (2560 × 1600)

### How to reproduce the issue?

label left hiden when edit row

### Screenshots or Screencast

<img width="683" alt="image" src="https://user-images.githubusercontent.com/18229355/191660982-9ff02ecd-

[2022-09-22 06:44] minhdtb commented on #5672
Up. I need this feature as well

[2022-09-22 07:57] rupurt commented on #8189
Amazing @jesse-savary! That did the trick :) 🙏

[2022-09-22 11:27] rikinsk commented on #8994
Fixed via https://github.com/hasura/graphql-engine/commit/6d2c8f1ec3c85d0508af687e65e8f0ae6c1cb215

[2022-09-22 11:27] #8994 closed

[2022-09-22 11:48] rikinsk commented on #8986
this seems like like a much more logical solution here IMO

[2022-09-22 11:55] CuriousLearner commented on #1591
Hello @rikinsk-zz ,

I'm trying to use `gen_random_uuid` in a mutation from Hasura. I've set-it up as a static value in Permissions tab under column preset.

The value for `datetime` column mapping to `timestampz` in Hasura are working fine using now(), but I want to get similar result for a uuid field.

I've also ensured that I can go in my postgres and use select `gen_random_uuid()` but it doesn

[2022-09-22 13:24] danieljharvey commented on #8839
All tests have been added to the suite, some fail but have been commented out. These are the tickets to track those issues:

https://github.com/hasura/graphql-engine-mono/issues/5987
https://github.com/hasura/graphql-engine-mono/issues/5985
https://github.com/cockroachdb/cockroach/issues/88355

[2022-09-22 13:24] #8839 closed

[2022-09-22 15:33] adas98012 opened #8995 "docs: Add a guide on how to use customer's own migration systems (e.g. type ORM) with Hasura"
Customers are trying to use Hasura migrations for their deployments and expecting features offered by their ORM migrations system. A guide to use their own migration system with Hasura will be useful.

Refer: [Github Issue](https://github.com/hasura/graphql-engine/issues/8991)

[2022-09-22 15:35] jflambert opened #8996 "Unable to order/filter remote database joins"
### Version Information

Server Version: 2.11.2

### Environment

OSS

### What is the current behaviour?

I'm unable to use remote relationships in "where" or "order by" clauses.

The [remote database relationships documentation](https://hasura.io/docs/latest/schema/postgres/remote-relationships/remote-source-relationships/) doesn't mention that "remote" data can't be filtered or sorted.

So I'm

[2022-09-22 17:08] HariharanUmapathi commented on #4498
how to connect my local postgres database with hasura without docker
i have tried to connect with hasura console add data source does not works

[2022-09-22 18:34] deinspanjer commented on #7903
Okay, here are the results of what I had to do to get stuff running in Docker on an M1 Mac:

1. Install the ODBC 18 driver into the graphql-engine image so it is available to the server
2. Switch from the version of mssqlserver that was previously used to azure-sql-edge which has an image that is compatible with arm64 (M1).

To do the first, I created the following Dockerfile. It creates a build i

[2022-09-22 18:38] tirumaraiselvan commented on #8985
@furkanilgenci This will be out in v2.13.0-beta.1 which will be out tomo.

[2022-09-22 18:39] tirumaraiselvan commented on #8985
Fixed via https://github.com/hasura/graphql-engine/commit/3b167b7df132ea0c82baa076d967f2c4742d12e8

[2022-09-22 18:39] #8985 closed

[2022-09-22 19:07] adas98012 commented on #8996
This feature (order/filter-by of remote schema fields) is not supported now, so let me change the issue to a feature request.

[2022-09-22 22:13] BenoitRanque opened #8997 "Document /v1/query api"
### Is your proposal related to a problem?

The console uses the /v1/query api to fetch and modify rows. This api is not documented.

**Note** this is not about the use of `run_sql` used for things like fetching information on database structure. That uses the `/v2/query` api.

### Describe the solution you'd like

The api should be documented.

### Describe alternatives you've considered

Alterna

[2022-09-22 23:45] jflambert commented on #8996
Understood, thanks for the response.
I would argue that the lack of a warning that ordering/filtering isn't supported should be documented, therefore at least a documentation bug.

[2022-09-23 02:17] 27medkamal commented on #6304
Is your client fetcher config set to `{ credentials: 'include' }`? We were having the same issue until we changed it from `same-origin` to `include` which is need when your fetcher is calling a different origin.

[2022-09-23 03:45] harishnair96 commented on #8630
Same issue as #8985

[2022-09-23 03:45] #8630 closed

[2022-09-23 09:30] rikinsk commented on #8579
Closed via https://github.com/hasura/graphql-engine/commit/df5e8870987425a00ab40c68d1bcbb4bfd850876

[2022-09-23 09:30] #8579 closed

[2022-09-23 09:35] #8911 closed

[2022-09-23 12:19] SamirTalwar commented on #7903
This is awesome. Thank you @deinspanjer!

I am working on getting `msodbcsql18`, with proper arm64 support, into the official Hasura Docker image. It's a bit more involved, and therefore taking a bit longer, because we also need to update our build and test infrastructure to ensure it doesn't break anything.

In the mean time, for anyone who can't wait that long, @deinspanjer's solution looks like

[2022-09-23 16:54] #4073 closed

[2022-09-23 18:59] Stefmore02 opened #8998 "docs: update clouds screenshots throughout docs"
### Is your proposal related to a problem?
Currently, on our documentation, we have a series of outdated Hasura Cloud screenshots. While these are mostly present in our cloud database guides there maybe others throughout documentation.

### Describe the solution you'd like
To solve this a PR would need to be raised that updates all existing screenshots of Cloud that are not consistent with `v2.12.

[2022-09-25 06:39] thinknirmal commented on #1241
Any update on this please? This feature also saves a lot of resources on the API server by not processing unnecessary events. This becomes significant especially when processing millions of events per day.

[2022-09-25 09:56] mikiastilahun opened #9000 "Remote Schema to Database Array relationship returns invalid input syntax for type integer."
### Version Information

Server Version: v2.10.1
CLI Version (for CLI related issues):

### Environment
Cloud

### What is the current behavior?
I have got a custom Graphql server running in a separate server and I wanted to include a query from it to Hasura with the remote schema feature. I've created the remote schema and it is working well but I also needed to create an array relationship betwe

[2022-09-25 12:30] cn-icore commented on #2592
Another plus one for this feature request.

I have a different use case though

I have object like this:

Person 0..1 -> 0..* Attributes(name, value)

Attribute is a simple label / value table, such as weight:65  pulse:86 etc.

I want to be able to order Person, where an attribute has a given name, so I can sort people by their weight, or heart rate.

A syntax might look something like:

Person...

[2022-09-25 15:54] deathemperor commented on #8826
the issue still exists in v2.12.0

[2022-09-26 02:31] BenoitRanque opened #9001 "Console: remove GraphQL field customization form from add read replicas UI"
### Version Information

Server Version: 2.11.2

### Environment

Cloud

### What is the current behaviour?

When adding a read replica, the console UI allows the user to configure GraphQL fields too.

![image](https://user-images.githubusercontent.com/25712958/192182146-07407fdd-64b1-4fd5-8d7b-eb8a9b2716b6.png)

### What is the expected behaviour?

GraphQL fields should be configurable on a per-s

[2022-09-26 03:16] BenoitRanque opened #9002 "Monitoring: incorrect max connection pool size shown for read replicas"
### Version Information

Server Version: 2.11.2

### Environment

Cloud

### What is the current behavior?

Monitoring tab shows read replica max connection pool to be 20. This is incorrect per the configuration.

Interestingly this problem only occurred when a second read replica was added.

Unsure at this stage if this is a UI issue, a monitoring issue, or an issue with pooling logic.

### What

[2022-09-26 03:28] BenoitRanque opened #9003 "Monitoring: incorrect used connections shown while under load."
### Version Information

Server Version: 2.11.2

### Environment

Cloud

### What is the current behaviour?

May be related to #9002

While under load, with a configured max connection of 5, which we expect to sum to 10 (given 2 workers backing the project),
the monitoring tab shows 5 connections being used.

(ignore the incorrect 20 max connections shown here, this is a bug discussed in #9002)
![

[2022-09-26 03:47] Jatin-MYST opened #9004 "Enum dropdown not showing if they are in a different schema"
### Version Information

Server Version:
CLI Version (for CLI related issue): v2.12.0

### Environment

docker/self-hosted

### What is the current behaviour?

'locale' table is setup as enum in Schema named 'enum':
![image](https://user-images.githubusercontent.com/72418976/192188717-6c17159e-be33-454b-b1ff-1226c329dacb.png)

Definition of 'locale':
![image](https://user-images.githubusercontent.

[2022-09-26 08:15] wonkim-dev opened #9005 "Enable setting for minimum request interval for JWK"
### Is your proposal related to a problem?

I am using Keycloak as auth provider and Hasura to expose GraphQL queries. I am  using jwk_url of `HASURA_GRAPHQL_JWT_SECRET` variable to provide Keycloak certs endpoint. Since response from Keycloak certs endpoint has no-cache in Cache-Contorl header, Hasura fetches JWK from Keycloak endpoint every second (https://hasura.io/docs/latest/auth/authenticati

[2022-09-26 08:22] SamirTalwar opened #9006 "Automatically resolve inconsistencies that are solved by a `CREATE` instruction during a migration"
### Version Information

Server Version: latest

### Environment

All environments.

### What is the current behaviour?

This issue has been extracted from #8807.

When applying a `CREATE` DDL instruction to resolve some inconsistencies, the inconsistencies are not resolved. An explicit `reload_metadata` or `replace_metadata` request needs to be made to resolve them.

### What is the expected beha

[2022-09-26 09:45] ejkkan opened #9007 "console: any table page view loops fetch queries"
### Version Information

Server Version:
CLI Version (for CLI related issue):
latest

### What is the current behaviour?

Navigation to any table triggering a loop of fetching the pages data

### What is the expected behaviour?

 Navigate to any table page view with only the necessary fetching happening ones
### How to reproduce the issue?

1. start console
2. navigation to data tab
3. open any ta

[2022-09-26 10:16] sassela commented on #8844
My bad, I misunderstood / mis-typed. Should've been:

Agree we need to figure out a better solution long-term solution. Our team will introduce this short-term workaround whilst the product platform team continue work on [a more general solution](https://github.com/hasura/graphql-engine/issues/8866#issuecomment-1245912884).

[2022-09-26 10:52] #9007 closed

[2022-09-26 10:53] lucarestagno opened #9008 "CockroachDB: error while creating table with comment"
How to reproduce.

* Add a cockroachDB data source
* Click on the schema
* Create a new table
* Fill the table name, table comment, and define at least one column
* Click on Create

We get an error from the backend:

<details>

Request

[code]

Response

[code]

Running he SQL statement on the CockroachDB instance:

[code]

</details>

[2022-09-26 10:55] aminebeh opened #9009 "Aliased fields with type object are dropped from Action response"
### Version Information

Server Version: v2.12.0
CLI Version (for CLI related issue): v2.12.0

### Environment

OSS (docker)

### What is the current behaviour?

When aliasing property with type `object` (in mutation response), it is dropped.

Query:
[code]
Response (from `/v1/graphql` endpoint running above mutation):

[code]

### What is the expected behaviour?

Response should have the nested o

[2022-09-26 12:26] BenoitRanque opened #9010 "Api limits: warn when user setting limits greater than platform limit"
### Is your proposal related to a problem?

Hasura cloud recently introduced platform limits with a default timeout of 60s for most operations.

This can be confusing to users who may head to the api limits and set a timeout greater than that, and not see any effect.

### Describe the solution you'd like

Users should either get a warning or be prevented entirely from setting api limits greater th

[2022-09-26 13:58] rccc commented on #1573
What about a crowdfunding action to paid some developpers so that this wanted  features can be wrote finally ? ;)

[2022-09-26 14:01] i-am-tom commented on #8821
A cursory grep suggests that `!~~` only exists in four places, three of which (1, 2, 4 below) are probably not important anyway!

[code]

[2022-09-26 14:14] hynra commented on #8348
if you use `Nginx` as a reverse proxy and want to disable GraphQL Introspection, you can use the `Nginx js module` and validate the request body: [nginx-disable-graphql-introspection](https://github.com/hynra/nginx-disable-graphql-introspection)

[2022-09-26 14:14] lucarestagno opened #9011 "CockroachDB: error while creating a table with date type columns and default value NOW()"
{
    "arguments": [],
    "error": {
        "description": "source SQL:\nCREATE OR REPLACE FUNCTION \"public\".\"set_current_timestamp_updatedAt\"()\nRETURNS TRIGGER AS $$\nDECLARE\n  _new record;\nBEGIN\n  _new := NEW;\n  _new.\"updatedAt\" = NOW();\n  RETURN _new;\nEND;\n$$ LANGUAGE plpgsql\n            ^",
        "exec_status": "FatalError",
        "hint": null,
        "message": "at or ne

[2022-09-26 15:46] phamquyhai commented on #7820
any update

[2022-09-26 18:10] plcplc commented on #1498
This feature has now been implemented and merged!
Have a look at the Docs for details: https://hasura.io/docs/latest/queries/postgres/query-filters/#filter-based-on-aggregations-of-nested-array-fields

[2022-09-26 18:10] #1498 closed

[2022-09-26 22:20] adas98012 opened #9012 "'http exception when calling webhook' on localhost"
### Discussed in https://github.com/hasura/graphql-engine/discussions/8979

<div type='discussions-op-text'>

<sup>Originally posted by **kdichev** September 18, 2022</sup>
Hi, I am developing locally with hasura running with docker-composed container on port 8080, I have a functions api on port 8000. I've setup my action with env variable as so `{{ACTION_BASE_URL}}/subscriptions-config` and the v

[2022-09-26 22:51] aaka3207 commented on #8455
@maxcan I modified your script a little bit, this one parses the schema using gql-tag, it's just a little safer IMO
[code]

[2022-09-26 23:13] adas98012 commented on #9012
@kdichev
Looks like you are running the Action with "admin" user role. Hope, you have defined "Action_Secret" to go with it and configured it properly. Here is the Hasura Doc for reference:

https://hasura.io/docs/latest/actions/action-handlers/#add-a-header-to-your-action

[2022-09-27 01:27] jflambert opened #9013 ""Analyze" button only runs "explain", not "explain analyze""
### Version Information

Server Version: 2.8.4
CLI Version (for CLI related issue): 2.8.4

### Environment

OSS

### What is the current behaviour?

"Analyze" button only runs "explain", not "explain analyze"

### What is the expected behaviour?

There should be an Explain button for `EXPLAIN` and an Analyze button for `EXPLAIN ANALYZE`

or a drop down to choose from one or the other

### How to r

[2022-09-27 01:28] jflambert commented on #9013
As a workaround, I paste the query into pgadmin and use EXPLAIN ANALYZE there...

[2022-09-27 01:44] amit-ksh commented on #8886
I want to work on this issue. Can you assign it to me, please?

[2022-09-27 03:20] dsandip commented on #9003
@ManushiKhanna @manasag FYI.

[2022-09-27 03:21] dsandip commented on #9002
@manasag @ManushiKhanna FYI

[2022-09-27 06:18] abhi40308 opened #9014 "Console: Bottom right link in notification is not visible"
### Version Information

Server Version: v2.12.0-cloud.1

### Environment

Cloud

### What is the current behaviour?
Notification UI is cropped, and Link in the bottom right of notification dropdown is not visible.
<img width="1792" alt="Screenshot 2022-09-27 at 11 46 46 AM" src="https://user-images.githubusercontent.com/26903230/192447527-935c58a6-3cf8-4a72-a9df-647a0ed597a4.png">

### What is th

[2022-09-27 06:24] BenoitRanque commented on #7537
The issue has been identified and a fix has been developed. We expect this fix to be available in release 2.14

[2022-09-27 07:54] johndevs commented on #5691
We have a schema that is named differently in our staging environment than in production and would need to replace the schema mapping depending on environment. For this we would like the add a env-variable as the schema.

We implemented this using @henningko's approach, but it has bad developer UX, as any change to the metadata requires us to ensure the metadata variables are not replaced.

[2022-09-27 08:58] kincjf commented on #6006
HASURA_GRAPHQL_PG_CONN_LIFETIME Does this setting value work in the current hasura mysql version as well? I keep getting "MySQL server has gone away" issue.

[2022-09-27 09:04] wizztjh commented on #8178
still replicable on v2.13.0-beta.1 and v2.12.0

![image](https://user-images.githubusercontent.com/462417/192483593-868ab426-1205-4497-b2b4-0b0d8f9e8404.png)

[2022-09-27 09:16] danieljharvey commented on #9011
This will be failing because Cockroach DB does not support user defined functions, and our `updated_at` code tries to add a trigger. Probably simplest to remove this suggested field for now.

It seems to live in `frontend/libs/console/legacy-oss/src/lib/dataSources/services/cockroach/sqlUtils.ts`

[2022-09-27 09:17] danieljharvey commented on #9008
This should be resolved as of #6046

[2022-09-27 09:20] #9008 closed

[2022-09-27 09:26] ejkkan opened #9015 "console: JSONB cannot be queried as json for cockroachdb"
### What is the current behaviour?

After create a JSONB column and insertin a row. The returned value always returns ["object", "Object"].

### What is the expected behaviour?

JSONB rows should be formatted as JSON and to be queried as JSON: {"key":"value"}

### How to reproduce the issue?

1. Create a JSONB column on a cockroachdb
2. Insert any json
3. see queried output

### Screenshots or Scr

[2022-09-27 09:32] danieljharvey commented on #9015
To solve this it would be useful to find out the following:

- Do `JSON` rows have the same behaviour?
- What does this data look like when it comes back from the server?

[2022-09-27 09:40] ejkkan opened #9016 "Can't create foreign keys on Big Int for cockroachdb"
### What is the current behaviour?

When trying to create a foreign key relation between two tables via a Big Int rows this error is thrown:
[code]
### What is the expected behaviour?

To be able to create a foreign key relation between two tables with Big Int rows

[2022-09-27 10:03] lucarestagno opened #9017 "GraphQL API: serial column truncated (INT8)"

[2022-09-27 10:28] sassela opened #9018 "cockroachdb/docs: queries"
Equivalent of https://hasura.io/docs/latest/queries/postgres/index/ for CockroachDB.

Docs should include:
-  a note that GraphQL key ordering is not guaranteed on CockroachDB ([context about that decision in internal Slack thread](https://hasurahq.slack.com/archives/CKFUG6RCH/p1663766239073569))
- the minimum CockroachDB version requirement: 22.2

[2022-09-27 10:34] sassela opened #9021 "cockroachdb/docs: schema"

[2022-09-27 11:14] sassela commented on #1498
This feature will be available from `v2.14.0-beta.1` onwards, within the next 1-2 weeks. https://github.com/hasura/graphql-engine/releases/

[2022-09-27 11:59] scriptonist commented on #8482
@haf

^ this shouldn't be the case. Can you help me understand how you reached that conclusion?

[2022-09-27 12:33] paritosh-08 commented on #8976
Hey @zachequi thanks a lot for reporting this bug. We have fixed it via https://github.com/hasura/graphql-engine/commit/a88e6cfa9dbe047cb9aadedc52fbfa8fdc400e46.

Can you please try out the docker image `hasurabuild/graphql-engine:mono-pr-6045-129.ubuntu` and let us know if this issue is fixed for sure?

[2022-09-27 12:42] BenoitRanque opened #9022 "Discourage and eventually discontinue database connection strings in metadata"
### Is your proposal related to a problem?

Database connection strings stored in metadata can easily lead to users accidentally leaking connection details.
For this reason, we recommend the use of environment variables instead. This is acknowledged in the [documentation](https://hasura.io/docs/latest/projects/create/#existing-database) and the console UI:

![image](https://user-images.githubuserc

[2022-09-27 12:44] lucarestagno commented on #9011
I agree, we could just remove the suggested column "updated_at" from the list for Cockroach.
@dameleney what do you think?

[2022-09-27 13:01] maxcan commented on #8455
That is much better.  Mine was very much a quick hack.

[2022-09-27 13:56] lucarestagno opened #9023 "console: BigQuery Filters not working"

[2022-09-27 14:08] meetzaveri opened #9024 "console: error thrown while deleting relationship should be more descriptive (experimental feature)"
### Version Information

Server Version: `v2.12.0-cloud.1`
CLI Version (for CLI related issue):

### Environment

Hasura Cloud

### What is the current behaviour?
This issue is about a new relationship UI (experimental feature). When we try to delete a relationship, it throws a generic error `Error while deleting the relationship`. This message is shown as plain text without any specific details o

[2022-09-27 15:59] jskrzypek commented on #8178
Digging into the chrome inspector, I noticed the top-level `.graphiql-code-exporter .CodeMirror` element's CSS has
[code]

If I change this to:
[code]
it fixes the issue.

[2022-09-27 16:00] jskrzypek commented on #8178
@rikinsk can we re-open this? or should we file a new issue?

[2022-09-27 16:10] RexGalicie commented on #2208
@stevehenderson  Hey mate
Did you manage to sort

hey @stevehenderson
Did you manage that issue.
I faced same when use multiple issuers

[2022-09-27 16:51] ajohnson1200 commented on #9011
Maybe I'm not reading the documentation the correct way, but it seems like "now()" is supported:

https://www.cockroachlabs.com/docs/stable/functions-and-operators.html#date-and-time-functions

no?

[2022-09-27 17:45] ImagoDeo commented on #8415
Currently having this issue in 2.12.0.

[2022-09-27 18:14] ferm10n opened #9025 "Postgres Domains incorrectly typed as String for function inputs"
### Version Information

Server Version: 2.12.0

### Environment

OSS

### What is the current behaviour?

A mutation that calls a sql function that has a postgres domain fails type validation.
As advertised in #391, custom domains are supported, but they seem to only work with mutations on tables.

Tracking a function that takes a custom domain, and then running a mutation that calls that functio

[2022-09-27 18:35] Stefmore02 commented on #8886
@amit-ksh Thank you for your interest! Nobody has picked this up so far, feel free to raise a PR.

[2022-09-27 22:21] ferm10n commented on #9025
Just confirmed this also is reproducible on an instance at cloud.hasura.io

[2022-09-27 22:30] paymog commented on #8696
I'm seeing this happen when attempting to run `pg_track_table` against the hasura admin metadata api.

[2022-09-28 03:54] rahulagarwal13 commented on #8608
Hey Andres, as per HTTP spec, all header values should be string. We have mentioned this as a note here in the user documentation as well - https://hasura.io/docs/latest/auth/authentication/webhook/#success. As a result, closing this issue.

[2022-09-28 03:54] #8608 closed

[2022-09-28 04:59] harishnair96 commented on #8720
Issue still exists even in `v2.13.0-beta.1`

[2022-09-28 05:08] praveenweb commented on #7671
Closed via https://github.com/hasura/graphql-engine/pull/8195

[2022-09-28 05:08] #7671 closed

[2022-09-28 05:12] praveenweb commented on #1446
We have released a new Authentication course on learn - https://hasura.io/learn/graphql/hasura-authentication/integrations/

This has reference guides for popular Auth providers and custom implementation of Auth with Node.js / NextAuth etc. We will add more boilerplates, examples and guides over there going forward for anything related to Authentication.

[2022-09-28 05:12] #1446 closed

[2022-09-28 08:13] danieljharvey commented on #9011
Ahh yes, it is, we could use `NOW()` to make a `created_at` volumn with something like `ADD COLUMN created_at TIMESTAMP DEFAULT NOW()`, however we can't make an auto updating `updated_at` column without functions.

This is what it's currently doing:
https://github.com/hasura/graphql-engine-mono/blob/main/frontend/libs/console/legacy-oss/src/lib/dataSources/services/cockroach/sqlUtils.ts#L1165

[2022-09-28 08:43] sassela commented on #8890
Luca verified this works as expected yesterday, closing

[2022-09-28 08:43] #8890 closed

[2022-09-28 08:55] haf commented on #8482
Hi, I'm sorry, but for me this issue has timed out and I'm not working on/with Hasura right now.

[2022-09-28 09:43] soupi commented on #9016
@ejkkan could you provide reproduction steps for this? That would be very helpful.

[2022-09-28 09:59] #8900 closed

[2022-09-28 10:09] lucarestagno commented on #9016
I think this is related to the issue with BIGINTs, the last 2 digits are truncated (800183840795852800 -> ...00).

A mitigation to this is to enable `HASURA_GRAPHQL_STRINGIFY_NUMERIC_TYPES` on the server.

Here's a small thread https://hasurahq.slack.com/archives/C01RZPEPF0W/p1664274235484159

@ejkkan could you please confirm that `HASURA_GRAPHQL_STRINGIFY_NUMERIC_TYPES` mitigates the issue?

[2022-09-28 10:12] ejkkan commented on #9015
So, after trying this again. It works...
But the previous value that is wrongly formated persists.
<img width="1241" alt="Screenshot 2022-09-28 at 12 08 07" src="https://user-images.githubusercontent.com/32518962/192752671-726539f9-ff44-4ab7-8077-80bce26830ba.png">

[code]

[2022-09-28 10:27] ejkkan commented on #9015
- Do we have just regular JSON? Can't find it as a supported type at least

- Server response
[code]

Funny thing; If I add the cockroach db as a Postgres db in the console. It works to insert the JSONB, and get the correct response. But not with cockroach.

<img width="1158" alt="Screenshot 2022-09-28 at 12 25 08" src="https://user-images.githubusercontent.com/32518962/192756376-4d906634-a088-4f7

[2022-09-28 10:28] ejkkan commented on #9016
I can confirm that it does not work @lucarestagno

I can confirm that it does not work @lucarestagno

[2022-09-28 10:31] ejkkan commented on #9016
Create two table
[code]

To the Modify tab in the Users table.
Scroll down to the "Foreign key" section and try to create the connection between "Users.shareables" -> "Shareables.id"

[2022-09-28 11:19] lucarestagno commented on #9016
I tried the same and it worked for me.

In order to run the server with `"stringify_numeric_types":true` (double check the container logs to be sure) you need to do `docker compose down` and `up` back.

At least that's the way I found to make the server read the new ENV variable `HASURA_GRAPHQL_STRINGIFY_NUMERIC_TYPES`.

At that point, the FK worked! ✅

[2022-09-28 11:35] soupi commented on #9016
I'm unable to reproduce this. Using commit 9960f580b955f973834df6644667f0ffc5bd60ce without any additional flags, I created the `Users` and `Shareables` tables via the console, then added a foreign key from the Users table and it worked without further changes required.

<img width="406" alt="Screen Shot 2022-09-28 at 14 32 08" src="https://user-images.githubusercontent.com/8547573/192768861-9d7c3

[2022-09-28 11:48] paritosh-08 commented on #8976
Thanks @zachequi, we will patch our next release with this bugfix. I am closing this issue for now. Thanks again for reporting this bug and for trying out the patched image :100:.

[2022-09-28 11:49] paritosh-08 commented on #8976
Fixed via https://github.com/hasura/graphql-engine/commit/a88e6cfa9dbe047cb9aadedc52fbfa8fdc400e46.

[2022-09-28 11:49] #8976 closed

[2022-09-28 12:24] ejkkan commented on #9016
After `docker compose down` and spawning a new cockroachdb, it works for me aswell!:
Thanks for the help

[2022-09-28 12:24] #9016 closed

[2022-09-28 12:49] rikinsk commented on #8482
Reopening to keep track of the reported behaviour

[2022-09-28 14:30] SamirTalwar commented on #8807
@scriptonist, happy to close this out now?

[2022-09-28 14:30] SamirTalwar commented on #8807
@scriptonist, I have resolved this in https://github.com/hasura/graphql-engine/commit/93e8803d3e1cc4650229f3764743697abefc2665. happy to close this out now?

[2022-09-28 15:04] rikinsk commented on #9014
Closed via https://github.com/hasura/graphql-engine/commit/3fa52752cb3af29eda5625776ca591098592c3f0

[2022-09-28 15:13] zwily commented on #3451
I tried this and it worked great for injecting the type, however now it complains in my query about not selecting the subfields for the jsonb type. But if I add those subfield selectors in the query, of course Hasura ends up rejecting it with "[GraphQL] unexpected subselection set for non-object field". How did you get past this?

[2022-09-28 15:50] sassela commented on #9011
@danieljharvey did your PR get merged, and did it resolve the issue? If so, please could you link the PR and close this?

[2022-09-28 15:51] #4240 closed

[2022-09-28 15:52] Stefmore02 commented on #2875
Due to recent docs changes, this has been resolved 👍

[2022-09-28 15:52] #2875 closed

[2022-09-28 15:59] Stefmore02 commented on #4805
If you want to pick up this task, reference the linked file in the first comment of this issue.
You can use our [wiki](https://hasura.io/docs/wiki/) to determine how to add to our documentation.

[2022-09-28 18:13] Stefmore02 commented on #289
For anyone who wants to pick this up, you can reference [this comment](https://github.com/hasura/graphql-engine/issues/289#issuecomment-440338601) to implement in our documentation.
For guidance on how to add to docs, please consult our [wiki](https://hasura.io/docs/wiki/).

[2022-09-28 18:53] BenoitRanque commented on #8905
Am able to confirm this issue persists as of hasura 2.12.0

[2022-09-28 21:54] rijx commented on #8511
I have the same problem. I was going to file a new issue but after some digging I found this one. Here's my issue:

### Version Information

Server Version: v2.12.0
CLI Version (for CLI related issue):

### Environment

OSS, local Docker container, MS SQL 2017 running in Docker.

### What is the current behaviour?

An error appears saying "Inconsistent object: table "Schema1.Table2" is not tracked

[2022-09-28 22:04] rijx commented on #8511
I tried the new relationship UI (presumably that's equal to the Cloud UI mentioned in the OP) and it worked!

It's feature flagged so you can either turn it on or use the API request it produces:

[code]

So then this issue only remains when you click track in the 'Modify' tab.

[2022-09-29 00:16] 24601 commented on #4077
We are seeing this when doing a lot of metadata operations (serially, not in parallel, only one at a time). Specifically, using the metadata API to track tables.

Memory usage spikes until the it gets OOMKilled at the limit we have set (4G, which is reasonable).

There is definitely some kind of leak here, because when the operations are done, memory usage does not come down, but when the containe

[2022-09-29 00:18] 24601 commented on #7077
We are having this issue, too, discussion over in #4077 appears relevant (and I've added our data in there).

@tirumaraiselvan - having this on v2.12.0

[2022-09-29 00:18] 24601 commented on #6701
Having this issue, too. See #7077 and #4077

[2022-09-29 01:55] Jatin-MYST opened #9027 "One tables index is showing on another"
### Version Information

Server Version:
CLI Version (for CLI related issue): v2.12.0 console

### Environment

selfhosted/docker

### What is the current behaviour?

If you have two tables in different schemas but named the same.
Their indexes are shown on both tables.
![image](https://user-images.githubusercontent.com/72418976/192919977-ff57fb6a-0321-4a90-b21d-2f711ccda0f3.png)
![image](https://

[2022-09-29 02:14] Jatin-MYST commented on #9004
Another related bug I have discovered is that if you do the setup above and add another table:

Schema1:
- Table1 <- is setup as Enum. has array relationship with Table2 in Schema2

Schema2:
- Table1 <- same name and same columns as Table1 above but not set as an enum
- Table2 <- has object relationship with Table1 in Schema1

Table2 will show enum options from Table1 from Schema2 instead of Schem

[2022-09-29 02:24] Jatin-MYST opened #9028 "Notifications drop down css"
### Version Information

Server Version:
CLI Version (for CLI related issue): v2.12.0

### Environment

self-hosted/docker

### What is the current behaviour?

![image](https://user-images.githubusercontent.com/72418976/192924270-14efb4cf-0543-4dc3-9f40-c274a858e108.png)

[2022-09-29 03:53] rishi-div opened #9029 "View logs in my Hasura Cloud dashboard"
### Is your proposal related to a problem?

While using the Hasura console, I would like to see Hasura server logs in my cloud dashboard for a realtime feedback while developing my app and for any realtime troubleshooting when Hasura is running in production. I would like this functionality in addition to sending telemetry data over to my APM tools.

### Describe the solution you'd like
Show a tai

[2022-09-29 04:15] rishi-div opened #9030 "Hasura on Azure Cloud"
### Is your proposal related to a problem?
Yes - I can't use Hasura Cloud as my app runs in Azure

### Describe the solution you'd like

Make Hasura Cloud available in popular Azure regions around the world

### Describe alternatives you've considered

Deploy Hasura on my infra in Azure

[2022-09-29 05:23] SachinB-Droisys opened #9031 "API explorer editor stays shrunk - not expanding vertically in responsive manner to use available height"
### Version Information

Server Version: Hasura v2.12.0
CLI Version (for CLI related issue):

### Environment

Console asset version: 8a1dfb4c701d2

### What is the current behaviour?

When there is empty blank space vertically created either on a large display device or as a result of collapse of GraphQL Endpoint or Request Headers panels, the API Explorer editor should use that space to expand v

[2022-09-29 06:28] SachinB-Droisys commented on #9031
I just found out that this is due to the Quirk mode (already added as one of the log messages) which causes page layout issues. The possible solution is to include <!DOCTYPE html> at the top of the page as mentioned on [https://web.dev/doctype/?utm_source=devtools](url).

[2022-09-29 08:00] m-Bilal commented on #8787
[Issue fixed](https://github.com/hasura/graphql-engine/commit/c28ed6cc6c97f19cb7daff3cd8310dcc3f9fa431). Upcoming versions of Hasura CLI should not be having this issue. Thank you @sfarley85 and @clarkClaim for bringing this to our attention and helping us with it ❤️

[2022-09-29 08:03] lucarestagno commented on #9011
issue solved with https://github.com/hasura/graphql-engine-mono/pull/6070

we removed `updated_at` form the suggested fields for CockroachDB only.

[2022-09-29 10:59] abdullah2993 opened #9033 "using a function that returns date for computed field"
Unable to track/use a function that return date.
[code]
getting error
[code]

**UPDATE:**
I tried [the sample code](https://hasura.io/docs/latest/schema/postgres/computed-fields/#1-scalar-computed-fields) in hasura cloud as well and it seems to not working there as well. the sample code in question is this
[code]

[2022-09-29 11:36] abdullah2993 commented on #9033
Finally figured this one out, It looks like you don't have to track the function to use it in computed fields 😞

[2022-09-29 12:11] lucarestagno opened #9034 "console: clarify data_type_name field missing in BigQuery"
Make an analysis of why this happens.

`// NOTE: the usage of "data_type" has been introduced as a workaround to support BigQuery, for which "data_type_name" is not defined here`

https://github.com/hasura/graphql-engine-mono/pull/6115/files#diff-e435c9498c5d3c1aec019e01609442fcd65b70259af81916d0fe9b25198d14d4R99

[2022-09-29 12:18] jcalfee opened #9035 "Full metadata query is required to update a database URL"
### Is your proposal related to a problem?

The metadata API `pg_update_source` does not merge with existing values like `pool_settings` and will reset to the defaults when not provided.  A note in the API is probably a good idea there, this can lead to interrupted database connections.

Heroku changes database URLs after a maintenance window.  It is ideal to automate the update in Hasura to minim

[2022-09-29 12:36] lucarestagno opened #9036 "console: clarify unused functions in dataSources/services"
The functions named `getGraphQLQueryForBrowseRows` in
`console/src/dataSources/services/bigquery/utils.ts` and `console/src/dataSources/services/mssql/utils.ts` seem not to be used.

If this is intentional we need to remove them, or otherwise use them.

[2022-09-29 12:37] lucarestagno commented on #9036
@vijayprasanna13 any hints on this?

[2022-09-29 12:47] jcalfee commented on #9035
Another idea if back-wards comparability here is needed: accept PATCH as well as POST..

[2022-09-29 12:54] rikinsk commented on #9028
Dup of #9014. Fixed via  https://github.com/hasura/graphql-engine/commit/3fa52752cb3af29eda5625776ca591098592c3f0

[2022-09-29 12:58] rikinsk commented on #8826
Graphiql will be resizeable in v2.13 onwards

[2022-09-29 13:00] rikinsk commented on #8880
Ability to resize graphiql has been released with `v2.13.0-beta.1`

[2022-09-29 13:00] rikinsk commented on #9031
Ability to resize graphiql has been released with `v2.13.0-beta.1`. See https://github.com/hasura/graphql-engine/issues/8880

[2022-09-29 13:00] #9031 closed

[2022-09-29 13:28] bipin-sakariya opened #9037 "Delete relationship issue"
In Hasura,

I've deleted a relationship from the table but after deleting When I'm trying to create relationship with same as previous name, then it throws me error that "field with name "Receiver" already exists in table", though, the field is not available in table.

[2022-09-29 14:42] jberryman commented on #4077
@24601 if you want to privately send your exported metadata and a pgdump (excluding actual table rows is fine), we can try to repro and make an internal ticket: brandon@hasura.io

[2022-09-29 16:18] vijayprasanna13 commented on #9036
@lucarestagno This can be removed from the utils file for both the dbs.

[2022-09-29 16:37] lucarestagno commented on #9036
thanks, I'll do that in my current working branch!

[2022-09-29 16:37] #9036 closed

[2022-09-29 16:54] #9034 closed

[2022-09-29 18:43] dsandip commented on #9037
@bipin-sakariya Was this on Hasura Cloud or were you self-hosting Hasura?

[2022-09-29 19:17] meetzaveri commented on #9024
We have a difference in request payload made for old and new UI

New UI
[code]

Old UI
[code]

[2022-09-29 21:26] meetzaveri commented on #9033
Hey @abdullah2993

This error is an expected one. Let me explain a bit here

### Context
I guess in this context, you might be referring to this track checkbox UI

![captures_chrome-capture-2022-8-30 (1)](https://user-images.githubusercontent.com/21293048/193140794-80f2cc28-a938-40c9-9d09-bcd550711995.png)

Regarding the docs you [mentioned](https://hasura.io/docs/latest/schema/postgres/computed-f

[2022-09-29 21:53] abdullah2993 commented on #9033
@meetzaveri thanks for reaching out, yes the problem was exactly that combined with the face the only function that are shown in UI has to accept an input argument of type table which was something I was missing, not sure if that is documented somewhere.
Feel free to close the ticket or convert to docs tag
Thanks

[2022-09-29 22:14] dsandip commented on #9037
[Recording of a repro](https://hasurahq.slack.com/archives/C03RJ54M4RW/p1664489639986159) on Cloud.

[2022-09-30 04:02] bipin-sakariya commented on #9037
Yes, on Hasura cloud.

[2022-09-30 04:52] zesterquinn commented on #8884
Hello, can I work on this one?

[2022-09-30 05:40] bipin-sakariya commented on #9037
Issue Resolved. I've added a relationship with another name and then renamed it.

[2022-09-30 06:16] ejkkan commented on #9015
After further investigation the issue has been found to be a console problem.

[2022-09-30 06:47] aggmoulik commented on #8541
Hey @rikinsk I would love to work on this issue.

[2022-09-30 09:13] sassela commented on #8905
Hey Benoit, thanks for this bug report! We're looking into this a priority, and working on a minimal repro, but the following would help us along faster:
1. Can I confirm my understanding that `parcel_boundary__geom` is the computed field in question. If so, please could you share its definition?
2. The DDL statements to set up this example
3. A copy of the metadata

In this issue or by email/inte

[2022-09-30 11:20] davidpanic opened #9040 "Schema introspection query failed {"errors":[{"message":"Application update required"}]}"
### Version Information

Server Version: v2.12.0

### Environment

Docker, hasura/graphql-engine:v2.12.0

### What is the current behaviour?

When I try to use an authorization header in the console and click the "Decode JWT" button I get redirected to an error page with the below error. The console also complains: `Schema introspection query failed {"errors":[{"message":"Application update requir

[2022-09-30 11:24] davidpanic commented on #9040
Also observed some weird requests in the developer console:
![image](https://user-images.githubusercontent.com/13370323/193259344-e3fadae9-16e5-4e9d-8c4f-7bb34feab5a8.png)
It's trying to reach out to `https://data.undefined/v1/graphql`

[2022-09-30 11:46] meetzaveri commented on #9037
+1 @bipin-sakariya for mentioning the workaround, but this is an issue in new relationship UI that we were able to repro. So I am keeping it open until we receive any solid updates from hasura core engineer here.

cc @dsandip

[2022-09-30 12:40] dsandip opened #9041 "Exclude metrics from Datadog Integration"
### Discussed in https://github.com/hasura/graphql-engine/discussions/9032

<div type='discussions-op-text'>

<sup>Originally posted by **takeshiemoto** September 28, 2022</sup>
I want to exclude metrics from Datadog Integration.

We are sending Hasura Cloud logs using Datadog Integration to Datadog.

Is there any way to send only logs and exclude metrics when using the integration?

I want to sto

[2022-09-30 12:40] dsandip commented on #9041
@rishi-div @manasag FYI

[2022-09-30 14:16] croskery commented on #5126
We are also seeing this issue as well, essentially the same setup as @jgoux . Right now I think our best option is to stagger the deploys. +1 to a `retry` if the schema is not available.

[2022-09-30 17:47] the-jackalope opened #9044 "Case-insensitive query support without ILIKE operator"
### Is your proposal related to a problem?

We are using PostgreSQL v14.

We have a few decently large tables (~50-70 GB) where we have jobs that need to update multiple rows that match a case-insensitive lookup on a few columns. For a long time we used the `ILIKE`/`_ilike` query operator for the update and used GIN indexes on the columns to improve performance.

However, the development cost of m

[2022-09-30 18:38] rahulagarwal13 commented on #3898
@sycured  - thanks for your request. Are you asking for exposing data as gRPC via Hasura or ingest data into Hasura using actions?

[2022-09-30 19:31] sycured commented on #3898
Hello @rahulagarwal13 , wow it was a long time ago.

When I asked it was to have a fully grpc response in addition to JSON.
If putting a /grpc or an header, hasura will send grpc response.

The bonus is having hasura accepting grpc requests in addition to JSON.

For information, I'm not anymore involved in a project using Hasura so I won't be able to test/feedback on this implementation/usage.

[2022-09-30 19:46] rahulagarwal13 commented on #3898
got it, thanks for providing extra context and noted that you are no longer working on Hasura

[2022-09-30 21:40] nahueld-owners commented on #8993
Any updates on this?

[2022-09-30 22:03] ravargash commented on #1571
+1

[2022-09-30 22:33] rishi-div opened #9045 "Hasura Enterprise - Allow sending of only certain telemetry types in Datadog"
### Is your proposal related to a problem?

In Hasura Enterprise, I can send all telemetry data types (logs, metrics, traces) to Datadog.  I want to be able to control costs and send only certain data types to Datadog.

### Describe the solution you'd like

Allow me to select which of logs, metrics and traces I want to send to DataDog while configuring the integration

### Describe alternatives yo

[2022-09-30 23:13] ARMATAV commented on #1571
any updates on this?

im now 26 years old, still have to scroll right

[2022-10-01 00:38] jflambert commented on #5053
It looks like Hasura added automatic cleanup of event trigger logs, but it's a "paid" feature

https://hasura.io/docs/latest/event-triggers/clean-up/auto-cleanup/

[2022-10-01 04:46] aniketh-varma commented on #6158
Hi, @Stefmore02, I would like to work on this issue if it is still available.

[2022-10-01 04:49] amit-ksh commented on #7672
Hey, I like to work on this issue.

[2022-10-01 06:41] roshni-salpekar opened #9047 "Docs: Broken link in Hasura Docs Wiki"
### Version Information

Server Version:
CLI Version (for CLI related issue):

### Environment

### What is the current behaviour?

### What is the expected behaviour?
"Contributing to Docs" link should point to a page with relevant documentation.

### How to reproduce the issue?

1.
2.
3.

### Screenshots or Screencast
![image](https://user-images.githubusercontent.com/73110064/193396383-b009142a

[2022-10-01 08:12] najeebkp commented on #8885
Hi @marionschleifer ,

I would like to work on this. Can you please guide me what should i do ?

Thanks

[2022-10-01 08:53] 201B153 commented on #9047
But the link is working!

[2022-10-01 09:14] marionschleifer commented on #8885
@najeebkp it's all described in the guide linked above.

[2022-10-01 11:03] SachinB-Droisys commented on #9031
Thanks @rikinsk for responding back quickly. Hope we are sooner able to see this solution in next update!

[2022-10-01 15:51] roshni-salpekar commented on #9047
Path to "Hasura Docs Wiki" where the link is broken.
![Screenshot_20221001_211325~2](https://user-images.githubusercontent.com/73110064/193417406-c3f9210e-15d0-4178-a323-c5697a00f599.jpg)

[2022-10-01 16:16] 201B153 commented on #9047
ok can I change it!?

[2022-10-01 18:14] aloks98 commented on #8654
I can take this up. Please assign this issue to me :)

[2022-10-01 20:22] kunalranjan19 commented on #9047
hey, I would like to work on this.

[2022-10-02 05:52] Ln11211 commented on #8998
hey there @Stefmore02 ,
I'm interested in trying to update the screenshots but I want to know more before I commit myself to this issue.
Firstly, I want to know how to get the screenshots and where is this doc with outdated screenshots, can you help me with this info? :)

[2022-10-02 06:03] Ln11211 commented on #8883
@marionschleifer I'm interested but can you tell me where do I get the screenshots from? and also which document/s you want me to update?

[2022-10-02 06:26] aniketh-varma commented on #8884
Hi @marionschleifer, I want to contribute to this issue, can you please help me with the file where these changes must be made?

[2022-10-02 06:39] aniketh-varma commented on #8885
Hi @marionschleifer, I would like to take up this issue, please help me with the file where the changes must be made. Thanks! :)

[2022-10-02 07:11] aniketh-varma commented on #4805
Hi @rikinsk @Stefmore02, I would like to take this issue if it is still available.

[2022-10-02 08:01] harshxtanwar commented on #3806
@Stefmore02 can I get assigned to this issue ? I'd love to work on it.

[2022-10-02 09:28] Declan-Y commented on #8888
Hi, can I have a go at this issue? Thank you

[2022-10-02 10:40] marionschleifer commented on #8883
@marionschleifer You get the screenshots by actually going through all the tutorials and then check if the UI has been changed. If so, you can create a new screenshot and add it to the docs. All pages except the Cloud and Enterprise docs need to be checked and updated (as explained in the description above). Hope that helps 🙂

[2022-10-02 10:45] marionschleifer commented on #8884
@zesterquinn feel free to open a PR. The first PR that is submitted will be reviewed first.

@aniketh-varma all files in docs need to be searched and checked for feature names.

[2022-10-02 10:46] marionschleifer commented on #4805
@aniketh-varma feel free to pick this up, so far, nobody has raised a PR on this.

[2022-10-02 10:47] marionschleifer commented on #3806
@harshxtanwar feel free to pick this up. We don't assign issues. The PR that is submitted first will also be the one to be reviewed first 🙂 so far, nobody has raised a PR on this.

[2022-10-02 10:48] marionschleifer commented on #8654
@aloks98 feel free to pick up this issues, so far, nobody has raised a PR on this. We don't assign issues, so whatever PR gets submitted first will be reviewed first 🙂

[2022-10-02 11:13] AnirudhDaya opened #9051 "A developer environment, for faster and efficient contributions"
### Is your proposal related to a problem?
 Yes, the need to support new contributors.
### Describe the solution you'd like

I would like to add gitpod to your repo to help beginners contribute.
 - Gitpod is an online IDE which can be launched from any GitHub page. Within seconds, Gitpod provides a fully working development environment, including a VS Code-powered IDE and a cloud-based Linux conta

[2022-10-02 11:59] AnirudhDaya commented on #9051
If the issue is valid. I would like to make a PR for the same.

[2022-10-02 12:42] MoskalykA commented on #9047
The link works properly
[https://hasura.io/docs/wiki/contributions/](https://hasura.io/docs/wiki/contributions/)

[2022-10-02 12:48] #5342 closed

[2022-10-02 13:02] #8285 closed

[2022-10-02 13:07] marionschleifer commented on #8992
This has been updated [here](https://hasura.io/docs/latest/databases/bigquery/getting-started/index/).

[2022-10-02 13:07] #8992 closed

[2022-10-02 14:43] robertjdominguez commented on #9047
Hey, everyone 👋

Thanks for this PR @roshni-salpekar, but the several comments that mention this is working are correct. The `docs` directory uses Docusaurus as its framework, and these root-relative paths are used at build time to generate the right links. As you can see from the [live site](https://hasura.io/docs/wiki/), everything functions as expected.

[2022-10-02 14:43] #9047 closed

[2022-10-02 16:20] manasag commented on #9041
Datadog integration is a cloud integration, hence related to lux. Since this doesn't relate to Hasura server, I think this should be followed up with cloud team, and this issue should be closed.

[2022-10-02 16:22] manasag commented on #9045
Datadog integration is entirely a cloud integration, hence related to lux. Since not related to OSS, I believe we should close the issue.

[2022-10-02 17:04] manasag commented on #9022
An additional suggestion: If a connection string is used, show a clear/warning message which suggests user to store the password as env variable and not directly in the connection string.

[2022-10-02 18:43] devstardude commented on #8885
Hello @marionschleifer, I would like to work on this issue, Can you please provide guidelines about how to start with this?

[2022-10-02 23:41] Azanul commented on #4972
@tobiastornros @Stefmore02, If this is still open please assign it to me, I'll take a shot.

[2022-10-02 23:41] Azanul commented on #7571
I want to give this a shot, please assign this to me.

[2022-10-03 00:21] Azanul commented on #7571
@theelderbeever I'm assuming you're looking for SSL/TLS as well using Traefik.

[2022-10-03 02:22] RoryO commented on #7610
This has been an issue for a little over a year now. I finally get fed up enough with this that I took it upon myself to do something about it.

tl:dr use/adapt this script to copy the migration status from a hasura prod instance to a local hasura instance. This uses the hasura management api.

[code]

### Explanation

This was quite a journey. This API is completely undocumented in the API docume

[2022-10-03 03:00] webdeb commented on #8372
When you are doing a query and you have multiple possible roles for the content, you cannot know if you are a writer or an editor of a given content, but when you perform an action like editing the status, you should know from the frontend which rule should be used. For example there could be some query parameters or header like `X-HASURA-AS-ROLE: editor` to change the status of an article, which

[2022-10-03 03:23] webdeb commented on #9051
I think that would be very helpful to fix bugs collaboratively, and to climb the steep Haskell learning curve 👍

[2022-10-03 03:30] MorningK opened #9053 "high cpu usage when calling add_inherited_role api"
### Is your proposal related to a problem?
when calling [add_inherited_role api](https://hasura.io/docs/latest/api-reference/metadata-api/inherited-roles/#metadata-add-inherited-role), the cpu usage becomes high, especially when the size of role_set becomes very large, like twenty or thirty or larger. More seriously, sometimes it looks like the service would simply restart, making the service unre

[2022-10-03 04:29] droid31 commented on #8998
Hi, I would like to work on this issue as part of Hacktoberfest. I have taken a look at the docs, kindly assign the issue to me.

[2022-10-03 05:55] Sujithkumardola commented on #8883
@marionschleifer I've read the documents and noticed that there are more than 50 screenshots that need to be updated; I'd like to be assigned to this Issue.

[2022-10-03 06:15] Varun-Choudhary commented on #9024
Closing this issue as part of this [PR](https://github.com/hasura/graphql-engine-mono/pull/6147#pullrequestreview-1127836486)

[2022-10-03 06:15] #9024 closed

[2022-10-03 07:00] albinth opened #9054 "When changing the materialized view column data type from json to jsonb all dependent functions throwing error while querying"
### Version Information

Server Version : 2.9.0

### What is the current behaviour?

We have a materialized view created by following DDL

CREATE MATERIALIZED VIEW roles_and_criteria_mv AS
 SELECT rp.role_id,
    rp.product,
    rp.subproduct,
    rp.criteria_type,
    json_agg(DISTINCT rp.criteria_value) AS criteria_values
   FROM common.role_profile rp
  GROUP BY rp.role_id, rp.product, rp.subpr

[2022-10-03 07:46] marionschleifer commented on #8885
These changes need to be made in all files of our docs. The guidelines are in the description of this issue.

[2022-10-03 07:47] marionschleifer commented on #8883
@Sujithkumardola feel free to take this up, nobody has raised a PR on this so far 🙂

[2022-10-03 11:30] #8807 closed

[2022-10-03 11:39] BenoitRanque commented on #8905
@sassela Apologies, only seeing this now. You should be able to repro this issue with any query of the form

[code]

Where `table1` is a table, `computed_table_field` is a [computed table field](https://hasura.io/docs/latest/schema/bigquery/computed-fields/) on `table1`, and `table2` is another table accessed by navigating a relationship from the table returned by `computed_table_field`

I was abl

[2022-10-03 12:33] NiranjanMeghwal commented on #8885
Hello! I have started working on this one, could you please assign this to me.

[2022-10-03 14:06] sassela commented on #8905
Yep we got it, thanks @BenoitRanque ! We were able to repro, test and find the root issue ([internal team context](https://hasurahq.slack.com/archives/C01RZPEPF0W/p1664552180028929?thread_ts=1663028925.701849&cid=C01RZPEPF0W)). I'm confirming with the product eng team how to proceed and will update here when we have a definitive answer.

[2022-10-03 15:18] Ln11211 commented on #8883
Seems like a lot of reading to do :)  I am interested and I'll do the task.  Since @Sujithkumardola is also interested, how about we divide the work? is that ok with you @marionschleifer ? what say you @Sujithkumardola ?

[2022-10-03 15:22] abooij opened #9056 "Docs for Boolean expressions are incomplete"
The API docs specify that a Boolean expression (e.g. for `where` clauses) is one of five options.
https://github.com/hasura/graphql-engine/blob/52873dba95df9aac8dfee174597c7967291e4828/docs/docs/api-reference/graphql-api/query.mdx#L366-L384
In particular, `ColumnExp` simply represents a comparison operator.
https://github.com/hasura/graphql-engine/blob/52873dba95df9aac8dfee174597c7967291e4828/docs

[2022-10-03 15:43] Stefmore02 commented on #8883
Hey folks, thank you for your interest! Feel free to divide amongst yourselves, seems like a good idea.

[2022-10-03 15:53] Sujithkumardola commented on #8883
@Ln11211 That sounds good.

[2022-10-03 16:08] marionschleifer commented on #2135
Closing this in favour of https://github.com/hasura/graphql-engine/issues/2871.

[2022-10-03 16:08] #2135 closed

[2022-10-03 16:14] dsandip opened #9057 "document how to scale subscriptions by using read replicas, caching, etc."
Update: https://hasura.io/docs/latest/subscriptions/postgres/livequery/execution-and-performance/

[2022-10-03 17:59] adas98012 opened #9058 "Document how to resolve SSL certificate errors with EPROTO codes"
We have several instances of client-side issues reported for SSL cerificate errrors
(Refer: tickets
[5284](https://hasurahelp.zendesk.com/agent/tickets/5284)
[5993](https://hasurahelp.zendesk.com/agent/tickets/5993)

The error message would be similar to this:

[code]

The recommended resolution is to :
**whitelist the EPROTO error code (in client side code), allow the retry logic to be activated,

[2022-10-03 18:09] omjikush09 commented on #9056
@abooij  I would like to work on this. Can you assign this to me?

[2022-10-03 18:49] jordan-lumley opened #9061 "Kubernetes deployment not working as expected, fatal errors about hbd cron_events and metadata after some time"
### Version Information

Server Version:
2.12.0

### Environment

Digital ocean kubernetes cluster

### What is the current behaviour?

Hey all, I have hasura deployed on a digital ocean kubernetes cluster. I am not sure if this is truly a bug but im looking for some guidance here as a long time hasura user. Whenever the deployment's pod's are first created, everything works as expected with auto

[2022-10-03 18:56] Stefmore02 commented on #9056
Hey, @omjikush09 thank you for your interest, feel free to work on this! FYI - We don't assign issues. The first PR raised will be reviewed, so far nobody has raised a PR.

[2022-10-03 20:09] IAmTamal opened #9062 "Updates : New issue templates using .yml instead of .md 🛠"
### Is your proposal related to a problem?

Currently we are using `.md` files instead of the brand new issue forms with `.yml` files which makes it more easier to fill in the data and raise an issue. Using the `.md` files can result in folks skipping out important details while making an issue.

### Describe the solution you'd like

The solution is to build a new `.yml` file which can be customiz

[2022-10-03 20:43] Stefmore02 commented on #6158
Hey @aniketh-varma thank you for your interest! Feel free to open a PR. The first PR that is submitted will be reviewed first.

[2022-10-03 20:46] aniketh-varma commented on #8884
Hi @marionschleifer, can you please help list all the Hasura features, like Actions, Event Triggers, etc, so that I can start working on this issue

[2022-10-03 20:52] Stefmore02 commented on #8888
Hey, @Declan-Y thank you for your interest! Feel free to work on this and open a PR.

[2022-10-03 21:09] Stefmore02 commented on #7571
@Azanul thank you for your interest! So far, nobody has raised a PR on this. Feel free to pick this up 👍

[2022-10-03 21:53] Stefmore02 commented on #8998
@Ln11211 thank you for your interest! For this one, you'll have to audit our docs and see which screenshots are out-of-date. An example would be any of the Cloud screenshots on [this page](https://hasura.io/docs/latest/getting-started/getting-started-cloud/) that reference versions earlier than `2.12.0`.

[2022-10-03 21:54] Stefmore02 commented on #8998
@droid31 Feel free to pick this up. The PR that is submitted first will also be the one to be reviewed first 🙂

[2022-10-03 23:08] jepthy opened #9063 "Unable to restrict GraphQL Query based on Table Computed Field"
I have a [Table Computed Field](https://hasura.io/docs/latest/schema/postgres/computed-fields/) that is associated with one of my tables, and which is returning several fields back in the resulting query.
I would like to be able to add one of these fields to the Where condition of the GraphQL call, but Hasura does not show the computed row(s) in where condition builder.

The name of the Table Comp

[2022-10-04 00:29] ferm10n commented on #3451
@zwily It's been a while since I posted that and my memory is a bit foggy but I feel like I abandoned that approach because of the issue you're describing :/

HOWEVER! I've learned a bit more about codegen since then so I took another swing at the problem. If you're just trying to get better intellisense in your typescript, I think this will work for ya:

Start with defining schema overrides in a

[2022-10-04 00:34] ferm10n commented on #3451
I totally forgot about the comment I made here, and I find it kinda amusing how I was still trying (and failing) to [get custom types to work for json](https://github.com/hasura/graphql-engine/issues/9025)... but then thanks to [your comment](https://github.com/hasura/graphql-engine/issues/3451#issuecomment-1261062654) reminding me of this thread, I feel like I was able to finally put all the piec

[2022-10-04 01:26] adas98012 commented on #9061
Do you see "hdb_catalog.hdb_metadata" in your Database schema (via pgAdmin) ? The error says "relation \"hdb_catalog.hdb_metadata\" does not exist".

[2022-10-04 01:50] zwily commented on #3451
Wow @ferm10n, thank you! This will be a huge help. Getting my responses typed will be amazing.

Hopefully one day Hasura will give us a more elegant way to type (and enforce types going into the db) on jsonb types, but until then, this is a big help.

[2022-10-04 02:01] ferm10n commented on #3451
@zwily If you're interested in enforcing the types going into the db, you should check out postgres domains!! [This person](https://github.com/hasura/graphql-engine/issues/7999) tried it and ran into the same problem described here.

It basically allows you to extend a base postgres type and add check constraints! [Hasura supports this.](https://github.com/hasura/graphql-engine/issues/391)... [unl

[2022-10-04 02:04] ferm10n commented on #7999
Hi, can you try [this approach](https://github.com/hasura/graphql-engine/issues/3451#issuecomment-1266245636) for overriding schema types provided by hasura? I know it works for json, and I believe it should work for domains based on json types.

[2022-10-04 03:40] andrewalex opened #9065 "Allow JWT from multiple locations"
### Is your proposal related to a problem?

To add a little more security to my web applications I'd like to make my JWT's http only cookies. This is currently possible by setting
https://hasura.io/docs/latest/auth/authentication/jwt/#header

However, doing so would break all the other apps (mobile apps) currently using Authorization Headers.

### Describe the solution you'd like

As described her

[2022-10-04 05:50] bluee opened #9066 "REST Endpoint - Unable to modify"
### Version Information

Server Version:
CLI Version (for CLI related issue): v2.12.0, v2.13.0-beta.1

### Environment

Ubuntu, OSS Docker + Caddy as Proxy

### What is the current behaviour?

When you edit a REST endpoint and click Modify Hasura tries to save to https://data.undefined/v1/graphql instead of correct endpoint. Creating a new endpoint still works.

### What is the expected behaviour?

[2022-10-04 06:09] tirumaraiselvan commented on #8993
@nahueld-owners We are looking into this. May take couple more days. Appreciate your patience.

[2022-10-04 06:10] tirumaraiselvan commented on #9066
We are looking into this. Can you confirm if it was working on any prior versions of Hasura?

[2022-10-04 07:11] NoriSte commented on #5263
Update: the Code Exporter plugin is unmaintained, we're analyzing its usage to decide if revamping and maintaining it or digging rid of it. In both cases, I close this PR for now.

[2022-10-04 07:11] #5263 closed

[2022-10-04 07:14] NoriSte commented on #4972
Update: we are internally working on some scalable solution for unifying the select all/unselect all patterns. Hence, I remove the Hacktoberfest label.

[2022-10-04 07:16] NoriSte commented on #227
I removed the Hacktoberfest label because I prefer we work on it internally, I'll share it with my colleagues 😊

[2022-10-04 07:18] NoriSte commented on #2425
Closing this issue because of this @ringfungi 's comment, feel free to re-open it in the future

[2022-10-04 07:18] #2425 closed

[2022-10-04 07:19] NoriSte commented on #3176
@rikinsk is this issue still relevant?

[2022-10-04 07:19] NoriSte commented on #2466
@wawhal  is this issue still relevant?

[2022-10-04 07:20] NoriSte commented on #227
cc @nicoinch

[2022-10-04 07:23] NoriSte commented on #3723
I remove the Hacktoberfest label because of an internal components library we are working on.

[2022-10-04 07:28] NoriSte commented on #4314
The Console currently breaks for unpredictable behaviours (we are internally working to fix it), that's why I generically discourage working on the Console, even for the smaller TS upgrades (we are working on them too). I close this PR.

[2022-10-04 07:28] #4314 closed

[2022-10-04 07:31] NoriSte commented on #4704
I guess so, I close this PR, thanks for reporting 😊

[2022-10-04 07:31] #4704 closed

[2022-10-04 07:31] NoriSte commented on #4818
The Voyager is not linked anymore in the Console, I close this PR.

[2022-10-04 07:31] #4818 closed

[2022-10-04 08:02] bluee commented on #9066
It was working in a prior version. I can't remember which version but at least v2.0.7.

[2022-10-04 11:55] iosifnicolae2 commented on #7289
@martin-hasura would it be possible to resolve the conflicts by letting hasura merge the permissions using an OR operation? (basically, Hasura will dynamically create a permission which combine the conflicted permissions using an OR operation)

Thank you!

[2022-10-04 12:07] furkan-kajabi commented on #3981
I experienced this issue today, any updates?

[2022-10-04 13:08] dsandip commented on #9065
@andrewalex additional context (from your chat in Discord) would be super helpful for the team to contextualise this ask!

[2022-10-04 13:47] marionschleifer commented on #8053
This has been completed. [Link to page](https://hasura.io/docs/latest/mutations/ms-sql-server/update/).

[2022-10-04 13:47] #8053 closed

[2022-10-04 13:52] #8167 closed

[2022-10-04 13:59] marionschleifer commented on #8126
Documented [here](https://hasura.io/docs/latest/actions/types/index/#object-types).

[2022-10-04 13:59] #8126 closed

[2022-10-04 14:57] ryanbooz commented on #1711
I just wanted to leave a message and confirm that this has been fixed in TimescaleDB 2.8 and I just verified through the Hasura API Explorer that the repro steps from @waterdrop01 above now work and successfully UPSERT rows in the hypertable.

The work for this fix was tracked on #1094. 🙌

[2022-10-04 15:08] Stefmore02 commented on #8884
@aniketh-varma if it appears in our marketing material as capitalized, or if it's not an industry-standard term and appears on our side navigation, then it's a Hasura feature.

[2022-10-04 16:47] adas98012 commented on #9063
Do you have column-level permissions set for the mentioned computed field(s) ?

Here is the link to the doc for your reference:

https://hasura.io/docs/latest/schema/postgres/computed-fields/#computed-fields-permissions

[2022-10-04 17:47] dsandip opened #9067 "Can/should Hasura handle rollbacks when the Github deployment feature errors out"
### Is your proposal related to a problem?

E.g. use-case: when applying migrations fails, the metadata is likely to be wrong/inconsistent.

### Describe the solution you'd like
There are clear instructions on what to do when an issue happens (redirect to [docs troubleshooting section](https://hasura.io/docs/latest/deployment/hasura-cloud/github-integration/#inconsistent-metadata-after-finalizing-

[2022-10-04 18:26] karibertils commented on #1357
Since #1498 has been solved, I am wondering if we might be seeing this one implemented as well ?

Really important for my use case.

[2022-10-04 18:55] jepthy commented on #9063
Thank you for your response.

As I read the documentation, the permissions should be set at the table level:
"For table computed fields, the permissions set on the return table are respected."

My sql function returns a type of vw_billing_aggregate_record, which is an empty view that I have created (it is empty because the view is never used, it is needed as a return type for the sql function).

P

[2022-10-04 19:40] adas98012 opened #9070 "missing required field 'args' when using session variables in a custom function"
### Discussed in https://github.com/hasura/graphql-engine/discussions/8954

<div type='discussions-op-text'>

<sup>Originally posted by **securisec** September 10, 2022</sup>
When working with a custom function, I am having an issue that seems to defy the docs. I have a custom function that gets the user id from `x-hasura-user-id` and updates a table.

My custom function signature is:
[code]

This

[2022-10-04 19:42] adas98012 commented on #9070
Already open issue https://github.com/hasura/graphql-engine/issues/8956

[2022-10-04 20:02] jepthy commented on #9063
Out of curiosity, do I need to track the function (like I do with other functions)?  Right now I am only tracking the function in the context of the table it is being used on.

[2022-10-04 20:55] mcsimps2 commented on #6562
Eager for this feature as well.  The resulting code without this functionality is very spaghetti.  Lots of developer confusion seeing `myComputedField[0].foo` in the codebase instead of simply just `myComputedField.foo`.

[2022-10-05 01:25] revelstoke-tim commented on #8819
@manasag could you please update on this issue?  I am also encountering this, and it's kind of a big deal.

[2022-10-05 03:25] catcecilia commented on #8885
Lets divide this up since it is quite a bit of work. I'll be submitting what I have done for right now. My goal is to update graphql-engine/docs/docs/hasura-cli to graphql-engine/docs/docs/scheduled-triggers throughout the week

[2022-10-05 06:26] ejkkan commented on #8866
https://github.com/hasura/graphql-engine-mono/issues/5887#issuecomment-1267981055

[2022-10-05 07:38] AbhishekTiwari23 commented on #9056
Is it still pending? If yes then please assign it to me, I want to contribute

[2022-10-05 09:30] MorningK commented on #9053
after some testing, i found out the key reason of why service restarted is the size of current metadata rather then the size of role set

[2022-10-05 14:53] mnesarco opened #9074 "Custom naming convention"
### Is your proposal related to a problem?

There are some cases where configuring a custom naming convention will help a lot to avoid setting field/table custom names manually.

For example, in my database, all fields are snake case and end with an additional underscore:

[code]

And I want that graphql names are snake case but without the trailing underscore. And also I want to remove prefix fro

[2022-10-05 15:24] zwily commented on #3451
@ferm10n Very interesting... Writing a `CHECK` to verify types on anything other than a pretty simple object seems like it would be pretty hairy though. Thanks for the links!

[2022-10-05 17:01] Smartmind12 commented on #9058
Hey, Could you assign this issue to me as i would like to work on it...Thanks!

[2022-10-05 17:25] sassela commented on #8905
Hey Benoit, latest update. We've:

- Isolated the error to the `LEFT (OUTER) JOIN` fragment in the above generated SQL.
- Identified the root cause of the “correlated subqueries” error: the combination of `LEFT JOIN` and a query on computed fields which returns something from a given relationship.
- Tried out a few equivalent SQL queries, but these fail for the same reason as long as these conditi

[2022-10-05 17:25] #8905 closed

[2022-10-05 19:43] mikeslattery commented on #2943
I've thought about this as well.   Currently, I can only think of workarounds.

Add a keyword to exisitng column "comment" metadata (e.g. 'DEPRECATED').

One idea I had was implementing a series of server-side resolvers, one for each supported version.  The current version would just be a pass-through to hasura.  Prior versions would a translation layer from the prior schema version to the current