[2018-10-08 05:03] rijnhardtkotze commented on #660
Thanks, @0x777

Please let me know if I can be of any assistance.

[2018-10-08 05:10] shahidhk commented on #671
Reproduced on alpha23.

[2018-10-08 06:53] shahidhk commented on #583
@moulikcipherX Can you elaborate?

[2018-10-08 08:11] moulikcipherX commented on #583
I am having a problem in deploying to Fargate as it takes many things in consideration which makes me less understandable.

[2018-10-08 08:37] akshitbhalla commented on #271
@karthikvt26 @michizhou I couldn't help but notice that you raised a pull request 5 hours after I raised mine against this issue, with the same code changes.

What's going on?

[2018-10-08 08:46] rikinsk commented on #407
@shahidhk Don't really have a skeleton in mind. The idea was to put in some content on how Hasura / GraphQL can be used to solve common use cases most app developers face. We can then organise the content if we see better groupings possible.

@mateoholman What sort of sub-sections did you have in mind? Also which tutorial / guides do you think would be a good fit for them? We could definitely do w

[2018-10-08 08:47] shahidhk commented on #271
@akshitbhalla @michizhou Don't worry about that, we'll figure this out.

[2018-10-08 08:50] akshitbhalla commented on #271
Okay, thanks for the response.

[2018-10-08 09:30] shahidhk commented on #400
Re-opening as this is meant to be a docs issue.

[2018-10-08 09:55] dsandip commented on #515
title (for the subsection): `Reset Metadata`
Tagline: Permanently clear GraphQL Engine's metadata and configure it from scratch (*tracking relevant tables and relationships*). This process is not reversible.
Button label: `Reset`
@paranoidsp @praveenweb: We should have a confirmation step ala Github (when deleting a  repo) when you click on the reset button.
Pop-up title: `Are you absolutely sure?

[2018-10-08 09:56] dsandip commented on #515
@paranoidsp : reference design:

![screen shot 2018-10-08 at 3 25 45 pm](https://user-images.githubusercontent.com/24300818/46602673-748a4700-cb0e-11e8-9be2-8e24f127c081.png)

[2018-10-08 13:21] mateoholman commented on #407
@rikinsk @shahidhk I'll put together a rough draft populated with tutorials / guides and open a 'WIP' PR for you to review / comment.

[2018-10-08 13:28] paranoidsp commented on #515
@dsandip Added a default confirmation dialog, everything except the button text is the same. Styling is browser default. @karthikvt26 Check if it looks okay?

[2018-10-08 13:55] jamesgeorge007 commented on #431
@shahidhk Could you elaborate further?

[2018-10-08 13:57] jamesgeorge007 commented on #410
@shahidhk Is this about updating docs with the respective content?

[2018-10-08 14:08] #542 closed

[2018-10-08 14:12] #409 closed

[2018-10-08 14:19] #271 closed

[2018-10-08 14:20] #486 closed

[2018-10-08 14:34] arvi3411301 opened #677 "add clear access key button should be shown even if reload metadata state is set to false"

[2018-10-08 15:36] shahidhk commented on #410
@jamesgeorge007, it can be an example flutter project (say a to-do app, with auth) that can go into the `community/examples` directory. A detailed guide can be added as the readme. Let me know if you'd like to pick it up.

[2018-10-08 15:37] shahidhk commented on #431
@jamesgeorge007 We need more examples to be added to `community/boilerplates/serverless-triggers`

[2018-10-08 18:46] orefalo opened #678 "Add support for CockroachDB"
Or any distributed/replicated SQL db alike...

[2018-10-08 19:18] vipulgupta2048 commented on #322
Should I take this up?

[2018-10-09 05:37] shahidhk commented on #322
Thanks for your interest @vipulgupta2048. @dsandip can put the content here and you can create a PR.

@dsandip Does that work?

[2018-10-09 05:41] shahidhk commented on #583
@moulikcipherX Sure. Take your time.

[2018-10-09 06:39] #639 closed

[2018-10-09 07:43] shahidhk opened #680 "add docs for event trigger apis"
Event trigger APIs need to be documented at https://github.com/hasura/graphql-engine/tree/master/docs/graphql/manual/api-reference/schema-metadata-api

[2018-10-09 07:44] shahidhk commented on #489
docs issue here: https://github.com/hasura/graphql-engine/issues/680

[2018-10-09 07:48] rikinsk commented on #680
@tirumaraiselvan Can you take this up

[2018-10-09 08:19] moulikcipherX commented on #583
I can not find the Environment Variables for connecting database.

[2018-10-09 08:35] #618 closed

[2018-10-09 08:41] shahidhk commented on #583
@moulikcipherX Have you provisioned an Amazon RDS instance?

[2018-10-09 09:02] dsandip commented on #322
@shahidhk @vipulgupta2048 : @shark-h had done some work on this a while back here: https://github.com/shark-h/graphql-engine/tree/sec_info. Check out https://github.com/shark-h/graphql-engine/tree/sec_info#contributing and the linked .github/SECURITY.md.

@vipulgupta2048 : Will you review/revise that and submit a P.R?

[2018-10-09 09:46] 0x777 opened #682 "track if connection_init failed on a websocket connection"
Currently if `connection_init` fails and then a `start` message arrives, the error is `start received before the connection is initialized`. The error should instead by `cannot start as connection_init failed: <connection_init error message>`.

This happens when the client does not check for the response from the server after `connection_init` and blindly sends `start` message (graphiql seems to b

[2018-10-09 09:49] shahidhk commented on #451
@arvi3411301 Can you also add a custom JWT server example?

[2018-10-09 09:56] ecthiender commented on #655
## Postgres 10 - partitioned tables

### HGE compatibility
1. queries work
2. insert mutations work as long as inserted data has a corresponding partition
3. update mutations work as long as the new data does not require moving the row to a new partition
4. delete mutations work
5. relationships to/from partitioned table does not work

### Limitations:
1. Partitioned tables cannot have primary key

[2018-10-09 10:20] #545 closed

[2018-10-09 10:21] #682 closed

[2018-10-09 11:03] #388 closed

[2018-10-09 12:39] vipulgupta2048 commented on #322
I have written a considerable amount of open-source documentation now. I will see what I can pull :hatching_chick:
Taking it up.

[2018-10-09 12:52] karthikvt26 commented on #275
@akash1997 Are you working on this issue?

[2018-10-09 12:56] dsandip commented on #623
@karthikvt26 @paranoidsp

1) Let's have a checkbox after role-based checks like this:
![1](https://user-images.githubusercontent.com/24300818/46670723-9b20ae80-cbf0-11e8-8e72-a8ccddddcbcd.png)

2) While the API doesn't care about the preset types, we should have a dropdown to give more context about the fact that values beginning with `X-Hasura-` will be looked for in session variables (more on th

[2018-10-09 13:35] dsandip commented on #216
Console work being tracked here #623. @karthikvt26 @rakeshkky

[2018-10-09 14:08] #582 closed

[2018-10-09 14:17] deinspanjer commented on #333
The part I'm most interested in here are ways to support new WHERE clause criteria for currently unsupported or custom data types.  A good example is the ltree data type which is very powerful and useful when dealing with tree like data.  Using that, you have a new set of operators that let you compare an ltree column with an lquery.  Most of those operators look and behave similar to the JSON(B)

[2018-10-09 21:48] Verikon opened #688 "deep queries fail after alpha23"
alpha23 seems to have introduced some issue with queries of reasonable depth.

I've set up a heroku instance here - https://hasura-piel.herokuapp.com/console

the following query no longer works (as of introducing alpha23)
[code]

If i remove some of the inner items (amusements->tickets) it will work again:
[code]

if i remove some of the outer items (users->roles) it too will work again:
[code]

[2018-10-09 22:09] Verikon commented on #688
I should make mention, this worked in the release prior to alpha23.

[2018-10-09 22:29] coco98 commented on #688
For reference, I’ve linked to this on the discord h-general channel with an
example too.

On Wed, 10 Oct 2018 at 3:39 AM, Verikon <notifications@github.com> wrote:

[2018-10-10 03:39] akash1997 commented on #275
Yes @karthikvt26 Actually I'm done halfway through, just need some more time to complete it. I have my exams currently, so I will make a PR as soon as I'm done with the exams by next week.

[2018-10-10 05:04] #484 closed

[2018-10-10 06:46] #632 closed

[2018-10-10 07:35] #515 closed

[2018-10-10 08:48] arvi3411301 opened #691 "uriPrefix is not appended on change schema dropdown"

[2018-10-10 09:46] #691 closed

[2018-10-10 11:32] 0x777 opened #693 "unexpected keys in input values aren't validated"

[2018-10-10 12:28] sdabhi23 commented on #541
I would like to take this up!

[2018-10-10 12:53] ecthiender opened #695 "expose graphiql as a documentation page"
- Perhaps add `graphiql_access_key` as an env var
- Integrate with graphqldoc https://github.com/2fd/graphdoc

[2018-10-10 13:24] jasonmorganson opened #696 "Allow access to a relationship separately from the full table"
This would enable adding new tables as relations and allow clients to access them under their parent, but not publish the tables in the root query.

[2018-10-10 14:33] shahidhk commented on #541
@arshadkazmi42 Another person has showed interest. Have you done any work on this?

[2018-10-10 14:34] shahidhk commented on #541
@sdabhi23 Let's wait for some time to see if @arshadkazmi42 has done anything. Otherwise, feel free to start work tomorrow.

[2018-10-10 14:44] arshadkazmi42 commented on #541
@shahidhk  I completely forgot about this, I have been working on alot of projects in parallel. @sdabhi23 you can work on this if you want. If you do not want to do it in any step then let me know, I will take it up.

[2018-10-10 15:10] rikinsk commented on #508
Added under the ``Deploying`` main heading as it involves the deployment method

[2018-10-10 15:10] #508 closed

[2018-10-10 20:34] patcito opened #701 "delete mutations ignore where statements when not using X-Hasura-Access-Key"
When I do the following query:

[code]

It works as expected when using X-Hasura-Access-Key, but when I use my x-access-token header with webhook, it ignores the CompanyId param and delete all rows in the table. I've tested it in console and the same thing happens.

[2018-10-11 05:44] shahidhk opened #704 "`{}` evaluating to true is confusing"
`{}` evaluating to `true` especially with `where` is confusing. We had cases which a frontend bug caused one variable to be undefined and the query was sent with `where: {}` instead of `where: {key:value}` and the entire table got cleared (acepsc).

#701 is also due to `where: {}` matching all the rows.

We need a special construct to match all the cases (that evaluates to true). An empty `{}` sho

[2018-10-11 07:44] dsandip commented on #623
@karthikvt26 Adding the mockups for the edit flow we discussed yesterday:

* Option to delete a preset when adding multiple ones:
   ![multiple_presets_cross_button](https://user-images.githubusercontent.com/24300818/46788115-261bb900-cd57-11e8-9767-f483557e502e.png)

* Editing presets - removing all presets:
   ![edit_presets](https://user-images.githubusercontent.com/24300818/46788263-654a0a00-c

[2018-10-11 11:11] praveenweb commented on #478
Closed in #700

[2018-10-11 11:11] #478 closed

[2018-10-11 11:58] #407 closed

[2018-10-11 12:17] rikinsk commented on #554
related to #554

[2018-10-11 15:17] eads opened #708 "Performance issue with large-ish nested query"
Hasura version: v1.0.0-alpha23

I have a 40k row table I'm joining to a 5.5m row table. Querying with Hasura is exceptionally slow, but Postgres isn't.

The GraphQL query looks like this:

[code]

I've limited it to 10 results because much more than that and Hasura just hangs for so long I'm forced to give up. Running with a limit of 10 takes between 10-20seconds. Here's an example log line for th

[2018-10-11 15:34] coco98 commented on #708
@eads Hang tight. @0x777 will look into this and get back to you asap.

We're also adding a "View SQL"  button on the console to make getting the SQL easier :)

[2018-10-11 16:41] coco98 commented on #534
@valstu You can bake a new image that has the CLI.
A brief guide here: https://blog.hasura.io/using-hasura-graphql-engine-with-a-ci-cd-system-9f7e87b3a0df#e778

[2018-10-11 16:55] eads commented on #708
Thanks! No rush on this end; for local development, I can just query a small subset of the data. But the performance disparity is certainly puzzling.

A view SQL button will be _amazing_.

[2018-10-11 18:31] coco98 commented on #534
@shahidhk Why don't we create a CI/CD friendly version of the hasura docker image as well that has hasura CLI installed. Would just make things easier for everyone.

[2018-10-11 19:20] 0x777 commented on #708
@eads Can you check if this problem exists with `v1.0.0-alpha22`? The query generation logic changed in `alpha23`. The debug mode which prints out the generated sql statements is not exposed currently. We'll add the `view sql` feature and an option to print out sql in the logs ASAP.

[2018-10-11 21:06] eads commented on #708
Actually quite a bit worse. I ran it a couple times and it took between 65s and 85s.

My most recent:

[code]

Fwiw with both alpha22 and alpha23 queries without a join -- even ones with hundreds of thousands of rows returned -- have been lightning fast for me. I just ran one that selects 500k rows and it took 180ms.

Out of curiosity, how might I start digging around the Hasura code to debug this

[2018-10-12 02:45] 0x777 commented on #708
This should roughly be the sql query generated for your GraphQL query. I modified the table, column names for a similarly shaped query so there could be errors in the query. Can you check the `explain` output of this query? It should be the same as the `explain` output of your join query above with few aggregate nodes.

[code]
You can start looking here (https://github.com/hasura/graphql-engine/bl

[2018-10-12 03:56] shahidhk commented on #534
On it.

[2018-10-12 07:20] shahidhk commented on #534
@coco98 @0x777 @valstu

I just pushed `hasura/graphql-engine:v1.0.0-alpha23.cli-migrations` to docker hub with cli and a script to apply migrations on startup.

I will add detailed docs and link to source later.

In short, this is how it works:

0. Run the container with migrations directory mounted at `/hasura-migrations` or mount at another location but set `HASURA_GRAPHQL_MIGRATIONS_DIR`. ( not

[2018-10-12 09:28] #688 closed

[2018-10-12 09:54] 0x777 commented on #657
@jasonmorganson I'm closing this as you can force `nulls first` with the appropriate enum value.

[2018-10-12 09:59] brundozer opened #713 "Event trigger making the insert query fail"
I have a _task_ table. When I call the insert_task mutation, it works. But as soon as I add an event trigger listening on inserts in that table, I get the following error:

`
{
  "errors": [
    {
      "internal": {
        "statement": "WITH \"public_task__rel_insert_result\" AS (INSERT INTO \"public\".\"task\" ( \"createdAt\", \"detectField\", \"displayField\", \"endedAt\", \"processedEntries\"

[2018-10-12 10:08] 0x777 commented on #713
Hi ! This is because of a bug in the trigger code generation logic. For now you can drop the trigger so that inserts don't fail (or only have lower cased column names in your table). The fix for this bug is part of the upcoming release (`alpha24`) which will be out in the next 3-4 hours.

[2018-10-12 10:36] #693 closed

[2018-10-12 10:57] dsandip opened #715 "docs for track table type missing in /v1/query endpoint"
https://docs.hasura.io/1.0/graphql/manual/api-reference/schema-metadata-api

[2018-10-12 11:50] nizar-m opened #717 "Track table with Run SQL query fails if the table name is immediately followed by ("
![screenshot from 2018-10-12 17-12-42](https://user-images.githubusercontent.com/19857260/46867557-082b8280-ce43-11e8-8278-46bdd1846b38.png)

[2018-10-12 11:51] shahidhk commented on #701
Fixed in https://github.com/hasura/graphql-engine/commit/37e848cccab1f38dca8e7e414b0f24863870c556

[2018-10-12 11:51] #701 closed

[2018-10-12 11:52] shahidhk commented on #713
Fixed in https://github.com/hasura/graphql-engine/pull/644, https://github.com/hasura/graphql-engine/commit/d57be587b3959dabd8146becd0d4ec7106fa9ff7

Release in a couple of hours

[2018-10-12 11:52] #713 closed

[2018-10-12 12:06] #232 closed

[2018-10-12 12:51] tirumaraiselvan commented on #713
@0x777 @coco98 Maybe we should also look into making event-triggers take a non-critical path so it does not affect graphql query.

[2018-10-12 12:54] 0x777 commented on #713
I don't see how that can be done. Any insert will fail if the trigger fails.

[2018-10-12 14:07] srghma opened #721 "relay support"
From this message https://github.com/hasura/graphql-engine/pull/686#issuecomment-428469217

[code]

What's missing in graphql-engine to support relay?

[2018-10-12 15:06] brundozer commented on #713
It works now. Thank you for the amazing responsiveness and for the good work! :)

[2018-10-12 15:46] eads commented on #708
Here's the explain from your query:

[code]

(Running `analyze` on this one hung just as badly as running through Graphql.

Here's the explain from my query, dropping the limit:

[code]

[2018-10-12 16:23] jasonmorganson opened #722 "Add reload metadata to cli"
In the console there is the ability to reload metadata:

![screen shot 2018-10-12 at 12 17 20 pm](https://user-images.githubusercontent.com/128727/46881223-dd2c3900-ce18-11e8-9c7f-03db9d350542.png)

This would be useful to run from the [command line](https://docs.hasura.io/1.0/graphql/manual/hasura-cli/hasura_metadata.html).

[2018-10-12 16:32] shahidhk commented on #713
@brundozer The fix was released in `v1.0.0-alpah24`. Hope you have upgraded already.

[2018-10-12 16:49] 0x777 commented on #708
Is it possible for you to add an index on `geocoded_address` column of `blocksummary_yearly`?

[code]

[2018-10-12 17:07] eads commented on #708
Ah damn, I thought I had but I reloaded the db and forgot to recreate the index. Will test.

[2018-10-12 17:14] eads commented on #708
With the index (with `EXPLAIN ANALYZE`):

[code]

Hallelujah! About 3x slower than the native query (which didn't see an improvement from adding the index) but also totally reasonable for my purposes.

[2018-10-12 17:19] 0x777 commented on #708
That's great. Can you run vacuum on both the tables? Ideally you should see an index scan.

[code]

[2018-10-12 18:58] eads commented on #708
After vacuuming, it's the same query plan:

[code]

I'll play with it more though to see if I can get the planner to do an index scan instead. I feel kind of dumb for not restoring the index, but on the other hand, the query was working fine the way I wrote it so it didn't occur to me that the way Hasura was constructing the query would blow up. But it will be a lot easier to troubleshoot once imp

[2018-10-12 21:34] clarkdowding commented on #541
@shahidhk and @sdabhi23, are either of you going to do this one?

[2018-10-13 03:54] sdabhi23 commented on #541
@clarkdowding yes, I am working on it.

[2018-10-13 04:08] shahidhk commented on #722
This should be a fairly easy thing to do.

For those who are interested in Go and would like to take this up, here's what you gotta do:

1. Add a new method called `ReloadMetadata` to [`MetadataDriver`](https://github.com/hasura/graphql-engine/blob/master/cli/migrate/database/metadata.go#L3)
2. Implement the method `ReloadMetadata` similar to [`ResetMetadata`](https://github.com/hasura/graphql-eng

[2018-10-13 04:18] shahidhk commented on #451
We already have a [boilerplate with passportjs](https://github.com/hasura/graphql-engine/tree/master/community/boilerplates/auth-webhooks/passport-js) which acts as a webhook.

Hasura supports JWT out of the box. It will be great if we can create a boilerplate which acts as an auth server issuing JWT tokens and also integrates passportjs so that all other login methods like google, facebook, etc.

[2018-10-13 04:19] shahidhk commented on #583
@moulikcipherX Did you manage to figure this out?

Any other takers?

[2018-10-13 04:19] shahidhk commented on #410
@jamesgeorge007 Are you working on this?

[2018-10-13 04:20] shahidhk commented on #677
@arvi3411301 @paranoidsp Can you explain what this bug is?

[2018-10-13 04:28] shahidhk commented on #500
The corresponding docs page is present at https://docs.hasura.io/1.0/graphql/manual/schema/export-graphql-schema.html

But it doesn't have the word introspection.

[2018-10-13 04:33] shahidhk opened #724 "statically compile server binary"
Server ships as a docker container since there are some dynamically linked components. If we can do a static compilation, server binary can be shipped as it is along with the container.

Helpful resource: https://www.fpcomplete.com/blog/2016/10/static-compilation-with-stack

[2018-10-13 04:46] cthulhu-uu commented on #722
Hi there! I'm new to this repo and would like to work on this for Hacktoberfest :D

[2018-10-13 04:50] swatisingh45 commented on #500
Hey! @shahidhk I would love to take up the issue, can you please explain in detail what is to be done?

[2018-10-13 08:29] #322 closed

[2018-10-13 08:33] shahidhk commented on #500
@swatisingh45 It's just about adding the word `introspection` to the docs, particularly to the page mentioned above.

@rikinsk What do you think?

[2018-10-13 08:38] swatisingh45 commented on #500
Yeah, but what is the significance of adding this word? Where is this to be added or in what terms?

[2018-10-13 10:04] peterjgrainger commented on #451
@shahidhk can I take this on? I'll let you know if I have any issues

[2018-10-13 18:48] dpisanu opened #727 "Typos in documentation"
Some of the documentation files and/or comments contain some typos.
Purely cosmetic documentation work.

[2018-10-14 08:17] gr8shivam opened #735 "Minor Doc Errors"
There are some spelling and grammar mistakes in docs.

Files:
- code-of-conduct.md
- SECURITY.md
- CONTRIBUTING.md

[2018-10-14 08:21] gr8shivam opened #736 "Add License Badge"
Add a License badge for the project in README.md

Currently the GraphQL Engine is available under the GNU Affero General Public License v3 (AGPL-3.0).

[2018-10-14 08:59] toxsick commented on #721
I think it is mainly that relay's connection spec with cursors and first/after ist not available. Is there a timeline on this?

[2018-10-14 15:11] CloudSaver opened #738 "Redo formatting (in css files mostly)"
I'd suggest we'd redo some formatting in the css files, because the code can be hard to read.

[2018-10-14 16:46] swetax commented on #581
@shahidhk I tried to solve this #743 but was not able to pass the tests . Please guide me to make this work.

[2018-10-14 18:33] spencerng opened #745 "Unclear documentation and typos"
In several `.md` and `.rst` files, there is inconsistent language and typos (e.g. "setup" instead of "set up")

[2018-10-15 00:51] nathanwaters commented on #431
+1 cloudflare workers. I've emailed their team the repo link

[2018-10-15 04:16] shahidhk commented on #581
@swetax The issue is to create more examples for the laguages suppoted by Azure. Not to update the readme. :smile:

Feel free open another PR with examples in these languages.

[2018-10-15 04:32] shahidhk commented on #722
Hello @cthulhu-uu, thanks for your interest :smile:

It looks like @abilash13 has already opened a PR, which looks good.

Feel free to pick up another issue.

Thanks again :pray:

[2018-10-15 06:12] #717 closed

[2018-10-15 07:07] revskill10 commented on #724
@shahidhk So we don't need `docker` for future deployment ?

[2018-10-15 07:13] shahidhk commented on #724
@revskill10 It's just an idea :smile:

But yeah, if done there won't be a need for docker.

[2018-10-15 07:55] #736 closed

[2018-10-15 07:55] #727 closed

[2018-10-15 08:42] shahidhk opened #751 "endpoint with trailing slash causes issues with cli"
In `config.yaml` created by the cli, if `endpoint` url contains a trailing slash, the url that is built turns out to be `https://localhost:8080//v1/version`

We should be using the `net/url` package in building the urls everywhere.

@arvi3411301 Can you point to the places where endpoint is parsed and new urls are built?

[2018-10-15 08:43] #738 closed

[2018-10-15 09:38] 0x777 commented on #721
Hi @srghma @toxsick relay makes assumptions about the GraphQL server as outlined [here](https://facebook.github.io/relay/docs/en/graphql-server-specification.html). We haven't made any attempt to implement this spec yet. At a quick glance, we don't have cursors for pagination. Apart from that it shouldn't be hard to map rest of the spec to what we already have right now.

We haven't received a lot

[2018-10-15 09:43] srghma commented on #721
@0x777

I personally have to use to postgraphile on work because of no support for relay (I don't like apollo, apollo forces me to manage state of application myself)

[2018-10-15 09:47] toxsick commented on #721
@0x777 ,

thanks for your answer. I see 2 challenges here to make hasura relay compatible:

1. relay connection spec with structure edges --> node (and cursor, pageInfo, first/last, after/before etc.)
2. Nodes have to be unique in whole system. Currently Hasura uses just the database id as id field for items. That means items from 2 tables have the same ids. This is not allowed in relay. Migrating

[2018-10-15 09:54] theharshitgarg commented on #583
@shahidhk I would like to take some.

[2018-10-15 10:09] 0x777 commented on #708
The following typically influence the planner picking Index scans oven Bitmap scans:
1. `random_page_cost` being closer to the `seq_page_cost`(https://www.postgresql.org/docs/current/static/runtime-config-query.html)
2. `correlation` in `pg_stats` for the column is close to `-1` or `+1` (https://www.postgresql.org/docs/current/static/view-pg-stats.html).

The default values of `random_page_cost` i

[2018-10-15 11:32] tirumaraiselvan commented on #680
https://github.com/hasura/graphql-engine/pull/550/

[2018-10-15 11:45] flowkraD commented on #584
If this is still an open issue, I would love to contribute (^_^)

[2018-10-15 11:58] shivansh007 opened #753 "typos and grammar mistakes in docs"

[2018-10-15 12:39] #541 closed

[2018-10-15 12:42] shahidhk commented on #584
Go for it @flowkraD

[2018-10-15 13:05] dsandip commented on #562
@karthikvt26 Let's add a button next to `History` labelled `Analyze`:

![console-analyze-button](https://user-images.githubusercontent.com/24300818/46952197-cf401780-d0a7-11e8-8fbf-d1a16d4e5a81.png)

This button will:
a) If there are multiple graphql queries in GraphiQL, prompt user to choose one of them (just like the `Run` button):

![console-select-one-query](https://user-images.githubuserconte

[2018-10-15 13:09] arshadkazmi42 commented on #751
@shahidhk
I would like to work on  this.
 So we just need to change the `url` for this?

[2018-10-15 14:34] cozyplanes commented on #753
#754

[2018-10-15 18:10] ms10398 commented on #751
I would like to work on it if it is possible @arvi3411301 can you guide me what needs to be changed as this would be my first PR for Hasura

[2018-10-15 21:32] coco98 opened #766 "restructure migrations documentation"
1. Use Hasura's migration tooling: Include one step for initializing from existing database. Add a small video.
2. Use your own database migration tooling: Add a small video.

[2018-10-16 07:13] #753 closed

[2018-10-16 07:13] #745 closed

[2018-10-16 08:27] shahidhk commented on #482
@0x777 ^

[2018-10-16 08:31] rakeshkky opened #773 "for views consider only insertable ones in nested insert input objects"
Currently, when there is a relationship to a view which is not insertable, `GraphQL` query fails
with internal error:
[code]
where `author_complex_view` is a view which is not insertable.

[cc @corysimmons]

[2018-10-16 09:16] maxcan opened #775 "Cannot create migrations / export metadata with dockerized server"
I've created a repo to reproduce the bug: https://github.com/maxcan/temp-hasura-console-bug-repro.

Versions:
* hasura CLI version: v0.4.15
* GraphQL Engine CLI version:  v1.0.0-alpha24
* GraphQL Engine Server [http://localhost:9080/v1alpha1/graphql] version:

Steps to reproduce:

1. ` docker-compose up`
2. log into http://localhost:9080  and create a simple users table
3. `hasura init --endpoint

[2018-10-16 09:48] shahidhk commented on #775
Hello @maxcan,

Hasura CLI takes the endpoint as the server endpoint, not the `v1aplha1/graphql` one.

You can edit the `config.yaml` file and change endpoint to `http://localhost:9080`.

Then `metadata export` should work.

[2018-10-16 10:07] maxcan commented on #775
@shahidhk worked like a charm, thanks!

Now that I realize that, the docs do show that the endpoint should just be the server so my mistake.

[2018-10-16 10:07] #775 closed

[2018-10-16 10:18] ryuzaki3 commented on #410
@shahidhk I would like to work on this!

[2018-10-16 10:27] arvi3411301 opened #778 "run sql doesn't work in server mode"
RUN SQL doesn't work in hasuradb mode due to invalid check for migration name.

[2018-10-16 10:37] vshelke commented on #314
Hi @shahidhk can i take this one up ?

[2018-10-16 10:42] shahidhk commented on #314
@vshelke Sure, go for it. Come up with an implementation which opens voyager by clicking a new tab / button on the console. We'll iterate on the UI.

[2018-10-16 10:42] lukebyrne commented on #451
@peterjgrainger I am looking at starting on a similar task tomorrow, have you managed to make any progress?

[2018-10-16 10:42] shahidhk commented on #410
Go for it @ryuzaki3!

[2018-10-16 10:43] vshelke commented on #314
ok cool @shahidhk

[2018-10-16 11:48] #778 closed

[2018-10-16 11:49] #671 closed

[2018-10-16 12:40] lukebyrne commented on #451
@peterjgrainger great stuff, even its not complete today could u post a link later on after your have finished working on it for the day so that I can have a noodle around with it? Cheers

[2018-10-16 13:06] coco98 opened #783 "create hasura adapter for react-admin"
[react-admin](https://github.com/marmelab/react-admin) is an open source admin dashboard built on React which can provide an interface to view/edit/manage data from various backends.

It supports GraphQL, but the grammar is a bit different from what Hasura has.

We can implement a [DataProvider](https://marmelab.com/react-admin/DataProviders.html) to support managing data through Hasura GraphQL AP

[2018-10-16 13:30] arvi3411301 opened #784 "track multiple instances of table/view in run sql"
Currently, in run sql tracking table/view is possible only for one instance.

We need to enable tracking of multiple instances of table/view

[2018-10-16 14:28] rakeshkky opened #786 "implement count and aggregate queries on columns"

[2018-10-16 16:52] dsandip commented on #786
To be notified:
1) shashank#0565 on Discord

[2018-10-16 17:02] jamesgeorge007 commented on #410
@shahidhk I would like to work on it as well. But, it's been a while since I had worked with Flutter. So it might take time.

[2018-10-16 17:16] coco98 opened #789 "hdb_catalog.hdb_version doesn't have a primary key?"
Should we have a primary key on this table? I was trying this out with yugabyte which is a postgres flavour hence ran into this.
In any case, we should add a primary key to the table anyway right? Why does it not already have one?
@arvi3411301 @rakeshkky @shahidhk

[2018-10-16 21:29] brute4s99 opened #792 "DOC : fix trivial grammatical errors in community/README.md"
There are few grammatical errors in README.md here and there which need to be fixed.

[2018-10-17 05:39] shahidhk commented on #789
@0x777 ^

[2018-10-17 05:39] shahidhk commented on #789
@coco98 This is not created by the cli. This table is managed by the server to keep track of it's internal schema version.

[2018-10-17 05:44] shahidhk commented on #410
@ryuzaki3 @jamesgeorge007 I have an idea so that both of you can work on this.

@ryuzaki3 You can work on a building a To-Do application where there are users and users will have to-dos.

@jamesgeorge007 You can work on a blog application where there are authors and articles and author creates articles.

What say?

[2018-10-17 05:50] shahidhk commented on #751
@ms10398 False alarm, we were unable to reproduce this. Will re-open if it happens again.

[2018-10-17 05:50] #751 closed

[2018-10-17 09:08] pradel commented on #326
As a user I think I like more the possibility to have different environments in the same file and specify the env in the cli command.
For now how can we specify the endpoint with the cli? You said by passing it as a flag but I can't find which one 🤔?

[2018-10-17 09:10] shahidhk commented on #326
@pradel You can provide endpoint/access key in 3 different ways

1. In the config.yaml file
2. `HASURA_GRAPHQL_ENDPOINT` env var
3. `hasura --endpoint <hasura-endpoint> console`

This precendence is flag > env var > config file

[2018-10-17 09:15] pradel commented on #326
@shahidhk Thanks that what I was looking for!
Maybe it can be a good idea to add --endpoint in the `Flags` section of the `hasura --help` command?

[2018-10-17 09:17] shahidhk commented on #326
@pradel It comes up for the relevant commands as its not a global flag.

<details>
<summary> `hasura console --help` </summary>

[code]

</details>

[2018-10-17 09:20] pradel commented on #326
@shahidhk Okay I see, I tried only the `hasura metadata --help` and not `hasura metadata apply --help` that's why, thanks!

[2018-10-17 12:17] dsandip commented on #562
@0x777 Can we also log the generated SQL when a debug/verbose flag is enabled? Reference: https://app.intercom.io/a/apps/rucirpb3/inbox/inbox/mentions/conversations/18242089570

[2018-10-17 17:01] 0x777 commented on #789
It doesn't have a primary key because it can only ever have one row. The constraint guarantees it. Sure, we can add a primary key constraint too.

[2018-10-17 17:46] jamesgeorge007 commented on #410
@shahidhk I would rather prefer to work with the ToDo App if @ryuzaki3 is Okay :smile:

[2018-10-17 18:06] ryuzaki3 commented on #410
@jamesgeorge007 I'm ok with anything!. So, yes, I've no problem in working with blog application (:

[2018-10-17 18:08] ryuzaki3 commented on #410
@jamesgeorge007 I've no problem in working with blog application.. Infact, it's interesting! (:

[2018-10-18 07:14] lukebyrne commented on #451
@peterjgrainger Just a heads up, I got a pretty simple Express App working for my needs.

https://gist.github.com/lukebyrne/72129edfb5ae09c844826f7a32b0f322

The `process.env.` just go in the .env file and if you read through the code they are all fairly self explanatory.

I have it working with a VueJS frontend.

[2018-10-18 07:31] sdabhi23 commented on #695
@ecthiender I would like to help out with this one

[2018-10-18 13:13] ulshell commented on #500
Hey I would like to work on it

[2018-10-18 15:28] praveenweb opened #810 "verify support for PostgreSQL 11 and add tests in CI"
Stable version of PostgreSQL 11 has been [released](https://www.postgresql.org/about/news/1894/).

Check server support and cover test cases in CI to verify compatibility for this version.

[2018-10-19 02:18] shahidhk commented on #562
Re-opening to track console improvements.

[2018-10-19 03:55] karthikvt26 opened #815 "Send headers as part of the request headers too for sql explain"
The headers are sent as part of the request body currently. Send it in request headers too.

[2018-10-19 07:50] supriyanta commented on #783
I want to work on this, I'm beginner here. Could you please guide me?
What to learn?

[2018-10-19 09:13] praveenweb opened #820 "permissions page showing incorrect tooltip info"
Permissions page for a table is showing, ```You cannot insert/update into this view```, though it should be shown only when i'm browsing a view.

<img width="1276" alt="screenshot 2018-10-19 at 2 40 43 pm" src="https://user-images.githubusercontent.com/14110316/47209166-4f6ac380-d3ad-11e8-973b-16353b517824.png">

[2018-10-19 09:17] #562 closed

[2018-10-19 09:28] sandipmavani opened #821 "support for accessing multiple postgres database in graphql"
If possible also need dynamic change instance or database on runtime.

[2018-10-19 10:13] revskill10 commented on #821
@sandipmavani I think schema stitching is the way in this case.

[2018-10-19 10:20] sandipmavani commented on #821
schema stitching is in the same database but I use multiple databases.

[2018-10-19 10:52] dsandip commented on #360
+1 from lukeyb#6105 on Discord

[2018-10-19 11:12] karthikvt26 opened #823 "UX improvements on SQL Analyze"
Suggestions from @coco98:

1. Use the empty space depending on the screen resolution to accommodate more of the SQL data/execution plan
2. Ability to copy the result and try with something like datagrip/psql

@surendran82 please take a look at this.

[2018-10-19 16:07] rafaelugolini opened #824 "webhook authentication + subscriptions"
Anyone had issues using subscription and webhook authentication?

The examples pointed [here](https://github.com/hasura/graphql-engine/tree/master/community/boilerplates/auth-webhooks/nodejs-express) doesn't seem to work with apollo-client

The headers are not being sent.

ps: only the websocket connection is not working, normal queries are working well.

[2018-10-19 17:00] #500 closed

[2018-10-19 17:54] revskill10 commented on #91
Does materialized view automatically get updated when we mutate the related tables ?

[2018-10-20 02:45] 0x777 opened #825 "standardise how session variables are passed to postgres"
This will help anyone willing to capture this information from Postgres. For example, insert/update/delete triggers for audit trail.

Currently, you can access them with `current_setting('hasura.user_id')`. For every, `x-hasura-param`, the `x-hasura-` is dropped and in rest of the suffix, hyphens are replaced with underscores. Ideally, we can have this to be a `json` which can simply be captured w

[2018-10-20 05:54] hrj opened #827 "Opportunity for optimisation when querying by pk"
I love the addition of the "analyze" button in the latest release; thanks!

For the following graphql query:
[code]

The SQL generated is:
[code]

I see two opportunities for simplification:
* The clause for NULL check seems redundant when the pk value is known to be not NULL.
* The nested `select` clauses. The query generator could coalesce them before sending them to the DB.

I don't know whethe

[2018-10-20 07:08] 0x777 commented on #827
Glad that you like it ! You can expect a lot more improvements in the coming few days.

True. This is redundant. Can be removed.

We've spent a fair bit of time to see if these extra nesting of selects has any performance impact. It doesn't affect Postgres at all, even in complex queries.

[2018-10-20 09:19] #820 closed

[2018-10-20 09:38] EmaSuriano commented on #783
I'm taking this issue thank you @coco98 for the help to understand what was exactly to do 👏

@supriyanta you could ask for help in the discord channel of hasura.

[2018-10-20 16:33] ulshell commented on #580
I would like to work for python3

[2018-10-20 16:41] sdabhi23 commented on #695
Should this be implemented like #314? Also what will be the  role of the env var?

[2018-10-20 18:31] akash1997 commented on #275
@karthikvt26 I'm facing some difficulty understanding [this](https://github.com/hasura/graphql-engine/blob/5e1eec80180bef692c9b2f2cea50174dfc29fee7/console/src/components/ApiExplorer/Actions.js#L586). Rest part is almost done. Can you help me out in understanding what is done here. Thanks.

[2018-10-20 22:16] gauthierrodaro opened #830 "Server refuses queries when more than 900 queries/s"
I did a simple script to test if `graphql-engine` could handle big loads (e.g. IOT projects) but it looks like it can't...

Am I doing something wrong?

It is running in a docker container
# Versions
- **postgres**: timescale/timescaledb-postgis:1.0.0-rc2-pg10
- **graphql-engine**: hasura/graphql-engine:v1.0.0-alpha25

# Error
`FetchError: request to http://localhost:8080/v1alpha1/graphql failed,

[2018-10-22 05:18] 0x777 commented on #830
We'll try to reproduce this and get back to you as soon as possible.

[2018-10-22 07:31] praveenweb opened #833 "accept query params for filter/sort in browse table page"
Accept URL query params for filter/sort in console's browse table page so that it can be like the default query when the page is opened.

(via comfortablydumb on Discord)

[2018-10-22 07:46] karthikvt26 commented on #275
@akash1997 It removes the appropriate header value from the state. Could you also provide how you have planned to solve this?

[2018-10-22 12:24] ecthiender commented on #695
@praveenweb @coco98 can you give @sdabhi23 more context? Also we have already done https://graphiql-online.com/ ; so not sure if this necessary.

[2018-10-22 18:11] revskill10 opened #836 "Support backup/restore Postgres database right from Console UI"

[2018-10-23 06:13] dsandip commented on #823
@0x777 @rikinsk Let's use this issue to documents insights from the query plan.

[2018-10-23 06:28] kkshyu opened #837 "Schema name cannot be UUID"
i have created a schema with
[code]

and i cannot add any table into the schema on Hasura dashboard because the SQL is not generated correctly
[code]

it will raise syntax error because we should change into
[code]

[2018-10-23 06:29] kkshyu commented on #837
![image](https://user-images.githubusercontent.com/8722165/47340169-fc0bb480-d6cf-11e8-9f46-fc20cddabde3.png)

[2018-10-23 07:43] 0x777 commented on #595
We'll be adding an option called `unauthorized-role` for both access-key only mode and JWT mode. This option will not be present in the webhook mode. In access-key only mode, when the `x-hasura-access-key` is absent, the query will be executed using the role specified with `unauthorized-role`. JWT mode will have the same behavior when the `Authorization` header is absent in the request.

Will this

[2018-10-23 07:50] 0x777 commented on #837
@praveenweb This should help I guess instead of just quoting the identifier. https://github.com/datalanche/node-pg-format

[2018-10-23 11:17] arvi3411301 commented on #677
@shahidhk Clear access key button should be shown for any server version. But currently, it is shown only when the reloadMetadata state is set to true.

[2018-10-23 13:52] iamzjk commented on #695
@ecthiender I didn't know https://graphiql-online.com/. I really like it. Is it possible that I can host my own version of it for my graphql?

[2018-10-23 14:52] nizar-m opened #840 "GeoJSON: Mutation on MultiPolygon fails with error "unexpected geometry type: MultiPolygon""
GeoJSON Insert mutation results in the following error:
Response:
[code]

Query:
[code]

[2018-10-23 19:04] patcito opened #842 "Can't select id when id is not primary key using x-access-token"
Here's how to reproduce:

Create table foo (id, name). Set name as primary key and id as unique and auto-increment.

Make sure to check select permissions for id and name.

Run the following query with hasura secret:

[code]

Works fine, now try with header x-access-token and you will get:

[code]

[2018-10-23 20:41] patcito commented on #842
Nevermind, after double checking permissions wasn't set on id. Works now.

[2018-10-23 20:41] #842 closed

[2018-10-24 02:39] coco98 commented on #824
@shahidhk @praveenweb @ecthiender @rikinsk Folks it's been a while on this issue, please look at this!

@rafaelugolini Is this still a problem you're facing?

[2018-10-24 03:21] ilovelll opened #844 "issue with insert nested object"
When I try to follow the docs on "Insert nested object and get nested object in response",  i found an issue that,
when I try to do this with "returning" everything works fine,
![](http://ww1.sinaimg.cn/large/5e06b5b0gy1fwj599tiasj21700kz75s.jpg)
but when i try to returning with "affecting rows", only the author insert, there's nothing change on the article, even though the returing result was "af

[2018-10-24 05:12] revskill10 commented on #836
Streaming download is nessessary in this caes for large database.

[2018-10-24 08:21] #840 closed

[2018-10-24 10:01] ManavpreetSingh opened #846 "Grammatical issue with Read-me file"

[2018-10-24 10:39] #825 closed

[2018-10-24 11:42] peterjgrainger commented on #451
@shahidhk @lukebyrne took a bit longer than I thought but it's done.  Created the boilerplate for the JWT auth server.  Hopefully the PR explains what is in there :)

[2018-10-24 12:27] 0x777 opened #849 "hasura_role is null in the logs in jwt/webhook mode"
We are reading the request headers to print this information in the logs. But with webhook and jwt this information will not be present in the request headers.

[2018-10-25 04:18] coco98 commented on #595
@0x777 @rakeshkky This issue is fairly critical. It is not possible to use anonymous roles with JWT mode at all right?

[2018-10-25 06:18] Soundug commented on #846
@ManavpreetSingh Can you please tell where in Readme.md is the grammatical error?

[2018-10-25 06:28] Soundug commented on #309
Hi! Can I take up this issue? I would like to work on it.

[2018-10-25 07:22] #547 closed, assigned to nobody

[2018-10-25 08:07] toxsick commented on #721
@0x777 so this is not something that will land anytime soon right? Just for our planning...

[2018-10-25 08:35] dsandip commented on #654
Changes to advanced settings (in the `/console/events/manage/triggers/add` page):

1) This new config will be part of the `Advanced Settings` section. When `update` operation is not selected, we show a simple text message:

![adv_settings_trigger_config_1](https://user-images.githubusercontent.com/24300818/47486772-bb8e7100-d85e-11e8-862a-1ee9d078d0ce.png)

2) When the update operation is selected

[2018-10-25 09:15] 0x777 opened #853 "filter expressions using relationships on the same table do not work"
From Alexander on discord

[2018-10-25 09:38] #849 closed

[2018-10-25 11:14] praveenweb commented on #695
@iamzjk - You can view the source code [here](https://github.com/hasura/graphql-engine/tree/master/community/tools/graphiql-online). Dockerfile is available. Can be deployed anywhere.

@sdabhi23 @ecthiender - Closing this issue as https://graphiql-online.com should be good enough to share for documentation purposes.

[2018-10-25 11:14] #695 closed

[2018-10-25 14:37] rikinsk commented on #404
Closing this. Need specific requirements.

[2018-10-25 14:37] #404 closed

[2018-10-25 15:54] rikinsk-zz opened #862 "docs: refactor hasura internals section"
Create one section with:
- [x] Hasura graphql internals (i.e. db table structures)
- [x] How schema generation works
- [ ] Hasura metadata (what parts are Postgres and what parts are Hasura specific)
- [ ] How console works
- [ ] How CLI works

[2018-10-25 16:50] jakelowen commented on #595
@coco98 - I have an example repo where I issue a JWT that resolve to an anonymous role if that helps to tide you over until the next version ships.

[2018-10-25 17:21] Anupam-dagar commented on #458
I would like to work on this issue.

[2018-10-25 18:16] #595 closed

[2018-10-25 18:34] Soundug commented on #554
@shahidhk Should I add postgis in readme or docs folder?

[2018-10-25 20:22] geekysrm opened #863 "Typo in Firebase-jwt readme"
Typo in
 https://github.com/hasura/graphql-engine/blob/master/community/examples/firebase-jwt/README.md

[2018-10-26 02:53] #837 closed

[2018-10-26 02:59] #483 closed

[2018-10-26 05:06] coco98 commented on #721
@toxsick We'll take a look at this early next week to see what timelines we can put around this! @0x777 will probably have some questions for you.

We haven't played around with relay very well yet. Are you on our discord? Will be easier for us to chat and for us to ask you questions around relay. I know @srghma is on discord already!

https://discord.gg/vBPpJkS

[2018-10-26 09:02] #786 closed

[2018-10-26 10:50] jasonmorganson commented on #783
For reference, from the [docs](https://marmelab.com/react-admin/DataProviders.html#available-providers):

The react-admin [ra-data-graphql](https://github.com/marmelab/react-admin/tree/master/packages/ra-data-graphql) package is maintained by the react-admin team as a basis for building other adapters off of.

They have a couple implementations which might be useful to look at:
- [ra-data-graphql-

[2018-10-26 11:57] #463 closed

[2018-10-26 12:38] #846 closed

[2018-10-26 13:50] 0x777 opened #870 "document the explain api"

[2018-10-26 15:01] eads commented on #708
Whoops, forgot to close. Thanks again.

[2018-10-26 15:01] #708 closed

[2018-10-26 20:08] 0x777 opened #874 "an operation already exists with this id"
Apollo-client, javascript.

Steps to reproduce (from kemal on discord):
1. Stop docker container
2. Open application in browser
3. Restart docker container and got error

[2018-10-26 23:42] david-studyblue opened #876 "Using suggested relationships via console on foreign keys on tables across postgres schemas causes bug"
If I track tables in the `PUBLIC` schema, and then track the suggested relationships, all via the console, then Hasura seems to work properly.  If I track tables in another schema, and then track the suggested relationships for those tables, Hasura gets into a weird state.  Specifically, the suggested relationship isn't removed from the UI component displaying the suggested relationships, though i

[2018-10-26 23:47] david-studyblue commented on #876
Follow-up:  again, when tracking suggested relationships in the `test` schema, it leaves the suggestion offered as an untracked relation.  Except, if you try to add it again, it says it's already added.  This doesn't happen when the related tables are in the default `public` schema.  I hope I'm explaining this clearly enough.

[2018-10-27 01:37] revskill10 opened #877 "Handling multiple roles on the graphql client (possibly in the same query)"
- In an application, one user often have multi roles at the same time, at a screen.
Let's say, in a blog application, both editor and author could edit a post. So if a user is both an editor and an author, how to authenticate with hasura then ?
In this case, hasura should support multi-roles in headers: `x-hasura-roles` instead of `x-hasura-role`.
Else how do you decide which role the user should

[2018-10-27 03:38] #284 closed

[2018-10-27 04:23] shahidhk opened #878 "update digitalocean one-click app manifests on deploy"
DO one-click manifests are located at `https://storage.googleapis.com/graphql-engine-cdn.hasura.io/install-manifests/do-one-click/{docker-compose.yaml,Caddyfile}`

Manifests in `docker-compose-https` should be copied here on deploy step.

[2018-10-27 05:31] jamesgeorge007 opened #881 "Add license badge"
Add license badge within the ```Readme file```

[2018-10-27 05:33] jamesgeorge007 commented on #881
#880 fixes this :+1:

[2018-10-27 06:56] krishkumar commented on #216
Great work! 👍

[2018-10-27 09:54] #863 closed

[2018-10-27 10:04] #881 closed

[2018-10-27 10:10] #876 closed

[2018-10-27 10:11] praveenweb commented on #876
@david-studyblue - Thanks for pointing this out. There was an issue in handling the schema name while creating relationships and it has been fixed now.

[2018-10-27 15:41] edv1297 commented on #783
Is this issue closed?

[2018-10-27 17:11] Skchoudhary commented on #878
Hi @shahidhk
```docker-compose-https``` is already added in [install-manifests](https://github.com/hasura/graphql-engine/blob/master/install-manifests/) folder.

[2018-10-27 19:51] patcito opened #890 "hook auth stopped working after 0.26"
Here is what my webhook returns:

` { 'X-Hasura-Role': 'anon' }`

And the error I get:

[code]

This happens on all my queries, works fine on v0.25.

[2018-10-27 22:23] anuragsachdeva28 opened #892 "Typos in Readme.md"
There are few typing errors in README.md

[2018-10-28 12:37] patcito opened #898 "add tests to CI to check auth webhooks are still working after each change"
To avoid these kinds of bugs https://github.com/hasura/graphql-engine/issues/890

[2018-10-28 12:38] #890 closed

[2018-10-28 12:44] spiffytech opened #899 "Firefox can't access UI, 400 Bad Request"
I followed the instructions to run Hasura via Docker. I can get to localhost:8080/console with Chrome fine, but Firefox returns 400: Bad Request. The container doesn't print any log messages.

[2018-10-28 18:38] nizar-m commented on #898
Fixed via #710

[2018-10-28 18:38] #898 closed

[2018-10-29 01:07] xvaara commented on #250
This is a kind of a show stopper for me. Any progress on this?

[2018-10-29 02:59] leoalves opened #902 "Inserting JSON field with JSON.stringify() inserts data but querying properties do not work"
Hello,

When inserting JSON fields using the generated graphql mutation, using JSON.stringify does not work to query properties with Postgresql.

Steps on how to reproduce it:

Create a table named test_json.  Create 2 fields: id (int auto increment) and json (JSONB type).

Run the following code:

[code]

When selecting a property of the inserted JSON data, in Postgresql,  the first record will w

[2018-10-29 04:34] shahidhk commented on #878
@Skchoudhary This is something different. It's about copying manifests to our cloud storage bucket.

[2018-10-29 04:40] shahidhk commented on #554
@Soundug Are you familiar with PostGIS? If yes, you can contribute to the documentation, not the readme.

[2018-10-29 04:43] shahidhk commented on #595
@haphut There is a flag `--unauthorized-role` and an env var `HASURA_GRAPHQL_UNAUTHORIZED_ROLE` available for server to set a role which can be used when the request is not authenticated. Hope this covers your use-case. :smile:

[2018-10-29 04:46] shahidhk commented on #309
We already have some boilerplates for auth webhooks: https://github.com/hasura/graphql-engine/tree/master/community/boilerplates/auth-webhooks

JWT examples are also present: https://github.com/hasura/graphql-engine/tree/master/community/examples

@rajoshighosh All the examples mentioned above are covered.

[2018-10-29 04:46] #309 closed

[2018-10-29 04:58] shahidhk commented on #410
@jamesgeorge007 @ryuzaki3 Any updates on this :rofl: ?

[2018-10-29 05:25] #892 closed, assigned to nobody

[2018-10-29 06:48] 0x777 commented on #890
@patcito We are releasing `alpha27` with the fix in the next couple of hours. However if you are using the webhook to always return `{"x-hasura-role":"anon"}`, you can use the new `--unauthorized-role` feature instead of webhook. In your case, you'll have something like `--access-key 'access-key' --unauthorized-role 'anon'`, or you can simply add an environment variable `HASURA_GRAPHQL_UNAUTHORIZE

[2018-10-29 07:15] 0x777 commented on #250
This should be trivial to implement on the server side. We need to think about the UX on the console though. @rikinsk

[2018-10-29 07:17] nizar-m opened #903 "Python tests are failing on release builds"
Release build involves executables with and with hpc.

The tests are failing for the case without hpc

[2018-10-29 07:43] #903 closed

[2018-10-29 08:25] coco98 opened #905 "Redirect error on console from row edit page"
Head to:

http://XXXXX.herokuapp.com/console/data/schema/public/tables/YYYYYY/edit
This will redirect to:
http://XXXXX.herokuapp.com/data/schema/public/tables/YYYYYY/browse

It should redirect to:
http://XXXXX.herokuapp.com/console/data/schema/public/tables/YYYYYY/browse

The `/console` bit is missing in the redirect.

[2018-10-29 08:48] shahidhk opened #907 "remove enable console from docker cmd and add it as env var"
The dockerfile for server should have enable console as env var instead of flag

[2018-10-29 08:51] shahidhk opened #908 "link to docs on console help button"
the help button on console currently links to GitHub, Discord and email. It should also link to docs.

![image](https://user-images.githubusercontent.com/4124733/47638883-e3931280-db85-11e8-9d28-6916089cd4b0.png)

[2018-10-29 09:12] rifrayugo commented on #908
@shahidhk I'll help you to add the link to docs

[2018-10-29 09:30] haphut commented on #595
Thanks a lot! Great work.

[2018-10-29 10:11] karthikvt26 opened #911 "Permission query builder doesn't show columns for manual relationship on a non-public schema"
Via Matt Li#7703 on discord

[2018-10-29 10:23] karthikvt26 opened #913 "Configure console tests to run in non-public schema also"

[2018-10-29 11:06] rifrayugo commented on #908
@shahidhk did pull request on #909

[2018-10-29 11:14] shahidhk commented on #908
Thanks, @praveenweb and @karthikvt26 will review.

[2018-10-29 11:57] dsandip opened #915 "Modify "schema"/"manage" box in the console"
![screen shot 2018-10-29 at 5 22 18 pm](https://user-images.githubusercontent.com/24300818/47648266-87d58300-db9f-11e8-8e61-70d2d3701e96.png)

Any idea why this box was added @arvi3411301 ? Especially with the breadcrumbs also available in almost every page. This goes for the `Events` tab too.

[2018-10-29 11:58] raheelriax opened #916 "Invalid response from authorization hook: Error in $: expected [a], encountered Object","
Authorization through webhooks returns this error on hasura/graphql-engine:v1.0.0-alpha26 , working fine on  hasura/graphql-engine:v1.0.0-alpha25.

[2018-10-29 12:20] #911 closed

[2018-10-29 12:21] shahidhk commented on #916
Hello @raheelriax, this is a know bug with alpha26. Please update to alpha27 which contains the fix. Read more at https://github.com/hasura/graphql-engine/releases/tag/v1.0.0-alpha27

[2018-10-29 12:21] #916 closed

[2018-10-29 12:45] Corxrew opened #919 "Add links to docs in graphql-engine/docs/graphql/manual/getting-started/heroku-simple.rst"
please add links to document

[2018-10-29 13:14] karthikvt26 opened #920 "Show pending events with tries > 0"
@tirumaraiselvan

[2018-10-29 14:31] toxsick commented on #721
Jeah sure i joined as @Hanso0o to your discord, I'm not so much online though. If not contact me here and I will show up

[2018-10-29 14:39] leoalves commented on #902
Ok. Thanks.  I am new to Postgresql.

[2018-10-29 14:57] #920 closed

[2018-10-29 16:14] patcito commented on #890
@0x777 I don't always return {"x-hasura-role":"anon"}, only when the jwt token has expired. However, can I bypass the webhook when the client already knows current role is anon? (ie, when user is not logged in on client).

[2018-10-29 19:06] eads opened #929 "show relationships in console UI"
I'm building a rather elaborate set of relationships. It would be awesome if I could see them all in one place in the Hasura console UI.

[2018-10-29 21:32] eads commented on #929
My inclination would be option 1 for a core Hasura console feature. Graphql-voyager is cool! But feels somewhat secondary to the basic task of remembering what I just named a relationship :)

[2018-10-29 21:32] coco98 opened #930 "Create a relationships cheatsheet"
Create a one-pager with concise examples of different kinds of relationships. This will be helpful for folks a little new to relational modelling.

[2018-10-30 03:55] shahidhk commented on #902
No worries @leoalves. Feel free to re-open if you have any issues. You can also find us at https://discord.gg/vBPpJkS

[2018-10-30 03:55] #902 closed

[2018-10-30 06:28] dushyantRathore commented on #908
@shahidhk did pull request on #931

[2018-10-30 07:45] dagolinuxoid commented on #930
@coco98 are you talking about something like [this](https://hackernoon.com/eloquent-relationships-cheat-sheet-5155498c209) ?

[2018-10-30 08:00] karthikvt26 opened #933 "Event triggers section in the current implementation is managed using the name of the trigger -- change it to id"

[2018-10-30 08:32] Maxpain177 commented on #721
+1. I have an existing application with ApolloClient and GraphQL server with join-monster, that supports relay pagination. It's too hard to remove relay pagination from our current infrastructure.

[2018-10-30 08:53] amesas commented on #655
+1 ;)

[2018-10-30 09:04] amesas commented on #91
Nope by default.

You have to call REFRESH VIEW
https://www.postgresql.org/docs/11/static/sql-refreshmaterializedview.html

We use triggers with  REFRESH CONCURRENTLY in some scenarios and a "CRON" in others.

[2018-10-30 09:30] revskill10 commented on #91
@amesas Could hasura automatically handle Refreshing view for us ?

[2018-10-30 09:32] wawhal opened #936 "events and remote-schemas tab comes up late on the UI"

[2018-10-30 09:36] #919 closed

[2018-10-30 09:37] shahidhk commented on #899
@spiffytech Please re-open with the Hasura version and browser versions if this is still happening.

[2018-10-30 09:37] #899 closed

[2018-10-30 10:49] EmaSuriano commented on #783
Hi @praveenweb, I'm having lots of problems to find some time to continue it. So if @edv1297 want to take it, please be my guest. I really wanted to contribute to this project but unfortunately, I can't for now.

[2018-10-30 10:54] #905 closed

[2018-10-30 12:10] Maxpain177 opened #940 "add horizontal scaling guide"
Hi. I've tried to scale Hasura GraphQL Engine deployed to Kubernetes and got various errors after creating tables:

[code]

It seems like Hasura is not stateless and caching data into memory. Maybe we need to use something like Redis for a cache.

[2018-10-30 12:17] 0x777 commented on #940
Hi @Maxpain177 currently modifying schema when you are running several instances of graphql-engine will result in errors like you have seen.

To change schema:
1. Scale down graphql-engine to 1
2. Apply all the schema changes
3. Scale it back to any number

This practice works really well, in development you rarely need to run more than one instance of graphql-engine so you can make changes to the

[2018-10-30 12:47] Fxlr8 commented on #721
+1, this is a must have feature

[2018-10-30 13:44] 0x777 commented on #196
closed with #710

[2018-10-30 13:44] #196 closed

[2018-10-30 13:55] 0x777 commented on #277
`count` (part of aggregations from alpha27) can be used to do pagination as follows:

[code]

This is definitely not as clean as relay's support for pagination, but it is a start. We'll improve it further.

[2018-10-30 14:02] 0x777 commented on #455
@jrhicks @vtrc Aggregations on tables and array relationships are now supported from `alpha26`. https://github.com/hasura/graphql-engine/releases/tag/v1.0.0-alpha26

[2018-10-30 14:02] #455 closed

[2018-10-30 16:58] ryuzaki3 commented on #410
@shahidhk Working on it. Will upload it soon 😅

[2018-10-30 19:20] czakarian opened #944 "Typo in console/README.md"
The following line (line 37) should be changed from
"Other methods to install Hasura GraphQL engine is documented [here]"
to
"Other methods to install Hasura GraphQL engine are documented [here]"

[2018-10-31 04:00] samirashoi opened #948 "Typo in todo-auth0 README"
Minor typo in  https://github.com/hasura/graphql-engine/blob/master/community/examples/todo-auth0/README.md

[2018-10-31 04:05] samirashoi opened #949 "Typo in todo-auth0 README"
Minor typo in  https://github.com/hasura/graphql-engine/blob/master/community/examples/todo-auth0/README.md

[2018-10-31 06:37] #948 closed

[2018-10-31 08:31] jasine commented on #824
@rafaelugolini It's a problem out team facing, is there any solution or guide we can follow?

[2018-10-31 08:49] 0x777 commented on #721
Thanks for all the input ! We've moved this into our roadmap. So it'll be implemented soon, my current estimate is 4 weeks from now, end of November.

[2018-10-31 09:18] Maxpain177 commented on #721
Thank my friend very much, it is a handy feature!

[2018-10-31 10:37] wawhal commented on #824
Hey @jasine how are you sending the headers from apollo-client?

[2018-10-31 11:23] rikinsk commented on #930
Already tracked here #399

[2018-10-31 11:23] #930 closed

[2018-10-31 11:46] shahidhk commented on #940
We can also use the `reload_metadata` API call on other instances to sync up the metadata once schema is changed through one of the instances.

If there are 10 instances running, make schema changes through any one of the instance and then call reload metadata action on all other instances.

[code]

[2018-10-31 11:54] paulmwatson commented on #660
Any progress on this please, having the same issue.

[2018-10-31 12:04] #461 closed

[2018-10-31 15:47] rafaelugolini commented on #824
@coco98 just updated to the newer docker version and looks like it's working.

@jasine I just updated the alpha 27th and it looks fine

[2018-10-31 17:10] jasine commented on #824
@tirumaraiselvan thanks, alpha 27th works.
@wawhal the following headers is working with apollo-client when i use alpha 27th
![image](https://user-images.githubusercontent.com/1934966/47805590-ab045c00-dd72-11e8-83b4-3ce6305d8808.png)

[2018-10-31 19:46] toxsick commented on #721
nice, llokobg foreward to it

Am 31. Oktober 2018 um 10:18:09, Maxim Makarov (notifications@github.com)
schrieb:

[2018-11-01 07:07] rakeshkky opened #960 "evaluate required headers from relational bool expression"
In `author` - `article` case :-
If `filter` expression for `article` table is defined as
[code]
then `server` is not throwing error when `x-hasura-user-id` header is not sent.

[2018-11-01 13:05] Maxpain177 opened #962 "hasura-cli docker image"
Please add hasura-cli to `hasura/graphql-engine` docker image or create a new one.
Needed for migrations in CI/CD process.

[2018-11-01 16:59] Maxpain177 commented on #877
+1. Same problem

[2018-11-01 17:07] Maxpain177 opened #963 "Ability to create views"
Hi. Please add the ability to creating views in Hasura console.

[2018-11-01 21:22] coco98 opened #964 "docs: how to configure custom claims for jwt"
- Link to the rule snippet that can be added to auth0
- How to add custom claims if you're using json-web-token

@rikinsk Perhaps this can be a separate repo with references of how to add custom claims in all kinds of different languages/frameworks?

Currently, auth0, firebase, json-web-token seem to be the big ones. We can add more as we go along.

[2018-11-01 21:36] coco98 opened #965 "In gatsby-config.js remove createLink and use url and headers directly"
Per the latest docs, https://www.gatsbyjs.org/packages/gatsby-source-graphql/
you can just use `url` and `headers` directly in the options. We don't need to use `createLink`.

Ref: https://github.com/hasura/graphql-engine/blob/b7800ffa2e36cf58ebbd5fd062e7fea27ce6d6cf/community/boilerplates/gatsby-postgres-graphql/gatsby-config.js#L11

[2018-11-02 00:37] shahidhk commented on #962
Duplicate of #562, already fixed in https://github.com/hasura/graphql-engine/pull/953

Latest image is `hasura/graphql-engine:v1.0.0-alpha27.cli-migrations`

[2018-11-02 00:37] #962 closed

[2018-11-02 03:06] revskill10 commented on #877
One more note: This feature allows you to put multi-roles queries in a HTTP graphql request.
For subscription to work, hasura needs one more thing:
- It requires a pool of websocket connections which could handle any roles that are sent to it.

[2018-11-02 04:44] go4cas commented on #877
@shahidhk ... my understanding of the current JWT role workflow is:

1. The token is decoded, and checked whether both `x-hasura-default-role` and `x-hasura-allowed-roles` are included
2. If both headers exist, it is checked whether the `x-hasura-default-role` is part of the roles defined in `x-hasura-allowed-roles`
3. If the `x-hasura-role` header is present, then this value is checked against th

[2018-11-02 04:57] coco98 commented on #877
@go4cas What do would you expect to happen when a graphql query is valid for 2 roles? Which role should it run as, or do you expect the results to be automatically merged?

On another note, what do you think about using roles as root-fields?

[code]

This way the client has easy control over knowing which data to fetch. This would work quite easily with point 3 in your suggestion where only `x-has

[2018-11-02 04:57] revskill10 commented on #877
@go4cas The tricky (and the hardest) part of this problem is currently Hasura only allow one role graphql query. It couldn't handle multi roles query.

[2018-11-02 04:58] revskill10 commented on #877
@coco98 As i understand, in your query, hasura should automatically handle each query for each role, then resolve all to return data to client.

[2018-11-02 05:29] coco98 commented on #877
@go4cas Correct! What happens if John had the roles `['product-user', 'product-admin', 'order-user'...]`.

Basically, what I meant to ask was, what if there are multiple applicable roles? Do both get applied, or does only the first one, or do all get applied and the results get merged?

[2018-11-02 05:34] go4cas commented on #877
The way I think about it is that you have two sets of roles: the roles defined on the table, and the roles assign to the user. The check should be as simple as: "do any of the roles defined on the table appear in the list of roles for the user? If so, grant permission. If not, 'permission denied!'"

[2018-11-02 05:36] Maxpain177 commented on #963
@coco98, yes exactly, UI.

[2018-11-02 05:37] go4cas commented on #877
Ah wait ... I see what you mean now. You are saying what if the table has multiple roles, each with different permissions, and John belongs to both those roles. Which permissions apply?

[2018-11-02 05:46] Maxpain177 commented on #877
In my case I should create two roles for most tables: `anonymous` and `user`, which have the same subset of fields as `anonymous` + some additional fields.

[2018-11-02 05:52] revskill10 commented on #877
@go4cas What i mean by `multi-roles query` is that.
[code]
Suppose that user has roles `role1` for `table1`, and `role2` for `table2` .
This is currently impossible to make above query.

[2018-11-02 05:52] Maxpain177 commented on #877
I suggest adding an ability to inherit permissions from another role.

[2018-11-02 05:55] revskill10 commented on #877
OK, what's if a websocket connection is made by above query. Now the user's role changed, what happen ?
The websocket connection should not be recreated for that. Instead the subscription data should reflect the change after that.
And this is the second hard part to solve this problem (when roles change for a subscription query)

[2018-11-02 06:09] revskill10 commented on #877
What if the query is like that:
[code]
?

[2018-11-02 06:17] coco98 commented on #877
@revskill10 True, regarding websockets. However, we can discuss the how to implement and the caveats with implementation later. I was thinking of first just collecting ideas around what kind of roles systems would work best :)

Once we have more thoughts posted here, I'll post a summary of all the ideas too!

[2018-11-02 06:49] tirumaraiselvan opened #966 "Event Triggers: Webhook Url should also take an env var"
This will help in keeping same migrations for different environments.

@dsandip Will need console changes.

[2018-11-02 06:50] dsandip commented on #966
@tirumaraiselvan Add the c/console and mockup-required labels?

[2018-11-02 08:49] praveenweb commented on #963
Hi @Maxpain177 - Can you join the discussion in this issue #335 ? It is already being tracked here.
Any particular use cases that you have in mind?
Btw, closing this as duplicate.

[2018-11-02 08:49] #963 closed

[2018-11-02 09:38] ecthiender commented on #877
Adding few notes just to clarify few cases/scenarios:

 @coco98 already mentioned this:

The automatic merging bit also can't be the **only** behaviour, because of some use-cases. Take the below example (albeit a bit contrived):

Let's say there's a table called `ride_details` which has the following fields:
[code]
Now there are two roles `passenger` and `driver` with permissions on this table. `p

[2018-11-02 10:04] revskill10 commented on #877
@ecthiender How about this query ?
[code]
The response will look like:
[code]

[2018-11-02 10:15] Maxpain177 commented on #335
+1

[2018-11-02 10:16] ecthiender commented on #877
@revskill10 in the actual application: when I'm taking a ride (`passenger` role), I'm not allowed to look at driver details. But I have both the roles under my user account in the application. So the client application needs to make the query only as role passenger and not make the query with driver role at all.

[2018-11-02 10:21] #878 closed

[2018-11-02 10:29] #907 closed

[2018-11-02 10:33] shahidhk commented on #962
@Maxpain177 You can use this docker image for cli: `hasura/graphql-engine:v1.0.0-alpha27.cli-migrations`.

Mount the hasura migrations directory at `/hasura-migrations` of this container and it will start graphql-engine after applying migrations.

[2018-11-02 11:33] Maxpain177 commented on #962
thx

[2018-11-02 12:49] revskill10 commented on #877
@ecthiender For example, you're an editor, and an author.
You're in admin dashboard.
Because you're an editor, you can see `more` data than a normal author.
And because you're an author, you can fetch your own posts.

So in the posts page in `/admin` routes, you should be able to fetch multiple tables at the same time. In this case, you fetch `posts` table as an `author`, and fetch other tables as

[2018-11-02 14:01] #844 closed

[2018-11-02 14:02] rikinsk opened #969 "infer relationship type using uniqueness constraint of foreign-key"
If a foreign-key column also has a unique constraint, suggest an object relationship rather than an array relationship in console

Example:
`user (id pkey, name)`
`user_passport_info (id pkey, passport_number, user_id uniq reference user.id)`

`user_id uniq` ensures there is only 1 passport info for every user

In this case `passport_info -> user` will be object rel and `user -> passport_info` wil

[2018-11-02 14:03] rikinsk commented on #969
this is necessary forestablishing  one-to-one table relationships

[2018-11-02 14:08] #534 closed

[2018-11-02 14:57] dsandip opened #970 "console warnings for header values in migrations"
Needed for event triggers and schema stitching:
The console should warn if you are using values directly instead of environment variables for webhooks and remote schema URLs. Because if you have multiple environments, the webhook URLs could be different.
This can just be a warning note between the title and the dropdown like this:

![console warning](https://user-images.githubusercontent.com/24300

[2018-11-02 15:08] #250 closed

[2018-11-02 15:32] ecthiender commented on #877
Yeah. This is the most common use-case for multiple roles.

But I was giving an example, where having multiple roles and **only**
automatically merging them won't work. There has to be an other option to
specify a particular role - even if we make multiple roles the default
option.

On Fri, Nov 2, 2018 at 6:19 PM Truong Hoang Dung <notifications@github.com>
wrote:

[2018-11-02 22:25] dventimiglia opened #973 "Feature Request: infer recommended relations for writeable views"
Hi! I've a feature request. I understand that in an upcoming release you're adding support for mutations on writable views in PostgreSQL, which is awesome. Would it be possible also to infer suggested relations for views, just as you do for tables? It's thoroughly plausible that this wouldn't be trivial, because while the database catalogs of course record foreign key constraints between tables, f

[2018-11-03 02:58] wawhal opened #974 "template server version in window.__env while serving the console"
If there isn't any problem with this, it'll be really helpful if this is implemented.
It will remove a lot of unnecessary code in console src.

[2018-11-03 06:55] revskill10 opened #975 "Feature request: Support access old data in upsert mutation"
In upsert mutation, is there any way to do this via graphql ?

[code]

The general case is to access old data in the set command.

My real world use case is to use rollup table to scale subscription. (Instead of using view to reload data)

[2018-11-03 07:46] bhushankumarl commented on #402
@rikinsk @shahidhk
Setting up the `CURRENT_TIMESTAMP` as default value and column type as `Type` is not updating the column value automatically updatable on record insert/update.

[2018-11-03 07:49] hrj opened #976 "Console: Invalid error shown for multiple top level fields in subscription"
The following query shows an error in the GraphiQL console "Subscription xyz must select only one top level field".

[code]

However, the query works fine when executed.

[2018-11-03 07:53] coco98 commented on #976
@hrj Unfortunately, multiple top level fields are not a part of the GraphQL subscription spec:
https://facebook.github.io/graphql/draft/#sec-Single-root-field

[2018-11-03 08:20] nukinuki opened #977 "Resizing UI table columns in api console buggy"
http://take.ms/a5TAB
Column sort is triggered on mouseup, preventing column resize
Very annoying, please fix )

[2018-11-03 17:00] aurokk commented on #350
Hello!

I am using http://docs.identityserver.io (written on c#/.net core) and can't add namespaced claims (by design claims can contain only string values) :(
IdentityServer is a most popular auth solution in .net community.

Can i configure HGE to look for claims in the access token root (and may be with namespace) ?

[2018-11-03 17:20] aurokk opened #978 "HGE optional claims namespacing"
Hello!

I am using http://docs.identityserver.io (written on c#/.net core) and can't add namespaced claims (by design claims can contain only string values in .net — https://docs.microsoft.com/en-us/dotnet/api/system.security.claims.claim?view=netcore-2.1)
IdentityServer is a most popular auth solution in .net community!

I think by default HGE should use root token namespace to find claims, and o

[2018-11-03 17:58] aurokk commented on #978
@coco98
Yep, I can. IdentityServer supports custom claims but it's value can only be a string (array of string is possible too). For example it's possible token payload:
[code]

In .NET claims docs microsoft says
(https://docs.microsoft.com/en-us/dotnet/api/system.security.claims.claim?view=netcore-2.1):
[code]

But maybe identity server can deserialize custom types before create tokens. I'll ask

[2018-11-03 18:09] aurokk commented on #978
https://github.com/IdentityServer/IdentityServer4/issues/2774

[2018-11-03 19:47] mwaldstein commented on #349
Related to #348

My specific interest is in having support for '_contains' with integer[] Arrays

[2018-11-04 00:51] ktan114 opened #979 "Error in the gatsby-graphql tutorial"
In the following tutorial: graphql-engine/community/boilerplates/gatsby-postgres-graphql

Missing: "node-fetch": "^2.2.0" dependency in the package.json

Utilized in: gatsby-config.js: "const fetch = require('node-fetch')"

[2018-11-04 00:51] coco98 commented on #979
@karthikvt26 Please take note!

[2018-11-04 02:35] #944 closed

[2018-11-04 10:46] maxpain opened #980 "fixtures / test data"
How to manage test data (fixtures) or initial data with Hasura migrations in dev/prod environments?
We use docker-compose for developers environment and Kubernetes for prod.
Putting initial data to migration files (for both dev/prod env.) is OK. But what if we need test data only on dev environment?

It is an example of our `docker-compose.yml` file.

[code]

Question number two:
In case using abo

[2018-11-04 15:06] revskill10 commented on #877
@ecthiender  I have a suggestion for the problem:
When user add a permision for a table, the graphql API should generate with prefix (role name).
For example, the `posts` table should have 3 api:
[code]
How do you think ?

[2018-11-04 18:07] aurokk commented on #978
Guys from IdS answered me that IdS can add complex objects in tokens. I tried — it works. I think we can close this issue, thank you.

[2018-11-04 18:07] #978 closed

[2018-11-05 02:29] slowr commented on #976
@coco98 yes it is for normal query but not for subscription. I know that GraphQL subscription spec does not allow multiple top levels but is there a possibility to have the aggregations inside the table instead of having a different one to achieve this subscription?

Example of what I need:
[code]

[2018-11-05 02:31] slowr commented on #976
didn't find inside the documentation that nodes exists inside the aggregate table. thanks for the help!

[2018-11-05 09:56] #949 closed

[2018-11-05 10:53] Maxpain177 opened #981 "customise generated type names in graphql schema"
Hi. It will be cool to let a developer select which style of schema's root resolver and type names to use. Or let him override it in a console (separately for an object and arrays).
In my case, I already have a frontend on ApolloStack (about 60000 lines of code) + backend on [JoinMonster](https://github.com/acarl005/join-monster), and it's too hard to replace joinMonster to Hasura, because I need

[2018-11-05 11:07] maxpain opened #982 "support GraphQL enum types"
Why Hasura is not utilizing Postgres ENUM types and not translate it to GraphQL Enums?

[2018-11-05 11:34] shahidhk commented on #980
@Maxpain177 in the first case, you're saying that you need some extra migrations (which may contain fixtures) to be applied on `dev` environment, right? This would require separating migration files for different environments.

Thoughts @coco98 @0x777 @arvi3411301?

We already have a discussion going on at #326 which could address this issue.

On the second point, the console will only create migr

[2018-11-05 11:44] Maxpain177 commented on #980
Yes

I need to run two Hasura containers to make migrations generation work:
[code]

[2018-11-05 22:51] aurokk opened #983 "JWT validation failed"
Hello, it's again me :)

I have another problem with JWT auth and hasura and i can't find a problem, help me pls!

### I created valid access token:
```eyJhbGciOiJSUzI1NiIsImtpZCI6IkJBODcxQkY5MTgwNTIzMjI2QzFFRTA4NkQxMDc4NEM5RTVCQTJCNjQiLCJ0eXAiOiJKV1QiLCJ4NXQiOiJ1b2NiLVJnRkl5SnNIdUNHMFFlRXllVzZLMlEifQ.eyJuYmYiOjE1NDE0NTc0NjUsImV4cCI6MTU0MTQ2MTA2NSwiaXNzIjoiaHR0cDovL2xvY2FsaG9zdDo1MDAwIiwiYXVkIjpbI

[2018-11-06 00:30] coco98 commented on #983
I think when you set the key, are you making the whole key into a single line from the usual multi-line file it is? When you do that you should join the lines with a \n. Check out the example keys here: https://docs.hasura.io/1.0/graphql/manual/auth/jwt.html

[2018-11-06 01:33] coco98 opened #984 "Link "multiple mutations" doc section to nested insert"
Most people end up going to do the multiple mutations docs when they want to do nested inserts because they don't scroll to the bottom of the insert mutations doc page.

https://docs.hasura.io/1.0/graphql/manual/mutations/insert.html
https://docs.hasura.io/1.0/graphql/manual/mutations/multiple-mutations.html

Recommendations:
- Link multipe mutations page to "Looking for nested insert?"
- Add a To

[2018-11-06 04:20] aurokk commented on #983
I tried to replace spaces with “\n” — it’s not working, same result.

[2018-11-06 08:37] #623 closed

[2018-11-06 08:38] #399 closed

[2018-11-06 09:18] dsandip commented on #333
notes on console changes [here](https://docs.google.com/document/d/12A2oNNegF7O3Qv1dgdYWdMO0cM2I3DpI4VLSehwGXko)
(not mocking it up as it's pretty much the same as the UI for handling tables)

@shahidhk @rikinsk @0x777 @rakeshkky @coco98

[2018-11-06 11:36] shahidhk commented on #983
@coco98 @aurokk I checked this out with and without `\n`. Looks like certificate gets parsed and the server starts correctly both ways.

@ecthiender Can you check out what the error means? I get the same error if I use a random JWT like `abcd`

[2018-11-06 11:43] shahidhk opened #985 "deploy script fails"

[2018-11-06 11:43] revskill10 opened #986 "Feature request: Untrack multiple tables at once on the data page"
Currently, in order to untrack multiple tables, one must navigate each table, click on Modify tab and untrack each table.

We need a way to show tracked tables on `data` page, and there're multi checkboxes for user could untrack multiple tables at once.

[2018-11-06 11:46] shahidhk commented on #986
@revskill10 I have added required labels for the issue. As a workaround till functionality is added on the console, you can use the [`untrack_table`](https://docs.hasura.io/1.0/graphql/manual/api-reference/schema-metadata-api/table-view.html#untrack-table) API to untrack multiple tables.

[2018-11-06 11:48] revskill10 commented on #986
@shahidhk Thanks. A nodejs script is needed in this case.

[2018-11-06 11:51] shahidhk commented on #981
@Maxpain177 What you are proposing is complete customisability for the schema generated by Hasura from your Postgres tables, right? Like camel case vs snake case, singular vs plural etc.

I have added an `ideas` label so that we can discuss further.

[2018-11-06 11:51] revskill10 commented on #976
The funny thing is that, though it shows error, you can still subscribe to multi root queries.
In this case, i recommend to use `graphqurl` if you want to consume that subscription. ApolloClient doesn't support it (yet)

[2018-11-06 11:53] Maxpain177 commented on #981
Yes exactly

[2018-11-06 12:00] revskill10 opened #987 "Bug report: Cannot return null for non-nullable field on subscription"
I'm using `graphql-yoga` and use `transformSchema` to rename root query for a remote schema.
The query works fine. But for subscription, i got the error : Cannot return null for non-nullable field on subscription_root.table_name
The function to rename is

[code]

[2018-11-06 12:02] shahidhk commented on #982
We do not support Postgres ENUM types as of now. Will mark this as a feature request, give a :+1: if you'd like the feature added. :smile:

Till then, you can use [single-column tables](https://docs.hasura.io/1.0/graphql/manual/schema/enums.html)

[2018-11-06 12:07] shahidhk commented on #987
I think this is related to https://github.com/apollographql/graphql-tools/issues/997

cc @Maxpain177

[2018-11-06 12:10] shahidhk commented on #976
@hrj Please re-open if there are further questions.

[2018-11-06 12:10] #976 closed

[2018-11-06 12:11] shahidhk opened #988 "add docs for aggregations"
Documentation for aggregations is missing.

[2018-11-06 12:51] Maxpain177 opened #989 "Query whitelisting"
There is a plan to implement query whitelisting? It is the main reason why we don't connect our clients directly to Hasura GraphQL Engine and using schema stitching with tools like [persistgraphql](https://github.com/apollographql/persistgraphql)

[2018-11-06 13:04] #792 closed

[2018-11-06 14:41] mwaldstein opened #992 "docs: document endpoints / proxy guide"
I recently put hasura behind an nginx reverse proxy. Because I was also serving static files along with other services, I had to explicitly call out the hasura endpoints. Getting this set up to allow console access was more challenging and took longer than expected as I didn't realize I needed to open access to /v1/ in addition to /v1alpha1.

It seems that '/v1/*' is only needed for cli and consol

[2018-11-06 18:05] deman4ik opened #993 "Azure PostgreSQL <username@hostname> Not Supported"
Tried to connect to Azure PostgreSQL DB which has special username format with "@" in it
`postgres://USERNAME@HOSTNAME:PWD@HOSTNAME.postgres.database.azure.com:5432/postgres`
but got
`Invalid database-url (HASURA_GRAPHQL_DATABASE_URL).`

[2018-11-06 18:17] shahidhk commented on #993
@deman4ik You need to URL encode the username, use `%40` instead of `@`

`postgres://USERNAME%41HOSTNAME:PWD@HOSTNAME.postgres.database.azure.com:5432/postgres`

[2018-11-06 18:18] shahidhk commented on #993
We're adding Azure docs soon (see #928) which covers this info.

[2018-11-06 18:28] deman4ik commented on #993
It works. Thanks

[2018-11-06 18:28] #993 closed

[2018-11-06 21:19] dsandip commented on #966
@karthikvt26 The UI for this should be the same as the one for [this](https://github.com/hasura/graphql-engine-internal/issues/38), post your discussion with @shahidhk and @rikinsk (who have feedback on those radio buttons)

[2018-11-07 01:16] mwaldstein opened #994 "JWT Authentication + Subscriptions doesn't appear to work"
As far as I can tell, JWT authentication does not work with websocket subscriptions on the web.

In my app, normal http graphql with JWT works fine, but subscription connections fail with the message

`
cannot start as connection_init failed with : Missing Authorization header in JWT authentication mode
`

From my naive reading of the code, and looking at #503, hasura looks for the Authorization h

[2018-11-07 02:00] coco98 commented on #994
@mwaldstein We really need to document this better.
Apollo client works perfectly with Hasura, if you set your headers as apollo intends them to be passed for subscriptions:

Create a `wsLink`:

[code]

Now use `wsLink` with apollo client: https://blog.hasura.io/moving-from-apollo-boost-to-graphql-subscriptions-with-apollo-client-cc0373e0adb0

Please do let me know if you get stuck anywhere! @riki

[2018-11-07 04:12] mwaldstein commented on #994
Ah! The nesting of headers under connectionParams... I see!

I was led astray by https://github.com/Akryum/vue-cli-plugin-apollo/blob/master/graphql-client/src/index.js#L104 which doesn't nest the headers in connectionParams...

Initial test suggests this fixed it - thanks! (sidebar - the discord invite appears broken...)

[2018-11-07 05:57] shark-h commented on #994
@mwaldstein thanks for letting us know about the Discord invite. Could you tell me where you found the link?

[2018-11-07 13:55] mwaldstein commented on #994
Fully tested our subscriptions and can now confirm they are all working - thanks from the assistance!

The Discord link is in the Readme - https://github.com/hasura/graphql-engine/blob/master/README.md#support--troubleshooting

[2018-11-07 14:45] patcito opened #995 "create or replace view syntax doesn't create track table"
Discussed with @shahidhk on discord. Basically:

This works (as in view is being tracked by hasura)

[code]

But this doesn't work (as in view is not tracked by hasura):

[code]

[2018-11-07 14:50] shahidhk commented on #995
more context:
![image](https://user-images.githubusercontent.com/4124733/48138541-8fe1a100-e2ca-11e8-9610-1fe2a6b26815.png)
![image](https://user-images.githubusercontent.com/4124733/48138557-95d78200-e2ca-11e8-9330-07cb0b3477db.png)

[2018-11-07 15:30] mwaldstein commented on #521
Suggestion on this as an alternate option - Bundle the console assets in the cli-migrations build. It is less of an effort than getting web workers implemented and gives a fairly quick solution for those of us looking for local hosting / a fully packaged version.

I feel that version is less size sensitive and is likely used in more scenarios where local hosting is desired.

[2018-11-07 17:29] revskill10 commented on #995
Have you tried reload metadata ?

[2018-11-08 02:05] shahidhk commented on #995
@revskill10 Reload metadata won't work in this case since the `track` API call is not made in the first place, even though the `Track table` box is check.

[2018-11-08 03:43] Leakmonyta opened #996 "Request feature user-management"

[2018-11-08 04:30] nathanstitt opened #997 "Create trigger failed"
I receive an error whenever I attempt to add a trigger.  The message indicates I'm using invalid characters but that doesn't seem to be the case.  In the example I'm just using "test".

Based on the error I think the error originates from https://github.com/hasura/graphql-engine/blob/master/server/src-lib/Hasura/RQL/Types/Subscribe.hs#L129

When I look at the request from the console it's sending:

[2018-11-08 06:37] 0x777 commented on #997
@nathanstitt We couldn't reproduce this on our end. Can you post the server log for this request?

[2018-11-08 06:38] 0x777 commented on #996
@Leakmonyta Can you elaborate a bit? What are the features that you are looking for?

[2018-11-08 06:45] 0x777 commented on #989
@Maxpain177 The biggest problem with whitelisted queries is that there is no accepted spec. persistgraphql seems to be abandoned in favor of https://github.com/apollographql/apollo-link-persisted-queries which is not about whitelisted queries that you get with persistgraphql.

[2018-11-08 07:04] shahidhk commented on #521
@mwaldstein This should be possible. I'll give an update after hacking around a little bit.

[2018-11-08 07:04] coco98 commented on #989
@Maxpain177 This is on the roadmap for us and we'll be looking at it soon!

The problem is exactly what @0x777 said and our current thought is to implement this using names of the queries/mutations/subscriptions so that the implementation needs no client-side configuration, minimal hasura-side configuration and remains generic across clients and not tied into just apollo.

[2018-11-08 07:05] shahidhk commented on #986
@revskill10 You can include multiple `untrack` request in one singe API call using a  `bulk` query.

[2018-11-08 07:09] shahidhk commented on #980
I'll try to hack together something for this.

[2018-11-08 07:11] 0x777 commented on #981
The server can add a `field_names` option to the `track_table` API to customise fields at the top level.

For example, for an `article` table

[code]

I'm not sure about how to allow customisation of the column names. For relationships, it is already under the user control. However for every array relationship, we also generate a `_aggregate` field which we should allow to be customised. That can

[2018-11-08 07:21] shahidhk commented on #402
@bhushankumarl You need to set `now()` as the default value and then when you insert a new row, current server timestamp will be added.

To update the column to latest timestamp, you can execute a mutation with value as `now()`, or set up a Postgres trigger which updates the column when an update happens to the row.

[2018-11-08 10:16] ecthiender commented on #983
Hey @aurokk I tried to reproduce the issue. If I use the public key given by you and the JWT, I encounter the same error as yours.

But if I use the exact same JWT payload as yours [1], but use a different generated private-public key pairs, I am not facing any errors.

Not sure, why that is, I would need some more time to investigate.

@shahidhk if you use a JWT like `abcd` you would encounter er

[2018-11-08 10:30] aurokk commented on #983
Hey, @ecthiender

This is how i generate keys:
```openssl req -x509 -newkey rsa:4096 -sha256 -nodes -keyout auth_05102018.key -out auth_05102018.crt -subj "/CN=rulebook.app" -days 365```

[2018-11-08 11:57] jamesgeorge007 commented on #410
@shahidhk I'm super busy these days with couple of other works. I'm not sure if I'll be able to work on it anytime soon!

[2018-11-08 14:37] nizar-m opened #998 "Event trigger specs: Improve the error message when none among the insert/update/delete operations are specified"
For this create event trigger spec
[code]
The error message is currently
[code]

It would be easier to debug if the error message is something like this
[code]

[2018-11-08 15:52] nathanstitt commented on #997
Sure, happy to do so.

I should also add that I'm running the server directly, i.e. without docker.  I haven't had any other issues with that though.

I also slightly altered the line to print the name so I could be sure it's actually seeing the right value and it appears to be correct
[code]
I don't see why the regex wouldn't match.  My Haskel is really shaky but am happy to try anything else you

[2018-11-08 16:08] brundozer opened #999 "View not working with schema stitching"
Hi,

I needed to have custom resolvers, so I followed the steps described in schema stitching and it worked just fine. However, I later created a view and created a manual relationship in my `asset` type to contain the result of this view.

When I do the query from GraphiQL in hasura console, it works. When I do the query on my apollo server (that merges the two schemas together), I see that my ne

[2018-11-08 16:16] brundozer commented on #999
Fixed. This was related to permissions that were not set properly in the view.

[2018-11-08 16:16] #999 closed

[2018-11-08 20:59] theshire-io opened #1000 "Annoying UI loader on events"
Hello,

When watching events is on, the events table flickers every few seconds because of an extra loader, like this:

![image](https://user-images.githubusercontent.com/44207553/48226976-bb878880-e3a9-11e8-9b67-6d3e5f6dfed3.png)

![image](https://user-images.githubusercontent.com/44207553/48226956-b0345d00-e3a9-11e8-8879-28a77f0a2498.png)

This becomes quite tiring for the eyes after a while, so

[2018-11-09 03:37] tirumaraiselvan commented on #997
@nathanstitt This is very strange. I am guessing this happens for any name you give?

[2018-11-09 06:34] nukinuki commented on #977
Yes, it fixed with platform upgrade, thank you )

[2018-11-09 06:34] #977 closed

[2018-11-09 09:16] wawhal opened #1001 "do not create columns starting with __ in firebase2graphql"

[2018-11-09 09:19] #908 closed

[2018-11-09 14:45] tirumaraiselvan commented on #997
The best guess currently is that the regex library used is system dependent. @nathanstitt can you please give your OS and cpu architecture.

[2018-11-09 15:19] rakeshkky opened #1004 "do not add prefixes for column identifiers in aggregate selection"
In deeply nested queries, the column identifier for aggregations may exceed over `63` chars. Hence query results in `postgres-error` (column reference is ambiguous).

**Ex:-**  For graphQL query snippet ` aggregate { max { author_id }}` in deeply nested query of `author-article` schema generates following `identifier`.

`root.or.authorByauthorId.ar.authorByauthorId.articlesByauthorId.or.authorByau

[2018-11-10 08:56] vyaspranjal33 commented on #579
@shahidhk  can i add blog links

[2018-11-10 14:02] Maxpain177 commented on #981
@0x777, @shahidhk, @rikinsk, @praveenweb, @coco98
I think we also should allow being customized fields in tables.

[2018-11-11 03:33] nathanstitt commented on #997
@tirumaraiselvan yes, I believe you've discovered the reason.  It did work fine in docker, but failed when running on OSX directly.  I made a small PR that uses \W for regex and that seems to work fine.  I'm happy rework it if you'd like a different approach.

[2018-11-11 17:37] slowr opened #1008 "Very slow select queries (Ignoring Indexing?)"
I have a table with 1M rows that has the following index:

[code]

When I do a select query for the first 10 entries in desc order on the timestamp key on PSQL it runs in 0.039s while hasura takes 4.735s.

![image](https://user-images.githubusercontent.com/3428023/48315957-ae56dd80-e5e5-11e8-98d7-aa560a246dc5.png)

This difference is orders of magnitude bigger. Any idea what's the reason?

P.S. It

[2018-11-11 18:17] slowr commented on #1008
upon logging the generated queries I found out that the root of the evil was the `NULLS LAST` statement that is added in the query. So as suggested in #657 I used the `NULLS FIRST` approach and the query is working as expected.

Is there a reason that the default is `NULLS LAST` and this cause the indexes to not be used? Maybe make the `_asc` and `_desc` to generate the correct query in order to u

[2018-11-11 22:47] slowr commented on #1008
@coco98
Even if you change the default to `NULLS FIRST` then the indexing will stop working for `asc` ordering (`asc` still needs `NULLS LAST`).

- Unfortunately, `_is_null: false` does not help on this situation and instead it adds an additional filter on the query. The generated query still has the `NULLS LAST` when selecting the fields

- That's an issue for sure.. that's why I thought maybe yo

[2018-11-12 01:16] nathanwaters commented on #277
Shouldn't x-hasura-user-id be automatically applied as a where filter on aggregate queries?

[2018-11-12 05:52] shahidhk commented on #579
@vyaspranjal33 This issue is about adding sample code.

[2018-11-12 06:48] praveenweb commented on #915
@dsandip - I think this was added for context when the user is in SQL page, where the breadcrumbs doesn't give information on which schema is active.

But if its meddling with the UI, then we can do something else (like adding the active schema information inside SQL page itself)

[2018-11-12 07:05] shahidhk opened #1011 "update docs css for better in-line monospace highlighting"
We need to add the following CSS to docs:

[code]

This gives better highlighting for in-line monospace text, wrapped in ` ``<text>`` ` blocks within `rst`.

before:
![image](https://user-images.githubusercontent.com/4124733/48331820-78fad000-e677-11e8-9f46-cc381e3e6939.png)

after:
![image](https://user-images.githubusercontent.com/4124733/48331810-71d3c200-e677-11e8-91c0-8bb5637e1645.png)

[2018-11-12 07:28] #1004 closed

[2018-11-12 07:38] 0x777 opened #1013 "improve sql generation for `_in` operation"
Currently for
[code]
we generate
[code]
We should instead be generating:
[code]

[2018-11-12 08:28] ecthiender commented on #983
Hey @aurokk , I tried with your above `openssl` command and with your above payload. I am unable to reproduce the issue.

This is what I did:
1. Generate new keys: `openssl req -x509 -newkey rsa:4096 -sha256 -nodes -keyout iss983.key -out iss983.crt -subj "/CN=rulebook.app" -days 365` [1]
2. Go to https://jwt.io and paste both the keys and the payload (in the previous comment). jwt.io generates a

[2018-11-12 12:47] rakeshkky commented on #1013
We can generate two kinds of queries for `_in` operation.

1.
[code]
which is equavalent to
[code]

2.
[code]
**Benchmarking**

*Setup:-*
[code]
Benchmark results using `pgbench`

*On Type 1 :-*

<p>

[code]
</p>

[code]

*On Type 2 :-*

<p>

[code]
</p>

[code]

[2018-11-12 13:04] bhaidar opened #1015 "Cannot execute Queries from Vue.js"
Hi,
In an application I'm working on, I am using Apollo Client and auth0 to connect to Hasura on Heroku.
I've deployed the auth0 webhook also on Heroku.
I've configured the Hasura app with both the Access and Webhook keys.

When I configure Apollo to send the X-Hasura-Access-Key, the query works and I retrieve results.
When the X-Hasura-Access-Key is omitted, I get the following exception:

[code]

[2018-11-12 13:58] rakeshkky opened #1016 "logging x-hasura-access-key"

[2018-11-12 14:01] bhaidar commented on #1015
Hi,
I debugged the auth0 webhook sample and I noticed that I was sending idToken instead of accessToken

It works now, thanks!

[2018-11-12 14:11] slowr commented on #1008
@0x777
I decided to introduce a new enum to avoid breaking existing deployments. But if you decide to change the default dehavior it might be better in the long term and I can update my PR accordingly.

[2018-11-12 17:06] aurokk commented on #983
@ecthiender Hey! i found the problem — when header contains "x5t" (Identity server adds this field by default) field i'm getting bad response:
[code]

Token is valid, but response is:
[code]

[2018-11-12 21:26] pyankoff opened #1019 "Getting "Network error: Response not successful: Received status code 400" when there is an error in gql"
I was getting status code 400 error from Hasura when there was wrong variable in gql. Took me a while to figure out the reason. Is it possible to receive more informative error message?

[2018-11-13 04:47] shahidhk commented on #1019
@pyankoff Can you take a look at the response body? 400 Bad Requests can happen when the user does not have enough permissions etc. and the details will be in the response body.

[2018-11-13 04:48] shahidhk commented on #1015
@bhaidar Glad that it worked. Closing this issue now. Feel free to re-open if you have other questions.

[2018-11-13 04:48] #1015 closed

[2018-11-13 06:48] ecthiender commented on #983
Thanks for reporting this @aurokk . I will look into it further.

[2018-11-13 07:51] pyankoff commented on #1019
@shahidhk thanks for your prompt response. Yes, response body has more helpful info. I don't have any permissions set up yet, that's why the 400 network error response was very confusing. It would be great if the error message from catchall `catch(e) { console.warn(e) }` had helpful info.

[2018-11-13 08:35] #1016 closed

[2018-11-13 09:19] tirumaraiselvan opened #1022 "Event Triggers: show response status code in console"
Currently, if there is a no body in response or some non-http error then the response tab doesn't show anything in console. We should show the status code atleast.

[2018-11-13 09:25] wawhal opened #1023 "allow hyphens in triggername regex and tooltip"

[2018-11-13 10:07] wawhal commented on #933
Need the server to return trigger `id` on creation.
cc: @tirumaraiselvan

[2018-11-13 10:37] arvi3411301 commented on #677
Fixed in https://github.com/hasura/graphql-engine/commit/882719f7e7073e3ca3ff9440698b52a665b7340b

[2018-11-13 10:37] #677 closed

[2018-11-13 10:42] #1001 closed

[2018-11-13 12:10] #995 closed

[2018-11-13 13:50] Maxpain177 opened #1026 "Document client websocket connection details for subscriptions"
Now we can specify headers to `payload` in WebSocket message only on `connection_init`.
Please add the ability to specify headers on every request.
It is necessary for schema stitching because at this moment we need to create a separate WebSocket client (our `Apollo server` <-> `Hasura GraphQL engine`) for every external client (`apollo client` <-> `apollo server`)

[2018-11-13 13:56] Maxpain177 opened #1027 "query/mutation over websocket"
Please add the ability to execute queries and mutations (not only subscriptions) over WebSocket.

[2018-11-13 14:03] 0x777 commented on #1027
@Maxpain177 This is already possible.

[2018-11-13 14:09] rakeshkky opened #1028 "add statistical aggregate operations and count on columns"
- Support statistical aggregate operations like `stddev`, `stddev_pop`, `variance` and `var_pop`
- Support `COUNT` on columns (also using `DISTINCT`) via arguments to `count` field
  Ex:- `count(columns: [id, author_id], distinct: true)`

[2018-11-13 14:23] Maxpain177 commented on #1027
@0x777, sorry, my mistake. 👍

[2018-11-13 14:23] #1027 closed

[2018-11-13 14:43] rakeshkky opened #1030 "strictly parse native graphql types"

[2018-11-13 14:53] 0x777 commented on #1026
@Maxpain177 It it totally okay to create a new websocket connection to hasura for every websocket connection to your server. graphql-engine expects a websocket connection to be tied to a user. So when a websocket connection is initialised (with `connection_init` message), the server doesn't need to resolve the user information (calling webhook or resolving jwt) for every message that is sent.

[2018-11-13 15:03] Maxpain177 commented on #987
@revskill10, Did you find a workaround?

[2018-11-13 22:13] theshire-io commented on #1008
Please consider adding a section in the docs about optimizations like this so that this kind of info does not remain "out of sight" in the issues.

[2018-11-14 05:39] ecthiender opened #1032 "jwt config should read key from file"
JWT config should have a `key_from_file` to read the key from a file

[2018-11-14 05:55] shahidhk opened #1033 "take server port from environment variable"
Server should take `--server-port` value from `HASURA_GRAPHQL_SERVER_PORT`.

[2018-11-14 06:07] wawhal commented on #1023
Closed in #1024

[2018-11-14 06:07] #1023 closed

[2018-11-14 07:13] #966 closed

[2018-11-14 07:35] rikinsk opened #1034 "add more permissions examples in docs"
- [x] permissions across relationships
- [x] multiple conditions using boolean expressions

[2018-11-14 09:35] fkpwolf opened #1035 "Is there a workaround for making GraphQL Engine work with data in an existing MySql database?"
Just give a try to the project. Really cool! A combination of different technology.

I just wonder: why not add support to MySql since lt has lots of user? Does feature like event webhook bind with Postgres so it is hard to switch to others?

[2018-11-14 09:37] coco98 commented on #1035
@fkpwolf Thanks for your kind words. No, we're not that deeply tied to Postgres. Most of what we do with Postgres can be done with MySQL as well. But for now our focus to get everything right with Postgres and then a little later add support for other databases.

I was just chatting with a user recently. They have a system on MS-SQL and they use https://www.symmetricds.org/ to replicate data into

[2018-11-14 10:13] #584 closed

[2018-11-14 10:29] fkpwolf commented on #1035
I see. Thanks for the quick response.

[2018-11-14 13:00] #1028 closed

[2018-11-14 14:31] brundozer commented on #999
I'm rethinking about this... Shouldn't we make error message more explicit? Like adding a sentence to say that it might be related to permissions. What do you think?

[2018-11-14 16:44] slowr commented on #1008
@0x777 @coco98

I just found another issue with your auto-generated queries. I have a table with an index on timestamp and 38251 entries. When I run a query with a small offset the indexes are used correctly:

[code]

When I use an offset that is above the value of 30669; the indexes are not used:

[code]

The auto-generated query is this one (I removed the NULLS FIRST and LAST to be sure that thi

[2018-11-14 20:05] rafaelugolini commented on #277
@0x777 is there a plan to add `order_by` on fields from aggregations?

[code]

[2018-11-15 01:02] rwoody commented on #241
For anyone that comes here for the error `query_root must define one or more fields`, I received this because the admin authorization header is not set for the GraphQL Playground after running `hasura api-console`. I grabbed the admin token from local storage and put it in the `Authorization: Bearer <token>` header.

[2018-11-15 01:20] tirumaraiselvan commented on #520
Closing this in favor of https://github.com/hasura/graphql-engine/issues/966

[2018-11-15 01:20] #520 closed

[2018-11-15 04:55] #1033 closed

[2018-11-15 04:58] 0x777 commented on #1008
@slowr Let me try to reproduce this.

[2018-11-15 05:13] 0x777 commented on #981
@Maxpain177 That might complicate things a bit but I see your point.

[2018-11-15 05:17] 0x777 commented on #987
@wawhal Can we figure out if it is an issue with apollo and send a PR to them if that's the case?

[2018-11-15 06:30] 0x777 commented on #277
@rafaelugolini I don't quite understand what ordering articles by their count mean? Maybe you meant something like this: order authors by their number of articles?

[code]

[2018-11-15 06:59] rafaelugolini commented on #277
@0x777 yeap, exactly... btw I'm on version `v1.0.0-alpha28`

[2018-11-15 07:03] 0x777 opened #1039 "allow ordering with aggregated fields"
For example, order authors based on the number of their articles:
[code]

[2018-11-15 07:06] 0x777 commented on #277
@rafaelugolini I've opened a new issue to track this feature: https://github.com/hasura/graphql-engine/issues/1039. This might be slightly hard to implement.

[2018-11-15 07:11] rafaelugolini commented on #277
@0x777 thanks a lot.

[2018-11-15 08:00] 0x777 commented on #277
@nathanwaters We'll need your help in reproducing this issue. Can you provide us the query and the necessary tables and permissions for the query?

[2018-11-15 08:04] Maxpain177 commented on #721
@0x777, @coco98, how is progress with the Relay pagination?
Maybe it will be helpful for you:
https://join-monster.readthedocs.io/en/latest/relay/

[2018-11-15 08:39] wawhal commented on #987
I could replicate this. Working on a fix.

[2018-11-15 09:54] wawhal commented on #987
Tracked [here](https://github.com/apollographql/graphql-tools/issues/1002).

[2018-11-15 11:13] dmoiseenko opened #1040 "Support DISTINCT ON"
DISTINCT ON is a really powerful Postgres feature to perform aggregation-like(pick first in group). It can be used in plain SELECT queries without window function or GROUP BY.
It will be great to see support of DISTINCT ON since Hasura has excellent support of ORDER BY.

e.g.
We need to get the cheapest fruits in groups by color(see sudo SQL<=>GraphQL below)
[code]

[code]

Postgres documentation

[2018-11-15 11:43] #988 closed

[2018-11-15 13:32] Sach97 opened #1041 "Support for Composite types"
Hi guys, I created a table with the Hasura sql console with a composite type like in the Postgres docs. I can do queries like this
[code]
And I get the response as expected:
[code]

But when I try to do a mutation like this it doesn't work
[code]
I get this error:
[code]
Subscriptions work by making the insert in the hasura sql console. So composite types or "user defined" types work out of the bo

[2018-11-15 14:04] 0x777 commented on #1041
@Sach97 While we don't explicitly support row types, there is an escape hatch (for all types that are not known to graphql-engine) using Postgres literals. In your case, you can do this:
[code]

[2018-11-15 14:10] Sach97 commented on #1041
Thank's a lot for your response ! It will do the job

[2018-11-15 14:17] slowr commented on #1008
@0x777 I cleaned everything and tried again and now it works. I don't know what is going on with the planner. Maybe the problem was that I had timescaledb installed (not used for this example though) and somehow that messes up the planner's decision?

[2018-11-16 03:49] nathanwaters commented on #277
Tried to reproduce and couldn't lol. Disregard :)

[2018-11-16 12:40] #853 closed

[2018-11-16 13:48] tpiros commented on #830
I run into something similar as well although with a different engine. I hope to see an update on this soon which will hopefully shed some light into my issue as well.

[2018-11-16 21:13] revskill10 commented on #987
@Maxpain177 Till now, my strategy is to `untrack tables` which duplicate name, then i create a view with different name. That's why i created the related issue [here](https://github.com/hasura/graphql-engine/issues/986), which allows untracking multiple tables at once.

[2018-11-17 00:18] sgaseretto opened #1048 "Docker compose up results in all containers being in "restarting" state"
Each time I run docker-compose up -d from this docker-compose.yaml
[code]
The containers appear as always restarting and the ports aren't mapped
[code]

[2018-11-17 00:43] coco98 commented on #1048
@sgaseretto That's super weird. Can you paste the logs from each of the containers?
[code]

[2018-11-17 00:58] coco98 opened #1049 "Scroll bar overlaps with last row on the browse data page"
Refer screenshot:
<img width="924" alt="screenshot 2018-11-16 at 4 56 42 pm" src="https://user-images.githubusercontent.com/131160/48654331-e03eba00-e9c0-11e8-96da-da33fb1c8606.png">

[2018-11-17 00:59] sgaseretto commented on #1048
It seems that the problem is related to the postgres container, this are my logs.
from hasura_graphql-engine_1:
[code]
and from hasura_postgres_1:
[code]

[2018-11-17 01:04] coco98 commented on #1048
The error says that the original data volume contains files for a different postgres version. This might be because the postgres version has changed.

Can you change the image tag to `postgres:10` instead of just `postgres` in the file?
[code]

[2018-11-17 01:14] sgaseretto commented on #1048
Thanks a lot, it solved the problem

[2018-11-17 01:14] #1048 closed

[2018-11-17 09:16] git-no opened #1050 "Create TABLE with NOT NULL is ignored and used as nullable"
Creating TABLE with NOT NULL is ignored and used as nullable via SQL in Hasura GUI, e.g.

[code]

It is possible to create a record with empty name via INSERT ROW in the Hasura GUI.
The name column is listed as nullable in the section MODIFY in the Hasura GUI.

[2018-11-17 13:10] arszp10 opened #1051 "PostGIS topology operator"
for GIS user important topology operator
list operator follow
http://postgis.net/workshops/postgis-intro/spatial_relationships.html

for example
client.js query
[code]

table in postgres
[code]

sql
[code]

[2018-11-18 03:47] praveenweb commented on #1050
@git-no , Hey, you have mentioned two issues.
1) > It is possible to create a record with empty name via INSERT ROW in the Hasura GUI

If the column is NOT NULL, it means that the column value cannot be `NULL`, but it can have any other values including empty string. This is expected behavior.

2) > The name column is listed as nullable in the section MODIFY in the Hasura GUI

I could not replicat

[2018-11-18 06:17] shahidhk opened #1052 "update azure docs to run on port 80 using env var"
The default option is to run on 8080, which is quite ugly.

[2018-11-18 16:02] Maxpain177 opened #1053 "relationships with two fields"
We have three tables:
`matches (id)`
`match_rounds (id, match_id)` (field `id` is non unique)
`match_round_events (round_id, match_id)`

How to create a relationship (join) for `events` in `match_rounds`?
Like this:
[code]

[2018-11-18 16:32] dsandip commented on #1053
@Maxpain177 The console currently doesn't let you do this and we're tracking the issue here #506. @rakeshkky @0x777 is there a workaround available using the API?

[2018-11-18 16:45] Maxpain177 commented on #506
Any updates?

[2018-11-18 18:36] iamareebjamal opened #1054 "Do not store CONSOLE_ACCESS_KEY in local storage"
If a person uses the production config and access key on localhost, the access key can easily leak to other locally run websites.

For example, I ran Hasura on localhost:8080 and it stored the access key in local storage, then I ran a Spring Boot app on the same port after testing hasura. Now, the new application can read my access key. And since hasura access key essentially provides you read/wri

[2018-11-19 03:04] alejandrojnm opened #1055 "Live reload of metadata"
It would be interesting, that Hasura detected the changes in the db and made a reload of the metadata automatically, I put this example because in my case I use django to manage the system and maintain the models of the db and when I do a makemigration and a migrate, It would be great if Hasura automatically refreshed the changes, I have not looked at the code, but I guess there is a way to know i

[2018-11-19 07:14] 0x777 commented on #1054
@iamareebjamal I'm not sure what the concern is here. An arbitrary webpage (local or otherwise) cannot access the local storage as it is bound to the window's Origin. The only way to access the local storage would then be to run a malicious application at the Origin where graphql-engine was running previously, a kind of attack where even cookies would be vulnerable to.

As an aside, the console do

[2018-11-19 07:45] 0x777 commented on #1054
You can use an access key which is different from what is used in production.

cookies are typically persisted and having access to the admin session is exactly the same situation.

The access key is stored in local storage for persistence across sessions (similar to 'keep me logged in').

You can access any hasura cluster (docker or otherwise) with the cli (https://docs.hasura.io/1.0/graphql/manu

[2018-11-19 07:56] dsandip commented on #1053
@Maxpain177 you can create the relationship manually using the API (without having to create a Fkey constraint): https://docs.hasura.io/1.0/graphql/manual/api-reference/schema-metadata-api/relationship.html#manual-configuration

This is how your API payload may look like:
[code]

You should then be able to run queries such as:
[code]

[2018-11-19 08:47] 0x777 commented on #1055
Apart from polling, the only other way to get ddl changes on the database is through an [event trigger](https://www.postgresql.org/docs/current/sql-createeventtrigger.html). However they are only allowed for superusers and generally preferred in advanced usecases.

graphql-engine has an API to refresh the metadata, POST to `/v1/query` endpoint as an admin with
[code]
If you can add this step to yo

[2018-11-19 09:36] 0x777 commented on #657
Reopening to change the defaults of `desc` to `DESC NULLS FIRST`.

[2018-11-19 09:37] 0x777 commented on #1008
@slowr I'm not sure (I'm guessing it has something to do with the total cost of index scan vs sort). In cases like these I wish Postgres gives out all the plans it considered and their costs. By the way you can also use the `explain` button in GraphiQL to get the generated SQL and its plan. I'm closing this issue in favor of #657.

[2018-11-19 09:37] #1008 closed

[2018-11-19 10:11] iamareebjamal commented on #1054
Even though `--enable-console` is not supplied, console loads on the port where the engine is running. I am looking for a solution where I can't just see the very critical access key in Plain Text in local storage?

[2018-11-19 10:11] 0x777 opened #1056 "conform to graphql errors spec"

[2018-11-19 10:15] 0x777 commented on #994
Also document webhook authentication (from #824)

[2018-11-19 10:16] #824 closed

[2018-11-19 10:42] #1011 closed

[2018-11-19 11:47] rikinsk opened #1058 "add through table flattening example in many-to-many modelling docs page"

[2018-11-19 12:01] rikinsk commented on #969
Will need to update ``/graphql/manual/schema/relationships/database-modelling/one-to-one.rst `` once this is fixed

[2018-11-19 12:08] Maxpain177 commented on #1053
Sorry, my mistake.

[2018-11-19 12:08] #1053 closed

[2018-11-19 12:11] 0x777 commented on #1054
The binary is probably picking up `HASURA_GRAPHQL_ENABLE_CONSOLE` environment variable which is pre set in the docker image. You can explicitly set it to 'false'.

The only reason we store the access key in local storage is for the convenience of not entering the access key every time the console is accessed. Encryption doesn't solve this problem. It would be better to not store the access key at

[2018-11-19 12:13] 0x777 opened #1059 "conform to GraphQL subscription spec"
Do not allow more than one top level node for subscriptions.

[2018-11-19 12:39] mnlbox opened #1060 "custom-resolvers needs more detail"
Hi guys,
I run a Hasira instance with docker-compose and it's running in port 8080. Now I need implement some business logic and I see [GraphQL Custom Resolver Example](https://github.com/hasura/graphql-engine/tree/master/community/boilerplates/custom-resolvers). I'm done below steps:
[code]
Then I'm going to `http://localhost:4000/` and it's show below output to me:
[code]
Can you guide me how to

[2018-11-19 13:15] dsandip commented on #506
@praveenweb Once composite FKeys are available, are console changes needed for relationship recommendations over these constraints?

[2018-11-19 13:16] dsandip commented on #506
@Maxpain177 There should be an update on this next week.

[2018-11-19 16:36] pyankoff opened #1062 "JWT token expiration"
I'm getting this error after Firebase JWT token expires (1 hour):

```{"graphQLErrors":[],"networkError":{"response":{},"statusCode":400,"result":{"errors":[{"path":"$","error":"Could not verify JWT: JWTExpired","code":"invalid-jwt"}]}},"message":"Network error: Response not successful: Received status code 400"}```

Docs mention that [graphql-engine will refresh the JWKs automatically](https://do

[2018-11-19 18:14] iamareebjamal commented on #1054
I'll try `HASURA_GRAPHQL_ENABLE_CONSOLE` and let you now

You won't need user to enter the decryption key as it will be generated on client side.

Again, the admin session token on Django is very different and much secure than Plain Text in local storage. What about using JWT?

[2018-11-19 20:03] jvice152 opened #1063 "mutli-tenancy options? (schema-per-tenant)"
apologies if this has already been answered, but i see that you can switch the postgreSQL schema in the drop down of the data tab, but is there a way to have multiple schemas active at a time, and host them via the same engine (perhaps through different endpoints), or do i need to have a instance of hasura up for each schema i wish to serve

thanks!

[2018-11-19 20:20] jvice152 commented on #1063
nvm... I see that you guys fully qualify the name if it isnt public, and allow me to query multiple schemas in the DB! 👍

[2018-11-19 20:20] #1063 closed

[2018-11-19 20:32] coco98 commented on #1062
Are you sure it’s not your client side token that’s expired? Hasura will
automatically refresh the keys, but the tokens have to refreshed between
the client and firebase.

On Mon, 19 Nov 2018 at 8:36 AM, Andrey Pyankov <notifications@github.com>
wrote:

[2018-11-19 21:44] pyankoff commented on #1062
@coco98 thanks for reply. Yeah, that's client side token, my bad.
Closing the issue.

[2018-11-19 21:44] #1062 closed

[2018-11-19 23:08] coco98 opened #1064 "Link to webhook configuration section, or sample code in webhook docs"
Via intercom/discord.

Also update webhook boilerplate READMEs to tell users how to configure webhook.

[2018-11-20 06:55] wawhal commented on #1060
@mnlbox sorry for the inconvenience. We will fix it immediately.
Till then, you can make this tiny fix. Just change `playground: false` to `playground: true` in the line 38 of `src/index.js` in the custom-resolvers directory.

[2018-11-20 08:43] mnlbox opened #1067 "Multi App on single Hasura instance"
Hi guys,

Is it possible to use a single instance of Hasura for multi apps?
I want to host multi app on a single instance because I want SSO (Single Sign On) and share e-wallet between apps.

Is it possible now in Hasura? How?

[2018-11-20 09:08] 0x777 commented on #1067
You can use a single instance of hasura if all these apps use the same database.

Can you expand a bit more on your architecture? What are the apps? How is data accessed? How is SSO used?

[2018-11-20 09:23] 0x777 opened #1068 "permissions UI improvments"
The text says **"With access to columns:"** for insert, update and select permissions. Change it as follows:
1. insert: "allow input for these columns"
2. select "allow access to these columns"
3. update "allow updates to these columns"

[2018-11-20 11:03] shahidhk opened #1069 "redirect to console instead of /console"
server should redirect to `console` instead of `/console` to support setups involving server being hosted at a sub-path.

console should be able to determine the root path and do the changes accordingly.

[2018-11-20 14:56] snarlynarwhal commented on #289
I concur, I would like this functionality also.

[2018-11-20 15:43] Sach97 opened #1074 "Support for unique on two columns"
One would like to set up a table in postgresql such that two columns together must be unique. There can be multiple values of either value, so long as there are not two that share both.

For instance:
[code]
So, col1 and col2 can repeat, but not at the same time. So, this would be allowed (Not including the id)
[code]
but not this:
[code]
## Work around

Create table in the sql console, untrack ta

[2018-11-20 16:34] coco98 commented on #289
Atleast we can document this right?

Drop schema public cascade;
Drop schema hdb_views cascade;
Drop schema hdb_catalog cascade;
Create schema public;

First and last lines are optional.

On Tue, 20 Nov 2018 at 6:56 AM, PJ Legendre <notifications@github.com>
wrote:

[2018-11-20 16:57] snarlynarwhal commented on #289
Ahhh thank you so much!

[2018-11-20 17:10] rakeshkky opened #1075 "handle input empty array for _in and _nin operators"
[code]
variables:-
[code]

Query gives `postgres-error` from `alpha-29`

[2018-11-20 19:56] coco98 opened #1077 "Add guide for helping with created_at and updated_at timestamps"
Let's add a guide to help users model `created_at` and `updated_at` timestamps.

For `created_at` a default value of `now()` works.
For `updated_at` a trigger on the lines of: https://x-team.com/blog/automatic-timestamps-with-postgresql/

[2018-11-20 20:52] coco98 opened #1078 "Add a basic guide on scaling Hasura"
Scaling Hasura is as simple as scaling up the number of instances. If the metadata or schema is updated, a rollout (or metadata refresh) should be triggered.

Let's document the process (2 commands basically, but still ;)) for various platforms:
1. Docker
2. Heroku
3. Kubernetes
4. Fargate

This is an urgent hole in our current docs.

[2018-11-20 22:53] coco98 commented on #583
@shahidhk Not sure what the latest on this is.
@emerballen on discord has been doing a tonne of work with fargate, rolling out hasura version updates, and rolling out schema updates; maybe they can help us put this together.

[2018-11-21 06:58] #1075 closed

[2018-11-21 07:47] shahidhk commented on #583
Hi @emerballen, it'll be awesome if you can contribute the cloudformation templates, we can keep them under https://github.com/hasura/graphql-engine/tree/master/install-manifests

[2018-11-21 07:56] mnlbox commented on #783
Guys any update on this feature request?

[2018-11-21 08:47] benbro opened #1079 "Support for range types"
Is it possible to support [PostgreSQL range types](https://www.postgresql.org/docs/11/rangetypes.html#RANGETYPES-BUILTIN)?
They are not listed [here](https://docs.hasura.io/1.0/graphql/manual/api-reference/postgresql-types.html).

[2018-11-21 09:01] 0x777 commented on #1079
@benbro They aren't explicitly supported so you won't be able to use operators specific to such columns, but everything else should work as expected, i.e, you can select and insert data.

[2018-11-21 09:15] shahidhk commented on #1019
@pyankoff What is the client library that you are using?

[2018-11-21 09:18] shahidhk commented on #1074
@Sach97 For doing actions that are not supported by the console, you can use the Run SQL window. You can execute the SQL to create table:
[code]

[2018-11-21 09:20] benbro commented on #1079
I won't be able to use [Range Functions and Operators](https://www.postgresql.org/docs/11/functions-range.html)?

[2018-11-21 10:04] pyankoff commented on #1019
Apollo

[2018-11-21 10:05] 0x777 opened #1082 "support all operators on all types"
So far we've been explicitly supporting types and their operators. This is not a scalable approach, we should instead support all operators from `pg_catalog.pg_operator`.

[2018-11-21 10:06] 0x777 commented on #1082
Related #625, #1079

[2018-11-21 10:07] 0x777 commented on #1079
Currently no. We'll add support soon.

[2018-11-21 10:08] 0x777 commented on #1079
You can follow the progress here: https://github.com/hasura/graphql-engine/issues/1082

[2018-11-21 10:38] benbro commented on #1079
Thanks

[2018-11-21 10:38] #1079 closed

[2018-11-21 10:45] EmaSuriano commented on #783
I couldn't continue working on it. Also, I think I'll drop it because I don't think I will be able to work on this for about 1 month or maybe more.

[2018-11-21 10:53] Sach97 commented on #1074
Sorry for misexplaining the issue. I know it works out of the box but maybe improving on the UI could help for future users that face the issues I encountered. The issue when I keep checked the `Track table` checkbox I have this error message : "no such table / view exists in postgres: someTable".
My bad I misunterstood the purpose of metadata.json I thought it played the role of migrations (Thank

[2018-11-21 13:27] 0x777 opened #1085 "remove first_last_agg extension related code"
We don't use it any more for query generation. However we still use it in one of our internal views.

[2018-11-21 17:54] wawhal opened #1086 "support migrating from firebase firestore to postgres"

[2018-11-21 19:57] coco98 opened #1087 "Document techniques for data validation & integrity, especially for mutations"
- In postgres: constraints, check constraints, triggers
- In custom resolvers / remote schema

Some useful links:
http://shuber.io/porting-activerecord-validations-to-postgres/
https://stackoverflow.com/a/12521563/3364697
https://karolgalanciak.com/blog/2016/05/06/when-validation-is-not-enough-postgresql-triggers-for-data-integrity/

[2018-11-21 19:59] coco98 commented on #1087
TEXT + check constraint vs varchar is an especially important one.

[2018-11-21 20:50] revskill10 commented on #1074
I think the need is real and Console UI should support this out of the box, though using SQL is not a big deal. Nice to have feature.

[2018-11-21 20:54] revskill10 commented on #877
I have a simple solution for this problem.
In Console UI for permission setting, there must be ability to assign current permission to another roles in system (or creation).
Only then that, Hasura could validate one role or array of roles query to resolve correct data to return.

[2018-11-22 03:04] leoalves opened #1088 "Add option to disable metadata endpoints"
Hasura has 2 additional endpoints that are used to manage the database, create migrations, etc.  They are used by the console and cli.

Currently there is no option to disable those endpoints.  Leaving full access to the database in cases when the access-key gets compromised.

My suggestion is to add an option to disable those metadata endpoints.  Where sys-admins can enable it to make modificatio

[2018-11-22 04:44] nathanstitt commented on #997
For anyone else encountering this, I've tested and the issue is resolved in `v1.0.0-alpha29`.

Thanks @0x777 & @tirumaraiselvan - I'm really loving graphql-engine!

[2018-11-22 06:32] 0x777 opened #1090 "cleanup code related to command line flags"
Reading from environment variables was added as an after thought and the code can be much cleaner.

[2018-11-22 07:04] 0x777 commented on #479
This cannot be done with our role based schemas.

[2018-11-22 07:05] shahidhk commented on #1090
@0x777 Can #144 also be handled along with this?

[2018-11-22 09:48] ecthiender commented on #86
I think we can close this issue, if we want to continue running `/api/1/table`.

[2018-11-22 09:50] ecthiender commented on #139
We are already doing milestones, and associating issues with milestones. Does that work for a roadmap for upcoming releases ?

[2018-11-22 09:52] rikinsk commented on #1068
Yeah. Makes sense.

[2018-11-22 09:59] 0x777 opened #1092 "move the schema switching drop down to top left"

[2018-11-22 10:02] 0x777 opened #1093 "change the notes under 'Raw SQL'"

[2018-11-22 10:09] 0x777 opened #1094 "insert permissions check box alignment and column presets UX"
Once we remove the 'allow upsert' checkbox, we need to think about the UX for column presets

[2018-11-22 10:10] 0x777 opened #1095 "suggest a relationship name in the suggested relationships window"

[2018-11-22 10:17] 0x777 opened #1096 "UI improvements in Modify section of a table"
![image](https://user-images.githubusercontent.com/6562944/48896469-b2002500-ee6d-11e8-9913-148b66ac80e4.png)
The 'add new column' section kind of suggests that it describes the properties of the last column.

[2018-11-22 10:47] wawhal commented on #1093
Old notes:

1. You can create views, alter tables or just use any SQL syntax to communicate with the database.
2. If you plan to create a Table/View using Raw SQL, remember to link it to Hasura DB using Add Existing Table View functionality.
3. Please note that if the migrations are enabled,downmigrations will not be generated for SQL statements.

New notes:
1. You can create views, alter tables o

[2018-11-22 15:30] dmoiseenko commented on #1040
@0x777
WOW! Works great!

[2018-11-23 01:53] #1040 closed

[2018-11-23 05:43] ecthiender commented on #983
Hey @aurokk , what identity server are you using? Can you give us a minimal program* to reproduce the issue?

*: or minimal steps including the configuration on hasura, and configuration + code snippets etc. for the auth server that you are using

[2018-11-23 05:47] shahidhk commented on #86
@nizar-m Since this query is translated to whatever `v1/query` does, let's just add one test to ensure that it's working and close this issue.

[2018-11-23 09:18] rikinsk commented on #1052
Closed #1097

[2018-11-23 09:18] #1052 closed

[2018-11-23 10:23] bs1180 opened #1103 "Include hostname in auth webhook?"
This is a great project, thanks!

I'm experimenting with using it in a multi-tenant setup, where the tenant is decided by the subdomain (eg. foo.example.com is tenant foo), and the authentication webhook includes a x-hasura-tenant-id in the response. Unfortunately the headers passed to the webhook don't include the original hostname, so this approach is impossible.

I think it would be useful for

[2018-11-23 10:48] 0x777 commented on #1103
Using `GET` for the webhook and passing client headers as HTTP headers was a bad choice that we made, because of which when graphql-engine is making a request to the webhook it cannot use send some of the client headers, `Host` being one of them. We'll add a new `POST` webhook call behavior so thatl all the client headers can be sent in the `POST` body.

[2018-11-23 15:27] jlowin opened #1106 "Undocumented feature: single row inserts?"
Running alpha-30, I accidentally discovered that inserting a single row works fine, though I can't find any confirmation of this in the docs (or in the tests):

For example -- notice that `objects` is a single row, not an array of rows:
[code]

Perhaps I'm overlooking it in the docs, but every example [here](https://docs.hasura.io/1.0/graphql/manual/mutations/insert.html) uses the `objects: []` sy

[2018-11-23 17:33] benjie commented on #1106
This is a standard feature of GraphQL - where a list is specified you may instead pass a non-null value and it will be coerced into a list of size one. Here's the relevant part of the spec, see "Input Coercion":

https://facebook.github.io/graphql/draft/#sec-Type-System.List

[2018-11-23 18:19] jlowin commented on #1106
TIL, thanks @benjie!

[2018-11-23 18:19] #1106 closed

[2018-11-24 01:06] polymeris opened #1108 "document that migration version cannot be 0"
I am running `hasura/graphql-engine:v1.0.0-alpha30.cli-migrations` using docker-compose.

When I start it, it correctly applies migrations numbered 0 and 1 from `0_schema.up.sql`
and `1_metadata.up.yaml`, respectively, resulting in:
[code]
However, when I restart the service, it tries to apply migration 0 again, which fails, because the tables already exist.

[2018-11-24 11:31] shahidhk commented on #1108
@polymeris If you have 2 migration files, namely

[code]

after applying migrations, the state of the database should be:
[code]

I am not sure why version 0 is not applied. Can you check this with `hasura migrate status`?

When you restart the container, the behaviour is to apply them again, since the apply command checks what is applied and what is not applied and only applies the ones that are

[2018-11-24 11:32] shahidhk commented on #1108
@polymeris This happens because the info in db says 0 is not applied, despite it being applied already. Can you see what the status is? Also, if possible, share the migration files?

[2018-11-24 12:03] polymeris commented on #1108
@shahidhk
`hasura migrate status` says:
[code]

[2018-11-24 12:05] polymeris commented on #1108
I have changed the names of the files to be `1_schema.up.sql` and `2_metadata.up.yaml` and now `hasura migrate status` returns:

[code]

I think it just doesn't like having a version 0, for some reason.

[2018-11-24 12:15] shahidhk commented on #1108
Makes sense. I'm guessing CLI doesn't accept zero since 0 for an int type
is treated as null value in Go.

On Sat 24 Nov, 2018, 17:35 Camilo Polymeris <notifications@github.com wrote:

[2018-11-24 21:15] jlowin opened #1109 "Regression: `_in` for UUID columns fails in alpha-29"
Starting in alpha-29, I'm getting an error when trying to use the `_in` operator for filtering UUID columns. (Note: still present in alpha-30, but it seems to work correctly in alpha-28)

To replicate:

1. Create a simple test table
[code]
2. Run the following query
[code]

Result:
[code]

[2018-11-25 05:18] praveenweb commented on #1050
@git-no - Ah, got it. The first section that you have highlighted Nullable is for Adding a new column. The second nullable section that you have highlighted is for editing an existing column.

When you are adding a new column, we have enabled `Nullable` by default since thats normal behavior. (This is the list view that you are referring to, and it is not for existing columns).

When you are editi

[2018-11-25 06:47] git-no commented on #1050
Oh, I'm so sorry. Sure it makes absolut sense how you describe it. Maybe we see it as user test. I was blind.
Have tested it now, works perfect. i was misleaded. Sorry bothering you. By the way, your product is great. Very easy to start, to model a schema/db and get live with graphql.

[2018-11-25 06:47] #1050 closed

[2018-11-25 06:49] git-no commented on #1050
Just a suggestion: maybe you put a little more space between the last existing column and the create new column bar.

[2018-11-25 10:31] revskill10 opened #1110 "Feature request: Link related documentation from Console UI."
We should put related links on documentation on Console UI for user to easily look up the documentation of functionalities on Console UI.

[2018-11-26 06:52] ecthiender opened #1112 "merge remote types if their name and structure are same"
In remote schemas, right now we don't merge types if they have the same name. If the types have same name and exact same structure we should merge them.

[2018-11-26 07:00] 0x777 opened #1113 "check the logic around input value coercion for limit"
![image](https://user-images.githubusercontent.com/6562944/48997776-13c6d480-f177-11e8-90be-9b87efa4f4d0.png)

[2018-11-26 07:51] rinfimate opened #1114 "Hasura on PostgreSQL 10.5 is stuck at Attaching to docker-compose_graphql-engine"
I have just started using Hasura and wanted to try it out in PostgreSQL 10.5 using a Docker container in Mac. It seems to be stuck in "Attaching to docker-compose_graphql-engine". I have confirmed this is the same issue in AWS Aurora with PostgreSQL 10.5. Hasura builds its 2 schemas and necessary Tables etc. in the Database but does not go ahead after this

[2018-11-26 09:03] shahidhk commented on #1114
@rinfimate, Can you give us the output of `docker-compose ps` and `docker-compose logs`?

[2018-11-26 09:10] rinfimate commented on #1114
Sorry, my bad. I was using an older docker-compose file from one of your blogs, the container was trying to attach port 80 and not 8080. Its working with PG 10.5 locally. Will try on AWS Aurora PG 10.5 later. Please close the case. Thanks for the quick response though.

[2018-11-26 09:12] shahidhk commented on #1114
:+1:

There is already a known issue AWS RDS 10.4 (#417). Do let us know how 10.5 works.

[2018-11-26 09:12] #1114 closed

[2018-11-26 09:13] coco98 commented on #417
For those curious, this is the underlying AWS issue: https://forums.aws.amazon.com/thread.jspa?threadID=286822

[2018-11-26 10:09] #1109 closed

[2018-11-26 12:58] tirumaraiselvan commented on #489
@dsandip Can we prioritize this? I need this for presentation of 3F app.

[2018-11-26 18:40] benoror opened #1119 "Feature Request: SQLite connector"
# Feature Request

**What feature are you missing?**

Support for local databases such as SQLite

**How could this feature look like in detail? Tradeoffs?**

Should be straightforward since it's kinda standard.

My main use-case would be to create decentralized/portable/client-side-only (d)apps.

Similar to: https://github.com/prisma/prisma/issues/2460

[2018-11-26 20:42] sebastianmacias commented on #1077
```created_at``` and  ```updated_at``` automatic timestamps are so commonly used. I think there should be an option to set the timestamp field to automatically handle this when creating the schema.

By the way the link posted is broken, this is the working link: https://x-team.com/blog/automatic-timestamps-with-postgresql/

[2018-11-27 03:25] billyfung opened #1120 "bug with alpha30 remote_schemas key not found"
Tried out the realtime poll example with latest engine version as per README
Migration gave me the error

[code]

[2018-11-27 04:50] #1093 closed

[2018-11-27 05:39] shahidhk commented on #1120
We should be able to make a release by EOD. A workaround is to add `remote_schemas: []` as a top-level key to the metadata file.

[2018-11-27 08:22] revskill10 commented on #1112
This behaviour should be configurable, because in some cases, the stitched server could manipulate to behave differently even if remote types are the same (like changing types)

[2018-11-27 10:42] 0x777 commented on #657
closed with ef6e53a407017c51605972c5039a754e92eae836 (from alpha30)

[2018-11-27 10:42] #657 closed

[2018-11-27 11:26] #1120 closed, assigned to ecthiender

[2018-11-27 12:12] aurokk commented on #983
Hello, @ecthiender.
I'm using IdentityServer4 last version — https://github.com/IdentityServer/IdentityServer4

I prepared IdS4 + Hasura setup to reproduce the issue
Sources is here https://github.com/aurokk/ids-hasura-auth-problem

1. Request for access token:
[code]

2. Request hasura for some data with access token:
[code]

3. Get the error:
[code]

THIS IS HOW I START HSE:
[code]

CERT:
[code]

[2018-11-27 15:41] ecthiender commented on #983
Thanks for the detailed response @aurokk . I will get back to you ASAP.

[2018-11-27 16:11] #1085 closed

[2018-11-27 18:16] iamzjk opened #1127 "Creating relationships across schemas does not show them in the permissions builder"
based on the discussion with @shahidhk on discord.
There is a bug in the console. Creating relationships across schemas does not show them in the permissions builder.

In my example. I have a relationship (called device_meta) between table A and table B thru `device` column. Since table B is from a different schema. So when I try to create a permission in table A under device_meta relationship, no

[2018-11-27 20:55] jvice152 opened #1128 "feature request: import/export metadata for specific schema"
What feature are you missing?

only importing/exporting a specific postgres schema from hasura

How could this feature look like in detail? Tradeoffs?

we plan to have quite a bit of different schemas, and we dont want to pull down or upload the entire world everytime

[2018-11-28 05:53] ecthiender opened #1129 "option to bypass auth system for remote schema queries"
Configuration option to bypass the authorization system (resolving webhook or validating JWT) when the query is for a remote schema.

[2018-11-28 05:59] ecthiender commented on #1129
@coco98 currently the authorization is done way before we parse the query. Implementing this would mean changing this entire system and lazily perform the authz much later. I'm not sure how much time will this take.

Currently, one workaround (only for webhooks) could be - the webhook returns 200 with `x-hasura-role: anonymous` instead of a 401 when it cannot resolve a cookie etc. And the `forward

[2018-11-28 09:32] coco98 commented on #1129
@ecthiender @0x777 what would the workaround for JWT be?

[2018-11-28 09:49] 0x777 commented on #1129
Typically this shouldn't be a problem unless you are implementing something like `login` on the remote server. So when performing this mutation the client doesn't have the authorization information to send to hasura.

For a workaround:
1. If you are using webhook, you can do as @ecthiender suggested, when the authorization information is absent, instead of denying the request with a `401`, resolve

[2018-11-28 10:25] rakeshkky opened #1132 "parse graphql objects and arrays as scalar types"
For columns with `json` and `jsonb` types parse Graphql input objects and arrays as `json` values.

[2018-11-28 11:03] 0x777 commented on #1128
Are you talking about the import/export metadata feature in the console?

[2018-11-28 11:41] arvi3411301 opened #1133 "console semver check doesn't work"
Need to remove semver.coerce(version) from semver.valid() check.

[2018-11-28 11:57] mbrmj opened #1135 "Adding a remote schema from another hasura-engine instance"
when trying to add a remote schema from an hasura-engine instance, the operation fail because some types like "integer_comparison_exp" or "uuid_comparison_exp" already exist in current/(local) graphql schema.

[2018-11-28 12:09] arvi3411301 opened #1136 "file information is not passed to migration error message"
Currently, file information of the migration is not passed to hasuradb driver to generate error message.

[2018-11-28 12:12] 0x777 commented on #1135
@mbrmj This issue will be fixed soon. Currently we just compare the names of the types, what we'll do in the next release is, we compare the shape of the types recursively.

I'm not quite sure about this. If we add prefixes to the remote schema's types, the client side queries change. They need to reference the prefixed types. I think this can make sense as on optional feature.

[2018-11-28 15:00] jvice152 commented on #1128
yes. Is this feature already supported on the CLI?

[2018-11-28 15:05] rakeshkky opened #1138 "support authorization webhooks with POST"

[2018-11-29 04:57] shahidhk commented on #139
The roadmap for upcoming releases can be found here: https://github.com/hasura/graphql-engine/milestones

[2018-11-29 04:57] #139 closed

[2018-11-29 07:23] shahidhk opened #1139 "suggested relationship name strips off numbers"

[2018-11-29 08:58] shahidhk opened #1141 "expose apis and console at a path other than /"
This will enable serving the APIs at a non-root path like `/hasura/v1alpha1/graphql`, `/hasura/console`

Related to #1069.

[2018-11-29 09:58] dsandip commented on #489
@wawhal the UI for "modify event trigger" will be similar to that of "modify table". Made a minor deviation because some of the config settings are related and cannot be edited in isolation:

![updateetriggerv2](https://user-images.githubusercontent.com/24300818/49213814-23e6ea00-f3eb-11e8-868e-ceff69fd9d9c.png)

editing any of the individual configs, will open up the same UI as in the create even

[2018-11-29 10:09] #439 closed

[2018-11-30 06:11] shahidhk opened #1146 "ad algolia docsearch"
[code]

- Add a search input in your page if you don't have any yet. Then update the inputSelector value in JS snippet to a CSS selector that targets your search input field.
- Optionally customize the look and feel by following the DocSearch documentation (https://community.algolia.com/docsearch/styling.html)
- You can also check your configuration in our github repo (https://github.com/algolia/d

[2018-11-30 06:56] #1139 closed

[2018-11-30 09:07] 0x777 commented on #721
We are actively working on this but it looks like it will be delayed by a couple of weeks.

[2018-11-30 10:03] shahidhk opened #1148 "show better error messages if there are duplicate migration versions"
Also, console should show the error message returned by migrate api.

[2018-11-30 11:05] arvi3411301 opened #1149 "wrong jsonPath returned by server"
Request Body:

[code]

Response Body:

[code]

Expected Response Body:

[code]

[2018-11-30 18:37] rikinsk opened #1152 "show permission value under the selected option in permission builder"

[2018-12-02 07:33] 0x777 opened #1154 "support for approximate counts in aggregates"
For example,
[code]
would result in an SQL query which will do a sequential scan.

Maybe we can natively support few tricks from https://www.citusdata.com/blog/2016/10/12/count-performance/

[2018-12-02 14:06] shahidhk commented on #992
Nginx seem to require some special config to proxy pass both http and websocket on one url: https://serverfault.com/questions/910805/proxy-websockets-and-http-through-the-same-location-in-nginx

[2018-12-03 04:40] shahidhk commented on #992
Also this: https://discordapp.com/channels/407792526867693568/428469959530643466/518821533905322024

[2018-12-03 08:03] rakeshkky opened #1156 "allow catalog downgrade through CLI"

[2018-12-03 09:44] arvi3411301 commented on #1133
Fixed in https://github.com/hasura/graphql-engine/pull/1134

[2018-12-03 09:44] #1133 closed

[2018-12-03 11:19] #1138 closed

[2018-12-03 11:20] #1136 closed

[2018-12-03 11:28] #1103 closed, assigned to 0x777

[2018-12-03 11:33] rinfimate opened #1159 "Feature Request:Send schema name and table name to authentication webhook"

[2018-12-03 12:03] 0x777 commented on #1159
@rinfimate Can you describe your use case where this information is needed? It is not as simple a single graphql query could potentially access any number of tables.

[2018-12-03 12:04] 0x777 commented on #1156
When we bump the catalog version it is not possible to revert to an earlier version of graphql-engine.

[2018-12-03 12:11] #984 closed

[2018-12-03 12:48] #1127 closed

[2018-12-03 12:52] shahidhk commented on #1152
fixed in https://github.com/hasura/graphql-engine/commit/1e24da8633ac779b3f44a2e20bdca5c412937446

[2018-12-03 12:52] #1152 closed

[2018-12-04 03:52] shahidhk commented on #992
Apache is also quite popular

[2018-12-04 04:33] #1148 closed

[2018-12-04 04:49] shahidhk opened #1161 "fix ciignore and check build worthiness"
Need to improve the logic on checking whether to build or not.

[2018-12-04 13:37] #1056 closed

[2018-12-04 13:37] #1059 closed

[2018-12-04 14:21] #1132 closed

[2018-12-04 17:40] lucca65 opened #1164 "Dockerless setup"
Hi! I'm trying to run Hasura on my productions servers and for some reasons that aren't relevant to this issue, I'm unable to use docker. Is there a way to use Hasura without using it? Thanks!

My prod servers are running Ubuntu bionic

[2018-12-04 21:11] lucca65 commented on #1164
Got help on discord, thanks a lot @coco98

[2018-12-04 21:11] #1164 closed

[2018-12-05 04:26] dfang opened #1166 "hasura not track tables with plural name ?"
this is not an issue but a question.
table name must be singular ?
is there any documentation about names standard.

thanks

[2018-12-05 05:14] shahidhk commented on #1166
@dfang There is no such restriction. Some of us prefer to use singular table names, but we have seen many users using plural names.

Are facing any issues?

[2018-12-05 07:00] duyleekun commented on #411
CockroachDB hasn't support user defined schema

[code]

[2018-12-05 09:12] dfang commented on #1166
yes, i'm following naming convention in ruby on rails, tables is a collection of rows, a row is an object, so i prefer plural table names. had issues when trying to hasura cluster on minikube.
minikube is buggy,  now i'm trying graphql engine with docker-compose. it's ok for plural names.

thanks !

[2018-12-05 09:12] #1166 closed

[2018-12-05 09:50] dfang opened #1167 "[Question] how to create relationship for polymorphic association"
for [polymorphic association](https://guides.rubyonrails.org/association_basics.html#polymorphic-associations), how to create relationship.

[code]

how to create relationship, so i can query like this
[code]

thanks !

[2018-12-05 10:40] shahidhk commented on #1167
@dfang I have put together a demo with the schema you noted above: https://relationship-demo.herokuapp.com

Let me know how it goes.

[2018-12-05 14:15] sulliwane opened #1168 "failed to wait for port 8080 (on first postgres run)"
Hi,

When postgres/timescale docker is up for the first time, `hasura/graphql-engine:v1.0.0-alpha31.cli-migrations` will fail to start with this message:
[code]
If running `docker-compose down && docker-compose up` then graphql-engine works fine. I believe it due to the time used by postgres/timescale on a first init, but graphql-engine should still be resilient to this...

thanks for your feedbac

[2018-12-05 14:41] dfang commented on #1167
@shahidhk i see, it works.

you create two tables,  product_pictures, employee_pictures.  when you insert, you need insert data to at least two tables(eg. pictures and product_pictures). normally in rails, we only insert data to pictures. ProductPicture is only pure model.

and if you have another types of pictures, you need to create new tables.
similarly, commentable, likeable, you need to creat

[2018-12-05 22:45] SkaterDad commented on #1167
@shahidhk In your experience, which schema style will perform better on Postgres and Hasura?

 * The "Rails-style" version with a "type" column (no way to properly FK)
 * Many-to-Many table version, with a single `pictures` table (like your example)
 * Separate tables for `employee_pictures` and `product_pictures`

[2018-12-06 03:56] shahidhk commented on #1167
@dfang @SkaterDad  I am not very familiar with Rails, so I will get back with a more clear understanding.

[2018-12-06 04:05] SkaterDad commented on #1167
The Rails way is in the OP.  A single table for images, which has columns for the id and type of the related entities.

There are articles arguing that its bad, and other people saying it's good.  None are specifically about GraphQL, though, which will impact the types of queries being made.

[2018-12-06 06:20] 0x777 commented on #1167
@dfang @SkaterDad

We don't natively support polymorphic associations like that of Rails, however you'll still be able to query like you wanted. The `pictures` table will be something along these lines:

[code]

You can create views as follows:
[code]
Now you can define a manual relationship called `pictures` on `employees` and `products` table using these views. So your queries will now look like

[2018-12-06 06:44] shahidhk commented on #1168
@sulliwane You can add `restart: always` to the docker compose file for graphql-engine service.

In the current configuration, GraphQL Engine expects Postgres to be ready and accepting connections.

[2018-12-06 08:33] sulliwane commented on #1168
Thanks @shahidhk for your reply. It's actually already set to `restart: always`, still GraphQL Engine hangs on `waiting for 8080, failed to wait for port 8080`. I didn't figure out how this error is related to postgres port not available (I suppose graphQL engine won't listen for port 8080 before being connected to postgres...)

For integration tests, postgres may need to start "from scratch" (ini

[2018-12-06 08:39] shahidhk commented on #1168
@sulliwane When using `cli-migrations` image, the entrypoint script [waits for 30 seconds](https://github.com/hasura/graphql-engine/blob/master/scripts/cli-migrations/docker-entrypoint.sh#L12) for GraphQL Engine to be running so that it can apply migrations. The error message is definitely coming from there.

Yes, GraphQL Engine will not start listening on 8080 unless connection with Postgres is e

[2018-12-06 15:26] sulliwane opened #1170 "support for postgresql ARRAYS []"
Given this SQL schema:
[code]
Graphql engine returns an error when trying to mutate:
[code]
Is there a workaround? Many thanks

[2018-12-07 03:18] richcorbs commented on #996
For me, username/password or email/password authentication would be a great feature to add!

Also, file upload via mutation (to S3 or DO Spaces or local storage) would be absolutely AMAZING.

[2018-12-07 05:41] shahidhk commented on #1170
@sulliwane You can pass the array value as text since all postgres types which are natively supported by GraphQL Engine are treated as text.

This mutation will go through:
[code]

[2018-12-07 07:14] shahidhk commented on #1141
we can call it `--url-root`/`HASURA_GRAPHQL_URL_ROOT`

All APIs need to be served at this path
[code]

Also, template this in console html:

`urlRoot: "/<root>"`

[2018-12-07 10:35] sulliwane commented on #1170
thanks a lot, it works perfectly!

About the curly brackets `{}` for the array, may I ask what kind of "standard" is that (obviously not JSON format) is it related to graphql or postgres or hasura?

[2018-12-07 10:43] shahidhk commented on #1170
`{}` is how arrays are represented in Postgres [1]

[1] https://www.postgresql.org/docs/9.1/arrays.html

[2018-12-07 10:48] sulliwane commented on #1170
Ok, got it. closing then, thanks a lot @shahidhk

[2018-12-07 10:48] #1170 closed

[2018-12-07 11:18] #444 closed

[2018-12-07 22:53] eaverdeja commented on #783
Hey @EmaSuriano ! I've been using react-admin for the past few months and just found out about Hasura yesterday. Seems like a perfect match :)
I would love to work on this, but I have never contributed with a PR. Any tips?

[2018-12-08 08:08] shahidhk commented on #783
Hi @eaverdeja, the easiest way to checkout the grammar would be to create a Heroku app, create some tables and try out some graphql queries. We have not written the grammar anywhere down, I guess, maybe this is the time do so.

Let us know if you're taking this up :smile:

[2018-12-10 06:42] Anupam-dagar commented on #504
I would like to work on this issue.

[2018-12-10 10:08] chunsli opened #1175 "Allow Relationship Data to be Used in Triggers"
Currently, when creating triggers in the Event tab of Hasura console, there's no way to either:
1. to select another table's columns through a relationship column; or
2. to select a View (where I can create a join) for triggers.

Will there be any plan to add support for either one of the options above? There are many use cases, e.g. in the example, send an email to the `author` (with its name in

[2018-12-10 13:44] willmitchell opened #1176 "JWT nested scopes currently not supported on AWS Cognito / Lambda"
Hello, and thank you for Hasura!

Version: v1.0.0-alpha31

TL;DR: There is now a known issue with AWS Cognito that prevents configuring Hasura with JWTs and Cognito User Pools.  Possible short term workaround on the Hasura side would involve allowing Hasura to be configured to use a flat JWT token (no nested namespace).

-----------------------------------------
0. Context
------------------------

[2018-12-11 02:46] ecthiender commented on #1176
Thanks @willmitchell for reporting this!

We implemented the nested claims because the OIDC spec[1] and Auth0 (another popular identity provider) [2] enforces collision-resistant identifiers for custom claims. Which means either prepending each of the custom claim "key" with some namespacing or nesting the custom claims. It was easier (and logical) for us to nest the custom claims under a namespac

[2018-12-11 07:29] Bronson-Brown-deVost opened #1177 "Docker install doesn't work"
I recently tried a Heroku deployment and it worked beautifully.  I wanted to give the Docker install a try, but have not been able to get it fully running.

I used the docker-compose.yaml provided here:

[code]

The containers spin up.  I am able to access my postgres database fine with the credentials `postgres://postgres:@postgres:5432/postgres`, I am also able to access the Hasura web client.

[2018-12-11 08:56] #1000 closed

[2018-12-11 09:05] shahidhk commented on #1176
My suggestion is to make the this configurable. Let the user set if they want to meet the claims or not. Maybe a value `.` for the claim namespace puts all the claims at root? Or it can be a different setting altogether.

[2018-12-11 09:09] shahidhk commented on #1177
@Bronson-Brown-deVost Can you check what is shown in the Network tab of browser developer tools? Specifically check what the response body for the request returning 401. Having a screenshot would help us a lot.

[2018-12-11 09:19] Bronson-Brown-deVost commented on #1177
@shahidhk Thanks for the speedy reply.

Here is what I see in the data tab of the Hasura cli website:
![screen shot 2018-12-11 at 10 12 10](https://user-images.githubusercontent.com/2952608/49790068-a5b10e80-fd2d-11e8-8acc-f7e09db6472e.png)

Here is what I see in the network tab of the the developer tools:
![screen shot 2018-12-11 at 10 12 53](https://user-images.githubusercontent.com/2952608/4979

[2018-12-11 09:20] Bronson-Brown-deVost commented on #1177
Oh, and the reponse body to these failed requests is simply `401 Unauthorized`.

[2018-12-11 09:38] shahidhk commented on #1177
It looks like the response from reverse proxy. What is the reverse proxy that you're using?

[2018-12-11 09:47] Bronson-Brown-deVost commented on #1177
I'm using traefik.

[2018-12-11 09:59] shahidhk commented on #1177
Can you double check the proxy config? I tried https://hasura.digitalbibleonline.org/v1/query on my browser and it prompted me for username and password, like HTTP Basic auth. Hasura never does that.

[2018-12-11 10:01] praveenweb opened #1179 "accept query params for preloading queries/mutations in console graphiql"
It would be nice to have the console accept query parameters to preload queries/mutations.

Right now `query_file` pointing to a github link works. But lets also accept `query` parameter directly with support for variables too.

So it would support the following:

1) `query` param for actual query
2) `headers` param for a list of headers to be templated

[2018-12-11 10:07] Bronson-Brown-deVost commented on #1177
I just turned off basic auth and it works!  Thanks for the hint.  I will just use Hasura's authentication (i.e., HASURA_GRAPHQL_ACCESS_KEY=mysecretkey).

If anyone else runs into this problem, the solution was to turn off basic auth in my proxy.

[2018-12-11 10:07] #1177 closed

[2018-12-11 10:29] tirumaraiselvan opened #1180 "Example for using auth with AWS Cognito"
Document/illustrate https://aws.amazon.com/cognito/ as auth webhook.

[2018-12-11 10:32] ecthiender commented on #1176
@willmitchell if we support an extra flag/configuration which will allow you to string-encode the JSON object containing the hasura claims. Will that work for you?

Something like :
[code]

[2018-12-11 11:28] 0x777 opened #1182 "improve schema management when horizontally scaled"
Currently, when applying schema changes there should only be one instance running. We can get rid of this limitation by listening to changes on tables in `hdb_catalog` and reload the metadata when needed.

[2018-12-11 11:30] 0x777 commented on #1182
The current workaround is documented here: https://github.com/hasura/graphql-engine/issues/940

[2018-12-11 11:50] tirumaraiselvan opened #1183 "Guide on horizontal scaling"
There are many questions pertaining to horizontal scalability of Hasura including:

1) schema migrations and metadata reload
2) delivery of events

There should be a doc on explaining these things and best practices.

[2018-12-11 11:52] tirumaraiselvan opened #1184 "[Docs] Guide on using Django migrations with Hasura"
We need docs on using Django migrations with Hasura.

[2018-12-11 11:52] coco98 commented on #1183
@tirumaraiselvan Can you suggest a full list of topics / a skeleton that we need to cover? Would be easier for someone to pick this up then.

[2018-12-11 11:53] tirumaraiselvan opened #1186 "[Docs] Guide on using Rails migrations with Hasura"
We need docs on using Rails migrations with Hasura.

[2018-12-11 11:59] willmitchell commented on #1176
Thanks to both @ecthiender and @shahidhk for your thoughtful analysis of the issue.

@ecthiender, your observation that the current Hasura approach is compliant with OIDC spec is well taken.

I think that either proposed solution would be great!

One thing that I like about the flat namespace approach (@shahidhk) is that the claims remain directly accessible to the client.  @ecthiender 's suggesti

[2018-12-11 12:03] coco98 commented on #1176
@tirumaraiselvan This might be helpful for #1180

[2018-12-11 12:07] tirumaraiselvan commented on #1183
Here is the list ( leaving it to @rikinsk to structure them ) :

1. Can we run more than one Hasura instance?
2. Attaching reverse proxy/ load balancer to run multiple Hasura instances
3. Scalability of queries/APIs
4. Scalability of Event Triggers
5. Managing schema across multiple instances

[2018-12-12 07:34] 0x777 commented on #983
@ecthiender Let's point to the commit for `hs-jose` package in `stack.yaml` till a new version is released.

[2018-12-12 07:49] 0x777 opened #1190 "Increase concurrency handling while refetching state"

[2018-12-12 09:41] praveenweb opened #1191 "optimise the on-load queries on console using bulk api"
console makes a number of http requests to the server to fetch initial state (like schema, table data etc).
Convert them into a single bulk query wherever possible to reduce the roundtrips.

[2018-12-12 10:35] dsandip opened #1193 "consistent UI for modifying remote schemas"
The current UI for modifying remote schemas is inconsistent with other such pages. Wireframes below:

![manage_remote_schemas](https://user-images.githubusercontent.com/24300818/49863983-78488b80-fe27-11e8-9ad9-4357dd742a6c.png)

![edit_remote_schemas_1](https://user-images.githubusercontent.com/24300818/49863993-7bdc1280-fe27-11e8-9780-219e8f47406a.png)

![edit_remote_schemas_2](https://user-imag

[2018-12-12 10:44] CodHeK commented on #1110
@shahidhk @praveenweb  I'd like to work this out, I'll just make a list of where a link would be required and post it here.

[2018-12-12 10:57] CodHeK commented on #1110
1. `Permissions`:  https://docs.hasura.io/1.0/graphql/manual/auth/basics.html
2. `Event triggers`: https://docs.hasura.io/1.0/graphql/manual/event-triggers/index.html
@revskill10  if you could suggest a few more areas to link ?

[2018-12-12 11:21] 0x777 commented on #1112
@revskill10 If two types have the same structure, it doesn't matter.

[2018-12-12 11:21] 0x777 commented on #1112
Related: https://github.com/hasura/graphql-engine/issues/1135

[2018-12-12 11:46] deman4ik opened #1195 "Evironment variable for --connections flag"
Is it possible to configure connections limit with envirnment variable instead of --connections flag?

[2018-12-12 12:01] #1112 closed

[2018-12-12 12:13] 0x777 commented on #1195
Not currently. Will be added in the next release or so.

Related: https://github.com/hasura/graphql-engine/issues/1090

[2018-12-12 12:35] 0x777 commented on #696
Related: #207

[2018-12-12 12:58] #1039 closed

[2018-12-12 13:05] praveenweb commented on #915
This section will now have a dropdown to switch between schemas. Being tracked here - https://github.com/hasura/graphql-engine/issues/1092 Closing this.

[2018-12-12 13:05] #915 closed

[2018-12-13 09:03] egislook opened #1201 "Tracking node deletion using subscriptions"
Is there any easy way to track the node deletions? In graphcool engine they had mutation (created, deleted ...) and previousValue fields. Does hasura support something like this?

[2018-12-13 09:55] #1069 closed

[2018-12-13 10:18] karthikvt26 commented on #523
Fixed in #812

[2018-12-13 10:18] #523 closed

[2018-12-13 10:21] marco-fp opened #1204 "Feature request: Encrypt data at rest"
# Feature Request
**What feature are you missing?**

Support for encrypting certain fields at rest on the DB, using a specified secret key (using symmetrical or possibly asymmetrical encryption)

**How could this feature look like in detail? Tradeoffs?**

1. Specify an environment variable with either the key or the route to the key in the filesystem for the encryption keys to be used.
2. Specify

[2018-12-13 10:40] dsandip commented on #285
@shahidhk @0x777 @praveenweb This requires a change in the JSON API with type `create_object_relationship`, right? Does this have an impact on the console?

[2018-12-13 10:50] dsandip commented on #212
@arvi3411301 As we discussed some time back, the UI for this is to color the non-conforming identifiers in a different color (#FFC200) and add our usual "i" icon next to it with a tool tip:

This identifier name does not conform to the GraphQL naming standard.
Names in GraphQL should be limited to this ASCII subset:  `/[_A-Za-z][_0-9A-Za-z]*/`. [Reference](https://facebook.github.io/graphql/June20

[2018-12-13 11:33] coco98 commented on #1201
@egislook Hasura GraphQL subscriptions are more like live-queries so you can implicitly get information about if something got inserted, updated or deleted. We do this because sending events to a web-client (browser/mobile) is usually not reliable. For example if the wifi connection broke, you might miss the delete event that the server sent. It's easier to subscribe to a live-query so that whenev

[2018-12-13 12:17] rikinsk-zz opened #1207 "Give better response on graphql engine 404 urls"
In case HGE is launched with console disabled, there is no feedback to the user if HGE is running when user hits a server url. i.e.
![screenshot from 2018-12-13 17-39-28](https://user-images.githubusercontent.com/153602/49937853-1dce2e80-fefe-11e8-99b3-470305cbae09.png)

Instead, on all 404 pages give a response saying, "Hasura GraphQL Engine is running! GraphQL endpoint is /v1alpha1/graphql"  or

[2018-12-13 12:40] dsandip commented on #506
@arvi3411301
We can also address #285 here itself (the console part). Console suggestions for relationships based on Fkey should also pick up and show the Fkey name in the suggestions like this:

![relusingfkeynameinsuggestions](https://user-images.githubusercontent.com/24300818/49939178-16108900-ff02-11e8-9614-9d2c6df77b46.png)

@rikinsk FYI.

[2018-12-13 14:20] dsandip commented on #506
@arvi3411301 Also adding wireframes for composite unique constraints:

**Create a composite unique constraint when creating a table**:
1) Option to create
![createtable5compunique1](https://user-images.githubusercontent.com/24300818/49943910-195e4180-ff0f-11e8-93c7-4e1258c8b7e8.png)

2) creating the constraint

![createtablecompunique2](https://user-images.githubusercontent.com/24300818/49943927-2

[2018-12-13 14:46] wawhal opened #1210 "enable up down arrows in dropdown+textbox inputs (event trigger, remote schemas)"

[2018-12-13 15:13] jvice152 commented on #696
@0x777 , besides security I like the concept of an aggregate root https://martinfowler.com/bliki/DDD_Aggregate.html.  For example, if i have an order and orderline/orderdetail table, I would only like operations to be involved when accessing it through the top level order table.  maybe a postgreSQL comment on the table itself telling it to omit direct queryw/mutations, but allow through others. Wi

[2018-12-13 16:08] pradeepgangwar commented on #1210
@wawhal Let me fix this up.

[2018-12-14 01:31] Smerity commented on #411
I could imagine scenarios where as a start-up scales they might shift to CockroachDB from Postgres. From a read and most of a write point of view would it not remain compatible with GraphQL? How frequently are user defined schema changes required in standard Hasura + Postgres operation?

The other feature that would disappear is the live subscription capability but that is an optional extra and Ha

[2018-12-14 03:21] #51 closed, assigned to nobody

[2018-12-14 06:00] #810 closed

[2018-12-14 06:14] shahidhk commented on #411
Thanks for reporting this @duyleekun.

@Smerity Hasura stores all the metadata on a separate schema called `hdb_catalog`.

Looks like this is a planned feature on CockroachDB. Should land soon.

See https://github.com/cockroachdb/cockroach/issues/26443 and https://github.com/cockroachdb/cockroach/pull/30916

[2018-12-14 06:15] pradeepgangwar commented on #1210
@wawhal Dropdowns in event trigger form are working with up-down arrow keys. Please let me know the area where this issue exists.

[2018-12-14 06:37] akiran opened #1211 "Feedback on Hasura migrations"
I tried migration as mentioned in hasura docs and ran in to some issues.

1) I started creating tables from hasura dashboard with running `hasura console`. So migration files are not generated. I want to bring in the schema to migrations. I followed this guide to generate first migration https://docs.hasura.io/1.0/graphql/manual/migrations/database-with-migrations.html

When I tried to apply this

[2018-12-14 07:04] shahidhk commented on #1211
Hi @akiran, thanks for the feedback. This is very helpful :+1:

1., 2.:

Based on the commands, I think you have followed this guide: https://docs.hasura.io/1.0/graphql/manual/migrations/existing-project.html. Please do correct me if I am wrong.

We have not addressed the use case for creating migrations from an existing project (db) and continuing to use that project (db) with migrations. The gui

[2018-12-14 07:23] rikinsk opened #1212 "docs search improvements"
Add suggested improvements or bugs in docs search

[2018-12-14 07:51] akiran commented on #1211
@shahidhk Thanks for the prompt response.

I am using Postgres 10.4

Regarding 3: I am interested in consolidated migration files for better maintainability of code. If we have all schema changes related to a feature in one file, it will be easy to refer back in future

[2018-12-14 09:45] shahidhk commented on #1211
Got it. I'll get back after checking a latest Postgres dump.

Yeah, it makes sense to group together migrations for maintainability. Will iterate over some ideas and get back. In the meanwhile, do let us know if you have any suggestions/ideas.

[2018-12-14 10:01] shahidhk commented on #285
@rakeshkky Can you confirm if the API changes are required?

[2018-12-14 14:14] shark-h opened #1215 "add OpenSearch support to docs.hasura.io"
would be easier and faster to search the docs directly through chrome's address bar rather than the usual method.

[2018-12-14 16:47] revskill10 commented on #1110
@CodHeK Every tabs on ConsoleUI needs documentation.

[2018-12-14 17:57] CodHeK commented on #1110
Every tab as in? Could you give me an example ? @revskill10

[2018-12-14 18:10] revskill10 commented on #1110
Actually, my expectation is to link all current markdown documentation files into its own react component with `mdx` , and in console ui, make a drawer so that people could view those documentations right from console ui. It's also a feasible approach.
The benefit is when we update documentation, console ui documentation could automatically deployed with latest documentation, too.

[2018-12-14 18:16] pradeepgangwar commented on #1210
@wawhal I went through dropdown code and found that there is no default option in react-bootstrap that enables arrow keys. So I guess I have to add it manually by adding a function that acts on arrow key. This is my first issue on this repo so pls let me know if I am thinking in right direction. 😅

[2018-12-15 04:36] CodHeK commented on #1110
@revskill10 all the documentation is written in Sphinx right, I don't see any documentation written in markdown.

[2018-12-15 05:06] #1022 closed

[2018-12-15 05:08] #1068 closed

[2018-12-15 05:17] jlowin opened #1217 "Support aggregations over TIMESTAMP WITHOUT TIMEZONE fields?"
Hello,

At the moment it appears that aggregations over datetime fields (timestamps) are not supported -- querying the maximum timestamp, for example. Are there plans to add support for these pseudo-numeric types (or am I looking in the wrong place?)

Thanks!

[2018-12-15 05:53] revskill10 commented on #1110
@CodHeK Is there any chance to rewrite documentation with markdown ? I don't see any reason not to use markdown for documentation though.

[2018-12-15 18:57] WickedBrat1 commented on #226
Hi @praveenweb I'd like to work on this. What is the expected outcome for this?

[2018-12-15 19:07] WickedBrat1 commented on #1074
Hi @shahidhk, I'm not sure I understand this issue correctly. Currently in the console, when we add a column, we can tick the box for `Unique` and can update a column to be unique after the table is created. What are the steps to reproduce this? I think this is already implemented.

[2018-12-15 19:48] WickedBrat1 commented on #1049
@coco98 It appears to be fixed.
Screenshot:
![screenshot from 2018-12-16 01-16-35](https://user-images.githubusercontent.com/45864807/50046854-6b01fa00-00d0-11e9-92d9-49a3d99536ea.png)

[2018-12-15 19:52] Sach97 commented on #1074
@WickedBrat1 this is only implemented for setting unique on one column not on many

[2018-12-15 19:56] amesas commented on #1183
How to add more/remove hasura nodes without Downtime
How to add/remove/upgrade Postgres replicas without Downtime
Strategies for HA / Horizontal Scaling: backups, monitoring ( maybe prometheus? ), etc..
For complex setups, the hard part is not deploying it, but maintaining it: logs, upgrades, incidents, monitoring, etc...
Deploying it, is as easy a "copying and pasting" a blog post

[2018-12-16 11:15] revskill10 opened #1219 "Support api to generate json-schema from pg tables"
SHould we add api to generate json-schema for pg-tables ?
One use case is to use https://github.com/mozilla-services/react-jsonschema-form to generate frontend React forms from an API endpoint.

Note: Currently in order to generate json-schema, one must access `pg_url` to generate statically.
So this feature will allow runtime json-schema-form generation for all pg tables.

[2018-12-16 14:38] akiran opened #1220 "Feedback on hasura init command"
1) I tried to run `hasura init` on root folder of existing project so that I can run hasura cli commands from root folder of project instead of going to subfolder
But, I get an error *Error: directory 'folder-name' already exist*

CLI could give a warning saying `folder already exist. Do you want to continue ? Y/N`
and allow creating hasura setup in a existing project.

2) Config file name is very

[2018-12-16 18:17] akiran commented on #981
yes, I would like to customise the schema as well.

Since data coming from graphql flow into code, it is better to have semantic names for better maintainability. For example, if graphql return list of users, I would like to have data property name to be  users instead user.

[2018-12-17 06:21] coco98 commented on #1217
@0x777 @rakeshkky Thoughts?

[2018-12-17 07:12] 0x777 commented on #1217
Yes. We'll add support for this very soon.

[2018-12-17 07:14] 0x777 commented on #1219
Outside the scope of this project.

[2018-12-17 07:14] #1219 closed

[2018-12-17 07:16] 0x777 commented on #1204
Let's see if there is more interest for this feature from the community.

[2018-12-17 07:18] Maxpain177 commented on #981
While we wait for implementing this feauture by Hasura Team, we can use graphql aliases.

[2018-12-17 07:46] #1191 closed

[2018-12-17 08:17] shahidhk commented on #1141
GraphQL Engine serves APIs and a Console UI. The console needs to know what URL/path it is hosted at, inorder to do redirects etc. appropriately.

#### _Option 1: Take URL_PREFIX_

With this option, APIs and console is served at `/`.

Console HTML gets `urlPrefix: /URL_PREFIX/console`

Example nginx conf:
[code]

When a request hits `domain.com/URL_PREFIX/`, graphql-engine sees it as hitting `/` a

[2018-12-17 08:32] 0x777 commented on #1217
@jlowin This already works for timestamp and date columns. Can you give us the table schema where this doesn't work?

[2018-12-17 09:40] JeetChaudhari commented on #981
@coco98 I was thinking about same, Thank you for showing me how to do it. Currently, I would do my project as you explained but I hope in the near future Hasura team changes the mutation names to "user_by_pk" => "user" or "accountByAccountId" => "account".

[2018-12-17 12:07] #489 closed

[2018-12-17 12:56] coco98 commented on #981
@JeetChaudhari Sure :)

Also, uou can rename relationships very easily. The default names are just generated for convenience and ensure that there are no overlapping relationship names for the same table.
You can delete the relationship and then name it to whatever you want :)

[2018-12-17 13:22] JeetChaudhari commented on #981
@coco98 Thank You for the info, I wasn't knowing that relationships can be renamed.

[2018-12-17 15:43] JeetChaudhari commented on #1201
@coco98 I really like the idea of using live queries as the subscription. I remember we had this kind of functionality in fireloop.io which was discontinued. However, I think it is important to know what actually changed whenever subscriptions get an update.

For example, let's say we have displayed table full of records on the front end and subscription changed some entry into it. Now there is no

[2018-12-17 17:09] wawhal commented on #1210
@pradeepgangwar yes you'll have to write a key handler.

[2018-12-17 18:05] elgordino opened #1224 "hasura migrate does not error with an invalid migrations file"
In some instances of an invalid migrations file hasura-cli does not error, rather it silently ignores the file.

Steps to repro.

Create migrations file `1.up.yaml` with this content (with the invalid `THIS IS A TEST`)

[code]

Run `hasura migrate status`

Output seen:
[code]

Expected output: Some sort of error indicating there is an problem in `1.up.yaml`

[2018-12-17 22:02] Oleg2tor opened #1225 "support for relations with remote schemas"
It would be nice to provide relations functionality for between local and remote schemas.

[2018-12-18 02:55] CodHeK commented on #1179
@praveenweb could you please explain a little more what is the issue about?
 I don't quite get what preloading queries/mutations mean here

[2018-12-18 06:06] praveenweb commented on #1096
We can add a separator line between the last column and the add new column section. May be a hr element would do.

Additionally we can also label that section with Add a new column at the top.

<img width="815" alt="modify table" src="https://user-images.githubusercontent.com/14110316/50135075-ec5db600-02a3-11e9-824b-6733e581f9c8.png">

Roughly the code would look like this:

[code]

[2018-12-18 08:44] coco98 commented on #1225
This is definitely something we'd like to work towards!
Can you give us a few examples of use-cases you'd like to power with this? Preferably a use-case you're currently facing.

[2018-12-18 08:51] wawhal commented on #1096
@praveenweb I suggest we should come up with a design to add a new column in the same section. Something like a plus button near the `Columns` heading. A separate section just for adding a new column doesn't look good IMO.

@dsandip ideas?

[2018-12-18 12:56] frasertweedale commented on #983
jose-0.8.0.0 was released; includes fix: https://hackage.haskell.org/package/jose-0.8.0.0

[2018-12-18 13:02] ecthiender commented on #983
Thanks @frasertweedale !

[2018-12-18 19:02] WickedBrat1 commented on #1096
Hi what about having a "Add new column" or just "+ Add" after the `Columns` and toggle the section when the button is clicked.

[2018-12-18 23:45] theshire-io commented on #1204
Imho, the key here is that if Hasura does this automagically it should be done in such a way that the functionality can easily be replicated when accessing PG without Hasura.

Suppose you've encrypted (at rest) some columns that contain important data. Most probably, you'll want to use the important data within a transaction. And Hasura doesn't handle transactions yet. So you'll need to do it by a

[2018-12-19 04:22] 0x777 opened #1232 "clear_metadata fails when there are event triggers"

[2018-12-19 06:34] #1232 closed

[2018-12-19 07:26] JeetChaudhari opened #1234 "Can Hasura be used as library?"
Can we use Hasura as a library with express.js?

[2018-12-19 07:27] #1234 closed, assigned to nobody

[2018-12-19 10:58] 0x777 opened #1236 "fix logging during startup"
Logs during startup should use fast-logger context and not `putStrLn`. They can go under the type `startup`.

[2018-12-19 11:50] arvi3411301 opened #1239 "add update-cli command"
Add update-cli command to check and install latest graphql-engine-cli

[2018-12-19 13:34] sulliwane opened #1240 "hasura metadata export for custom schema (not public one)"
Hello,

it looks like the command `hasura metadata export` is exporting all schemas by default.

Is there a way so specify `--schema "custom"` (similar to pg_dump)?

Thanks!

[2018-12-19 14:44] wawhal opened #1241 "filters for emitting events"
Allow setting boolean conditions (like in permissions).
One should be able to say things like *trigger the webhook only if `is_cancelled=false`*

**Use case**
I came across this while building an online-ordering app in a 3factor style.
When `is_cancelled` in the `order` table is set to true from the client, you can't stop the event cycle unless you add the filter in all the serverless functions wh

[2018-12-19 17:21] sulliwane opened #1242 "how to graphql mutation on non-public schema"
what is the graphql mutation format to interact with non-public schema?

I tried adding my schema name `123` before the mutation name: `123_insert_object()` but I get an error:
[code]

Is it related to the fact that I'm using number in schema names?

Many thanks!

[2018-12-19 18:33] coco98 commented on #1242
@sulliwane Yep. I think it is.

Could you temporarily try creating another schema and trying it out? Everything should work.

@0x777 @rakeshkky should be able to comment on whether numbers can be used in the graphql schema name or not.

[2018-12-20 01:53] szhang-ezypay opened #1243 "v1.0.0-alpha32 breaks graphql-tools makeRemoteExecutableSchema"
Hi

I have setup several hasura servers for my postgres databases. Then I use apollo server to do schema stitching and transforming. Everything worked fine until version `v1.0.0-alpha32`.

[old schema.txt](https://github.com/hasura/graphql-engine/files/2697122/old.schema.txt)
[new schema.txt](https://github.com/hasura/graphql-engine/files/2697124/new.schema.txt)

The error message is:
[code]
This

[2018-12-20 05:07] shahidhk commented on #1243
Thanks for reporting this @szhang-ezypay, we'll get back once we reproduce the issue.

[2018-12-20 05:16] praveenweb commented on #1242
@shahidhk  - There is a relevant issue #212 for handling GraphQL name scheme for identifiers.

[2018-12-20 07:46] ecthiender opened #1244 "hasura specific scalars in remote schema results in type conflicts"
when adding a hasura remote schema with tables having `timestamptz` columns, results in error: `"types: [timestamptz] already exist in current graphql schema"`

This happens with  `date`, `timestamptz`, `timetz`, `json`, `jsonb`, `geometry`, `geography` scalars.

[2018-12-20 08:15] WickedBrat1 opened #1246 "Values are not fully visible in the table"
Please refer to the screenshot, the last value is only half visible:
![screenshot from 2018-12-20 13-43-01](https://user-images.githubusercontent.com/45864807/50272331-74d38680-045d-11e9-899d-c27fa1fa1c8b.png)

[2018-12-20 08:32] rakeshkky opened #1247 "validate and clean GraphQL types along with fields"
The server is prone to generate GraphQL types with empty fields. This happens if a table doesn't have fields (columns and relations) whose names conform to GraphQL spec.

Need to validate and clean such types with cascading.

[2018-12-20 09:47] sulliwane commented on #1242
@shahidhk my bad, it works perfectly when schema name is not starting with a number.

The thing is, even if it's a non valid name, postgres still allows its creation. In Hasura, the schema is listed and it's possible to add tables, but nothing is displayed in graphiql schema (which is normal).

[2018-12-20 09:47] #1242 closed

[2018-12-20 11:22] #1096 closed

[2018-12-20 12:22] sulliwane opened #1250 "How to clear one schema from the gql-engine metadata?"
Looking at the **hasura-cli** doc, or at the **web dashboard**, I can't find a way to remove either tables or a whole schema from the graphql-engine metadata.

I saw this in the code: `clear_metadata` but not sure How it's supposed to work.

My use case: every new user needs to get a new -duplicated- schema in postgres/hasura. And every user removal requires the removal of its schema from postgres

[2018-12-20 14:01] #1243 closed

[2018-12-20 16:24] jvice152 opened #1253 "add gzip compression"
perhaps someone could point me in the right direction.... is there a way to enable gzip compression on queries?

https://blog.hasura.io/architecture-of-a-high-performance-graphql-to-sql-server-58d9944b8a87

I see it being referred to, but cant find any examples of it. When doing large requests, i see the accept-encoding header of gzip, deflate but not on the response at all (content-encoding). Am

[2018-12-21 04:37] coco98 opened #1254 "Add Django JWT + Hasura guide"
Let's add the Django JWT + Hasura auth guide to our docs
https://medium.com/@sejuba/django-jwt-authentication-with-hasura-graphql-engine-e522b2c90869

[2018-12-21 06:42] 0x777 commented on #1253
Hi, graphql-engine doesn't do any sort gzip compression of the response. However you can add a reverse proxy like caddy or nginx to do this.

[2018-12-21 06:46] 0x777 commented on #1243
Hi, can you try hasura/graphql-engine:pull1248-d8df6b1 docker image to check if your issue is resolved?

[2018-12-21 06:54] 0x777 commented on #1250
Hi, currently we don't have any such operations (clearing/duplicating) at the schema level. We'll definitely add this feature to the cli.

You can use the metadata APIs to generate the correct migration (say tracking/untracking all the tables in a schema). https://docs.hasura.io/1.0/graphql/manual/api-reference/schema-metadata-api/index.html

[2018-12-21 07:58] 0x777 opened #1255 "dropping a table with no columns through run_sql doesn't untrack it"

[2018-12-21 10:21] surendran82 opened #1257 "Improve the UI in create trigger listen columns"
When I create a trigger I get this.

![](https://cdn.discordapp.com/attachments/408187143073300480/525615406480752640/unknown.png)

When I modify a trigger I get this:

![](https://cdn.discordapp.com/attachments/408187143073300480/525615547270955019/unknown.png)

UI should become consistent

[2018-12-21 13:16] Anupam-dagar opened #1260 "Improve the placeholder text in Json Insert Row field."
Currently the Json Insert Row Field has the following placeholder.
`{"name": "foo"} or [12, "asdf"]`
Using `asdf` as a placeholder doesn't look good and can be replaced by better alternative.
`asdf` can be replaced by `bar` since `foo` is already used in the placeholder.
![insert - adf - data - hasura 21-12-2018 15-47-09](https://user-images.githubusercontent.com/21174572/50344353-a6794a00-0550-11

[2018-12-24 07:02] 0x777 commented on #1255
Fixed in be1d9414f88cec1103a3a1321b103bd0b797c2e4

[2018-12-24 07:02] #1255 closed

[2018-12-24 12:18] revskill10 opened #1265 "feature request: manage postgres triggers in console UI"
Currently, it's hard to add, edit, remove postgres triggers on Console UI. One must use a 3rd party tool to manage triggers instead of just using Console UI.

SHould we add a menu for local triggers, together with remote event trigger ?

[2018-12-24 16:16] jlowin commented on #1217
@0x777 I apologize for the delayed reply. The columns that weren't working were typed as "timestamp without timezone"; when I changed them to "Timestamp" in the Hasura console, therefore converting them to "timestamp with timezone" (`timestampz`), it worked as described. Hasura's timestamp functionality has otherwise been perfect for these columns.

[2018-12-24 17:08] revskill10 commented on #1225
The hard part is managing N+1 queries between remote schemas when stitching.
If we could solve that part, i think it's possible to stitch schemas in Hasura.

[2018-12-24 23:35] ivawzh commented on #981
FYI though you may know it already, Postgraphile allows the naming and other customizations via plugins https://www.graphile.org/postgraphile/make-add-inflectors-plugin/

This could be also helpful for Hasura I guess.

[2018-12-25 04:32] JeetChaudhari commented on #981
@ivawzh I know, I switched to postgraphile due to following facts after trying Hasura.

1. The main reason is postgraphile can be used in multiple ways including CLI, library, and schema only which means I can easily integrate it with NestJs framework with Apollo server to implement my business logic there and my team can manage everything in a single server application.
2. Postgraphile supports p

[2018-12-25 04:54] revskill10 commented on #981
@JeetChaudhari The main reasons to use Hasura to me:
- Haskell instead of Javascript, means better performance and stability.
- Built-in RBAC means i don't have to manually code my authorization logic.
- Naming convention ? `insert_users` is fine, what's wrong ?
- Hasura has built-in subscription for all query mean all of my query now is live.
- Hasura has built-in event triggers means i can easil

[2018-12-25 05:09] coco98 commented on #981
@revskill10 @JeetChaudhari Thanks for your comments and notes.
We'll take especially the naming stuff into account. I think aliasing made easy via the console will work well :)

[2018-12-25 09:46] fayad opened #1266 "Docker image for arm"
We have built an inhouse RPi cluster for production and currently testing the Hasura docker image. But it seems an image for arm is not available yet.

It will be a great addition as the platform is popular among servers.

Thanks.

[2018-12-26 08:10] hengsovandara opened #1267 "validation before INSERT or UPDATE or DELETE"
Now I am working on validation some fields which I don't want to validate on the client's side. And I am using Lambda function to create trigger. All works seem fine, but unfortunately, I want to create validations before the INSERT and UPDATE. Are there any ways to do it? Because event trigger in Hasura seem works after event fired.

[2018-12-26 08:39] hengsovandara commented on #1267
Example, I have validate the email format or some others format before submit to database. We can do client side, it is not most secure part to do on client side.

[2018-12-26 08:52] coco98 commented on #1267
Ah. Makes sense!

Well in that case I would recommend just writing a custom mutation as a serverless function and using remote schemas to add that mutation :)

Your code can run the validation and then update the table using whatever library you like to connect to the database or the Hasura GraphQL API (using access-key so that you can run as admin and so on).

We've been working on creating some

[2018-12-27 18:53] revskill10 opened #1268 "Event Trigger throttle configuration ?"
Let's say we want to send an email to user after successful registration into users table.
Is it possible to configure throttling configuration so that we could limit number of triggers per secs/mins ?

[2018-12-27 20:12] revskill10 commented on #1268
@coco98 The use case is in case we want to send bulk email to many users at once.
In this case, could Hasura send event triggers in bulks, too ?
For example, Gmail has a limit about some dozens of email could be sent per seconds/minutes/hours,...
It could be useful if we could control this from event triggers, too.

[2018-12-28 06:33] go4cas opened #1269 "Table Tracked without PK"
I have created my DB schema using a SQL client. Then in Hasura console, i selected to track all tables. All tables and columns are added successfully, but the primary keys are not tracked.

Sample of create:
[code]
In Hasuar console, I get the following message: "There is no unique identifier (primary Key) for a row. You need at-least one primary key to allow editing,".

[2018-12-28 07:07] coco98 commented on #1269
That's super weird and should not be happening.
Can you try to reload metadata via the console?

[2018-12-28 07:19] go4cas commented on #1269
@coco98 ... I have already tried that.

I have also tried creating anew table, using the SQL client, and then tracking the table through console - it has the same behavior.

The only way I can get PK to work, is by creating the table directly in console.

[2018-12-28 09:45] tirumaraiselvan commented on #1268
@revskill10 Like @coco98 mentioned, you can achieve this via 'Retry-After' header in your webhook. This will involve having a table in your db though.

Suppose you want to process 100 requests/minute, then you can have a table say 'throttle'  with columns 'begin_timestamp' and 'count'. In your email trigger function:

1) make a query to 'throttle' and check if there is a 'begin_timestamp' which is

[2018-12-28 09:57] tirumaraiselvan commented on #1268
^ Updated the math a bit.

[2018-12-28 12:50] coco98 commented on #1269
@karthikvt26 @praveenweb @rakeshkky Can you folks verify? This is unexpected right.

[2018-12-29 02:41] rakeshkky opened #1270 "fix auth hook mode env var"
Currently `--auth-hook-mode` CLI option equivalent env var is `HASURA_GRAPHQL_AUTH_HOOK_TYPE`.
But, it supposed to be `HASURA_GRAPHQL_AUTH_HOOK_MODE`. Support both env vars for same option and drop `..TYPE` env var in next major update.

[2018-12-29 10:17] moksahero opened #1271 "where query with multiple _in"

[2018-12-29 10:17] moksahero opened #1272 "query with multiple _in's executed with OR"
[code]
query like this treats two _in conditions with OR top level

![screenshot from 2018-12-29 17-16-16](https://user-images.githubusercontent.com/700960/50537069-f0d07b80-0b8d-11e9-8bcb-10e62e54125e.png)
![screenshot from 2018-12-29 17-16-12](https://user-images.githubusercontent.com/700960/50537070-f0d07b80-0b8d-11e9-9c88-fa16b77c7e2a.png)

[2018-12-29 10:19] moksahero commented on #1272
[code]
query like this treats two _in conditions with OR top level

![screenshot from 2018-12-29 17-16-16](https://user-images.githubusercontent.com/700960/50537069-f0d07b80-0b8d-11e9-8bcb-10e62e54125e.png)
![screenshot from 2018-12-29 17-16-12](https://user-images.githubusercontent.com/700960/50537070-f0d07b80-0b8d-11e9-9c88-fa16b77c7e2a.png)

[2018-12-29 10:20] #1271 closed

[2018-12-29 13:03] elgordino opened #1273 "Memory usage for schema migration has increased from alpha31 to alpha33"
I have a fairly large migrations file (8751 lines) which is applied to an empty schema. Between alpha-31 and 33 the RAM needed to apply the migration has increased by over 100%.

In alpha-31 it was possible to successfully apply this to a Hasura Fargate task running in 0.5GB RAM.

In alpha-33 trying to apply the migration with a 1GB task or less causes the task to be terminated for using too much