[2020-04-13 03:16] #4105 closed

[2020-04-13 03:24] hgiasac commented on #4382
@costas90 Did you debug returned role from auth webhook? I think it returns anonymous role that isn't allowed to run this action. Moreover, I don't see where you input `authorization` token header in your code

[2020-04-13 04:17] ronnyiscoding commented on #1211
I had a similar problem on an existing project, I'm using docker, so I saw that hdb_catalog already exists, so I removed volumes resetting my database,  and I ran again the command `hasura migrate apply` and it worked @akiran

[2020-04-13 06:44] tirumaraiselvan commented on #4307
Hi

Permissions will add a slight overhead (to check the permissions) but it should be very less. Can you post any numbers that you might be observing?

Hmm. This is interesting. Could you point to these links? Maybe there are postgres configuration like VACCUM frequency etc that can be configured for optimal performance.

Having said that, Greenplum is an interesting database for Hasura to suppor

[2020-04-13 07:54] tirumaraiselvan commented on #1902
FYI, the array value can be sent as [Postgres array literal](https://www.postgresql.org/docs/current/arrays.html) which looks like ` "x-hasura-array-val": "{t1,t2,t3}"`

[2020-04-13 08:00] rikinsk opened #4384 "add server config examples for flags usage"
add server config examples to :
- disable APIs
- stringify types

We should have a use case for each flag / flag group.

[2020-04-13 08:17] tirumaraiselvan commented on #3305
Yes, this is high up in our priority list. Actually, it was being tracked here: https://github.com/hasura/graphql-engine/issues/3846

I am closing this issue in favour of #3846 (as more eyeballs there)

[2020-04-13 08:17] #3305 closed

[2020-04-13 08:22] rikinsk commented on #4380
Closing this and tracking it via #4215

[2020-04-13 08:22] #4380 closed

[2020-04-13 08:28] wawhal opened #4385 "actions create button gets disabled when there are no new types"

[2020-04-13 08:58] tirumaraiselvan commented on #576
From @rakeshkky

This will also fix #4368 :

1. Fix parser to accept integer values of any length without causing overflow
2. Raise error if the number > 32 bit and it's input scalar type is Int

[2020-04-13 09:00] tirumaraiselvan commented on #4368
@zcaudate Indeed it's a bug and will be solved by https://github.com/hasura/graphql-engine/issues/576

Your workaround for using "string" values is correct. Also, you should use `--stringify-numeric-types` flag in the server to get the response as string (there can issues with sending large numbers as Int as well): https://hasura.io/docs/1.0/graphql/manual/deployment/graphql-engine-flags/reference

[2020-04-13 09:15] rikinsk commented on #4371
@Tchoupinax I attempted to do this for a column of type `text` and it seems to work. Can you confirm the type of the `imageUrl` column in your schema

[2020-04-13 09:33] perrosnk opened #4386 "[FEATURE] Rules according to current value and new value"
Let's say there is an article with columns:
1. "privacy": public|| private
2. "deleted": true||false

I want to set the rules:
1. Allow to update "privacy" ONLY if current value is private
2. Allow to update "deleted" column ONLY if current value is false

I believe it's needed to have access to the current value of the column in order to set the rules.
Similar to Firebase "data" and "newData".

[2020-04-13 09:47] mubaidr opened #4387 "[Question] How to handle/init/persist migrations in Docker Image"
If someone is using Hasura (cli-migrations) docker image, what is the recommended way to `init` migrations and share metadata and migrations with host?

_I could not find anything related to docker management in the documentation. All information is about when running docker locally._

[2020-04-13 10:22] shahidhk commented on #4032
re-opened for server pr

[2020-04-13 11:21] perrosnk commented on #4386
I guess this can be achieved by views.

[2020-04-13 11:21] #4386 closed

[2020-04-13 11:36] beerose commented on #3023
Hi @24601,
The solution suggested in https://github.com/APIs-guru/graphql-voyager/issues/129 is strictly related to the voyager code. Stack and heap sizes are hardcoded in the voyager [code](https://github.com/APIs-guru/graphql-voyager/blob/ce68069ec8f10d745293256c20dd0cb76e447985/src/utils/index.ts#L29-L30).

[2020-04-13 11:37] rrjanbiah commented on #4307
Hmm.... It seems to be easy to reproduce. For example, `todos` table has many relationship with `users` table (Array relationships). Both `todos` and `users` tables are set permissions in Hasura console ( say `/console/data/schema/public/tables/todos/permissions` and `/console/data/schema/public/tables/users/permissions`)  with roles `admin`, `1`, `2`... with different `insert`, etc permissions se

[2020-04-13 12:39] Tchoupinax commented on #4371
@rikinsk Hello, my column is typed as `character varying`.
What is it the problem with that ? I can change but i would like to understand. ^^

Is `varchar` a bad practice to store URL or other string ?

[2020-04-13 12:50] rikinsk commented on #4371
@Tchoupinax No no. I was just querying to help debug the issue. This is definitely a bug.

[2020-04-13 12:52] #4385 closed

[2020-04-13 12:53] Tchoupinax commented on #4371
Great. Tell me if you need other information. ;)

[2020-04-13 13:13] rikinsk commented on #4371
Till this is fixed, a workaround would be to surround the default values with single-quotes. eg. `'<value>'`

[2020-04-13 13:19] Tchoupinax commented on #4371
Yeah, to continue my work i performed manually the query with quote as you suggested and now it works.
For details, Hasura shows this:

![image](https://user-images.githubusercontent.com/9136206/79123291-1d67d100-7d9a-11ea-8799-51c05dd8d811.png)

[2020-04-13 13:27] ericksonc opened #4391 "Array relationships from Hasura actions fail with error "field X for relationship Y in object type Z does not exist""
When trying to save an array relationship from a Hasura Action, I get the following error message in the form `field X for relationship Y in object type Z does not exist`

Here's the action definition:

[code]
I can save the action, insert to it, and get a response, but when I try to create an array relationship of NoteIds.ids -> notes.id the error message I get is:
[code]

However, if I change th

[2020-04-13 13:30] wawhal commented on #4381
@BenoitRanque actions must always return an object type. This is a current limitation.

However, this bug report helped us to acknowledge [another bug](https://github.com/hasura/graphql-engine/issues/4385) which has been fixed in https://github.com/hasura/graphql-engine/pull/4389. Thanks for reporting :)

[2020-04-13 13:55] rikinsk commented on #4381
I'll reopen this to track the core issue raised by @BenoitRanque i.e allow actions without custom types

[2020-04-13 14:22] #4330 closed

[2020-04-13 14:28] rikinsk commented on #4369
Actions in its initial release will not be supporting PG functions. This functionality should be added in the coming releases.

Closing this issue for now.

[2020-04-13 15:00] rakeshkky commented on #4391
@ericksonc The error message, in fact, is misleading. Actual error should be
[code]
Will fix this soon.

[2020-04-13 15:03] 24601 commented on #3023
Yes, so I have thought of just doing a custom build, patching, and calling it good, which I may do, but I am curious if there is any interest in having this process exposed through standard Hasura variables/config methods, I could think of a few ways this could be done, I was erring on the side of externalizing their hard-coded variables (hopefully they'd accept a PR for something fixing something

[2020-04-13 18:01] costas90 commented on #4382
@hgiasac right! I normally use Apollo on the app and forgot that I have to set the Authorization headers manually also here.

What is the proper way for debugging this? Because I noticed the webhook didnt fire so I shouldnt be able to debug it. What exactly do you mean by auth webhook? I use Auth0.

Should I be using apollo to send this request or fetch is much better for base64 uploads?  Not sure

[2020-04-13 19:01] hgiasac commented on #4382
@costas90 You can check in HGE log's `user_vars`, for example:

[code]

If access token is verified successfully, user role can be show in http-log

[2020-04-13 19:07] sobrinho commented on #4298
@fastengineer create a computed field in Hasura.

It allows you to specify a db function that will give you the database row and whatever you return, will be returned in the GraphQL.

[2020-04-13 19:09] sobrinho commented on #4298
You can do something like:

[code]

[2020-04-13 19:11] sobrinho commented on #3298
That's important here as well!

We can easily trigger hundreds of events here that needs to go back to Hasura to pull a specific field of our table (a computed one, of course).

[2020-04-13 19:12] sobrinho commented on #3857
Yep, seems like that generated columns, default value as a function call or even an action in a more complex scenario would do the job perfectly.

@tcaraccia @0x777 that can be closed, I think.

[2020-04-13 19:14] costas90 commented on #4382
Thanks, just added papertrail to my heroku app.

[2020-04-13 19:14] #4382 closed

[2020-04-13 20:14] arvi3411301 opened #4394 "add set_table_is_enum metadata type for squashing migrations"
Refer https://hasura.io/docs/1.0/graphql/manual/api-reference/schema-metadata-api/table-view.html#set-table-is-enum

[2020-04-13 21:49] DanieltheYogi opened #4397 "Allow compound permission statements"
Limiting permission statements to a single check is very limiting for complex permissioning systems. Adding this simple feature will greatly increase our development velocity as we'll likely have to many custom resolvers to handle permissioning checks due to the lack of this ability. Our Resource Access Control (RAC) system is a combination of role-based access, feature-based (attribute-based), an

[2020-04-13 22:03] GavinRay97 commented on #4387
The workflow you can use with Docker/Kubernetes and the `.cli-migrations` image is to make a custom `Dockerfile` where you copy the migrations folder from the host to the container and let it apply them.

If you are using the V2 migrations format:

[code]

If you are using the V1 format:

[code]

Assuming that your migrations/metadata are stored in those directories. You can also customize the loc

[2020-04-13 22:08] GavinRay97 commented on #4305
If the migrations are entirely identical, it's completely safe to delete one of the copies from your code and source control.

You can also delete migrations that negate each other. For example:
- Sometimes you may create a relationship, maybe do a few things in-between, and then decide that wasn't the right relationship and remove it.

Now you have two migrations that combined effectively do noth

[2020-04-13 22:16] GavinRay97 commented on #4305
I want to follow up with a comment about workflows when developing and generating migrations:

If you are in early stages, and you don't have a Hasura instance live in Production that needs isolated migrations, it can be easier to use a flow where you do a daily (or more) "save"/"checkpoint" of the database by using `init --from-server`. Especially if you are iterating heavily on your data models.

[2020-04-13 23:17] soneymathew commented on #4341
Thanks @tirumaraiselvan

1. Does it avoid it from appearing in schema anymore?

2. What I wanted to do is Table name renaming instead of Field name renaming :)

[2020-04-14 03:10] BenoitRanque opened #4399 "Error applying metadata if action with no input argument exists"
While I can create such an action without issue, and export the resulting metadata, applying this metadata on a fresh database will raise an error:
[code]

![image](https://user-images.githubusercontent.com/25712958/79182093-f3370300-7ddb-11ea-8c5d-bcc85c57b2ac.png)

adding a dummy argument solves the issue

![image](https://user-images.githubusercontent.com/25712958/79182263-6c365a80-7ddc-11ea-9d

[2020-04-14 03:16] GavinRay97 commented on #4399
Thank you for noting! This is a duplicate of https://github.com/hasura/graphql-engine/issues/4367 I believe.

[2020-04-14 03:27] BenoitRanque commented on #4399
That is correct. closing.

[2020-04-14 03:27] #4399 closed

[2020-04-14 03:40] GavinRay97 commented on #4370
**From your requirements:**
- User A sends User B 1 **"unit"**
- We should check if User A balance is enough
- Decrement User A balance
- Increment User B balance
- Insert a "transaction" in the Transactions table.
- Checking the User A balance >0 can be done through the rules

As you may know, anything sent from the client inherently cannot be trusted. The suggested architecture for something lik

[2020-04-14 03:47] GavinRay97 commented on #4341
You can use "Custom GraphQL Root Fields" feature in the table modification tab to change the table name values in the schema:

![image](https://user-images.githubusercontent.com/26604994/79183958-f1237300-7de0-11ea-8854-b1cca989f4c3.png)

After changing `select` to `new_user_name`:

![image](https://user-images.githubusercontent.com/26604994/79184024-14e6b900-7de1-11ea-9db7-505f8b650462.png)

Does

[2020-04-14 04:26] tirumaraiselvan commented on #4341
Yes, if you using the role (by providing `x-hasura-role` header, say), then only part of the schema which has permission to will appear. Hasura has Role Based Schemas: https://hasura.io/docs/1.0/graphql/manual/auth/authorization/roles-variables.html#roles

Ah, not yet but very soon: https://github.com/hasura/graphql-engine/issues/3811

[2020-04-14 04:46] tirumaraiselvan commented on #3811
When a new table type is given, then all the corresponding fields should change to the new name like `insert_new_name` automatically unless a field name is also provided.

[2020-04-14 06:01] #3548 closed

[2020-04-14 06:25] mubaidr opened #4400 "[BUG] [Beta Version] hasura-cli : directory vs directory-name"
When using `directory` flag there is a deprecation message:
[code]
 but I try to use `directory-name` there is an error message that this flag is unknown:
[code]
Version: v1.2.0-beta.3.cli-migrations-v2

[2020-04-14 06:37] tirumaraiselvan commented on #981
Being tracked here: https://github.com/hasura/graphql-engine/issues/3811

[2020-04-14 06:38] tirumaraiselvan commented on #2639
Thanks for the issue @ardsh

This is being tracked here: https://github.com/hasura/graphql-engine/issues/3811

[2020-04-14 06:38] #2639 closed

[2020-04-14 06:43] shahidhk commented on #4400
@mubaidr The `--directory` flag has been deprecated and it is asking to use the argument instead.

i.e.

[code]
instead of
[code]

[2020-04-14 06:45] #4400 closed

[2020-04-14 06:48] tirumaraiselvan commented on #4367
Fixed by https://github.com/hasura/graphql-engine/pull/4285

Will be released in `v1.2.0-beta.4`

[2020-04-14 06:48] #4367 closed

[2020-04-14 07:02] tirumaraiselvan commented on #4310
Makes sense. Atleast for the `admin` role, this should be to easy to provide in the `extensions`.

The `run_sql` API already provides this info when it throws an error.

[2020-04-14 07:16] perrosnk commented on #4370
Thank you for your reply @tirumaraiselvan.
Unfortunately we can't trust the "sendingUser" query to query for the balance because there could be another mutation running at the same time which is simultaneously decrementing the balance.
So we need to rely on constraints.
I wanted to ask you if we call an action, and then within the action we send a SINGLE mutation with multiple mutations within:

[

[2020-04-14 07:19] perrosnk commented on #3573
@tirumaraiselvan Is there any chance that this gets included in v.1.2?

[2020-04-14 07:28] tirumaraiselvan commented on #1291
Hey everyone

Happy to announce that we have released [Actions](https://hasura.io/docs/1.0/graphql/manual/actions/index.html) in v1.2 (currently in beta) to solve this problem. Please try out the beta from here https://github.com/hasura/graphql-engine/releases. Expecting to release stable by week-end.

Why did we build Actions to solve this problem?

- Data validations, in general, are NOT simply

[2020-04-14 07:28] #1291 closed

[2020-04-14 07:37] tirumaraiselvan commented on #3573
@perrosnk There is a slim chance but it will definitely be included in v1.3.

[2020-04-14 07:52] tirumaraiselvan commented on #4370
@perrosnk

There are two ways to solve the above problem:

1. Using the above multiple mutations (in a single operation) that you presented: This will be run in a transaction: https://hasura.io/docs/1.0/graphql/manual/mutations/multiple-mutations.html#execution. But you need to perform a check that `sending_user_id.balance > 0`. This can be done by setting an `update` [permission rule](https://has

[2020-04-14 09:09] perrosnk commented on #4370
Thank you both for your replies! (I mistakenly tagged @tirumaraiselvan instead of @GavinRay97)

I have already set a constraint like this:
<img width="718" alt="Screen Shot 2020-04-14 at 11 53 34 AM" src="https://user-images.githubusercontent.com/10828675/79205453-9e7ca200-7e46-11ea-8bb1-5eea7f20471d.png">

So I guess I don't need to do anything else. I wanted to confirm that if I run a multiple m

[2020-04-14 09:09] #4370 closed

[2020-04-14 09:22] dariocravero commented on #1291
Nice @tirumaraiselvan! Amazing work on actions.

For anyone else seeing this, we've been using them for a couple of weeks in production and they are super useful. Right off the bat, it saves you from having to write the graphql stuff surrounding your logic which means that a simple function like the one you were using in events pretty much works. 👏

One question I had was whether you'll be opening

[2020-04-14 10:14] tirumaraiselvan commented on #1291
@dariocravero Yes, query support is almost merged: https://github.com/hasura/graphql-engine/issues/4032 and so is re-using postgres scalars: https://github.com/hasura/graphql-engine/issues/4125 . We will keep improving other things as we go along.

[2020-04-14 11:09] #4394 closed

[2020-04-14 11:11] dariocravero commented on #1291
That's class! :)

On Tue 14 Apr 2020, 12:15 Tirumarai Selvan, <notifications@github.com>
wrote:

[2020-04-14 11:22] srobrien opened #4401 "Console CodeGen not outputting full code for custom mutation names"
I'm not sure if this is an issue or my incompetence, however using v1.2.0beta3 console I have a mutation which I wish to derive an action from:

[code]

When I derive the action and generate the code it works as intended:

[code]

[code]

 However, if I re-name the mutation and output type to a custom value, it does not generate the full code, as below:

[code]

[code]
I am under pretty confident

[2020-04-14 11:34] RodolfoSilva commented on #1291
@tirumaraiselvan has any plan to add support for the Postgres functions?

[2020-04-14 12:33] #4397 closed

[2020-04-14 12:35] DanieltheYogi commented on #4397
I posted this apparently without having done due diligence in working with the builder. This functionality is already possible. I was expecting for compound statements, for  the _and, _or, _not statements to follow the initial statement, but I see from these examples, it precedes the first statement.

[2020-04-14 12:44] ro-savage commented on #721
Found this [Repo](https://github.com/renanmav/hasura-relay-example) from @renanmav that uses the unstable and undocumented `UNSTABLE_DO_NOT_USE_getDataID` in relay to generate the dataID client side instead of server side.

Here's the commit: https://github.com/renanmav/hasura-relay-example/commit/c0dcf82a22dddf6069d4e0ca5e200c0b8fbc4bf7

I haven't tried it yet but looks like it may be a good way

[2020-04-14 13:08] renanmav commented on #721
Relay team has plans to remove the `UNSTABLE_DO_NOT_USE` and document the `getDataID` but works fine. Haven’t tried pagination with connections yet.

[2020-04-14 13:09] soneymathew commented on #3023
Got this error today in voyager view

[code]

[2020-04-14 14:12] mubaidr commented on #4387
Thanks for the quick feedback.

I am using `hasura/graphql-engine:v1.2.0-beta.3.cli-migrations-v2` and as you recommended, I have added volume mounts to the project location one confusion solved.

Now:
- start engine using `graphql-engine serve` (which runs at default port 8080) and I can type
`http://127.0.0.1:5434/v1/version` in browser to get `{"version":"v1.2.0-beta.3"}`
- start console using

[2020-04-14 14:39] soneymathew commented on #4341
Thanks for the guidance @tirumaraiselvan / @GavinRay97 🙏
I will follow #3811 for updates.

[2020-04-14 14:39] #4341 closed

[2020-04-14 15:33] RapidOwl commented on #3688
Regarding the overall handling of nulls, I just found my delete mutation deleted all of the data in a table. It turns out this was because I accidentally passed a null value to a parameter in my query.

Instead of running the `_eq` against the null parameter, it appears the `_eq` is skipped. This then means additional validation code in my application because my "database" layer doesn't behave as

[2020-04-14 15:46] GavinRay97 commented on #4401
So the way that "Derived" Actions work on the Console is that, when you initially derive a method, the name of it is stored in `localStorage` in an dictionary object.

How the codegen component discriminates between standard and derived methods is by checking the name against the dict entries.

You can see some of this here:
https://github.com/hasura/graphql-engine/blob/21a4dff993e3e84f3311a1966e1

[2020-04-14 16:17] srobrien commented on #4401
Hi Gavin, thanks for the quick and informative answer, I see the key/value in localstorage set with the pre-generated name. Its confusing as the guide video: https://www.youtube.com/watch?v=oqbxEp4FIjE&t=288s, shows this exact thing being carried out and it seems to works fine. It looks like he is working off a branch rather than v1.2 though so not sure if there is any differences.

[2020-04-14 16:24] abooij commented on #3573
I've created a table with various field types to see which column types support `_inc`. The results are as follows:

Column types that appear to support `_inc`: `smallint`, `integer`, `bigint`.

Column types that do not yet appear to support `_inc`: `real`, `doubleprec`, `money`, `numeric`.

[2020-04-14 16:33] GavinRay97 commented on #4401
You're completely right, the branch there likely contains a patch for this. From the comments on the video:

![image](https://user-images.githubusercontent.com/26604994/79250030-2022fe80-7e4c-11ea-916c-04ba5cb93904.png)

[2020-04-14 18:16] rhyslbw commented on #2073
Is there a workaround for this? There are natural situations that really require sensible defaults

[2020-04-14 18:32] GavinRay97 commented on #4387
Does it work without `--console-port`? on the default port `localhost:9695`?

[2020-04-14 18:52] tiagob commented on #4310
We have a UI that allows multiple items to be created at once in a list. If one fails to insert into postgres (ex. a check constraint fails) we want to show an error next to that item instead of for everything. We ended up adding client side validation for this but it would be great if the server could send us back the right information.

[2020-04-14 18:56] slimlime opened #4402 "Hasura console returns possibly ambiguous `postgres-error` message. Message popup adding invalid composite UNIQUE constraint erroneously returns only the first column listed in the composite constraint - postgres-error : <first-column-name> named in key "does not exist""
Wondering if this is specifically Hasura-related or if this error message is entirely passed through from Postgres.

(Trying to recall the exact conditions that allowed this error to be created in the first place; however, I believe it was during another suspicious automatically generated Hasura migration)

Error:
SQL Execution Failed
`postgres-error : column "productid" named in key does not exis

[2020-04-14 19:13] slimlime opened #4403 "Hasura console and migrations mishandles long file names; freezes hasura console UI feedback on long multi-column constraints submit"
May be more specifically related to the automatic migration generation functionality.

Long multi-name composite column constraints generate huge migration names based on concatenating the name of every column included without character limit.

Although some functionality does truncate the name to a usable string (the constraint name itself appears to be truncated after I refresh or check the code

[2020-04-14 19:16] GavinRay97 commented on #4402
Hey, unfortunately I'm unable to replicate this on `1.2.0-beta.3`:

![unique-err1](https://user-images.githubusercontent.com/26604994/79264637-e4dffa00-7e62-11ea-9c87-ef40238fe196.png)

![unique-err2](https://user-images.githubusercontent.com/26604994/79264639-e6112700-7e62-11ea-9984-ce6bac4bb9b2.png)

[2020-04-14 19:20] GavinRay97 commented on #4403
Do you happen to have any screenshots and logs (either from your browser, in the console errors/messages or from the Hasura container/CLI) to have some more tangible information on this?

Would be really helpful to visualize things and get a sense for exactly how "long" long is :sweat_smile:

[2020-04-14 19:22] slimlime commented on #4215
and `integer` -> `int4` #4380
Is there a master references list for the custom types (hasura `udt_name`) mapped to postgres `data_type`?

[2020-04-14 19:50] slimlime commented on #4403
In having verbose naming conventions within obtuse denormalised data scraping for a database migration :P,
Example breakdown :

- 33 characters default prefix: `1586847853419_alter_table_public_`
  - including 13 characters unix epoch: `1586847853419`
  - 10 to 20 characters action text: `add_unique_` `alter_table_`, `add_relationship_`,etc
* 15 to 30 characters table name depending on convention,

[2020-04-14 19:55] FarazPatankar commented on #2768
Anything other than this? And does this have any bad effects apart from the fact that there are gaps?

[2020-04-14 20:01] slimlime commented on #4402
Hi @GavinRay97,

Thank you for checking this out and providing a screen clip.

Had not tried this on the beta version; however, did not see a related issue that got fixed!

Will see if I can provide more concrete steps with different versions

[2020-04-14 20:09] GavinRay97 commented on #4403
Thanks for the super comprehensive write-up!

To summarize:
- Creating tables with long table + column names, then composite constraints breaks the Console
- The migrations it generates are not properly tracked by git due to default file-name length constraints
- Measures are needed to ensure that generated migrations do not exceed 255 characters to prevent ghost-bugs from version control issues

[2020-04-14 20:35] mitar commented on #3399
I do not think diffing would help with the issue you linked to. This is just disconnect between how subscriptions are applied win apollo client. What happens if you have local change + change for that particular field comes through diff? So diffing would just make the problem less obvious. The solution is that apollo client would have to know which change from the server relates to the optimistic

[2020-04-14 21:26] baskin opened #4404 "[Question] Select permissions as filters in SQL query"
Hi team,

I was playing around with a multi-tenant schema (say) a movies table with fields
`id | name | tenant_id`
I setup row select permissions `{"tenant_id":{"_eq":"X-Hasura-Tenant-Id"}}`

While running a query for (say) all movies, I observed that only the movies permitted by the above permissions setup i.e. only the movies for the requesting users `tenant_id` are returned instead of (say) fai

[2020-04-14 22:22] BenoitRanque opened #4405 "Allow Nullable action response"
Actions can be defined to have a nullable return type like so:
[code]
Yet returning an empty object or empty body will throw an error.
Nullable return types should either explicitly be disallowed, or not throw errors

[2020-04-14 23:40] weyert commented on #1654
@campie  I was wondering if you have an example of cookie auth via auth webhook like you described?

[2020-04-14 23:49] soneymathew commented on #3533
@tirumaraiselvan Do we even need metadata in prod if persisted query can be specified as a constraint?

Inspired by the spirit of disappearing frameworks that does all the work at compile time, The key lessons that I can take away from a few are
- Not everything needs to be done at runtime for every request. (Eg: sveltejs)
- A lot of pre-work can be done at build/dev/design time that avoids the ov

[2020-04-15 01:42] GavinRay97 commented on #3399
The developer behind RxDB released a library a few days ago targeting this exact problem. This is not a viable solution because it's in Javascript, but from an architectural perspective it could offer up some ideas for a later implementation or anyone looking to do this on the client-side or as a middleware-server method:

https://github.com/pubkey/event-reduce

![image](https://user-images.github

[2020-04-15 01:49] shahidhk opened #4406 "docs: better wording on enum docs"
And also in regards enum tables, I think it is better to update docs:

And enum tables, first time I went though the docs I misread.

As it also may contain others. It is better word it as must not contain imho
Probably better wording will be

3. The table must not contain any other columns.

[dmi3y in discord]

[2020-04-15 01:56] shahidhk commented on #4197
fixed in https://github.com/hasura/graphql-engine/commit/1ada6627b00c4d0c27f5bb7ef80c97da8c93b209

[2020-04-15 01:56] #4197 closed

[2020-04-15 02:17] Akira-Taniguchi commented on #3533
I thought it would be good to add an option in hasura to disable mutation queries.

What do you guys think?

[2020-04-15 02:30] ShraddhaAg opened #4407 "no check to validate if endpoint is a valid URL"
It is possible to create a project directory using `hasura init` with a non URL value for key `endpoint`.
We don't have a check in place to validate that the given endpoint is a valid URL or not. https://github.com/hasura/graphql-engine/blob/master/cli/commands/init.go#L185

[2020-04-15 05:21] tirumaraiselvan commented on #4404
Yes, the permissions checks are embedded in the generated SQL. You can click on `Analyze` in graphiql for any query operation and see the generated SQL too.

[2020-04-15 06:13] mubaidr commented on #4387
I have tried different ports, but still nothing.

[2020-04-15 08:52] Albert-Gao opened #4410 "Add a feature to add insertion limitation on tables"
For example, I have a table `logs` for logging task history:

Each record has
- a `log id`: primary key
- its associate `task id`: can be duplicated because every task can have multiple logs.

Is there a way that we add a limitation when doing the insertion, such that, every `task id` can not have more than X numbers of records in this table?

The configurable outcome can be either throw an error

[2020-04-15 09:14] rikinsk commented on #2073
@rhyslbw I can think of a couple of workarounds that you could use depending on your setup:
- If you are in control of the client of your API, you could add some middleware on your client to intercept and append the default `order_by` expression to your queries.
- You could create a postgres view of your table with the sort order defined and query that instead.
  For example:
[code]

[2020-04-15 09:25] beerose opened #4411 "console: UX changes to browse rows with expanded relationship view"
After clicking `View` in a relationship cell in `Brows rows` tab, it's quite nonintuitive how to _escape_ expanded relationship view. Especially if the parent table has many columns and button `close` is not visible.

<img width="1363" alt="Screenshot 2020-04-15 at 11 10 39" src="https://user-images.githubusercontent.com/9019397/79320846-bae21280-7f0a-11ea-8746-880b75cd3e10.png">

Suggestions:

*

[2020-04-15 09:47] wawhal commented on #4411
If we are to change this UX, I'd prefer just having another nested table under that row itself. Opening up a completely new table has slightly thrown me off whenever it happened.

This would also solve the problem of the `Close` button.

[2020-04-15 10:00] baskin commented on #4404
Thanks. Closing.

[2020-04-15 10:00] #4404 closed

[2020-04-15 10:21] esseswann commented on #3399
I saw this scenario like this:
1) How we have now, problematic:
- Subscribe to State0 `[Item0, Item1, Item2]`
- Mutate Item1
- Server realizes that change happened and prepares State1 `[Item0, Item1', Item2]`
- Optimistically change Item1
- Local state is now State1`[Item0, Item1', Item2]`
- Quickly mutate Item0
- Server realizes that change happened and prepares State2 `[Item0', Item1', Item2]`
-

[2020-04-15 10:50] jkossis commented on #273
@marionschleifer any plans on this becoming part of hasura's offering?

[2020-04-15 11:02] ivan333m opened #4415 "Support '*' as "update_columns" in on_conflict clause of insert mutation"
We have a use case where we want to upsert objects with large number of fields.
It is inconvenient to duplicate all fields in update_columns section.
It would be nice to use '*' in update_columns instead of all fields duplicate.

Example:
[code]

[2020-04-15 11:25] martavis commented on #4217
I think this is my exact issue, except I cannot get Hasura to initialize the first time using my existing database with no public schema. The docs do not touch on this scenario, nor can I find any questions on the matter. My setup is this:

- Postgres 11
- No public schema
- pgcrypto already installed inside "schema1"

and I'm getting this error `function gen_random_uuid() does not exist` whenever

[2020-04-15 12:03] #4125 closed

[2020-04-15 13:14] rhyslbw commented on #2073
Thanks @rikinsk . I'm actually fronting Hasura with another GraphQL server to produce a refined public-facing model, that delegates the complete query for Hasura to resolve if accepted by validation rules. I did investigate the middleware solution for another requirement, but at the time seemed counterproductive and tedious to parse and manipulate the query when we can just demand more explicit fe

[2020-04-15 13:21] BenoitRanque opened #4417 "Feature Suggestion: @role directive"
Currently, Hasura requires that a role be sent along with each request using the the `x-hasura-role` header.

This becomes an issue when using Hasura over websockets, as it is impossible to send additional cookies once the connection is established.

With this proposal, auth would still be sent only when the connection is established, but crucially the specific role for a query/mutation/subscripti

[2020-04-15 13:26] tirumaraiselvan commented on #4417
@BenoitRanque This seems like a dupe of https://github.com/hasura/graphql-engine/issues/3566 ?

[2020-04-15 13:36] BenoitRanque commented on #4417
Closing as duplicate

[2020-04-15 13:36] #4417 closed

[2020-04-15 13:51] rikinsk commented on #2073
I cannot think of any specific tooling more helpul than the usual graphql libraries used to parse GraphQL queries. Maybe you could ask the Hasura community if they have any smarter solutions. You can join our discord server via https://discord.gg/vBPpJkS if you havent already :)

[2020-04-15 13:53] ivan333m opened #4418 "Support generated server side fragments"
It would be so great if Hasura supports some kind of server side fragments. Auto-generated or created by user through UI.
It allows the user to change set of fields in single place and do not duplicate field set in the code.

Example:
1) Fragment generated and stored on server side:
[code]
2) Using server side fragment in all queries:

[code]

[2020-04-15 14:12] mubaidr commented on #4387
Console started using command:
[code]

I get following data using curl:

[code]

[code]

[2020-04-15 14:38] marcopeg opened #4419 "Create event trigger from API with environment based webhook"
Hello, I can't figure out how to setup a trigger toward a webhook defined by an environment variable using the API:

[code]

Can you help?

[2020-04-15 14:47] tirumaraiselvan commented on #4419
Sorry that the API has been missed in the documentation.

Can you try `webhook_from_env` key instead of `webhook`

[2020-04-15 15:19] rikinsk commented on #3688
@RapidOwl This is an issue woth the way nulls are handled in compare expressions. You can see https://github.com/hasura/graphql-engine/issues/704#issuecomment-573208814 _(and the thread before it for context)_ on the latest status of this issue

[2020-04-15 15:31] erikh60 commented on #3671
Thanks @0x777,
Q: how would you alter the block of SQL "Here’s a sample SQL block that you can run..." at the postgres permissions doc:
https://hasura.io/docs/1.0/graphql/manual/deployment/postgres-permissions.html#postgres-permissions
to use your `ALTER DEFAULT PRIVILEGES` approach?

[2020-04-15 15:54] fastengineer commented on #4298
@sobrinho I know sql functions. Please, read carefully before comment. As I explained above, This process have to done by the rest api application.

[2020-04-15 16:08] sobrinho commented on #4298
@fastengineer `I need full url in GraphQL response. How I can do it?` and `The file_name field has an example "Istanbul.jpg" value.`, that's how you do it, you don't need actions for that.

You can use [Hasura Computed Fields](https://hasura.io/docs/1.0/graphql/manual/schema/computed-fields.html) that will call the db function in every query to GraphQL.

[2020-04-15 16:09] sobrinho commented on #4298
Maybe you are not being clear about what you need? :)

[2020-04-15 16:11] sobrinho commented on #4298
Although you mentioned something about having a REST API that is not clear to me.

You need to pass your record that is being returned by Hasura to this REST API to get the full value because it can't be computed by a db function?

[2020-04-15 16:29] sobrinho commented on #4298
And for last, if you control the database that Hasura is connected to, can't you simply store the final URL there? It is static or dynamically computed in every call?

This way you don't have to do fancy stuff in Hasura.

[2020-04-15 17:05] fastengineer commented on #4298
@sobrinho Yes, it's can't be computed by a db function. All of this fields are dynamically computed by application in every call.

Yes, after image upload I can store full url in database. But this solution has some cons about high availability. Our application is very high scale and hosted in multi cloud. S3 buckets can move frequently. Some buckets have read replicas. Moreover, some pictures are

[2020-04-15 17:16] sobrinho commented on #4298
Alright.

I don't have the big picture of the setup but yes, Hasura Actions are the answer here.

Although, try to think also outside the box as well.

If you are in control of this REST API, you might send the id or whatever it needs to the service and it redirects you to the final URL, like `https://my-ha-file-api/{id}/{file} => https://s3.amazon.blah/blah` (or similar). Here you would return th

[2020-04-15 17:55] ivawzh commented on #721
Interesting @ro-savage @renanmav
How would that work with cursors? It'd be great if there is an example.

[2020-04-15 18:59] Sevensidedmarble commented on #2824
It looks like #3570 is pretty close, will that add the feature we want? And if so what's the time table on merging?

[2020-04-15 19:22] RapidOwl commented on #3688
Awesome thanks for pointing me in the right direction. For now, I’ll super sanitise my inputs.

[2020-04-15 20:51] naveennazimudeen commented on #2718
+1

[2020-04-15 21:14] erikhSSI commented on #210
I am trying to connect to a pre-exisiting remote postgres 9.4 database.  (I have had no trouble with this perviously on a 10.6 database)

Q1: Do I need to upgrade from postgres 9.4?  What version is recommended -- I didn't see reference to this in the docs?

Q2: Are my problems due to postgres 9.4 or something missing from the postgres-permissions steps for "hasurauser" in the docs here: https://h

[2020-04-16 00:48] erikhSSI commented on #210
OK, so I think I have answered PART of my question -- no. postgres 9.4 is clearly not supported because the error log msg was complaining about `jsonb_build_object()` -- which doesn't seem to exist until 9.5:
`function jsonb_build_object(unknown, name, unknown, smallint, unknown, name, unknown, boolean, unknown, text) does not exist`

https://www.postgresql.org/docs/9.4/functions-json.html
https:/

[2020-04-16 06:35] marcopeg commented on #4419
@tirumaraiselvan it works, thanks.

Do the docs have a repo?
I may contribute and add this detail.

[2020-04-16 06:45] #4349 closed

[2020-04-16 07:00] #4112 closed

[2020-04-16 07:25] #4032 closed

[2020-04-16 07:32] shahidhk commented on #2824
@Sevensidedmarble Yes, #3570 will address this issue. We're blocked on some console related changes for this to go in. Expecting to be in 1.3 or 1.4 release.

[2020-04-16 07:44] shahidhk commented on #4129
I am changing the scope of this issue to add support for `.env`. Making the cli work without `config.yaml` is tracked at #1558

[2020-04-16 08:10] #4306 closed

[2020-04-16 08:11] rikinsk commented on #4311
closed via https://github.com/hasura/graphql-engine/commit/8a5cc73ae6ec77ae72b10d2892021755d1a0a9df

[2020-04-16 08:11] #4311 closed

[2020-04-16 10:41] hector commented on #3478
@joni7777 if you have the same problem that I do you will need to implement a SQL function that does the grouping for you. Check this docs: https://hasura.io/docs/1.0/graphql/manual/schema/custom-functions.html#custom-sql-functions

I can imagine Hasura might implement a solution for this but I understand it is not trivial. For starters, the type of data returned when grouping changes for every po

[2020-04-16 14:15] arvi3411301 opened #4436 "cli: disable cloning of actions-codegen and init-templates in cli-migrations environment"

[2020-04-16 14:26] tirumaraiselvan opened #4437 "console: change react ace theme for actions inputs"
![Screen Shot 2020-04-16 at 7 52 50 PM](https://user-images.githubusercontent.com/8663570/79468195-413a4980-801c-11ea-829d-e7a45aa652bd.png)

Right now it's the one on left, we should go with the one on right because it has better contrast.

[2020-04-16 14:28] wawhal opened #4438 "console: helper UI for distinguishing between query and mutation actions"
Currently, we just have commented text in the SDL editor. It would be nice to have a way for the user to click some text which would add the sample query/mutation definition to the editor.

[2020-04-16 14:29] tirumaraiselvan commented on #4369
Changing the title to track the feature.

[2020-04-16 14:42] cpursley commented on #4369
@tirumaraiselvan is there an estimate or timeline for this feature? Thank you.

[2020-04-16 15:25] marionschleifer opened #4440 "add postgres section to docs"
Add a Postgres features section to talk about Postgres features for which Hasura is not in the path:

- Indexes
- Constraints
- Materialized views
- Triggers
- Functions
- etc.

[2020-04-16 15:27] tirumaraiselvan commented on #4440
We should make it clear that Hasura doesn't automagically do any DDLs.

[2020-04-16 15:41] marionschleifer opened #4441 "docs: guide on custom jwt integration"
People in the community frequently ask how to integrate Hasura with a custom JWT auth server.

We should write an integration guide on this.

[2020-04-16 16:25] tirumaraiselvan commented on #4419
@marcopeg Appreciate the interest in contribution!

The docs is in the same repo, pls see the contributing guide here: https://github.com/hasura/graphql-engine/blob/master/docs/CONTRIBUTING.md

[2020-04-16 16:45] mirzap opened #4444 "Hasura Console Error - TypeError: Cannot read property 'is_enum' of undefined"
Hi,
I have very strange issue on hasura console. It happens some 80% of time on some tables, since today. This error I get when I click to edit an item, or if I try to insert a new item into table. It doesn't matter if table is empty or not.

I updated hasura server to v1.2.0-beta.4, tried on beta 3 but it's the same (since it loads this via cdn)

[code]

![image](https://user-images.githubusercon

[2020-04-16 21:00] petecorreia opened #4447 "unable to create relationships for custom object types with fields reusing Postgres scalars"
Upgraded to `v1.2.0-beta.4` and have run into an error while creating action relationships.

A table has an "id" (uuid) and an action has a result type with an "id" field. When creating an object relationship it errors with the following:

[code]

## Example

It can be reproduced in the following clean installation and metadata below
https://hasura-issue-4447.herokuapp.com/console/actions/manage/m

[2020-04-16 21:18] schwamic opened #4448 "[Feature Request]: Forward Client Header in Event Triggers"
## 🚀 Feature request

### Current Behavior
Events are great if you want to trigger custom logic after a specified table has changed. Therefore you can call a webhook which a url pointing to a serverless function. But if the endpoint of you serverless function is secured, you will need a valid access-token in your header, which is currently not able, because events don't forward the client-header.

[2020-04-17 00:54] sdkayy commented on #4447
Hey noticed the schema didn't automatically create the scalar type for uuids. Seems to be the issue, add `scalar uuid` to your custom types and it should work.

[2020-04-17 04:26] shahidhk commented on #4129
I think we can just use https://github.com/joho/godotenv and automatically get everything in `.env` as env vars. We will just need to call the load function at the first entrypoint itself, before viper is initialised etc.

I'd prefer not to depend on `config.yaml` opening up the opportunity to get rid of that later.

[2020-04-17 06:01] mubaidr commented on #4387
Got it running. I need to use `0.0.0.0` to make sure it is available outside the container. (localhost is not)

[code]

[2020-04-17 06:01] #4387 closed

[2020-04-17 06:28] #4444 closed

[2020-04-17 06:39] scriptonist commented on #4129
Just to add my two cents, I think we can also get away with using [viper](https://github.com/spf13/viper) itself, since It supports reading from `dotenv` files as well.
- https://pkg.go.dev/github.com/spf13/viper?tab=doc#pkg-variables
- https://github.com/spf13/viper/blob/e34fb51dd7c8546211df464b3f0b11bae80c8468/viper.go#L1490

[2020-04-17 06:41] rikinsk commented on #4444
@mirzap Thanks for reporting this. We'll be updating the console assets on the cdn soon with the fix.

Regarding running the console offline, I assume you have seen the [docs](550de3e8a07a5e7f9349fc76e653ef69eff5462c) regarding it. Could you confirm if this is not working for you?

[2020-04-17 07:00] rakeshkky opened #4451 "unable to create relationships for custom object types with fields reusing Postgres scalars"
[Via #petecorreia on Discord]

The custom object type definition:-
[code]
The error:
[code]

[2020-04-17 07:03] rakeshkky commented on #4451
My bad, it is dupe of #4447. Closing it now.

[2020-04-17 07:03] #4451 closed

[2020-04-17 07:10] ShraddhaAg commented on #4129
Ah, I think only one configuration file can be accessed by a single viper instance. It mentions [here](https://github.com/spf13/viper/tree/e34fb51dd7c8546211df464b3f0b11bae80c8468#reading-config-files)
`Viper can search multiple paths, but currently a single Viper instance only supports a single configuration file.`

[2020-04-17 07:14] rikinsk commented on #4444
The fix is now deployed

[2020-04-17 07:51] scriptonist commented on #4129
Got it, then maybe we should proceed as @shahidhk suggested.

[2020-04-17 07:59] wawhal commented on #4448
@schwamic event triggers are for triggering serverless functions on database events. Those database events could have happened from sources other than Hasura as well. So there is no notion of "client headers" in those cases.

We recommend having an access-key/api-secret to your serverless function and adding it to the headers configuration of the event triggers so that the it is passed with every

[2020-04-17 08:07] petecorreia commented on #4447
@sdkayy that was a great tip, it works when adding `scalar uuid` on `actions.graphql`. Hasura properly validates the `uuid` on the response from the webhook. Crucially, I didn't list the scalar on actions.yaml

example here: https://hasura-actions-pete-test.herokuapp.com
webhook here: https://glitch.com/edit/#!/hasura-issue-47?path=server.js:26:36

mutation:
[code]
response:
[code]
thank you!

[2020-04-17 08:10] wawhal commented on #4401
This was closed in https://github.com/hasura/graphql-engine/pull/4272.

[2020-04-17 08:10] #4401 closed

[2020-04-17 08:28] schwamic commented on #4448
@wawhal thank you for your answer! As you have described, a secured connection can be reached by adding a secret key, stored in the environment variables, to the header. But why not just add a checkbox at the events, as you do at the actions? That way, I as a user can decide which option is best suited for the use case.

[2020-04-17 08:43] mirzap commented on #4444
Great job, thank you 👍
@rikinsk yes I did see that some time ago but totally forgot about it. Thanks again.

[2020-04-17 09:32] #3573 closed

[2020-04-17 11:37] tirumaraiselvan commented on #4448
@schwamic This would have been easier in the webhook auth mode where you could have returned your auth token as a session variable like `x-hasura-session-token`

Note that session variables are included in the event payload.

Maybe for your JWT method, you can include an expiry time in the token like `x-hasura-expiry-time`.

Keeping the issue open for additional interest and possible solutions. Ju

[2020-04-17 11:57] fastengineer opened #4453 "How to do? Or Statement on Same Column"
Given query not working
[code]

Expected
[code]

[2020-04-17 12:41] arvi3411301 opened #4456 "cli: bug in spinner during plugin install"

[2020-04-17 13:09] tirumaraiselvan commented on #3536
`check` has been implemented in v1.1 and it will be available in the console in v1.2 as well via https://github.com/hasura/graphql-engine/pull/4313

[2020-04-17 13:23] tirumaraiselvan commented on #4453
Try:

[code]

Just fyi, in this particular example, your first condition will subsume your second condition i.e. `like 'an%'` will also match `an`

[2020-04-17 14:03] ghost-void commented on #4456
Installing plugin cli-ext...◐  Everytime，
blocked in OpenOpenOpening console using default browser...

[2020-04-17 14:05] oxodesign opened #4457 "Use ENV variable to define or prefix actions handler"
Hi

We started slowly developing a new project using Hasura and GraphQL 2 months ago and we are now trying to setup test and staging env for our application.

Since we are using Actions (still in beta) it should be very helpful for us if we can prefix or define action handlers using ENV variables.

Example prefixing (prefered)
```{ENV_MY_ACTION_HANDLER_HOST}/test```
Where ```ENV_MY_ACTION_HANDLER_

[2020-04-17 16:02] #4371 closed

[2020-04-17 17:44] sobrinho commented on #4298
@fastengineer can this be closed?

[2020-04-17 17:46] sobrinho commented on #3775
@fastengineer can this be closed?

[2020-04-17 18:51] FredyC opened #4460 "Missing query_root when no permissions are set"
My use is simply based on having a single mutation for unauthenticated users which basically is an action to signUp/signIn. There is no access to any data.

When running an introspection query in such a case, the `query_root` does not exist at all which is trouble for some external tools.

By spec, the query_root should be always defined even if empty.

http://spec.graphql.org/draft/#sec-Root-Oper

[2020-04-17 20:34] fastengineer commented on #4298
For image I liked redirect psychology, I will give a try. For strong requirements we consider remote-schema and actions. I thought a little bit about the solution.

I added db connections to picture. In the real world it looks like there are 3 server, 1 client, 4 connection. As result of design it will not work fast. It is always best to do so in the database instead of using a new socket if you c

[2020-04-17 20:47] fastengineer commented on #4453
@tirumaraiselvan Thank you, it worked. I couldn't find it in the document. Wouldn't it be good to be included in the document?

[2020-04-18 00:12] Albert-Gao opened #4461 "[Doc request]: Add a tutorial on how to utilize the existing YAML and META file to have a code-first approach of using Hasura"
Let's make it more fun using Hasura!

The code first approach way of using Hasura means:

Benefits including:
1. All benefits of adopting Infrastructure as Code
1. Can be version controlled
1. Easy replicating
1. The big picture in a glance
1. Enable future VSCode / WebStorm plugging for linting for better DX
1. Better CI/CD integration

In short, scalable and maintainable.

The current setup of H

[2020-04-18 00:35] aydts commented on #348
Array Support PLZ and Thank you! I am enjoying Hasura

[2020-04-18 04:37] haohedev commented on #4077
we upgraded to 1.1.1 and had the same issue
![image](https://user-images.githubusercontent.com/5556270/79628122-d9494780-8170-11ea-8b1a-3369371613e2.png)

[code]

[2020-04-18 05:43] tirumaraiselvan commented on #4453
@fastengineer It is mentioned here: https://hasura.io/docs/1.0/graphql/manual/queries/query-filters.html#using-multiple-filters-in-the-same-query-and-or

You can also use the search bar on the top to search for a query like "multiple or" and the first result is the above.

Closing the issue now.

[2020-04-18 05:43] #4453 closed

[2020-04-18 05:48] tirumaraiselvan commented on #4453
I can also recommend joining our community on Discord https://discordapp.com/invite/hasura for more syntax related queries.

[2020-04-18 08:35] marcopeg commented on #4419
@tirumaraiselvan here it goes, it's minimal contribution but I hope it will help others. As always, keep it up with the incredible job!

[2020-04-18 15:33] ravensnowbird opened #4464 "allow array relationships based on array type columns"
It is possible to have array relationships to directly map to an array field in postgres without any middle table connection.

Conversations table
[code]

![hasura-array-relationships](https://user-images.githubusercontent.com/854024/79641897-f9502980-81b7-11ea-8122-d7f8bedfcfc9.png)

[2020-04-18 15:57] iamkhalidbashir opened #4465 "How to turn off SELECT permissions but enable SELECT BY PK only ?"
Hello folks, thank you all for providing such an awesome repo.
Let me get into the issue

*How to turn off **SELECT** permissions but enable **SELECT BY PK** only ?*

![Screenshot from 2020-04-18 20-52-13](https://user-images.githubusercontent.com/27646811/79642395-a45fe380-81b6-11ea-8991-f95cef0c3c5c.png)

Why is this so important?

Because many times we need an anonymous user to UPDATE or SELECT

[2020-04-18 20:17] guyf commented on #3488
👍

[2020-04-18 20:40] FredyC commented on #4076
@barbalex Thank you for a very detailed description. I am struggling with something similar. What I am failing to find in your example - where do you signIn the user? I mean in the original snippets you were calling `signInWithCustomToken` with the server created token.

I have a bit different problem. I am using actions (hasura beta feature) and the handler is done with Firebase Cloud Function. T

[2020-04-18 21:07] barbalex commented on #4076
@FredyC

In my case `signInWithCustomToken` is not needed in the auth server.

After the last point in my last comment ("which apollo's auth-link picks up"), when the app requests data auth-link adds the correct token to the request. So the graphql-server gets that and is happy.

Login happens in the login form: https://github.com/barbalex/vermehrung/blob/master/src/components/Login.js#L53 using `

[2020-04-18 21:11] FredyC commented on #4076
Thanks for the quick response. Yea, so it's an easy path with `signInWithEmailAndPassword`. Unfortunately, I cannot do that. Users cannot be bothered with any sort of signUp form.

I guess it's some issue in Hasura that it cannot verify token created with `createCustomToken`. I will open a new issue, but I don't have high hopes here :/

[2020-04-18 22:03] FredyC opened #4466 "Custom JWT tokens with Firebase"
I have a bit unusual app.

 * New user fills a simple form with basic info
 * Collected info is sent to the backend for the signUp process
 * User is authenticated with token returned from the backend
 * Later they can decide to persist account by linking to some real provider

I am trying to approach this by utilizing the actions feature. That gives me a custom mutation that accepts collected inf

[2020-04-18 23:08] gabrieljoelc opened #4467 "Column preset for foreign key through _exists authorization"
I have 2 tables:
[code]

For `foobards`, I have an insert custom check like:
[code]
I would like to infer `foobars.user_id` via that authorization instead of passing the `user_id` through parameters or headers. I haven't found anything in the docs about this. Is something like this possible?

[2020-04-18 23:15] gabrieljoelc commented on #4467
My initial searches before creating this issue didn't turn up #3366. I found it after and realized that mine is duplicate. Closing.

[2020-04-18 23:15] #4467 closed

[2020-04-19 05:50] ORESoftware opened #4468 "docker-compose up yields error"
I am following these instructions:
https://hasura.io/docs/1.0/graphql/manual/getting-started/docker-simple.html

when I run:

[code]

I get this error:

[code]

the `docker-compose.yaml` file is like so:

[code]

[2020-04-19 06:20] haohedev commented on #4077
Version 1.1.1 has a more serious problem, which will cause the program to die and the memory will continue to increase. This problem has occurred many times in a row

[2020-04-19 07:47] vitaliytv opened #4469 "v1.2.0-beta.4 parse json path error: Failed reading: invalid key element"
Query in v1.2.0-beta.3 (and earlier):
[code]
Result in v1.2.0-beta.3:
[code]
Result same query in v1.2.0-beta.4:
[code]

json data in value filed:
[code]

[2020-04-19 07:59] naveennazimudeen opened #4470 "[Question] Actions & Nested Inserts"
I am trying to use Actions and from my understanding Actions seem to take away from the flexibility that Hasura offers. Please correct me if I am wrong.

I have a `Customer` table with an array relationship to `Address` table, and there is a custom logic for validating addresses.

If a custom Action is created -- insert_address,  will that action apply if I insert Address along with Account throug

[2020-04-19 08:20] joni7777 commented on #3478
@hector Yea i saw that option, and i did try that, but when you want to group by data and summarise it, AND filter by timestamp the for specific sets of the data its not possible cuz the group by rows dont have the timestamp.
Do you have any idea?
For now im grouping by in JS instead 😂

Example:

user | views | timestamp
1 | 100 | "2020-03-01 ...."
1 | 200 | "2020-03-02 ...."
1 | 300 | "2020-03-03

[2020-04-19 09:04] hgiasac commented on #4469
@vitaliytv There is some change on new json path parser. Can you temporarily fix with path `.SCBD`. We will fix it in next release

[2020-04-19 10:50] jchonde commented on #2599
Would it be possible to whitelist which errors code(prefix?) are allowed to be shown client side? Like we do for graphql queries.

`--postgres-errors-prefix-whitelist=TXXA`
`HASURA_POSTGRES_ERROS_PREFIX_WHITELIST=TXXA`

[2020-04-19 11:18] Maksud01 commented on #4321
### "Buying the dips at the right times." https://discord.gg/t39s9En
![BTC_416](https://user-images.githubusercontent.com/17547466/79686320-50f69f80-8261-11ea-8664-31beddf94f58.png)

[2020-04-19 14:18] DrHe1991 opened #4472 "Graphql filter "or" is not working properly"
Hello there,
I found that the filter "or" is not working properly in hasura at version 1.11 and lower verison.
Case1:
[code]
returns
[code]
But
Case2:
[code]
returns
[code]
This is not right. The "or" clause should return at least one result in Case 1, right? Did I use the clause in the wrong way? Can someone double check this? Thank you!

Chris

[2020-04-19 17:13] Kosai106 commented on #3772
Just to add in on this, it could be useful to use a computed field as primary key
Example: I generate a `slug` for my `projects` and I want to get them with a query like:

[code]

Or

[code]

[2020-04-19 18:04] jstansbe opened #4473 "Trailing space when adding user role should be trimmed"
Issue:
When adding a role to the permissions table, trailing spaces are permitted.
This can be misleading as `'anonymous'  !==  'anonymous '` but the the Hasura cms doesn't show the space. In my case, I added 'anonymous ' to the permissions table but used 'anonymous' for the HASURA_GRAPHQL_UNAUTHORIZED_ROLE value. This resulted in preventing anonymous access.

Proposed solution:
This was user erro

[2020-04-19 18:09] nolandg commented on #877
I'm having trouble extracting from this thread why the RFC is only for reads? Don't all these arguments apply equally for read and write permissions?

[2020-04-19 19:27] costas90 opened #4474 ""Field not found in type" error when trying to load 2 queries on the same page"
_Version v1.2.0-beta.4_

I am using vue apollo. I am trying to load 2 queries in 2 different components on the same page and I get the error:

    at new ApolloError (bundle.esm.js:63)
    at bundle.esm.js:1247
    at bundle.esm.js:1559
    at Set.forEach (<anonymous>)
    at bundle.esm.js:1557
    at Map.forEach (<anonymous>)
    at QueryManager.push../node_modules/apollo-client/bundle.esm.js.Que

[2020-04-19 19:39] costas90 commented on #4474
To further clarify.

The fetchUserProfile (avatar) query is fetching info about the logged in user with permissions set to `x-hasura-user-id == userId`.

The fetchPublicProjects query is fetching all projects from all users with `is_public == true`

[2020-04-19 21:21] brandonFaf opened #4476 "docs: use example for `--directory` without deprecation warning"
In the example code for setting up a project directory the example command uses `--directory` and when running the command there is a deprecation warning. It would be nice if the example didn't use a deprecated argument

https://hasura.io/docs/1.0/graphql/manual/migrations/new-database.html#step-2-set-up-a-project-directory

[2020-04-20 00:55] dvasdekis opened #4478 "An LTS docker image tag"
Hi guys, looking to use a long-term-support (LTS) tag for GraphQL-Engine Docker images instead of `latest`, which currently gives me a beta.

So I'd like to give me `hasura/graphql-engine:lts` to give me `hasura/graphql-engine:v1.1.1` (or whatever the latest non-Beta is.

Thank you!

[2020-04-20 07:52] costas90 commented on #4474
Managed to fix it...

I am using the new auth0-spa-js package for auth.

In my Feed view, which contained the 2 components mentioned above, I didnt check if the auth plugin is still loading, because its asynchronous.

This means that the components loaded before I was authenticated, and the queries where send with the `anonymous` role which doesnt have access to the private table.

So the solution

[2020-04-20 07:52] #4474 closed

[2020-04-20 08:01] wawhal commented on #3925
@adwd `dataIdFromObject` must be used while configuring the `InMemoryCache` of ApolloClient if you wish to have a unique identifiers than `id` or `_id` for some types.

If the name of the primary key of the table `customers` is `uid`. You'd want to configure something like:

[code]

Reference: https://www.apollographql.com/docs/react/caching/cache-configuration/#custom-identifiers

Closing this. P

[2020-04-20 08:01] #3925 closed

[2020-04-20 08:55] #3890 closed

[2020-04-20 12:42] #4437 closed

[2020-04-20 13:02] Fortidude opened #4484 "Migrating between different couple environment"
I understand how migrate works (I guess) from the docs. I can run my remote hasura project from heroku by `hasura console` and do some changes. I can see the `up.yaml` and `down.yaml`.

But let's say we have 3 different environments (three different instances):
- local debug (docker)
- heroku staging (internal tests)
- heroku production

Now I as a dev do some changes in local postgress. New datab

[2020-04-20 15:08] GavinRay97 commented on #4478
This is a solid idea, on the specifics though, the `lts` might still need to be version-scoped.

For example, if you tagged `lts` and then it upgraded your image from `1.1` to `1.4` (hypothetical), then there may be some unexpected changes in behavior. So to avoid confusion, it may make more sense to version scope the `lts`. But in doing so, you basically wind up with the current architecture, sin

[2020-04-20 15:15] GavinRay97 commented on #4484
It sounds like you're dumping the entire state of the database on each migration, which means it's trying to create all of the previous tables each time in the migrations.

You can use `init --from-server` to dump the entire state of the DB each time, if your app is not in production yet, but to apply it, you need to drop the DB you want to migrate it on. This works well in workflows like k8s/loca

[2020-04-20 15:20] GavinRay97 commented on #4470
Hey :wave:

Actions are meant to be ways to run any custom function you want, and expose it through Hasura's GraphQL API.

It sounds like what you want to do, is "Derive" an Action from an existing mutation. You can do this by going to the `GraphiQL` tab in Hasura, entering the base query/mutation you want to create a custom function for, and then pressing "Derive Action".

This will create the ba

[2020-04-20 15:22] GavinRay97 commented on #4476
Hey, thanks for bringing this to our attention!

There is a lot of work being done on the docs for `1.2`/`1.3` features, we will look at merging this information in there as well, thank you.

[2020-04-20 15:25] GavinRay97 commented on #4473
This is definitely something to look at, second time this issue has been filed:

Duplicate of https://github.com/hasura/graphql-engine/issues/3871

[2020-04-20 15:26] naveennazimudeen commented on #4470
Thanks @GavinRay97. I am trying to do a nested insert. Say, if the author has books, and there is a custom validation for books, so i create a derived action from insert_books, that action will not apply if I do a nested insert of books through Author.

This would mean, I will have to create two derived actions, one based on Authors and books (nested insert) and books insert.

[2020-04-20 15:28] tirumaraiselvan commented on #4470
@naveennazimudeen Good question !

The way to insert a Customer with their Addresses would be to create an action like CustomerWithAddress and perform the full validation in your action handler and do a nested insert from the handler. You can hide the `insert_address` field from the frontend in few ways: using insert permissions or the upcoming "backend only" permission: https://github.com/hasura/

[2020-04-20 15:35] naveennazimudeen commented on #4470
@tirumaraiselvan Thanks for that. My app would insert Books both ways, through a nested insert, and through a direct insert to Books, and both times custom validation will need to run.

It looks like the only way then is to create two custom actions. I wish there is a way that the custom validation can be defined and it applies to both direct and nested inserts. Unfortunately there is an API call

[2020-04-20 15:40] arnaudjnn opened #4485 "TypeError: Cannot read property 'remote_schema' of undefined"
## Config
hasura/graphql-engine:pull2392-b330ab9f image

## To reproduce

Followed this tutorial until the remote relationship
https://hasura.io/blog/remote-joins-a-graphql-api-to-join-database-and-other-data-sources/

## Error
[code]
I can't even go to the relathionship tab after that.

[2020-04-20 15:51] GavinRay97 commented on #4472
On `1.2.0-beta.2`, I can confirm that using the sytax-sugar for `or` leads to `AND` being generated in the SQL query.

In the docs, we have:
[code]

Neither of those appear to function properly, the format that works is:
[code]

Running the following query in `1.2.0-beta.2`:
[code]

No data
![image](https://user-images.githubusercontent.com/26604994/79771115-57862500-82fc-11ea-85de-b6c877a24b85.pn

[2020-04-20 16:11] GavinRay97 commented on #4472
Edited my previous comment

[2020-04-20 16:24] fo-fo opened #4487 "Unable to turn off telemetry"
The telemetry opt-out options described at https://hasura.io/docs/1.0/graphql/manual/guides/telemetry.html#how-do-i-turn-off-telemetry-opt-out seem to have no effect.

I'm using Docker and specified `HASURA_GRAPHQL_ENABLE_TELEMETRY: "false"` in the `environment` section of the `graphql-engine` service. Also set `enable_telemetry: false` in `config.yaml`. Even then, I see Hasura console making a We

[2020-04-20 16:59] sezgi opened #4488 "`_or` is interpreted as `_and`"
Building an `_or` query via the Explorer results in an `_and` query on the server.

Tiru:
"our `_or` and `_and` expect [bool_expression] i.e. array of boolean expression.
Now, graphql spec can accept a single value of an array as valid input as well. So you can send in a bool_expression  (without array). Now, our bool_expression is an object, which means ppl might put in more than one key in there

[2020-04-20 17:00] GavinRay97 commented on #4468
Hey, this seems to be an issue outside of Hasura.

A search for this problem leads to comments on this thread:
https://github.com/docker/docker-py/issues/1502

Which suggest the following as solutions:
[code]
Or
[code]
Or
[code]
Or
[code]

[2020-04-20 20:13] jflambert commented on #4096
I'm waiting for confirmation from a team mate but I was told that Hasura will crash hard when it runs in an offline environment -- because it tries to contact github.com to check for an update?

Which makes this issue even more important to fix IMHO.

[2020-04-20 21:48] dvasdekis commented on #4478
Absolutely agree, Latest-Stable (or even just 'stable') is a better name
and exactly what I'm looking for!

Cheers Gavin!

On Tue, 21 Apr. 2020, 01:08 GavinRay97, <notifications@github.com> wrote:

[2020-04-20 22:44] DanieltheYogi commented on #625
Any ETA on this? This would be an incredibly powerful enhancement in the permission rule builder to be able to check hierarchical data.

[2020-04-21 03:11] arjunyel commented on #721
Relay is part of the Community Call on April 29th https://hasura.io/community/

[2020-04-21 08:34] #4419 closed

[2020-04-21 08:38] marcopeg commented on #4419
Thank you guys :-)

[2020-04-21 08:40] rikinsk commented on #4457
@oxodesign This is already possible. See the note regarding Url Templating under https://hasura.io/docs/1.0/graphql/manual/actions/create.html#step-2-create-the-action-handler.

I hope this was what you were looking for

[2020-04-21 12:24] trollr opened #4496 "Error: ensuring plugins index failed - cli migrations"
We use a self hosted kubernetes cluster and our services are not allowed to connect to public services eg. github.

It seems that the cli-migrations tool try to download several plugins for the execution.

[code]

How can I prevent that hasura download things and is still able to execute the migrations? All necessary plugins should be bundled in the cli-migration docker image

[2020-04-21 12:30] #1217 closed

[2020-04-21 13:11] #3976 closed

[2020-04-21 13:27] DrHe1991 commented on #4472
Thanks for pointing that out. I was using the hasura "Explorer" to build the query and I thought it should give me the query I want for `or` logic. However, it will generate the logic like `and` clause
I still hope someone can make that easier to use.

[2020-04-21 13:30] rikinsk commented on #4473
Added the original issue #3871 to the backlog. Closing this as dup.

[2020-04-21 13:30] #4473 closed

[2020-04-21 13:56] #576 closed

[2020-04-21 13:56] #4368 closed

[2020-04-21 14:20] ilahomesick opened #4498 "Connection refused Error, cannot connect to my postgres database with docker"
Hi Guys,
I've been trying for hours to make hasura work with docker, i have a postgres db running locally and i can reach it and access it without any problem from 3 different postgres clients for mac (postgres, postico and pgadmin), but when i try to connect graphql with docker i keep getting the following error `{"internal":"could not connect to server: Connection refused\n\tIs the server runnin

[2020-04-21 14:30] rikinsk commented on #4298
Closing this issue now. Please feel free to reopen if there is something more to be discussed

[2020-04-21 14:30] #4298 closed

[2020-04-21 14:58] GavinRay97 commented on #4498
If I understand this correctly, you have Hasura running in a Docker container and Postgres running on your host machine? And that Hasura says it cannot connect to Postgres?

Inside of the Hasura container, `localhost` points to it's own container network. You want to point it to the *host* (your machine's) `localhost`.

If you use `docker-compose`, a network is created that allows all services to

[2020-04-21 15:02] ilahomesick commented on #4498
It worked, thank you !

[2020-04-21 15:22] rikinsk opened #4499 "console: allow setting session_argument while tracking functions"
Ref: https://hasura.io/docs/1.0/graphql/manual/api-reference/schema-metadata-api/custom-functions.html#track-function-v2

We can create custom postgres functions that are taking some arguments, for example:
[code]

Then we can track it with `track_function v2`:
[https://hasura.io/docs/1.0/graphql/manual/api-reference/schema-metadata-api/custom-functions.html#](https://hasura.io/docs/1.0/graphql/ma

[2020-04-21 16:22] arvi3411301 commented on #4496
@trollr Could you tell me which docker image you are using?

[2020-04-21 16:25] #3871 closed

[2020-04-21 16:27] nicuveo commented on #3757
This also happens for SQL functions that return a scalar, FWIW.

[2020-04-21 16:28] wawhal opened #4500 "console DX improvement: single row mutation permissions"
The permissions for `insert_one`, `update_by_pk` and `delete_by_pk` are inferred from `insert`, `update` and `delete` permissions **and** from the `select` permission. This is because the single row mutations share the returning type with `select`. This means, if no permissions are defined for `select`, the single row mutations will also be hidden from the schema.

This has to be made very clear i

[2020-04-21 18:17] tirumaraiselvan commented on #4485
Hi, could you try using this newer build: `hasura/graphql-engine:pull2392-b330ab9f`

[2020-04-21 19:57] FredyC commented on #4466
Alright, turns out I was using it all wrong thanks to `@leoalves` from Discord. Apologize for all the rumble here.

The `createCustomToken` is meant only for consumption on the client and `signInWithCustomToken` method. That creates a correct JWT token for connecting back to Hasura. No other scenario is possible.

As for connecting from the action handlers server-side, there doesn't seem to be a w

[2020-04-21 19:57] #4466 closed

[2020-04-21 20:53] frossi85 opened #4503 "[Feature Request] Graphql mutation/query as option webhook for triggers and actions"
Hi to all,

I love Hasuram thanks for all of your work. I would like to be able to configure GraphQL mutations/query as a side effect of a trigger or action call as an alternative to a webhook. Why?

From a business perspective, we sometimes need some operations to be atomic. I will put an example but is not my real scenario, suppose that we have an e-commerce site, then on a product purchase we m

[2020-04-21 21:28] kawamataryo commented on #4314
I'd like to work on Spinner and SwitchButton component.

[2020-04-22 01:05] Xetera opened #4506 "Hasura tries to set default values for generated column when doing nested upserts"
I've had a look at #3681 and #3572 and it looks like the merged PR for that _did_ fix regular inserts for tables with generated columns but it doesn't seem like this affected a specific case of nested upserts. I've [included a repo](https://github.com/Xetera/hasura-upsert-issue-reproduction/) with a reproducible behavior that shows this if needed.
The query I'm using to trigger this is this: <sub>

[2020-04-22 01:44] fred8617 opened #4507 "update image graphql-engine to v1.2 in docker19 fail"
![image](https://user-images.githubusercontent.com/35049517/79931521-c5a62580-847d-11ea-9f0c-ef6311fb10a8.png)
[https://docs.docker.com/registry/spec/deprecated-schema-v1/](https://docs.docker.com/registry/spec/deprecated-schema-v1/)

[2020-04-22 02:58] naveennazimudeen commented on #1847
+1 . Any Updates?

[2020-04-22 04:35] tirumaraiselvan commented on #4470
It is in open-source: https://hasura.io/docs/1.0/graphql/manual/deployment/allow-list.html#allow-list

Pro has more workflows to automatically create allow-lists from your traffic and so on.

[2020-04-22 04:41] tirumaraiselvan commented on #2836
Hey folks,

This blogpost covers multi-tenancy using Hasura Authz quite comprehensively (also include Gavin's gist above):  https://hasura.io/blog/authorization-rules-for-multi-tenant-system-google-cloud/

Hope this helps.

[2020-04-22 05:46] ShraddhaAg opened #4508 "remove irrelevant flags from init command"
Remove `--action-kind`, `--action-handler-webhook-baseurl` and `--metadata-directory` flags from `hasura init` command. Mentioned [here](https://github.com/hasura/graphql-engine/pull/4408#discussion_r412221858)

[2020-04-22 05:59] #4377 closed

[2020-04-22 06:17] trollr commented on #4496
@arvi3411301 I tried several images:

- v1.2.0-beta.4.cli-migrations-v2
- v1.2.0-beta.4.cli-migrations
- pull4459-d98cba5c (your cli_environment change)

None of them are working. **pull4459-d98cba5c** won't execute the migrations

[2020-04-22 06:38] trollr commented on #4496
Closes because v1.1.1.cli-migrations working

However you should customize v1.2.0 not to download any assets :)

[2020-04-22 06:41] tirumaraiselvan commented on #4496
@trollr We are fixing this in the PR linked to the issue. Reopening this to track.

[2020-04-22 07:13] arvi3411301 commented on #4496
@trollr Can you try:

- `hasura/graphql-engine:pull4459-d98cba5c.cli-migrations` - v1 workflow
- `hasura/graphql-engine:pull4459-d98cba5c.cli-migrations-v2` - v2 workflow

[2020-04-22 09:08] vmironichev opened #4509 "Hasura WebSocket closed before connection is established error while trying to create subscription"
Hello, we are using Hasura GraphQL engine for querying and subscriptions using web sockets, some times we are seeing errors with invalid timestamp pointing to some date from 1970 (random day/month/time) while trying to establish subscription. Hasura client (Web UI) can do a lot of reconnect attempts until it subscribes for the data (please see attached screenshot). Can you please advice, is it con

[2020-04-22 09:15] #4436 closed

[2020-04-22 09:15] #4456 closed

[2020-04-22 09:15] #4496 closed

[2020-04-22 10:08] coco98 opened #4510 "scheduled-triggers"

[2020-04-22 11:36] ngprnk commented on #4314
I'd like to work on tooltip and Routes utils.

[2020-04-22 12:09] rikinsk commented on #4402
I suspect this could be a case of missed `"`s. I notice that the column name `productID` has capital letters in it. By default PG lowercases all identifiers unless they are wrapped in `"`s. Hence the expression would have to be `UNIQUE("productID", "productRevisionID")` to work.

@slimlime It isnt clear to me where you encountered this issue. Could you share some more details

[2020-04-22 12:13] zolamk opened #4511 "Hasura hangs when trying to remove column"
i am using the hasura `v1.2.0-beta.4` and when i try to remove a column it just hangs with no response

[2020-04-22 12:21] ilahomesick opened #4512 "file upload with Apollo iOS"
Hello,
I'm trying to implement image Upload on an iOS app, with apollo and Hasura.
Reading from apollo documentation "https://www.apollographql.com/docs/ios/mutations/" in the "Uploading Directly With Apollo" paragraph, there's the example mutation
`mutation UploadFile($file:Upload!) {
singleUpload(file:$file) {
id}
}`
with "Upload" type, when i was using other frameworks it worked, while if i try

[2020-04-22 12:25] #4142 closed

[2020-04-22 12:32] FredyC opened #4513 "Support enum table types in action custom types"
## Current behavior

I have an enum table `userGender` with a correctly set foreign key on table `user` and column `gender`. The generated `insert_user_one` then expects a custom type `userGender_enum`, that's kinda cool and works well with a codegen.

I have also a mutation action `signUp` that accepts the gender of the user on the input and calls (among others) a generated mutation `insert_user_

[2020-04-22 13:36] marionschleifer opened #4514 "docs: add note in permission about hasura roles vs. pg roles"
Add a note saying roles in permissions have nothing to do with the Postgres roles and users.

Input: https://twitter.com/mattwensing/status/1252950639858069504

[2020-04-22 13:53] fastengineer commented on #3775
@sobrinho Closed. Actions provides this feature.

[2020-04-22 13:53] #3775 closed

[2020-04-22 14:03] crosseyedalien opened #4515 "Handling HTTP 400 inside a Hasura Action with .NET Core webhook"
My organization is experimenting with Hasura Actions and we're using version 1.2.0-beta.4. The Action uses a .NET web service. My requests are being authored and sent from GraphiQL. Hasura and the .NET web services are being run in separate Docker containers.

When the data submitted to the web service is valid, everything works as expected. However, if the web service deems there is a validation

[2020-04-22 14:19] crosseyedalien opened #4516 "Importing hasura_metadata.json with Hasura Action query"
I think this is a simple one. I noticed that the release notes for version 1.2.0-beta.4 said Hasura Actions could now be defined with a Query so I tried it out. After creating it, I exported the metadata and then re-imported it and received the error message:
[code]

Of course a query does not technically need arguments, but it appears whatever metadata validation goes on is still looking for one.

[2020-04-22 14:26] mubaidr commented on #4314
I would like to work on `sql utils`, `graphql utils` and `main utils`, please.

[2020-04-22 14:45] jberryman opened #4517 "Migrate to GHC 8.10"
The main motivator to do this now is some stubborn space leaks seem to be resolved.

Checklist:

- [x] Get working with some minimal clean forks with PRs
- [x] get feedback from dev team (do IDEs work?) **EDIT**: not much feedback, but did my best!
- [x] upgrade CI (upgrade `haskell-docker-packager`?) , coordinate migration with devs
- [x] shepherd remaining forks through upstream

Things we decid

[2020-04-22 15:08] tirumaraiselvan commented on #4515
Hi @crosseyedalien

Thanks for reporting this and also [this](https://github.com/hasura/graphql-engine/issues/4516) issue.

It does appears that some default .NET thing is happening that Hasura has trouble parsing. Do you think we can get on a call and resolve these issues? It would also help us understand and improve support for .NET handlers. My email is `tiru@hasura.io`.

[2020-04-22 16:57] irshadjsr21 commented on #4314
I'd like to work on the Modal component, please assign it to me.

[2020-04-22 18:19] sensiblefolk commented on #4314
I would like to work on the alert box component

[2020-04-22 18:22] beerose commented on #4314
Hi, @sensiblefolk, `AlertBox` is already taken. I hope you can find something else. 😊

[2020-04-22 18:24] sensiblefolk commented on #4314
I can work on button, tabs or ace components

[2020-04-22 18:26] beerose commented on #4314
Let's leave button for @kawamataryo (he mentioned he'd like to work on it) and I'll assign you to tabs for now and ace components. Is it okay?

[2020-04-22 18:30] sensiblefolk commented on #4314
Yes it is okay

[2020-04-22 19:14] alioguzhan commented on #4314
Hey @beerose, I am afraid I don't have enough time for AlertBox next a few days. I don't want to interrupt the conversion process. So we can assign `AlertBox` to @sensiblefolk if he still wants it.

What do you think?

[2020-04-22 19:34] harishm72 commented on #4314
Hi @beerose can I work on **AlertBox** and **Headers Component and utils**

[2020-04-22 19:45] beerose commented on #4314
Thanks for the information @alioguzhan!

Since @sensiblefolk already has a lot, I will assign @harishm72 to AlertBox and `Headers Component and utils`.

And... looks like I need to add more modules to the list! 🎉

[2020-04-22 22:37] irshadjsr21 commented on #4314
Is anyone working on configuring react-bootstrap with typescript? I tried but got an error while compiling the code. I also found an issue related to the problem. https://github.com/DefinitelyTyped/DefinitelyTyped/issues/20021. Maybe any of you can solve it.

[2020-04-22 23:24] jchonde commented on #4516
Same issue here with v1.2.0-beta4. Once created the action appear to have no arguments in the metadata - which is fine for actions with no arguments - but once the metadata migration runs it crashes for not finding arguments.

In metadata when created:
[code]

Expected when migration is ran:
[code]

[2020-04-23 02:47] #4129 closed

[2020-04-23 03:10] #4407 closed

[2020-04-23 05:42] tirumaraiselvan opened #4520 "do not cache plan for action queries"
From [Discord](https://discordapp.com/channels/407792526867693568/516590536875048990/701909454811037738):

[code]

@rakeshkky said

[code]

[2020-04-23 05:47] tirumaraiselvan commented on #4271
closed via https://github.com/hasura/graphql-engine/pull/4272

[2020-04-23 05:47] #4271 closed

[2020-04-23 05:57] #4327 closed

[2020-04-23 06:05] #4510 closed

[2020-04-23 06:16] tirumaraiselvan commented on #4511
Could you share a minimal repro? Also, could you share the server logs when this happens?

Also, maybe the screenshot of network tab in web console of browser would also help.

[2020-04-23 06:20] beerose commented on #4314
Hi @irshadjsr21!

I just tried downgrading `@types/react-bootstrap` and found out that with @types/react-bootstrap version `"0.32.21"` `lib` directory is properly included in node_modules.

So you can try to install the typings in this particular version and pin it in `package.json` 😉

[2020-04-23 06:21] tirumaraiselvan commented on #4472
GraphiQL-explorer has a bug where it[ doesn't open an array](https://github.com/OneGraph/graphiql-explorer/issues/32).

We are tracking improving the usability of this here: https://github.com/hasura/graphql-engine/issues/4488

[2020-04-23 06:21] #4472 closed

[2020-04-23 06:25] tirumaraiselvan commented on #4469
Fixed in https://github.com/hasura/graphql-engine/pull/3892. Will be out in `v1.2.0-beta.5`

[2020-04-23 06:25] #4469 closed

[2020-04-23 07:51] dariocravero opened #4523 "Hasura CLI v1.2.0-beta.4 gets stuck in spinner trying to open browser"
Hi!

I noticed that when running `hasura console` in v1.2.0-beta.4, the CLI leaves the "Opening console using default browser...◑" spinner running until you stop the process.

[code]

It was working alright in beta.3. This isn't a big deal but it's somewhat annoying because it puts a spinner on the terminal tab too and it draws the attention towards it. For now I'm starting it with `--no-browser`.

[2020-04-23 07:56] batadamnjanovic commented on #1288
After a lot of time of trying with HASURA_GRAPHQL_JWT_SECRET to work in docker-compose.yaml, my solution was to add a line break after END PUBLIC KEY-----\n

Example:
      HASURA_GRAPHQL_JWT_SECRET: '{"type": "RS256", "key": "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAq9dr+td6cuvIBWT/wKJf\nk2FqFv7bMMByYXEV/OyweTNA8gT2ClxPhxD2gF1qzZpQK+sHaRLAv2QH6R59cTt3\nJwL9YOY/Y79z3

[2020-04-23 09:01] dariocravero commented on #4523
Actually, it looks like the spinner gets stuck after any operation done through the console, eg adding an event.

[2020-04-23 09:26] andywong418 opened #4525 "Getting an `Error in $: not enough input` error in my JWT auth token"
I'm getting an `invalid jwt - Error in $: not enough input` error when I try to curl my endpoint. Does anyone know what the issue might be? I'm using a HSA256 scheme.

[2020-04-23 09:27] hector commented on #3478
You need to build a SQL which accepts the parameters you need. In your case I think it would be the dates, right?

Something like this:
[code]

I wrote this on the fly so there might be errors.

An important thing to note is that the return type has to be a table. This is one of the constraints of Hasura (https://hasura.io/docs/1.0/graphql/manual/schema/custom-functions.html#supported-sql-function

[2020-04-23 09:30] hgiasac commented on #4525
@andywong418 what GraphQL Engine version do you use? This issue may be fixed on version 1.2 beta 4

[2020-04-23 09:44] andywong418 commented on #4525
I think I'm on Hasura v1.1.1

[2020-04-23 09:45] joni7777 commented on #3478
Yea just saw it, used it now its a good enough solution but i really wish there was group by agg and join with remote schema 🙌🏻

[2020-04-23 09:47] tirumaraiselvan commented on #4525
@andywong418 Can you paste the token in https://jwt.io/ and see if it conforms to the spec Hasura expects: https://hasura.io/docs/1.0/graphql/manual/auth/authentication/jwt.html#the-spec

[2020-04-23 09:52] andywong418 commented on #4525
@tirumaraiselvan  `{
  "sub": "USER_ID",
  "iat": 1587632091.513,
  "https://hasura.io/jwt/claims": {
    "x-hasura-allowed-roles": [
      "mine",
      "user"
    ],
    "x-hasura-user-id": "USER_ID",
    "x-hasura-default-role": "user",
    "x-hasura-role": "user"
  }
}`

My user id is a uuid

[2020-04-23 10:25] gnyani opened #4526 "Trailing spaces when adding a new column should be trimmed."
When creating a new table if any one of the columns has an extra space in the column name table creating fails with the following error, but it's difficult for the user to understand  what's wrong as the space is  not available in the UI:

![image](https://user-images.githubusercontent.com/13602716/80088671-7560bd80-857a-11ea-8440-d564b61c6008.png)

To be precise `column_name `  throws an exceptio

[2020-04-23 10:36] #4516 closed

[2020-04-23 10:54] rikinsk commented on #4526
@gnyani This makes sense. It would be great if you could add the fix as you suggested. Thanks

[2020-04-23 11:15] Relaxe111 opened #4528 ""invalid input syntax for type json" when is onconflict triggered and table has a field of type jsonb"
I have a three tables with relations like this:
![image](https://user-images.githubusercontent.com/40892030/80095349-109c6780-8568-11ea-8926-adb1ebaa830f.png)

when i try i add a new questionnaire with question which already exists with intention to insert new relation in questionaire_question i get invalid input syntax for type json.
if i remove on conflict i get expected error "duplicate primary

[2020-04-23 11:23] wawhal opened #4529 "actions: account for query aliases when deriving an action"

[2020-04-23 11:54] tirumaraiselvan commented on #4525
@andywong418 Can you please confirm the Hasura version?

[2020-04-23 11:54] Relaxe111 commented on #4528
find out that is my fault :(. It was such that there where a triger before update which set properites to now().

[2020-04-23 11:54] #4528 closed

[2020-04-23 12:02] wawhal opened #4531 "code exporter on graphiql"
There must be a code exporter on graphiql that generates the API code for making the query and parsing the response.

This library can be used: https://www.npmjs.com/package/graphiql-code-exporter
Or something new can be implemented.

The goal is to be able to export code for NodeJS-Fetch and TypeScript-Fetch through a button click on GraphiQL.

[2020-04-23 12:06] #4056 closed

[2020-04-23 12:17] LucasBSC commented on #4163
I'd like also to know if it is possible to handle this behaviour

[2020-04-23 12:38] clementd-fretlink commented on #2936
:wave: I'm _someone using the hmacaroon library_. I'd be happy to give you some feedback on macaroon use (it's the primary auth mechanism we use in our APIs, so we have some hands-on experience).

[2020-04-23 12:53] tirumaraiselvan commented on #4465
Closing this in favour of https://github.com/hasura/graphql-engine/issues/3436

[2020-04-23 12:53] #4465 closed

[2020-04-23 14:21] tirumaraiselvan opened #4533 "support validations for interface types"
1. Currently, remote schema fields are not validated (just proxied). We want to validate them as well to support remote schemas permissions.

2. Relay requires interface support.

Adding validations for interface types is then required.

[2020-04-23 14:22] tirumaraiselvan opened #4534 "support validations for union types"
Currently, remote schema fields are not validated (just proxied). We want to validate them as well to support remote schemas permissions.

Adding validations for union types is then required.

[2020-04-23 14:42] marekdano commented on #4314
Hi @beerose,
I can see that there are two components left now. I think I can take the `Error boundary` one. Is it ok?

[2020-04-23 14:43] Relaxe111 opened #4535 "how to ignore some rows on bulk insert based on custom logic?"
Hello, I have a table questionnaire where i insert a list of questionnaires for different users.
questionnaire has a field enum called status. How can i ignore a questionnaire which has status inactive  for a given user but insert for others.
I've tried to write a function and set a trigger before insert. like :
[code]
problem is that when trigger raises an exception whole insert is aborted.
but i

[2020-04-23 14:45] beerose commented on #4314
Sure @marekdano! Assigning you to `ErrorBoundary`.

[2020-04-23 15:45] redinggg commented on #3576
I have the same problem now **Hasura v1.2.0-beta.4**
`CREATE OR REPLACE FUNCTION public.drops(cases_free_row cases_free, hasura_session json)
 RETURNS SETOF drops
 LANGUAGE sql
 STABLE
AS $function$
    SELECT *
    FROM drops d
    WHERE d.caseid = cases_free_row.id
    AND d.userid = (SELECT id FROM users WHERE social_id = (hasura_session ->> 'x-hasura-user-id'))
$function$
`
`{
  "errors": [

[2020-04-23 15:47] fkhadra commented on #4314
Hey @beerose, as `GqlCompatibilityWarning component` is the only one left. I would be happy to work on it.

[2020-04-23 15:51] redinggg opened #4537 "hasura_session invocation without arguments"
There is a function:

[code]
When I try to call, I need to enter the arguments

[code]
**Hasura v1.2.0-beta.4**

[2020-04-23 16:20] naveennazimudeen opened #4540 "RFC: Triggers at Business Logic Layer"
The idea is to have triggers that run at business logic layer before data is inserted, updated or deleted into a table. This will allow for custom business logic without changes to schema. This logic will apply whether data is inserted directly into the table or via nested mutation.

e.g. Consider a Customer table with an array relationship to Address table, and there is a custom logic for validat

[2020-04-23 16:28] andywong418 commented on #4525
@tirumaraiselvan yeah it is on Hasura v1.1.1

[2020-04-23 16:31] mubaidr commented on #4526
@rikinsk I would like to take on this.

Also I think this should be handled on the input components, this will make sure maximum typed input is trimmed. What do you say?

[2020-04-23 16:56] jacdx commented on #2461
My use case is to extend the same header-based role permissions that I use across Hasura to my remote schema, which doesn't provide any usable access control other than CORS and tokens. I wish I could go into Data, see the entities from my Remote Schemas there, and be able to at least set high level query, mutation subscription permissions per entity. The closer it is to what Hasura does for it's

[2020-04-23 17:02] naveennazimudeen commented on #4470
Thanks @tirumaraiselvan!

I created an RFC #4540 for Triggers at business Logic Layer. I think that's a probably a powerful and elegant solution to the problem.

[2020-04-23 17:07] tirumaraiselvan commented on #4525
@andywong418 I tried to repro this with the exact same payload values and `HS256` key configuration. It seemed to work fine.

Is it possible for you to launch a heroku instance where I can see the problem?

[2020-04-23 17:09] andywong418 commented on #4525
@tirumaraiselvan could it be the UUID which is causing an issue?

[2020-04-23 17:10] andywong418 commented on #4525
Do you mean creating a heroku instance with my existing schema?

[2020-04-23 17:11] tirumaraiselvan commented on #4525
Schema can be just minimal, but the `HASURA_GRAPHQL_JWT_SECRET` should be similar and a sample token which throws the error.

[2020-04-23 17:23] andywong418 commented on #4525
I have a database from scratch so I can just share the token I have now (and change config later). How should I share the details?

[2020-04-23 17:45] thinknirmal commented on #2264
I am updating one of the constraint columns, but still the returned list would be empty. Did anything change in the meantime?

[2020-04-23 17:46] andywong418 commented on #4525
@tirumaraiselvan I have a feeling it's because the types aren't compatible between a uuid and a string in Hasura and so it's telling me there's not enough input since `x-hasura-user-id` is invalid

[2020-04-23 17:54] gnyani commented on #4526
@mubaidr  I am working on it.

[2020-04-23 18:03] tirumaraiselvan commented on #4525
@andywong418 Can you just share the token here?

[2020-04-23 18:06] Windrushfarer commented on #4314
I would like to help you with `GqlCompatibilityWarning` and `ErrorBoundary` it should pretty easy

[2020-04-23 18:10] andywong418 commented on #4525
This is my request - `curl -X POST https://wondrous-hasura.herokuapp.com/v1/graphql -H 'Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIyZGY5OWZkZC1jOGQ3LTQ5NTctODA1Ni1kZmZiMTc2YTg1NjciLCJuYW1lIjoiQW5kcm9zIFdvbmciLCJpYXQiOjE1ODc2NjE0OTMuMDc3LCJodHRwczovL2hhc3VyYS5pby9qd3QvY2xhaW1zIjp7IngtaGFzdXJhLWFsbG93ZWQtcm9sZXMiOlsibWluZSIsInVzZXIiXSwieC1oYXN1cmEtdXNlci1pZCI6IjJkZjk5ZmRkL

[2020-04-23 18:14] thinknirmal commented on #2264
Not sure if this is relevant, but when the upsert is inside a nested mutation, I had to update the foreign key column for it to return a result. Updating any column from the unique constraint didn't trigger a result. Is this by design, or a bug?

[2020-04-23 18:16] Windrushfarer commented on #4314
Hi, @beerose I would like to help you with migrating `GraphQL Schema utils` :) please could you assign me, so I'll start my work now

[2020-04-23 18:25] tirumaraiselvan commented on #4525
Thanks @andywong418

The error has nothing to do with the JWT token but it is complaining of the actual data that has been posted. There is basically no operation that is given to the endpoint.

Try giving something like this, notice the data after the `-d` argument :

`curl -X POST https://wondrous-hasura.herokuapp.com/v1/graphql -H 'Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJctODA1

[2020-04-23 18:28] mubaidr commented on #4314
Give me `SDL utils` and `Hasura custom types utils`, please. 😃

[2020-04-23 18:41] andywong418 commented on #4525
I get this error `{"errors":[{"extensions":{"path":"$","code":"invalid-jwt"},"message":"Could not verify JWT: JWSError (CompactDecodeError CompactDecodeError: Expected 3 parts; got 2)"}]}%`. Also in my Hasura logs I get this error when I try to fetch data of a logged in user - `"error":{"path":"$","error":"no such type exists in the schema: 'users'","code":"validation-failed"},"request_id":"8ee7be

[2020-04-23 18:43] andywong418 commented on #4525
users definitely exist in the schema so it's still a validation failed error

[2020-04-23 18:48] andywong418 commented on #4525
When I put the bearer token into my graphiql interface no schema turns up.

[2020-04-23 18:50] DblK commented on #1241
I saw the change of label 27 days ago, any update about this?

[2020-04-23 18:59] anisjonischkeit opened #4543 "hide insert_one for nested inserts"
Seems pointless to have insert_one when insert does the same thing here (what is returned is dependent on the return query not the insert data).

I just came into a lot of confusion with this since I'd renamed insert_one_users to just insert_user and a nested insert_one seems to not prefill the foreign key to its parent.

[2020-04-23 19:11] nirvdrum commented on #3578
@coco98 No problem. Is there anything else I can do to help move this one along? It's made working with Hasura much uglier than I'd like. I was hoping this change was reasonably small enough to make its way into the 1.2.0 release.

[2020-04-23 20:01] iamkhalidbashir commented on #3436
Any progress in this issue?
Currently, I have solved this issue by using X-hasura-row-id headers to fetch the row without anonymous requests to fetch the complete list.

But it would be way awesome if you can turn of the table graphql query and let only table_by_pk query to be turned on.

[2020-04-23 21:42] opvasger opened #4547 "Introspection-query error"
Hello. I tried running an introspection-query of my environment using [elm graphql](https://www.npmjs.com/package/@dillonkearns/elm-graphql), but get this error:
[code]
If I reload my meta-data in the Hasura-console, this exact introspection-query succeeds, but every subsequent introspection fails :(

[2020-04-23 22:48] Carleslc opened #4548 "console: view relationship rows in data browser break for relationhips with bigint fkeys"
I'm running v1.1.1 and having the following error when clicking on "View" for some table relationships in the console.

[code]

I tried to reload metadata with no success.

[2020-04-24 03:24] poul-kg commented on #4314
I'd be glad to help with Typescript somewhere, assign something to me if you have.

[2020-04-24 03:36] andywong418 commented on #4525
Problem solved - @tirumaraiselvan  I'd suggest in the docs https://hasura.io/docs/1.0/graphql/manual/auth/authentication/jwt.html that it should be explicitly mentioned that access control is necessary for roles like 'user' or 'editor' to work. The docs makes it seem like it's built in to Hasura and so no further setup is necessary. A link on the page to https://hasura.io/docs/1.0/graphql/manual/a

[2020-04-24 03:36] #4525 closed

[2020-04-24 05:06] creatorrr commented on #1848
[postgrest](http://postgrest.org) does a great job at this IMO. From the [docs](http://postgrest.org/en/v6.0/auth.html):

with that name for the duration of the HTTP request.

[2020-04-24 05:28] #4447 closed

[2020-04-24 06:09] #4520 closed

[2020-04-24 07:55] #4031 closed

[2020-04-24 08:09] tirumaraiselvan commented on #2461
@jacdx That's what we will aim to provide as well :)

[2020-04-24 08:11] codingkarthik commented on #4487
@fo-fo Can you share the startup-logs generated by hasura? It will help us debug the issue

[2020-04-24 08:33] tirumaraiselvan commented on #2264
@thinknirmal Can you paste the exact nested mutation here?

[2020-04-24 08:44] fkhadra commented on #4314
Hey @beerose, I can work `Common/WarningSymbol` and `Common/TextInput`. TextInput use `prop-types` should we keep them or it can be removed?

[2020-04-24 09:16] karthikvt26 commented on #4547
@opvasger Could you try it out without passing `includeDeprecated` arg for now and let us know if it works until we identify what the issue is?

Also could you post the server version you are running?

From the `http-log` the query is as below

[code]

And variable is as below

[code]

If the fragment expansion is valid then this should work.

cc: @tirumaraiselvan

[2020-04-24 09:43] #91 closed

[2020-04-24 11:02] opvasger commented on #4547
I ran the introspection-query without the variable, and it works every time without it.

### About
Current server version: v1.1.1
Latest stable server version: v1.1.1
Console asset version: 1585320727535
Postgres version: PostgreSQL 12.2 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.3 20140911 (Red Hat 4.8.3-9), 64-bit

[2020-04-24 13:34] iamkhalidbashir opened #4552 "error when inserting through data browser on Postgres 12 "Generated column" based table"
Hey folks,

Today I decided to use Postgres 12 feature **Generated columns** (instead of hasura computed columns for efficiency), here is what went wrong:-

1. The Generated column name is "FLID"
2. It just concats 2 text columns in the same table. (No issue found while creating on Postgres)
3. When inserting through Hsaura console, this error was shown:-

![Screenshot from 2020-04-23 18-17-40](ht

[2020-04-24 14:07] renanmav commented on #721
As I said @ivawzh, haven’t tried cursoring yet. I can manage some time this weekend to see it.

[2020-04-24 14:22] beerose commented on #4314
Hi @fkhadra!
They can be removed. There's no _much value_ in keeping them in TS code, and they are easily getting out of sync.

[2020-04-24 15:49] fkhadra commented on #4314
@beerose adding @types/react-bootstrap@0.32.1 doesn't make the build crash but we will get an error message in the console. Should we just omit it? WDYT ?

[code]

[2020-04-24 16:36] FredyC opened #4556 "Deleting composite PK rows in batch"
## Current behavior

Looks like it's not possible right now (1.2.0-beta.4)?

What I mean is with a table of composite PK of two columns, when I would like to delete multiple rows, then the only query that comes to my mind is like following, but I doubt it comes with the intended outcome. It's not possible to verify that because Analyze in the API Explorer works for queries only.

[code]

## Expect

[2020-04-24 17:00] FredyC commented on #4556
I take it back. Despite suspiciously looking query, after running a few tests it does seem to be deleting only what it's supposed to and nothing more. That was unexpected :)

[2020-04-24 17:00] #4556 closed

[2020-04-24 18:06] gnyani commented on #4526
@rikinsk can you please review #4545 and merge?

[2020-04-24 19:25] evertonfoz commented on #3254
Hello @marionschleifer.

I am following your guidance to perform the following insert

`mutation insertUserTags ($ user_tags_insert_input: [user_tags_insert_input!]!) {
    insert_user_tags (objects: [$ user_tags_insert_input]) {
            affected_rows
    }
}`

with the variable

`{"user_tags_insert_input":
  [{"name": "Study", "userId": "a"}, {"name": "Study", "userId": "a"}]
}`

but I get th

[2020-04-24 20:38] girishranganathan opened #4558 "Metadata import errors on Docker container start"
Hello folks,

I am using Docker container image to test hasura GraphQL engine. As part of the test I am mounting the migrations and metadata directory when the container starts. Migrations seem to work consistently but when applying metadata I am getting this error pretty consistently:
[code]

Once in a blue moon I see the container gets past this issue and runs fine.

I was able to narrow down th

[2020-04-25 06:03] #4508 closed

[2020-04-25 07:05] ryands17 commented on #4314
Hi @beerose is there anything unassigned that I could take on?

[2020-04-25 07:21] brenjay opened #4559 "Select - Row Limit picker hides 0 in Console"
First off - wonderful project! Ran into a maddening issue in the Console UI which caused me trouble for hours until I could figure out what it was; currently using v1.2.0-beta.5.

When editing permissions schema for 'select' and specifying a row limit, it is possible to iterate the number picker down to 0. However, the picker doesn't actually display '0'. Thus, you can save the schema and assume y

[2020-04-25 07:39] DavoCg commented on #2599
It seems to be fixed in the last Hasura release [https://github.com/hasura/graphql-engine/releases/tag/v1.2.0-beta.5](url)
You have to put `HASURA_GRAPHQL_DEV_MODE ` as `true` or start the server with `--dev-mode` flag.
I'm wondering why they consider this a `dev`setting while our usecase is pretty common

[2020-04-25 07:41] shahidhk opened #4560 "cli: allow initialising project in current directory"
When we execute `hasura init .` so that we need the current directory to be used as a Hasura Project, CLI throws an error: `FATA[0002] directory '.' already exist`.

We should allow using the current directory and create `config.yaml`, metadata, migrations directories etc. in the same directory itself.

[2020-04-25 07:44] shahidhk opened #4561 "cli: add an alternate filename for config.yaml"
Couple of our users have mentioned that `config.yaml` is too generic. We cannot remove the support for config.yaml, but we can introduce an optional new file `hasura-config.yaml` which can be selected by using a flag on the `init` command.

Later we could probably make it a default too.

The function which validates a folder to be a Hasura Project will need to be updated accordingly.

[2020-04-25 07:45] shahidhk commented on #1220
Split into https://github.com/hasura/graphql-engine/issues/4560 and https://github.com/hasura/graphql-engine/issues/4561

[2020-04-25 07:45] #1220 closed

[2020-04-25 07:48] beerose commented on #4314
@fkhadra I took a look at configs and typings in `DefinietelyTyped,` but I haven't found the fix for missing `/lib` folder. I created an issue for it: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/44220.

In the meantime, please skip these declarations. You can create folder `types` and mirror typings for particular modules from here: https://github.com/DefinitelyTyped/DefinitelyTyped/

[2020-04-25 07:57] beerose commented on #4314
Hi @ryands17! I just added new items to the list! 🎉

[2020-04-25 08:59] MatthiasGrandl commented on #877
I have a hard time understanding why not all roles in `x-hasura-allowed-roles` are checked if the default-role doesn't have permission. Wouldn't that solve most issues?

[2020-04-25 09:11] ryands17 commented on #4314
I can take HTML helpers, Route hooks helpers and Version utils :)

[2020-04-25 10:07] perrosnk commented on #625
Congratulations to all for the nice progress that Hasura is making lately!

If this is an easy fix could be implemented soon? We are also very interested in this feature, because we need to support a marketplace with a lot of categories and subcategories organized in ltree columns.

[2020-04-25 10:13] perrosnk commented on #4512
there is an interesting video [here](https://www.youtube.com/watch?v=mipb4N6ZzfM). Hope it helps

[2020-04-25 12:42] thinknirmal commented on #2264
**Mutation:**
[code]

**listing_products:**
[code]

**shop_products:**
[code]

[2020-04-25 18:13] fo-fo commented on #4487
@codingkarthik
```graphql-engine_1  | {"type":"startup","timestamp":"2020-04-25T18:10:29.182+0000","level":"info","detail":{"kind":"server_configuration","info":{"live_query_options":{"batch_size":100,"refetch_delay":1},"transaction_isolation":"ISOLATION LEVEL READ COMMITTED","plan_cache_options":{"plan_cache_size":null},"enabled_log_types":["http-log","websocket-log","startup","webhook-log","quer

[2020-04-25 18:58] GavinRay97 commented on #4535
Instead of doing `IF EXISTS()`, you can invert the logic and do `IF NOT EXISTS()` so that it will only run for new participant questionnaires, that should work if I understand what your intent is correctly.

[2020-04-25 19:01] GavinRay97 commented on #4537
Hey Roman, to keep you updated, we have noted this question and will respond to it as soon as we can :+1:

[2020-04-25 19:05] GavinRay97 commented on #4548
Hey Carlos, would you be able to attach your migrations, metadata, and Dockerfile/Docker Compose setup so that attempts to replicate this could be made?

[2020-04-25 19:20] GavinRay97 commented on #4558
This is using the `.cli-migrations` image? It sounds like, from:

This is V2 Migrations format, is that right?

Has the number of migrations you are running against the container on startup been growing by a large amount out of curiosity?

Though not ideal, a quick fix while it gets looked into would be to use the `wait-for-it` script that's commonly used when you have time-dependent deploy or CI/

[2020-04-25 19:22] GavinRay97 commented on #4559
Good catch, thank you!

[2020-04-26 04:31] Carleslc commented on #4548
After further investigation, it seems that this error is coming from tables with big integer columns. I have a custom id generator function that returns a bigint, and somehow Hasura is converting the assigned values to another close value (casting problem maybe?). Seems related to https://github.com/hasura/graphql-engine/issues/3667 and https://github.com/hasura/graphql-engine/issues/3697

This er

[2020-04-26 06:30] maxcan commented on #302
Documenting this would be 👍

[2020-04-26 07:19] Relaxe111 commented on #4535
Hello thankyou for answer. I've tryed with `if not exists()` and if i have an array of questionnaires it blocks whole transaction. But I would like just to ignore those who raise exception and pass those who are ok. I found kind a solution:
I modified function like :

[code]
And now if some questionnaire from all list of questionnaires attached to a patient is active it will give me a pkconstarint

[2020-04-26 08:34] shahidhk opened #4564 "cli: add a flag to skip tls verification"
Add a new global flag called `--insecure-skip-tls-verify` with default value `false`. We'll then need to use a custom [http client with tls config ](https://pkg.go.dev/crypto/tls?tab=doc#Client) set to skip the verification.

This is required to make the CLI work with server endpoints that have self-signed certificates.

Refer to [kubectl](https://github.com/kubernetes/kubectl) code for details.

[2020-04-26 08:37] shahidhk commented on #4564
Might be useful: https://forfuncsake.github.io/post/2017/08/trust-extra-ca-cert-in-go-app/

[2020-04-26 10:53] MatthiasGrandl commented on #3772
Also related, it would be neat if we could select computed columns for permission checks.

[2020-04-26 12:54] marekdano commented on #4314
Hi @beerose! I can take `Telemetry filter` and `Globals`.
I also wanted to ask if components of [RuntimeError](https://github.com/hasura/graphql-engine/blob/master/console/src/components/Error/RuntimeError.js) and [PageNotFound](https://github.com/hasura/graphql-engine/blob/master/console/src/components/Error/PageNotFound.js) have to be converted to TS too.

[2020-04-26 15:49] beerose commented on #4314
Hi @marekdano,
I assigned you to `Telemetry filter` and `Globals`!

Yes, `RuntimeError` and `PageNotFound` can also be converted to TS. (Just didn't add them to the list yet) 😉

[2020-04-26 20:39] devuxer opened #4568 "Create action fails silently if referencing an undefined environment variable"
This bug occurred while trying to create an Action in the console.

For the handler field, I referenced an environment variable that I hadn't yet added to my docker container. (I had added the environment variable to my docker-compose but hadn't yet restarted the container.)

When I clicked Create, I saw a "Creating Action" message, but then the message went away and nothing changed on the screen.

[2020-04-26 21:09] devuxer commented on #4568
Followup:

1. Cycling docker down and up with the environment variable configured did in fact allow me to create the action.
2. A migration was created for every attempt, so even though the error seemed to prevent the action from being created, it wrote the migration as if everything were fine.

[2020-04-26 21:37] devuxer opened #4569 "Feature request: add Netlify and Netlify-Typescript to Actions codegen"
Netlify is an important Jamstack provider, so I think many would like to have codegen support for netlify functions.

[2020-04-27 01:38] arvi3411301 commented on #4568
@devuxer Can you provide us the version of CLI you are using by running `hasura version`

[2020-04-27 01:55] GavinRay97 commented on #4569
We are doing a lot of work on Actions Codegen at the moment (drop by the Community Call on Wed. Apr 29th at 9AM PST to see all the new languages + frameworks and learn how to easily create your own, plus a surprise feature =D) so we can definitely put this on the list :+1:

[2020-04-27 02:00] GavinRay97 opened #4571 "Console: Computed Fields overloaded functions bug"
When selecting a Function Name for Computed Fields, if you have overloaded functions, it does not let you toggle between them and selects (what I assume is) the first result.

This is really low priority.

![image](https://user-images.githubusercontent.com/26604994/80327143-182e6b80-8809-11ea-8b9e-59d0020bc220.png)

[2020-04-27 03:32] devuxer commented on #4568
Hey @arvi3411301

Good question:

hasura cli - version=v1.2.0-beta.2
hasura graphql engine - version=v1.2.0-beta.5

Perhaps the CLI being older than the engine was the cause? I did everything from the console, not the CLI, though.

[2020-04-27 03:47] arvi3411301 commented on #4568
@devuxer We have fixed the mentioned issue in `v1.2.0-beta.4`. Can you try updating the cli to `v1.2.0-beta.5` by running `hasura update-cli --version v1.2.0-beta.5`

[2020-04-27 04:24] devuxer commented on #4568
@arvi3411301 ,

That fixed it, thanks! I now get a "Creating action failed", with a button to show the details.

Next time, I'll make sure I have the latest engine *and* CLI.

[2020-04-27 04:24] #4568 closed

[2020-04-27 04:26] devuxer commented on #4569
@GavinRay97 ,

Great to hear, thanks!

[2020-04-27 04:40] shahidhk opened #4572 "docs(cli): add version information to the env file section"
In the [env file section of cli configuration reference](https://hasura.io/docs/1.0/graphql/manual/hasura-cli/reference.html#env-file) add a note indicating the support is available since version `v1.2.0-beta.5`

[2020-04-27 04:41] hafiztahajamil commented on #3254
Hi @evertonfoz
You have to remove array brackets around $user_tags_insert_input.

If a variable is declared as an array  then brackets aren't required while passing the value to objects
mutation insertUserTags ($ user_tags_insert_input: **[**user_tags_insert_input!**]**!)

- What you are doing (Wrong): insert_user_tags (objects: **[**$ user_tags_insert_input**]**) {             affected_rows     }

[2020-04-27 06:30] arvi3411301 commented on #4487
@fo-fo Are you trying to open console via CLI by running `hasura console`? In that case, one can disable telemetry by setting `enable_telemetry` to `false` in `~/.hasura/config.json`

[2020-04-27 06:58] amaymakhija1 commented on #1438
Honestly would be a lifesaver, can you please add

[2020-04-27 07:28] rikinsk commented on #4487
@arvi3411301 Ideally the CLI should respect the configuration set on the server. It seems unnecessary to have to define the same behaviour twice.

If @fo-fo confirms that this was indeed the problem, we can change the scope of this issue to the above.

[2020-04-27 07:32] rikinsk commented on #4487
Just noticed that the setting also seems to be global for the CLI. This is definitely a project based setting and that too should be configurable only on the server.

[2020-04-27 09:37] evertonfoz commented on #3254
Hi @hafiztahajamil

Thanks for the feedback. When I use

`mutation insert User Tags ($ objects: user tags_insert_input) {
   insert_user_tags (objects: $ objects) {
      affected_rows
   }
} `

with the variables

`{
    "objects":
    [{
      "name": "Study", "userId": "a"},
    {"name": "Study", "userId": "a"}
    ]
  } `

I get the error

`{
  "errors": [
    {
      "extensions": {
        "

[2020-04-27 11:09] hafiztahajamil commented on #3254
Hi,
You shouldn't change this: *mutation insert User Tags ($ objects: user
tags_insert_input)*
This should remain: mutation insert User Tags ($ objects: [user
tags_insert_input!]!)

Final Mutation:

mutation insert User Tags ($ objects: [user tags_insert_input!]!) {
insert_user_tags (objects: $objects) { affected_rows } }

Let me know if it works for you :)

On Mon, Apr 27, 2020 at 2:37 PM Everton

[2020-04-27 11:49] evertonfoz commented on #3254
It Works. Thanks a lot :-)

[2020-04-27 11:57] hafiztahajamil commented on #3254
👍

On Mon, Apr 27, 2020 at 4:49 PM Everton Coimbra de Araújo <
notifications@github.com> wrote:

[2020-04-27 12:53] reinoldus commented on #2764
I hit the same issue today. I solved it by recreating the pgcrypto extension:

https://dba.stackexchange.com/questions/146135/psql-9-5-gen-random-uuid-not-working

[2020-04-27 12:59] zcaudate commented on #4368
Oh sweet! Thanks for the quick response.

[2020-04-27 15:07] #3846 closed

[2020-04-27 15:28] rocambolesque opened #4575 "Setting up auth webhook on heroku"
Hi,

I made an Hasura app on Heroku and it is working well, I'm now trying to setup authentication following your blog post https://hasura.io/blog/hasura-authentication-explained/#custom-webhook, the authentication app works well.

Calling the authentication app:
[code]

Calling the app (with a query working in the Hasura interface):
[code]

I thought I had a graphql issue at first but it seems un

[2020-04-27 15:38] coco98 opened #4576 "Console UI for migrations management (especially squash!)"
Checkbox | Migration | Source status | DB status
-- | -- | -- | --
🔲 | timestamp_text |   |  
🔲 | timestamp_text |   |  
🔲 | timestamp_text* (view) |   |  
🔲 | timestamp_text* (view) |   |  

<squash button>

Clicking on view shows the `up.sql` and `down.sql` in tabs. Something like:

**timestamp_text٭ (viewing)**

*up.sql* | down.sql
-- | --
CREATE TABLE users (......)

[2020-04-27 16:12] rocambolesque commented on #4575
Closing this, I found a solution!

You have to define access control rules for it to work, I followed this https://hasura.io/docs/1.0/graphql/manual/auth/authorization/basics.html#define-access-control-rules and it's working now.

Great docs by the way :)

[2020-04-27 16:12] #4575 closed

[2020-04-27 16:26] anisjonischkeit commented on #4543
I guess this is a bug and an idea?

- bug: nested insert_one does not prefill the foreign key to its parent
- idea (would work as a solution): Just remove the insert_one method since it is (at least from what I can see) redundant on a nested insert.

[2020-04-27 16:30] abooij opened #4577 "server: the first actual value, rather than the default value, is used for obligatory variables with default values"
When a query with an obligatory variable `$myId` with a default value, such as `1`, is cached, the value in the query plan that is saved is the value that is used at the time of saving (e.g. `2`, since a value for `$myId` may have been provided with the query). This means that any subsequent call to the same query, that does not specify `$myId`, incorrectly uses that same value saved at the time o

[2020-04-27 16:30] GavinRay97 opened #4578 "Actions Codegens - Community Contributions wanted!"
If you would like to work on one of these, please leave a comment on the issue :smiley:

**Note:** On our community call this Wednesday, April 29th @ 9AM PST, there will be a walk-through demo of the Actions Codegen creation process and a preview of the new languages + frameworks. We invite you to attend if you can make it and are interested in contributing :pray:

**Open Codegens:**
- nodejs-lamd

[2020-04-27 18:38] havsar commented on #1371
is there an ETA for this?

[2020-04-27 19:02] #4085 closed

[2020-04-27 19:57] GavinRay97 commented on #4515
Hey, updating with a solution for this:

There are two things you need to do in order to get .NET Core 3.1 to let you give custom error formats.

1. Disable `ModelStateInvalid` in `ApiBehaviorOptions` from inside of `ConfigureServices()`:

[code]

2. Write a method in `Configure()` for `app.UseExceptionHandler()` as a middleware/handler for catching + formatting exceptions:

[code]

[2020-04-27 20:07] wawhal opened #4580 "docs: add a basic guide on how to write GraphQL SDL"

[2020-04-27 20:40] GavinRay97 commented on #4515
Updating with a better answer, using filters:

**ResponseFilter.cs**
[code]

**Startup.cs**
[code]
**Sample Controller Endpoint (note the `return` on BadRequest):**
[code]

[2020-04-27 21:33] roycastro commented on #1082
@0x777 is ltree support being actively developed? Can you give some feedback at this point?
By the way, great job with Hasura!!!

[2020-04-28 00:56] nolandg commented on #3478
Our app is heavy on the data visualization so `group`ing and `where`ing is super important. Javascript filtering is definitely not an option. We made a Postgres function that takes arguments to adjust the `GROUP BY` and `WHERE` and a matching Hasura-tracked table that has the same datatype columns as the output of the function. The extra special bit is that the `where` function argument is a JSON

[2020-04-28 01:04] nolandg commented on #2965
Example using a postgres function is here: https://github.com/hasura/graphql-engine/issues/3478#issuecomment-620313590

[2020-04-28 04:42] #4331 closed

[2020-04-28 07:32] Windrushfarer commented on #4314
@beerose can I take `Server.js` file? I think my current work with utils will be stopped for now, due to response of your developers in #4557  :)

[2020-04-28 09:15] dedan commented on #353
Even with the solution of @louisdvs I still get this error when using `wss:` instead of `ws:`.

Does anybody know how to fix this?

[2020-04-28 09:47] abooij commented on #4577
I should add that this report is already after the application of the partial fix discussed in #4538. Before #4538, the second query above would return an error, but the query cache is still incorrect. Observe the value `2` being saved in `prepared` in the query cache:
[code]

[2020-04-28 11:28] #4572 closed

[2020-04-28 12:00] #4564 closed

[2020-04-28 13:33] joelrojo commented on #1186
Any update on this?

[2020-04-28 13:40] #4560 closed

[2020-04-28 14:00] tirumaraiselvan commented on #4543
@anisjonischkeit  `insert_users_one` is same as `insert_users` except that you can only insert one object and hence the type of `insert_users_one` is the table type. Can you explain what do you mean by "prefill" foreign key? You mean a nested insert which goes through with `insert_users` does not go through with `insert_users_one`?

[2020-04-28 14:11] tirumaraiselvan commented on #4537
@redinggg Can you show the metadata for this function? Basically, go to your console -> hit the gear icon on the top-right -> export metadata.

Now, see the `functions` key in the exported metadata file and look for this particular function and post its contents here.

[2020-04-28 14:24] leoalves commented on #4180
I saw this on HackerNews today and remembered about this issue
https://drawsql.app/

[2020-04-28 14:29] tirumaraiselvan commented on #1082
@pronevich @litchfield @roycastro Will appreciate using #625 for discussing `ltree` specific support.

[2020-04-28 15:20] anisjonischkeit commented on #4543
Ahh, I see the problem. Somehow I had an object and an array relationships for the same data. So while inserting I was seeing that I could insert one item or multiple... turns out the object relationship was actually not correct (it didn't actually make sense) and had no foreign key attached anyway. I did some programmatic changes to migrations so I think I may have messed it up there...

[2020-04-28 15:20] #4543 closed

[2020-04-28 15:56] redinggg commented on #4537
@tirumaraiselvan
[code]

[2020-04-28 16:36] #4173 closed

[2020-04-28 18:41] ccalvarez opened #4588 "Kerberos on Hasura Container, is it possible?"
Hi,

Is it possible to configure Kerberos on a Hasura Docker container?  I need to connect Hasura to an existing database that is configured to use SSPI to delegate authentication to Windows Active Directory.  I am now at the point that Hasura returns "No Kerberos credentials available".

I'm using hasura/graphql-engine v1.1.1 image.

Also I was looking for documentation on how to configure Kerber

[2020-04-28 19:29] arjunyel commented on #4588
Heres how you may customize it https://github.com/hasura/graphql-engine/issues/2729

[2020-04-28 19:39] arjunyel commented on #4578
One for [rust-rocket](https://rocket.rs/) would be awesome, I'll try to make the community call to see what all is involved

[2020-04-28 20:17] opvasger commented on #4547
I really appreciate the attention. If I can do anything to help you further, let me know!

I'm currently resetting metadata before every deploy, and I have no problems so far doing this :sunny:

[2020-04-28 20:57] Vishwas-93 commented on #3759
Hi @lexi-lambd,

**Issue**
Adding a brand new Enum Table doesn't show up in the schema. Even after we restarted the server.

**Version - 1.2.0 - beta.5**

Thanks
Vish

[2020-04-28 21:07] shamroz626 opened #4589 "During players' cricket matches, worshiping white cream ....? Learn interesting reasons ....!"
![Photo_1710](https://user-images.githubusercontent.com/62414356/80537860-2d003000-89be-11ea-98a5-01808453a4a0.png)

[Latest news]
Not only men but also women, children and youth are all eager to watch cricket matches but have you ever noticed why players apply this white cream on their faces during matches ....?
[Read more]

[2020-04-28 23:28] XVincentX commented on #3658
@tirumaraiselvan Is there any chance to understand when is this going to go on your radar?

[2020-04-29 00:55] koienergyspa commented on #1677
Using AWS Amazon RDS PostgreSQL 12 returns this:
[code]

[2020-04-29 01:56] torw2n8 commented on #4321
It's an interesting situation case letter affecting search result, certainly the programmer thought it might be important depending on level of the person.

[2020-04-29 02:02] torw2n8 commented on #4500
Am intrigued, select then permissions show but they also show ie insert, update on there own. What's the issue then

[2020-04-29 05:57] johnpondales opened #4590 "I want to learn by creating localhost to run my sample web page on the internet"
any who give me a guide?

[2020-04-29 07:06] emilioschepis commented on #3207
I would really like to see this feature implemented.
Through custom root fields and columns I have been able to make my gql queries and resulting objects be perfectly aligned with JavaScript/TypeScript object notation standards.

I think this would really improve the feeling of consistency across all queries, as it is (for what I've seen so far), the only name we can't freely update.

We can, for

[2020-04-29 07:52] tirumaraiselvan opened #4592 "better error message on downgrade"
If I run the downgrade command:

`
$ docker run -e HASURA_GRAPHQL_DATABASE_URL=$DATABASE_URL hasura/graphql-engine:v1.2.0 graphql-engine downgrade --to-v1.1.1
`

The response is:

`MRMigrated "34"`

Two problems here:

1. The catalog version shows the downgrade-from version and not the downgraded-to version.
2. The message itself is not useful.

[2020-04-29 09:17] lionelB opened #4594 "accessing session variable from SQL functions"
Hello,

I'm currently reading the documentation in order to use Hasura. I've encounter 2 error for now
- https://hasura.io/docs/1.0/graphql/manual/schema/computed-fields.html#accessing-hasura-session-variables-in-computed-fields

It's not clear how to make it work using the hasura console webapp.
using web developer network tool, it seems that adding a computed field  don't add
this line
[code]
wh

[2020-04-29 09:31] acarmisc opened #4595 "Strange behavior for "forward client headers..." checkbox in action"
Hello. The checkbox cannot be marked clicking directly on it but works clicking on the label. Also looks checked when switch between sync and async radio button.

Look at the following gif

Thanks

![demo](http://g.recordit.co/3jNmruImpB.gif)

[2020-04-29 09:42] bodharesmita opened #4596 "Hindi film angreji medium"

[2020-04-29 10:42] gautambt commented on #4190
There is now a guide focusing on conflict resolution over here: https://hasura.io/blog/couchdb-style-sync-and-conflict-resolution-on-postgres-with-hasura/

[2020-04-29 11:29] beerose commented on #4314
Yes @Windrushfarer, as we don't have TypeScript support in `cli-ext`, we can't convert `shared/utils`. So there are two options:
1. You can wait, and it will be merged later (after we add TS support).
2. You can add JSDocs instead of converting these files to TS, if you want this PR to be merged soon.

In the meantime, I'll assign you to `Server.js`. 😉

[2020-04-29 11:36] coco98 opened #4599 "Update install manifests and deployment docs to include dev-mode flag"
Set `HASURA_GRAPHQL_DEV_MODE` env variable to `true`

- Update Heroku button, docker-compose.yaml, docker-run.sh and any other assets
- Update docs where relevant as well

[2020-04-29 11:44] shahidhk commented on #4599
These updates will need to go into the stable branch.

[2020-04-29 11:49] AfricanBones opened #4601 ""npm run start" doesn"

[2020-04-29 11:50] #4601 closed

[2020-04-29 11:51] mubaidr commented on #4314
@beerose I did already some work on `SDL utils`, most of the file is converted but I am not sure about some of the types, have to run tests to make sure if conversion is good.

Also please identify/assign any more module for conversion.

[2020-04-29 11:51] abooij opened #4602 "server: `_inc` integration test fails on CI because it is being run twice"
There seems to be a test failing [here](https://app.circleci.com/pipelines/github/hasura/graphql-engine/9560/workflows/b431f78b-16a4-4b22-a7c6-ebe6bfb4f784/jobs/117601/steps).

The origin of the problem is that the relevant integration test changes data in the DB using `_inc`, and compares the new value with an expected new value. So the process is: setup -> test -> test -> teardown, rather than s

[2020-04-29 11:56] AfricanBones opened #4603 ""npm run start" doesn't work."
I've installed all the packages that i need with npm install etc and I've created a script called "start" in packages.json.

When I do this command "npm run start" this comes up

Error: Cannot find module 'D:\Project\react-scripts\bin\react-scripts.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:957:15)
    at Function.Module._load (internal/modules/cjs/loader.js:840:27

[2020-04-29 12:13] abooij commented on #4602
More concretely: the logic of `run_server_upgrade_pytest` in `.circleci/server-upgrade-downgrade/run.sh` seems to be as follows:

1. The tests are run against the latest release, skipping teardown

1. The tests are run against the current build (i.e. possibly different), now skipping setup and teardown. Clearly any test that modifies the DB after setup now has the potential to fail.

1. The tests

[2020-04-29 12:15] axeldelafosse commented on #4077
Probably related to Heroku. I upgraded my database to a standard plan and I'm now having this issue.

[2020-04-29 12:22] haohedev commented on #4077
I am not using Heroku, the database is using the official image `postgres:10` ,including `postgis` extension

[2020-04-29 13:14] lionelB commented on #4594
I've also try to make a post request "by hand" using developper tools to add the missing "session_argument". post request succeed but same error in qraphql

[2020-04-29 13:18] macs91 commented on #4190
@gautambt 404 link

[2020-04-29 14:10] rikinsk commented on #4594
@lionelB This seems to be a case of docs getting preimptively deployed. This feature is currently not yet released but should be out in the next release.

[2020-04-29 14:14] 0x777 commented on #4594
@lionelB About the GraphQL error that you see, you'll need to add `args: {}` in your graphql query. Ideally `args` should be optional if there are no required arguments, we'll improve this.

[2020-04-29 14:44] r-moore opened #4605 "v1.2.0 console not accessible in Safari 13.1 (desktop)?"
Having upgraded an instance from v1.0.0 to v1.2.0 today I can no longer access the web console in Safari browser.

Safari v13.1
MacOS 10.15.4

hasura-console CLI v1.2.0

In the browser's javascript console I see this error:
`SyntaxError: Invalid character '\ud801'`

It gets stuck at the Loading... screen:
<img width="218" alt="image" src="https://user-images.githubusercontent.com/366280/80609389-e

[2020-04-29 14:48] r-moore commented on #4605
I also get this issue regardless of whether I access the web console via the CLI proxy (`hasura console`) or directly (when `HASURA_GRAPHQL_ENABLE_CONSOLE=true`)

[2020-04-29 14:56] #4602 closed

[2020-04-29 15:37] revskill10 commented on #1438
One more addition if you don't mind, is to add `importing` as well besides `exporting` (why not :D )

[2020-04-29 16:24] coco98 opened #4609 "CMS style features for the data browser in the Hasura console"
- [x] In Browse rows, for filters we have listed out postgres operators ($gte, $ilike etc). Let’s make readable english terms and the operator in brackets so that anybody can understand it quickly.
- [x] Multi select in Browse Rows https://github.com/hasura/graphql-engine/issues/1739
- [x] Browse rows improvements - https://github.com/hasura/graphql-engine-internal/issues/253
- [x] Rearrange colum

[2020-04-29 17:24] ssyberg commented on #4343
I'm also having this exact issue.

Tried running "hasura scripts update-project-v2" and it says                                                                                                                                                       "FATA[0000] this script can be executed only when the current config version is 1" so I guess it's already v2.

I'm not sure what my handler_webhook_baseu

[2020-04-29 17:25] ssyberg commented on #4343
Current config:

version: 2
endpoint: https://******.herokuapp.com
admin_secret: ************
metadata_directory: metadata
actions:
  kind: synchronous
  handler_webhook_baseurl: http://localhost:3000

[2020-04-29 17:26] KCErb commented on #4605
I also just updated to v1.2.0 but I'm on the cli-migrations version. I'm not having any trouble in safari viewing the CLI UI that I launch to 9695 with `/bin/hasura-cli console` from the container.

[2020-04-29 17:31] KCErb opened #4610 "v1.2.0.cli-migrations image is pointing to beta.5?"
[code]

A container built from ^that image gives a UI console that says "v1.2.0-beta.5" in the top-left corner and I get the footer popup recommending I upgrade to v1.2.0. This is on a brand new example with no customization, just `docker-compose up -d`. I expect the following config to reproduce (though I could give you my full config if you're having trouble.

[code]

[2020-04-29 17:55] lionelB commented on #4594
thanks !

[2020-04-29 18:59] ptrobert commented on #2699
1) For Time related npm packages--->moment and moment-timezone package functions will be the most sort by the users  e.g startofday, endofday for a given timezone etc,
2) As Postgres cant save timezones mostly users save that in a separate column for reference purpose, so in the proposal along with providing timezone as param, a timezone column should also be allowed.

[2020-04-29 19:27] rikinsk commented on #4594
closed via #4606

[2020-04-29 19:27] #4594 closed

[2020-04-29 21:53] mubaidr commented on #4610
Confirmed. API version also returns `v1.2.0-beta.5`

[2020-04-30 00:49] shahidhk commented on #4610
Thank you all for reporting this bug. I have pushed the correct images manually for now.

Keeping this issue open to track the bug in the build system.

[2020-04-30 01:41] leoalves opened #4613 "Add flag to enforce use of x-hasura-admin-secret for the /query endpoint"
If I add admin to the `x-hasura-role` or `x-hasura-allowed-roles` in my token custom claims. I have unrestricted access to the Hasura instance.

Some users might add that role to have full access to their GraphQL schema.  But not realize that this will give full access to the `/v1/query` where any SQL statement can be executed.

IMO Hasura should add a flag to force the use of the `x-hasura-admin-

[2020-04-30 05:22] #4610 closed

[2020-04-30 06:03] rikinsk commented on #4499
We can add the ability to set the session_argument on the fn Modify page

[2020-04-30 06:21] tirumaraiselvan commented on #4588
@ccalvarez Will be happy to get on a call and try and get this integration going for you. You can mail me at `tiru@hasura.io` and we can set up some time?

[2020-04-30 06:23] tirumaraiselvan commented on #4558
@girishranganathan It would help if you tell us the image version you are using. In any case, have you reproduced this bug on the latest v1.2 ?

[2020-04-30 06:27] tirumaraiselvan commented on #4552
@iamkhalidbashir Thanks for reporting.

Yes, you need to refresh the schema if you made any DDL changes from outside of Hasura.

Can you tell us the Hasura version you are using? Also, does this happen in the latest v1.2.0 release?

[2020-04-30 06:28] Manik747 commented on #2329
We are literally trying to do this right now in our organization. It would be good to know if you guys are looking to make this a thing.

[2020-04-30 06:30] scriptonist commented on #4561
@shahidhk a couple of thoughts,

Instead of adding a new flag to init, I am thinking of an alternate approach.
We can have a top-level flag called `--config-file`, Which a user can use to specify the path to the config file. The default config locations can be be `$(pwd)/config.yaml` and `$(pwd)/hasura-config.yaml`.

This can also account for a use case like,
[code]

What do you think ?

cc @arvi3

[2020-04-30 06:53] rikinsk commented on #4252
Dependencies versions pinned in #4612

[2020-04-30 06:57] tirumaraiselvan commented on #4537
@redinggg From the metadata, it appears that the session_argument field is not set for your custom function. This is most likely because when you track a custom function from console, it only tracks it without accounting for the session_argument. This is the console issue to enable this feature: https://github.com/hasura/graphql-engine/issues/4499

For the time being, I can suggest you to untrack

[2020-04-30 07:39] rikinsk commented on #4605
Closed via #4612

[2020-04-30 07:39] #4605 closed

[2020-04-30 07:40] rrjanbiah opened #4616 "`created_at` magic fields to have UTC normalization"
I'm not sure if it is possible to normalize the time to UTC. Currently it is saving in system timezone. So, showing time in client looks difficult or confusing.

[2020-04-30 08:24] zcaudate commented on #4368
Ah great. Thanks for confirming. I was tearing my code apart trying to figure out what was happening because updates work fine but not inserts.

Looking forward to the fix.

[2020-04-30 09:04] weyert commented on #4190
I think the correct url is: https://hasura.io/blog/couchdb-style-conflict-resolution-rxdb-hasura/

[2020-04-30 10:15] iamkhalidbashir commented on #4552
Hasura version: v1.1.1
Scheme reloaded

[2020-04-30 10:49] shahidhk commented on #4561
Can we not have a config.yaml file at all then? Can it we search for `.env` too?

[2020-04-30 11:28] marionschleifer opened #4622 "docs: document `update_by_pk`"
Update documentation to include `update_by_pk`.

[2020-04-30 11:43] scriptonist opened #4623 "cli: fix help text in root command"
The `hasura` root command usage does not include all the new commands.
[code]
Can be fixed by adding them to `commands/help.go` file

https://github.com/hasura/graphql-engine/blob/55cc5fb044e7ec3ddbd12c882374134941263bcf/cli/commands/help.go#L50

[2020-04-30 12:23] beepsoft commented on #4622
Also missing:
* `select_aggregate`
* `delete_by_pk`
* `insert_one`

Thanks!

[2020-04-30 12:44] rikinsk commented on #4561
I think leaving both `config.yaml` an `.env` has some use. I can use `config.yaml`  to store all keys that i would like to be shared and put it in version control and use the `.env` for things that should be private e.g admin-secret

[2020-04-30 13:31] leoalves commented on #4616
Hi @rrjanbiah,

`timestampz` fields in PostgreSQL are always saved in UTC.  You need to change the settings in your connection to show dates in UTC, instead of the server timezone.

To do that, in the Hasura console SQL tab run the following command:

[code]

This will change only for the Hasura connection.  If you wish to change it for all databases and all sessions you will need to change the `p

[2020-04-30 14:10] ShraddhaAg commented on #4561
The top level `--config-file` flag make sense. But if we choose to support multiple default files (eg- `config.yaml` and `hasura-config.yaml`), we will have to define a flag on `init` command to select which config file to populate the directory with.

I think removing `config.yaml` is possible if the user gives `--config-file` with each command they run (to locate the execution directory) or else

[2020-04-30 14:28] scriptonist commented on #4623
@cantaspinar you can safely ignore docs command

[2020-04-30 15:01] rrjanbiah commented on #4616
@leoalves Thank you so much. Would be better if this is documented somewhere. Thanks again.

[2020-04-30 15:01] #4616 closed

[2020-04-30 15:09] girishranganathan commented on #4558
Hey guys, sorry got sidetracked with other stuff. Thanks a lot for your timely replies.

@GavinRay97, yes it is V2. the issue was not that it was taking longer, if I triggered it manually, it will crash the container almost instantly. Sorry I cudnt get back to you sooner.

@tirumaraiselvan, yes, I just tested with v1.2 cli image and the issue was gone with the wind 👍

I will close this issue, but

[2020-04-30 15:25] nayangoswami-liquidnet opened #4627 "beta failing for where condition on postgres enums"
v1.2.0-beta(cli-migrations) is ending up throwing constraint error "field xxx not found" when applying where condition on postgres enum type column.

[2020-04-30 17:17] marionschleifer opened #4629 "docs: fix confusion about functions return types"
by @abooij

`Return type: MUST be SETOF <table-name>`
https://hasura.io/docs/1.0/graphql/manual/schema/custom-functions.html#supported-sql-functions

`Computed fields whose associated SQL function returns a base type like Integer, Boolean, Geography etc. are scalar computed fields.`
https://hasura.io/docs/1.0/graphql/manual/schema/computed-fields.html#computed-field-types

There is a seeming incon

[2020-04-30 17:17] zolamk opened #4630 "Hasura doesn't find custom type declared in a schema other than public"
When declaring a custom type in hasura in a schema other than `public` and trying to use it on a column, it's not being listed as column type, we can get past that by declaring the column using the SQL tool in data but then when trying to filter based on that column i keep getting a `constraint-error`

## for example

let's say i have the schema `interview` and i declare the following custom type

[2020-04-30 17:34] weyert commented on #1862
If you are going to regex for the email common field, please make sure the + is accept e.g. `username+github@gmail.com` should work, a lot of sites says the use of + is invalid.

[2020-04-30 17:44] lorenzo opened #4631 "Add a description field to events and actions"
While having good names on events and actions make understanding them easier, sometimes a new developer may be wondering how things fit together.

In the same way one would add a doc block on top of a function, it would be ideal to have documentation available for what events and actions do. This documentation, in the form of a description field can be displayed in the console for developers to co

[2020-04-30 17:46] lorenzo opened #4632 "Console table header in safari too high"
Please look at the screenshot for a view of the table header in the Safari browser

<img width="1237" alt="Screenshot 2020-04-30 at 19 45 40" src="https://user-images.githubusercontent.com/37621/80742133-2dfaa400-8b1b-11ea-8777-007bb499779f.png">

[2020-04-30 18:29] dsandip commented on #2329
@Manik747 Would love to chat about this. Could you please drop me a note at sandip@hasura.io?

[2020-04-30 18:32] medvesekg opened #4633 "Cannot insert more than 1 row simultaneously into table with generated columns"
# Using
- Hasura v1.2.0
- Postgres 12.2
# Steps to reproduce
1. Create a fresh Hasura app on Heroku
2. Create a table
![image](https://user-images.githubusercontent.com/25692818/80745107-12de6300-8b20-11ea-9ec6-5ed292c883b4.png)
3. Add generated column to table
[code]
4. Inserting a single row works fine
![image](https://user-images.githubusercontent.com/25692818/80745692-f7278c80-8b20-11ea-81ba-c

[2020-04-30 19:18] hector commented on #3478
@nolandg I like your solution and I made something very similar :)
Still, I believe this ability to have "group bys" in Hasura is very valuable and would be much better than the custom function solution.

[2020-04-30 19:53] TheRohitSharma commented on #2247
Did you ever have any luck with this, @szhang-ezypay ? I just started with Hasura a few days ago, and I'm not sure how to get subscriptions working because of that error.

[2020-04-30 21:28] MohiuddinM opened #4635 "Cannot insert a row containing a point type"
I am using the console to insert a row into a table containing geometric point type. I get the following error:

`invalid input syntax for type point: "{ "type": "Point", "coordinates":[12.9743387, 77.6030891] }"`

[2020-05-01 00:01] #4632 closed

[2020-05-01 04:51] gautambt commented on #4190
Oops! have updated the comment above with the right link! Thanks @weyert @macs91

[2020-05-01 08:00] rikinsk opened #4637 "cli: docs generation command fails"
the command to generate docs in `rst` format seems to have stopped working
[code]

[2020-05-01 10:33] redinggg commented on #4537
@tirumaraiselvan
If you create a function with arguments ```cases_free_row cases_free``` or any other
Then, when tracking a function, all the schemes will disappear and it will not be possible to request them

I create a function:
[code]
and keep track of him (https://hasura.io/docs/1.0/graphql/manual/api-reference/schema-metadata-api/custom-functions.html#id2)

As a result, all circuits disappear

[2020-05-01 14:43] Ahmad-Saleem opened #4642 "Anonymous access with Firebase"
I can not access to Hasura query (anonymous role) when I used firebase auth (without token),
I know I can access when signing in anonymously by Firebase, but I need to access Hasura before signing in.

[2020-05-01 14:45] EmrysMyrddin opened #4643 "Permission backend-only is only available for insert"
The new permission option `bakcend-only` is only available in the console for insert's permissions.

Is it intended ?

If not, it could be great to have `backend-only` permissions also for other permission types.

My use case is for an authentication backend which is using Hasura's endpoint to verify user's password. Which I don't want to be available outside of my authentication backend.

[2020-05-01 14:53] ntx-ben commented on #3959
Running into this issue while sending off 'add_remote_schema' requests to the query API in k8s environment where I was assuming an already existing remote schema would not give out a HTTP 400 error code.

[2020-05-01 15:31] fo-fo commented on #4487
@arvi3411301 Ahh, it was a user error after all. Somehow I thought `enable_telemetry` should be set to `false` in the `hasura/config.yaml` file (inside my project directory, not in my home directory). I was able to disable it just fine after editing `~/.hasura/config.json`.

Although I agree with @rikinsk that it would be better if the CLI would respect the server's setting. I also wonder if Hasur

[2020-05-01 16:53] perrosnk opened #4644 "[QUESTION] Full websocket support"
Is it possible to use Hasura with full websocket support (connecting with websockets for queries, mutations, subscriptions)?

[2020-05-01 17:43] georgiosd commented on #3981
This was caused by creating a unique index in Postgres instead of a constraint. Thanks!

[2020-05-01 18:27] ccalvarez commented on #4588
Hi.

I've followed this examples:  [#2729](https://github.com/hasura/graphql-engine/issues/2729)

I have this Dockerfile, maybe it can be a starting point, I'm using Alpine but I don't mind using another Linux distro.

My actual Dockerfile is this: (I am starting to use Docker and I don't have experience configuring Kerberos):

Dockerfile:

[code]

As you can see, I've commented the CMD line, if I

[2020-05-01 20:34] danielkcz opened #4645 "docs: document security for action handlers"
## Current behavior

By default, the action handlers have a single security layer - by obscurity. Unless action handlers URLs are predictable or stored somewhere (migration files in VCS).

The second "easy" protection layer is setting up roles for the backend while using the admin secret. That certainly helps prevent unwanted access to data but it still doesn't prevent anyone from calling that han

[2020-05-01 20:44] FredyC commented on #4642
I highly recommend you to spend more time with Hasura docs. They have one of the best ones I have seen...

https://hasura.io/docs/1.0/graphql/manual/auth/authentication/unauthenticated-access.html

[2020-05-01 20:52] aroraenterprise commented on #4645
Hey, I think you missed an important action feature.

You can set custom headers in actions in Hasura, which means that you can set a special token that only Hasura knows. I use an environment variable such as ACTION_SECRET in my heroku secrets. This action secret is only known by HASURA and is passed to my endpoint at every call. this is the only way I know for sure that my action was called by m

[2020-05-01 21:00] FredyC commented on #4645
You are right, I haven't realized that exists. I mean I saw that option there to use env, but I wasn't sure about how it can be useful for anything 🙈

I guess it should be at least documented in a better way. Maybe some blog article about securing actions could come out of this :)

Thanks for pointing this out.

[2020-05-01 21:20] haf commented on #4645
If you're e.g. on a LAN and get DNS poisoned, the attacker might learn the secret, if you keep sending it in plaintext every request; one single request is enough to impersonate until key rotation. Consider an HMAC scheme [alike that of Twitter](https://developer.twitter.com/en/docs/accounts-and-users/subscribe-account-activity/guides/securing-webhooks), and for increased security, consider adding

[2020-05-02 05:46] FredyC commented on #4645
@haf There is always a security risk and it's probably more relevant depending on how "lucrative" is your software for possible attackers. They can always find a way if it's worth their time.

@aroraenterprise Anyway, new day, new thoughts. I still think there is a value in Hasura providing a better built-in solution. It's nice you can have env value in the action, but it's a manual task and you c

[2020-05-02 05:56] shahidhk commented on #4644
@perrosnk Yes, Hasura supports executing queries and mutations over websockets apart from subscriptions.

[2020-05-02 07:06] rikinsk commented on #4603
Hey. Can you share some details on what project you're trying to run `npm run start` on?

[2020-05-02 07:09] rikinsk commented on #4590
You can follow this maybe https://hasura.io/docs/1.0/graphql/manual/getting-started/docker-simple.html

[2020-05-02 07:10] rikinsk commented on #4548
Should get fixed with #3667

[2020-05-02 07:41] ShahAnuj2610 commented on #1862
@rikinsk @beerose  I can work on this. Just to be on the same page, we need to add `fields` like `email`, `URL` in the `column_type` shown below, at the time of updating/inserting columns and check at the time of submission whether they're valid or not.

![](https://i.imgur.com/5mCxPnt.png)

[2020-05-02 08:06] schwamic opened #4646 "inconsistent responses for insert and delete permission violations"
## Use-Case-One

[code]

## Use-Case-Two

[code]

## Row permissions for both use cases (insert and delete):

<img width="1014" alt="Screenshot 2020-05-02 at 10 02 57" src="https://user-images.githubusercontent.com/18497277/80858820-360e2d00-8c5c-11ea-9613-775535c2bf54.png">
<img width="963" alt="Screenshot 2020-05-02 at 10 03 13" src="https://user-images.githubusercontent.com/18497277/80858822-37

[2020-05-02 08:14] rikinsk opened #4647 "console: enum tables reload data UI is buggy"
![Screenshot from 2020-05-02 13-41-44](https://user-images.githubusercontent.com/54616969/80858954-cbb8b500-8c7a-11ea-88a5-9a599b950738.png)

![Screenshot from 2020-05-02 13-44-16](https://user-images.githubusercontent.com/54616969/80858991-0de1f680-8c7b-11ea-8e60-e9b8da3b9feb.png)

Extra details regarding remote schema is present

[2020-05-02 08:28] cetchells opened #4648 "Upgrading to v1.2.0 from v1.1.0 breaks jwt auth permissions using roles"
I am using apollo-client with vue. I get my jwt which has the allowed roles
`'x-hasura-allowed-roles':['admin'],
 'x-hasura-default-role': 'admin'`
 This worked fine on v1.1.0.
After upgrading to V1.2.0 I now get ` 'Customer not found in type: 'query_root'` errors' on every query.

**It works if I add the admin secret header.**
`["x-hasura-admin-secret"]=xxxxxx`
So I guess its a permissions issue.

[2020-05-02 09:10] rikinsk commented on #4627
Hi. It's not clear what the exact issue you are facing here. If you could share a small sample schema with the query you are attempting to run it would help us debug this better

[2020-05-02 10:22] nayangoswami-liquidnet commented on #4627
@rikinsk , any postgres table with any one column of postgres ENUM type. Now when we query the table with where clause on ENUM column, we will face the given error.

[2020-05-02 10:54] FredyC commented on #4645
@marionschleifer Based on my last comment, I am convinced this is more than a docs update. I am proposing here a secure solution out of the box for the initial phases of the developed project. With the option to turn it off if more strict security is required.

[2020-05-02 14:34] perrosnk commented on #4644
@shahidhk So, how does authentication work with websockets? When using a webhook does the token get validated at the beginning of the connection or is it validated with each operation?
I couldn't find any document about it.

[2020-05-02 18:13] ajbouh commented on #2936
Hi, @clementd-fretlink! Would *love* to hear about your experience using them. Would you rather share your thoughts here or via a synchronous medium like chat or video?

[2020-05-02 18:16] hrgui commented on #1183
Is there a way to scale horizontally / vertically in kubernetes w/ the cli-migrations container?

Or should the process that does the migrations should be separated from the scaling? Because I imagine, if we run 3 of the cli-migrations container, they will all attempt to lock the DB due to migrations.

[2020-05-03 01:45] shahidhk commented on #4644
@perrosnk The authentication happens with `connection_init` when the websocket is connected and is valid until the expiry of the JWT (if using JWT auth mode) or as per the `Expires` header set on the webhook response.

Once authenticated, all operations are allowed without further check, until the authentication expires.

Tagging @marionschleifer to convert this to docs.

[2020-05-03 08:08] perrosnk commented on #4644
1. Does the websocket accept connection from anonymous users if I return x-hasura-role = anonymous from the webhook?

2. What do you exactly mean "all operations are allowed"? All operations according to the user-role? Are the hasura permissions getting validated against the user-role?

[2020-05-03 08:17] rikinsk commented on #4506
related #4633

[2020-05-03 08:23] rikinsk commented on #4488
Explorer issue tracked at #3322

[2020-05-03 08:58] ShahAnuj2610 commented on #4635
@MohiuddinM I don't think it's a bug. As per `POSTGRES` docs, the points syntax should be either `(12.9743387, 77.6030891)` or `12.9743387, 77.6030891` and I tried with both of them and it works.

![](https://i.imgur.com/n7mihSj.png)

Docs: https://www.postgresql.org/docs/current/datatype-geometric.html#id-1.5.7.16.5

cc: @rikinsk

[2020-05-03 10:53] Ahmad-Saleem commented on #4642
@FredyC I did, but I think i had the issue after upgrading it to the latest version, I just re-create hasura with the new version and it is working well now.

[2020-05-03 10:53] #4642 closed

[2020-05-03 10:54] Ahmad-Saleem commented on #4642
https://github.com/hasura/graphql-engine/issues/4648

[2020-05-03 12:21] webdeb opened #4650 "Context based Roles"
Right now, the permissions system works on roles which are part of the JWT, and custom conditions which you can set per role. This system is flexible enough to provide a basic operation permissions and field selection for each role.

However, we know that conditional based fields for setting/selection is not possible with one role.

To tackle this, I am proposing context based role feature, where

[2020-05-03 12:59] FredyC commented on #4648
Um, the admin role has implicitly permissions to everything and for that, you need to use admin secret. On the contrary, you shouldn't need to specify a role at all. I don't know how it worked in 1.1.0, I started with Hasura recently.

[2020-05-03 13:52] jchonde opened #4651 "cli: running cli migrations image as non root user will not have cli-ext installed"
Hello Hasura team,

This is what happen on a fresh dockerized Heroku application with `image hasura/graphql-engine:latest.cli-migrations-v2`

Here is what I am trying to deploy:

# repo

https://github.com/jchonde/obscure-hamlet-63320

# env vars:
[code]

# logs

[code]
...
[code]

Thanks guys. Keep up the awesome work.

[2020-05-03 17:04] grp06 commented on #1015
@michaelgu95 --- also wondering this. I'm able to make requests successfully within GraphiQL in Hasura's UI but when I make requests from the frontend with Apollo I'm not passing the x-hasura-access-key through. Did you figure this out?

[2020-05-03 18:50] haf commented on #4645
No, there are things that are proven correct, axiomatically, and then it's not a risk for all properties proven correct.

Me too. You should not send a secret, use HMAC, it's as easy and provides better security. Or in other words, there is no trade-off here; HMAC is just plainly a better solution than sending a secret with each request.

[2020-05-03 18:56] FredyC commented on #4645
@haf As much as HMAC sounds simple to you, it's not for me and I would dare to say for many others. I agree with you it would be nice to have a built-in more secure way, but it should start at "level 0" where it just sends the secret that can be just compared to env value. That's ideal solution for early development phases.

[2020-05-03 19:01] haf commented on #4645
I can explain it; it's not hard, it's really level 0! 👍 :) You have some shared secret, like you suggest to start with:

- shared secret
- incoming message
- incoming message hash (in a header)

Now you check whether;

`HMAC(shared secret, incoming message) = incoming message hash` and if that returns "true", you accept the message, otherwise you don't.

In Haskell;

[code]
from https://stackoverf

[2020-05-03 21:39] mrspartak commented on #877
I hope this will be implemented. I got a really simple example and curious why is this not a case for the most applications.
I got table users and all of them have a public page on my website, so you can check there avatar, nickname etc. Also, there are private data, that only available to the user and currently I ended up with creating role "profile", that I will use only in this place to select

[2020-05-03 22:30] teflorg commented on #4648
@FredyC I'm refering to  a client, in this case Vue authenticating using a JWT that contains the role, as per [the docs](https://hasura.io/docs/1.0/graphql/manual/auth/authentication/index.html) the token contains the role and claims, I also includes the X-Hasura-User-Id. If you look at 'Authentication options' its option 2. JSON JWT

[2020-05-03 22:53] ShraddhaAg opened #4653 "[RFC] cli: remove config.yaml"
Problem
-----------
As mentioned in #1558, users don't want be restricted by a specific project directory structure. Removing `config.yaml` will enable us in doing that.

Context
-----------

**Purpose of `config.yaml`:**
1. Provide configuration key values.
2. Get execution directory path (by validating project directory, which in turn, enables us to run commands from anywhere inside the hasura p

[2020-05-03 23:58] cetchells commented on #4648
It looks like I was storing  a value in `"x-hasura-role"` which was not admin, in the JWT, if I remove that it works again. So yeh don't store any app specific roles in there, not sure if that overriding, `'x-hasura-allowed-roles':['admin'], 'x-hasura-default-role': 'admin'` didn't seem to in v1.1.0

[2020-05-03 23:58] #4648 closed

[2020-05-04 00:08] Motoxpro opened #4654 "BUG: Console delete selected state inconsistency"
Amazing job on 1.2 and congratulations!

Just found this bug in the console.

![hasura-bug](https://user-images.githubusercontent.com/35399604/80929396-8b336700-8d60-11ea-89da-84e1831b8010.png)

Reproduction:

Select a row and delete it using the row delete (Not the global delete) and it will say the row is still selected until you refresh the page.

[2020-05-04 04:13] shahidhk commented on #4644
Yes, it will, and the role will be set to `anonymous`.

I meant whatever is allowed per that user role and session variables will be allowed.

Executing operations over HTTP and WS are no different except that one is a long-living connection, so make sure you set up ways to expire the connection with the authentication expiring.

[2020-05-04 04:13] #4225 closed

[2020-05-04 05:22] scriptonist commented on #4561
@ShraddhaAg @rikinsk @shahidhk Just to make sure I'm getting this across, this is what I'm thinking.

### `hasura init`
- During `init` we can make the CLI generate config file as `hasura-config.yaml` by default from now on.
- For backward compatibility, we'll consider`config.yaml` in addition to `hasura-config.yaml` as the default config filename.

### `--config-file`
- --config-file flag is set

[2020-05-04 06:02] #4653 closed

[2020-05-04 06:15] shahidhk commented on #4561
This sounds good.

Do we need both `config-file` bad `project` flags? Provided we're giving plenty of choices (config.yaml, hasura-config.yaml, .env), another flag for it seems overkill.

Also, by getting the project directory directly, we don't have to find the project root.

[2020-05-04 06:18] wawhal opened #4656 "console: make actions respect read-only mode"
Currently, actions and custom types do not respect read-only mode.

[2020-05-04 07:02] rikinsk commented on #4498
Closing this issue. Please feel free to reopen if there is more to add.

[2020-05-04 07:02] #4498 closed

[2020-05-04 07:06] clementd-fretlink commented on #2936
Hi, we could have a chat or a video call and write down the conclusions. I don't know hasura well, so that would give me more context

[2020-05-04 07:12] marionschleifer commented on #4362
This is now fixed in the docs: https://hasura.io/docs/1.0/graphql/manual/actions/action-handlers.html#http-handler.

[2020-05-04 07:12] #4362 closed

[2020-05-04 07:30] rikinsk commented on #4635
The issue here is that the console stringifies the point definition instead of passing it on as an object. Console needs to do a better job of figuring out when to stringify input and when to not.

[2020-05-04 07:39] wawhal opened #4657 "create an array relationship from table to event triggers"
It is for the console. We need the triggers on both browse-rows page (for invoking event triggers manually) and modify page for listing down the triggers. It'll be ideal if we can get it when we get the table's metadata.

[2020-05-04 09:42] amitava82 opened #4658 "Permission: one to many relationship"
I have tables `users` and `user_parents`. A user have many parents and `user_parents` is linking table.
[code]
[code]
A user should be able to update own parents.
[code]
I'm not sure how to model this permission. Seems like I need more than `X-Hasura-User-Id` session variable to check permission. I need to check X-Hasura-User-Id and updating id matches with user_parents table.

[2020-05-04 09:50] anisjonischkeit commented on #4362
The example on that page still seems to be the old format. Also, I would have thought that the intended behavior would be `action: string` (the way it was originally documented)... I can't see a use case for other things going into that actions object (when you do already have `input`), am I missing something here?

[2020-05-04 10:17] scriptonist commented on #4651
Hey, @jchonde thanks for reporting this!

For some reason, I was not able to reproduce this 🤔

This is what I did,
1. Cloned https://github.com/jchonde/obscure-hamlet-63320
2. Create a Heroku App and Postgres addon
3. Set `HASURA_GRAPHQL_DATABASE_URL` and `PORT` env vars
4. Pushed and ran the app
5. I see no errors

Can you help me out here?

[2020-05-04 11:09] ryands17 commented on #4314
Hey @beerose :wave:
I have created a PR and it includes some update to the typing of `react-router` and `react-router-redux` which is on par with the lib versions being used.

Also is there anything unassigned I could take on?

[2020-05-04 11:42] scriptonist commented on #4651
Hey @jchonde, this was caused because a plugin `cli-ext` required to read metadata files was not getting installed properly.

This happened because,
The `Dockerfile` which builts the `cli-migrations-v2` image has a step which will install the `cli-ext` plugin.

https://github.com/hasura/graphql-engine/blob/8a58ef8b0cca5e872385ddc20830bcfe9b809b4c/scripts/cli-migrations/v2/Dockerfile#L19

The catch

[2020-05-04 11:59] luke-j opened #4659 "Built-in authentication"
Authentication seems to be a extremely common addition to hasura. There’s several userland approaches to both webhook and JWT authentication, each taking slightly different approaches to auth.

Will hasura ever consider incorporating a built-in authentication layer?

[2020-05-04 12:41] AdityaAnand1 opened #4660 "Best practices for caching hasura responses in redis?"
I was wondering whether there are any officially recommended patterns for caching hasura responses to a redis instance.

Couldn't find any open issues/blog posts talking about this, here's what I have in mind:

1. Run a core server (for caching, auth) alongside hasura as a microservice
2. Add a middleware to intercept any graphql requests
3. Check if the exact request exists in redis, if so return

[2020-05-04 13:14] rikinsk commented on #4631
We typically allow adding comments to entities in Hasura.

It turns out it is already supported for [actions](https://hasura.io/docs/1.0/graphql/manual/api-reference/schema-metadata-api/actions.html#create-action) but it doesnt seem to be exposed on the console yet.

The same needs to be supported for [triggers](https://hasura.io/docs/1.0/graphql/manual/api-reference/schema-metadata-api/event-trig

[2020-05-04 13:16] rikinsk opened #4662 "console: display and allow setting action comments"
From: #4631

https://hasura.io/docs/1.0/graphql/manual/api-reference/schema-metadata-api/actions.html#create-action

[2020-05-04 13:16] marionschleifer commented on #1582
Closing this issue because it's not possible to access session variables anymore using current_setting('hasura.user') in custom functions. However, it is possible to declare a parameter in custom functions where you want Hasura to send the session variables. This is documented [here](https://hasura.io/docs/1.0/graphql/manual/schema/custom-functions.html#accessing-hasura-session-variables-in-custom

[2020-05-04 13:16] #1582 closed

[2020-05-04 13:45] marionschleifer commented on #4362
Hi @anisjonischkeit 👋 not sure if this is a caching problem with docs. Does the HTTP handler show up like this?:

[code]

[2020-05-04 13:52] anisjonischkeit commented on #4362
HTTP Handler shows up fine, example doesn't 🤔

[2020-05-04 14:06] marionschleifer commented on #4362
@anisjonischkeit you're totally right. I'll fix this right away! Thank you for reporting!

[2020-05-04 14:20] coco98 commented on #4659
@luke-j For now there aren't any plans to bundle authentication along with Hasura. With actions it is quite easy to put together a set of basic login/logout/forgot-password endpoints.

Our main reason for not adding authentication is because of the sheer amount of diversity that folks have in their authn setup. Especially for our enterprise users, packaging in authentication is not useful since th

[2020-05-04 14:20] #4659 closed

[2020-05-04 14:57] jchonde commented on #4651
Thanks @scriptonist really appreciated!

[2020-05-04 15:08] rikinsk commented on #4627
@nayangoswami-liquidnet Unfortunately I am not able to reproduce this issue on my end.

I have a table defined as follows with a column `day` which is of a PG enum type and I am able to query it

![Screenshot from 2020-05-04 20-33-15](https://user-images.githubusercontent.com/54616969/80980950-e3dd2f80-8e46-11ea-9277-262326d8f61d.png)
![Screenshot from 2020-05-04 20-34-37](https://user-images.gith

[2020-05-04 15:19] nayangoswami-liquidnet commented on #4627
@rikinsk , the table you have is correct in terms of what I'm having,
my postgres engine is **PostgreSQL 11.4** and docker I'm using is **hasura/graphql-engine:latest.cli-migrations**.

please close the issue if you cannot reproduce after this.
Thank you for your time.

[2020-05-04 16:03] GavinRay97 commented on #4627
Hey @nayangoswami-liquidnet,

We'd really like to get to the bottom of this issue. Could you please reach out to me at gavin@hasura.io to coordinate a call to resolve this for you?

[2020-05-04 16:35] oskery opened #4665 "Computed fields for relationship values"
What I am attempting is to create a computed field that sums a value from table A with another value from table B, where A and B has a relationship. I have followed your example in the docs (https://hasura.io/docs/1.0/graphql/manual/schema/computed-fields.html#scalar-computed-fields) and succeded with summing two values for the same table, but not succeded with adding another nested value (nested

[2020-05-04 16:36] IljaDaderko commented on #4268
I'm working on a RPG game where this functionality would come in very useful.

For example assume `equipItem` mutation that has only `itemId` as input. It triggers custom action at the moment that needs to query database for full character details in order to check if this item exists in equipment and update character stats.

Doing so inside say lambda function requires  a bit of "ceremony" with a

[2020-05-04 16:44] fkhadra commented on #4075
Are the screenshots below displaying the expected result ? If yes, I can submit a PR for this :)

<img width="800" alt="Screen Shot 2020-05-04 at 6 39 28 PM" src="https://user-images.githubusercontent.com/5574267/80990600-db7cf880-8e36-11ea-9962-b5fb41bd0c3c.png">

I've tested with different types just to be sure.
<img width="784" alt="Screen Shot 2020-05-04 at 6 40 24 PM" src="https://user-images

[2020-05-04 16:47] rikinsk commented on #4646
@schwamic This is by design. In the case of `insert` you get a permission error as you do not have permissions to insert the object you are trying. In the case of `delete` you do not get the permission error because that would be leaking information that the requested object exists. An object that you do not have access to should be treated as if the object does not exist at all. Hence an empty ar

[2020-05-04 17:41] yaynick commented on #413
@dziamid @shahidhk
Any advice on optimization techinques if there's really no way to store fragment schema server-side?

Use case: We have a real-time application that involves high frequency queries and mutations on a subset of 17 columns. Our network requirements are fairly strict and it would be great to avoid having to specify all 17 columns along with every http request.

We've already conver

[2020-05-04 17:49] lionelB commented on #4645
Is there something like described here https://developer.github.com/webhooks/securing/?#  for securing webhooks ?

[2020-05-04 18:01] haf commented on #4645
Yes, that's the algo described above

[code]

[2020-05-04 19:44] crosseyedalien commented on #4515
Thanks! We made some minor adjustments for our environment, but this solves the problem.

[2020-05-04 19:44] #4515 closed

[2020-05-04 20:08] sbarthelmess commented on #4540
I think pre-validation of mutations through event triggers is much-needed feature!

[2020-05-04 20:11] beerose commented on #4314
Hi @poul-kg, @mubaidr, @ryands17! I just added new items to the list. Hope you can find something interesting for you. Otherwise, you can suggest something you'd like to work on 😉

[2020-05-04 23:26] frossi85 opened #4666 "[Bug] Action's types definition"
Hi,

I am trying to create an action to call one of my rest endpoints but it seems that Hasura does not support fully GraphQL specs. Here is the action definition:

[code]

When I click on the Create button basically nothing is happening, there is not error or any feedback. So my guess was that probably union was not supported, even if it was part of GraphQL spec. So when I removed all the metadat

[2020-05-05 02:01] poul-kg commented on #4314
@beerose I would start with [Settings utils](https://github.com/hasura/graphql-engine/blob/master/console/src/components/Services/Settings/utils.js) and see how it goes

[2020-05-05 03:29] scriptonist commented on #4561
It makes sense to have a`--project` flag for now @shahidhk.
For config V2 the only file required to consider a directory as a project directory is `config.yaml` all other things are configurable. So I was thinking keeping the config file as context.
##### Other Suggestions
- Introducing `--config-file` flag and deprecating `--project`
- @arvi3411301 suggested having a flag which can accept both a

[2020-05-05 03:51] #4623 closed

[2020-05-05 06:31] shahidhk opened #4670 "cli: cli-migrations image fails if actions files are not present"
CLI migrations v2 image throws an error if the metadata directory does not contain actions.graphql, even though there are no actions in the project

I don't get the actions files when I export the metadata

[code]

[2020-05-05 06:56] shahidhk opened #4671 "cli: independent releases"
We need to make CLI releases without depending on the server release. GitHub releases are mainly focusing on the server release. Console patches can already be released without waiting for a server release because of the CDN.

I propose we move hosting the CLI assets to a Google Cloud Bucket so that we can publish CLI version independently. We can release patches of the format `v1.2.0+cli.1` etc.

[2020-05-05 07:13] HyeokSuLee commented on #3335
Hey. Anyone solve this problem?

[2020-05-05 07:17] rikinsk commented on #3335
This will be fixed soon on the console. For now you could directly use SQL via the `Data -> SQL` to do this.
[code]

[2020-05-05 07:29] mitar commented on #3335
One has also add it to a migration.

[2020-05-05 07:31] rikinsk commented on #4627
@nayangoswami-liquidnet We have another similar issue #4630 reported. Can you confirm if your enum was defined in a non-public schema as well?

[2020-05-05 07:41] rikinsk commented on #1862
@ShahAnuj2610 The final UX for this still needs to be finalised. As these are not native types supported by PG they will have to be achieved by using a type like text along with a check constraint. How this information will be presented to the user still needs some figuring out and will need some designs.

We'll try to update this issue with the final expected behaviour soon

[2020-05-05 07:41] beerose commented on #4075
@fkhadra Yes, for primary key columns only `Nullable` and `Unique` should be disabled, and `Default` should be enabled. For non-primary-key columns everything stays the same.

[2020-05-05 07:43] fkhadra commented on #4075
Ok cool. You can assign me the issue then :)

[2020-05-05 07:45] wawhal commented on #4666
Hey @frossi85
You ran into some limitations of custom types with Hasura.
1. It is currently not possible to define Interfaces and Union types as custom types
2. Hasura does not allow a field of an object type to be another object type, i.e. the fields of an object type can only be scalars and enums. For a more complicated structure, the object types can be connected to the rest of the graph via re

[2020-05-05 07:47] bobberkarl commented on #3023
Same today with 1.2.0.
![image](https://user-images.githubusercontent.com/13062328/81044913-29b7e900-8e83-11ea-8d4b-fe9d26677966.png)

[2020-05-05 08:10] marekdano commented on #4314
@beerose free to take `Sidebar` now.

[2020-05-05 08:22] rikinsk commented on #4658
i assume you have parent and children relationships set up across the two tables.

``user`` -> ``user_parents`` (``user_parents.child_id -> user.id``) -> ``parent`` (``user_parents.parent_id -> user.id``)
``user`` -> ``user_children`` (``user_parents.parent_id -> user_id``) -> ``child`` (``user_parents.child_id -> user.id``)

Then the permission rule for user table could be as follows:
[code]

[2020-05-05 08:24] nayangoswami-liquidnet commented on #4627
I confirm that the enum was defined in a non-public schema.

[2020-05-05 08:25] rikinsk commented on #4627
Awesome! Closing this issue as a dup and tracking it at #4630

[2020-05-05 08:25] #4627 closed

[2020-05-05 08:33] amitava82 commented on #4658
Thanks! it worked. I was missing one of the relations

[2020-05-05 08:33] #4658 closed

[2020-05-05 09:05] hamxabaig commented on #2269
This makes sense, our use case is to forward `Authorization` header to our remote schemas as well after webhook authenticates. But seems like webhook removes the authorization header.

[2020-05-05 10:52] dostalradim commented on #4496
Hi,

I have same issue with this binary https://github.com/hasura/graphql-engine/releases/download/v1.2.0/cli-hasura-linux-amd64 is it already solved?

Thank you!

[2020-05-05 12:05] mrspartak opened #4672 "Insert and update in one transaction"
Need help, please. Maybe there is a way to make this.
In my case, I need a transaction, when I insert a new row and get auto-increment id and then update another table with this new ID.

Example tables:
Images:
-id
-type
-url

User:
-id
-profile_picture_id -> Images.id

So, I'm uploading a new image, inserting information into table Image and updating User.profile_picture_id
I can make it in two r

[2020-05-05 12:55] D3CK3R commented on #3989
@dcultrera Any updates on this ticket?

[2020-05-05 14:30] wineapp opened #4674 ""Expected value of type geography" when inserting or updading point"
Hi Team,

I've created a stores tables with location column as Geography(Point) type. I've followed the schema from this [doc](https://hasura.io/docs/1.0/graphql/manual/api-reference/postgresql-types.html#geography).

[code]

when trying to insert via the console, I get an error "Expected value of type geography" for the **location** property
[code]

[code]

Also this following error:
[code]

I've

[2020-05-05 16:51] bialad opened #4676 "JWT payload as variable"
I'm looking into refactoring a current app to use hasura as a backend.

In my current solution I use a JWT payload properties as a query parameter, and I want to do something like this:

[code]

I can't find any documentation saying this is possible, only to limit access through role permissions. Is this scenario supported?

[2020-05-05 17:32] frossi85 commented on #4666
I did not get this:

[code]

I read the docs but not sure how that can be achieved with my current API. Are you suggesting that I split my API in 2, one for the root object, and other for the metadata object and then relate them in some way?

Also, the Hasura team has plans to implement Interfaces and Union types as custom types? If it is a yes, do you have an estimate like 2020 Q4 or some approx?

[2020-05-05 17:48] frossi85 commented on #4666
Also in cases like this, I think that having a way to define some mapping function in the actions to map API responses to the output type, plus cache over those API calls and relationships between Actions not only with a table will solve this issue without implementing that objects can contain objects.

How? In my example, I would create two actions calling the same API URL, in one I would define

[2020-05-05 20:07] franciscolourenco opened #4678 "Computed fields of functions which return a single row should return a single object"
### Actual:
Querying a computed field defined by a function which `RETURNS table_name`, results in an array of objects, same as if the function was defined with `RETURNS SETOF tablename`

[code]

### Expected:
A function which `RETURNS table_name` should result in a single object, because the function can only return a single row.

[code]

### Notes:
The [hasura docs](https://hasura.io/docs/1.0/gr

[2020-05-06 00:29] leoalves commented on #4676
There is already an open issue for this same request here:
https://github.com/hasura/graphql-engine/issues/2760

[2020-05-06 00:42] leoalves commented on #4674
Hi wineapp,

I just followed the same steps to reproduce in Hasura v1.2.1 and it worked for me.

Checking the error I can see the structure of the table is not the same as the one to reproduce.  Also the error message says "You need JSON-C for ST_GeomFromGeoJSON", for me this says that the location field type is `Geometry` and not `Geography`.

If you field is Geometry you need to pass the SRID an

[2020-05-06 00:47] leoalves commented on #4674
Looking at the POSTGIS docs the error `You need JSON-C for ST_GeomFromGeoJSON` means that you will need to install JSON-C support in the database machine.

`If you do not have JSON-C enabled, support you will get an error notice instead of seeing an output. To enable JSON-C, run configure --with-jsondir=/path/to/json-c. See Section 2.5.1, “Configuration” for details.`

https://postgis.net/docs/ST_

[2020-05-06 00:49] leoalves commented on #4672
@mrspartak,
You can do nested inserts.
https://hasura.io/docs/1.0/graphql/manual/mutations/insert.html#insert-an-object-along-with-its-related-objects-through-relationships

[2020-05-06 01:55] dcultrera commented on #3989
Hi @rhyslbw and @D3CK3R so sorry for being MIA. I haven't been able to spend time on this, so if anyone would like to have a go, I'd appreciate it!

[2020-05-06 02:50] raitucarp commented on #3124
I encounter this issue

[code]
- my table is case sensitive, and snake case
- I think maybe there are functions above before CREATE TABLE, that uses public.market as a relation in a query.
- I've tried to replace all public.market with "public"."market", and still encounter this error.

Do you have a suggestion to fix this migration error?
Maybe migration create should put all CREATE TABLE and all

[2020-05-06 03:11] hgiasac commented on #4676
@bialad You can create a view that get users with enforced current `x-hasura-user-id` permission.

[code]
Then you can get current user without any input variables

![Screenshot_20200506_100931](https://user-images.githubusercontent.com/1615675/81135296-bea10c00-8f81-11ea-9600-73bada897198.png)

[2020-05-06 06:02] mrspartak commented on #4672
@leoalves
I know about the nested insert. But I need an update and insert

[2020-05-06 06:39] bialad commented on #4676
@hgiasac Yeah, that’s what I did. But it’s a little hacky, and potentially inefficient depending on the hasura implementation.

If the id check gets applied before query it’s fine, but if the check gets applied after the query it would fetch the entire table each time.

[2020-05-06 06:42] bialad commented on #2760
@dsandip Did you ever look into this issue?

@macalinao This is the way I do it in my current application. As long as the injection is done after validating the token, in my opinion this raises security by not allowing the caller to specify any invalid query variables.

[2020-05-06 07:03] honeycruse commented on #2553
I am using `docker-compose.yaml` for development, bind cert file to `/etc/ssl/certs/`:
[code]

[2020-05-06 07:06] hgiasac commented on #4676
@bialad In both ways, Hasura builds similar SQL query. If you use session variables as input GraphQL query, the internal logic is still the same:

[code]

I don't think it affects performance. Postgres is also smart enough to optimize query plan on simple queries. Premature optimization doesn't help here

**Input Variables:**

[code]

**Permission:**

[code]

[2020-05-06 07:24] bialad commented on #4676
@hgiasac Thank you. I'm not an expert on SQL, that's why I use projects like this. ;)

In this example, is `'9ab17e34-5829-4b11-8623-d0054426b8b0'` the content of your X-Hasura-User-Id? Cause then it does just what I expect.

What does the extra added lines do, seems to just add an additional check to the query?

[code]

[2020-05-06 07:37] hgiasac commented on #4676
@bialad
|> In this example, is '9ab17e34-5829-4b11-8623-d0054426b8b0' the content of your X-Hasura-User-Id? Cause then it does just what I expect.
Correct.

|> What does the extra added lines do, seems to just add an additional check to the query?

This extra check for the case that your permission rule value is NULL, for example:
[code]
However, `(('9ab17e34-5829-4b11-8623-d0054426b8b0') :: uuid)

[2020-05-06 08:15] rikinsk opened #4683 "console: editing permissions manually seems to have stopped working properly"
It's not possible to edit the JSON string in the permissions section.

**Current behaviour:**
![2020-05-18 at 19 43 30 - Peach Bat](https://user-images.githubusercontent.com/9019397/82243456-f0ca4a80-993f-11ea-8925-11c000d817fe.gif)

**Previous behavior:**
<img width="400" src="https://user-images.githubusercontent.com/9019397/82243912-a9908980-9940-11ea-9441-19ed32c87d0e.gif" />

[2020-05-06 09:05] ryands17 commented on #4314
Hi @beerose ,
I can take [Settings Container](https://github.com/hasura/graphql-engine/blob/master/console/src/components/Services/Settings/Container.js) and [Sidebar](https://github.com/hasura/graphql-engine/blob/master/console/src/components/Services/Settings/Sidebar.js) after making suggested changes on the previous PR :)

[2020-05-06 10:48] Motoxpro commented on #4672
Nested updates are on their way https://github.com/hasura/graphql-engine/pull/3852

You can achieve what you are trying to do with https://hasura.io/docs/1.0/graphql/manual/mutations/upsert.html

Insert the image with the fields `type, url` leave `id` for the `image` blank and it will be generated automatically.
Then, nest your `user` with, `id` and leave the relationship blank. Hasura will handle

[2020-05-06 11:28] rhyslbw opened #4687 "allowList property omitted during application of metadata snapshot"
_I've prepared a [minimum reproduction](https://github.com/rhyslbw/hasura-allow-list-min-reproduction)
Docker image `hasura/graphql-engine:v1.2.1.cli-migrations`_

The `allowList` property from the provided snapshot is not applied on startup, as demonstrated by a subsequent export of the metadata with no changes:
## Starting with
[code]
### After container starts
[code]
### Remove, then manually r

[2020-05-06 11:30] jgoux opened #4688 "hasura-cli: emitting a schema.graphql file on every changes"
Hello,

It would be great that hasura-cli had an option to emit a `schema.graphql` file to a destination path whenever the schema changes.

It would be a great DX improvement for codegen tools like relay and graphql-codegen and I assume it could be easily integrated within the hasura-cli toolchain.

Relay recommends using `get-graphql-schema` but we have to manually download the schema everytime i

[2020-05-06 11:52] mrspartak commented on #4672
@Motoxpro thank you. This should work but looks really hacky. Cause I still have to present not the only ID of the user but have to meet all the constraints (for example present all not nullable keys here too).
Hope nested updates are on the way.

And the part of the primary key. We use placeholder images, so we don't really care if some data exists or not.

[2020-05-06 12:36] Toub opened #4689 "show tooltip / suggestion for using action handler templates in console"
I would like to be able to define action trigger URL from environment variable, exactly as I am able to define trigger webhook URL from environment variable:

__TRIGGERS__

![image](https://user-images.githubusercontent.com/367762/81177059-c1febc80-8fae-11ea-8cb8-b56c4cad0cdd.png)

__ACTIONS__

![image](https://user-images.githubusercontent.com/367762/81177118-d5aa2300-8fae-11ea-9338-0c60d8bc884f.

[2020-05-06 12:43] rikinsk commented on #4689
@Toub This is possible to do. Though the behaviour is a little different than the event trigger. You can see the note about URL templating in the [actions docs](https://hasura.io/docs/1.0/graphql/manual/actions/create.html#step-2-create-the-action-handler) for more info.

Do let us know if this doesnt solve your requirement

[2020-05-06 12:43] marekdano commented on #4314
@beerose free to take `Telemetry (Redux actions)`

[2020-05-06 12:44] rikinsk commented on #4689
This behaviour can be made easier to discover via a simple note / tooltip in the console. WIll use this issue to track that

[2020-05-06 12:53] Toub commented on #4689
Thanks @rikinsk

That's great and much better, as we don't have to define an environment variable for each endpoint!

Is it also available for triggers?

BTW, your suggestion to add a simple note about this in the console is a good idea (I tried but it fails as I used this format: ${MY_SERVER}/api/endpoint

[2020-05-06 13:29] kaniak274 opened #4691 "Not getting any headers in POST request body in auth hook"
Hello everyone,
I've tried to configure auth hook using POST method but I'm not getting any headers in the request body and I have no idea what I have done wrong.

My docker-compose.yml config:
[code]

EDIT:
Query looks like this:
[code]

[2020-05-06 13:32] akshay5995 commented on #3469
@lexi-lambda What's the decision on how to handle this ? Is it going to be just an alert in the browser like @delirehberi I'm asking as it's labelled under `c/server` and not under `c/console`. I'd like to pick it up either ways. Thanks

[2020-05-06 14:13] thinknirmal commented on #3919
Aren't Cognito JWTs always RS-256?

From here: https://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-user-pools-using-tokens-verifying-a-jwt.html#amazon-cognito-user-pools-using-tokens-step-2

[2020-05-06 15:00] KATT commented on #4683
+1

[2020-05-06 15:02] tirumaraiselvan commented on #3606
One idea is to have a default schema per role (default: public). Say, a role called **tenant1** can specify that it's default schema is `tenant1` . Then the public schema tables can get a prefix like `public_users` and `tenant1` schema has no prefix and can query simply like `users`.

[2020-05-06 18:27] marionschleifer opened #4694 "Hasura Con 2020 CFP"
Hey there, we are so excited that you're interested in speaking at the first ever Hasura Con (our online Hasura conference)! The talks will be held from 9am - 12 pm PST on 8th, 9th & 10 of June.

This is a conference for our users & the community! We'd love to hear you speak if you are using Hasura in your applications, are part of the community, building tooling around Hasura or work at a company

[2020-05-06 18:53] Motoxpro commented on #4672
@mrspartak No worries. Like I said, if you want to be able to do what you are talking about you need to generate the ids on the client, otherwise, nested updates or not, it will always look like that there is no way around that if you are auto-generating ids.

e.g. in a transaction

[code]
[code]

[2020-05-06 19:35] #4672 closed

[2020-05-06 20:16] ElixirMike opened #4695 "export_metadata doesn't include field info?"
I am looking at trying to use replace_metadata API call to push fresh changes to Hasura, instead of having changes fetched from postgres.

To test this, I used the export_metadata api call to get the current version of metadata. However, when I look at it, it does not contain any field level info within the tables?

To test this, I exported the metadata. I then did a run sql command and added a ne

[2020-05-06 21:56] coco98 commented on #4391
@rikinsk @marionschleifer Let's add this to.our docs as well. We should improve actions docs to have lots of different relationships as examples including this.

[2020-05-07 01:33] adav commented on #4651
The workaround sorted me out as well! Many thanks indeed :)

[2020-05-07 01:37] dvasdekis commented on #1649
Am having the same problem

[2020-05-07 02:16] jchonde commented on #2483
I would expect the webhook url to behave like the action's http handler. eg: `{{SERVICE_BASE_URL}}/my_endpoint`

[2020-05-07 03:07] kshitijk83 commented on #4314
@beerose, i would like to work on `CollapsibleToggle` component

[2020-05-07 03:21] fred8617 opened #4696 "is there any plan for filter in aggreate in nodes filed"
i want to make a subscribtion table ,but  graphql only support simple field in root.
i need to use 2 subscribtion to complete count and nodes
![image](https://user-images.githubusercontent.com/35049517/81250994-e2815200-9054-11ea-99a6-e351e4773619.png)

[2020-05-07 06:07] #4691 closed

[2020-05-07 06:11] ShraddhaAg commented on #4561
Blocked by #4668

[2020-05-07 07:33] #4637 closed

[2020-05-07 07:51] rikinsk commented on #4689
@Toub Unfortnately its not available for triggers yet. There is an open issue at #2483

[2020-05-07 07:55] rikinsk commented on #4688
As a workaround in the meanwhile, steps to manually export the GraphQL schema are documented [here](https://hasura.io/docs/1.0/graphql/manual/schema/export-graphql-schema.html)

[2020-05-07 08:01] rikinsk commented on #3124
@raitucarp Are you facing this issue while applying migrations? in that case the exact sql command causing the error would help debug further. Also, if there are no capital lettes involved, `public.market` should behave the same as `"public"."market"` and hence this issue is most likely due to something else.

[2020-05-07 08:14] rikinsk commented on #4695
@ElixirMike When new columns are added to a table that is already tracked, the new columns will automatically be added to the GraphQL schema whenever it is refreshed. The GraphQL schema is refreshed everytime the server starts, metadata is imported or when the reload_matadata API is hit.

[2020-05-07 08:45] scriptonist opened #4699 "cli: sign and notarize macos binaries"
Refer:
- [Terraform Thread](https://github.com/hashicorp/terraform/issues/23033)
- [Gon](https://github.com/mitchellh/gon)

[2020-05-07 09:10] raitucarp commented on #3124
@rikinsk As I said before

My suggestion is `hasura migrate create` should grouping `CREATE TABLE` before any other command. ie: create function.

[2020-05-07 12:11] mubaidr opened #4701 "[graphql-engine] Unable to override port"
`graphql-engine` always starts on default port `8080` even if the port is specified.

[code]

Version: hasura/graphql-engine:v1.2.1
Running in Docker on Windows

[2020-05-07 12:47] ElixirMike commented on #4695
so, in the case where I have a table tracked and for permissions I have specified the wildcard * for the columns...when I run a sql satement to add a new column/drop a column, the actual metadata will not have changed, yet I know it won't see those changes by default. Does that mean, I can add a column via api with flag for check_metadata_consistency = false and simply call reload_metadata in orde

[2020-05-07 13:08] scriptonist commented on #4701
Hey @mubaidr 👋 , I think you are looking for `--server-port`
https://hasura.io/docs/1.0/graphql/manual/deployment/graphql-engine-flags/reference.html#command-flags

[2020-05-07 13:14] mubaidr commented on #4701
But the `graphql-engine` binary help points to `--port` usage. anyway thanks.

[2020-05-07 14:16] aroraenterprise opened #4702 "Actions: Categorize in console by Query/Mutation"
Since we have two types of actions now, I think it would be great to have them categorized in the console by Query or Mutation.

[2020-05-07 14:29] praveenweb commented on #4702
Related #4438

[2020-05-07 14:39] coco98 opened #4703 "Add docs on how to make remote schemas and actions relay compatible"
Depends on #721

We should add notes on how remote schemas and actions will work with Hasura's relay graphql endpoing.

[2020-05-07 16:35] mubaidr commented on #4701
I think `graphql-engine` cli has more bugs. e.g. when passing `--enable-console false` to the `serve` command raises error:

command:
[code]
Error:
[code]

[2020-05-07 17:59] henghonglee commented on #2311
Heyy is it kosher to allow overriding of `__typename`, seems like we could easily get this to work
[code]

[2020-05-07 18:03] henghonglee commented on #2323
Heyy, is it kosher to allow overriding of `__typename`, seems like we could easily get this to work, or is that too hacky?
[code]

[2020-05-07 18:39] beerose opened #4704 "console: missing suggested default functions for frequently used types"
### Steps to reproduce
1. Go to either `New table` or to the `Modify` tab for the existing table.
0. Go to _Columns_.
0. Choose column type from `Frequently used types` list.
0. Go to `default_value` input.

    **Actual result:** we don't show a list of suggested default functions.
    <img width="300" alt="Screenshot 2020-05-07 at 20 13 22" src="https://user-images.githubusercontent.com/9019397/

[2020-05-07 19:14] darrenbutcher commented on #2205
There was an awesome video I saw awhile back about JWT authorization, understanding the place of Session IDs, JWT Tokens and a "better" approach [100% Stateless with JWT (JSON Web Token) by Hubert Sablonnière](https://www.youtube.com/watch?v=67mezK3NzpU).

My auth experience is limited and still trying to warp my head around its complexity, however the idea presented in the video seemed to make se