[2019-08-13 13:24] #1751 closed

[2019-08-13 13:34] jjangga0214 opened #2724 "Let's make resetting(squash) migrations EASY!"
Migration files can easily be piled up. So "squash" feature would be required in some projects. According to <https://blog.hasura.io/resetting-hasura-migrations/>, in order to squash, we should do

1. Remove every migration files (`rm migrations/*`).
2. Remove whole data from the table `hdb_catalog.schema_migrations` (`TRUNCATE hdb_catalog.schema_migrations;`)
3. Pull the metadata (and optionally

[2019-08-13 13:55] jjangga0214 opened #2726 "tracking all suggested relationships in console has to be documented"
Hasura recommends relationships, based on foreign keys. So users just can "click" the button to create the relationships like this image.

![Screenshot from 2019-08-13 22-50-06](https://user-images.githubusercontent.com/28584151/62947382-61769080-be1d-11e9-9ac7-c73c13987ae3.png)

However, for existing databases with 'many' tables, manually clicking all the buttons is so tedious. Therefore I reques

[2019-08-13 14:19] kudep commented on #2362
This issue was resolved other way, thanks for your paid attention.

[2019-08-13 14:19] #2362 closed

[2019-08-13 15:53] praveenweb commented on #2088
Fixed in #2194

[2019-08-13 15:53] #2088 closed

[2019-08-13 16:51] gitxav commented on #2715
Sorry Marion for delayed response. You are right: entering the admin secret in console restores the schema.

Cheers!

[2019-08-14 01:15] mthota15 opened #2729 "Customize Docker Image"
Our RDS Password is KMS Encrypted and we have to decrypt the password in the docker image during runtime. We usually use aws cli with jq to decrypt the password in docker containers. We would like to use the same approach with Hasura docker container but not sure how to install aws cli and jq dependencies in the container.

Any guidance is appreciated.

[2019-08-14 03:26] hgiasac commented on #2633
Hi @hynra, sorry for late reply. Did you resolve this issue?
I think it need to troubleshoot further steps to know the root cause:

- Is GraphQL Engine behind some reverse proxy such as nginx, apache... and there is some redirect rule, custom header configs. If yes, try do run backup on internal endpoint
- If you got sql file, try to run it on Postgres directly to see if the error is same with gra

[2019-08-14 03:33] danoc commented on #2326
Hi @pronevich — Have you learned anything about this? I've started playing around with this since it's much simpler than the Kubernetes setup.

[2019-08-14 04:28] jjangga0214 commented on #2722
In my humble opinion, this should be done on the infrastructural/architectural level, not on application(hasura) level. For example, on premise, a firewall can be placed forward. On cloud, security policies (e.g. "security group" on AWS) would handle it. Or hasura can be placed inside of VPC, if it is not exposed to client apps, but only consumed by other services which faces clients.

This can be

[2019-08-14 05:28] rakeshkky commented on #974
Implemented in https://github.com/hasura/graphql-engine/pull/2452

[2019-08-14 05:28] #974 closed

[2019-08-14 06:09] ecthiender commented on #2726
If you go to the main "Data" page, it will list all relationships that can be tracked, under "Untracked foreign-key relations". You can just click on the "Track All" button to track them all.

![Screenshot_2019-08-14 Schema - Data Hasura](https://user-images.githubusercontent.com/616387/62998027-da123700-be87-11e9-8b82-e63efa09ab7a.png)

[2019-08-14 06:11] marionschleifer commented on #2715
@gitxav glad the problem is resolved 🙂 closing this issue.

[2019-08-14 06:11] #2715 closed

[2019-08-14 06:31] hgiasac opened #2730 "Mismatch variable binding in multiple default arguments function"
Versions:

- Hasura GraphQL version: v1.0.0-beta.4 using docker

## Problem

If we have multiple default arguments, argument binding value will be mismatched when user didn't input enough values in correct order. For example, we define a function with 3 arguments. Last 2 arguments have default values

[code]

In GraphQL, we will request this function query with 2 arguments `a` and `c` only.

[code

[2019-08-14 07:05] #1290 closed

[2019-08-14 07:06] #1915 closed

[2019-08-14 07:17] jjangga0214 commented on #2726
@ecthiender Great! Thank you for letting me know that!

[2019-08-14 07:21] jjangga0214 commented on #2726
@ecthiender Then what if docs explicitly mentions this feature? If so, users would not have to waste their time by just not knowing this feature. Currently, as far as I know, docs doesn't say this feature.

[2019-08-14 07:26] hynra opened #2732 "Postgres query error after implement audit"
Version: `v1.0.0-beta.4`

Steps to reproduce:

  * Apply log audit with guide from [Documentation](https://docs.hasura.io/1.0/graphql/manual/guides/auditing-tables.html)

  * Audit a table: `select audit.audit_table('users');`

  * Run mutation via console:

[code]

  * Return error with the result:
[code]

After apply `audit` on a table, cannot operate `mutations`, but `query` is fine

[2019-08-14 08:10] marionschleifer commented on #2065
@httpsOmkar thank you for the Keyclock + Hasura boilerplate 🙏 We added it to our community wiki: https://github.com/hasura/graphql-engine/issues/2619. I'm closing this issue.

[2019-08-14 08:10] #2065 closed

[2019-08-14 08:10] hynra commented on #2633
I solved this issue by running migration on the remote server and exclude `caddy` from `docker-compose.yaml`. We running Hasura on an existing database with a monolith architecture, we have like 80+ tables and thousands of data. When I run a manual migration, It's like take sometimes that `Caddy` rules cannot handle that (timeout or something).

This is my `docker-compose` based on Hasura doc in p

[2019-08-14 08:53] Giorat commented on #1183
Any news on the subscriptions polling the db as @pjoe already asked?

[2019-08-14 09:08] marionschleifer commented on #2720
@jjangga0214 this package was not added by us. I now contacted the author and asked if he would transfer the package to us 🙂

[2019-08-14 09:16] marionschleifer commented on #2553
@marcpar can you give us some more information for us to understand what the problem might be? For example the full request that you're sending, as well as logs.
In the meantime, please check out the webhook authentication docs here: https://docs.hasura.io/1.0/graphql/manual/auth/authentication/webhook.html if you haven't already done so 🙂

[2019-08-14 10:03] jjangga0214 commented on #2720
@marionschleifer I think it'd be convenient to publish npm hasura by wrapping hasura cli.

[2019-08-14 10:07] marionschleifer commented on #1183
@pjoe @Giorat sorry for the delay in answering your question.

I would like to refer you to this article: https://github.com/hasura/graphql-engine/blob/master/architecture/live-queries.md. This talks about the current architecture and about how we can handle 1M concurrent subscriptions in our benchmarks.

After lot of experimentation, polling with multiplexing of similar queries turned out to be m

[2019-08-14 13:16] nagautier commented on #91
:+1:  Hack works fine, but it would be cool to have materialized views discovered :).

[2019-08-14 15:50] bkniffler opened #2733 "Sudden unexpected : permission denied for table hdb_schema_update_event"
Hi,
I'm using graphql-engine (beta.3) deployed via 1-button from your docs. It has been running nicely for a couple of weeks and I created a schema, inserted data etc. Now, all of a sudden, I'm getting the following error on admin console:

[code]

I've cleared my browser cache and logged in again (I'm using a secret to protect the database instance), I've updated to beta.4, restart the dyno, noth

[2019-08-14 15:58] bkniffler commented on #2733
Nevermind, this error pops up if the database exceeds the heroku limits :)

[2019-08-14 15:58] #2733 closed

[2019-08-14 18:17] marionschleifer commented on #2633
Glad to see that this issue is resolved. I'm closing it 🙂

[2019-08-14 18:17] #2633 closed

[2019-08-14 18:45] kbighorse commented on #1773
I've used https://www.enterprisedb.com/ as a drop-in PostgreSQL replacement for Oracle, just as a possible workaround.

[2019-08-14 19:22] macalinao commented on #2688
is there an ETA on when this is going to be released? :smile:

[2019-08-14 21:20] aprakash-sovrn commented on #2662
looks like this works now, thanks!

[2019-08-14 21:20] #2662 closed

[2019-08-15 05:13] jordanmkoncz commented on #140
Here's another example of a working `docker-compose.yaml` that's a bit simpler than the one provided by @jjangga0214. It's based on the 'official' one located at https://github.com/hasura/graphql-engine/blob/master/install-manifests/docker-compose/docker-compose.yaml.

The changes are:

- It's using the latest compose file format (`3.7`).
- It specifies the Postgres version explicitly.
- It makes

[2019-08-15 05:50] jordanmkoncz commented on #2375
@tirumaraiselvan I feel like this issue should remain open.

It seems to me like replacing the entire metadata of the system would be overkill if you just want to be able to manage your event triggers in a way that can be version controlled. Please correct me if I'm wrong though, and if it's considered 'normal' to be replacing the entire metadata of the system for this sort of purpose.

Then if yo

[2019-08-15 10:57] vikastomar5983 opened #2735 "Hasura Performance runtime params"
We are planning to use Hasura Graphql in a new project we have just started working on and for that have been doing a poc. As part of poc we noticed that when the number of users/sockets reach around 200 the subscriptions are taking longer time. Are there any runtime params I need to pass to improve it?  Also, Interested in knowing if there is a way to specify
- number of db connections in postgre

[2019-08-15 12:29] vikastomar5983 opened #2736 "Missing updates on the subscription"
I am working on a poc to use Haura as gui backend for blotter subscriptions.  I have noticed that with ~200 blotter/websockets and when the frequency of updates on the postgres table( the blotters/websockets are subscribing to) increases, then some of the in-between updates on the table are lost and only the latest update is sent to blotter/websocket user.

POC :

Hasura : v1.0.0-beta.4, Unix Box

[2019-08-15 13:31] nh2 commented on #724
Hey, you may also consider using [static-haskell-nix](https://github.com/nh2/static-haskell-nix) for this.

It has support for building stack projects, and would make it possible to build the static binary on any Linux distribution where the nix package manager can be installed.

It would also give the benefit that your static executable is fully reproducible because all dependencies, inclusive sy

[2019-08-15 14:04] shahidhk commented on #2729
@mthota15 Can you not decrypt the password and provide it as an environment variable?

Our docker image is highly optimised and it will not be possible to install the required tools on that.

You'll have to build a custom docker image with a dockerfile that might look like this:

[code]

PS: this is not tested.

[2019-08-15 14:52] mthota15 commented on #2729
Thanks @shahidhk, It helped.

Here is my Dockerfile

[code]
entrypoint.sh:

[code]

[2019-08-15 14:52] #2729 closed

[2019-08-15 15:23] colundrum commented on #724
Hello @nh2,
Thanks for the link and I'll try it today

[2019-08-15 21:13] mdp commented on #1471
Is this just better handled with JWKs? It seems like rotation is built into JWK, vs trying to fit rotation into an environment variable.

[2019-08-16 07:26] wawhal commented on #2660
Hey people! Sorry for the delay in response.
[This PR](https://github.com/hasura/graphql-engine/pull/2686) fixes all these issues related to admin-secret, login and graphiql headers. It set to be merged soon.

Thanks for reporting the issue @scheung38 :)

[2019-08-16 07:39] loganpowell commented on #574
Service workers also enable `GET` fetches to be intercepted, but not `POST`, so for the new hotness, `GET` is the new `POST`

[2019-08-16 08:14] r-moore commented on #1725
Would be nice if you could load vars from .env in config.yaml, e.g.

[code]

[code]

[2019-08-16 09:08] marionschleifer commented on #2711
@mnlbox I'm closing this issue. Feel free to re-open if you have anything to add 🙂

[2019-08-16 09:08] #2711 closed

[2019-08-16 09:19] rikinsk commented on #2636
Resolved in #2693

[2019-08-16 10:12] 0x777 commented on #2735
@vikastomar5983 What's the subscription that you are using in the benchmark? And how are the arguments varied?

[2019-08-16 10:34] tobeee commented on #2362
I'm having this same issue when connected to an existing database on Heroku. Ideally I'd not like to have to set the owner to my Hasura user. The user does have full read/write access so not sure why it can't create the relevant tables

[2019-08-16 11:25] tirumaraiselvan commented on #2688
@macalinao This has been fixed here https://github.com/hasura/graphql-engine/pull/2739 and should be out in the next release

[2019-08-16 12:12] juliejk commented on #2730
My team has just updated to beta 4 and came across the same issue. The issue could be related to not using named parameters when parsing the arguments. The order of which we send the arguments has to be the same as in the custom function. In our case we have several arguments and it is hard to get the order correct each time.

If you send in
[code]

[2019-08-16 12:19] tirumaraiselvan commented on #2501
@FabianKramm Here is the PR for this feature: https://github.com/hasura/graphql-engine/pull/2740

[2019-08-16 12:21] FabianKramm commented on #2501
@tirumaraiselvan Perfect! Thanks so much!

[2019-08-16 13:08] tirumaraiselvan commented on #2375
Let me gather my thoughts around having `replace: true` work as an upsert.

[2019-08-16 13:49] dariocravero commented on #704
How about adding a parameter to delete mutations that specifies the behaviour of `where: {}`? eg, `allow_delete_all: boolean`? if it defaulted to true it wouldn't change the existing behaviour.

[2019-08-16 14:52] mduecker opened #2741 "Accidental delete of all rows in react-admin (using ra-data-hasura data connector)"
I just tried out react-admin with Hasura and used the [ra-data-hasura](https://github.com/hasura/graphql-engine/tree/master/community/tools/ra-data-hasura) data connector for that.

When selecting a single entry in my "Jobs" resource and then clicking "Delete" it will ultimately remove all rows in my jobs table.

# How to reproduce?
This is the request generated by ra-data-hasura:
POST https://<HA

[2019-08-16 21:35] #2070 closed

[2019-08-17 05:30] mwood23 opened #2743 "Redirect Behavior Unexpected Using Digital Ocean with Caddy"
# Description

For my web app, I want to be able to create a reverse proxy and place all of Hasura behind `api` instead of the root of my domain (since that's where my app is served from). When I followed the [docs](https://docs.hasura.io/1.0/graphql/manual/guides/deployment/digital-ocean-one-click.html#adding-a-domain-enabling-https), I couldn't get it to work from `/api`.

## Recreation Steps
**

[2019-08-17 08:23] Toub opened #2744 "[Feature request] Customize context URL"
Is it possible to customize context url, so I can have something different from `/v1/graphql`, without using a proxy to rewrite the request.

Maybe by adding a custom context prefix (e.g. hasura): `/v1/graphql` => `/hasura/v1/graphql`

Useful to deploy to a domain hosting other services too.

[2019-08-17 09:52] marionschleifer commented on #2601
@vonwao just wanted to check in if you were able to close this issue? 🙂

[2019-08-17 12:28] btroia opened #2745 "Don't require where argument for update mutations when permissions/column presets are set"
Hi, I have a simple view/endpoint `me` that returns data for the current user based on their id (included in their JWT - `{"id":{"_eq":"X-Hasura-User-Id"}}` ):

[code]

This works fine, **however** Hasura requires a `where` argument in the `update_me` mutation or it fails:

[code]

Since this mutation has the same permission as the select (`{"id":{"_eq":"X-Hasura-User-Id"}}`) it shouldn't require

[2019-08-17 12:59] jjangga0214 commented on #2716
@0x777 May I ping?

[2019-08-17 13:41] mduecker commented on #2741
I just cloned the ra-data-hasura code from the master branch and linked it as a local package.
Now the id is passed correctly within the query. So must be a diff between this code and the npm package (version 0.0.6), which causes the bug.

[2019-08-17 14:35] leoalves commented on #2745
Passing an empty where object should work to

[code]

This will evaluate to where = true.

I think the where in the update mutation should be mandatory.

 IMHO, making it optional and evaluating to true would cause more unintended issues than having to pass an argument in this case.

[2019-08-17 14:40] leoalves commented on #2741
Regarding your first comment

[code]

Will evaluate to where = true

https://github.com/hasura/graphql-engine/issues/704

[2019-08-17 14:42] leoalves commented on #2745
https://github.com/hasura/graphql-engine/issues/704

[2019-08-17 14:48] mduecker commented on #2741
Yes exactly, this results in a full-table delete without any conditions.
As described above, the problem lies with params.id, which should be params.ids
Therefore
[code]
results in
[code]

[2019-08-17 18:50] marionschleifer commented on #2713
@jjangga0214 I'm closing this issue in favour of this one: https://github.com/hasura/graphql-engine/issues/2635, which is a duplicate 🙂

[2019-08-17 18:50] #2713 closed

[2019-08-18 04:18] Disturbing commented on #1914
One of the use cases people do in event driven applications is delayed events.

In a more stateful approach, you would sleep a thread and/or use task based systems to run something after N time has passed. Problem is of course when the service crashes and/or goes down, that event that was queued is no longer there :).

My particular use case would be building a game where there are phases that are

[2019-08-18 05:15] davie-robertson commented on #1914
I have taken another approach and used [Camunda's](https://camunda.com/) workflow engine to [create time based events](https://docs.camunda.org/manual/7.11/reference/bpmn20/events/timer-events/), these then call an 'external process' which in turn talks to Hasura - this is probably a massive overkill for 99% of use-cases but I thought it worth sharing as Camunda has a fully featured REST (and Grap

[2019-08-18 06:03] Jerry-Hong opened #2747 "Feature Request: Support graphql schema export by postgres schemas"
Currently graphQL schema export all schemas. Is it possible to customize the export graphql schema scope by PostgreSQL schema, like change url `/v1/graphql` (all schemas) -> `public/v1/graphql` (only public schema) or add in header?

[2019-08-18 07:57] mnlbox commented on #2747
You can untrack tables to prevent export.

[2019-08-18 07:59] mnlbox commented on #2744
I think an environment variable for endpoint url can be very useful.

[2019-08-18 10:15] michaelhayman opened #2748 "In docker-compose with postgres, CPU jumping between 24% - 54% on mac"
I have a weird problem - if I use hasura + postgres together in docker-compose on my local machine (Mac Mojave), postgres spikes CPU between 6% - 54%, my fans kick in to their highest setting and my laptop gets hot and the computer starts to stutter.  docker desktop for mac in activity monitor also displays a spiked CPU usage (70-80%).

I don't remember this being a problem before.

Some logs:

Ju

[2019-08-18 16:27] shahidhk opened #2749 "update pg_dump version bundled with server"
the current one is 11, we should update it to the latest postgres release

[2019-08-18 17:46] R-D-P opened #2750 "restoring from a digital ocean droplet snapshot"
Creating a digital ocean droplet using a snapshot of an existing droplet running hasura graphql engine results in a fresh install instead of using the information in the dockercompose.yaml file of the snapshot.

[2019-08-19 02:22] cfharyadi commented on #1291
Looking forward for any updates regarding this feature
Many thanks for your awesome work.

[2019-08-19 03:52] Jerry-Hong commented on #2747
@mnlbox yes, but untrack need to remove all relations of the table 😢 My temporary solution is create a lot of roles and setting permissions for each schema to each role, it is also repetitive work.

[2019-08-19 05:34] pksunkara commented on #91
Can we get this before v1? I can implement it if you give me the okay.

[2019-08-19 08:06] PedramMarandi commented on #2501
our first day in production wioth Hsura and it became such a dramatic problem :(

[2019-08-19 09:48] hynra commented on #2732
I resolve this issue by adding compatibility in PostgreSQL 9.6 operation in `jsonb` - `text[]`. I also create pull request to `audit log` [repository](https://github.com/hasura/audit-trigger).

[2019-08-19 10:08] vikastomar5983 commented on #2735
We are using the below setup to run the test (this is almost similar to one descibed here https://github.com/hasura/graphql-engine/blob/master/architecture/live-queries.md#testing)

Starting Hasura Graph QL engine with
`docker run -d -p ****:**** -e HASURA_GRAPHQL_DATABASE_URL=postgres://***** -e HASURA_GRAPHQL_ENABLE_CONSOLE=true -e HASURA_GRAPHQL_LIVE_QUERIES_FALLBACK_REFETCH_INTERVAL=50 -e HASU

[2019-08-19 23:57] michaelhayman commented on #2748
Just a small update, I ditched the docker-compose integration and now I'm using the postgres directly on my machine and there's no CPU spike.  Therefore it's something weird about docker/the docker configuration.

[2019-08-20 01:10] GollyJer commented on #1175
Came looking for something similar... subscribed! ✔

[2019-08-20 03:24] #2688 closed

[2019-08-20 05:41] shahidhk commented on #992
Caddy config:

[code]
this will serve hasura at `mydomain.com/hasura`. If it should be only `mydomain.com`, remove the path from the first line and remove the `without` line

[2019-08-20 06:00] #2128 closed

[2019-08-20 06:01] shahidhk commented on #2129
Closed in https://github.com/hasura/graphql-engine/commit/1418b43c525eafe83218d42916f22ecfface8e78

[2019-08-20 06:01] #2129 closed

[2019-08-20 06:22] elitan commented on #2748
I use a very similar docker compose file without any problem. Only difference is I use version 11.5 instead of 11.4 without the `max_locks_per_transaction=2000` command.

Maybe there was an issue with the 11.4 version.

[2019-08-20 09:11] 0x777 commented on #2735
Hi @vikastomar5983 thanks for the additional context.

graphql-engine optimises subscriptions if you use variables in the subscriptions. You'll need to rewrite this subscription
[code]

as follows:
[code]
The changes are
1. Use variables to change the parameters of a subscription (instead of creating a subscription with values embedded in it). Such subscriptions are very efficient with the current

[2019-08-20 11:21] rakeshkky opened #2754 "accept null values in order by expression"
All input fields in `<table-name>_order_by` are nullable. The server should handle the `null` value given for any field.

[2019-08-20 11:42] ecthiender commented on #2700
Hi @mavenraven , sorry for the delay in response.

Let's say you have two providers: Google login and Mobile login. Then you can have a user table like so:
[code]
Then upon login to your identity provider, you can set the session variable `x-hasura-user-id` to be the provider specific ID. And you can have permission defined like:

[code]

No, you need to have columns only in your user table. Then

[2019-08-20 11:43] mduecker commented on #1654
I can't get Hasura to forward the set-cookie header from my remote schema query.
- I checked the box to "Forward all headers"

What does this part in the documentation mean?

I tried both, sending a GraphQL request and sending a POST request to my GraphQL Endpoint.

[2019-08-20 13:42] #2636 closed

[2019-08-20 14:47] ecthiender commented on #2655
@thetre97 you're right. The SDK doesn't expose the ID token and they recommend to use access tokens. I'm not sure of the reason(s) though.

Generally speaking, ID tokens are issued to end users, containing user information, and access tokens are meant for applications to access APIs. See [ID token], [Access tokens].

Hasura requires a JWT with the Hasura specific claims, as long as it is there in

[2019-08-20 15:00] rikinsk commented on #2651
fixed via #2629

[2019-08-20 15:00] #2651 closed

[2019-08-20 20:10] FluorescentHallucinogen opened #2758 "[GraphiQL Online] View in Voyager doesn't work"
Just tested after this feature has been implemented via #2737. And… it doesn't work.

![screenshot](https://user-images.githubusercontent.com/7892779/63380487-55e81400-c39f-11e9-844b-f6a49f2eba44.png)

Maybe, ZEIT hosting configuration issue.

[2019-08-20 20:12] FluorescentHallucinogen commented on #2313
Just have tested after #2737 has been merged, it still uses the old version of GraphiQL Explorer.

Any news?

[2019-08-20 20:33] ron-johnson commented on #91
👍 We would like to see this functionality also

[2019-08-20 20:57] FluorescentHallucinogen opened #2759 "Refactor Endpoint and Headers panes into separate GraphiQL plug-in (NPM package)"
It would be great if you refactored GraphQL Endpoint and Request Headers panes into separate GraphiQL plug-in (NPM package).

![graphiql-endpoint-headers-panes](https://user-images.githubusercontent.com/7892779/63383719-05c08000-c3a6-11e9-9140-f253272a66f1.png)

In this case, it would be possible to integrate this plug-in into any GraphiQL build. It would be very useful for the whole GraphQL ecosy

[2019-08-20 23:04] macalinao opened #2760 "Use session variables in GraphQL queries"
Hi all, it would be great to inject my `X-Hasura-User-Id` into my GraphQL query so I can use it to filter through data. E.g, fetching the tasks assigned to my currently authenticated user. Are there any plans to build this?

[2019-08-21 00:42] leoalves commented on #2759
@FluorescentHallucinogen
The GrahiQL is also in a stand alone repository
https://github.com/hasura/graphql-engine/tree/master/community/tools/graphiql-online

Here is the demo
https://graphiql-online.com/

[2019-08-21 00:46] RodolfoSilva commented on #2572
@tirumaraiselvan @0x777 this is a great enhancement to use with auth systems.

[2019-08-21 03:40] tirumaraiselvan commented on #2572
Thanks for the suggestions everyone. This is going to be part of the upcoming release: https://github.com/hasura/graphql-engine/pull/2753

[2019-08-21 06:48] leimantas commented on #2648
I don`t use:
`where: { id: { _eq: null } }`

Safer:
`where: {id: {_in: [ ]}}`

[2019-08-21 07:01] praveenweb commented on #2758
@FluorescentHallucinogen - Hey, tested this. Works fine locally. It's a Zeit serverless deployment configuration issue. Will push a fix.

[2019-08-21 07:12] praveenweb commented on #2741
@mduecker - Ah, i see. Not sure why transpiled code should be any different. But i will make a new release with a fix for #2100 in this PR #2727 and should fix this discrepancy with the new bundle.

[2019-08-21 08:16] marionschleifer commented on #2553
@marcpar any updates on this?

[2019-08-21 08:18] marionschleifer commented on #2443
I'm closing this issue. @mmccormack-scwx if you would like to add anything, feel free to re-open 🙂

[2019-08-21 08:18] #2443 closed

[2019-08-21 08:22] marionschleifer commented on #2082
@thebetterjort any update on this?

[2019-08-21 08:25] 0x777 commented on #2760
@macalinao I'm not sure how this can be done while adhering to the graphql spec. Any ideas?

@victorferreira I think what the op was suggesting is a case like this:
Suppose you have a table/view called `followers` where everyone can read all rows. Now suppose you want to fetch your own followers you would do something like this:
[code]
with `variables` being `{"user_id": your_user_id}`. However it

[2019-08-21 08:27] shahidhk commented on #2743
This is a confirmed behaviour, which is not ideal.

We should issue the right redirect irrespective of the trailing slash.

[2019-08-21 08:55] pvergain commented on #2703
In order to install the pgcrypto PostgreSQL extension, we have to install the postgreql-contrib package.
For debian:

[code]

[2019-08-21 09:00] pronevich commented on #2648
@leimantas but this is just a temporary escape hatch, in any time new team member that doesn't know all hasura quirks could catch this issue.

[2019-08-21 10:29] 0x777 commented on #1989
@rasheedk How was this error triggered? Can you provide the schema and the query to reproduce this?

[2019-08-21 11:00] EniCoz opened #2761 "automatic deletion of a dataset and related data based on special event trigger"
it would be nice to have a feature that automatically delete  a specific record set.

For example if a specific date is reached after 10 days, the database row will be deleted.

Many thanks ,
Enione

[2019-08-21 11:25] praveenweb commented on #2758
This has been fixed now.

[2019-08-21 11:25] #2758 closed

[2019-08-21 13:04] andretorres00123 opened #2764 ""Error function gen_random_uuid() does not exist""
Getting "Error function gen_random_uuid() does not exist" when an event trigger on a table of another shema than the "public" is trigger.

[2019-08-21 19:23] shanetierney commented on #2494
@coco98 when will remote joins be released? I saw the announcement several months ago.

[2019-08-21 19:36] FluorescentHallucinogen commented on #2759
@leoalves I'm aware of `graphiql-online`, thanks! :)

[2019-08-22 01:30] lexi-lambda commented on #2453
@erichiller Sorry for the long delay in responding. Unfortunately, I have zero experience building Haskell code on Windows, and I do not have access to a Windows machine to investigate the issue myself. That said, I would not be shocked if Hasura or any of its dependencies assume a POSIX environment, since I don’t think any explicit effort has been made to make it cross-platform.

The intended (an

[2019-08-22 04:17] hafizio opened #2766 "Add support to drop metadata inconsistency to the CLI"
Right now the only way to drop metadata inconsistency is by using the REST API (https://docs.hasura.io/1.0/graphql/manual/api-reference/schema-metadata-api/manage-metadata.html#drop-inconsistent-metadata), it'd be ideal if this feature can be supported in the CLI (e.g `hasura metadata ...`)

[2019-08-22 04:25] thefliik commented on #273
I imagine hasura's allow-list could be re-purposed to help support this feature.

[2019-08-22 05:05] elitan commented on #2146
Same issue here. I added the column via SQL instead.

[code]

[2019-08-22 05:44] tsaiDavid commented on #1077
@rikinsk (cc: @dmi3y) - thanks for this feature - my manager is worried about the use of triggers on the db level, is there any risk of doing so? Just trying to wrap my head around this. Would rather not use external hasura event triggers (effectively turning 1 write into 2 distinctly separate ones)

[2019-08-22 07:48] 0x777 commented on #1077
@tsaiDavid

Triggers are the only reliable way to ensure that fields like `updated_at` are set correctly for a row, otherwise you have to ensure that every client which connects to the database sets this value as expected.

[2019-08-22 08:01] coco98 commented on #2488
@jjangga0214 @scribahti Thanks for your detailed notes and ideas :)

The primary issue, which is that of losing migrations can be solved by resetting all the migrations. Get the entire postgres schema and the hasura metadata.

We've thought about storing the migration files on hasura also, but the reason we went against that is because it creates lots of different sources of truth viz. 1) the stat

[2019-08-22 08:14] #2754 closed

[2019-08-22 09:59] dsandip opened #2767 "Console support for enums"
In reference to the on-going work for [Enums](https://github.com/hasura/graphql-engine/pull/2672), the following UI and other updates are need:

Edit: Let's just use the `reload_metadata` endpoint for now
## ~API enhancements~
~Given that the current `reload_metadata` call can sometimes be very expensive and the console encourages reloading on atomic operations (*like adding new rows to the Enum t

[2019-08-22 10:00] dsandip commented on #2767
The console can use the existing `reload_metadata` call so as to not make the API enhancement a blocker for the console work.
cc: @rikinsk

[2019-08-22 10:41] rikinsk commented on #2146
This can be fixed by changing the way console accepts default string values. The following options seem possible:
-  we can make string values need to be explicitly surrounded by `'`s to avoid confusion and allow same flexibility as SQL
- we treat `''` as a special input for empty string

Also, extending this issue to also allow setting a default value with `'`s in them which currently is not poss

[2019-08-22 11:26] elitan commented on #2146
What is the problem to do the following?

- if text box is empty, the default value will be empty (i.e `''`).

[2019-08-22 13:22] Giorat commented on #346
Is there any news on this feature?

Just having a simple number of the max depth in hasura settings would be perfect!

![image](https://user-images.githubusercontent.com/4527364/63518121-a327cb00-c4f0-11e9-8716-e65fdaa147ed.png)

[2019-08-22 14:12] vitorbertulucci commented on #91
It will be really great!!

[2019-08-22 18:56] coco98 commented on #1654
@tirumaraiselvan @ecthiender 👆

[2019-08-22 19:45] coco98 commented on #2579
Closing this in favour of #2323 (creating a polymorphic relations guide).

[2019-08-22 19:45] #2579 closed

[2019-08-22 20:00] ch4rl3s commented on #1119
Hi, some news about sqlite connector ? thanks.

[2019-08-22 21:33] TAnas0 commented on #2750
I can confirm experiencing the same behavior on Digitalocean

[2019-08-23 01:27] macalinao commented on #2760
@0x777 one idea is to inject all hasura env vars as optional query variables. I'm not sure what the security implications are, but it could look like this:

[code]

[2019-08-23 01:31] PedramMarandi commented on #1291
Guys, it's an amazing feature which let us rely on Hasura even more. I've had to create custom endpoints to be able to just handle my data validation.

Thank you for this incredible effort.

[2019-08-23 03:29] tirumaraiselvan commented on #1654
@mduecker What version of Hasura are you on?

[2019-08-23 06:01] 0x777 opened #2768 "support multiple per-row updates in a single mutation"
Currently we allow updating multiple rows (through `where`) but all of them will get the same update. We need to add support for cases where the updates are different for each row, say you want to set `name` to `Hello` for the row with `id=1` and to `World` when `id=2`. Something like this maybe?
[code]
Notes:
1. What happens when there is overlap across the `where` conditions? What would `affecte

[2019-08-23 06:30] revskill10 commented on #2768
@0x777 As i see, for the simpler API , we could also use `where` with unique constraint key ?

[2019-08-23 07:41] rikinsk commented on #2146
@elitan in that case it would not be possible to not set a default value. We'll then need to add a checkbox to mark that a default has to be set (that's what adminer does).

It is definitely another valid option for sure.

[2019-08-23 07:49] rikinsk commented on #2354
@tehpsalmist Closing this for now. Please feel free to reopen if you have any more details.

[2019-08-23 07:49] #2354 closed

[2019-08-23 07:54] elitan commented on #2146
Here is some inspiration from how phpmyadmin handles it:

![image](https://user-images.githubusercontent.com/331818/63576143-dff4d000-c58b-11e9-9692-43c74cc478eb.png)

[2019-08-23 08:21] marcpar commented on #2553
Sorry for the late reply I'm still investigating this issue I think its a package ca-certificate

[2019-08-23 08:22] marcpar commented on #2553
do we need to add the private cert inside the hasura pod in kubernetes?

[2019-08-23 08:57] #2501 closed

[2019-08-23 10:16] mduecker commented on #1654
@tirumaraiselvan
v1.0.0-beta.4

I found out that the problem wasn't with Hasura, instead my remote schema (GraphQL resolver for a REST API) wasn't forwarding the cookie.

Also it's a bit confusing that Google Chrome Dev Tools don't show "set-cookie" headers.

I found the solution, how to configure my Apollo Server here:
https://spectrum.chat/apollo/apollo-server/how-to-configure-apollo-to-set-resp

[2019-08-23 12:14] tombroens opened #2769 "small error in svelte example"
In apollo.js in the example you write:

const wsLink = new WebSocketLink({
  uri: "ws://localhost:8080/v1/graphql",
  options: {
    reconnect: true,
    lazy: true
  },
  connectionParams: () => {
    return { headers: getHeaders() };
  },
});

nevertheless, I think the conectionParams should be inside the options object, e.g.

const wsLink = new WebSocketLink({
  uri: "ws://localhost:8080/v1/gra

[2019-08-23 17:53] erichiller commented on #2453
Not a problem, thanks for the reply.

The reason I was looking to run on Windows (Windows Container) is because the Windows Server version I have only supports Windows containers, Linux containers don't run. If it is something you could add support for that would be great!

[2019-08-23 18:23] shakedlokits commented on #2764
Just got it on initialization as well. It seems it doesn't relate to event-triggers only :(

[2019-08-23 20:01] hspak opened #2770 "Option for Simple Logs"
Hello!

We're using a customized version of the`hasura/graphql-engine:v1.0.0-beta.3.cli-migrations` docker container to automate hasura migrations in AWS.

Can we add support for an option for simpler logging? The current logs are hard to read in AWS
[code]

[2019-08-24 12:06] heyrict opened #2771 "ra-data-hasura: lazy header"
Currently, updating cookie or localStorage in authProvider will not update the headers in `hasuraDataProvider` in `ra-data-hasura`.

Since header contents can have authentication information stored in cookies or localStorage sometimes, may be we can add a callable as the `headers` argument aside from a constant object. Using `httpClient` similar to simpleRestProvider [described here](https://marme

[2019-08-24 12:45] heyrict commented on #2724
Currently, to avoid inconsistency of database, I'm writing the migrations myself instead of using `hasura console`.

## How do I squash migrations when using hasura console
1. do several migrations in hasura console
1. revert some migrations with hasura cli
    ```hasura migrate apply --down x```
1. concatenate up and down migration files
[code]
1. do migrations again
   ```hasura migrate apply --

[2019-08-24 15:42] coffenbacher commented on #2673
This would be great for Google Cloud Run, which offers socket connections to Cloud SQL instances

[2019-08-24 18:51] alak commented on #1387
any news on this @rakeshkky ?

[2019-08-25 12:39] tirumaraiselvan commented on #2764
@andretorres00123 I am not able to reproduce this. Can you share more details about your database setup?

- Does it have a `public` schema?
- What is the default search_path? Run `select current_schemas(true)` from the SQL section in Hasura console.
- Can you confirm pgcrypto is installed? Run `select * from pg_available_extensions where installed_version is not null`

[2019-08-25 19:05] shakedlokits commented on #2764
@tirumaraiselvan This might not be relevant to @andretorres00123 but here's what I got;
Hasura keeps failing in initialization so I can't get to the Hasura console so I'm running everything through pdAdmin container.
1. There is not public schema
2. returns `{pg_catalog}`
3. returns only `plpgsql, v1.0`

[2019-08-25 21:51] BenoitRanque commented on #1654
I've found a peculiar issue with this: I can set one cookie, but if I atempt to set multiple cookies only the first one is set. Have not had the time to study more in dept

[2019-08-26 02:20] tirumaraiselvan commented on #2764
@shakedlokits Great that it worked. Yeah, it is weird that there were no schemas at all. Anyway, I think we should raise a better error here.

[2019-08-26 02:24] tirumaraiselvan commented on #1654
@BenoitRanque This has been fixed in `v1.0.0-beta.5` via https://github.com/hasura/graphql-engine/pull/2739

[2019-08-26 05:31] #2698 closed

[2019-08-26 06:54] dijam opened #2774 "escaping \n inside TEXT field"
I have a text field that contains `\n`. When I access my data via Hasura, it adds extra slash to it resulting: `\\n`.
I tried couple of ways to work around it like adding `/\n` but that resulted to `/\\n`.
All I need to have my text exactly the way I inserted but I assume as you convert value to json friendly, it escapes.
Any idea how I can work around it? (Not sure if it is intended or a bug)

[2019-08-26 07:31] marionschleifer commented on #2716
@jjangga0214 sorry for the delay in response.

Hasura GraphQL engine does not have any resolvers. The Hasura GraphQL engine is actually a compiler that compiles your GraphQL query into a very efficient SQL query.

Hasura’s GraphQL syntax is also optimized to expose the power of the underlying SQL so that you can make powerful queries via GraphQL.

[2019-08-26 08:25] clery commented on #2609
Given that Agensgraph can pretty much be used exactly like a Postgresql database, I'd say Hasura probably works with it. I assume the point of supporting Agensgraph would be to take advantage of the Cypher-like query style, and the optimisations that come with it

[2019-08-26 09:10] macs91 opened #2775 "Numeric comparison in JSONB"
It would be cool to be able to query jsonb using comparison operators. My use case is an `inventory_item` table which supports multiple inventory item types, and each type has different properties (stored under an `attributes` jsonb column).. For example I'd like to retrieve all inventory items that are sheetmetals and have a property "width" in `attributes` which is greater than 3000. Perhaps the

[2019-08-26 09:43] mihazs commented on #2619
I really don't know why to close the issue '-'.

I already have a bult-in auth system.
This isn't the problem of my auth system.

The hasura adapter for react-admin didn't support dynamic headers very well. There's a way to solve that?

[2019-08-26 11:13] jjangga0214 commented on #2716
@marionschleifer Uh.. no. Thank you for the response, but you misunderstood what I meant.

This means, literally, many people write resolvers that selects columns even not requested from client. For example, when there's a query `articles`, which selects every articles, then a resolver for Article would like this.
[code]
A resolver chain is a tree, which seperates field resolvers from sql. This ty

[2019-08-26 11:49] marionschleifer commented on #2716
@jjangga0214 thank you for clarifying. I just edited my previous comment and now I've seen that you clarified. Sorry for the confusion 🙏

Yes, we'll definitely add it to the documentation. Thank you again for your input!

[2019-08-26 12:22] mnlbox opened #2776 "[Feature Request] Move table from a schema to another"
Hi guys,
I created some table in public schema and now I want to move that to a new schema. I think this is a very useful feature that we can move table from one schema to another in console.
Please vote up this if you agree with this. :wink:

[2019-08-26 13:10] respectTheCode commented on #982
Does that PR add support for Postgres ENUMs? The description seems to describe a different feature.

[2019-08-26 14:14] shahidhk commented on #2553
@marcpar Is the webhook using a self-signed cert issued by a private ca?

[2019-08-27 07:02] 0x777 commented on #2774
@dijam This is as per to the json spec, `\n` has to be escaped as `\\n`. Any library which lets you read a json string as a native string will automatically un-escape it to `\n`. i.e, you'll only see `\\n` in the raw response.

[2019-08-27 07:25] marionschleifer commented on #2082
I'm closing this issue. @thebetterjort feel free to re-open if you would like to add something 🙂

[2019-08-27 07:25] #2082 closed

[2019-08-27 07:27] marionschleifer commented on #2700
I'm closing this issue. @mavenraven feel free to re-open if you have any more questions on this 🙂

[2019-08-27 07:27] #2700 closed

[2019-08-27 07:29] marionschleifer commented on #2735
@vikastomar5983 is your problem solved? If so, we can close the issue 🙂

[2019-08-27 07:29] dijam commented on #2774
@0x777 Totally understand. I assumed the same.
I think there are some replacements happening when Hasura loads data from DB for the first time it boots up. I do not have the same issue if I insert data with mutation and everything seems natural and it encode and decodes fine.

[2019-08-27 07:32] marionschleifer commented on #2601
@vonwao I'm closing the issue. Feel free to re-open if you would like to add something 🙂

[2019-08-27 07:32] #2601 closed

[2019-08-27 08:02] dijam commented on #2774
Step 1: Create a table with TEXT field inside

[code]

Step 2: Connect hasura and run the console. Do a query like this:

[code]
which results to:
[code]

If I use Hasura console and do a mutation like this:
[code]

will return desired results of:
[code]

[2019-08-27 08:06] vikastomar5983 commented on #2735
@marionschleifer With above changes to the query the performance is much much better. But we are still missing the in between updates to the data when the updates are frequent.

[2019-08-27 08:06] #2735 closed

[2019-08-27 08:07] vikastomar5983 commented on #2736
Answered by - https://github.com/hasura/graphql-engine/issues/2735

[2019-08-27 08:07] #2736 closed

[2019-08-27 08:13] dijam commented on #2774
aaa, true :) Thanks for the fast response. That explains a lot 💯

[2019-08-27 08:13] #2774 closed

[2019-08-27 09:08] #2716 closed

[2019-08-27 09:58] #2308 closed

[2019-08-27 10:37] 0x777 commented on #2732
This isn't an issue with graphql-engine. Closing this in favour of https://github.com/hasura/audit-trigger/issues/2.

[2019-08-27 10:37] #2732 closed

[2019-08-27 10:52] matjazrak opened #2785 "Mutation with variable declaration and with no variable JSON attached deletes all table records"
Hello,
I have a **cost** table defined (**Hasura v1.0.0-beta.4**) with two fields:

id: Integer
description: Text

If I run the mutation on cost table with variable ID declaration:

mutation ($ID: Int) {
  delete_cost(where: {id: {_eq: $ID}}) {
    returning {
      id
    }
  }
}

and no variable JSON is attached, the mutation **deletes ALL RECORDS** in the table cost.
It should not delete any re

[2019-08-27 11:15] 0x777 commented on #2705
@revskill10 This cannot be done at graphql-engine's layer. You are better off using Postgres triggers for this which are ideal for such use cases.

[2019-08-27 11:15] #2705 closed

[2019-08-27 15:20] marionschleifer opened #2787 "Sample app for Mithril.js"
We need a sample app for Hasura + Mithril.js.

This is a good issue for an OSS contribution. If you are interested in working on this, please comment on the issue 🙂

[2019-08-28 03:59] nyamba commented on #1883
Hello there,
We are building online book library and using the hasura for backend.  from Mongolia.

[2019-08-28 04:27] hynra commented on #2732
There is no `issue` tab in https://github.com/hasura/audit-trigger before, so I created the issue here. Thanks.

[2019-08-28 05:20] matjazrak commented on #2785
Hi @leoalves,

thank you for your feedback. I agree with the others: the {} should be treated as NULL and not as %. (I’m comming from T-SQL world :)).

Kind regards, Matjaz

[2019-08-28 06:18] wawhal commented on #2767
While marking a table as enum during its creation, enum values have to be taken from the user because GraphQL spec does not allow empty enums. This will require new UI to be built.

For the upcoming release, we are going to support marking only existing enum compatible tables as enums. So if you wish to create an enum table, you would:

1. Create a table with exactly one text type column or exactl

[2019-08-28 06:58] woba-nwa commented on #2539
Following a full-scale pen-test of our systems, this as been identified as a problem for us too. Any update on where this issue is in the likely long list of priorities and when (if at all) we could expect this type of functionality to be released?
Is there maybe a temporary work-around to this problem?

[2019-08-28 08:42] mnlbox commented on #2767
@wawhal My enum table now has 4 column:
1. id | uuid
2. title | text
3. description | some description for this enum value | optional
4. created_at | datetime | I'm using this for sort values in UI

So I can't use this Enum feature? :thinking:

[2019-08-28 12:45] mduecker opened #2791 "parse-failed when trying to update a row with a varchar[] field"
In react-admin with ra-data-hasura I received the following error when trying to update a row:
Status code: 400 - Bad Request
[code]

This error is caused by a field called tags in my table which has the type varchar[].

The UPDATE query will succeed when I exclude that field from the update or I change the value from `"tags": []` to either `"tags": null` or `"tags": "{}"`

Query that's causing th

[2019-08-28 15:42] Toub commented on #2674
Duplicate of https://github.com/hasura/graphql-engine/issues/1253 ?

[2019-08-28 15:53] Toub opened #2792 "Add support for etag header"
As you are going to support gzip in https://github.com/hasura/graphql-engine/issues/1253, do you consider to implement [etag](https://en.wikipedia.org/wiki/HTTP_ETag), in order to improve performances when data does not change?

[2019-08-28 16:22] calvinl opened #2793 "[Feature request] Allow mutations to update to a specific JSONB path"
It would be great to be able to update nested data in a JSONB column without overwriting the values as `_set` would currently do.

Ideally, this would work for both arrays and objects, with arrays using the index of the array element as the path to update. There are probably many ways to do this, but here's one idea I've documented below:

For example, given a table called `users` with a JSONB col

[2019-08-28 16:41] TAnas0 opened #2794 "Memory usage abnormaly growing overtime"
Hello,

I am using Hasura as a backend, deployed on a droplet in DigitalOcean, initially using the [DO marketplace](https://marketplace.digitalocean.com/apps/hasura-graphql). The database is managed and everything is working fine.

The problem I am facing is that the memory usage displays a weird behavior, where it slowly accumulates and then seems to get "flushed". I was able to verify this by wa

[2019-08-28 16:42] plmercereau commented on #1291
Hello! Any update on this? I'm curious about what you meant by "actions", if it's related to backend validations or broader synchronous hooks prior to the postgres operation...

[2019-08-28 21:22] wneild opened #2795 "Support where clause parameter on insert mutation on_conflict"
We have a use case where we want to upsert entries but in the case of an update, the row is only affected if it meets a certain condition, e.g. the timestamp of the new data is greater than the timestamp of the old.

An example query might look like:

[code]

[2019-08-29 03:59] nyamba opened #2796 "Large text loading in user interface"
It's taking long time when I select column which has large text data. It's loading all data for displaying. Can we make it selecting only some of them when showing table data which has too big data column.

[2019-08-29 06:05] ecthiender commented on #2794
@TAnas0 can you reproduce this by doing the exact same actions (like having the console opened etc.) but on your local machine?

[2019-08-29 07:27] rikinsk13 commented on #2796
@nyamba Can you let us know how large the text you are storing actually is? It will help understand the root problem better.

Your feature request is already being tracked in #2168.

[2019-08-29 07:57] datakurre opened #2797 "where: {key: {_in: ["string"]}} results in _type "_text[]" does not exist"
After updating v1.0.0-beta.2 to v.1.0.0-beta.5 seemingly all GraphQL queries with `_in`-filters for text array columns started failing with error

[code]

I'm sorry that I don't have more detailed report yet, nor I have manage to reproduce this from scratch.

[2019-08-29 08:41] marionschleifer opened #2798 "Boolean dropdown on console not wokring"
When trying to change the value of a boolean field in the console, the dropdown doesn't work. It has to be inserted by typing.

Browser: Chrome 76

![logging](https://media.giphy.com/media/kfdcOKp77Z0EmtajaV/giphy.gif)

[2019-08-29 08:56] mnlbox commented on #2798
I have same issue with Firefox 68.0.2

[2019-08-29 08:59] mduecker commented on #2791
The problem is basically that the Hasura API returns the value as `["A", "B"]` on GET and then expects it in a different format `"{A, B}"` on UPDATE.

[2019-08-29 10:04] #2536 closed

[2019-08-29 10:05] rikinsk13 commented on #2798
closed via #2765

[2019-08-29 10:05] #2798 closed

[2019-08-29 11:21] leoalves commented on #2797
@datakurre,

v1.0.0.beta.3 had some breaking changes with _in queries.
https://github.com/hasura/graphql-engine/releases/tag/v1.0.0-beta.3

If you can post your query and the variables your are using. I might be able to check if it is related to this change or not.

Cheers

[2019-08-29 12:03] dsandip commented on #2760
Hey @macalinao, would love to hop on a short call to discuss possible implementations for this! If this works for you, could you please schedule a chat [here](https://calendly.com/team-hasura/graphql-helpline)?

[2019-08-29 13:07] #2613 closed

[2019-08-29 13:09] datakurre commented on #2797
Thanks. I’m quite sure my issue is that... will report back and the change seems reasonsble.

[2019-08-29 15:02] Israel-Laguan commented on #2797
Also new release `beta-6` was incompatible with `beta-5`.

[2019-08-29 15:20] Israel-Laguan opened #2800 "Is hasura beta-5 to beta-6 upgrade breaking?"
## Problem

I've tried to update my Heroku' hasura repo with `beta-5` to `beta-6` but  a lot of inconsistency problem arise. I wanted to try the `enum` feature but seems i can't :disappointed:

## What I think is the problem

New release brings breaking changes and data is inconsistent with past releases.

## What I've tried

I've upload my my new dockerfile using `heroku container:push web && her

[2019-08-29 17:02] datakurre commented on #2797
Unfortunately, i was still unable to make `_in` queries work. This is a minimal query (even without use of variables) that fails for column with `text[]`type

[code]

[2019-08-29 17:13] datakurre commented on #2797
Oh, but that query does not make sense, does it? My table has column of `text[]` and I want to query for rows where that column contains a certain value. Most probably `_in` worked for that just by accident before beta.3 and should really be doing something completely different.

[2019-08-29 17:25] lexi-lambda opened #2801 "[RFC] Refactor GraphQL schema generation and query validation to move parsing out of resolvers"
## Problem

As mentioned in https://github.com/hasura/graphql-engine/pull/2509#discussion_r319111272, the way we currently parse and validate GraphQL queries leaves too much parsing logic for resolvers. This leads to a proliferation of `throw500` calls in resolvers, which could be ruled impossible by the type system with a more structured approach, but currently cause runtime errors.

### Example:

[2019-08-29 17:40] datakurre commented on #2797
So, we were doing something unsupported and that worked just by accident. My current workaround is a custom operator allowing us to use `where: {ids: {_eq: "id"}}`. We could probably also use JSONB column instead of text[] to be able to use JSON operators.

Thanks a lot for help with this. Now I close this as "invalid".

[2019-08-29 17:40] #2797 closed

[2019-08-29 17:46] calvinl commented on #976
Commenting here - I have a need to retrieve the total count of a particular query, but also provide pagination using `limit` and `offset`. With a normal query I can simply remove the offset/limit portion of the arguments, but with I've found that `aggregate` will return the total count constrained to the `limit` that's set - is there a way to accomplish this with limiting queries but still return

[2019-08-29 17:49] TAnas0 commented on #2794
@ecthiender Thanks for your interest.

I am working on a local setup of the architecture, and it has a lot of (suspect) components that might be triggering this.

But as I said, I have no reliable way of reproducing the behavior, so I will have to wait for it to (un?)hopefully reappear.

I'll be back at you after some testing

[2019-08-29 18:23] lexi-lambda commented on #2800
The beta-6 release was not intended to have any backwards-incompatible changes, but it’s possible there’s a bug somewhere. If there is, we don’t know about it, and we haven’t managed to reproduce it, so it would be very helpful if you could share an example that reproduces the issue! It’s likely that the behavior you describe was not intentional, and we can fix it in the next release.

(In general

[2019-08-30 03:05] 0x777 commented on #2800
@Israel-Laguan Can share your schema and metadata? That'll help us identify the issue that you are facing. Metadata can be exported from the console settings and schema as follows:
[code]

[2019-08-30 04:18] shahidhk commented on #976
@calvinl You should make aggregate query to get total count separate from the query that selects the nodes.
[code]

[2019-08-30 05:48] nyamba commented on #2796
Hello @rikinsk13, we a table for storing book information. This is including text column which store all text of that book. So when I click that table it's taking long over 1 minute and looks like loading 8.5MB data to show that table for first time.
About #2168, even I hide that column, it's taking long time to go to next page of the table.

[2019-08-30 07:22] messi2288 opened #2802 "How can hasura data types support integer arrays"
Hi,How can hasura data types support integer arrays?
The tags field as shown below：
posts: [{ id: 1, title: 'title1',tags[1,2]}].

And how do I query tags using graphql (or other query ways)？

[2019-08-30 08:42] rikinsk13 commented on #2796
Thanks for the info @nyamba . #2168 will let you choose which columns to fetch from the DB. That should resolve your issue. We will try to prioritize it to be taken up soon.

[2019-08-30 08:53] messi2288 commented on #2802
I found the solution:https://github.com/hasura/graphql-engine/pull/2243
I imported the test data using json2graphql, which you can see in the URL below:
https://hge-ci-pull-2243.herokuapp.com/console
It looks like the problem has been solved.
![image](https://user-images.githubusercontent.com/54701869/64006892-c502fc80-cb45-11e9-907a-10670358d700.png)
But there was a bug when I changed the tag fie

[2019-08-30 09:59] mduecker commented on #2791
I was able to solve this for now by decorating the data provider:
https://marmelab.com/react-admin/DataProviders.html#decorating-your-data-provider-example-of-file-upload

Still I shouldn't have to work around an inconsistent API, so I hope this can be changed.

[2019-08-30 10:02] hilalh opened #2804 "role-based query / mutation allow list"
I would love to have role-based query / mutation allow list rather than checking for permissions manually inside each and every model,  both the console and the actual server need to modified for that. Any sort of implementation ideas?

[2019-08-30 10:18] Thiyaga007 commented on #1983
Could u tell me how to convert integer to string using cast in Hasura JSON format. Please

[2019-08-30 11:06] calvinl commented on #976
@shahidhk this is for a subscription which only allows one top level node.

[2019-08-30 13:09] RodolfoSilva opened #2805 "Expose a stored procedure as a mutation"
Given this table:
[code]
With somethings
[code]

I've created a stored procedure:
[code]
I want expose this procedure as a graphql mutation.

I know is possible made with functions, but I thinks if the SQL view is exposed by Graphql query why not expose procedures as mutation?

Maybe create a pattern to turn possible create and expose a stored procedure.

[2019-08-30 13:17] codepunkt opened #2806 ""unexpected variables in variableValues" on every relation query"
I've added relations to my schema, and every query that i run with these relations gets this error:
`unexpected variables in variableValues`

What can i do?

[2019-08-30 13:17] #2767 closed

[2019-08-30 13:22] RodolfoSilva commented on #1573
Any update about this issue?

[2019-08-30 13:27] shahidhk commented on #2806
Can you share the query, variables, and the exact error response?

[2019-08-30 13:54] codepunkt commented on #2806
sure thing! 👍

query:
[code]

no variables.

error response
[code]

[2019-08-30 14:00] codepunkt commented on #2806
I'm confused. There were variables in there from a previous query, but graphiQL didn't show them.
Deleting them solved my problem 🤣

[2019-08-30 14:00] #2806 closed

[2019-08-30 15:14] TAnas0 commented on #2794
I replicated a Hasura instance using Docker Compose and configured it to use the same managed PostgreSQL instance that is used in production. I left it on for several hours, made sure to have several consoles open, and used the API for read/writes originating from the same components I am using in production. But I couldn't reproduce the behavior and `graphql-engine`'s consumption of memory stayed

[2019-08-30 18:05] victorferreira commented on #1291
I know it's hard to share a timeline, but it'd be awesome if you guys could share the rational behind this "actions". How do you plan to implement this feature and we might be able to help with feedback. I'm also looking forwarding to this feature.

[2019-08-31 12:12] OLDIN opened #2807 "Native Postgres enum types is not working now."
Graphql enum types is not generated automatically.

**postgres enum type:**
`CREATE TYPE "public"."discount_type_enum" AS ENUM ('percent', 'equal', 'minus');`

**Expected graphql enum:**
[code]
**Found graphql type:**
`scalar discount_type_enum`

![image](https://user-images.githubusercontent.com/15104330/64063703-80886700-cc00-11e9-9f95-fc4edd6998eb.png)

**Versions:**

- hasura/graphql-engine: h

[2019-09-01 00:43] Albert-Gao opened #2808 "Questions about the many-to-many documentation"
https://docs.hasura.io/1.0/graphql/manual/schema/relationships/database-modelling/many-to-many.html

1. Where is this `tag_articles` been referred? I know there is an `article_tag` bridge table, but not sure about this `tag_articles`, isn't `article_tag` been enough to represent the relationship here? Why do we need to add another table? What is the design for this?

2. For this `article_tag` tabl

[2019-09-01 03:58] PedramMarandi commented on #1267
Hi All,

Respecting the value Hasura has brought to our product, but it is one of our concerns with Hasura too.

In my opinion, it would be an amazing feature to have. I was thinking about some possible ways but as I'm not really sure about the underlying implementation of Hasura these might not be really possible and sensible for the team:

- Create pre-action triggers.
- Now Hasura has more mean

[2019-09-01 19:54] chrisjaimes opened #2809 "variable used in position expecting type _text"
following up with this issue https://github.com/hasura/graphql-engine/issues/1170

How can I include variables in mutations when the field type in the database is an array?

GraphQL

    mutation insert($words: String!){
      insert_words(objects: {list: $words}) {
        returning {
           list
        }
      }
    }

Query Variables

    {
        "words": "{hello, world}"
    }

I get th

[2019-09-01 21:27] ManUtopiK opened #2810 "Typo: nuber instead of number"
Document of the limit argument has a typo:
https://github.com/hasura/graphql-engine/search?q=nuber&unscoped_q=nuber

[2019-09-02 03:44] brandonmp opened #2812 "Unable to set column to citext"
Using this docker-compose config, I am unable to set column types to `citext`. Have witnessed the same problem on a previous version (beta.4) using the Heroku button deploy config.

Hoping this is user error & i can fix somehow.

[code]
--
The extension adds fine:
![image](https://user-images.githubusercontent.com/14139991/64088948-95482600-ccf8-11e9-866a-647bfb75b508.png)

--
Then, querying `pg_e

[2019-09-02 04:31] shahidhk commented on #2809
@chrisjaimes The error is pretty self-explanatory, change `String!` to `_text!`

[2019-09-02 04:45] dsandip commented on #2807
Hi @OLDIN, GraphQL enums are not generated for Postgres enums by design. This has been documented in the [docs](https://docs.hasura.io/1.0/graphql/manual/schema/enums.html) and in the [PR](https://github.com/hasura/graphql-engine/pull/2672).

[2019-09-02 04:45] #2807 closed

[2019-09-02 06:58] ecthiender commented on #2812
On the console what postgres schema is selected when you're running the `CREATE EXTENSION..` command?

I think the issue is that the extension gets created in the `public` schema and not in `app` schema.

Can you try the following and see if it works?

[code]

[2019-09-02 07:50] marionschleifer commented on #2808
Hi @Albert-Gao 👋

1. Please note that we are talking about the name of the relationship here, not the bridge table. So from the point of the `article` table, we have an array relationship to the `article_tag` table, which we call `article_tags`. From the `tags` table, we have an array relationship to the `article_tag` table, which we call `tag_articles`. The following query illustrates that `tag_a

[2019-09-02 08:25] Albert-Gao commented on #2808
@marionschleifer

Ah. it is a hasura-`relationship`, I thought it is the bridge table, now it makes sense.
Thanks for the answer!

[2019-09-02 10:14] Umudo04 opened #2814 "question regarding a query"
I want to get all deviceName duration avarage by deviceName array, this query should work for all deviceName array value.

[code]

[code]

[2019-09-02 11:38] nick-walt commented on #2329
@coco98 This is great news.

My request is that we keep terminology consistent and adopt the terminology of CQRS and DDD, where:
 - CQRS was a term created by Greg Young
 - Greg Young combined CQRS with Event Sourcing
 - CQRS/event sourcing is typically implemented under the discipline of Domain Driven Design (DDD)
 - DDD recommends the use of a common language set, called Ubiquitous Language, so

[2019-09-02 11:54] 0x777 commented on #2814
Hi, what's the problem that you are facing?

[2019-09-02 12:05] 0x777 commented on #2802
Hi @messi2288 #2243 is still work in progress and hasn't been merged to master. In the current release, you can use Postgres literals for array input but we don't have any operators that work on array types. Duplicate of https://github.com/hasura/graphql-engine/issues/348.

[2019-09-02 12:05] #2802 closed

[2019-09-02 13:02] Umudo04 commented on #2814
ı want to run this query for all deviceName array  value
example
expected return
{
VisioSenseV1D001:{
avgduration:544
},
VISIO0242d5bb1770:{
avgduration:541
}
}

[2019-09-02 13:30] sebathi opened #2815 "Possibility to ignore some tables of the schema by server configuration on the GUI"
I have some tables that are for the oauth that share my database (the database is also used for a regular and simple mvc app for user management / reporting).

I think something like HASURA_IGNORED_TABLES=user_logins,oauth_clients,.... etc

Thanks for this great framework

[2019-09-02 13:37] shahidhk commented on #2815
@sebathi Can you not track these table? If you don't track them, they won't appear anywhere in the GraphQL Schema.

[2019-09-02 14:07] bkniffler commented on #2317
One thing I've found is, it is very hard to write a mutation that would optimistically update a subscription with apollo, or maybe even impossible, since apollo doesn't seem to have build in mechanisms to automatically update subscriptions (using optimisticResponse) and there is no possibility to read/write subscriptions from/to cache. This must be due to the fact that, as @heyrict states, most im

[2019-09-02 14:29] tirumaraiselvan opened #2816 "Improve offline experience: If CDN fails, then auto fallback to local console"
If CDN is unavailable for whatever reason (say no internet), then the console can load from Docker with proper warnings. This is a better experience then having to set an env or flag on the server.

[2019-09-02 17:17] shugydw opened #2817 "Data in enum tables should be tracked in console-generated migrations"
Version: Beta.6
Image: Docker CLI Migrations
Platform: K8s
Host: macOS Mojave

The new Enum table seems it requires at least one row - to be able to be connected foreign key constraint. It breaks migrations as well.

Here is an excerpt from the logs:
[code]

Thanks!

[2019-09-02 17:24] lexi-lambda commented on #2817
GraphQL enums must contain at least one value, [according to the specification](https://graphql.github.io/graphql-spec/June2018/#sec-Enums):

So insert at least one value into your enum table before marking it as an enum.

[2019-09-02 18:58] Israel-Laguan commented on #2800
I will reproduce the issue and share the log

[2019-09-02 18:58] Israel-Laguan commented on #2800
Ok ill give my pg_dump

[2019-09-02 19:03] Israel-Laguan commented on #2800
pg_dump:
[code]

[2019-09-02 23:00] shanetierney opened #2818 "citext being cast to text"
I have several citext columns and because I was not getting expected results for a query, I analyzed the SQL and it was casting my citext column to case-sensitive text type. Obviously this defeats the purpose of having a case insensitive field.

[2019-09-03 04:12] xiaoyu-tamu commented on #1883
Hi, there.
Just built a delivery app for my client. GraphQL engine makes my simpler and more Efficient. I hope that camelCase name option can be added soon.

[2019-09-03 06:12] 0x777 commented on #2818
@shanetierney We do not do any `citext` to `text` casting at graphql-engine layer. What you are seeing is probably something that is implicitly done by Postgres? Can you post your table schema, query, expected and actual output?

[2019-09-03 06:58] heyrict commented on #2317
@bkniffler I am not sure if I have understand `live-queries + optimistic response` properly. You CAN use live queries with optimistic response.

If you are using
[code]
Then the subsciption data will always reflect what `SOME_LIVE_QUERY` queries to (though with some latency), and is not designed to be modified.

If you want to use optimistic response to update the live query, you should store quer

[2019-09-03 06:58] rikinsk13 commented on #2817
I believe the issue is mixing two separate things.

You can definitely have foreign key constraints involving an empty table (whether enum table or not). I am curious to know if there was any error which made you believe otherwise.

The root problem here seems to be that you cannot have an enum table with no rows.
This will cause a problem while applying migrations as generally inserting data is n

[2019-09-03 07:58] vlandres opened #2820 "Introspection fails without select permission for enum type."
When trying out the new enum type in beta.6 I stumbled upon an issue that for non-admin role the introspection fails when the role has no select permission for the role. When trying to query the enum with a role that has no select permission I got an error `type info not found for: 'some_enum'`. This also leads to an empty explorer / schema in Hasura console when x-hasura-role is used.

I'm not su

[2019-09-03 08:15] mnlbox commented on #1502
@dsandip Any news?

[2019-09-03 09:53] Ant59 commented on #1291
Any updates around when this will be available. Lack of validation for inserts is the only thing stopping my team from adopting Hasura into production.

[2019-09-03 09:55] Ant59 commented on #1291
Any updates around when this will be available? Lack of validation for inserts is the only thing stopping my team from adopting Hasura into production.

[2019-09-03 11:03] milgner opened #2822 "Renaming tables renders schema unable to load"
I created a new table called `translations`. Afterwards, I was shown a 404 status page. Going back, the new table didn't show up. After trying to create it again with the same structure, the application complained that the relation already exists. So I checked with the CLI and saw that indeed, the table creation had been successful.

But now Hasura is unable to load the schema anymore.

I did some

[2019-09-03 12:09] ecthiender commented on #2362
@tobeee are you able to reproduce the error? If yes, can you mention the repro steps? That way we can reproduce the error on our end and debug. As mentioned above, we were unable to reproduce the above issue.

[2019-09-03 13:33] chrisjaimes commented on #2809
@shahidhk thanks! :)

[2019-09-03 13:33] #2809 closed

[2019-09-03 15:21] shugydw commented on #2817
Thanks, @rikinsk

I've created an intermediate migration with an insert. Although I wanted to have the values in the enum table to be dynamically created, I guess I am fine with the migration as long as it works!

Although not related to this, but how do I automatically track the foreign key relations. I'm not sure if I have to pass any env, but I couldn't find any. It seems it is not automatic, a

[2019-09-03 16:13] andyrue opened #2823 "error: only v1/graphql and v1alpha1/graphql are supported"
I'm not sure if this is a bug or a configuration problem nor if it's an issue with Hasura or Apollo, but I can't seem to get past this error.

I'm trying to configure websockets and subscriptions using an authorization header, and I'm pretty sure I've got the Apollo side configured correctly, but I keep getting
`{"event":{"type":"rejected","detail":{"path":"$","error":"only '/v1/graphql', '/v1alph

[2019-09-03 16:24] tobeee commented on #2362
I managed to fix it by more closely following the installation instructions
- it was my mistake when setting up the database credentials

On Tue, Sep 3, 2019 at 1:09 PM Anon Ray <notifications@github.com> wrote:

--
Toby Green

[2019-09-03 16:28] taylorhakes commented on #2097
I would like to add another issue. What if it’s a network issue on the sender side? I think these events need to be written to a table primarily. We can have the notify webhook/endpoint, but dead letter events should be written to a table 1st, so they aren’t dropped in the case of a network issue.

I haven’t looked too much how events are implemented, but do the events get lost if the server resta

[2019-09-04 00:38] dohomi commented on #2293
@rikinsk I stumbled about this exact issue and was looking inside of the Hasura docs for some insights. It would be helpful to showcase mutations/updates of mn relations inside of your docs

[2019-09-04 03:06] dohomi commented on #1310
any update on this? Currently its a huge grey zone how insert/updates of relations in general works. I have a 1:1 relation of users => client setup and have a hard time to get the statement up and running.
[code]
I receive an error
[code]

[2019-09-04 03:10] dohomi commented on #2576
same error for me. Any solutions for one-to-one relations?

[2019-09-04 03:14] dohomi commented on #2576
@howientc do you have some more infos how you did this?

[2019-09-04 04:49] messi2288 commented on #2802
Hi @0x777  Thank you very much

[2019-09-04 05:21] coco98 commented on #2353
This can be done by deprecating the older aggregate API.

[2019-09-04 06:24] ecthiender commented on #2823
@andyrue the error is thrown by the server when the websocket URL has a different path other than `/v1/graphql` or `/v1alpha1/graphql`. But from your above code snippet the URL looks correct. Not sure why this error would happen. Do you have any proxy before the Hasura server?

[2019-09-04 06:30] lishine commented on #1310
What is your id field type?

[2019-09-04 07:25] codepunkt opened #2824 "Running hasura console via CLI in docker container"
Hello!

I'm trying to run `hasura console` in docker container no#1 and then access the console on port `9695` on my host machine.

The JavaScript of the hasura console application needs access to both the graphql engine (running in docker container no#2) and the migration service spun up by running `hasura console` in docker container no#1.

The URLs that the JavaScript tries to talk to are based

[2019-09-04 07:31] shahidhk commented on #2824
This is a known issue and we have some potential solutions.

The console served by CLI is designed to be run from a developers machine and not from any sort of webserver.

Will you be able to elaborate on what the use case here is, where you're unable to run the hasura cli locally?

[2019-09-04 07:43] tirumaraiselvan commented on #2097
@taylorhakes No, none of the events are lost as they are persisted for reliability.

[2019-09-04 08:11] rikinsk13 commented on #2817
@shugydw The insert migration is a necessity as the GraphQL spec doesn't allow defining GraphQL enums without any values. I guess you could simply have a dummy placeholder value inserted via migrations to begin with which can then dyamically be updated.

Regarding automatically tracking foreign key relations, if I understand your need correctly, you can check out the thread at #1418 (and upvote to

[2019-09-04 09:27] dsandip commented on #1749
@jvice152 we want your help with finalising the scope for this, and would love to hop on a short call. If this works for you, could you please schedule a chat [here](https://calendly.com/team-hasura/graphql-helpline)? cc: @0x777

[2019-09-04 09:28] praveenweb commented on #2655
@thetre97 - Hi, from version [1.2.0](https://github.com/auth0/auth0-spa-js/releases/tag/1.2.0) and above, the raw idToken value is available in the `getIdTokenClaims` method. Here's the reference PR - https://github.com/auth0/auth0-spa-js/pull/175

[2019-09-04 09:32] codepunkt commented on #2824
We have packages that don't install/build under windows, which is why we develop in linux docker containers.

[2019-09-04 10:07] rikinsk13 commented on #2293
@dohomi Sure thing. I am sure @marionschleifer will get around to adding this soon. Maintaining a good priority queue is a hard task :)

[2019-09-04 10:36] shahidhk commented on #2824
Are you saying the hasura CLI doesn't work on Windows?

[2019-09-04 10:38] shahidhk commented on #2824
Or it is just a matter of convenience where you'd prefer everything to be inside docker containers?

[2019-09-04 11:44] rikinsk13 commented on #2823
There seems to be a typo. An extra quote at the end of  `ws://localhost:8080/v1/graphql'`,

[2019-09-04 11:54] rikinsk13 commented on #1310
@lishine  this is a current limitation of nested inserts fro 1-1 relationships. Its being tracked at #2576.

[2019-09-04 11:56] rikinsk13 commented on #2293
Related to #1310

[2019-09-04 12:17] andyrue commented on #2823
Oh my word! Thank you...that was it. I spent more than a day configuring, reconfiguring, configuring again using every bit of info I could find on how to set this up.

Question, is there a way for Hasura to log the path during this error? I kept wondering if it was somehow getting the wrong path, but the error just says `"path": "$"`

Thanks again for your help!

[2019-09-04 12:17] #2823 closed

[2019-09-04 12:33] 0x777 commented on #2576
The server currently does not distinguish object relationships into 'many-to-one' and 'one-to-one' relationships. It currently treats all object relationships as 'many-to-one' because of which the ordering of inserts when there are one-to-one relationships is incorrect. This should not be hard to fix.

When defining an object relationship using manual configuration we can add an extra field which

[2019-09-04 13:07] 0x777 opened #2826 "upgrading from alpha45 to beta.6 fails"
You'll need to first upgrade to `beta.5` and then upgrade to `beta.6`. The reason why this doesn't work has very little to do with `beta.6`. The root cause is the catalog migrations which add admin metadata using `yaml` files (an RQL query); these `RQL` queries require schema cache to run but building schema cache could fail because the function which does this assumes the latest catalog's schema.

[2019-09-04 13:45] codepunkt commented on #2824
It's a matter of convenience. We wouldn't use Hasura/Postgres if they weren't available in official docker images. Development has to be done in a linux based container anyways, because parts of it don't work on windows.

We could possibly run the hasura CLI on windows, but that'd be a pain to do (no automatic installation, having it connect to graphql-engine running in a container, being forced t

[2019-09-04 13:48] thetre97 commented on #2655
@praveenweb Great, thanks - will check that out 👍

[2019-09-04 17:25] lexi-lambda commented on #2826
FWIW, we’d have seen this issue much earlier if we initialized the schema and metadata by running every migration rather than using the separate `initialize.sql` and `hdb_metadata.yaml` files.

[2019-09-04 17:34] shahidhk commented on #2824
Got it. We'll ideate on how we can make the experience smoother. 😀

For migrations you'd have to mount the directory inside the container anyway.

Do let us know if there's an ideal workflow that you would like see. Helps in our ideation/brainstorming 😄

[2019-09-04 18:06] codepunkt commented on #2824
It'd probably be okay if there were additional options for the URLs the console's javascript is connecting to, something like `endpoint` and `clientEndpoint`, aswell as `--address` and `clientAddress`.

I know the naming is off, but you get the idea 😉

[2019-09-04 18:34] marionschleifer commented on #2293
@dohomi @rikinsk thank you for the reminder. I will get this done within the next two weeks 🙂

[2019-09-04 18:49] rrjanbiah opened #2828 "Question: recommended approach to save data from back end"
When saving data from back end, what is the recommended approach?

Directly saving in Postgres using ORM or so.

Or

Saving through Hasura.

TIA

[2019-09-04 19:34] jocrau commented on #660
I tried setting `HASURA_GRAPHQL_TX_ISOLATION=repeatable-read` but that didn't help because the initialization always happens at `SERIALIZABLE` level.

This is currently a blocker for using Hasura at our company. We have a high ingest rate on a Postgres master and read only from replicas.

[2019-09-04 20:15] jvice152 commented on #1749
@dsandip will do, thanks!

[2019-09-04 22:14] calvinl commented on #2416
Big thumbs up for this feature. I've been trying to figure out if there was any way to ensure that the event trigger payloads can be verified, but as it is right now there's no way to tell.

As for right now, the only way I can think of is to have the receiving webhook whitelist the hasura instance by IP or something.

[2019-09-04 22:53] Mrcampbell commented on #2776
I love this!  I know it can be done with SQL, but if Hasura could migrate it, it could update relationships and the meta tables (`hdb_*`) automatically.

[2019-09-05 00:54] CliffWMiller opened #2830 "Vague error message when trying to connect docker install to existing database"
Hello,

I'm having an issue with a fresh docker installation. The hasura instance is failing to connect to the database and returning a vague message.

This is the output I'm seeing in docker logs:
[code]

The postgresql instance is version 9.6.2 (I can't actually find any documentation on what versions are supported) and is behind a pgbouncer (version unknown for the moment).

Any advice or steps

[2019-09-05 03:32] dohomi commented on #2293
@marionschleifer thanks a lot that will be helpful!

[2019-09-05 03:32] The-planet opened #2832 "[ Tbale ] have mismatch with current graphql schema. HINT: Types must be same"
hello everyone
This problem occurred when I tried to track existing data tables from the database and then add my own business logic from the remote schema. Why is that?

[2019-09-05 03:46] ChineseHero opened #2833 "Where is cli-hasura-windows-amd64.exe"
I`m come https://docs.hasura.io/1.0/graphql/manual/hasura-cli/install-hasura-cli.html url(I need cli-hasura-windows-amd64.exe), but I not see. please tell me,Where is it?
I couldn't find it on the “https://github.com/hasura/graphql-engine/releases” page.

[2019-09-05 04:53] shahidhk commented on #2833
You can find it under "Assets" section for each release.

Here is a direct link: https://github.com/hasura/graphql-engine/releases/download/v1.0.0-beta.6/cli-hasura-windows-amd64.exe

[2019-09-05 06:02] ChineseHero commented on #2833
thank you

[2019-09-05 06:02] #2833 closed

[2019-09-05 06:27] dohomi commented on #2293
I am currently understood following create statement. But lets say one part of the mn-table would need to change: an update on Article and their responding tags would need to get updated. How would that statement looks like? I tried an "upsert" and "update" statement but with both I can't update / set the post_tag relation.

Could you maybe post an example I am kind of stuck how to proceed.

[2019-09-05 07:17] #2810 closed

[2019-09-05 07:34] #2512 closed

[2019-09-05 10:02] marionschleifer commented on #678
Hi everyone 👋 this is to let you know that we are aware of the community's request for support for CockroachDB. We will take this up in a few weeks 🙂

[2019-09-05 11:19] coco98 opened #2836 "docs: add a guide on multi-tenant modelling with hasura"
We should talk about the different approaches, how-to with hasura and their trade-offs:

1. Different databases
2. Different schemas
3. tenant_id (shard column) type modelling

[2019-09-05 11:32] 0x777 commented on #2828
It depends on your use case. You can use `hasura` as an ORM if it works for you. In cases where you have to deal with complex transactions you might want to use an ORM.

[2019-09-05 11:34] 0x777 opened #2837 "add console support for _exists operator"
Server support has been added in https://github.com/hasura/graphql-engine/pull/2701

[2019-09-05 12:30] 0x777 commented on #2576
After further discussion with @rikinsk we finalised on having `insertion_order` when you are defining a manual object relationship.

[code]
`insertion_order` can take two values, `before_parent` (default and the current behaviour) or `after_parent` which is needed for 'one-to-one' relationship inserts.

[2019-09-05 14:36] PlamenHristov commented on #1883
Hey @shahidhk ,

We are a blockchain startup https://plutus.it and have been using Hasura in production for a while.
The Hasura events allowed us to build an event driven system without having to use Kafka, which is perfect for a small team as ours.
Additionally, the fine grained ACL and Auth0 integration is the best thing, since sliced bread.

Thank you very much for the  great product!

[2019-09-05 14:53] #413 closed

[2019-09-05 16:00] rrjanbiah commented on #2828
@0x777 Thank you so much for your quick reply. Just wanted to check if it is OK to bypass Hasura layer

[2019-09-05 21:45] ManUtopiK commented on #2665
I think I got the same issue with `PosGIS geoghaphy`. When I edit a row in Hasura console, the geography value is displayed as `[object Object]`, not an object like:
[code]
So, when I want to save this edited row, I got this error:

    Edit failed!
    unexpected : unexpected character (at offset 1)

And I can't save any modifications...
This is annoying, I have to change data from graphiql 😯

<d

[2019-09-05 22:59] #1709 closed

[2019-09-05 23:10] dvasdekis opened #2839 "Migrations fail if SQL file exists that is commented out"
Hi folks,

I was able to create a failure on boot that blocked the server from starting by including the below in a SQL migrations file:
[code]
Irrespective if the trigger works or doesn't etc., the statement should be ignored as it is commented out.

Thanks again! Your product is wonderful and this problem was easy to pinpoint :)

[2019-09-05 23:35] lexi-lambda commented on #2820
This sounds like it’s just a bug. We should still generate the enum type even if the enum table itself isn’t selectable by the current role if there are any selectable columns that reference the enum table.

[2019-09-06 00:06] lexi-lambda commented on #2817
Responding to a comment @rikinsk13 made on slack:

I’ve been thinking about this, too. It sounds like it’s been more of a hiccup for people than I expected it to be, so it would be nice to somehow avoid the need to worry about it. Here are my current thoughts:

  - Inserting or deleting rows from an enum table _is_ a (GraphQL) schema change, so I think those changes should usually be in the migrat

[2019-09-06 01:26] dohomi commented on #2576
@0x777 for now all I do is to make sure to call the mutation based on where the foreign key constraint is saved. But you are saying that with a next update this will be possible from both sides? Is there any roadmap to track process?

[2019-09-06 03:24] dvasdekis commented on #2839
Sorry was potentially unclear - stick the above code in a new .sql migrations file

[2019-09-06 05:02] 0x777 commented on #2576
@dohomi

Yes. You can follow this issue. We will share a link to a PR build when it is ready.

[2019-09-06 05:18] 0x777 commented on #2817
So far in our metadata system, we don't have anything which fails silently and I think we should aim to keep that up unless it is detrimental.

My biggest concern is that if we relax the schema generation, the same metadata could generate different GraphQL schema based on the data in the tables which I don't think is a good idea. Instead, adding such enums should fail and I completely agree with t

[2019-09-06 05:32] lexi-lambda commented on #2817
I agree. This feels like a bit of a gray area, though, since there’s really nothing morally wrong with a type that is not inhabited, and there’s no way for it to break any kind of data integrity were it allowed. The only problem is that GraphQL does not provide any support for uninhabited types.

In general I share your instinct that reporting an error is much better than trying to implement some

[2019-09-06 06:37] 0x777 opened #2840 "'default' radio button is disabled for identity columns"
Create a table as follows:
[code]
Head to insert row and try to insert data into it, you see that the 'default' is disabled:

![image](https://user-images.githubusercontent.com/6562944/64405943-21ae6c00-d09e-11e9-968f-a73a33df4a87.png)

If I try to insert data, I'll see this error:
[code]
If you edit the radio button and enable it you can insert into this table. I'm guessing the console disables t

[2019-09-06 06:46] 0x777 commented on #2839
I guess you see an error like this?
[code]
Looks like the server doesn't accept empty queries. I think we should catch this error and return an empty response. For now if your migration file is empty (post comments), stick something like `select 1;` in the end to work around this.

[2019-09-06 07:07] 0x777 commented on #2830
graphql-engine works with Postgres `9.6` and later. The reason why you are seeing this is because of your `pgbouncer` [pooling mode](https://pgbouncer.github.io/features.html#sql-feature-map-for-pooling-modes). graphql-engine's behaviour with the pooling options of pgbounce':
1. session pooling: Recommended. graphql-engine will work as expected - uses prepared statements for performance and listen

[2019-09-06 07:09] #2828 closed

[2019-09-06 08:08] rikinsk13 commented on #2817
#1766 has already been requested for similar purposes

[2019-09-06 08:39] 0x777 commented on #981
This is WIP at https://github.com/hasura/graphql-engine/pull/2509

[2019-09-06 11:07] HelloEdit commented on #2840
Thanks so much

[2019-09-06 12:44] bkniffler commented on #2655
I'm currently evaluating hasura + auth0 flow. One thing I noticed is that auth0 discourages using idToken for API access and instead encourages the use of accessToken. I've also noticed that the ID token can get very large, depending how much user info and metadata is being stuffed into it, so using it for each and every API call as a header does not seem great practice.

Here an extract from docs

[2019-09-06 13:12] tirumaraiselvan commented on #2832
This error implies that there is a type conflict. Ther might already be a type named `Tbale` coming from your database (is there a table called `Tbale`? ) and also the same type (with different schema) in your remote schema (have you defined `type Tbale` in your schema). Can you confirm this is the case?

[2019-09-06 16:26] V1shvesh commented on #2787
I'd love to pick up this issue! I'll have to make myself familiar with technologies mentioned, but I am up for the challenge!

[2019-09-06 17:11] benkimpel opened #2842 "Timestamp without time zone column offers no options in permission builder"
Issue noticed on...
v1.0.0-beta.4
v1.0.0-beta.6

postgres server 11.2

I had hoped to build a permission to only allow access when this column is not null, but I'm unable to do so.

Is it something to do with the column type of `timestamp without time zone`? Is this expected?

![Screenshot from 2019-09-06 12-06-04](https://user-images.githubusercontent.com/3131496/64446574-c3ce5400-d09e-11e9-843f-

[2019-09-06 17:28] tehpsalmist commented on #2655
You can (and should) use an access token, and it's not too difficult:
1. configure an API in your Auth0 dashboard, and take note of the identifier you use (I usually choose my hasura base url (e.g. https://example-hasura-app.herokuapp.com)
<img width="1092" alt="Screen Shot 2019-09-06 at 13 20 50" src="https://user-images.githubusercontent.com/26337310/64447551-a783e480-d0a9-11e9-808a-d0a82f0b7f51

[2019-09-06 17:38] benkimpel commented on #2842
Ok, I manually created the filter in the `metadata.json` and imported it. The filter works when present, so I believe this is just a UI issue.

![Screenshot from 2019-09-06 12-37-21](https://user-images.githubusercontent.com/3131496/64448374-26c1ea00-d0a3-11e9-8bf2-37aff90a1725.png)

![Screenshot from 2019-09-06 12-27-45](https://user-images.githubusercontent.com/3131496/64448377-29bcda80-d0a3-11e

[2019-09-06 17:41] bkniffler commented on #2655
Thats some great info @tehpsalmist, thanks a ton for letting me know, it works perfectly, should go directly into official docs!

[2019-09-06 18:22] benkimpel commented on #2842
Seems like it might just be missing here: https://github.com/hasura/graphql-engine/blob/master/console/src/components/Services/Data/TablePermissions/PermissionBuilder/utils.js#L7

[2019-09-06 18:34] benkimpel commented on #2842
@rikinsk13 Just opened a PR for this. But not sure if I was on the right track with it. It's running through CI now.

[2019-09-06 18:37] benkimpel commented on #2842
I'm happy to either close my PR or make changes. Up to you!

[2019-09-06 19:30] #2842 closed

[2019-09-06 19:34] rikinsk13 commented on #2842
@benkimpel Your solution was perfect. A new console build with the fix should be out in sometime.

Thanks for your contribution!

[2019-09-06 19:46] benkimpel commented on #2842
Cool. Thank _you_. I love this project. Completely amazing.

[2019-09-06 20:06] codeithuman commented on #1883
https://ryd.green

We are using Hasura with our React Native app for https://ryd.green. We'll be releasing the app to iOS and Android in the coming weeks.

We are leveraging almost all aspects of Hasura, including subscriptions, permissions, remote schemas, and events.

Thanks so much to Hasura, it has allowed us to move with great speed and a very small team. We will be using Hasura for future pr

[2019-09-06 20:11] codeithuman commented on #2826
I ran into this issue as well when upgrading from `alpha40` to `beta.6`.

[2019-09-07 13:42] Albert-Gao opened #2845 "How could I know the error detail?"
This is the error:

[code]

This is the mutation:

[code]

This is the variables:

[code]

Send via Hasura GUI works, but when sending from a lambda, it has this error. Can not figure out where is the error. Where I can check the runtime lop or enable more error info?

Thanks :)

[2019-09-08 06:00] marionschleifer commented on #2787
@V1shvesh that is amazing 😃 I assigned the issue to you.

Let us know if you need any help or in case you get stuck somewhere. @praveenweb will be happy to give you pointers.

[2019-09-08 06:03] marionschleifer commented on #2655
@tehpsalmist thank you so much for helping out! I make sure this will be added to the docs within the next 2-3 weeks 🙂

[2019-09-08 14:43] danghung-dev commented on #2572
Do we have any update? @tirumaraiselvan @RodolfoSilva
Thanks.

[2019-09-08 17:27] V1shvesh commented on #2787
Awesome! I'll come up with a nice idea for the app and share it here soon. I'll also explore the documentation for Hasura and Mithril.js.

[2019-09-08 18:18] marionschleifer commented on #2815
@sebathi just checking in if you have been able to solve this problem? 🙂 if yes, we can close the issue.

[2019-09-08 18:27] marionschleifer commented on #2812
Hey @brandonmp just checking in if you were able to solve the problem? 🙂

[2019-09-08 18:30] #2808 closed

[2019-09-08 18:34] marionschleifer commented on #2787
@V1shvesh That is great, looking forward to what you come up with 😃

[2019-09-08 18:35] marionschleifer commented on #2785
I'm closing this in favour of https://github.com/hasura/graphql-engine/issues/704.

[2019-09-08 18:35] #2785 closed

[2019-09-08 19:06] marionschleifer commented on #2586
@mouneshg any update on this? 🙂

[2019-09-08 19:11] marionschleifer commented on #2566
@matejbasic any updates here? 🙂

[2019-09-08 19:18] RodolfoSilva commented on #2572
@danghung-dev No, I don't. Maybe @tirumaraiselvan.

[2019-09-08 19:22] marionschleifer commented on #2433
@sgrove any update here? 🙂

[2019-09-08 19:22] marionschleifer commented on #2432
@sgrove any update here? 🙂

[2019-09-08 19:55] mnlbox commented on #1502
:wink:

[2019-09-08 21:17] ragnorc commented on #2323
Any updates on that?

[2019-09-09 00:44] litchfield opened #2846 "Support aggregate functions string_agg array_agg"
The general purpose functions `string_agg` and `array_agg` are very useful in certain situations; without them you have to resort to querying and looping related records.

If supporting the separator parameter on `string_agg` is non-trivial, then don't bother with it at all, just focus on `array_agg` (which has no parameters), and from there the client app can easily concatenate the values.

[2019-09-09 04:52] marionschleifer commented on #2336
I will close this issue. @scheung38 feel free to re-open if you would like to add something.

[2019-09-09 04:52] #2336 closed

[2019-09-09 04:53] Albert-Gao commented on #2845
Found the problem, the query that I was sending is template string, not a string.

But I can't tell the source by reading this `"path": "$.query",` maybe something more clear? Like `expected Query to be Text, encountered Array`

[2019-09-09 04:54] tirumaraiselvan commented on #2432
@sgrove I think this should happen more often now :) because we have made lot of improvements in the error handling but we are still not 100% complete and working on this atm. Although it would help a lot if you could try the queries out with the latest preview version.

cc: @jberryman

[2019-09-09 05:02] wawhal commented on #2331
We couldn't reproduce this issue :(
So closing it for the time being.
If anybody faces a similar problem, please comment and we can reopen to  look into it :)

[2019-09-09 05:02] #2331 closed

[2019-09-09 05:16] tirumaraiselvan commented on #2439
https://docs.hasura.io/1.0/graphql/manual/api-reference/schema-metadata-api/remote-schemas.html#add-remote-schema

[2019-09-09 05:16] #2439 closed

[2019-09-09 05:36] marionschleifer commented on #2107
@tomsutton1984 any update on this? 🙂

[2019-09-09 05:45] marionschleifer commented on #1989
@rasheedk any update on this? 🙂

[2019-09-09 05:46] michaelhayman commented on #2748
This issue has gone away for me magically after starting up Hasura with Dockerified PostgreSQL again today.  I have no idea what caused it; at the time of report I had rebooted and tried other things and it was persistent.

You could close this and be aware of it in case it pops up again, if you like, or I'm around if you need debugging info.

[2019-09-09 06:47] marionschleifer commented on #979
@ktan114 I'm closing this issue. If you would like to add anything to it, feel free to re-open 🙂

[2019-09-09 06:47] #979 closed

[2019-09-09 08:11] tomsutton1984 commented on #2107
No longer an issue

[2019-09-09 08:11] #2107 closed

[2019-09-09 08:30] #1878 closed

[2019-09-09 08:37] anubhav8421 commented on #1878
Thanks for merging

[2019-09-09 10:34] boomaker opened #2848 "Block requests based on X-FORWARDED-PROTO HTTP header"
Hi all!

I'm running Hasura in an App Engine Flexible on Google Cloud Platform using a Dockerfile. I'd like to enforce HTTPS and GCP suggests to check from application if X-FORWARDED-PROTO is either http or https. In my case, I am using JWT auth, so I cannot use a webhook to check this condition.

It would be nice if it is possible from Hasura to drop requests if X-FORWARDED-PROTO header does not

[2019-09-09 13:01] ifdotpy opened #2849 "x-hasura-default-role is prefered over x-hasura-role"
Hi! Thank you for your awesome work.

I have an issue with jwt. While using this  _HASURA CLAIMS_:

`{
    "x-hasura-default-role": "anonymous",
    "x-hasura-allowed-roles": [
        "user",
        "anonymous",
        "admin",
        "institution-admin"
    ],
    "x-hasura-role": "user",
    "x-hasura-user-id": "rglCjqnVAKbBx0Q7jke73blCKmu1"
}`

Hasura identifies request sender as **anonymou

[2019-09-09 14:07] #2840 closed

[2019-09-09 14:07] rikinsk13 commented on #2665
Closed via #2843

[2019-09-09 14:07] #2665 closed

[2019-09-09 15:33] jberryman commented on #2432
@sgrove are you referring to the top level `extensions` field (sibling to `data` and `errors`) or the `extensions` in the `errors` list? I think we plan on passing the remote's top-level `extensions` through, but there's a little research left to do there.

[2019-09-10 04:36] 0x777 commented on #2539
@woba-nwa Is your requirement similar to https://github.com/hasura/graphql-engine/issues/2848 or do you expect graphql-engine to terminate ssl connections?

[2019-09-10 06:45] woba-nwa commented on #2539
The two scenarios are in my view different solutions to the same problem, so yes. I do find the environment variable to be the most user-friendly solution however.

The basic need is just to prevent unencrypted traffic to the Hasura server when on Heroku, where you cannot control these things on domain level, e.g. via CloudFlare (all servers have the [app name].herokuapp.com subdomain, which canno

[2019-09-10 07:07] 0x777 commented on #2849
`x-hasura-role` has to be sent with the http request. It is not expected to be part of the JWT's hasura claims and as such it is ignored. The `x-hasura-role` sent with the request is checked to see if it is part of the `x-hasura-allowed-roles` and if yes, the request is executed as that role. In case the `x-hasura-role` is missing, the `x-hasura-default-role` from the JWT is used.

[2019-09-10 07:32] ecthiender commented on #2204
Another confusion: https://github.com/hasura/graphql-engine/issues/2849

[2019-09-10 07:32] #2849 closed

[2019-09-10 07:37] ecthiender commented on #2574
@sayi65 can you explain your use-case for this in a bit more detail? That would help us understand the purpose of the feature.

The current purpose of auth webhook is to authorize the request and return `x-hasura-*` session variables back to Hasura. Infact Hasura will reject if the response is of not that format. Do you want the same format of response (`x-hasura-*` values) to be returned to the c

[2019-09-10 07:40] ecthiender commented on #2794
@TAnas0 I think the biggest thing would be the steps to reproduce. Apart from that RAM/CPU consumption over time is useful.

@0x777 any other ideas?

[2019-09-10 08:10] michaelhayman commented on #2036
Any update?  This bug bit me today, was expecting this to work with Point geometry type. :|

My workaround for now is adding an an extra jsonb column for now with lat/lng and duplicating the data.

[2019-09-10 08:12] michaelhayman commented on #2599
Any update?  I think this is really needed for any kind of serious app with validations.

[2019-09-10 08:13] #2748 closed

[2019-09-10 08:39] 0x777 commented on #2599
Capturing postgres errors and propagating them to the client side is easy however we shouldn't be capturing every error, only those that are meant for the client.

The question is how do we distinguish these errors? Luckily Postgres lets you [define custom error codes](https://www.postgresql.org/docs/current/plpgsql-errors-and-messages.html) (through `SQLSTATE`). So maybe we can provide a server s

[2019-09-10 09:18] c19 opened #2853 "how to use $exist and $notexist on where clause"
Or any other way to implement this scenario?
[code]

[2019-09-10 10:02] dohomi commented on #2849
In my opinion / besides the confusion I had just now, the developer needs to verify the HTTP header again - I thought this would be done directly in the JSON token already. It leads to slightly more written code - the client side needs to attach the header, the server side needs to validate if the Authentication + x-hasura-role is actually still valid

[2019-09-10 11:19] marionschleifer commented on #2036
We will release a fix for this by the end of this week 🙂

[2019-09-10 11:28] 0x777 commented on #2487
Sorry I missed this.

Yes, graphql-engine will [read the session data from the token](https://docs.hasura.io/1.0/graphql/manual/auth/authentication/jwt.html) (the token isn't encrypted, it is signed).

[2019-09-10 11:31] lorenzo commented on #2584
@marionschleifer is there any progress on this? This is quite important for my team and I'm willing to lend a hand if you need help with the feature

[2019-09-10 12:09] shahidhk commented on #2824
Thanks @codepunkt. We have an implementation at https://github.com/hasura/graphql-engine/pull/1780 and we should get to merging it soon.

[2019-09-10 12:12] shahidhk commented on #1418
We are looking at some architecture changes for code re-use in console and cli. The current PR needs to be re-worked.

[2019-09-10 12:14] ifdotpy commented on #2849
@dohomi Initially I also thought it is a security issue. But then realized that auth server should return correct role list (`x-hasura-allowed-roles`). Which means that the roles in the list are the only roles that can be put into `x-hasura-role` header.

[2019-09-10 12:25] benoitscherrer commented on #1418
I think this feature is really needed/critical for anybody wanting to do
automatic functional testing.

Also, in your rework, it would be fantastic if we can rename relations. The
automatic way to name them fails with some words (eg, Series -> Sery) which
in our case will also impair our ability to do automatic testing if we
can't rename them with a cli.

Keep up the good work!

Thanks
Best
Benoit

[2019-09-10 14:06] 0x777 commented on #2539
Unfortunately `301` redirects and `POST` requests don't play well together. Recently `308` redirects are introduced to solve this, however all http clients may not handle `308` redirects as expected. Hence the only place where a `301` redirect make sense is with the console assets.

Another issue with redirects is in determining the `Location` to which the request has to be redirected. We can at b

[2019-09-10 14:12] 0x777 commented on #2853
Create an array relationship called `purchased_chapters` on `users` table. Your query will then be:
[code]
`{ array_relationship: expression}` returns `true` if `expression` is valid on any of the relationship entries. So, `purchased_chapters: {chapter_id: {_eq: 3}}` returns `true` if there exists a `purchased_chapter` for the user with `chapter_id=3`.

[2019-09-10 14:49] RichieMerchant opened #2855 "Hasura DB schema errors"
hasura console
Version: v1.0.0-beta.6

After renaming a table, I started seeing an error relating to the table `hdb_catalog.hdb_schema_update_event`. After digging around those tables and comparing it against staging, I notice that the table `hdb_catalog.hdb_schema_update_event` was missing the id column. I then started getting another error regarding a column called `is_enum`;
![Screen Shot 2019-

[2019-09-10 15:02] #1469 closed

[2019-09-10 16:37] 0x777 commented on #2855
I'm not sure I follow what's going on. Which version of the server are you on? Are you running multiple instances on the same database?

[2019-09-10 20:57] geoff448 commented on #2326
Hey guys! I just published a blog post about deploying a Hasura on CloudRun - hope it helps

https://medium.com/tactable-blog/building-a-serverless-graphql-app-with-next-js-hasura-and-cloudrun-fb8ca7c5e757

[2019-09-10 21:46] lexi-lambda commented on #2539
One data point I know of: Ruby on Rails has a `force_ssl` feature that is quite commonly used, and I imagine it is fairly robust. Its behavior is to simply [issue `307 Temporary Redirect` responses for non-GET or HEAD requests](https://github.com/rails/rails/blob/66cabeda2c46c582d19738e1318be8d59584cc5b/actionpack/lib/action_dispatch/middleware/ssl.rb#L132-L138). (Weirdly, Rails sends `301 Moved P

[2019-09-10 21:54] lexi-lambda commented on #2845
The value for `"path"` is, indeed, intended to describe the point in the request where the error occurred. I think duplicating that information in the error message would be redundant, but there are definitely things we could do to make errors clearer (such as, for example, including more explanation of how to interpret the `"path"` or including the invalid value itself in the error). So I’ll inte

[2019-09-11 00:09] dohomi commented on #2849
yes.. I was a bit slow in my head and initially thought that allowed-roles should be same across all created JWT tokens. But now I prepare the JWT on the server that the default-role and allowed-roles are directly connected to the user and the security flaw I had in mind before is gone. A `user` only has `allowed-roles:["user"]` while an `admin` potentially could verify himself as `user-role:["adm

[2019-09-11 05:25] mzbyszynski opened #2858 "Serving multiple graphql-engine instances with different schemas from a single database"
Hello!

Really blown away by graphql-engine, it's great! I'm wondering if it would be possible to run multiple graphql-engine instances serving different graphql schemas from the same postgres instance. It seems like one graphql-engine instance would overwrite the data in `hdb_catalog.hdb_table` from the other instance.

Is that correct or am I missing something?

An example use-case would be to h

[2019-09-11 07:00] ecthiender commented on #2138
@MooreDevelopment is your issue resolved? Closing this issue due to lack of info. Feel free to reopen if you have to add anything.

[2019-09-11 07:00] #2138 closed

[2019-09-11 07:48] #2122 closed

[2019-09-11 07:49] shahidhk opened #2860 "update digitalocean docs to add a note about connection pooling"
ref: https://discordapp.com/channels/407792526867693568/586606982077874176/621144673129332748

[code]

[2019-09-11 10:18] V1shvesh commented on #2787
@marionschleifer, @praveenweb Hey guys!

So I have been reading up on Mithril.js, PostgreSQL and Hasura. So far, I have come to an understanding that the sample app should be able to demonstrate the real-time subscription feature of Hasura + fast rendering performance of Mithril.js.

I am still trying to find the perfect use case for such an example, but so far I am unable to come up with any idea

[2019-09-11 10:33] vikastomar5983 commented on #2553
I am getting same error when starting Hasura with  `-e HASURA_GRAPHQL_JWT_SECRET='{"type":"RS512","jwk_url": "**https**://oauth.xxxx:xxxx/oauth/token_keyset"}'`

the webhook is using self signed cert. How to start Hasura with somehting like - `javax.net.ssl.trustStore=cacerts`

[2019-09-11 12:12] coco98 commented on #1369
Brief guide here: https://blog.hasura.io/jwt-analyzer-in-hasura-console/

[2019-09-11 12:58] coco98 commented on #2858
@mzbyszynski A simple way to try this out:

Head to any particular table, go to permissions, setup a role called "internal". Enable insert, select, update, delete without any checks.
Then add another role on the same table called "external". Enable only select.

Now head to the graphiql tab and in the headers, set up the following header
`x-hasura-role` with the value `external`.
You should see th

[2019-09-11 13:07] praveenweb commented on #2787
@V1shvesh - You are right. The sample app should ideally demonstrate real-time subscription feature + rendering performance of Mithril.js. We already have a standard app with a realtime feed, a realtime list of logged in users and features exploring queries and mutations.

We typically build this standard realtime todo app in [different frameworks](https://github.com/hasura/graphql-engine/tree/mas

[2019-09-11 13:22] dohomi commented on #1241
Totally agree to every one else replied. Best would be to have a similar interface like permissions based on columns of the table to be changed in certain condition. This would reduce the webhook logic and aligns with the setup of Hasura in general

[2019-09-11 13:53] 0x777 commented on #1447
Great care has to be taken with Postgres connection strings. It is best if we never expose this out of the server.

[2019-09-11 13:53] #1447 closed

[2019-09-11 13:53] 0x777 commented on #1447
Great care has to be taken with Postgres connection strings. It is best if we never expose this out of the server.

[2019-09-11 13:59] 0x777 commented on #1989
@rasheedk closing this for now. Please feel free to open this issue with more information.

[2019-09-11 13:59] #1989 closed

[2019-09-11 14:58] tirumaraiselvan commented on #2572
@danghung-dev Sorry for the delay. We will definitely make it part of the next release.

[2019-09-11 15:13] RodolfoSilva commented on #2572
@tirumaraiselvan thanks. :P

[2019-09-11 15:48] Toub commented on #2792
@0x777 any comment about this one?

[2019-09-11 15:50] sawankumarbundelkhandi opened #2861 "Return the geography distance in query response"
How can I return the distance from the geography(location) I gave in query variable to the city (cities table) geography (Basically, the distance of the city from my location). I need to show the city as nearest to farthest.

Below is my table schema

[code]

Below is the query I am executing to get the cities near my location. I am passing my current location and a distance

[code]

Below is the

[2019-09-11 16:04] mathieutu opened #2862 "[ERROR] Hasura console is not able to reach... and http: panic serving 127.0.0.1."
Hello,
I'm trying to launch hasura console with a just deployed hasura herokuapp.

I've followed the "One-click deployment on Heroku" tutorial followed by https://docs.hasura.io/1.0/graphql/manual/migrations/existing-database.html

Nothing more.

We've tried on a Ubuntu machine, and Mac OSX 10.13.6

Hasura version:
[code]

I have the `Hasura console is not able to reach your Hasura GraphQL engine

[2019-09-11 17:34] ifdotpy commented on #2849
@dohomi I thought same when created the issue.

[2019-09-11 19:44] CliffWMiller commented on #2830
We ended up pointing Hasura directly at the database and that did resolve the issue.

[2019-09-11 20:16] david-studyblue opened #2863 "Hasura data browser doesn't emit generated_sql log events"
Hi!  When I issue GraphQL queries either via GraphiQL or directly, I get generated_sql entries in the log (provided I have that turned on).  However, when I browse the data in the console, no such generated_sql entries are emitted into the log.  It would be useful if it did, in order to troubleshoot any problems that occur.  Here's a video that illustrates this:

https://youtu.be/pAIdaSst_Mo

[2019-09-11 23:30] brightloudnoise opened #2864 "schema update error after upgrading to beta.6 on heroku (hobby plan)"
I followed the instructions to upgrade to the latest hasura deployment on my heroku hobby plan, but now heroku reports the app crashes on restart and looking at the logs I see what looks like schema update errors when hasura starts. {"internal":{"statement":"\n    INSERT INTO "hdb_catalog"."hdb_table" (table_schema, table_name, is_enum)\n    VALUES ($1, $2, $3)\n  ","prepared":false,"error":{"exec

[2019-09-12 00:25] lexi-lambda commented on #2864
What version of Hasura are you upgrading from? If it was a version older than beta.5, it’s probably a duplicate of #2826, which is a known issue (but unfortunately not fixed yet).

The workaround for the moment is to upgrade to beta.5 first, start Hasura to run the migrations, then upgrade to beta.6. We’re intending to fix the issue soon to make doing that unnecessary (since it shouldn’t be necess

[2019-09-12 01:06] brightloudnoise commented on #2864
Thanks. I got it working after following the [instructions to upgrade to a specific version](https://docs.hasura.io/1.0/graphql/manual/deployment/heroku/updating.html#deploy-a-specific-version-of-the-hasura-graphql-engine)

[2019-09-12 01:06] #2864 closed

[2019-09-12 03:36] ajhool opened #2865 "pgAdmin cannot resolve host name "hasura""
When configuring pgAdmin in https://github.com/hasura/graphql-engine/blob/master/install-manifests/docker-compose-pgadmin/docker-compose.yaml , the README incorrectly says that the host name of the new server is "hasura". However, I am confident that the host name is `postgres` because pgAdmin is connecting to the postgresql server rather than the hasura endpoint.

I was receiving a "cannot resolv

[2019-09-12 05:05] leopsidom opened #2867 "Multiple permission rules?"
New to hasura graphql-engine. It looks like an awesome solution so far. But I am having one issue regarding the permissions. So currently I can only set the rule on a set of columns and rows. what if I need rows to have different permissions for different columns? For instance for column A and B, I need to have one set of row permissions and for column C and D, I need to have another set of row pe

[2019-09-12 06:37] 0x777 commented on #2861
You'll need to write a custom SQL function for this: https://docs.hasura.io/1.0/graphql/manual/queries/custom-functions.html

[2019-09-12 06:48] ecthiender commented on #2863
Hi @david-studyblue! The generated SQL is only logged only for GraphQL operations, not on metadata API queries (the queries that are made while browsing the Data tab) (https://docs.hasura.io/1.0/graphql/manual/api-reference/schema-metadata-api/index.html).

[2019-09-12 06:53] 0x777 commented on #2867
Hi @leopsidom, I'm pasting an answer to a similar question on our discord support channel. Hopefully you can extrapolate from this.

---
Let's say you have a users table of which some fields (id, username) can be queried for all rows but other private fields like (email) should only be allowed for the current user's row.

Create a view called `users_private` with the private fields like `email`. A

[2019-09-12 06:55] ecthiender commented on #2862
Hi Matt, can you share the contents of the `config.yaml`?

[2019-09-12 07:23] mathieutu commented on #2862
Oh sh*t, I prepared it and forgot to join the link, sorry!

https://gist.github.com/3b3a4ec759f30741f86b6a0d09e6c8da

[2019-09-12 13:35] marionschleifer opened #2871 "docs: update troubleshooting guide with errors"
We need to document Hasura error messages in docs, e.g. in what cases Hasura fails to start.

**Call for action**: If you receive any errors while working with Hasura, please add a comment here 🙂

[2019-09-12 16:39] RichieMerchant opened #2872 "Applying migration fails on another instance of the GraphQL engine"
Graphql Engine: v1.0.0-beta.6
Hasura Cli: v1.0.0-beta.6

Hi,

While trying to apply a migration from my staging db to my live, I get the following.

[code]

I'm able to apply metadata ok but migration fails. I've tried applying a single version with the same result.

It would be nice to have better error messages that make sense.
I've tried adding `--log-level DEBUG` But this does not provide any

[2019-09-12 17:51] udhayamgit opened #2873 "How To Register in Eureka to access from Zuul Proxy"
Hi Team,

Currently, I have registered all my Java and Nodejs microservice in eureka, Now I would like to make a GraphQL call via my eureka registry to Hasura Engine. Is there is a way to register hasura service in Eureka?

[2019-09-13 06:46] marionschleifer opened #2875 "docs: update metadata schema docs"
Docs here: https://docs.hasura.io/1.0/graphql/manual/how-it-works/metadata-schema.html are outdated.

The task is to generate the Postgres (only `hdb_catalog` schema) docs on a local machine using a fresh Postgres database initialised by the latest Hasura server. And embed those docs in Hasura docs.

Note: Generated docs can be in any format which can be seamlessly integrated with Hasura docs. Has

[2019-09-13 07:44] vikastomar5983 opened #2876 "webhook cacert error"
The issue is similar to - https://github.com/hasura/graphql-engine/issues/2553

Getting below error when trying to connect to webhook (oauth server with self signed cert).

`message: "InternalException (HandshakeFailed (Error_Protocol ("certificate has unknown CA",True,UnknownCa)))"`

String Hasura with :
`-e HASURA_GRAPHQL_JWT_SECRET='{"type":"RS512","jwk_url": "**https**://oauth.xxxx:xxxx/oauth/

[2019-09-13 07:46] rakeshkky commented on #2800
@bkstorm You can downgrade the catalog from 22 to 19 by running
[code]
and roll back to `beta.5`
We'll soon update the docs with [this](https://github.com/hasura/graphql-engine/pull/2819) information.

[2019-09-13 08:11] ecthiender commented on #2553
This is because the current HTTP client used by GraphQL engine only relies on the trusted CAs that are in the system keystore.

[2019-09-13 08:12] ecthiender commented on #2876
Closing this in favour of #2553

[2019-09-13 08:12] #2876 closed

[2019-09-13 08:26] vikastomar5983 commented on #2553
@ecthiender system keystore? You mean inside the hasura - image? Is there a way to modify or use something like javax.net.ssl.trustStore=cacertPath to resolve this?

[2019-09-13 08:47] rikinsk commented on #2796
Closing in favour of #2168

[2019-09-13 08:47] #2796 closed

[2019-09-13 08:47] ecthiender commented on #2553
@vikastomar5983 right now there is no way. We have add support for it in the server code and update docker image. Even if you mount it inside the docker image, the HTTP client does not respect that.

[2019-09-13 09:35] 0x777 commented on #2553
@vikastomar5983 You can mount the `.crt` file in `/etc/ssl/certs` directory. The tls manager that we use adds all `.crt` files under `/etc/ssl/certs` into its certificate store.

[2019-09-13 14:00] waptik opened #2879 "learn: Hasura backend tutorial [remote-schemas]"
In [remote-schemas](https://learn.hasura.io/graphql/hasura/custom-business-logic/1-remote-schemas), the demo app is not working as it should. On [glitch](https://auth0-hasura-remote-schema.glitch.me/), this query

[code]
displays some errors.

[2019-09-13 17:43] praveenweb commented on #2879
@waptik - The query is supposed to be made from a client with the right `Authorization` headers set. In case you want to try it out in GraphQL Playground, do send in the header with Auth0 `idToken` and you should be able to get a response.

[2019-09-13 18:05] hammadj commented on #721
@0x777 Could you publish the work that has been done so far so the community could possibly pick it up and move it across the line?

Laying the foundations for a big new venture right now, we love Hasura and all its amazing out of the box functionality. However, Relay Modern and especially [Relay Experimental](https://babangsund.com/relay_experimental/) are looking a lot more polished and fully fe

[2019-09-13 18:05] waptik commented on #2879
Ok. Also in the example, the video displayed how to access the query from hashura's GraphiQl UI. I also set the `Authorization` header but i get the following error:
[code]

[2019-09-14 03:56] tirumaraiselvan commented on #2873
Hi @udhayamgit

How do you normally register "external" services with Eureka? I am guessing there should be a proxy interface which registers with eureka and also proxies all endpoints to the underlying application.

[2019-09-14 03:59] tirumaraiselvan commented on #2764
@andretorres00123 Any more info you could provide? The guess is that this is a problem with the state of the database. So if you could answer the questions here it would help pin-point: https://github.com/hasura/graphql-engine/issues/2764#issuecomment-524626969

[2019-09-14 04:03] tirumaraiselvan commented on #2087
This is WIP.

[2019-09-14 04:06] edmundmunday opened #2880 "Make information about created_at and updated_at columns more easily accessible."
When looking around for information, or anything in the official docs (particularly when using the search), it's next to impossible to find out how to actually set up the created_at and updated_at columns.

It's not clear at all that these need to be set up explicitly using the "Frequently Used Columns" functionality.

Suggestion: Make sure that if someone searches the terms "createdAt", "created_

[2019-09-14 05:52] beepsoft opened #2881 "Hwo to have ID type in schema for primary keys"
Hi,

it seems that Hasura doesn't generate the graphql type `ID` (https://graphql.github.io/graphql-spec/June2018/#sec-ID) for primary keys. Instead it generates a scalar type matching the type of the primary key in the database.

So, in case my primary key is a bigint then in the schema I will have

[code]
The problem is that other tools (eg. https://github.com/mobxjs/mst-gql) depend on the exist

[2019-09-14 06:14] praveenweb commented on #2879
@waptik - Have you configured the jwt claims in Auth0? This is the relevant step - https://learn.hasura.io/graphql/hasura/authentication/2-custom-jwt-claims-rule

[2019-09-14 07:31] udhayamgit commented on #2873
Generally, the service need to be registered in eureka before proxies all endpoint to the underlying application.

[2019-09-14 07:36] udhayamgit commented on #2873
I Need to register the hasura instance in my eureka registry, In place of service-id, I need to put hasura server instance. What is the way to register the hasura in eureka?

zuul.routes.hasura.path=/graphql/**
zuul.routes.hasura.serviceId=Hasura-server
zuul.routes.hasura.filters=jwtVerify

[2019-09-14 10:46] waptik commented on #2879
Yes, I did.
![IMG_20190914_101146](https://user-images.githubusercontent.com/1687551/64907005-ca7f4b80-d6dc-11e9-97a8-3f07c085f6a8.jpg)

[2019-09-14 12:53] TAnas0 commented on #2794
### Update on the situation:

My droplet's RAM spiked again, after droping. This is a graph from the last 7 days:
![image](https://user-images.githubusercontent.com/12121506/64908261-a11ee980-d6f5-11e9-9740-95da72e63826.png)

I am also exposing a dashboard, thanks to [Netdata](https://github.com/netdata/netdata), from the droplet to get further insight: [droplet's dashboard](http://167.99.253.190:

[2019-09-14 13:27] andrewalex opened #2882 "Unable to set row select permissions on tstzrange columns"
I seem unable to set any row select permissions for tstzrange columns in the user interface the dropdown is blank.
![image](https://user-images.githubusercontent.com/3682251/64908743-89ca0700-d6c9-11e9-882d-878d0bc0d732.png)

[2019-09-14 20:49] brandonmp commented on #2812
as is too often the case I can't figure out what precisely was going wrong here, but it's fixed, so closing.

tl;dr: a postgres thing, not a hasura issue.

for posterity, @ecthiender , i think i actually unintentionally lied in my OP--i think i originally used the command you shared (`CREATE EXTENSION IF NOT EXISTS citext SCHEMA app;`) to create the extension.

This is why the value in `pg_extensi

[2019-09-14 20:49] #2812 closed

[2019-09-15 04:17] #2865 closed

[2019-09-15 05:49] marionschleifer commented on #2880
@edmundmunday thank you for bringing this to our attention. We will update the docs accordingly 🙂

[2019-09-15 06:54] marionschleifer commented on #2815
I'm closing this. @sebathi feel free to re-open if you would like to add something 🙂

[2019-09-15 06:54] #2815 closed

[2019-09-15 09:09] oscar6echo commented on #2726
I agree the button  "Track All"  under "Untracked foreign-key relations" in the the"Data" page is EXTREMELY USEFUL. Otherwise, it would be practically impossible to use Hasura on an existing database with a large number of relationships.

But what is still missing is an API endpoint to do that: "Track all relationships inferred from db structure" (more precisely, the subset of tracked tables).
Is

[2019-09-15 12:48] abn commented on #2599
@0x777 that would be great. It would also be helpful if that check support a prefix or a pattern/mask to be configured, this could be in accordance to what is specified in the documentation.

In our use case today, we have a helper function (example below) that raises all exceptions that we want to propagate to the client. We use a prefix (eg: `C0`) to the code in order to indicate such applicatio

[2019-09-15 13:21] jjangga0214 commented on #2726
@oscar6echo +1

P.S. Currently using an e2e tool would enable a workaround by "clicking" the button in an automatic way.

[2019-09-15 17:42] rrjanbiah opened #2883 "Hasura vs Cayley vs Dgraph ?"
Can we please get some comparison? TIA

[2019-09-16 03:49] hgiasac commented on #2883
@rrjanbiah This may be out of topic. GraphQL Engine is a GraphQL server wrapper over PostgreSQL. It follows GraphQL specification.

Cayley vs Dgraph are graph databases with different mechanism. You should look at comparison papers between graph database vs relational database vs noSQL, etc.

[2019-09-16 06:04] tirumaraiselvan commented on #2873
Understood. My question is in your environment, is there an established pattern to register external/third-party services as Eureka clients?

The solution to the problem is not hasura related, it is more specific to your deployment workflow. For e.g., if you are using some container orchestration platform (like Kubernetes), then you can deploy an init container/side-car container which registers h

[2019-09-16 06:13] shahidhk commented on #2726
@oscar6echo It is not encouraged to "click the button" to track all tables or relationships in a production environment. You should do that once in your dev env and then export the metadata and use import this metadata later in other instances.
Otherwise, your configuration is never declarative.

See https://docs.hasura.io/1.0/graphql/manual/migrations/manage-metadata.html on how you can use the A

[2019-09-16 06:20] oscar6echo commented on #2726
Ok, understood.
Thx for the quick answer.

[2019-09-16 07:22] rikinsk commented on #2663
Should be resolved in #2686

[2019-09-16 08:50] #2862 closed

[2019-09-16 08:50] #2872 closed

[2019-09-16 09:07] EddieVallejos commented on #1599
+1

[2019-09-16 09:08] bertlokeen commented on #1599
+1

[2019-09-16 09:17] dsandip commented on #2873
@udhayamgit Would love to discuss this over a call if you'd like. If this works for you, please pick a convenient slot using [this](https://calendly.com/team-hasura/graphql-helpline)

[2019-09-16 14:22] geoff448 commented on #2326
@pronevich

Here's a timed curl hitting the next app from a **100% cold start** meaning both the
Next application and GraphQL server had to start their processes from scratch.

Neither service had received a request in approximately a week and both are are daisy chained serverless applications. One app would have had to start up and ping the next which would then have to start up and return a resp

[2019-09-16 14:40] 0x777 commented on #2792
@rakeshkky will check if it can be easily added to the existing PR which adds support for compression.

[2019-09-16 14:50] pronevich commented on #2326
@geoff448 thanks for your detailed answer

[2019-09-16 14:50] 0x777 commented on #1655
@AakashPat

The server can only have one mapping for a GraphQL `null` and currently it is SQL `NULL`. If the field isn't specified, `DEFAULT` will be used and I don't think SQL `DEFAULT` makes sense for GraphQL `null` even if we were to change the mapping.

Why not use `uuid` as the primary key so that you can generate it on the client side?

[2019-09-16 15:01] kevboh opened #2887 "Relationships docs specify manual_mapping attribute"
The relationship metadata docs specify a `manual_mapping` attribute that doesn't work or exist: https://docs.hasura.io/1.0/graphql/manual/api-reference/schema-metadata-api/relationship.html#arrrelusing

Opening issue to have a number to report in a forthcoming PR

[2019-09-16 15:44] mathieutu commented on #2862
@shahidhk @arvi3411301 thanks for this quick fix.

Do you have any idea when it will be released?

Thanks.

[2019-09-16 18:09] ecthiender commented on #2814
Are you asking how to get the `thing_id` also in the `aggregate` query?  Does this work for you?

[code]

[2019-09-16 18:18] florent1933 commented on #1883
As I promised, the blog post about migrating from Firebase to Hasura: https://medium.com/@clapie.florent/how-i-scale-firebase-by-migrating-to-graphql-and-speed-up-my-development-by-10x-200b4a3068a0?sk=cf4a748bfa93d061ad84fd194d5e87bb

Better late than never 🤞

[2019-09-16 19:21] piroszhog commented on #1291
Definitely, it's one of the most important thing for the custom business logic implementation!

[2019-09-16 19:41] kevboh opened #2890 "A metadata error during migrate apply can cause inconsistent migration state"
For sql+yaml migrations, if the sql step succeeds but the yaml step fails, hasura seems to think your migration has been applied even though your metadata was not.

Specifically, I was able to reliably get into this state by

1. running `hasura migrate create some-migration`
2. adding a valid sql file to that migration
3. putting valid-but-erroring yaml in that migration. In my case this was a cre

[2019-09-16 19:53] BenoitRanque commented on #2890
Just to add to what @kevboh said: I've found failure in a yaml migration file with multiple steps wil usually result in an inconsistent state.

The following is moslty guesswork from my experience: It seems that during migrations, if there is an error in a yaml migration file, there is no automatic rollback. This means that if my migration file fails on step 2, and I fix the error, it will try to

[2019-09-16 22:58] mthota15 opened #2891 "Hasura on Cloudfoundry Platform"
Is possible to run Hasura on  Pivotal Cloudfoundry Platform(PCF)? If so, any guidance on how to deploy into PCF?

[2019-09-17 01:51] #446 closed

[2019-09-17 04:33] shahidhk commented on #2890
@kevboh I am unable to reproduce this issue. Will you be able to share a migrations directory and the Hasura version with which I can repro the issue?

[2019-09-17 06:05] dsandip commented on #1502
@mnlbox The use-case for this is well understood, but factoring in the demand for this in the community and the bandwidth available, we'll only be able to pick this up after a couple of months.

[2019-09-17 06:08] #2887 closed

[2019-09-17 06:28] shahidhk commented on #2539
I think we should only do these changes along with support for SSL/TLS, where one can provide a key-cert and get HTTPS without a reverse proxy. The entire force_ssl story fits together now. Otherwise, unless you're on managed platforms like heroku, you'd still need a reverse proxy.

[2019-09-17 07:36] lexi-lambda commented on #2539
I think there’s still a lot of value in providing HTTPS-forcing without doing SSL/TLS termination. “People running Hasura on Heroku” is a pretty valid use case, and in that context, SSL/TLS termination is actually totally unhelpful.

I feel like the people who are most likely to be unable to run a reverse proxy to issue the redirects themselves are people running in managed environments like Herok

[2019-09-17 07:43] #2714 closed

[2019-09-17 07:44] #2769 closed

[2019-09-17 08:25] abelaska commented on #2326
Inbound WebSockets not currently supported for Cloud Run https://cloud.google.com/run/docs/issues#grpc_websocket

[2019-09-17 10:00] phoenix1796 opened #2896 "Event triggers delivery failure"
We created an internal hooks handler using express which is using res.json to return the following object :
{"success": true, "data": "test data" }

and we can see that the request is returning a 200 OK

![image](https://user-images.githubusercontent.com/9111802/65031881-b39c5b80-d95f-11e9-9230-61bf9093e4b5.png)

But, in the Event trigger , we still see the event under pending events, with the fol

[2019-09-17 10:07] phoenix1796 commented on #1883
We are using it for handling our data store and to handle large frequency analytics traffic from IoT devices at http://pingzeex.io
Hasura has made it so that we can focus on the product without worrying about our data management needs and it has also helped us de-couple our front-end from the CPaaS back-end that we have created.

:clinking_glasses: :tada:

[2019-09-17 10:09] praveenweb commented on #2619
@mihazs - We will be adding `httpClient` argument instead of a static header object to solve this.
Closing this as duplicate of #2771

[2019-09-17 10:09] #2619 closed

[2019-09-17 10:24] praveenweb commented on #2791
@mduecker - The API currently doesn't support native postgres arrays. Hence using a column of type `varchar[]` is inconsistent now. This is a WIP https://github.com/hasura/graphql-engine/pull/2243 and once that is merged, this should work without decorating the provider.

[2019-09-17 10:31] tirumaraiselvan commented on #2896
Hi @phoenix1796

This is strange and I can think of an edge case due to network failure which may cause this kind of thing but if you could provide the following info then it would help pin-point:

Run the following query on your db where `event-id` is the event_id you see in your screenshot above.
[code]

[2019-09-17 10:47] rikinsk opened #2898 "display table check constraints on console"

[2019-09-17 13:28] kevboh commented on #2890
@shahidhk here you go: https://github.com/kevboh/hasura-repro-2890

[2019-09-17 13:42] mthota15 commented on #724
@shahidhk  is there a server binary for mac os? is it possible to download specific version?

 https://graphql-engine-cdn.hasura.io/server/latest/linux-amd64

[2019-09-17 13:48] geoff448 commented on #2326
@abelaska the CloudRun docs says:

A client's browser connecting to a socket from the GraphQL server would be an outbound socket. Still not something i've had a chance to try but outbound sockets are supposed to work in theory, if the CloudRun instance were to freeze the client could easily reconnect.

[2019-09-17 14:01] AakashPat commented on #1655
Seems like a valid fix, @0x777.

In fact, that's something I've already implemented.

Initially, I was having to maintain the ID as integer, as we were using it to sort things serially in parts of the app.
I have now moved away from that approach and have implemented another column in the table that stores an auto-incremented integer value for every row, which is set to be able to take NULL values

[2019-09-17 17:37] adamfeldman commented on #411
Hasura is now supported by YugaByte (Postgres-based distributed SQL DB):

https://docs.yugabyte.com/latest/develop/graphql/hasura

(I haven't personally tested this yet)

[2019-09-18 01:21] sayi65 commented on #2574
@ecthiender
The authentication server does not communicate directly with the application, but wants to pass data to the client side via graphql-engine.
I am currently using webhook-auth, but when token is expired, I want to issue a refresh token via graphql-engine.
Is this possible?

[2019-09-18 02:36] #2100 closed

[2019-09-18 02:37] shahidhk commented on #2741
Fixed in https://github.com/hasura/graphql-engine/commit/0a64ef99b5ab9d4968de241a1166ab9024e6d261

[2019-09-18 02:37] #2741 closed

[2019-09-18 02:37] shahidhk commented on #2771
Fixed in https://github.com/hasura/graphql-engine/commit/0a64ef99b5ab9d4968de241a1166ab9024e6d261

[2019-09-18 02:37] #2771 closed

[2019-09-18 02:58] joshuayoerger opened #2901 "Error in https://learn.hasura.io/graphql/reason-react-apollo/intro-to-graphql/3-writing-data-mutations"
The "Parametrise (sic) what you insert" portion of [this page](https://learn.hasura.io/graphql/reason-react-apollo/intro-to-graphql/3-writing-data-mutations) does not use the correct query variable type.

Navigating to https://learn.hasura.io/graphql/graphiql and submitting this query:
[code]

Produces this error:
[code]

[2019-09-18 04:35] Toub commented on #2792
It can also be implementer later, to avoid delaying the next release including compression.

However, `etag` looks easier to implement than `compression` as the hash implementation is not part of the `etag` specification. Any hash library will do the job.

https://www.logicbig.com/quick-info/web/etag-header.html

https://tools.ietf.org/html/rfc2616#section-14.19

[2019-09-18 05:08] mnlbox commented on #1502
I think it's an old request and I guess simple prefix environment variable need small PR. But I agree with you and know your workload bro. OK I can wait for this man :wink:
Thanks for your reply.

[2019-09-18 05:13] amine-benselim opened #2903 "multiple values on enum field"
I have an ENUM table 'language`, and I have a field on my user that is supposed to be able to get more than one language.

doing a mutation of this way:
[code]

shows me an error  `expected type language_enum, found [GERMAN, ENGLISH]`

what I did is set an Array relationship on the user table to the Enum table (`language . language  → user . language`) but that did not work for me.

is there a sol

[2019-09-18 05:18] lexi-lambda commented on #2903
What is the type of the `language` column in the Postgres schema, i.e. what is the output of `psql -c '\d+ language'`?

[2019-09-18 06:18] praveenweb opened #2904 "create learn tutorial for urql"
[URQL](https://github.com/FormidableLabs/urql) is a GraphQL Client for React. Using the same learn.hasura.io GraphQL Backend, need to build the [realtime todo app](http://final-graphql-tutorial.netlify.com) in urql along with the tutorial content.

[2019-09-18 07:09] dsandip commented on #2891
@mthota15 Yes, it is possible to run Hasura on Cloudfoundry and several users in the [community](https://discord.gg/hasura) have done so. I believe CF docs address the topic of [running Docker apps](https://docs.pivotal.io/pivotalcf/2-6/devguide/deploy-apps/push-docker.html). Changing the scope of this issue to document this process in a Hasura guide.

[2019-09-18 08:01] craigglennie opened #2905 "Imports from react-admin should be explained in ra-data-hasura readme"
There are some components imported in the example code that are created as part of the react-admin tutorial. If you aren't familiar with that tutorial you might wonder where these components come from.

[2019-09-18 08:41] amine-benselim commented on #2903
the output of the command is:
[code]

[2019-09-18 13:34] wu-s-john commented on #1433
Omg, yes please add this

[2019-09-18 16:03] rrjanbiah opened #2907 "Subscription but with delta changes?"
Is there anyway to get only the delta of data changes? For example, in nested structure, we get all root data unnecessarily--instead the required child data

[2019-09-18 16:58] wu-s-john opened #2908 "Have the option to completly remove serial primary key argument for generated Graphql insert methods"
For a table, I have my primary key set as a serial type. So for my cases, I would not have to fill the serial type at anytime. Can I generate a graphql schema that omits the input of this primary key type for insert functions?

This is important because I created an introspective query from Hasura's generated graphql schema. I am using this introspective query to write my hasura insert mutations i

[2019-09-18 17:42] coco98 commented on #2908
If you go to the permissions section for the particular table, you can create a role for which the insert mutation does not allow setting values for some columns. You can omit id from there.
Will that address the issue?

<img width="513" alt="Screenshot 2019-09-18 at 10 41 58 AM" src="https://user-images.githubusercontent.com/131160/65171977-f5311300-da00-11e9-8509-12f82cbc685e.png">

[2019-09-18 17:53] coco98 commented on #2907
@rrjanbiah We do this because sometime when websocket connections get interrupted or if clients reconnect after a while, it is hard to know what the last client side state is, so that we can diff. Ideally, you can subscribe to something like a `limit: 1, order_by: updated_at, desc` so that you get a notification that something has changed, and then you can make a precise query to refetch exactly t

[2019-09-18 20:32] lexi-lambda commented on #2903
Err, sorry, I meant `psql -c '\d+ user'`. I’m interested in knowing what the type of the `language` column on `user` is.

That said, I imagine it’s of type `text`, which a foreign key constraint referencing the `language` table, right? That would mean each `language` column only holds one `text` value, so even ignoring Hasura’s special treatment of enum tables, that schema only supports associatin

[2019-09-18 21:09] amine-benselim commented on #2903
thank you for this approach. I did model it that way now and it worked. maybe worth explaining this in the documentation 🤔

[2019-09-18 21:09] #2903 closed

[2019-09-18 21:36] amine-benselim opened #2909 "React-Apollo passing `where` clause to query fails with message: "expecting a JSON object""
I have a react app using `react-apollo` and `graphql-tags`, with the following query:
[code]

and the way I am calling this is the following:
[code]

and this is how I am composing `whereClause`:
[code]

after I make the query, this is the request payload:
[code]
and this is the error I get in the response:
`{"errors":[{"extensions":{"path":"$.variableValues.where","code":"validation-failed"},"mes

[2019-09-18 22:39] wu-s-john commented on #2908
Yes. This worked! However, this was not clear to do from the docs. Maybe there should be documentation using this trick.

[2019-09-19 02:17] praveenweb commented on #2901
Fixed via https://github.com/hasura/graphql-engine/pull/2902

[2019-09-19 02:17] #2901 closed

[2019-09-19 02:58] bkstorm commented on #1371
Yeah, just encounter this issue, hope hasura will support it.

[2019-09-19 03:44] shahidhk commented on #2909
@amine-benselim Construct the where clause as a JSON object since everything in the `variables` key should be JSON:
[code]

[2019-09-19 04:47] #981 closed

[2019-09-19 05:47] rrjanbiah commented on #2907
@coco98 Thank you so much for you yourself trying to help here.

Yes, it is more like a todo list with nested data, say `users->todos->comments->votes`

Will also try your idea and update in couple of days. But, it looks like we have to have double request for same payload and not effectively using WebSocket for realtime update.

Thanks again

[2019-09-19 06:41] shahidhk commented on #1905
This was added in https://github.com/hasura/graphql-engine/commit/d740de9ae2b9fd60deb27700e5f67cef286fa39a

[2019-09-19 06:41] #1905 closed

[2019-09-19 06:47] shahidhk commented on #724
@mthota15 Sorry, none that we publish. You can build from source by following the contributing guide. :smile:

Even https://graphql-engine-cdn.hasura.io/server/latest/linux-amd64 is not guaranteed to work on all Linux systems, especially when we add new system dependencies (like brotli for compression).

[2019-09-19 06:54] shahidhk commented on #2890
Thanks @kevboh, will check it out and get back.

[2019-09-19 07:58] marionschleifer commented on #2883
I'm closing this. @rrjanbiah feel free to re-open if you have any more questions 🙂

[2019-09-19 07:58] #2883 closed

[2019-09-19 08:00] marionschleifer commented on #2861
I'm closing this. @sawankumarbundelkhandi feel free to re-open if you'd like to add something 🙂

[2019-09-19 08:00] #2861 closed

[2019-09-19 08:04] marionschleifer commented on #2832
@The-planet any update on this? Otherwise we can close the issue 🙂

[2019-09-19 08:05] marionschleifer commented on #2818
@shanetierney any update on this? 🙂

[2019-09-19 08:09] marionschleifer commented on #2487
I'm closing this issue. @codeithuman feel free to re-open if you'd like to add something 🙂

[2019-09-19 08:09] #2487 closed

[2019-09-19 08:13] marionschleifer commented on #2329
Closing this issue. Feel free to re-open if there is anything to add to it 🙂

[2019-09-19 08:13] #2329 closed

[2019-09-19 08:14] marionschleifer commented on #1655
I'm closing this issue. Feel free to re-open if you'd like to add something 🙂

[2019-09-19 08:14] #1655 closed

[2019-09-19 08:27] marionschleifer commented on #2853
I'm closing this issue. @c19 feel free to re-open if you'd like to add something 🙂

[2019-09-19 08:27] #2853 closed

[2019-09-19 09:00] rikinsk commented on #2882
@andrewalex We currently don't support range type fields in permission rules.

Could you share a little more information about the permission rule you are trying to set up to help us understand the use case better.

[2019-09-19 09:03] abhinavsuthar commented on #1829
Not working on my database json file
`{
    "0gjmVHgCUGfgQKOkn": {
        "credentials": "{\"email\":\"sisdsdsdsd@gmail.com\",\"password\":\"password\"}"
    },
    "1W4P373ihUOnlTX165MN": {
        "apps": {
            "HW-ff6da07993": {
                "fcm-token": "c94vDOZDXX4:APA91bFXkioj3z1Q2CHRUbPDE_vHaVv_-mgcZTdCvUeoBKXjgrT5_",
                "name": "force",
                "timestamp":

[2019-09-19 10:13] shahidhk commented on #2890
@kevboh It looks like the SQL contains `begin` and `commit`. All migrations are already run in a transaction and adding begin and commit again in a migration file aborts the transaction. This is what is getting you into this inconsistent state.

Let me know if removing begin and commit fixes your issue.

[2019-09-19 12:54] #2674 closed

[2019-09-19 19:45] andrewalex commented on #2882
given all design of permissions, I don't think there is anything you can do at the moment.  I was hoping a "greater than now/today"
More details:
I have a function that returns some date ranges, in a custom table.  I am trying to make it so that role 'user' can see all ranges, and role 'anonymous' can only see future ranges..
The only solution I can think of involves 2 different functions, and 2 d

[2019-09-20 07:05] macs91 commented on #2805
Yes please there's ton of use cases where simple CRUD is not enough

[2019-09-20 07:24] ecthiender commented on #2574
@sayi65

How do you get the token on the client-side, in the first place? You can continue using that mechanism for refreshing tokens?

[2019-09-20 10:33] chrisheseltine opened #2912 "How to filter and THEN sort, with one-many relationship"
Hi,

I'm new to Hasura, but I feel what I am trying to do should be pretty commonplace...

What I am trying to achieve is to allow a user to apply both a price range filter and a price sort to the results that my site fetches for them. So I want to find all prices within the specified price range, and then sort them by price, either asc or desc.

I have a Hasura Engine running on Heroku Postgres.

[2019-09-20 11:01] matejbasic commented on #2566
Hi! I was also unable to reproduce it again.
So as it was one time event, source of this bug could actually be somewhere else in our pipeline.
If it happens again I will get back to you on this issue.

Thank you

[2019-09-20 11:01] #2566 closed

[2019-09-20 11:33] chrisheseltine commented on #2912
To clarify, if you visit this site:
https://www.seedsman.com/en/cannabis-seeds/variety?dir=asc&order=price&p=3&price=241-304
You'll notice that the filter is set at 241-304, and the sort is set to price ascending.

The first result is £6.94, the second is £7.81, the third is £8.36, and so forth. This is WRONG. On my site, using the same filter and sort, I'd like my results to be, for example: £241

[2019-09-20 11:41] chrisheseltine commented on #2912
The following works:
[code]
This returns the correct results, however if I query the prices table like this I cannot handle filters on the seeds table. Say for example I wanted to filter by product_name and price, if I query the prices table I cannot add the product_name filter to the seeds table. So I cannot handle multiple filters simultaneously.

[2019-09-20 14:06] BenoitRanque commented on #2890
That must be it. All my SQL migrations contain begin and commit. Will try to experiment with this today

[2019-09-20 15:20] shahidhk commented on #2539
Fair point. Heroku asks users to configure redirects are the application end: https://help.heroku.com/J2R1S4T8/can-heroku-force-an-application-to-use-ssl-tls
and 308 seems to be a good idea: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/308

[2019-09-21 09:34] Maxim-Filimonov opened #2913 "Ability to construct higher level query language"
Hello Hasura Team,
I have been having [a discussion](https://github.com/dillonkearns/elm-graphql/issues/124) with the elm-graphql author about optional arguments and during it, he raised a valid point.
In the current implementation, Hasura's query interface is very low level.  For example, to query a many to many relationships with relative easy I either need to:
A.
1. Create a view to flatten man

[2019-09-21 12:23] CkCreative commented on #2601
I have also encountered this problem

[2019-09-21 12:24] arpitjacob opened #2914 "Migration SQL script wrong order : functions creation before tables are creation"
Migration SQL script trying to create functions before the tables are created.

`[42P01] FatalError: relation "Addresses" does not exist `

Resolved it by moving the function creation scripts after the table creation.

[2019-09-21 14:22] harshmaur opened #2915 "Support for `is not distinct from` for equality filtering"
There could be a lot of places where the variable could be a `nullable string` in this case, the frontend client could either send `NULL` or the string value.

In graphql for example we wanted all the users where the company is equals to the input which is a nullable string.

We would write the query as below

[code]

That would create an sql `where company = "abc"` or `where company = Null`.

Whe

[2019-09-21 14:38] shahidhk commented on #2914
Unfortunately, this is how Postgres generates the output while using `pg_dump`

[2019-09-21 15:13] V1shvesh commented on #2915
Hey @harshmaur! I'd love to pick up this issue.

[2019-09-21 15:55] santoshyadav198613 commented on #2860
I will take it.

[2019-09-22 02:17] shahidhk commented on #2601
@CkCreative Can you confirm if your URL is of the form `https://<your-app>`?

[2019-09-22 02:53] switz commented on #1573
Also would be very interested in a feature like this 👍

[2019-09-22 08:25] CkCreative commented on #2601
@shahidhk thanks a lot, it worked.

[2019-09-22 11:07] yassinebridi commented on #348
Is there an update on this.
it's getting really hard updating the arrays, no mapping...
we always need to do some hacks to accomplish those simple operations.

[2019-09-22 17:35] RodolfoSilva commented on #2317
I believe if hasura add support to redis, this feature will be possible.@0x777

[2019-09-22 18:25] phoenix1796 commented on #2896
@tirumaraiselvan I checked out the above query with multiple event-ids and this is the result I get for all of them,
![image](https://user-images.githubusercontent.com/9111802/65392603-3ecc8580-dd94-11e9-85fa-f327a34ddbce.png)

I had multiple event triggers setup for different tables and this identical issue is happening with each and every one of them.

[2019-09-22 19:15] analytically opened #2918 "Disabling CORS still sends CORS headers"

[2019-09-22 20:42] juicycleff commented on #2329
Hey guys sorry for opening this, but I just created a boilerplate showing advance usage with graphql and cqrs with EventStore and the events database. Here https://github.com/juicycleff/cqrs-graphql-boilerplate

[2019-09-22 22:22] Inch4Tk commented on #2817
To add to this, it would be great if
`hasura migrate create "init" --from-server`
would also include the current enum states.
Otherwise following this guide: https://blog.hasura.io/resetting-hasura-migrations/ will lead to constraint violation errors upon applying the migrations to a new environment.

My current workaround is to simply keep a separate file around with all the sql insert statements

[2019-09-23 05:03] tirumaraiselvan commented on #2896
Very strange. Do you have any entries in the table at all?

[code]

[2019-09-23 05:46] ecthiender commented on #2918
Hi @analytically I am unable to reproduce this. I set the `--disable-cors` flag and sent a request from browser. I can see the server does not send any CORS headers in the response.

Also, note that there is no corresponding env var for this setting. (https://docs.hasura.io/1.0/graphql/manual/deployment/graphql-engine-flags/reference.html#command-flags) . We will fix that ASAP.

[2019-09-23 06:36] abhi40308 opened #2920 "Document error-codes returned by Hasura GraphQL API"
Error codes returned by Schema/metadata API are documented [here](https://docs.hasura.io/1.0/graphql/manual/api-reference/schema-metadata-api/index.html#error-codes), but not for Hasura GraphQL api.

Also, one may confuse that the error codes returned by schema/metadata api are the same as those returned by GraphQL API, but it is not the case. For example, codes : `constraint-violation` and `valid

[2019-09-23 07:33] dsandip commented on #348
Hi @yassinebridi, https://github.com/hasura/graphql-engine/pull/2243 had to be aborted to handle some edge cases. We'll be picking this up again in a couple of weeks.

[2019-09-23 08:23] rikinsk commented on #2912
@chrisheseltine would the following solve your requirements?
[code]

[2019-09-23 08:25] #2909 closed

[2019-09-23 11:17] leoalves commented on #2915
@harshmaur,

In Hasura, where: {} will evaluate to = true.  That is why when you pass undefined or null in the variable it will return all records.

There is already an issue about it: https://github.com/hasura/graphql-engine/issues/704

Meanwhile, you can change your query.

[code]
and in the variables you do:
[code]
This way, when the company is null/undefined, the generated SQL will be
[code]
I

[2019-09-23 11:53] #2837 closed

[2019-09-23 13:43] JordyMiggelbrink commented on #1387
Also waiting for this!

[2019-09-23 13:56] bs1180 commented on #1387
Postgres 12 offers [generated columns](https://www.postgresql.org/docs/12/ddl-generated-columns.html) which would cover several of the use cases raised here.

[2019-09-23 16:24] marionschleifer commented on #2914
I'm closing this issue. @arpitjacob feel free to re-open if you have anything to add to this 🙂

[2019-09-23 16:24] #2914 closed

[2019-09-23 16:28] marionschleifer commented on #2818
I'm closing this issue. @shanetierney feel free to re-open if you'd like to add anything to it 🙂

[2019-09-23 16:29] marionschleifer commented on #2832
I'm closing this issue. @The-planet feel free to re-open if you'd like to add anything to it 🙂

[2019-09-23 16:29] #2832 closed

[2019-09-23 16:30] marionschleifer commented on #2863
@david-studyblue is your issue resolved? If yes, we can close the issue 🙂

[2019-09-23 17:02] marionschleifer opened #2926 "Document pattern on token invalidation in JWT auth docs"
Based on: https://twitter.com/maxcan/status/1171161170079694849

[2019-09-23 19:40] mhiley opened #2927 "[ra-data-hasura] data provider fails on remote schema"
Hasura version: v1.0.0-beta6
ra-data-hasura version: 0.0.7

I'm using ra-data-hasura as the dataProvider in react-admin and it is generally working well. However, it does not appear to be able to handle remote schemas. For example, trying to do something like the following (made up example for simplicity):

[code]

results in a request that looks like this:

[code]

The problem is that `thing` doe

[2019-09-24 06:13] marionschleifer opened #2929 "Improve DX on catalogue version downgrade docs"
Based on a discussion with @0x777.

Once this https://github.com/hasura/graphql-engine/issues/2620 is done, we should think about DX as the list in the downgrading part is very large.

There should be a dropdown where the developer can choose `from` and `to` which version they want to downgrade and then the SQL should show up.

[2019-09-24 06:55] praveenweb commented on #2927
@mhiley - As you mentioned, `ra-data-hasura` uses JSON API via `/v1/query` and that doesn't support querying Remote Schemas.

Currently for just using postgres `ra-data-hasura` should work without any limitations. For supporting remote schemas, we probably have to re-implement the data provider on top of GraphQL API.

If more people would like to use Remote Schemas with ra-data-hasura, then we wil

[2019-09-24 06:55] DblK commented on #1279
In the REST service I develop, I always add an endpoint `/swagger.yaml` to expose the documentation of the service.
In the step 2 of the issue, I would suggest to either upload the yaml or to specify and endpoint to let hasura download and maybe upload by itself in case of remote service changes.
The copy/paste could be there too.

Thanks

[2019-09-24 12:50] #1399 closed

[2019-09-24 13:07] dziamid commented on #413
For clarity, fragments have to be sent along with every single request and there isn't a way to add them to the schema on serverside?

[2019-09-24 14:28] mhiley commented on #2927
@praveenweb Thanks for the info! We currently just have one special case where we're using Remote Schemas, so for now I just wrote the relevant graphql query by hand and POST it to `/v1/graphql`, and it works fine. If we end up with a more extensive need for a rewrite we'll look into how we can contribute!

[2019-09-24 14:33] shahidhk commented on #413
@dziamid Yes, fragments have to be sent along with every single request.

[2019-09-24 16:47] dziamid commented on #413
This doesn't sound right, can we extend the schema instead on the server so there's no need to send the fragments?

[2019-09-24 17:34] pronevich commented on #2673
@0x777 as was mentioned by @coffenbacher this required by Cloud Run to connect Cloud SQL without adding SQL Proxy to container like in solution described in #2326

[2019-09-24 20:58] ajbouh opened #2936 "Support for Macaroons"
Macaroons provide a simple and powerful approach to decentralized authentication that is a very good fit for Hasura's architecture. Here's an introduction to them from someone using the hmacaroon library: http://blog.clement.delafargue.name/posts/2018-07-19-bake-delicious-macaroon-burritos-with-servant.html

Macaroon caveats can be used to define Hasura session variables. Beyond this, we can use "

[2019-09-25 07:03] shahidhk commented on #413
Doing that would not be spec-compliant: https://graphql.github.io/graphql-spec/draft/#sec-Language.Fragments

[2019-09-25 07:11] EarthBug commented on #2718
I need to connect to a postgres which requires certificates to be passed. Please document this

[2019-09-25 09:35] h0l0gram commented on #1609
@coco98 wrote:

@dsandip
Has this been fixed? How can I configure the endpoint URL (e.g instead of `/v1/graphql` I prefer to have it `/api/graphql` as it was requested by the reporter @buzinas ?

[2019-09-25 11:38] xxRockOnxx commented on #348
What can we do for now instead... without resorting to implementing custom server just to have a single endpoint for this exact query?

If there's none, then I guess that's how it should be.

[2019-09-25 15:44] Pomazan-Bogdan commented on #2610
0.0.7 not fix this (((((

[2019-09-25 15:48] rikinsk commented on #2660
closed via #2686

[2019-09-25 15:48] #2660 closed

[2019-09-25 15:48] rikinsk commented on #2663
Closedc via #2686

[2019-09-25 15:48] #2663 closed

[2019-09-25 16:21] avimoondra opened #2939 "Feature request: Ability to not wrap migration in a transaction"
For DB safety reasons, sometimes it is necessary to add an index concurrently. With the `CONCURRENTLY` option:

But this parameter cannot be used in migrations because Hasura runs the migration in a transaction when applying. But concurrent index creation cannot be wrapped in a transaction block:

There don't seem to be any workarounds or escape hatches in this case, beyond not tracking the migrat

[2019-09-25 16:31] beepsoft opened #2940 "Hasura executed trigger functions instead of event trigger web hooks"
When creating a new record I would like to create some related records at the same time the INSERT occurs. The related records would be used for permission control, so these must be created at INSERT time - in the same transaction - and it cannot be created by the calling users on their own, of course.

The options I have with Hasura at the moment:
1. Creating a Postgresql trigger function. The pr

[2019-09-25 17:30] karibertils commented on #1371
encountered this as well, hope it gets supported soon !

[2019-09-26 03:03] vonwao opened #2941 "Simple Feature Idea: support "X time ago" view of Time and Timestamp fields in data browser"
A time like "2019-09-25T18:16:10.605464+00:00" is hard to read and not very helpful when debugging issues especiallly when your server is in god-knows-what-timezone (for example if your tester tells you "I just created a new user about 5 minutes ago").

It should be almost trivial for the server to instead display something like "5 minutes ago" instead.

I might even be able to contribute some cod

[2019-09-26 04:52] lidorcg opened #2943 "API versioning"
Hello, first of all I want to say that your project is amazing, it's incredebly well-designed and moving at the speed of light!

Now I would like to raise a subject that is extremely important and extremely not trivial to handle: API versioning.

I haven't seen any discussions about the subject when I looked around the documentation and the issues section. So if there really isn't a discussion, I'

[2019-09-26 05:57] aaronhayes opened #2944 "Using postgres functions in custom permissions check"
I would like to use postgres function when within custom permissions checks. My use case is checking if the `expires_at` column is greater than the current timestamp `now()`.

Something like this:
![image](https://user-images.githubusercontent.com/4180720/65661317-b2acad80-e074-11e9-86e2-9ba73dc1ceb8.png)

Is this supported? If so, we should add documentation to [Permission Rules](https://docs.has

[2019-09-26 06:06] tirumaraiselvan commented on #2940
@beepsoft You can actually implement Option 1) . You have access to all sessions variables in your postgres functions using the `current_setting('hasura.user')` function.

[code]

[2019-09-26 06:24] beepsoft commented on #2940
@tirumaraiselvan Oh, great, thank you! I didn't find that in the trigger documentation. But as I see others have the same problem too: https://github.com/hasura/graphql-engine/issues/1582 ;-)

[2019-09-26 06:29] tsujp opened #2945 "typescript types for event triggers"
It'd be nice to have predefined types ship with Hasura. One practical use case for justification is creating webhooks using Zeit's `micro` where it'd be nice to have typing for the event-trigger payload, headers etc.

For example, this is an example payload:

[code]

[2019-09-26 06:36] beepsoft commented on #2940
Can I ask for some clarifications?

So is every `x-hasura-XXX` session variable mapped to a `hasura.XXX` psql config setting?  If I have `x-hasura-myfield` in the JWT claims, then it will appear as `hasura.myfield` in the config settings. Am I right about this?

I'm asking because your example and the "Auditing actions on tables in Postgres" documentation has this example with `'hasura.user'`, whi

[2019-09-26 06:38] tirumaraiselvan commented on #2940
@beepsoft

current_setting('hasura.user') will return a json where each key is the session variable, just like you get in event trigger payload.

[2019-09-26 06:39] beepsoft commented on #2940
@tirumaraiselvan Ok, now I get it, thanks!

[2019-09-26 10:09] nizar-m opened #2946 "combining hpc reports is failing on circleci"
The error hpc combine is
[code]

[2019-09-26 13:27] cantaspinar commented on #2820
I was messing around with the explorer to check permissions for non admin roles but as @vlandres said, explorer in the console was empty. I was about to freak out when I also realised that I had to give select permissions to enum tables.

[2019-09-26 13:52] Pomazan-Bogdan commented on #2610
https://reestr.ecoalition.org.ua/#/users/2
user/user

[2019-09-26 14:30] ecthiender commented on #2944
Postgres functions generally are not supported, but as `now()` is a postgres literal, it works. But the issue is Hasura uses prepared statements. So when a query with this permission is executed for the first time, the `now()` is evaluated and is stored as a prepared statement. So, subsequent calls with the same query will have wrong `now()` value.

PS: you can disable the prepared statements beha

[2019-09-26 18:40] HelloEdit commented on #91
It would be absolutely fantastic, I use a cron script for that but centralizing everything in Hasura would be a very good addition for v1.

[2019-09-27 07:25] beepsoft commented on #2151
I found this, it may provide some good ideas for complexity analysis:

https://github.com/slicknode/graphql-query-complexity

[2019-09-27 07:31] #2940 closed

[2019-09-27 07:32] ozum commented on #2151
@coco98, what @beepsoft posted could help.

[2019-09-27 15:05] leoalves opened #2951 "Add x-hasura-allowed-header-variables functionality JWT Auth"
Sometimes we need header information to validate requests. But with JWT Auth we are limited to whatever is in the custom_claim, and those values cannot be changed on each request.

My suggestion is to add a property to the JWT token, to forward header properties as session variables in Hasura.

For example, the following token:
[code]
*ip from the request (this is not a header variable but would b

[2019-09-27 16:05] jorroll opened #2952 "feat: Ability to use "where" clause inside `insert` mutation to link existing data"
I think this is a feature request.

Given the following schema:

[code]

A person can be uniquely found using an email address. I'd like to insert a new PersonAgreement into the database given an `agreementId`, `emailAddress`, and PersonAgreement `value`.

Using sql, the email address could be used to get the related `personId` which could be combined with the `agreementId` and `value` to insert a

[2019-09-27 16:38] leoalves commented on #2952
For your specific use case you need to insert from the EmailAddress table, and use the  upsert (on_conflict), to update the relationships.

[code]

It's a bit more verbose, but it should work.

[2019-09-27 16:43] thefliik commented on #2952
@leoalves Thanks, but I don't think that query will work. Your proposal will create a new email address and person if they don't exist. My goal is for the query to fail if the email address / person doesn't already exist.

[2019-09-27 17:04] leoalves commented on #2952
@thefliik
Ohh my bad.
Didn't read it correctly. Your suggestion is to insert a value from a Select clause.
Yeah that's very useful.

[2019-09-27 23:03] westhechiang commented on #2655
@tehpsalmist I have to echo everyone's appreciation posted the fix. I was banging my head against this for a couple of hours and that change to `accessToken` fixed my issue!

[2019-09-28 01:50] brandonmp opened #2953 "Migrations failing to apply with opaque error message"
Attempting to apply migrations via the CLI to our database, but we hit this error:

[code]

We have several identical hasura/postgres deployments, and migrations apply without incident on each deployment except for this one (this one's a new deployment with no migrations currently applied, fwiw).

I deleted the latter half of the migrations directory & applied the remaining migrations successfully

[2019-09-28 02:45] karuppiah7890 commented on #2239
I would like to give this a shot. Will ping here about my progress. Also, a heads up, I don't know Haskell. But I think I can learn what's necessary and do it on the go. 😁

[2019-09-28 05:38] 0x777 commented on #2953
@brandonmp Is there a gateway in front of graphql-engine? It is probably returning a `504` with a html page and the cli is trying to parse it as JSON and hence the error. @shahidhk Is it possible to have a special case for dealing with gateway error codes?

[2019-09-28 09:03] karuppiah7890 commented on #2239
Okay, I want to understand the issue in a better manner 😅 I'm able to create migrations - sql file along with some metadata yaml file, from a server. And then I'm able to apply it too. Is this an old issue that's not closed?

 @tmattio Could you explain the workflow you are trying to achieve? cc @shark-h

[2019-09-28 09:32] jerryc8 commented on #2953
Hi @shahidhk  thanks for your comment.  I did a detailed investigation of this and here is more info for you.  Please note that we have about 200 migration files in the migrations folder.

h2. Bug exhibits following behaviour:
* The bug seems to be a timing issue
* When applying approx >=26 migration files (ie, `--up 26`), this error occurs. (Heroku PostgreSQL and Hasura)
* This number 26 varies b

[2019-09-28 10:12] karuppiah7890 commented on #2239
Okay, sorry 😅  I'm not an expert with databases or migrations. But with some experimenting I have guessed the expectation over here. So, when I use the command `hasura migrate create "name"`, it creates two yaml files, one for up (apply) and one for down (rollback). There are no sql files. And you want sql files. Right? And you want to be able to apply the migration from cli with the sql files. I'

[2019-09-28 10:36] shahidhk commented on #2953
It is indeed a gateway throwing a timeout or the connecting getting terminated since it takes more time to apply the migrations.

What is the cloud provider and how are you running the database and Hasura? Are both in the same region?

The workaround script further validates that the problem is with gateway not handling long http connections.

[2019-09-28 10:38] shahidhk opened #2954 "better api error handling on the cli"
If any of the API calls throw 504 etc or a non-JSON response, the CLI errors out saying
[code]
which is not really helpful for a user.

For all unknown API-errors, the CLI should print out the response code and body.

[2019-09-28 10:39] shahidhk commented on #2953
We'll add better error handling on the CLI https://github.com/hasura/graphql-engine/issues/2954

[2019-09-28 10:49] marionschleifer commented on #2860
@santoshyadav198613 how is it going? Let us know if you have any questions 🙂

[2019-09-28 13:10] thefliik commented on #2952
Yes, this query might translate to:

[code]

I'm not sure if this SQL is correct, but hopefully the idea is clear.

[2019-09-28 16:23] gagandeepp commented on #2376
assign this to me

[2019-09-28 16:25] gagandeepp commented on #2092
@marionschleifer  assign this to me

[2019-09-28 18:30] leejh10003 opened #2955 "Is there a way to edit specific field on ra-data-hasura"
Hello, I'm developing dashboard for company with react-admin.

I want to update only the value user can changed. But for now, react-admin try to update all the values of a record(of course, it is the way it designed to).

I implemented in the way manually building the GraphQL query string but it seems so inefficient. Is there a way to update only the value user can change or changed?

[2019-09-28 19:17] kevinrodriguez-io opened #2956 "docs: update google cloud guide to expose hasura on https instead of http"
The following document is a great guide to set up a k8s endpoint with load balancing, but the load balancer exposes only the port:80.

I'm having lot's of issues now trying to add https/ssl to the k8s cluster. I think it should be good to add documentation on the guide about it so it can be more complete. No one exposes a database-consuming service trough http these days.

https://github.com/hasur

[2019-09-28 20:02] brandonmp commented on #2953
Thanks for quick responses everyone

GCP, both hasura and postgres (cloudsql I believe but can verify w/ our infra team if helpful) are in a kubernetes cluster with nginx in front of them.

[2019-09-28 23:37] pradeepmurugesan commented on #2766
I can work on this 👍

[2019-09-29 07:35] karuppiah7890 commented on #2239
I finally read the docs instead of just experimenting with the CLI and the DB. According to the [docs](https://docs.hasura.io/1.0/graphql/manual/migrations/reference/migration-file-format.html#migration-file-format), sql files are just for user's convenience, and that SQL can be written into the yaml files. Looking at this issue, looks like you want to have the sql files (for using with other tool

[2019-09-29 08:06] karuppiah7890 commented on #2239
Raised a PR for this 😄 cc @shahidhk

[2019-09-29 08:21] pocketwalker commented on #277
any update on this issue?

[2019-09-29 11:08] pdobrigkeit opened #2959 "Track IDs for fixtures"
When adding data to tables is there a way to track IDs that are auto-generated? Currently we have to manually add those back into the migration files to be consistent across foreign relations.

[2019-09-29 16:33] santoshyadav198613 commented on #2860
PR om the way @marionschleifer

[2019-09-29 16:56] marionschleifer commented on #2376
@gagandeepp done 🙂 let us know if you have any questions.

[2019-09-29 16:57] marionschleifer commented on #2092
@gagandeepp done. Let us know if you have questions 🙂

[2019-09-29 17:00] marionschleifer commented on #2766
@pradeepmurugesan that is great 🙂 I assigned you to the issue. Let us know if you have any questions.

[2019-09-29 17:02] marionschleifer commented on #277
@pocketwalker the PR is in review: https://github.com/hasura/graphql-engine/pull/2874 and it should get merged soon 🙂

[2019-09-29 20:04] oscar6echo opened #2961 "authentication bug (?) for subscription only"
I have a setup that works fine:
+ nuxt/apollo on client side
+ hasura graphql engine on server side

My apollo config is:
[code]

the following query returns the expected result:
[code]

But this equivalent subscription fails:
[code]
The message in the console is:
[code]

The web socket communication logs from the Chrome console tab Network are:
[code]

So it seems the client messages are valid, e

[2019-09-29 20:46] santoshyadav198613 commented on #2954
I will take it @marionschleifer

[2019-09-29 21:24] tafelito commented on #1514
Is there anyway to track the function that are manually created right now? Selecting the track option won't work as it says the function does not return a "COMPOSITE" type and if I refresh the browser I lose all the declarations

[2019-09-30 09:16] marionschleifer commented on #2954
@santoshyadav198613 great, I assigned it to you. Let us know if you have any questions 🙂

[2019-09-30 09:51] shahidhk commented on #2953
What is the timeout on nginx? Can you try increasing it? How is nginx exposed? Using a loadbalancer or another Ingress?

[2019-09-30 10:01] praveenweb commented on #2961
Hey @oscar6echo

It seems like you are using the `vue-cli-plugin-apollo` to setup Apollo Client. There is a bug in that module where getAuth() returns the headers as such instead of wrapping it under a `headers` object as expected by Hasura.

Here's the relevant issue - https://github.com/Akryum/vue-cli-plugin-apollo/issues/134 and here's a PR with a fix for the same which is pending to be merged

[2019-09-30 11:23] beepsoft commented on #2951
This would be a really useful feature indeed!

[2019-09-30 11:35] oscar6echo commented on #2961
@praveenweb Thx a lot for your quick and precise answer !
To follow suit, I added a comment in favor of the merge.

I had gone through your tutorial and it is extremely helpful and to the point.
Another big thanks  for that ! !

But I intend to stay within the nuxt-community/apollo-module framework (as much as possible) to keep my app orderly and more manageable, so I am trying to edit the node_pa

[2019-09-30 11:39] lifeofsems commented on #91
+1 would be good to have

[2019-09-30 11:44] oscar6echo commented on #2961
Forget my last comment: I had updated file
vue-cli-plugin-apollo/graphql-client/**src**/index.js
indead of
vue-cli-plugin-apollo/graphql-client/**dist**/index.js.

[2019-09-30 12:07] oscar6echo commented on #2961
Again, forget my comment above. I had mistakenly send the headers
`{authorization:{headers:"Bearer token"}}`
instead of (obviously !)
`{headers:{authorization:"Bearer token"}}`

Now it works - as you explained. Thx !

[2019-09-30 14:25] shahidhk opened #2963 "query is logged as string on authz errors"
For errors like invalid-jwt etc, the `http-log` contains `detail.operation.query` as a string, instead of the parsed JSON. This is causing trouble in analysing logs.

[code]

The query key should be a JSON object.

[2019-09-30 16:56] pradeepmurugesan commented on #2766
@marionschleifer Hello. can you kindly help me to simulate an inconsistent metadata for testing out the command..

[2019-09-30 17:42] RanadeepPolavarapu commented on #2004
I can tackle this.

[2019-09-30 17:51] RanadeepPolavarapu commented on #1917
I can take this.

[2019-09-30 23:53] jjangga0214 commented on #2720
I developed it.

[jjangga0214/hasura-cli](https://github.com/jjangga0214/hasura-cli) is an npm package that automatically installs by detecting OS and wraps Hasura CLI binary in isolated manner.

![hasura-cli](https://user-images.githubusercontent.com/28584151/65924503-fbbf8180-e427-11e9-95b3-785fad98e1c4.gif)

Now we can just add hasura cli to devDependency.

[code]

I'd be glad to get some feedb

[2019-09-30 23:55] jjangga0214 commented on #2720
@simoneb
@patcito
@cos
@marionschleifer

I developed it.

[jjangga0214/hasura-cli](https://github.com/jjangga0214/hasura-cli) is an npm package that automatically installs by detecting OS and wraps Hasura CLI binary in isolated manner.

![hasura-cli](https://user-images.githubusercontent.com/28584151/65924503-fbbf8180-e427-11e9-95b3-785fad98e1c4.gif)

Now we can just add hasura cli to devDependenc

[2019-10-01 01:38] sayi65 commented on #2574
@ecthiender
In the First Place. i was created an authentication server. then request to the authentication server and get the token. use this toke to request the hasura graphql engine.
In hasura graphql engine use the webhook-auth to validate the Authorization.

when the token is expired. I don`t know how to refresh the token.

[2019-10-01 02:04] andrewalex opened #2964 "Permissions for functions"
I would like to start a discussion on function permissions. Presently they are very limited

Consider the following 2 scenarios

### Scenario 1
Search function based on https://docs.hasura.io/1.0/graphql/manual/queries/custom-functions.html#example-fuzzy-match-search-functions
Assume 2 roles, "User" and "Anonymous" user can view all fields in property, however anonymous can only see city state zip

[2019-10-01 03:32] leoalves commented on #2964
@andrewalex,

Hasura does not have an option to set permission for functions.  The permissions will be inherited from the table.

**Scenario 1**
- In the user table permissions, for the anonymous role, allow access only to the fields you want (city, state, zip)
- Create a view in the user table, with the id and all the other fields you didn't use for the anonymous role.  In the permissions for thi

[2019-10-01 04:01] lancedouglas1 commented on #1601
@coco98 is there any update with this?  I have a similar use case:

- User pushes a set of values to a session table
- User is also subscribed to a view that uses the session table, and some user-table data, to filter the results made available in the subscription

**Example**
1. user_x
   1. signed in having a session record_id matching its JWT;
   1. with roles W, H, and B (listed in the JWT);

[2019-10-01 04:17] aaronhayes commented on #2944
Thanks @ecthiender  for the reply, I was not aware about that prepared statement behaviour. 👍

If anyone else is running into a similar issue to mine. It is pretty trivial to create a view and manage permissions that way. I still think it would be ideal to do this within the hasura permission rules.

[2019-10-01 04:19] yyuankm1976 opened #2965 "Does Hasura Engine support groupBy in GraphQL query?"
I need to run the SQL statement by using Group By. Does Hasura Engine support GroupBy in GraphQL query and map to SQL GroupBy? Thanks!

[2019-10-01 04:48] andrewalex commented on #2964
Unless I'm misunderstanding, both your solutions seem to be ignoring the use of a function.  For the purposes of the issue, assume the logic is sufficiently complex to require the use of function.

**Scenario 1.**
How does this stop a function from querying fields based on a users role?

**Scenario 2**
This seems to just be close to what I indicate as 'workaround design 1'.

[2019-10-01 05:34] praveenweb commented on #2955
@leejh10003 - This requires a change in the ra-data-hasura provider. As mentioned here https://github.com/marmelab/react-admin/issues/2414#issuecomment-428945402, the dataProvider needs to do a diff and send only the changed values to the update mutation. This should be out in the next release.

[2019-10-01 07:10] shahidhk commented on #2959
@pdobrigkeit Can you give an example?

A simple solution I can think of is using UUID columns so that you can generate and save them yourself and then the default will be auto-generated.

[2019-10-01 07:50] pdobrigkeit commented on #2959
Yeah, I have a test table with two columns, id and test, id is UUID and default gen_random_uuid()

If I run the following SQL to enter fixtures I would either use:

    INSERT INTO test (test) VALUES (1);
    INSERT INTO test (id, test) VALUES (gen_random_uuid(), 2);

Then I would get the following migrations:

    - args:
        sql: CREATE EXTENSION IF NOT EXISTS pgcrypto;
      type: run_sql

[2019-10-01 07:52] FluorescentHallucinogen commented on #2313
Any progress?

[2019-10-01 08:08] wawhal commented on #2313
@FluorescentHallucinogen it will be integrated by the end of this week :)

[2019-10-01 08:32] marionschleifer commented on #2766
@pradeepmurugesan sure 🙂

1. You can create permissions on a column in the console
2. You delete the column directly in Postgres (not on the console)
3. Then your metadata will show as inconsistent

[2019-10-01 08:38] marionschleifer commented on #2890
@kevboh @BenoitRanque I'm closing this issue. If you have any more question, feel free to re-open 🙂

[2019-10-01 08:38] #2890 closed

[2019-10-01 08:43] marionschleifer commented on #1514
@tafelito you can't return a composite type from a function. A function has to return a SETOF table.

[2019-10-01 08:48] marionschleifer commented on #2004
@RanadeepPolavarapu Cool 🙂 let us know if you have any questions.

[2019-10-01 08:50] marionschleifer commented on #1064
@RanadeepPolavarapu great! 🙂 let us know if you have any questions.

[2019-10-01 08:53] Big-Zude commented on #2871
I would like to help with documentation.

[2019-10-01 09:00] marionschleifer commented on #2871
@Big-Zude cool 🙂 feel free to start working on this or any other documentation issue: https://github.com/hasura/graphql-engine/issues?q=is%3Aopen+is%3Aissue+label%3Ac%2Fdocs.

[2019-10-01 09:22] codepunkt commented on #2204
I'm confused as to why a user should switch roles in the first place?

[2019-10-01 10:05] marionschleifer commented on #2965
Hi @yyuankm1976, it's not possible to use `GROUP BY` inside queries. You have to create a view for that: https://docs.hasura.io/1.0/graphql/manual/queries/derived-data.html#step-1-create-a-view.

[2019-10-01 10:21] marionschleifer commented on #2655
Hi everyone, @praveenweb and I have tried out the above instructions and we both were not able to get a valid JWT token through the `accessToken`.

@westhechiang @bkniffler @tehpsalmist @thetre97 We think it might have something to do with Auth0 releasing a new version of their SDK (`auth0-spa-js`). That SDK didn’t allow to fetch idToken initially. After a version `1.2.0`, they added back a way to

[2019-10-01 10:25] marionschleifer commented on #1917
@RanadeepPolavarapu cool 🙂 let us know if you have any questions.

[2019-10-01 10:48] sameshl commented on #1064
I would love to work on this @coco98. Can you elaborate on which section you want me to add the link to the webhook configuration section?

Thanks!

[2019-10-01 10:51] sameshl commented on #2871
@marionschleifer I would love to help on this. But could you link me to the error which have not been documented till now. I am not able to find them.

Thanks!

[2019-10-01 10:53] bkniffler commented on #2655
@marionschleifer I‘m not using the js library, I‘ve implemented everything with calls to auth0 API from electronjs (so nodeJS) and it works pretty great. Thanks for hinting the new SDK though, didn‘t see they have a new one in the works.

[2019-10-01 11:31] oscar6echo commented on #2961
Since the latest release of [vue-cli-plugin-apollo](https://github.com/Akryum/vue-cli-plugin-apollo/releases) (0.21.1) no need to manually correct the bug as above.

[2019-10-01 11:31] #2961 closed

[2019-10-01 12:01] dotslash21 commented on #2954
@marionschleifer I'd like to give this issue a try. I'm a beginner, so please guide me :smiley:

[2019-10-01 12:27] miqvo commented on #289
@coco98 did this change in beta 6? I get `unexpected : relation "hdb_catalog.hdb_column" does not exist` when trying to drop the hdb_catalog schema.

[2019-10-01 12:53] tafelito commented on #1514
@marionschleifer so if I have something like this

[code]

I don't have a SETOF table to return. Is there any other way I can keep track of this functions?

[2019-10-01 13:51] leejh10003 commented on #2955
Thanks, @praveenweb ! I really enjoying this amazing data provider.

[2019-10-01 14:57] vitaliytv commented on #2956
simplest way use  Google-managed SSL certificates
https://cloud.google.com/kubernetes-engine/docs/how-to/managed-certs

[2019-10-01 16:55] pradeepmurugesan commented on #2766
Yes.. I figured that out.. was thinking more about integration test setup..

[2019-10-01 17:53] gagandeepp commented on #2963
I can work on this
How to reproduce this?

[2019-10-01 18:22] tacoelho commented on #2092
@marionschleifer assign this to me please.

[2019-10-01 19:10] gagandeepp commented on #2376
how to run migrations??

[2019-10-01 19:12] feloy commented on #833
I would like to work on this issue

[2019-10-01 19:14] gagandeepp commented on #1321
where do you need docs to be added?

[2019-10-01 19:36] feloy commented on #833
Just to be sure. is it about this page?

http://localhost:8080/console/data/schema/public/tables/mytabe/browse?params...

[2019-10-01 19:52] wollerman commented on #1062
@pyankoff and @dimofte

This is exactly what happens. We have users that stay on a page for longer than an hour and the token expires. So this actually ends up never using the refresh functionality.

Specifically for apollo it seems like the way to handle this isn't 100% ironed out. But I did find an option that I'm going to try out: https://github.com/apollographql/apollo-link/issues/197#issuecom

[2019-10-01 20:20] marionschleifer commented on #2871
@sameshl these errors are not yet documented. The thing that would probably help the most would be to play around with Hasura, and if you come across any errors that are not yet on the troubleshooting page, add them 🙂

[2019-10-01 20:28] marionschleifer commented on #2376
@gagandeepp you can read all about migrations in our docs: https://docs.hasura.io/1.0/graphql/manual/migrations/index.html.

[2019-10-01 22:42] victorferreira commented on #1415
@marionschleifer I can take this issue. It seems close to what is my setup at the moment.

[2019-10-01 23:15] bitjson commented on #2218
Does anyone have a working solution for this yet? I'd love to know if/how others are avoiding leaking row counts in their applications.

[2019-10-02 00:39] yyuankm1976 commented on #2965
Thanks marionschleifer, sure we can create a view for this purpose. but as I know, groupby can also be integrated into graphql. One example is as below. Do we plan to add this support in future?

query {
  postsConnection(where: {
    someField: true,
  }) {
    groupBy {
      authorName {
        key
      	connection {
          aggregate {
            count
            avg {
              nb_l

[2019-10-02 03:21] kelly-ry4n opened #2976 "GNU AGPL-3.0 licence listed on Dockerhub"
Hi, I think you have an out of date licence listed on dockerhub at https://hub.docker.com/r/hasura/graphql-engine.

[code]

This was almost a non-starter for my project, and I only happened to read in a comment that the licence had changed, so you might was to update it!

[2019-10-02 03:51] coco98 commented on #2431
@rikinsk @shahidhk Based on @jjangga0214 comments, do you think we can solve this by allowing a user to run an arbitrary migration/SQL _without_ running it as a migration which updates the migration state on the database?

[code]

This will make it easy to run a seed data style migration, and we don't need to explicitly code in a seed directory into the CLI command flow?

[2019-10-02 05:25] shahidhk commented on #2976
Thanks for reporting this @kelly-ry4n! :pray:

I have revamped the description at https://hub.docker.com/r/hasura/graphql-engine

[2019-10-02 05:25] #2976 closed

[2019-10-02 05:56] shivamkainth commented on #2092
@marionschleifer I will take care of guide on import/export of data.

[2019-10-02 06:28] grzegorz-wcislo commented on #1740
Hi, I'd like to create base boilerplates for event triggers in Ruby on AWS :D

I'll most likely submit the PR over the weekend

[2019-10-02 06:36] #2946 closed

[2019-10-02 08:24] marionschleifer commented on #1415
@victorferreira that is great 🙂 let us know if you have any questions.

[2019-10-02 08:29] marionschleifer commented on #2954
@dotslash21 we have created a wiki describing everything you need to know about Hasura & Hacktoberfest: https://github.com/hasura/graphql-engine/wiki/Hacktoberfest-2019-%F0%9F%8E%89 🙂

[2019-10-02 09:27] ardsh opened #2981 "order by with multiple aggregate fields throws error"
Making a query with 2 aggregate fields in order_by that use min/max and different relations causes an SQL error.
[code]

[2019-10-02 10:26] bynov opened #2983 "[Question] Adding custom url prefix for console and graphql-engine"
Hi!
I want to deploy Hasura under API Gateway, in my case Krakend.
In our case one Gateway proxying several apps. Each application should have some base prefix for urls.

I want to specify somehow a base prefix, for example `/hasura`.

I expect that all console urls will be similar to:  `http://127.0.0.1:8080/hasura/console/data/schema/public`
and graphql urls something like:
`http://127.0.0.1:808

[2019-10-02 10:45] shahidhk commented on #2983
@bynov You don't have to change anything at the Hasura layer. Just use your gateway to manage the URLs.

On nginx, this would look like:

[code]

Now, console will be at `your-domain.com/hasura/console` and the API will be `your-domain.com/hasura/v1/graphql`

[2019-10-02 10:48] bynov commented on #2983
Thanks for a reply, @shahidhk !
Btw I don't understand how to manage link urls in Hasura Client App?
I mean, when I click on links inside application, there will be no '/hasura' prefix in it.

[2019-10-02 10:54] shahidhk commented on #2983
@bynov Hasura's console understands the URL prefix. The links inside the console will have `/hasura` prefix. We built it that way :smile:

Do try it out and let us know if it is not working as expected.

[2019-10-02 10:54] shahidhk commented on #2981
@ardsh What is the SQL error?

[2019-10-02 11:45] greenorb007 commented on #1184
Please guide me on how to do this i am able to understand the issue but due to lack of experience with open source i am unable to do.

[2019-10-02 12:01] marionschleifer commented on #1184
@greenorb007 we have created a wiki that describes the steps of contributing to Hasura: https://github.com/hasura/graphql-engine/wiki/Hacktoberfest-2019-%F0%9F%8E%89 🙂

[2019-10-02 12:26] ardsh commented on #2981
[code]

[2019-10-02 13:04] 0x777 commented on #2965
@yyuankm1976 The reason why we didn't implement this is because the above approach only works when you want to group by a single column.

[2019-10-02 14:09] bynov commented on #2983
Thanks @shahidhk for explanation and help!
It works :)

[2019-10-02 14:11] shahidhk commented on #2983
I am closing this issue. Feel free to reopen in case you have more questions :)

[2019-10-02 14:11] #2983 closed

[2019-10-02 14:21] tacoelho commented on #2092
Number 1 is sent.

[2019-10-02 15:05] LiTO773 commented on #431
Hi 🖐, I've added an echo template for Netlify Functions.

[2019-10-02 15:12] marionschleifer commented on #2092
Hi everyone, I created [this PR](https://github.com/hasura/graphql-engine/pull/2984) that provides the structure of the guide. Please branch off this PR and then we'll merge it as one in the end 🙂

[2019-10-02 16:50] franciscolourenco opened #2986 "SQL console lowercases queries"
Can't select columns with uppercase characters because the queries are lowercased before being executed.

[2019-10-02 17:16] #2986 closed

[2019-10-02 18:44] marionschleifer opened #2987 "Add advanced example for aggregation queries"
The examples we have here: https://docs.hasura.io/1.0/graphql/manual/queries/aggregation-queries.html#aggregation-queries are quite basic.

We can add a more advanced example here.

[2019-10-02 18:54] wdtamagi commented on #2987
Hello, can I work on this issue?

[2019-10-02 19:11] marionschleifer opened #2988 "Cheat sheet for operators"
Create cheat sheet (could be a guide in the docs https://docs.hasura.io/1.0/graphql/manual/guides/index.html) for operators (for example: `_or`, `_eq`).

We should have a list of operators and corresponding examples for each.

[2019-10-02 19:30] santoshyadav198613 commented on #2954
Hi @marionschleifer ,
I am using windows and getting lot of issues while running it locally, maybe this time I will pass it. Can we have docs on how to build it on windows, the docs refer to commands which are compatible on Linux.

[2019-10-02 19:30] marionschleifer commented on #2987
@wdtamagi sure you can work on it. We created a wiki that describes how to contribute: https://github.com/hasura/graphql-engine/wiki/Hacktoberfest-2019-%F0%9F%8E%89 🙂

[2019-10-02 19:42] cobwebsonsale commented on #2988
@marionschleifer I think the doc on Filter (https://docs.hasura.io/1.0/graphql/manual/queries/query-filters.html) suffices as a cheat sheet for these operators. It has ample examples for an operator too.
The only ones I find missing from the those in this issue are `_ceq` and `_cne`. Such column comparators may be added as a new row on the same page. What do you think?

[2019-10-02 19:44] wdtamagi commented on #2987
Thanks @marionschleifer

[2019-10-02 19:52] wdtamagi commented on #2987
I need create new advanced example or change current examples?

Creating a new item in the table of contents, such as "Fetch Aggregate Data - Advanced Example"?

[2019-10-02 20:08] Kjens93 commented on #982
Note: It looks like Postgres 12 will include support for adding enum values within a transaction. https://www.postgresql.org/docs/12/sql-altertype.html

[2019-10-02 20:12] Kjens93 commented on #982
@respectTheCode:

From the looks of it, it appears that #2672 does **not** add support for exposing Postgres enums as Graphql enums. It appears that this issue should be reopened since the supposed "fix" does not actually accomplish what was requested.

[2019-10-02 20:13] Kjens93 commented on #982
Note: It looks like Postgres 12 will include support for adding enum values within a transaction. https://www.postgresql.org/docs/12/sql-altertype.html

[2019-10-02 21:31] wdtamagi commented on #2987
Or just need update documentation based on https://docs.hasura.io/1.0/graphql/manual/api-reference/graphql-api/query.html#aggregateobject
?

[2019-10-02 21:46] leeclench opened #2991 "Correct documentation to add in missing punctuation"
A number of the docs have missing punctuation that could do with being added to neaten up the various documentation.

Files of note:
README.md
code-of-conduct.md
CONTRIBUTING.md
SECURITY.md
remote-schemas.md
event-triggers.md
community/README.md

[2019-10-02 22:16] greenorb007 commented on #2988
Please assign this to me i am really a newbie and really want to work on it, and please guide me little on this.
Thank you

[2019-10-02 23:45] coco98 commented on #2987
@marionschleifer Let's talk to other folks on the team to discuss what kinds of examples we should add for aggregations? I think @rikinsk and @0x777 had a list...

[2019-10-02 23:55] wdtamagi commented on #2987
Great, I included the other aggregation functions: ``stddev``, ``stddev_samp``, ``stddev_pop``, ``variance``, ``var_samp``, ``var_pop`` on documentation page.

Current documentation only displays functions: ``count``, ``sum``, ``avg``, ``max`` and ``min``.
https://docs.hasura.io/1.0/graphql/manual/queries/aggregation-queries.html#aggregation-queries