[2019-10-03 01:59] tingaloo commented on #2954
[code]

I'm trying to run some tests, but i keep getting an undefined variable. Am I missing a step in the testing process?

[2019-10-03 07:56] rv404674 commented on #2954
@marionschleifer Is this issue assigned to someone. I can see from the comments santoshyadav198613 has left this issue due to os problems. If someone is already not working on it, can I take it?

[2019-10-03 08:40] shahidhk commented on #2954
@santoshyadav198613 Building on Windows is no different than building on a *nix machine as Go has good cross-platform support. If your hiccup is with `make`, I suggest you executing the commands in the make rules manually or using something like [Windows Subsystem for Linux](https://docs.microsoft.com/en-us/windows/wsl/install-win10) where most of the bash tools are available.

[2019-10-03 08:42] shahidhk commented on #2954
@tingaloo Some tests depend on other tests, it is better if you run them together. Like `go test -ldflags "-X github.com/hasura/graphql-engine/cli/version.BuildVersion=$(VERSION)" ./...`

[2019-10-03 08:51] marionschleifer commented on #2954
@rv404674 we decided not to assign issues. People who want to contribute can just follow these guidelines: https://github.com/hasura/graphql-engine/wiki/Hacktoberfest-2019-%F0%9F%8E%89. If a draft PR is linked to an issue, it means someone is already working on it 🙂

[2019-10-03 09:15] leejh10003 opened #2995 "Where is hasura remote schema relationship?"
I'm using hasura and added remote schema(Apollo based GraphQL server) and querying to that schema works well. Now I'm trying to make a relationship between postgresql schema record and remote schema record base on https://blog.hasura.io/remote-joins-a-graphql-api-to-join-database-and-other-data-sources/ . But relationship set feature between local schema and remote schema doesn't appears. I reload

[2019-10-03 09:22] pronevich commented on #2326
@danoc @abelaska @geoff448 currently my project on Cloud Run and want to report you that yes - websockets doesn't work. In the overall great experience in work with GR.

[2019-10-03 09:52] tirumaraiselvan commented on #2995
@leejh10003 Are you using the Remote joins PR build?

Remote joins is in preview only and it is available here: https://github.com/hasura/graphql-engine/pull/2395 (see the docker comment here for the image: https://github.com/hasura/graphql-engine/pull/2395#issuecomment-533048840)

[2019-10-03 09:53] arvi3411301 opened #2996 "console should generate migration for import metdata action"
Currently, the console doesn't generate migrations for import metadata action (replace_metadata) when opened via cli.

Steps to create migration:
1. Fetch the current metadata status using export_metadata action and set it as down.yaml
2. Read the user uploaded metadata file and set it as up.yaml

[2019-10-03 10:49] christyjacob4 commented on #2042
Can I work on this @marionschleifer

[2019-10-03 11:44] #2991 closed

[2019-10-03 12:02] rakeshkky commented on #2981
@ardsh Thanks for reporting the bug. Please find the fix in https://github.com/hasura/graphql-engine/pull/2998.
It'd be highly helpful if you try out the preview app https://hge-ci-pull-2998.herokuapp.com/ and confirm the fix :slightly_smiling_face:

[2019-10-03 12:35] marionschleifer commented on #2042
@christyjacob4 that is cool 🙂 you can add a new page [here](https://docs.hasura.io/1.0/graphql/manual/guides/index.html). Also, check out [this wiki](https://github.com/hasura/graphql-engine/wiki/Hacktoberfest-2019-%F0%9F%8E%89) on how to contribute.

[2019-10-03 13:27] bynov opened #3001 "[Error] Unknown operator"
Hi!
I'm using **Browse Rows** in Hasura console. When I open my table "orders" and try to open row data from table "offers" by foreign key "fk_orders_offer_id", I've got an error "Unknown operator : participant_method".
My table scheme:

Orders:
[code]

Offers:
[code]

Column `seller_fee_details` contains data like this:
[code]

Hasura Engine error log:
[code]

I think it something related to `jso

[2019-10-03 13:42] leejh10003 commented on #2995
Oh, thanks @tirumaraiselvan ! Finally found the solution!

[2019-10-03 17:59] ardsh commented on #2981
That seems to be working well, thank you!

[2019-10-03 19:03] parikshitgupta1 commented on #2988
Assign me on this aswell.

[2019-10-03 19:38] marionschleifer commented on #2988
@cobwebsonsale I agree. Let's add the missing operators for now. I adapted the description.

If we find a good place for a cheat sheet, I'll update here.

[2019-10-03 20:12] ahmedkrmn commented on #2988
Hi @marionschleifer, are there any specific examples that we need to add?

[2019-10-03 20:32] marionschleifer commented on #2988
@ahmedkrmn just look at the examples in the page and add examples along these lines 🙂

[2019-10-03 20:33] christyjacob4 commented on #2926
Can I get started on this? @marionschleifer
Could you please help me navigate  the files?

[2019-10-04 07:00] #2860 closed

[2019-10-04 07:26] kpala opened #3010 "Insert or update with nullable enum field fails in console"
I created an enum table as instructed here: https://docs.hasura.io/1.0/graphql/manual/schema/enums.html#enums-in-the-hasura-graphql-engine Then, created another table with a reference to the enum table so that the enum field is nullable:

[code]

Inserting to the `stuff` table produces an error when using the "Insert row" tab in Hasura console, if I leave the "enum" value null:

[code]

However, i

[2019-10-04 07:37] PlamenHristov opened #3011 "Distributed Tracing"
Have any of you guys been able to forward trace Ids from Zipkin or Jaeger or add some kind of distributed tracing on the event callbacks?

[2019-10-04 07:53] christyjacob4 commented on #2898
hey @rikinsk can you please guide me through this so i can get started?

[2019-10-04 08:02] christyjacob4 commented on #2848
Hey @0x777 Can you please help me get started on this?

[2019-10-04 09:00] marionschleifer commented on #2995
@leejh10003 Happy that your problem is solved 🙂 I'm closing this issue. Feel free to re-open if you have any more questions.

[2019-10-04 09:00] #2995 closed

[2019-10-04 09:13] marionschleifer commented on #2863
@david-studyblue Im closing this. Feel free to re-open if you have any more questions 🙂

[2019-10-04 09:13] #2863 closed

[2019-10-04 09:41] 0x777 commented on #3001
@rikinsk Looks like the console is using all the columns to generate the `where` condition to get the relationship information of the selected row. The console should use `"column": {"_eq": value}` instead of `"column": value`. The second form is a syntactic convenience which only works for non-json(b) columns. Since in the above case, `seller_fee_details` and `buyer_fee_details` are columns of ty

[2019-10-04 09:48] 0x777 commented on #2939
We can add this is a query parameter to `/v1/query`, maybe as `/v1/query?tx_isolation=none`. This should also be allowed only for `admin` users.

[2019-10-04 10:11] 0x777 commented on #2951
@leoalves Aren't these constraints better enforced at the gateway layer like nginx/caddy? I feel that adding these features (rate limiting/header based restrictions) directly to graphql-engine is better than extending the permissions system as it increases the complexity. My point I guess is that we don't mind adding this feature if it helps you write more access control rules but the above use ca

[2019-10-04 10:42] rikinsk commented on #2431
Why isn't executing an insert SQL after the migrations are run good enough? Any reason for this to be a migration if its not to migrate from one system to another

[2019-10-04 10:44] shahidhk commented on #2959
Why don't you use an actual UUID in the test column if you need to refer to it later?

[2019-10-04 10:45] shahidhk commented on #1514
@tafelito This is tracked in the Postgres schema as a trigger and the associated function. You don't want Hasura to "track" this.

Hasura's tracking is for functions which you want to expose as GraphQL queries.

[2019-10-04 10:46] pdobrigkeit commented on #2959
That’s what we are doing now, but you need an external UUID generator and it is a lot of copy and paste if you have lots of rows. But I’ll try to figure out a workflow.

[2019-10-04 11:07] marionschleifer commented on #2965
@yyuankm1976 I'm closing this issue. Feel free to re-open if you have any additional questions 🙂

[2019-10-04 11:07] #2965 closed

[2019-10-04 11:26] LaurensBosscher opened #3014 "Hasura allows me to track tables in a schema that has special characters in it"
I've imported a DB with the name "planning-dev-db" and added it to Hasura. I've then tracked 5 tables (see screenshot):

![Schermafbeelding 2019-10-04 om 11 31 05](https://user-images.githubusercontent.com/13363196/66204114-654ec280-e6aa-11e9-8ea8-f862a9dd2275.png)

I couldn't query this schema, I've asked on Discord and leoalves explained the issue and asked me to open an issue.

[2019-10-04 11:28] razi-ed commented on #316
hi folks,
can I please claim this?

[2019-10-04 11:56] shahidhk commented on #316
Sure, follow this guide and make sure that you have a draft PR open with
your plan
https://github.com/hasura/graphql-engine/wiki/Hacktoberfest-2019-%F0%9F%8E%89

On Fri, 4 Oct 2019 at 16:58, Razi <notifications@github.com> wrote:

[2019-10-04 11:57] shahidhk commented on #2959
I'd like to understand the use case here to see if we do anything to make the experience better. Are you trying to create some sample data and run some tests on it?

[2019-10-04 12:31] stereobooster opened #3015 "Add support for ST_Within or ST_DWithin for Polygons"
I need to get the following query in PostgreSQL

[code]

or

[code]

I'm trying to do it with

[code]

but it fails with

[code]

[2019-10-04 14:00] stereobooster commented on #3015
The solution is

[code]

and params

[code]

Pay attention to `"crs":{"type":"name","properties":{"name":"EPSG:4326"}}`

[2019-10-04 15:19] pdobrigkeit commented on #2959
I'll try to explain. The App we are building is a survey tool. So our database contains lots of questions, these questions have references to different tables which store which selections are offered as ansers (foreign_key), also the weighting of those different anwers used in the evaluation. So our use-case is that we INSERT those questions and of course we would write regular SQL. If we would ha

[2019-10-04 15:21] tafelito commented on #1514
So if I need to see the functionsI created or if I want to edit one I have to connect directly to Postgress outside Hasura? Is that what you're saying?

[2019-10-04 16:10] marionschleifer opened #3018 "Document workaround for array input"
Until the time [this](https://github.com/hasura/graphql-engine/issues/348) is implemented, we should document how to pass array as literals.

Could be a section after [this](https://docs.hasura.io/1.0/graphql/manual/mutations/insert.html#insert-an-object-with-a-jsonb-column): called "Insert an object with an array column".

[2019-10-04 16:36] shahidhk commented on #2880
I was searching for this info :smile:

[2019-10-04 17:57] leoalves commented on #2951
@0x777,

In my specific use case the values are dynamic. I haven't dig too deep into Nginx.  But I think making those values dynamic is harder and more prone to errors, specially with my lack of experience with it.  For other projects, I have it in Nginx, but they are static.

This is not a road block for me. Right now I am doing it with Webhooks.  I just think it would be useful to also have this

[2019-10-04 19:15] madmod opened #3021 "feat: Name hasura engine instances"
When working with multiple Hasura instances it is difficult to tell which console is for which instance, particularly when using the Hasura cli for migrations as the ports are different. (Eg dev 8080 > cli 8081 and remote 8090 > cli 8091) This problem will only get worse for me as I add more deployment environments and make more products which use Hasura.

It would be great to be able to name a Ha

[2019-10-04 21:22] tafelito opened #3022 "Creating relationship failed. table not exists when creating manual relation"
I have a table of users and a table followers with user_id and follower_id

I'm trying to create a view so I can see from a user who users he/she follows and also who follows him/her?

Table users
[code]

Table users_followers
[code]

To see the followers of a user, I created an array relationship followers on users table
`users_followers . user_id  → users . id`

and then to be able to see who is

[2019-10-04 22:07] avimoondra commented on #2939
@0x777 Is it possible to add this as a parameter or arg within the up and down migration files? as an alternate method.

Sometimes we do want transactions, and sometimes we don't. The default can be with transactions, and an arg they can be turned off. And then we continue to use `hasura migrate apply` without any modification.

[2019-10-04 22:08] avimoondra commented on #2939
@0x777 Ah I see a miscommunication on my end -  we are looking to not have transactions when doing migrations specifically, not really queries.

[2019-10-05 01:37] edsonbonfim opened #3023 "Error on voyager view"
I got this message when I trying to open voyager view in my hasura app with heroku.

[code]

[2019-10-05 02:07] imagentleman opened #3024 "The github social icon is not displaying correctly"
The github social icon in the header of the docs (https://docs.hasura.io/1.0/graphql/manual/index.html) is not displaying the star counter properly.

Screenshot:
<img width="216" alt="Screen Shot 2019-10-04 at 9 00 49 PM" src="https://user-images.githubusercontent.com/2272928/66248309-ec238f80-e6ea-11e9-875d-38dc4f88de5a.png">

[2019-10-05 02:17] lexi-lambda opened #3026 "console: server-build script fails to download assets"
As of https://github.com/hasura/graphql-engine/commit/eb0c1f66425568c5fcf32c882223a2e92503412d, I get the following error when I run `npm run server-build`:

[code]

Do I need credentials to access the `gs://hasura-graphql-engine` bucket? And if so, is it intentional? It seems important that the `server-build` script be accessible to OSS contributors.

[2019-10-05 02:36] lexi-lambda commented on #3010
Thanks for the report! This should be easy to fix. I’ll lump it into the fix for #2820 when I get around to fixing that, since they’re both enum-related bugs.

[2019-10-05 04:00] #2981 closed

[2019-10-05 11:42] leejh10003 commented on #2955
I'm currently handling id problem with this code:
[code]
The idea is simple: Remove user unauthorized column(json's key matching to it) from `param`'s `data`(in this case, `id`).

Of course, I know this is not that good strategy. But this could be lesser evil for developers like me 😢. I hope this solution could be helpful.

[2019-10-05 12:49] lacexd commented on #3018
I'd love to do it! :)

[2019-10-05 13:03] shahidhk commented on #1514
Yes, since it has nothing to do with Hasura or GraphQL. You can use the Run SQL window in Hasura also. Just don't tick the "Track this" box.

[2019-10-05 13:22] atomanonymous commented on #1844
Hi i would like to help but can some one guide me

[2019-10-05 16:27] tehpsalmist commented on #2655
Yeah, I'm not sure, but I think I was working on 1.2.3 or something when I submitted my PRs and had lengthy conversations with auth0 about this stuff. I'm spinning up a new app right now, so I'll report back if none of this works.

[2019-10-05 16:33] tehpsalmist commented on #2655
Upon further reflection, the client-side auth0 library should have no effect on whether the token is JWT or not. The important step is in setting up that API on the auth0 account. Can you post your repro steps?

[2019-10-05 18:40] Parikshit-Hooda commented on #2875
@marionschleifer  looks like rakeshkky is not working on this issue anymore. Would you please assign this issue to me?
Also, please label this as hacktoberfest, in that case.

[2019-10-05 21:37] vbansal20 commented on #2988
pls assign me too !!

[2019-10-06 00:29] andrewalex commented on #2882
@rikinsk to keep this individual issue simple (and not combine with needed scalar function calls) the supported ideal supported range operators would be the following
https://www.postgresql.org/docs/9.3/functions-range.html

[2019-10-06 01:45] kevinrodriguez-io commented on #2956
Yeah! I added my Google-managed SSL certificate by adding an Ingress above the LoadBalancer. That worked!

[2019-10-06 07:37] anuragsachdeva28 opened #3034 "Typo in the docs/contributing.md"

[2019-10-06 08:10] tsujp opened #3036 "On table or column name change, rename contstraint names to match new name"
Currently Hasura does not update constraint names when changing a table or column name.

Consider having an initial table called `clients` with an `id` and `email` column, `id` is the primary-key and biginit unique autoincrementing, email is text and unique.

Hasura will show the constraints on this table as the following:

### Primary key
* id - clients_pkey

#### Unique keys
* email - clients_em

[2019-10-06 08:13] tsujp opened #3037 "Warn about problematic role permission metadata mismatch"
Hasura version: hasura/graphql-engine:v1.0.0-beta.2

Not tested on hasura/graphql-engine:v1.0.0-beta.6 as this was during an upgrade to beta.6

If you have a role that references a column name `foo` and change that column name to `bar` such that no column `foo` exists on the table that role references then Hasura will not start up upon restart due to metadata inconsistency – however doing such cha

[2019-10-06 16:44] #3034 closed

[2019-10-06 17:10] marionschleifer commented on #1064
@RanadeepPolavarapu @sameshl we realized that we actually have all the required documentation on this now. So there is no work required at the moment. If you'd like to contribute, please pick another issue labelled `Hacktoberfest` 🙂

[2019-10-06 17:10] #1064 closed

[2019-10-06 19:44] marionschleifer commented on #2912
@chrisheseltine just checking in to see if your problem is solved? 🙂

[2019-10-06 19:45] marionschleifer commented on #2814
@Umudo04 just wanted to check and see if your problem is solved? 🙂

[2019-10-06 19:46] marionschleifer commented on #2907
@rrjanbiah just checking in to see if your problem is solved? 🙂

[2019-10-06 20:31] andrewalex commented on #2964
Just to continue this discussion, I think the ability to force session variables as parameters to functions would provide a more integrated experience. At present all the logic flow occuring inside a function is completely blind to any of the useful data hasura has to offer.

[2019-10-07 03:33] tehpsalmist commented on #2655
I'm definitely succeeding again with the above steps, using auth0-spa-js 1.2.4. I had previously been using 1.0.2, so I can now confirm the same steps worked before and after the changes you referenced. Let me know if there's anything I can do to help you troubleshoot your specific difficulties.

[2019-10-07 06:16] #3024 closed

[2019-10-07 06:29] shahidhk commented on #3024
This is happening on the website too. cc @surendran82
![image](https://user-images.githubusercontent.com/4124733/66289283-d9cb7080-e8f9-11e9-87c8-089297665e33.png)

[2019-10-07 06:51] rikinsk commented on #3022
@tafelito seems like you might not have tracked the view `following_me` in Hasura. You can do so on the schema page by hitting the `Track` button next to the view. Tracking implies Hasura will expose the view over the GraphQL API.

Untracked tables are not be allowed in relationships (as they aren't exposed over the API) which seems to be a bug in the console which we'll be fixing.

Do let us know

[2019-10-07 09:17] karthikvt26 opened #3047 "[Feature request] Ability to filter events by some payload data"
Current filters on `Processed Events` tab in `Events` page allow rows to be filtered by `id`, `event_id` and `delivered_at`. In a scenario where I have configured a trigger on insert and would like to drill down based on some unique primary key info. That way a particular event can be cherry picked and debugged

[2019-10-07 10:14] marionschleifer commented on #2655
@bkniffler @tehpsalmist thank you for your comments and for your help 🙂

@praveenweb will re-write the guide taking your comments and recent findings into consideration.

@praveenweb also take a look at this: https://discordapp.com/channels/407792526867693568/428469959530643466/630286971700248586 🙂

[2019-10-07 10:28] wawhal opened #3049 "[json2graphql] batch JSON data before dumping in postgres"

[2019-10-07 10:30] marionschleifer commented on #2873
@udhayamgit just wanted to check in if your issue is resolved? 🙂 If yes, please close this issue. Otherwise, please feel free to set up a call.

[2019-10-07 10:52] chrisheseltine commented on #2912
I started working on another area of my project which is why I left this thread until I was ready. Thanks for the suggestion, I think this will work for my criteria. I will try it shortly and update with the results.

Thanks for helping me, even SO couldn't solve this one!

P.S I won't mark as resolved until I have tested and given feedback.

[2019-10-07 13:15] marionschleifer opened #3050 "docs: page on how subscriptions work"
Feedback from @elgordino:

'How do subscriptions work'. I usually link to this https://github.com/hasura/graphql-engine/blob/master/architecture/live-queries.md which is super great but very technical and it discusses a number of approaches that were not adopted. I think a simpler explanation in the regular docs would be useful if it doesn't already exist.

**Edit**: After a review of @lexi-lambda

[2019-10-07 14:39] pydevsg commented on #3050
Hi @marionschleifer , I would like to work on this, can you tell what actually I need to implement for a good documentation.

[2019-10-07 15:50] tafelito commented on #3022
@rikinsk If I try to track the view when I create it, it throws an error saying `function does not return a "COMPOSITE" type`

I following the documentation as it says [here](https://docs.hasura.io/1.0/graphql/manual/queries/derived-data.html)

[2019-10-07 16:26] Zoharos opened #3053 "Auth webhook - self signed certificate support"
Hi,
I'm developing using hasura and a service with a self signed certificate. When hasura webhook this service for authentication it fails because of if is a self signed certificate.
Can you create an env variable that will allow to use self signed certs like in this case?

[2019-10-07 16:46] jberryman commented on #3026
Also it would be nice if we can avoid using `gsutil` at all here (at least I haven't needed to install it until now), and just use curl or wget. Here's an example https://github.com/openai/gpt-2/pull/39/files

[2019-10-07 18:04] #2963 closed

[2019-10-07 22:02] richardgirges commented on #2836
Really interested to see how we can do this with different databases. Is there any existing information already out there on that?

[2019-10-07 22:16] benjamin-ndc commented on #2749
Hello!

Wondering if this is causing an issue. I have a fresh install of Hasura (local docker-compose.yaml setup, following the tutorial), trying to create an "init" migration of an existing DB, running:

[code]

and getting the following output:

[code]

[2019-10-07 22:24] bitjson commented on #2151
Has anyone tried to pass through the Postgres [`EXPLAIN`](https://www.postgresql.org/docs/current/using-explain.html) "cost" estimate for this?

Even if it's off by orders of magnitude, being able to configure a `HASURA_GRAPHQL_COST_LIMIT=100000` cap could prevent the most pathological queries for my use case.

[2019-10-07 22:54] bitjson commented on #2816
👍

Yes please, I was definitely confused when I wasn't able to work on a local Hasura instance offline. (And being offline, I didn't realize `HASURA_GRAPHQL_CONSOLE_ASSETS_DIR` was an option.)

Related, I think [this documentation section](https://docs.hasura.io/1.0/graphql/manual/deployment/graphql-engine-flags/config-examples.html#console-assets-on-server) needs to be updated – it seems that the

[2019-10-07 23:29] yyuankm1976 opened #3057 "Besides the remote schema method, is it also possible to add apollo-server-express on top of hasura to extend the functions?"
1) Want to have the customized design of schema name instead of using table name.
2) Want to integrate business logic, such as calling REST API to integrate data and provide common graphql interface for frontend.
Thanks!

[2019-10-08 00:43] andrewalex commented on #2964
I just ran into this. https://docs.hasura.io/1.0/graphql/manual/guides/auditing-tables.html
Is it possible to make it so we can do current_setting('hasura.user')  inside functions as well?

[2019-10-08 03:18] jasonappah commented on #2227
I'll give this one a shot.

[2019-10-08 05:26] tirumaraiselvan commented on #3057
I think you are asking, in general, how do you extend/customize the Hasura GraphQL Engine.

1. You can customize the query, mutation and subscription fields using: #2509

2. You can use apollo-server to write custom logic and add it to Hasura using Remote Schema (like you said). But you can also create relationships between your tables and remote schemas using #2395 . This is similar to extending

[2019-10-08 05:30] tirumaraiselvan commented on #3057
You might notice that all of these are in PR currently but rest assured that they will be released in the next 2 or 3 releases.

[2019-10-08 08:10] rikinsk commented on #3022
Was a function definition part of your SQL? This error should not be thrown if we are defining the view you described above.

Nevertheless you can track an existing view from the schema page:
![Screenshot from 2019-10-08 13-39-00](https://user-images.githubusercontent.com/54616969/66378480-22099200-e9d1-11e9-8a32-94552f2f9f5c.png)

[2019-10-08 08:13] rakeshkky commented on #2875
@Parikshit-Hooda I updated the description. Please assign yourself :). Thank you.

[2019-10-08 08:15] nizar-m opened #3059 "Error on moving related tables to another schema in one single run_sql query"
Consider the following setup of tables
[code]
with object foreign key relationship `foo` defined on table `bar` with column `foo_id`, and array foreign key relationship `bars` on table `foo` with the same foreign key.
The following run_sql query
[code]
fails with error
[code]

[code]

[2019-10-08 09:58] thavorac opened #3060 "Hasura Platform: fail to install cluster on minikube"
I'm following this tutorial [https://docs.platform.hasura.io/0.15/platform/manual/index.html](url) which show how to set up Hasura as a platform and deploy it on Kubernetes.

I'm trying to set up minikube for my development k8s cluster by following this guideline: [https://docs.platform.hasura.io/0.15/platform/manual/install-hasura/minikube.html](url). After i config everything and then try to ins

[2019-10-08 10:47] #2313 closed

[2019-10-08 11:50] rrjanbiah commented on #2735
@vikastomar5983 Do you find any better workaround? This is a serious blocker for us now.

[2019-10-08 11:52] rrjanbiah commented on #2907
@marionschleifer Thanks for checking. But, unfortunately no. With huge data, we're now getting another previously noted issue #2735

[2019-10-08 12:05] tafelito commented on #3022
I was indeed just creating the view as I mentioned before. I was not creating a function.
Doing what you suggested actually worked. So the view was created and now I'm able to track it. It just won't allow me to track it when I create it from the SQL editor.
I can do more tests if you need me to.
Thanks @rikinsk

[2019-10-08 16:35] Parikshit-Hooda commented on #2875
Thanks. I will get started.

[2019-10-08 16:36] Parikshit-Hooda commented on #2875
You may assign it to me.

[2019-10-08 17:25] lukaspili commented on #2322
Does this cover access to sessions variables in SQL views?

[2019-10-08 18:09] maxpain opened #3064 "Apollo Federation"
Since the graphql schema stitching way is deprecated in Apollo, we are limited to the functionality of Apollo Server.

We really need the support of the Apollo Federation in Hasura.

You guys are promoting the Hasura with advice to use it as a gateway and connect other microservices with a business logic via remote schemas feature, but we want to use graphql-engine only as microservice behind Apol

[2019-10-08 18:18] Maxpain177 commented on #3011
+1

Instana offers a nice way to do distributed traces across all microservices in a project.

In our case, we have a lot of queries via graphql-engine and it will be cool to see SQL queries, made by hasura, in our distributed traces.

Is it possible to implement the support of this plugin in graphql-engine?
https://docs.instana.io/ecosystem/haskell/

Or maybe support of Jaeger/Zipkin/opentracing?

[2019-10-08 18:58] FluorescentHallucinogen commented on #2313
@wawhal Could you please deploy the updated version to https://graphiql-online.com?

[2019-10-08 23:45] kewbish opened #3066 "CONTRIBUTING.md has a typo"
The 'greatful' should be 'grateful'.

[2019-10-09 00:25] bitjson opened #3068 "How to activate the JWT Analyzer/Inspector"
I saw [this blog post](https://blog.hasura.io/jwt-analyzer-in-hasura-console/) about the built-in JWT Analyzer/Inspector, but I can't seem to activate it in `v1.0.0-beta.6`. When I paste the JWT (and even set the Key to `Authorization`), I'm not seeing the rectangular icon.

![Screen Shot 2019-10-08 at 8 21 49 PM](https://user-images.githubusercontent.com/904007/66442563-4719f700-ea09-11e9-9399-34

[2019-10-09 02:46] yyuankm1976 commented on #3057
Thanks tirumaraiselvan. I knew the integration pattern based on remote schema. What I am looking for is another pattern, that is to make hausura as a source of another apollo-server. The reason is that we want to do some joint processing from different data sources before presenting to the front-end. For example, after getting from postgresql db, we will send REST api calls to another microservice

[2019-10-09 02:49] yyuankm1976 commented on #3057
In addition, for the remote schema, besides the UI configuration, can I put it somewhere in the docker container during the building process? You may know the running of docker container is mostly based on the temporary storage. The rescheduling of the docker container, such as in ECS, the things configured through UI may get lost.

[2019-10-09 03:54] wawhal opened #3069 "change all nulls to undefined in the codebase"
It is best to stick to either `nulls` or `undefined` for the sake of uniformity.
Since undefined is the default that JavaScript falls back to, lets not use `null` anywhere.

[2019-10-09 05:06] sameshl commented on #3069
@wawhal I would like to take this up

[2019-10-09 05:54] rikinsk commented on #3068
The Authorization header should be a  Bearer token . ie. its value should be of the form `Bearer <token>`

[2019-10-09 06:03] rikinsk commented on #3069
You never explicitly assign the value `undefined` to anything. `undefined` is used by JS to represent that a variable has been declared but hasn't been assigned a value. If your variable explicitly does not have a value it should be assigned the value `null` and not be left as `undefined`.

[2019-10-09 06:45] marionschleifer commented on #2875
@Parikshit-Hooda we don't assign issues. See here the guide on how to contribute to Hasura: https://github.com/hasura/graphql-engine/wiki/Hacktoberfest-2019-%F0%9F%8E%89 🙂

[2019-10-09 06:47] rrjanbiah commented on #2907
Just a clarification... it is not just for huge data, but even for small data with short interval, data are getting skipped in subscription... when we use  `limit: 1, order_by: updated_at, desc` logic (As noted in #2736) Also, unfortunately, finding ideal `k` in `limit: k` to solve the issue is not possible. Perhaps the only possible solution is to find another approach.

Also, anyone ever used su

[2019-10-09 06:54] #3066 closed

[2019-10-09 07:05] rakeshkky commented on #2964
@andrewalex
We'll support functions to accept session information (all `X-Hasura-*` variables) through an argument. Please refer to https://github.com/hasura/graphql-engine/issues/2322

[2019-10-09 07:09] rakeshkky commented on #2322
@lukaspili
This issue only meant to allow SQL functions to access session variables

[2019-10-09 07:16] wawhal commented on #3069
@rikinsk this becomes a problem during interop with Reason. Look at this function:

[code]

Now if you are calling this function from JavaScript:

[code]

It can be (kinda) handled in Reason by `Js.Nullable` package. But `option` is a much neater way to handle  nullable values.

Also, I understand that `undefined` is a default used by JS to assign to values not assigned a value. But our server als

[2019-10-09 08:30] rikinsk commented on #3069
Not aware of the Reason specifics here but if it doesn't capture `null` as `None` I can't imagine why. I would never equate `None` to only `undefined`. Doesn't seem to make
any sense to me.

`null` is just not the same as an empty string or `undefined`.

Simply put if a variable is supposed to have a value, it should never have been `undefined` to begin with. Clearly an assignment step was missed

[2019-10-09 10:09] #2795 closed

[2019-10-09 12:34] bicho19 opened #3075 "Check if Point is within Polygon"
I have a table (cities) containing information about cities including their area (polygon), i added data from OSM as JSON and inserted it to the table.
When i run this query, i get no results.

[code]
Query variable:
[code]

Although i have row in the table with this value  :
[code]

[2019-10-09 12:46] Fanarito commented on #1920
Any news on this?

[2019-10-09 13:16] andrewalex commented on #2964
Awesome.  the second thing that might be useful is the ability to enable/disable functions based on role.  (tho we can just put a check in the function to get around that)

[2019-10-09 17:58] carlosbaraza commented on #3064
This is really important to us as well. Using Hasura as a service should be a fairly simple thing to do.

[2019-10-09 19:49] benkimpel opened #3078 "Console > Data > Schema -- Selecting public schema shows ALL untracked tables"
Selecting the public schema in Console > Data > Schema shows all untracked tables, including tables from other schemas.

I poked around at it in Web Inspector/React Devtools and I can see that the props suggest that it knows the correct schema, but is maybe just not filtering it when public is selected.

Note that `blog_posts` is in the app schema, not public.

![Screenshot from 2019-10-09 14-48-5

[2019-10-09 20:01] benkimpel commented on #3075
@bicho19 Hi. (I think I tried to help you in Discord. I'm not affiliated with Hasura, just trying to help out because I'm doing something similar.)

Try without the `location` key in your query variable. So a value that is valid GeoJSON, like...

[code]

Also, just to cover all the bases... postgis must be installed and your column should be of type `geometry(Multipolygon)`.

[2019-10-09 20:25] michizhou commented on #3018
Hey @marionschleifer, I would be happy to take up this issue. If there is any additional supplemental information or background you can provide to help me write up the docs, I'd appreciate it.

[2019-10-09 21:54] Parikshit-Hooda commented on #2875
Ok, Thanks! I will get started.

[2019-10-09 23:23] bicho19 commented on #3075
@benkimpel the polygon was in long-lat format while i was querying with lat-long point. my mistak. Thanks for the help.

[2019-10-09 23:23] #3075 closed

[2019-10-09 23:29] benkimpel commented on #3075
ohh! that one has gotten me quite a bit. i should have thought about that!!

[2019-10-09 23:29] benkimpel commented on #3075
good find

[2019-10-10 04:14] dsandip commented on #2907
@rrjanbiah let's get on a short call to troubleshoot this? If this works for you, please help schedule this chat using [this](https://calendly.com/team-hasura/graphql-helpline).

[2019-10-10 04:23] skunkwerk opened #3080 "Docker with https"
I have hasura working using the docker image, but it doesn't work with HTTPS traffic.  How do I get Hasura to work with HTTPS traffic on port 443?  Thanks

[2019-10-10 05:58] rrjanbiah commented on #2907
@dsandip Thanks for your offer. Will try for a call. But, it is very very easy to reproduce it in any normal environment. Say, users ~ 5000, comments ~1 lakh, number of live users ~5. Basically, anyone using subscription for live update should get it often.

[2019-10-10 06:48] rikinsk commented on #3078
@benkimpel This is quite odd. We do actually filter the untracked tables to display only the ones from the current schema. Could you confirm if this is happening to you for other schemas as well eg: do you see untracked tables of public schema when you have chosen the "app" schema

[2019-10-10 07:29] wawhal opened #3082 "support skipping execution while generating migrations through the migrate REST API"

[2019-10-10 07:32] wawhal commented on #1766
This feature is blocked on https://github.com/hasura/graphql-engine/issues/3082

This is because, the complete row details (including auto generated values) are required to generate down migrations. Once the CLI supports generating migrations without executing them, the console can first insert the value, get the row details and then create up and down migrations.

[2019-10-10 07:41] Toub commented on #1253
I guess this issue should be closed as it has been fixed by https://github.com/hasura/graphql-engine/pull/2751 ?

[2019-10-10 07:46] Toub commented on #2792
@rakeshkky what do you think about this?

For rarely updated data, the benefits of etag header would be huge.

[2019-10-10 07:56] brainplug opened #3083 "Upgrade to v1.0.0-beta.7 causes problems on tables set as enum"
Enum tables that comply with the criteria and work perfectly fine in beta.6 cause the beta.7 to fail when starting up. An example message from the logs (schema and table name obfuscated):

{"definition":{"schema":"xxx","name":"yyy"},"reason":"the table \"xxx.yyy\" cannot be used as an enum for the following reasons:\n  • the table’s primary key must not span multiple columns (id, id)\n  • the tabl

[2019-10-10 08:11] lexi-lambda commented on #3083
Could you share your schema, or at least a portion of it that’s enough to reproduce the issue? I tried to reproduce what you’re seeing but I haven’t managed to yet.

I tried creating a table like this using `v1.0.0-beta.6`:

[code]

I added some values to it and marked it as an enum. I then started version `v1.0.0-beta.7`, and it seemed to migrate alright.

[2019-10-10 08:30] brainplug commented on #3083
The tables are actually equally simple as yours. One example:

CREATE TABLE transport_type (
    "id" text PRIMARY KEY UNIQUE,
    "value" text NOT NULL UNIQUE
);

Some additional info:

- our Hasura setup runs within Kubernetes (AWS EKS). I simply changed the version number in my deployment and used kubectl to replace the existing deployment (as per your docs)
- our database is an AWS Aurora data

[2019-10-10 08:43] lexi-lambda commented on #3083
Could I ask you to execute the following SQL query against your beta.6 instance and tell me what the output is?

[code]

For example, when I run it against my sample `colors` table, I get this:

[code]

[2019-10-10 08:52] rakeshkky commented on #2792
@Toub Soon we'll work on this. :slightly_smiling_face:

[2019-10-10 09:04] brainplug commented on #3083
I modified table_schema to the actual schema we use and then get this:

`table_schema | table_name         |                                                                             columns                                                                              | primary_key_columns
-------------+--------------------+-------------------------------------------------------------------------

[2019-10-10 09:19] lexi-lambda commented on #3083
Ah, I’ve found the bug. Due to a change in 99174cca9b99ebb4b7d55d02fa1dcda150a3d57c, the internal `hdb_catalog.hdb_column` was extended with some additional `JOIN`s, and they unfortunately produce duplicate rows if there are two tables in different schemas with the same name.

The good news is that it’s an easy fix, and we should be able to patch it in the next release, which should be pretty soon

[2019-10-10 09:29] brainplug commented on #3083
Ah yes: we do also have the same table in the public schema as this is a development environment and one of our developers first started in the public schema before realizing it would be better to put his tables in their own schema. ;-)

We'll continue working on beta.6 for the time being, skip beta.7 and then upgrade when beta.8 comes out. Thanks!

[2019-10-10 11:04] rikinsk commented on #1253
Yes indeed.

[2019-10-10 11:05] #1253 closed

[2019-10-10 11:36] dsandip opened #3085 "docs: document aliasing graphql root fields and column fields"
In addition to the Metadata APIs, the aliasing feature should be documented as a separate page under https://docs.hasura.io/1.0/graphql/manual/schema/index.html

[2019-10-10 13:08] marionschleifer commented on #3018
@michizhou there are already two PRs for this issue: https://github.com/hasura/graphql-engine/pull/3019 and https://github.com/hasura/graphql-engine/pull/3038.

If you would like to contribute, you can follow [this link](https://github.com/hasura/graphql-engine/wiki/Hacktoberfest-2019-%F0%9F%8E%89). There is also a link to a list of `Hacktoberfest` issues 🙂

[2019-10-10 14:14] benkimpel commented on #3078
@rikinsk I'll see if I can put together a small repo that reproduces the issue in isolation.

[2019-10-10 14:34] 0xR commented on #3064
You can add a middleware service with [graphql-transform-federation](https://github.com/0xR/graphql-transform-federation) to add federation decorators to an existing hasura schema. This makes it possible to use hasura behind an apollo federation gateway. Let me know what you think.

[2019-10-10 15:11] #3083 closed

[2019-10-10 16:09] #2905 closed

[2019-10-10 16:58] bitjson commented on #3068
Pasting in the below doesn't seem to trigger the rectangular icon (example from jwt.io). Should this work?
[code]

[2019-10-10 19:02] #1521 closed

[2019-10-10 20:35] ajhool opened #3091 "Easy way to add metadata.json to AWS ECS instances"
Hasura suggests using ECS/Fargate for production deployment. However, we're finding that adding a `metadata.json` file to the ecs containers is a major painpoint. It requires managing either a separate EBS volume, separate Docker image (and figuring out how to build it correctly), or other ad hoc solution. It's unclear what the recommended strategy is for managing metadata in a fargate deployment

[2019-10-11 02:08] ajhool commented on #3091
Another implementation might be to use the `replace_metadata` (https://docs.hasura.io/1.0/graphql/manual/api-reference/schema-metadata-api/manage-metadata.html#replace-metadata) logic to execute a GET request to the desired endpoint

[2019-10-11 02:22] #2820 closed

[2019-10-11 02:22] #3010 closed

[2019-10-11 03:37] benkimpel commented on #3078
@rikinsk This issue is totally on my side. It was a migration gone awry with duplicated tables in several schemas. So sorry for the false alarm! Thanks for looking into it. Closing.

[2019-10-11 03:37] #3078 closed

[2019-10-11 03:39] hnarasaki commented on #3050
I'd like to work on this! Draft PR created: https://github.com/hasura/graphql-engine/pull/3094

[2019-10-11 05:13] #2826 closed

[2019-10-11 06:53] rikinsk commented on #3068
@bitjson Your key and value seem correct.

There are 2 requirements for the JWT inspector icon to show up:
- the header is an authorization header (this seems to be satisfied)
- Hasura is configured to run with JWT authentication (as described [here](https://docs.hasura.io/1.0/graphql/manual/auth/authentication/jwt.html#configuring-jwt-mode))

Can you confirm that you have configured Hasura to use

[2019-10-11 09:55] lexi-lambda opened #3097 "`include`/`skip` directives can cause queries to be incorrectly cached"
Currently, the GraphQL validation pass handles `include` and `skip` directives by completely removing them from the query before passing the query to the resolve pass. Because these variable references are stripped, they are not counted as a reason not to cache the query, which is quite wrong.

To reproduce this, run `graphql-engine` with the `+RTS -N1 -RTS` option to use a single OS thread, which

[2019-10-11 13:07] jeremie1112 commented on #1210
Hi, is someone working on this? @wawhal
else let me know if I can work on this issue.

[2019-10-11 15:08] leejh10003 commented on #3011
+1
I want to use some kind of monitoring platform like https://www.datadoghq.com!. It would be cool to profile backend for optimizing service.

[2019-10-11 17:17] agarwalrounak commented on #3050
I am working on this issue.

[2019-10-11 18:21] MikeBosw commented on #1291
This issue is my blocker. It's a make-or-break issue for me.

The reason I almost went with Hasura for my company was the beautiful simplicity of using it relative to other backend architectures. Models, migrations, permissions, and a super-flexible frontend API, with support for realtime pushes... hurray! But I **do** need business validation (beyond authorization). If I had that, ermahgerd. And

[2019-10-11 18:21] tsaiDavid commented on #2699
Can't wait for this!

@dmi3y

[2019-10-11 18:23] tsaiDavid commented on #3064
@dmi3y - see above re: Federation

[2019-10-11 18:37] beepsoft commented on #1291
@MikeBosw as far as I understand the "Actions" feature will make this possible/easier. But even without this you _can do_ validation using Postgresql trigger functions today:

https://blog.hasura.io/postgres-triggers-on-graphql-mutations-682bf48db023/

https://docs.hasura.io/1.0/graphql/manual/guides/auditing-tables.html

[2019-10-11 19:04] lukaspili commented on #1291
A high level overview of actions has been made available here: https://deploy-preview-3042--hasura-docs.netlify.com/graphql/manual/actions/index.html (found on PR https://github.com/hasura/graphql-engine/pull/3042)

[2019-10-11 19:09] MikeBosw commented on #1291
Thanks. As you say. Mentioned also in [https://github.com/hasura/graphql-engine/issues/1291#issuecomment-502422147](an earlier comment). The trade-off from an architectural standpoint is the conflation of your database with your application, but yes, if I had to pick between the one approach (remote schema) and the other (Postgres constraints) I'd definitely pick the latter.

[2019-10-11 19:12] MikeBosw commented on #1291
Exciting :)

[2019-10-11 19:18] 2upmedia commented on #1291
Michael,

I’m a little throw off by the Python example. Isn’t it supposed to be in Node?

[2019-10-11 19:31] lukaspili commented on #1291
@2upmedia I just found the PR and read the doc, I don't have more info.
From my understanding, actions trigger a webhook so this logic happens outside of Hasura. But yeah, the most common architecture will be a serverless function running on node.

[2019-10-11 19:44] 2upmedia commented on #1291
@lukaspili thanks. I'll reach out to the person that created the PR.

@0x777 any ideas why there's a Python example in the documentation?

[2019-10-11 20:07] MikeBosw commented on #1291
@2upmedia, if my understanding is correct, the HTTP endpoint is something you yourself create, which means that you can use any language, be it Node, Python, or Racket. In what sense is it supposed to be Node?

[2019-10-11 21:20] valstu commented on #1291
Python syntax is almost like writing some sort of pseudo code so I guess it makes sense. But yeah, your backend could be written in any language so it really doesn’t matter like @MikeBosw said.

[2019-10-11 22:05] coco98 commented on #1291
Also, note that we're also adding support for the action handler to be a postgres function (say, plv8) or an HTTP endpoint. So you can move from one to the other quite easily. For example, start off with a postgres function if its simple data validation type code and move to a HTTP endpoint later without affecting anything.

[2019-10-11 22:19] bitjson commented on #3068
Ah! That's what I was missing – I was trying to use Hasura to inspect a JWT before configuring Hasura to use JWT authentication. Thanks!

[2019-10-11 22:19] #3068 closed

[2019-10-11 22:48] bitjson opened #3100 "Feature request: support JWT keyType "EdDSA""
It would be great if Hasura supported the [`EdDSA` JWT type](https://tools.ietf.org/html/rfc8037). It looks like the [`jose`](https://github.com/frasertweedale/hs-jose) library Hasura is using already supports it.

For any non-legacy application needing asymmetric keys, `EdDSA` (`Ed25519`) is probably the best choice. It produces much smaller signatures than RSA keys, performs well, and has [stron

[2019-10-11 23:41] hnarasaki commented on #3050
@marionschleifer My draft PR was auto closed I think: https://github.com/hasura/graphql-engine/pull/3094. Do you know why this happened, or if my process was wrong? I'm actively working on this.

[2019-10-11 23:58] nurdism opened #3101 "graphiql-explorer, union types with duplicate keys wont show type structure"
This is an issue with [graphiql-explorer](https://github.com/OneGraph/graphiql-explorer) but I'm not familiar with the current implementation of it so I thought I'd leave a report here. (This is for remote schemas)

an example
[code]

in the `graphiql-explorer` when you select the Query `current_user` it will give you the list in the union, `User` will select and you can see the `User` object stru

[2019-10-12 09:53] root-ansh opened #3106 "Translation For Readme (#HacktoberFest)"
Hi. Can I make a PR for  translating this repo's readme to Hindi? It's the world's 3rd morst spoken language, maybe you would want it.
Thankyou

[2019-10-12 12:01] marionschleifer commented on #3050
@hnarasaki This was a misunderstanding, sorry about this. I re-opened the PR. Feel free to push to the PR regularly, so that we can see your progress 🙂

[2019-10-12 18:38] hnarasaki commented on #3050
@marionschleifer No problem, thanks! :) I was just unsure if I created the Draft PR wrong since I've never seen the draft feature before.

[2019-10-12 20:08] abn commented on #2599
@0x777 @dsandip was there any movement/update on this one?

[2019-10-12 20:40] lanthaler commented on #2913
See also #1601

[2019-10-12 23:11] eliehamouche opened #3108 "Aggregates not found but queries are working fine"
Following the apollo todos tutorial
Seem too be having an issue specific to queries

Simple query works:

[code]

This simple aggregate:

[code]

Gives me an error:

[code]

Both the query and aggregate are working fine in the console.
But on the client only the query works.

Component for reference:

[code]
Tried changing permissions to allow all, but that didn't help
Any ideas? doesn't seem to b

[2019-10-12 23:16] hnarasaki commented on #3050
@marionschleifer I finished adding my changes. Updated my Draft PR to a regular PR. Requested review on the PR: https://github.com/hasura/graphql-engine/pull/3094 Thanks! :)

[2019-10-12 23:35] mavenraven commented on #2700
Just to follow up on this, this is what I was actually looking for https://docs.hasura.io/1.0/graphql/manual/auth/authorization/permission-rules.html#using-relationships-or-nested-objects

[2019-10-13 07:16] shahidhk commented on #3106
@root-ansh Go for it!

[2019-10-13 07:54] eliehamouche commented on #3108
Was a permissions issue - needed to allow aggregates for that table

[2019-10-13 07:54] #3108 closed

[2019-10-13 08:53] thefliik opened #3112 "graphql-engine docker image appears to print all log entries on start"
Sometimes, when starting the graphql-engine docker image locally using `docker-compose up`, graphql-engine will immediately run though every query in its log (note: I'm assuming the information is coming from a log), printing the results to the console. This can take several minutes to complete if the log is large, during which time graphql-engine is unresponsive.

This doesn't always occur, and I

[2019-10-13 09:18] Tbaut opened #3113 "Boilerplate whatsapp clone - how does hasura users table get populated?"
Apologies if there is a better place to ask this. cross-posted on SO [here](https://stackoverflow.com/questions/58363506/hasura-whatsapp-clone-jwt-boilerplate-how-does-users-table-get-populated)

I have built and launched all the components for the [whatsapp clone tutorial](https://github.com/hasura/graphql-engine/tree/master/community/sample-apps/whatsapp-clone-typescript-react/react-app).
My aut

[2019-10-13 10:26] crashoverloaded opened #3114 "Typo Errors and Space Misalignment in README.md"
I'm Working on this issue

[2019-10-13 11:32] elgordino commented on #3050
Hi. I'm the original requestor via @marionschleifer. This #3094 is a good start but what I had in mind is something that has more technical detail but is less comprehensive than the architecture page.

There is a frequent request in Discord for details on how subscriptions work, folks need to know it's database polling because once you know that it becomes clear how it works with views and other d

[2019-10-13 11:35] sordina commented on #2749
I've got a test-case for the pg_dump version mismatch issue:

Should be able to trigger it with: `docker-compose up migration-dump-bug`

[hasura-cli-pgdump-bug.zip](https://github.com/hasura/graphql-engine/files/3721681/hasura-cli-pgdump-bug.zip)

[2019-10-13 11:36] agarwalrounak commented on #3050
Hi @elgordino, please have a look at PR #3103. I have broken down the architecture page and extracted out the components into different sections. At each level, the docs provides a simpler explanation and if the user is further curious, he/she can view additional information as given.

[2019-10-13 13:12] marionschleifer commented on #3114
@crashoverloaded you don't need to create an issue for this, you can just submit a PR 🙂

[2019-10-13 13:12] #3114 closed

[2019-10-13 16:07] dlemstra commented on #2637
Is this still an issue? I ran the following command: `make build && _output/cli-hasura-linux-amd64 version --log-level=DEBUG` and I got `DEBU` in the output.

[2019-10-13 18:54] jxxcarlson opened #3121 "When a row is edited manually in a table, newlines in all fields are replaced by empty strings"
The title pretty much describes it.  Edit a row in table where some fields have text data containing newlines.  Save.  You will find that all newlines have bee replaced by empty strings.

[2019-10-14 00:46] afreix commented on #1211
I got into a similar situation following https://docs.hasura.io/1.0/graphql/manual/migrations/existing-database.html. The source was a hasura instance running in an EC2 container

`hasura migrate status` shows this:
[code]
followed by a bunch of migrations that have been successfully applied on both the SOURCE and the DATABASE. I'm not quite sure how I got into this situation and since there is no

[2019-10-14 01:12] thefliik commented on #3112
@marionschleifer does the `k/question` tag indicate that this is intended behavior for the graphql-engine docker image? If so I'll close this issue.

[2019-10-14 03:09] afreix opened #3124 "Hasura Console "Relation does not exist""
I am running a Hasura locally using docker compose with a hasura container and a postgres container.

I am using migrations and making changes to my local container with `hasura console`. I am trying to run SQL in order to insert data into my database. Any query that references `public.placeTypes` gives an error along these lines:

[code]

The console shows the table `public.placeTypes`, and when

[2019-10-14 04:11] shahidhk opened #3125 "deterministic ordering of objects in exported metadata"
`export_metadata` API should always respond with objects in the same order

[2019-10-14 04:43] shahidhk commented on #3124
@afreix I took a quick look. The table name is `placeTypes` and whenever you have capital letters in a relation name, you should use double quotes (`"`) around it. Otherwise, Postgres just lower cases everything.

Try `SELECT * FROM "public"."placeTypes"`

[2019-10-14 04:44] shahidhk commented on #1211
`1570497949573  Not Present    Present` -- you can get into such a state when you use the console from multiple machines (or directories) and forgot to commit/share the migration files.

Are you the only developer working on the project?

[2019-10-14 04:53] shahidhk opened #3126 "add a diff command to diff metadata on file and on server"
Add a new command to the CLI which can be used to diff the metadata on the server with one that is available locally.

Usage:
[code]

`--file` flag should have a shorthand of `-f`

Here is a gist for implementing diff:
https://gist.github.com/shahidhk/f39bf76e5fdf1e7a364638de1d12114b

[2019-10-14 04:56] shahidhk opened #3127 "add a dry-run flag to metadata apply command"
`hasura metadata apply` command should have a `--dry-run` flag, which will just print out the diff of the metadata being applied and the metadata on the server.

Depends on #3126

Usage:
[code]

[2019-10-14 04:59] shahidhk opened #3128 "add a dry-run flag to migrate apply command"
`hasura migrate apply` command should have a --dry-run flag, which will just print out the name/versions of the migrations that are going to be applied.
Usage:

[code]

[2019-10-14 05:43] marionschleifer commented on #3112
@thefliik no, this doesn't mean that this behaviour is intended. We need to reproduce it and find out if this is a bug. @shahidhk will check on this and get back to you soon 🙂

[2019-10-14 05:59] wawhal commented on #1210
Go for it @jeremie1112 :+1:

[2019-10-14 06:32] jeffsieu commented on #3126
Hi, can I have a go at this issue?

[2019-10-14 06:55] marionschleifer commented on #3113
@Tbaut, @praveenweb has answered your question on Stack Overflow. If this is resolved, please close this issue 🙂 otherwise, let us know if you have any more questions.

[2019-10-14 06:57] wawhal commented on #1210
@jeremie1112 yes @codingdefined has opened [a PR](#3105)

[2019-10-14 07:01] marionschleifer commented on #3126
@jeffsieu sure, go for it 🙂

[2019-10-14 07:11] tejpochiraju opened #3129 "Downgrade from beta.7 to beta.6 fails"
One of our hasura instances had been upgraded to beta.7 and now migrating to a new instance keeps failing due to issues related to #3083.

As noted in the release notes, we are trying to run the SQL script [linked here](https://gist.github.com/0x777/4e608a975ed4efeef6ac94ea329a4e80#file-beta_7_to_beta_6-sql) to downgrade to beta.6. However, this fails with the message:

`{
    "statement": "SELECT

[2019-10-14 08:27] rakeshkky commented on #3129
@tejpochiraju Hi, try running downgrade script directly on the database. Downgrade scripts may not work running in the GraphQL Engine console.

For example using `psql`:
[code]

[2019-10-14 08:46] jeremie1112 commented on #1210
@wawhal Can you recommend me any "good first issue" tag please?

[2019-10-14 09:09] marionschleifer commented on #3060
@thavorac I think this question has been answered on Crip, is that correct? If your problem is solved, could you please close the issue? 🙂

[2019-10-14 09:25] Tbaut commented on #3113
Thanks a lot, closing this and will follow-up on SO.

[2019-10-14 09:25] #3113 closed

[2019-10-14 09:36] rakeshkky commented on #2776
@mnlbox  @Mrcampbell
You can run the `ALTER TABLE ..` query in the `Run SQL` section of the console and move the table from one schema to another schema. The server will take care of migrating relationship/permission definition in the metadata tables (`hdb_*`) :slightly_smiling_face:

Example:-
[code]

However, altering multiple tables' schema may result in an error if tables have relationships de

[2019-10-14 10:53] ecthiender commented on #2944
@aaronhayes as you mentioned, the view workaround works for now. But I agree it would be ideal to have this in the permissions. There is #2575 open for this. It would be great if you can upvote/comment on that.

Can I close this issue then?

[2019-10-14 11:06] ecthiender commented on #3053
@Zoharos take a look at this: https://github.com/hasura/graphql-engine/issues/2553#issuecomment-531171075

Can you confirm if the above solves your issue?

[2019-10-14 12:03] rikinsk commented on #3101
Just tried this out. Doesn't seem to be due to the duplicate field. It seems like there is an issue with how explorer is dealing with nullable and non-nullable fields. This works if I set `message` as just `String`.

Have raised an issue about this at https://github.com/OneGraph/graphiql-explorer/issues/26 as we don't maintain the explorer

[2019-10-14 12:24] tejpochiraju commented on #3129
Thanks @rakeshkky - that worked.

[2019-10-14 12:24] #3129 closed

[2019-10-14 12:54] aaronhayes commented on #2944
@ecthiender absolutely - didn't see that issue, closing this a duplicate.

[2019-10-14 12:54] #2944 closed

[2019-10-14 13:01] aaronhayes commented on #2575
This would be a fantastic feature, and have had similar requirements myself. Created and closed #2944 as a duplicate.

[2019-10-14 14:19] ZhangShurong commented on #821
any updates?

[2019-10-14 15:20] 0x777 commented on #2599
@abn This is definitely something that we want to implement but we haven't added it to our pipeline yet. Hopefully, we can get this out in a couple of releases.

[2019-10-14 16:04] ChiragAgarwal7 commented on #3106
Can I translate the security file to Hindi then?

[2019-10-14 17:16] christopheroye commented on #2988
Please assign me to this project. I would love to work on this!

[2019-10-14 17:47] afreix commented on #3124
Ahh I feel silly. Thank you so much for you help

[2019-10-14 17:47] #3124 closed

[2019-10-14 20:57] marionschleifer commented on #1210
@jeremie1112 here is a list of good first issues: https://github.com/hasura/graphql-engine/issues?q=is%3Aopen+is%3Aissue+label%3Ap%2Fmedium+sort%3Aupdated-desc. Here are some guidelines for contributing: https://github.com/hasura/graphql-engine/wiki/Hacktoberfest-2019-%F0%9F%8E%89 🙂

[2019-10-14 21:07] RoryDH opened #3137 "New custom field API odd behaviour"
The new API added in #2509 adds `track_table` (version 2) and `set_table_custom_fields` which both allow setting `custom_root_fields` and `custom_column_names`.

Attempting to set my fields to exposed as `camelCase` today revealed some odd behaviours.

I am aware this is unreleased functionality! Just want to raise the bug and suggest my opinions with regards it :)

Tested on docker tag `hasura/gr

[2019-10-15 09:43] #3121 closed

[2019-10-15 10:20] shahidhk commented on #3112
@thefliik I am guessing when you do `docker-compose up` instead of `docker-compose up -d`, docker-compose will run through all the logs up to the current point.

There might be a docker-compose configuration that can fix this.

[2019-10-15 10:26] shahidhk commented on #3091
@ajhool Your current solution looks good, we do the same on some of our deployments too.

[2019-10-15 10:27] shahidhk commented on #3080
@skunkwerk You can use something like Caddy to do HTTPS: https://github.com/hasura/graphql-engine/tree/master/install-manifests/docker-compose-https

[2019-10-15 11:30] joshuarobs opened #3142 "Migration fails because the enum needs at least one row, but my data has rows?"
I'm trying to migrate data from Heroku to Docker, following the guide from here https://docs.hasura.io/1.0/graphql/manual/migrations/existing-database.html.

This is what I get when I run ` hasura migrate apply --endpoint http://localhost:8080`:
`FATA[0002] apply failed: [constraint-violation] the table "frequency" cannot be used as an enum because the table must have at least one row ($.args[2].a

[2019-10-15 13:19] #2682 closed

[2019-10-15 14:27] marionschleifer opened #3145 "Guide on how to test Hasura GraphQL engine"
We should write a guide on how to test Hasura GraphQL engine.

This is Leo Alves's input:

1 - Schema tests.  To make sure each role has access to the correct schema.  For that I use easy-grphql-test (I think that is the name of the library).  I save each Hasura role schema into a file and validate if the schema is correct based on the permissions setup in Hasura. To make sure a user can't access

[2019-10-15 14:27] marionschleifer commented on #3145
@shahidhk please add your thoughts on this 🙂

[2019-10-15 16:40] marionschleifer opened #3147 "Add clarification & examples to operators in docs"
We should explain the operators in the API reference: https://docs.hasura.io/1.0/graphql/manual/api-reference/graphql-api/query.html#operator. We should also add an example for each of them.

We can do something similar as with jsonb operators: https://docs.hasura.io/1.0/graphql/manual/queries/query-filters.html#jsonb-operators-contains-has-key-etc and also link to the Postgres docs.

[2019-10-15 16:49] marionschleifer commented on #3106
@ChiragAgarwal7 yes you can 🙂

[2019-10-15 16:50] marcotaranta commented on #3147
Hello, can I do that documentation?

[2019-10-15 16:53] marionschleifer commented on #3147
@marcotaranta sure, go for it 🙂

[2019-10-15 16:59] kabirbaidhya commented on #3128
@shahidhk Can I work on this? Please assign it to me if it's available.

Also, it would be helpful if you can provide an example case for this - let's say how do you want the output to look like. Thanks!

[2019-10-15 17:01] romcok commented on #2818
Hi, I have a problem with citext in Hasura. Hasura is casting slug value to a string and I get an empty result.

This is working with a raw query:

But hasura is doing something like this and I get an empty result:

So, how to make a case insensitive condition?

[2019-10-15 17:07] kabirbaidhya commented on #583
Hey @shahidhk @marionschleifer is this still available? If yes - I'm willing to help. Thanks!

[2019-10-15 17:34] meerasndr commented on #2787
Is this still up for grabs? I have the To-do GraphQL backend setup, based off Hasura docs. Would be good to poke around Mithril and try bridging it to the backend.

[2019-10-15 19:11] coco98 commented on #3142
@joshuarobs In the meantime, you can add the raw SQL values for inserting enum data in the SQL file that is created for the migration. I will also try this out and get back to you with an exact set of steps you can follow!

On the Hasura side, I'm not sure why, but I'm guessing because the track as enum request for the frequency table probably happened before archive_types.

[2019-10-15 19:13] codonnell-reify opened #3148 "Insert with nested returning clause fails alongside text[] column"
Attempting to add a nested query inside the `returning` clause of an insert mutation fails when the table being inserted into has a `text[]` column. I've created a minimal reproduction at https://returning-bug-repro.herokuapp.com/. This bug is present on at least `v1.0.0-beta.2` and `v1.0.0-beta.6`.

Running an insert mutation without a nested returning clause succeeds. For example:
[code]

Howeve

[2019-10-15 19:26] Inch4Tk commented on #3142
@joshuarobs you can check this issue for more explanations https://github.com/hasura/graphql-engine/issues/2817
In the end I also wrote a potential workaround for this problem:

[2019-10-15 19:28] coco98 commented on #3142
@joshuarobs This should work (while we fix this with something better):

1. `hasura migrate create "init" --from-server`
2. `pg_dump <postgres-url> --column-inserts --data-only -t frequency -t archive_types >> 15xxxx_init.sql`
3. `hasura migrate apply --endpoint prod-endpoint.com`

You can add multiple -t flags for all the enum tables. Hope this helps!

[2019-10-16 00:35] coco98 opened #3151 "Disable CLI animations/interactivity for CI/CD"
Flag to disable (or use a CI env var) animations type stuff on the CLI to prevent things like:
![3GjG8YwI jpg large](https://user-images.githubusercontent.com/131160/66879222-19d1c980-ef72-11e9-9478-101ec9514419.jpeg)

[2019-10-16 00:37] jeffsieu commented on #3126
@shahidhk @marionschleifer I've got the new command implemented and tested, will it be better for the command to accept the files as arguments instead of flags?

i.e.
[code]
instead of
[code]

[2019-10-16 00:51] lexi-lambda commented on #3151
Generally, well-behaved tools auto-detect this based on whether stdout is an interactive terminal using the [`isatty` syscall](https://pubs.opengroup.org/onlinepubs/009695399/functions/isatty.html), with a flag to override the auto-detection if necessary.

[2019-10-16 02:26] ChiragAgarwal7 commented on #3106
@marionschleifer can you add the Hacktoberfest label to it

[2019-10-16 06:18] marionschleifer commented on #583
@kabirbaidhya sure, go ahead. Please read through the comments above and here: https://github.com/hasura/graphql-engine/pull/762#issuecomment-506188397 🙂

[2019-10-16 06:21] marionschleifer commented on #2787
@meerasndr it doesn't look as if there is any work that has been done on this, so please go ahead 🙂

[2019-10-16 06:23] rakeshkky commented on #3137
Hi @RoryDH

Yes, it is intended. If you want to keep the Postgres name as GraphQL name then omit the column in `custom_column_names`.

We will make a note of it. cc @wawhal

When I'm trying to reproduce in my local setup, I'm able to get the error if I include identical names in `custom_column_names`. The query type `set_table_custom_fields` will *replace* the existing configuration with the new o

[2019-10-16 06:58] shahidhk commented on #3126
I'm more of a flag person instead of args 😅

But, sure. Let's go ahead with two optional args. Will you open a draft PR too?

Thanks

[2019-10-16 07:26] kabirbaidhya commented on #583
Sure. Will do. I'll take the reference from the above shared links before writing the new guideline.

Also, please do let me know if there are any specifics that are to be included besides what are already covered in the links above. Thanks!

[2019-10-16 07:36] marionschleifer commented on #583
@shahidhk do you have anything to add? 🙂

[2019-10-16 07:43] V1shvesh commented on #2787
Hey @meerasndr! I am still working on this issue. @praveenweb and I discussed a different idea to be implemented, I'll be pushing my changes soon.

[2019-10-16 07:45] V1shvesh commented on #2787
@marionschleifer should've given an update sooner. :stuck_out_tongue:

[2019-10-16 08:43] RoryDH commented on #3137
Hey @rakeshkky, thanks for your detailed reply!

Re: the schema config files, glad you guys are thinking about this stuff!
If you were to allow different versions of the schema to be used, each version could be cached I assume. Anyway, if I need this now, what I might do is have two deployments of hasura, one that removes the custom fields (or updates them differently).

Re: `set_table_custom_fiel

[2019-10-16 09:09] jeffsieu commented on #3126
@shahidhk Alright. I could make a pull request, but I was wondering if I should add some unit tests, still figuring out that part. Shall I make a draft PR first anyway?

[2019-10-16 09:38] joshuarobs commented on #3142
@Inch4Tk I'll try that out, thanks!
@coco98 Thanks for the response! I'm new to postgres and I am not sure where I should be calling that `pg_dump` command. If my Hasura db is on Heroku, do I call that method on the Heroku server (there's the server itself and the postgres add on), or do I call that locally? I tried running it locally and it didn't work, so would I have to install some postgres li

[2019-10-16 10:01] joshuarobs commented on #3142
@Inch4Tk I'm sorry to ask of this, but do you have some example SQL code that you appended that pastes the values for the enums? I'm new to postgres and I have doubts that inserting data into the table the typical way may not work, thanks!

[2019-10-16 10:08] joshuarobs opened #3156 "How to not need to always pass in the admin secret when calling Hasura commands in terminal?"
I hate having to pass my secret every time I run commands in terminal. But I don't want to disable the secret on the server either. Is there a way for my machine to automatically send the secret over to the server without having to type `--admin-secret 'secret'` all the time? This is on macOS Catalina.

[2019-10-16 11:05] rakeshkky commented on #3137
Hi @RoryDH,

I'm unable to reproduce the `set_table_custom_fields` bug you're reporting. Please give me the Postgres schema and APIs you executed against the server (in sequence).

[2019-10-16 11:33] CharlonTank commented on #1433
Please, I use elm-graqhl, I need to be able to set fields as required.

[2019-10-16 11:54] yakovleva-tanya commented on #3127
Hi, I'd like to work on this one if it's still available :)

[2019-10-16 14:33] #3097 closed

[2019-10-16 14:53] coco98 commented on #3142
@joshuarobs The SQL you need to add is like this:

[code]

Don't worry if your SQL has some errors because the migration will fail and rollback.

The pg_dump tool would have generated those lines for you :) And yes, you'll have to install postgres on your machine to get `pg_dump` and other utilities.

[2019-10-16 15:54] #2898 closed

[2019-10-16 16:07] RoryDH commented on #3137
Here is how to replicate it:

**docker-compose.yml**

[code]

1. `docker-compose up`
2. Open console and create table named `things`.
3. Add "Frequently used columns `id` and `created_at`.
4. Run the following query against the API:
    - **URL:** `http://localhost:8080/v1/query`
    - **x-hasura-admin-secret**: secret
    - JSON body:

[code]

But refreshing the GraphiQL tab in the console still

[2019-10-16 16:34] ttelfer commented on #660
Just ran into this problem as well. We have actually been using Hasura in essentially a read-only for generating dashboard frontend with no user inputed data. The problem we have is similar to ours is have an extremely high ingest rate and due to this we need to separate our reads. Has anyone looked at modifying the isolation level to repeatable read?

[2019-10-16 16:40] josecmj commented on #3106
Would you like a translation for Portuguese also?

[2019-10-16 18:11] trustedtomato opened #3160 "In raw SQL editor the cursor is left behind after bold characters."
OS: Arch Linux
Browser: Firefox 69.0.3

As I present in this GIF, after bold characters the cursor is left behind.

![Peek2019-10-1620-04](https://user-images.githubusercontent.com/18383428/66946134-98049d80-f050-11e9-95bb-02a1ef7115df.gif)

The more bold characters are behind the cursor the more it will lag behind.

[2019-10-16 19:26] mzagaja opened #3161 "Hasura graphql-engine crashes on accessing console"
I deployed the Hasura docker container to an AWS t2.medium instance. It connects to an EC2 instance with a Postgres container. Initially it worked fine with one or two databases tracked. I added all databases and now the container crashes when attempting to access the console. Initially the console will display nothing for available tables in the schema. After a minute or two of trying to access t

[2019-10-17 00:12] afreix commented on #1211
Thanks for the prompt reply.

There is one other developer working on the project but the server in question is a local instance of hasura which is why I was surprised. It should only be affected by my own actions and not the other developer

[2019-10-17 03:03] 2upmedia commented on #1291
https://github.com/hasura/graphql-engine/issues/1291#issuecomment-541206594

This makes sense now. I wasn’t aware that the action could be an HTTP endpoint.

[2019-10-17 05:46] rakeshkky commented on #3137
Hi @RoryDH

The request `args` for query type `set_table_custom_fields` is not correct! Please refer to [docs](https://docs.hasura.io/1.0/graphql/manual/api-reference/schema-metadata-api/table-view.html#set-table-custom-fields)

[2019-10-17 05:56] mklueh commented on #1291
Stumbled across this amazing project and handling pre-processing / validation logic was my only concern when adopting it. I'm very glad to hear you are working on a solution

[2019-10-17 05:58] xorander00 commented on #2824
I'm having a similar issue as well.  In my case, it's the ServiceWorker (/sw.js) that the console is trying to fetch, but the hasura is upstream on a different path, so it 404s.

I haven't delved into it yet, but from some quick searching on this repo, it looks like the console is using CRA?  If so, then you should be able to inject the appropriate PUBLIC_URL environment variable (although I can't

[2019-10-17 07:22] RoryDH commented on #3137
🤦‍♂️

I guess I was so sure there was an issue when it was giving me success.

Not sure if stricter `args` validation is a good idea... but it would have saved me here :)

Sorry for wasting your time.

[2019-10-17 07:22] #3137 closed

[2019-10-17 07:57] 0x777 commented on #3161
@mzagaja Can you share the logs of graphql-engine from the beginning? If we can get the schema of this database, it'll help us quickly reproduce and fix this error on our side. Is that possible?

[2019-10-17 07:58] #3060 closed

[2019-10-17 09:57] msgorski opened #3164 "Hasura UI shows 404 when postgres schema containing "/" selected."
## Scenario:
1. Hasura graphql-engine v1.0.0-beta.6 running in docker
2. Hasura graphql-engine port 8080 exposed as 38080
3. Hasura graphql-engine connected to PostgreSQL 11.0
4. Create schema called "projects/test1" in PostgreSQL
5. Enter Hasura UI and go to DATA -> Select Schema -> projects/test1

## Observations:
-> After 5. Hasura UI shows error 404 - NOK

## Expectations:
-> After 5. Hasura U

[2019-10-17 12:02] #2620 closed

[2019-10-17 12:34] michaelhayman opened #3168 "Hook / event that we can subscribe on when websocket connected / disconnected"
I see this commonly mentioned on the hasura channel but I couldn't find an issue for it.

Would be really great to be able to trigger some kind of function when this happens - e.g. update the user record to update online status / last online, rather than mutating constantly from the client side which doesn't seem very efficient.

This is straightforward to implement when running your own websocket

[2019-10-17 13:21] marionschleifer commented on #3106
@josecmj we already have a lot of Portuguese translation PRs open: https://github.com/hasura/graphql-engine/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aopen+sort%3Aupdated-desc+portuguese. If you find something that has not been translated yet, go ahead 🙂

[2019-10-17 15:08] jagreetdg opened #3170 "Translation of README.md into Mandarin"
I was hoping that translating the README file to the most spoken language in the world, Mandarin would help with the outreach of the repository. In addition, I would like to work on this as a part of Hacktoberfest.

[2019-10-17 15:32] hellsan631 opened #3171 "Support for arrays in custom JWT claims (subscriptions)"
It looks like this feature was implemented for queries (#1902), but when using *subscriptions* and custom arrays in the jwt claims, i've encountered these errors in the web socket payload when trying to connect:

[code]

Using version `1.0.0-beta.6` My JWT looks like this:
[code]

Removal of the field `x-hasura-allowed-org-ids` results in a successful connection.

Using the following link as my we

[2019-10-17 19:56] thefliik commented on #3112
@shahidhk thanks! You are correct https://docs.docker.com/compose/reference/up/

Closing as this is simply an issue with my environment.

[2019-10-17 19:56] #3112 closed

[2019-10-17 20:11] mzagaja commented on #3161
Full logs of `docker logs [instance_id]`:
[code]

I attached a SQL file with the schema that you should be able to restore into a fresh postgres database.
[hasura-schema.sql.zip](https://github.com/hasura/graphql-engine/files/3741139/hasura-schema.sql.zip)

[2019-10-17 22:03] ajhool commented on #288
I had this same error and realized that I was not adding the appropriate header (my admin secret) when making the call. Thus, it was not able to find the schema and therefore didn't recognize the `uuid` type. Adding the correct auth resolved the problem.

[2019-10-18 03:54] vgvenkat commented on #3127
Hi, I can work on this. I see there is a PR already for the dependant issue?

[2019-10-18 04:21] tovbinm commented on #2539
I would be great to have this ;)

[2019-10-18 08:24] ckalas opened #3173 "deploying on Kubernetes inconsistent user"
I am running into an issue trying to deploy on AKS, until now I've been running the exact same setup but in docker (connecting to an azure Postgres instance). The last line of the log makes me think it is somehow parsing the Postgres user incorrectly - it says `auth failed for user "\NAME\"`, but in the earlier log messages it is correctly reporting the user is "NAME@az-postgres". As per the docs,

[2019-10-18 08:29] #1387 closed

[2019-10-18 08:43] root-ansh commented on #3106
Yeah Apologies i got busy.  @ChiragAgarwal7  Carry on with the hindi translation, good luck!

[2019-10-18 08:48] shahidhk commented on #3173
@ckalas I hope got this issue resolved?

[2019-10-18 12:55] rikinsk opened #3176 "generate migrations on reset metadata"

[2019-10-18 13:23] #2996 closed

[2019-10-18 13:26] leoalves commented on #2915
I just found out Hasura supports `@include` and `@skip` directives.
Using @include makes this query more readable.

[code]

[code]

[2019-10-18 14:06] anwari666 commented on #3106
I'd be happy to help with Indonesian translation too

[2019-10-18 16:58] Sevensidedmarble commented on #2824
I'd like to chime in and say I'd love to be able to serve the console from the same docker-compose file as I do the hasura instance itself.

[2019-10-18 21:22] nathanstitt commented on #3026
I also encountered this and managed to work around it by reverting the commit:

`git revert eb0c1f6`

[2019-10-18 22:50] highflyer910 commented on #3106
I'd like to translate it to Russian

[2019-10-19 02:37] maxdevjs commented on #3106
Italian, si or no?

[2019-10-19 04:47] nizar-m opened #3180 "No tests for directives skip and include"

[2019-10-19 05:11] joshuarobs commented on #3156
Yes it does, thanks!

[2019-10-19 05:11] #3156 closed

[2019-10-19 05:43] fatmirsukaliq opened #3181 "Filtering when using remote relationships"
Hi there,

Great work on Hasura!
While testing all the possible use cases that my project needs, I encountered an obstacle that I can't resolve - and I'm not sure if this is possible, therefore I'm writing you here.

I have 2 different databases, and I created the Hasura instances for each.
Then from one of them I added the other instance as a remote schema.
On the first one I'm using a table call

[2019-10-19 05:52] tirumaraiselvan commented on #3181
Hey @fatmirsukaliq

That's a valid use-case that is not supported right now. This is because `store` is a remote field and `cars` is a hasura field. Now, the question is how do we merge the input arguments of a hasura field with the input arguments of a remote field. Not sure if that is easy.

[2019-10-19 05:56] joshuarobs commented on #3142
@coco98 I added those values manually and it worked, thanks!

[2019-10-19 05:56] #3142 closed

[2019-10-19 06:11] joshuarobs opened #3182 "What version of postgres is Hasura using?"
I can't seem to find what version of postgres Hasura is using, so what version is it?

[2019-10-19 06:21] hgiasac commented on #3182
@joshuarobs Hasura supports Postgres >= 9.5. However, it's better to use latest version, because Hasura is still improving up-to-date newest Postgres features.

If you start project from scratch, just go ahead with latest PG (currently 12)

[2019-10-19 06:23] joshuarobs commented on #3182
@hgiasac What version of postgres is used for the one-click Heroku option?

[2019-10-19 06:26] hgiasac commented on #3182
@joshuarobs You can use Postgres 11 version on Heroku

[2019-10-19 06:26] #3182 closed

[2019-10-19 07:41] chrisheseltine commented on #2912
Hi there! I finally got back around to this... Sorry for the delay.

This is working, however it's returning one seed for each price, instead of all the prices grouped together under one seed record. What this means is that I get the results, but if the seed has 5 prices then I get 5 records of the same seed returned.

Is there a way to merge them by seed.product_name before they are returned? If

[2019-10-19 07:50] chrisheseltine commented on #2912
Actually now that I think about it, manually merging the copies on the client-side would be a problem because it would throw pagination way out (I use the offset for pagination). So really I need to find a way to merge the results by common seed.product_name, before they are returned.

[2019-10-19 07:55] joshuarobs commented on #3142
@coco98 I modified your statement in step 2 seeing as I am unable to install postgres locally on my machine (thereby unable to call pg_dump), and instead done it so I can call pg_dump on my docker container which contains the database.

`docker exec docker_postgres_1 pg_dump -U postgres -d postgres --column-inserts --data-only -t frequency -t archive_types >> 15xxxx_init.sql`

This can be run loca

[2019-10-19 11:54] joshuarobs opened #3184 "Dark mode for console?"
Is there an option for a dark mode for the console?

[2019-10-19 14:16] nishu88 commented on #3128
@shahidhk would like to work on this too.

[2019-10-19 14:54] AndryHTC commented on #1035
@coco98 please define:

What do you mean with "little later"?
What do you mean with "other databases"?

[2019-10-20 11:59] #3180 closed

[2019-10-20 23:03] gahag opened #3187 "c/server + hacktoberfest"
I'm a haskell programmer, and I would like to collaborate with the server component for hacktoberfest. I've seen a few issues tagged with c/server that I would be willing to work at, but there is not a single issue for the server tagged with hacktoberfest. Is the server component not participating?

[2019-10-21 03:50] parammittal16 opened #3188 "Add spanish translation readme"
Add spanish translation of readme.
I want to correct them and work on this issue as of Hackoberfest.

[2019-10-21 07:45] rikinsk commented on #3184
Not yet. Using this issue to track it as a feature request.

[2019-10-21 10:35] abn commented on #2599
@0x777 that would be amazing; happy to test any PR branches etc or contribute in a similar fashion. Right now we are left with some "string match and guess work" logic in the front end to determine how best to feedback to the user.

[2019-10-21 13:50] karibertils commented on #1357
Any news on this ?

I am working with custom reports where the filters are quite dynamic and it is not possible to solve my case with views.

Having the possibility to add where filter to the order_by clause like @0x777 mentioned would solve this perfectly.

[2019-10-21 18:15] robnewton opened #3194 "Feature Request: Require required params for conditionals"
When a variable referenced in a where clause of a query or mutation will return unexpected results. (see: https://github.com/hasura/graphql-engine/issues/704). The fix is apparently to mark the query param as required with an "!" after the datatype. This prevents nulls from coming into the query where they could be used in the where clause and silently affect the outcome of the query.

Feature Req

[2019-10-21 19:23] Kairowa commented on #1812
What's the status on this?

[2019-10-21 20:05] coco98 opened #3195 "Add a guide on data export/import to docs"
We should add a small section/note on how to export and import data using pg_dump.
Related to: https://github.com/hasura/graphql-engine/issues/300

[2019-10-22 00:10] tafelito commented on #2468
what if you need to sort by a json(b) column? Is there anyway to do that now?

[2019-10-22 00:52] chunsli commented on #3148
@rakeshkky just checking to see when do you think this issue can be resolved, it is affecting parts of our production deployment. thanks for working on it.

[2019-10-22 08:38] waterdrop01 commented on #1711
Hi @marionschleifer , any update on this issue? Thanks!

[2019-10-22 09:24] j0h commented on #2212
I believe this can now be closed due to (https://github.com/hasura/graphql-engine/pull/2344), thanks for implementing this.

[2019-10-22 09:24] #2212 closed

[2019-10-22 09:59] rakeshkky commented on #3036
Hi @tsujp
The constraint names are something that the GraphQL engine entirely depends on Postgres. It is hard to update the constraint names explicitly for renamed tables and columns. You can run `ALTER TABLE ..` in `SQL section` of the console and the server auto-updates the required metadata.

If you feel it is good to have an `edit` option in console UI for constraint names, let us know in the

[2019-10-22 11:26] beepsoft opened #3197 "Default paging limit"
Hi,

is there a way to define default/implicit paging limits some way? Because if I have a database with a million records and a client sends a query like:
[code]

.. it would return a million items as result. It would be great if I could set an overall limit or a per table limit on the number of elements that can be returned in a single query. Let's say I set the max paging limit to 100, with tha

[2019-10-22 11:30] rikinsk commented on #3197
Hi. There is no way to set a blanket value for this setting. But https://docs.hasura.io/1.0/graphql/manual/auth/authorization/permission-rules.html#row-fetch-limit would be of help. You can set the limit for a table / role tuple.

[2019-10-22 11:41] beepsoft commented on #3197
@rikinsk Thanks, that will suffice! A system wide default row limit would be just handy to prevent big result sets in case the role/action based limit is not set.

[2019-10-22 14:32] Android3000 opened #3199 "Static column preset value of "now()" being cached during mutations"
I was trying to see if I could use the Hasura column presets to write to an "updated_at" timestamp column during update mutations to keep the field automatically up to date with each write. I have a static column preset defined as "now()" for the column in question.

When doing an update mutation, generally this works the first time, and "updated_at" gets written as the current time. However, if I

[2019-10-22 17:05] dionjwa opened #3200 "docs: update docs on auth webhook"
The glitch example in the docs gives the webhook express JSON response like so:
[code]

And this works. Great! But the docs gives the JSON format like so:
[code]

And that extra "headers" key was giving me confusing error messages.

[2019-10-22 17:16] ericklind opened #3201 "Error: x-hasura-* claims: expected Text, encountered Array"
I've been trying to get a list of organizations to work, a but I keep running into this issue. In the [documentation](https://docs.hasura.io/1.0/graphql/manual/auth/authorization/roles-variables.html) is shows that  x-hasura-allowed-organisations should be able to work as an array. If I remove the claim x-hasura-allowed-organisations, I don't get any errors. This was supposed to be resolved per is

[2019-10-22 18:23] rikinsk opened #3203 "add computed fields support on console"
Server support added in #2917

[2019-10-22 22:26] schettino commented on #2673
As per [v1.0.0-beta.8](https://github.com/hasura/graphql-engine/releases/tag/v1.0.0-beta.8), which  has better support for Postgres connection string parameters, I've managed to make the unix connection to work, from Cloud Run to Cloud SQL, without embedding the proxy into the container.

The connection should look something like this:

[code]

Notice that the client will add the suffix `/.s.PGSQL

[2019-10-23 00:56] colundrum opened #3205 "Paseto support"
Hi,
Actually, we can use JWT but it'll be good to be able to use Paseto : https://paseto.io/

It's a more secure way than JWT.

Regards

[2019-10-23 02:34] danghung-dev commented on #2572
Do we have any update? @tirumaraiselvan

[2019-10-23 02:40] mike360 commented on #2575
+1 for this feature. Use case for me is limiting the number of possible rows inserted for a user based on a value in another table (e.g. limited number of records for given subscription tier).

[2019-10-23 04:06] xiaoyu-tamu opened #3207 "customize generated field name for array relationships?"
Thanks for all your work on beta 8, rename column is incredibly useful!

However, I am still facing some edge cases. For example, I have two schema: listing and listing snapshot, listing have many snapshots , hence I add an array relation on listing.  Is there anyway to customize generated array relationship column name?

![image](https://user-images.githubusercontent.com/33362998/67356267-3b59250

[2019-10-23 06:11] rikinsk commented on #3201
This docs section might help https://docs.hasura.io/1.0/graphql/manual/auth/authorization/roles-variables.html#format-of-session-variables

[2019-10-23 06:41] Tchoupinax opened #3209 "Cannot change name of view column \"has_variadic\" to \"description\""
Hello,

I tried to migrate from `hasura/graphql-engine:pull2395-5107d1d1` (i wanted to try remote schema 😋) to `hasura/graphql-engine:v1.0.0-beta.8` this morning and i met this issue :

[code]

What is wrong ?
(My setup follows this order:
- Create Postgres docker
- Load database dump
- Start Hasura docker connected to the database)

Thank you, have a nice day !

[2019-10-23 08:31] OLDIN commented on #1812
+1

[2019-10-23 09:23] #2561 closed

[2019-10-23 10:25] xorander00 opened #3210 "Querying based on UNIQUE constraint"
Per discussion on Discord #general...

It would be nice to be able to query a single (or empty) record that is filtered by a UNIQUE constraint instead of just the primary key.  In my case, I'm using an INT PRIMARY KEY that is only visible within the database and a UNIQUE UUID that is used externally by clients.

As it is currently, you either have to use table_by_pk or table(...), the latter of wh

[2019-10-23 10:34] rikinsk commented on #3210
Already requested for in #2418, #1606

[2019-10-23 10:36] rikinsk commented on #2418
dup of #1606

[2019-10-23 13:57] Toub opened #3213 "Random "access-denied" while applying metadata using curl"
I have a inconsistent behavior applying metadata using curl on hasura v1.0.0-beta.6 (I will try to reproduce it in v1.0.0-beta.8 in a few days).

I get randomly a "success" or "access-denied" response.

## Logs

Curl command:

[code]
Note: `hasura_graphql_engine` is the network name of graphql engine container in my docker stack.

### Request 1 (error)

Curl response:

[code]

Hasura engine logs:

[2019-10-23 15:06] Scong commented on #1812
+1

[2019-10-23 15:07] OliverLeighC commented on #1812
+1

[2019-10-23 15:30] bkniffler commented on #1812
Common guys, there is things like reactions now build into github. I'd rather have notifications for important messages only and these '+1' add no substantial value to an issue. God knows how many people are subscribed and will be unnecessarily bothered.

https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments

[2019-10-23 15:41] jddeep opened #3215 "Update Readme.md file"
The documentation of the project/ the readme file needs some updates:
1. A branch policy can be added.
2. The best practices for contributing section can be updated and some points can be reformed.
3. Redundancy under Table of contents as the heading is itself stated twice.

[2019-10-23 15:43] jddeep commented on #3215
@rikinsk Can I work on this? This might be a small contribution to the project. But will help me get started with it at least. Please do let me know. Thanks.

[2019-10-23 18:17] athityakumar commented on #1186
Hey there!

I've been a Rails developer for a couple years now, and would love to contribute to this issue for Hacktoberfest, and learn more about Hasura in the process. Can someone please guide me regarding how I can proceed with tackling this issue?

[2019-10-23 19:27] wiesson commented on #2673
@schettino, could you share your config / files? I was not able to get a connection from clound run to sql.

[2019-10-23 20:02] coco98 commented on #2673
@schettino Would be great if you could submit a small PR to the docs as well.
https://docs.hasura.io/1.0/graphql/manual/guides/deployment/google-kubernetes-engine-cloud-sql.html

You can use the github browser editor feature to add your notes, so you don't need to build.

@rakeshkky did you test this with google cloud sql as well?

[2019-10-23 20:17] timtubescience opened #3220 "Why is Hasura erring on startup with “following root fields are duplicated” in beta8?"
This question is for a Hasura application running against a Postgres database. When running beta6, everything is working. However, after updating to beta8, Hasura does not start.

Here is the last log message when starting with beta6:

[code]

And here is the last log message starting with beta8:

[code]

We are carrying on with beta6 for now, if anyone has an open communications channel with Hasu

[2019-10-24 01:04] tirumaraiselvan commented on #1186
@athityakumar Hasura has migrations and metadata. Simply speaking, migrations are sql files and metadata is configuration like track_table, permissions, remote_schemas etc (configuration for all hasura features).

So, if somebody is running a rails microservice they might be using active record migrations to do the sql migrations already. But for these migrations to work seamlessly with hasura, th

[2019-10-24 01:10] jpvx commented on #2732
How did you make this work in 9.6?

[2019-10-24 01:58] schettino commented on #2673
Absolutely. Will do that, first thing in the morning. "Google Cloud Platform with Cloud Run and Cloud SQL", sound good?

@wiesson not sure what it can be. I've done all over from scratch here, here's how my revision looks like:

[code]

Perhaps I'm missing somethin. Will create a repo to reproduce it alongside the docs page, so we can move from there.

[2019-10-24 03:09] leoalves opened #3222 "Support args in computed columns"
In the computed column function we only have access to the database row values.  I think it would be useful to also pass some arguments in the query, in the same way we do with functions.

I was thinking something like:

[code]

and the query

[code]

Thanks

[2019-10-24 03:15] leoalves opened #3223 "Add computed columns to permissions"
Is it possible to add computed columns to the permissions?

I think this can simplify some of my complex permissions.  Instead of creating views and relationships.

Thanks

[2019-10-24 05:33] ecthiender commented on #3213
@Toub this is super strange (and cannot happen)! Are you sure you're sending the correct admin secret to the correct Hasura instance?

[2019-10-24 05:34] ecthiender commented on #3210
We can close this issue then?

[2019-10-24 05:35] #3210 closed

[2019-10-24 05:39] ecthiender commented on #3209
@Tchoupinax the remote joins feature is in a separate PR and not merged to master (and can have totally different underlying catalog schema). Migrating between them is not possible. You have to run these two in two different databases.

[2019-10-24 05:54] ecthiender commented on #3220
Hi @timtubescience , we are unable to reproduce the issue on our end. It would be great if you can provide some details about your schema, or better even, the steps to reproduce (if you can reproduce consistently). That would help us to debug the issue.

[2019-10-24 06:30] Tchoupinax commented on #3209
Oh, i was fearing about this answer... Great, my fault.
What is the best way to "transfer" my work on database and hasura to the master branch. I guess i can load my schema without any problem but about hasura tables, should i restart since the beginning ? :/

Thank you for your answer and your explanation.

[2019-10-24 06:34] rikinsk commented on #2418
CLosing this. Let's track the feature request at #1606

[2019-10-24 06:34] #2418 closed

[2019-10-24 06:41] thefliik opened #3224 "bug(console): attempting to add a default value to a column used by a view results in an error"
Via the console, attempting to add a default value to a column which is used by a postgres view results in the following error:

[code]

Note, we are not changing the column type, we are simply adding a default value. Performing the same operation directly on the database works as expected.

i.e.

[code]

[2019-10-24 07:03] rikinsk commented on #3215
@jddeep Thank you for thinking about contributing to Hasura. Unfortuntely the changes you've suggested are not of any real value to the product. If you are really willing to contribute I would suggest you to pick up an issue labelled ``good first issue`` or ``hacktoberfest``

[2019-10-24 07:03] #3215 closed

[2019-10-24 07:18] rakeshkky commented on #3220
Hi @timtubescience, I'm trying to solve this issue by looking at code. I have a custom docker image where the fix (possibly) is live. Can you please test it out.
Image: `rakesh572/graphql-engine:issue-3220-root-fields-validation-718648097`

[2019-10-24 07:34] rikinsk commented on #3222
@leoalves I believe you can already do this. Check out [this example](https://docs.hasura.io/1.0/graphql/manual/schema/computed-fields.html#table-computed-fields) in the docs. It adds a computed field which accepts a `search` as argument

[2019-10-24 07:45] tirumaraiselvan opened #3225 "event triggers dropdown shows untracked tables"
Should only show tracked tables.

[2019-10-24 09:31] tirumaraiselvan commented on #3209
@Tchoupinax You essentially have to "reset" hasura metadata.

1. Get an export of the metadata using the console on the Remote Joins instance: https://docs.hasura.io/1.0/graphql/manual/migrations/manage-metadata.html#exporting-hasura-metadata

2. Second stop Hasura and `drop schema hdb_views` and `drop schema hdb_catalog` ( this essentially drops all hasura metadata)

3. Run Hasura beta8 and then

[2019-10-24 09:42] tirumaraiselvan commented on #2572
@lexi-lambda Can we call this `X-Hasura-Original-User-Agent` and close this case? Not sure if this needs to be thought more than fixing a convention.

[2019-10-24 10:35] plmercereau commented on #2673
Hello @wiesson,
I had the same problem, I only forgot to add a `set-cloudsql-instances` flag when I deploy, as it was not required when I was using the proxy.
More on [google's documentation](https://cloud.google.com/sdk/gcloud/reference/beta/run/deploy#--set-cloudsql-instances).
I hope it will solve your problem.

ps many thanks for the tip, @schettino

[2019-10-24 10:59] leoalves commented on #3222
@rikinsk
LOL. I guess reading the documentation helps.
I was reading the how to only from the release notes.
Thanks

[2019-10-24 10:59] #3222 closed

[2019-10-24 11:52] toton6868 opened #3229 "Support for ST_Transform of PostGIS"
How can I use `ST_Transform` postgis function to transform ESPG from one to another projection? From this official [document](https://postgis.net/docs/ST_Transform.html), the query looks like

`ST_Transform(geometry g1, integer srid)`
example -
`ST_Transform(way, 4326)`

[2019-10-24 13:36] Tbaut commented on #2749
Hello,
I get the [same error](https://github.com/hasura/graphql-engine/issues/2749#issuecomment-539227636).
Can you advise for a workaround of this issue, I can't do `hasura migrate create "init" --from-server` right now.

[2019-10-24 13:51] hynra commented on #2732
@jpvx see this https://github.com/hasura/audit-trigger/pull/1

[2019-10-24 14:15] emdagon commented on #3171
Hi @hellsan631 ! I just had the same problem last week, I solved it applying the postgres syntax on the header value, something like follows:

[code]
As you can see, `X-Hasura-Allowed-Org-Ids` is actually a string shaped like this `{"id1", "id2", ...}`, if you use integers as id, you can (should?) skip the quotes (`{1,2,3}`), I use UUIDs so I had you wrap my ids.

I'm using subscriptions BTW!

Goo

[2019-10-24 15:21] leoalves opened #3232 "After adding computed columns, GraphQL schema returns empty"
This could easily be me not knowing how to create the computed column, or trying to create it in a way that is not supported.
But after I created it the GraphQL schema is blank.

Here are the steps to reproduce it.

[code]

[code]

[code]

After I create the computed column, using the query endpoint.  The GraphQL schema, from the intropsection query, is returned blank.  If I remove the computed co

[2019-10-24 16:13] wiesson commented on #2673
@plmercereau wow - that is super hard to miss!!

[code]

Here is the command that I've used for cloud run!

[2019-10-24 16:22] tafelito commented on #2485
My console is showing No schema available after I added a function. It doesn't seem to be loading anything. And the schema is not that big. How can I tell if is there anything loading or there was any error loading it?

[2019-10-24 16:38] timtubescience commented on #3220
Hi @rakeshkky , thanks so much for taking a look at this.  We are getting the same error message when starting with your debug docker image, as we do with the beta8 image.  Please find two screenshots attached, the first showing the correct docker image from your post above, and the second showing the error in the startup logs.

We are roughly following the CFN based deployment to AWS Fargate desc

[2019-10-24 17:20] athityakumar commented on #1186
@tirumaraiselvan - Ah, got it. Is there any other similar already-documented guide/technique for other web frameworks (Django/MEAN) that I could use as reference for what is expected?

[2019-10-24 18:00] lexi-lambda commented on #2572
Personally, I think we should just use `X-Forwarded-User-Agent`. It’s consistent with the meaning of the other de-facto standard headers like `X-Forwarded-For`, `X-Forwarded-Host`, and `X-Forwarded-Proto`, and it’s extremely unlikely to cause any trouble.

On a semi-tangential note, until very recently, I thought proprietary headers were supposed to be prefixed by `X-`, but I recently found out th

[2019-10-24 19:23] ericklind commented on #3201
I was working off that as well. When I try to pass in 'x-hasura-allowed-organisations' in the header using graphiql, I get the following:

[code]

If I have them in the claims, it gives me an error saying that it is in a object if use `{}`, but has above array error if I use `[]`.

How are we supposed to actually pass them in if they can't be recognized from the header, but cause errors in the cla

[2019-10-24 23:46] dvasdekis commented on #1418
+1 to this. In my development environment, my workflow is currently:

1. Make a schema change within my Postgres environment and forget to update the Hasura metadata
2. Redeploy my full docker stack
3. Hasura can't apply its migrations due to incorrect metadata. I have to read the log to see the failure.
4. Delete the metadata.json file
5. Redeploy my full docker stack
6. Click 'track all' on tabl

[2019-10-25 03:02] ryanflorence commented on #721
We're hoping to tightly integrate React Router and Relay soon, we were hoping to recommend hasura (and use it ourselves!)

Would love to see this get pushed over the finish line!

[2019-10-25 03:06] shahidhk commented on #2749
We have a PR open to add PG12 tests: #3102

This would update pg_dump to 12

[2019-10-25 03:49] KevinColemanInc opened #3235 "CLI doesn't support passwords with $ when you do `hasura init`"
For those of you that have a $ in your password, running `hasura init`

[code]

To reproduced:
[code]

Your config.yaml will look like:
[code]

Running version `v1.0.0-beta.8`

[2019-10-25 03:56] shahidhk commented on #3235
This is because bash is doing $expansion.

Escape the $ and try again?

`hasura init --endpoint https://my-graphql-engine.com --admin-secret a$$bcd`

[2019-10-25 03:58] KevinColemanInc commented on #3235
I tried that as well. here is the config.yaml of your command.

[code]

[2019-10-25 04:00] KevinColemanInc commented on #3235
I see this is more of a bash issue than a CLI issue :-/ I just tested this with a simple ruby script and it has the same issue :-/.

I will close the issue and hopefully this will help other people.

[2019-10-25 04:00] #3235 closed

[2019-10-25 04:02] KevinColemanInc commented on #326
I wrote this bash script to help me manage this so I don't accidentally push to the wrong server.

hasura-export
[code]

but yeah, it would be nice if this support multiple envs

[2019-10-25 06:17] Tchoupinax commented on #3209
Hello,

it works like a charm ! Thank you a lot.
When i had exported metadata, i edited JSON to remove the remote schema (i did not need anymore) to ensure there will be no problem. :)

Issue closed for me, thank for your qualified support. :)

[2019-10-25 06:17] #3209 closed

[2019-10-25 07:34] rakeshkky commented on #3220
@timtubescience Thank you so much for trying the custom image. Now I'm able to narrow down the causes of the issue.

Hasura generates the root fields for a table based on its name. For example `<table>`, `<table>_aggregate`, `<table>_by_pk` etc. Where `<table>` is `<table-name>` for `public` schema or `<schema-name>_<table-name>` for other schemas.

Let's say, I have table with a name `test_user`

[2019-10-25 08:14] Tbaut commented on #2749
Great to see, for the record it's here https://github.com/hasura/graphql-engine/pull/3102

Things are moving.
Being new to docker I'd still be interested in knowing if there's a way to go around it, probably by building the docker myself?

[2019-10-25 09:02] ecthiender commented on #3224
@thefliik I tried with a simple schema (a `profile` table) and a view based on that. Then I ran

[code]
in the console SQL window, and it worked.

If you can reproduce this with a simple schema, sharing the schema and the repro steps would help.

[2019-10-25 09:45] thefliik commented on #3224
Hi @ecthiender

It looks like I should have been more clear, when I said "via the console" I meant using the console's GUI.

Using the console's SQL window works as expected. I.e.

*this works*

[code]

*while using the console's GUI in this scenerio to add a default value does not work*

[2019-10-25 10:22] rikinsk commented on #2485
@tafelito That is unusual. Could you share some more info about the function you added. Ideally exact steps to reproduce the issue might be of great help.

Also considering your issue is kind of unrelated to this particular issue, could you raise a new one where we can discuss & investigate this further?

[2019-10-25 10:38] tafelito commented on #2485
@rikinsk the issue is the same as #3232

[2019-10-25 10:42] tafelito commented on #3232
@rakeshkky I'm also having this same issue. When do you think you are releasing the next release?

Is there going to be a way to add a computed fields from the web console, without having to do it through the API ?

[2019-10-25 11:13] ecthiender commented on #1902
Reopening, as this was never implemented. This was closed by mistake, I am guessing.

PS: It was implemented in #1799 but that never got merged. Instead #2475 got merged which did not add support for this.

[2019-10-25 12:00] rikinsk commented on #3232
@tafelito the console support for computed fields will be added soon. Its being tracked at #3203

[2019-10-25 12:06] ecthiender commented on #3201
@ericklind #1902 was closed by mistake. We don't have support for arrays in JWT claims yet. I have added a comment there https://github.com/hasura/graphql-engine/issues/1902#issuecomment-546312118

[2019-10-25 12:07] ecthiender commented on #3171
@hellsan631 #1902 was closed by mistake. We don't have support for arrays in JWT claims yet. I have added a comment there #1902 (comment)

[2019-10-25 13:15] henkesde commented on #583
Hey guys,

I need something similar right now as well since I'm working on IaC with CloudFormation for all resources in AWS like VPC's, LoadBalancer, Fargate, RDS, ..
Some things are not clear to me yet since I'm new to ECS and Fargate as well. Would be nice if you could share something already @kabirbaidhya . 🙂

[2019-10-25 13:22] tafelito commented on #3232
@rikinsk  the introspection query is now failing with apollo tools in vscode and also graphql-codegen because of this. Is there any way to fix this before the next release? Do you have an ETA for the next release?
Sorry to be persistent with the ETA but this is preventing me to keep working right now
Thanks

[2019-10-25 13:58] rikinsk commented on #3232
@tafelito the next release should happen sometime next week. We don't have a fixed date though. The fix for this bug is ready in #3211 FYI.

In the meanwhile you can get your Hasura instance to work again by removing the added computed field. Luckily we have another bug currently where computed fields are not exported in the metadata and we can leverage that to solve your issue. You can just expor

[2019-10-25 14:24] tafelito commented on #3232
I actually being using the the metadata API to add and remove computed fields since I didn't see any other option to do that.

I tried removing the computed fields using the API  but since I have a few computed fields right now, I'm not sure I removed all of them. Is there any way to get all computed fields?

[2019-10-25 14:43] leoalves commented on #3232
@tafelito
I don't know if there is an api for that. But this query should give you all computed fields.
[code]

[2019-10-25 14:51] kabirbaidhya commented on #583
@henkesde Mine isn't complete yet and I need to fully test the steps before I can post it. Also, I haven't used cloud formation yet - just trying to run it on fargate.

For now you can refer to the above shared links - they use terraform but apart from it things are similar for fargate.

- https://dev.to/lineup-ninja/deploying-hasura-on-aws-with-fargate-rds-and-terraform-4gk7
- https://github.com/

[2019-10-25 14:52] hellsan631 commented on #3171
oh, it was mentioned briefly in the documentation: `https://docs.hasura.io/1.0/graphql/manual/auth/authorization/roles-variables.html`

[code]

Thanks for pointing this out.

[2019-10-25 14:54] tafelito commented on #3232
thanks @leoalves

I actually found that the issue are not the computed fields themselves. The problem is with the functions. If you untrack the functions, then the schema shows up again and you can still query the computed fields

[2019-10-25 15:25] tafelito opened #3238 "Add aggregation queries for computed fields"
Are you planning to add aggregation queries to computed fields?

[2019-10-25 16:17] mzagaja commented on #3161
I can add that our database server is maxing out at 100% CPU when adding a table to track from Hasura:
<img width="958" alt="image" src="https://user-images.githubusercontent.com/565647/67586297-4e3a4800-f71f-11e9-8ed6-6559498ffd65.png">

Further digging reveals one of the biggest performance culprits is trying to list tables:

[code]

[2019-10-25 16:29] mzagaja commented on #3161
Possibly related: https://github.com/hasura/graphql-engine/issues/2273.

[2019-10-25 17:50] valstu opened #3239 ""postgres query error" when using subscriptions and "_st_d_within" expression to compare columns of type geography"
I tested postgis extension and `_st_d_within` expressions and noticed following bug.

First of all I have a table called messages and one of the columns is called location (type geography). I created following query:
[code]
and used following variables:
[code]
Everything works as expected, I get messages within the radius defined in variables.

If I change the same query to subscription:
[code]
an

[2019-10-25 18:15] timtubescience commented on #3220
@rakeshkky Thank you for your reply.  I understand you have identified a case where there could be a root name collision if a table in the public schema overlaps with `<schema>.<table-name>` for another table in another schema.  I do not believe this is what is happening for us, because we use a naming convention to prevent collisions in our database entity names.

For instance, the table names in

[2019-10-25 18:30] mzagaja commented on #3161
Query in the Data view causing slowness:
[code]

[code]
Also really exercising the DB by adding lots of tables. I.E.

[code]

[2019-10-25 18:52] mzagaja commented on #3161
Finally this is the long running query on the main GraphiQL console that crashes it:
[code]

[2019-10-25 21:24] bitjson opened #3243 "postgres query error: record "_new" has no field "updated_at""
Hi there – I have a mutation that looks like this:
[code]

And in testing, I'm getting this error:
[code]

For reference, this query is working:
[code]

And returning this result:
[code]

Is it possible for Hasura's metadata about column names to get out of sync with the actual state of the database? I don't currently have any columns on any tables with the name `updated_at`, though I had that col

[2019-10-25 21:41] leoalves commented on #3243
You probably have a trigger set in the update_at field.

Hasura show triggers in the console.  Select the table you are having issues, click on modify and scroll down to see the triggers sections.  I believe there will be one there that updates the update_at field on before insert.

[2019-10-25 21:56] bitjson commented on #3243
@leoalves that was it, thanks!

So it would seem Hasura doesn't delete associated triggers when you delete a column?

Looks like I created it automatically using the "Frequently used columns" feature: `default: now() + trigger to set value on update`. I suppose this is a one-off case for that particular default, but might be worth checking for it on column deletion. (Especially if future versions

[2019-10-25 22:14] leoalves commented on #3243
No problem.

I don't think it's easy to find out the fields a trigger is changing.

In this specific case, since Hasura created the trigger, I guess they could
warn the user when deleting an updated_at field and the table has a trigger
with the same name they create with the frequently used columns.

I guess you can rename this issue to suggest that. Or create a new one.

cheers

On Fri., Oct. 25,

[2019-10-25 22:33] bitjson opened #3244 "Working with Postgres dates and times in queries"
Is there any documentation on what Postgres operators are available when querying/setting dates/times? It's awesome that I can make a query like this (note the `now()` in `where` and `_set`):
[code]

I'd love to be able to [subtract 30 days](https://www.postgresql.org/docs/current/functions-datetime.html) from the `now()` in the where clause, e.g.:
[code]
But I'm missing something, or this isn't y

[2019-10-25 22:36] bitjson commented on #1571
This would really improve my workflow. 👍

Right now I typically copy/paste queries from the Hasura console into a VSCode window, where I can reformat the query with the [Prisma vscode-graphql](https://github.com/prisma-labs/vscode-graphql) extension.

[2019-10-26 01:54] cheater opened #3245 "scripts/dev.sh test fails due to missing pip3"
The documentation (CONTRIBUTING.md) does not instruct you to install pip3, and the script does not check for its presence, therefore leading to failure.

[2019-10-26 01:55] cheater opened #3246 "scripts/dev.sh test fails due to missing bdist_wheel"
dev.sh does not install wheel, and CONTRIBUTING.md does not tell you to install it either. It is unclear which is the best way to solve this issue: some form of installing wheel into the venv, or listing wheel as a dependency in the .md file, for the user to install manually?

[2019-10-26 03:21] cheater commented on #3246
a fix is to add a `pip3 install wheel` before `pip3 install -r requirements.txt`, but I don't know the script well enough to be able to decide whether that's a good fix, so I will hold off on a PR.

[2019-10-26 03:24] cheater commented on #3246
the reason `dev.sh` complains about missing `wheel` is that it's not in the venv, so installing it on the host system (e.g. due to a suggestion in CONTRIBUTING.md) is not going to change things. This means that wheel must be installed in the venv by `dev.sh`.

[2019-10-26 03:29] cheater commented on #3246
another option to prevent errors is by doing `pip install -r requirements.txt --no-cache-dir` according to this post:

https://stackoverflow.com/questions/53204916/what-is-the-meaning-of-failed-building-wheel-for-x-in-pip-install/56956783#56956783

It doesn't seem to be clear which option is better to choose.

[2019-10-26 05:39] #2749 closed

[2019-10-26 13:20] tombroens opened #3247 "Include computed fields in trigger payload"

[2019-10-26 13:27] tombroens opened #3248 "Enable permissions for computed fields"

[2019-10-26 13:45] Tbaut commented on #2749
dumb followup question @shahidhk
How should I proceed to make sure to get the latest bundled version?
I still get the same error using the latest docker image
[code]

[2019-10-26 14:12] shahidhk commented on #2749
@Tbaut this will only be available on `beta.9` release.

As a workaround, you can copy the pg_dump binary from the dev build. Build the following docker image and use it instead of `hasura/graphql-engine`:
[code]

This is not tested, also I suspect there is a possible bug with the current master. Let me push a fix and update this comment.

[2019-10-27 02:58] fatmirsukaliq commented on #3181
Thank you on your response @tirumaraiselvan

For now, we solved this by using Foreign Data Wrappers.

[2019-10-27 02:58] #3181 closed

[2019-10-27 05:46] yuvalgut commented on #3244
Make a view that filters by 30 day, thats one option.

[2019-10-27 06:03] divramod opened #3254 "[Question] Insert multiple objects at once with variables"
Hey, thx for the awesome project!

I'm a hasura / graphql beginner and like to ask, if it is possible to insert multiple objects at once with graphql-request using variables and how it should look like.

I was able to successful insert a single entity like that:
[code]
But when changing the variables to an array i got an error.

[code]

Can someone give me a hint into the right direction here? Thx

[2019-10-27 11:20] toton6868 commented on #3229
It is a very important feature. As most of the open-source tool users prefer open street maps they need to transform the EPSG::3857 to EPSG::4326 to visualize it through different Mapping Library. Usually transformation can be done on client end but generally, it is better to do the task bask end if I have the option. I don't know how to convert but if I can do anything please let me tell. I am a

[2019-10-27 11:29] marionschleifer commented on #3106
@maxdevjs sure, go ahead 🙂

[2019-10-27 12:08] anchal7299 commented on #3106
Can i translate remote-schemas file to hindi ?

[2019-10-27 12:56] marionschleifer commented on #3106
@anchal7299 sure you can 🙂

[2019-10-27 14:17] marionschleifer commented on #3127
@vgvenkat yes, there is a PR on this already open here: https://github.com/hasura/graphql-engine/pull/3157. Please have a look at our [wiki](https://github.com/hasura/graphql-engine/wiki/Hacktoberfest-2019-%F0%9F%8E%89) for more details on contributing 🙂

[2019-10-27 14:25] marionschleifer commented on #3128
I don't think anyone is working on this. If you're interested in taking this up, please follow the [contributing wiki](https://github.com/hasura/graphql-engine/wiki/Hacktoberfest-2019-%F0%9F%8E%89) 🙂

[2019-10-27 14:31] marionschleifer commented on #3187
@gahag we are happy about any open source contributions, also for the server 🙂 you can pick any `server` issue that is not yet assigned and comment on it, saying that you'd like to work on it. Someone from the server team will respond to you. If you have questions, you can ask in the respective issue or in the #contrib channel of our [Discord server](http://hasura.io/discord). I'm closing this iss

[2019-10-27 14:31] #3187 closed

[2019-10-27 15:12] marionschleifer commented on #3254
@divramod Hasura doesn't support Postgres arrays yet. There is an open issue [here](https://github.com/hasura/graphql-engine/issues/348). [This docs page](https://docs.hasura.io/1.0/graphql/manual/mutations/insert.html) shows how to insert multiple objects at once. Let us know if you have any more questions 🙂

[2019-10-27 15:18] marionschleifer commented on #3248
We already have an issue on this here: https://github.com/hasura/graphql-engine/issues/3223. Closing this as a duplicate.

[2019-10-27 15:18] #3248 closed

[2019-10-27 16:10] marionschleifer opened #3256 "docs: fix outdated images in docs"
There are some outdated images in the docs, e.g.: https://docs.hasura.io/1.0/graphql/manual/deployment/heroku/using-existing-heroku-database.html.

We should go through them and update them.

[2019-10-27 17:51] zth commented on #721
Adding to @ryanflorence , there's been quite some interest in using Relay with Hasura throughout the Relay community lately, especially now that FB released the experimental hooks/suspense APIs for Relay. Even adding Relay support step-wise (starting with just the `Node` interface) would be very valuable, if that's an alternative.

[2019-10-27 22:31] lexi-lambda commented on #3199
This is a really weird (but interesting) bug. Here’s the breakdown of what’s happening:

  1. We don’t actually intentionally support SQL expressions like `now()` in column presets, as all the values are supposed to be SQL literals. However, in this particular case, this happens to *accidentally* work, because

[code]

     actually returns the current time in Postgres. 😳

  2. **However**, althou

[2019-10-27 23:18] lexi-lambda commented on #3246
I’m a little confused. I know relatively little about the Python packaging ecosystem, but the Stack Overflow question you linked seems to imply that `wheel` is never *required:* if `wheel` is not available `pip` falls back to another installation method. Is that true? If so, what’s the issue with the status quo? And if it’s not true, what am I missing?

[2019-10-27 23:21] cheater commented on #3246
Not a Python packaging specialist myself so I don't know if it's true in general, but in specific on my computer it was not true and the installation failed and the tests were skipped. I am using Ubuntu 19.04 without any special python related customization. I think the comments in that thread are pretty confused, but it was the only thing I could find that was close enough for me to resolve the i

[2019-10-27 23:54] leoalves commented on #3223
I guess adding the computed column to the `*_bool_exp` type will be the same as adding it to the permissions.  That's why I am adding this here

I just had a use case where I want to filter some columns by a specific interval.  I created the function. It's working as intended but I am not able to filter it.

Here is what I was trying to do.

[code]
[code]

[2019-10-28 04:10] shahidhk commented on #2749
@Tbaut Use the following dockerfile to your custom image with pg_dump 12:

[code]

[2019-10-28 04:30] shahidhk commented on #3026
@jberryman Can't change to curl or wget, because we need a folder downloaded, not just a file :)

[2019-10-28 04:58] sventech commented on #3229
@toton6868 It looks like there may be some support for conversion of spatial reference systems, at least geography to geometry as above. See the following test query:
https://github.com/hasura/graphql-engine/blob/8f9a41ff8826d4887e198cdcc53b091835d4ae4e/server/tests-py/queries/graphql_query/boolexp/postgis/query_cast_geography_to_geometry.yaml

[2019-10-28 06:14] 0x777 commented on #2818
@shanetierney @romcok Can you share the table's schema, the query that you are running and the expected results?

[2019-10-28 06:29] coco98 commented on #3254
@divramod You can change your variables input to be the object type and it should be fine after that:

[code]

To get the exact type name there (test_insert_input) you can use the "docs" tab on the hasura graphiql console :)

[2019-10-28 06:41] 0x777 commented on #3243
@bitjson As @leoalves pointed out, it is not easy to figure out what columns a trigger is modifying. In fact, Postgres also does not throw an error when the column is dropped for the same reason. The only solution is track the columns involved in a trigger at graphql-engine's layer, when the console is creating the trigger. This is quite complicated as this 'state' has to be kept in sync as column

[2019-10-28 06:45] #3026 closed

[2019-10-28 06:56] shahidhk opened #3263 "print a context aware diff for metadata"
Diff command added #3157 only prints a basic general purpose file diff.

With awareness of Hasura metadata and it's types a better, context aware diff can be printed, where it can do things like:

- table `abcd` is tracked
- relationship name is changed for table `xyz`

etc.

[2019-10-28 07:26] rikinsk commented on #3244
Related to #2699

[2019-10-28 07:59] rikinsk commented on #2912
@chrisheseltine Seems like you need to use a group_by. Hasura currently doesn't have a native support for group_by queries. As an alternative, if you can represent the query you need in SQL, you could create a view and then use that to make your query

[2019-10-28 10:18] 0x777 commented on #1201
Closing this in favour of #2317.

[2019-10-28 10:18] #1201 closed

[2019-10-28 10:32] 0x777 commented on #2541
@rikinsk The server provides explain output for subscriptions now (since beta-8 if I'm not wrong). However the explain response is an object instead of an array when the operation is a subscription. Looks like the console crashes currently when I hit `explain` on a subscription.

[2019-10-28 10:42] 0x777 commented on #2907
@rrjanbiah Your use case can't be accurately captured with live queries as it looks like you need to subscribe to changes in data, which requires instrumentation around database events. Closing this in favour of #2317.

[2019-10-28 10:42] #2907 closed

[2019-10-28 10:47] 0x777 commented on #975
Closing this in favour of #1749

[2019-10-28 10:47] #975 closed

[2019-10-28 11:40] 0x777 commented on #3168
Some ideas for the implementation:
1. Provide an admin only ws endpoint on which all graphql-ws related events (opened/closed with session variables) are published. This seemed like a neat idea but when you horizontally scale graphql-engine, things are not as seamless because now you'll need to subscribe to all the instances as they go up and down, which definitely is not easy.
2. Call a user prov

[2019-10-28 12:00] 0x777 commented on #3197
This should be fairly trivial to add (`buildSelPermInfo` has to change), the behaviour should be as follows: if the `global_limit` is set, it is used when `limit` is not specified in select permission definition, however if `limit` is specified in a select permission definition, it takes precedence over `global_limit`.

[2019-10-28 12:08] ighormartins commented on #2673
Do you happen to know if subscriptions (Outbound sockets) are working?

[2019-10-28 12:28] wiesson commented on #2673
Good point, I haven't tested it yet, but I will probably have a look later that day.

[2019-10-28 12:50] ighormartins commented on #2673
Actually, I can't make it work with cli-migrations.

I'm building this simple image:
[code]

And I'm deploying with this command:
[code]

- Deployment works fine. The GCR creates the new revision.
- When opening hasura console for the first time I get this error: `FATA[0000] version check: failed to get version from server: GET URL/v1/version failed - [503]` (probably applying migrations)
- The se

[2019-10-28 13:11] pronevich commented on #2673
@ighormartins subscriptions not working

[2019-10-28 13:49] akhedrane commented on #2453
hi, first i would thank you for this great tool.
we are in very opinionated env and we have to work with windows binary build to run with Nomad instead of docker.
so i added jose-0.8.1.0 as extra dep in stack config and removed unix dep from cabal file.

we got this error:

[code]

[2019-10-28 15:12] ighormartins commented on #2673
Yep. I figured that out. Thanks.

What about migrations? are they working for you? I mean, without rewriting the entrypoint and migrations script?

[2019-10-28 16:59] pronevich commented on #2673
@ighormartins At the moment I do not use a container with migrations. I suppose this is not the best option to launch at the GCR, every cold start and instance number scale will take more time. Sure it could be creared as separated service.

p.s. try to add `--timeout 900` to your `gcloud` deploy command

[2019-10-28 17:09] wiesson commented on #2673
Regarding migrations, have a look at this blog post -> https://medium.com/tactable-blog/building-a-serverless-graphql-app-with-next-js-hasura-and-cloudrun-fb8ca7c5e757 or go directly to the source -> https://gitlab.com/tactable.io/graphql-next-app/tree/master/hasura

A bunch of shell scripts have been added in this example so that you could run migrations as well. The author of the post uses the c

[2019-10-28 19:05] ighormartins commented on #2673
@pronevich how do you use it then?
Is there a way of doing it without applying migrations?
I can handle database migrations on my own, but how about hasura metadata? How can I run hasura with custom metadata without applying it as a migration?

Yeah, I noticed it takes longer on cold starts.
But this is my infrastructure for a bunch of projects in development and staging envs. Not a big deal.

[2019-10-28 19:07] ighormartins commented on #2673
@wiesson Yeah. Have been using it this way.
But sockets (subscription) doesn't work.
Theoretically, it should work since GCR supports outbound connections, but it doesn't.
So I'm trying to use the newest version 0.8 of Hasura to try to connect without the proxy.

[2019-10-28 20:27] Android3000 commented on #3199
Thank you for the great explanation on this!

[2019-10-28 23:38] Tbaut commented on #2749
Thank you so much.
For the record and if this can be useful for a noob like me in the future.

- create an empty folder for your new docker image `mkdir graphql-engine && cd graphql-engine`
- copy the following in a file called `Dockerfile`
[code]
- Build a docker image with a tag (e.g pgdump12) `docker build -t graphql-engine:pgdump12 .`
- use this new docker image as the `docker-compose.yaml`
[c

[2019-10-28 23:56] barlock commented on #2749
FWIW, you can also specify a docker image inside a compose file and not have an extra step 🎉

[code]

[2019-10-29 00:59] aroraenterprise opened #3266 "Console SQL migration regex issue picks up words with [drop] e.g. dropin as a migration"
In the SQL Console, when you type in a table name with the word 'drop' for instance when i use this statement `SELECT * FROM dropin` this marks the SQL as a migration and then asks me to confirm that it is not when i uncheck the migration box. I think it is simply a regex issue. Just need to make the rule more selective for the word DROP. Cheers.

[2019-10-29 01:37] celvin commented on #1902
Is there any workaround at least for this feature?
I'm using **v1.0.0-beta.8** and I I need to filter by allowed organizations too and getting the same message:

{"errors":[{"extensions":{"path":"$","code":"jwt-invalid-claims"},"message":"x-hasura-* claims: expected Text, encountered Array"}]}

:'(

[2019-10-29 05:18] chrisheseltine commented on #2912
@rikinsk So I'd create a custom SQL query as suggested in the Hasura docs, then query that via the API? Do you have any basic examples of how I can us group_by? I was actually using Hasura to avoid SQL, so I'm not sure where to start with this.

Thanks for the help thus far, I'd really like to crack the back of this, as my competitors have given up getting this working, so I'll be ahead of the gam

[2019-10-29 06:01] rikinsk commented on #1902
@celvin This might be of help https://docs.hasura.io/1.0/graphql/manual/auth/authorization/roles-variables.html#format-of-session-variables

[2019-10-29 06:06] chrisheseltine commented on #2912
@rikinsk I have implemented as mentioned above, however I get an error when trying to group by name. The error states that [table].id must be used in GROUP BY or aggregate. This makes no sense to me, why would I group by on a key? Every group will still be a single record. Do you have any advice on this error? Thanks.

[2019-10-29 06:21] rrjanbiah commented on #2907
@0x777

Looks like you overlooked #2736 My additional notes https://github.com/hasura/graphql-engine/issues/2907#issuecomment-539862305 are related to #2736 which is very very easy to reproduce. I'm not sure if #2317 will address that issue (but it is upto you)

[2019-10-29 06:49] rikinsk commented on #2912
@chrisheseltine Can you share the query you have come up with to help us debug better

[2019-10-29 07:00] chrisheseltine commented on #2912
@rikinsk Sure thing.

The following is the original query I was using, which returns correct results, but many duplicates (one for each price that was queried):

[code]

The following is what I am guessing I need to convert it to. This was based on the Hasura docs on creating custom SQL functions.

[code]

This gives me the error: `SQL Execution Failed: postgres-error : column "prices.id" must app

[2019-10-29 09:31] mathieutu opened #3268 "Can't mutate a field which has a default preset"
Hi,
I've set a default value to a user_id field using a session variable with preset:
<img width="967" alt="Screen Shot 2019-10-29 at 10 19 00" src="https://user-images.githubusercontent.com/11351322/67754022-00328680-fa36-11e9-8aab-d3a1a0ddb1aa.png">

As soon I've done that, the user_id field has disappeared from input type, so I've a type error when trying to execute my mutation : `field "user_i

[2019-10-29 10:20] shahidhk commented on #3145
These are good. Another strategy is to execute all operations that are used by the app against the Hasura instance. This can be done using a simple script or any testing framework.

[2019-10-29 12:39] rikinsk commented on #2912
@chrisheseltine I was just going through your requirements once again and felt we might be overcomplicating the solution.

As I understand, every seed can have multiple prices associated with it and we are attempting to set up pagination, sort and filtering for seeds based on the seed or its price list. When sorted and filtered by price, we would like the seeds to be sorted by the min/max (dependi

[2019-10-29 13:19] Toub commented on #3213
Yes I am, I am running successively the same script, with the password hard-coded inside. I will try with the last version and let you know if it appends again.

[2019-10-29 13:27] Toub commented on #3213
The content of the script is:

[code]

Today, with the exact same version, I am not able to reproduce it.

So I guess with can close it, and re-open it later if it happens again.

[2019-10-29 13:34] saeidpo commented on #3213
help me

[2019-10-29 13:34] saeidpo commented on #3213
cmd android support

[2019-10-29 13:35] saeidpo commented on #3213
help

[2019-10-29 18:57] jkossis commented on #1498
Any news on this? This seems like a big deal, and not terribly hard to translate to sql under the hood:

[code]

[2019-10-29 19:37] harryc9 commented on #2666
@0x777 Hi, this feature is important, it avoids the use of another server as proxy to act as firewall

If not assigned yet, maybe I could help take a look? Could you point me to a direction in the repo where I can get started? Thanks

[2019-10-29 21:33] choilmto commented on #2871
Hey, not sure this qualifies, but I've included a snapshot of an error I came across.
![Screenshot from 2019-10-29 17-31-26](https://user-images.githubusercontent.com/22378241/67811047-40aff580-fa72-11e9-8aec-6f5436e511e0.png)

[2019-10-29 23:36] jberryman opened #3271 "Incorrect ordering in returned JSON from nested mutation"
We get failures from these two queries

	   server/tests-py/queries/graphql_mutation/insert/nested/articles_with_author.yaml
	   server/tests-py/queries/graphql_mutation/insert/nested/author_with_articles.yaml

after https://github.com/hasura/graphql-engine/pull/2831

Marked `xfail` in that branch

[2019-10-30 03:22] afreix opened #3272 "Console: "Expected value of type geography" when inserting point"
Hello hasura team,

I have a table created by running the following command
[code]

when trying to insert via the console, I get an error "Expected value of type geography" for the `location` property
[code]

when I go into the explorer tab, I see that `location` is of type `geography`, but clicking into `geography` brings me to a blank screen.

I've also executed the follow SQL commands in the SQ

[2019-10-30 05:28] dvasdekis opened #3273 "Docs say use 'String' for Bigint, but I get an error"
Hi guys,

I am using typed variables in my GraphQL statement to insert into a table with a BigInt column. My code is:

[2019-10-30 05:31] dvasdekis commented on #3273
Offending docs line: ![image](https://user-images.githubusercontent.com/19279397/67831487-a499f300-fb32-11e9-879a-c54cdf49f1e6.png)

[2019-10-30 05:33] shahidhk commented on #3273
@dvasdekis Use the flag `--stringify-numeric-types` or the env var `HASURA_GRAPHQL_STRINGIFY_NUMERIC_TYPES=true` to enable strigification of bigint, numeric, decimal and double precision types

[2019-10-30 05:51] 0x777 commented on #721
Thank you all for taking the time to time to respond how important this feature is for you :) This has always been on our radar; we made an exploratory attempt last year too.

Just to give a bit of background, the interface that you see currently with Hasura existed before the first release of GraphQL specification in 2015 (before GraphQL, queries were written in a JSON based DSL called RQL which

[2019-10-30 05:52] shahidhk commented on #3273
Sorry, the error says, Hasura is expecting a string, but got a number.

What is the value of `conid`?

[2019-10-30 05:53] dvasdekis commented on #3273
@shahidhk I actually don't want to strigify the value! I want to use Bigint if Hasura needs bigint, as my source data is Bigint. But the docs say **use String**. I think it's just a docs error.

A typical conid would be `123456789`

[2019-10-30 06:33] rikinsk commented on #3268
@mathieutu This is by design. Presets are currently not meant to be overriden.

You should take a look at https://docs.hasura.io/1.0/graphql/manual/schema/default-values/index.html for options on setting default values based on requirements.

Do let us know if your use case doesn't fit into any of the options and we can discuss the use case and the current limitations in more detail.

[2019-10-30 08:50] rikinsk commented on #3272
I believe you have an extra field `point` in your geaography representation.

Could you try the query with the following object instead

[code]

[2019-10-30 09:17] rikinsk commented on #3273
@dvasdekis Take a look at #1504 for context. Your value will be saved as bigint in postgres eventually. Its a just a json limitation for which bigints need to be stringified

[2019-10-30 11:23] mathieutu commented on #3268
Ok, thanks for the answer.
Actually I would like to set the user_id from session variable if not present in the mutation input, or override it if present (like a real default value).

If its by design, I would change the help message, as it really specifies its a **default** value:

[2019-10-30 12:38] rikinsk commented on #3273
Wanted to add that the docs currently *are* a little confusing. The Hasura Type mentioned is more like the format it expect the variable in and not the GraphQL type to be used. We'll update the docs to make this more clear

[2019-10-30 12:48] wawhal opened #3276 "make cursor pointer on "track" and "cascade" checkboxes on sql page"
![SQL Page](https://user-images.githubusercontent.com/27274869/68106578-0b8b2380-ff08-11e9-830d-8745155b2437.png)

In the above image, the cursor needs to be made a "pointer" on the checkboxes: `Track this` and `Cascade Metadata` .

You can find this page at the `/data/sql` route of the console.

[2019-10-30 13:54] #3127 closed

[2019-10-30 14:27] RanadeepPolavarapu commented on #1917
PR has been made, just need a review #3122 .

[2019-10-30 15:45] Android3000 opened #3279 "Manual Hasura schema creation, or separate schema vs. read/write IDs?"
We have an environment that is fairly locked down for access. We have very short lived "deploy" IDs that can create tables/objects etc., and separate IDs for CRUD operations that are long lived. Typically, we manage DB migrations through something like Flyway: upon deploy of a build, Flyway will use the deploy ID to create any necessary tables, and then the app itself uses the CRUD ID.

You can pr

[2019-10-30 17:07] lexi-lambda opened #3280 "[RFC] Switch from `stack` to `cabal-install` for building Haskell code"
## What

I propose we switch away from using `stack` as our Haskell build tool to `cabal-install` (aka the `cabal` command-line executable).

## Why

Why bother switching build tools? Generally, the reasons fall into two categories: reasons `stack` is insufficient and reasons `cabal-install` has gotten better.

### Problems with `stack`

- First and foremost, the number one reason to switch away f

[2019-10-30 18:47] garlou commented on #91
+1

[2019-10-30 19:04] 1u0 commented on #3164
Besides of routing issues, it looks like there are more obstacles to support schema names containing `/` character:

 1. In Console's SQL editor, creating a table (for example `create table "projects/test1".a_table(...);`) results in error. This is due to Console not correctly parsing schema name/table name in such queries.
2. Even after creating such test table (via `psql`) and adding it to be tr

[2019-10-30 21:23] afreix commented on #3272
Ah you're right. I tried that as well, and I'm still seeing the error. Luckily, the mutation still works (despite seeing an error in the console), so it looks like this is a pretty minor bug

[2019-10-31 02:21] #2724 closed

[2019-10-31 02:21] #2254 closed

[2019-10-31 06:08] forkandfix opened #3283 "a major bug with queries using where"
I'm using v1.0.0-beta.8

Here's the query I'm trying to execute

[code]

Here's the generated SQL

[code]

why is it using the AND operator ??

[2019-10-31 06:30] 0x777 commented on #3280
This has been on my mind too.

Yeah, I agree, this is super annoying, I just figured out how to live with it using `profiteur`/`profiterole` etc. Nice to see that cabal handles this better.

If I'm not wrong, we can use stackage snapshots with cabal? So we won't lose out any reproducibility that `stack` offers with `cabal`.

The last time I tried `cabal new-build`, one thing annoyed me, which is t

[2019-10-31 06:37] lexi-lambda commented on #3280
I agree that it would be nice if `cabal-install` provided a way to specify a “cascade” of project files, so you could combine any number of different project files into a single configuration. Without that, however, it’s always possible to have multiple `cabal.project.X` files and copy them to `cabal.project.local` to effectively switch between different configurations. This is what I do [in CI fo

[2019-10-31 06:42] lexi-lambda commented on #3280
I think we can do this, but to be entirely honest I don’t see the point. When I’ve built `graphql-engine` with `cabal-install`, the solver has just worked—it hasn’t had any difficulty constructing a build plan—and we can use `cabal new-freeze` to lock ourselves to a particular build plan until we explicitly update something. This is how most other package ecosystems work, and I think it’s a superi

[2019-10-31 06:44] ecthiender commented on #3283
The syntax you have, is not what you want, I think. Right now it is:

[code]
You have two expressions in the object:

1. `_or: { status: { _eq: SUBMITTED  } }`
2. `status: { _eq: ACCEPTED }`

When you have two expressions in the where object, like `{ exp1, exp2}`, it is assumed to be an `AND` operation. In your expression 1, `_or` has only one sub-expression so it is equivalent to `status: { _eq:

[2019-10-31 06:58] 0x777 commented on #3280
:+1: I guess the workflow that I want can be easily handled by a shell script.

I agree, with `cabal new-freeze` we shouldn't have any reproducibility issues. I also like that with stackage, we don't have to constantly pay attention to package updates, bump up the stackage version, run tests and we are good to go. But I guess that workflow can also be achieved with cabal's `--allow-newer` and chec

[2019-10-31 06:59] forkandfix commented on #3283
@ecthiender It does. Thank you very much.

sorry my bad 😅

[2019-10-31 06:59] #3283 closed

[2019-10-31 07:07] lexi-lambda commented on #3280
Depending on the details, it might also be very easy to just add to `cabal-install` directly via PR! I get the sense they’re very open to improvements, it’s just mostly a project maintained by volunteers, so some things that people want don’t get implemented until someone takes the initiative to do it themselves.

I think that all we have to do to update dependencies is either update the freeze fi

[2019-10-31 07:11] deadcoder0904 opened #3284 "Can't find type array in Hasura UI"
I have a `tags` column which will have values like `dev`, `design`, etc...

So it makes sense to use array.

But the problem is I can't find anything in the UI with that type. How do I do it?

[2019-10-31 07:22] 0x777 commented on #3280
I'll open an issue with cabal-install folks to see if they are interested in this. I have nothing more to add, but I think folks who are using `intero` might be affected. I'll let them pitch in. cc @rakeshkky @hgiasac @ecthiender @nizar-m.

[2019-10-31 13:39] bvishal8510 opened #3286 "Add greek and japanese transalations of security.md"

[2019-10-31 13:59] victorferreira commented on #3284
What's ```tags``` column type? Hasura will treat each column on your schema as an attribute in you GraphQL object. To use a column you could use a JSON array on a JSONB column, or you could have a separated table for tags and define the the relationship as ```one-to-many``` or ```many-to-many``` and track the relationship between the tables to have the tags listed as an array.

You can find more i

[2019-10-31 14:04] deadcoder0904 commented on #3284
Thanks that worked. I made `tags` a JSON array & could paste in `["dev", "design"]` to insert data.

I didn't want to create another table for just 1 field so was curious. Thank you so much :)

[2019-10-31 14:04] #3284 closed

[2019-10-31 14:54] #3286 closed

[2019-10-31 16:41] 1u0 opened #3288 "Console: Raw SQL editor executes statements implicitly in context of `public` schema"
This is rather a UX issue:

from user point of view, if I switch to another (non `public` schema) in `Data` section of console,
the SQL editor misleadingly looks like if it would execute queries under the currently selected schema by default (**although**, the url of the editor is not schema specific).

Currently, when a query is executed in the editor, if the PostgreSQL schema is not explicitly p

[2019-10-31 19:20] 1u0 commented on #3224
It looks like that, the column modify action falsely triggers to type change for **`boolean`** SQL type: the old type is `boolean` and the type from the form is `bool`.

One approach to fix it, would be to use (normalise) one canonical type per different equivalent SQL types to check if types haven't changed in the Console.

[2019-10-31 21:27] mikyoengine opened #3290 "computed fields should be persisted via metadata"
Computed fields can be added via the metadata api but they are not exported or persisted via the metadata.json file.

This is critical for reproducible dockerized deployments.

[2019-10-31 21:42] 1u0 opened #3291 "Console generates incorrect rollback sql statement for column default value change"
When a column's default value is changed to non empty value (via Console form ui), the generated rollback (_down_) statement uses the new input value (in fact, the rollup and rollback statements are same in that case) instead of the old one.

There are also some other issues with the logic involved:
 * the input value is not encoded/escaped (for `text` columns);
 * the change detection is not robu

[2019-10-31 21:49] tirumaraiselvan commented on #3290
@mikyoengine This has been fixed in the latest release which is `beta.9`

[2019-10-31 22:11] mikyoengine commented on #3290
@tirumaraiselvan I updated to `beta.9` and am still not seeing this feature (both the release notes and via the console).

In fact, the addition of computed fields seems to break the metadata import. Steps to reproduce:
1. Add a computed field via the metadata api
[code]
2. Export the metadata from the console
3. Try to import the metadata back in the console (no edits)
4. The console displays an

[2019-10-31 22:16] juniorUsca opened #3292 "[Question] How activate compression on subscriptions"
Hi

I'm starting with Hasura and I found compression for queries over http

https://docs.hasura.io/1.0/graphql/manual/deployment/compression.html

but I don't know if hasura engine has compression for subscriptions enabled over web sockets

If not, how can I enable it?

[2019-11-01 03:21] lexi-lambda commented on #3290
This is fixed by #3211, which has not been merged yet (and therefore did not make it into the `beta.9` release) but should be merged shortly. The fix will be in the next release.

[2019-11-01 03:58] mikyoengine commented on #3290
Thanks for the quick response. Will look for the feature in the next release. Much needed feature. Thanks!

[2019-11-01 04:37] andrewalex opened #3293 "Allow row level permissions on Array types"
Request to allow array types be used when setting row level security.
Ideally to replicate this
table p as (userid int, permissions text[])
SELECT true WHERE userid=$1 AND permissions @> ARRAY['canFoo', 'canBaz']

Related #2882  #2944

[2019-11-01 04:48] tsujp opened #3294 "Hasura or database level JSONB schema validation"
Apparently something like this exists at the Posgres level: https://github.com/gavinwahl/postgres-json-schema

It would be useful to be able to validate the schema of JSONB columns on Hasura's side as client-side input can never be trusted, so using types and enums in GraphQL queries from a frontend, or script is only part of the puzzle.

There would be a performance penalty of course but this can

[2019-11-01 05:31] chrisheseltine commented on #2912
@rikinsk I want to use this solution but I barely understand it tbh, and I wanna take caution adding code to my ecosystem that I don't understand. I have a few questions regarding your solution, perhaps you can help me gain more understanding and I can implement it (I have so many stacks to learn I really don't have time to learn SQL as well, which is ironically why I chose Hasura).

1. Why do you

[2019-11-01 17:17] maxcan commented on #1433
@0x777 / @coco98 its true that `NOT NULL` columns can have defaults but it would be nice for schemas to mark fields as required if they are but `NOT NULL` and don't have a default.  Since this would be a breaking change, it seems reasonable to flag it behind an environment setting.

Another option would be to expose two different insertion mutation with different insertion types - one would have c

[2019-11-01 20:30] tirumaraiselvan opened #3297 "auto-generate hash of introspection in schema"
From Discord,

` will be cool to make an automatic schema hashing on the hasura's side.
Just make an one query like { schemaHash }`

This can be used by client's etc to hot-reload hasura schema with community tooling, when the hash changes,etc.

[2019-11-01 22:40] tirumaraiselvan commented on #3297
This can be a subscription too so as to get real time events of schema changes.

[2019-11-02 09:31] tombroens opened #3298 "Configure trigger to add related data in payload"
Related to #3247, to make the payload of a firing trigger a bit more elaborate.

Add to trigger configuration (in the console) the ability to select the relation to be added in the payload. E.g. set trigger on table Article (which has a relationship with table User), select User(firstname, lastname) to be added in the payload when the trigger on Article fires.

Possible challenge is to support n:m

[2019-11-02 19:27] beepsoft commented on #981
@coco98, @0x777 is this still planned to be supported?

The `custom_root_fields` and `custom_column_names` customizations work great added by #2509, but it would be great to have the same kind of customization for the type names/prefixes as well.

Is there an issue or PR where this is being implemented?

Thanks!

[2019-11-03 00:47] maxcan commented on #1433
@venelin-mihaylov  @wu-s-john if you're using typescript, i have a workaround:

This will create versions of input types were scalar fields are required and fields that commonly have defaults are excluded.  This assumes you are using graphql-code-generator with defaults.

[code]

[2019-11-03 10:57] devxpy opened #3299 "[Feature request] GraphQL api on UNIX sockets"
Hey! Thanks for all the work open sourcing hasura :)

I've been wanting to use `graphql-engine` as a private API on top of postgres to the server application (like an alternative to ORMs!). UNIX sockets would be an ideal choice for this.

There's already https://github.com/hasura/graphql-engine/issues/2673, but that one's about `hasura <--> postgres` connection. Can we also have UNIX sockets for t

[2019-11-03 17:50] coco98 commented on #3276
I think this refers to making the cursor a "pointer" on the relevant checkboxes. @wawhal @rikinsk ?

[2019-11-04 01:01] lexi-lambda commented on #3161
From [the GHC issue tracker](https://gitlab.haskell.org/ghc/ghc/issues/16613#note_196200):

So it sounds like you’re running out of memory. How much data is actually returned by that query?

[2019-11-04 06:23] rakeshkky commented on #3207
Hi @xiaoyu-tamu, We're planning to support customising generated aggregate field for array relationships soon. :slightly_smiling_face:

[2019-11-04 08:12] wawhal commented on #3276
@nik72619c I have updated the description. Apologies for the delay.

[2019-11-04 08:26] rakeshkky commented on #3238
@tafelito  Yes, indeed. We will add support to aggregation on computed fields returning set of table rows. :slightly_smiling_face:

[2019-11-04 12:16] razi-ed commented on #316
I have opened a [PR](https://github.com/hasura/graphql-engine/pull/3242). Please review and point out any changes required.

@marionschleifer
@shahidhk

[2019-11-04 15:02] boydenhartog opened #3300 "Parse failed on correct query?"
I'm trying to connect my application to my hasura app. I've tested the query in graphiql and it works as expected. When I use the same query from my frontend application, I get this 400 error:
` {"path":"$","error":"key \"type\" not present","code":"parse-failed"}`

I'm not really sure why I'm getting this error? There is no field called type on my resource.

This is my query:
[code]

[2019-11-04 16:16] mzagaja commented on #3161
I spun up an AWS r5.large instance for testing purposes and deployed the latest beta9 docker container on it, pointing to the same database. r5.large has 16GB of RAM. It now loads though will be a bit slow to load the full thing. running the curl request above yields a JSON response that is approximately 135.6MB on the client. Not sure how that translates into RAM usage on Hasura itself but I have

[2019-11-04 16:20] mmcnagle opened #3301 "Use Cache-Control header when downloading JWK from URL"
Hausura graphql-engine supports downloading the public key for RSA signed JWTs from a URL.  Currently when the date/time specified in the `Expires` header is  exceeded then the graphql-engine constantly rechecks the freshness of the document on the server.

Please update JWT authentication framework to respect the `Cache-Control` header which supersedes the `Expires` header.

The `Expires` HTTP sp

[2019-11-04 16:37] mshanak commented on #2748
I faced the same CPU overload problem,  the cause of the issue was that the queries are not optimized (especially in subscription).
Most the time the problem appears if you do not use indexing in the database, use **indexing** for fields that are used frequently especially if you use "order by" or aggregation such as sum and count

[2019-11-04 16:45] jeremy-london opened #3302 "Error: "Unsupported Version: 26""
* **I'm submitting a ...**
  - [x] bug report/support request

* **What is the current behavior?**
Hasura fails to start due to unsupported version error

* **Please tell us about your environment:**

  - Version: 1.0.0-beta.9 (Upgraded from -beat.5)
  - Browser: all
  - Deployment: Openshift (on k8s)

* **Other information**
[code]

* Background
I have had hasura running on `-beta.5` for a month

[2019-11-04 17:50] jeremy-london commented on #3302
After additional troubleshooting, it was found my deployment process was not pulling the correct image during its re-deployment.

Hence the error found while looking at the catalog version.

[2019-11-04 17:50] #3302 closed

[2019-11-04 20:53] strickinato opened #3303 "operator does not exist: jsonb ->> boolean at character 19569"
## What am I trying to do?

Experimentally trying to set hasura up with an existing database.

### What I did

Following the steps provided here: https://docs.hasura.io/1.0/graphql/manual/deployment/docker/index.html

- Downloaded docker-run from the manifest
- Configured it to my db
- Ran it

### What went wrong
The docker container immediately died (that is, running `docker ps` shows no containe

[2019-11-04 21:00] strickinato commented on #3303
Oops! I'm sorry. I just saw this:

![image](https://user-images.githubusercontent.com/7566896/68157730-17c0b200-ff03-11e9-8b78-140cf2301fa2.png)

[2019-11-04 21:00] #3303 closed

[2019-11-05 01:22] CharlonTank commented on #1433
I'm using elm, I hope this gonna be a feature at some point, I might PR too

[2019-11-05 02:37] leoalves opened #3304 "Hasura generated SQL taking 2-3 minutes to execute"
Hi,
I have a table with only 20.000 records.  But with one fields that has around 1mb of json data.
I want to return only 1 record at a time.  When running my query direct in PostgreSQL the result is returned immediately.

When requesting it with Hasura, in the GraphQL endpoint, I get a timeout error.  If I analyze the generated query and execute direct in PostgreSQL it is taking 2-3 minutes.

Her

[2019-11-05 02:47] leoalves commented on #3304
I think the issue is with the `order_by`.  If I remove it from the query, I get the result immediately.
Here is the generated query without the `order_by`.

[code]

[2019-11-05 02:55] hgiasac commented on #3304
@leoalves GraphQL Engine translates to SQL query directly. The performance is mostly on PostgreSQL level. You should optimize data table with sort indexes. The more rows inserted, the slower query performance without index

[2019-11-05 05:54] dshynkev opened #3305 "Feature request: using functions with session arguments to define computed columns"
This is closely related to #2760 with the same motivation, except that I would like to have a _view_ which transforms (not filters!) a table based on `X-Hasura-User-Id`. A straightforward solution is to expose session variables in queries under `current_setting('hasura.user')` similarly to how it's done in mutations. In fact, the change implementing this is simple:
[code]
Still, I wanted to make s

[2019-11-05 09:04] mklueh commented on #1288
I´m running into the same error with my Kubernetes deployment.yml.

According to the documentation we have two possibilities declaring a public key

So as our key is RS256 I´ve set that as the type and attached the key within the Json.

[code]

Producing:

I´m not sure why it is expecting a PEM key anyway, although it seems to be an optionality.

However I´ve tried the same with our PEM key as wel

[2019-11-05 09:08] 0x777 commented on #3305
@dshynkev

You can do this using a function [soon](https://github.com/hasura/graphql-engine/pull/3143). However, we can't add session variables to the transaction local 'hasura.user' parameter in case of a query as it would break the current subscriptions backend (which fetches the data of several instances of a subscription in a single query to Postgres). Would #3143 work for you?

[2019-11-05 09:15] 0x777 commented on #3304
@leoalves, Can you share the Postgres plan of the query? Looks like you are missing an index on `created_at`.

These queries are not the same. The first query is returning the oldest record, while the modified one returns a random record (`LIMIT` without an accompanying `ORDER BY` is non deterministic).

[2019-11-05 09:17] 0x777 commented on #3300
Looks like you are sending the query to `/v1/query` which is an internal interface for the console, it should instead be to `/v1/graphql`.

[2019-11-05 09:22] 0x777 commented on #3294
@tsujp If the schema is known why not use a Postgres table and thereby all the validation you get?

[2019-11-05 09:33] tsujp commented on #3294
If I am understanding you correctly, if a column type is `jsonb` then any valid json is permissible, I'm talking about enforcing for instance the following:

[code]

Such that any json attempting to be put into that column that isn't `{ "foo": "bar" }` gets rejected.

Perhaps yup integrated with Hasura?

[2019-11-05 09:36] 0x777 commented on #2907
@rrjanbiah I'm sorry I wasn't clear in my previous comment. The current [subscriptions implementation](https://github.com/hasura/graphql-engine/blob/master/architecture/live-queries.md) is not event based and hence does not capture all the changes, for example, if two changes happen quickly to a row, you'll only see the latest change. You can lower the 'refetch interval' from the default `1000`ms

[2019-11-05 09:39] ecthiender commented on #1288
@mklueh

The above key is not in a valid format. The docs mention, it has to be either in PEM format or x509 certificate format. See examples here: https://docs.hasura.io/1.0/graphql/manual/auth/authentication/jwt.html#rsa-based

Let me know if this helps.

[2019-11-05 09:46] 0x777 commented on #3292
@juniorUsca Thanks for pointing this out. Looks like we will need to support the extension `permessage-deflate` in our websockets server as per [RFC7692](https://tools.ietf.org/html/rfc7692). Your client will also need to support this extension for compression to kick in.

[2019-11-05 10:14] mklueh commented on #1288
@ecthiender
I agree, the key above is not in the PEM format, however I´ve tried the same with our PEM formatted key from the .pem file

[code]

I´ve tried that with spaces, with no spaces, as a single line without line breaks etc and it always produces

[2019-11-05 10:57] #3225 closed

[2019-11-05 11:38] marionschleifer commented on #3220
You have a table with name `<table-1>` in the metadata and this will conflict with  the aggregate root field of `<table-2>`.

Unfortunately you can't make an API request to customise the generated fields since the server refuses to start.
The possible solutions are:
1. While on `beta.6`, untrack any of `<table-1>` or `<table-2>` (warning: this also drops related relationships and permissions), mig

[2019-11-05 11:38] #3220 closed

[2019-11-05 12:38] rakeshkky commented on #3279
Hi, @Android3000

You can start up the server with "Deploy" Ids to initialise/migrate the database and import the necessary metadata. After bringing down the instance, start another instance with CRUD Ids by configuring only GraphQL API (See [docs](https://docs.hasura.io/1.0/graphql/manual/deployment/production-checklist.html#disable-apis))

[2019-11-05 13:25] 0x777 commented on #3161
@mzagaja Thanks for taking the time to dig through the problematic queries. We'll improve these queries as soon as possible.

I'm not quite sure if we can catch this error but we should definitely document this behaviour.

The response of an introspection query is cached till the schema changes. This could be the reason.

[2019-11-05 14:00] tafelito opened #3307 "where condition not working for tracked view"

[2019-11-05 14:18] leoalves commented on #3304
Yeah that makes sense.  I didn't think having the index would make that much of a difference in such a small table.

Thanks

[2019-11-05 14:18] #3304 closed

[2019-11-05 14:53] #3307 closed

[2019-11-05 16:28] barlock opened #3308 "Can't create one-to-many relationship with multiple primary keys"
I'm trying to map Slack data into hasura.

Slack `messages` are identified by `ts` and `conversation_id`

Slack `messages` have `replies` which are other `messages`

One `message` can have many `replies`
One `reply` can have one `message` as a root

This is all expressed via a `thread_ts`.

If you set a `thread_ts` it will give you `postgres-error : insert or update on table "message" violates for

[2019-11-05 18:14] dshynkev commented on #3305
My bad, wasn't aware of how subscriptions worked. Will it be possible to use functions with session arguments to define scalar computed columns? If so, then that's perfect for my needs. Otherwise it's a bit troublesome because the input columns contain sensitive data and should not be exposed in Hasura.

[2019-11-05 19:38] plwade commented on #877
@coco98 Got any news when this might be included on your sprint? It would be a great enhancement.

[2019-11-05 20:08] nolandg commented on #877
Inability to assign multiple roles for a user makes permissions much more work and more error prone. I find myself duplicating a lot of permissions, definitely not DRY design. We need to cascade permissions between roles.

Take for example a blog site. You have content _editors_, _moderators_, and _admins_. Their permissions naturally cascade. A _moderator_ must have all permissions an _editor_ ha

[2019-11-05 21:38] thebetterjort commented on #3053
No it doesn't solve the problem of SSL decyption. I'm in a large corporation and I have no way around this since I don't have access to the certs.

[2019-11-05 22:24] barlock commented on #3308
I tried creating a manual array relationship without setting up a foreign key, it seems to almost work? I'm not sure if I'm doing something wrong, I don't have all of the data, or I configured it wrong.

Querying on `root`s gives me incomplete threads. It's also quite slow which I imagine is a function of views not being indexed as well as foreign key relationships?

![image](https://user-images.g

[2019-11-05 23:25] robertfernanV opened #3309 "Update token"
Hello, I have a question the token is automatically updated in a custom jwt provider, in the container configuration I have the key parameter

[2019-11-06 02:11] #3125 closed

[2019-11-06 05:59] marionschleifer commented on #2987
Hi everyone, we couldn't come up with an example to improve this. So I'm closing this now. Sorry to those who wanted to work on this 🙏

[2019-11-06 05:59] #2987 closed

[2019-11-06 07:40] #3246 closed

[2019-11-06 08:17] rikinsk commented on #2912
Sorry for the delayed response. I should have added an explanation for the query to begin with. Here it is now anyway.

Here's the SQL with inline explanation.
[code]

To summarise what this does:
- we first join the seeds and prices tables, apply our price filters and then collect the min price for each seed
- then we sort the results by the min price and then remove the min price from our result

[2019-11-06 08:28] rikinsk commented on #3288
The purpose of the Raw SQL is to run queries as you would run directly on the database. The current behavior of using 'public' schema if not mentioned is default Postgres behavior and is not altered by the GraphQL engine in any way. Hence it would not be possible (and in fact something we should not do) to execute queries under the selected the schema in the console as suggested.

Reducing the sco

[2019-11-06 11:57] 1u0 commented on #3288
Agree, this may be an alternative way to go. I think in that case, an expected behaviour would be that the editor passes SQL statements as is (should also work when the default schema in the DB is not `public`, but something else).

Just for clarification, what I mean that Raw SQL editor in the console implicitly adds `public` schema.
The editor parses SQL statements and uses `parseCreateSQL` func

[2019-11-06 12:27] marionschleifer commented on #3220
@timtubescience thank you for elaborating 🙂

[2019-11-06 15:28] jberryman opened #3312 "Support python 3.7 in dev.sh script"
@rakeshkky reports:

After https://github.com/hasura/graphql-engine/pull/2831 :

The ruamel.yaml 0.14.12 package and python 3.7 are not playing well together.I'm on Arch Linux and I've python 3.7.4 installed.

The dev.sh test is failing at the step pip3 install -r requirements.txt.  See https://bitbucket.org/ruamel/yaml/issues/230/ruamelyaml-015-fails-install-on-python37, in the first comment, the

[2019-11-06 15:46] rikinsk commented on #3288
Right. I understand the reason for your confusion now.

The `parseCreateSQL` function is only used for Hasura specific actions that need to be done along with executing the SQL on the DB. For example, when you create a table in postgres you might also want to track the table in Hasura at the same time (using the `Track this` checkbox). The `parseCreateSQL` helps extract the required information fr

[2019-11-06 16:39] c0h1b4 opened #3313 "TypeError: Cannot convert undefined or null to object"
I am using Hasura v1.0.0-beta 8 on a Docker container with a PostgreSQL v11 database.

I can't modify any of the tables in my database. The interface shows the following error:

`TypeError: Cannot convert undefined or null to object
    at Function.keys (<anonymous>)
    at n (https://graphql-engine-cdn.hasura.io/console/assets/channel/beta/v1.0/main.js.gz:1:3386804)
    at Editor.n (https://graph

[2019-11-06 17:05] dvekeman opened #3314 "Generic error when modifying database schema"
I have a Postgresql database on Amazon RDS and Hasura running on docker (latest version v1.0.0-beta.9).

After applying a - rather intrusive - change to one of my tables(*) I can no longer make any modifications.

When I hit `'Data' > <table>` I can still query, insert, change permissions but when I hit the 'Modify' tab I get

[code]

(*) the change I made - through the Hasura console - was not a

[2019-11-06 17:50] macs91 commented on #3314
I'm experiencing the same issue, when I hit "Modify" I get this error page:
[code]

[2019-11-06 18:51] dvekeman commented on #3314
I just restored my database to an earlier version and I am still seeing the issue. Would it be possible that it's unrelated to my database and rather caused by a change in the assets at https://graphql-engine-cdn.hasura.io/console/assets/channel/beta/v1.0/main.js?

[2019-11-06 20:22] santicomp2014 commented on #3313
I have the same error in two instances of Hasura,
It's also affecting Hasura v1.0.0-beta 9

[code]

[2019-11-06 20:26] santicomp2014 commented on #3313
There is another user in discord reporting the same problem.
Could you add a label p/urgent k/bug
Thanks

[2019-11-06 22:12] scrumptiousdev commented on #3313
I am using Hasura v1.0.0-beta.9 on a Docker container with a PostgreSQL v10.7 database and also getting same error message when navigate into any table's modify tab.

[2019-11-06 22:31] a613 commented on #783
@praveenweb

Any query that uses GraphQL relationships, for example

[code]

When this query is run in ra-data-hasura, the user data is loaded, but not the address data, as it's stored in a different postgres table and ra-data hasura always passes `columns: ['*']`, and it ignores any nested fields like this.

[2019-11-06 22:59] sawell121 commented on #3314
FYI setting the assets to load locally on Hasura rather than from the CDN temporarily fixed this issue for me. You will need to be on version v1.0.0-beta.1 or newer.

As per: https://docs.hasura.io/1.0/graphql/manual/deployment/graphql-engine-flags/reference.html

I set an environment variable on our docker-compose script to:

`HASURA_GRAPHQL_CONSOLE_ASSETS_DIR: /srv/console-assets`

Alternative m

[2019-11-06 23:15] heliocaruccio opened #3315 "performance when using multiple schemas at runtime"
Does anyone know if we have any performance loss when switching schema at runtime? The idea is to use the same instance of Hasura to manage multiple accounts.

[2019-11-06 23:37] jpvx commented on #3313
Using hasura v1.0.0-beta.9 on postgres 11.
Having this issue on every modify tab.

Does anyone have an intermediary rollback solution?

[2019-11-06 23:50] coco98 commented on #3313
This will be fixed in a few hours.

Meanwhile please refer to https://github.com/hasura/graphql-engine/issues/3314#issuecomment-550540012 for an immediate workaround!

[2019-11-07 02:31] sayi65 opened #3316 "updated to v1.0.0-beta.9 get error in console"
i was updated v1.0.0-beta.6 -> v1.0.0-beta.9 in kubernetes

and When transitioning to the modify screen of data.
i get the error page in console.

the hasura  error log is

[code]
![hasura](https://user-images.githubusercontent.com/8959015/68355248-091c0a00-0152-11ea-91dd-4021a2a16dfe.png)

[2019-11-07 02:57] #3313 closed

[2019-11-07 02:58] rikinsk commented on #3314
closed this in 3a07b2b

[2019-11-07 02:58] #3314 closed

[2019-11-07 02:58] rikinsk commented on #3316
closed this in 3a07b2b

[2019-11-07 02:58] #3316 closed

[2019-11-07 05:00] gunar commented on #3011
Inspiration: https://www.apollographql.com/docs/apollo-server/federation/metrics/

[2019-11-07 05:14] #3148 closed

[2019-11-07 08:18] ecthiender commented on #3309
@robertfernanV  I am not very sure what token are you talking about.

Are you talking about JWT issued by your custom provider? Or are you talking about JWKs (the public key in JWT configuration)? My guess is you are talking about JWKs.

If you are mentioning that the JWKs gets updated/rotated, then you should use the JWK URL configuration, so that Hasura automatically updates your JWKs. See https

[2019-11-07 08:22] ecthiender commented on #3315
There is no performance overhead when using multiple schemas.

[2019-11-07 10:49] rikinsk commented on #3308
@barlock Can you share the exact structure of your message table along with the foreign key definitions. I couldn't derive one easily based on the current provided information.
Also some insight on the eventual query you are trying to achieve will also be helpful.

This feels like it might be an issue with the way data is modelled.

[2019-11-07 12:24] #3164 closed

[2019-11-07 14:39] #3290 closed

[2019-11-07 14:41] xiaoyu-tamu opened #3318 "Feature request - confirm before track all table"
I accidentally clicked track all table.  :-/ i have to remove them manually now. It would be nice if we add a confirm box to avoid this in the feature.

[2019-11-07 16:47] heliocaruccio commented on #3315
thank you

[2019-11-07 16:47] #3315 closed

[2019-11-07 18:25] tafelito opened #3319 "creating permission through the API leaves metadata inconsistent"
Adding a permission to a computed field through the API leaves the metadata inconsistent

Since there is no way right now to add a computed filed permission through the console, I'm using the create_select_permission API to add the permission to the table.

Here's the request to add permission
[code]

After this, everything works fine. But when I restart the console, I get the inconsistent metadat

[2019-11-07 21:17] robertfernanV commented on #3309
hello, I @ecthiender  had not understood until you stressed the difference of jwk and jwt, for a moment I thought that automatically renews the jwt and it is not so! Thank you

[2019-11-07 21:17] #3309 closed

[2019-11-08 04:07] go4cas opened #3320 "[FEATURE REQUEST] Global naming convention"
With the introduction of the Custom GraphQL Root Fields and GraphQL Field Name features, one can specify the name used in the schema generation, for every field and table. This is very useful, especially, when referencing from client apps. But, this might become overhead for very large schemas, spanning across multiple Postgres schemas.

I would like to see a feature where one can specify the nami

[2019-11-08 08:25] rakeshkky commented on #3319
Hi @tafelito,

This bug has been identified earlier and fix is currently live in `master` via https://github.com/hasura/graphql-engine/pull/3211. The very next release will have the fix. I'd request you to try the PR image `hasura/graphql-engine:pull3211-b56063a7`. Please to close the issue if the bug is fixed.

Thank you. :slightly_smiling_face:

[2019-11-08 11:50] marionschleifer commented on #2814
I'm closing this issue. @Umudo04 feel free to re-open if you'd like to add something 🙂

[2019-11-08 11:50] #2814 closed

[2019-11-08 11:55] marionschleifer commented on #3080
@skunkwerk is your question answered? If yes, could you please close the issue? 🙂

[2019-11-08 12:36] rikinsk opened #3322 "explorer doesnt generate proper stubs for `_and` and `_or` operators"
while using the graphiql explorer on graphiql, adding the `_and` or `_or` operators does not surround the stubs for the internal expressions with `[]`s

As the explorer is not maintained by hasura, this will have to be escalated to the [explorer repo](https://github.com/OneGraph/graphiql-explorer)

[2019-11-08 12:48] rakeshkky commented on #3305
@dshynkev That's a very good question. Currently, no. But it is not hard to add. Please update the issue title corresponding to your requirement, a feature request. We'll definitely look into this.

[2019-11-08 13:00] mnlbox commented on #2431
Any news?

[2019-11-08 13:01] tafelito commented on #3319
I updated the server to the PR image but now I can start the console due to this error
`FATA[0001] version check: [cli: v1.0.0-beta.9] [server: pull3211-b56063a7] versions incompatible: for untagged builds, server and cli versions should match`

[2019-11-08 13:07] rakeshkky commented on #3223
@leoalves The query you mentioned in the above comment is not a valid graphql query.
We didn't include computed fields to `*_bool_exp` because of lack of support for parameters for input fields in GraphQL syntax. For Example:

[code]
It is not a valid GraphQL query.

[2019-11-08 13:17] rakeshkky commented on #2792
Hi @Toub, I've implemented the ETag header support in https://github.com/hasura/graphql-engine/pull/3311.
Can you please test the preview app https://hge-ci-pull-3311.herokuapp.com/ or just you can use the image `hasura/graphql-engine:pull3311-df687332` to deploy and test it anywhere.

Thank you.

[2019-11-08 14:02] #3318 closed

[2019-11-08 14:26] Android3000 commented on #3279
Thanks @rakeshkky! That does work, and we may end up going that route. Appreciate the feedback!

[2019-11-08 14:26] #3279 closed

[2019-11-08 15:03] Toub commented on #2792
Great news!

Sure I will test it!

But I am just leaving for holidays tomorrow morning, back in 2 weeks!

[2019-11-08 17:21] navneet-g opened #3324 "Not able to connect after following simple quickstart"
I followed quick start https://docs.hasura.io/1.0/graphql/manual/getting-started/docker-simple.html. (Windows 10 + Docker for Windows)
But when I try to connect to http://localhost:8080/console it results into 404.

Is there any troubleshooting guide I can follow? The below is not helpful
https://docs.hasura.io/1.0/graphql/manual/troubleshooting/index.html

I also tried to connect to postgress usi

[2019-11-08 20:40] mnlbox commented on #3203
Any short term plan for this in the next release?

[2019-11-08 21:22] leoalves commented on #3223
Hi @rakeshkky,
Maybe an alternate type, that extends the *_bol_exp, *_compute_bol_exp?
I think this would be very useful to have
[code]

[2019-11-08 21:34] dionjwa commented on #2539
Use case: I serve Hasura on Google Kubernetes, using the new ingress object. It's great, since it manages certificates and routing to services. But it does not support automatic redirecting http->https, even though it probably should: https://medium.com/google-cloud/google-cloud-platform-redirecting-http-traffic-to-https-f63c1d7dbc6d

This could potentially handled by the auth webhook, but that is

[2019-11-09 01:44] jcmoore0 opened #3325 "Console Add Table Failed - 500 Internal Server Error"
When adding a table, I get 'Creating Failed, Try Again'

v.1.0.0-beta-9

I have tried it with several simple tables like:
name: test
column: id  (auto increment) integer
primary_key: id

Errors:
[code]

Other migrations are working properly (permission, add/remove column)
Restarted local console server and console several times and still troubleshooting.

I would appreciate any insight to resolve.

[2019-11-09 05:12] navneet-g commented on #3324
I am able to resolve it my self
1) I used the docker-compose.yaml file that contains pgAdmin as well
https://raw.githubusercontent.com/hasura/graphql-engine/master/install-manifests/docker-compose-pgadmin/docker-compose.yaml

2) I did a modification to expose port 5432 for postgres service
3) Then I ran docker inspect to know the ip address of postgres_sql container

Please let me know if there is

[2019-11-09 05:12] #3324 closed

[2019-11-10 14:26] haaah commented on #2047
adding support of returning a single object will be useful in "view" scenario.

[2019-11-10 18:30] mshanak opened #3326 "hasura container increase size ( on disk) is very large"
hello
I am using hasur in a real-time game, after 1 week I discovered that the hasura container size is **36GB** which is very large, and I noticed an increase of about **5 GB** in one day.

my question is:
-- what is the cause for this large disk usage?
-- How can I reduce the size?

regards

[2019-11-11 04:51] tirumaraiselvan commented on #3057
@yyuankm1976

The best integration pattern for this use-case can be based on Remote Joins. For e.g., you can create an apollo-server which exposes a field like the following

[code]
where `$InputData` is the expected input for the REST API (which would come from the hasura query as per your use-case). This value can be automatically set if you set up a remote relationship between your table and th

[2019-11-11 04:54] tirumaraiselvan commented on #3057
@yyuankm1976

You should set up migrations, so you can reproduce the exact environment anytime and anywhere. Please see: https://docs.hasura.io/1.0/graphql/manual/migrations/index.html

[2019-11-11 06:18] marionschleifer opened #3328 "Translation of README to German"
It would be cool to have a German translation of the Hasura README.

## How to

- Create a new file called `README.german.md` inside the [/translations](https://github.com/hasura/graphql-engine/tree/master/translations) folder and add it to the table [here](https://github.com/hasura/graphql-engine/tree/master/translations#hasura-graphql-engine---translations)
- Translate the content
- Make sure al

[2019-11-11 06:28] PedramMarandi opened #3329 "Static value in configure a manual relationship"
Hi Everyone

I have the following tables Labels and Labelables.
For my lableable table, I have the following columns `id, labelable_id, label_id, type`

The Labelanles table has a relation to other tables like products, stores and etc ...

In this case, I tried to create a manual relationship using the Hasura console. And this is what U have done.
![Screen Shot 2019-11-11 at 5 18 15 pm](https://us

[2019-11-11 08:30] woba-nwa commented on #2022
We are seeing the same thing on a regular basis, but are unable to reproduce on demand:

Spock Error while handling ["v1alpha1","graphql"]: threadWait: invalid argument (Bad file descriptor)

[2019-11-11 08:55] #3266 closed

[2019-11-11 09:57] tibotiber commented on #521
@shahidhk would you mind providing an example path, I'm trying to use this approach but can't figure it out. Thanks

[2019-11-11 12:23] rikinsk commented on #3329
I believe the functionality you need is the same as described in #2298.

Unfortunately you can't do this currently. Workarounds could be to create a view called `product_labelables` which has just the `labelables` with `type = product` and defining a relationship to it or just filtering based on `type` in your query like you are doing now

[2019-11-11 12:51] rikinsk commented on #3325
@jcmoore0 this is unexpected. I could not reproduce this behaviour based on the given information.

Could you please share the some more information to help us debug quicker:
- What's the Postgres version you are using
- Were you able to ever create tables via the console?
- Are you setting up a fresh db instance or are you building on top of an existing db?
- Are you able to create tables directl

[2019-11-11 14:51] shanetierney commented on #2804
I think it would be great if we had a dropdown section in permissions when you edit a role, similar to column selection, where you can toggle on/off queries/mutations. A real world use case would be where I want to only allow `by_pk` queries for some users so that they can't get a full list of items and can only get data where they know the id of the resource.

[2019-11-11 17:01] colundrum opened #3331 "Implement MessagePack output"
Hello,
Is it possible to implement [MessagePack](https://msgpack.org/index.html) for output (in addition of JSON) ?
It'll be preferable for an usage between microservices in-place of JSON which is more big.
Regards

[2019-11-11 18:23] tafelito commented on #3319
@rakeshkky I wasn't able to test the PR you suggested because the error I posted above. The computed does return a SETOF table and I set the permissions for that table  but I still get an error when I try to query that field, it says it does not exist. If then I add the field through the API, it works until the server is restarted and then I get the inconsistent metadata error.

[2019-11-11 19:08] jcmoore0 commented on #3325
@rikinsk  -  Thanks for the quick reply.
After changing the node on GKE, it is now working.
I changed the server env var to test anonymous access control.
I did not test table creation before applying the change so I don't know when exactly the problem went away.

I recommend closing this as I don't have additional information to troubleshoot further.

1. What Postgres version?:  11
2. Can you cre

[2019-11-11 20:02] piroszhog opened #3332 "GUI forces to fill in a non-nullable field on 'Insert Row' tab even if there is BEFORE INSERT trigger"
My BEFORE INSERT trigger will correctly fill in this field, but I can't insert a new row via GUI.
I don't think, that there is need any pre-validation before processing request to Postgre.

Version: v1.0.0-beta.9

[2019-11-11 21:02] jberryman commented on #3245
Thanks for reporting. This looks to be documented now in `server/CONTRIBUTING.md`.

[2019-11-11 21:02] #3245 closed

[2019-11-12 03:24] tibotiber opened #3333 "CLI option to choose the browser when opening the console"
Hi,

Is there any way to choose which browser will be used when opening the console with the CLI? A bit like the `BROWSER` environment variable in create-react-app.

Thanks,
Thibaut

[2019-11-12 05:39] shahidhk commented on #3326
Are you receiving a lot of traffic? The size usage can be due to the logs being written. Are the logs being managed somehow?

[2019-11-12 05:41] shahidhk commented on #3326
@lexi-lambda @0x777 We write the logs onto stdout, right? So that can't possibly affect the disk usage.

@mshanak Where is the container deployed?

[2019-11-12 06:25] rikinsk commented on #3325
Thanks for the extra info. Closing this for now.

[2019-11-12 06:25] #3325 closed

[2019-11-12 07:00] mshanak commented on #3326
@shahidhk i found that the log file was very larg, so i disabled the logs for now
Is there a good way to manage logs that you recommend?

[2019-11-12 07:05] mitar opened #3335 "Not possible to set the length of variable char columns?"
I am using Hasura console to create SQL tables, but I do not see a way to set the length of the variable char data type.

[2019-11-12 07:11] mitar opened #3336 "Bettter support for bytea data types"
I think bytea data types could be better supported. For example, a value like `\xba69f7b91a3b7a7f06716c40ac066b96caf457f2` is currently simply presented as `\\xba69f7b91a3b7a7f06716c40ac066b96caf457f2`. I think it would be better if it was base64 encoded inside the result.

[2019-11-12 07:11] yuvalgut commented on #3326
The container log is managed by docker, if that is the case you can follow https://medium.com/@Quigley_Ja/rotating-docker-logs-keeping-your-overlay-folder-small-40cfa2155412

[2019-11-12 08:09] shahidhk commented on #3333
@tibotiber The CLI uses the following programs to open the url on a browser:
[code]

So, depending on your OS, you can change the corresponding settings to make the url open on a different browser. For example on Linux, you can see what the default web browser is by using `xdg-settings get default-web-browser` and then you can change it using the following command:

```xdg-settings set default-web

[2019-11-12 08:11] marionschleifer commented on #3333
@tibotiber you can call a system command depending on the OS that you're using:

[code]

You can choose which browser that is opened with the above settings.

[2019-11-12 08:32] mitar opened #3337 "Invalid link in documentation"
I am reading [here](https://github.com/hasura/graphql-engine/blob/master/remote-schemas.md). And here:

It links to [this location](https://github.com/hasura/graphql-engine/blob/master/community/boilerplates/graphql-servers) but it does not exist anymore.

Same for [link here](https://github.com/hasura/custom-resolvers-boilerplate):

Points to [this location](https://github.com/hasura/graphql-engi

[2019-11-12 08:40] rikinsk opened #3338 "add PR build usage instructions to readme"
add PR build usage instructions to readme to let users know how to try out new feature/bug fix/issue related PRs. (with disclaimers abt stability of course)

we should specify how to get the assets and how the assets can be used with one another

[2019-11-12 10:19] tibotiber commented on #3333
Thanks @shahidhk. The idea here is that developers might prefer to use a different browser than their default one for work. For example. I use Firefox for my personal stuff and Firefox developer edition for dev stuff. This allows me to wipe my browser at will for dev without impacting my « other life ». Would be great to support this.

When I run `yarn start` on my monorepo, the react dev server s

[2019-11-12 10:41] shahidhk commented on #3333
That would be great if you can give this a try.

This is where issue the call to open the browser: https://github.com/hasura/graphql-engine/blob/master/cli/commands/console.go#L163

And we use this Go package to do it: https://github.com/skratchdot/open-golang/

The open-golang package is just executing the right command depending on the OS. If you can find out a way to over-ride the browser used

[2019-11-12 10:43] shahidhk commented on #3333
Ah, there seems to be an option to set the program to use:
```open.RunWith("https://google.com/", "firefox")```
So, we can probably add a new env var `HASURA_GRAPHQL_CLI_DEFAULT_BROWSER` or something similar to derive this value.

[2019-11-12 12:44] simonireilly opened #3339 "[Question] How to apply metadata/migration in docker build step for CI/CD"
Hi, first, thanks for Hasura, it makes life so much easier. I can just spin it up and get cracking on my nice react frontends :+1:

### Use Case

- For security, I want to disable console across all my environments
- For portability, I want to have my metadata.yml committed as code
- For Continuous delivery, I want to run my metadata and migrations inside my docker container

### Current Setup

I

[2019-11-12 12:57] simonireilly commented on #3339
Closing as this is handled by https://docs.hasura.io/1.0/graphql/manual/migrations/auto-apply-migrations.html

thanks :+1:

[2019-11-12 12:57] #3339 closed

[2019-11-12 13:09] #2004 closed

[2019-11-12 16:01] lexi-lambda opened #3342 "Console-generated query causes internal error for materialized view"
As reported on discord by CurrentDesk:

According to @rakeshkky, the query is generated by the console; he can probably provide more details than I can.

[2019-11-12 19:51] coffenbacher opened #3343 "/v1/version failed - [403] using hasura console --admin-secret"
Steps to reproduce:

1) start graphql-engine with

   1. `--allow-unauthenticated` option **unset** (i.e. authenticated only)
   2. `--set-env-vars HASURAL_GRAPHQL_ADMIN_SECRET=$ADMIN_SECRET`

2) try to access it using `hasura console --admin-secret $ADMIN_SECRET`

This fails when trying to access /v1/version with a 403 error:

[code]

If I --allow-unauthenticated, it works, which tells me that my

[2019-11-12 23:03] alexhafner opened #3345 "GraphQL Field Name change fails on Tables with no DDL access"
When you try to change a GraphQL Field Name in the GUI Console of v1.0.0-beta.9, and you do not have DDL rights on that table, you get an error:
`must be owner of table xyz`
This happens because Hasura tries to execute
` "statement": "ALTER TABLE \"public\".\"xyz\" ALTER COLUMN \"name\" TYPE varchar;",`

In many production scenarios that would be a typical situation, where you may have SELECT / li

[2019-11-12 23:14] alexhafner opened #3346 "Allow Edit for GraphQL field names on Views"
In v1.0.0-beta.9, the Hasura GUI Console allows providing alternative Field Names for Table fields and root fields. It would be grand if this features could also be enabled for view GraphQL fields and view root fields, as there are situations where data has to be obtained on views where Hasura has no direct DDL access, but has been provided with a view by the owners of the relevant schema.

Being

[2019-11-13 01:15] karibertils commented on #3223
A standard solution to apply arguments to the input fields would also solve other issues i ran into when using hasura and was forced into using the escape hatches.

For a JSONB i needed to do something like {where: my_json(path: "dynamicKey1.k2.k3") { _ilike: "string%" } on a multiple occasions.

Being able to order by the computed field while also taking arguments should also be considered. In #1

[2019-11-13 03:30] danghung-dev commented on #2572
Hello @tirumaraiselvan,

Do we have any update?

[2019-11-13 05:20] tirumaraiselvan commented on #2572
@danghung-dev Sorry for the delay! Have raised a PR here #3347

Will make sure it gets out in the next release.

[2019-11-13 06:03] shahidhk commented on #3343
@coffenbacher What is `--allow-unauthenticated`? There is no such flag on graphql-engine. Are you running this on some platform which block unauthenticated access?

[2019-11-13 06:31] rakeshkky commented on #3342
The query at https://github.com/hasura/graphql-engine/blob/a1a851b3d17ae0095932a38bc697670c56b47fcd/console/src/components/Services/Data/utils.js#L386 causing internal Postgres error.

[2019-11-13 06:47] rakeshkky commented on #2846
Hi @litchfield, I've implemented `array_agg` in PR https://github.com/hasura/graphql-engine/pull/3334. Please try out the preview app or custom image given at https://github.com/hasura/graphql-engine/pull/3334#issuecomment-552762612 and let me know if it is working as expected.
Thank you :)

[2019-11-13 07:48] just4fun opened #3348 "Multiple `_and` or `_or` in same query are considered duplicated."
Hi there,

Currently I'm using `v1.0.0-beta.6`, now I have a query like

[code]

When I wrote query for graphql, I think it should be something like

[code]

With the query above, I will get `when parsing a value of type: 'user_bool_exp', the following fields are duplicated: _or`.

Then I found a workaround,

[code]

The workaround above works but really looks weird and not straightforward, it see

[2019-11-13 08:35] rakeshkky commented on #3319
@tafelito You've to set the select permissions on the table which the computed field is returning. Only then you could able to query the computed field.

Please give me the error message.

[2019-11-13 08:43] tjad commented on #2453
With some effort in understanding the project and its tool chain, it is possible to produce a native windows build.

@erichiller  Jose shouldn't be a problem anymore - there's been a recent update to the dependent regarding that issue.

Only issue I've run into so far is with the hasura hs postgres driver, minimal change could fix. Only incompatibility of threadedRead that I've seen between *nix /

[2019-11-13 08:53] domusofsail opened #3349 "Improve performance when querying Functions"
Given this graphql query:

[code]

Hasura console Analyse feature reveals the following generated SQL query:

[code]

When my_function() returns many records, it comes to be very heavy for Postgresql because the select inside WITH clause will return every possible records and only after they will be filtered by the where condition, causing a time consuming CTE Scan.

It would be more efficient if

[2019-11-13 09:30] rikinsk commented on #3342
Could not reproduce this. Requesting for more info on discord.

[2019-11-13 12:26] simonireilly opened #3350 "Make cli-migrations Heroku Compatible/Add URL dependency Injection"
Running the container for `hasura/graphql-engine:v1.0.0-beta.9.cli-migrations` works great in an environment where I can control the ENV used at ENTRYPOINT.

This issue arises when a managed service, such as Heroku, specifies the environment variables to be used in ENTRYPOINT.

### Proposed Solution

The solution would be to allow the configuration of the database URL when the server boot to perfo